USE [DataMarshaller]
GO
/****** Object:  Table [marshaller].[SynchronizationColumnLog]    Script Date: 14/04/2022 13:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [marshaller].[SynchronizationColumnLog](
	[SynchronizationColumnLogId] [int] IDENTITY(1,1) NOT NULL,
	[DestinationColumnName] [nvarchar](64) NULL,
	[DestinationValue] [nvarchar](max) NULL,
	[SourceColumnName] [nvarchar](64) NULL,
	[SourceValue] [nvarchar](max) NULL,
	[SynchronizationLogId] [int] NOT NULL,
 CONSTRAINT [PK_SynchronizationColumnLog] PRIMARY KEY CLUSTERED 
(
	[SynchronizationColumnLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SynchronizationColumnLog_SynchronizationLogId]    Script Date: 14/04/2022 13:27:58 ******/
CREATE NONCLUSTERED INDEX [IX_SynchronizationColumnLog_SynchronizationLogId] ON [marshaller].[SynchronizationColumnLog]
(
	[SynchronizationLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [marshaller].[SynchronizationColumnLog]  WITH CHECK ADD  CONSTRAINT [FK_SynchronizationColumnLog_SynchronizationLog_SynchronizationLogId] FOREIGN KEY([SynchronizationLogId])
REFERENCES [marshaller].[SynchronizationLog] ([SynchronizationLogId])
ON DELETE CASCADE
GO
ALTER TABLE [marshaller].[SynchronizationColumnLog] CHECK CONSTRAINT [FK_SynchronizationColumnLog_SynchronizationLog_SynchronizationLogId]
GO
