USE [DataMarshaller]
GO
/****** Object:  Table [marshaller].[SynchronizationIds]    Script Date: 14/04/2022 13:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [marshaller].[SynchronizationIds](
	[SynchronizationIdsId] [int] IDENTITY(1,1) NOT NULL,
	[Database] [nvarchar](64) NULL,
	[DestinationTableName] [nvarchar](64) NULL,
	[SourceTableName] [nvarchar](64) NULL,
	[TableId] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SynchronizationIds] PRIMARY KEY CLUSTERED 
(
	[SynchronizationIdsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SynchronizationIds_Database]    Script Date: 14/04/2022 13:27:58 ******/
CREATE NONCLUSTERED INDEX [IX_SynchronizationIds_Database] ON [marshaller].[SynchronizationIds]
(
	[Database] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SynchronizationIds_DestinationTableName]    Script Date: 14/04/2022 13:27:58 ******/
CREATE NONCLUSTERED INDEX [IX_SynchronizationIds_DestinationTableName] ON [marshaller].[SynchronizationIds]
(
	[DestinationTableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SynchronizationIds_SourceTableName]    Script Date: 14/04/2022 13:27:58 ******/
CREATE NONCLUSTERED INDEX [IX_SynchronizationIds_SourceTableName] ON [marshaller].[SynchronizationIds]
(
	[SourceTableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
