USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[GetLetterDlXml]    Script Date: 8/9/2024 9:49:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [cabs_spsv].[GetLetterDlXml]
	@LetterId int,
	@DriverId int
as
begin
	IF @LetterId IS NULL SET @LetterId = 0;
	IF @DriverId IS NULL SET @DriverId = 0;

	declare @LetterDataEntryXml nvarchar(max);	
	set @LetterDataEntryXml = 
	(
	select
			letter.LicenceNumber as 'DriverLicenceNumber'
			,letter.FirstName as 'DriverLicenceHolderFirstName'
			,letter.LastName as 'DriverLicenceHolderLastName'
			,letter.DriverAddress1 as 'DriverLicenceHolderAddress1'
			,letter.DriverAddress2 as 'DriverLicenceHolderAddress2'
			,letter.DriverAddress3 as 'DriverLicenceHolderAddress3'
			,letter.Town as 'DriverLicenceHolderTown'
			,letter.DriverCounty as 'DriverLicenceHolderCounty'
			,letter.DriverPostCode as 'DriverLicenceHolderPostcode'
			,letter.ExpiryDate as 'DriverLicenceExpireDate'
			,letter.LicenceStatus as 'DriverLicenceStatus'
			,letter.VehicleLicenceNumber as 'VehicleLicenceNumber'
			,letter.VehicleRegistrationNumber as 'VehicleRegistrationNumber'
			,letter.LinkStartDate as 'LinkStartDate'
			,letter.LinkEndDate as 'LinkEndDate'
			,letter.LinkMethod as 'LinkMethod'
			,letter.LetterRequestTypeVLAuditId as 'LetterTemplateAuditId'
			,letter.CreatedDate as 'CreatedOn'
			,letter.RentalStartDate as 'RentalStartDate'
			,letter.RentalEndDate as 'RentalEndDate'
			,letter.RentalMethod as 'RentalMethod'
			,letter.SPSVWebUrl as 'SpsvWebUrl'
			,letter.SPSVRegistrationNumber as 'SpsvRegistrationNumber'
			,letter.SPSVRegistrationUrl as 'SpsvInvitationUrl'
			,letter.SPSVEmailHtml as 'SpsvEmailHtml'
			,letter.HistoricalVehicleLicenceNumber as 'HistoricalVehicleLicenceNumber'
			,letter.SPSVSmsMessage as 'SpsvSmsMessage'
		from dl.LetterRequestMaster letter
		join dl.LicenceHolderMaster lhm ON letter.LicenceMasterId=lhm.LicenceMasterId
		where 
		
		1 = (case @LetterId when 0 then 1 else (case letter.LetterRequestMasterId when @LetterId then 1 else 0 end) end)		
		and 
		1 = (case @DriverId when 0 then 1 else (case lhm.PersonId when @DriverId then 1 else 0 end) end)
		
		for xml path(''),
		root('LetterDataEntry')
	)
	select @LetterDataEntryXml as LetterDataEntryXml;
end

