-- Check if Marshaller is Running
SELECT  * FROM [DataMarshaller].[marshaller].[SynchronizationProcess]  with (nolock)

-- Count of updates to be processed
SELECT count(*) FROM [DataMarshaller].[marshaller].[SynchronizationIds] with (nolock)

-- Count of updates catched by changetracking
select count(*) from  [cabs_production].[dbo].[vChangeTracking]
select * from [cabs_production].[dbo].[vChangeTracking]
--select * from [dbo].[vChangeTracking] where SysChangeVersion > 1 and Tablename = 'OnePersonView'

-- Show Marshallers stored change versions
SELECT * FROM [DataMarshaller].[marshaller].[DatabaseChangeVersion]

-- SHOW LAST SYNCHRONIZATION OPERATIONS
SELECT TOP (1000) [SynchronizationLogId]	
      ,[ErrorMessage]
	  ,[Timestamp]
      ,[SourceDataBase] + '.' + [SourceTable] AS SourceTable
      ,[DestinationDataBase] + '.' + [DestinationTable] as DestinationTable
      ,[DestinationId]
      ,[RequestId]
      ,[SourceId]
FROM [DataMarshaller].[marshaller].[SynchronizationLog]
--where ErrorMessage not in (' The objects are the same', ' No destination objects found', '')
order by [SynchronizationLogId] desc

-- SHOW PARTICULAR SYNCHRONIZATION COLUMN VALUES BY SYNCHRONIZATION LOG ID
SELECT 
 [SynchronizationLogId]
,[SourceColumnName]
,[SourceValue]
,[DestinationColumnName]
,[DestinationValue]
FROM [DataMarshaller].[marshaller].[SynchronizationColumnLog] 
WHERE [SynchronizationLogId] = 489077 
order by [SynchronizationColumnLogId] desc

-- SHOW SYNCHRONIZATION LOG CHANGES / COLUMN LEVEL
SELECT TOP (1000) sl.[SynchronizationLogId]	
      ,[ErrorMessage]
	  ,[Timestamp]
      ,[SourceDataBase] + '.' + [SourceTable] AS SourceTable
      ,[DestinationDataBase] + '.' + [DestinationTable] as DestinationTable
	  ,scl.[SourceColumnName]
	  ,scl.[SourceValue]
	  ,scl.[DestinationColumnName]
	  ,scl.[DestinationValue]
      ,[DestinationId]
      ,[RequestId]
      ,[SourceId]
FROM [DataMarshaller].[marshaller].[SynchronizationLog] sl
JOIN [DataMarshaller].[marshaller].[SynchronizationColumnLog] scl on scl.SynchronizationLogId = sl.SynchronizationLogId
order by [SynchronizationLogId] desc


-- Data Marshaller updates
 delete from [DataMarshaller].[marshaller].[SynchronizationIds]  -- delete synchronization ids
 update [DataMarshaller].[marshaller].[SynchronizationProcess]  set IsRun = 0 -- reset marshaller
 update [DataMarshaller].[marshaller].[DatabaseChangeVersion] set SysChangeVersion = 0 --reset database versions
 truncate table [marshaller].[SynchronizationColumnLog]
 delete from [marshaller].[SynchronizationLog]

-- TEST BACH SYNC FOR MARSHALLER
use cabs_production
-update [cabs_production].[person].[Person] set [ModifiedBy] = 'Batch Test Sync' 

/* Flush Change Tracking

-- Fetch the tables enabled for Change Tracking
select identity(int, 1,1) as TableID, (SCHEMA_NAME(tbl.Schema_ID) +'.'+ object_name(ctt.object_id)) as TableName
into #CT_Tables
from sys.change_tracking_tables  ctt
INNER JOIN sys.tables tbl
ON tbl.object_id = ctt.object_id

-- Set up the variables
declare @start int = 1, @end int = (select count(*) from #CT_Tables), @tablename varchar(255)
while (@start <= @end)
begin	
	-- Fetch the table to be cleaned up
	select @tablename = TableName from #CT_Tables where TableID = @start
	-- Execute the manual cleanup stored procedure
	exec sp_flush_CT_internal_table_on_demand @tablename 
	-- Increment the counter
	set @start = @start + 1
end
drop table #CT_Tables

*/
