USE [RevenueProvider]
GO
/****** Object:  Table [revenueProvider].[Rules]    Script Date: 14/04/2022 13:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [revenueProvider].[Rules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ValidationPeriod] [datetime2](7) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[Permission] [int] NOT NULL,
	[RuleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [revenueProvider].[Rules] ADD  DEFAULT ('0001-01-01T00:00:00.000') FOR [ModifiedOn]
GO
ALTER TABLE [revenueProvider].[Rules] ADD  DEFAULT ((0)) FOR [Permission]
GO
