USE [NVDFApiDb]
GO
/****** Object:  Table [nvdfapi].[ApplicationSettings]    Script Date: 14/04/2022 13:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [nvdfapi].[ApplicationSettings](
	[ApplicationSettingsId] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[JWTSecretKey] [nvarchar](max) NULL,
	[JWTValidIssuer] [nvarchar](max) NULL,
	[JWTValidAudience] [nvarchar](max) NULL,
	[JWTTokenExpirationTime] [bigint] NOT NULL,
 CONSTRAINT [PK_ApplicationSettings] PRIMARY KEY CLUSTERED 
(
	[ApplicationSettingsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
