BEGIN TRANSACTION 
 print('select existing rows');
 select count(*) FROM [cabs_production].[cabs_tds].[SignageInstallation]
  print('delete all data');
 DELETE FROM [cabs_production].[cabs_tds].[SignageInstallation]
  print('check if data were deleted');
 select count(*) FROM [cabs_production].[cabs_tds].[SignageInstallation]
  print('insert new data from [cabs_production].[dbo].[LicenceMasterVL]');
  declare @suplierId int = (SELECT TOP (1) id
  FROM [cabs_production].[cabs_tds].[AuthorizedSupplier] where Registered = 1 and IsActive = 1)
  print(@suplierId)
  insert into [cabs_production].[cabs_tds].[SignageInstallation] 
  ([AuthorizedSupplierID]
      ,[VehicleLicenceNumber]
      ,[RegistrationNumber]
      ,[IsActive]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy])
  select @suplierId, [LicenceNumber], [RegistrationNumber], 1, getdate(), 'Data Anonymization', null, null 
  from [cabs_production].[dbo].[LicenceMasterVL]
  where LicenceTypeId in (SELECT [LicenceTypeId]
  FROM [cabs_production].[dbo].[LicenceType]
  where LicenceType in ('WHEELCHAIR ACCESSIBLE TAXI', 'TAXI') and [Active] = 1)
   print('select new data');
 select count(*) FROM [cabs_production].[cabs_tds].[SignageInstallation]
 select * FROM [cabs_production].[cabs_tds].[SignageInstallation]
ROLLBACK