USE [DataMarshaller]
GO
/****** Object:  Table [marshaller].[DatabaseChangeVersion]    Script Date: 14/04/2022 13:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [marshaller].[DatabaseChangeVersion](
	[DatabaseChangeVersionId] [int] IDENTITY(1,1) NOT NULL,
	[Database] [nvarchar](64) NOT NULL,
	[DestinationTableName] [nvarchar](max) NULL,
	[SourceTableName] [nvarchar](max) NULL,
	[SysChangeVersion] [bigint] NOT NULL,
 CONSTRAINT [PK_DatabaseChangeVersion] PRIMARY KEY CLUSTERED 
(
	[DatabaseChangeVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
