USE [DataMarshaller]
GO
/****** Object:  Table [marshaller].[SynchronizationLog]    Script Date: 14/04/2022 13:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [marshaller].[SynchronizationLog](
	[SynchronizationLogId] [int] IDENTITY(1,1) NOT NULL,
	[DestinationDataBase] [nvarchar](64) NULL,
	[DestinationId] [int] NULL,
	[DestinationTable] [nvarchar](64) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[SourceDataBase] [nvarchar](64) NULL,
	[SourceId] [int] NOT NULL,
	[SourceTable] [nvarchar](64) NULL,
	[Timestamp] [datetime2](7) NULL,
 CONSTRAINT [PK_SynchronizationLog] PRIMARY KEY CLUSTERED 
(
	[SynchronizationLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
