USE [DataMarshaller]
GO
/****** Object:  StoredProcedure [marshaller].[RestartDataMarshaller]    Script Date: 14/04/2022 13:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Adam Nosal
-- Create date: 12-06-2019
-- Description:	 Data marshaller restart 
--
--
-- =============================================
CREATE PROCEDURE [marshaller].[RestartDataMarshaller] 
AS
BEGIN

UPDATE [marshaller].[SynchronizationProcess]
   SET [IsRun] = 0
 WHERE SynchronizationProcessId =1

		
END



GO
