USE [DataMarshaller]
GO
/****** Object:  Table [marshaller].[SynchronizationProcess]    Script Date: 14/04/2022 13:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [marshaller].[SynchronizationProcess](
	[SynchronizationProcessId] [int] IDENTITY(1,1) NOT NULL,
	[InstanceName] [nvarchar](64) NOT NULL,
	[IsRun] [bit] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SynchronizationProcess] PRIMARY KEY CLUSTERED 
(
	[SynchronizationProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
