USE [authService]
GO
/****** Object:  Table [jwtauth].[ApplicationSettingsCredentials]    Script Date: 14/04/2022 13:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jwtauth].[ApplicationSettingsCredentials](
	[ApplicationSettingsEntityId] [uniqueidentifier] NOT NULL,
	[CredentialsEntityId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ApplicationSettingsCredentials] PRIMARY KEY CLUSTERED 
(
	[ApplicationSettingsEntityId] ASC,
	[CredentialsEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationSettingsCredentials_CredentialsEntityId]    Script Date: 14/04/2022 13:25:42 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationSettingsCredentials_CredentialsEntityId] ON [jwtauth].[ApplicationSettingsCredentials]
(
	[CredentialsEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [jwtauth].[ApplicationSettingsCredentials]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationSettingsCredentials_ApplicationSettings_ApplicationSettingsEntityId] FOREIGN KEY([ApplicationSettingsEntityId])
REFERENCES [jwtauth].[ApplicationSettings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [jwtauth].[ApplicationSettingsCredentials] CHECK CONSTRAINT [FK_ApplicationSettingsCredentials_ApplicationSettings_ApplicationSettingsEntityId]
GO
ALTER TABLE [jwtauth].[ApplicationSettingsCredentials]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationSettingsCredentials_Credentials_CredentialsEntityId] FOREIGN KEY([CredentialsEntityId])
REFERENCES [jwtauth].[Credentials] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [jwtauth].[ApplicationSettingsCredentials] CHECK CONSTRAINT [FK_ApplicationSettingsCredentials_Credentials_CredentialsEntityId]
GO
