USE [authService]
GO
/****** Object:  Table [jwtauth].[ApplicationSettings]    Script Date: 14/04/2022 13:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jwtauth].[ApplicationSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[ApplicationName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[JWTSecretKey] [nvarchar](max) NULL,
	[JWTTokenExpirationTime] [bigint] NOT NULL,
	[JWTValidAudience] [nvarchar](max) NULL,
	[JWTValidIssuer] [nvarchar](max) NULL,
	[ApplicationPassword] [nvarchar](max) NULL,
 CONSTRAINT [PK_ApplicationSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
