USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_logCheck_processOnlineRegister]    Script Date: 20/11/2020 13:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dan Rusu
-- Create date: 17-Jun-2011
-- Description:	Check if there are bookings stuck in awaiting payment status for more than 30 minutes
-- Previous Distribution List : --'elizabeth.heggs@nationaltransport.ie;ie.ops.nta@sgs.com;caroline.oleary@sgs.com;joseph.loughnane@sgs.com;deirdre.macnamara@sgs.com;Aine.Griffin@sgs.com;aoife.smyth@sgs.com', 
-- =============================================
create or ALTER     PROCEDURE [dbo].[sch_logCheck_processOnlineRegister] 
(
  @startDate datetime = '2020-08-30 10:00:00.000',
   @endDate datetime = '2020-08-30 14:50:00.000'
)
AS
BEGIN


 
  declare @SearchId int =0;
  declare @SearchTerm nvarchar(100) ='';
  declare @SearchDate datetime ;
	 declare @ProcedureNesting int =1;
	declare @procedureNextingMax int =31;

  

  --declare @startDate datetime = '2020-08-30 00:00:00.000';
  --declare @endDate datetime = '2020-09-01 00:00:00.000';
INSERT INTO [cabs_dck].[JobSearchOnlineRegisterTempTable]
           ([SearchId]
		   ,[SearchTerm]
           ,[ExternalUserId]
           ,[SearchDate]
           ,[Name]
           ,[Email]
           ,[PhoneNo]
           ,[MethodName])   
SELECT 
	CAST(Datediff(s, [Created], GETUTCDATE()) AS BIGINT)  as SearchId
	--CONVERT(INT, CONVERT(DATETIME,[Created]))as SearchId --  
	 , iif( [SearchKey] like '%Licence Number:%',(LEFT(SUBSTRING(REPLACE( substring([SearchKey],CHARINDEX('Licence Number:', [SearchKey])+15,6),';',''), PATINDEX('%[0-9.-]%', REPLACE( substring([SearchKey],CHARINDEX('Licence Number:', [SearchKey])+15,6),';','')), 8000),
           PATINDEX('%[^0-9.-]%', SUBSTRING(REPLACE( substring([SearchKey],CHARINDEX('Licence Number:', [SearchKey])+15,6),';',''), PATINDEX('%[0-9.-]%', REPLACE( substring([SearchKey],CHARINDEX('Licence Number:', [SearchKey])+15,6),';','')), 8000) + 'X') -1))
	 ,'')  as SearchTerm
		 ,null
      ,[Created]
	  ,null  ,null ,null ,null
  FROM [OR_Test].[dbo].[SearchLog]
  where Created between @startDate and @endDate
  and SearchType = 'vehicle'
  order by created asc 

  --select  [SearchId]
	 -- ,(LEFT(SUBSTRING([SearchTerm], PATINDEX('%[0-9.-]%', [SearchTerm]), 8000),
  --         PATINDEX('%[^0-9.-]%', SUBSTRING([SearchTerm], PATINDEX('%[0-9.-]%', [SearchTerm]), 8000) + 'X') -1)) as SearchTerm
  --    ,[ExternalUserId]
  --    ,[SearchDate]
  --    ,[Name]
  --    ,[Email]
  --    ,[PhoneNo]
  --    ,[MethodName] 
  --FROM [cabs_production].[cabs_dck].[DriverCheckLog]
  --where SearchDate between @startDate and @endDate
  --order by SearchDate asc;
  
   if((select count(*) from [cabs_dck].[JobSearchOnlineRegisterTempTable] ) =0) 
  return;

DECLARE db_seachCursor CURSOR FOR 
select s.SearchId, s.SearchTerm, s.SearchDate from [cabs_dck].[JobSearchOnlineRegisterTempTable] s

	
OPEN db_seachCursor   

FETCH NEXT FROM db_seachCursor INTO @SearchId, @SearchTerm, @SearchDate
WHILE @@FETCH_STATUS = 0
BEGIN
  
	execute [dbo].[sch_logCheck_ORCheckSearchElement]
	@SearchId,
	@SearchTerm, 
	@SearchDate,
	@ProcedureNesting
	;
	
	
	FETCH NEXT FROM db_seachCursor  INTO  @SearchId, @SearchTerm, @SearchDate

END
CLOSE db_seachCursor 
DEALLOCATE db_seachCursor 



--select * from [cabs_dck].[JobSearchOnlineRegisterTempTable];
--select * from  [cabs_dck].[JobSearchOnlineRegisterLog];

--truncate table [cabs_dck].[JobSearchOnlineRegisterTempTable];
----drop table if exists [cabs_dck].[JobSearchOnlineRegisterTempTable];
--truncate table [cabs_dck].[JobSearchOnlineRegisterLog];
----drop table if exists [cabs_dck].[JobSearchOnlineRegisterLog];


  END