USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_logCheck_DriverCheckSearchElement]    Script Date: 01/12/2020 11:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Adam Nosal
-- =============================================
create or  ALTER       PROCEDURE [dbo].[sch_logCheck_DriverCheckSearchElement] 
(
       @SearchId int ,
	   @SearchTerm int ,
       @SearchDate datetime ,
	   @ProcedureNesting int --,
	   --@SearchContinuityReturn int OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	declare @SearchIdBorder int =5;
	declare @SearchIncrement int =1;
	declare @searchIncrementMinutes int =4;
	declare @procedureNextingMax int =8;
	declare @borderLogCapacity int =50;


	 if((select Count(*) from [cabs_dck].[JobSearchDriverCheckLog] ) > @borderLogCapacity)
	 return;
			

	while (@SearchIncrement <= @SearchIdBorder )
		begin 

			declare @searchTerm1 int ;
			set  @searchTerm1 = (select top(1) SearchTerm from cabs_dck.JobSearchDriverCheckTempTable  where SearchId = @SearchId +@SearchIncrement );
				If(@searchTerm1 is null )
				begin 
				-- if there is nothing to search 
				break;
				end ; 
			Declare @searchDate1 datetime =(select top(1) SearchDate from cabs_dck.JobSearchDriverCheckTempTable  where SearchId = @SearchId +@SearchIncrement );
			

				 IF  (
				  @searchTerm1 between ( @SearchTerm +1) and (@SearchTerm + @SearchIdBorder)
				 and @searchDate1 < dateadd(minute,@searchIncrementMinutes, @searchdate)
				 and @ProcedureNesting < @procedureNextingMax
				 )
				  begin 
						
							declare @searchTermT int, @searchDateT datetime, @SearchContinuityTReturn int ;

							select  @searchTermT = ss.SearchTerm ,
							@searchDateT = ss.SearchDate 
							from [cabs_dck].[JobSearchDriverCheckTempTable] ss where ss.SearchId = ( @SearchId +@SearchIncrement);

							 declare @newSearchId int = @SearchId +@SearchIncrement;
							 declare @searchCount int  = (select Count(*) from [cabs_dck].[JobSearchDriverCheckLog] where SearchId = @SearchId);
							 declare @newSearchCount int  = (select Count(*) from [cabs_dck].[JobSearchDriverCheckLog] where SearchId = @newSearchId);
							 -- if there is already search like that in log table, do not insert
								If (@searchCount < 1)
								begin 
										 INSERT INTO [cabs_dck].[JobSearchDriverCheckLog]
													([SearchId]
													,[SearchTerm]
													,[SearchDate])
												VALUES
													(
													@SearchId,--SearchId 
													@searchTerm,--<SearchTerm, nvarchar(100),>
													@SearchDate--<SearchDate, datetime2(7),>
													)
								end;
								If (@newSearchCount < 1)
								begin 
										 INSERT INTO [cabs_dck].[JobSearchDriverCheckLog]
													([SearchId]
													,[SearchTerm]
													,[SearchDate])
												VALUES
													(
													@newSearchId,--SearchId 
													@searchTermT,--<SearchTerm, nvarchar(100),>
													@SearchDateT--<SearchDate, datetime2(7),>
													)
								end;
							Set @ProcedureNesting = @ProcedureNesting +1; 
								execute [dbo].[sch_logCheck_DriverCheckSearchElement] 
						 			@SearchId= @newSearchId,
							@SearchTerm=@SearchTermT, 
							@SearchDate=@SearchDateT,
							@ProcedureNesting = @ProcedureNesting ;

							Set @ProcedureNesting = @ProcedureNesting -1; 
						
				 end ;
				 else 
				 begin 
				 --if there is no sequential 
				 set @SearchIncrement = @SearchIncrement+1;
				 continue;
				 end 
			set @SearchIncrement = @SearchIncrement+1;
		
		end
	
end