USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_logCheck_PreProcessLogs]    Script Date: 11/17/2020 12:07:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Adam Nosal
-- =============================================
Create or ALTER     PROCEDURE [dbo].[sch_logCheck_PreProcessLogs] 
AS
BEGIN


begin try 


		CREATE TABLE [cabs_dck].[JobSearchOnlineRegisterTempTable](
			[SearchId] [bigint]  NOT NULL,
			[SearchTerm] [nvarchar](100) NULL,
			[ExternalUserId] [uniqueidentifier] NULL,
			[SearchDate] [datetime2](7) NOT NULL,
			[Name] [nvarchar](100) NULL,
			[Email] [nvarchar](100) NULL,
			[PhoneNo] [nvarchar](100) NULL,
			[MethodName] [nvarchar](200) NULL,
			)

		CREATE TABLE [cabs_dck].[JobSearchOnlineRegisterLog](
			[Id] [bigint] IDENTITY(1,1) NOT NULL,
			[SearchId] [bigint]  NOT NULL,
			[SearchTerm] [nvarchar](100) NULL,
			[SearchDate] [datetime2](7) NOT NULL,
		 CONSTRAINT [PK__DriverSe__const1] PRIMARY KEY CLUSTERED 
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
		) ON [PRIMARY]


		CREATE TABLE [cabs_dck].[JobSearchDriverCheckTempTable](
			[SearchId] [bigint]  NOT NULL,
			[SearchTerm] [nvarchar](100) NULL,
			[ExternalUserId] [uniqueidentifier] NULL,
			[SearchDate] [datetime2](7) NOT NULL,
			[Name] [nvarchar](100) NULL,
			[Email] [nvarchar](100) NULL,
			[PhoneNo] [nvarchar](100) NULL,
			[MethodName] [nvarchar](200) NULL,
			)
		CREATE TABLE [cabs_dck].[JobSearchDriverCheckLog](
			[Id] [bigint] IDENTITY(1,1) NOT NULL,
			[SearchId] [bigint]  NOT NULL,
			[SearchTerm] [nvarchar](100) NULL,
			[SearchDate] [datetime2](7) NOT NULL,
		 CONSTRAINT [PK__DriverSe__const2] PRIMARY KEY CLUSTERED 
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
		) ON [PRIMARY]


end try 
begin catch 

	drop table if exists [cabs_dck].[JobSearchDriverCheckTempTable];
	drop table if exists [cabs_dck].[JobSearchDriverCheckLog];

	drop table if exists [cabs_dck].[JobSearchOnlineRegisterTempTable];
	drop table if exists [cabs_dck].[JobSearchOnlineRegisterLog];

DECLARE @TableErrorMessage NVARCHAR(4000);
 DECLARE @TableErrorSeverity INT;
 DECLARE @TableErrorState INT;

 SELECT
 @TableErrorMessage = ERROR_MESSAGE(),
 @TableErrorSeverity = ERROR_SEVERITY(),
 @TableErrorState = ERROR_STATE();

 RAISERROR (@TableErrorMessage, -- Message text.
 @TableErrorSeverity, -- Severity.
 @TableErrorState -- State.
 );


end Catch;



end 
