USE [RevenueProvider]
GO
/****** Object:  Table [revenueProvider].[RuleChildren]    Script Date: 14/04/2022 13:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [revenueProvider].[RuleChildren](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[PPSN] [nvarchar](max) NULL,
	[RuleEntityId] [int] NOT NULL,
	[ValidationPeriod] [datetime2](7) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[SurnameOrCompanyName] [nvarchar](max) NULL,
 CONSTRAINT [PK_RuleChildren] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_RuleChildren_RuleEntityId]    Script Date: 14/04/2022 13:39:56 ******/
CREATE NONCLUSTERED INDEX [IX_RuleChildren_RuleEntityId] ON [revenueProvider].[RuleChildren]
(
	[RuleEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [revenueProvider].[RuleChildren] ADD  DEFAULT ('0001-01-01T00:00:00.000') FOR [ModifiedOn]
GO
ALTER TABLE [revenueProvider].[RuleChildren]  WITH CHECK ADD  CONSTRAINT [FK_RuleChildren_Rules_RuleEntityId] FOREIGN KEY([RuleEntityId])
REFERENCES [revenueProvider].[Rules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [revenueProvider].[RuleChildren] CHECK CONSTRAINT [FK_RuleChildren_Rules_RuleEntityId]
GO
