
ALTER TABLE [dbo].[LicenceMasterVLAudit]
ADD AreaOfOpperations varchar(255) NULL;
ALTER TABLE [dbo].[LicenceMasterVLAudit]
ADD DispatchOperatorId int NULL;
ALTER TABLE [dbo].[LicenceMasterVLAudit]
ADD EmailAddressForBooking varchar(255) NULL;
ALTER TABLE [dbo].[LicenceMasterVLAudit]
ADD NumberForBookings int NULL
ALTER TABLE [dbo].[LicenceMasterVLAudit]
ADD Website varchar(255) NULL;