USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[LicenceDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[LicenceTypeId] [int] NOT NULL,
	[DateOfRecord] [datetime] NULL,
	[Source] [nvarchar](100) NULL,
	[LicenceHolderName] [nvarchar](200) NULL,
	[LicenceHolderAddress] [nvarchar](200) NULL,
	[LicenceHolderPhone] [nvarchar](50) NULL,
	[OldLicenceNumber] [nvarchar](50) NULL,
	[NewLicenceNumber] [nvarchar](50) NULL,
	[ExpiryDate] [datetime] NULL,
	[VehicleRegistration] [nvarchar](50) NULL,
	[SPSVTypeId] [int] NULL,
	[RelatedDocId] [int] NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_LicenceDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceDetails] ADD  CONSTRAINT [DF_LicenceDetails_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[LicenceDetails] ADD  CONSTRAINT [DF_LicenceDetails_RelatedDocId]  DEFAULT ((0)) FOR [RelatedDocId]
GO
ALTER TABLE [dbo].[LicenceDetails]  WITH CHECK ADD  CONSTRAINT [FK_LicenceDetails_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])
GO
ALTER TABLE [dbo].[LicenceDetails] CHECK CONSTRAINT [FK_LicenceDetails_import_Abtran]
GO
ALTER TABLE [dbo].[LicenceDetails]  WITH CHECK ADD  CONSTRAINT [FK_LicenceDetails_LicenceTypeEnums] FOREIGN KEY([LicenceTypeId])
REFERENCES [dbo].[LicenceTypes] ([Id])
GO
ALTER TABLE [dbo].[LicenceDetails] CHECK CONSTRAINT [FK_LicenceDetails_LicenceTypeEnums]
GO
