USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCasesForSupervisor]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetCasesForSupervisor] 
(
	@PageIndex int,		-- Page index to return (zero based)
	@PageSize int,		-- Maximum number of records to return in one go
	@AssignedByUsername nvarchar(256),
	@StateId int = 0,	-- optional
	@SortBy int = 0,
	@SortOrder int = 1,
	@TotalRecords int output
)
AS
	DECLARE @PageLowerBound int
	DECLARE @PageUpperBound int
	
	-- Set the page bounds
    SET @PageLowerBound = @PageSize * @PageIndex
    SET @PageUpperBound = @PageSize - 1 + @PageLowerBound

	-- Create a temp table to store the selected results
	CREATE TABLE #PageIndexForSupportCases 
	(
		IndexID int IDENTITY (0, 1) NOT NULL,
		Id int,
		QueryCategory int
	)		

	if @StateId = 0
		begin
			INSERT INTO #PageIndexForSupportCases (Id, QueryCategory)
				SELECT S.Id, S.QueryCategory
				FROM   Supportcases S
				LEFT OUTER JOIN AssignedCases A
					ON S.Id = A.CaseId
				WHERE A.AssignedByUsername = @AssignedByUsername OR A.AssignedByUsername Is Null
				Order By S.Id
		END 
	else
		begin
			INSERT INTO #PageIndexForSupportCases (Id, QueryCategory)
				SELECT S.Id, S.QueryCategory
				FROM   Supportcases S
				LEFT OUTER JOIN AssignedCases A
					ON S.Id = A.CaseId
				WHERE StateId = @StateId AND (A.AssignedByUsername = @AssignedByUsername OR A.AssignedByUsername Is Null)
		END
    
	SELECT @TotalRecords = Count(*)
	FROM #PageIndexForSupportCases

	if @StateId = 0
		begin
			
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, Priority, LastUpdatedDate, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, 
				   A.AssignedByUsername, A.AssignedDate, A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From Supportcases S, #PageIndexForSupportCases p
			
			LEFT OUTER JOIN AssignedCases A
			ON P.Id = A.CaseId
			
			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON P.Id = C.CaseId
			
			LEFT OUTER JOIN CaseQueryCategories QC
			ON P.QueryCategory = QC.Id

			WHERE S.Id = p.Id AND (A.AssignedByUsername = @AssignedByUsername OR A.AssignedByUsername Is Null)
			AND p.IndexId >= @PageLowerBound AND p.IndexId <= @PageUpperBound
			
			ORDER BY 
				CASE @SortOrder 
					WHEN 0 THEN 
						CASE @SortBy 
							WHEN 0 THEN S.Id
							WHEN 1 THEN S.Creation_Date
							WHEN 2 THEN S.StateId
							WHEN 3 THEN S.Priority
						END 
					END 
				DESC, 
				CASE @SortOrder 
					WHEN 1 THEN 
							CASE @SortBy 
								WHEN 0 THEN S.Id
								WHEN 1 THEN S.Creation_Date
								WHEN 2 THEN S.StateId
								WHEN 3 THEN S.Priority
								ELSE S.Id 
							END 
					END 
		END 
	else
		begin
			SELECT S.Id, P.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, Priority, LastUpdatedDate, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, 
				   A.AssignedByUsername, A.AssignedDate, A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From SupportCases S, #PageIndexForSupportCases p
			
			LEFT OUTER JOIN AssignedCases A
			ON P.Id = A.CaseId
			
			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON P.Id = C.CaseId

			LEFT OUTER JOIN CaseQueryCategories QC
			ON P.QueryCategory = QC.Id

			WHERE S.Id = p.Id AND StateId = @StateId 
			AND (A.AssignedByUsername = @AssignedByUsername OR A.AssignedByUsername Is Null)
			AND p.IndexId >= @PageLowerBound AND p.IndexId <= @PageUpperBound
			ORDER BY 
				CASE @SortOrder 
					WHEN 0 THEN 
						CASE @SortBy 
							WHEN 0 THEN S.Id
							WHEN 1 THEN S.Creation_Date
							WHEN 2 THEN S.StateId
							WHEN 3 THEN S.Priority
						END 
					END 
				DESC, 
				CASE @SortOrder 
					WHEN 1 THEN 
							CASE @SortBy 
								WHEN 0 THEN S.Id
								WHEN 1 THEN S.Creation_Date
								WHEN 2 THEN S.StateId
								WHEN 3 THEN S.Priority
								ELSE S.Id 
							END 
					END  
				END
		
	RETURN @TotalRecords













GO
