USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[AssignedCases]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignedCases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[AssignedToUsername] [nvarchar](256) NOT NULL,
	[AssignedByUsername] [nvarchar](256) NOT NULL,
	[AssignedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AssignedCases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignedCases]  WITH CHECK ADD  CONSTRAINT [FK_AssignedCases_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])
GO
ALTER TABLE [dbo].[AssignedCases] CHECK CONSTRAINT [FK_AssignedCases_import_Abtran]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for this table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedCases', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Foreign key from SupportCases table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedCases', @level2type=N'COLUMN',@level2name=N'CaseId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'UserId of the user that is assigned to this case.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedCases', @level2type=N'COLUMN',@level2name=N'AssignedToUsername'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'UserId of the (supervisor) user that assigned this case' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedCases', @level2type=N'COLUMN',@level2name=N'AssignedByUsername'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date on which the support case was assigned.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedCases', @level2type=N'COLUMN',@level2name=N'AssignedDate'
GO
