USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_DeleteQueryForm]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_DeleteQueryForm]
(
	@CaseId int
)
AS
	
	DELETE FROM CaseTypeDetails WHERE
	CaseId = @CaseId
	
	DELETE FROM LicenceDetails WHERE
	CaseId = @CaseId
	
	DELETE FROM LicenceInfo WHERE
	CaseId = @CaseId
	
	DELETE FROM ActionTypeDetails WHERE
	CaseId = @CaseId
	
	DELETE FROM UpdateRequests WHERE
	CaseId = @CaseId
	
	DELETE FROM LicenceHolderCorrespondence WHERE
	CaseId = @CaseId
	
	DECLARE @EscalationId int
	SET @EscalationId = 0
	
	SELECT @EscalationId = Id From EscalationDetails 
	WHERE CaseId = @CaseId
	
	Print @EscalationId
	
	if @EscalationId > 0
		begin
			DELETE FROM EscalationReasons WHERE
			EscalationDetailsId = @EscalationId
		end
		
	DELETE FROM EscalationDetails WHERE
	CaseId = @CaseId
	
	-- When support form is deleted we default back to the assigned state
	UPDATE SupportCases SET
		StateId = 2,
		Notes = null,
		ConfirmationLetterRequired = 0,
		ConfirmationLetterSentDate = null,
		ConfirmationLetterSentByUsername = null,
		ClosedDate = null,
		ClosedByUsername = null,		
		StateNote = null,
		IsClosed = 0
		
	WHERE Id = @CaseId
	RETURN


GO
