USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_SetCaseState]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--
-- Description: Updates the current state of a case. Valid states are defined in the 
--				CaseStates table.
-- 
CREATE PROCEDURE [dbo].[tr_SetCaseState]
(
	@CaseId int,
	@StateId int,
	@StateNote ntext = ''
)
AS

	UPDATE SupportCases
	SET 
		StateId = @StateId,
		StateNote = @StateNote,
		LastUpdatedDate = GetDate()
	WHERE Id = @CaseId

	If @StateId <> 8 
		Begin 
			Update SupportCases
			SET IsClosed = 0 
			WHERE Id = @CaseId
		End 

	

GO
