USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[CaseTypeDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseTypeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[CaseTypeId] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CaseTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CaseTypeDetails]  WITH CHECK ADD  CONSTRAINT [FK_CaseTypes_CaseTypeEnums] FOREIGN KEY([CaseTypeId])
REFERENCES [dbo].[CaseTypes] ([Id])
GO
ALTER TABLE [dbo].[CaseTypeDetails] CHECK CONSTRAINT [FK_CaseTypes_CaseTypeEnums]
GO
ALTER TABLE [dbo].[CaseTypeDetails]  WITH CHECK ADD  CONSTRAINT [FK_CaseTypes_import_Abtran1] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])
GO
ALTER TABLE [dbo].[CaseTypeDetails] CHECK CONSTRAINT [FK_CaseTypes_import_Abtran1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valid enum range is 1 to 7' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CaseTypeDetails', @level2type=N'COLUMN',@level2name=N'CaseTypeId'
GO
