USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_ImportSupportCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Finbar McGurren
-- Create date: 4th October 2006
-- Description:	Imports a new support case from Abtran
-- =============================================
CREATE PROCEDURE [dbo].[tr_ImportSupportCase]
	@CallerID int,
	@TaxiReg_ID int,
	@Created_By nvarchar(50),
	@Firstname nvarchar(255),
	@Surname nvarchar(255),
	@Address1 nvarchar(255),
	@Address2 nvarchar(255),
	@Address3 nvarchar(255),
	@Address4 nvarchar(255),
	@County nvarchar(255),
	@Country nvarchar(100),
	@CompanyName nvarchar(255),
	@HomeTel nvarchar(50),
	@MobileTel nvarchar(50),
	@Fax nvarchar(50),
	@Email nvarchar(100),
	@Vehicle_Reg nvarchar(50),
	@Creation_Date datetime,
	@Call_Comments ntext,
	@Class3 nvarchar(255),
	@Licence_No nvarchar(50),
	@Licence_Expiry nvarchar(50)
AS
BEGIN

IF NOT EXISTS(SELECT id FROM SupportCases WHERE TaxiReg_ID = @TaxiReg_ID)
	INSERT INTO SupportCases(CallerID, TaxiReg_ID, Created_By, Firstname, Surname, Address1, Address2,
						Address3, Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax,
						Email, Vehicle_Reg, Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry)
	VALUES (@CallerID, @TaxiReg_ID, @Created_By, @Firstname, @Surname, @Address1, @Address2,
						@Address3, @Address4, @County, @Country, @CompanyName, @HomeTel, @MobileTel, @Fax,
						@Email, @Vehicle_Reg, @Creation_Date, @Call_Comments, @Class3, @Licence_No, @Licence_Expiry)
ELSE
	UPDATE SupportCases SET CallerID = @CallerID,
							Created_By = @Created_By,
							Firstname = @Firstname,
							Surname = @Surname,
							Address1 = @Address1,
							Address2 = @Address2,
							Address3 = @Address3,
							Address4 = @Address4,
							County = @County,
							Country = @Country,
							CompanyName = @CompanyName,
							HomeTel = @HomeTel,
							MobileTel = @MobileTel,
							Fax = @Fax,
							Email = @Email,
							Vehicle_reg = @Vehicle_Reg,
							Creation_Date = @Creation_Date,
							Call_Comments = @Call_Comments,
							Class3 = @Class3,
							Licence_No = @Licence_No,
							Licence_Expiry = Licence_Expiry
			WHERE TaxiReg_ID = @TaxiReg_ID
END

GO
