USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetLocalAuthorityDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetLocalAuthorityDetails] 
(
	@Id int
)
AS
	SELECT	l.Id, l.VehicleRegistration, l.PlateNumber, l.Title, l.FirstName, l.Surname, l.Address1, l.Address2,
			l.Address3, l.Address4, l.Address5, l.VehicleClass, l.LocalAuthority, l.ExpiryDate, l.Status
	FROM import_LocalAuthority l
	WHERE Id=@Id
GO
