USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_RemoveUpdateRequest]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_RemoveUpdateRequest]
(
	@Id int
)
AS
	DELETE FROM UpdateRequests WHERE
	Id = @Id
GO
