USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_UnassignSupportCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Removes a user (or all users) as the assigned person for a case
--
CREATE PROCEDURE [dbo].[tr_UnassignSupportCase]
(
	@CaseId int,
	@AssignedToUsername nvarchar(256) = null
)
AS
	-- If @AssignedToUserId is not specified then we will just remove all users
	-- that have been assigned to this case.
    IF (@AssignedToUsername IS NULL)
		Delete from AssignedCases WHERE
		CaseId = @CaseId 	
	ELSE
		Delete from AssignedCases WHERE
		CaseId = @CaseId AND AssignedToUsername = @AssignedToUsername
GO
