USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_ClearEscalationDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_ClearEscalationDetails] 
(
	@CaseId int
)
AS
	DECLARE @EscalationDetailsId int
	
	SELECT @EscalationDetailsId = Id FROM EscalationDetails 
	WHERE CaseId = @CaseId
	
	-- 1. Delete all escalation reasons for this case
	
	IF @EscalationDetailsId > 0 
		Begin
			Delete FROM EscalationReasons WHERE
			Id = @EscalationDetailsId
		End
	RETURN
	
	-- 2. Delete entry in the escalation details table for this case
	
	Delete From EscalationDetails WHERE
	CaseId = @CaseId
GO
