USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCaseQueryCategories]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[tr_GetCaseQueryCategories] 
AS
	SELECT Id, Name, AutoPopulationFields, Ordinal
	FROM CaseQueryCategories
	ORDER BY Ordinal


GO
