USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetNctDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetNctDetails]
(
	@Id int
)
AS
	SELECT	v.Id, v.Title, v.FirstName, v.Surname, v.Address1, v.Address2, v.Address3, v.Address4, v.Phone, v.Mobile,
			v.LicenceNumber, v.PlateNumber, v.VehicleRegistration, v.LicenceExpiry, v.County, v.LocalAuthority
	FROM import_VIMS v
	WHERE Id=@Id
GO
