USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetUnprocessedMailingRequests]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetUnprocessedMailingRequests]
(
	@MailingType int = 0,
	@TotalRecords int output
)
AS
	if @MailingType > 0 
		begin
			SELECT M.Id, CaseId, S.Licence_No, MailingType, Instruction, RequestedByUsername, RequestedDate, CompletedByUsername, CompletedDate, ActionTaken 
			FROM MailingRequests M
			LEFT JOIN SupportCases S ON
			S.Id = M.CaseId
			WHERE CompletedByUsername Is Null OR CompletedByUsername = '' AND MailingType = @MailingType
			ORDER BY Id
		end
	else
		begin
			SELECT M.Id, CaseId, S.Licence_No, MailingType, Instruction, RequestedByUsername, RequestedDate, CompletedByUsername, CompletedDate, ActionTaken 
			FROM MailingRequests M
			LEFT JOIN SupportCases S ON
			S.Id = M.CaseId
			WHERE CompletedByUsername Is Null OR CompletedByUsername = '' AND MailingType <> 0
			ORDER BY Id
		end

	SET @TotalRecords = @@RowCount
GO
