USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCaseTypeDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetCaseTypeDetails]
(
	@CaseId int
)
AS
	SELECT Id, CaseId, CaseTypeId, Notes FROM
	CaseTypeDetails 
	WHERE CaseId = @CaseId

GO
