USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetSupportCases]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--
-- Description: Returns all support calls received from Abtran in Cork
--
CREATE PROCEDURE [dbo].[tr_GetSupportCases]
(
	@PageIndex int,		-- Page index to return (zero based)
	@PageSize int,		-- Maximum number of records to return in one go
	@StateId int = 0,	-- optional
	@SortBy int = 0,
	@SortOrder int = 0,
	@TotalRecords int output
)
AS
	DECLARE @PageLowerBound int
	DECLARE @PageUpperBound int
	
	-- Set the page bounds
    SET @PageLowerBound = @PageSize * @PageIndex
    SET @PageUpperBound = @PageSize - 1 + @PageLowerBound
	
	-- Create a temp table to store the selected results
	CREATE TABLE #PageIndexForSupportCases 
	(
		IndexID int IDENTITY (0, 1) NOT NULL,
		Id int
	)	
    
	if @StateId = 0
		begin
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, Priority, LastUpdatedDate, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, 
				   A.AssignedByUsername, A.AssignedDate, A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From Supportcases S
			LEFT OUTER JOIN AssignedCases A
			ON S.Id = A.CaseId
			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON S.Id = C.CaseId
			LEFT OUTER JOIN CaseQueryCategories QC
			ON S.QueryCategory = QC.Id
			ORDER BY 
				CASE @SortOrder 
					WHEN 1 THEN 
						CASE @SortBy 
							WHEN 0 THEN S.Id
							WHEN 1 THEN S.Creation_Date
							WHEN 2 THEN S.StateId
							WHEN 3 THEN S.Priority
						END 
					END 
				DESC, 
				CASE @SortOrder 
					WHEN 1 THEN 
							CASE @SortBy 
								WHEN 0 THEN S.Id
								WHEN 1 THEN S.Creation_Date
								WHEN 2 THEN S.StateId
								WHEN 3 THEN S.Priority
								ELSE S.Id 
							END 
					END  
		END 
	else
		begin
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, Priority, LastUpdatedDate, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, 
				   A.AssignedByUsername, A.AssignedDate, A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From SupportCases S
			LEFT OUTER JOIN AssignedCases A
			ON S.Id = A.CaseId
			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON S.Id = C.CaseId
			LEFT OUTER JOIN CaseQueryCategories QC
			ON S.QueryCategory = QC.Id
			WHERE StateId = @StateId
			ORDER BY 
				CASE @SortOrder 
					WHEN 1 THEN 
						CASE @SortBy 
							WHEN 0 THEN S.Id
							WHEN 1 THEN S.Creation_Date
							WHEN 2 THEN S.StateId
							WHEN 3 THEN S.Priority
						END 
					END 
				DESC, 
				CASE @SortOrder 
					WHEN 1 THEN 
							CASE @SortBy 
								WHEN 0 THEN S.Id
								WHEN 1 THEN S.Creation_Date
								WHEN 2 THEN S.StateId
								WHEN 3 THEN S.Priority
								ELSE S.Id 
							END 
					END  
				END
	
	SET @TotalRecords = @@ROWCOUNT











GO
