USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddEscalationReason]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_AddEscalationReason]
(
	@EscalationId int,
	@EscalationTypeId int,
	@Notes nvarchar(1000)
)
AS
	INSERT INTO EscalationReasons(EscalationDetailsId, EscalationTypeId, Notes)
	VALUES (@EscalationId, @EscalationTypeId, @Notes)

	SELECT @@IDENTITY
GO
