USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCaseState]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetCaseState]
(
	@CaseId int 
)
AS
	SELECT S.StateId as Id, [Name], StateNote
	From SupportCases S
	INNER JOIN CaseStates C ON
	S.StateId = C.Id
	WHERE S.Id = @CaseId


GO
