USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddActionDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_AddActionDetails]
(
	@CaseId int,
	@ActionTypeId int
)
AS
	
	INSERT INTO ActionTypeDetails(CaseId, ActionTypeId)
	VALUES(@CaseId, @ActionTypeId)
		
	RETURN @@IDENTITY
GO
