USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[EscalationReasons]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalationReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EscalationDetailsId] [int] NOT NULL,
	[EscalationTypeId] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_EscalationReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EscalationReasons]  WITH CHECK ADD  CONSTRAINT [FK_EscalationReasons_EscalationDetails] FOREIGN KEY([EscalationDetailsId])
REFERENCES [dbo].[EscalationDetails] ([Id])
GO
ALTER TABLE [dbo].[EscalationReasons] CHECK CONSTRAINT [FK_EscalationReasons_EscalationDetails]
GO
ALTER TABLE [dbo].[EscalationReasons]  WITH CHECK ADD  CONSTRAINT [FK_EscalationReasons_EscalationTypes] FOREIGN KEY([EscalationTypeId])
REFERENCES [dbo].[EscalationTypes] ([Id])
GO
ALTER TABLE [dbo].[EscalationReasons] CHECK CONSTRAINT [FK_EscalationReasons_EscalationTypes]
GO
