USE [TaxiRegulator]
GO
/****** Object:  UserDefinedFunction [dbo].[VehicleRegFormatForSorting]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[VehicleRegFormatForSorting]
(
	@Vehicle_Reg	NVARCHAR(50)
)
RETURNS NVARCHAR(50)
AS
BEGIN

	DECLARE @p1	NVARCHAR(50)
	
	SET @p1 = REPLACE(@Vehicle_Reg, ' ', '')
	SET @p1 = REPLACE(@p1, '-', '')

	IF LEN(@p1) > 3
		IF ISNUMERIC(LEFT(@p1, 2)) = 1 AND ISNUMERIC(LEFT(@p1, 3)) = 0
			IF LEFT(@p1, 1) = '9'
				SET @p1 = '19' + @p1
			ELSE IF LEFT(@Vehicle_Reg, 1) = '0'
				SET @p1 = '20' + @p1


	RETURN @p1

END


GO
