USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCountiesByName]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetCountiesByName] 
(
	@PrefixText nvarchar(256)
)
AS
	SELECT Name From Counties 
	WHERE Name LIKE @PrefixText 
GO
