USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetUserAssignedToCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetUserAssignedToCase] 
(
	@Id int
)
AS
	SELECT Id as AssignedId, CaseId, AssignedToUsername, AssignedByUsername, AssignedDate
	From AssignedCases
	WHERE CaseId = @Id
GO
