USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestMaster_Duplicate]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PrintRequestMaster_Duplicate] 
(
	@NewPrintRequestId int output,
	--@ExistingPrintRequestId int,
    @ExistingPrintRequestMasterId int
)
AS
BEGIN
    
SET NOCOUNT ON;

DECLARE @TimeStamp datetime = GETDATE();

DECLARE @Ppsn varchar(20) = (SELECT TOP(1) Ppsn FROM PrintRequestMaster WHERE PrintRequestMasterId = @ExistingPrintRequestMasterId);

DECLARE @NewEmail varchar(MAX);
DECLARE @LicenceHolderId int;
DECLARE @LicenceNumber varchar(50);

SELECT TOP(1)
	@NewEmail = Email,
	@LicenceHolderId = LicenceHolderId,
	@LicenceNumber = LicenceNumber
FROM dbo.LicenceHolderMaster
WHERE Ppsn = @Ppsn;

DECLARE @NewPrintRequestMasterId Int; -- Filled in after first insert
DECLARE @ErrorMessage varchar(MAX);

Begin Try

    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    DECLARE @PerformInsert int
    SET @PerformInsert = 1
    
    IF (@PerformInsert = 1)
    BEGIN
		Begin Transaction CreatePrintRequest
        
            INSERT INTO [PrintRequestMaster] 
            (
				 [PrintRequestReasonId]
				,[BatchId]
				,[LetterRequestTypeId]
				,[PrintRequestStatusId]
				,[Ccsn]
				,[LicenceNumber]
				,[FirstName]
				,[LastName]
				,[DriverAddress1]
				,[DriverAddress2]
				,[DriverAddress3]
				,[DriverCounty]
				,[DriverPostCode]
				,[DeliveryDestinationId]
				,[ExpiryDate]
				,[LicenceHolderImage]
				,[DespatchMethodId]
				,[DespatchDate]
				,[TrackingNumber]
				,[CreatedBy]
				,[CreatedDate]
				,[ModifiedBy]
				,[ModifiedDate]
				,[PrintRequestStatusMessage]
				,[Email]
				,[Ppsn]
				,[LetterRequestTypeVLAuditId]
				,[TaxClearanceStatus]
				,[TaxClearanceName]
				,[TaxClearanceNumber]
				,[TaxClearanceExpiryDate]
			   ,[SPSVRegistrationNumber]
			   ,[SPSVRegistrationUrl]
			   ,[LicenceStatus]
			   ,[VehicleLicenceNumber]
			   ,[VehicleRegistrationNumber]
			   ,[LinkStartDate]
			   ,[LinkEndDate]
			   ,[LinkMethod]
			   ,[DriverLicenceHolderId]
			   ,[RentalStartDate]
			   ,[RentalEndDate]
			   ,[RentalMethod]
			   ,[SPSVWebUrl]
			   ,[SPSVEmailHtml]
			   ,[SPSVEmailItemId]
			   ,[HistoricalVehicleLicenceNumber]
			   ,[SPSVSmsMessage]
			   ,[SPSVSmsItemId]
			   ,[SPSVSmsPhoneNumber]
			   ,Town
        )
		SELECT
				 [PrintRequestReasonId]
				,[BatchId]
				,[LetterRequestTypeId]
				,[PrintRequestStatusId]
				,[Ccsn]
				,[LicenceNumber]
				,[FirstName]
				,[LastName]
				,[DriverAddress1]
				,[DriverAddress2]
				,[DriverAddress3]
				,[DriverCounty]
				,[DriverPostCode]
				,[DeliveryDestinationId]
				,[ExpiryDate]
				,[LicenceHolderImage]
				,[DespatchMethodId]
				,[DespatchDate]
				,[TrackingNumber]
				,[CreatedBy]
				,@TimeStamp --[CreatedDate]
				,[ModifiedBy]
				,@TimeStamp --[ModifiedDate]
				,[PrintRequestStatusMessage]
				,@NewEmail--[Email]
				,[Ppsn]
				,[LetterRequestTypeVLAuditId]
				,[TaxClearanceStatus]
				,[TaxClearanceName]
				,[TaxClearanceNumber]
				,[TaxClearanceExpiryDate]
			   ,[SPSVRegistrationNumber]
			   ,[SPSVRegistrationUrl]
			   ,[LicenceStatus]
			   ,[VehicleLicenceNumber]
			   ,[VehicleRegistrationNumber]
			   ,[LinkStartDate]
			   ,[LinkEndDate]
			   ,[LinkMethod]
			   ,[DriverLicenceHolderId]
			   ,[RentalStartDate]
			   ,[RentalEndDate]
			   ,[RentalMethod]
			   ,[SPSVWebUrl]
			   ,[SPSVEmailHtml]
			   ,[SPSVEmailItemId]
			   ,[HistoricalVehicleLicenceNumber]
			   ,[SPSVSmsMessage]
			   ,[SPSVSmsItemId]
			   ,[SPSVSmsPhoneNumber]
			   ,Town

            FROM [PrintRequestMaster]
            WHERE PrintRequestMasterId = @ExistingPrintRequestMasterId;
                
            SET @NewPrintRequestMasterId = SCOPE_IDENTITY();
            
			if @NewPrintRequestMasterId is null or @NewPrintRequestMasterId = 0
            begin
                Set @ErrorMessage = 'Unable to find PrintRequestMasterId after insertion.'
                Raiserror (@ErrorMessage, 16, 1)
            end
            
            INSERT INTO [dbo].[PrintRequestDetail]
			(
				 [DespatchMethodId]
				,[PrintRequestMasterId]
				,[licencenumber]
				,[CardRequestTypeId]
				,[PrintRequestStatusId]
				,[Area]
				,[DespatchDate]
				,[TrackingNumber]
				,[PrintRequestReasonID]
				,[Comments]
				,[PaymentReceived]
				,[CreatedBy]
				,[CreatedDate]
				,[ModifiedBy]
				,[ModifiedDate]
				,PrintRequestStatusMessage
		    )
            SELECT
                 [DespatchMethodId]
				,@NewPrintRequestMasterId --[PrintRequestMasterId]
				,[licencenumber]
				,[CardRequestTypeId]
				,[PrintRequestStatusId]
				,[Area]
				,[DespatchDate]
				,[TrackingNumber]
				,[PrintRequestReasonID]
				,[Comments]
				,[PaymentReceived]
				,[CreatedBy]
				,@TimeStamp --[CreatedDate]
				,[ModifiedBy]
				,@TimeStamp --[ModifiedDate]
				,PrintRequestStatusMessage
			FROM [dbo].[PrintRequestDetail]
			WHERE [PrintRequestMasterId] = @ExistingPrintRequestMasterId;
                   
            SET @NewPrintRequestId = SCOPE_IDENTITY()

            if @NewPrintRequestId is null or @NewPrintRequestId = 0
            begin
                Set @ErrorMessage = 'Unable to find PrintRequestId after insertion.'
                Raiserror (@ErrorMessage, 16, 1)
            end   
            
            INSERT INTO [Cabs_Live].[dbo].[TransactionAuditLog]
			(
				[TransactionAuditTypeID]
			   ,[HistoryChangeTypeID]
			   ,[TransactionUniqueKey]
			   ,[AuditDateTime]
			   ,[LicenceHolderId]
			   ,[LicenceNumber]
			   ,[VehicleId]
			   ,[FieldName]
			   ,[OldValue]
			   ,[NewValue]
			   ,[CreatedBy]
			   ,[CreatedDate]
			   ,[ModifiedBy]
			   ,[ModifiedDate])
			VALUES
			(
				20 --<TransactionAuditTypeID, int,>
			   ,1 --<HistoryChangeTypeID, int,>
			   ,NEWID() --<TransactionUniqueKey, uniqueidentifier,>
			   ,@TimeStamp --<AuditDateTime, datetime,>
			   ,@LicenceHolderId --<LicenceHolderId, int,>
			   ,@LicenceNumber --<LicenceNumber, nvarchar(50),>
			   ,0 --<VehicleId, int,>
			   ,'NotificationType' --<FieldName, nvarchar(50),>
			   ,NULL --<OldValue, nvarchar(max),>
			   ,'TC 2 Weeks Reminder Resend' --<NewValue, nvarchar(max),>
			   ,'tax letter job' --<CreatedBy, varchar(20),>
			   ,@TimeStamp --<CreatedDate, datetime,>
			   ,'tax letter job' --<ModifiedBy, varchar(20),>
			   ,@TimeStamp --<ModifiedDate, datetime,>
           )
           
        Commit Transaction CreatePrintRequest
	END
End Try

Begin Catch
    
    IF @@TRANCOUNT > 0
    BEGIN    
        --Rollback the command executed
		Rollback Transaction CreatePrintRequest
    END
    
	--Set the error message equal to the error thrown
    Set @ErrorMessage = Error_Message();
    
    --Rethrow the error
    Raiserror (@ErrorMessage, 16, 1);
End Catch

SET NOCOUNT OFF;

END

GO
