USE [Cabs_Live]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetChild]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetChild] ( @parentId INT )
RETURNS @Integers TABLE ( [IntValue] INT )
AS
BEGIN
    DECLARE @Index    INT
	--DECLARE @tmpText INT

	DECLARE dbcursor CURSOR FOR
	select id from dbo.Case_Category
	where  parent_id =@parentId 

INSERT INTO @Integers ( [IntValue] ) VALUES ( @parentId )
OPEN dbcursor
FETCH NEXT FROM dbcursor INTO @Index

WHILE @@FETCH_STATUS=0
BEGIN
	INSERT INTO @Integers ( [IntValue] ) VALUES ( @Index )
	INSERT INTO @Integers  select * FROM  [dbo].[fnGetChild](@Index)
	FETCH NEXT FROM dbcursor INTO @Index
END

CLOSE dbcursor;
DEALLOCATE dbcursor

    RETURN
END
GO
