USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[CardRequestType]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardRequestType](
	[CardRequestTypeId] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CardRequestTypeDescription] [varchar](50) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_CardRequestType] PRIMARY KEY CLUSTERED 
(
	[CardRequestTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CardRequestType] ADD  CONSTRAINT [DF_CardRequestType_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[CardRequestType] ADD  CONSTRAINT [DF_CardRequestType_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CardRequestType] ADD  CONSTRAINT [DF_CardRequestType_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[CardRequestType] ADD  CONSTRAINT [DF_CardRequestType_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
