USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCCSN]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateCCSN]
AS
BEGIN

	declare @Ccsn nvarchar(50)		
	declare @updatedDLSRows int
	declare @ID bigint
	declare @Count bigint = 0
	declare @LicenceNumber varchar(20)
	declare @LicenceHolderId int
    declare IU_NotInSync cursor for
     
  	Select rtrim(ltrim(ccsn)),rtrim(ltrim(licencenumber)) from cabs_live.dbo.temp_dls
      
	open IU_NotInSync
	  fetch next from IU_NotInSync into @Ccsn, @LicenceNumber
	while (@@FETCH_STATUS <> -1)	  
	begin	
			
				Set @LicenceHolderId = (Select lh.licenceholderid from cabs_live.dbo.licencemaster lh join cabs_live.dbo.licenceholdermaster l ON l.LicenceHolderId=lh.LicenceHolderId where lh.licencenumber=@LicenceNumber AND l.ccsn is null)
				IF (@LicenceHolderId IS NOT NULL) 
				BEGIN
			   	Update cabs_live.dbo.licenceholdermaster Set Ccsn=@Ccsn Where LicenceHolderId = (Select licenceholderid from cabs_live.dbo.licencemaster where licencenumber=@LicenceNumber)				
				  
				Insert into Cabs_Live.[dbo].[TransactionAuditLog] (TransactionAuditTypeID,HistoryChangeTypeID,TransactionUniqueKey,LicenceHolderId,FieldName,OldValue,NewValue,
						CreatedBy,CreatedDate,ModifiedBy,ModifiedDate,AuditDateTime) 
				values (5,1,NEWID(),@LicenceHolderId,'Ccsn','',@Ccsn,'Helpdesk',Getdate(),'Helpdesk',GetDate(),GetDate())										  	
				END;

	  if (@updatedDLSRows > 0) 
	  begin		 
		  set @Count = @Count + 1
	  end;     
	
	  fetch next from IU_NotInSync into @Ccsn, @LicenceNumber

	end
    close IU_NotInSync
    deallocate IU_NotInSync	
    
   			   	        
END
GO
