USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[CandidateTest_SelectByPPSN]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CandidateTest_SelectByPPSN] @ppsn NVARCHAR(max), @TestCode NVARCHAR(max), @ResultID INT
AS
BEGIN
	SET NOCOUNT ON;
			
	SELECT ct.ID AS CandidateTestId
		,t.Code AS TestCode
		,b.TestCentreID
		,tc.TestCentreName AS TestCentreName
		,b.ID AS BookingId
		,ct.StatusID AS StatusId
		,cts.Description AS StatusName
		,ct.ResultID AS ResultId
		,tr.Description AS ResultName
	FROM cabs_production.cabs_sk.CandidateTest ct
	JOIN cabs_production.cabs_sk.Booking b ON b.ID = ct.BookingID
	JOIN cabs_production.cabs_sk.TestResult tr ON ct.ResultID = tr.ID
	JOIN cabs_production.cabs_sk.CandidateTestStatus cts ON cts.ID = ct.StatusID
	JOIN cabs_production.dbo.TestCentre tc ON tc.TestCentreId = b.TestCentreID
	JOIN cabs_production.cabs_sk.candidate c ON c.ID = b.CandidateID
	JOIN cabs_production.cabs_cmo.Person p ON p.ID = c.PersonID
	JOIN cabs_production.cabs_sk.Test t ON ct.TestID = t.ID
	WHERE p.PPSN = @ppsn
	AND t.Code like '%' + @TestCode + '%'
	AND ct.ResultID = @ResultID
END

GO
