USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[RPTS_CMS_02_GetCountCasesByUserByDate]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mariana Vilau
-- Create date: 31/01/2012
-- Description:	Return number of cases handled by each user for specified dates.
-- =============================================
CREATE PROCEDURE [dbo].[RPTS_CMS_02_GetCountCasesByUserByDate]
	@startDate datetime,
	@endDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	------------------------------------------------------------------------------------------------------------
		CREATE TABLE #tmpUsers (
								UserId [uniqueidentifier] ,
								UserName [nvarchar](256),
								[LoweredUserName] [nvarchar](256))

		INSERT INTO #tmpUsers (UserId, UserName,LoweredUserName)
								select distinct u.UserId,u.UserName,u.LoweredUserName
								from dbo.aspnet_Users u		
								inner join dbo.aspnet_UsersInRoles r ON u.UserId=r.UserId
								inner join dbo.aspnet_Roles rs On r.RoleId=rs.RoleId
								Where (rs.RoleName in ('Admin','Case Management','CMS_Admin','Global_Admin'))	
	----------------------------------------------------------------------------------------------------------

	select 
		b.UserName, 
		isnull(a.[REsolved Cases],0) as [Resolved Cases], 
		b.[Handled Cases] 
	from 
		(select 
			u.UserName, 
			count(id) as [Resolved Cases]
		from #tmpUsers u
		left join 
			(select 
				c.id,
				c.creation_date,
				(select top(1) ch.changeDateTime from dbo.Case_History ch where ch.caseid = c.id and ch.field_name = 'Status Updated' and ch.newValue = 'Resolved' order by changeDateTime desc) as [Resolved Date],
				(select top(1) ch.newValue from dbo.Case_History ch where ch.caseid = c.id and ch.field_name = 'Resolved By'  order by changeDateTime desc) as [Resolved By],
				a.handled
				from dbo.Cases c
				left join 
					(Select 
						Main.caseid,
						Left(Main.Handled,Len(Main.Handled)-1)  as handled
					From
						(Select 
							distinct ch2.caseid, 
							(Select ch1.newValue + ',' AS [text()]
							From dbo.Case_History ch1
							Where ch1.caseid = ch2.caseid and (ch1.field_name = 'Assign To Updated' or ch1.field_name = 'Resolved By')
							ORDER BY ch1.caseid
							For XML PATH ('')) [Handled]
						From dbo.Case_History ch2) [Main]) a on c.id = a.caseID) xxx on xxx.[Resolved By] = u.LoweredUserName
						where 
						(creation_date >= @startdate and creation_date < @enddate + 1)
						or
						([Resolved Date] >= @startdate and [Resolved Date] < @enddate + 1)
						group by u.UserName having count(id) > 0) a
	right join 

		(select 
			u.UserName, 
			count(id) as [Handled Cases]
			from #tmpUsers u
			left join 
				(select 
					c.id,
					c.creation_date,
					(select top(1) ch.changeDateTime from dbo.Case_History ch where ch.caseid = c.id and ch.field_name = 'Status Updated' and ch.newValue = 'Resolved' order by changeDateTime desc) as [Resolved Date],
					(select top(1) ch.newValue from dbo.Case_History ch where ch.caseid = c.id and ch.field_name = 'Resolved By'  order by changeDateTime desc) as [Resolved By],
					c.createdby + isnull(',' + a.handled,'') as handled
				from dbo.Cases c
				left join 
					(Select 
						Main.caseid, 
						Left(Main.Handled,Len(Main.Handled)-1)   as handled
					From
						(Select 
							distinct ch2.caseid, 
							(Select ch1.newValue + ',' AS [text()] From dbo.Case_History ch1 Where ch1.caseid = ch2.caseid and (ch1.field_name = 'Assign To Updated' or ch1.field_name = 'Resolved By')
							ORDER BY ch1.caseid
							For XML PATH ('')) [Handled]
							From dbo.Case_History ch2) [Main]) a 
						on c.id = a.caseID) xxx on xxx.handled like '%' +u.LoweredUserName + '%'  
					where 
					(creation_date >= @startdate and creation_date < @enddate + 1)
						or
					([Resolved Date] >= @startdate and [Resolved Date] < @enddate + 1)
				group by u.UserName having count(id) > 0) b
	on a.UserName = b.UserName
order by b.UserName

drop table #tmpUsers

END
GO
