USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[iCabs_VehicleLink_Check]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Aleh Holub>
-- Create date: <25/02/2013>
-- Description:	<Checks id given driver (Driver licence) has an active Vehicle Link >
-- =============================================
CREATE PROCEDURE [dbo].[iCabs_VehicleLink_Check]
	-- Add the parameters for the stored procedure here
	@VehicleLicence varchar(15),
	@DriverLicence varchar(15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @IndustryId bigint = 0, @dLicence varchar(50), @dName varchar(150)
	Select @industryId = ISNULL(vd.IndustryUserId, 0) FROM [cabs_production].[cabs_dvl].[VehicleDriver] vd
			WHERE vd.VehicleLicenseNumber = @VehicleLicence AND vd.isactive=1 AND vd.StartDate <= GetDate() and (vd.EndDate >= GetDAte() or vd.EndDate is null);
	IF @IndustryId  <= 0 
		BEGIN 
			Select '','', 0
		END
	ELSE
		BEGIN 
			SELECT @dLicence = L.LicenceNumber, @dName = lh.HolderName
			FROM [cabs_production].[cabs_cmo].[IndustryUser] iu
			INNER JOIN [Cabs_live].[dbo].LicenceHolderMaster lh on iu.PPSN = lh.PPSN
			INNER JOIN [Cabs_live].[dbo].LicenceMaster l on lh.LicenceHolderId = l.LicenceHolderiD
			WHERE iu.ID = @IndustryId
			IF @DriverLicence = @dLicence
				BEGIN
					Select @dLicence, @dName, 1
				END
			ELSE
				BEGIN 
					Select '','', 0
				END

		END
END
GO
