USE [Cabs_Live]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetFirstChildId]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetFirstChildId] (@item_id INT)
    RETURNS int
AS
BEGIN 
 DECLARE @parentID int

    SELECT @parentID=parent_id
    FROM     dbo.Case_Category_Internal
    WHERE   id = @item_id
	if(@parentID is null)
		begin
			return null
		end
	else
		begin
			if(@parentID = dbo.fnGetMainParentId(@item_id)) 
				begin
				   RETURN @item_id  
				end 
			else 
				begin
					set @item_id = dbo.fnGetFirstChildId(@parentID)		
				end
		end
RETURN @item_id  
end




GO
