USE [Cabs_Live]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetParentIDs]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetParentIDs] (@parent_id INT)
    RETURNS VARCHAR(255)
AS
BEGIN
 DECLARE @sReturnValue VARCHAR(255)
 DECLARE @stemp VARCHAR(255)
 DECLARE @parentIDVal int

    SELECT    @stemp = 
        [id], @parentIDVal=parent_id
    FROM     dbo.Case_Category_Internal
    WHERE   id = @parent_id

	set @sReturnValue=@stemp

		if(@parentIDVal is null) 
		begin
		   RETURN @sReturnValue  
		end 
		else 
		begin
		select @stemp=dbo.fnGetParentIDs(@parentIDVal)
			set @sReturnValue=@stemp+', '+@sReturnValue

		end


 RETURN @sReturnValue

end
GO
