USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[RPT_AllDriverLicences_Backup]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sumayya Sayed
-- Create date: 17-FEB-2017
-- =============================================

CREATE PROCEDURE [dbo].[RPT_AllDriverLicences_Backup]

@LicenceStatus Varchar(2000) 
,@County nVarchar(2000) 


AS
--print @County
--print @LicenceStatus
--If IsNull(@County, '') = 'ALL'
--	Set @County = '%'

--If IsNull(@LicenceStatus, '') = 'ALL'
--	Set @LicenceStatus = '%'


--declare @Split_LicenceStatus nvarchar(max) 
--declare @Split_County nvarchar(max) 
--set @Split_LicenceStatus =''''+replace(@LicenceStatus,',',''',''')+'''' 
--set @Split_County =''''+replace(@County,',',''',''')+'''' 
----print @Split_LicenceStatus
----print @Split_County


BEGIN
	SET NOCOUNT ON;


;WITH CTE1 AS
(
select count(*) as countPMres,PPS AS PPSN 
from [NTA-CABS2-DB2].[PMres].[dbo].[rcs]  --UAT
where ((test_result = 'passed' and (test_code = 'spsv' or test_code='ikt'))
or (test_code = 'spsv' and coreresult='pass'))
Group by PPS
)

,CTE2 AS 
(
select count(*) as countPerson, P.PPSN As PPSN 
from cabs_production.cabs_cmo.Person p
join cabs_production.cabs_sk.Candidate c on c.PersonID=p.ID
join cabs_production.cabs_sk.Booking b on b.CandidateID=c.ID
join cabs_production.cabs_sk.CandidateTest ct on ct.BookingID=b.ID
join cabs_production.cabs_sk.Test t on b.TestID=t.ID
where ct.ResultID=2 
and t.Code IN ('IKT','SPSV', 'SPSVx2', 'IKTx2', 'RET_IK', 'RET_AK', 'RET_IKx2', 'RET_AKx2')
group by P.PPSN 
)

 --,CTE_Pieces_LicenceStatus
 --   AS 
 --   (
 --       SELECT
 --           1 AS ID
 --           ,1 AS StartString
 --           ,CHARINDEX(',', @LicenceStatus) AS StopString
   
 --       UNION ALL
  
 --       SELECT
 --           ID + 1
 --           ,StopString + 1
 --           ,CHARINDEX(',', @LicenceStatus, StopString + 1)
 --       FROM
 --           CTE_Pieces_LicenceStatus
 --       WHERE
 --           StopString > 0
 --   )
 --   ,CTE_Split_LicenceStatus
 --   AS
 --   (
 --       SELECT
 --           CONVERT(varchar(50),SUBSTRING(@LicenceStatus, StartString, 
 --                                 CASE 
 --                                    WHEN StopString > 0 THEN StopString - StartString
 --                                    ELSE LEN(@LicenceStatus)
 --                                    END
 --                                 )
 --                  ) AS LicenceStatus
 --       FROM
 --           CTE_Pieces_LicenceStatus
 --   ) 
	--,CTE_Pieces_County
 --   AS 
 --   (
 --       SELECT
 --           1 AS ID
 --           ,1 AS StartString
 --           ,CHARINDEX(',', @County) AS StopString
   
 --       UNION ALL
  
 --       SELECT
 --           ID + 1
 --           ,StopString + 1
 --           ,CHARINDEX(',', @County, StopString + 1)
 --       FROM
 --           CTE_Pieces_County
 --       WHERE
 --           StopString > 0
 --   )
 --   ,CTE_Split_County
 --   AS
 --   (
 --       SELECT
 --           CONVERT(varchar(50),SUBSTRING(@County, StartString, 
 --                                 CASE 
 --                                    WHEN StopString > 0 THEN StopString - StartString
 --                                    ELSE LEN(@County)
 --                                    END
 --                                 )
 --                  ) AS County
 --       FROM
 --           CTE_Pieces_County
 --   ) 

Select distinct
--top 100
--Count(*)
LM.LicenceNumber,
Lm.LicenceHolderID,
LHM.FirstName,LHM.LastName,LHM.Ppsn,ISNULL(LHM.CCSN,'') AS CCSN
,CONVERT(VARCHAR(10), LM.LicenceIssueDate, 103) AS LicenceIssueDate
,CONVERT(VARCHAR(10), LM.LicenceExpiryDate, 103) AS LicenceExpiryDate
--LM.LicenceIssueDate,LM.LicenceExpiryDate,
,LHM.AddressLine1,LHM.AddressLine2,LHM.Town,
CC.CountyName,
LHM.PostCode,
--[dbo].[IsDriverCertified](LHM.PPSN) As CertStatus 
 CASE
  WHEN C1.countPMres > 0 OR 
       C2.countPerson > 0
 THEN 'Certified' 
  ELSE 'Not Certified' 
END as CertStatus

,ISNULL(LHM.PhoneNo1,'') AS PhoneNo1
,ISNULL(LHM.PhoneNo2,'') AS PhoneNo2
,ISNULL(LHM.Email,'') AS Email
,GD.GardaDivisionName AS GardaArea,

(SELECT distinct CAST(c.CountyName + ' ' AS VARCHAR(MAX)) 
			 FROM dbo.County 
			inner join dbo.DriverCounty dc on dc.LicenceNumber = LM.LicenceNumber
			inner join dbo.County c on c.CountyID = dc.CountyID
			 WHERE (c.CountyID = dc.CountyID and dc.LicenceNumber = LM.LicenceNumber and dc.CountyID = dc.PrimaryCounty) 
			 FOR XML PATH ('')
		  ) [Primary Area],

					
	isnull((SELECT distinct CAST(c.CountyName + ';' AS VARCHAR(MAX)) 
			 FROM dbo.County 
			inner join dbo.DriverCounty dc on dc.LicenceNumber = LM.LicenceNumber
			inner join dbo.County c on c.CountyID = dc.CountyID
			 WHERE (c.CountyID = dc.CountyID and dc.LicenceNumber = LM.LicenceNumber and dc.CountyID <> dc.PrimaryCounty) 
			 FOR XML PATH ('')
		  ),'') [Additional Areas]

,ISNULL(ll.Area,'') AS LAHArea

,CASE WHEN LHM.TaxClearanceCertExists=1 THEN 'TRUE'
ELSE 'FALSE' END AS TCCertExists
,ISNULL(LHM.TaxClearanceNumber,'') AS TCRefNumber
,ISNULL(LHM.TaxClearanceName,'') AS TCName
,ISNULL(CONVERT(VARCHAR(10), LHM.TaxClearanceLastCheckDate, 103),'') AS TCLastCheck
,ISNULL(CONVERT(VARCHAR(10), LHM.TaxClearanceLastNotificationDate, 103),'') AS TCNotification1Sent 
,ISNULL(CONVERT(VARCHAR(10), LHM.TaxClearance30DaysReminderSent, 103),'') AS TCNotification2Sent 



,[cabs_production].dbo.IsVehicleOrDriverLinked(ISNULL((select top 1 VehicleLicenseNumber from [cabs_production].cabs_dvl.VehicleDriver where DriverLicenceNumber= SA.LicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is null OR IsExpired=0)),''),LM.LicenceNumber) as ActiveDriverLink

,ISNULL((select top 1 VehicleLicenseNumber from [cabs_production].cabs_dvl.VehicleDriver where DriverLicenceNumber= SA.LicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is null OR IsExpired=0)),'') as LinkedVehicle

,CONVERT(VARCHAR(10), case when SA.LicenceNumber is not null THEN ISNULL(CAST((select top 1 StartDate from [cabs_production].cabs_dvl.VehicleDriver where DriverLicenceNumber= SA.LicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)) AS VARCHAR(20)),'')
ELSE ISNULL(CAST((select top 1 StartDate from [cabs_production].cabs_dvl.VehicleDriver where VehicleLicenseNumber= SA.VehicleLicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)) AS VARCHAR(20)) , '') end, 103) AS ActiveLinkStartDate 

,CONVERT(VARCHAR(10), case when SA.LicenceNumber is not null Then ISNULL(CAST((select top 1 EndDate from [cabs_production].cabs_dvl.VehicleDriver where DriverLicenceNumber= SA.LicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)) AS VARCHAR(20)),'') 
else ISNULL(CAST((select top 1 EndDate from [cabs_production].cabs_dvl.VehicleDriver where VehicleLicenseNumber= SA.VehicleLicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)) AS VARCHAR(20)),'') end, 103) as ActiveLinkEndDate


,Ls.LicenceStateMaster

from [Cabs_Live].dbo.LicenceMaster LM
inner join [Cabs_Live].dbo.LicenceHolderMaster LHM on LHM.LicenceHolderID = LM.LicenceHolderID
inner join [Cabs_Live].dbo.County CC on CC.countyid = LHM.countyid
inner join dbo.DriverCounty dc on dc.LicenceNumber = LM.LicenceNumber
inner join dbo.County c on c.CountyID = dc.CountyID and dc.LicenceNumber = LM.LicenceNumber and dc.CountyID = dc.PrimaryCounty 
Left Outer join [Cabs_Live].dbo.GardaDivision GD on GD.GardaDivisionID = LHM.GardaDivisionID
left join CTE1 C1 on C1.PPSN = LHM.PPSN COLLATE DATABASE_DEFAULT
left join CTE2 C2 on C2.PPSN = LHM.Ppsn
left join [cabs_production].[dbo].[LAHLink] ll on ll.DriverLicenceNumber = lm.LicenceNumber
left join [cabs_production].cabs_enf.SearchAudit SA on SA.LicenceNumber = LM.LicenceNumber
left join [Cabs_Live].dbo.LicenceStateMaster LS on LS.LicenceStateMasterID = LM.LicenceStateMasterID

WHERE LS.LicenceStateMaster in (Select val from dbo.Split(@LicenceStatus,','))--(''''+replace(@LicenceStatus,',',''',''')+'''')--(select @Split_LicenceStatus)
AND C.CountyName in (Select val from dbo.Split(@County,',')) --(''''+replace(@County,',',''',''')+'''') --(select @Split_County)
ORDER by LM.LicenceNumber DESC
 
END
		








GO
