USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[CandidateInfo_SelectByPPSN]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CandidateInfo_SelectByPPSN]

	@ppsn varchar(20)
	
AS
BEGIN
	SET NOCOUNT ON;
SELECT       pers.AddressLine1, pers.AddressLine2, pers.AddressLine3, pers.PPSN, pers.Email, pers.PostCode, pers.DateOfBirth, pers.FirstName,
pers.LastName, pers.HomeNumber, pers.Town, pers.MobileNumber, c.CountyName as County, im.Data as ImageContent
FROM         cabs_production.cabs_sk.Candidate cand inner join cabs_production.cabs_cmo.Person pers on cand.PersonID = pers.ID 
             left outer join cabs_production.dbo.County c on pers.CountyID = c.CountyId
             left outer join cabs_production.cabs_sk.Image im on pers.PhotoID = im.ID
             where pers.PPSN = @ppsn

END


GO
