USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[GetAllLicenceHoldersForSocialWelfare]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllLicenceHoldersForSocialWelfare] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--INSERT NEW LICENCEHOLDERS IN TABLE SOCIALWELFARELOG
	INSERT INTO SOCIALWELFARELOG
	SELECT PPSN, GETDATE() FROM LICENCEHOLDERMASTER LH 
	WHERE LH.PPSN NOT IN(SELECT PPSN FROM SOCIALWELFARELOG)
    
	SELECT distinct 
		LH.PPSN as Ppsn,
		LH.HOLDERNAME as [Name],
		-- ADRESS
		LH.ADDRESSLINE1 as [Adress 1],
		LH.ADDRESSLINE2 as [Adress 2],
		LH.ADDRESSLINE3 as [Adress 3],
		LH.Town,
		COUNTY.COUNTYNAME as County,
		LH.Postcode,
		--END ADRESS
		LH.DATEOFBIRTH as [Date of Birth],
		LT.LICENCETYPE as [Type of Licence],
		LM.LICENCEISSUEDATE as [Date issue],
		LSM.LICENCESTATEMASTER as [Status],
		(CASE WHEN GETDATE()-1 > SW.DATESENT THEN 'FALSE'
			ELSE 'TRUE'
		END) AS [Is New Licence]
	FROM LICENCEMASTER LM 
	INNER JOIN LICENCEHOLDERMASTER LH 
	ON LM.LICENCEHOLDERID = LH.LICENCEHOLDERID 
	INNER JOIN COUNTY
	ON LH.COUNTYID = COUNTY.COUNTYID
	INNER JOIN LICENCETYPE LT
	ON LM.LICENCETYPEID = LT.LICENCETYPEID
	INNER JOIN LICENCESTATEMASTER LSM
	ON LM.LICENCESTATEMASTERID = LSM.LICENCESTATEMASTERID
	INNER JOIN SOCIALWELFARELOG SW 
	ON SW.PPSN = LH.PPSN
	WHERE Len(LH.Ppsn) in (8, 9)

END
GO
