USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[CaseComplaintExtension]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseComplaintExtension](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number_of_passangers] [int] NULL,
	[vehicle_model] [varchar](50) NULL,
	[vehicle_registration_number] [varchar](50) NULL,
	[driver_name] [varchar](50) NULL,
	[journey_from] [varchar](255) NULL,
	[journey_to] [varchar](255) NULL,
	[date] [datetime] NULL,
	[service_type] [varchar](50) NULL,
	[incident_type] [varchar](255) NULL,
	[dispatch_operator_name] [varchar](50) NULL,
	[dispatch_operator_contact_info] [varchar](50) NULL,
	[method_of_booking] [varchar](255) NULL,
	[date_of_booking] [varchar](50) NULL,
	[timestamp] [decimal](16, 4) NULL,
 CONSTRAINT [PK_CaseComplaintExtension] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
