USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[RPTS_CMS_04_GetCountCasesByTeamByDate]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mariana Vilau
-- Create date: 06/02/2012
-- Description:	Return number of cases handled by each team for specified dates.
-- =============================================
CREATE PROCEDURE [dbo].[RPTS_CMS_04_GetCountCasesByTeamByDate]
	@startDate datetime,
	@endDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	select 
	t.name [TeamName],
	count(c.id) [Handled]
from Case_Team t inner join Cases c on t.id = c.team_id
inner join
(select c1.id,
		c1.creation_date,
		(select top(1) ch.changeDateTime from dbo.Case_History ch where ch.caseid = c1.id and ch.field_name = 'Status Updated' and ch.newValue = 'Resolved' order by changeDateTime desc) as [Resolved Date]
	from Cases c1) c2 on c2.id = c.id and
	((c2.creation_date >= @startdate and c2.creation_date < @enddate + 1)
	or
	(c2.[Resolved Date] >= @startdate and c2.[Resolved Date] < @enddate + 1)) 
group by t.name
order by t.name

END
GO
