USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[DWH_BreakdownList]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_BreakdownList](
	[CountyID] [int] NOT NULL,
	[CountyName] [nvarchar](20) NOT NULL,
	[Area1] [int] NOT NULL,
	[Area2] [int] NOT NULL,
	[Area3] [int] NOT NULL,
	[Area4] [int] NOT NULL,
	[Area5] [int] NOT NULL,
	[Area6] [int] NOT NULL,
	[Area7] [int] NOT NULL,
	[Area8] [int] NOT NULL,
	[Area9] [int] NOT NULL,
	[Area10] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_CountArea]  DEFAULT ((0)) FOR [Area1]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area2]  DEFAULT ((0)) FOR [Area2]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area3]  DEFAULT ((0)) FOR [Area3]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area4]  DEFAULT ((0)) FOR [Area4]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area5]  DEFAULT ((0)) FOR [Area5]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area6]  DEFAULT ((0)) FOR [Area6]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area7]  DEFAULT ((0)) FOR [Area7]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area8]  DEFAULT ((0)) FOR [Area8]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area9]  DEFAULT ((0)) FOR [Area9]
GO
ALTER TABLE [dbo].[DWH_BreakdownList] ADD  CONSTRAINT [DF_DWH_BreakdownList_Area10]  DEFAULT ((0)) FOR [Area10]
GO
