USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_SectorCase]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_SectorCase](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sector_id] [int] NULL,
	[case_id] [int] NULL,
 CONSTRAINT [PK_Case_SectorCase] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Case_SectorCase]    Script Date: 14/04/2022 13:23:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Case_SectorCase] ON [dbo].[Case_SectorCase]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case_SectorCase]  WITH CHECK ADD  CONSTRAINT [FK_Case_SectorCase_Case_Sectors] FOREIGN KEY([sector_id])
REFERENCES [dbo].[Case_Sectors] ([id])
GO
ALTER TABLE [dbo].[Case_SectorCase] CHECK CONSTRAINT [FK_Case_SectorCase_Case_Sectors]
GO
ALTER TABLE [dbo].[Case_SectorCase]  WITH CHECK ADD  CONSTRAINT [FK_Case_SectorCase_Cases] FOREIGN KEY([case_id])
REFERENCES [dbo].[Cases] ([id])
GO
ALTER TABLE [dbo].[Case_SectorCase] CHECK CONSTRAINT [FK_Case_SectorCase_Cases]
GO
