USE [Cabs_Live]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetParent]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetParent] (@parent_id INT)
    RETURNS VARCHAR(255)
AS
BEGIN
	DECLARE @sReturnValue VARCHAR(255)
	DECLARE @stemp VARCHAR(255)
	DECLARE @parentIDVal int

    SELECT @stemp = REPLACE([name], '(dis)', ''), @parentIDVal = parent_id
    FROM   dbo.Case_Category_Internal
    WHERE  id = @parent_id

	SET @sReturnValue = @stemp

	IF (@parentIDVal IS NULL)
	BEGIN
		RETURN @sReturnValue
	END
	ELSE
	BEGIN
		SELECT @stemp = dbo.fnGetParent(@parentIDVal)
		SET @sReturnValue=@stemp + ', ' + @sReturnValue
	END

	RETURN @sReturnValue

END

GO
