USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[RPTS_CMS_05_GetMultipleHandlersCasesCountByDate]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mariana Vilau
-- Create date: 06/02/2012
-- Description:	Return the number of how many cases are handled by more than 3 users
-- =============================================
CREATE PROCEDURE [dbo].[RPTS_CMS_05_GetMultipleHandlersCasesCountByDate]
	@startDate datetime,
	@endDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	select 
	a.[Handlers] [Multiple handlers],
	count(a.[Handlers]) [Multiple handlers count]
	from
	(select 
		c.id,
		count(ch1.caseid) [Handlers]
	from Cases c
	inner join
	(select distinct ch.caseid,	
					ch.newValue,
					(select top(1) ch1.changeDateTime from dbo.Case_History ch1 where ch.caseid = ch1.caseid and ch1.field_name = 'Status Updated' and ch1.newValue = 'Resolved' order by ch1.changeDateTime desc) as [Resolved Date],
					c1.creation_date
	from Case_History ch
	inner join cases c1 on c1.id = ch.caseid
	where ch.field_name = 'Assign To Updated' or ch.field_name = 'Resolved By') ch1 on c.id = ch1.caseid 
	and
	((ch1.creation_date >= @startdate and ch1.creation_date < @enddate + 1)
		or
	(ch1.[Resolved Date] >= @startdate and ch1.[Resolved Date] < @enddate + 1))
	group by c.id having count(ch1.caseid) > 2) a
	group by a.[Handlers]
	order by a.[Handlers] 

END
GO
