USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[RoofSign_Answers]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoofSign_Answers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[OperateOwnVehicle] [nvarchar](10) NULL,
	[VehicleLicenceNo] [nvarchar](50) NULL,
	[AffiliatedDO] [nvarchar](10) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[InterestedReceivingInfo] [nvarchar](10) NULL,
	[AreaStickerOwnUseAgreed] [nvarchar](10) NULL,
	[DispatchStickerByPostAgreed] [nvarchar](10) NULL
) ON [PRIMARY]
GO
