USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[RPTS_CMS_03_GetCasesResolvedAfterReviewDate]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mariana Vilau
-- Create date: 02/02/2012
-- Description:	Return the cases not resolved within review date
-- =============================================
CREATE PROCEDURE [dbo].[RPTS_CMS_03_GetCasesResolvedAfterReviewDate]
	@startDate datetime,
	@endDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	select 
	c1.id [Ref. No],	
	DateDiff(day, cast(CONVERT(varchar(10), c1.creation_date, 112) AS datetime),cast(CONVERT(varchar(10), isnull(c2.[ClosedDate], getDate()), 112) AS datetime)) - DateDiff(week, cast(CONVERT(varchar(10), c1.creation_date, 112) AS datetime),cast(CONVERT(varchar(10), isnull(c2.[ClosedDate], getDate()), 112) AS datetime))*2 [Turnaround time],
	Datediff(day,cast(CONVERT(varchar(10), c1.nextreviewdate, 112) AS datetime), cast(CONVERT(varchar(10), isnull(c2.[ClosedDate], getDate()), 112) AS datetime)) - Datediff(week, cast(CONVERT(varchar(10), c1.nextreviewdate, 112) AS datetime), cast(CONVERT(varchar(10), isnull(c2.[ClosedDate], getDate()), 112) AS datetime)) *2 [Charter target],	
	c1.creation_date [Created Date],
	c2.[ClosedDate] [Closed Date],
	c1.nextreviewdate [Review Date],
	c1.createdBy [Opened by],
	isnull(c2.[Closed By],'') [Closed By],
	isnull(a.Handled, '') as [Handled by],
	cm.name [Category],
	sc.name [Subcategory]
	from
	cases c1
	left join
	(select c.id,
	(select top(1) ch.changeDateTime from case_history ch where ch.caseid = c.id and ch.field_name = 'Resolved By' order by ch.changeDateTime desc) [ClosedDate],
	(select top(1) ch.newValue from case_history ch where ch.caseid = c.id and ch.field_name = 'Resolved By' order by ch.changeDateTime desc) [Closed By]
	from
	cases c) [c2]
	on c1.id = c2.id 
	left join 
	(Select 
		Main.caseid, 
		Left(Main.Handled,Len(Main.Handled)-1)   as handled
		From
		(Select 
			distinct ch2.caseid, 
			(Select ch1.newValue + ',' AS [text()] From dbo.Case_History ch1 Where ch1.caseid = ch2.caseid and (ch1.field_name = 'Assign To Updated' or ch1.field_name = 'Resolved By')
			ORDER BY ch1.caseid
			For XML PATH ('')) [Handled]
			From dbo.Case_History ch2) [Main]) a on c1.id = a.caseID
	left join dbo.Case_Category_Internal cm 
	on dbo.fnGetMainParentId(c1.category_id) = cm.id 
	left join dbo.Case_Category_Internal sc 
	on sc.id = dbo.fnGetFirstChildId(c1.category_id)
	where 
	(Datediff(day,cast(CONVERT(varchar(10), c1.nextreviewdate, 112) AS datetime), cast(CONVERT(varchar(10), isnull(c2.[ClosedDate], getDate()), 112) AS datetime)) - Datediff(week, cast(CONVERT(varchar(10), c1.nextreviewdate, 112) AS datetime), cast(CONVERT(varchar(10), isnull(c2.[ClosedDate], getDate()), 112) AS datetime)) *2 ) > 0
    and (DateDiff(day, cast(CONVERT(varchar(10), c1.creation_date, 112) AS datetime),cast(CONVERT(varchar(10), isnull(c2.[ClosedDate], getDate()), 112) AS datetime)) - DateDiff(week, cast(CONVERT(varchar(10), c1.creation_date, 112) AS datetime),cast(CONVERT(varchar(10), isnull(c2.[ClosedDate], getDate()), 112) AS datetime))*2) > 0 
	and 
	((c1.creation_date >= @startdate and c1.creation_date < @enddate + 1)
	or
	(c2.[ClosedDate] >= @startdate and c2.[ClosedDate] < @enddate + 1))
	order by c1.creation_date
END
GO
