USE [Cabs_Live]
GO
/****** Object:  UserDefinedFunction [dbo].[fnShouldShowCase]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnShouldShowCase] (@caseID INT, @userID uniqueidentifier)
    RETURNS int
AS
BEGIN 
declare @result int

--get the main cat ID 
declare @catID int
select @catID = dbo.fnGetFirstChildId(category_id) from dbo.Cases c 
where id = @caseID


select @result = count(*) from dbo.CaseTeamView c
inner join dbo.Case_TeamUsers tu on tu.team_id = c.CaseTeamId and tu.[user_id] = @userID
where CaseCategoryId = @catID

 
RETURN @result  
end





GO
