USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[RPTS_DriverRenewalsIssued]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mariana Vilau
-- Create date: 03/06/2012
-- Description:	Return the cases not resolved within review date
-- =============================================
CREATE PROCEDURE [dbo].[RPTS_DriverRenewalsIssued]
	@StartDate datetime = NULL,
	@EndDate datetime = NULL,
	@GardaArea int = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @CurrentDate datetime

	set @CurrentDate = cast(CONVERT(varchar(10), getdate(), 112) AS datetime)
	if(@StartDate is null)
		set @StartDate = DateAdd(day, -7, @CurrentDate)
	if(@EndDate is null)
		set @EndDate = @CurrentDate

	SELECT distinct l.LicenceNumber [Licence No],
	CONVERT(VARCHAR(10), l.LicenceExpiryDate, 103) [Expiry Date],
	lh.HolderName [Name],
	isnull(lh.AddressLine1,'') + ' ' +isnull(lh.AddressLine2,'') + ' ' + isnull(lh.AddressLine3,'') + ' ' +
	isnull(lh.Town,'') + ' ' + isnull(' ' + lh.PostCode,'') [Address],
	gd.GardaDivisionName [Garda Division],
	(SELECT distinct CAST(c.CountyName + ' ' AS VARCHAR(MAX)) 
			 FROM dbo.County 
			inner join dbo.DriverCounty dc on dc.LicenceNumber = l.LicenceNumber
			inner join dbo.County c on c.CountyID = dc.CountyID
			 WHERE (c.CountyID = dc.CountyID and dc.LicenceNumber = l.LicenceNumber and dc.CountyID = dc.PrimaryCounty) 
			 FOR XML PATH ('')
		  ) [Primary Area],
	isnull((SELECT distinct CAST(c.CountyName + ' ' AS VARCHAR(MAX)) 
			 FROM dbo.County 
			inner join dbo.DriverCounty dc on dc.LicenceNumber = l.LicenceNumber
			inner join dbo.County c on c.CountyID = dc.CountyID
			 WHERE (c.CountyID = dc.CountyID and dc.LicenceNumber = l.LicenceNumber and dc.CountyID <> dc.PrimaryCounty) 
			 FOR XML PATH ('')
		  ),'') [Additional Areas]

	from dbo.LicenceMaster l
	inner join dbo.LicenceHolderMaster lh on l.LicenceHolderId = lh.LicenceHolderId
	inner join dbo.GardaDivision gd on gd.GardaDivisionID = lh.GardaDivisionID
	inner join dbo.DriverCounty dc on dc.LicenceNumber = l.LicenceNumber
	inner join dbo.County c on c.CountyID = dc.CountyID
	inner join dbo.TransactionAuditLog tal on tal.LicenceNumber = l.LicenceNumber

	where
	(
	 tal.TransactionAuditTypeID=4

	and 
		AuditDateTime >= @StartDate and AuditDateTime < @EndDate
	)
	and (lh.GardaDivisionID=@GardaArea or @GardaArea is null)
	order by gd.Gardadivisionname

end
GO
