USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_Documents]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_Documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[savedfilename] [nvarchar](250) NULL,
	[realfilename] [nvarchar](250) NULL,
	[case_id] [int] NULL,
	[create_date] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Case_Documents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case_Documents]  WITH CHECK ADD  CONSTRAINT [FK_Case_Documents_Cases] FOREIGN KEY([case_id])
REFERENCES [dbo].[Cases] ([id])
GO
ALTER TABLE [dbo].[Case_Documents] CHECK CONSTRAINT [FK_Case_Documents_Cases]
GO
