USE [Cabs_Live]
GO
/****** Object:  View [dbo].[ALL]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ALL]
AS
SELECT     l.LicenceNumber, l.LicenceIssueDate, l.LicenceExpiryDate, l.RemainingLicenceValidityDays, l.Comments, l.WatchList, lh.Ppsn, lh.HolderName, lh.TitleID, 
                      lh.FirstName, lh.LastName, lh.DateOfBirth, lh.AddressLine1, lh.AddressLine2, lh.AddressLine3, c.CountyName AS County, lh.Town, lh.CountyID, lh.GardaDivisionID, 
                      lh.PostCode, lh.PhoneNo1, lh.ContactNumberFax, lh.PhoneNo2, lh.Email, lh.TaxClearanceNumber, lh.TaxClearanceExpiryDate, lh._6DigitCode, lh.DeceasedYn, 
                      gd.GardaDivisionName, dcc.CountyName AS [Primary Area], lh.Ccsn, lsm.LicenceStateMaster
FROM         dbo.LicenceMaster AS l INNER JOIN
                      dbo.LicenceHolderMaster AS lh ON l.LicenceHolderId = lh.LicenceHolderId INNER JOIN
                      dbo.LicenceStateMaster AS lsm ON l.LicenceStateMasterID = lsm.LicenceStateMasterID INNER JOIN
                      dbo.GardaDivision AS gd ON lh.GardaDivisionID = gd.GardaDivisionID INNER JOIN
                      dbo.DriverCounty AS dc ON l.LicenceNumber = dc.LicenceNumber AND dc.CountyID = dc.PrimaryCounty INNER JOIN
                      dbo.County AS dcc ON dc.CountyID = dcc.CountyID INNER JOIN
                      dbo.County AS c ON lh.CountyID = c.CountyID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "l"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 260
            End
            DisplayFlags = 280
            TopColumn = 14
         End
         Begin Table = "lh"
            Begin Extent = 
               Top = 6
               Left = 298
               Bottom = 114
               Right = 497
            End
            DisplayFlags = 280
            TopColumn = 28
         End
         Begin Table = "lsm"
            Begin Extent = 
               Top = 6
               Left = 535
               Bottom = 114
               Right = 720
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "gd"
            Begin Extent = 
               Top = 6
               Left = 758
               Bottom = 114
               Right = 930
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "dc"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "dcc"
            Begin Extent = 
               Top = 114
               Left = 228
               Bottom = 222
               Right = 379
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 114
               Left = 417
               Bottom = 222
               Right = 568
            End
            DisplayFlags = 280
            TopColumn = 3
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ALL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ALL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ALL'
GO
