USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[TaxiReg_Orders]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxiReg_Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RealexRefNo] [nvarchar](50) NULL,
	[OrderDate] [datetime] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [money] NULL,
	[TransactionStatus] [nvarchar](100) NULL,
	[RequestWebSite] [nvarchar](100) NULL,
	[DriverLicenceNo] [nvarchar](50) NULL,
	[AreaSignsRequested] [nvarchar](max) NULL,
	[PaymentType] [nvarchar](100) NULL,
	[RefNo] [nvarchar](50) NULL,
	[PrintRequestMasterID] [int] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[IP] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaxiReg_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
