USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Cases]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[casetype] [nvarchar](50) NULL,
	[title] [nvarchar](250) NULL,
	[body] [nvarchar](max) NULL,
	[category_id] [int] NULL,
	[parent_category_name] [nvarchar](100) NULL,
	[type_id] [int] NULL,
	[visibility_id] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
	[creation_date] [datetime] NULL,
	[createdBy] [nvarchar](250) NULL,
	[severity_id] [int] NULL,
	[team_id] [int] NULL,
	[field1] [nvarchar](250) NULL,
	[field2] [nvarchar](250) NULL,
	[field3] [nvarchar](250) NULL,
	[progressStatus_id] [int] NULL,
	[progressSubstatus_id] [int] NULL,
	[assignedTo] [uniqueidentifier] NULL,
	[nextreviewdate] [datetime] NULL,
	[source] [nvarchar](50) NULL,
	[raisedby_title] [nvarchar](50) NULL,
	[raisedby_firstname] [nvarchar](100) NULL,
	[raisedby_surname] [nvarchar](100) NULL,
	[raisedby_address] [nvarchar](450) NULL,
	[raisedby_county] [nvarchar](50) NULL,
	[raisedby_contactno1] [nvarchar](50) NULL,
	[raisedby_contactno2] [nvarchar](50) NULL,
	[raisedby_emailaddress] [nvarchar](100) NULL,
	[driver_licenceno] [nvarchar](50) NULL,
	[vehicle_licenceno] [nvarchar](50) NULL,
	[do_licenceno] [nvarchar](50) NULL,
	[oldcategory_id] [int] NULL,
	[isParent] [bit] NOT NULL,
	[parentId] [int] NULL,
	[case_complaint_extensionFK] [int] NULL,
	[case_resolutionFK] [int] NULL,
	[case_countyFK] [int] NULL,
	[linkedSkillsCandidate] [varchar](128) NULL,
	[linkedDriver] [varchar](128) NULL,
	[linkedVehicle] [varchar](128) NULL,
	[Case_Outcome] [int] NULL,
 CONSTRAINT [PK_Cases] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-Cases]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-Cases] ON [dbo].[Cases]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cases] ADD  CONSTRAINT [DF_Cases_IsParent]  DEFAULT ((0)) FOR [isParent]
GO
ALTER TABLE [dbo].[Cases]  WITH CHECK ADD FOREIGN KEY([Case_Outcome])
REFERENCES [dbo].[Case_Outcome] ([Id])
GO
ALTER TABLE [dbo].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_CaseComplaintExtension] FOREIGN KEY([case_complaint_extensionFK])
REFERENCES [dbo].[CaseComplaintExtension] ([id])
GO
ALTER TABLE [dbo].[Cases] CHECK CONSTRAINT [FK_Cases_CaseComplaintExtension]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Whether case is parent' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cases', @level2type=N'COLUMN',@level2name=N'isParent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parent id for linking' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cases', @level2type=N'COLUMN',@level2name=N'parentId'
GO
