USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[VehicleMaster]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleMaster](
	[VehicleId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RegNumber] [varchar](10) NOT NULL,
	[VehicleAge]  AS (datediff(year,[RegistrationDateIreland],getdate())),
	[ModelID] [smallint] NOT NULL,
	[BodyTypeID] [tinyint] NOT NULL,
	[FuelTypeID] [tinyint] NOT NULL,
	[ColourID] [tinyint] NOT NULL,
	[VIN] [varchar](22) NOT NULL,
	[EngineCapacity] [smallint] NOT NULL,
	[TurboDieselYn] [bit] NOT NULL,
	[NumberPassengers] [tinyint] NOT NULL,
	[NumberSeats] [tinyint] NOT NULL,
	[NumberDoors] [tinyint] NOT NULL,
	[YearOfManufacture] [smallint] NOT NULL,
	[RegistrationDateOrigin] [datetime] NOT NULL,
	[RegistrationDateIreland] [datetime] NOT NULL,
	[VrtVehicleCategory] [varchar](20) NOT NULL,
	[NctSerialNumber] [nvarchar](20) NULL,
	[NctIssueDate] [datetime] NULL,
	[NctExpiryDate] [datetime] NULL,
	[InsuranceCertNumber] [nvarchar](20) NOT NULL,
	[InsuranceExpiryDate] [datetime] NOT NULL,
	[InsuranceCompanyId] [tinyint] NOT NULL,
	[InsuranceClassCorrect] [bit] NOT NULL,
	[TypeApprovalNumber] [varchar](20) NULL,
	[TypeApprovalCategory] [varchar](20) NULL,
	[PermissibleMassGvw] [smallint] NULL,
	[SimiCode] [nvarchar](20) NULL,
	[MileageReading] [int] NULL,
	[ExcessWindowTint] [bit] NOT NULL,
	[CreatedBy] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[InsuranceCertLastName] [nvarchar](20) NULL,
	[InsuranceCertFirstName] [nvarchar](20) NULL,
 CONSTRAINT [PK_VEHICLES] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_TurboDieselYn]  DEFAULT ((0)) FOR [TurboDieselYn]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_InsuranceClassCorrect]  DEFAULT ((0)) FOR [InsuranceClassCorrect]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_ExcessWindowTint]  DEFAULT ((0)) FOR [ExcessWindowTint]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[VehicleMaster]  WITH CHECK ADD  CONSTRAINT [FK_VehicleBodyType] FOREIGN KEY([BodyTypeID])
REFERENCES [dbo].[VehicleBodyType] ([BodyTypeID])
GO
ALTER TABLE [dbo].[VehicleMaster] CHECK CONSTRAINT [FK_VehicleBodyType]
GO
ALTER TABLE [dbo].[VehicleMaster]  WITH CHECK ADD  CONSTRAINT [FK_VehicleColour] FOREIGN KEY([ColourID])
REFERENCES [dbo].[VehicleColour] ([ColourID])
GO
ALTER TABLE [dbo].[VehicleMaster] CHECK CONSTRAINT [FK_VehicleColour]
GO
ALTER TABLE [dbo].[VehicleMaster]  WITH CHECK ADD  CONSTRAINT [FK_VehicleFuelTypeCode] FOREIGN KEY([FuelTypeID])
REFERENCES [dbo].[VehicleFuelTypes] ([FuelTypeID])
GO
ALTER TABLE [dbo].[VehicleMaster] CHECK CONSTRAINT [FK_VehicleFuelTypeCode]
GO
ALTER TABLE [dbo].[VehicleMaster]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMaster_InsuranceCompany] FOREIGN KEY([InsuranceCompanyId])
REFERENCES [dbo].[_toDrop_InsuranceCompany] ([InsuranceCompanyId])
GO
ALTER TABLE [dbo].[VehicleMaster] CHECK CONSTRAINT [FK_VehicleMaster_InsuranceCompany]
GO
ALTER TABLE [dbo].[VehicleMaster]  WITH CHECK ADD  CONSTRAINT [FK_VehicleModel] FOREIGN KEY([ModelID])
REFERENCES [dbo].[VehicleModel] ([ModelID])
GO
ALTER TABLE [dbo].[VehicleMaster] CHECK CONSTRAINT [FK_VehicleModel]
GO
