USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_CategoryDefaultUser]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_CategoryDefaultUser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[defaultUser] [uniqueidentifier] NULL,
	[defaultTeam] [int] NULL,
 CONSTRAINT [PK_Case_CategoryDefaultUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case_CategoryDefaultUser]  WITH CHECK ADD  CONSTRAINT [FK_Case_CategoryDefaultUser_Case_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Case_Category_Internal] ([id])
GO
ALTER TABLE [dbo].[Case_CategoryDefaultUser] CHECK CONSTRAINT [FK_Case_CategoryDefaultUser_Case_Category]
GO
