USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_TeamUsers]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_TeamUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[team_id] [int] NULL,
	[userLevel_id] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Case_TeamUsers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case_TeamUsers]  WITH CHECK ADD  CONSTRAINT [FK_Case_TeamUsers_Case_Team] FOREIGN KEY([team_id])
REFERENCES [dbo].[Case_Team] ([id])
GO
ALTER TABLE [dbo].[Case_TeamUsers] CHECK CONSTRAINT [FK_Case_TeamUsers_Case_Team]
GO
ALTER TABLE [dbo].[Case_TeamUsers]  WITH CHECK ADD  CONSTRAINT [FK_Case_TeamUsers_Case_UserLevel] FOREIGN KEY([userLevel_id])
REFERENCES [dbo].[Case_UserLevel] ([id])
GO
ALTER TABLE [dbo].[Case_TeamUsers] CHECK CONSTRAINT [FK_Case_TeamUsers_Case_UserLevel]
GO
