USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[sch_GetCasesComplienceOfficer]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sch_GetCasesComplienceOfficer]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
		   SELECT distinct
			   am.Email,count(cs.assignedTo) as TotalCases,cs.assignedTo,ud.FullName as UserName ,
			   STUFF((SELECT ',' + CONVERT(varchar, c.id)
					  FROM cases c
					  WHERE c.assignedTo = am.UserId  and
						 c.team_id=6 and c.assignedTo is not null and c.progressStatus_id in (1,2)
					  FOR XML PATH('')), 1, 1, '') as caseIds  
			FROM cases cs 
			join cabs_production.dbo.aspnet_Membership am On am.UserId=cs.assignedTo
			join cabs_production.dbo.aspnet_Users u On am.UserId=u.UserId
			join cabs_production.cabs_cmo.UserDetails ud On u.UserId=ud.UserID
			where cs.team_id=6 and cs.assignedTo is not null and cs.progressStatus_id in (1,2)
			GROUP BY cs.assignedTo, am.Email, am.UserId,ud.FullName
			ORDER BY 1


			Select 	count(c.assignedTo) as leftreviewCase,				
					am.Email,c.assignedTo
			from cases c 
			join cabs_production.dbo.aspnet_Membership am On c.assignedTo=am.UserId
			where
				 c.team_id=6 and c.assignedTo is not null and c.nextreviewdate<getdate()
				 and c.progressStatus_id in (1,2)
			group by c.assignedTo, am.Email
			order by am.Email
	
END











GO
