USE [Cabs_Live]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetChildAdv]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetChildAdv] ( @parentId INT )
RETURNS @ListofIDs TABLE ( [IntValue] INT )
AS
BEGIN
	DECLARE @currentId int
	SET @currentId = @parentId

	--PRINT @currentId;
	WHILE (SELECT TOP(1) parent_id FROM dbo.Case_Category_Internal WHERE id = @currentId) IS NOT NULL
	BEGIN
		--INSERT INTO @ListofIDs VALUES (@currentId);
		SET @currentId = (SELECT TOP(1) parent_id FROM dbo.Case_Category_Internal WHERE id = @currentId)
		INSERT INTO @ListofIDs VALUES (@currentId)
		--PRINT @currentId;
	END
	RETURN
END;


GO
