USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[SupportCases]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportCases](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PPSN] [varchar](10) NOT NULL,
	[CallDate] [datetime] NULL,
	[LastUpdateDate] [datetime] NULL,
	[AbtranRefNo] [nvarchar](20) NULL,
	[FirstName] [nvarchar](30) NULL,
	[SurName] [nvarchar](30) NULL,
	[Address1] [nvarchar](30) NULL,
	[Address2] [nvarchar](30) NULL,
	[County] [nvarchar](30) NULL,
	[AssignedTo] [nvarchar](50) NULL,
	[CallOvercome] [nvarchar](50) NULL,
	[CallStatus] [nvarchar](50) NULL,
	[CallType] [nvarchar](50) NULL,
 CONSTRAINT [PK_SupportCases] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SupportCases]  WITH CHECK ADD  CONSTRAINT [FK_SupportCases_SupportCases] FOREIGN KEY([ID])
REFERENCES [dbo].[SupportCases] ([ID])
GO
ALTER TABLE [dbo].[SupportCases] CHECK CONSTRAINT [FK_SupportCases_SupportCases]
GO
