USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[RPTS_CMS_01_GetCountCasesByCategoryByDate]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mariana Vilau
-- Create date: 31/01/2012
-- Description:	Return number of cases received/added by category, for specified dates.
-- =============================================
CREATE PROCEDURE [dbo].[RPTS_CMS_01_GetCountCasesByCategoryByDate]
	@startDate datetime,
	@endDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	select 
	dbo.fnIsCaseFromLicenceHolder(c.id) as [Holder Status],
	cm.name [Category],
	sc.name [Subcategory],
	count(*) as [Count]
	from cases c
	left join dbo.Case_Category_Internal cm 
	on dbo.fnGetMainParentId(c.category_id) = cm.id 
	left join dbo.Case_Category_Internal sc 
	on sc.id = dbo.fnGetFirstChildId(c.category_id)
	where c.creation_date >= @startDate and c.creation_date < @endDate + 1
	group by dbo.fnIsCaseFromLicenceHolder(c.id),cm.name,sc.name
	order by [Holder Status],cm.name,sc.name
END
GO
