USE [Cabs_Live]
GO
/****** Object:  View [dbo].[vlkAuditItems]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create view [dbo].[vlkAuditItems] as select * from [cabs_production].[cabs_enf].[lkAuditItem]
GO
