USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[PrintRequestMaster]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintRequestMaster](
	[PrintRequestMasterId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PrintRequestReasonId] [tinyint] NOT NULL,
	[BatchId] [varchar](50) NULL,
	[LetterRequestTypeId] [tinyint] NOT NULL,
	[PrintRequestStatusId] [tinyint] NOT NULL,
	[Ccsn] [varchar](10) NULL,
	[LicenceNumber] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](25) NOT NULL,
	[LastName] [nvarchar](25) NOT NULL,
	[DriverAddress1] [nvarchar](35) NOT NULL,
	[DriverAddress2] [nvarchar](35) NULL,
	[DriverAddress3] [nvarchar](35) NULL,
	[DriverCounty] [nvarchar](20) NOT NULL,
	[DriverPostCode] [varchar](10) NULL,
	[DeliveryDestinationId] [tinyint] NOT NULL,
	[ExpiryDate] [varchar](20) NOT NULL,
	[LicenceHolderImage] [image] NOT NULL,
	[DespatchMethodId] [tinyint] NULL,
	[DespatchDate] [datetime] NULL,
	[TrackingNumber] [varchar](50) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[PrintRequestStatusMessage] [varchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[TaxClearanceStatus] [varchar](50) NULL,
	[TaxClearanceName] [nvarchar](100) NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceExpiryDate] [datetime] NULL,
	[LetterRequestTypeVLAuditId] [int] NULL,
	[Ppsn] [varchar](20) NULL,
	[Town] [nvarchar](50) NULL,
	[AreaOfOperation] [nvarchar](20) NULL,
	[LicenceExpiryDate] [datetime] NULL,
	[LicensedAreas] [varchar](512) NULL,
	[GardaArea] [varchar](100) NULL,
	[HolderName] [varchar](100) NULL,
	[SPSVRegistrationNumber] [nvarchar](10) NULL,
	[SPSVRegistrationUrl] [nvarchar](2000) NULL,
	[LicenceStatus] [nvarchar](100) NULL,
	[VehicleLicenceNumber] [nvarchar](100) NULL,
	[VehicleRegistrationNumber] [nvarchar](100) NULL,
	[LinkStartDate] [nvarchar](100) NULL,
	[LinkEndDate] [nvarchar](100) NULL,
	[LinkMethod] [nvarchar](100) NULL,
	[DriverLicenceHolderId] [int] NULL,
	[RentalStartDate] [nvarchar](100) NULL,
	[RentalEndDate] [nvarchar](100) NULL,
	[RentalMethod] [nvarchar](100) NULL,
	[SPSVWebUrl] [nvarchar](100) NULL,
	[SPSVEmailHtml] [nvarchar](max) NULL,
	[SPSVEmailItemId] [int] NULL,
	[HistoricalVehicleLicenceNumber] [nvarchar](50) NULL,
	[SPSVSmsMessage] [nvarchar](max) NULL,
	[SPSVSmsItemId] [int] NULL,
	[SPSVSmsPhoneNumber] [nvarchar](50) NULL,
	[TaxClearanceCertExists] [bit] NULL,
	[TaxClearanceLastCheckDate] [datetime] NULL,
 CONSTRAINT [PK_PrintRequestMaster] PRIMARY KEY CLUSTERED 
(
	[PrintRequestMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintRequestMaster_1]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [IX_PrintRequestMaster_1] ON [dbo].[PrintRequestMaster]
(
	[DriverLicenceHolderId] ASC
)
INCLUDE([PrintRequestMasterId],[DespatchMethodId],[DespatchDate],[CreatedDate],[LetterRequestTypeVLAuditId],[VehicleLicenceNumber],[VehicleRegistrationNumber]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintRequestMaster_Reports1]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [IX_PrintRequestMaster_Reports1] ON [dbo].[PrintRequestMaster]
(
	[LetterRequestTypeVLAuditId] ASC,
	[DriverLicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_DriverAddress2]  DEFAULT ('') FOR [DriverAddress2]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_DriverAddress3]  DEFAULT ('') FOR [DriverAddress3]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_DriverPostCode]  DEFAULT ('') FOR [DriverPostCode]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_DespatchMethodId]  DEFAULT ((0)) FOR [DespatchMethodId]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_TrackingNumber]  DEFAULT ('') FOR [TrackingNumber]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  CONSTRAINT [DF_PrintRequestMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  DEFAULT ('') FOR [LicensedAreas]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  DEFAULT ('') FOR [GardaArea]
GO
ALTER TABLE [dbo].[PrintRequestMaster] ADD  DEFAULT ('') FOR [HolderName]
GO
ALTER TABLE [dbo].[PrintRequestMaster]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMaster_LetterRequestType] FOREIGN KEY([LetterRequestTypeId])
REFERENCES [dbo].[LetterRequestType] ([LetterRequestTypeId])
GO
ALTER TABLE [dbo].[PrintRequestMaster] CHECK CONSTRAINT [FK_PrintRequestMaster_LetterRequestType]
GO
ALTER TABLE [dbo].[PrintRequestMaster]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMaster_PrintRequestReason] FOREIGN KEY([PrintRequestReasonId])
REFERENCES [dbo].[PrintRequestReason] ([PrintRequestReasonId])
GO
ALTER TABLE [dbo].[PrintRequestMaster] CHECK CONSTRAINT [FK_PrintRequestMaster_PrintRequestReason]
GO
ALTER TABLE [dbo].[PrintRequestMaster]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMaster_PrintRequestStatus] FOREIGN KEY([PrintRequestStatusId])
REFERENCES [dbo].[PrintRequestStatus] ([PrintRequestStatusId])
GO
ALTER TABLE [dbo].[PrintRequestMaster] CHECK CONSTRAINT [FK_PrintRequestMaster_PrintRequestStatus]
GO
