USE [Cabs_Live]
GO
/****** Object:  View [dbo].[vw_LicenceMasterVL]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_LicenceMasterVL] as select 
   lhm.Ccsn,
   m.Make,
   ml.Model,
      lt.[LicenceType]
      ,lt.[LicenceCategoryId]
      ,lt.[NewLicenceFeeId]
      ,lt.[AllowNewLicence]
      ,lt.[Active]
      ,lt.[LicenceTypeShortCode]
      ,lt.[MaxVehicleAgeYears], 
      lm.*
       from Cabs_Production.dbo.LicenceMasterVL lm
inner join Cabs_Production.dbo.LicenceType lt on lm.LicenceTypeId = lt.LicenceTypeId 
inner join Cabs_Production.dbo.LicenceHolderMaster lhm on lm.LicenceHolderId = lhm.LicenceHolderId
INNER JOIN Cabs_Production.dbo.VehicleMaster vm ON lm.RegistrationNumber = vm.RegistrationNumber
LEFT JOIN Cabs_Production.dbo.VehicleMake m ON vm.MakeId = m.MakeId 
LEFT JOIN Cabs_Production.dbo.VehicleModel ml ON m.MakeId = ml.MakeId AND vm.ModelId = ml.ModelId
GO
