USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[FinesAudit]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinesAudit](
	[ID] [int] NOT NULL,
	[FineTypeID] [int] NOT NULL,
	[FineDateTime] [datetime] NOT NULL,
	[IssueTime] [nvarchar](8) NOT NULL,
	[FineIncidentDate] [datetime] NOT NULL,
	[FineArea] [int] NULL,
	[FineAmount] [decimal](18, 2) NOT NULL,
	[FinePaymentDate] [datetime] NOT NULL,
	[FinePaid] [bit] NOT NULL,
	[FinePaidDate] [datetime] NULL,
	[FineStatusID] [int] NOT NULL,
	[FineNotes] [nvarchar](max) NULL,
	[EnforcementOfficer] [int] NULL,
	[DocketRefNo] [nvarchar](50) NOT NULL,
	[LicenceHolderID] [int] NOT NULL,
	[Licence_Nbr] [nvarchar](50) NULL,
	[Reg_Nbr] [nvarchar](50) NULL,
	[VehicleLicence] [nvarchar](50) NULL,
	[Prosecuted] [bit] NULL,
	[SummonsDate] [datetime] NULL,
	[CourtDate] [datetime] NULL,
	[CourtOutcome] [nvarchar](255) NULL,
	[isActive] [bit] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
	[Info_Licence_Nbr] [nvarchar](50) NULL,
	[Info_Reg_Nbr] [nvarchar](50) NULL,
	[EnforcementOfficerUID] [uniqueidentifier] NULL,
	[CountyId] [int] NULL,
	[FineClosureTypeId] [int] NOT NULL,
	[FineOriginalAmount] [decimal](18, 2) NOT NULL,
	[FinesAuditID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_FinesAuditId] PRIMARY KEY CLUSTERED 
(
	[FinesAuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
