USE [Cabs_Live]
GO
/****** Object:  View [dbo].[aspnet_UsersInRoles]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



  CREATE VIEW [dbo].[aspnet_UsersInRoles]
  AS SELECT *
  FROM [cabs_production].[dbo].[aspnet_UsersInRoles]



GO
