USE [Cabs_Live]
GO
/****** Object:  View [dbo].[vActiveDriversAt31_12_2017]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vActiveDriversAt31_12_2017] as
SELECT *
FROM [Cabs_Live].[dbo].[LicenceMaster]
where 
(
	[LicenceStateMasterID]=1
	or 
	[LicenceExpiryDate] between '2018-01-01' and getdate()
)
	and 
	CreatedDate<='2018-01-01'
	and 
	[LicenceNumber] not in 
	(
		SELECT 
		[LicenceNumber]
		FROM [Cabs_Live].[dbo].[TransactionAuditLog]
		where [FieldName]='Status' and [OldValue] like 'Inactive%' and [NewValue]='Active' and [AuditDateTime]>'2018-01-01'
	)

UNION ALL

SELECT *
FROM [Cabs_Live].[dbo].[LicenceMaster]
where 
	[LicenceNumber] in 
	(
		select [LicenceNumber] from [Cabs_Live].[dbo].[TransactionAuditLog]
		where 
		[FieldName]='Licence Status' and [OldValue] like 'Active' and [AuditDateTime]>='2018-01-01'
	)
GO
