USE [Cabs_Live]
GO
/****** Object:  UserDefinedFunction [dbo].[fnShouldShowCases]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnShouldShowCases]  (@caseID INT, @userID uniqueidentifier)
RETURNS @result TABLE ( Result INT )
AS
BEGIN
declare @catID int
select @catID = dbo.fnGetFirstChildId(category_id) from dbo.Cases c 
where id = @caseID

IF @catID is null
  BEGIN 
	  INSERT INTO @result
	  select COUNT(*)
	  from [dbo].[Case_Category_Internal] p
	  left join [dbo].[Case_Category_Internal] c
	  on p.id = c.parent_id
	  where p.active = 1 
	  and p.parent_id is  null
	  and c.id is null
	  RETURN
  END 
ELSE 
  BEGIN 
	INSERT INTO @result  
	select count(*) from dbo.CaseTeamView c
	inner join dbo.Case_TeamUsers tu on tu.team_id = c.CaseTeamId and tu.[user_id] = @userID
	where CaseCategoryId = @catID
	RETURN
  END 
  RETURN
END
GO
