USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[LicenceMaster]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceMaster](
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[LicenceTypeID] [int] NOT NULL,
	[LicenceHolderId] [int] NOT NULL,
	[LicenceIssueDate] [datetime] NOT NULL,
	[LicenceExpiryDate] [datetime] NOT NULL,
	[RemainingLicenceValidityDays]  AS (datediff(day,getdate(),[LicenceExpiryDate])),
	[GardaDivisionID] [int] NULL,
	[LicenceStateMasterID] [int] NOT NULL,
	[LicenceStateID] [int] NOT NULL,
	[VehicleId] [int] NULL,
	[RemainingTransfers] [tinyint] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Comments] [text] NULL,
	[WatchList] [bit] NULL,
	[ApplicationReceivedDate] [datetime] NULL,
 CONSTRAINT [PK_LICENCES] PRIMARY KEY CLUSTERED 
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_LicenceMaster_5_1394820031__K1_K8]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [_dta_index_LicenceMaster_5_1394820031__K1_K8] ON [dbo].[LicenceMaster]
(
	[LicenceNumber] ASC,
	[LicenceStateMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_LicenceHolderId]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [ix_LicenceHolderId] ON [dbo].[LicenceMaster]
(
	[LicenceHolderId] ASC
)
INCLUDE([LicenceExpiryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LicenceMaster]    Script Date: 14/04/2022 13:23:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LicenceMaster] ON [dbo].[LicenceMaster]
(
	[LicenceNumber] ASC,
	[LicenceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_LicenceSubStateCode]  DEFAULT ((0)) FOR [LicenceStateID]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_RemainingTransfers]  DEFAULT ((1)) FOR [RemainingTransfers]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderId] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceHolderId]
GO
ALTER TABLE [dbo].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_GardaDivision] FOREIGN KEY([GardaDivisionID])
REFERENCES [dbo].[GardaDivision] ([GardaDivisionID])
GO
ALTER TABLE [dbo].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_GardaDivision]
GO
ALTER TABLE [dbo].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[VehicleMaster] ([VehicleId])
GO
ALTER TABLE [dbo].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_VehicleId]
GO
