USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[DistributionListRecipient]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributionListRecipient](
	[LicenceHolderId] [int] NOT NULL,
	[DistributionListId] [tinyint] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DistributionListRecipient] PRIMARY KEY CLUSTERED 
(
	[LicenceHolderId] ASC,
	[DistributionListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DistributionListRecipient] ADD  CONSTRAINT [DF_DistributionListRecipient_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[DistributionListRecipient] ADD  CONSTRAINT [DF_DistributionListRecipient_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DistributionListRecipient] ADD  CONSTRAINT [DF_DistributionListRecipient_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[DistributionListRecipient] ADD  CONSTRAINT [DF_DistributionListRecipient_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[DistributionListRecipient]  WITH CHECK ADD  CONSTRAINT [FK_DistributionListRecipient_DistributionList] FOREIGN KEY([DistributionListId])
REFERENCES [dbo].[_toDrop_DistributionList] ([DistributionListId])
GO
ALTER TABLE [dbo].[DistributionListRecipient] CHECK CONSTRAINT [FK_DistributionListRecipient_DistributionList]
GO
ALTER TABLE [dbo].[DistributionListRecipient]  WITH CHECK ADD  CONSTRAINT [FK_DistributionListRecipient_LicenceHolderMaster] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[DistributionListRecipient] CHECK CONSTRAINT [FK_DistributionListRecipient_LicenceHolderMaster]
GO
