USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[USP_CheckIfPersonISCertified]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Dan Rusu>
-- Create date: <Create Date,22-09-2010>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_CheckIfPersonISCertified]
	-- Add the parameters for the stored procedure here
	@ppsn nvarchar(20),
	@firstName nvarchar(50),
	@lastName nvarchar(50)
AS
BEGIN
	select count(*) from [NTA-CABS2-DB2].[PMres].dbo.rcs 
where test_result = 'passed' and (test_code = 'spsv' or test_code='ikt')
and pps = @ppsn
END
GO
