USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[TransactionAuditType]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionAuditType](
	[TransactionAuditTypeID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransactionAuditType] [varchar](50) NOT NULL,
	[CreatedBy] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TransactionAuditType] PRIMARY KEY CLUSTERED 
(
	[TransactionAuditTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransactionAuditType] ADD  CONSTRAINT [DF_TransactionAuditType_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TransactionAuditType] ADD  CONSTRAINT [DF_TransactionAuditType_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TransactionAuditType] ADD  CONSTRAINT [DF_TransactionAuditType_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[TransactionAuditType] ADD  CONSTRAINT [DF_TransactionAuditType_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
