USE [Cabs_Live]
GO
/****** Object:  View [dbo].[vw_Check_Renewal_PrintRequestMasters]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






  CREATE VIEW [dbo].[vw_Check_Renewal_PrintRequestMasters]
  AS 

	 SELECT prm.LicenceNumber 
	 FROM [cabs_live].dbo.PrintRequestMaster prm
	 WHERE prm.CreatedDate > GetDate()-112
		   AND prm.LetterRequestTypeVLAuditId IN
								 (SELECT LetterRequestTypeAuditId from cabs_production.dbo.LetterRequestTypeVLAudit
								  WHERE LetterRequestTypeId = 37 )  --37	DL RENEWAL REMINDER LETTER





GO
