USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_Category_External]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_Category_External](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[parent_id] [int] NULL,
	[active] [bit] NULL,
	[internal_id] [int] NULL,
 CONSTRAINT [PK_Case_Category_External] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case_Category_External]  WITH NOCHECK ADD  CONSTRAINT [FK_Case_Category_External_Case_Category_Internal] FOREIGN KEY([id])
REFERENCES [dbo].[Case_Category_Internal] ([id])
GO
ALTER TABLE [dbo].[Case_Category_External] NOCHECK CONSTRAINT [FK_Case_Category_External_Case_Category_Internal]
GO
