USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[CandidateTest_SelectByPPSNAndSpsvEntryTests]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CandidateTest_SelectByPPSNAndSpsvEntryTests] @ppsn NVARCHAR(max)
AS
BEGIN
	SET NOCOUNT ON;
			
	SELECT	ct.ResultID AS ResultId
			,ct.CreatedOn
	FROM cabs_production.cabs_sk.CandidateTest ct
	JOIN cabs_production.cabs_sk.Booking b ON b.ID = ct.BookingID
	JOIN cabs_production.cabs_sk.candidate c ON c.ID = b.CandidateID
	JOIN cabs_production.cabs_sk.Test t ON ct.TestID = t.ID
	JOIN cabs_production.cabs_cmo.Person p ON p.ID = c.PersonID
		WHERE p.PPSN = @ppsn
		AND (t.AllowCertify = 1 OR t.IsGenericTest = 1)
END
GO
