USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_Parent_CategoryName]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_Parent_CategoryName](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_category_name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
