USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[DWH_LicenceHolderMaster]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_LicenceHolderMaster](
	[LicenceHolderURN] [int] NOT NULL,
	[CCSN] [nvarchar](50) NOT NULL,
	[Title_Cd] [nvarchar](50) NULL,
	[First_Nm] [nvarchar](50) NULL,
	[Last_Nm] [nvarchar](50) NULL,
	[Addr_1] [varchar](100) NULL,
	[Addr_2] [varchar](100) NULL,
	[Addr_3] [varchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[PostCode] [varchar](12) NULL,
	[County] [nvarchar](20) NULL,
	[Company_Number] [nvarchar](50) NULL,
	[Company] [nvarchar](100) NULL,
	[TradingAs] [varchar](100) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[Pps_Number] [nvarchar](50) NULL,
	[TaxClearanceNumber] [nvarchar](50) NULL,
	[TaxClearanceExpiryDate] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_DWH_LicenceHolderMaster] PRIMARY KEY CLUSTERED 
(
	[CCSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DWH_LicenceHolderMaster] ADD  CONSTRAINT [DF_DWH_LicenceHolderMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[DWH_LicenceHolderMaster] ADD  CONSTRAINT [DF_DWH_LicenceHolderMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DWH_LicenceHolderMaster] ADD  CONSTRAINT [DF_DWH_LicenceHolderMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[DWH_LicenceHolderMaster] ADD  CONSTRAINT [DF_DWH_LicenceHolderMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
