USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[HistoryChangeType]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryChangeType](
	[HistoryChangeID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HistoryChangeType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HistoryChangeType] PRIMARY KEY CLUSTERED 
(
	[HistoryChangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
