USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_ExpiringDrivers]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Rusu Dan
-- Create date: 15-Jul-2010
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_ExpiringDrivers 18

=============================================
*/
CREATE Procedure [dbo].[USP_DWH_ExpiringDrivers]
			@Week TinyInt
As

Set NoCount On;
Set DateFirst 1
Set DateFormat DMY


Select
	a.LicenceNumber As [Licence Nbr], b.FirstName + ' ' + b.LastName As [Driver Name], AddressLine1 As [Address 1], AddressLine2 As [Address 2], Town ,c.CountyName + isnull(' ' + PostCode, '') as County, Convert(VarChar, LicenceExpiryDate, 103) As [Expiry Date]
From
	dbo.LicenceHolderMaster b
	inner join dbo.LicenceMaster a on a.LicenceHolderId = b.LicenceHolderId
	inner join dbo.County c on c.CountyID = b.CountyID
Where
	Cast(LicenceExpiryDate As SmallDateTime) Between Convert(VarChar, DateAdd(WeekDay, 1 +  -1 * DatePart(WeekDay, DateAdd(Week, @Week, GetDate())), DateAdd(Week, @Week, GetDate())), 103) And Convert(VarChar, DateAdd(WeekDay, 7 - DatePart(WeekDay, DateAdd(Week, @Week, GetDate())), DateAdd(Week, @Week, GetDate())), 103)
	And LicenceStateMasterID = 1
Order By 
	Cast(LicenceExpiryDate As SmallDateTime)
	
Set NoCount Off;
GO
