USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_CaseGridColumns]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Insert_CaseGridColumns] 
	-- Add the parameters for the stored procedure here
	@UserId uniqueidentifier,
	@Columns varchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	IF EXISTS (SELECT * FROM Case_GridColumns WHERE UserId=@UserId)
				UPDATE Case_GridColumns SET Columns=@Columns WHERE UserId=@UserId
	ELSE
				INSERT INTO Case_GridColumns (UserId,Columns)VALUES (@UserId,@Columns)

END

GO
