USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_History]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caseid] [int] NULL,
	[changeDateTime] [datetime] NULL,
	[field_name] [nvarchar](250) NULL,
	[oldValue] [nvarchar](max) NULL,
	[newValue] [nvarchar](max) NULL,
	[responsible_user] [uniqueidentifier] NULL,
	[createdBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Case_History] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_fname_casefk]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [idx_fname_casefk] ON [dbo].[Case_History]
(
	[caseid] ASC,
	[field_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case_History]  WITH CHECK ADD  CONSTRAINT [FK_Case_History_Cases] FOREIGN KEY([caseid])
REFERENCES [dbo].[Cases] ([id])
GO
ALTER TABLE [dbo].[Case_History] CHECK CONSTRAINT [FK_Case_History_Cases]
GO
