USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[CaseTeamView]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseTeamView](
	[CaseTeamId] [int] NOT NULL,
	[CaseCategoryId] [int] NOT NULL
) ON [PRIMARY]
GO
