USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_EmailTemplates]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_EmailTemplates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[active] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
