USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[LicenceHolderMaster]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceHolderMaster](
	[LicenceHolderId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Ccsn] [nvarchar](10) NULL,
	[Ppsn] [varchar](20) NOT NULL,
	[HolderName]  AS (case when isnull([CompanyName],'')='' then ([FirstName]+' ')+[LastName] else [CompanyName] end),
	[TitleID] [tinyint] NULL,
	[FirstName] [nvarchar](30) NULL,
	[LastName] [nvarchar](30) NULL,
	[DateOfBirth] [datetime] NULL,
	[CompanyNumber] [int] NULL,
	[CompanyName] [nvarchar](50) NULL,
	[TradingAs] [nvarchar](30) NULL,
	[AddressLine1] [nvarchar](50) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](50) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyID] [int] NOT NULL,
	[GardaDivisionID] [int] NULL,
	[PostCode] [varchar](40) NULL,
	[PhoneNo1] [varchar](40) NULL,
	[ContactNumberFax] [varchar](40) NULL,
	[PhoneNo2] [varchar](40) NULL,
	[Email] [nvarchar](50) NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceExpiryDate] [datetime] NULL,
	[_6DigitCode] [nvarchar](50) NULL,
	[DeceasedYn] [bit] NOT NULL,
	[licencenumber] [nvarchar](20) NULL,
	[Comments] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[TaxClearanceStatus] [varchar](50) NULL,
	[TaxClearanceName] [nvarchar](100) NULL,
	[TaxClearanceLastCheckDate] [datetime] NULL,
	[TaxHead] [varchar](50) NULL,
	[TaxClearanceLastNotificationDate] [datetime] NULL,
	[NewMobileNumber] [varchar](40) NULL,
	[NewMobileNumberCreatedDate] [datetime] NULL,
	[NewMobileNumberVerificationCode] [nvarchar](6) NULL,
	[NewMobileNumberVerified] [bit] NULL,
	[TaxClearanceCertExists] [bit] NULL,
	[TaxClearancePreviousCertExistsValue] [bit] NULL,
	[TaxClearanceLastCertExistDate] [datetime] NULL,
	[TaxClearance30DaysReminderSent] [datetime] NULL,
 CONSTRAINT [PK_LicenceHolderMaster] PRIMARY KEY CLUSTERED 
(
	[LicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_LicenceHolderMaster_eMail]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [ix_LicenceHolderMaster_eMail] ON [dbo].[LicenceHolderMaster]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_ModifiedDate]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [ix_ModifiedDate] ON [dbo].[LicenceHolderMaster]
(
	[ModifiedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_Ppsn]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [ix_Ppsn] ON [dbo].[LicenceHolderMaster]
(
	[Ppsn] ASC
)
INCLUDE([LicenceHolderId],[FirstName],[LastName],[licencenumber],[ModifiedDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_DeceasedYn]  DEFAULT ((0)) FOR [DeceasedYn]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_CRreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderMaster_County] FOREIGN KEY([CountyID])
REFERENCES [dbo].[County] ([CountyID])
GO
ALTER TABLE [dbo].[LicenceHolderMaster] CHECK CONSTRAINT [FK_LicenceHolderMaster_County]
GO
ALTER TABLE [dbo].[LicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderMaster_GardaDivision] FOREIGN KEY([GardaDivisionID])
REFERENCES [dbo].[GardaDivision] ([GardaDivisionID])
GO
ALTER TABLE [dbo].[LicenceHolderMaster] CHECK CONSTRAINT [FK_LicenceHolderMaster_GardaDivision]
GO
ALTER TABLE [dbo].[LicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderMaster_LicenceHolderMaster] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[LicenceHolderMaster] CHECK CONSTRAINT [FK_LicenceHolderMaster_LicenceHolderMaster]
GO
ALTER TABLE [dbo].[LicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderMaster_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([TitleID])
GO
ALTER TABLE [dbo].[LicenceHolderMaster] CHECK CONSTRAINT [FK_LicenceHolderMaster_Title]
GO
