USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[DespatchMethod]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DespatchMethod](
	[DespatchMethodId] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DespatchMethodDdescription] [varchar](50) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DeliveryMethod] PRIMARY KEY CLUSTERED 
(
	[DespatchMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DespatchMethod] ADD  CONSTRAINT [DF_DeliveryMethod_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[DespatchMethod] ADD  CONSTRAINT [DF_DeliveryMethod_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DespatchMethod] ADD  CONSTRAINT [DF_DeliveryMethod_ModifiedBy]  DEFAULT (getdate()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[DespatchMethod] ADD  CONSTRAINT [DF_DeliveryMethod_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
