USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_pdfsRequested]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_pdfsRequested](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caseid] [int] NOT NULL,
	[filename] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case_pdfsRequested]  WITH CHECK ADD  CONSTRAINT [FK_Case_pdfsRequested_Cases] FOREIGN KEY([caseid])
REFERENCES [dbo].[Cases] ([id])
GO
ALTER TABLE [dbo].[Case_pdfsRequested] CHECK CONSTRAINT [FK_Case_pdfsRequested_Cases]
GO
