USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[WatRegister]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatRegister](
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[ContactNumberBookings] [nvarchar](50) NULL,
	[ContactNumberMobile] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[Comments] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[DispatchOperatorID] [int] NULL,
 CONSTRAINT [PK_WatRegister] PRIMARY KEY CLUSTERED 
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
