USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[RPTS_DriverRenewalDue1]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sumayya Sayed
-- Create date: 14/11/2016
-- Description:	Report Driver Renewal DueP
-- =============================================
CREATE PROCEDURE [dbo].[RPTS_DriverRenewalDue1]
	@StartDate datetime = NULL,
	@EndDate datetime = NULL,
	@GardaArea int = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


;WITH CTE1 AS
(
select count(*) as countPMres,PPS AS PPSN 
from [NTA-CABS2-DB2].[PMres].[dbo].[rcs]  --UAT
where ((test_result = 'passed' and (test_code = 'spsv' or test_code='ikt'))
or (test_code = 'spsv' and coreresult='pass'))
Group by PPS
)

,CTE2 AS 
(
select count(*) as countPerson, P.PPSN As PPSN 
from cabs_production.cabs_cmo.Person p
join cabs_production.cabs_sk.Candidate c on c.PersonID=p.ID
join cabs_production.cabs_sk.Booking b on b.CandidateID=c.ID
join cabs_production.cabs_sk.CandidateTest ct on ct.BookingID=b.ID
join cabs_production.cabs_sk.Test t on b.TestID=t.ID
where ct.ResultID=2 
and t.Code IN ('IKT','SPSV', 'SPSVx2', 'IKTx2', 'RET_IK', 'RET_AK', 'RET_IKx2', 'RET_AKx2')
group by P.PPSN 
)



SELECT distinct l.LicenceNumber [Licence No]


,LS.LicenceStateMaster AS LicenceStatus
 ,lh.Ppsn
 ,ISNULL(C1.countPMres ,0) AS countPMres
 ,ISNULL(C2.countPerson ,0)  As countPerson
 ,CASE
  WHEN C1.countPMres > 0 OR 
       C2.countPerson > 0
 THEN 'Certified' 
  ELSE 'Not Certified' 
END as CertStatus



,CONVERT(VARCHAR(10), l.LicenceExpiryDate, 103) [Expiry Date],
lh.HolderName [Name],
convert(varchar,lh.DateOfBirth, 103) AS DateOfBirth
,isnull(lh.AddressLine1,'') + ' ' +isnull(lh.AddressLine2,'') + ' ' + isnull(lh.AddressLine3,'') + ' ' +
isnull(lh.Town,'') + ' ' + isnull(' ' + lh.PostCode,'') [Address]
,ISNULL(lh.PhoneNo1  ,0) AS PhoneNo1 
,ISNULL(lh.PhoneNo2 ,0) AS PhoneNo2 
,ISNULL(lh.Email ,'') AS EmailAddress 
,gd.GardaDivisionName [Garda Division],
(SELECT distinct CAST(c.CountyName + ' ' AS VARCHAR(MAX)) 
         FROM dbo.County 
		inner join dbo.DriverCounty dc on dc.LicenceNumber = l.LicenceNumber
		inner join dbo.County c on c.CountyID = dc.CountyID
         WHERE (c.CountyID = dc.CountyID and dc.LicenceNumber = l.LicenceNumber and dc.CountyID = dc.PrimaryCounty) 
         FOR XML PATH ('')
      ) [Primary Area],
isnull((SELECT distinct CAST(c.CountyName + ' ' AS VARCHAR(MAX)) 
         FROM dbo.County 
		inner join dbo.DriverCounty dc on dc.LicenceNumber = l.LicenceNumber
		inner join dbo.County c on c.CountyID = dc.CountyID
         WHERE (c.CountyID = dc.CountyID and dc.LicenceNumber = l.LicenceNumber and dc.CountyID <> dc.PrimaryCounty) 
         FOR XML PATH ('')
      ),'') [Additional Areas]

,Case WHEN lh.TaxClearanceCertExists = 1 THEN 'TRUE'
 Else 'FALSE' END AS TaxClearanceCertExists
 ,convert(varchar,lh.TaxClearanceLastCheckDate, 103) AS TaxClearanceLastCheckDate


from dbo.LicenceMaster l
inner join dbo.LicenceHolderMaster lh on l.LicenceHolderId = lh.LicenceHolderId
inner join dbo.GardaDivision gd on gd.GardaDivisionID = lh.GardaDivisionID
inner join dbo.DriverCounty dc on dc.LicenceNumber = l.LicenceNumber
inner join dbo.County c on c.CountyID = dc.CountyID
inner join dbo.TransactionAuditLog tal on tal.LicenceNumber = l.LicenceNumber
left  join dbo.LicenceStateMaster LS on LS.LicenceStateMasterID = l.LicenceStateMasterID
left join CTE1 C1 on C1.PPSN = lh.PPSN COLLATE DATABASE_DEFAULT
left join CTE2 C2 on C2.PPSN = lh.Ppsn
where
(l.LicenceExpiryDate BETWEEN @StartDate AND @EndDate)
and (lh.GardaDivisionID=@GardaArea or @GardaArea is null)
order by gd.Gardadivisionname

end

GO
