USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Prometric]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prometric](
	[Ppsn] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](75) NULL,
	[LastName] [nvarchar](75) NULL,
	[DateOfBirth] [datetime] NULL,
	[AddressLine1] [nvarchar](150) NULL,
	[AddressLine2] [nvarchar](150) NULL,
	[AddressLine3] [nvarchar](150) NULL,
	[Town] [nvarchar](40) NULL,
	[County] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[PrimaryLicenceArea] [nvarchar](35) NULL,
	[ImageContent] [image] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Prometric] PRIMARY KEY CLUSTERED 
(
	[Ppsn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prometric] ADD  CONSTRAINT [DF_Prometric_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
