USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_UserLevel_Visibility]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_UserLevel_Visibility](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userLevel_id] [int] NULL,
	[caseVisibility_id] [int] NULL,
 CONSTRAINT [PK_Case_UserLevel_Visibility] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case_UserLevel_Visibility]  WITH CHECK ADD  CONSTRAINT [FK_Case_UserLevel_Visibility_Case_UserLevel] FOREIGN KEY([userLevel_id])
REFERENCES [dbo].[Case_UserLevel] ([id])
GO
ALTER TABLE [dbo].[Case_UserLevel_Visibility] CHECK CONSTRAINT [FK_Case_UserLevel_Visibility_Case_UserLevel]
GO
ALTER TABLE [dbo].[Case_UserLevel_Visibility]  WITH CHECK ADD  CONSTRAINT [FK_Case_UserLevel_Visibility_Case_UserLevel_Visibility] FOREIGN KEY([caseVisibility_id])
REFERENCES [dbo].[Case_Visibility] ([id])
GO
ALTER TABLE [dbo].[Case_UserLevel_Visibility] CHECK CONSTRAINT [FK_Case_UserLevel_Visibility_Case_UserLevel_Visibility]
GO
