USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[WatServiceProvisionCounty]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatServiceProvisionCounty](
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[CountyID] [int] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_WatServiceProvisionCounty] PRIMARY KEY CLUSTERED 
(
	[LicenceNumber] ASC,
	[CountyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WatServiceProvisionCounty]  WITH CHECK ADD  CONSTRAINT [FK_WatServiceProvisionCounty_County] FOREIGN KEY([CountyID])
REFERENCES [dbo].[County] ([CountyID])
GO
ALTER TABLE [dbo].[WatServiceProvisionCounty] CHECK CONSTRAINT [FK_WatServiceProvisionCounty_County]
GO
ALTER TABLE [dbo].[WatServiceProvisionCounty]  WITH CHECK ADD  CONSTRAINT [FK_WatServiceProvisionCounty_WatRegister] FOREIGN KEY([LicenceNumber])
REFERENCES [dbo].[WatRegister] ([LicenceNumber])
GO
ALTER TABLE [dbo].[WatServiceProvisionCounty] CHECK CONSTRAINT [FK_WatServiceProvisionCounty_WatRegister]
GO
