USE [Cabs_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetCaseGridColumns]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_User_GetCaseGridColumns] 
	-- Add the parameters for the stored procedure here
	@UserId uniqueidentifier
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	SELECT * FROM Case_GridColumns WHERE UserId=@UserId

END

GO
