USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[PrintRequestDetail]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintRequestDetail](
	[PrintRequestId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PrintRequestMasterId] [int] NOT NULL,
	[licencenumber] [varchar](50) NULL,
	[CardRequestTypeId] [tinyint] NOT NULL,
	[PrintRequestStatusId] [tinyint] NOT NULL,
	[Area] [nvarchar](20) NULL,
	[DespatchMethodId] [tinyint] NULL,
	[DespatchDate] [datetime] NULL,
	[TrackingNumber] [varchar](50) NULL,
	[PrintRequestReasonID] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[PaymentReceived] [bit] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[PrintRequestStatusMessage] [varchar](max) NULL,
 CONSTRAINT [PK_PrintRequest] PRIMARY KEY CLUSTERED 
(
	[PrintRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrintRequestDetail] ADD  CONSTRAINT [DF_PrintRequest_Area]  DEFAULT ('') FOR [Area]
GO
ALTER TABLE [dbo].[PrintRequestDetail] ADD  CONSTRAINT [DF_PrintRequest_DespatchMethodId]  DEFAULT ((0)) FOR [DespatchMethodId]
GO
ALTER TABLE [dbo].[PrintRequestDetail] ADD  CONSTRAINT [DF_PrintRequest_TrackingNumber]  DEFAULT ('') FOR [TrackingNumber]
GO
ALTER TABLE [dbo].[PrintRequestDetail] ADD  CONSTRAINT [DF_PrintRequest_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PrintRequestDetail] ADD  CONSTRAINT [DF_PrintRequest_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PrintRequestDetail] ADD  CONSTRAINT [DF_PrintRequest_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[PrintRequestDetail] ADD  CONSTRAINT [DF_PrintRequest_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[PrintRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequest_CardRequestType] FOREIGN KEY([CardRequestTypeId])
REFERENCES [dbo].[CardRequestType] ([CardRequestTypeId])
GO
ALTER TABLE [dbo].[PrintRequestDetail] CHECK CONSTRAINT [FK_PrintRequest_CardRequestType]
GO
ALTER TABLE [dbo].[PrintRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequest_PrintRequestStatus] FOREIGN KEY([PrintRequestStatusId])
REFERENCES [dbo].[PrintRequestStatus] ([PrintRequestStatusId])
GO
ALTER TABLE [dbo].[PrintRequestDetail] CHECK CONSTRAINT [FK_PrintRequest_PrintRequestStatus]
GO
ALTER TABLE [dbo].[PrintRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetail_PrintRequestMaster] FOREIGN KEY([PrintRequestMasterId])
REFERENCES [dbo].[PrintRequestMaster] ([PrintRequestMasterId])
GO
ALTER TABLE [dbo].[PrintRequestDetail] CHECK CONSTRAINT [FK_PrintRequestDetail_PrintRequestMaster]
GO
