USE [Cabs_Live]
GO
/****** Object:  UserDefinedFunction [dbo].[fnIsCaseFromLicenceHolder]    Script Date: 14/04/2022 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnIsCaseFromLicenceHolder] (@case_id INT)
    RETURNS varchar(20)
AS
BEGIN 
 DECLARE @count int, @Result varchar(20)
set @Result = 0

    SELECT @count= count(*)
    FROM     dbo.Cases
    WHERE  ((field1 is not null and rtrim(field1) != '')
or (field2 is not null and rtrim(field2) != '')
or (field3 is not null and rtrim(field3) != '')
or (driver_licenceno is not null and rtrim(driver_licenceno) != '')
or (vehicle_licenceno is not null and rtrim(vehicle_licenceno) != '')
or (do_licenceno is not null and rtrim(do_licenceno) != ''))
and id = @case_id

if @count > 0
	begin	
		set @Result = 'Licence Holder'
	end
else
	begin	
		set @Result = 'Non Licence Holder'
	end

return @Result
end




GO
