USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[Case_ProgressSubstatus]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case_ProgressSubstatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL
) ON [PRIMARY]
GO
