USE [Cabs_Live]
GO
/****** Object:  Table [dbo].[DispatchOperatorMaster]    Script Date: 14/04/2022 13:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOperatorMaster](
	[LicenceHolderID] [int] NOT NULL,
	[CompanyOwnerName] [nvarchar](50) NULL,
	[VatNumber] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DispatchOperatorMaster] PRIMARY KEY CLUSTERED 
(
	[LicenceHolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DispatchOperatorMaster]    Script Date: 14/04/2022 13:23:24 ******/
CREATE NONCLUSTERED INDEX [IX_DispatchOperatorMaster] ON [dbo].[DispatchOperatorMaster]
(
	[LicenceHolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DispatchOperatorMaster]  WITH CHECK ADD  CONSTRAINT [FK_DispatchOperatorMaster_LicenceHolderMaster] FOREIGN KEY([LicenceHolderID])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[DispatchOperatorMaster] CHECK CONSTRAINT [FK_DispatchOperatorMaster_LicenceHolderMaster]
GO
