USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_15]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [cleansing].[proc_DC01_1_15] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @MobilePhone varchar(100), @ErrorCode int
	
	--DC15.01 - Rule 15:  Phone - Phone found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_15]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			select * from #person_one_ppsn where (person.udf_IsStringValid (isnull(MobilePhone,'<!NotValidString!>'), '^(08[0-9]{8})(,(08[0-9]{8}))?$') = 0 and MobilePhone is not null)
		) a

	--DC15.02 - Rule 15:  Phone - Phone found in one staging table - bad quality data

	INSERT INTO [cleansing].[DC01_1_15]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_one_ppsn where 
			(person.udf_IsStringValid (isnull(MobilePhone,'<!NotValidString!>'), '^(08[0-9]{8})(,(08[0-9]{8}))?$') = 0 and MobilePhone is not null)

	PRINT '3.0'
	--DC15.03 - Rule 15:  Phone - Phone found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_15]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * 	from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, MobilePhone order by PPSN, MobilePhone) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
						and (person.udf_IsStringValid (isnull(MobilePhone,'<!NotValidString!>'), '^(08[0-9]{8})(,(08[0-9]{8}))?$') = 1 or MobilePhone is null)


	PRINT '3.1'
	--DC15.04 - Rule 15:  Phone - Phone found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_15]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, MobilePhone order by PPSN, MobilePhone, OtherPhone) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
						and (person.udf_IsStringValid (isnull(MobilePhone,'<!NotValidString!>'), '^(08[0-9]{8})(,(08[0-9]{8}))?$') = 0 and MobilePhone is not null)

	PRINT '4.1'
	--DC15.04 - Rule 15: Phone - Mobile Phone found in more than one staging table and values matches - good quality data, NULL values
	declare DC01_1_15_4 cursor for

	select distinct PPSN, MobilePhone from #person_more_ppsn where PPSN in (
		select PPSN from (
			select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, MobilePhone order by PPSN, MobilePhone) 'RankPos' from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, MobilePhone order by PPSN, MobilePhone) 'RankPos'
						from #person_more_ppsn 
				) a
				group by PPSN
				having count(PPSN) <> max(RankPos)
				) 
			and MobilePhone is not null
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
		)
		and MobilePhone is not null 
		and person.udf_IsStringValid (isnull(MobilePhone,'<!NotValidString!>'), '^(08[0-9]{8})(,(08[0-9]{8}))?$') = 1

	order by PPSN

	OPEN DC01_1_15_4
	FETCH NEXT FROM DC01_1_15_4 INTO @PPSN, @MobilePhone

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_15]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set MobilePhone=@MobilePhone, ModifiedOn=getdate(), ModifiedBy = 'AU: DC15.03 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and MobilePhone is null

	FETCH NEXT FROM DC01_1_15_4 INTO @PPSN, @MobilePhone

	END 

	CLOSE DC01_1_15_4
	DEALLOCATE DC01_1_15_4


	PRINT '4.2'
	--DC15.05 - Rule 15:  Phone - Phone found in more than one staging table and values are different
	declare DC01_1_15_5 cursor for
		select PPSN, SourceSystem, ID, MobilePhone
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_15 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_15_5

	FETCH NEXT FROM DC01_1_15_5 
	INTO @PPSN, @SourceSystem, @ID, @MobilePhone

	WHILE @@FETCH_STATUS = 0
	BEGIN
		If (person.udf_IsStringValid (isnull(@MobilePhone,'<!NotValidString!>'), '^(08[0-9]{8})(,(08[0-9]{8}))?$') = 0 and @MobilePhone is not null)
			set @ErrorCode = 3
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_15]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_15_5 
		INTO @PPSN, @SourceSystem, @ID, @MobilePhone
	END 
	CLOSE DC01_1_15_5
	DEALLOCATE DC01_1_15_5


	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
