USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[ClearTables]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[ClearTables]
as

ALTER TABLE cleansing.VL_LicenceHolderMaster SET (SYSTEM_VERSIONING = OFF);  
ALTER TABLE cleansing.DL_LicenceHolderMaster SET (SYSTEM_VERSIONING = OFF);  
ALTER TABLE cleansing.SK_Person SET (SYSTEM_VERSIONING = OFF);  
ALTER TABLE cleansing.N_Nominee SET (SYSTEM_VERSIONING = OFF);  

truncate table cleansing.VL_LicenceHolderMaster
truncate table cleansing.DL_LicenceHolderMaster
truncate table cleansing.SK_Person
truncate table cleansing.N_Nominee

truncate table cleansing.VL_LicenceHolderMasterHistory
truncate table cleansing.DL_LicenceHolderMasterHistory
truncate table cleansing.SK_PersonHistory
truncate table cleansing.N_NomineeHistory

ALTER TABLE cleansing.VL_LicenceHolderMaster SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cleansing.VL_LicenceHolderMasterHistory))
ALTER TABLE cleansing.DL_LicenceHolderMaster SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cleansing.DL_LicenceHolderMasterHistory))
ALTER TABLE cleansing.SK_Person SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cleansing.SK_PersonHistory))
ALTER TABLE cleansing.N_Nominee SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cleansing.N_NomineeHistory))

truncate table cleansing.DC01_1_01
truncate table cleansing.DC01_1_02
truncate table cleansing.DC01_1_03
truncate table cleansing.DC01_1_04
truncate table cleansing.DC01_1_05
truncate table cleansing.DC01_1_06
truncate table cleansing.DC01_1_07
truncate table cleansing.DC01_1_08
truncate table cleansing.DC01_1_09
truncate table cleansing.DC01_1_10
truncate table cleansing.DC01_1_11
truncate table cleansing.DC01_1_12
truncate table cleansing.DC01_1_13
truncate table cleansing.DC01_1_14
truncate table cleansing.DC01_1_15
truncate table cleansing.DC01_1_16
truncate table cleansing.DC01_1_17
truncate table cleansing.DC01_1_18
truncate table cleansing.DC01_1_19

truncate table cleansing.ErrorLog
truncate table cleansing.ETL
truncate table cleansing.Report_RulesTrends


ALTER TABLE cleansing.person SET (SYSTEM_VERSIONING = OFF);   
	truncate table cleansing.person
	truncate table cleansing.personHistory
ALTER TABLE cleansing.person SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cleansing.personHistory))

select * from cleansing.person for system_time all

ALTER TABLE person.Address SET (SYSTEM_VERSIONING = OFF);   
	truncate table person.Address
	truncate table person.AddressHistory
ALTER TABLE person.Address SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.AddressHistory))

select * from person.Address for system_time all

ALTER TABLE person.DataSource SET (SYSTEM_VERSIONING = OFF);   
	truncate table person.DataSource
	truncate table person.DataSourceHistory
ALTER TABLE person.DataSource SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.DataSourceHistory))

select * from person.DataSource for system_time all

ALTER TABLE person.Email SET (SYSTEM_VERSIONING = OFF);   
	truncate table person.Email
	truncate table person.EmailHistory
ALTER TABLE person.Email SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.EmailHistory))

select * from person.Email for system_time all

ALTER TABLE person.Individual SET (SYSTEM_VERSIONING = OFF);   
	truncate table person.Individual 
	truncate table person.IndividualHistory
ALTER TABLE person.Individual SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.IndividualHistory))

select * from person.Individual for system_time all

ALTER TABLE person.PhoneUsage DROP CONSTRAINT FK_PhoneUsage_To_Phone
ALTER TABLE person.Phone DROP CONSTRAINT FK_Phone_To_Person
ALTER TABLE person.Address DROP CONSTRAINT FK_Address_To_Person
ALTER TABLE person.Company DROP CONSTRAINT FK_Company_To_Person
ALTER TABLE person.Datasource DROP CONSTRAINT FK_DataSource_To_Person
ALTER TABLE person.Email DROP CONSTRAINT FK_Email_To_Person
ALTER TABLE person.Image DROP CONSTRAINT FK_Image_To_Person
ALTER TABLE person.Individual DROP CONSTRAINT FK_Individual_To_Person
ALTER TABLE person.TaxClearanceCheck DROP CONSTRAINT FK_TaxClearanceCheck_To_Person
ALTER TABLE person.WatchList DROP CONSTRAINT FK_WatchList_Person_PersonId
ALTER TABLE person.Process DROP CONSTRAINT FK_Process_Person_PersonId
ALTER TABLE [person].[CompanyDirector] DROP CONSTRAINT [FK_CompanyDirector_Company_CompanyId]
ALTER TABLE [person].[Ceased] DROP CONSTRAINT [FK_Ceased_To_Person]


ALTER TABLE person.Company SET (SYSTEM_VERSIONING = OFF);   
	truncate table person.Company
	truncate table person.CompanyHistory
ALTER TABLE person.Company SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.CompanyHistory))

select * from person.Company for system_time all

ALTER TABLE person.person SET (SYSTEM_VERSIONING = OFF);   
	truncate table person.person
	truncate table person.personHistory
ALTER TABLE person.person SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.personHistory))

select * from person.person for system_time all

ALTER TABLE person.phone SET (SYSTEM_VERSIONING = OFF);   
	truncate table person.phone
	truncate table person.phoneHistory
ALTER TABLE person.phone SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.phoneHistory))

select * from person.phone for system_time all

ALTER TABLE person.phoneUsage SET (SYSTEM_VERSIONING = OFF);   
	truncate table person.phoneUsage
	truncate table person.phoneUsageHistory
ALTER TABLE person.phoneUsage SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.phoneUsageHistory))

select * from person.phoneUsage for system_time all


ALTER TABLE [person].[Phone]  WITH CHECK ADD  CONSTRAINT [FK_Phone_To_Person] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
ALTER TABLE [person].[Phone] CHECK CONSTRAINT [FK_Phone_To_Person]

ALTER TABLE [person].[PhoneUsage]  WITH CHECK ADD  CONSTRAINT [FK_PhoneUsage_To_Phone] FOREIGN KEY([PhoneId])
REFERENCES [person].[Phone] ([PhoneId])
ALTER TABLE [person].[PhoneUsage] CHECK CONSTRAINT [FK_PhoneUsage_To_Phone]

ALTER TABLE person.Address  WITH CHECK ADD  CONSTRAINT FK_Address_To_Person FOREIGN KEY(PersonId)
REFERENCES person.Person (PersonId)
ALTER TABLE person.Address CHECK CONSTRAINT FK_Address_To_Person

ALTER TABLE person.Company   WITH CHECK ADD  CONSTRAINT FK_Company_To_Person FOREIGN KEY(PersonId)
REFERENCES person.Person (PersonId)
ALTER TABLE person.Company  CHECK CONSTRAINT FK_Company_To_Person

ALTER TABLE person.DataSource  WITH CHECK ADD  CONSTRAINT FK_DataSource_To_Person FOREIGN KEY(PersonId)
REFERENCES person.Person (PersonId)
ALTER TABLE person.DataSource CHECK CONSTRAINT FK_DataSource_To_Person

ALTER TABLE person.Email  WITH CHECK ADD  CONSTRAINT FK_Email_To_Person FOREIGN KEY(PersonId)
REFERENCES person.Person (PersonId)
ALTER TABLE person.Email CHECK CONSTRAINT FK_Email_To_Person

ALTER TABLE person.Image  WITH CHECK ADD  CONSTRAINT FK_Image_To_Person FOREIGN KEY(PersonId)
REFERENCES person.Person (PersonId)
ALTER TABLE person.Image CHECK CONSTRAINT FK_Image_To_Person

ALTER TABLE person.Individual  WITH CHECK ADD  CONSTRAINT FK_Individual_To_Person FOREIGN KEY(PersonId)
REFERENCES person.Person (PersonId)
ALTER TABLE person.Individual CHECK CONSTRAINT FK_Individual_To_Person

ALTER TABLE person.TaxClearanceCheck  WITH CHECK ADD  CONSTRAINT FK_TaxClearanceCheck_To_Person FOREIGN KEY(PersonId)
REFERENCES person.Person (PersonId)
ALTER TABLE person.TaxClearanceCheck CHECK CONSTRAINT FK_TaxClearanceCheck_To_Person

ALTER TABLE [person].[WatchList]  WITH CHECK ADD  CONSTRAINT [FK_WatchList_Person_PersonId] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
ON DELETE CASCADE
ALTER TABLE [person].[WatchList] CHECK CONSTRAINT [FK_WatchList_Person_PersonId]

ALTER TABLE [person].[Process]  WITH CHECK ADD  CONSTRAINT [FK_Process_Person_PersonId] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
ON DELETE CASCADE
ALTER TABLE [person].[Process] CHECK CONSTRAINT [FK_Process_Person_PersonId]

ALTER TABLE [person].[CompanyDirector]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDirector_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [person].[Company] ([CompanyId])
ON DELETE CASCADE
ALTER TABLE [person].[CompanyDirector] CHECK CONSTRAINT [FK_CompanyDirector_Company_CompanyId]

ALTER TABLE [person].[Ceased]  WITH CHECK ADD  CONSTRAINT [FK_Ceased_To_Person] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
ALTER TABLE [person].[Ceased] CHECK CONSTRAINT [FK_Ceased_To_Person]


select * from cleansing.Report_RulesTrends
select * from cleansing.etl
select * from cleansing.ErrorLog
GO
