USE [CABS]
GO
/****** Object:  Table [cleansing].[Dashbord_ImportsFromSource]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cleansing].[Dashbord_ImportsFromSource](
	[id] [int] NOT NULL,
	[ETLDate] [datetime] NULL,
	[SourceSystem] [varchar](3) NULL,
	[CountRows] [int] NULL,
	[CountRowsTotal] [int] NULL,
	[CountRowsTotalLast] [int] NULL,
	[CountDistinctOPVPPSN] [int] NULL,
	[CountDistinctPPSN] [int] NULL,
	[CountDistinctBadPPSN] [int] NULL,
	[DateCountRows] [datetime] NULL
) ON [PRIMARY]
GO
