USE [CABS]
GO
/****** Object:  Table [cleansing].[ErrorLog]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cleansing].[ErrorLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ETLId] [int] NULL,
	[Error_date] [datetime] NOT NULL,
	[Error_procedure] [nvarchar](128) NULL,
	[Error_number] [int] NULL,
	[Error_message] [nvarchar](4000) NULL,
	[SourceSystem] [varchar](3) NULL,
	[SourceSystemId] [int] NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ErrorLog_ETLId_Error_Date]    Script Date: 14/04/2022 13:25:03 ******/
CREATE NONCLUSTERED INDEX [IX_ErrorLog_ETLId_Error_Date] ON [cleansing].[ErrorLog]
(
	[ETLId] ASC,
	[Error_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
