USE [CABS]
GO
/****** Object:  View [cleansing].[v_Nominee_Source]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [cleansing].[v_Nominee_Source] 	AS 
	with 
	tally as (select top (100) N=row_number() over (order by @@spid) from sys.all_columns),
	
	data as (
	SELECT 

	convert(int, s.NomineeId)									as 'Id',
	ltrim(rtrim(convert(varchar(20), isnull(s.PPSN,''))))		as 'Ppsn',
	case s.NomineeTypeId
		when 2 then 'Company'
		else 'Individual'
	end															as 'PersonType',
	convert(varchar(10), 'Active')									as 'PersonStatus',
	ltrim(rtrim(convert(varchar(10), NULL)))					as 'Title',	
	case len(ltrim(rtrim(convert(nvarchar(50), s.FirstName)))) when 0 then NULL else ltrim(rtrim(convert(nvarchar(50), REPLACE(s.FirstName, '`', ''''))))	end			as 'FirstName',
	case len(ltrim(rtrim(convert(nvarchar(50), s.LastName)))) when 0 then NULL else ltrim(rtrim(convert(nvarchar(50), REPLACE(s.LastName, '`', '''')))) end			as 'LastName',
	case len(ltrim(rtrim(convert(nvarchar(50), s.CompanyName)))) when 0 then NULL else ltrim(rtrim(convert(nvarchar(50), REPLACE(s.CompanyName, '`', '''')))) end		as 'CompanyName',
	convert(int, NULL)								as 'CompanyNumber',
	ltrim(rtrim(convert(nvarchar(50), NULL)))				as 'TradingAs',
	case when convert(date, s.DateOfBirth) = '1900-01-01' then NULL else convert(date, s.DateOfBirth) end								as 'DateOfBirth',
	convert(varchar(40), ph.MobileNumber)						as 'PhoneNo1',
	convert(varchar(40), ph.HomeNumber)							as 'PhoneNo2',
	case len(ltrim(rtrim(convert(varchar(50), s.Email)))) when 0 then NULL else ltrim(rtrim(convert(varchar(50), replace(s.Email, '`', '''')))) end					as 'Email',
	case len(ltrim(rtrim(convert(nvarchar(100), s.AddressLine1)))) when 0 then NULL else ltrim(rtrim(convert(nvarchar(100), replace(s.AddressLine1, '`', ''''))))	end	as 'AddressLine1',
	case len(ltrim(rtrim(convert(nvarchar(100), s.AddressLine2)))) when 0 then NULL else ltrim(rtrim(convert(nvarchar(100), replace(s.AddressLine2, '`', ''''))))	end	as 'AddressLine2',
	case len(ltrim(rtrim(convert(nvarchar(100), s.AddressLine3)))) when 0 then NULL else ltrim(rtrim(convert(nvarchar(100), replace(s.AddressLine3, '`', '''')))) end	as 'AddressLine3',
	ltrim(rtrim(convert(varchar(20), NULL)))					as 'PrefContactMethod',
	case len(ltrim(rtrim(convert(nvarchar(50), s.Town)))) when 0 then NULL else ltrim(rtrim(convert(nvarchar(50), replace(s.Town, '`', '''')))) end					as 'Town',
	case len(ltrim(rtrim(convert(varchar(40), s.PostCode)))) when 0 then NULL else ltrim(rtrim(convert(varchar(40), s.PostCode))) end			as 'PostCode',
	ltrim(rtrim(convert(nvarchar(20), replace(scounty.CountyName, '`', ''''))))		as 'CountyName',
	convert(varchar(50), NULL)	as 'CountryName',
	
	ltrim(rtrim(convert(nvarchar(20), s.CreatedBy)))				as 'CreatedBy',
	convert(datetime, s.CreatedDate)						as 'CreatedOn',
	ltrim(rtrim(convert(nvarchar(20), isnull(s.ModifiedBy, s.CreatedBy))))			as 'ModifiedBy',
	convert(datetime, isnull(s.ModifiedDate, s.CreatedDate))						as 'ModifiedOn'

	FROM CABS_PRODUCTION.dbo.Nominee s with (nolock)
		left join CABS_PRODUCTION.dbo.County scounty with (nolock) on scounty.CountyId=s.CountyId
		--where
		--isnull(sk.ModifiedDate, sk.CreatedDate) between (select ImportDate from CABS_Cleansing.dbo.Imports order by id desc OFFSET 1 ROW FETCH FIRST 1 ROW ONLY ) and @ImportDate 

	cross apply (
            select (select C + '' from (select N, substring(s.PhoneNo1, N, 1) C from tally where N<=datalength(s.PhoneNo1)) Col
            where C between '0' and '9'
            order by N
            for xml path(''))
        ) cp1 (CleanPhoneNo1)
		cross apply (
            select (select C + '' from (select N, substring(s.PhoneNo2, N, 1) C from tally where N<=datalength(s.PhoneNo1)) Col
            where C between '0' and '9'
            order by N
            for xml path(''))
        ) cp2 (CleanPhoneNo2)
		cross apply cleansing.udf_getMobileHomeNumber (cp1.CleanPhoneNo1, cp2.CleanPhoneNo2) ph
		)

select * from data
GO
