USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_17]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_17] (@ETLId int) as 
--declare @ETLId int = 100
print 'Disabled as client request: NTACABS-1902'
/*
BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [person].udf_IsStringValid (isnull(Email,'<!NotValidString!>'), '^(?!\.)(""([^""\r\\]|\\[""\r\\])*""|([-a-z0-9!#$%&''*+/=?^_`{|}~]|(?<!\.)\.)*)(?<!\.)@[a-z0-9][\w\.-]*[a-z0-9]\.[a-z][a-z\.]*[a-z]$') 'IsValidEmail', [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [person].udf_IsStringValid (isnull(Email,'<!NotValidString!>'), '^(?!\.)(""([^""\r\\]|\\[""\r\\])*""|([-a-z0-9!#$%&''*+/=?^_`{|}~]|(?<!\.)\.)*)(?<!\.)@[a-z0-9][\w\.-]*[a-z0-9]\.[a-z][a-z\.]*[a-z]$') 'IsValidEmail', [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 

	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @PrefContactMethod varchar(100), @PersonStatus varchar(20), @ErrorCode int
	declare @PCM as varchar(10)	

	INSERT INTO [cleansing].[DC01_1_17]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -3, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_one_ppsn p
			left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod
			where 
			(p.PersonStatus = 'Active' and c.ContactMethod is null and p.IsValidEmail=1)
			
			update p set PrefContactMethod='Email', p.ModifiedOn=getdate(), p.ModifiedBy = 'AU: DC17.01 ' + convert(varchar(10), @ETLId) from cleansing.person p inner join #person_one_ppsn p1 on p.SourceSystem=p1.SourceSystem and p.Id=p1.Id
			left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod
			where 
			(p.PersonStatus = 'Active' and c.ContactMethod is null and p1.IsValidEmail=1)

	INSERT INTO [cleansing].[DC01_1_17]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -2, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_one_ppsn p
			left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod
			where 
			(p.PersonStatus = 'Active' and c.ContactMethod is null and p.IsValidEmail=0)

			update p set PrefContactMethod='Post', p.ModifiedOn=getdate(), p.ModifiedBy = 'AU: DC17.01 ' + convert(varchar(10), @ETLId) from cleansing.person p inner join #person_one_ppsn p1 on p.SourceSystem=p1.SourceSystem and p.Id=p1.Id
			left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod
			where 
			(p.PersonStatus = 'Active' and c.ContactMethod is null and p1.IsValidEmail=0)
			
	--DC17.01 - Rule 17: Contact Method - Contact Method found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_17]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from (
			select * from #person_one_ppsn
			except
			select p.* from #person_one_ppsn p
				left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod
			where 
				(PersonStatus <> 'Active' and PrefContactMethod is not null)
				or (PersonStatus = 'Active' and PrefContactMethod is null)
		) p

	--DC17.02 - Rule 17: Contact Method - Contact Method found in one staging table - bad quality data

	INSERT INTO [cleansing].[DC01_1_17]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_one_ppsn p
			left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod
			where 
			PersonStatus <> 'Active' and PrefContactMethod is not null
	
	INSERT INTO [cleansing].[DC01_1_17]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select -3, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_more_ppsn p 
					left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod where PPSN in (
								select PPSN from (
									select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonStatus, PrefContactMethod, IsValidEmail order by PPSN, PersonStatus, PrefContactMethod) 'RankPos'
									 from #person_more_ppsn 
								) a
								group by PPSN
								having count(PPSN) = max(RankPos)
								)
					and (p.PersonStatus = 'Active' and c.ContactMethod is null and p.IsValidEmail=1)
		
			update p set PrefContactMethod='Email', p.ModifiedOn=getdate(), p.ModifiedBy = 'AU: DC17.01 ' + convert(varchar(10), @ETLId) from cleansing.person p inner join #person_more_ppsn p1 on p.SourceSystem=p1.SourceSystem and p.Id=p1.Id
				left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod where p.PPSN in (
								select PPSN from (
									select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonStatus, PrefContactMethod, [IsValidEmail] order by PPSN, PersonStatus, PrefContactMethod) 'RankPos'
									 from #person_more_ppsn 
								) a
								group by PPSN
								having count(PPSN) = max(RankPos)
								)
					and (p.PersonStatus = 'Active' and c.ContactMethod is null and p1.IsValidEmail=1)

		INSERT INTO [cleansing].[DC01_1_17]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select -2, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_more_ppsn p 
					left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod where PPSN in (
								select PPSN from (
									select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonStatus, PrefContactMethod, IsValidEmail order by PPSN, PersonStatus, PrefContactMethod) 'RankPos'
									 from #person_more_ppsn 
								) a
								group by PPSN
								having count(PPSN) = max(RankPos)
								)
					and (p.PersonStatus = 'Active' and c.ContactMethod is null and p.IsValidEmail=0)
		
			update p set PrefContactMethod='Post', p.ModifiedOn=getdate(), p.ModifiedBy = 'AU: DC17.01 ' + convert(varchar(10), @ETLId) from cleansing.person p inner join #person_more_ppsn p1 on p.SourceSystem=p1.SourceSystem and p.Id=p1.Id
				left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod where p.PPSN in (
								select PPSN from (
									select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonStatus, PrefContactMethod, IsValidEmail order by PPSN, PersonStatus, PrefContactMethod) 'RankPos'
									 from #person_more_ppsn 
								) a
								group by PPSN
								having count(PPSN) = max(RankPos)
								)
					and (p.PersonStatus = 'Active' and c.ContactMethod is null and p1.IsValidEmail=0)
	
	
print '3.0'
	INSERT INTO [cleansing].[DC01_1_17]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_more_ppsn p 
				left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonStatus, PrefContactMethod order by PPSN, PersonStatus, PrefContactMethod) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
				and (
				(PersonStatus = 'Active' and c.ContactMethod is not null
				or (PersonStatus <> 'Active' and PrefContactMethod is null))
				)

	PRINT '3.1'
	--DC17.04 - Rule 17: Contact Method - Contact Method found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_17]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_more_ppsn p left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonStatus, PrefContactMethod order by PPSN, PersonStatus, PrefContactMethod) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
				and PersonStatus <> 'Active' and PrefContactMethod is not null

					
	truncate table #person_more_ppsn 

	insert into #person_more_ppsn 
	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [person].udf_IsStringValid (isnull(Email,'<!NotValidString!>'), '^(?!\.)(""([^""\r\\]|\\[""\r\\])*""|([-a-z0-9!#$%&''*+/=?^_`{|}~]|(?<!\.)\.)*)(?<!\.)@[a-z0-9][\w\.-]*[a-z0-9]\.[a-z][a-z\.]*[a-z]$') 'IsValidEmail', [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 

	
	PRINT '4.1'
	--DC17.05 - Rule 17: Contact Method - Contact Method found in more than one staging table and values are different
	declare DC01_1_17_5 cursor for
		select distinct PPSN
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_17 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		and PrefContactMethod is not null
		order by PPSN

	OPEN DC01_1_17_5

	FETCH NEXT FROM DC01_1_17_5 
	INTO @PPSN

	WHILE @@FETCH_STATUS = 0
	BEGIN

	select top 1 @PCM = PrefContactMethod from (
	select PrefContactMethod, isnull(ModifiedOn, CreatedOn) 'd' from cleansing.Person where ppsn = @PPSN and PrefContactMethod is not null
	) a order by d desc

	declare DC01_1_17_5_1 cursor for
		select SourceSystem, ID from cleansing.Person where PPSN=@PPSN and PrefContactMethod <> @PCM
	OPEN DC01_1_17_5_1

		FETCH NEXT FROM DC01_1_17_5_1
		INTO @SourceSystem, @ID

		WHILE @@FETCH_STATUS = 0
		BEGIN

		If @PCM = 'Post'
		begin
			INSERT INTO [cleansing].[DC01_1_17]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
				select -4, 0, @ETLId, 
					p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
				p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
				p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
				p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
				p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
				from #person_more_ppsn p where p.SourceSystem=@SourceSystem and p.Id=@Id

				UPDATE cleansing.Person set PrefContactMethod=@PCM, ModifiedOn=getdate(), ModifiedBy = 'AU: DC17.01 ' + convert(varchar(10), @ETLId) where SourceSystem=@SourceSystem and Id=@Id
		end
		else If @PCM = 'Email'
		begin
			INSERT INTO [cleansing].[DC01_1_17]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
				select -5, 0, @ETLId, 
					p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
				p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
				p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
				p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
				p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
				from #person_more_ppsn p where p.SourceSystem=@SourceSystem and p.Id=@Id

				UPDATE cleansing.Person set PrefContactMethod=@PCM, ModifiedOn=getdate(), ModifiedBy = 'AU: DC17.01 ' + convert(varchar(10), @ETLId) where SourceSystem=@SourceSystem and Id=@Id
		end
		else 
		begin
			INSERT INTO [cleansing].[DC01_1_17]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
				select -6, 0, @ETLId, 
					p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
				p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
				p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
				p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
				p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
				from #person_more_ppsn p where p.SourceSystem=@SourceSystem and p.Id=@Id

				UPDATE cleansing.Person set PrefContactMethod=@PCM, ModifiedOn=getdate(), ModifiedBy = 'AU: DC17.01 ' + convert(varchar(10), @ETLId) where SourceSystem=@SourceSystem and Id=@Id
			end

			FETCH NEXT FROM DC01_1_17_5_1
			INTO @SourceSystem, @ID
		END 
		CLOSE DC01_1_17_5_1
		DEALLOCATE DC01_1_17_5_1

		FETCH NEXT FROM DC01_1_17_5 
		INTO @PPSN
	END 
	CLOSE DC01_1_17_5
	DEALLOCATE DC01_1_17_5






	truncate table #person_more_ppsn 

	insert into #person_more_ppsn 
	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [person].udf_IsStringValid (isnull(Email,'<!NotValidString!>'), '^(?!\.)(""([^""\r\\]|\\[""\r\\])*""|([-a-z0-9!#$%&''*+/=?^_`{|}~]|(?<!\.)\.)*)(?<!\.)@[a-z0-9][\w\.-]*[a-z0-9]\.[a-z][a-z\.]*[a-z]$') 'IsValidEmail', [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 


PRINT '4.2'
	--DC17.04 - Rule 15: Phone - Mobile Phone found in more than one staging table and values matches - good quality data, NULL values
	declare DC01_1_17_4 cursor for

	select distinct PPSN, PrefContactMethod from #person_more_ppsn p left join cabs_production.person.ContactMethod c on p.PrefContactMethod=c.ContactMethod where PPSN in (
		select PPSN from (
			select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonStatus, PrefContactMethod, IsValidEmail order by PPSN, PersonStatus, PrefContactMethod) 'RankPos' from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonStatus, PrefContactMethod, IsValidEmail order by PPSN, PersonStatus, PrefContactMethod) 'RankPos'
						from #person_more_ppsn 
				) a
				group by PPSN
				having count(PPSN) <> max(RankPos)
				) 
			and PrefContactMethod is not null
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
		)
	and PrefContactMethod is not null
	order by PPSN

	OPEN DC01_1_17_4
	FETCH NEXT FROM DC01_1_17_4 INTO @PPSN, @PrefContactMethod

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_17]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_more_ppsn p where p.PPSN = @PPSN and PrefContactMethod is null

		UPDATE cleansing.Person set PrefContactMethod=@PrefContactMethod, ModifiedOn=getdate(), ModifiedBy = 'AU: DC17.01 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and PrefContactMethod is null

	FETCH NEXT FROM DC01_1_17_4 INTO @PPSN, @PrefContactMethod

	END 

	CLOSE DC01_1_17_4
	DEALLOCATE DC01_1_17_4




	PRINT '4.3'
	--DC17.05 - Rule 17: Contact Method - Contact Method found in more than one staging table and values are different
	declare DC01_1_17_6 cursor for
		select PPSN, SourceSystem, ID, PrefContactMethod, PersonStatus
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_17 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN

	OPEN DC01_1_17_6

	FETCH NEXT FROM DC01_1_17_6
	INTO @PPSN, @SourceSystem, @ID, @PrefContactMethod, @PersonStatus

	WHILE @@FETCH_STATUS = 0
	BEGIN

		If @PersonStatus = 'Active' and @PrefContactMethod is null
			set @ErrorCode = 3
		else if @PersonStatus <> 'Active' and @PrefContactMethod is not null
			set @ErrorCode = 3
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_17]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, 
				p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from #person_more_ppsn p where p.SourceSystem=@SourceSystem and p.Id=@Id


		FETCH NEXT FROM DC01_1_17_6 
		INTO @PPSN, @SourceSystem, @ID, @PrefContactMethod, @PersonStatus
	END 
	CLOSE DC01_1_17_6
	DEALLOCATE DC01_1_17_6


	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
*/
GO
