USE [CABS]
GO
/****** Object:  Table [cleansing].[Report_RulesTrends]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cleansing].[Report_RulesTrends](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceTable] [varchar](10) NULL,
	[RulesRunId] [int] NULL,
	[ETLDate] [datetime] NULL,
	[ErrorCode] [int] NULL,
	[ErrorDesc] [varchar](max) NULL,
	[RowsCount] [int] NULL,
 CONSTRAINT [PK_Report_RulesTrends] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
