USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_09]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [cleansing].[proc_DC01_1_09] (@ETLId int) as 
--declare @ETLId int = 46

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @A1 nvarchar(100), @A2 nvarchar(100), @A3 nvarchar(100), @ErrorCode int
	
	--DC09.01 - Rule 9: Address Lines 1-3 - Address Lines 1-3 found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_09]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			select * from #person_one_ppsn where (person.udf_IsStringValid (isnull(CONCAT(AddressLine1, AddressLine2, AddressLine3),'<!NotValidString!>'), '^[0-9a-zA-ZáéíóúÁÉÍÓÚ ''\-,\/()\*]*$') = 0) or AddressLine1 is null
		) a

	--DC09.02 - Rule 9: Address Lines 1-3 - Address Lines 1-3 found in one staging table - bad quality data
	INSERT INTO [cleansing].[DC01_1_09]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_one_ppsn where (person.udf_IsStringValid (isnull(CONCAT(AddressLine1, AddressLine2, AddressLine3),'<!NotValidString!>'), '^[0-9a-zA-ZáéíóúÁÉÍÓÚ ''\-,\/()\*]*$') = 0) or AddressLine1 is null


	PRINT '3.0'
	--DC09.03 - Rule 9: Address Lines 1-3 - Address Lines 1-3 found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_09]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * 	from #person_more_ppsn where PPSN in (
								select PPSN from (
									select PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3) 'Name' , ROW_NUMBER() OVER (PARTITION BY PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3) order by PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3)) 'RankPos'
										from #person_more_ppsn 
								) a
								group by PPSN
								having count(PPSN) = max(RankPos)
								)
							and
							(
								(person.udf_IsStringValid (isnull(CONCAT(AddressLine1, AddressLine2, AddressLine3),'<!NotValidString!>'), '^[0-9a-zA-ZáéíóúÁÉÍÓÚ ''\-,\/()\*]*$') = 1)
								and AddressLine1 is not null
							)

	PRINT '3.1'
	--DC04.04 - Rule 9: Address Lines 1-3 - Address Lines 1-3 found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_09]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_more_ppsn where PPSN in (
								select PPSN from (
									select PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3) 'Name' , ROW_NUMBER() OVER (PARTITION BY PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3) order by PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3)) 'RankPos'
										from #person_more_ppsn 
								) a
								group by PPSN
								having count(PPSN) = max(RankPos)
								)
							and
							(
								(person.udf_IsStringValid (isnull(CONCAT(AddressLine1, AddressLine2, AddressLine3),'<!NotValidString!>'), '^[0-9a-zA-ZáéíóúÁÉÍÓÚ ''\-,\/()\*]*$') = 0) or AddressLine1 is null
							)


	PRINT '4.1'
	--DC09.04 - Rule 9: Address Lines 1-3 - Address Lines 1-3 found in more than one staging table and values matches - good quality data, NULL values
	declare DC01_1_09_4 cursor for

	select distinct PPSN, AddressLine1, AddressLine2, AddressLine3 from #person_more_ppsn where PPSN in (
		select PPSN from (
			select PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3) 'Name', ROW_NUMBER() OVER (PARTITION BY PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3) order by PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3)) 'RankPos' from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3) 'Name', ROW_NUMBER() OVER (PARTITION BY PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3) order by PPSN, CONCAT(AddressLine1, AddressLine2, AddressLine3)) 'RankPos'
						from #person_more_ppsn
				) a
				group by PPSN
				having count(PPSN) <> max(RankPos)
				) 
			and len(CONCAT(AddressLine1, AddressLine2, AddressLine3))>0
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
		)
		and len(CONCAT(AddressLine1, AddressLine2, AddressLine3))>0
		and (person.udf_IsStringValid (isnull(CONCAT(AddressLine1, AddressLine2, AddressLine3),'<!NotValidString!>'), '^[0-9a-zA-ZáéíóúÁÉÍÓÚ ''\-,\/()\*]*$') = 1)
	order by ppsn

	OPEN DC01_1_09_4
	FETCH NEXT FROM DC01_1_09_4 INTO @PPSN, @A1, @A2, @A3

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_09]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set AddressLine1=@A1, AddressLine2=@A2, AddressLine3=@A3, ModifiedOn=getdate(), ModifiedBy = 'AU: DC09.03 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and (AddressLine1 is null or AddressLine2 is null or AddressLine3 is null)

	FETCH NEXT FROM DC01_1_09_4 INTO @PPSN, @A1, @A2, @A3

	END 

	CLOSE DC01_1_09_4 
	DEALLOCATE DC01_1_09_4

	PRINT '4.2'
	--DC09.05 - Rule 9: Address Lines 1-3 - Address Lines 1-3 found in more than one staging table and values are different
	declare DC01_1_09_5 cursor for
		select PPSN, SourceSystem, ID, PersonType, AddressLine1, AddressLine2, AddressLine3
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_09 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_09_5

	FETCH NEXT FROM DC01_1_09_5 
	INTO @PPSN, @SourceSystem, @ID, @PersonType, @A1, @A2, @A3

	WHILE @@FETCH_STATUS = 0
	BEGIN
		If (person.udf_IsStringValid (isnull(CONCAT(@A1, @A2, @A3),'<!NotValidString!>'), '^[0-9a-zA-ZáéíóúÁÉÍÓÚ ''\-,\/()\*]*$') = 0) or @A1 is null
			set @ErrorCode = 3
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_09]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_09_5 
		INTO @PPSN, @SourceSystem, @ID, @PersonType, @A1, @A2, @A3
	END 
	CLOSE DC01_1_09_5
	DEALLOCATE DC01_1_09_5


	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
