USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_03]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [cleansing].[proc_DC01_1_03] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	--DC01_1_03_1 - Rule 3: Title -  Person found in one staging table
	INSERT INTO [cleansing].[DC01_1_03]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * 
			from #person_one_ppsn 


	--DC01_1_03_2 - Rule 3: Title - Person found in more than one staging table and values matches and are NULL values also
	INSERT INTO [cleansing].[DC01_1_03]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
	select 0, 0, @ETLId, * from #person_more_ppsn where PPSN IN 
		(
		select PPSN from (
			select 
				PPSN, Title, ROW_NUMBER() OVER (PARTITION BY PPSN, Title order by PPSN, Title) 'RankPos'
			from #person_more_ppsn 
			) a
		group by PPSN
		having count(PPSN) = max(RankPos)
		)

	--DC01_1_03_3 - Rule 3: Title - Person found in more than one staging table and values are different
	INSERT INTO [cleansing].[DC01_1_03]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
	select 3, 1, @ETLId, * from #person_more_ppsn where PPSN IN 
		(
		select PPSN from (
			select PPSN, Title, ROW_NUMBER() OVER (PARTITION BY PPSN, Title order by PPSN, Title) 'RankPos' from #person_more_ppsn  where PPSN in (
				select PPSN from (
						select 
							PPSN, Title, ROW_NUMBER() OVER (PARTITION BY PPSN, Title order by PPSN, Title) 'RankPos'
						from #person_more_ppsn 
						) a
					group by PPSN
					having count(PPSN) <> max(RankPos)
					)
				and Title is not null
			) b
			group by PPSN
			having count(PPSN) <> max(RankPos)
		)


		--DC01_1_03_3 - Rule 3: Title - Person found in more than one staging table and values are different
		declare @PPSN varchar(20), @Title varchar(20)
		declare DC01_1_03_3 cursor for

		select distinct PPSN, Title from #person_more_ppsn  where PPSN in (
			select PPSN from (
				select PPSN, Title, ROW_NUMBER() OVER (PARTITION BY PPSN, Title order by PPSN, Title) 'RankPos' from #person_more_ppsn  where PPSN in (
					select PPSN from (
							select 
								PPSN, Title, ROW_NUMBER() OVER (PARTITION BY PPSN, Title order by PPSN, Title) 'RankPos'
							from #person_more_ppsn 
							) a
						group by PPSN
						having count(PPSN) <> max(RankPos)
						)
					and Title is not null
				) b
				group by PPSN
				having count(PPSN) = max(RankPos)
		)
		and Title is not null

		OPEN DC01_1_03_3  
		FETCH NEXT FROM DC01_1_03_3 INTO @PPSN, @Title

		WHILE @@FETCH_STATUS = 0  
		BEGIN  


			INSERT INTO [cleansing].[DC01_1_03]
					([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
					[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
					[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
					[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
					[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

			UPDATE cleansing.Person set Title=@Title, ModifiedOn=getdate(), ModifiedBy = 'AU: DC03.02 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and Title is null

		FETCH NEXT FROM DC01_1_03_3 INTO @PPSN, @Title

		END 

		CLOSE DC01_1_03_3  
		DEALLOCATE DC01_1_03_3


	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
