USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_11]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_11] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @Town nvarchar(50), @County nvarchar(50), @PostCode varchar(50), @ErrorCode int
	
	--DC11.01 - Rule 11: County - County found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, p.* from #person_one_ppsn p
				left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where 
		(
			(p.CountyName = 'Co. Dublin'	and p.Town not like '%Dublin%'	and p.PostCode is null)
		or	(p.CountyName = 'Co. Dublin'	and p.Town like '%Dublin%'		and p.PostCode is null)
		or	(p.CountyName = 'Co. Dublin'	and p.Town is null				and p.PostCode is null)
		or	(p.CountyName = 'Dublin'		and p.Town is null				and p.PostCode is not null)
		or	(p.CountyName = 'Dublin'		and p.Town like '%Dublin%'		and p.PostCode is not null)
		or	(p.CountyName = 'Dublin'		and p.Town not like '%Dublin%'		and p.PostCode is not null)
		or p.CountyName not in ('Co. Dublin','Dublin')
		) and c.CountyId is not null

	--DC11.02 - Rule 11: County - County found in one staging table - bad quality data
	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 0, @ETLId, p.* from #person_one_ppsn p
			left join 
			(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
				c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				or
				c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
		where 
		(c.CountyName = 'Co. Dublin' and (p.Town is null or p.Town not in ('Dublin')) and p.PostCode is not null)
		or (c.CountyName = 'Dublin'  and p.Town like '%Dublin%' and p.PostCode is null)


	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 0, @ETLId, p.* from #person_one_ppsn p
			left join 
			(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
				c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				or
				c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
		where 
			c.CountyId is null

	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -2, 0, @ETLId, p.* from #person_one_ppsn p
				left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where 
			c.CountyName = 'Dublin' and (p.Town not like '%Dublin%' or p.Town is null) and p.PostCode is null

		update cleansing.Person set CountyName = 'Co. Dublin', ModifiedOn=getdate(), ModifiedBy = 'AU: DC11.05 ' + convert(varchar(10), @ETLId)
		where PPSN in 
			(select PPSN 
				from #person_one_ppsn p
				left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where
				c.CountyName = 'Dublin' and (p.Town not like '%Dublin%' or p.Town is null) and p.PostCode is null
			)

	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -2, 0, @ETLId, p.* from #person_one_ppsn p
				left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where 
				c.CountyName = 'Co. Dublin' and p.Town in ('Dublin') and p.PostCode is not null

		update cleansing.Person set CountyName = 'Dublin', ModifiedOn=getdate(), ModifiedBy = 'AU: DC11.05 ' + convert(varchar(10), @ETLId)
		where PPSN in 
			(select PPSN 
				from #person_one_ppsn p
				left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where
				c.CountyName = 'Co. Dublin' and p.Town in ('Dublin') and p.PostCode is not null
			)



	PRINT '3.0'
	--DC11.03 - Rule 11: County - County found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, p.* from #person_more_ppsn p left join 
			(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
							c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							or
							c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId order by PPSN,  c.CountyId) 'RankPos'
									from #person_more_ppsn p left join 
									(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
										c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										or
										c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										) a
										group by PPSN
										having count(PPSN) = max(RankPos)
							)
						and (
								(p.CountyName = 'Co. Dublin'	and p.Town not like '%Dublin%'	and p.PostCode is null)
							or	(p.CountyName = 'Co. Dublin'	and p.Town like '%Dublin%'		and p.PostCode is null)
							or	(p.CountyName = 'Co. Dublin'	and p.Town is null				and p.PostCode is null)
							or	(p.CountyName = 'Dublin'		and p.Town is null				and p.PostCode is not null)
							or	(p.CountyName = 'Dublin'		and p.Town like '%Dublin%'		and p.PostCode is not null)
							or	(p.CountyName = 'Dublin'		and p.Town not like '%Dublin%'		and p.PostCode is not null)
							or p.CountyName not in ('Co. Dublin','Dublin')
						) and c.CountyId is not null


	PRINT '3.1'
	--DC11.04 - Rule 11: County - County found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, p.* from #person_more_ppsn p left join 
			(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
							c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							or
							c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId order by PPSN, c.CountyId) 'RankPos'
									from #person_more_ppsn p left join 
									(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
										c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										or
										c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										) a
										group by PPSN
										having count(PPSN) = max(RankPos)
							)
				and (
				(c.CountyName = 'Co. Dublin' and (p.Town is null or p.Town not in ('Dublin')) and p.PostCode is not null)
				or (c.CountyName = 'Dublin'  and p.Town like '%Dublin%' and p.PostCode is null)
				)

	PRINT '3.2'
	--DC11.04 - Rule 11: County - County found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, p.* from #person_more_ppsn p left join 
			(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
							c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							or
							c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId order by PPSN, c.CountyId) 'RankPos'
									from #person_more_ppsn p left join 
									(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
										c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										or
										c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										) a
										group by PPSN
										having count(PPSN) = max(RankPos)
							)
				and c.Countyid is null




	--DC11.05 - Rule 11: County -  County found in more than one staging table and values are different - Co. Dublin and Dublin values in results - good quality data
	PRINT '3.3a'
	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -2, 0, @ETLId, p.* from #person_more_ppsn p left join 
			(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
							c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							or
							c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId, p.Town, p.PostCode order by PPSN, c.CountyId) 'RankPos'
									from #person_more_ppsn p left join 
									(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
										c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										or
										c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										) a
										group by PPSN
										having count(PPSN) = max(RankPos)
							)
				and c.CountyName = 'Dublin' and (p.Town not like '%Dublin%' or p.Town is null) and p.PostCode is null

		update p set CountyName = 'Co. Dublin', ModifiedOn=getdate(), ModifiedBy = 'AU: DC11.05 ' + convert(varchar(10), @ETLId)
			from cleansing.Person p inner join #person_more_ppsn p1 on p.SourceSystem=p1.SourceSystem and p.id=p1.Id left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
								c.CountyName = case p1.CountyName when 'N/A' then 'N/A_'+p1.CountryName else p1.CountyName end
								or
								c.CountyIrishName = case p1.CountyName when 'N/A' then 'N/A_'+p1.CountryName else p1.CountyName end
					where p1.PPSN in (
								select PPSN from (
									select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId, p.Town, p.PostCode order by PPSN, c.CountyId) 'RankPos'
										from #person_more_ppsn p left join 
										(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
											c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
											or
											c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
											) a
											group by PPSN
											having count(PPSN) = max(RankPos)
								)
					and c.CountyName = 'Dublin' and (p.Town not like '%Dublin%' or p.Town is null) and p.PostCode is null


	PRINT '3.3b'
	INSERT INTO [cleansing].[DC01_1_11]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -2, 0, @ETLId, p.* from #person_more_ppsn p left join 
			(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
							c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							or
							c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId, p.Town, p.PostCode order by PPSN, c.CountyId) 'RankPos'
									from #person_more_ppsn p left join 
									(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
										c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										or
										c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
										) a
										group by PPSN
										having count(PPSN) = max(RankPos)
							)
				and c.CountyName = 'Co. Dublin' and p.Town in ('Dublin') and p.PostCode is not null

		update p set CountyName = 'Dublin', ModifiedOn=getdate(), ModifiedBy = 'AU: DC11.05 ' + convert(varchar(10), @ETLId)
			from cleansing.Person p inner join #person_more_ppsn p1 on p.SourceSystem=p1.SourceSystem and p.id=p1.Id left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
								c.CountyName = case p1.CountyName when 'N/A' then 'N/A_'+p1.CountryName else p1.CountyName end
								or
								c.CountyIrishName = case p1.CountyName when 'N/A' then 'N/A_'+p1.CountryName else p1.CountyName end
					where p1.PPSN in (
								select PPSN from (
									select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId, p.Town, p.PostCode order by PPSN, c.CountyId) 'RankPos'
										from #person_more_ppsn p left join 
										(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
											c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
											or
											c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
											) a
											group by PPSN
											having count(PPSN) = max(RankPos)
								)
					and c.CountyName = 'Co. Dublin' and p.Town in ('Dublin') and p.PostCode is not null



	PRINT '4.1'
	--DC11.04 - Rule 11: County - County found in more than one staging table and values matches - good quality data, NULL values
	declare DC01_1_11_4 cursor for

	select distinct PPSN, c.CountyName from #person_more_ppsn p left join 
		(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
	where PPSN in (
		select PPSN from (
			select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId order by PPSN, c.CountyId) 'RankPos'
			 from #person_more_ppsn p left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
							c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							or
							c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				where PPSN in (
				select PPSN from (
					select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountyId order by PPSN, c.CountyId) 'RankPos'
						from #person_more_ppsn p left join 
						(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
							c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							or
							c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							) a
							group by PPSN
							having count(PPSN) <> max(RankPos)
				) 
			and p.CountyName is not null 
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
		)
		and (
				(p.CountyName = 'Co. Dublin'	and p.Town not like '%Dublin%'	and p.PostCode is null)
			or	(p.CountyName = 'Co. Dublin'	and p.Town like '%Dublin%'		and p.PostCode is null)
			or	(p.CountyName = 'Co. Dublin'	and p.Town is null				and p.PostCode is null)
			or	(p.CountyName = 'Dublin'		and p.Town is null				and p.PostCode is not null)
			or	(p.CountyName = 'Dublin'		and p.Town like '%Dublin%'		and p.PostCode is not null)
			or	(p.CountyName = 'Dublin'		and p.Town not like '%Dublin%'		and p.PostCode is not null)
			or p.CountyName not in ('Co. Dublin','Dublin')
		) and p.CountyName is not null 
	order by PPSN

	OPEN DC01_1_11_4
	FETCH NEXT FROM DC01_1_11_4 INTO @PPSN, @County

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_11]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set CountyName=@County, ModifiedOn=getdate(), ModifiedBy = 'AU: DC11.07 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and CountyName is null

	FETCH NEXT FROM DC01_1_11_4 INTO @PPSN, @County

	END 

	CLOSE DC01_1_11_4 
	DEALLOCATE DC01_1_11_4




	PRINT '4.1a'
	--Change to Co. Dublin 
	--DC11.05 - Rule 11: County - County found in more than one staging table and values are different
	--The Person was found in more than one staging table. There are differences between tables and the values are Co. Dublin and Dublin. Quality rules were applied and returned no error. Change all found values to Co. Dublin. If there are some NULL values in other tables then apply the value across all fields and move the record to single  person staging table.
	declare DC01_1_11_5 cursor for
	select distinct PPSN--, SourceSystem, ID, CountyName, PostCode, Town
	from #person_more_ppsn p where ppsn in (
		select PPSN from (
			select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, case when p.CountyName = 'Dublin' then 'Co. Dublin' when p.CountyName is null then 'Co. Dublin' else p.CountyName end, p.Town, p.PostCode order by PPSN) 'RankPos'
			 from #person_more_ppsn p where ppsn in (
				select distinct PPSN from #person_more_ppsn p
				where not exists (select PPSN from cleansing.DC01_1_11 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
				and (
					(p.CountyName = 'Co. Dublin' and PostCode is NULL and (Town is null or Town <> 'Dublin'))
					or
					(p.CountyName = 'Dublin' and PostCode is NULL and (Town is null or Town <> 'Dublin'))
					)
				)
		) a
		group by PPSN
		having count(PPSN) = max(RankPos)		
	)
	order by PPSN

	OPEN DC01_1_11_5
	FETCH NEXT FROM DC01_1_11_5
	INTO @PPSN

	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO [cleansing].[DC01_1_11]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -2, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set CountyName='Co. Dublin', ModifiedOn=getdate(), ModifiedBy = 'AU: DC11.05 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and CountyName <> 'Co. Dublin'

	FETCH NEXT FROM DC01_1_11_5
		INTO @PPSN
	END 
	CLOSE DC01_1_11_5
	DEALLOCATE DC01_1_11_5




	PRINT '4.1b'
	--Change to Dublin 
	--DC11.05 - Rule 11: County - County found in more than one staging table and values are different
	--The Person was found in more than one staging table. There are differences between tables and the values are Co. Dublin and Dublin. Quality rules were applied and returned no error. Change all found values to Co. Dublin. If there are some NULL values in other tables then apply the value across all fields and move the record to single  person staging table.
	declare DC01_1_11_6 cursor for
	select distinct PPSN--, SourceSystem, ID, CountyName, PostCode, Town
	from #person_more_ppsn p where ppsn in (
		select PPSN from (
			select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, case when p.CountyName = 'Co. Dublin' then 'Dublin' when p.CountyName is null then 'Dublin' else p.CountyName end, p.Town, p.PostCode order by PPSN) 'RankPos'
			 from #person_more_ppsn p where ppsn in (
				select distinct PPSN from #person_more_ppsn p
				where not exists (select PPSN from cleansing.DC01_1_11 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
				and (
					(p.CountyName = 'Co. Dublin' and PostCode is not null and  Town = 'Dublin')
					or
					(p.CountyName = 'Dublin' and PostCode is not null and  Town = 'Dublin')
					)
				)
		) a
		group by PPSN
		having count(PPSN) = max(RankPos)		
	)
	order by PPSN

	OPEN DC01_1_11_6
	FETCH NEXT FROM DC01_1_11_6
	INTO @PPSN

	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO [cleansing].[DC01_1_11]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -2, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set CountyName='Dublin', ModifiedOn=getdate(), ModifiedBy = 'AU: DC11.05 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and CountyName <> 'Dublin'

	FETCH NEXT FROM DC01_1_11_6
		INTO @PPSN
	END 
	CLOSE DC01_1_11_6
	DEALLOCATE DC01_1_11_6

	PRINT '4.2'
	--DC11.05 - Rule 11: County - County found in more than one staging table and values are different
	declare DC01_1_11_7 cursor for
		select PPSN, SourceSystem, ID, CountyName, Town, PostCode
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_11 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_11_7

	FETCH NEXT FROM DC01_1_11_7
	INTO @PPSN, @SourceSystem, @ID, @County, @Town, @PostCode

	WHILE @@FETCH_STATUS = 0
	BEGIN
		If @County = 'Co. Dublin' and @Town like '%Dublin%' and @PostCode is not null
			set @ErrorCode = 2
		else If @County = 'Dublin' and @Town like '%Dublin%' and @PostCode is null
			set @ErrorCode = 2
		else If len(@County) = 0
			set @ErrorCode = 3
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_11]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_11_7
		INTO @PPSN, @SourceSystem, @ID, @County, @Town, @PostCode
	END 
	CLOSE DC01_1_11_7
	DEALLOCATE DC01_1_11_7

	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
