USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_show_errors]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [cleansing].[proc_show_errors] (@CountPPSN int = 5, @Page int = 0, @ppsn varchar(50)) as 
--declare @Type int = 1, @CountPPSN int = 14, @Page int = 0, @ppsn varchar(50) = ''
create table #cte_ppsn 
	(PPSN varchar(20) PRIMARY KEY)

begin

		insert into #cte_ppsn 
		select PPSN from (
		select PPSN from cleansing.DC01_1_01 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_01)
		union
		select PPSN from cleansing.DC01_1_02 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_02)
		union
		select PPSN from cleansing.DC01_1_03 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_03)
		union
		select PPSN from cleansing.DC01_1_04 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_04)
		union
		select PPSN from cleansing.DC01_1_05 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_05)
		union
		select PPSN from cleansing.DC01_1_06 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_06)
		union
		select PPSN from cleansing.DC01_1_07 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_07)
		union
		select PPSN from cleansing.DC01_1_08 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_08)
		union
		select PPSN from cleansing.DC01_1_09 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_09)
		union
		select PPSN from cleansing.DC01_1_10 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_10)
		union
		select PPSN from cleansing.DC01_1_11 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_11)
		union
		select PPSN from cleansing.DC01_1_12 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_12)
		union
		select PPSN from cleansing.DC01_1_13 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_13)
		union
		select PPSN from cleansing.DC01_1_14 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_14)
		union
		select PPSN from cleansing.DC01_1_15 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_15)
		union
		select PPSN from cleansing.DC01_1_16 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_16)
		union
		select PPSN from cleansing.DC01_1_17 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_17)
		union
			(
			select PPSN from cleansing.DC01_1_18 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_18)
			except
			select PPSN from cabs_production.person.person
			)
		union
			(
			select PPSN from cleansing.DC01_1_19 with (nolock) where PPSNError = 1 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_19)
			except
			select PPSN from cabs_production.person.person
			)
		) a
		except
		select distinct ppsn from cleansing.person where ModifiedByCleansingTool = 1

;with cte_topppsn as (
	select PPSN from #cte_ppsn
	where ppsn like '%'+@ppsn+'%'
	order by PPSN
	OFFSET @page*@CountPPSN ROWS
	FETCH NEXT @CountPPSN ROWS ONLY
	), 

cte_cleansingperson as (
	select p.SourceSystem, p.Id, p.Ppsn, p.PersonType, p.PersonStatus,
			p.Title, p.FirstName, p.LastName, p.CompanyName, p.CompanyNumber, p.TradingAs, p.DateOfBirth,
			p.MobilePhone, p.OtherPhone, p.Email, p.AddressLine1, p.AddressLine2, p.AddressLine3, p.Irish, p.Eircode,
			p.PrefContactMethod, p.Town, p.PostCode, p.CountyName, p.CountryName, p.CreatedBy,
			p.CreatedOn, p.ModifiedBy, p.ModifiedOn, p.BlockedByCleansingTool, p.ETLId
		from cleansing.person p
		inner join cte_topppsn c on c.Ppsn=p.Ppsn), 

cte_ppsnError as (
	select p.SourceSystem, p.ID, p.PPSN,
	--DC01_1_01
			p.PersonStatus, r1.PPSNError 'PersonStatus_PPSNError', 
	--DC01_1_02
			p.PersonType, r2.PPSNError 'PersonType_PPSNError', 
	--DC01_1_03
			p.Title, r3.PPSNError 'Title_PPSNError', 
	--DC01_1_04
			p.FirstName, p.LastName, r4.PPSNError 'Name_PPSNError', 
	--DC01_1_05
			p.DateOfBirth , r5.PPSNError 'DateOfBirth_PPSNError', 
	--DC01_1_06
			p.CompanyName, r6.PPSNError 'CompanyName_PPSNError', 
	--DC01_1_07
			p.CompanyNumber, r7.PPSNError 'CompanyNumber_PPSNError', 
	--DC01_1_08
			p.TradingAs, r8.PPSNError 'TradingAs_PPSNError', 
	--DC01_1_09
			p.AddressLine1, p.AddressLine2, p.AddressLine3, r9.PPSNError 'Address_PPSNError', 
	--DC01_1_10
			p.Town, r10.PPSNError 'Town_PPSNError', 
	--DC01_1_11
			p.CountyName, r11.PPSNError 'CountyName_PPSNError', 
	--DC01_1_12
			p.PostCode, r12.PPSNError 'PostCode_PPSNError', 
	--DC01_1_13
			p.CountryName, r13.PPSNError 'CountryName_PPSNError', 
	--DC01_1_14
			p.Email, r14.PPSNError 'Email_PPSNError', 
	--DC01_1_15
			p.MobilePhone, r15.PPSNError 'MobilePhone_PPSNError', 
	--DC01_1_16
			p.OtherPhone, r16.PPSNError 'OtherPhone_PPSNError', 
	--DC01_1_17
			p.PrefContactMethod, r17.PPSNError 'PrefContactMethod_PPSNError', 
	--DC01_1_17
			r18.PPSNError 'Mismatching_PPSNError', 
	--DC01_1_17
			r19.PPSNError 'Invalid_PPSNError', 

			p.Irish, p.EirCode,
			p.CreatedBy, p.CreatedOn, p.ModifiedBy, p.ModifiedOn, 
			convert(bit, iif(datediff(MINUTE, isnull(p.BlockedByCleansingTool, '1900-01-01'), getdate()) > 60, 0, 1)) 'BlockedByCleansingTool',
			p.ETLId


	from cte_cleansingperson p
		left outer join cleansing.DC01_1_01 r1 with (nolock) on p.SourceSystem = r1.SourceSystem and p.ID=r1.Id and  r1.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_01) 
		left outer join cleansing.DC01_1_02 r2 with (nolock) on p.SourceSystem = r2.SourceSystem and p.ID=r2.Id and  r2.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_02) 
		left outer join cleansing.DC01_1_03 r3 with (nolock) on p.SourceSystem = r3.SourceSystem and p.ID=r3.Id and  r3.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_03) 
		left outer join cleansing.DC01_1_04 r4 with (nolock) on p.SourceSystem = r4.SourceSystem and p.ID=r4.Id and  r4.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_04) 
		left outer join cleansing.DC01_1_05 r5 with (nolock) on p.SourceSystem = r5.SourceSystem and p.ID=r5.Id and  r5.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_05) 
		left outer join cleansing.DC01_1_06 r6 with (nolock) on p.SourceSystem = r6.SourceSystem and p.ID=r6.Id and  r6.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_06) 
		left outer join cleansing.DC01_1_07 r7 with (nolock) on p.SourceSystem = r7.SourceSystem and p.ID=r7.Id and  r7.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_07) 
		left outer join cleansing.DC01_1_08 r8 with (nolock) on p.SourceSystem = r8.SourceSystem and p.ID=r8.Id and  r8.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_08) 
		left outer join cleansing.DC01_1_09 r9 with (nolock) on p.SourceSystem = r9.SourceSystem and p.ID=r9.Id and  r9.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_09) 
		left outer join cleansing.DC01_1_10 r10 with (nolock) on p.SourceSystem = r10.SourceSystem and p.ID=r10.Id and  r10.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_10) 
		left outer join cleansing.DC01_1_11 r11 with (nolock) on p.SourceSystem = r11.SourceSystem and p.ID=r11.Id and  r11.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_11) 
		left outer join cleansing.DC01_1_12 r12 with (nolock) on p.SourceSystem = r12.SourceSystem and p.ID=r12.Id and  r12.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_12) 
		left outer join cleansing.DC01_1_13 r13 with (nolock) on p.SourceSystem = r13.SourceSystem and p.ID=r13.Id and  r13.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_13) 
		left outer join cleansing.DC01_1_14 r14 with (nolock) on p.SourceSystem = r14.SourceSystem and p.ID=r14.Id and  r14.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_14) 
		left outer join cleansing.DC01_1_15 r15 with (nolock) on p.SourceSystem = r15.SourceSystem and p.ID=r15.Id and  r15.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_15) 
		left outer join cleansing.DC01_1_16 r16 with (nolock) on p.SourceSystem = r16.SourceSystem and p.ID=r16.Id and  r16.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_16) 
		left outer join cleansing.DC01_1_17 r17 with (nolock) on p.SourceSystem = r17.SourceSystem and p.ID=r17.Id and  r17.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_17) 
		left outer join cleansing.DC01_1_18 r18 with (nolock) on p.SourceSystem = r18.SourceSystem and p.ID=r18.Id and  r18.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_18) 
		left outer join cleansing.DC01_1_19 r19 with (nolock) on p.SourceSystem = r19.SourceSystem and p.ID=r19.Id and  r19.RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_19) 
		)

		/*
		select 
		(select convert(int, CEILING(convert(decimal(10,2),count(PPSN)/convert(decimal(10,2),@CountPPSN)))) from #cte_ppsn where ppsn like '%'+@ppsn+'%') 'PageCount',
		
		--convert(int, PersonStatus_PPSNError) + convert(int, PersonType_PPSNError) + convert(int, Title_PPSNError) + convert(int, Name_PPSNError) + convert(int, DateOfBirth_PPSNError) + convert(int, CompanyName_PPSNError) + convert(int, CompanyName_PPSNError) + convert(int, TradingAs_PPSNError) + convert(int, Address_PPSNError) + convert(int, Town_PPSNError) + convert(int, County_PPSNError) + convert(int, PostCode_PPSNError) + convert(int, Country_PPSNError) + convert(int, Email_PPSNError) + convert(int, MobilePhone_PPSNError) + convert(int, OtherPhone_PPSNError) + convert(int, ContactMethod_PPSNError) + convert(int, Mismatching_PPSNError) + convert(int, Invalid_PPSNError)'CountErrors',
			SourceSystem,
			ID,
			PPSN,
			PersonStatus, PersonStatus_PPSNError, 
			PersonType, PersonType_PPSNError, 
			Title, Title_PPSNError, 
			FirstName, LastName, Name_PPSNError, 
			convert(datetime2, DateOfBirth) 'DateOfBirth', DateOfBirth_PPSNError, 
			CompanyName, CompanyName_PPSNError, 
			CompanyNumber, CompanyNumber_PPSNError, 
			TradingAs, TradingAs_PPSNError, 
			AddressLine1, AddressLine2, AddressLine3, Address_PPSNError, 
			Town, Town_PPSNError, 
			CountyName, CountyName_PPSNError, 
			PostCode, PostCode_PPSNError, 
			CountryName, CountryName_PPSNError, 
			Email, Email_PPSNError, 
			MobilePhone, MobilePhone_PPSNError, 
			OtherPhone,OtherPhone_PPSNError, 
			PrefContactMethod, PrefContactMethod_PPSNError, 
			Mismatching_PPSNError, 
			Invalid_PPSNError, 
			Irish, EirCode, 
			CreatedBy, CreatedOn, ModifiedBy, ModifiedOn, 
			BlockedByCleansingTool
		*/

		select 
		(select convert(int, CEILING(convert(decimal(10,2),count(PPSN)/convert(decimal(10,2),@CountPPSN)))) from #cte_ppsn where ppsn like '%'+@ppsn+'%') 'PageCount',
		
		--convert(int, PersonStatus_PPSNError) + convert(int, PersonType_PPSNError) + convert(int, Title_PPSNError) + convert(int, Name_PPSNError) + convert(int, DateOfBirth_PPSNError) + convert(int, CompanyName_PPSNError) + convert(int, CompanyName_PPSNError) + convert(int, TradingAs_PPSNError) + convert(int, Address_PPSNError) + convert(int, Town_PPSNError) + convert(int, County_PPSNError) + convert(int, PostCode_PPSNError) + convert(int, Country_PPSNError) + convert(int, Email_PPSNError) + convert(int, MobilePhone_PPSNError) + convert(int, OtherPhone_PPSNError) + convert(int, ContactMethod_PPSNError) + convert(int, Mismatching_PPSNError) + convert(int, Invalid_PPSNError)'CountErrors',
			SourceSystem,
			ID,
			PPSN,
			PersonStatus, 
			PersonType, 
			Title, 
			FirstName, LastName, 
			convert(datetime2, DateOfBirth) 'DateOfBirth', 
			CompanyName, 
			CompanyNumber, 
			TradingAs, 
			AddressLine1, AddressLine2, AddressLine3, 
			Town, 
			CountyName, 
			PostCode, 
			CountryName, 
			Email, 
			MobilePhone, 
			OtherPhone, 
			PrefContactMethod, 
			Irish, EirCode, 
			CreatedBy, CreatedOn, ModifiedBy, ModifiedOn, 
			BlockedByCleansingTool,

			isnull(PersonStatus_PPSNError,0) 'PersonStatus_PPSNError', 
			isnull(PersonType_PPSNError,0) 'PersonType_PPSNError', 
			isnull(Title_PPSNError,0) 'Title_PPSNError', 
			isnull(Name_PPSNError,0) 'Name_PPSNError', 
			isnull(DateOfBirth_PPSNError,0) 'DateOfBirth_PPSNError', 
			isnull(CompanyName_PPSNError,0) 'CompanyName_PPSNError', 
			isnull(CompanyNumber_PPSNError,0) 'CompanyNumber_PPSNError', 
			isnull(TradingAs_PPSNError,0) 'TradingAs_PPSNError', 
			isnull(Address_PPSNError,0) 'Address_PPSNError', 
			isnull(Town_PPSNError,0) 'Town_PPSNError', 
			isnull(CountyName_PPSNError,0) 'CountyName_PPSNError', 
			isnull(PostCode_PPSNError,0) 'PostCode_PPSNError', 
			isnull(CountryName_PPSNError,0) 'CountryName_PPSNError', 
			isnull(Email_PPSNError,0) 'Email_PPSNError', 
			isnull(MobilePhone_PPSNError,0) 'MobilePhone_PPSNError', 
			isnull(OtherPhone_PPSNError,0) 'OtherPhone_PPSNError', 
			isnull(PrefContactMethod_PPSNError,0) 'PrefContactMethod_PPSNError', 
			isnull(Mismatching_PPSNError,0) 'Mismatching_PPSNError', 
			isnull(Invalid_PPSNError,0) 'Invalid_PPSNError'

 from cte_ppsnError
		order by 1 desc, PPSN

end
drop table #cte_ppsn
GO
