USE [CABS]
GO
/****** Object:  Table [cleansing].[VL_LicenceHolderMaster]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cleansing].[VL_LicenceHolderMaster](
	[LicenceHolderId] [int] NOT NULL,
	[Ppsn] [varchar](20) NOT NULL,
	[PersonType] [varchar](20) NULL,
	[PersonStatus] [varchar](20) NULL,
	[Title] [varchar](10) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](100) NULL,
	[CompanyNumber] [int] NULL,
	[TradingAs] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[PhoneNo1] [varchar](50) NULL,
	[PhoneNo2] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Irish] [bit] NULL,
	[PrefContactMethod] [varchar](50) NULL,
	[TextOptIn] [bit] NULL,
	[Town] [nvarchar](50) NULL,
	[PostCode] [varchar](40) NULL,
	[CountyName] [nvarchar](50) NULL,
	[CountryName] [varchar](50) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[ETLId] [int] NOT NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_VL_LicenceHolderMaster] PRIMARY KEY CLUSTERED 
(
	[LicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [cleansing].[VL_LicenceHolderMasterHistory] )
)
GO
