USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR13]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [retention].[DR13] (@RetentionDate DATETIME, @dr13_list retention.CandidateBooking READONLY) AS 
BEGIN

	declare @RuleLoggerId int
	declare @i_ok int = 1
	declare @i_error int = 1
	declare @ppsn varchar(20)
	declare @candidateID AS BIGINT

	DECLARE @dr13_select AS TABLE (
			BookingId BIGINT NOT null,
			CandidateId BIGINT NOT NULL)

	declare @FromDR13 bit = 0


	if exists (SELECT * FROM @dr13_list)
	begin
		set @FromDR13 = 1
		INSERT INTO @dr13_select (BookingId, CandidateId)
		SELECT BookingId, CandidateId FROM @dr13_list d
	end
		
	if @FromDR13 = 0
	BEGIN
		INSERT INTO @dr13_select(BookingId, CandidateId)
		SELECT BookingId, CandidateID FROM [retention].[DR13_SELECT](@RetentionDate)
	END

	if @FromDR13 = 0
	BEGIN
		insert into retention.RulesLogger
			select getdate(), 'DR13', @RetentionDate, getdate(), NULL, count(DISTINCT CandidateId), 0, 0 from @dr13_select
		set @RuleLoggerId  = SCOPE_IDENTITY()
	END

	DECLARE c_candidate CURSOR FOR 
		SELECT DISTINCT CandidateID FROM @dr13_select
	OPEN c_candidate
	FETCH NEXT FROM c_candidate INTO @candidateID
	WHILE @@FETCH_STATUS = 0
	BEGIN
	BEGIN TRY
		BEGIN TRANSACTION;

			insert into retention.RetainedLicences
				([Type], TestConfirmationNumber, TestDate, DeletionDate)
			select 'SK', IIF(b.ConfirmationNumber IS NOT NULL, b.ConfirmationNumber, CONVERT(VARCHAR(MAX), b.ID)), ct.EndDateTime, @RetentionDate
			FROM cabs_production.cabs_sk.Booking b 
				LEFT JOIN [cabs_production].[cabs_sk].[CandidateTest] ct on b.ID = ct.BookingId
				where b.id IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)

			----//delete from cabs_production.cabs_sk.CandidateTestQuestionAnswer - map by cabs_production.cabs_sk.CandidateTestQuestionAnswer.CandidateTestQuestionID = cabs_production.cabs_sk.CandidateTestQuestion.ID
			DECLARE @answers TABLE(CandidateTestQuestionID INT)

			INSERT INTO @answers (CandidateTestQuestionID)
				SELECT DISTINCT CandidateTestQuestionID FROM [cabs_production].[cabs_sk].[CandidateTestQuestionAnswer] WHERE CandidateTestQuestionID IN (
						SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTestQuestion] WHERE CandidateTestModuleID IN (
								SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTestModule] WHERE CandidateTestID IN (
									SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTest] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
									)))

			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.CandidateTestQuestionAnswer','DELETE', CandidateTestQuestionID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'CandidateTestQuestionID'
					FROM [cabs_production].[cabs_sk].[CandidateTestQuestionAnswer]
					WHERE CandidateTestQuestionID IN (SELECT CandidateTestQuestionID FROM @answers)
					GROUP BY CandidateTestQuestionID

				delete FROM [cabs_production].[cabs_sk].[CandidateTestQuestionAnswer] WHERE CandidateTestQuestionID IN (SELECT CandidateTestQuestionID FROM @answers)
				PRINT N'REMOVED USERS TESTS ANSWERS'
			END


			----//delete from cabs_production.cabs_sk.CandidateTestQuestion - map by cabs_production.cabs_sk.CandidateTestQuestion.CandidateTestModuleID = cabs_production.cabs_sk.CandidateTestModule.ID
			DECLARE @testQuestions TABLE(
				CandidateTestModuleID INT
			)
			INSERT INTO @testQuestions(CandidateTestModuleID)
			SELECT DISTINCT CandidateTestModuleID FROM [cabs_production].[cabs_sk].[CandidateTestQuestion] WHERE CandidateTestModuleID IN (
				SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTestModule] WHERE CandidateTestID IN (
					SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTest] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					))

			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.CandidateTestQuestion','DELETE', CandidateTestModuleID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'CandidateTestModuleId'
					FROM [cabs_production].[cabs_sk].[CandidateTestQuestion] 
					WHERE CandidateTestModuleID IN (SELECT CandidateTestModuleID FROM @testQuestions)
					GROUP BY CandidateTestModuleID

				delete FROM [cabs_production].[cabs_sk].[CandidateTestQuestion] WHERE CandidateTestModuleID IN (SELECT CandidateTestModuleID FROM @testQuestions)
				PRINT N'REMOVED USERS TESTS QUESTIONS'
			END
			
			----//delete from cabs_production.cabs_sk.CandidateTestPauseTime - map by cabs_production.cabs_sk.CandidateTestPauseTime.CandidateTestId = cabs_production.cabs_sk.CandidateTest.ID
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.CandidateTestPauseTime','DELETE', CANDIDATETESTID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'CandidateTestId'
					FROM [cabs_production].[cabs_sk].[CandidateTestPauseTime] WHERE CandidateTestId IN (
							SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTest] WHERE BookingId IN (
								SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
					GROUP BY CandidateTestId

				delete FROM [cabs_production].[cabs_sk].[CandidateTestPauseTime] WHERE CandidateTestId IN (SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTest] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
				PRINT N'REMOVED TESTS PAUSED TIMES'
			END

		----//delete from cabs_production.cabs_sk.CandidateTestModule - map by cabs_production.cabs_sk.CandidateTestModule.CandidateTestID = cabs_production.cabs_sk.CandidateTest.ID
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.CandidateTestModule','DELETE', CandidateTestID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'CandidateTestId'
					FROM [cabs_production].[cabs_sk].[CandidateTestModule] WHERE CandidateTestID IN (SELECT ID 
																										FROM [cabs_production].[cabs_sk].[CandidateTest] 
																										WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
																										GROUP BY CandidateTestID

				delete FROM [cabs_production].[cabs_sk].[CandidateTestModule] WHERE CandidateTestID IN (SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTest] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
				PRINT N'REMOVED USERS TESTS MODULES'
			END
			
			
			----//delete from cabs_production.cabs_sk.CandidateTestNote - mapping can be made by CandidateID or CandidateTestID
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.CandidateTestNote','DELETE', ID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'ID'
					FROM [cabs_production].[cabs_sk].[CandidateTestNote] WHERE CandidateTestID IN (
						SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTest] WHERE BookingId IN (
							SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
							) OR CandidateId = @candidateID GROUP BY ID

				delete FROM [cabs_production].[cabs_sk].[CandidateTestNote] 
					WHERE CandidateTestID IN (SELECT ID FROM [cabs_production].[cabs_sk].[CandidateTest] 
												WHERE BookingId IN (SELECT BookingId FROM @dr13_select 
													where CandidateID = @candidateID))
					OR CandidateId = @candidateID
				PRINT N'REMOVED BOOKING NOTES'
			END
			
			----//delete from cabs_production.cabs_sk.CandidateTest - map by cabs_production.cabs_sk.CandidateTest.BookingId = cabs_production.cabs_sk.Booking.BookingId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.CandidateTest','DELETE', BookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BookingId'
					FROM [cabs_production].[cabs_sk].[CandidateTest] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY BookingId

				delete FROM [cabs_production].[cabs_sk].[CandidateTest] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVED CANDIDATE TESTS'
			END

			----//delete from cabs_production.dbo.PrintRequestDetailVLQueueItem - map by cabs_production.dbo.PrintRequestDetailVL = cabs_production.dbo.PrintRequestDetailVLQueueItem.PrintRequestId
			DECLARE @printRequestDetailVLQueueItem TABLE(
				PrintRequestId INT
			)
			INSERT INTO @printRequestDetailVLQueueItem(PrintRequestId)
				SELECT PrintRequestId FROM [cabs_production].[dbo].[PrintRequestDetailVLQueueItem] 
										WHERE PRINTREQUESTID IN (SELECT PRINTREQUESTID 
																FROM [cabs_production].[dbo].[PrintRequestDetailVL]
																WHERE PRINTREQUESTMASTERID IN (SELECT PRINTREQUESTMASTERID
																								FROM [cabs_production].[dbo].[PrintRequestMasterVL] 
																								WHERE SkBookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)))

			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PrintRequestDetailVLQueueItem','DELETE', PRINTREQUESTID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'PrintRequestId'
					FROM [cabs_production].[dbo].[PrintRequestDetailVLQueueItem] 
					WHERE PRINTREQUESTID IN (SELECT PrintRequestId FROM @printRequestDetailVLQueueItem)
					GROUP BY PRINTREQUESTID

				delete FROM [cabs_production].[dbo].[PrintRequestDetailVLQueueItem] WHERE PRINTREQUESTID IN (SELECT PrintRequestId FROM @printRequestDetailVLQueueItem)
				PRINT N'REMOVED LETTERS RELATED WITH USER SKILLS BOOKINGS'
			END

			----//delete FROM cabs_production.dbo.PrintRequestDetailVLQueue
			DECLARE @printRequestDetailVLQueue TABLE(
				BatchNumber varchar(50)
			)
			INSERT INTO @printRequestDetailVLQueue (BatchNumber)
				SELECT BatchNumber FROM [cabs_production].[dbo].[PrintRequestDetailVLQueueItem] 
							WHERE PRINTREQUESTID IN (SELECT PRINTREQUESTID 
													FROM [cabs_production].[dbo].[PrintRequestDetailVL]
													WHERE PRINTREQUESTMASTERID IN (SELECT PRINTREQUESTMASTERID
																					FROM [cabs_production].[dbo].[PrintRequestMasterVL] 
																					WHERE SKBookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)))

			BEGIN
				
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PrintRequestDetailVLQueue','DELETE', BatchNumber, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BatchNumber'
					FROM cabs_production.dbo.PrintRequestDetailVLQueue 
					WHERE BatchNumber IN(SELECT BatchNumber FROM @printRequestDetailVLQueue)
					GROUP BY BatchNumber

				delete FROM cabs_production.dbo.PrintRequestDetailVLQueue WHERE BatchNumber IN (SELECT BatchNumber FROM @printRequestDetailVLQueue)
				PRINT N'REMOVED PrintRequestDetailVlQueue'
			END

			----//delete from cabs_production.dbo.PrintRequestDetailVL - map by cabs_production.dbo.PrintRequestMasterVL.PrintRequestMasterId = cabs_production.dbo.PrintRequestDetailVL.PrintRequestMasterId
			DECLARE @printRequestDetailVL TABLE(
				PrintRequestMasterId INT
			)

			INSERT INTO @printRequestDetailVL(PrintRequestMasterId)
				SELECT PrintRequestMasterId FROM [cabs_production].[dbo].[PrintRequestDetailVL]  
				WHERE PrintRequestMasterId IN (SELECT PrintRequestMasterId
											FROM [cabs_production].[dbo].[PrintRequestMasterVL] 
											WHERE SkBookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))

			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PrintRequestDetailVL','DELETE', PRINTREQUESTMASTERID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'PrintRequestMasterId'
					FROM [cabs_production].[dbo].[PrintRequestDetailVL]  
					WHERE PRINTREQUESTMASTERID IN (SELECT PrintRequestMasterId FROM @printRequestDetailVL)
					GROUP BY PRINTREQUESTMASTERID

				delete FROM [cabs_production].[dbo].[PrintRequestDetailVL]  WHERE PRINTREQUESTMASTERID IN(SELECT PrintRequestMasterId FROM @printRequestDetailVL)
				PRINT N'REMOVES PrintRequestDetailVL'
			END

			----//delete from cabs_production.dbo.PrintRequestMasterVL - map by cabs_production.cabs_sk.Booking.BookingId = cabs_production.dbo.PrintRequestMasterVL.SKBookingId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PrintRequestMasterVL','DELETE', SKBookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'SkBookingId'
					FROM [cabs_production].[dbo].[PrintRequestMasterVL] WHERE SKBookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY SKBookingId

				delete FROM [cabs_production].[dbo].[PrintRequestMasterVL] WHERE SKBookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVES PRINTREQUESTMASTERVL'
			END

			----//delete from cabs_production.dbo.PrintRequestMasterVLDownload - map by cabs_production.dbo.PrintRequestMasterVL.PrintRequestMasterId = cabs_production.dbo.PrintRequestMasterVLDownload.PrintRequestMasterId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PrintRequestMasterVLDownload','DELETE', PRINTREQUESTMASTERID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'PrintRequestMasterId'
					FROM [cabs_production].[dbo].[PrintRequestMasterVLDownload] 
					WHERE PRINTREQUESTMASTERID IN (SELECT PRINTREQUESTMASTERID 
												   FROM [cabs_production].[dbo].[PrintRequestMasterVL] 
												   WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
												   GROUP BY PRINTREQUESTMASTERID

					delete FROM [cabs_production].[dbo].[PrintRequestMasterVLDownload] WHERE PRINTREQUESTMASTERID IN (SELECT PRINTREQUESTMASTERID FROM [cabs_production].[dbo].[PrintRequestMasterVL] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
				PRINT N'REMOVES PrintRequestMasterVLDownload'
			END

			----//delete from cabs_production.cabs_sk.BookingRefund - map by cabs_production.cabs_sk.Booking.BookingId = cabs_production.cabs_sk.BookingRefund.BookingId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.BookingRefund','DELETE', BookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BookingId'
					FROM [cabs_production].[cabs_sk].[BookingRefund] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY BookingId

				delete FROM [cabs_production].[cabs_sk].[BookingRefund] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVES BookingRefund'
			END

			
			----//delete from cabs_production.dbo.PaymentItemVLAudit - map by cabs_production.dbo.PaymentVL.PaymentId = cabs_production.dbo.PaymentItemVLAudit.PaymentId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PaymentItemVLAudit','DELETE', PaymentId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'PaymentId'
					FROM [cabs_production].[dbo].PaymentItemVLAudit 
					WHERE PaymentId IN(SELECT PaymentId FROM [cabs_production].[cabs_sk].[BookingPayment] 
										WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
										GROUP BY PaymentId

				delete FROM [cabs_production].[dbo].PaymentItemVLAudit WHERE PaymentId IN (SELECT PaymentId FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
				PRINT N'DELETE PaymentItemVLAudit'
			END

			----//delete from cabs_production.dbo.PaymentItemVL - map by cabs_production.dbo.PaymentVL.PaymentId = cabs_production.dbo.PaymentItemVL.PaymentId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PaymentItemVL','DELETE', PaymentId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'PaymentId'
					FROM [cabs_production].dbo.[PaymentItemVL]
					WHERE PaymentId IN(SELECT PaymentId FROM [cabs_production].[cabs_sk].[BookingPayment] 
										WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
										GROUP BY PaymentId

				delete FROM [cabs_production].dbo.[PaymentItemVL] WHERE PaymentId IN(SELECT PaymentId FROM [cabs_production].[cabs_sk].[BookingPayment]  WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
				PRINT N'REMOVES PaymentItemVL'					
			END

			----//delete from cabs_production.cabs_sk.BookingPayment - map by cabs_production.cabs_sk.Booking.BookingId = cabs_production.cabs_sk.BookingPayment.BookingId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.BookingPayment','DELETE', BookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BookingId'
					FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY BookingId
				
				delete FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVED SKILLS PAYMENETS'
			END
/*
----//Delete from cabs_production.dbo.BookingPayment - map by cabs_production.dbo.PaymentVL.PaymentId =  cabs_production.dbo.BookingPayment.BookingId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.BookingPayment','DELETE', BookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BookingId'
					FROM [cabs_production].[dbo].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY BookingId

				delete FROM [cabs_production].[dbo].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVES dbo.BookingPayment'					
			END
*/

			----//delete PaymentOrdersVL
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PaymentOrdersVL','DELETE', PaymentId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'PaymentId'
					FROM cabs_production.dbo.PaymentOrdersVL
					WHERE PaymentId IN (SELECT PaymentID FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
					GROUP BY PaymentId

				delete FROM cabs_production.dbo.PaymentOrdersVL WHERE PaymentId IN (SELECT PaymentID FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
				PRINT N'REMOVED PAYMENTORDERVL'
			END

			----//delete from cabs_production.dbo.PaymentVL - map by PaymentId - XX Delete from dbo.PaymentOrdersVL
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PaymentVL','DELETE', PaymentId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'PaymentId'
					FROM [cabs_production].[dbo].[PaymentVL]
					WHERE PaymentId IN (SELECT PaymentID FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
					GROUP BY PaymentId
				
				delete FROM [cabs_production].[dbo].[PaymentVL] WHERE PaymentId IN (SELECT PaymentID FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
				PRINT N'REMOVED PAYMENTVL'
			END

			----//delete from cabs_production.dbo.BookingRefund - map by cabs_production.dbo.Booking.BookingId = cabs_production.dbo.BookingRefund.BookingId
			BEGIN

				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.BookingRefund','DELETE', BookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BookingId'
					FROM [cabs_production].[dbo].[BookingRefund]
					WHERE BookingId IN (SELECT PaymentID FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
					GROUP BY BookingId

				delete FROM [cabs_production].[dbo].[BookingRefund] WHERE BookingId IN (SELECT PaymentID FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID))
				PRINT N'REMOVES BookingRefund'
			END

			----//delete from cabs_production.dbo.PaymentRefundVL - map by cabs_production.dbo.BookingRefund.RefundId = cabs_production.dbo.PaymentRefundVL.RefundId
			DECLARE @paymentRefundVL TABLE (
				RefundId INT
			)
			INSERT INTO @paymentRefundVL(RefundId)
			SELECT RefundId FROM [cabs_production].[dbo].[PaymentRefundVL]
			WHERE RefundId IN (SELECT RefundId FROM [cabs_production].[dbo].[BookingRefund]
								WHERE BookingId IN (SELECT PaymentID FROM [cabs_production].[cabs_sk].[BookingPayment] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)))

			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.PaymentRefundVL','DELETE', RefundId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'RefundId'
					FROM [cabs_production].[dbo].[PaymentRefundVL]
					WHERE RefundId IN (SELECT RefundId FROM @paymentRefundVL)
					GROUP BY RefundId

				delete FROM [cabs_production].[dbo].[PaymentRefundVL] WHERE RefundId IN (SELECT RefundId FROM @paymentRefundVL)
				PRINT N'REMOVES PaymentRefoundVL'
			END

			----//delete from cabs_production.cabs_sk.BookingAudit - map by cabs_production.cabs_sk.Booking.BookingId = cabs_production.cabs_sk.BookingAudit .BookingId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.BookingAudit','DELETE', BookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BookingId'
					FROM [cabs_production].[cabs_sk].[BookingAudit] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY BookingId

				delete FROM [cabs_production].[cabs_sk].[BookingAudit] WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVES BOOKING AUDIT'
			END

			----//delete from cabs_production.dbo.BookingCheckings - map by cabs_production.dbo.BookingCheckings.BookingId = cabs_production.cabs_sk.Booking.BookingId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.dbo.BookingCheckings','DELETE', BookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BookingId'
					FROM cabs_production.dbo.BookingCheckings WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY BookingId

				delete FROM cabs_production.dbo.BookingCheckings WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVES BOOKING CHECKINGS'
			END

			----//delete from cabs_production.cabs_sk.CandidateHistoryImage - map by cabs_production.cabs_sk.Booking.BookingId = cabs_production.cabs_sk.CandidateHistoryImage.BookingId
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.CandidateHistoryImage','DELETE', BookingId, convert(varchar(40), @retentiondate, 120),COUNT(*), 'BookingId'
					FROM cabs_production.cabs_sk.CandidateHistoryImage WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY BookingId

				delete FROM cabs_production.cabs_sk.CandidateHistoryImage WHERE BookingId IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVES CANDIDATE HISTORY IMAGE'
			END

			----//delete from cabs_production.cabs_sk.Booking - map by cabs_production.cabs_sk.Booking.CandidateID = cabs_production.cabs_sk.Candidate.ID
			BEGIN
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
					SELECT 'DR13','cabs_production.cabs_sk.Booking','DELETE', ID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'ID'
					FROM [cabs_production].[cabs_sk].[Booking] WHERE ID IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
					GROUP BY ID

				delete FROM [cabs_production].[cabs_sk].[Booking] WHERE ID IN (SELECT BookingId FROM @dr13_select where CandidateID = @candidateID)
				PRINT N'REMOVES BOOKINGS'
			END

			if @FromDR13 = 0
			BEGIN
				select @ppsn=ppsn from cabs_production.cabs_cmo.Person where id in (select PersonId FROM cabs_production.cabs_sk.Candidate WHERE ID = @candidateID)
				----//delete candidate
				BEGIN
					insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
						SELECT 'DR13','cabs_production.cabs_sk.Candidate','DELETE', ID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'ID'
						FROM cabs_production.cabs_sk.Candidate WHERE ID = @candidateID
						GROUP BY ID

					delete FROM cabs_production.cabs_sk.Candidate WHERE ID = @candidateID
					PRINT N'REMOVES CANDIDATES'
				END

				--BREAK LINKS FROM CASES TO CANDIDATE
				begin
					insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR09', 'Cabs_Live.dbo.Cases', 'UPDATE',  id, convert(varchar(40), @RetentionDate,120), count(*), 
						'Id' 
						from Cabs_Live.dbo.Cases 
						where linkedSkillsCandidate=@PPSN
						group by id

					UPDATE Cabs_Live.dbo.Cases
					SET linkedSkillsCandidate = null
					WHERE linkedSkillsCandidate = @PPSN
				end
			END

		if @FromDR13 = 0
		BEGIN
			update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
			set @i_ok=@i_ok+1
		END
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				if @FromDR13 = 0
				BEGIN
					insert into retention.ErrorLog
					select 
						getdate() 'Date', 
						ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
						ERROR_NUMBER() 'ERROR_NUMBER', 
						ERROR_MESSAGE() 'ERROR_MESSAGE',
						'DR13: CandidateId: ' + convert(varchar(10), @candidateID) 'RULE_MESSAGE'
						
					update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
					set @i_error=@i_error+1
				END
				ELSE
				BEGIN
					insert into retention.ErrorLog
					select 
						getdate() 'Date', 
						ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
						ERROR_NUMBER() 'ERROR_NUMBER', 
						ERROR_MESSAGE() 'ERROR_MESSAGE',
						'DR0313: CandidateId: ' + convert(varchar(10), @candidateID) 'RULE_MESSAGE'
				END
			END
	END CATCH;	
	
	FETCH NEXT FROM c_candidate INTO @candidateID
	END
CLOSE c_candidate
DEALLOCATE c_candidate

if @FromDR13 = 0
BEGIN
	update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END

END
GO
