USE [CABS]
GO
/****** Object:  Table [retention].[DR1604]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [retention].[DR1604](
	[TableName] [varchar](max) NULL,
	[Database] [varchar](max) NULL,
	[schema] [varchar](max) NULL,
	[FullName] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
