USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR10]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [retention].[DR10] (@RetentionDate datetime) as
BEGIN


declare @SupplierID as varchar(50)
declare @NewCompanyName as varchar(max) = 'Branding Supplier'
declare @NewAddress as varchar(max) = 'Branding Supplier Address'
declare @NewContactName as varchar(max) = 'Branding Supplier Contact name'
declare @NewPhoneNumber as varchar(50) = '000-000-000'
declare @NewEmail as varchar(50) = 'brandingSupplier@example.com'
declare @MobilePhoneNumber as varchar(50) = '000-000-000'

declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1


insert into retention.RulesLogger
	select getdate(), 'DR10', @RetentionDate, getdate(), NULL, count(*), 0, 0 from retention.DR10_SELECT (@RetentionDate)
set @RuleLoggerId  = SCOPE_IDENTITY()


declare update_supplier cursor for
	select t1.[SupplierId] from [retention].[DR10_SELECT] (@RetentionDate) t1

open update_supplier

	FETCH NEXT FROM update_supplier INTO @SupplierID

	WHILE @@FETCH_STATUS = 0
	BEGIN

	BEGIN TRY
		BEGIN TRANSACTION;
				

		--if exists (select * from [cabs_production].[cabs_tds].[AuthorizedSupplier] where [SupplierId]=@SupplierID)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR10', 'cabs_production.cabs_tds.AuthorizedSupplier', 'UPDATE',  @SupplierID, convert(varchar(40), @RetentionDate,120), count(*), 'SupplierId' from [cabs_production].[cabs_tds].[AuthorizedSupplier] where [SupplierId]=@SupplierID
							update [cabs_production].[cabs_tds].[AuthorizedSupplier] 
							set [CompanyName]=@NewCompanyName, [Address]=@NewAddress, [ContactName]=@NewContactName, [Tel]=@NewPhoneNumber, [Mobile]=@MobilePhoneNumber, [Email]=@NewEmail
							where [SupplierId]=@SupplierID
						end

		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR10: SupplierID: ' + convert(varchar(10), @SupplierID) 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1
			END
	END CATCH;	
	
	
	
	FETCH NEXT FROM update_supplier INTO @SupplierID
	END
CLOSE update_supplier
DEALLOCATE update_supplier

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
