USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR08]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [retention].[DR08] (@RetentionDate datetime) AS
begin
declare @LicenceNumber varchar(50), @RegistrationNumber varchar(10)
declare @Licences table (LicenceNumber varchar(50) PRIMARY KEY, RegistrationNumber varchar(10))
declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1

insert into @Licences 
	select distinct  LicenceNumber, [Vehicle Registration Number] from retention.DR08_SELECT (@RetentionDate) 

insert into retention.RulesLogger
	select getdate(), 'DR08', @RetentionDate, getdate(), NULL, count(*), 0, 0 from @Licences
set @RuleLoggerId  = SCOPE_IDENTITY()

declare c_dr08 cursor for
	select LicenceNumber, RegistrationNumber from @Licences 

OPEN c_dr08

	FETCH NEXT FROM c_dr08 INTO @LicenceNumber, @RegistrationNumber

	WHILE @@FETCH_STATUS = 0
	BEGIN

	BEGIN TRY
		BEGIN TRANSACTION;
--//delete from cabs_production.cabs_dck.DriverCheckReport - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.cabs_dck.DriverCheckReport.DriverLicenceNumber
			--if exists (select * from cabs_production.cabs_dck.DriverCheckReport where VehicleLicenceNumber = @LicenceNumber)
				begin
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR08', 'cabs_production.cabs_dck.DriverCheckReport', 'DELETE', ReportId, convert(varchar(40), @RetentionDate,120), count(*), 'ReportId' from cabs_production.cabs_dck.DriverCheckReport where VehicleLicenceNumber = @LicenceNumber group by ReportId

					delete from cabs_production.cabs_dck.DriverCheckReport where VehicleLicenceNumber = @LicenceNumber
				end

--//delete from cabs_production.cabs_dck.DriverCheckSearchResult - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.cabs_dck.DriverCheckSearchResult.DriverLicenceNumber
			--if exists (select * from cabs_production.cabs_dck.DriverCheckSearchResult where VehicleLicenceNumber = @LicenceNumber)
				begin
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR08', 'cabs_production.cabs_dck.DriverCheckSearchResult', 'DELETE', SearchId, convert(varchar(40), @RetentionDate,120), count(*), 'SearchId' from cabs_production.cabs_dck.DriverCheckSearchResult where VehicleLicenceNumber = @LicenceNumber group by SearchId

					delete from cabs_production.cabs_dck.DriverCheckSearchResult where VehicleLicenceNumber = @LicenceNumber
				end

--//delete from cabs_production.cabs_enf.CaseNotes - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.cabs_enf.CaseNotes.LicenceNumber
			--if exists (select * from cabs_production.cabs_enf.CaseNotes where LicenceNumber = @LicenceNumber)
				begin
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR08', 'cabs_production.cabs_enf.CaseNotes', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.cabs_enf.CaseNotes where LicenceNumber = @LicenceNumber group by Id

					delete from cabs_production.cabs_enf.CaseNotes where LicenceNumber = @LicenceNumber
				end
			
--//delete from cabs_production.dbo.SystemProcessInstanceVL – map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.SystemProcessInstanceVL.LicencceNumber
			--if exists (select * from cabs_production.dbo.SystemProcessInstanceVL where LicenceNumber = @LicenceNumber)
				begin
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR08', 'cabs_production.dbo.SystemProcessInstanceVL', 'DELETE', InstanceId, convert(varchar(40), @RetentionDate,120), count(*), 'InstanceId' from cabs_production.dbo.SystemProcessInstanceVL where LicenceNumber = @LicenceNumber group by InstanceId

					delete from cabs_production.dbo.SystemProcessInstanceVL where LicenceNumber = @LicenceNumber
				end

--//delete from cabs_production.cabs_tds.ImportSignage – map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.cabs_tds.ImportSignage.LicenceNo
			--if exists (select * from cabs_production.cabs_tds.ImportSignage where [Licence No] = @LicenceNumber)
				begin
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR08', 'cabs_production.cabs_tds.ImportSignage', 'DELETE', [Licence No], convert(varchar(40), @RetentionDate,120), count(*), 'Licence No' from cabs_production.cabs_tds.ImportSignage where [Licence No] = @LicenceNumber group by [Licence No]

					delete from cabs_production.cabs_tds.ImportSignage where [Licence No] = @LicenceNumber
				end

--//delete from cabs_production.cabs_tds.SignageInstallation – map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.cabs_tds.SignageInstallation.VehicleLicenceNumber
			--if exists (select * from cabs_production.cabs_tds.SignageInstallation where VehicleLicenceNumber = @LicenceNumber)
				begin
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR08', 'cabs_production.cabs_tds.SignageInstallation', 'DELETE', VehicleLicenceNumber, convert(varchar(40), @RetentionDate,120), count(*), 'VehicleLicenceNumber' from cabs_production.cabs_tds.SignageInstallation where VehicleLicenceNumber = @LicenceNumber group by VehicleLicenceNumber

					delete from cabs_production.cabs_tds.SignageInstallation where VehicleLicenceNumber = @LicenceNumber
				end

--//delete from cabs_production.dbo.VehicleMasterAudit - map by cabs_production.dbo.VehicleMaster.RegistrationNumber = cabs_production.dbo.VehicleMasterAudit.RegistrationNumber
			--if exists (select * from cabs_production.dbo.VehicleMasterAudit where RegistrationNumber = @RegistrationNumber)
				begin
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR08', 'cabs_production.dbo.VehicleMasterAudit', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.dbo.VehicleMasterAudit where RegistrationNumber = @RegistrationNumber group by id

					delete from cabs_production.dbo.VehicleMasterAudit where RegistrationNumber = @RegistrationNumber 
				end

--//delete from cabs_production.dbo.BookingAudit - map by LicenceNumber
			--if exists (select * from cabs_production.dbo.BookingAudit where LicenceNumber = @LicenceNumber)
				begin
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
						select 'DR08', 'cabs_production.dbo.BookingAudit', 'DELETE', BookingAuditId, convert(varchar(40), @RetentionDate,120), count(*), 'BookingAuditId' from cabs_production.dbo.BookingAudit where LicenceNumber = @LicenceNumber group by BookingAuditId

					delete from cabs_production.dbo.BookingAudit where LicenceNumber = @LicenceNumber
				end

---------
			declare @B table (BookingId int)
			insert into @B
				select BookingId from cabs_production.dbo.Booking where LicenceNumber = @LicenceNumber

			declare @P table (PaymentId int)
			insert into @P
				select PaymentId from cabs_production.dbo.PaymentVL where LicenceNumber = @LicenceNumber

--//delete from cabs_production.dbo.PaymentItemVLAudit - map by cabs_production.dbo.PaymentVL.PaymentId = cabs_production.dbo.PaymentItemVLAudit.PaymentId
				--if exists (select * from cabs_production.dbo.PaymentItemVLAudit where PaymentId in (select PaymentId from @P))
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PaymentItemVLAudit', 'DELETE', PaymentItemAuditId, convert(varchar(40), @RetentionDate,120), count(*), 'PaymentItemAuditId' from cabs_production.dbo.PaymentItemVLAudit where PaymentId in (select PaymentId from @P) group by PaymentItemAuditId

						delete from cabs_production.dbo.PaymentItemVLAudit where PaymentId in (select PaymentId from @P) 
					end

--//delete from cabs_production.dbo.PaymentItemVL - map by cabs_production.dbo.PaymentVL.PaymentId = cabs_production.dbo.PaymentItemVL.PaymentId
				--if exists (select * from cabs_production.dbo.PaymentItemVL where PaymentId in (select PaymentId from @P))
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PaymentItemVL', 'DELETE', PaymentItemId, convert(varchar(40), @RetentionDate,120), count(*), 'PaymentItemId' from cabs_production.dbo.PaymentItemVL where PaymentId in (select PaymentId from @P) group by PaymentItemId

						delete from cabs_production.dbo.PaymentItemVL where PaymentId in (select PaymentId from @P) 
					end
			
--//delete from cabs_production.dbo.PaymentOrdersVL - map by cabs_production.dbo.PaymentVL.PaymentId = cabs_production.dbo.PaymentOrdersVL.PaymentId
				--if exists (select * from cabs_production.dbo.PaymentOrdersVL where PaymentId in (select PaymentId from @P))
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PaymentOrdersVL', 'DELETE', OrderId, convert(varchar(40), @RetentionDate,120), count(*), 'OrderId' from cabs_production.dbo.PaymentOrdersVL where PaymentId in (select PaymentId from @P) group by OrderId

						delete from cabs_production.dbo.PaymentOrdersVL where PaymentId in (select PaymentId from @P) 
					end


--//delete from cabs_production.dbo.BookingPayment - map by cabs_production.dbo.PaymentVL.PaymentId =  cabs_production.dbo.BookingPayment.BookingId
				--if exists (select * from cabs_production.dbo.BookingPayment where BookingId in (select BookingId from @B))
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.BookingPayment', 'DELETE', BookingId, convert(varchar(40), @RetentionDate,120), count(*), 'BookingId' from cabs_production.dbo.BookingPayment where BookingId in (select BookingId from @B) group by BookingId

						delete from cabs_production.dbo.BookingPayment where BookingId in (select BookingId from @B) 
					end
					
--//delete from cabs_production.dbo.PaymentVL - map by PaymentId
				--if exists (select * from cabs_production.dbo.PaymentVL where PaymentId in (select PaymentId from @P))
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PaymentVL', 'DELETE', PaymentId, convert(varchar(40), @RetentionDate,120), count(*), 'PaymentId' from cabs_production.dbo.PaymentVL where PaymentId in (select PaymentId from @P) group by PaymentId

						delete from cabs_production.dbo.PaymentVL where PaymentId in (select PaymentId from @P) 
					end

--//delete from cabs_production.cabs_insp.VehicleInspectionDraft - map by cabs_production.cabs_insp.VehicleInspectionDraft.BookingId = cabs_production.dbo.Booking.BookingId
				--if exists (select * from cabs_production.cabs_insp.VehicleInspectionsDraft where BookingId in (select BookingId from @B))
					begin

						declare @VID table (VehicleMasterDraftID int)
						insert into @VID
							select VehicleMasterDraftID from cabs_production.cabs_insp.VehicleInspectionsDraft where BookingId in (select BookingId from @B)

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.cabs_insp.VehicleInspectionsDraft', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.cabs_insp.VehicleInspectionsDraft where VehicleMasterDraftID in (select VehicleMasterDraftID from @VID)  group by Id

						delete from cabs_production.cabs_insp.VehicleInspectionsDraft where VehicleMasterDraftID in (select VehicleMasterDraftID from @VID) 
					end

--//delete from cabs_production.cabs_insp.VehicleMasterDraft - map by 
				--if exists (select * from cabs_production.cabs_insp.VehicleMasterDraft where id in (select VehicleMasterDraftID from @VID) )
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.cabs_insp.VehicleMasterDraft', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.cabs_insp.VehicleMasterDraft where id in (select VehicleMasterDraftID from @VID) group by Id

						delete from cabs_production.cabs_insp.VehicleMasterDraft where id in (select VehicleMasterDraftID from @VID) 
					end

--//delete from cabs_production.dbo.BookingRefund - map by cabs_production.dbo.Booking.BookingId = cabs_production.dbo.BookingRefund.BookingId
--//delete from cabs_production.dbo.PaymentRefundVL - map by cabs_production.dbo.BookingRefund.RefundId = cabs_production.dbo.PaymentRefundVL.RefundId
				--if exists (select * from cabs_production.dbo.PaymentRefundVL where LicenceNumber= @LicenceNumber)
					begin
						declare @R table (RefundId int)
						insert into @R
							select distinct RefundId from cabs_production.dbo.PaymentRefundVL where LicenceNumber= @LicenceNumber

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.BookingRefund', 'DELETE', BookingId, convert(varchar(40), @RetentionDate,120), count(*), 'BookingId' from cabs_production.dbo.BookingRefund where BookingId in (select BookingId from @B) or RefundId in (select RefundId from @R) group by BookingId

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PaymentRefundItemVL', 'DELETE', RefundItemId, convert(varchar(40), @RetentionDate,120), count(*), 'RefundItemId' from cabs_production.dbo.PaymentRefundItemVL where RefundId in (select RefundId from @R) group by RefundItemId

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PaymentRefundVL', 'DELETE', RefundId, convert(varchar(40), @RetentionDate,120), count(*), 'RefundId' from cabs_production.dbo.PaymentRefundVL where RefundId in (select RefundId from @R) group by RefundId

						delete from cabs_production.dbo.BookingRefund where 
							BookingId in (select BookingId from @B) or
							RefundId in (select RefundId from @R)
						delete from cabs_production.dbo.PaymentRefundItemVL where RefundId in (select RefundId from @R)
						delete from cabs_production.dbo.PaymentRefundVL where RefundId in (select RefundId from @R) 
					end

--//delete from cabs_production.dbo.VehicleInspectionDefects - map by cabs_production.dbo.VehicleInspections.VehicleInspectionId = cabs_production.dbo.VehicleInspectionDefects.VehicleInspectionId
--//delete from cabs_production.cabs_insp.VehicleInsoectionsDocument - map by cabs_production.dbo.VehicleInspections.VehicleInspectionId = cabs_production.cabs_insp.VehicleInsoectionsDocument.VehicleInspectionId
--//delete from cabs_production.dbo.InspectionPrintLog - map by cabs_production.dbo.VehicleInspections.VehicleInspectionId = cabs_production.dbo.InspectionPrintLog.InspectionId
--//delete from cabs_production.dbo.VehicleInspections - map by cabs_production.dbo.VehicleMaster.RegistrationNumber = cabs_production.dbo.VehicleMaster.RegistrationNumber
				--if exists (select * from cabs_production.dbo.VehicleInspections where LicenceNumber = @LicenceNumber)
					begin
						declare @VI table (VehicleInspectionId int)
						insert into @VI
						select distinct VehicleInspectionId from cabs_production.dbo.VehicleInspections where LicenceNumber = @LicenceNumber

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.VehicleInspectionDefects', 'DELETE', VehicleInspectionDefectID, convert(varchar(40), @RetentionDate,120), count(*), 'VehicleInspectionDefectID' from cabs_production.dbo.VehicleInspectionDefects where VehicleInspectionId in (select VehicleInspectionId from @VI) group by VehicleInspectionDefectID

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.cabs_insp.VehicleInspectionsDocument', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.cabs_insp.VehicleInspectionsDocument where VehicleInspectionId in (select VehicleInspectionId from @VI) group by Id

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.InspectionPrintLog', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.dbo.InspectionPrintLog where InspectionId in (select VehicleInspectionId from @VI) group by Id

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.VehicleInspections', 'DELETE', VehicleInspectionId, convert(varchar(40), @RetentionDate,120), count(*), 'VehicleInspectionId' from cabs_production.dbo.VehicleInspections where VehicleInspectionId in (select VehicleInspectionId from @VI) group by VehicleInspectionId

						delete from cabs_production.dbo.VehicleInspectionDefects where VehicleInspectionId in (select VehicleInspectionId from @VI)
						delete from cabs_production.cabs_insp.VehicleInspectionsDocument where VehicleInspectionId in (select VehicleInspectionId from @VI)
						delete from cabs_production.dbo.InspectionPrintLog where InspectionId in (select VehicleInspectionId from @VI)
						delete from cabs_production.dbo.VehicleInspections where VehicleInspectionId in (select VehicleInspectionId from @VI)
					end
				
--//delete from cabs_production.dbo.Booking - map by LicenceNumber
				--if exists (select * from cabs_production.dbo.Booking where LicenceNumber = @LicenceNumber)
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.Booking', 'DELETE', BookingId, convert(varchar(40), @RetentionDate,120), count(*), 'BookingId' from cabs_production.dbo.Booking where LicenceNumber = @LicenceNumber group by BookingId

						delete from cabs_production.dbo.Booking where LicenceNumber = @LicenceNumber
					end
									
--//delete cabs_production.dbo.WatServiceProvisionTime - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.dbo.WatServiceProvisionTime.LicenceNumberId (Note: licence number instead of ID)		
				--if exists (select * from cabs_production.dbo.WatServiceProvisionTime where LicenceNumberId = @LicenceNumber)
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.WatServiceProvisionTime', 'DELETE', LicenceNumberId, convert(varchar(40), @RetentionDate,120), count(*), 'LicenceNumberId' from cabs_production.dbo.WatServiceProvisionTime where LicenceNumberId = @LicenceNumber group by LicenceNumberId

						delete from cabs_production.dbo.WatServiceProvisionTime where LicenceNumberId = @LicenceNumber
					end

--//delete cabs_production.dbo.WatServiceProvisionCounty - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.dbo.WatServiceProvisionCounty.LicenceNumberId (Note: licence number instead of ID)
				--if exists (select * from cabs_production.dbo.WatServiceProvisionCounty where LicenceNumberId = @LicenceNumber)
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.WatServiceProvisionCounty', 'DELETE', LicenceNumberId, convert(varchar(40), @RetentionDate,120), count(*), 'LicenceNumberId' from cabs_production.dbo.WatServiceProvisionCounty where LicenceNumberId = @LicenceNumber group by LicenceNumberId

						delete from cabs_production.dbo.WatServiceProvisionCounty where LicenceNumberId = @LicenceNumber
					end

--//delete cabs_production.dbo.WatRegister - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.dbo.WatRegister.LicenceNumber
				--if exists (select * from cabs_production.dbo.WatRegister where LicenceNumber = @LicenceNumber)
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.WatRegister', 'DELETE', LicenceNumber, convert(varchar(40), @RetentionDate,120), count(*), 'LicenceNumber' from cabs_production.dbo.WatRegister where LicenceNumber = @LicenceNumber group by LicenceNumber

						delete from cabs_production.dbo.WatRegister where LicenceNumber = @LicenceNumber
					end

--//delete from cabs_production.dbo.LAHLink - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.dbo.LAHLink.VehicleLicenceNumber
				--if exists (select * from cabs_production.dbo.LAHLink where VehicleLicenceNumber = @LicenceNumber)
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.LAHLink', 'DELETE', VehicleLicenceNumber, convert(varchar(40), @RetentionDate,120), count(*), 'VehicleLicenceNumber' from cabs_production.dbo.LAHLink where VehicleLicenceNumber = @LicenceNumber group by VehicleLicenceNumber

						delete from cabs_production.dbo.LAHLink where VehicleLicenceNumber = @LicenceNumber
					end

--//delete from cabs_production.dbo.LicenceRepresentative - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.dbo.LicenceRepresentative.LicenceNumber
--//delete from cabs_production.dbo.Representative - map by cabs_production.dbo.LicenceRepresentative.LicenceRepresentativeId = cabs_production.dbo.Representative.RepresentativeId
				--if exists (select * from cabs_production.dbo.LicenceRepresentative where LicenceNumber = @LicenceNumber)
					begin

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.Representative', 'DELETE', RepresentativeId, convert(varchar(40), @RetentionDate,120), count(*), 'RepresentativeId' from cabs_production.dbo.Representative where RepresentativeId in (select RepresentativeId from cabs_production.dbo.LicenceRepresentative where LicenceNumber = @LicenceNumber) group by RepresentativeId

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.LicenceRepresentative', 'DELETE', LicenceRepresentativeId, convert(varchar(40), @RetentionDate,120), count(*), 'LicenceRepresentativeId' from cabs_production.dbo.LicenceRepresentative where LicenceNumber = @LicenceNumber group by LicenceRepresentativeId

						delete from cabs_production.dbo.Representative where RepresentativeId in (select RepresentativeId from cabs_production.dbo.LicenceRepresentative where LicenceNumber = @LicenceNumber group by RepresentativeId)
						delete from cabs_production.dbo.LicenceRepresentative where LicenceNumber = @LicenceNumber
					end

--//delete from cabs_production.dbo.NomineeStoredDocument -  map by cabs_production.dbo.LicenceNominee.LicenceNomineeId = cabs_production.dbo.NomineeStoredDocument.LicenceNomineeId
--//delete from cabs_production.dbo.StoredDocument - map by cabs_production.dbo.NomineeStoredDocument.StoredDocumentId = cabs_production.dbo.StoredDocument.StoredDocumentId
--//delete from cabs_production.dbo.LicenceNominee - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber  = cabs_production.dbo.LicenceNominee.LicenceNumber
					begin

						declare @NSD table (StoredDocumentId int)

						insert into @NSD
							select StoredDocumentId from cabs_production.dbo.NomineeStoredDocument where LicenceNomineeId in (select LicenceNomineeId from cabs_production.dbo.LicenceNominee where LicenceNumber=@LicenceNumber) 

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.NomineeStoredDocument', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.dbo.NomineeStoredDocument where StoredDocumentId in (select StoredDocumentId from @NSD) group by Id

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.StoredDocument', 'DELETE', StoredDocumentId, convert(varchar(40), @RetentionDate,120), count(*), 'StoredDocumentId' from cabs_production.dbo.StoredDocument where StoredDocumentId in (select StoredDocumentId from @NSD) group by StoredDocumentId

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.LicenceNominee', 'DELETE', LicenceNomineeId, convert(varchar(40), @RetentionDate,120), count(*), 'LicenceNomineeId' from cabs_production.dbo.LicenceNominee where LicenceNumber = @LicenceNumber group by LicenceNomineeId
						
						delete from cabs_production.dbo.NomineeStoredDocument where StoredDocumentId in (select StoredDocumentId from @NSD)
						delete from cabs_production.dbo.StoredDocument where StoredDocumentId in (select StoredDocumentId from @NSD)
						delete from cabs_production.dbo.LicenceNominee where LicenceNumber = @LicenceNumber
					end

--//delete from cabs_production.dbo.PrintRequestDetailVLQueueItem - map by cabs_production.dbo.PrintRequestDetailVL = cabs_production.dbo.PrintRequestDetailVLQueueItem.PrintRequestId
--//delete from cabs_production.dbo.PrintRequestDetailVL - map by cabs_production.dbo.PrintRequestMasterVL.PrintRequestMasterId = cabs_production.dbo.PrintRequestDetailVL.PrintRequestMasterId 
--//delete from cabs_production.dbo.PrintRequestMasterVLDownload - map by cabs_production.dbo.PrintRequestMasterVL.PrintRequestMasterId = cabs_production.dbo.PrintRequestMasterVLDownload.PrintRequestMasterId 
--//delete from cabs_production.dbo.PrintRequestMasterVL - map by cabs_production.dbo.LicenceMasterVL.LicenceNumber = cabs_production.dbo.PrintRequestMasterVL.LicenceNumber
				--if exists (select * from cabs_production.dbo.PrintRequestMasterVL where LicenceNumber=@LicenceNumber)
					begin

						declare @PR table (PrintRequestMasterId int)
						
						insert into @PR
							select PrintRequestMasterId from cabs_production.dbo.PrintRequestMasterVL where LicenceNumber=@LicenceNumber


						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PrintRequestDetailVLQueueItem', 'DELETE', PrintRequestId, convert(varchar(40), @RetentionDate,120), count(*), 'PrintRequestId' from cabs_production.dbo.PrintRequestDetailVLQueueItem where PrintRequestId in (select PrintRequestId from cabs_production.dbo.PrintRequestDetailVL where PrintRequestMasterId in (select PrintRequestMasterId from @PR)) group by PrintRequestId

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PrintRequestDetailVL', 'DELETE', PrintRequestId, convert(varchar(40), @RetentionDate,120), count(*), 'PrintRequestId' from cabs_production.dbo.PrintRequestDetailVL where PrintRequestMasterId in (select PrintRequestMasterId from @PR) group by PrintRequestId

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PrintRequestMasterVLDownload', 'DELETE', DownloadId, convert(varchar(40), @RetentionDate,120), count(*), 'DownloadId' from cabs_production.dbo.PrintRequestMasterVLDownload where PrintRequestMasterId in (select PrintRequestMasterId from @PR) group by DownloadId

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.PrintRequestMasterVL', 'DELETE', PrintRequestMasterId, convert(varchar(40), @RetentionDate,120), count(*), 'PrintRequestMasterId' from cabs_production.dbo.PrintRequestMasterVL where PrintRequestMasterId in (select PrintRequestMasterId from @PR) group by PrintRequestMasterId

							
						delete from cabs_production.dbo.PrintRequestDetailVLQueueItem where PrintRequestId in (select PrintRequestId from cabs_production.dbo.PrintRequestDetailVL where PrintRequestMasterId in (select PrintRequestMasterId from @PR))
						delete from cabs_production.dbo.PrintRequestDetailVL where PrintRequestMasterId in (select PrintRequestMasterId from @PR)
						delete from cabs_production.dbo.PrintRequestMasterVLDownload where PrintRequestMasterId in (select PrintRequestMasterId from @PR)
						delete from cabs_production.dbo.PrintRequestMasterVL where PrintRequestMasterId in (select PrintRequestMasterId from @PR)
					end

					
--//update and delete from cabs_production.dbo.LicenceMasterVL - map by LicenceNumber or LicenceExpiryDate and RegistrationNumber
				--if exists (select * from cabs_production.dbo.LicenceMasterVL where LicenceNumber = @LicenceNumber)
					begin

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.LicenceMasterVL', 'UPDATE', RegistrationNumber, convert(varchar(40), @RetentionDate,120), count(*), 'RegistrationNumber' from cabs_production.dbo.LicenceMasterVL where LicenceNumber = @LicenceNumber group by LicenceNumber, RegistrationNumber

						INSERT INTO cabs_production.dbo.VehicleMaster
							(RegistrationNumber, MakeId, BodyTypeId, ColourId, TurboDieselYn, ModifiedYn, NumberPassengers, 
							NumberSeats, NumberDoors, YearOfManufacture, RegistrationDateOrigin, RegistrationDateIreland, InsuranceClassCorrect, 
							CreatedBy, CreatedDate, ModifiedBy, ModifiedDate)
						VALUES
							('DummyReg', 1, 1, 1, 1, 1, 1, 
							1, 1, 1, getdate(), getdate(), 1, 
							'Retention', getdate(), 'Retention', getdate())

						update cabs_production.dbo.LicenceMasterVL set RegistrationNumber = 'DummyReg' where LicenceNumber = @LicenceNumber

						insert into retention.RetainedLicences
							([Type], LicenceNumber, LicenceType, LicenceExpiryDate, LicenceCreatedDate, DeletionDate)
						select 'VL', vl.LicenceNumber, LicenceType, vl.LicenceExpiryDate, vl.CreatedDate, @RetentionDate from cabs_production.dbo.LicenceMasterVL vl
								left join cabs_production.dbo.LicenceType vlt on vl.LicenceTypeId=vlt.LicenceTypeId 
							where LicenceNumber = @LicenceNumber

						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.LicenceMasterVL', 'DELETE', LicenceNumber, convert(varchar(40), @RetentionDate,120), count(*), 'LicenceNumber' from cabs_production.dbo.LicenceMasterVL where LicenceNumber = @LicenceNumber group by LicenceNumber

						delete from cabs_production.dbo.LicenceMasterVL where LicenceNumber = @LicenceNumber
						delete from cabs_production.dbo.VehicleMaster where RegistrationNumber = 'DummyReg'
					end

--//delete from cabs_production.dbo.LicenceMasterVLAudit
				--if exists (select * from cabs_production.dbo.LicenceMasterVLAudit where LicenceNumber = @LicenceNumber)
					begin
						insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'cabs_production.dbo.LicenceMasterVLAudit', 'DELETE', id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.dbo.LicenceMasterVLAudit where LicenceNumber = @LicenceNumber group by Id

						delete from cabs_production.dbo.LicenceMasterVLAudit where LicenceNumber = @LicenceNumber
					end
--BREAK LINKS FROM CASES TO LICENCE
					begin
							
						insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							select 'DR08', 'Cabs_Live.dbo.Cases', 'UPDATE',  id, convert(varchar(40), @RetentionDate,120), count(*), 
							'Id' 
							from Cabs_Live.dbo.Cases 
							where 
									ltrim(rtrim(field1))=@LicenceNumber or
									ltrim(rtrim(field2))=@LicenceNumber or 
									ltrim(rtrim(field3))=@LicenceNumber or 
									ltrim(rtrim(linkedVehicle))=@LicenceNumber
							group by id

						UPDATE Cabs_Live.dbo.Cases SET field1 = null WHERE ltrim(rtrim(field1)) = @LicenceNumber
						UPDATE Cabs_Live.dbo.Cases SET field2 = null WHERE ltrim(rtrim(field2)) = @LicenceNumber
						UPDATE Cabs_Live.dbo.Cases SET field3 = null WHERE ltrim(rtrim(field3)) = @LicenceNumber
						UPDATE Cabs_Live.dbo.Cases SET linkedVehicle = null WHERE ltrim(rtrim(linkedVehicle)) = @LicenceNumber
					end

		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;

				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR08: LicenceNumber: ' + @LicenceNumber + ' Registration Number: ' + @RegistrationNumber 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1

			END
	END CATCH;	

	FETCH NEXT FROM c_dr08 INTO @LicenceNumber, @RegistrationNumber
	END
CLOSE c_dr08
DEALLOCATE c_dr08

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
end
GO
