USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR03]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [retention].[DR03]
	(@RetentionDate datetime)
as
BEGIN
/*
	USE cabs_production
	ALTER TABLE cabs_production.cabs_enf.Fines SET (SYSTEM_VERSIONING = OFF)

	use CABS
	EXEC [retention].[DR03] @RetentionDate

	USE cabs_production
	ALTER TABLE cabs_production.cabs_enf.Fines SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cabs_enf.FinesHistory))
*/

	declare @LiceneMasterId as INT
	declare @LicenceNumber VARCHAR(50)
	declare @RuleLoggerId int
	declare @i_ok int = 1
	declare @i_error int = 1


	DECLARE @DR03 TABLE(
		LicenceMasterId INT,
		LicenceNumber VARCHAR(50),
		LicenceExpirtDate DATETIME
	)

	INSERT INTO @DR03
	SELECT 
	dr.LicenceMasterId, dr.LicenceNumber, dr.LicenceExpiryDate
	from retention.DR03_SELECT (@RetentionDate) dr

	insert into retention.RulesLogger
	select getdate(), 'DR03', @RetentionDate, getdate(), NULL, count(*), 0, 0
	from @DR03
	set @RuleLoggerId  = SCOPE_IDENTITY()


	declare delete_licence_id cursor for
	select t1.LicenceMasterId, t1.LicenceNumber
	from @DR03 t1
	open delete_licence_id


	FETCH NEXT FROM delete_licence_id INTO @LiceneMasterId, @LicenceNumber

	WHILE @@FETCH_STATUS = 0
	BEGIN

		BEGIN TRY
		BEGIN TRANSACTION;		
			-- *** AUDITS
			BEGIN
				EXEC retention.[AuditFollower_Remove] @LiceneMasterId, 3, @RetentionDate, 'AUDIT DR03' -- 3 = DLS module
			END

		-- *** FINES
			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR03', 'cabs_production.cabs_enf.Fines', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id'
				FROM cabs_production.cabs_enf.Fines
				WHERE DriverLicenceNumber in (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				GROUP BY Id

				DELETE FROM cabs_production.cabs_enf.Fines WHERE DriverLicenceNumber in (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				PRINT N'REMOVED cabs_production.cabs_enf.Fines'


				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR03', 'cabs_production.cabs_enf.FinesHistory', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id'
				FROM cabs_production.cabs_enf.FinesHistory
				WHERE DriverLicenceNumber in (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				GROUP BY Id

				DELETE FROM cabs_production.cabs_enf.FinesHistory WHERE DriverLicenceNumber in (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				PRINT N'REMOVED cabs_production.cabs_enf.FinesHistory'
			END
			-- *** PRINTCARD
			DECLARE @PrintCards TABLE(
				PrintcardRequestId INT,
				PaymentId INT
			)
			INSERT INTO @PrintCards
			SELECT PrintcardRequestId, PaymentId
				FROM [cabs_production].[dl].[PrintcardRequest]
				WHERE LicenceId = @LiceneMasterId

			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR03', 'cabs_production.dl.Printcard', 'DELETE', PrintcardId, convert(varchar(40), @RetentionDate,120), count(*), 'PrintcardId'
				FROM [cabs_production].[dl].[Printcard]
				WHERE PrintcardRequestId IN (SELECT PrintcardRequestId FROM @PrintCards)
				GROUP BY PrintcardId

				DELETE FROM [cabs_production].[dl].[Printcard] WHERE PrintcardRequestId IN (SELECT PrintcardRequestId FROM @PrintCards)

				PRINT N'REMOVED cabs_production.dl.Printcard'
			END

			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR03', 'cabs_production.dl.PrintcardRequest', 'DELETE', PrintcardRequestId, convert(varchar(40), @RetentionDate,120), count(*), 'PrintcardRequestId'
				FROM cabs_production.dl.PrintcardRequest
				WHERE PrintcardRequestId IN (SELECT PrintcardRequestId FROM @PrintCards)
				GROUP BY PrintcardRequestId

				DELETE FROM cabs_production.dl.PrintcardRequest
				WHERE PrintcardRequestId IN (SELECT PrintcardRequestId FROM @PrintCards)

				PRINT N'REMOVED cabs_production.dl.PrintcardRequest'
			END
			-- ** PAYEMENTS
			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR03', 'cabs_production.dl.Payment', 'DELETE', PaymentId, convert(varchar(40), @RetentionDate,120), count(*), 'PaymentId'
				FROM [cabs_production].[dl].[Payment]
				WHERE PaymentId IN (SELECT PaymentId FROM @PrintCards WHERE PaymentId IS NOT NULL)
				GROUP BY PaymentId

				DELETE FROM [cabs_production].[dl].[Payment] WHERE PaymentId IN (SELECT PaymentId FROM @PrintCards WHERE PaymentId IS NOT NULL)

				PRINT N'REMOVED cabs_production.dl.Payment'
			END

			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR03', 'cabs_production.payment.Payment', 'DELETE', PaymentId, convert(varchar(40), @RetentionDate,120), count(*), 'PaymentId'
				FROM [cabs_production].[payment].[Payment]
				WHERE [ProdId] = @LiceneMasterId
				GROUP BY PaymentId

				DELETE FROM [cabs_production].[payment].[Payment] WHERE [ProdId] = @LiceneMasterId
				PRINT N'REMOVED cabs_production.payment.Payment'
			END


			-- ** LETTER PRINTS
			BEGIN
				-- 1. LetterRequestDetail
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR03', 'cabs_production.dl.LetterRequestDetail', 'DELETE', LetterRequestDetailId, convert(varchar(40), @RetentionDate,120), count(*), 'LetterRequestDetailId'
				FROM [cabs_production].[dl].[LetterRequestDetail]
				WHERE LetterRequestMasterId IN (SELECT LetterRequestMasterId
				FROM [cabs_production].[dl].[LetterRequestMaster]
				WHERE LicenceMasterId = @LiceneMasterId)
				GROUP BY LetterRequestDetailId

				DELETE FROM [cabs_production].[dl].[LetterRequestDetail]
				WHERE LetterRequestMasterId IN (SELECT LetterRequestMasterId
				FROM [cabs_production].[dl].[LetterRequestMaster]
				WHERE LicenceMasterId = @LiceneMasterId)
				PRINT N'REMOVED cabs_production.dl.LetterRequestDetail'


				-- 2. LetterRequestMaster
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.dl.LetterRequestMaster', 'DELETE', LetterRequestMasterId, convert(varchar(40), @RetentionDate,120), count(*), 'LetterRequestMasterId'
				FROM [cabs_production].[dl].[LetterRequestMaster]
				WHERE LicenceMasterId = @LiceneMasterId
				GROUP BY LetterRequestMasterId

				DELETE FROM [cabs_production].[dl].[LetterRequestMaster] WHERE LicenceMasterId = @LiceneMasterId
				PRINT N'REMOVED cabs_production.dl.LetterRequestMaster'
			END
			-- **** DOCUMENTS
			DECLARE @Files TABLE (
				FileId INT
			)

			INSERT INTO @Files
			SELECT FileId
			FROM [cabs_production].[dl].[LicenceDocument]
			WHERE LicenceMasterId = @LiceneMasterId

			BEGIN
				-- *** cabs_production.dl.LicenceDocument
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.dl.LicenceDocument', 'DELETE', [LicenceDocumentId], convert(varchar(40), @RetentionDate,120), count(*), 'LicenceDocumentId'
				FROM [cabs_production].[dl].[LicenceDocument]
				WHERE [FileId] IN (SELECT FileId
				FROM @Files)
				GROUP BY [LicenceDocumentId]

				DELETE FROM [cabs_production].[dl].[LicenceDocument] WHERE [FileId] IN (SELECT FileId
				FROM @Files)
				PRINT N'REMOVED cabs_production.dl.LicenceDocument'


				-- *** [cabs_production].[dl].[File]
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.dl.File', 'DELETE', [FileId], convert(varchar(40), @RetentionDate,120), count(*), 'FileId'
				FROM [cabs_production].[dl].[File]
				WHERE [FileId] IN (SELECT FileId
				FROM @Files)
				GROUP BY FileId

				DELETE FROM [cabs_production].[dl].[File] WHERE [FileId] IN (SELECT FileId
				FROM @Files)
				PRINT N'REMOVED cabs_production.dl.File'
			END

			-- *** ADDITIONAL AREAS
			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.dl.AdditionalArea', 'DELETE', [AdditionalAreaId], convert(varchar(40), @RetentionDate,120), count(*), 'AdditionalAreaId'
				FROM [cabs_production].[dl].[AdditionalArea]
				WHERE [LicenceMasterId] = @LiceneMasterId
				GROUP BY AdditionalAreaId

				DELETE FROM [cabs_production].[dl].[AdditionalArea] WHERE [LicenceMasterId] = @LiceneMasterId
				PRINT N'REMOVED cabs_production.dl.AdditionalArea'
			END

			-- *** DRIVER CHECK
			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.cabs_dck.DriverCheckReport', 'DELETE', ReportId, convert(varchar(40), @RetentionDate,120), count(*), 'ReportId'
				FROM [cabs_production].[cabs_dck].[DriverCheckReport]
				WHERE 
					[DriverLicenceNumber] IN (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				GROUP BY ReportId

				DELETE FROM [cabs_production].[cabs_dck].[DriverCheckReport] WHERE 
					[DriverLicenceNumber] IN (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				PRINT N'REMOVED cabs_production.cabs_dck.DriverCheckReport'

			END

			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.cabs_dck.DriverCheckSearchResult', 'DELETE', SearchId, convert(varchar(40), @RetentionDate,120), count(*), 'SearchId'
				FROM [cabs_production].[cabs_dck].[DriverCheckSearchResult]
				WHERE [DriverLicenceNumber] IN (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				GROUP BY SearchId

				DELETE FROM [cabs_production].[cabs_dck].[DriverCheckSearchResult] 
				WHERE [DriverLicenceNumber] IN (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				PRINT N'REMOVED cabs_production.cabs_dck.DriverCheckSearchResult'
			END

			-- *** NOTES
			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.cabs_enf.CaseNotes', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id'
				FROM [cabs_production].[cabs_enf].[CaseNotes]
				where LicenceNumber IN (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				GROUP BY Id

				DELETE FROM [cabs_production].[cabs_enf].[CaseNotes] 
				WHERE LicenceNumber IN (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				PRINT N'REMOVED cabs_production.cabs_enf.CaseNotes'
			END


			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.dbo.LAHLink', 'DELETE', [VehicleLicenceNumber], convert(varchar(40), @RetentionDate,120), count(*), 'VehicleLicenceNumber'
				FROM [cabs_production].[dbo].[LAHLink]
				WHERE [DriverLicenceNumber] IN (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)
				GROUP BY VehicleLicenceNumber

				DELETE FROM [cabs_production].[dbo].[LAHLink]
				WHERE [DriverLicenceNumber] IN (SELECT LicenceNumber
				FROM @DR03
				WHERE LicenceMasterId = @LiceneMasterId)

				PRINT N'REMOVED cabs_production.dbo.LAHLink'
			END

			-- SKILLS DATA FOR LICENCE
			BEGIN
				DECLARE @CB as retention.CandidateBooking
				DECLARE @CandidateId as INT
				DECLARE @LicenceExpiryDate as DATETIME

				SET @LicenceExpiryDate = (SELECT TOP 1 LicenceExpirtDate FROM @DR03 WHERE LicenceMasterId = @LiceneMasterId)
				
				--get skills candidate id
				SET @CandidateId = (SELECT c.ID as [skills candidate]
					FROM cabs_production.dl.LicenceHolderMaster lhm 
					LEFT JOIN [cabs_production].[person].[DataSource] ds on ds.PersonId = lhm.PersonId and SourceSystemName = 'SK'
					LEFT JOIN [cabs_production].cabs_sk.Candidate c on c.PersonID = ds.SourceSystemId
					WHERE lhm.LicenceMasterId =  @LiceneMasterId)

				--find bookings to delete
				INSERT INTO @CB
				SELECT b.ID, b.CandidateID
					FROM [cabs_production].[cabs_sk].[Booking] b 
					LEFT JOIN cabs_production.cabs_sk.CandidateTest ct on b.ID = ct.BookingID
					WHERE ct.EndDateTime < @LicenceExpiryDate and b.CandidateID = @CandidateId
			
				--REMOVE DATA
				IF EXISTS(SELECT * FROM @CB)
					BEGIN
						PRINT N'REMOVES SKILLS DATA'
						EXEC retention.dr13 @RetentionDate, @CB
					END
			END

			-- *** LICENCE HOLDER MASTER
			BEGIN
				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.dl.LicenceHolderMaster', 'DELETE', LicenceMasterId, convert(varchar(40), @RetentionDate,120), count(*), 'LicenceMasterId'
				FROM [cabs_production].[dl].[LicenceHolderMaster]
				WHERE [LicenceMasterId] = @LiceneMasterId
				GROUP BY LicenceMasterId

				DELETE FROM [cabs_production].[dl].[LicenceHolderMaster] WHERE [LicenceMasterId] = @LiceneMasterId
				PRINT N'REMOVED cabs_production.dl.LicenceHolderMaster'

			END

			-- *** LICENCE MASTER
			BEGIN
				insert into [retention].[RetainedLicences] ([Type], [LicenceNumber],[LicenceType], [LicenceExpiryDate], [LicenceCreatedDate], [DeletionDate]) 
					SELECT 'DL', [LicenceNumber], NULL, [ExpiryDate], [IssueDate], @RetentionDate  
					FROM [cabs_production].[dl].[LicenceMaster] WHERE [LicenceMasterId] = @LiceneMasterId

				PRINT N'ADDED TO retention.RetainedLicences'

				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR03', 'cabs_production.dl.LicenceMaster', 'DELETE', LicenceMasterId, convert(varchar(40), @RetentionDate,120), count(*), 'LicenceMasterId'
				FROM [cabs_production].[dl].[LicenceMaster]
				WHERE [LicenceMasterId] = @LiceneMasterId
				GROUP BY LicenceMasterId

				DELETE FROM [cabs_production].[dl].[LicenceMaster]
				WHERE [LicenceMasterId] = @LiceneMasterId

				PRINT N'REMOVED cabs_production.dl.LicenceMaster'
			END

		--BREAK LINKS FROM CASES TO LICENCE
			BEGIN
					
				insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
					select 'DR03', 'Cabs_Live.dbo.Cases', 'UPDATE',  id, convert(varchar(40), @RetentionDate,120), count(*), 
					'Id' 
					from Cabs_Live.dbo.Cases 
					where 
							ltrim(rtrim(field1))=@LicenceNumber or
							ltrim(rtrim(field2))=@LicenceNumber or 
							ltrim(rtrim(field3))=@LicenceNumber or 
							ltrim(rtrim(linkedDriver))=@LicenceNumber
					group by id

				UPDATE Cabs_Live.dbo.Cases SET field1 = null WHERE ltrim(rtrim(field1)) = @LicenceNumber
				UPDATE Cabs_Live.dbo.Cases SET field2 = null WHERE ltrim(rtrim(field2)) = @LicenceNumber
				UPDATE Cabs_Live.dbo.Cases SET field3 = null WHERE ltrim(rtrim(field3)) = @LicenceNumber
				UPDATE Cabs_Live.dbo.Cases SET linkedDriver = null WHERE ltrim(rtrim(linkedDriver)) = @LicenceNumber
			END
		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION
	END
		TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
			ROLLBACK TRANSACTION

			insert into retention.ErrorLog
			select
				getdate() 'Date',
				ERROR_PROCEDURE() 'ERROR_PROCEDURE',
				ERROR_NUMBER() 'ERROR_NUMBER',
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR03: LicenceMasterId: ' + convert(varchar(10), @LiceneMasterId) 'RULE_MESSAGE'

			update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
			set @i_error=@i_error+1
		END
		END CATCH
		
		FETCH NEXT FROM delete_licence_id INTO @LiceneMasterId, @LicenceNumber
	END
	CLOSE delete_licence_id
	DEALLOCATE delete_licence_id

	update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
