USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR14_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [retention].[DR14_SELECT] (@RetentionDate AS DATETIME)
RETURNS @table TABLE (
	PersonId INT,
	CCSN  VARCHAR(20),
	PPSN  VARCHAR(20),
	[First Name] VARCHAR(50),
	[Last Name] VARCHAR(50),
	[Company Name] VARCHAR(50),
	[Company Number] INT,
	[Date of Birth] DATETIME,
	[Address Line 1] VARCHAR(100),
	[Address Line 2] VARCHAR(100),
	[Address Line 3] VARCHAR(100),
	Town VARCHAR(100),
	[County] VARCHAR(50),
	PostCode VARCHAR(50),
	[Country] VARCHAR(50),
	[Mobile Number] VARCHAR(50),
	[Other Number] VARCHAR(50),
	[Email Address] VARCHAR(50),
	[Exist in Skills] VARCHAR(10),
	[SKPersonId] INT,
	[Exist in DLS] VARCHAR(10),
	[DLS Holder]VARCHAR(100),
	[Exist in VLS] VARCHAR(10),
	[VLS Holder] VARCHAR(50),
	[Exist in Nominee] VARCHAR(10),
	[NomineeID] INT,
	[Has Industry User Profile] VARCHAR(10),
	[Industry User ID] INT,
	[Date of deletion] DATETIME
)
AS
BEGIN

INSERT INTO @table
SELECT DISTINCT 
p.id, 
p.CCSN,
p.PPSN,
p.FirstName, 
p.LastName,
p.CompanyName, 
p.CompanyNumber, 
p.DateOfBirth, 
p.AddressLine1, 
p.AddressLine2, 
p.AddressLine3, 
p.Town, 
p.CountyName, 
p.PostCode, 
p.CountryName, 
p.MobilePhone, 
p.OtherPhone, 
p.Email,

IIF(p.SK_ID IS NULL,'NO','YES') AS [Exist in Skills],
sk.element AS [PersonId],

IIF(DLHM.PersonId IS NULL,'NO','YES') AS [Exist in DLS],
dlhm.LicenceMasterId AS [DLS Holder],

IIF(p.VLS_ID IS NULL,'NO','YES') AS [Exist in VLS],
vls.Element AS [VLS Holder],

IIF(n.PersonId IS NULL,'NO','YES') AS [Exist in Nominee],
n.PersonId AS [NomineeID],

IIF(IUDLHM.IndustryUserFK IS NOT NULL OR IULHM.IndustryUserFK IS NOT NULL, 'YES', 'NO') AS [Has Industry User Profile],
IIF(IUDLHM.IndustryUserFK IS NOT NULL, IUDLHM.IndustryUserFK, IULHM.IndustryUserFK) AS [Industry User ID],
@RetentionDate AS [Date of deletion]
FROM cabs_production.person.v_opv p
	-- ************** SK
	OUTER APPLY cabs_production.dbo.func_Split(p.SK_ID, ',') sk
	LEFT JOIN cabs_production.cabs_sk.Candidate candidate on candidate.PersonID = sk.Element
	-- ************** DL
	LEFT JOIN cabs_production.dl.LicenceHolderMaster dlhm ON dlhm.PersonId=p.Id
	-- ************** Nominee
	LEFT JOIN (SELECT LicenceNomineeId, PersonId FROM(
		SELECT ROW_NUMBER() OVER (PARTITION BY intNominee.PersonId order by LicenceNomineeId) [RankId],LicenceNomineeId, PersonId
		FROM cabs_production.dbo.LicenceNominee intNominee
	) a where RankId = 1) n on p.id = n.PersonId
	-- ************** VL
	OUTER APPLY cabs_production.dbo.func_Split(p.VLS_ID, ',') vls
	-- ************** Industry User
	LEFT JOIN cabs_production.cabs_spsv.IndustryUserDriverLicenceHolderMaster IUDLHM ON p.Id = IUDLHM.LicenceHolderMasterFK
	LEFT JOIN cabs_production.cabs_spsv.IndustryUserLicenceHolderMaster IULHM ON vls.Element = IULHM.LicenceHolderMasterFK
	LEFT JOIN cabs_production.cabs_cmo.IndustryUser IU ON IU.ID = IUDLHM.IndustryUserFK OR IU.ID = IULHM.IndustryUserFK
	LEFT JOIN cabs_production.cabs_dvl.VehicleDriver VD ON VD.IndustryUserId = IU.ID
	LEFT JOIN cabs_production.cabs_rta.RentalAgreement RA ON RA.IndustryUserID = IU.ID
WHERE
1=1
--SK
AND (
candidate.ID IS NULL OR 
candidate.ID NOT IN (
	SELECT b.CandidateID FROM cabs_production.[cabs_sk].[Booking] b LEFT JOIN cabs_production.[cabs_sk].[CandidateTest] ct ON ct.BookingID = b.ID)
	)
--DL
AND dlhm.PersonId IS NULL
--VL
--AND p.VLS_ID IS NULL
AND (p.VLS_ID IS NULL or not exists (select 1 from cabs_production.dbo.LicenceMasterVL where LicenceHolderId = vls.Element)) --//Added to remove Vl where there is no licence.
--Nominee
AND (n.LicenceNomineeId IS NULL OR (n.LicenceNomineeId IS NOT NULL AND NOT EXISTS (SELECT 1 FROM cabs_production.dbo.LicenceNominee WHERE p.Id = PersonId and EndDate IS NULL)))
--RentalAgreement
AND RA.ID IS NULL
--Vehicle
AND VD.LinkId IS NULL

RETURN
END
GO
