USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR04_01_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   function [retention].[DR04_01_SELECT] (@RetentionDate as datetime)
returns @t table (
	[Date of search] [datetime] null
   ,[SearchTerm] [varchar](10) null
   ,[FullName] [varchar](250) null
   ,[Street] [varchar](max) null
   ,[SearchError] [char](3) null
   ,[Date of deletion] [datetime] null
   ,[Id] [int] null
   ,[IsRetain] bit NULL
) 
as
begin

insert into @t

select 
	 sa.[CreatedOn] as [Date of search]
	,sa.[SearchTerm]
	,ud.[FullName] as [Officer name]
	,sa.[Street]
	,iif(sa.[SearchError]=1, 'Yes', 'No')
	,@RetentionDate as [Date of deletion]
	,sa.Id
	,iif( ((CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),sa.[CreatedOn],112))*1.0/10000)>2, 1, 0) [IsRetain]
from [cabs_production].[cabs_enf].[SearchAudit] sa
	left join [cabs_production].[cabs_cmo].[UserDetails] ud on sa.EnforcementOfficerUId=ud.UserId
where
	(CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),sa.CreatedOn,112))*1.0/10000 > 2

return
end
GO
