USE [CABS]
GO
/****** Object:  View [retention].[vDR02]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   view [retention].[vDR02] as

with CaseHistory as (
SELECT 
ROW_NUMBER() OVER(PARTITION BY [caseid] ORDER BY [changeDateTime] desc) 'RankId',
caseid,
changeDateTime
  FROM [Cabs_Live].[dbo].[Case_History]
where [newValue]='Resolved' or field_name = 'Resolved By'
)

select 
	c.Id as CaseNumber
	,category_id 
   ,c.[parent_category_name] as CaseCategory
   ,concat(
	isnull(nullif(c.field1,'')+', ', ''), 
	isnull(nullif(c.field2,'')+', ', ''),
	isnull(nullif(c.linkedDriver,'')+', ', ''),
	isnull(nullif(c.linkedVehicle,'')+', ', ''),
	isnull(nullif(c.linkedSkillsCandidate,'')+', ', '')
	) as 'LicenceNumbers'
	,lm.LicenceNumber as 'DLLicence'
	,lm.ExpiryDate as 'DLLicenceExpiryDate'
	,lmVL.LicenceNumber as 'VLLicence'
	,lmVL.LicenceExpiryDate as 'VLLicenceExpiryDate'
	,lmvl.CoExpiryDate as 'CoExpiryDate'
	,CONCAT(lsm.LicenceStateMaster, isnull(' - ' + ls.LicenceState, '')) 'VLLicenceStatus'
	,p.[PPSN] as 'CandidatePPSN'
   ,c.case_complaint_extensionFK as 'case_complaint_extensionFK'
   ,concat(c.raisedby_firstname,' ',c.raisedby_surname) as 'RaisedBy'
   ,IIF(c.isParent=1,'Yes','No') as 'IsParent'
   ,c.parentId as 'ParentCaseNumber'
   ,co.Name as 'Outcome'
   ,cr.ShortName as 'Resolution'
   ,case when progressStatus_id = 2 then null else ch.changeDateTime end as 'ResolutionDate'
   ,c.field1
   ,c.field2
   ,c.linkedDriver
   ,c.linkedVehicle
   ,c.linkedSkillsCandidate
   ,c.Case_Outcome
   ,case_resolutionFK
   ,progressStatus_id
   ,iif(lm.LicenceNumber is null and lmVL.LicenceNumber is null and p.ppsn is null, 0,1) 'Linked'
from [Cabs_live].[dbo].[Cases] c
	left join CaseHistory ch on c.id=ch.caseid and RankId=1
	left join [Cabs_live].[dbo].[Case_Outcome] co on c.Case_Outcome=co.Id
	left join [Cabs_live].[dbo].[Case_Resolution] cr on c.case_resolutionFK=cr.Id
	left join [cabs_production].[dl].[LicenceMaster] lm on 
						ltrim(rtrim(c.field1))=lm.LicenceNumber or 
			 			ltrim(rtrim(c.field2))=lm.LicenceNumber or 
						ltrim(rtrim(c.linkedDriver))=lm.LicenceNumber

	left join [cabs_production].[dbo].[LicenceMasterVL] lmVL on 
						ltrim(rtrim(c.field1))=lmVL.LicenceNumber or 
						ltrim(rtrim(c.field1))= convert(varchar(10), lmVL.PlateNumber) or 

						ltrim(rtrim(c.field2))=lmVL.LicenceNumber or 
						ltrim(rtrim(c.field2))=convert(varchar(10), lmVL.PlateNumber) or 
						
						ltrim(rtrim(c.linkedVehicle))=lmVL.LicenceNumber or 
						ltrim(rtrim(c.linkedVehicle))=convert(varchar(10), lmVL.PlateNumber)

	left join [cabs_production].[cabs_cmo].[Person] p  on c.linkedSkillsCandidate=p.PPSN
	left join cabs_production.dbo.LicenceState ls on lmvl.LicenceStateId=ls.LicenceStateId
	left join cabs_production.dbo.LicenceStateMaster lsm on lmvl.LicenceStateMasterId=lsm.LicenceStateMasterId
GO
