USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR06_01_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [retention].[DR06_01_SELECT]
(@ResolveDate as datetime)

RETURNS @table TABLE(
		ID BIGINT,
		[Start Date] DATETIME,
		[End Date] DATETIME,
		[Vehicle Licence Number] VARCHAR(MAX),
		[Driver Licence Number] NVARCHAR(MAX),
		[Was link broken] VARCHAR(50),
		[Date of deletion] DATETIME,
		[IsRetain] BIT
	)

AS

BEGIN

INSERT INTO @table
	SELECT
		   vd.[LinkId] AS [ID]
		  ,vd.[StartDate] AS [Start Date]
		  ,vd.[EndDate] AS [End Date]
		  ,vd.[VehicleLicenseNumber] AS [Vehicle Licence Number]
		  ,vd.[DriverLicenceNumber] AS [Driver Licence Number]
		  ,IIF([WasLinkBroken] = 1, 'YES','NO') AS [Was link broken]
		  ,@ResolveDate AS [Date of deletion]
		  ,IIF( (CONVERT(int,CONVERT(char(8),GETDATE(),112))-CONVERT(char(8),vd.[EndDate],112))*1.0/10000 > 6, 1, 0) AS [IsRetain]
	  FROM [cabs_production].[cabs_dvl].[VehicleDriver] vd
	  WHERE (CONVERT(int,CONVERT(char(8),@ResolveDate,112))-CONVERT(char(8),vd.[EndDate],112))*1.0/10000 > 6
	  ORDER BY [End Date] DESC

RETURN
END
GO
