USE [CABS]
GO
/****** Object:  UserDefinedTableType [retention].[CandidateBooking]    Script Date: 14/04/2022 13:25:03 ******/
CREATE TYPE [retention].[CandidateBooking] AS TABLE(
	[BookingId] [bigint] NOT NULL,
	[CandidateId] [bigint] NOT NULL
)
GO
