USE [CABS]
GO
/****** Object:  Table [retention].[ErrorLog]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [retention].[ErrorLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[ERROR_PROCEDURE] [nvarchar](128) NULL,
	[ERROR_NUMBER] [int] NULL,
	[ERROR_MESSAGE] [nvarchar](4000) NULL,
	[RULE_MESSAGE] [nvarchar](4000) NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ErrorLog_Data]    Script Date: 14/04/2022 13:25:03 ******/
CREATE NONCLUSTERED INDEX [IX_ErrorLog_Data] ON [retention].[ErrorLog]
(
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ErrorLog_PROCEDURE]    Script Date: 14/04/2022 13:25:03 ******/
CREATE NONCLUSTERED INDEX [IX_ErrorLog_PROCEDURE] ON [retention].[ErrorLog]
(
	[ERROR_PROCEDURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
