USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR08_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [retention].[DR08_SELECT] (@RetentionDate datetime) 
returns @t table
 (
	[LicenceNumber] [varchar](50)  NULL,
	[Licence Holder Name] [nvarchar](101) NULL,
	[PPSN] [nvarchar](20) NULL,
	[Licence Expiry Date] [smalldatetime] NULL,
	[Licence Type] [varchar](50) NULL,
	[Licence Status] [varchar](43) NULL,
	[Vehicle Registration Number] [varchar](10) NULL,
	[Suitability Set Date] [datetime] NULL,
	[Last Booking Date] [datetime] NULL,
	[Last Inspection Date] [datetime] NULL,
	[Last Inspection Type] [varchar](50) NULL,
	[Number of Driver Check reports] [int] NULL,
	[Has Nominee] [varchar](3) NULL,
	[Has Representative] [varchar](3) NULL,
	[Date of deletion] [datetime] NULL,
	[IsRetain] [int] NULL
) 
as
begin


declare @Licence_Case_Nominee table (LicenceNumber varchar(50))
	insert into @Licence_Case_Nominee
	select VLLicence from retention.vDR020203 d where VLLicence is not null and VLLicenceExpiryDate is not null and dateadd(YEAR, 7, ResolutionDate) > @RetentionDate

	--TODO: Marcin please confirm if this part is needed
	-- insert into @Licence_Case_Nominee
	-- select distinct LicenceNumber from cabs_production.dbo.licencenominee ln where ln.PersonId in (select PersonId from cabs_production.dbo.licencenominee group by PersonId having count(*)>1) 

;with 
cte_VL as (
select 
vl.LicenceNumber 'LicenceNumber',
h.HolderName 'Licence Holder Name',
h.Ppsn,
vl.LicenceExpiryDate 'Licence Expiry Date',
lt.LicenceType 'Licence Type',
CONCAT(lsm.LicenceStateMaster, isnull(' - ' + ls.LicenceState, '')) 'Licence Status',
vl.RegistrationNumber 'Vehicle Registration Number',
vl.SuitabilitySetDate 'Suitability Set Date'
from cabs_production.dbo.LicenceMasterVL vl
left join cabs_production.dbo.LicenceHolderMaster h on vl.LicenceHolderId=h.LicenceHolderId
left join cabs_production.dbo.LicenceType lt on vl.LicenceTypeId=lt.LicenceTypeId
left join cabs_production.dbo.LicenceState ls on vl.LicenceStateId=ls.LicenceStateId
left join cabs_production.dbo.LicenceStateMaster lsm on vl.LicenceStateMasterId=lsm.LicenceStateMasterId
where CONCAT(lsm.LicenceStateMaster, isnull(' - ' + ls.LicenceState, '')) not in ('DEAD - Conditional offer', 'INACTIVE - Conditional offer')
),
cte_Booking as
(select cte_VL.*,  max(BookingId) 'BookingId',  max(BookingDateTime) 'BookingDateTime' 
from cte_VL
left join cabs_production.dbo.Booking b on b.LicenceNumber = cte_VL.LicenceNumber
group by 
cte_VL.[Licence Expiry Date], cte_VL.[Licence Holder Name],cte_VL.Ppsn, cte_VL.[Licence Status], cte_VL.[Licence Type], cte_VL.LicenceNumber, cte_VL.[Suitability Set Date], cte_VL.[Vehicle Registration Number]
),
cte_all as (
select 
	ROW_NUMBER() OVER (PARTITION BY vb.LicenceNumber, vb.BookingId order by i.StartDate desc) 'RankId',
	vb.LicenceNumber, 
	vb.BookingId,
	i.InstanceId,
	i.StartDate,
	it.SystemProcessId
from cte_Booking vb
left join cabs_production.dbo.SystemProcessInstanceVL i on i.BookingId=vb.BookingId
left join cabs_production.dbo.Booking b on b.BookingId=vb.BookingId
left join cabs_production.dbo.SystemProcessVL it on it.SystemProcessId=b.SystemProcessId
)

insert into @t
select 
	vb.LicenceNumber, 
	vb.[Licence Holder Name],
	vb.PPSN,
	vb.[Licence Expiry Date],
	vb.[Licence Type],
	vb.[Licence Status],
	vb.[Vehicle Registration Number],
	vb.[Suitability Set Date],
	vb.BookingDateTime 'Last Booking Date',
	i.StartDate 'Last Inspection Date',
	it.ProcessName 'Last Inspection Type',
	(select count(*) from cabs_production.cabs_dck.DriverCheckReport dcr where dcr.VehicleLicenceNumber=vb.LicenceNumber)  'Number of Driver Check reports',
	iif((select count(*) from cabs_production.dbo.LicenceNominee n where n.LicenceNumber=vb.LicenceNumber and n.EndDate IS NULL)=0, 'No', 'Yes') 'Has Nominee?',
 	iif((select count(*) from cabs_production.dbo.LicenceRepresentative r where r.LicenceNumber=vb.LicenceNumber)=0, 'No', 'Yes') 'Has Representative?',
	@RetentionDate 'Date of deletion',
	iif( ((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),vb.[Licence Expiry Date],112))*1.0/10000)>6, 1, 0) 'IsRetain'
from cte_Booking vb
	left join cte_all i on i.BookingId=vb.BookingId
	left join cabs_production.dbo.Booking b on b.BookingId=vb.BookingId
	left join cabs_production.dbo.SystemProcessVL it on it.SystemProcessId=b.SystemProcessId 
where
(i.RankId=1 or i.Rankid is null)
--and (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),vb.[Licence Expiry Date],112))*1.0/10000 > 6
and dateadd(YEAR, 6, vb.[Licence Expiry Date]) < @RetentionDate
--and vb.LicenceNumber not in (select LicenceNumber from @Licence_Case_Nominee)
and not exists (SELECT LicenceNumber FROM @Licence_Case_Nominee WHERE LicenceNumber = vb.LicenceNumber)

return
end
GO
