USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR10_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   function [retention].[DR10_SELECT] (@RetentionDate as datetime)
returns @t table 
(
	[SupplierId] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](255) NULL,
	[Number of signage installations] [int] NULL,
	[Date of deletion] [datetime] NULL,
	[IsRetain] [bit] NULL
)
as
begin
insert into @t

SELECT 
       asp.[SupplierId]
      ,asp.[CompanyName]
	  ,si.[Number of signage installations]
	  ,@RetentionDate as [Date of deletion]
	  ,iif( ((CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),asp.ModifiedOn,112))*1.0/10000)>1, 1, 0) [IsRetain]
  FROM [cabs_production].[cabs_tds].[AuthorizedSupplier] asp
  left join (
	select [AuthorizedSupplierID], count(*) as [Number of signage installations] FROM [cabs_production].[cabs_tds].[SignageInstallation]
	group by [AuthorizedSupplierID]
  ) si on asp.Id=si.AuthorizedSupplierID

  where [IsActive] = 0 and (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),asp.ModifiedOn,112))*1.0/10000 >1
  and asp.[CompanyName] <> 'Branding Supplier'
  and asp.[Address] <> 'Branding Supplier Address'
return
end 
GO
