USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR06_02]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [retention].[DR06_02] (@RetentionDate datetime) as
BEGIN

declare @rentalAgreementId as bigint

declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1


insert into retention.RulesLogger
	select getdate(), 'DR06.02', @RetentionDate, getdate(), NULL, count(*), 0, 0 from retention.DR06_02_SELECT (@RetentionDate)
set @RuleLoggerId  = SCOPE_IDENTITY()


declare c_rentalAgreementId cursor for
	SELECT ID FROM retention.[DR06_02_SELECT](@RetentionDate)
OPEN c_rentalAgreementId

	FETCH NEXT FROM c_rentalAgreementId INTO @rentalAgreementId

	WHILE @@FETCH_STATUS = 0
	BEGIN

	BEGIN TRY
		BEGIN TRANSACTION;

		--if exists (select * from [cabs_production].[cabs_rta].[RentalAgreement] where ID = @rentalAgreementId)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 
								'DR06_02', 
								'cabs_production.cabs_rta.RentalAgreement', 
								'DELETE', 
								@rentalAgreementId, 
								convert(varchar(40), @RetentionDate, 120), 
								count(*), 'ID' from [cabs_production].[cabs_rta].[RentalAgreement] WHERE ID = @rentalAgreementId
							delete from [cabs_production].[cabs_rta].[RentalAgreement] where ID = @rentalAgreementId
						end


		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR06.02: RentalAgreementId: ' + convert(varchar(10), @rentalAgreementId) 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1
			END
	END CATCH;	
	
	
	
	FETCH NEXT FROM c_rentalAgreementId INTO @rentalAgreementId
	END
CLOSE c_rentalAgreementId
DEALLOCATE c_rentalAgreementId

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
