USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR04_02_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function [retention].[DR04_02_SELECT] (@RetentionDate as datetime)
returns @t table (
	[DateTime] [datetime] NULL,
	[Officer name] [nvarchar](128) NULL,
	[DriverLicenceNumber] [varchar](10) NULL,
	[VehicleLicenceNumber] [varchar](10) NULL,
	[IsFCP] [varchar](3) NULL,
	[Docket Number] [nvarchar](50) NULL,
	[Passed] [varchar](3) NULL,
	[IsSeized] [bit] NULL,
	[SeizureReason] [nvarchar](max) NULL,
	[IsSuitability] [varchar](3) NULL,
	[IsRoadworthiness] [varchar](3) NULL,
	[Date of deletion] [datetime] NULL,
	[Id] [int] null,
	[IsRetain] bit NULL
) 
as
begin

insert into @t
select distinct
	 a.[DateTime]
	,ud.FullName as [Officer name]
	,a.DriverLicenceNumber
	,a.VehicleLicenceNumber
	,iif(ahi.IsFcp=1,'Yes','No') as [IsFCP]
	,f.DocketNumber as [Docket Number]
	,iif(ahi.Passed=1,'Yes','No') as [Passed]
	,a.IsSeized
	,a.SeizureReason
	,IIF(a.IsSuitability=1,'Yes','No') as [IsSuitability]
	,iif(a.IsRoadworthiness=1,'Yes','No') as [IsRoadworthiness]
	,@RetentionDate as [Date of deletion]
	,a.Id
	,iif( ((CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),a.[CreatedOn],112))*1.0/10000)>6, 1, 0) [IsRetain]
from [cabs_production].[cabs_enf].[Audit] a
	left join [cabs_production].[cabs_cmo].[UserDetails] ud on a.EnforcementOfficerUId=ud.UserId
	left join [cabs_production].[cabs_enf].[AuditHistoryItem] ahi on a.Id=ahi.AuditId
	left join [cabs_production].[cabs_enf].[Fines] f on ahi.FineId=f.ID
where
	(CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),a.CreatedOn,112))*1.0/10000 > 6

return
end
GO
