USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[RunRules_RemoveVersioning_CABS]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [retention].[RunRules_RemoveVersioning_CABS] as
	ALTER TABLE cleansing.VL_LicenceHolderMaster SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE cleansing.SK_Person SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE cleansing.Person SET (SYSTEM_VERSIONING = OFF)

GO
