USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR16.02]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [retention].[DR16.02](@RetentionDate datetime)

AS
BEGIN

declare @RuleLoggerId int

insert into retention.RulesLogger
	select getdate(), 'DR16.02', @RetentionDate, getdate(), NULL, 1, 0, 0 
set @RuleLoggerId  = SCOPE_IDENTITY()


	BEGIN TRY
		BEGIN TRAN
        --USERS
            IF EXISTS(SELECT * FROM [OR_Test].[dbo].[AppSettings] 
                    WHERE value in (SELECT Email FROM [OR_Test].[dbo].[aspnet_Membership] 
                        WHERE UserId in (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate))))
                BEGIN
                    INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
                        SELECT 'DR16.02', 'OR_Test.dbo.AppSettings', 'DELETE',value ,convert(varchar(40), @RetentionDate, 120),COUNT(*),'value'
                        FROM [OR_Test].[dbo].[AppSettings] 
                            WHERE value in (SELECT Email FROM [OR_Test].[dbo].[aspnet_Membership] 
                                WHERE UserId in (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate)))
                        GROUP BY value

                    DELETE FROM [OR_Test].[dbo].[AppSettings] 
                            WHERE value in (SELECT Email FROM [OR_Test].[dbo].[aspnet_Membership] 
                                WHERE UserId in (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate)))
                    PRINT N'REMOVES OR_Test.dbo.AppSettings'
                END
---------------------------------------------------
            IF EXISTS (SELECT * FROM [OR_Test].[dbo].[aspnet_Membership] 
                WHERE UserId in (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate)))
            BEGIN
                INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
                    SELECT 'DR16.02','OR_Test.dbo.aspnet_Membership', 'DELETE',UserId ,convert(varchar(40), @RetentionDate, 120),COUNT(*),'UserId'
                    FROM [OR_Test].[dbo].[aspnet_Membership] 
                        WHERE UserId in (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate))
                    GROUP BY UserId
            END

            DELETE FROM [OR_Test].[dbo].[aspnet_Membership] 
                WHERE UserId in (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate))
            PRINT N'REMOVES OR_Test.dbo.aspnet_Membership'
---------------------------------------------
            IF EXISTS(SELECT * FROM [OR_Test].[dbo].[aspnet_UsersInRoles] 
                WHERE UserId IN (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate)))
                    BEGIN
                        INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
                            SELECT 'DR16.02','OR_Test.dbo.aspnet_UsersInRoles', 'DELETE',UserId ,convert(varchar(40), @RetentionDate, 120),COUNT(*),'UserId'
                            FROM [OR_Test].[dbo].[aspnet_UsersInRoles] 
                                WHERE UserId IN (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate))
                            GROUP BY UserId

                    DELETE FROM [OR_Test].[dbo].[aspnet_UsersInRoles] 
                        WHERE UserId IN (SELECT UserId FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate))
                    PRINT N'REMOVES OR_Test.dbo.aspnet_UsersInRoles'
                    END
---------------------------------------------
            IF EXISTS(SELECT * FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate))
                BEGIN
                    INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
                        SELECT 'DR16.02','OR_Test.dbo.aspnet_UsersInRoles', 'DELETE',UserId ,convert(varchar(40), @RetentionDate, 120),COUNT(*),'UserId'
                        FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate)
                        GROUP BY UserId

                    DELETE FROM [OR_Test].[dbo].[aspnet_Users] WHERE LastActivityDate < DATEADD(YEAR,-6, @RetentionDate)
                    PRINT N'REMOVES OR_Test.dbo.aspnet_UsersInRoles' 
                END
---------------------------------------------
        --******* ORDERS
            IF EXISTS(SELECT * FROM [OR_Test].[dbo].[PostedHistory] 
                WHERE OrderId IN (SELECT ID FROM [OR_Test].[dbo].[Orders] WHERE OrderDate < DATEADD(YEAR,-6, @RetentionDate)))
                BEGIN
                    INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
                        SELECT 'DR16.02','OR_Test.dbo.PostedHistory', 'DELETE',OrderId ,convert(varchar(40), @RetentionDate, 120),COUNT(*),'OrderId'
                        FROM [OR_Test].[dbo].[PostedHistory] 
                            WHERE OrderId IN (SELECT ID FROM [OR_Test].[dbo].[Orders] WHERE OrderDate < DATEADD(YEAR,-6, @RetentionDate))
                        GROUP BY OrderId

                        DELETE FROM [OR_Test].[dbo].[PostedHistory] 
                            WHERE OrderId IN (SELECT ID FROM [OR_Test].[dbo].[Orders] WHERE OrderDate < DATEADD(YEAR,-6, @RetentionDate))
                        PRINT N'REMOVES OR_Test.dbo.PostedHistory'
                END
---------------------------------------------
            IF EXISTS(SELECT * FROM [OR_Test].[dbo].[Orders] WHERE OrderDate < DATEADD(YEAR,-6, @RetentionDate))
                BEGIN
                    INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
                        SELECT 'DR16.02','OR_Test.dbo.Orders', 'DELETE',ID ,convert(varchar(40), @RetentionDate, 120),COUNT(*),'ID'
                        FROM [OR_Test].[dbo].[Orders] WHERE OrderDate < DATEADD(YEAR,-6, @RetentionDate)
                        GROUP BY ID

                    DELETE FROM [OR_Test].[dbo].[Orders] WHERE OrderDate < DATEADD(YEAR,-6, @RetentionDate)

                    PRINT N'REMOVES OR_Test.dbo.Orders'
                END
---------------------------------------------
        --******* QuestionsComments 
            IF EXISTS(SELECT * FROM [OR_Test].[dbo].[QuestionsComments] WHERE Date < DATEADD(YEAR,-6, @RetentionDate))
                BEGIN
                    INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
                        SELECT 'DR16.02','OR_Test.dbo.QuestionsComments', 'DELETE',ID ,convert(varchar(40), @RetentionDate, 120),COUNT(*),'ID'
                        FROM [OR_Test].[dbo].[QuestionsComments] WHERE Date < DATEADD(YEAR,-6, @RetentionDate)
                        GROUP BY ID

                    DELETE FROM [OR_Test].[dbo].[QuestionsComments] WHERE Date < DATEADD(YEAR,-6, @RetentionDate)

                    PRINT N'REMOVES'
                END
---------------------------------------------
        --******* SearchLog 
            IF EXISTS(SELECT * FROM [OR_Test].[dbo].[SearchLog] WHERE Created < DATEADD(YEAR,-6, @RetentionDate))
                BEGIN
                    INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
                        SELECT 'DR16.02','OR_Test.dbo.SearchLog', 'DELETE',SearchType ,convert(varchar(40), @RetentionDate, 120),COUNT(*),'SearchType'
                        FROM [OR_Test].[dbo].[SearchLog] WHERE Created < DATEADD(YEAR,-6, @RetentionDate)
                        GROUP BY SearchType

                    DELETE FROM [OR_Test].[dbo].[SearchLog] WHERE Created < DATEADD(YEAR,-6, @RetentionDate)

                    PRINT N'REMOVES OR_Test.dbo.SearchLog'
                END
---------------------------------------------
		update retention.RulesLogger set RowsDone = 1 where id=@RuleLoggerId
		print 'END'
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;

				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR1602' 'RULE_MESSAGE'
				
				update retention.RulesLogger set RowsWithError = 1 where id=@RuleLoggerId	
			END
	END CATCH;

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
