USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR17]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [retention].[DR17] (@RetentionDate datetime) as
BEGIN

declare @RuleLoggerId  int
declare @ETL table (etlid int)

insert into @ETL
	select ETLId from cleansing.ETL where dateadd(MONTH,6, ETLEndDate ) <  @RetentionDate
insert into retention.RulesLogger 
	select getdate(), 'DR17', @RetentionDate, getdate(), NULL, 19, 0, 0 
set @RuleLoggerId  = SCOPE_IDENTITY()

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_01', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_01 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_01 where ETLId in (select ETLId from @ETL)
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_01'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	
BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_02', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_02 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_02 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_02'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	
BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_03', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_03 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_03 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_03'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_04', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_04 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_04 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_04'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_05', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_05 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_05 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_05'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_06', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_06 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_06 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_06'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_07', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_07 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_07 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_07'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_08', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_08 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_08 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_08'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_09', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_09 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_09 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_09'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_10', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_10 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_10 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_10'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_11', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_11 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_11 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_11'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_12', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_12 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_12 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_12'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_13', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_13 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_13 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_13'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_14', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_14 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_14 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_14'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_15', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_15 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_15 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_15'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_16', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_16 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_16 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_16'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_17', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_17 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_17 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_17'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_18', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_18 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_18 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_18'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

BEGIN TRY
	BEGIN TRANSACTION;
		begin
			insert into retention.Logger ([Rule], [TableAffected], [RuleType], [TableId], [Date], [RowsAffected], [ColumnUsed])
				select 'DR17', 'cabs.cleansing.DC01_1_19', 'DELETE', NULL, convert(varchar(40), @RetentionDate,120), (select count(*) from cleansing.DC01_1_19 where ETLId in (select ETLId from @ETL)), 'ETLId'
			delete from cleansing.DC01_1_19 where ETLId in (select ETLId from @ETL) 
			update retention.RulesLogger set RowsDone = RowsDone+1 where id=@RuleLoggerId
		end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into retention.ErrorLog
			select 
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				'DR17 - cleansing.DC01_1_19'

				update retention.RulesLogger set RowsWithError = RowsWithError + 1 where id=@RuleLoggerId
		END
END CATCH;	

	update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
