USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR11]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [retention].[DR11] (@RetentionDate datetime) as
BEGIN

SET XACT_ABORT ON

DECLARE @HolderId as BIGINT

declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1

insert into retention.RulesLogger
	select getdate(), 'DR11', @RetentionDate, getdate(), NULL, count(*), 0, 0 from retention.DR11_SELECT (@RetentionDate)
set @RuleLoggerId  = SCOPE_IDENTITY()

DECLARE c_holder CURSOR FOR
	SELECT t.HolderID FROM retention.DR11_SELECT(@RetentionDate) t

OPEN c_holder
	FETCH NEXT FROM c_holder INTO @HolderId

	WHILE @@FETCH_STATUS = 0
	BEGIN
		BEGIN TRY
			--BEGIN TRAN
			--	SET XACT_ABORT ON
				--IF EXISTS(SELECT * FROM cabs_production.dbo.DispatchOperatorMaster WHERE LicenceHolderId IN (@HolderId))
					BEGIN
						INSERT INTO retention.Logger([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							SELECT 'DR11', 'cabs_production.dbo.DispatchOperatorMaster','UPDATE',LicenceHolderId,convert(varchar(40), @RetentionDate,120), count(*), 'CompanyOwnerName'
							FROM cabs_production.dbo.DispatchOperatorMaster WHERE LicenceHolderId IN (@HolderId)
							GROUP BY LicenceHolderId

						UPDATE cabs_production.dbo.DispatchOperatorMaster
						SET CompanyOwnerName = 'DO Company'
						WHERE LicenceHolderId IN (@HolderId)

						PRINT N'UPDATE cabs_production.dbo.DispatchOperatorMaster'
					END

--****************************************************************************************************************************************************

				--IF EXISTS(SELECT * FROM [DB2].TaxiReg.dbo.DispatchOperator WHERE [CompanyID] IN (@HolderId))
					BEGIN
						INSERT INTO retention.Logger([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							SELECT 'DR11', '[DB2].TaxiReg.dbo.DispatchOperator','UPDATE',CompanyID,convert(varchar(40), @RetentionDate,120), count(*), 'CompanyName'
							FROM [DB2].TaxiReg.dbo.DispatchOperator WHERE [CompanyID] IN (@HolderId)
							GROUP BY CompanyID

						UPDATE [DB2].TaxiReg.dbo.DispatchOperator
						SET 
						  CompanyName = 'DO Company'
							,CompanyOwnerName = NULL
							,[CompanyType] = NULL
							,[CompanyTypeOther] = NULL
							,[CompanyAddress1] = NULL
							,[CompanyAddress2] = NULL
							,[CompanyAddress3] = NULL
							,[CompanyAddress4] = NULL
							,[County] = NULL
							,[CompanyPhoneNum] = NULL
							,[MainPhoneNum] = NULL
							,[MobileNum] = NULL
							,[Fax] = NULL
							,[EmailAddress] = NULL
							,[Website] = NULL
							,[OpHoursStart] = NULL
							,[OpHoursEnd] = NULL
							,[CompanyRegNumber] = NULL
							,[CompanyRegDate] = NULL
							,[CompanyOwnerPPS] = NULL
							,[ScheduledFromDate] = NULL
							,[ScheduledFromTime] = NULL
							,[ScheduledToDate] = NULL
							,[ScheduledToTime] = NULL
							,[PaymentMethod] = NULL
							,[PaymentReference] = NULL
							,[PaymentComplete] = NULL
							,[LicenceComments] = NULL
							,[TaxClearanceCert] = NULL
							,[IncompleteApplication] = NULL
							,[ReferenceNumber] = NULL
							,[PendingDate] = NULL
							,[EnforcementComments] = NULL
							,[AssessedBy] = NULL
							,[AssessmentDate] = NULL
							,[FailedEnforcement] = NULL
							,[LicencePrinted] = NULL
							,[SentToPrintDate] = NULL
							,[RenewalLetterSent] = NULL
							,[RenewalLetterSentDate] = NULL
							,[TaxCertPPSNumber] = NULL
							,[TaxCertNumber] = NULL
							,[TaxCertExpiryDate] = NULL
						WHERE [CompanyID] IN (@HolderId)

						PRINT N'UPDATE [DB2].TaxiReg.dbo.DispatchOperator'
					END

--****************************************************************************************************************************************************
				--IF EXISTS(SELECT * FROM [DB2].[TRDWH].[dbo].[DispatchOperator] WHERE [CompanyID] IN (@HolderId))
					BEGIN
						INSERT INTO retention.Logger([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							SELECT 'DR11', '[DB2].TRDWH.dbo.DispatchOperator','UPDATE',CompanyID,convert(varchar(40), @RetentionDate,120), count(*), 'CompanyName'
							FROM [DB2].[TRDWH].[dbo].[DispatchOperator] WHERE [CompanyID] IN (@HolderId)
							GROUP BY CompanyID

						UPDATE [DB2].[TRDWH].[dbo].[DispatchOperator]
						SET 
						  CompanyName = 'DO Company'
							,CompanyOwnerName = NULL
							,[CompanyType] = NULL
							,[CompanyTypeOther] = NULL
							,[CompanyAddress1] = NULL
							,[CompanyAddress2] = NULL
							,[CompanyAddress3] = NULL
							,[CompanyAddress4] = NULL
							,[County] = NULL
							,[CompanyPhoneNum] = NULL
							,[MainPhoneNum] = NULL
							,[MobileNum] = NULL
							,[Fax] = NULL
							,[EmailAddress] = NULL
							,[Website] = NULL
							,[OpHoursStart] = NULL
							,[OpHoursEnd] = NULL
							,[CompanyRegNumber] = NULL
							,[CompanyRegDate] = NULL
							,[CompanyOwnerPPS] = NULL
							,[ScheduledFromDate] = NULL
							,[ScheduledFromTime] = NULL
							,[ScheduledToDate] = NULL
							,[ScheduledToTime] = NULL
							,[PaymentMethod] = NULL
							,[PaymentReference] = NULL
							,[PaymentComplete] = NULL
							,[LicenceComments] = NULL
							,[TaxClearanceCert] = NULL
							,[IncompleteApplication] = NULL
							,[ReferenceNumber] = NULL
							,[PendingDate] = NULL
							,[EnforcementComments] = NULL
							,[AssessedBy] = NULL
							,[AssessmentDate] = NULL
							,[FailedEnforcement] = NULL
							,[LicencePrinted] = NULL
							,[SentToPrintDate] = NULL
							,[RenewalLetterSent] = NULL
							,[RenewalLetterSentDate] = NULL
							,[TaxCertPPSNumber] = NULL
							,[TaxCertNumber] = NULL
							,[TaxCertExpiryDate] = NULL
						WHERE [CompanyID] IN (@HolderId)

						PRINT N'UPDATE [DB2].TRDWH.dbo.DispatchOperator'
					END
--****************************************************************************************************************************************************

				--IF EXISTS(SELECT  * FROM [DB2].TaxiReg.dbo.Dispatch_Operator_History WHERE [CompanyID] IN (@HolderId))
					BEGIN
						INSERT INTO retention.Logger([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
							SELECT 'DR11', '[DB2].TaxiReg.dbo.Dispatch_Operator_History','DELETE',CompanyID,convert(varchar(40), @RetentionDate,120), count(*), 'CompanyID'
							FROM [DB2].TaxiReg.dbo.Dispatch_Operator_History WHERE [CompanyID] IN (@HolderId)
							GROUP BY CompanyID

						DELETE FROM [DB2].TaxiReg.dbo.Dispatch_Operator_History WHERE [CompanyID] IN (@HolderId)

						PRINT N'DELETE [DB2].TaxiReg.dbo.Dispatch_Operator_History'
					END

		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		--COMMIT TRANSACTION

		END TRY
		BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				--ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR11: HolderId: ' + convert(varchar(10), @HolderId) 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1
			END
		END CATCH

		FETCH NEXT FROM c_holder INTO @HolderId
	END
CLOSE c_holder
DEALLOCATE c_holder

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
