USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Application_Type_File_Types_Matrix]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Type_File_Types_Matrix](
	[id] [numeric](18, 0) NOT NULL,
	[Type] [varchar](50) NULL
) ON [PRIMARY]
GO
