USE [TaxiReg]
GO
/****** Object:  Table [dbo].[AreaCompanyLink]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaCompanyLink](
	[CompanyID] [int] NULL,
	[AreaID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_AreaCompanyLink]    Script Date: 14/04/2022 13:41:15 ******/
CREATE CLUSTERED INDEX [IDX_AreaCompanyLink] ON [dbo].[AreaCompanyLink]
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
