USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Text_Report]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Text_Report](
	[TextReport_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Text_Date] [datetime] NULL,
	[Text_MobileNo] [varchar](50) NULL,
	[Txt_MsgSent] [varchar](1000) NULL,
	[Filename] [varchar](1000) NULL,
	[Upload_Time] [datetime] NULL,
 CONSTRAINT [PK_TextReport] PRIMARY KEY CLUSTERED 
(
	[TextReport_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
