USE [TaxiReg]
GO
/****** Object:  Table [dbo].[DispatchOperatorUserTypes]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOperatorUserTypes](
	[DOUserTypeID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DOUserType] [varchar](50) NULL,
 CONSTRAINT [PK_DispatchOperatorUserTypes] PRIMARY KEY CLUSTERED 
(
	[DOUserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
