USE [TaxiReg]
GO
/****** Object:  Table [dbo].[MigrationLog]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigrationLog](
	[LogID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CallerID] [numeric](18, 0) NULL,
	[CallID] [numeric](18, 0) NULL,
	[TaxiReg_ID] [numeric](18, 0) NULL,
	[Licence_ID] [numeric](18, 0) NULL,
	[Call_History_ID] [numeric](18, 0) NULL,
	[Surname] [varchar](255) NULL,
	[County] [varchar](100) NULL,
	[MobileTel] [varchar](50) NULL,
	[Comments] [varchar](8000) NULL,
	[RecordNo] [numeric](18, 0) NULL,
	[TotalRecords] [numeric](18, 0) NULL,
	[Filepath] [varchar](8000) NULL,
	[UploadedBy] [varchar](50) NULL,
	[UploadedDate] [datetime] NULL,
	[ErrorMsg] [varchar](8000) NULL,
 CONSTRAINT [PK_MigrationLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
