USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Call_History]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Call_History](
	[Call_History_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CallerID] [numeric](18, 0) NULL,
	[CallID] [numeric](18, 0) NULL,
	[TaxiReg_ID] [numeric](18, 0) NULL,
	[Licence_Details_ID] [numeric](18, 0) NULL,
	[CallerType] [numeric](18, 0) NULL,
	[Class1] [numeric](18, 0) NULL,
	[Class2] [numeric](18, 0) NULL,
	[Class3] [numeric](18, 0) NULL,
	[Class4] [numeric](18, 0) NULL,
	[Call_Comments] [varchar](8000) NULL,
	[CallOutcome] [varchar](50) NULL,
	[Escalated_To] [varchar](50) NULL,
	[Escalation_Date] [datetime] NULL,
	[Created_By] [varchar](50) NULL,
	[Creation_Date] [datetime] NULL,
	[Inspector_ID] [numeric](18, 0) NULL,
	[Call_State] [varchar](50) NULL,
	[Additional_Comments] [varchar](8000) NULL,
	[Field1] [varchar](50) NULL,
	[Field2] [varchar](50) NULL,
	[EIC_CallID] [varchar](50) NULL,
	[RedFlagEmail] [bit] NULL,
	[Migration_Flag] [int] NULL,
	[Migration_Date] [datetime] NULL,
	[Include_OldAdd] [bit] NULL,
	[OldAddress1] [varchar](255) NULL,
	[OldAddress2] [varchar](255) NULL,
	[OldAddress3] [varchar](255) NULL,
	[OldAddress4] [varchar](255) NULL,
	[OldAddressCounty] [varchar](255) NULL,
	[OldAddressCountry] [varchar](255) NULL,
	[OldAddDetailsSent] [bit] NULL,
	[AddSentDate] [datetime] NULL,
	[ComplaintUpheld] [bit] NULL,
 CONSTRAINT [PK_Call_History] PRIMARY KEY CLUSTERED 
(
	[Call_History_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
