USE [TaxiReg]
GO
/****** Object:  Table [dbo].[ApplicationType]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationType](
	[AppID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ApplicationType] [varchar](50) NULL,
	[AppCode] [bit] NULL
) ON [PRIMARY]
GO
