USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Calls]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calls](
	[CallID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CallerID] [numeric](18, 0) NULL,
	[Created_By] [varchar](50) NULL,
	[StartDate] [datetime] NULL,
	[FinishDate] [datetime] NULL,
	[Edited_By] [varchar](50) NULL,
	[Edit_Date] [datetime] NULL,
	[Computer_Name] [varchar](50) NULL,
	[Edit_Computer_Name] [varchar](50) NULL,
	[IP_Address] [varchar](50) NULL,
	[Edit_IP_Address] [varchar](50) NULL,
	[CallerType] [numeric](18, 0) NULL,
	[Call_Recd_Type] [varchar](50) NULL,
	[Connected_Time] [datetime] NULL,
	[EIC_CallID] [varchar](50) NULL,
	[Call_Station] [varchar](100) NULL,
	[Edit_Connected_Time] [datetime] NULL,
	[Edit_EIC_CallID] [numeric](18, 0) NULL,
	[Edit_Call_Station] [varchar](100) NULL,
	[Field1] [varchar](50) NULL,
	[Field2] [varchar](50) NULL,
	[Comment_TaxiReg_ID] [numeric](18, 0) NULL,
	[Migration_Flag] [int] NULL,
	[Migration_Date] [datetime] NULL,
 CONSTRAINT [PK_Calls] PRIMARY KEY CLUSTERED 
(
	[CallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
