USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Licence_Details]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licence_Details](
	[Licence_Details_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TaxiReg_ID] [numeric](18, 0) NULL,
	[Licence_No] [varchar](50) NULL,
	[Licence_Expiry] [varchar](50) NULL,
	[Vehicle_Reg] [varchar](50) NULL,
	[Licence_Holder] [varchar](100) NULL,
	[Local_Authority] [varchar](100) NULL,
	[VehicleType] [varchar](255) NULL,
	[Field2] [varchar](50) NULL,
	[Migration_Flag] [int] NULL,
	[Migration_Date] [datetime] NULL,
	[BadgeNo] [varchar](50) NULL,
	[Badge_Expiry] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[Primary_Op_Area] [varchar](255) NULL,
 CONSTRAINT [PK_Licence_Details] PRIMARY KEY CLUSTERED 
(
	[Licence_Details_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
