USE [TaxiReg]
GO
/****** Object:  Table [dbo].[LetterHistory]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterHistory](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CompanyID] [int] NULL,
	[LetterName] [varchar](50) NULL,
	[LetterType] [varchar](50) NULL,
	[LetterFullName] [varchar](50) NULL,
	[DatePrinted] [datetime] NULL,
	[LetterPrintedBy] [varchar](50) NULL,
	[FilePath] [varchar](200) NULL,
	[LetterSize] [int] NULL,
 CONSTRAINT [PK_LetterHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
