USE [TaxiReg]
GO
/****** Object:  Table [dbo].[TaxiReg_Record]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxiReg_Record](
	[TaxiReg_ID] [numeric](18, 0) IDENTITY(1000,1) NOT FOR REPLICATION NOT NULL,
	[CallerID] [numeric](18, 0) NULL,
	[CallID] [numeric](18, 0) NULL,
	[CallerType] [numeric](18, 0) NULL,
	[ValidCall] [int] NULL,
	[Class1] [numeric](18, 0) NULL,
	[Class2] [numeric](18, 0) NULL,
	[Class3] [numeric](18, 0) NULL,
	[Class4] [numeric](18, 0) NULL,
	[Call_Outcome] [varchar](50) NULL,
	[Order_No] [numeric](18, 0) NULL,
	[Order_Exported] [int] NULL,
	[Order_Export_Date] [datetime] NULL,
	[Call_Comments] [varchar](8000) NULL,
	[Complaint_Recd] [varchar](50) NULL,
	[Source_Of_Query] [varchar](50) NULL,
	[Media_Source] [varchar](50) NULL,
	[Created_By] [varchar](50) NULL,
	[Creation_Date_Triggered] [datetime] NULL,
	[Edited_By] [varchar](50) NULL,
	[Edit_Date] [datetime] NULL,
	[Escalation] [int] NULL,
	[Escalated_To] [varchar](50) NULL,
	[Escalation_date] [varchar](50) NULL,
	[Receipt_Given] [int] NULL,
	[ReceiptNo] [varchar](50) NULL,
	[SPSV_Licence_No] [varchar](50) NULL,
	[Receipt_Vehicle_Reg] [varchar](50) NULL,
	[Trip_Start_Date] [varchar](50) NULL,
	[Trip_Start_Time] [varchar](50) NULL,
	[Trip_Finish_Time] [varchar](50) NULL,
	[Trip_Distance] [varchar](50) NULL,
	[Total_Meter_Fare] [varchar](50) NULL,
	[Fare_Extras] [varchar](50) NULL,
	[Fare_Discounts] [varchar](50) NULL,
	[Fare_Tips] [varchar](50) NULL,
	[Fare_Tolls] [varchar](50) NULL,
	[Inspector_ID] [numeric](18, 0) NULL,
	[Call_State] [varchar](50) NULL,
	[FileRefNo] [varchar](100) NULL,
	[Additional_Comments] [varchar](8000) NULL,
	[Field1] [varchar](50) NULL,
	[Field2] [varchar](50) NULL,
	[File_ID] [numeric](18, 0) NULL,
	[Export_Date] [datetime] NULL,
	[Migration_Flag] [int] NULL,
	[Migration_Date] [datetime] NULL,
	[ComplaintUpheld] [bit] NULL,
 CONSTRAINT [PK_Taxi_Reg_Record] PRIMARY KEY CLUSTERED 
(
	[TaxiReg_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
