USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Compliance]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compliance](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CompanyID] [int] NULL,
	[CertHolderID] [int] NULL,
	[ComputerSystem] [bit] NULL,
	[ManualSystem] [bit] NULL,
	[PhoneBooking] [bit] NULL,
	[OnlineBooking] [bit] NULL,
	[EmailBooking] [bit] NULL,
	[FaxBooking] [bit] NULL,
	[SMSTextBooking] [bit] NULL,
	[Tracked] [bit] NULL,
	[DriverLate] [bit] NULL,
	[RecordsSixMonths] [bit] NULL,
	[OutlineDisabilities] [bit] NULL,
	[DriverLicence] [bit] NULL,
	[VehicleLicence] [bit] NULL,
	[InsDetails] [bit] NULL,
	[UpdatingRecords] [bit] NULL,
	[StaffTraining] [bit] NULL,
	[FareStructure] [bit] NULL,
	[CustomerComplaints] [bit] NULL,
	[CustomerCare] [bit] NULL,
	[AssistingSpecialNeeds] [bit] NULL,
	[TrainingOther] [bit] NULL,
	[TrainingOtherSpecified] [varchar](255) NULL,
	[ComplaintsKept] [bit] NULL,
	[ComplaintsProcedure] [bit] NULL,
	[ComplaintsDealtWith] [bit] NULL,
	[OutlineProcedure] [bit] NULL,
	[ActionOvercharged] [bit] NULL,
	[ActionNoPickup] [bit] NULL,
	[ActionDriverRude] [bit] NULL,
	[CertHolderConsent] [bit] NULL,
 CONSTRAINT [PK_Compliance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
