USE [TaxiReg]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PaymentType] [varchar](255) NULL
) ON [PRIMARY]
GO
