USE [TaxiReg]
GO
/****** Object:  Table [dbo].[DispatchOperator]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOperator](
	[CompanyID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[Creation_Date] [datetime] NULL,
	[SubmitDate] [datetime] NULL,
	[EditedBy] [varchar](50) NULL,
	[EditDate] [datetime] NULL,
	[CompanyName] [varchar](50) NULL,
	[CompanyType] [varchar](50) NULL,
	[CompanyTypeOther] [varchar](50) NULL,
	[CompanyAddress1] [varchar](50) NULL,
	[CompanyAddress2] [varchar](50) NULL,
	[CompanyAddress3] [varchar](50) NULL,
	[CompanyAddress4] [varchar](50) NULL,
	[County] [varchar](50) NULL,
	[CompanyOwnerName] [varchar](50) NULL,
	[CompanyPhoneNum] [varchar](50) NULL,
	[MainPhoneNum] [varchar](50) NULL,
	[MobileNum] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[OpHoursStart] [varchar](50) NULL,
	[OpHoursEnd] [varchar](50) NULL,
	[CompanyRegNumber] [varchar](50) NULL,
	[CompanyRegDate] [varchar](50) NULL,
	[CompanyOwnerPPS] [varchar](50) NULL,
	[NumCompTaxi] [varchar](50) NULL,
	[NumCompHackney] [varchar](50) NULL,
	[NumCompWATaxi] [varchar](50) NULL,
	[NumCompLimo] [varchar](50) NULL,
	[NumAffTaxi] [varchar](50) NULL,
	[NumAffHackney] [varchar](50) NULL,
	[NumAffWATaxi] [varchar](50) NULL,
	[NumAffLimo] [varchar](50) NULL,
	[NumAffStaff] [varchar](50) NULL,
	[NumStaffDrivers] [varchar](50) NULL,
	[NumNonDriverStaff] [varchar](50) NULL,
	[LicenceNumber] [varchar](50) NULL,
	[LicenceStatus] [varchar](50) NULL,
	[NewApplication] [bit] NULL,
	[ValidFromDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[AssignedTo] [varchar](50) NULL,
	[ScheduledFromDate] [varchar](50) NULL,
	[ScheduledFromTime] [varchar](50) NULL,
	[ScheduledToDate] [varchar](50) NULL,
	[ScheduledToTime] [varchar](50) NULL,
	[PaymentMethod] [varchar](50) NULL,
	[PaymentReference] [varchar](50) NULL,
	[PaymentComplete] [bit] NULL,
	[LicenceComments] [varchar](5000) NULL,
	[TaxClearanceCert] [bit] NULL,
	[IncompleteApplication] [varchar](5000) NULL,
	[ReferenceNumber] [varchar](50) NULL,
	[PendingDate] [datetime] NULL,
	[EnforcementComments] [varchar](5000) NULL,
	[AssessedBy] [varchar](50) NULL,
	[AssessmentDate] [datetime] NULL,
	[FailedEnforcement] [varchar](5000) NULL,
	[LicencePrinted] [bit] NULL,
	[SentToPrintDate] [datetime] NULL,
	[RenewalLetterSent] [bit] NULL,
	[RenewalLetterSentDate] [datetime] NULL,
	[TaxCertPPSNumber] [varchar](50) NULL,
	[TaxCertNumber] [varchar](50) NULL,
	[TaxCertExpiryDate] [datetime] NULL,
 CONSTRAINT [PK_DispatchOperator] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
