USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Dispatch_Operator_History]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispatch_Operator_History](
	[HistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CompanyID] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[Creation_Date] [datetime] NULL,
	[SubmitDate] [datetime] NULL,
	[CompanyName] [varchar](50) NULL,
	[CompanyType] [varchar](50) NULL,
	[CompanyTypeOther] [varchar](50) NULL,
	[CompanyAddress1] [varchar](50) NULL,
	[CompanyAddress2] [varchar](50) NULL,
	[CompanyAddress3] [varchar](50) NULL,
	[CompanyAddress4] [varchar](50) NULL,
	[CompanyCounty] [varchar](50) NULL,
	[CompanyOwnerName] [varchar](50) NULL,
	[CompanyPhoneNum] [varchar](50) NULL,
	[MainPhoneNum] [varchar](50) NULL,
	[MobileNum] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[OpHoursStart] [varchar](50) NULL,
	[OpHoursEnd] [varchar](50) NULL,
	[CompanyRegNumber] [varchar](50) NULL,
	[CompanyRegDate] [varchar](50) NULL,
	[CompanyOwnerPPS] [varchar](50) NULL,
	[NumCompTaxi] [varchar](50) NULL,
	[NumCompHackney] [varchar](50) NULL,
	[NumCompWATaxi] [varchar](50) NULL,
	[NumCompLimo] [varchar](50) NULL,
	[NumAffTaxi] [varchar](50) NULL,
	[NumAffHackney] [varchar](50) NULL,
	[NumAffWATaxi] [varchar](50) NULL,
	[NumAffLimo] [varchar](50) NULL,
	[NumAffStaff] [varchar](50) NULL,
	[NumStaffDrivers] [varchar](50) NULL,
	[NumNonDriverStaff] [varchar](50) NULL,
	[LicenceNumber] [varchar](50) NULL,
	[LicenceStatus] [varchar](50) NULL,
	[NewApplication] [bit] NULL,
	[ValidFromDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[AssignedTo] [varchar](50) NULL,
	[ScheduledFromDate] [varchar](50) NULL,
	[ScheduledFromTime] [varchar](50) NULL,
	[ScheduledToDate] [varchar](50) NULL,
	[ScheduledToTime] [varchar](50) NULL,
	[PaymentMethod] [varchar](50) NULL,
	[PaymentReference] [varchar](50) NULL,
	[PaymentComplete] [bit] NULL,
	[LicenceComments] [varchar](5000) NULL,
	[TaxClearanceCert] [bit] NULL,
	[IncompleteApplication] [varchar](5000) NULL,
	[EnforcementComments] [varchar](5000) NULL,
	[ReferenceNumber] [varchar](50) NULL,
	[PendingDate] [datetime] NULL,
	[Areas] [varchar](100) NULL,
	[AssessedBy] [varchar](50) NULL,
	[AssessmentDate] [datetime] NULL,
	[FailedEnforcement] [varchar](5000) NULL,
	[LicencePrinted] [bit] NULL,
	[SentToPrintDate] [datetime] NULL,
	[CertHolderID] [int] NULL,
	[PPSNumber] [varchar](20) NULL,
	[FirstName] [varchar](75) NULL,
	[Surname] [varchar](100) NULL,
	[DateOfBirth] [varchar](15) NULL,
	[SPSV] [varchar](100) NULL,
	[DriverLicenceNumber] [varchar](20) NULL,
	[Address1] [varchar](150) NULL,
	[Address2] [varchar](150) NULL,
	[Address3] [varchar](150) NULL,
	[City] [varchar](150) NULL,
	[County] [varchar](150) NULL,
	[Country] [varchar](150) NULL,
	[KnowledgeCounty] [varchar](150) NULL,
	[ContactNum] [varchar](30) NULL,
	[TestResult] [varchar](30) NULL,
	[TestName] [varchar](150) NULL,
	[TestCode] [varchar](30) NULL,
	[DatePrinted] [varchar](50) NULL,
	[CertNumber] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[PositionOther] [varchar](50) NULL,
	[CoreScore] [varchar](50) NULL,
	[CoreResult] [varchar](50) NULL,
	[AKTScore] [varchar](50) NULL,
	[AKTResult] [varchar](50) NULL,
	[ComplianceID] [int] NULL,
	[ComputerSystem] [bit] NULL,
	[ManualSystem] [bit] NULL,
	[PhoneBooking] [bit] NULL,
	[OnlineBooking] [bit] NULL,
	[EmailBooking] [bit] NULL,
	[FaxBooking] [bit] NULL,
	[SMSTextBooking] [bit] NULL,
	[Tracked] [bit] NULL,
	[DriverLate] [bit] NULL,
	[RecordsSixMonths] [bit] NULL,
	[OutlineDisabilities] [bit] NULL,
	[DriverLicence] [bit] NULL,
	[VehicleLicence] [bit] NULL,
	[InsDetails] [bit] NULL,
	[UpdatingRecords] [bit] NULL,
	[StaffTraining] [bit] NULL,
	[FareStructure] [bit] NULL,
	[CustomerComplaints] [bit] NULL,
	[CustomerCare] [bit] NULL,
	[AssistingSpecialNeeds] [bit] NULL,
	[TrainingOther] [bit] NULL,
	[TrainingOtherSpecified] [varchar](255) NULL,
	[ComplaintsKept] [bit] NULL,
	[ComplaintsProcedure] [bit] NULL,
	[ComplaintsDealtWith] [bit] NULL,
	[OutlineProcedure] [bit] NULL,
	[ActionOvercharged] [bit] NULL,
	[ActionNoPickup] [bit] NULL,
	[ActionDriverRude] [bit] NULL,
	[CertHolderConsent] [bit] NULL,
	[ComputerSystemEnforcement] [bit] NULL,
	[ManualSystemEnforcement] [bit] NULL,
	[PhoneBookingEnforcement] [bit] NULL,
	[OnlineBookingEnforcement] [bit] NULL,
	[EmailBookingEnforcement] [bit] NULL,
	[FaxBookingEnforcement] [bit] NULL,
	[SMSTextBookingEnforcement] [bit] NULL,
	[TrackedEnforcement] [bit] NULL,
	[DriverLateEnforcement] [bit] NULL,
	[RecordsSixMonthsEnforcement] [bit] NULL,
	[OutlineDisabilitiesEnforcement] [bit] NULL,
	[DriverLicenceEnforcement] [bit] NULL,
	[VehicleLicenceEnforcement] [bit] NULL,
	[InsDetailsEnforcement] [bit] NULL,
	[UpdatingRecordsEnforcement] [bit] NULL,
	[FareStructureEnforcement] [bit] NULL,
	[CustomerComplaintsEnforcement] [bit] NULL,
	[CustomerCareEnforcement] [bit] NULL,
	[AssistingSpecialNeedsEnforcement] [bit] NULL,
	[StaffTrainingEnforcement] [bit] NULL,
	[ComplaintsProcedureEnforcement] [bit] NULL,
	[ComplaintsKeptEnforcement] [bit] NULL,
	[ComplaintsDealtWithEnforcement] [bit] NULL,
	[RenewalLetterSent] [bit] NULL,
	[RenewalLetterSentDate] [datetime] NULL,
	[TaxCertPPSNumber] [varchar](50) NULL,
	[TaxCertNumber] [varchar](50) NULL,
	[TaxCertExpiryDate] [datetime] NULL,
 CONSTRAINT [PK_Dispatch_Operator_History] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
