USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Inspectors]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspectors](
	[Inspector_id] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Inspector] [varchar](50) NULL,
	[Region_id] [numeric](18, 0) NULL,
	[Dept_ID] [numeric](18, 0) NULL,
	[Inspector_Admin] [bit] NULL,
	[Alternative_Inspector_ID] [numeric](18, 0) NULL,
	[Active] [numeric](18, 0) NULL,
	[DeptEmail] [varchar](255) NULL,
	[Main_Admin_Assign] [bit] NULL,
 CONSTRAINT [PK_Inspectors] PRIMARY KEY CLUSTERED 
(
	[Inspector_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
