USE [TaxiReg]
GO
/****** Object:  Table [dbo].[General_Report_Selections]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[General_Report_Selections](
	[ReportBy_ID] [decimal](18, 0) NOT NULL,
	[ReportBy_Desc] [varchar](50) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
