  delete FROM [OR_Test].[dbo].[RoleSearchResultFields]
  where SearchResultFieldID = (SELECT [id]
  FROM [OR_Test].[dbo].[SearchResultFields] where SearchResultField = 'DO Contact Name')
  and RoleID = (SELECT [RoleId]
  FROM [OR_Test].[dbo].[aspnet_Roles] where LoweredRoleName = 'regular')