USE [TRDWH]
GO
/****** Object:  Table [dbo].[LICENCES_EXTRACT_ARCHIVE_ALL]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENCES_EXTRACT_ARCHIVE_ALL](
	[Reg_Nbr] [nvarchar](50) NULL,
	[Plate_Nbr] [nvarchar](50) NULL,
	[Licence_Nbr] [nvarchar](50) NULL,
	[Old_Plate_Nbr] [nvarchar](50) NULL,
	[First_Nm] [nvarchar](50) NULL,
	[Last_Nm] [nvarchar](50) NULL,
	[Title_Cd] [nvarchar](50) NULL,
	[Addr_1] [nvarchar](100) NULL,
	[Addr_2] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[Company] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[Authority] [nvarchar](50) NULL,
	[County] [nvarchar](50) NULL,
	[ExpiryDate] [nvarchar](50) NULL,
	[Make] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Colour] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[Pps_Number] [nvarchar](50) NULL,
	[Company_Number] [nvarchar](50) NULL,
	[Refused_Mobile_No ] [nvarchar](50) NULL,
	[VIN] [nvarchar](50) NULL,
	[DateFirstReg] [nvarchar](50) NULL,
	[EngineCC] [nvarchar](50) NULL,
	[LicenceLetter] [nvarchar](50) NULL,
	[NbrPassengers] [nvarchar](50) NULL,
	[IssueDate] [nvarchar](50) NULL,
	[TestCentre] [nvarchar](50) NULL,
	[TaxClearanceNumber] [nvarchar](50) NULL,
	[TaxClearanceExpiryDate] [nvarchar](50) NULL,
	[InsuranceCertNumber] [nvarchar](50) NULL,
	[InsuranceCertExpiryDate] [nvarchar](50) NULL,
	[impDateStamp] [smalldatetime] NULL,
	[impFileName] [nvarchar](50) NULL,
	[impFileDate] [smalldatetime] NULL,
	[impFileYear] [nvarchar](5) NULL,
	[impFileMonth] [nvarchar](5) NULL,
	[impFileDay] [nvarchar](5) NULL,
	[impFileQuarter] [int] NULL,
	[FullStatus] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LICENCES_EXTRACT_ARCHIVE_ALL_ImpFileDate]    Script Date: 14/04/2022 13:42:27 ******/
CREATE CLUSTERED INDEX [IX_LICENCES_EXTRACT_ARCHIVE_ALL_ImpFileDate] ON [dbo].[LICENCES_EXTRACT_ARCHIVE_ALL]
(
	[impFileDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LICENCES_EXTRACT_ARCHIVE_ALL_1_TaxClearanceNbr]    Script Date: 14/04/2022 13:42:27 ******/
CREATE NONCLUSTERED INDEX [IX_LICENCES_EXTRACT_ARCHIVE_ALL_1_TaxClearanceNbr] ON [dbo].[LICENCES_EXTRACT_ARCHIVE_ALL]
(
	[TaxClearanceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LICENCES_EXTRACT_ARCHIVE_ALL_LicenceNbr]    Script Date: 14/04/2022 13:42:27 ******/
CREATE NONCLUSTERED INDEX [IX_LICENCES_EXTRACT_ARCHIVE_ALL_LicenceNbr] ON [dbo].[LICENCES_EXTRACT_ARCHIVE_ALL]
(
	[Licence_Nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LICENCES_EXTRACT_ARCHIVE_ALL_PPSN]    Script Date: 14/04/2022 13:42:27 ******/
CREATE NONCLUSTERED INDEX [IX_LICENCES_EXTRACT_ARCHIVE_ALL_PPSN] ON [dbo].[LICENCES_EXTRACT_ARCHIVE_ALL]
(
	[Pps_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LICENCES_EXTRACT_ARCHIVE_ALL_RegNbr]    Script Date: 14/04/2022 13:42:27 ******/
CREATE NONCLUSTERED INDEX [IX_LICENCES_EXTRACT_ARCHIVE_ALL_RegNbr] ON [dbo].[LICENCES_EXTRACT_ARCHIVE_ALL]
(
	[Reg_Nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
