USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_LicenceHolderMasterHistory]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_LicenceHolderMasterHistory](
	[LicenceHolderURN] [int] NOT NULL,
	[CCSN] [nvarchar](50) NOT NULL,
	[Title_Cd] [nvarchar](50) NULL,
	[First_Nm] [nvarchar](50) NULL,
	[Last_Nm] [nvarchar](50) NULL,
	[Addr_1] [nvarchar](100) NULL,
	[Addr_2] [nvarchar](100) NULL,
	[Addr_3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[PostCode] [nvarchar](12) NULL,
	[County] [nvarchar](20) NULL,
	[Company_Number] [nvarchar](50) NULL,
	[Company] [nvarchar](100) NULL,
	[TradingAs] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[Pps_Number] [nvarchar](50) NULL,
	[TaxClearanceNumber] [nvarchar](50) NULL,
	[TaxClearanceExpiryDate] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
GO
