USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_HistoricMonthlyDriverStats]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_HistoricMonthlyDriverStats](
	[ReportMonth] [datetime] NULL,
	[County] [nvarchar](255) NULL,
	[Count] [float] NULL
) ON [PRIMARY]
GO
