USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyLicensesByCounty]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_MonthlyLicensesByCounty

=============================================
*/
CREATE Procedure [dbo].[USP_DWH_MonthlyLicensesByCounty]
			@ReportingMonthPeriod VarChar(20)
			, @County NVarChar (50)
As

Set NoCount On;
Declare @d varchar(50)
Set @d= '01 ' + Left(DateName(Month, @ReportingMonthPeriod), 3) + ' ' + Right(Year(@ReportingMonthPeriod), 2)

Set @d= Cast(Convert(NVarChar(20), DateAdd(Day, -1, DateAdd(Month, 1, Cast(Year(@d) As VarChar) + '-' + Cast(Month(@d) As VarChar) + '-01')), 111) As DateTime)

SELECT       comment1,comment2, ID,  fname, sname, add1, add2, add3, add4,  padd1, padd2, padd3, padd4, dateatpadd, dob, licNum, oldbadge1, oldbadge2, issueDate, ExpDate, 
                         PrimLicenseArea, SecLicenseArea, RSINum, GardaArea, DateOfEntry, SerialNum, LicenseStatus, stopUntil, cardIssue, stopReason, warnings, whochangedstatus, 
                         reasonforchange,  IssueStatus,  batchName, mobile, phone, year, recordid, repDate, licchanged, Surrend, Deceased, Revoked, photopresent, 
                         driverManReceived
FROM            DWH_TAXI With (NoLock)
Where licNum In (
Select licNum From dbo.DWH_DRIVERS_COUNTY
Where licNum In (
Select licNum From dbo.DWH_Driver_SnapShot
Where SnapShotDateTime = @d
And LicenseStatus = 1
And Revoked = 'NO'
And Surrend = 'NO'
And Deceased = 'NO'
)
And PrimLicenceArea = @County)

Set NoCount Off;
GO
