USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetVehicleAgeBreakdownBiYearlyNEW]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetVehicleAgeBreakdownBiYearly 'ACTIVE', '31/Dec/2008'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetVehicleAgeBreakdownBiYearlyNEW]
				@Status NVarChar(20)
				, @ExtractDate DateTime
				--, @VehicleAge SmallInt
As

Set NoCount On;

create table #PossibleStatus
( licStatus nvarchar(50) )

if @Status = 'ALL'
	insert into #PossibleStatus values ('ACTIVE'),('INACTIVE'),('DEAD')
else 
	insert into #PossibleStatus values (@Status) 


Create Table #Vehicles 
	(
		Reg_Nbr NVarChar (50)
		, Plate_Nbr NVarChar (50)
		, Licence_Nbr NVarChar (50)
		, Old_Plate_Nbr NVarChar (50)
		, First_Nm NVarChar (50)
		, Last_Nm NVarChar (50)
		, Title_Cd NVarChar (50)
		, Addr_1 NVarChar (100)
		, Addr_2 NVarChar (100)
		, Town NVarChar (50)
		, Company NVarChar (250)
		, Status NVarChar (50)
		, Authority NVarChar (50)
		, County NVarChar (50)
		, ExpiryDate NVarChar (50)
		, Make NVarChar (50)
		, Model NVarChar (50)
		, Colour NVarChar (50)
		, PhoneNumber NVarChar (50)
		, MobileNumber NVarChar (50)
		, Pps_Number NVarChar (50)
		, Company_Number NVarChar (50)
		, Refused_Mobile_No NVarChar (50)
		, VIN NVarChar (50)
		, DateFirstReg NVarChar (50)
		, EngineCC NVarChar (50)
		, LicenceLetter NVarChar (50)
		, NbrPassengers NVarChar (50)
		, IssueDate NVarChar (50)
		, TestCentre NVarChar (50)
		, TaxClearanceNumber NVarChar (50)
		, TaxClearanceExpiryDate NVarChar (50)
		, InsuranceCertNumber NVarChar (50)
		, InsuranceCertExpiryDate NVarChar (50)
		, VehicleAge SmallInt
		, SPSVCategory NVarChar (50)
	)


Insert Into #Vehicles 
(
	Reg_Nbr, Plate_Nbr, Licence_Nbr, Old_Plate_Nbr, First_Nm, Last_Nm, Title_Cd
	, Addr_1, Addr_2, Town, Company, Status, Authority, County, ExpiryDate
	, Make, Model, Colour, PhoneNumber, MobileNumber, Pps_Number, Company_Number
	, Refused_Mobile_No, VIN, DateFirstReg, EngineCC, LicenceLetter, NbrPassengers 
	, IssueDate, TestCentre, TaxClearanceNumber, TaxClearanceExpiryDate
	, InsuranceCertNumber, InsuranceCertExpiryDate, VehicleAge, SPSVCategory
)
/*
Select 
	VM.Reg_Nbr, LM.Plate_Nbr, LM.Licence_Nbr, '' As Old_Plate_Nbr, LHM.First_Nm, LHM.Last_Nm, LHM.Title_Cd, LHM.Addr_1, LHM.Addr_2
	, LHM.Town, LHM.Company, LM.LicenceState, '' As Authority, LHM.County, LM.ExpiryDate, VM.Make, VM.Model, VM.Colour, LHM.PhoneNumber
	, LHM.MobileNumber, LHM.Pps_Number, LHM.Company_Number, '' As Refused_Mobile_No, VM.VIN, VM.DateFirstReg, VM.EngineCC
	, LM.SPSVCategoryId As LicenceLetter, VM.NbrPassengers, LM.IssueDate, '' As TestCentre, LHM.TaxClearanceNumber
	, LHM.TaxClearanceExpiryDate, '' As InsuranceCertNumber, '' As InsuranceCertExpiryDate
	, Case IsNumeric(Left(VM.Reg_Nbr, 2))
		When 1 Then 
			Case 
				When IsNumeric(Left(VM.Reg_Nbr, 3)) = 1 Then 30
				When Cast(Left(VM.Reg_Nbr, 2) As SmallInt) > 20 Then Year(@ExtractDate) - (1900 + Cast(Left(VM.Reg_Nbr, 2) As SmallInt))
				Else (Right(Year(@ExtractDate), 2) - Cast(Left(VM.Reg_Nbr, 2) As SmallInt))
			End
		Else 30
	  End
	, IsNull(dbo.DWH_SPSVCategory.CategoryDescription, 'Not Categorised')
From 
	dbo.DWH_LicenceHolderMaster As LHM With (NoLock) Inner Join dbo.DWH_LicenceMaster As LM With (NoLock) On LHM.CCSN = LM.CCSN Inner Join dbo.DWH_VehicleMaster As VM With (NoLock) On LM.Reg_Nbr = VM.Reg_Nbr Left Outer Join dbo.DWH_SPSVCategory With (NoLock) 
	On LM.SPSVCategoryId = dbo.DWH_SPSVCategory.CategoryId
Where 
	LM.LicenceState = @Status
	And LM.Plate_Nbr Not In ('54322', '54323', '54321', '54321', '35210', '40241', '38386', '41505')
*/
Select 
	E.Reg_Nbr, E.Plate_Nbr, E.Licence_Nbr, E.Old_Plate_Nbr, E.First_Nm, E.Last_Nm, E.Title_Cd, E.Addr_1, E.Addr_2
	, E.Town, E.Company, Status, Authority, E.County, E.ExpiryDate, E.Make, E.Model, E.Colour, PhoneNumber
	, MobileNumber, Pps_Number, Company_Number, E.Refused_Mobile_No, E.VIN, E.DateFirstReg, E.EngineCC
	, LicenceLetter, E.NbrPassengers, IssueDate, TestCentre, TaxClearanceNumber
	, TaxClearanceExpiryDate, InsuranceCertNumber, InsuranceCertExpiryDate
	,DATEDIFF(yy, isnull(dbo.DWH_VehicleMaster.DateFirstReg,dbo.DWH_VehicleMaster.DateOfRegistrationInIreland), @ExtractDate) - CASE WHEN (MONTH(isnull(dbo.DWH_VehicleMaster.DateFirstReg,dbo.DWH_VehicleMaster.DateOfRegistrationInIreland)) > MONTH(@ExtractDate)) OR (MONTH(isnull(dbo.DWH_VehicleMaster.DateFirstReg,dbo.DWH_VehicleMaster.DateOfRegistrationInIreland)) = MONTH(@ExtractDate) AND DAY(isnull(dbo.DWH_VehicleMaster.DateFirstReg,dbo.DWH_VehicleMaster.DateOfRegistrationInIreland)) > DAY(@ExtractDate)) THEN 1 ELSE 0 END

--	, Case IsNumeric(Left(Reg_Nbr, 2))
--		When 1 Then 
--			Case 
--				When IsNumeric(Left(Reg_Nbr, 3)) = 1 Then 30
--				When Cast(Left(Reg_Nbr, 2) As SmallInt) > 20 Then Year(@ExtractDate) - (1900 + Cast(Left(Reg_Nbr, 2) As SmallInt))
--				Else (Right(Year(@ExtractDate), 2) - Cast(Left(Reg_Nbr, 2) As SmallInt))
--			End
--		Else 30
--	  End
	, IsNull(dbo.DWH_SPSVCategory.CategoryDescription, 'Not Categorised')
From 
	dbo.LICENCES_EXTRACT_ARCHIVE_ALL E With (NoLock) Left Outer Join dbo.DWH_SPSVCategory With (NoLock) 
			On Left(E.Licence_Nbr, 1) = dbo.DWH_SPSVCategory.CategoryId
	left outer join dbo.DWH_VehicleMaster With (NoLock) 
			On E.Reg_Nbr = dbo.DWH_VehicleMaster.Reg_Nbr
Where 
	impFileDate = @ExtractDate--(Select Max(impFileDate) From dbo.LICENCES_EXTRACT_ARCHIVE_ALL)
	And Status in(select * from #PossibleStatus)
	And Plate_Nbr Not In ('54322', '54323', '54321', '54321', '35210', '40241', '38386', '41505')

Set NoCount Off;

Select 0 As RankOrder, '< 1 year of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge < 1 Group By SPSVCategory
Union All
Select 1 As RankOrder, '1 to < 2 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 1 And VehicleAge < 2 Group By SPSVCategory
Union All
Select 2 As RankOrder, '2 to < 3 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 2 And VehicleAge < 3 Group By SPSVCategory
Union All
Select 3 As RankOrder, '3 to < 4 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 3 And VehicleAge < 4 Group By SPSVCategory
Union All
Select 4 As RankOrder, '4 to < 5 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 4 And VehicleAge < 5 Group By SPSVCategory
Union All
Select 5 As RankOrder, '5 to < 6 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 5 And VehicleAge < 6 Group By SPSVCategory
Union All
Select 6 As RankOrder, '6 to < 7 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 6 And VehicleAge < 7 Group By SPSVCategory
Union All
Select 7 As RankOrder, '7 to < 8 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 7 And VehicleAge < 8 Group By SPSVCategory
Union All
Select 8 As RankOrder, '8 to < 9 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 8 And VehicleAge < 9 Group By SPSVCategory
Union All
Select 9 As RankOrder, '9 to < 10 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 9 And VehicleAge < 10 Group By SPSVCategory
Union All
Select 10 As RankOrder, '10 to < 15 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 10 And VehicleAge < 15 Group By SPSVCategory
Union All
Select 11 As RankOrder, '15+ years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 15 Group By SPSVCategory

Set NoCount On;
	Drop Table if exists #Vehicles
	drop table if exists #PossibleStatus 
Set NoCount Off;

GO
