USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[usp_OnReceiveEmailMessageRequest]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec usp_OnReceiveEmailMessageRequest 'G8572'

=============================================
*/
Create Procedure [dbo].[usp_OnReceiveEmailMessageRequest]
			--@EmailAddress NVarChar (50)
			--, @EmailBody NVarChar (50)
As

Set NoCount On;

	Insert Into DWH_EmailRequests Values ('test', 'test')
	
	/*Exec msdb.dbo.sp_send_dbmail @recipients = 'egoggins@taxiregulator.ie; rhamilton-contract@taxiregulator.ie',
		@Subject = 'New Unpaid Fines',
		@Body = @EmailBody,
		@Profile_Name = 'Alerts',
		@Body_Format = 'HTML';
*/
Set NoCount Off;
GO
