USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_UpdateVehicleTestResult]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_UpdateVehicleTestResult 'LRA', 'T31329', 'PASS'

=============================================
*/
Create Procedure [dbo].[USP_DWH_UpdateVehicleTestResult]
		@InspectionType NVarChar (10)
		, @VehicleRegistrationNumber NVarChar (50)
		, @InspectionResultCode NVarChar (10)

As

Set NoCount On;

Update dbo.DWH_VehicleInspection Set 
	ActualInspectionDate = GetDate()
	, InspectionResultCode = @InspectionResultCode
	, InspectionCarriedOut = 1
Where 
	InspectionCarriedOut = 0 And InspectionType = @InspectionType And VehicleRegistrationNumber = @VehicleRegistrationNumber
GO
