USE [TRDWH]
GO
/****** Object:  Table [dbo].[DriverCounty]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverCounty](
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[CountyID] [int] NULL,
	[PrimaryCounty] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
