USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetLicenseeHistoryDetails]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible USP_DWH_GetLicenseeHistoryDetails
-- Exec USP_DWH_GetLicenseeHistoryDetails 'L5013', '', '', '2836264P', '', ''
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GetLicenseeHistoryDetails]
				@LicenceNumber NVarChar (50)
				, @CCSN NVarChar (50)
				, @County NVarChar (50)
				, @PPSN NVarChar (50)
				, @Firstname NVarChar (50)
				, @Surname NVarChar (50)
As

Set NoCount On;

Begin

	If IsNull(@CCSN, '') = ''
		Set @CCSN = '%'

	If IsNull(@LicenceNumber, '') = ''
		Set @LicenceNumber = '%'

	If IsNull(@County, '') = ''
		Set @County = '%'

	If IsNull(@PPSN, '') = ''
		Set @PPSN = '%'

	If IsNull(@Firstname, '') = ''
		Set @Firstname = '%'

	If IsNull(@Surname, '') = ''
		Set @Surname = '%'

	Select 
		CCSN, licNum As LicenceNumber, RSINum As PPSN, fname + ' ' + sname As DriverName, 
		add1 As Address1, add2 As Address2, add3 As Address3, add4 As Address4, 
		Case LicenseStatus When 1 Then 'Active' Else 'Inactive' End AS LicenceStatus, 
		dob As DateOfBirth, issueDate As IssueDate, ExpDate As ExpiryDate,  
		PrimLicenseArea As PrimaryArea, SecLicenseArea As OtherArea, 
		GardaArea, mobile As MobileNumber, phone As PhoneNumber
	From 
		dbo.DWH_DriverMasterHistory With (NoLock)
	Where 
		IsNull(LicNum, '') Like @LicenceNumber And IsNull(CCSN, '') Like @CCSN And IsNull(PrimLicenseArea, '') Like @County And IsNull(RSINum, '') Like @PPSN And IsNull(fname, '') Like @Firstname And IsNull(sname, '') Like @Surname
END

Set NoCount Off;
GO
