USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[iCabs_EntityAuditHistory_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=============================================
-- Author:		Dan Rusu
-- Create date: 18-Apr-2011
-- Description:	
=============================================
*/
CREATE PROCEDURE [dbo].[iCabs_EntityAuditHistory_Select]
				 @IdNumber VarChar (50)
				, @EntityId TinyInt
As

Begin

if (substring(@IdNumber,1,2) <> 'dh')
begin
	set @IdNumber = replace(replace(replace(replace(@IdNumber,'L',''),'T',''),'W',''),'H','')
end
Select Top 6 
	E.EntityDescription, ECH.CheckId, ECH.CheckPassedYn, Left(Convert(VarChar, ECH.CreatedDate, 113), 17) As CreatedDate, 
ICU.EnforcementOfficerName As [User], AssociatedRefNumber, DriverLicenceNumber 
From 
	dbo.DWH_EntityCheckHistory As ECH Inner Join dbo.DWH_Entity As E 	
	On ECH.EntityId = E.EntityId Inner Join dbo.DWH_iCABSUsers AS ICU 
	On ECH.UserId = ICU.UserId 
Where 
	ECH.EntityId = @EntityId And ECH.EntityIdNumber = @IdNumber and ECH.CheckId in
(select distinct checkID from dbo.DWH_EntityCheckHistoryItem)
Order By 
	ECH.CreatedDate Desc

End
GO
