USE [TRDWH]
GO
/****** Object:  View [dbo].[VW_Taxi]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_Taxi]
AS
SELECT     dbo.DWH_TAXI.fname + N' ' + dbo.DWH_TAXI.sname AS [Driver Name], dbo.DWH_TAXI.add1 AS Address, dbo.DWH_TAXI.add2 AS [Address 2], 
                      dbo.DWH_TAXI.add3 AS [Address 3], dbo.DWH_TAXI.add4 AS [Address 4], 
                      CASE dbo.DWH_TAXI.LicenseStatus WHEN 1 THEN 'Active' ELSE 'Inactive' END AS Status, dbo.DWH_TAXI.dob AS [Date Of Birth], 
                      dbo.DWH_TAXI.licNum, dbo.DWH_TAXI.issueDate AS [Issue Date], dbo.DWH_TAXI.ExpDate AS [Expiry Date], 
                      dbo.DWH_TAXI.PrimLicenseArea AS [Primary Area], dbo.DWH_TAXI.SecLicenseArea AS [Other Area], dbo.DWH_TAXI.GardaArea AS [Garda Area], 
                      dbo.DWH_TAXI.mobile AS [Mobile No], dbo.DWH_TAXI.phone AS [Phone No], dbo.photoTable.photoData
FROM         dbo.DWH_TAXI INNER JOIN
                      dbo.photoTable ON dbo.DWH_TAXI.licNum = dbo.photoTable.licnum
WHERE     (dbo.DWH_TAXI.LicenseStatus = '1')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[4] 2[50] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DWH_TAXI"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 210
            End
            DisplayFlags = 280
            TopColumn = 14
         End
         Begin Table = "photoTable"
            Begin Extent = 
               Top = 6
               Left = 248
               Bottom = 84
               Right = 399
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_Taxi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_Taxi'
GO
