USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_VEH_EOM]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_VEH_EOM](
	[impRecordsEOMDate] [smalldatetime] NULL,
	[impRecordsYear] [nvarchar](5) NULL,
	[impRecordsMonth] [nvarchar](5) NULL,
	[impRecordsQuarter] [nvarchar](5) NULL,
	[impRecordsTotal] [int] NULL,
	[impRecordsActive] [int] NULL,
	[impRecordsComplete] [int] NULL,
	[impRecordsOffer] [int] NULL,
	[impRecordsDeferred] [int] NULL,
	[impRecordsExpired] [int] NULL,
	[impRecordsRestored] [int] NULL,
	[impRecordsRevoked] [int] NULL,
	[impRecordsSurrendered] [int] NULL,
	[impRecordsTransferCOV] [int] NULL,
	[impRecordsTransferVEH] [int] NULL,
	[impRecordsTransferLIC] [int] NULL
) ON [PRIMARY]
GO
