USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[iCabs_GetDriverEnforcementInfo]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dan Rusu
-- Create date: 18-Apr-2011
-- Description:	Returns all possible USP_DWH_GetDriverEnforcementInfo
-- Exec iCabs_GetDriverEnforcementInfo 'L5013'
-- =============================================
CREATE PROCEDURE [dbo].[iCabs_GetDriverEnforcementInfo]
				@LicenceNumber VarChar (50)
As

Set NoCount On;

	Select top(20)
		fname As FirstName, sname As LastName, 
		Case LicenseStatus When 1 Then 'Active' Else 'Inactive' End As LicenceStatus, 
		DOB	As DateOfBirth, DM.licNum As LicenceNumber, 
		ExpDate As ExpiryDate, PrimLicenseArea As PrimaryArea, SecLicenseArea As OtherArea,
		mobile As PhoneNumber, photoData, 
isnull(add1,'')+ isnull(' '+add2,'')+	isnull(' ' + add3,'')+ isnull(' '+add4,'')
 as [Address], 
(select top(1) l.Plate_Nbr from dbo.DWH_LicenceMaster l 
inner join dbo.DWH_LicenceHolderMaster lh on lh.CCSN = l.CCSN
where lh.Pps_Number = RSINum
)
 as [VehicleLicenceNumber]
	From 
		dbo.DWH_DriverMaster As DM Inner Join dbo.photoTable With (NoLock) On DM.LicNum = dbo.photoTable.licnum
	Where 
		DM.LicNum Like  @LicenceNumber + '%'

Set NoCount Off;
GO
