USE [TRDWH]
GO
/****** Object:  Table [dbo].[CHANGE_REASONS]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGE_REASONS](
	[REASON_ID] [int] NOT NULL,
	[REASON] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHANGE_REASONS] PRIMARY KEY CLUSTERED 
(
	[REASON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
