USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[usp_DWH_EntityAuditHistoryItems_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=============================================
-- Author:		Conor McNally
-- Create date: 17-Dec-2009
-- Description:	

Exec usp_DWH_EntityAuditHistoryItems_Select 1

=============================================
*/
CREATE PROCEDURE [dbo].[usp_DWH_EntityAuditHistoryItems_Select]
				 @CheckId Int
As

Begin

Select 
	dbo.DWH_EntityCheckList.CheckListItemDescription, dbo.DWH_iCabsUsers.EnforcementOfficerName, dbo.DWH_EntityCheckHistoryItem.CheckPassedYn, Left(Convert(VarChar, dbo.DWH_EntityCheckHistory.CreatedDate, 113), 17) As CheckDate
From 
	dbo.DWH_EntityCheckHistoryItem Inner Join dbo.DWH_EntityCheckList 
	On dbo.DWH_EntityCheckHistoryItem.ChecklistItemId = dbo.DWH_EntityCheckList.CheckListItemId Inner Join dbo.DWH_EntityCheckHistory 
	ON dbo.DWH_EntityCheckHistoryItem.CheckId = dbo.DWH_EntityCheckHistory.CheckId Inner Join dbo.DWH_iCabsUsers 
	On dbo.DWH_EntityCheckHistory.UserId = dbo.DWH_iCabsUsers.UserId
Where 
	dbo.DWH_EntityCheckHistory.CheckId = @CheckId

End
GO
