USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetLicensesExtractArchiveAll]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible USP_DWH_GetLicensesExtractArchiveAll
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GetLicensesExtractArchiveAll]
				@Status NVarChar(1000)
				, @Date DateTime
AS

SET NOCOUNT ON;

BEGIN
	Select 
		* 
	From 
		dbo.LICENCES_EXTRACT_ARCHIVE_ALL With (NoLock) 
	WHERE 
		Status In (Select Parameter From Fn_DWH_ParseMultiValueParameter(@Status)) And impFileDate = @Date
	Order By 
		Licence_Nbr
END

Set NoCount Off;
GO
