USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_VEHICLE_DRIVER_REPORT]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AuMax Cottica>
-- Create date: <12/06/2009>
-- Description:	<Generates single report table for how many drivers own as many licenses>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_VEHICLE_DRIVER_REPORT]
AS
BEGIN
	
DELETE dbo.DWH_OWNERS_COMPANIES

INSERT dbo.DWH_OWNERS_COMPANIES
SELECT
COUNT(*) AS Count_Licenses,
LEFT(Company, 5) + ' ' + LEFT(Addr_1, 5) + ' ' + LEFT(County, 5)
FROM dbo.LICENCES_EXTRACT_ARCHIVE
WHERE impFileDate = (SELECT MAX(impFileDate) FROM dbo.LICENCES_EXTRACT_ARCHIVE)
AND Company <> ''
AND Status = 'ACTIVE'
GROUP BY LEFT(Company, 5) + ' ' + LEFT(Addr_1, 5) + ' ' + LEFT(County, 5)
ORDER BY COUNT(*) DESC

DELETE dbo.DWH_OWNERS_PRIVATE

INSERT dbo.DWH_OWNERS_PRIVATE
SELECT
COUNT(*) AS Count_Licenses,
LEFT(First_nm, 5) + ' ' + LEFT(Last_nm, 5) + ' ' + LEFT(Addr_1, 5) + ' ' + LEFT(County, 5)
FROM dbo.LICENCES_EXTRACT_ARCHIVE
WHERE impFileDate = (SELECT MAX(impFileDate) FROM dbo.LICENCES_EXTRACT_ARCHIVE)
AND Company = ''
AND Status LIKE '%ACTIVE%'
GROUP BY LEFT(First_nm, 5) + ' ' + LEFT(Last_nm, 5) + ' ' + LEFT(Addr_1, 5) + ' ' + LEFT(County, 5)
ORDER BY COUNT(*) DESC

DELETE dbo.DWH_OWNERS_REPORT

INSERT dbo.DWH_OWNERS_REPORT
SELECT 
Count_Licenses AS [Number of Vehicles],
COUNT(*) AS [License Holders]
FROM dbo.DWH_OWNERS_PRIVATE
GROUP BY Count_Licenses
UNION
SELECT 
Count_Licenses AS [Number of Vehicles],
COUNT(*) AS [License Holders]
FROM dbo.DWH_OWNERS_COMPANIES
GROUP BY Count_Licenses

EXEC SP_DWH_CREATE_VEHICLE_DAILY

EXEC SP_DWH_CREATE_VEHICLE_MONTHLY

EXEC SP_DWH_CREATE_VEHICLE_COUNTY

EXEC SP_DWH_CREATE_VEHICLE_COUNTY_MONTHLY

END
GO
