USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_BUILD_ISSUE]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Max Cottica>
-- Create date: <24/04/2009>
-- Description:	<BUILD ISSUE DATES>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_BUILD_ISSUE] 

AS
BEGIN

SET NOCOUNT ON;

DELETE dbo.DWH_ISSUE_DATES
INSERT dbo.DWH_ISSUE_DATES
SELECT licNum, LEFT(IssueDate, 2) AS IssueDay, 
SUBSTRING(IssueDate, 4, 2) AS IssueMonth, RIGHT(IssueDate, 4) AS IssueYear, ExpDate, NULL, IssueDate, NULL, Licensestatus, null as DateStamp
FROM dbo.DWH_TAXI

UPDATE dbo.DWH_ISSUE_DATES
SET IssueDay = NULL
WHERE IssueDay LIKE '%/%'

UPDATE dbo.DWH_ISSUE_DATES
SET IssueDay = NULL
WHERE IssueDay NOT IN (01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31)

UPDATE dbo.DWH_ISSUE_DATES
SET IssueMonth = NULL
WHERE IssueMonth LIKE '%/%'

UPDATE dbo.DWH_ISSUE_DATES
SET IssueMonth = NULL
WHERE IssueMonth NOT IN (01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12)

UPDATE dbo.DWH_ISSUE_DATES
SET IssueYear = NULL
WHERE IssueYear LIKE '%/%'

UPDATE dbo.DWH_ISSUE_DATES
SET IssueYear = NULL
WHERE IssueYear NOT IN (1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020)

UPDATE dbo.DWH_ISSUE_DATES
SET IssueDay = '28'
WHERE (IssueDay = '29' OR IssueDay = '30' OR IssueDay = '31') AND IssueMonth = '02' 
AND (IssueYear = '1997' OR IssueYear = '1998' OR IssueYear = '1999'
OR IssueYear = '2001' OR IssueYear = '2002' OR IssueYear = '2003' OR IssueYear = '2005' OR IssueYear = '2006' OR IssueYear = '2007'
OR IssueYear = '2009' OR IssueYear = '2010' OR IssueYear = '2011' OR IssueYear = '2013'
OR IssueYear = '2014' OR IssueYear = '2015' OR IssueYear = '2017' OR IssueYear = '2018'
OR IssueYear = '2019')

UPDATE dbo.DWH_ISSUE_DATES
SET IssueDay = '29'
WHERE (IssueDay = '30' OR IssueDay = '31') AND IssueMonth = '02' 
AND (IssueYear = '2000' OR IssueYear = '2004' OR IssueYear = '2008' OR IssueYear = '2012' OR IssueYear = '2016' OR IssueYear = '2020')

UPDATE dbo.DWH_ISSUE_DATES
SET IssueDay = '30'
WHERE IssueDay = '31' AND IssueMonth = '04'

UPDATE dbo.DWH_ISSUE_DATES
SET IssueDay = '30'
WHERE IssueDay = '31' AND IssueMonth = '06'

UPDATE dbo.DWH_ISSUE_DATES
SET IssueDay = '30'
WHERE IssueDay = '31' AND IssueMonth = '09'

UPDATE dbo.DWH_ISSUE_DATES
SET IssueDay = '30'
WHERE IssueDay = '31' AND IssueMonth = '11'

UPDATE dbo.DWH_ISSUE_DATES
SET [Quarter] = 1
WHERE IssueMonth <= '03'

UPDATE dbo.DWH_ISSUE_DATES
SET [Quarter] = 2
WHERE (IssueMonth > '03' AND IssueMonth <= '06')

UPDATE dbo.DWH_ISSUE_DATES
SET [Quarter] = 3
WHERE (IssueMonth > '06' AND IssueMonth <= '09')

UPDATE dbo.DWH_ISSUE_DATES
SET [Quarter] = 4
WHERE (IssueMonth > '09' AND IssueMonth <= '12')

SET DATEFORMAT DMY
UPDATE dbo.DWH_ISSUE_DATES
SET DateStamp = (
CASE
WHEN IssueDay IS NOT NULL 
OR IssueMonth IS NOT NULL
OR IssueYear IS NOT NULL
THEN CAST((IssueDay + '/' + IssueMonth + '/' + IssueYear) as smalldatetime)
ELSE NULL
END)

DELETE dbo.DWH_LICENCE_STATUS

INSERT dbo.DWH_LICENCE_STATUS
SELECT licNum, Revoked, Deceased, Surrend, LicenseStatus, null AS Expired
FROM dbo.DWH_TAXI
ORDER BY licNum

DELETE dbo.DWH_ISSUE_DATES_REPORT
INSERT dbo.DWH_ISSUE_DATES_REPORT
SELECT COUNT(*) AS Total,
IssueMonth, IssueYear, [Quarter]
FROM dbo.DWH_ISSUE_DATES
WHERE IssueYear IS NOT NULL
AND IssueMonth IS NOT NULL
AND CAST(IssueYear AS int) <= DATEPART(yyyy, getDate())
GROUP BY IssueMonth, IssueYear, [Quarter]
ORDER BY IssueYear, IssueMonth
END
GO
