USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[GETAUDITITEMSFORAUDIT]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GETAUDITITEMSFORAUDIT](@CHECKID INT)
RETURNS NVARCHAR(4000) AS
BEGIN
  DECLARE @CHECKITEMS NVARCHAR(4000)
  
  SELECT @CHECKITEMS = CONCAT('<P><STRONG>',POD.ENFORCEMENTOFFICERNAME, ' (',  CONVERT(VARCHAR(11), POD.CREATEDDATE, 106), '):&NBSP;</STRONG></P>')
  FROM 
  (
   SELECT 
	ECH.CHECKID, 
	ECH.ENTITYIDNUMBER, 
	ECH.CREATEDDATE, 
	ECH.ASSOCIATEDREFNUMBER, 
	ECH.DRIVERLICENCENUMBER,
	IU.ENFORCEMENTOFFICERNAME, 
	ECHI.CHECKPASSEDYN,
	LONGITUDE, 
	LATITUDE, 
	ECL.CHECKLISTITEMID, 
	CHECKLISTITEMDESCRIPTION, 
	ENTITYDESCRIPTION
FROM 
	DBO.DWH_ENTITYCHECKHISTORY AS ECH 
	INNER JOIN DBO.DWH_ENTITYCHECKHISTORYITEM AS ECHI ON ECH.CHECKID = ECHI.CHECKID 
	INNER JOIN DBO.DWH_ENTITYCHECKLIST AS ECL ON ECHI.CHECKLISTITEMID = ECL.CHECKLISTITEMID 
	INNER JOIN DBO.DWH_ICABSUSERS AS IU ON ECH.USERID = IU.USERID 
	INNER JOIN DBO.DWH_ENTITY AS E ON ECH.ENTITYID = E.ENTITYID
WHERE   ECH.CHECKID = @CHECKID
GROUP BY 	ECH.CHECKID, 
			ECH.ENTITYIDNUMBER, 
			ECH.CREATEDDATE, 
			ECH.ASSOCIATEDREFNUMBER, 
			ECH.DRIVERLICENCENUMBER,
			IU.ENFORCEMENTOFFICERNAME, 
			ECHI.CHECKPASSEDYN,
			LONGITUDE, 
			LATITUDE, 
			ECL.CHECKLISTITEMID, 
			CHECKLISTITEMDESCRIPTION, 
			ENTITYDESCRIPTION
  ) AS POD
  ORDER BY 
	CREATEDDATE

  SET @CHECKITEMS = @CHECKITEMS + '<TABLE BORDER="1" CELLPADDING="1" CELLSPACING="1" STYLE="WIDTH: 500PX;">
								   <TR>
								       <TH>AUDITITEM</TH>
								        <TH>PASSED</TH>
									</TR>'

  SELECT @CHECKITEMS =  COALESCE(@CHECKITEMS, '') + CONCAT('<TR>', '<TD>' + CHECKLISTITEMDESCRIPTION +  '</TD>', ' ', '<TD>' + (SELECT CASE WHEN CHECKPASSEDYN = 0 THEN 'NO' ELSE 'YES' END AS PASSED) + '</TD>', '</TR>')
  FROM 
  (
   SELECT 
	ECH.CHECKID, 
	ECH.ENTITYIDNUMBER, 
	ECH.CREATEDDATE, 
	ECH.ASSOCIATEDREFNUMBER, 
	ECH.DRIVERLICENCENUMBER,
	IU.ENFORCEMENTOFFICERNAME, 
	ECHI.CHECKPASSEDYN,
	LONGITUDE, 
	LATITUDE, 
	ECL.CHECKLISTITEMID, 
	CHECKLISTITEMDESCRIPTION, 
	ENTITYDESCRIPTION
FROM 
	DBO.DWH_ENTITYCHECKHISTORY AS ECH 
	INNER JOIN DBO.DWH_ENTITYCHECKHISTORYITEM AS ECHI ON ECH.CHECKID = ECHI.CHECKID 
	INNER JOIN DBO.DWH_ENTITYCHECKLIST AS ECL ON ECHI.CHECKLISTITEMID = ECL.CHECKLISTITEMID 
	INNER JOIN DBO.DWH_ICABSUSERS AS IU ON ECH.USERID = IU.USERID 
	INNER JOIN DBO.DWH_ENTITY AS E ON ECH.ENTITYID = E.ENTITYID
WHERE   ECH.CHECKID = @CHECKID
GROUP BY 	ECH.CHECKID, 
			ECH.ENTITYIDNUMBER, 
			ECH.CREATEDDATE, 
			ECH.ASSOCIATEDREFNUMBER, 
			ECH.DRIVERLICENCENUMBER,
			IU.ENFORCEMENTOFFICERNAME, 
			ECHI.CHECKPASSEDYN,
			LONGITUDE, 
			LATITUDE, 
			ECL.CHECKLISTITEMID, 
			CHECKLISTITEMDESCRIPTION, 
			ENTITYDESCRIPTION
  ) AS POD
  ORDER BY 
	CREATEDDATE

	SET @CHECKITEMS = @CHECKITEMS + '</TABLE>'
RETURN @CHECKITEMS
END
GO
