USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_APR2009]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Max Cottica>
-- Create date: <C06/05/2009>
-- Description:	<Build LIST_COUNTY_MONTHLY for April 2009>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_APR2009]
AS
BEGIN

	SET NOCOUNT ON;

SET DATEFORMAT DMY 

UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
SET Area1 = 0, Area2 = 0

DECLARE @COUNTY nvarchar(20)
DECLARE GETAREA CURSOR
FOR
SELECT COUNTY FROM dbo.DWH_LIST_COUNTY_MONTHLY
ORDER BY COUNTY
OPEN GETAREA
FETCH NEXT
FROM GETAREA INTO @COUNTY
WHILE @@FETCH_STATUS = 0
BEGIN

UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
SET Area1 = (
SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
WHERE licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009
WHERE LicenseStatus = 1
AND Revoked = 'NO'
AND Surrend = 'NO'
AND Deceased = 'NO'
AND licNum NOT IN (
SELECT licNum FROM dbo.DWH_EXPIRE_DATES
WHERE DateStamp <= '30/04/2009'
AND licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009)
))
AND PrimLicenceArea = @County)
WHERE County = @County

IF @COUNTY = 'Meath'
BEGIN
UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
SET Area2 = (
SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
WHERE (SecLicenseArea LIKE '%' + @COUNTY + '%' AND SecLicenseArea NOT LIKE '%westmeath%')
AND licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009
WHERE LicenseStatus = 1
AND Revoked = 'NO'
AND Surrend = 'NO'
AND Deceased = 'NO'
AND licNum NOT IN (
SELECT licNum FROM dbo.DWH_EXPIRE_DATES
WHERE DateStamp <= '30/04/2009'
AND licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009)
)))
WHERE County = @County
END
IF @COUNTY = 'N/A'
BEGIN
UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
SET Area2 = (
SELECT SUM((LEN(CAST(SecLicenseArea AS nvarchar(250))) - LEN(REPLACE(CAST(SecLicenseArea AS nvarchar(250)), ' ', '')) + 1)) FROM dbo.DWH_DRIVERS_COUNTY
WHERE licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009
WHERE LicenseStatus = 1
AND Revoked = 'NO'
AND Surrend = 'NO'
AND Deceased = 'NO'
AND licNum NOT IN (
SELECT licNum FROM dbo.DWH_EXPIRE_DATES
WHERE DateStamp <= '30/04/2009'
AND licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009)
)) AND PrimLicenceArea = 'N/A' AND (CAST(seclicensearea AS nvarchar(250)) <> '' OR CAST(seclicensearea AS nvarchar(250)) <> ' '))
WHERE County = @County
END
ELSE
BEGIN
UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
SET Area2 = (
SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
WHERE SecLicenseArea LIKE '%' + @COUNTY + '%'
AND licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009
WHERE LicenseStatus = 1
AND Revoked = 'NO'
AND Surrend = 'NO'
AND Deceased = 'NO'
AND licNum NOT IN (
SELECT licNum FROM dbo.DWH_EXPIRE_DATES
WHERE DateStamp <= '30/04/2009'
AND licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009)
)))
WHERE County = @County
END

FETCH NEXT
FROM GETAREA INTO @COUNTY
END
CLOSE GETAREA
DEALLOCATE GETAREA
END
GO
