USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_LicenceMaster]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_LicenceMaster](
	[Licence_Nbr] [nvarchar](50) NOT NULL,
	[Plate_Nbr] [int] NOT NULL,
	[Reg_Nbr] [nvarchar](15) NULL,
	[CCSN] [nvarchar](50) NULL,
	[IssueDate] [smalldatetime] NULL,
	[ExpiryDate] [smalldatetime] NULL,
	[SPSVCategoryId] [nvarchar](5) NULL,
	[LicenceState] [nvarchar](10) NOT NULL,
	[LicenceSubState] [nvarchar](20) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[REMAINING_TRANSFERS] [int] NULL,
	[transfer_date] [datetime] NULL,
	[LicenceHolderURN] [int] NULL,
	[Pps_Number] [nvarchar](50) NULL,
	[SuspensionEndDate] [datetime] NULL,
 CONSTRAINT [PK_DWH_LicenceMaster_Plate_Nbr] PRIMARY KEY CLUSTERED 
(
	[Plate_Nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DWH_LicenceMaster_CCSN]    Script Date: 14/04/2022 13:42:27 ******/
CREATE NONCLUSTERED INDEX [IX_DWH_LicenceMaster_CCSN] ON [dbo].[DWH_LicenceMaster]
(
	[CCSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DWH_LicenceMaster_LicenceNumber]    Script Date: 14/04/2022 13:42:27 ******/
CREATE NONCLUSTERED INDEX [IX_DWH_LicenceMaster_LicenceNumber] ON [dbo].[DWH_LicenceMaster]
(
	[Licence_Nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DWH_LicenceMaster_Reg_Nbr]    Script Date: 14/04/2022 13:42:27 ******/
CREATE NONCLUSTERED INDEX [IX_DWH_LicenceMaster_Reg_Nbr] ON [dbo].[DWH_LicenceMaster]
(
	[Reg_Nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DWH_LicenceMaster] ADD  CONSTRAINT [DF_DWH_LicenceMaster_IssueDate]  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[DWH_LicenceMaster] ADD  CONSTRAINT [DF_DWH_LicenceMaster_LicenceState]  DEFAULT (N'INACTIVE') FOR [LicenceState]
GO
ALTER TABLE [dbo].[DWH_LicenceMaster] ADD  CONSTRAINT [DF_DWH_LicenceMaster_LicenceSubState]  DEFAULT (N'CONDITIONAL OFFER') FOR [LicenceSubState]
GO
ALTER TABLE [dbo].[DWH_LicenceMaster] ADD  CONSTRAINT [DF_DWH_LicenceMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[DWH_LicenceMaster] ADD  CONSTRAINT [DF_DWH_LicenceMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DWH_LicenceMaster] ADD  CONSTRAINT [DF_DWH_LicenceMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[DWH_LicenceMaster] ADD  CONSTRAINT [DF_DWH_LicenceMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
