USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_TransactionSummary_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_TransactionSummary_Select '2010/mar/01', '2010/mar/31 23:59'

=============================================
*/
CREATE Procedure [dbo].[USP_DWH_TransactionSummary_Select]
				@StartDate DateTime
				, @EndDate DateTime
As

With MasterTbl (TransactionDescription, LicenceNumber) As (
Select Distinct TransactionDescription, LicenceNumber From (
Select 
	[Status] As TransactionDescription, Plate_Nbr As LicenceNumber
From 
	dbo.DWH_LicenceMaster With (NoLock) 
Where 
	ModifiedDate Between @StartDate And @EndDate And Plate_Nbr Not In (54321)

Union All

Select 
	[Status] As TransactionDescription, Plate_Nbr As LicenceNumber
From 
	dbo.DWH_LicenceMasterHistory With (NoLock) 
Where 
	ModifiedDate Between @StartDate And @EndDate And Plate_Nbr Not In (54321)
) As SourceTbl)

Select TransactionDescription, Count(*) As TransactionCount From MasterTbl Group By TransactionDescription Order By TransactionDescription
GO
