USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_RentalAgreement]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_RentalAgreement](
	[ID] [bigint] NOT NULL,
	[VehicleLicenceNo] [varchar](50) NOT NULL,
	[DriverLicenceNo] [nvarchar](20) NULL,
	[Name] [nvarchar](101) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ValidInsurance] [bit] NOT NULL,
	[Comments] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[IndustryUserID] [bigint] NOT NULL,
 CONSTRAINT [PK_RentalAgreement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
