USE [TRDWH]
GO
/****** Object:  View [dbo].[VW_ICABSFailures]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ICABSFailures]
AS
SELECT        (SELECT        COUNT(CheckId) AS Expr1
                          FROM            dbo.DWH_EntityCheckHistory) AS TotalChecksCompleted, COUNT(ECL.CheckListItemDescription) AS FailureCount, 
                         ECL.CheckListItemDescription AS FaliedCheckItem, IU.EnforcementOfficerName, DATEPART(Month, ECH.CreatedDate) AS FailureMonth, DATEPART(Year, 
                         ECH.CreatedDate) AS FailureYear
FROM            dbo.DWH_EntityCheckHistory AS ECH INNER JOIN
                         dbo.DWH_EntityCheckHistoryItem AS ECHI ON ECH.CheckId = ECHI.CheckId INNER JOIN
                         dbo.DWH_EntityCheckList AS ECL ON ECHI.ChecklistItemId = ECL.CheckListItemId INNER JOIN
                         dbo.DWH_iCabsUsers AS IU ON ECH.UserId = IU.UserId INNER JOIN
                         dbo.DWH_Entity AS E ON ECH.EntityId = E.EntityId
WHERE        (ECHI.CheckPassedYn = 0)
GROUP BY ECL.CheckListItemDescription, IU.EnforcementOfficerName, DATEPART(Month, ECH.CreatedDate), DATEPART(Year, ECH.CreatedDate)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ECH"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 261
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ECHI"
            Begin Extent = 
               Top = 6
               Left = 299
               Bottom = 135
               Right = 487
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ECL"
            Begin Extent = 
               Top = 6
               Left = 525
               Bottom = 135
               Right = 765
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "IU"
            Begin Extent = 
               Top = 6
               Left = 803
               Bottom = 135
               Right = 1044
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "E"
            Begin Extent = 
               Top = 6
               Left = 1082
               Bottom = 135
               Right = 1277
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ICABSFailures'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ICABSFailures'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ICABSFailures'
GO
