USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_BUILD_EXPIRE]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Max Cottica>
-- Create date: <22/04/2009>
-- Description:	<BUILD EXPIRE DATES,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_BUILD_EXPIRE] 

AS
BEGIN

	SET NOCOUNT ON;

DELETE dbo.DWH_EXPIRE_DATES
INSERT dbo.DWH_EXPIRE_DATES
SELECT licNum, LEFT(ExpDate, 2) AS ExpDay, 
SUBSTRING(ExpDate, 4, 2) AS ExpMonth, RIGHT(ExpDate, 4) AS ExpYear, ExpDate, NULL, IssueDate, NULL, Licensestatus, null as DateStamp
FROM dbo.DWH_TAXI

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpDay = NULL
WHERE ExpDay LIKE '%/%'

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpDay = NULL
WHERE ExpDay NOT IN (01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31)

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpMonth = NULL
WHERE ExpMonth LIKE '%/%'

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpMonth = NULL
WHERE ExpMonth NOT IN (01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12)

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpYear = NULL
WHERE ExpYear LIKE '%/%'

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpYear = NULL
WHERE ExpYear NOT IN (1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020)

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpDay = '28'
WHERE (ExpDay = '29' OR ExpDay = '30' OR ExpDay = '31') AND ExpMonth = '02' 
AND (ExpYear = '1997' OR ExpYear = '1998' OR ExpYear = '1999'
OR ExpYear = '2001' OR ExpYear = '2002' OR ExpYear = '2003' OR ExpYear = '2005' OR ExpYear = '2006' OR ExpYear = '2007'
OR ExpYear = '2009' OR ExpYear = '2010' OR ExpYear = '2011' OR ExpYear = '2013'
OR ExpYear = '2014' OR ExpYear = '2015' OR ExpYear = '2017' OR ExpYear = '2018'
OR ExpYear = '2019')

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpDay = '29'
WHERE (ExpDay = '30' OR ExpDay = '31') AND ExpMonth = '02' 
AND (ExpYear = '2000' OR ExpYear = '2004' OR ExpYear = '2008' OR ExpYear = '2012' OR ExpYear = '2016' OR ExpYear = '2020')

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpDay = '30'
WHERE ExpDay = '31' AND ExpMonth = '04'

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpDay = '30'
WHERE ExpDay = '31' AND ExpMonth = '06'

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpDay = '30'
WHERE ExpDay = '31' AND ExpMonth = '09'

UPDATE dbo.DWH_EXPIRE_DATES
SET ExpDay = '30'
WHERE ExpDay = '31' AND ExpMonth = '11'

UPDATE dbo.DWH_EXPIRE_DATES
SET [Quarter] = 1
WHERE ExpMonth <= '03'

UPDATE dbo.DWH_EXPIRE_DATES
SET [Quarter] = 2
WHERE (ExpMonth > '03' AND ExpMonth <= '06')

UPDATE dbo.DWH_EXPIRE_DATES
SET [Quarter] = 3
WHERE (ExpMonth > '06' AND ExpMonth <= '09')

UPDATE dbo.DWH_EXPIRE_DATES
SET [Quarter] = 4
WHERE (ExpMonth > '09' AND ExpMonth <= '12')

SET DATEFORMAT DMY
UPDATE dbo.DWH_EXPIRE_DATES
SET DateStamp = (
CASE
WHEN ExpDay IS NOT NULL 
OR ExpMonth IS NOT NULL
OR ExpYear IS NOT NULL
THEN CAST((ExpDay + '/' + ExpMonth + '/' + ExpYear) as smalldatetime)
ELSE NULL
END)

END
GO
