USE [TRDWH]
GO
/****** Object:  Table [dbo].[LICENCES_EXTRACT_EOM]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENCES_EXTRACT_EOM](
	[Reg_Nbr] [nvarchar](50) NULL,
	[Plate_Nbr] [nvarchar](50) NULL,
	[Licence_Nbr] [nvarchar](50) NULL,
	[Old_Plate_Nbr] [nvarchar](50) NULL,
	[First_Nm] [nvarchar](50) NULL,
	[Last_Nm] [nvarchar](50) NULL,
	[Title_Cd] [nvarchar](50) NULL,
	[Addr_1] [nvarchar](100) NULL,
	[Addr_2] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[Company] [nvarchar](250) NULL,
	[Status] [nvarchar](50) NULL,
	[Authority] [nvarchar](50) NULL,
	[County] [nvarchar](50) NULL,
	[ExpiryDate] [nvarchar](50) NULL,
	[Make] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Colour] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[Pps_Number] [nvarchar](50) NULL,
	[Company_Number] [nvarchar](50) NULL,
	[Refused_Mobile_No ] [nvarchar](50) NULL,
	[VIN] [nvarchar](50) NULL,
	[DateFirstReg] [nvarchar](50) NULL,
	[EngineCC] [nvarchar](50) NULL,
	[LicenceLetter] [nvarchar](50) NULL,
	[NbrPassengers] [nvarchar](50) NULL,
	[IssueDate] [nvarchar](50) NULL,
	[TestCentre] [nvarchar](50) NULL,
	[TaxClearanceNumber] [nvarchar](50) NULL,
	[TaxClearanceExpiryDate] [nvarchar](50) NULL,
	[InsuranceCertNumber] [nvarchar](50) NULL,
	[InsuranceCertExpiryDate] [nvarchar](50) NULL,
	[impDateStamp] [smalldatetime] NULL,
	[impFileName] [nvarchar](250) NULL,
	[impFileDate] [smalldatetime] NULL,
	[impFileYear] [nvarchar](5) NULL,
	[impFileMonth] [nvarchar](5) NULL,
	[impFileDay] [nvarchar](5) NULL,
	[impFileQuarter] [int] NULL,
	[FullStatus] [nvarchar](100) NULL
) ON [PRIMARY]
GO
