USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_CreatePendingVehicleTests]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_CreatePendingVehicleTests 'H10528'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_CreatePendingVehicleTests]
				
As

Set NoCount On;

With VehicleRegs (RegistrationNumber)
As
(
Select 
LHV.Reg_Nbr As RegistrationNumber
From 
dbo.DWH_LicenceHolderMaster As LHM With (NoLock) Inner Join dbo.DWH_LicenceHolderVehicle As LHV On LHM.Licence_Nbr = LHV.Licence_Nbr
Where 
LHM.LicenceState = 'ACTIVE' And
DateDiff(Day, LHM.ExpiryDate, GetDate()) >= (Select ParameterValue From dbo.DWH_Parameter With (NoLock) Where ParameterName = 'FirstRenewalReminder') And DateDiff(Day, LHM.ExpiryDate, GetDate()) <= 0
)
Insert Into dbo.DWH_VehicleInspection
(VehicleRegistrationNumber
, InspectionType
, ScheduledInspectionDate
, InspectionCarriedOut
, InspectionResultCode)
Select RegistrationNumber, 'LRA', GETDATE(), 0, 'NOTDONE' From VehicleRegs As VR Where RegistrationNumber Not In (Select VI.VehicleRegistrationNumber From dbo.DWH_VehicleInspection As VI Where VI.InspectionCarriedOut = 0)
GO
