USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DWH_VehicleDetails]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_DWH_VehicleDetails](@VehicleReg [nvarchar](50))
RETURNS [nvarchar](50) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [DWHUtilities].[UserDefinedFunctions].[FetchVehicleDetails]
GO
