USE [TRDWH]
GO
/****** Object:  Table [dbo].[Temp_DWH_VehicleMaster]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_DWH_VehicleMaster](
	[Reg_Nbr] [nvarchar](15) NOT NULL,
	[Make] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Colour] [nvarchar](20) NULL,
	[BodyStyle] [nvarchar](30) NULL,
	[VIN] [nvarchar](50) NULL,
	[DateFirstReg] [smalldatetime] NULL,
	[EngineCC] [nvarchar](10) NULL,
	[NbrSeats] [tinyint] NULL,
	[NbrPassengers] [tinyint] NULL,
	[EUVehicleCategory] [nvarchar](50) NULL,
	[TypeApprovalNumber] [smallint] NULL,
	[VRTCode] [nvarchar](20) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
	[ExcessWindowTint] [bit] NULL,
	[DateOfRegistrationInIreland] [smalldatetime] NULL,
	[YearOfManufacture] [smallint] NULL,
	[PermissibleMassGVW] [smallint] NULL,
	[TypeApprovalCategory] [nvarchar](50) NULL,
	[SIMIStatisticalCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Temp_DWH_VehicleMaster] PRIMARY KEY CLUSTERED 
(
	[Reg_Nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_Make]  DEFAULT (N'OTHER') FOR [Make]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_Model]  DEFAULT (N'OTHER') FOR [Model]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_Colour]  DEFAULT (N'OTHER') FOR [Colour]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_VIN]  DEFAULT ((0)) FOR [VIN]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_DateFirstReg]  DEFAULT ('1900/1/1') FOR [DateFirstReg]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_EngineCC]  DEFAULT ((0)) FOR [EngineCC]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_NbrPassengers]  DEFAULT ((0)) FOR [NbrPassengers]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Temp_DWH_VehicleMaster] ADD  CONSTRAINT [DF_Temp_DWH_VehicleMaster_ExcessWindowTint]  DEFAULT ((0)) FOR [ExcessWindowTint]
GO
