USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DWH_GetAlphaNumeric]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[Fn_DWH_GetAlphaNumeric]
(@strAlphaNumeric NVarChar(256))
Returns NVarChar(256)
As

Begin

	Declare @intAlpha Int

	Set @intAlpha = PatIndex('%[^a-z]%', @strAlphaNumeric)

	While @intAlpha > 0
	Begin
		Set @strAlphaNumeric = Stuff(@strAlphaNumeric, @intAlpha, 1, '')
		Set @intAlpha = PatIndex('%[^a-z]%', @strAlphaNumeric )
	End

	Return IsNull(@strAlphaNumeric, 0)

End
GO
