USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetLicenseeDetails]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible USP_DWH_GetLicenseeDetails
-- Exec USP_DWH_GetLicenseeDetails 'L5013', '', '', '2836264P', '', ''
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GetLicenseeDetails]
				@LicenceNumber NVarChar (50)
				, @CCSN NVarChar (50)
				, @County NVarChar (50)
				, @PPSN NVarChar (50)
				, @Firstname NVarChar (50)
				, @Surname NVarChar (50)
				, @PlateNumber NVarChar (50)
				, @RegistrationNumber NVarChar (50)
As

Set NoCount On;

If (@PlateNumber <> '') OR (@RegistrationNumber <> '')
Begin
	If @RegistrationNumber = ''
		Set @RegistrationNumber = '%'

	If @PlateNumber = ''
		Set @PlateNumber = '%'

	Select 
		DM.fname + ' ' + DM.sname As DriverName, 
		DM.add1 As Address1, DM.add2 As Address2, 
		DM.add3 As Address3, DM.add4 As Address4, 
		Case LicenseStatus When 1 Then 'Active' Else 'Inactive' End AS LicenceStatus, 
		DM.dob As DateOfBirth, DM.licNum As LicenceNumber, DM.RSINum As PPSN, 
		DM.issueDate As IssueDate, DM.ExpDate As ExpiryDate, DM.CCSN, 
		DM.PrimLicenseArea As PrimaryArea, DM.SecLicenseArea As OtherArea, 
		DM.GardaArea, DM.mobile As MobileNumber, 
		DM.phone As PhoneNumber, photoData
	From 
		dbo.DWH_DriverMaster As DM With (NoLock) Inner Join dbo.LICENCES_EXTRACT_ARCHIVE_ALL As LA On LA.Pps_Number = DM.RSINum Inner Join dbo.photoTable With (NoLock) On DM.LicNum = dbo.photoTable.licnum
	Where 
		LA.impFileDate = (Select Max(impFileDate) From dbo.LICENCES_EXTRACT_ARCHIVE_ALL)
		And LA.Plate_Nbr Like @PlateNumber And Reg_Nbr Like @RegistrationNumber
End
Else
Begin

	If IsNull(@CCSN, '') = ''
		Set @CCSN = '%'

	If IsNull(@LicenceNumber, '') = ''
		Set @LicenceNumber = '%'

	If IsNull(@County, '') = ''
		Set @County = '%'

	If IsNull(@PPSN, '') = ''
		Set @PPSN = '%'

	If IsNull(@Firstname, '') = ''
		Set @Firstname = '%'

	If IsNull(@Surname, '') = ''
		Set @Surname = '%'

	Select 
		fname + ' ' + sname As DriverName, 
		add1 As Address1, add2 As Address2, 
		add3 As Address3, add4 As Address4, 
		Case LicenseStatus When 1 Then 'Active' Else 'Inactive' End AS LicenceStatus, 
		dob As DateOfBirth, DM.licNum As LicenceNumber, RSINum As PPSN, 
		issueDate As IssueDate, ExpDate As ExpiryDate, CCSN, 
		PrimLicenseArea As PrimaryArea, SecLicenseArea As OtherArea, 
		GardaArea, mobile As MobileNumber, 
		phone As PhoneNumber, photoData
	From 
		dbo.DWH_DriverMaster As DM With (NoLock) Inner Join dbo.photoTable With (NoLock) On DM.LicNum = dbo.photoTable.licnum
	Where 
		IsNull(DM.LicNum, '') Like @LicenceNumber And IsNull(CCSN, '') Like @CCSN And IsNull(PrimLicenseArea, '') Like @County And IsNull(RSINum, '') Like @PPSN And IsNull(fname, '') Like @Firstname And IsNull(sname, '') Like @Surname
END

Set NoCount Off;
GO
