USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetVehicleInfo]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetVehicleInfo ''

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetVehicleInfo] 
				@PlateNumber NVarChar (50)
				, @RegistrationNumber NVarChar (50)
				, @County NVarChar (50)
				, @PPSN NVarChar (50)
				, @Firstname NVarChar (50)
				, @Surname NVarChar (50)
				, @CCSN NVarChar (50)
As

Set NoCount On;

If @CCSN <> ''
Begin
	Select 
		LA.* 
	From 
		dbo.LICENCES_EXTRACT_ARCHIVE_ALL As LA With (NoLock) Inner Join DWH_DriverMaster As DM On LA.Pps_Number = DM.RSINum
	Where 
		LA.impFileDate = (Select Max(impFileDate) From dbo.LICENCES_EXTRACT_ARCHIVE_ALL)
		And DM.CCSN = @CCSN
End
Else
Begin
	If IsNull(@PlateNumber, '') = ''
		Set @PlateNumber = '%'

	If IsNull(@RegistrationNumber, '') = ''
		Set @RegistrationNumber = '%'

	If IsNull(@County, '') = ''
		Set @County = '%'

	If IsNull(@PPSN, '') = ''
		Set @PPSN = '%'

	If IsNull(@Firstname, '') = ''
		Set @Firstname = '%'

	If IsNull(@Surname, '') = ''
		Set @Surname = '%'

	Select 
		* 
	From 
		dbo.LICENCES_EXTRACT_ARCHIVE_ALL With (NoLock)
	Where 
		impFileDate = (Select Max(impFileDate) From dbo.LICENCES_EXTRACT_ARCHIVE_ALL)
		And IsNull(Plate_Nbr, '') Like @PlateNumber And IsNull(Reg_Nbr, '') Like @RegistrationNumber And IsNull(Pps_Number, '') Like @PPSN
		And IsNull(County, '') Like @County And IsNull(First_Nm, '') Like @Firstname And IsNull(Last_Nm, '') Like @Surname
End
GO
