USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_CREATE_VEHICLE_DAILY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_CREATE_VEHICLE_DAILY]
AS
BEGIN

INSERT DWH_VEHICLE_DAILY (impFileDate, impFileDay, impFileMonth, impFileYear, Total)
SELECT impFileDate, impFileDay, impFileMonth, impFileYear, COUNT(*) FROM dbo.LICENCES_EXTRACT_ARCHIVE_ALL
GROUP BY impFileDate, impFileDay, impFileMonth, impFileYear 
ORDER BY impFileDate DESC

DECLARE @Column nvarchar(50)

DECLARE Create_Daily_VEH_Table CURSOR FOR 

SELECT DISTINCT 
CASE
WHEN Status = ''
THEN 'NA' 
ELSE REPLACE(Status, ' ', '')
END AS Status
FROM dbo.LICENCES_EXTRACT_ARCHIVE_ALL
ORDER BY Status

OPEN Create_Daily_VEH_Table 

FETCH NEXT FROM Create_Daily_VEH_Table INTO @Column

WHILE @@FETCH_STATUS = 0
BEGIN

EXEC ('ALTER TABLE DWH_VEHICLE_DAILY ADD ' + @Column + ' int')

FETCH NEXT FROM Create_Daily_VEH_Table INTO @Column
END

CLOSE Create_Daily_VEH_Table 
DEALLOCATE Create_Daily_VEH_Table 

DECLARE @Status nvarchar(50)
DECLARE @DDate int
DECLARE @MDate int
DECLARE @YDate int
DECLARE @Date smalldatetime
DECLARE @COUNT int

DECLARE Create_Daily_VEH_Table2 CURSOR FOR 

SELECT CASE WHEN Status = '' THEN 'NA' ELSE REPLACE(Status, ' ', '') END AS Status, 
impFileDay, impFileMonth, impFileYear, COUNT(*) AS ASMANY, impFileDate FROM
dbo.LICENCES_EXTRACT_ARCHIVE_ALL
GROUP BY Status, impFileDate, impFileDay, impFileMonth, impFileYear
ORDER BY impFileDate DESC, Status ASC

OPEN Create_Daily_VEH_Table2 

FETCH NEXT FROM Create_Daily_VEH_Table2 INTO @Status, @DDate, @MDate, @Ydate, @COUNT, @Date

WHILE @@FETCH_STATUS = 0
BEGIN

EXEC ('UPDATE DWH_VEHICLE_DAILY SET ' + @Status + ' = ' + @COUNT + ' WHERE impFileDay = ' + @DDate + ' AND impFileMonth = ' + @MDate + ' AND impFileYear = ' + @YDate)

FETCH NEXT FROM Create_Daily_VEH_Table2 INTO @Status, @DDate, @MDate, @Ydate, @COUNT, @Date
END

CLOSE Create_Daily_VEH_Table2 
DEALLOCATE Create_Daily_VEH_Table2
END

GO
