USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GenerateMonthlyCountyLicenseBreakdown]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Max Cottica>
-- Create date: <C06/05/2009>
-- Description:	<Build LIST_COUNTY_MONTHLY>
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GenerateMonthlyCountyLicenseBreakdown]
				@ReportingMonthPeriod VarChar (20)
AS

BEGIN

SET NOCOUNT ON;

UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
SET Area1 = 0, Area2 = 0

DECLARE @COUNTY nvarchar(20)
DECLARE GETAREA CURSOR
FOR
SELECT COUNTY FROM dbo.DWH_LIST_COUNTY_MONTHLY
--ORDER BY COUNTY

OPEN GETAREA

FETCH NEXT
FROM GETAREA INTO @COUNTY

/*WHILE @@FETCH_STATUS = 0
BEGIN
	UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
	SET Area1 = (
	SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
	WHERE licNum IN (SELECT licNum FROM dbo.DWH_REPORT_APR_2009
	WHERE LicenseStatus = 1
	AND Revoked = 'NO'
	AND Surrend = 'NO'
	AND Deceased = 'NO'
	AND licNum NOT IN (
	SELECT licNum FROM dbo.DWH_EXPIRE_DATES
	WHERE DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
	AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
	))
	AND PrimLicenceArea = @County)
	WHERE County = @County

	IF @COUNTY = 'Meath'
	BEGIN
		UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
		SET Area2 = (
		SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
		WHERE (SecLicenseArea LIKE '%' + @COUNTY + '%' AND SecLicenseArea NOT LIKE '%westmeath%')
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot 
		Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		And LicenseStatus = 1
		AND Revoked = 'NO'
		AND Surrend = 'NO'
		AND Deceased = 'NO'
		AND licNum NOT IN (
		SELECT licNum FROM dbo.DWH_EXPIRE_DATES
		WHERE DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
		)))
		WHERE County = @County
	END
	
	IF @COUNTY = 'N/A'
	BEGIN
		UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
		SET Area2 = (
		SELECT SUM((LEN(CAST(SecLicenseArea AS nvarchar(250))) - LEN(REPLACE(CAST(SecLicenseArea AS nvarchar(250)), ' ', '')) + 1)) FROM dbo.DWH_DRIVERS_COUNTY
		WHERE licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot 
		Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		And LicenseStatus = 1
		AND Revoked = 'NO'
		AND Surrend = 'NO'
		AND Deceased = 'NO'
		AND licNum NOT IN (
		SELECT licNum FROM dbo.DWH_EXPIRE_DATES
		WHERE DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
		)) AND PrimLicenceArea = 'N/A' AND (CAST(seclicensearea AS nvarchar(250)) <> '' OR CAST(seclicensearea AS nvarchar(250)) <> ' '))
		WHERE County = @County
	END
	ELSE
	BEGIN
		UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
		SET Area2 = (
		SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
		WHERE SecLicenseArea LIKE '%' + @COUNTY + '%'
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot 
		Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		And LicenseStatus = 1
		AND Revoked = 'NO'
		AND Surrend = 'NO'
		AND Deceased = 'NO'
		AND licNum NOT IN (
		SELECT licNum FROM dbo.DWH_EXPIRE_DATES
		WHERE DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
		)))
		WHERE County = @County
	END

	FETCH NEXT
	FROM GETAREA INTO @COUNTY
END*/

WHILE @@FETCH_STATUS = 0
BEGIN
	UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
	SET Area1 = (
	SELECT COUNT(*) FROM dbo.DWH_Driver_SnapShot
	WHERE LicenseStatus = 1
	AND Revoked = 'NO'
	AND Surrend = 'NO'
	AND Deceased = 'NO'
--rh, no need to go back to expire dates - the snapshot creation takes care of setting everything
	/*AND licNum NOT IN (
	SELECT licNum FROM dbo.DWH_EXPIRE_DATES
	WHERE DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
	AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
	)*/
	And SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
	AND PrimLicenseArea = @County)
	WHERE County = @County

	IF @COUNTY = 'Meath'
	BEGIN
		UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
		SET Area2 = (
		SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
		WHERE (SecLicenseArea LIKE '%' + @COUNTY + '%' AND SecLicenseArea NOT LIKE '%westmeath%')
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot 
		Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		And LicenseStatus = 1
		AND Revoked = 'NO'
		AND Surrend = 'NO'
		AND Deceased = 'NO'
		/*AND licNum NOT IN (
		SELECT licNum FROM dbo.DWH_EXPIRE_DATES
		WHERE DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
		)*/
--rh, no need to go back to expire dates - the snapshot creation takes care of setting everything
	And SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		))
		WHERE County = @County
	END
	
	IF @COUNTY = 'N/A'
	BEGIN
		UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
		SET Area2 = (
		SELECT SUM((LEN(CAST(SecLicenseArea AS nvarchar(250))) - LEN(REPLACE(CAST(SecLicenseArea AS nvarchar(250)), ' ', '')) + 1)) FROM dbo.DWH_DRIVERS_COUNTY
		WHERE licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot 
		Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		And LicenseStatus = 1
		AND Revoked = 'NO'
		AND Surrend = 'NO'
		AND Deceased = 'NO'
		/*AND licNum NOT IN (
		SELECT licNum FROM dbo.DWH_EXPIRE_DATES
		WHERE DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
		)*/
--rh, no need to go back to expire dates - the snapshot creation takes care of setting everything
		And SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		) AND PrimLicenceArea = 'N/A' AND (CAST(seclicensearea AS nvarchar(250)) <> '' OR CAST(seclicensearea AS nvarchar(250)) <> ' '))
		WHERE County = @County
	END
	ELSE
	BEGIN
		UPDATE dbo.DWH_LIST_COUNTY_MONTHLY
		SET Area2 = (
		SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
		WHERE SecLicenseArea LIKE '%' + @COUNTY + '%'
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot 
		Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		And LicenseStatus = 1
		AND Revoked = 'NO'
		AND Surrend = 'NO'
		AND Deceased = 'NO'
		/*AND licNum NOT IN (
		SELECT licNum FROM dbo.DWH_EXPIRE_DATES
		WHERE DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
		AND licNum IN (SELECT licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
		)*/
--rh, no need to go back to expire dates - the snapshot creation takes care of setting everything
		And SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
		))
		WHERE County = @County
	END

	FETCH NEXT
	FROM GETAREA INTO @COUNTY
END

CLOSE GETAREA
DEALLOCATE GETAREA

END
GO
