USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetVehicleDetails]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetVehicleDetails ''

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetVehicleDetails] 
				@RegistrationNumber NVarChar (50)
As

Set NoCount On;

Begin

	Select 
		Reg_Nbr, Make, Model, Colour, VIN, DateFirstReg, EngineCC, NbrPassengers, InsuranceCertNumber, InsuranceCertExpiryDate
	From 
		dbo.LICENCES_EXTRACT_ARCHIVE_ALL With (NoLock)
	Where 
		impFileDate = (Select Max(impFileDate) From dbo.LICENCES_EXTRACT_ARCHIVE_ALL)
		And Reg_Nbr = @RegistrationNumber
End
GO
