USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[iCabs_EntityChecklist_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Dan Rusu
-- Create date: 18-Apr-2011
-- Description:	Returns all possible Status codes present in status table


=============================================
*/
CREATE Procedure [dbo].[iCabs_EntityChecklist_Select]
				@UserId SmallInt, 
				@EntityId TinyInt
				, @IdNumber VarChar (50)
, @longitude VarChar (20)
, @latitude VarChar (20)
As

Declare @CheckId Int

Begin Try
	Begin Transaction CreateCheckEntry
		Set NoCount On;
		
		Insert Into dbo.DWH_EntityCheckHistory (EntityId, UserId, EntityIdNumber,Longitude,Latitude)
		Values (@EntityId, @UserId, @IdNumber,@longitude,@latitude)

		Select @CheckId = Scope_Identity()

		Set NoCount Off;
		Declare @table TABLE (UniqueCheckId bigint, CheckListItemId int, CheckListItemDescription varchar(150))
		Insert into @table
		--Select @CheckId As UniqueCheckId, CheckListItemId, CheckListItemDescription From dbo.DWH_EntityCheckList Where ActiveYn = 1 And EntityId = @EntityId
		Select @CheckId As UniqueCheckId, CheckListItemId, CheckListItemDescription From dbo.DWH_EntityCheckList Where ActiveYn = 1 And EntityId = @EntityId
		AND CheckListItemDescription = 'Driver association'
		Insert into @table
		--Select @CheckId As UniqueCheckId, CheckListItemId, CheckListItemDescription From dbo.DWH_EntityCheckList Where ActiveYn = 1 And EntityId = @EntityId
		Select @CheckId As UniqueCheckId, CheckListItemId, CheckListItemDescription From dbo.DWH_EntityCheckList Where ActiveYn = 1 And EntityId = @EntityId
		AND CheckListItemDescription <> 'Driver association'
		Select * from @table
	Commit Transaction CreateCheckEntry
	
	Return 1
End Try

Begin Catch
	Rollback Transaction CreateCheckEntry;
	--SELECT 
       -- ERROR_NUMBER() AS ErrorNumber
        --,ERROR_MESSAGE() AS ErrorMessage;

	Return 0
End Catch
GO
