USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_ICABSChecks_Update]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_ICABSChecks_Update

=============================================
*/
Create Procedure [dbo].[USP_DWH_ICABSChecks_Update]
				
As
Declare @CheckId Int 
	, @EntityId Int

Select @CheckId = Min(CheckId) From dbo.DWH_EntityCheckHistory Where CreatedDate >= DateAdd(Day, -3, GetDate())
While (@CheckId Is Not Null)
Begin
	Select @EntityId = EntityId From dbo.DWH_EntityCheckHistory Where CheckId = @CheckId
	print @CheckId
	PRINT @EntityId
	Update 
		dbo.DWH_EntityCheckHistory
	Set 
		CheckPassedYn = Case When 
			--(Select Count(*) From dbo.DWH_EntityCheckList Where EntityId = @EntityId) >= 
			--IsNull((Select Count(*) From dbo.DWH_EntityCheckHistoryItem Where CheckPassedYn = 1 And CheckId = @CheckId), 0) Then 1 
			IsNull((Select Count(*) From dbo.DWH_EntityCheckHistoryItem Where CheckPassedYn = 0 And CheckId = @CheckId), 0) = 0 Then 1 
			Else 0 
			End
	Where 
		CheckId = @CheckId
	Select @CheckId = Min(CheckId) From dbo.DWH_EntityCheckHistory Where CheckId > @CheckId And CreatedDate >= DateAdd(Day, -3, GetDate())
End
GO
