USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetDummyVehicleDetails]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetDummyVehicleDetails 'ACTIVE', '31/Dec/2008'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetDummyVehicleDetails]
				@ExtractDate DateTime
As

Set NoCount On;

Select 
	Status, Plate_Nbr, Licence_Nbr, Reg_Nbr
	, Case IsNumeric(Left(Reg_Nbr, 2))
		When 1 Then 
			Case 
				When IsNumeric(Left(Reg_Nbr, 3)) = 1 Then 30
				When Cast(Left(Reg_Nbr, 2) As SmallInt) > 20 Then Year(@ExtractDate) - (1900 + Cast(Left(Reg_Nbr, 2) As SmallInt))
				Else (Right(Year(@ExtractDate), 2) - Cast(Left(Reg_Nbr, 2) As SmallInt))
			End
		Else 30
	  End
	, IsNull(dbo.DWH_SPSVCategory.CategoryDescription, 'Not Categorised')
From 
	dbo.LICENCES_EXTRACT_ARCHIVE_ALL With (NoLock) Left Outer Join dbo.DWH_SPSVCategory With (NoLock) 
			On Left(dbo.LICENCES_EXTRACT_ARCHIVE_ALL.Licence_Nbr, 1) = dbo.DWH_SPSVCategory.CategoryId
Where 
	impFileDate = @ExtractDate 
	And Plate_Nbr In ('54322', '54323', '54321', '54321', '35210', '40241', '38386', '41505')

Set NoCount Off;
GO
