USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetExpiringLicenceHolder]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetExpiringLicenceHolder '%'

=============================================
*/
Create Procedure [dbo].[USP_DWH_GetExpiringLicenceHolder]
					@LicenceNumber NVarChar (50)

As

Set NoCount On;

If @LicenceNumber = ''
	Set @LicenceNumber = '%'

SELECT 
	DateDiff(Day, LHM.ExpiryDate, GetDate()) As DaysToExpiryDate
	, LHM.CCSN
    , LHM.Licence_Nbr
	, LHM.Pps_Number
	, LHM.IssueDate
	, LHM.ExpiryDate
	, Case 
			When IsNull(Company, '') = '' Then 
				Case
					When IsNull(LTrim(RTrim(Title_Cd)), '') = '' Then First_Nm + ' ' + Last_Nm
					Else Title_Cd + ' ' + First_Nm + ' ' + Last_Nm
				End
			Else Company
		  End As HolderName
	, LHM.Company_Number
	, LHM.Addr_1 As AddressLine1
	, LHM.Addr_2 As AddressLine2
	, LHM.Town
	, LHM.County
	, LHM.TaxClearanceNumber
	, LHM.TaxClearanceExpiryDate
	, LHM.PhoneNumber
	, LHM.MobileNumber
	, LHM.[Status]
	, Case 
		When DateDiff(Day, LHM.ExpiryDate, GetDate()) = 0 Then 'Red'
		When DateDiff(Day, LHM.ExpiryDate, GetDate()) >= (Select ParameterValue From dbo.DWH_Parameter With (NoLock) Where ParameterName = 'SecondRenewalReminder') Then 'Yellow' 
		When DateDiff(Day, LHM.ExpiryDate, GetDate()) <= (Select ParameterValue From dbo.DWH_Parameter With (NoLock) Where ParameterName = 'SecondRenewalReminder') Then 'Green'
		End As IndicatorColour
	, (
		Select 
			1 
		From 
			dbo.DWH_VehicleInspection As VI 
		Where 
			InspectionType In ('LRA') And InspectionCarriedOut = 1 And 
			LHV.Reg_Nbr = VI.VehicleRegistrationNumber And 
DateDiff(Day, ActualInspectionDate, GetDate()) <= (Select ParameterValue From dbo.DWH_Parameter With (NoLock) Where ParameterName = 'VehicleSuitabilityValidityPeriod')
	  ) As RenewalAllowedYN
	, 1 As AssociatedVehicle
		/*
	,[Refused_Mobile_No]
	,[TestCentre]
	,[Authority]
	,[Old_Plate_Nbr]
	,[DateModified]
	,[LastModifiedBy]
	,[DateCreated]
	,[CreatedBy]
	*/
From 
	dbo.DWH_LicenceHolderMaster As LHM With (NoLock) Inner Join dbo.DWH_LicenceHolderVehicle As LHV With (NoLock) 
	On LHM.Licence_Nbr = LHV.Licence_Nbr
Where 
	LHM.LicenceState = 'ACTIVE' And 
	DateDiff(Day, LHM.ExpiryDate, GetDate()) >= (Select ParameterValue From dbo.DWH_Parameter With (NoLock) Where ParameterName = 'FirstRenewalReminder') And DateDiff(Day, LHM.ExpiryDate, GetDate()) <= 0
	And LHM.Licence_Nbr Like @LicenceNumber

Union All

Select 
	DateDiff(Day, LHM.ExpiryDate, GetDate()) As DaysToExpiryDate
	, LHM.CCSN
    , LHM.Licence_Nbr
	, LHM.Pps_Number
	, LHM.IssueDate
	, LHM.ExpiryDate
	, Case 
			When IsNull(Company, '') = '' Then 
				Case
					When IsNull(LTrim(RTrim(Title_Cd)), '') = '' Then First_Nm + ' ' + Last_Nm
					Else Title_Cd + ' ' + First_Nm + ' ' + Last_Nm
				End
			Else Company
		  End As HolderName
	, LHM.Company_Number
	, LHM.Addr_1 As AddressLine1
	, LHM.Addr_2 As AddressLine2
	, LHM.Town
	, LHM.County
	, LHM.TaxClearanceNumber
	, LHM.TaxClearanceExpiryDate
	, LHM.PhoneNumber
	, LHM.MobileNumber
	, LHM.[Status]
	, Case 
		When DateDiff(Day, LHM.ExpiryDate, GetDate()) = 0 Then 'Red'
		When DateDiff(Day, LHM.ExpiryDate, GetDate()) >= (Select ParameterValue From dbo.DWH_Parameter With (NoLock) Where ParameterName = 'SecondRenewalReminder') Then 'Yellow' 
		When DateDiff(Day, LHM.ExpiryDate, GetDate()) <= (Select ParameterValue From dbo.DWH_Parameter With (NoLock) Where ParameterName = 'SecondRenewalReminder') Then 'Green'
		End As IndicatorColour
	, 1 As RenewalAllowedYN
	, 0 As AssociatedVehicle
		/*
	,[Refused_Mobile_No]
	,[TestCentre]
	,[Authority]
	,[Old_Plate_Nbr]
	,[DateModified]
	,[LastModifiedBy]
	,[DateCreated]
	,[CreatedBy]
	*/
From 
	dbo.DWH_LicenceHolderMaster As LHM With (NoLock) Left Outer Join dbo.DWH_LicenceHolderVehicle As LHV With (NoLock) 
	On LHM.Licence_Nbr = LHV.Licence_Nbr
Where 
	LHM.LicenceState = 'ACTIVE' And LHV.Licence_Nbr Is Null And 
	DateDiff(Day, LHM.ExpiryDate, GetDate()) >= (Select ParameterValue From dbo.DWH_Parameter With (NoLock) Where ParameterName = 'FirstRenewalReminder') And DateDiff(Day, LHM.ExpiryDate, GetDate()) <= 0
	And LHM.Licence_Nbr Like @LicenceNumber

Order By 
	DaysToExpiryDate Desc, Licence_Nbr Desc
GO
