USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_EntityCheckListItem_Insert]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table
n
Exec USP_DWH_EntityCheckListItem_Insert 1, 1, 1

=============================================
*/
Create Procedure [dbo].[USP_DWH_EntityCheckListItem_Insert]
					@UniqueCheckId Int
					, @ChecklistItemId SmallInt
					, @Result Bit
					, @DriverLicenceNumber VarChar (50)
As

Set NoCount On;

Begin
	
	If IsNull(@DriverLicenceNumber, '') <> '' 
	Begin
		Update 
			dbo.DWH_EntityCheckHistory 
        Set
			DriverLicenceNumber = Upper(@DriverLicenceNumber)
		Where
			CheckId = @UniqueCheckId
	End
	
	--check if there is already audit details for this id.  If so then just update
	If (Select Count(*) From dbo.DWH_EntityCheckHistoryItem Where CheckId = @UniqueCheckId And ChecklistItemId = @ChecklistItemId) > 0
	Begin
		Update 
			dbo.DWH_EntityCheckHistoryItem
		Set
			CheckPassedYn = @Result
		Where
			CheckId = @UniqueCheckId And ChecklistItemId = @ChecklistItemId
	End
	Else
	Begin
		Insert Into dbo.DWH_EntityCheckHistoryItem
			   (CheckId, ChecklistItemId, CheckPassedYn)
		 Values
			   (@UniqueCheckId, @ChecklistItemId, @Result)
	End

End

Set NoCount Off;
GO
