USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_SPSVCategory]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_SPSVCategory](
	[CategoryId] [nvarchar](5) NOT NULL,
	[CategoryDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DWH_SPSVCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
