USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetPrometricImage]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[Fn_GetPrometricImage](@Base64String [nvarchar](max))
RETURNS [varbinary](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [DWHUtilities].[UserDefinedFunctions].[FetchPrometricImage]
GO
