USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_LICENCE_STATUS]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_LICENCE_STATUS](
	[licNum] [nvarchar](50) NULL,
	[Revoked] [nvarchar](50) NULL,
	[Deceased] [nvarchar](50) NULL,
	[Surrendered] [nvarchar](50) NULL,
	[LicenseStatus] [int] NULL,
	[Expired] [nvarchar](50) NULL
) ON [PRIMARY]
GO
