USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyActiveLicenseAreaDetailBreakdown]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_MonthlyActiveLicenseAreaDetailBreakdown '2009-july', 1

=============================================
*/
Create Procedure [dbo].[USP_DWH_MonthlyActiveLicenseAreaDetailBreakdown]
			@ReportingMonthPeriod VarChar(20)
			, @County NVarChar (50)
As

Set NoCount On;

If @County = 'Meath'
Begin
	Select licNum, fname, sname, add1, add2, add3, add4, County As PrimLicenseArea, PrimLicenceArea, 
	SecLicenseArea, issueDate, ExpDate, mobile, phone, Licences
	From dbo.DWH_DRIVERS_COUNTY 
	Where ((PrimLicenceArea = @County) 
	Or (SecLicenseArea Like '%' + @COUNTY + '%' And SecLicenseArea Not Like '%Westmeath%'))
	And licNum In (Select licNum From dbo.DWH_Driver_SnapShot 
	Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
	And LicenseStatus = 1
	And Revoked = 'NO'
	And Surrend = 'NO'
	And Deceased = 'NO'
	And licNum Not In (
	Select licNum From dbo.DWH_EXPIRE_DATES
	Where DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
	AND licNum In (Select licNum From dbo.DWH_Driver_SnapShot 
	Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
	))
End
Else 
Begin
	Select licNum, fname, sname, add1, add2, add3, add4, County As PrimLicenseArea, PrimLicenceArea, 
	SecLicenseArea, issueDate, ExpDate, mobile, phone, Licences
	From dbo.DWH_DRIVERS_COUNTY
	Where (PrimLicenceArea = @County Or SecLicenseArea Like '%' + @County + '%')
	AND licNum In (Select licNum From dbo.DWH_Driver_SnapShot 
	Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
	And LicenseStatus = 1
	And Revoked = 'NO'
	And Surrend = 'NO'
	And Deceased = 'NO'
	And licNum Not In (
	Select licNum From dbo.DWH_EXPIRE_DATES
	Where DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
	And licNum In (Select licNum FROM dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
	))
End

Set NoCount Off;
GO
