USE [TRDWH]
GO
/****** Object:  Table [dbo].[tempErrors]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempErrors](
	[ErrorNumber] [nvarchar](max) NULL,
	[ErrorSeverity] [nvarchar](max) NULL,
	[ErrorState] [nvarchar](max) NULL,
	[ErrorProcedure] [nvarchar](max) NULL,
	[ErrorLine] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
