USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_LIST_COUNTY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_LIST_COUNTY](
	[ID] [nvarchar](50) NULL,
	[COUNTY] [nvarchar](50) NULL,
	[Area1] [int] NULL,
	[Area2] [int] NULL,
	[Area3] [int] NULL,
	[Area4] [int] NULL
) ON [PRIMARY]
GO
