USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_PMRes_GetPPSTests]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_PMRes_GetPPSTests '3386706B'

=============================================
*/
CREATE Procedure [dbo].[USP_PMRes_GetPPSTests]
				@PPSNumber VarChar (20)

As

Set @PPSNumber = Upper(@PPSNumber)

If @PPSNumber = 'PASS'
Begin
	Select 
		pps, fname + ' ' + sname As CandidateName, dob, spsv, Driv_lic_num, add1, add2, add3, city, county, 
		country, Know_County, contact_num, aPhoto, test_result, test_code, test_name, test_Centre, test_date, 
		test_time, test_dateTime, Date_Printed, issued_cert_num, recId, allowPrint, coreScore, coreResult, 
		aktScore, aktResult, ccsSent 
	From 
		dbo.rcs With (NoLock)
	Where
		CoreResult = 'PASS' And AKTResult = 'PASS' And Driv_Lic_Num <> '123123123123'
	Order By 
		coreResult Desc, aktResult Desc
End

If @PPSNumber = 'AKT'
Begin
	Select 
		pps, fname + ' ' + sname As CandidateName, dob, spsv, Driv_lic_num, add1, add2, add3, city, county, 
		country, Know_County, contact_num, aPhoto, test_result, test_code, test_name, test_Centre, test_date, 
		test_time, test_dateTime, Date_Printed, issued_cert_num, recId, allowPrint, coreScore, coreResult, 
		aktScore, aktResult, ccsSent 
	From 
		dbo.rcs With (NoLock)
	Where
		AKTResult = 'PASS' And CoreScore = 'NA' And Driv_Lic_Num <> '123123123123'
	Order By 
		coreResult Desc, aktResult Desc
End

If @PPSNumber = 'ALL'
Begin
	Select 
		pps, fname + ' ' + sname As CandidateName, dob, spsv, Driv_lic_num, add1, add2, add3, city, county, 
		country, Know_County, contact_num, aPhoto, test_result, test_code, test_name, test_Centre, test_date, 
		test_time, test_dateTime, Date_Printed, issued_cert_num, recId, allowPrint, coreScore, coreResult, 
		aktScore, aktResult, ccsSent 
	From 
		dbo.rcs With (NoLock)
	Where
		Driv_Lic_Num <> '123123123123'
	Order By 
		coreResult Desc, aktResult Desc
End
Else
Begin
	Select 
		pps, fname + ' ' + sname As CandidateName, dob, spsv, Driv_lic_num, add1, add2, add3, city, county, 
		country, Know_County, contact_num, aPhoto, test_result, test_code, test_name, test_Centre, test_date, 
		test_time, test_dateTime, Date_Printed, issued_cert_num, recId, allowPrint, coreScore, coreResult, 
		aktScore, aktResult, ccsSent 
	From 
		dbo.rcs With (NoLock)
	Where 
		PPS = @PPSNumber 
	Order By 
		coreResult Desc, aktResult Desc
End
GO
