USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_ICABSChecks_SelectLastWeekSGS]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Mariana Vilau
-- Create date: 24-April-2012

=============================================
*/
CREATE Procedure [dbo].[USP_DWH_ICABSChecks_SelectLastWeekSGS]
				
As

Select 
	ECH.CheckId, E.EntityDescription, ECH.EntityIdNumber, ECH.CheckPassedYn, ECH.CreatedDate, ECH.AssociatedRefNumber, ECH.DriverLicenceNumber
	, ECL.CheckListItemDescription, ECHI.CheckPassedYn As ItemCheckPassedYn, IU.EnforcementOfficerName
From 
	dbo.DWH_EntityCheckHistory As ECH Inner Join dbo.DWH_EntityCheckHistoryItem As ECHI On ECH.CheckId = ECHI.CheckId 
	Inner Join dbo.DWH_EntityCheckList As ECL On ECHI.ChecklistItemId = ECL.CheckListItemId 
	Inner Join dbo.DWH_iCabsUsers As IU On ECH.UserId = IU.UserId 
	Inner Join dbo.DWH_Entity As E On ECH.EntityId = E.EntityId
Where 
	ECH.CreatedDate >= DateAdd(Day, -7, GetDate())
	and IU.FirstName = 'CS'
Order By 
	ECH.CreatedDate, ECL.CheckListItemDescription
GO
