USE [TRDWH]
GO
/****** Object:  Table [dbo].[LicenceMaster]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceMaster](
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[LicenceTypeID] [int] NOT NULL,
	[LicenceHolderId] [int] NOT NULL,
	[LicenceIssueDate] [datetime2](7) NOT NULL,
	[LicenceExpiryDate] [datetime2](7) NOT NULL,
	[RemainingLicenceValidityDays] [int] NULL,
	[GardaDivisionID] [int] NULL,
	[LicenceStateMasterID] [int] NULL,
	[LicenceStateID] [int] NOT NULL,
	[VehicleId] [int] NULL,
	[RemainingTransfers] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Comments] [int] NULL,
	[WatchList] [bit] NULL,
	[ApplicationReceivedDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
