USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_VEHICLE_COUNTY_DAILY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_VEHICLE_COUNTY_DAILY](
	[Status] [nvarchar](50) NULL,
	[impFileDay] [nvarchar](2) NULL,
	[impFileMonth] [nvarchar](2) NULL,
	[impFileYear] [nvarchar](4) NULL,
	[ASMANY] [int] NULL,
	[COUNTY] [nvarchar](50) NULL,
	[impFileDate] [smalldatetime] NULL
) ON [PRIMARY]
GO
