USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[DispatchOperator_Insert]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		opensky
-- Create date: 18.08.2016
-- Description:	There is procedure which adds Dispatch Operator to database (TRDWH db)
-- =============================================
CREATE PROCEDURE [dbo].[DispatchOperator_Insert]
(
	@CreatedBy nvarchar(50),
	@CompanyName nvarchar(max),
	@County nvarchar(50),
	@CompanyOwnerName nvarchar(max),
	@LicenceNumber nvarchar(10),
	@LicenceStatus nvarchar(50),
	@ValidFromDate datetime,
	@ExpiryDate datetime,
	@CompanyAddress1 nvarchar(max),
	@CompanyAddress2 nvarchar(max),
	@CompanyAddress3 nvarchar(max),
	@Id int
)
AS
BEGIN

DECLARE @Creation_Date datetime;
SET @Creation_Date = GETDATE();

insert into [dbo].[DispatchOperator]
           (CreatedBy, Creation_Date, SubmitDate, CompanyName,  County, CompanyOwnerName, 
            LicenceNumber, LicenceStatus, ValidFromDate, ExpiryDate,
            CompanyAddress1, CompanyAddress2, CompanyAddress3, CompanyID)           
           Values
           (@CreatedBy , @Creation_Date  ,  @Creation_Date , @CompanyName, @County, @CompanyOwnerName , 
           @LicenceNumber, @LicenceStatus, @ValidFromDate, @ExpiryDate,
           @CompanyAddress1, @CompanyAddress2, @CompanyAddress3, @Id)

END


GO
