USE [TRDWH]
GO
/****** Object:  Table [dbo].[PersonalDetails]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalDetails](
	[Licence] [nvarchar](50) NULL,
	[Firstname] [nvarchar](255) NULL,
	[Surname] [nvarchar](255) NULL,
	[Tradingas] [nvarchar](255) NULL,
	[Companyname] [nvarchar](255) NULL,
	[PPSN] [nvarchar](255) NULL,
	[Address1] [nvarchar](255) NULL,
	[Address2] [nvarchar](255) NULL,
	[Town] [nvarchar](255) NULL,
	[Postcode] [nvarchar](255) NULL,
	[County] [nvarchar](255) NULL,
	[_Similarity_HolderName] [float] NULL,
	[_Similarity_PPSN] [float] NULL,
	[_Similarity_Address1] [float] NULL,
	[_Similarity_Address2] [float] NULL,
	[_Similarity_Town] [float] NULL,
	[_Similarity_County] [float] NULL,
	[_key_out] [float] NULL,
	[_score] [float] NULL,
	[Note] [nvarchar](255) NULL
) ON [PRIMARY]
GO
