USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DWH_DO_GetCorrectAffiliateValueString]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[Fn_DWH_DO_GetCorrectAffiliateValueString](@number VarChar(50)) returns varchar(50)

As

Begin

declare @result varchar(50)

if @number = '0'  set @result =  '0' 
if @number = '1'  set @result =  '0'
if @number = '2'  set @result =  '1-5'
if @number = '3'  set @result =  '6-10'
if @number = '4'  set @result =  '11-15'
if @number = '5'  set @result =  '16-20'
if @number = '6'  set @result =  '21-30'
if @number = '7'  set @result =  '31-40'
if @number = '8'  set @result =  '41-60'
if @number = '9'  set @result =  '61-100'
if @number = '10'  set @result =  '100-200'
if @number = '11'  set @result =  'Over 200'
	
return @result

End 
GO
