USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_WATRegister]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_WATRegister

=============================================
*/
Create Procedure [dbo].[USP_DWH_WATRegister]

As

Select 
	LM.Plate_Nbr As Licence_Nbr, dbo.Fn_DWH_ProperCase(Case 
			When IsNull(LHM.Company, '') = '' Then 
				Case
					When IsNull(LTrim(RTrim(LHM.Title_Cd)), '') = '' Then LHM.First_Nm + ' ' + LHM.Last_Nm
					Else LTrim(RTrim(LHM.Title_Cd)) + ' ' + LHM.First_Nm + ' ' + LHM.Last_Nm
				End
			Else Company
		  End) As HolderName
	, dbo.Fn_DWH_ProperCase(LHM.Addr_1) As AddressLine1
	, dbo.Fn_DWH_ProperCase(LHM.Addr_2) As AddressLine2
	, dbo.Fn_DWH_ProperCase(LHM.Town) As Town
	, dbo.Fn_DWH_ProperCase(LHM.County) As County
	, Left(VM.Reg_Nbr, 2) + '-' + dbo.Fn_DWH_GetAlphaNumeric(Right(Left(VM.Reg_Nbr, 4), 2)) + '-' + Right(VM.Reg_Nbr, Len(VM.Reg_Nbr) - 2 - Len(dbo.Fn_DWH_GetAlphaNumeric(Right(Left(VM.Reg_Nbr, 4), 2)))) As Reg_Nbr
	, WR.Comments, dbo.Fn_DWH_ProperCase(WR.HoursOfOperation) As HoursOfOperation, dbo.Fn_DWH_ProperCase(WR.ServiceProvision) As ServiceProvision, WR.FaxNumber, dbo.Fn_DWH_ProperCase(WR.OtherBookingMethods) As OtherBookingMethods
	, dbo.Fn_DWH_ProperCase(WR.ServiceProvision1) As ServiceProvision1, LHM.MobileNumber, WR.MainContactTelephoneNumber, dbo.Fn_DWH_ProperCase(WR.DispatchOperator) As DispatchOperator, WR.EmailAddress
	, VM.NbrPassengers 
From 
	dbo.DWH_LicenceHolderMaster As LHM With (NoLock) Inner Join dbo.DWH_LicenceMaster As LM With (NoLock) On LHM.CCSN = LM.CCSN Inner Join dbo.DWH_VehicleMaster As VM With (NoLock) On LM.Reg_Nbr = VM.Reg_Nbr 
	Left Outer Join dbo.DWH_WatRegister As WR With (NoLock) On VM.Reg_Nbr = WR.Reg_Nbr 
Where 
	Upper(LM.SPSVCategoryId) = 'W' And Upper(LM.LicenceState) = 'ACTIVE'
Order By
	County, HolderName
GO
