USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_PMRes_GetAreaScoreByGrouping]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_PMRes_GetAreaScoreByGrouping '3386706B'

=============================================
*/
Create Procedure [dbo].[USP_PMRes_GetAreaScoreByGrouping]

As

Select (Select Count(aktScore) As Total From dbo.rcs Where IsNull(aktScore, '') <> '') As TotalTests, Test_Centre, 'Less Than 20' As ResultGroup, Count(*) As NumberOfPeople From dbo.rcs Where Cast(aktScore As Float) < 20 And IsNull(aktScore, '') <> '' Group By Test_Centre
Union All 
Select (Select Count(aktScore) As Total From dbo.rcs Where IsNull(aktScore, '') <> '') As TotalTests, Test_Centre, 'Between 20 & 40' As ResultGroup, Count(*) As NumberOfPeople From dbo.rcs Where Cast(aktScore As Float) Between 20 And 40 And IsNull(aktScore, '') <> '' Group By Test_Centre
Union All 
Select (Select Count(aktScore) As Total From dbo.rcs Where IsNull(aktScore, '') <> '') As TotalTests, Test_Centre, 'Between 40 & 60' As ResultGroup, Count(*) As NumberOfPeople From dbo.rcs Where Cast(aktScore As Float) Between 40 And 60 And IsNull(aktScore, '') <> '' Group By Test_Centre
Union All 
Select (Select Count(aktScore) As Total From dbo.rcs Where IsNull(aktScore, '') <> '') As TotalTests, Test_Centre, 'Between 60 & 80' As ResultGroup, Count(*) As NumberOfPeople From dbo.rcs Where Cast(aktScore As Float) Between 60 And 80 And IsNull(aktScore, '') <> '' Group By Test_Centre
Union All 
Select (Select Count(aktScore) As Total From dbo.rcs Where IsNull(aktScore, '') <> '') As TotalTests, Test_Centre, 'Between 80 & 100' As ResultGroup, Count(*) As NumberOfPeople From dbo.rcs Where Cast(aktScore As Float) Between 80 And 100 And IsNull(aktScore, '') <> '' Group By Test_Centre

GO
