USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_VehicleDriverName_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=============================================
-- Author:		Conor McNally
-- Create date: 17-Dec-2009
-- Description:	

Exec USP_DWH_VehicleDriverName_Select 'ohn bar'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_VehicleDriverName_Select]
	-- Add the parameters for the stored procedure here
	@VehicleDriverName NVarChar (150) = '' 

As

BEGIN

If IsNull(@VehicleDriverName, '') = ''
		Set @VehicleDriverName = '%'
		

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here

CREATE TABLE #temp_driver
(
	Licence varchar(20),
	HolderName varchar(150),
	RegNbr varchar(20),
	Area Varchar(50)
)
insert into #temp_driver (Licence, HolderName, RegNbr, Area)
(Select plate_nbr, first_nm + ' ' + last_nm, reg_nbr, county from dbo.DWH_LicenceHolderMaster As LHM With (NoLock) Inner Join dbo.DWH_LicenceMaster As LM With (NoLock) On LM.CCSN = LHM.CCSN)


Select Top 1000 
*
From 
	#temp_driver
where 
IsNull(HolderName, '') Like '%'+@VehicleDriverName+'%'
--FREETEXT (Full_Name, @VehicleDriverName )
	

END

GO
