USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[iCabs_GetDOInfo]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Dan Rusu
-- Create date: 18-Apr-2011
-- Description:	Returns all possible Status codes present in status table


=============================================
*/
CREATE PROCEDURE [dbo].[iCabs_GetDOInfo] 
				@LicenceNumber NVarChar (50) = ''
As
	
Select 
DO.LicenceNumber, 
DO.CompanyName, 
DO.CompanyOwnerName, 
DO.CompanyAddress1, 
DO.CompanyAddress2, 
DO.CompanyAddress3, 
DO.CompanyAddress4, 
DO.County, 
DO.CompanyPhoneNum
From 
	dbo.DispatchOperator As DO
Where 
	IsNull(DO.LicenceNumber, '') Like @LicenceNumber And LicenceStatus In ('AutoApproved')--, 'Incomplete', 'Pending', 'Rejected')
GO
