USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetTotalLicenceHolderDetails]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetTotalLicenceHolderDetails 'ACTIVE'

=============================================
*/
Create Procedure [dbo].[USP_DWH_GetTotalLicenceHolderDetails] 
				@Status NVarChar (50)
As

Set NoCount On;

	Select Sum(CategoryCount) As CategoryCount, IsNull(CategoryDescription, 'Not Categorised') As SPSVCategory From 
	(
		Select 
			Count(*) As CategoryCount, CategoryDescription 
		From 
			dbo.LICENCES_EXTRACT_ARCHIVE_ALL With (NoLock) Left Outer Join dbo.DWH_SPSVCategory With (NoLock) 
			On Left(dbo.LICENCES_EXTRACT_ARCHIVE_ALL.Licence_Nbr, 1) = dbo.DWH_SPSVCategory.CategoryId
		Where 
			impFileDate = (Select Max(impFileDate) From dbo.LICENCES_EXTRACT_ARCHIVE_ALL)
			And Status = @Status
		Group By
			Left(Licence_Nbr, 1), CategoryDescription
	) As SourceTbl
	Group By 
		IsNull(CategoryDescription, 'Not Categorised')

Set NoCount Off;
GO
