USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[iCabs_DOCounty_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
=============================================
-- Author:		Dan Rusu
-- Create date: 18-Apr-2011
-- Description:	
=============================================
*/
CREATE PROCEDURE [dbo].[iCabs_DOCounty_Select]
	-- Add the parameters for the stored procedure here
	@doCounty NVarChar (150) = '' 

As

Begin

Set NoCount On;

If IsNull(@doCounty, '') = ''
		Set @doCounty = '%'
		
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

Create Table #temp_do
(
	Licence varchar(20),
	Name varchar(150),
	Address1 Varchar(100),
	Address2 Varchar(100),
	Town Varchar(50),
	County Varchar(50)
)

Insert Into #temp_do (Licence, Name, Address1, Address2, Town, County)
(Select LicenceNumber, CompanyName, CompanyAddress1, CompanyAddress2, CompanyAddress3, County 
From dbo.DispatchOperator Where LicenceStatus In ('AutoApproved')--, 'Incomplete', 'Pending', 'Rejected') 
And County Like '%' + @doCounty + '%')

Set NoCount Off;

Select 
	*
From 
	#temp_do

End
GO
