USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_ImportVehiclesFromCabsProduction]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Mariana Vilau>
-- Create date: <Create Date, 26/01/2012>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_ImportVehiclesFromCabsProduction]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET IDENTITY_INSERT dbo.DWH_LicenceHolderMaster on

	Declare @ErrMsg NVarChar (Max)

	BEGIN TRANSACTION vehicleImportFromCabsProd

	BEGIN TRY

	delete from dbo.DWH_LicenceHolderMaster

	delete from dbo.DWH_LicenceMaster

	delete from dbo.DWH_VehicleMaster
	
	delete from dbo.DWH_RentalAgreement
	
	delete from dbo.DWH_DVLinks

	--insert holders
	INSERT INTO [dbo].[DWH_LicenceHolderMaster]
           ([LicenceHolderURN],
           [CCSN]
           ,[Title_Cd]
           ,[First_Nm]
           ,[Last_Nm]
           ,[Addr_1]
           ,[Addr_2]
           ,[Addr_3]
           ,[Town]
           ,[PostCode]
           ,[County]
           ,[Company_Number]
           ,[Company]
           ,[TradingAs]
           ,[PhoneNumber]
           ,[MobileNumber]
           ,[Pps_Number]
           ,[TaxClearanceNumber]
           ,[TaxClearanceExpiryDate]
           ,[CreatedBy]
           ,[CreatedDate]
           ,[ModifiedBy]
           ,[ModifiedDate])
	           
		SELECT [LicenceHolderURN]
      ,[CCSN]
      ,[Title_Cd]
      ,[First_Nm]
      ,[Last_Nm]
      ,[Addr_1]
      ,[Addr_2]
      ,[Addr_3]
      ,[Town]
      ,[PostCode]
      ,[County]
      ,[Company_Number]
      ,[Company]
      ,[TradingAs]
      ,[PhoneNumber]
      ,[MobileNumber]
      ,[Pps_Number]
      ,[TaxClearanceNumber]
      ,[TaxClearanceExpiryDate]
      ,[CreatedBy]
      ,[CreatedDate]
      ,[ModifiedBy]
      ,[ModifiedDate]
  FROM [dbo].[Temp_DWH_LicenceHolderMaster]


	--insert licences
	INSERT INTO [dbo].[DWH_LicenceMaster]	          
		 select * from [dbo].[Temp_DWH_LicenceMaster]
		 
		 --update status to lower case for iCabs
		 update dbo.DWH_LicenceMaster
			set LicenceState = 'Active'
			where LicenceState = 'ACTIVE'



	--insert vehicles
	INSERT INTO [dbo].[DWH_VehicleMaster]	          
	SELECT * from [dbo].[Temp_DWH_VehicleMaster]
	
	insert into dbo.DWH_RentalAgreement
	select * from dbo.Temp_DWH_RentalAgreement
	
	insert into dbo.DWH_DVLinks 
	select * from dbo.Temp_DWH_DVLinks

	delete from dbo.Temp_DWH_LicenceHolderMaster

	delete from dbo.Temp_DWH_LicenceMaster

	delete from dbo.Temp_DWH_VehicleMaster
	
	delete from dbo.Temp_DWH_RentalAgreement

	delete from dbo.Temp_DWH_DVLinks

	COMMIT TRANSACTION  vehicleImportFromCabsProd

	END TRY
	BEGIN CATCH
	Set @ErrMsg = Error_Message()
	ROLLBACK TRANSACTION vehicleImportFromCabsProd

	Exec msdb.dbo.sp_send_dbmail @recipients = 'dsync@taxiregulator.ie; drusu@taxiregulator.ie; devsupport@nationaltransport.ie'
			, @Subject = 'Vehicle Import Process from Cabs_Production Failed'
			, @Body = @ErrMsg
			, @Profile_Name = 'Alerts'
			, @Body_Format = 'HTML';

	END Catch	
END

GO
