USE [TRDWH]
GO
/****** Object:  Table [dbo].[DriverImages]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverImages](
	[ImageID] [int] NOT NULL,
	[PPSN] [varchar](20) NOT NULL,
	[ImageContent] [varbinary](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
