USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[usp_DWH_EntityAuditHistory_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=============================================
-- Author:		
-- Create date: 
-- Description:	

Exec usp_DWH_EntityAuditHistory_Select 1, 1

=============================================
*/
CREATE PROCEDURE [dbo].[usp_DWH_EntityAuditHistory_Select]
				 @IdNumber VarChar (50)
				, @EntityId TinyInt
As

Begin

Select Top 6 
	E.EntityDescription, ECH.CheckId, ECH.CheckPassedYn, Left(Convert(VarChar, ECH.CreatedDate, 113), 17) As CreatedDate, ICU.EnforcementOfficerName As [User], AssociatedRefNumber, DriverLicenceNumber 
From 
	dbo.DWH_EntityCheckHistory As ECH Inner Join dbo.DWH_Entity As E 
	On ECH.EntityId = E.EntityId Inner Join dbo.DWH_iCABSUsers AS ICU 
	On ECH.UserId = ICU.UserId 
Where 
	ECH.EntityId = @EntityId And ECH.EntityIdNumber = @IdNumber
Order By 
	ECH.CreatedDate Desc

End
GO
