USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DWH_CheckPPSN]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[Fn_DWH_CheckPPSN](@PPSN VarChar(50)) Returns Bit

As

Begin
	Declare @Index Int
			, @Char Char(1)
			, @RunningCount Int
			, @String VarChar(50)
			, @OutputString VarChar(50)
			, @Result bit			
			, @AlphabeticalCharacters VarChar (26)
			
		
	Set @AlphabeticalCharacters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
	Set @OutputString = SubString(@PPSN, 1, 7)
	Set @String = Reverse(SubString(@OutputString, 1, 7))
	Set @Index = 1
	Set @RunningCount = 0
	
	If Len(@String) < 7
	Begin
		Set @String = ''
	End
	Else
	Begin
		If Not IsNumeric(@String) = 1
		Begin
			Set @String = ''
		End
	End

	While @Index <= Len(@String)
	Begin
		Set @Char = SubString(@String, @Index, 1)
		If IsNumeric(@Char) = 1
		Begin
			Set @RunningCount = @RunningCount + (Cast(@Char As Int) * (@Index + 1))
		End
		Else
		Begin
			Set @String = ''
		End
		
		Set @Index = @Index + 1
	End
	
	-- Returns a number that corresponds to char in alphabet
	Set @RunningCount = @RunningCount % 23
	
	If @RunningCount = 0  --remainder zero means 23
	Begin
		Set @RunningCount = 23
	End

	If @OutputString <> ''
	Begin 
		Set @OutputString = @OutputString + SubString(@AlphabeticalCharacters, @RunningCount, 1)
		if @OutputString = @PPSN
			set @Result = 1
		else
			set @Result = 0
	End
	else
	Begin
		set @result = 0
	End
		
Return @result
	
End 
GO
