USE [TRDWH]
GO
/****** Object:  Table [dbo].[Person_County]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person_County](
	[CountyId] [int] NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
	[CountyName] [varchar](20) NOT NULL,
	[CountyIrishName] [nvarchar](50) NULL,
	[HasPostCode] [bit] NOT NULL,
 CONSTRAINT [PK_County] PRIMARY KEY CLUSTERED 
(
	[CountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
