USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_VEH_COUNTY_2009]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_VEH_COUNTY_2009](
	[County] [nvarchar](50) NULL,
	[Jan] [int] NULL,
	[Feb] [int] NULL,
	[Mar] [int] NULL,
	[Apr] [int] NULL,
	[May] [int] NULL,
	[Jun] [int] NULL,
	[Jul] [int] NULL,
	[Aug] [int] NULL,
	[Sep] [int] NULL,
	[Oct] [int] NULL,
	[Nov] [int] NULL,
	[Dec] [int] NULL,
	[Total] [int] NULL
) ON [PRIMARY]
GO
