USE [TRDWH]
GO
/****** Object:  Table [dbo].[SupportCases]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportCases](
	[Id] [int] NOT NULL,
	[CallerId] [numeric](18, 0) NULL,
	[TaxiReg_Id] [numeric](18, 0) NULL,
	[Created_By] [nvarchar](50) NULL,
	[FirstName] [nvarchar](255) NULL,
	[Surname] [nvarchar](255) NULL,
	[Address1] [nvarchar](255) NULL,
	[Address2] [nvarchar](255) NULL,
	[Address3] [nvarchar](255) NULL,
	[Address4] [nvarchar](255) NULL,
	[County] [nvarchar](255) NULL,
	[Country] [nvarchar](100) NULL,
	[CompanyName] [nvarchar](255) NULL,
	[HomeTel] [nvarchar](50) NULL,
	[MobileTel] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Vehicle_Reg] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Creation_Date] [datetime] NULL,
	[Call_Comments] [ntext] NULL,
	[Class3] [nvarchar](255) NULL,
	[Licence_No] [nvarchar](50) NULL,
	[Licence_Expiry] [nvarchar](50) NULL,
	[ClosedDate] [datetime] NULL,
	[ClosedByUsername] [nvarchar](256) NULL,
	[StateId] [int] NOT NULL,
	[StateNote] [ntext] NULL,
	[IsClosed] [bit] NULL,
	[Notes] [ntext] NULL,
	[ConfirmationLetterRequired] [bit] NULL,
	[ConfirmationLetterSentDate] [datetime] NULL,
	[ConfirmationLetterSentByUsername] [nvarchar](256) NULL,
	[Priority] [smallint] NULL,
	[LastUpdatedDate] [datetime] NULL,
	[QueryCategory] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
