USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetLicenceHolderDetails]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetLicenceHolderDetails 'H10002'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetLicenceHolderDetails]
				@LicenceNumber NVarChar (50)
As

Select 
		CCSN
		, Licence_Nbr
		, Plate_Nbr
		, Old_Plate_Nbr
		, Company_Number
		, Case 
			When IsNull(Company, '') = '' Then 
				Case
					When IsNull(LTrim(RTrim(Title_Cd)), '') = '' Then First_Nm + ' ' + Last_Nm
					Else Title_Cd + ' ' + First_Nm + ' ' + Last_Nm
				End
			Else Company
		  End As HolderName
		, Addr_1
		, Addr_2
		, Town
		, County
		, [Status]
		, Authority
		, ExpiryDate
		, PhoneNumber
		, MobileNumber
		, Pps_Number
		, Refused_Mobile_No
		, IssueDate
		, TestCentre
		, TaxClearanceNumber
		, TaxClearanceExpiryDate
From 
	dbo.DWH_LicenceHolderMaster With (NoLock)
Where 
	Licence_Nbr = @LicenceNumber
GO
