USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_CREATE_VEHICLE_MONTHLY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_CREATE_VEHICLE_MONTHLY]
AS
BEGIN

INSERT DWH_VEHICLE_MONTHLY
SELECT DISTINCT impFileDate, 
CASE
WHEN impFileMonth = '01'
THEN 'Dec ' + LEFT(impFileYear, 1) + CAST((CAST(ImpFileYear AS int) - 1) AS nvarchar(2))
WHEN impFileMonth = '02'
THEN 'Jan ' + impFileYear
WHEN impFileMonth = '03'
THEN 'Feb ' + impFileYear
WHEN impFileMonth = '04'
THEN 'Mar ' + impFileYear
WHEN impFileMonth = '05'
THEN 'Apr ' + impFileYear
WHEN impFileMonth = '06'
THEN 'May ' + impFileYear
WHEN impFileMonth = '07'
THEN 'Jun ' + impFileYear
WHEN impFileMonth = '08'
THEN 'Jul ' + impFileYear
WHEN impFileMonth = '09'
THEN 'Aug ' + impFileYear
WHEN impFileMonth = '10'
THEN 'Sep ' + impFileYear
WHEN impFileMonth = '11'
THEN 'Oct ' + impFileYear
WHEN impFileMonth = '12'
THEN 'Nov ' + impFileYear
END AS ReportMonth, impFileDay, impFileMonth, impFileYear, 
CASE
WHEN impFileMonth IN ('02', '03', '04')
THEN 1
WHEN impFileMonth IN ('05', '06', '07')
THEN 2
WHEN impFileMonth IN ('08', '09', '10')
THEN 3
WHEN impFileMonth IN ('01', '11', '12')
THEN 4
END AS impFileQuarter, NULL FROM dbo.LICENCES_EXTRACT_EOM
ORDER BY impFileDate DESC

DECLARE @Column nvarchar(50)

DECLARE Create_Monthly_VEH_Table CURSOR FOR 

SELECT DISTINCT 
CASE
WHEN Status = ''
THEN 'NA' 
ELSE REPLACE(Status, ' ', '')
END AS Status
FROM dbo.LICENCES_EXTRACT_EOM
ORDER BY Status

OPEN Create_Monthly_VEH_Table 

FETCH NEXT FROM Create_Monthly_VEH_Table INTO @Column

WHILE @@FETCH_STATUS = 0
BEGIN

EXEC ('ALTER TABLE DWH_VEHICLE_MONTHLY ADD ' + @Column + ' int')

FETCH NEXT FROM Create_Monthly_VEH_Table INTO @Column
END

CLOSE Create_Monthly_VEH_Table 
DEALLOCATE Create_Monthly_VEH_Table 

DECLARE @Status nvarchar(50)
DECLARE @DDate int
DECLARE @MDate int
DECLARE @YDate int
DECLARE @Date smalldatetime
DECLARE @COUNT int

DECLARE Create_Monthly_VEH_Table2 CURSOR FOR 

SELECT CASE WHEN Status = '' THEN 'NA' ELSE REPLACE(Status, ' ', '') END AS Status, 
impFileDay, impFileMonth, impFileYear, COUNT(*) AS ASMANY, impFileDate FROM
dbo.LICENCES_EXTRACT_EOM
GROUP BY Status, impFileDate, impFileDay, impFileMonth, impFileYear
ORDER BY impFileDate DESC, Status ASC

OPEN Create_Monthly_VEH_Table2 

FETCH NEXT FROM Create_Monthly_VEH_Table2 INTO @Status, @DDate, @MDate, @Ydate, @COUNT, @Date

WHILE @@FETCH_STATUS = 0
BEGIN

EXEC ('UPDATE DWH_VEHICLE_MONTHLY SET ' + @Status + ' = ' + @COUNT + ' WHERE impFileDay = ' + @DDate + ' AND impFileMonth = ' + @MDate + ' AND impFileYear = ' + @YDate)

UPDATE DWH_VEHICLE_MONTHLY
SET Total = (SELECT COUNT(*) FROM dbo.LICENCES_EXTRACT_EOM WHERE impFileDay = @DDate AND impFileMonth = @MDate AND impFileYear = @YDate)
WHERE impFileDay = @DDate AND impFileMonth = @MDate AND impFileYear = @YDate

FETCH NEXT FROM Create_Monthly_VEH_Table2 INTO @Status, @DDate, @MDate, @Ydate, @COUNT, @Date
END

CLOSE Create_Monthly_VEH_Table2 
DEALLOCATE Create_Monthly_VEH_Table2


END
GO
