USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_BUILD_FINES_MONTHLY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Max Cottica>
-- Create date: <01/05/2009>
-- Description:	<Creates base for Fines monthly report>

-- Exec [dbo].[SP_DWH_BUILD_FINES_MONTHLY]

-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_BUILD_FINES_MONTHLY]

AS
BEGIN

	SET NOCOUNT ON;
-- rh, this is a hack to get the original fine dates back - has to do with manual workaround process and appeals - the issue date gets moved to the date of successful appeal to allow driver additional time to pay up
--Update dbo.Fines Set FineDate = '06/08/2009' Where FineId = '12057'
--Update dbo.Fines Set FineDate = '18/08/2009' Where FineId = '12062'


/*===============================================================
RH also cater for the rescinded fines but don't add them into the totals
*/

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DWH_RescindedFines]') AND type in (N'U'))
DROP TABLE [dbo].[DWH_RescindedFines]

CREATE TABLE [dbo].[DWH_RescindedFines](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[Fine] int NULL,
	[FineCategory] [nvarchar](MAX) NULL,
	[fineDate] [nvarchar](50) NULL,
	[fineMonth] [nvarchar](50) NULL,
	[Paid]	nvarchar(1) NULL,
	[Officer]	nvarchar(50) NULL
) ON [PRIMARY]

SET DATEFORMAT DMY

INSERT dbo.DWH_RescindedFines
SELECT count(*) AS Fine,
CASE
WHEN fine = '' OR fine is null
THEN 'N/A - NO RECORD ON FILE.'
ELSE fine
END AS FineCategory, 
CAST(finedate AS smalldatetime) AS fineDate, 
NULL,
Paid,
enforcementOfficer AS Officer
FROM dbo.RescindedFines
WHERE finedate is not null AND Fine is not null
GROUP BY fine, CAST(finedate AS smalldatetime), Paid, enforcementOfficer, isWarn
ORDER BY CAST(finedate AS smalldatetime) DESC

UPDATE dbo.DWH_RescindedFines
SET finedate = REPLACE(finedate, RIGHT(fineDate, 8) , '')

UPDATE dbo.DWH_RescindedFines
SET fineMonth = REPLACE(finedate, SUBSTRING(finedate, 5, 5), '')

/*===============================================================*/

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DWH_FINES]') AND type in (N'U'))
DROP TABLE [dbo].[DWH_FINES]

CREATE TABLE [dbo].[DWH_FINES](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[Fine] int NULL,
	[FineCategory] [nvarchar](MAX) NULL,
	[fineDate] [nvarchar](50) NULL,
	[fineMonth] [nvarchar](50) NULL,
	[Paid]	nvarchar(1) NULL,
	[Officer]	nvarchar(50) NULL
) ON [PRIMARY]

SET DATEFORMAT DMY

INSERT dbo.DWH_FINES
SELECT count(*) AS Fine,
CASE
WHEN fine = '' OR fine is null
THEN 'N/A - NO RECORD ON FILE.'
ELSE fine
END AS FineCategory, 
CAST(finedate AS smalldatetime) AS fineDate, 
NULL,
Paid,
enforcementOfficer AS Officer
FROM dbo.FINES
WHERE finedate is not null AND Fine is not null
GROUP BY fine, CAST(finedate AS smalldatetime), Paid, enforcementOfficer, isWarn
ORDER BY CAST(finedate AS smalldatetime) DESC

UPDATE dbo.DWH_FINES
SET finedate = REPLACE(finedate, RIGHT(fineDate, 8) , '')

UPDATE dbo.DWH_FINES
SET fineMonth = REPLACE(finedate, SUBSTRING(finedate, 5, 5), '')

DECLARE @String nvarchar(3)
DECLARE GETLICENSES CURSOR
FOR
SELECT LEFT(Offences, 3)
FROM dbo.DWH_FINES_MONTHLY
ORDER BY LEFT(Offences, 3)
OPEN GETLICENSES
FETCH NEXT
FROM GETLICENSES INTO @String
WHILE @@FETCH_STATUS = 0
BEGIN

UPDATE dbo.DWH_FINES_MONTHLY
SET Jan = (
SELECT IsNull(Sum(Fine), 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Jan'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Feb = (
SELECT IsNull(Sum(Fine), 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Feb'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Mar = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Mar'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Apr = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Apr'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET May = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'May'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Jun = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Jun'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Jul = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Jul'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Aug = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Aug'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Sep = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Sep'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String
UPDATE dbo.DWH_FINES_MONTHLY
SET Oct = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Oct'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Nov = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String--'D01'
AND LEFT(fineMonth, 3) = 'Nov'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET [Dec] = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Dec'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Total = (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES
WHERE LEFT(FineCategory, 3) = @String
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

/*****************************************************************************
This also includes the newly captured Rescinded fines (rh, 6/aug/2009)
*****************************************************************************/
UPDATE dbo.DWH_FINES_MONTHLY
SET Jan = Jan + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Jan'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Feb = Feb + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Feb'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Mar = Mar + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Mar'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Apr = Apr + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Apr'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET May = May + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'May'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Jun = Jun + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Jun'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Jul = Jul + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Jul'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Aug = Aug + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Aug'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Sep = Sep + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Sep'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String
UPDATE dbo.DWH_FINES_MONTHLY
SET Oct = Oct + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Oct'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Nov = Nov + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String--'D01'
AND LEFT(fineMonth, 3) = 'Nov'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET [Dec] = [Dec] + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND LEFT(fineMonth, 3) = 'Dec'
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

UPDATE dbo.DWH_FINES_MONTHLY
SET Total = Total + (
SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_RescindedFines
WHERE LEFT(FineCategory, 3) = @String
AND RIGHT(fineDate, 4) = DATEPART(yyyy, getDate())
)
WHERE LEFT(Offences, 3) = @String

/*****************************************************************************/

FETCH NEXT
FROM GETLICENSES INTO @String
END
CLOSE GETLICENSES
DEALLOCATE GETLICENSES

UPDATE dbo.DWH_FINES_MONTHLY
SET Jan = (SELECT IsNull(Sum(Jan) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Feb = (SELECT IsNull(Sum(Feb) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Mar = (SELECT IsNull(Sum(Mar) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Apr = (SELECT IsNull(Sum(Apr) , 0) FROM dbo.DWH_FINES_MONTHLY),
	May = (SELECT IsNull(Sum(May) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Jun = (SELECT IsNull(Sum(Jun) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Jul = (SELECT IsNull(Sum(Jul) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Aug = (SELECT IsNull(Sum(Aug) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Sep = (SELECT IsNull(Sum(Sep) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Oct = (SELECT IsNull(Sum(Oct) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Nov = (SELECT IsNull(Sum(Nov) , 0) FROM dbo.DWH_FINES_MONTHLY),
	[Dec] = (SELECT IsNull(Sum([Dec]) , 0) FROM dbo.DWH_FINES_MONTHLY),
	Total = (SELECT IsNull(Sum(Total) , 0) FROM dbo.DWH_FINES_MONTHLY)
WHERE LEFT(Offences, 3) = 'T01'

UPDATE dbo.DWH_FINES_MONTHLY
SET Jan = (SELECT Jan FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Feb = (SELECT Jan + Feb FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Mar = (SELECT Jan + Feb + Mar FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Apr = (SELECT Jan + Feb + Mar + Apr FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	May = (SELECT Jan + Feb + Mar + Apr + May FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Jun = (SELECT Jan + Feb + Mar + Apr + May + Jun FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Jul = (SELECT Jan + Feb + Mar + Apr + May + Jun + Jul FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Aug = (SELECT Jan + Feb + Mar + Apr + May + Jun + Jul + Aug FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Sep = (SELECT Jan + Feb + Mar + Apr + May + Jun + Jul + Aug + Sep FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Oct = (SELECT Jan + Feb + Mar + Apr + May + Jun + Jul + Aug + Sep + Oct FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Nov = (SELECT Jan + Feb + Mar + Apr + May + Jun + Jul + Aug + Sep + Oct + Nov FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	[Dec] = (SELECT Jan + Feb + Mar + Apr + May + Jun + Jul + Aug + Sep + Oct + Nov + [Dec] FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) = 'T01'),
	Total = (SELECT IsNull(Sum(Total) , 0) FROM dbo.DWH_FINES_MONTHLY WHERE LEFT(Offences, 3) <> 'T01')
WHERE LEFT(Offences, 3) = 'T02'

-- rh, this iswarn is used to display the legal cat on TR_ENF_001 - not relevant but leaving since it's part of the process and used elsewhere (and under time constraint)
DELETE dbo.DWH_ISWARN

INSERT dbo.DWH_ISWARN
SELECT COUNT(*) AS Total, 
RIGHT(fineDate, 4) AS [Year]
FROM dbo.FINES
WHERE finedate IS NOT NULL
AND IsWarn = '1' OR IsWarn = 'Y'
GROUP BY RIGHT(fineDate, 4)

DELETE dbo.DWH_FINES_BY_YEAR

INSERT dbo.DWH_FINES_BY_YEAR
SELECT IsNull(Sum(Fine) , 0) AS TotalFines,
CASE
WHEN RIGHT(FineDate, 4) = 2007
THEN (SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES WHERE Paid = 'N' AND RIGHT(FineDate, 4) = 2007)
WHEN RIGHT(FineDate, 4) = 2008
THEN (SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES WHERE Paid = 'N' AND RIGHT(FineDate, 4) = 2008)
WHEN RIGHT(FineDate, 4) = 2009
THEN (SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES WHERE Paid = 'N' AND RIGHT(FineDate, 4) = 2009)
WHEN RIGHT(FineDate, 4) = 2010
THEN (SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES WHERE Paid = 'N' AND RIGHT(FineDate, 4) = 2010)
END AS Unpaid,
CASE
WHEN RIGHT(FineDate, 4) = 2007
THEN (SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES WHERE Paid = 'Y' AND RIGHT(FineDate, 4) = 2007)
WHEN RIGHT(FineDate, 4) = 2008
THEN (SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES WHERE Paid = 'Y' AND RIGHT(FineDate, 4) = 2008)
WHEN RIGHT(FineDate, 4) = 2009
THEN (SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES WHERE Paid = 'Y' AND RIGHT(FineDate, 4) = 2009)
WHEN RIGHT(FineDate, 4) = 2010
THEN (SELECT IsNull(Sum(Fine) , 0) FROM dbo.DWH_FINES WHERE Paid = 'Y' AND RIGHT(FineDate, 4) = 2010)
END AS Paid,
RIGHT(FineDate, 4) AS [Year],
CASE
WHEN RIGHT(FineDate, 4) = 2007
THEN (SELECT CAST(IsNull(Sum(Fine) , 0) * 250 as money)  FROM dbo.DWH_FINES WHERE Paid = 'Y' AND RIGHT(FineDate, 4) = 2007)
WHEN RIGHT(FineDate, 4) = 2008
THEN (SELECT CAST(IsNull(Sum(Fine) , 0) * 250 as money)  FROM dbo.DWH_FINES WHERE Paid = 'Y' AND RIGHT(FineDate, 4) = 2008)
WHEN RIGHT(FineDate, 4) = 2009
THEN (SELECT CAST(IsNull(Sum(Fine) , 0) * 250 as money)  FROM dbo.DWH_FINES WHERE Paid = 'Y' AND RIGHT(FineDate, 4) = 2009)
WHEN RIGHT(FineDate, 4) = 2010
THEN (SELECT CAST(IsNull(Sum(Fine) , 0) * 250 as money)  FROM dbo.DWH_FINES WHERE Paid = 'Y' AND RIGHT(FineDate, 4) = 2010)
END AS Revenue,
b.Total AS Legal
FROM dbo.DWH_FINES a
JOIN dbo.dwh_iswarn b
ON RIGHT(FineDate, 4) = b.[Year]
GROUP BY RIGHT(FineDate, 4), b.Total
ORDER BY RIGHT(FineDate, 4)


/***********************************************************************************
Start adding rescinded fines into total, rh 6/aug/2009
***********************************************************************************/
Update FBY
Set FBY.TotalFines = FBY.TotalFines + SourceTbl.TotalFines
From dbo.DWH_FINES_BY_YEAR As FBY Inner Join 
(SELECT IsNull(Sum(Fine) , 0) AS TotalFines,
RIGHT(FineDate, 4) AS [Year]
FROM dbo.DWH_RescindedFines a
GROUP BY RIGHT(FineDate, 4)
) As SourceTbl On FBY.[Year] = SourceTbl.[Year]

/**********************************************************************************/

-- rh, this is a hack to get the auto generated figures to match the manually gen figs
-- due to rescinded fines and inaccuracies in early reporting
Update dbo.DWH_FINES_BY_YEAR Set Unpaid = 21 Where Year = 2007
Update dbo.DWH_FINES_BY_YEAR Set Paid = 35 Where Year = 2007
Update dbo.DWH_FINES_BY_YEAR Set TotalFines = 56 Where Year = 2007

Update dbo.DWH_FINES_BY_YEAR Set TotalFines = 258 Where Year = 2008

END
GO
