USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DWH_DO_GetCorrectAffiliateValueMin]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[Fn_DWH_DO_GetCorrectAffiliateValueMin](@number VarChar(50)) returns int

As

Begin

declare @result int

if @number = '0'  set @result =  0 
if @number = '1'  set @result =  0
if @number = '2'  set @result =  1
if @number = '3'  set @result =  6
if @number = '4'  set @result =  11
if @number = '5'  set @result =  16
if @number = '6'  set @result =  21
if @number = '7'  set @result =  31
if @number = '8'  set @result =  41
if @number = '9'  set @result =  61
if @number = '10'  set @result =  100
if @number = '11'  set @result =  200
	
return @result

End 
GO
