USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_VehicleExtract_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_VehicleExtract_Select '2010-Mar-01', '2010-Mar-31 23:59', 'Grant of full Active Licence'

=============================================
*/
Create Procedure [dbo].[USP_DWH_VehicleExtract_Select]
			@County VarChar (50)
			, @Town VarChar (50)
			, @VehicleRegistrationNumber VarChar (50)
			, @Make VarChar (50)
			, @Model VarChar (50)
			, @Colour VarChar (50)

As

If IsNull(@County, '') = 'ALL'
	Set @County = '%'
	
If IsNull(@Town, '') = ''
	Set @Town = '%'
	
If IsNull(@VehicleRegistrationNumber, '') = ''
	Set @VehicleRegistrationNumber = '%'
	
If IsNull(@Make, '') = 'ALL'
	Set @Make = '%'
	
If IsNull(@Model, '') = 'ALL'
	Set @Model = '%'
	
If IsNull(@Colour, '') = 'ALL'
	Set @Colour = '%'
	
Select 
	VM.Reg_Nbr As VehicleRegistrationNumber, LM.Plate_Nbr As VehicleLicenceNumber, CategoryDescription As VehicleLicenceType,
		dbo.Fn_DWH_ProperCase(Case 
			When IsNull(LHM.Company, '') = '' Then 
				Case
					When IsNull(LTrim(RTrim(LHM.Title_Cd)), '') = '' Then LTrim(RTrim(LHM.First_Nm)) + ' ' + LTrim(RTrim(LHM.Last_Nm))
					Else LTrim(RTrim(LHM.Title_Cd)) + ' ' + LTrim(RTrim(LHM.First_Nm)) + ' ' + LTrim(RTrim(LHM.Last_Nm))
				End
			Else LHM.Company
		  End) As VehicleLicenceHolderName, dbo.Fn_DWH_ProperCase(LHM.Addr_1) As Address1, dbo.Fn_DWH_ProperCase(IsNull(LHM.Addr_2, '')) As Address2, 
		  dbo.Fn_DWH_ProperCase(IsNull(LHM.Town, '')) As Town, dbo.Fn_DWH_ProperCase(LHM.County) As County, 
		dbo.Fn_DWH_ProperCase(LM.LicenceState) As LicenceStatus, IsNull(LM.ExpiryDate, '') As ExpiryDate, IsNull(LTrim(RTrim(LHM.MobileNumber)), '') As MobileNumber, 
		IsNull(LTrim(RTrim(LHM.PhoneNumber)), '') As PhoneNumber, dbo.Fn_DWH_ProperCase(VM.Make) As Make, dbo.Fn_DWH_ProperCase(VM.Model) As Model, 
		dbo.Fn_DWH_ProperCase(VM.Colour) As Colour, VM.NbrPassengers As NbrSeats 
From 
	dbo.DWH_VehicleMaster As VM With (NoLock) Inner Join dbo.DWH_LicenceMaster As LM With (NoLock) On VM.Reg_Nbr = LM.Reg_Nbr 
	Inner Join dbo.DWH_LicenceHolderMaster As LHM With (NoLock) On LM.CCSN = LHM.CCSN Inner Join dbo.DWH_SPSVCategory As CD On LM.SPSVCategoryId = CD.CategoryId
Where 
	Colour Like @Colour And Make Like @Make  And Model Like @Model And LM.Reg_Nbr Like '%' + @VehicleRegistrationNumber + '%'
	And LHM.County Like '%' + @County + '%' And ((LHM.Town Like @Town) Or (IsNull(LHM.Town, '') Like ''))
Order By 
	Plate_Nbr
GO
