USE [TaxiReg]
GO
/****** Object:  Table [dbo].[ClassPermutationMatrix]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassPermutationMatrix](
	[Class1_ID] [int] NULL,
	[Class2_ID] [int] NULL,
	[Class3_ID] [int] NULL,
	[Class4_ID] [int] NULL,
	[Refer_To] [numeric](18, 0) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
