USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Mail_To_List]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail_To_List](
	[Mail_ID] [numeric](18, 0) NULL,
	[Mail_To_Email] [varchar](100) NULL
) ON [PRIMARY]
GO
