USE [TaxiReg]
GO
/****** Object:  Table [dbo].[CertificateHolder]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificateHolder](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CompanyID] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[Creation_Date] [datetime] NULL,
	[EditedBy] [varchar](50) NULL,
	[EditDate] [datetime] NULL,
	[PPSNumber] [varchar](20) NULL,
	[FirstName] [varchar](75) NULL,
	[Surname] [varchar](100) NULL,
	[DateOfBirth] [varchar](15) NULL,
	[SPSV] [varchar](100) NULL,
	[DriverLicenceNumber] [varchar](20) NULL,
	[Address1] [varchar](150) NULL,
	[Address2] [varchar](150) NULL,
	[Address3] [varchar](150) NULL,
	[City] [varchar](150) NULL,
	[County] [varchar](150) NULL,
	[Country] [varchar](150) NULL,
	[KnowledgeCounty] [varchar](150) NULL,
	[ContactNum] [varchar](30) NULL,
	[TestResult] [varchar](30) NULL,
	[TestName] [varchar](150) NULL,
	[TestCode] [varchar](30) NULL,
	[DatePrinted] [varchar](50) NULL,
	[CertNumber] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[PositionOther] [varchar](50) NULL,
	[CoreScore] [varchar](50) NULL,
	[CoreResult] [varchar](50) NULL,
	[AKTScore] [varchar](50) NULL,
	[AKTResult] [varchar](50) NULL,
 CONSTRAINT [PK_CertificateHolder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
