USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Colours]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colours](
	[Colour] [varchar](50) NULL,
	[Colour_HTML] [varchar](50) NULL
) ON [PRIMARY]
GO
