USE [TaxiReg]
GO
/****** Object:  Table [dbo].[QuerySource]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuerySource](
	[QuerySourceID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QuerySource] [varchar](255) NULL,
	[CallerType] [numeric](18, 0) NULL,
 CONSTRAINT [PK_QuerySource] PRIMARY KEY CLUSTERED 
(
	[QuerySourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
