USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Message_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Created_By] [varchar](50) NULL,
	[Creation_Date_Triggered] [datetime] NULL,
	[Edited_By] [varchar](50) NULL,
	[Edit_Date] [datetime] NULL,
	[Message] [varchar](8000) NULL,
	[Active] [int] NULL,
	[Priority] [varchar](50) NULL,
	[Colour] [varchar](50) NULL,
	[Colour_HTML] [varchar](50) NULL,
	[Alert] [int] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Message_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
