USE [TaxiReg]
GO
/****** Object:  Table [dbo].[File_Upload]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_Upload](
	[File_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TaxiReg_ID] [numeric](18, 0) NULL,
	[Filename] [varchar](500) NULL,
	[Uploaded_By] [varchar](50) NULL,
	[Upload_Date] [datetime] NULL,
	[Extension] [varchar](50) NULL,
	[Full_FileName] [varchar](500) NULL,
	[Resources_Filename] [varchar](500) NULL,
 CONSTRAINT [PK_File_Upload] PRIMARY KEY CLUSTERED 
(
	[File_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
