USE [TaxiReg]
GO
/****** Object:  Table [dbo].[LicenceStatus]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceStatus](
	[StatusID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LicenceStatus] [varchar](50) NULL,
	[DOUserType] [varchar](50) NULL
) ON [PRIMARY]
GO
