USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Assign_Inspector]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assign_Inspector](
	[Assign_Inspector_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Call_Outcome] [numeric](18, 0) NULL,
	[Class2] [numeric](18, 0) NULL,
	[Call_State_ID] [numeric](18, 0) NULL,
	[Call_State] [varchar](50) NULL,
	[Inspector_ID] [numeric](18, 0) NULL,
	[Inspector] [varchar](255) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Assign_Inspector] PRIMARY KEY CLUSTERED 
(
	[Assign_Inspector_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
