USE [TaxiReg]
GO
/****** Object:  Table [dbo].[AreasOfOperation]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreasOfOperation](
	[AreaID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AreaDescription] [varchar](50) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
