USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[OrderDetails_Index] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Pub_Index] [int] NOT NULL,
	[No_Of_Copies] [int] NOT NULL,
	[Order_No] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[OrderDetails_Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
