USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Country] [nvarchar](255) NULL
) ON [PRIMARY]
GO
