USE [TaxiReg]
GO
/****** Object:  Table [dbo].[File_Export]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_Export](
	[File_Export_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Filename] [varchar](255) NULL,
	[No_Of_Records] [numeric](18, 0) NULL,
	[Export_Date] [datetime] NULL,
	[Recall_Date] [datetime] NULL,
	[Recalled_By] [varchar](50) NULL,
 CONSTRAINT [PK_File_Export] PRIMARY KEY CLUSTERED 
(
	[File_Export_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
