USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Call_Outcome]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Call_Outcome](
	[Call_Outcome_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Call_Outcome] [varchar](100) NULL,
	[Active] [int] NULL,
	[Ordering] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Call_Outcome_Bkup] PRIMARY KEY CLUSTERED 
(
	[Call_Outcome_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
