USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Archive_Table]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive_Table](
	[Archive_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TaxiReg_ID] [numeric](18, 0) NULL,
	[CallerID] [numeric](18, 0) NULL,
	[CallID] [numeric](18, 0) NULL,
	[CallerType] [numeric](18, 0) NULL,
	[Class1] [numeric](18, 0) NULL,
	[Class2] [numeric](18, 0) NULL,
	[Class3] [numeric](18, 0) NULL,
	[Class4] [numeric](18, 0) NULL,
	[CallOutcome] [varchar](50) NULL,
	[Order_No] [numeric](18, 0) NULL,
	[Order_Export_Date] [datetime] NULL,
	[Call_Comments] [varchar](8000) NULL,
	[Complaint_Recd] [varchar](50) NULL,
	[Source_Of_Query] [varchar](50) NULL,
	[Media_Source] [varchar](50) NULL,
	[Created_By] [varchar](50) NULL,
	[Created_Date] [datetime] NULL,
	[Receipt_Given] [bit] NULL,
	[Receipt_No] [varchar](50) NULL,
	[Inspector_ID] [numeric](18, 0) NULL,
	[Call_Status] [varchar](50) NULL,
	[FileRefNo] [varchar](50) NULL,
	[Additional_Comments] [varchar](8000) NULL,
	[Anonymous] [bit] NULL,
	[Surname] [varchar](100) NULL,
	[CompanyName] [varchar](100) NULL,
	[Resources_Filename] [varchar](255) NULL,
	[Licence_No] [varchar](50) NULL,
	[Upload_Files] [bit] NULL,
	[Deleted_By] [varchar](50) NULL,
	[Delete_Date] [datetime] NULL,
 CONSTRAINT [PK_Archive_Table] PRIMARY KEY CLUSTERED 
(
	[Archive_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
