USE [TaxiReg]
GO
/****** Object:  Table [dbo].[EnforcementChecklist]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnforcementChecklist](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CompanyID] [int] NULL,
	[ComputerSystemEnforcement] [bit] NULL,
	[ManualSystemEnforcement] [bit] NULL,
	[PhoneBookingEnforcement] [bit] NULL,
	[OnlineBookingEnforcement] [bit] NULL,
	[EmailBookingEnforcement] [bit] NULL,
	[FaxBookingEnforcement] [bit] NULL,
	[SMSTextBookingEnforcement] [bit] NULL,
	[TrackedEnforcement] [bit] NULL,
	[DriverLateEnforcement] [bit] NULL,
	[RecordsSixMonthsEnforcement] [bit] NULL,
	[OutlineDisabilitiesEnforcement] [bit] NULL,
	[DriverLicenceEnforcement] [bit] NULL,
	[VehicleLicenceEnforcement] [bit] NULL,
	[InsDetailsEnforcement] [bit] NULL,
	[UpdatingRecordsEnforcement] [bit] NULL,
	[FareStructureEnforcement] [bit] NULL,
	[CustomerComplaintsEnforcement] [bit] NULL,
	[CustomerCareEnforcement] [bit] NULL,
	[AssistingSpecialNeedsEnforcement] [bit] NULL,
	[StaffTrainingEnforcement] [bit] NULL,
	[ComplaintsProcedureEnforcement] [bit] NULL,
	[ComplaintsKeptEnforcement] [bit] NULL,
	[ComplaintsDealtWithEnforcement] [bit] NULL,
 CONSTRAINT [PK_EnforcementChecklist] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
