USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Class4]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class4](
	[Class4_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Class4] [varchar](255) NULL,
	[CallerType] [numeric](18, 0) NULL,
	[Active] [bit] NULL,
	[AddedBy] [varchar](50) NULL,
	[AdditionDate] [datetime] NULL,
	[EditedBy] [varchar](50) NULL,
	[EditDate] [datetime] NULL,
 CONSTRAINT [PK_Class4_Bkup] PRIMARY KEY CLUSTERED 
(
	[Class4_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
