USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Publication_New]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publication_New](
	[Pub_Index] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Publication] [varchar](255) NULL,
	[Pub_Code] [varchar](255) NULL,
	[CallerType] [numeric](18, 0) NULL,
	[Active] [numeric](18, 0) NULL,
	[FormatPubLinkRef] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Publication_New] PRIMARY KEY CLUSTERED 
(
	[Pub_Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
