USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Call_Status]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Call_Status](
	[Call_Status_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Call_Status] [varchar](50) NULL,
	[Active] [bit] NULL,
	[Ordering] [int] NULL,
 CONSTRAINT [PK_Call_Status] PRIMARY KEY CLUSTERED 
(
	[Call_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
