USE [TaxiReg]
GO
/****** Object:  Table [dbo].[CountiesIreland]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountiesIreland](
	[COUNTY] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
