USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Priority]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[Priority] [varchar](100) NULL
) ON [PRIMARY]
GO
