USE [TaxiReg]
GO
/****** Object:  Table [dbo].[CallerData]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CallerData](
	[CallerID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Anonymous] [bit] NULL,
	[Title] [varchar](50) NULL,
	[Firstname] [varchar](255) NULL,
	[Surname] [varchar](255) NULL,
	[CompanyName] [varchar](255) NULL,
	[Address1] [varchar](255) NULL,
	[Address2] [varchar](255) NULL,
	[Address3] [varchar](255) NULL,
	[Address4] [varchar](255) NULL,
	[County] [varchar](100) NULL,
	[Country] [varchar](255) NULL,
	[HomeTel] [varchar](50) NULL,
	[MobileTel] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Fax] [varchar](50) NULL,
	[CallerType] [numeric](18, 0) NULL,
	[CallerDetailsType] [varchar](50) NULL,
	[Created_by] [varchar](50) NULL,
	[Creation_date_triggered] [datetime] NULL,
	[Edited_by] [varchar](50) NULL,
	[Edit_date] [datetime] NULL,
	[Field1] [varchar](50) NULL,
	[Field2] [varchar](50) NULL,
	[Migration_Flag] [int] NULL,
	[Migration_Date] [datetime] NULL,
	[EmailOptIn] [bit] NULL,
	[ReasonId] [int] NULL,
 CONSTRAINT [PK_CallerData] PRIMARY KEY CLUSTERED 
(
	[CallerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
