USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Order_No]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_No](
	[Order_No] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DummyData] [int] NULL,
 CONSTRAINT [PK_Order_No] PRIMARY KEY CLUSTERED 
(
	[Order_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
