USE [TaxiReg]
GO
/****** Object:  Table [dbo].[CompanyTypes]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyTypes](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BusinessType] [varchar](50) NULL
) ON [PRIMARY]
GO
