USE [TaxiReg]
GO
/****** Object:  Table [dbo].[File_Export_Contents]    Script Date: 14/04/2022 13:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_Export_Contents](
	[File_Export_ID] [numeric](18, 0) NOT NULL,
	[TaxiReg_ID] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
