USE [TaxiReg]
GO
/****** Object:  Table [dbo].[Archive_Files]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive_Files](
	[Uploaded_File_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Archive_ID] [numeric](18, 0) NULL,
	[TaxiReg_ID] [numeric](18, 0) NULL,
	[Filename] [varchar](50) NULL,
	[Image_Content] [image] NULL,
	[Uploaded_By] [varchar](50) NULL,
	[Upload_Date] [datetime] NULL,
	[FileExtension] [varchar](50) NULL,
 CONSTRAINT [PK_Files_Table] PRIMARY KEY CLUSTERED 
(
	[Uploaded_File_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
