USE [TaxiReg]
GO
/****** Object:  Table [dbo].[DispatchOperatorPrintLookup]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOperatorPrintLookup](
	[BatchID] [int] NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY]
GO
