USE [TaxiReg]
GO
/****** Object:  Table [dbo].[DispatchOperatorPrintBatches]    Script Date: 14/04/2022 13:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOperatorPrintBatches](
	[BatchID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BatchDate] [datetime] NULL
) ON [PRIMARY]
GO
