USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[CreateDriverLicenceIndustryUser]    Script Date: 02.11.2022 12:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [cabs_spsv].[CreateDriverLicenceIndustryUser]
	@IndustryUserId bigint,
	@LicenceHolderMasterId int
as
begin
insert into cabs_spsv.IndustryUserPerson
           ([IndustryUserId]
           ,[PersonId])
     VALUES
           (@IndustryUserId
           ,@LicenceHolderMasterId)
end

