USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[UpdateEmailForSPSVPortal]    Script Date: 04.11.2022 14:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [cabs_spsv].[UpdateEmailForSPSVPortal]	
	@isDriverLicenceHolder int,
	@isVehicleLicenceHolder int,
	@Email nvarchar(50),
	@LicenceHolderId int
as
begin

IF @isVehicleLicenceHolder > 0
BEGIN
	UPDATE iu
	SET Email = @Email
	FROM CABS_PRODUCTION.CABS_CMO.INDUSTRYUSER iu
		INNER JOIN CABS_PRODUCTION.cabs_spsv.IndustryUserPerson iup ON iu.ID = iup.IndustryUserId
		INNER JOIN CABS_PRODUCTION.person.Person p ON iup.PersonId = p.PersonId
		INNER JOIN CABS_PRODUCTION.DBO.LICENCEHOLDERMASTER lhm ON p.CCSN = lhm.Ccsn
		INNER JOIN CABS_Production.DBO.LICENCEMASTERVL lm ON lm.LICENCEHOLDERID = lhm.LicenceHolderId AND iu.ASPUSERID IS NOT NULL
	WHERE lhm.LicenceHolderId = @LicenceHolderId
END

IF @isDriverLicenceHolder > 0
BEGIN
	UPDATE iu
	SET Email = @Email
	FROM  CABS_PRODUCTION.CABS_CMO.INDUSTRYUSER iu
		INNER JOIN CABS_PRODUCTION.CABS_SPSV.INDUSTRYUSERPERSON iup ON iu.ID = iup.IndustryUserId
		INNER JOIN CABS_PRODUCTION.DL.LICENCEHOLDERMASTER lhm ON iup.PersonId = lhm.PersonId
		INNER JOIN CABS_PRODUCTION.DL.LICENCEMASTER lm ON lm.LicenceMasterId = lhm.LicenceMasterId AND iu.ASPUSERID IS NOT NULL 
	WHERE lhm.PersonId = @LicenceHolderId
END

END

