USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[UpdateEmailDriverLicenceHolderMaster]    Script Date: 20.10.2022 09:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [cabs_spsv].[UpdateEmailDriverLicenceHolderMaster]	
	@LicenceHolderId int,
	@Email nvarchar(50)
as
begin
UPDATE [cabs_production].[dbo].[LicenceHolderMaster]
	SET Email = @Email
	WHERE LicenceHolderId = @LicenceHolderId
end