/*
   Tuesday, May 18, 202112:37:03
   User: test09
   Server: NTA-CABS2-DB1\devone
   Database: cabs_production
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LicenceMasterVLAudit ADD
	ScrappageGrantStatusId tinyint NULL
GO
ALTER TABLE dbo.LicenceMasterVLAudit SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
