USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_08]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_08] (@ETLId int) as 
--declare @ETLId int = 47

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @TradingAs nvarchar(50), @ErrorCode int
	
	--DC08.01 - Rule 8: Trading as - Trading as found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_08]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			select * from #person_one_ppsn where 
				(person.udf_IsStringValid (isnull(TradingAs,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-&.{áéíóúÁÉÍÓÚ}*]*$') = 0)
				and TradingAs is not null
			 ) a

	--DC08.02 - Rule 8: Trading as - Trading as containd Special Characters
	INSERT INTO [cleansing].[DC01_1_08]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_one_ppsn where 
				(person.udf_IsStringValid (isnull(TradingAs,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-&.{áéíóúÁÉÍÓÚ}*]*$') = 0)
				and TradingAs is not null

	PRINT '3.0'
	--DC08.03 - Rule 8: Trading as - Trading as found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_08]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * 	from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, TradingAs, ROW_NUMBER() OVER (PARTITION BY PPSN, TradingAs order by PPSN, TradingAs) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
							and (person.udf_IsStringValid (isnull(TradingAs,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-&.{áéíóúÁÉÍÓÚ}*]*$') = 1
							or TradingAs is null)
	PRINT '3.1'
	--DC08.04 - Rule 8: Trading as - Trading as contain special characters
	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, TradingAs, ROW_NUMBER() OVER (PARTITION BY PPSN, TradingAs order by PPSN, TradingAs) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and person.udf_IsStringValid (isnull(TradingAs,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-&.{áéíóúÁÉÍÓÚ}*]*$') = 0
		and TradingAs is not null

	PRINT '4.1'
	--DC08.04 - Rule 8: Trading as - Trading as found in more than one staging table and values matches - good quality data
	declare DC01_1_08_4 cursor for

	select distinct PPSN,TradingAs from #person_more_ppsn where PPSN in (
		select PPSN from (
			select PPSN, TradingAs, ROW_NUMBER() OVER (PARTITION BY PPSN, TradingAs order by PPSN, TradingAs) 'RankPos' from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, TradingAs, ROW_NUMBER() OVER (PARTITION BY PPSN, TradingAs order by PPSN, TradingAs) 'RankPos'
						from #person_more_ppsn 
				) a
				group by PPSN
				having count(PPSN) <> max(RankPos) 
				) 
			and TradingAs is not null
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
		)
	and TradingAs is not null
	and person.udf_IsStringValid (isnull(TradingAs,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-&.{áéíóúÁÉÍÓÚ}*]*$') = 1

	order by PPSN

	OPEN DC01_1_08_4
	FETCH NEXT FROM DC01_1_08_4 INTO @PPSN, @TradingAs

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_08]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set TradingAs=@TradingAs, ModifiedOn=getdate(), ModifiedBy = 'AU: DC08.03 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and TradingAs is null

	FETCH NEXT FROM DC01_1_08_4 INTO @PPSN, @TradingAs

	END 

	CLOSE DC01_1_08_4 
	DEALLOCATE DC01_1_08_4


	PRINT '4.2'
	--DC08.05 - Rule 8: Trading as - Trading as found in more than one staging table and values are different
		declare DC01_1_08_5 cursor for
		select PPSN, SourceSystem, ID, TradingAs
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_08 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_08_5

	FETCH NEXT FROM DC01_1_08_5 
	INTO @PPSN, @SourceSystem, @ID, @TradingAs

	WHILE @@FETCH_STATUS = 0
	BEGIN
		If @TradingAs is not null and person.udf_IsStringValid (isnull(@TradingAs,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-&.{áéíóúÁÉÍÓÚ}*]*$') = 1
			set @ErrorCode = 3
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_08]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_08_5 
		INTO @PPSN, @SourceSystem, @ID, @TradingAs
	END 
	CLOSE DC01_1_08_5
	DEALLOCATE DC01_1_08_5
		

	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
