USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[RPT_Dashbord_ImportsFromSource]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[RPT_Dashbord_ImportsFromSource] as
begin

declare @d as datetime
declare @etlid int

declare @CountRowsTotal int
declare @CountRowsTotalLast int
declare @CountDistinctOPVPPSN int
declare @CountDistinctPPSN int
declare @CountDistinctBadPPSN int
declare @DateCountRows datetime

create table #tmp_ppsn(ppsn varchar(20))

select @CountRowsTotalLast = count(*) from cleansing.person
select @DateCountRows = max(ETLEndDate) from cleansing.ETL where ETLEnddate is not null

declare c_getcountrowntrend cursor for

select ETLid from cleansing.ETL where ETLEnddate is not null 
and ETlid not in (select distinct id from cleansing.Dashbord_ImportsFromSource) order by ETLEndDate asc

open c_getcountrowntrend
fetch next from c_getcountrowntrend into @etlid
while @@FETCH_STATUS =0
begin

	select @d = ETLEndDate from cleansing.etl where etlid=@etlid
	--select @d = ETLStartDate from cleansing.etl where etlid=@etlid
	
	truncate table #tmp_ppsn 
	insert into #tmp_ppsn 
		select PPSN from cleansing.DC01_1_01 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_02 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_03 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_04 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_05 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_06 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_07 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_08 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_09 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_10 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_11 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_12 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_13 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_14 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_15 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_16 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_17 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_18 where ErrorCode <> 0 and RulesRunId = @etlid
		union
		select PPSN from cleansing.DC01_1_19 where ErrorCode <> 0 and RulesRunId = @etlid

select @CountRowsTotal = count(*) from cleansing.person for system_time as of @d
select @CountDistinctOPVPPSN = count(distinct PPSN) from cabs_production.person.person for system_time as of @d with (nolock)
select @CountDistinctBadPPSN = count(distinct PPSN) from #tmp_ppsn
select @CountDistinctPPSN = count(distinct PPSN) from cleansing.person for system_time as of @d

	insert into cleansing.Dashbord_ImportsFromSource
		select 
		@etlid, 
		@d, 
		SourceSystem, 
		count(*), 
		@CountRowsTotal, 
		@CountRowsTotalLast, 
		@CountDistinctOPVPPSN,
		@CountDistinctPPSN, 
		@CountDistinctBadPPSN 'BadPPSN',
		@DateCountRows

		from cleansing.person for system_time as of @d
		group by SourceSystem

fetch next from c_getcountrowntrend into @etlid
end

close c_getcountrowntrend
deallocate c_getcountrowntrend

update cleansing.Dashbord_ImportsFromSource
	set CountRowsTotalLast = @CountRowsTotalLast, DateCountRows=@DateCountRows


select 
	RPT_dash.id,
	format(RPT_dash.ETLDate, 'dd/MM/yyyy') 'ETLDate',
	RPT_dash.SourceSystem,
	RPT_dash.CountRows,
	RPT_dash.CountRowsTotal,
	RPT_dash.CountDistinctPPSN,
	RPT_dash.CountDistinctOPVPPSN,
	RPT_dash.CountDistinctBadPPSN,
	convert(numeric(16,2), convert(numeric(16,2), RPT_dash.CountDistinctOPVPPSN)*100 / convert(numeric(16,2),RPT_dash.CountDistinctPPSN))*100 '%OPVPPSN',
	(convert(numeric(16,2), 100-(convert(numeric(16,2), RPT_dash.CountDistinctBadPPSN)*100 / convert(numeric(16,2),RPT_dash.CountDistinctPPSN)))) '%CleanPPSN',
	(convert(numeric(16,2), (convert(numeric(16,2), RPT_dash.CountDistinctBadPPSN)*100 / convert(numeric(16,2),RPT_dash.CountDistinctPPSN)))) '%BadPPSN',
	RPT_dash.CountRowsTotalLast, 
	RPT_count.SourceSystemCountNow,
	RPT_dash.DateCountRows 
from cleansing.Dashbord_ImportsFromSource RPT_dash
left join (
			select 
				(select max(ETLid) from cleansing.ETL where ETLEnddate is not null) 'EtlId',
				SourceSystem, count(*) 'SourceSystemCountNow' from cleansing.person group by SourceSystem) RPT_count 
	on RPT_dash.SourceSystem=RPT_count.SourceSystem
	order by 1

drop table #tmp_ppsn
end


GO
