USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_04]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [cleansing].[proc_DC01_1_04] (@ETLId int) as 
--declare @ETLId int = 100
BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @FN nvarchar(50), @LN nvarchar(50), @ErrorCode int
	
	--DC04.01 - Rule 4: First Name and Last Name - Person found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			(
			select * from #person_one_ppsn where PersonType = 'Individual' and (FirstName is null or LastName is Null)
			union 
			select * from #person_one_ppsn where PersonType = 'Company' and (FirstName is not null or LastName is not Null)
			union
			select * from #person_one_ppsn where 
			 PersonType = 'Individual' 
				and FirstName is not null 
				and LastName is not Null
				and (person.udf_IsStringValid (isnull(CONCAT(FirstName, LastName),'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),\{áéíóúÁÉÍÓÚ}*]*$') = 0)

			 )
		) a

	--DC04.02 - Rule 4: First Name and Last Name - Person found in one staging table - bad quality data
	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_one_ppsn where PersonType = 'Individual' and (FirstName is null or LastName is Null)

	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, * from #person_one_ppsn where PersonType = 'Company' and (FirstName is not null or LastName is not Null)

	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_one_ppsn where 
			PersonType = 'Individual' 
			and FirstName is not null 
			and LastName is not Null
			and (person.udf_IsStringValid (isnull(CONCAT(FirstName, LastName),'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),\{áéíóúÁÉÍÓÚ}*]*$') = 0)

	PRINT '3.0'
	--DC04.03 - Rule 4: First Name and Last Name -  Person found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * 	from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, PersonType, CONCAT(FirstName, LastName) 'Name' , ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CONCAT(FirstName, LastName) order by PPSN, PersonType, CONCAT(FirstName, LastName)) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
						and
						(
							(PersonType = 'Company' and (FirstName is null and LastName is Null))
							or
							(
								PersonType = 'Individual' and FirstName is not null and LastName is not Null
								and (person.udf_IsStringValid (isnull(CONCAT(FirstName, LastName),'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),\{áéíóúÁÉÍÓÚ}*]*$') = 1)
							)
						)
	PRINT '3.1'
	--DC04.04 - Rule 4: First Name and Last Name - Person found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, CONCAT(FirstName, LastName) 'Name' , ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CONCAT(FirstName, LastName) order by PPSN, PersonType, CONCAT(FirstName, LastName)) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Individual' and (FirstName is null or LastName is Null)

	PRINT '3.2'
	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, CONCAT(FirstName, LastName) 'Name' , ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CONCAT(FirstName, LastName) order by PPSN, PersonType, CONCAT(FirstName, LastName)) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Company' and (FirstName is not null or LastName is not Null)

	PRINT '3.3'
	INSERT INTO [cleansing].[DC01_1_04]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, CONCAT(FirstName, LastName) 'Name' , ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CONCAT(FirstName, LastName) order by PPSN, PersonType, CONCAT(FirstName, LastName)) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Individual' 
		and FirstName is not null 
		and LastName is not Null
		and (person.udf_IsStringValid (isnull(CONCAT(FirstName, LastName),'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),\{áéíóúÁÉÍÓÚ}*]*$') = 0)


	PRINT '4.1'
	--DC04.04 - Rule 4: First Name and Last Name -  Person found in more than one staging table and values matches - good quality data, NULL values
	declare DC01_1_04_4 cursor for

	select distinct PPSN, FirstName, LastName from #person_more_ppsn where PPSN in (
		select PPSN from (
			select PPSN, PersonType, CONCAT(FirstName, LastName) 'Name' , ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CONCAT(FirstName, LastName) order by PPSN, PersonType, CONCAT(FirstName, LastName)) 'RankPos' from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, PersonType, CONCAT(FirstName, LastName) 'Name' , ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CONCAT(FirstName, LastName) order by PPSN, PersonType, CONCAT(FirstName, LastName)) 'RankPos', ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType order by PPSN, PersonType, CONCAT(FirstName, LastName)) 'RankPosType'
						from #person_more_ppsn 
						where PPSN not in (select PPSN from #person_more_ppsn where PersonType = 'Company')
				) a
				group by PPSN
				having count(PPSN) <> max(RankPos) and count(PPSN) = max(RankPosType)
				) 
			and FirstName is not null and LastName is not null and PersonType = 'Individual'
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
		)
		and PersonType = 'Individual' and FirstName is not null and LastName is not Null
		and (person.udf_IsStringValid (isnull(CONCAT(FirstName, LastName),'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),\{áéíóúÁÉÍÓÚ}*]*$') = 1)
	order by PPSN

	OPEN DC01_1_04_4
	FETCH NEXT FROM DC01_1_04_4 INTO @PPSN, @FN, @LN

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_04]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set FirstName=@FN, LastName=@LN, ModifiedOn=getdate(), ModifiedBy = 'AU: DC04.03 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and (FirstName is null or LastName is null)

	FETCH NEXT FROM DC01_1_04_4 INTO @PPSN, @FN, @LN

	END 

	CLOSE DC01_1_04_4 
	DEALLOCATE DC01_1_04_4

	PRINT '4.2'
	--DC04.05 - Rule 4: First Name and Last Name - Person found in more than one staging table and values are different
	declare DC01_1_04_5 cursor for
		select PPSN, SourceSystem, ID, PersonType, FirstName, LastName 
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_04 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_04_5

	FETCH NEXT FROM DC01_1_04_5 
	INTO @PPSN, @SourceSystem, @ID, @PersonType, @FN, @LN

	WHILE @@FETCH_STATUS = 0
	BEGIN
		If @PersonType= 'Individual' and (@FN is NULL or @LN is NULL)
			set @ErrorCode = 1
		else If @PersonType= 'Company' and (@FN is not NULL or @LN is not null)
			set @ErrorCode = 2
		else If @PersonType= 'Individual' and (person.udf_IsStringValid (isnull(CONCAT(@FN, @LN),'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),\{áéíóúÁÉÍÓÚ}*]*$') = 0)
			set @ErrorCode = 3
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_04]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_04_5 
		INTO @PPSN, @SourceSystem, @ID, @PersonType, @FN, @LN
	END 
	CLOSE DC01_1_04_5
	DEALLOCATE DC01_1_04_5


	drop table #person_one_ppsn
	drop table #person_more_ppsn


	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
