USE [CABS]
GO
/****** Object:  Table [cleansing].[Rules]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cleansing].[Rules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RulesType] [varchar](10) NOT NULL,
	[RulesNo] [varchar](10) NOT NULL,
	[RulesRefTable] [varchar](10) NOT NULL,
	[RulesDsc] [varchar](max) NOT NULL,
	[RuleRunOrder] [int] NULL,
	[KPI_Color1] [varchar](7) NULL,
	[KPI_Range1] [int] NULL,
	[KPI_Color2] [varchar](7) NULL,
	[KPI_Range2] [int] NULL,
	[KPI_Color3] [varchar](7) NULL,
 CONSTRAINT [PK_Rules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
