USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_update_cleansing_person]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [cleansing].[proc_update_cleansing_person]
	(@Ppsn as varchar(20), 
	@PersonType as varchar(20),
	@PersonStatus as varchar(20),
	@Title as varchar(10), 
	@FirstName as nvarchar(50), 
	@LastName as nvarchar(50), 
	@CompanyName as nvarchar(100), 
	@CompanyNumber as int, 
	@TradingAs as nvarchar(100), 
	@DateOfBirth as date, 
	@MobilePhone as varchar(50), 
	@OtherPhone as varchar(50), 
	@Email as varchar(50), 
	@AddressLine1 as nvarchar(100), 
	@AddressLine2 as nvarchar(100), 
	@AddressLine3 as nvarchar(100), 
	@PrefContactMethod as varchar(20), 
	@Town as nvarchar(50), 
	@PostCode as varchar(12), 
	@CountyName as nvarchar(20), 
	@CountryName as varchar(20), 
	@EirCode as varchar(7), 
	@Irish as bit,
	@ModifiedBy as nvarchar(256), 
	@ModifiedOn as datetime
	)
as
BEGIN
declare @CountryId int = NULL

	BEGIN TRY
		BEGIN TRANSACTION;

		If @CountyName is null or @CountyName = ''
			set @CountyName = 'N/A'

		update cleansing.person
		   SET PersonType = @PersonType
			  ,[PersonStatus] = @PersonStatus
			  ,[Title] = @Title
			  ,[FirstName] = @FirstName
			  ,[LastName] = @LastName
			  ,[CompanyName] = @CompanyName
			  ,[CompanyNumber] = @CompanyNumber
			  ,[TradingAs] = @TradingAs
			  ,[DateOfBirth] = @DateOfBirth
			  ,[MobilePhone] = @MobilePhone
			  ,[OtherPhone] = @OtherPhone
			  ,[Email] = @Email
			  ,[AddressLine1] = @AddressLine1
			  ,[AddressLine2] = @AddressLine2
			  ,[AddressLine3] = @AddressLine3
			  ,[PrefContactMethod] = @PrefContactMethod
			  ,[Town] = @Town
			  ,[PostCode] = @PostCode
			  ,[CountyName] = @CountyName
			  ,[CountryName] = @CountryName
			  ,[ModifiedBy] = @ModifiedBy
			  ,[ModifiedOn] = @ModifiedOn
			  ,[ModifiedByCleansingTool] = 1
		 WHERE PPSN = @PPSN

		COMMIT TRANSACTION;

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into cleansing.ErrorLog
				select 
					0 'ETLId',  
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					NULL, 
					NULL
				--into cleansing.ErrorLog
			END
	END CATCH;


END
GO
