USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_cleansing_updates]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cleansing].[proc_cleansing_updates] AS
	update cleansing.person set CountryName = 'United Kingdom' where CountryName = 'Great Britain'
	update cleansing.person set CountyName = 'N/A' where CountryName in (select CountryName from cabs_production.person.Country where CountryId>2) and (CountyName is NULL or CountyName like 'N/A%')
	update cleansing.person set CountyName = 'Dublin' where CountyName = 'BAILE ÁTHA CLÍATH' and PostCode is not null
	update cleansing.person set CountyName = 'Co. Dublin' where CountyName = 'BAILE ÁTHA CLÍATH' and PostCode is null
	update cleansing.person set CountryName = 'United Kindom' where CountryName = 'Great Britain'
	update cleansing.person set CountyName = 'MHAIGH EO' where Countyname = 'MHAIGHEO'
	update cleansing.person set CountyName = 'GAILLIMH' where Countyname = 'GAILLIMHE'

	update cleansing.person set PPSN= replace(PPSN, '_NOPPSN', '') where PPSN like '_NOPPSN%'
	update cleansing.person set PPSN= replace(PPSN, '_NO PPSN', '') where PPSN like '_NO PPSN%'
	update cleansing.person set PPSN= replace(PPSN, '_NO_PPSN', '') where PPSN like '_NO_PPSN%'
	update cleansing.person set PPSN= replace(PPSN, 'NP', '') where PPSN like 'NP%'
	update cleansing.person set PPSN= replace(PPSN, 'NOPPSN_', '') where PPSN like 'NOPPSN_%'  
	update cleansing.person set PPSN= replace(PPSN, 'NO PPSN_', '') where PPSN like 'NO PPSN_%'
	update cleansing.person set PPSN= replace(PPSN, 'NO_PPSN_', '') where PPSN like 'NO_PPSN_%'
	update cleansing.person set PPSN= replace(PPSN, 'NO_PPS_', '') where PPSN like 'NO_PPS_%'
	update cleansing.person set PPSN= replace(PPSN, 'NOPPS_', '') where PPSN like 'NOPPS_%' 
	update cleansing.person set PPSN= replace(PPSN, 'NO ', '') where PPSN like 'NO %' 
	update cleansing.person set PPSN= replace(PPSN, 'WRONG', '') where PPSN like 'WRONG%' 
	update cleansing.person set PPSN= replace(PPSN, 'RET_', '') where PPSN like 'RET_%' 
	update cleansing.person set PPSN= replace(PPSN, '_dep', '') where PPSN like '%_dep' 
	update cleansing.person set PPSN= replace(PPSN, 'dep_', '') where PPSN like 'dep_%'
	update cleansing.person set PPSN=replace(PPSN, 'dep_', '') where PPSN like 'dep_%'
	update cleansing.person set PPSN= replace(PPSN, 'NOPPSN', '') where PPSN like '%NOPPSN%'
	update cleansing.person set PPSN= replace(PPSN, 'PPSN', '') where PPSN like '%PPSN%'

	update cleansing.person set PPSN = replace(replace(replace(replace(replace(replace(replace(replace(PPSN, '*', ''), ',', ''), '.', ''), '?', ''), '/', ''), '-', ''), '_', ''), ' ', '') where 
		person.udf_ValidatePersonalPublicServiceNumber (PPSN) = 0
		and PPSN LIKE '%[^a-zA-Z0-9]%'

	update cleansing.person set PPSN= ltrim(rtrim(PPSN))

	update cleansing.Person set Irish=1 where (Irish=0 or Irish is null) and PPSN in (select distinct PPSN from cleansing.person where Irish = 1)
	update cleansing.Person set TextOptIn=1 where (TextOptIn=0 or TextOptIn is null) and PPSN in (select distinct PPSN from cleansing.person where TextOptIn = 1)			

	update cleansing.Person set Irish=0 where Irish is null
	update cleansing.Person set TextOptIn=0 where TextOptIn is null

	update cleansing.Person set MobilePhone = '0'+MobilePhone from cleansing.Person where MobilePhone like '8%' and len(MobilePhone)=9

	update cleansing.Person set PersonType = NULL from cleansing.Person where PersonType = ''
	update cleansing.Person set PersonStatus = NULL from cleansing.Person where PersonStatus = ''
	update cleansing.Person set Title = NULL from cleansing.Person where Title = ''
	update cleansing.Person set FirstName = NULL from cleansing.Person where FirstName = ''
	update cleansing.Person set LastName = NULL from cleansing.Person where LastName = ''
	update cleansing.Person set CompanyName = NULL from cleansing.Person where CompanyName = ''
	update cleansing.Person set CompanyNumber = NULL from cleansing.Person where CompanyNumber = ''
	update cleansing.Person set TradingAs = NULL from cleansing.Person where TradingAs = ''
	update cleansing.Person set MobilePhone = NULL from cleansing.Person where MobilePhone = ''
	update cleansing.Person set OtherPhone = NULL from cleansing.Person where OtherPhone = ''
	update cleansing.Person set Email = NULL from cleansing.Person where Email = ''
	update cleansing.Person set AddressLine1 = NULL from cleansing.Person where AddressLine1 = ''
	update cleansing.Person set AddressLine2 = NULL from cleansing.Person where AddressLine2 = ''
	update cleansing.Person set AddressLine3 = NULL from cleansing.Person where AddressLine3 = ''
	update cleansing.Person set EirCode = NULL from cleansing.Person where EirCode = ''
	update cleansing.Person set PrefContactMethod = NULL from cleansing.Person where PrefContactMethod = ''
	update cleansing.Person set Town = NULL from cleansing.Person where Town = ''
	update cleansing.Person set PostCode = NULL from cleansing.Person where PostCode = ''
	update cleansing.Person set CountyName = NULL from cleansing.Person where CountyName = ''
	update cleansing.Person set CountryName = NULL from cleansing.Person where CountryName = ''
GO
