USE [CABS]
GO
/****** Object:  View [cleansing].[v_OPV_Cleansing_Person]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [cleansing].[v_OPV_Cleansing_Person] AS 

SELECT [SourceSystem]
      ,[Id]
      ,[Ppsn]
	  ,[PersonType]
	  ,[PersonStatus]
      ,[Title]
      ,[FirstName]
      ,[LastName]
      ,[CompanyName]
      ,[CompanyNumber]
      ,[TradingAs]
      ,[DateOfBirth]
      ,[MobilePhone]
      ,[OtherPhone]
      ,[Email]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[AddressLine3]
	  ,[Irish]
	  ,[Eircode]
      ,[PrefContactMethod]
      ,[Town]
      ,[PostCode]
      ,[CountyName]
      ,[CountryName]
	  ,[TextOptIn]
      ,[CreatedBy]
      ,[CreatedOn]
      ,[ModifiedBy]
      ,[ModifiedOn]
      ,[ETLId]
      ,[ValidFrom]
      ,[ValidTo]
  FROM [cleansing].[Person]
	WHERE [SourceSystem] = 'OPV'
GO
