USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_clean_RulesTables]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cleansing].[proc_clean_RulesTables]
AS

declare @tsql nvarchar(max)
declare @RulesRefTable varchar(10) 
declare @i int = 4

declare getName_DC01 cursor for
	select name from sys.tables where name like 'DC01%'
OPEN getName_DC01
	FETCH NEXT FROM getName_DC01 INTO @RulesRefTable

	WHILE @@FETCH_STATUS = 0  
	BEGIN

		set @tsql = 
		'
		insert into cleansing.Report_RulesTrends

		select 
		'''+@RulesRefTable+''',
		id,
		--convert(varchar(10), ETLDate, 103) ''ETLDate'',
		ETLDate,
		ErrorCode,
		ErrorDesc,
		sum(RowsCount) ''RowsCount''
		 from (
			select 
				r.ETLid ''id'', 
				r.ETLStartDate ''ETLDate'', 
				case e.ErrorCode
					when 0 then 0
					when -1 then -1
					else 1
				end ''ErrorCode'', 
				case 
					when e.ErrorCode = 0 then ''No Discrepancies''
					when e.ErrorCode < 0 then ''Automatic updates''
					else ''Discrepancies''
				end ''ErrorDesc'', 
				count(*) ''RowsCount''
			from cleansing.'+@RulesRefTable+' t
				inner join cleansing.Errors e on case
													when t.ErrorCode > 1 and ''' + @RulesRefTable + ''' = ''DC01_1_18'' then 1
													else t.ErrorCode end
												=e.ErrorCode
				inner join cleansing.ETL r on t.RulesRunId=r.ETLId
			where 
				SourceTable = '''+@RulesRefTable+'''
			group by r.ETLid, r.ETLStartDate, e.ErrorCode
		) r
		where id not in (select RulesRunId from cleansing.Report_RulesTrends where SourceTable in ('''+ @RulesRefTable+ '''))
		group by id, ETLDate, ErrorCode, ErrorDesc
		--order by id desc, ErrorCode
		'
		--print @tsql
		exec sp_sqlexec @tsql

		set @tsql = 
		'
		delete from cleansing.'+@RulesRefTable+' where ErrorCode=0 and RulesRunId in (select distinct rulesRunId from cleansing.'+@RulesRefTable+' order by RulesRunId desc OFFSET ' + convert(char(1), @i) +' ROWS)
		'
		exec sp_sqlexec @tsql

	FETCH NEXT FROM getName_DC01 INTO @RulesRefTable
end

close getName_DC01 
deallocate getName_DC01
GO
