USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_RunRules]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [cleansing].[proc_RunRules] (@RulesRunId int) as
--declare @RulesRunId int = 47

exec [cleansing].[proc_DC01_1_01] @RulesRunId
exec [cleansing].[proc_DC01_1_02] @RulesRunId
exec [cleansing].[proc_DC01_1_03] @RulesRunId
exec [cleansing].[proc_DC01_1_04] @RulesRunId
exec [cleansing].[proc_DC01_1_05] @RulesRunId
exec [cleansing].[proc_DC01_1_06] @RulesRunId
exec [cleansing].[proc_DC01_1_07] @RulesRunId
exec [cleansing].[proc_DC01_1_08] @RulesRunId
exec [cleansing].[proc_DC01_1_09] @RulesRunId
exec [cleansing].[proc_DC01_1_10] @RulesRunId
exec [cleansing].[proc_DC01_1_11] @RulesRunId
exec [cleansing].[proc_DC01_1_12] @RulesRunId
exec [cleansing].[proc_DC01_1_13] @RulesRunId
exec [cleansing].[proc_DC01_1_14] @RulesRunId
exec [cleansing].[proc_DC01_1_15] @RulesRunId
exec [cleansing].[proc_DC01_1_16] @RulesRunId
exec [cleansing].[proc_DC01_1_17] @RulesRunId
exec [cleansing].[proc_DC01_1_18] @RulesRunId
exec [cleansing].[proc_DC01_1_19] @RulesRunId
GO
