USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_12]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_12] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	declare @qr_str varchar(20) = '[^a-zA-Z0-9]'

	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @PostCode varchar(50), @CountryName varchar(50), @CountyName varchar(50), @ErrorCode int

	PRINT '1.0'	
	--DC12.01 - Rule 12: Postcode - Postcode found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_12]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			select * from #person_one_ppsn 
				where  
				--CountryName is null
				--or
				(CountryName in ('Ireland') and CountyName not in ('Dublin') and PostCode is not null)
				or
				(CountryName in ('Ireland') and CountyName in ('Dublin') and (len(PostCode)>2 or PostCode like '[a-zA-Z][a-zA-Z]' or PostCode is null))
				or
				(CountryName not in ('Ireland') and len(PostCode)>12)
		) a

	PRINT '2.0'
	--DC12.02 - Rule 12: Postcode - Postcode found in one staging table - bad quality data
	--INSERT INTO [cleansing].[DC01_1_12]
	--	([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
	--	[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
	--	[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
	--	[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
	--	[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
	--	select 1, 1, @ETLId, * from #person_one_ppsn where CountryName is null

	INSERT INTO [cleansing].[DC01_1_12]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, * from #person_one_ppsn where (CountryName in ('Ireland') and CountyName not in ('Dublin') and PostCode is not null)

	INSERT INTO [cleansing].[DC01_1_12]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_one_ppsn where (CountryName in ('Ireland') and CountyName in ('Dublin') and (len(PostCode)>2 or PostCode like '[a-zA-Z][a-zA-Z]' or PostCode is null))

	INSERT INTO [cleansing].[DC01_1_12]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 4, 1, @ETLId, * from #person_one_ppsn where (CountryName not in ('Ireland') and len(PostCode)>12 and PostCode is not null)


	PRINT '3.0'
	--DC12.03 - Rule 12: Postcode - Postcode found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_12]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName, CountyName, PostCode order by PPSN, CountryName, CountyName, PostCode) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
				and CountryName is not null
				and (
				(CountryName in ('Ireland') and CountyName not in ('Dublin') and PostCode is null)
				or (CountryName in ('Ireland') and CountyName in ('Dublin') and len(PostCode) in (1,2) and PostCode not like '[a-zA-Z][a-zA-Z]' and PostCode is not null and PostCode not LIKE '%'+@qr_str+'%')
				or (CountryName not in ('Ireland') and (len(PostCode)<=12 or PostCode is null))
				)


	PRINT '3.1'
	--DC12.04 - Rule 12: Postcode - Postcode found in more than one staging table and values matches - bad quality data
	--INSERT INTO [cleansing].[DC01_1_12]
	--	([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
	--	[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
	--	[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
	--	[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
	--	[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
	--	select 1, 1, @ETLId, * from #person_more_ppsn where PPSN in (
	--						select PPSN from (
	--							select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName, CountyName, PostCode order by PPSN, CountryName, CountyName, PostCode) 'RankPos'
	--							 from #person_more_ppsn 
	--						) a
	--						group by PPSN
	--						having count(PPSN) = max(RankPos)
	--						)
	--		and CountryName is null

	INSERT INTO [cleansing].[DC01_1_12]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, * from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName, CountyName, PostCode order by PPSN, CountryName, CountyName, PostCode) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
			and (CountryName in ('Ireland') and CountyName not in ('Dublin') and PostCode is not null)

	INSERT INTO [cleansing].[DC01_1_12]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName, CountyName, PostCode order by PPSN, CountryName, CountyName, PostCode) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
			and (CountryName in ('Ireland') and CountyName in ('Dublin') and (len(PostCode)>2 or PostCode like '[a-zA-Z][a-zA-Z]' or PostCode is null))

	INSERT INTO [cleansing].[DC01_1_12]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 4, 1, @ETLId, * from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName, CountyName, PostCode order by PPSN, CountryName, CountyName, PostCode) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
			and (CountryName not in ('Ireland') and len(PostCode)>12 and PostCode is not null)

	PRINT '4.1'
	--DC12.04 - Rule 12: Postcode - Postcode found in more than one staging table and values matches - good quality data, NULL values
	declare DC01_1_12_4 cursor for

	select distinct PPSN, PostCode from #person_more_ppsn where PPSN in (
		select PPSN from (
			select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName, CountyName, Town order by PPSN, CountryName, CountyName, Town) 'RankPos'   from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName, CountyName, PostCode order by PPSN, CountryName, CountyName, PostCode) 'RankPos' from #person_more_ppsn where PPSN in (
						select PPSN from (
							select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName, CountyName, PostCode order by PPSN, CountryName, CountyName, PostCode) 'RankPos'
								from #person_more_ppsn 
					) a
					group by PPSN
					having count(PPSN) <> max(RankPos)
					) 
				and PostCode is not null 
				) b
				group by PPSN
				having count(PPSN) = max(RankPos)
			)
		) c
		group by PPSN
		having count(PPSN) = max(RankPos)
	)
	and PostCode is not null
	and CountryName is not null
	and (
		(CountryName in ('Ireland') and CountyName not in ('Dublin') and PostCode is null)
		or (CountryName in ('Ireland') and CountyName in ('Dublin') and len(PostCode) in (1,2) and PostCode not like '[a-zA-Z][a-zA-Z]' and PostCode is not null and PostCode not LIKE '%'+@qr_str+'%')
		or (CountryName not in ('Ireland') and len(PostCode)<=12)
	)
	order by PPSN

	OPEN DC01_1_12_4
	FETCH NEXT FROM DC01_1_12_4 INTO @PPSN, @PostCode

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_12]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set PostCode=@PostCode, ModifiedOn=getdate(), ModifiedBy = 'AU: DC12.04 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and PostCode is null

	FETCH NEXT FROM DC01_1_12_4 INTO @PPSN, @PostCode

	END 

	CLOSE DC01_1_12_4 
	DEALLOCATE DC01_1_12_4

	PRINT '4.2'
	--DC12.05 - Rule 12: Postcode - Postcode found in more than one staging table and values are different
	declare DC01_1_12_5 cursor for
		select PPSN, SourceSystem, ID, PostCode, CountryName, CountyName
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_12 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_12_5

	FETCH NEXT FROM DC01_1_12_5 
	INTO @PPSN, @SourceSystem, @ID, @PostCode, @CountryName, @CountyName

	WHILE @@FETCH_STATUS = 0
	BEGIN

		If @PostCode LIKE '%'+@qr_str+'%'
			set @ErrorCode = 1
		else If @CountryName in ('Ireland') and @CountyName not in ('Dublin') and @PostCode is not null
			set @ErrorCode = 2
		else If @CountryName in ('Ireland') and @CountyName in ('Dublin') and (len(@PostCode)>2 or @PostCode like '[a-zA-Z][a-zA-Z]' or @PostCode is null)
			set @ErrorCode = 3
		else If @CountryName not in ('Ireland') and len(@PostCode)>12
			set @ErrorCode = 4
		else
			set @ErrorCode = 5
		
		INSERT INTO [cleansing].[DC01_1_12]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_12_5 
		INTO @PPSN, @SourceSystem, @ID, @PostCode, @CountryName, @CountyName
	END 
	CLOSE DC01_1_12_5
	DEALLOCATE DC01_1_12_5


	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
