USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_06]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [cleansing].[proc_DC01_1_06] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @CN nvarchar(50), @ErrorCode int
	
	--DC04.01 - Rule 4: First Name and Last Name - Person found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_06]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			(
			select * from #person_one_ppsn where PersonType = 'Individual' and CompanyName is not null
			union 
			select * from #person_one_ppsn where PersonType = 'Company' and CompanyName is null
			union
			select * from #person_one_ppsn where 
			 PersonType = 'Company' and CompanyName is not null 
			 and (person.udf_IsStringValid (isnull(CompanyName,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),.\{áéíóúÁÉÍÓÚ}*]*$') = 0)
			)
		) a

	--DC04.02 - Rule 4: First Name and Last Name - Person found in one staging table - bad quality data
	INSERT INTO [cleansing].[DC01_1_06]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_one_ppsn where PersonType = 'Individual' and CompanyName is not null

	INSERT INTO [cleansing].[DC01_1_06]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, * from #person_one_ppsn where PersonType = 'Company' and CompanyName is null

	INSERT INTO [cleansing].[DC01_1_06]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_one_ppsn where PersonType = 'Company' and CompanyName is not null 
			 and (person.udf_IsStringValid (isnull(CompanyName,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),.\{áéíóúÁÉÍÓÚ}*]*$') = 0)

	PRINT '3.0'
	--DC04.03 - Rule 4: First Name and Last Name -  Person found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_06]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * 	from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, PersonType, CompanyName, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyName order by PPSN, PersonType, CompanyName) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
						and
						(
							(PersonType = 'Individual' and CompanyName is null)
							or
							(PersonType = 'Company' and CompanyName is not null
							and (person.udf_IsStringValid (isnull(CompanyName,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),.\{áéíóúÁÉÍÓÚ}*]*$') = 1)
							)
						)
	PRINT '3.1'
	--DC05.04 - Rule 5: Date of Birth - Person found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_06]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, CompanyName, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyName order by PPSN, PersonType, CompanyName) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Individual' and CompanyName is not null

	PRINT '3.2'
	INSERT INTO [cleansing].[DC01_1_06]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, CompanyName, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyName order by PPSN, PersonType, CompanyName) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Company' and CompanyName is null

	PRINT '3.3'
	INSERT INTO [cleansing].[DC01_1_06]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, CompanyName, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyName order by PPSN, PersonType, CompanyName) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Company' and CompanyName is not null 
		and (person.udf_IsStringValid (isnull(CompanyName,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),.\{áéíóúÁÉÍÓÚ}*]*$') = 0)

	PRINT '4.1'
	--DC06.04 - Rule 6: Company Name -  Person found in more than one staging table and values matches - bad quality data
	declare DC01_1_06_4 cursor for

	select distinct PPSN, CompanyName from #person_more_ppsn where PPSN in (
	select PPSN from (
		select PPSN, PersonType, CompanyName, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyName order by PPSN, PersonType, CompanyName) 'RankPos' from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, CompanyName, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyName order by PPSN, PersonType, CompanyName) 'RankPos', ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType order by PPSN, PersonType, CompanyName) 'RankPosType'
					from #person_more_ppsn 
					where PPSN in (select PPSN from #person_more_ppsn where PersonType = 'Company')
			) a
			group by PPSN
			having count(PPSN) <> max(RankPos) and count(PPSN) = max(RankPosType)
			) 
		and CompanyName is not null and PersonType = 'Company'
		) b
		group by PPSN
		having count(PPSN) = max(RankPos)
	)
and CompanyName is not null and PersonType = 'Company'
and (person.udf_IsStringValid (isnull(CompanyName,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),.\{áéíóúÁÉÍÓÚ}*]*$') = 1)
order by PPSN

	OPEN DC01_1_06_4
	FETCH NEXT FROM DC01_1_06_4 INTO @PPSN, @CN

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_06]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set CompanyName=@CN, ModifiedOn=getdate(), ModifiedBy = 'AU: DC06.03 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and CompanyName is null

	FETCH NEXT FROM DC01_1_06_4 INTO @PPSN, @CN

	END 

	CLOSE DC01_1_06_4 
	DEALLOCATE DC01_1_06_4

	PRINT '4.2'
	--DC06.05 - Rule 6: Company Name - Person found in more than one staging table and values are different
	declare DC01_1_06_5 cursor for
		select PPSN, SourceSystem, ID, PersonType, CompanyName 
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_06 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_06_5

	FETCH NEXT FROM DC01_1_06_5 
	INTO @PPSN, @SourceSystem, @ID, @PersonType, @CN

	WHILE @@FETCH_STATUS = 0
	BEGIN
		If @PersonType= 'Individual' and @CN is not null
			set @ErrorCode = 1
		else If @PersonType= 'Company' and @CN is null
			set @ErrorCode = 2
		else if (person.udf_IsStringValid (isnull(@CN,'<!NotValidString!>'), '^[0-9a-zA-Z ''\-\/&(),.\{áéíóúÁÉÍÓÚ}*]*$') = 0)
			set @ErrorCode = 3
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_06]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_06_5 
		INTO @PPSN, @SourceSystem, @ID, @PersonType, @CN
	END 
	CLOSE DC01_1_06_5
	DEALLOCATE DC01_1_06_5


	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
