USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_blockedPPSN]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [cleansing].[proc_blockedPPSN] (@ppsn varchar(50), @type bit, @blocked bit output)
as 
begin


	if @type=1
	begin
		If (
			select	distinct convert(bit, iif(datediff(MINUTE, isnull(BlockedByCleansingTool, '1900-01-01'), getdate()) > 60, 0, 1)) 'BlockedByCleansingTool'
			from cleansing.Person
			where PPSN = @ppsn
			) = 0
		begin
			update cleansing.Person set BlockedByCleansingTool = getdate() where PPSN=@ppsn
			set @Blocked = 0
		end
		else
		begin
			set @Blocked = 1
		end
	end
	else
	begin
		update cleansing.Person set BlockedByCleansingTool = NULL where PPSN=@ppsn
		set @Blocked = 0
	end

	return @Blocked
end
GO
