USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_show_discrepancy]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cleansing].[proc_show_discrepancy]  (@i int) as

begin
declare @ADayAgo datetime

select @ADayAgo=ETLEndDate from cleansing.etl where etlid = @i-1

select * from (
select 'Obsolete' 'Type',
dago.*
from cleansing.person FOR SYSTEM_TIME AS OF @ADayAgo AS DAgo
join cleansing.person  d on dAgo.SourceSystem=d.SourceSystem and dago.id=d.id 
where d.etlid = @i
union all
select 'New' 'Type', * from cleansing.person
where etlid = @i
) a 
order by ppsn, SourceSystem, Type desc
end
GO
