USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_prepare_data_to_insert_to_ops]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [cleansing].[proc_prepare_data_to_insert_to_ops] (@ETLId as int ) as
--declare @ETLId as int = 1
declare @SourceSystem as varchar(3)
declare @Id as int
declare @PersonType as varchar(20)
declare @PersonStatus as varchar(20)
declare @Ppsn as varchar(20)
declare @Title as varchar(10)
declare @FirstName as nvarchar(50)
declare @LastName as nvarchar(50)
declare @CompanyName as nvarchar(50)
declare @CompanyNumber as int
declare @TradingAs as nvarchar(50)
declare @DateOfBirth as date
declare @MobilePhone as varchar(50)
declare @MobilePhoneUsage as bit
declare @OtherPhone as varchar(50)
declare @Email as varchar(50)
declare @AddressLine1 as nvarchar(100)
declare @AddressLine2 as nvarchar(100)
declare @AddressLine3 as nvarchar(100)
declare @Irish as bit = 0
declare @EirCode as varchar(7) = NULL
declare @PrefContactMethod as varchar(40)
declare @Town as nvarchar(50)
declare @PostCode as varchar(12)
declare @CountyName as nvarchar(20)
declare @CountryName as varchar(20)
declare @CreatedBy as nvarchar(256)
declare @CreatedOn as datetime
declare @ModifiedBy as nvarchar(256)
declare @ModifiedOn as datetime


declare c_prepare_data_to_insert_to_ops cursor for

with cte_ppsn as (
		select PPSN from cleansing.DC01_1_01 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_01)
		union
		select PPSN from cleansing.DC01_1_02 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_02)
		union
		select PPSN from cleansing.DC01_1_03 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_03)
		union
		select PPSN from cleansing.DC01_1_04 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_04)
		union
		select PPSN from cleansing.DC01_1_05 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_05)
		union
		select PPSN from cleansing.DC01_1_06 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_06)
		union
		select PPSN from cleansing.DC01_1_07 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_07)
		union
		select PPSN from cleansing.DC01_1_08 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_08)
		union
		select PPSN from cleansing.DC01_1_09 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_09)
		union
		select PPSN from cleansing.DC01_1_10 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_10)
		union
		select PPSN from cleansing.DC01_1_11 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_11)
		union
		select PPSN from cleansing.DC01_1_12 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_12)
		union
		select PPSN from cleansing.DC01_1_13 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_13)
		union
		select PPSN from cleansing.DC01_1_14 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_14)
		union
		select PPSN from cleansing.DC01_1_15 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_15)
		union
		select PPSN from cleansing.DC01_1_16 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_16)
		union
		select PPSN from cleansing.DC01_1_17 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_17)
		union
			(
			select PPSN from cleansing.DC01_1_18 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_18) 
			except
			select PPSN from cleansing.Person where ModifiedByCleansingTool = 1
			)
		union
			(
			select PPSN from cleansing.DC01_1_19 with (nolock) where ErrorCode <> 0 and RulesRunId in (select max(RulesRunId) from cleansing.DC01_1_19)
			except
			select PPSN from cleansing.Person where ModifiedByCleansingTool = 1
			)
		)

SELECT
	SourceSystem,
	Id,
	PersonType,
	PersonStatus,
	Ppsn,
	Title,
	FirstName,
	LastName,
	CompanyName,
	CompanyNumber,
	TradingAs,
	DateOfBirth,
	MobilePhone, 
	isnull(TextOptIn,0),  
	OtherPhone,
	Email,
	AddressLine1,
	AddressLine2,
	AddressLine3,
	isnull(Irish,0) 'Irish',
	Eircode,
	PrefContactMethod,
	Town,
	PostCode,
	CountyName,
	CountryName,
	CreatedBy,
	CreatedOn,
	ModifiedBy,
	ModifiedOn
from cleansing.person with (nolock) 
where 
	PPSN not in (select * from cte_ppsn)
order by sourcesystem desc

OPEN c_prepare_data_to_insert_to_ops  
FETCH NEXT FROM c_prepare_data_to_insert_to_ops INTO 
@SourceSystem, @Id, @PersonType, @PersonStatus, @Ppsn, @Title, @FirstName, @LastName, @CompanyName, @CompanyNumber, 
@TradingAs, @DateOfBirth, @MobilePhone, @MobilePhoneUsage, @OtherPhone, @Email, @AddressLine1, @AddressLine2, @AddressLine3, @Irish, @EirCode, 
@PrefContactMethod, @Town, @PostCode, @CountyName, @CountryName, @CreatedBy, @CreatedOn, @ModifiedBy, @ModifiedOn

WHILE @@FETCH_STATUS = 0  
BEGIN  

exec cabs_production.person.proc_insert_to_ops
--select
								@SourceSystem, @Id,  @PersonType,  @PersonStatus, @Ppsn, @Title, @FirstName, @LastName, @CompanyName, @CompanyNumber, @TradingAs, @DateOfBirth, 
								@MobilePhone, @MobilePhoneUsage, @OtherPhone, @Email, @AddressLine1, @AddressLine2, @AddressLine3, @Irish, @EirCode, 
								@PrefContactMethod, @Town, @PostCode, @CountyName, @CountryName, 
								@CreatedBy, @CreatedOn, @ModifiedBy, @ModifiedOn, @ETLId

FETCH NEXT FROM c_prepare_data_to_insert_to_ops INTO 
@SourceSystem, @Id, @PersonType, @PersonStatus, @Ppsn, @Title, @FirstName, @LastName, @CompanyName, @CompanyNumber, 
@TradingAs, @DateOfBirth, @MobilePhone, @MobilePhoneUsage, @OtherPhone, @Email, @AddressLine1, @AddressLine2, @AddressLine3, @Irish, @EirCode, 
@PrefContactMethod, @Town, @PostCode, @CountyName, @CountryName, @CreatedBy, @CreatedOn, @ModifiedBy, @ModifiedOn

END 

CLOSE c_prepare_data_to_insert_to_ops  
DEALLOCATE c_prepare_data_to_insert_to_ops
GO
