USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_13]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_13] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 

	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @CountryName varchar(50), @ErrorCode int

	PRINT '-1.0'	
	--DC13.01 - Rule 13: Country -  Correct County is filled and Country is empty - takes the Country from County Dictionary
	INSERT INTO [cleansing].[DC01_1_13]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, 
		p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
		p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
		p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
		p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
		p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
		from #person_one_ppsn p
				left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where c.CountryName is not null and p.CountryName is null

		update p set p.CountryName=c.CountryName, p.ModifiedOn=getdate(), p.ModifiedBy = 'AU: DC13.01 ' + convert(varchar(10), @ETLId) from cleansing.person p
				inner join #person_one_ppsn p1 on p.SourceSystem=p1.SourceSystem and p.Id=p1.Id
				left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
				where c.CountryName is not null and p.CountryName is null


	INSERT INTO [cleansing].[DC01_1_13]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, 
		p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
		p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
		p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
		p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
		p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
		from #person_more_ppsn p
		left join 
		(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
			c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			or
			c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
		where p.PPSN in (
		select PPSN from (
			select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountryName order by PPSN, c.CountryName) 'RankPos' from #person_more_ppsn p 
				left join 
					(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
						c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
						or
						c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					where p.PPSN in (
						select PPSN from (
							select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName order by PPSN, CountryName) 'RankPos'
								from #person_more_ppsn 
						) a
						group by PPSN
						having count(PPSN) = max(RankPos)
						)
			and p.CountryName is null
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
			)

		update p set p.CountryName=c.CountryName, p.ModifiedOn=getdate(), p.ModifiedBy = 'AU: DC13.01 ' + convert(varchar(10), @ETLId) from cleansing.person p
				inner join #person_more_ppsn p1 on p.SourceSystem=p1.SourceSystem and p.Id=p1.Id
				left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where p.PPSN in (
				select PPSN from (
					select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, c.CountryName order by PPSN, c.CountryName) 'RankPos' from #person_more_ppsn p 
						left join 
							(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
								c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
								or
								c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
							where p.PPSN in (
								select PPSN from (
									select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName order by PPSN, CountryName) 'RankPos'
										from #person_more_ppsn 
								) a
								group by PPSN
								having count(PPSN) = max(RankPos)
								)
					and p.CountryName is null
					) b
					group by PPSN
					having count(PPSN) = max(RankPos)
					)



	PRINT '1.0'	
	--DC13.01 - Rule 13: Country - Country found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_13]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			select p.* from #person_one_ppsn p
			left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where c.CountryName<>p.CountryName or p.CountryName is null
		) a

	PRINT '2.0'
	--DC13.02 - Rule 13: Country - Country found in one staging table - bad quality data


	INSERT INTO [cleansing].[DC01_1_13]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, p.* from #person_one_ppsn p
			left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where c.CountryName<>p.CountryName and p.CountryName is not null


	PRINT '3.0'
	--DC13.03 - Rule 13: Country - Country found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_13]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, p.* from #person_more_ppsn p
			left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where p.PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName order by PPSN, CountryName) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
			and c.CountryName=p.CountryName


	PRINT '3.1'
	--DC13.04 - Rule 13: Country - Country found in more than one staging table and values matches - bad quality data
	
	INSERT INTO [cleansing].[DC01_1_13]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, p.* from #person_more_ppsn p
			left join 
				(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
					c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
					or
					c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			where p.PPSN in (
							select PPSN from (
								select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName order by PPSN, CountryName) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)			
			and c.CountryName<>p.CountryName

	PRINT '4.1'
	--DC13.04 - Rule 13: Country - Country found in more than one staging table and values matches - good quality data, NULL values
	declare DC01_1_13_4 cursor for

	select distinct p.PPSN, p.CountryName from #person_more_ppsn p 
	left join 
		(select c1.CountyId, case cr1.CountryName when 'Ireland' then c1.CountyName when 'Northern Ireland' then c1.CountyName else 'N/A_'+cr1.CountryName end 'CountyName', c1.CountyIrishName, cr1.CountryName from cabs_production.person.County c1 inner join cabs_production.person.Country cr1 on c1.CountryId=cr1.CountryId) c on 
			c.CountyName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
			or
			c.CountyIrishName = case p.CountyName when 'N/A' then 'N/A_'+p.CountryName else p.CountyName end
	where p.PPSN in (
		select PPSN from (
			select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName order by PPSN, CountryName) 'RankPos' from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, ROW_NUMBER() OVER (PARTITION BY PPSN, CountryName order by PPSN, CountryName) 'RankPos'
						from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) <> max(RankPos)
			) 
		and CountryName is not null 
		) b
		group by PPSN
		having count(PPSN) = max(RankPos)
	)
	and p.CountryName is not null
	and c.CountryName=p.CountryName
	order by PPSN

	OPEN DC01_1_13_4
	FETCH NEXT FROM DC01_1_13_4 INTO @PPSN, @CountryName

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_13]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set CountryName=@CountryName, ModifiedOn=getdate(), ModifiedBy = 'AU: DC13.04 ' + convert(varchar(10), @ETLId) 
		where PPSN=@PPSN and CountryName is null

	FETCH NEXT FROM DC01_1_13_4 INTO @PPSN, @CountryName

	END 

	CLOSE DC01_1_13_4 
	DEALLOCATE DC01_1_13_4

	PRINT '4.2'
	--DC13.05 - Rule 13: Country - Country found in more than one staging table and values are different

		INSERT INTO [cleansing].[DC01_1_13]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 0, @ETLId, 
		p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
		p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
		p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
		p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
		p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_13 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 

	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
