USE [CABS]
GO
/****** Object:  Table [cleansing].[ETL]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cleansing].[ETL](
	[ETLId] [int] IDENTITY(1,1) NOT NULL,
	[ETLGuid] [varchar](255) NOT NULL,
	[PackageID] [varchar](255) NOT NULL,
	[PackageName] [varchar](255) NOT NULL,
	[TaskName] [varchar](255) NOT NULL,
	[ETLStartDate] [datetime2](7) NOT NULL,
	[ETLEndDate] [datetime2](7) NULL,
	[RulesStartDate] [datetime2](7) NULL,
	[EndWithError] [bit] NULL,
 CONSTRAINT [PK_ETL] PRIMARY KEY CLUSTERED 
(
	[ETLId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cleansing].[ETL] ADD  DEFAULT ((0)) FOR [EndWithError]
GO
