USE [CABS]
GO
/****** Object:  UserDefinedFunction [cleansing].[udf_getMobileHomeNumber]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [cleansing].[udf_getMobileHomeNumber] (@PhoneNo1 varchar(40), @PhoneNo2 varchar(40))
RETURNS @PhoneNumbers TABLE 
(
    MobileNumber varchar(40) NULL, 
    HomeNumber varchar(40) NULL
)
AS 
BEGIN

/*
Remove all existing (leading, middle and tailoring) spaces
Remove all existing special characters
Replace to NULL if field contains only '0'
If number begins with 08 and has 10 digits - move it to Mobile Number field
If number begins with 8 and has 9 digits - move it to Mobile Number field. If there is already some number in the Mobile Number field - add it to the field after comma (i.e. 08X1234567, 08X1234568)
If number is 1-8 digit long or 11 and more - move it to Phone Number 2 field. If there is already some number in the Phone Number 2 field - add it to the field after comma (i.e. 0123456, 0123457)
*/
declare @PhoneNumbers_tmp TABLE 
(
    MobileNumber varchar(40) NULL, 
    HomeNumber varchar(40) NULL
)

	if @PhoneNo1 not like '%[^0]%'
		set @PhoneNo1 = NULL

	if @PhoneNo2 not like '%[^0]%'
		set @PhoneNo2 = NULL

	if (@PhoneNo1 like '08%' and len(@PhoneNo1) = 10 )
		insert into @PhoneNumbers_tmp (MobileNumber) 
			select @PhoneNo1
			except
			select MobileNumber from @PhoneNumbers_tmp
	else if (@PhoneNo1 like '8%' and len(@PhoneNo1) = 9)
		insert into @PhoneNumbers_tmp (MobileNumber) 
			select @PhoneNo1
			except
			select MobileNumber from @PhoneNumbers_tmp

	else 
		insert into @PhoneNumbers_tmp (HomeNumber) 
			select @PhoneNo1
			except
			select HomeNumber from @PhoneNumbers_tmp

	if (@PhoneNo2 like '08%' and len(@PhoneNo2) = 10)
		insert into @PhoneNumbers_tmp (MobileNumber) 
			select @PhoneNo2
			except
			select MobileNumber from @PhoneNumbers_tmp

	else if (@PhoneNo2 like '8%' and len(@PhoneNo2) = 9)
		insert into @PhoneNumbers_tmp (MobileNumber) 
			select @PhoneNo2
			except
			select MobileNumber from @PhoneNumbers_tmp

	else 
		insert into @PhoneNumbers_tmp (HomeNumber)
			select @PhoneNo2
			except
			select HomeNumber from @PhoneNumbers_tmp

insert into @PhoneNumbers 
select distinct 
STUFF((select ','+ MobileNumber from @PhoneNumbers_tmp where MobileNumber is not null order by MobileNumber FOR XML PATH ('')), 1, 1, ''),
STUFF((select ','+ HomeNumber from @PhoneNumbers_tmp where HomeNumber is not null order by HomeNumber FOR XML PATH ('')), 1, 1, '')
from @PhoneNumbers_tmp


RETURN
END
GO
