USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_07]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_07] (@ETLId int) as 
--declare @ETLId int = 47

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @CN nvarchar(50), @ErrorCode int
	
	--DC07.01 - Rule 7: Company number - Company number found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_07]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			(
			select * from #person_one_ppsn where PersonType='Individual' and CompanyNumber is not null
			)
		) a

	--DC07.02 - Rule 7: Company number - Company number found in one staging table - bad quality data
	INSERT INTO [cleansing].[DC01_1_07]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_one_ppsn where PersonType='Individual' and CompanyNumber is not null

	PRINT '3.0'
	--DC07.03 - Rule 7: Company number - Company number found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_07]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * 	from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, PersonType, CompanyNumber, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyNumber order by PPSN, PersonType, CompanyNumber) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							)
						and
						(
							PersonType = 'Company' or 
							(PersonType = 'Individual' and CompanyName is null and CompanyNumber is null)
						)

	PRINT '3.1'
	--DC07.04 - Rule 7: Company number - Company number found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_07]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, CompanyNumber, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyNumber order by PPSN, PersonType, CompanyNumber) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Individual' and CompanyNumber is not null


	PRINT '4.1'
	--DC07.04 - Rule 7: Company number - Company number found in more than one staging table and values matches - good quality data
	declare DC01_1_07_4 cursor for

	select distinct PPSN, CompanyNumber from #person_more_ppsn where PPSN in (
		select PPSN from (
			select PPSN, PersonType, CompanyNumber, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyNumber order by PPSN, PersonType, CompanyNumber) 'RankPos' from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, PersonType, CompanyNumber, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, CompanyNumber order by PPSN, PersonType, CompanyNumber) 'RankPos', ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType order by PPSN, PersonType, CompanyNumber) 'RankPosType'
						from #person_more_ppsn 
					where PPSN in (select PPSN from #person_more_ppsn where PersonType = 'Company')
				) a
				group by PPSN
				having count(PPSN) <> max(RankPos) and count(PPSN) = max(RankPosType)
				) 
			and PersonType = 'Company' and CompanyNumber is not null
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
		)
	and PersonType = 'Company' and CompanyNumber is not null
	order by PPSN

	OPEN DC01_1_07_4
	FETCH NEXT FROM DC01_1_07_4 INTO @PPSN, @CN

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		INSERT INTO [cleansing].[DC01_1_07]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set CompanyNumber=@CN, ModifiedOn=getdate(), ModifiedBy = 'AU: DC07.03 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and CompanyNumber is null

	FETCH NEXT FROM DC01_1_07_4 INTO @PPSN, @CN

	END 

	CLOSE DC01_1_07_4 
	DEALLOCATE DC01_1_07_4


	PRINT '4.2'
	--DC07.05 - Rule 7: Company number - Company number found in more than one staging table and values are different
	declare DC01_1_07_5 cursor for
		select PPSN, SourceSystem, ID, PersonType, CompanyNumber 
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_07 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_07_5

	FETCH NEXT FROM DC01_1_07_5 
	INTO @PPSN, @SourceSystem, @ID, @PersonType, @CN

	WHILE @@FETCH_STATUS = 0
	BEGIN
		If @PersonType= 'Individual' and @CN is not null
			set @ErrorCode = 1
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_07]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_07_5 
		INTO @PPSN, @SourceSystem, @ID, @PersonType, @CN
	END 
	CLOSE DC01_1_07_5
	DEALLOCATE DC01_1_07_5

	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
