USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_18]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_18] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

	--DC18.01 - Rule 18: Mismatching PPSNs
	declare @FirstName nvarchar(100), @LastName nvarchar(100), @CompanyName nvarchar(100), @DateOfBirth date, @AddressLine1 nvarchar(100), @CountyName nvarchar(100), @CountryName nvarchar(100)
	declare @Counter int = 0

declare DC01_1_18 cursor for
select distinct FirstName, LastName, CompanyName, DateOfBirth, AddressLine1, CountyName, CountryName
	from (
		select 
			isnull(FirstName, 'FirstName') 'FirstName', 
			isnull(LastName, 'LastName') 'LastName',
			isnull(CompanyName, 'CompanyName') 'CompanyName',
			isnull(DateOfBirth, '1900-01-01') 'DateOfBirth',
			isnull(AddressLine1, 'AddressLine1') 'AddressLine1',
			isnull(CountyName, 'CountyName') 'CountyName',
			isnull(CountryName, 'CountryName') 'CountryName',
		ROW_NUMBER() OVER (PARTITION BY FirstName, LastName, CompanyName, DateOfBirth, AddressLine1, CountyName, CountryName order by FirstName, LastName, CompanyName, DateOfBirth, AddressLine1, CountyName, CountryName) 'RankPos'
		from cleansing.person with (nolock)
		) b
	where RankPos > 1
OPEN DC01_1_18
	FETCH NEXT FROM DC01_1_18 INTO @FirstName, @LastName, @CompanyName, @DateOfBirth, @AddressLine1, @CountyName, @CountryName

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		 if (select count(distinct PPSN) from cleansing.person with (nolock)
			where 
			Ppsn not in (select Ppsn from cleansing.v_OPV_Cleansing_Person)
			and isnull(FirstName, 'FirstName')=@FirstName 
			and isnull(LastName, 'LastName')=@LastName 
			and isnull(CompanyName, 'CompanyName')=@CompanyName
			and isnull(DateOfBirth, '1900-01-01')=@DateOfBirth
			and isnull(AddressLine1, 'AddressLine1')=@AddressLine1
			and isnull(CountyName, 'CountyName')=@CountyName
			and isnull(CountryName, 'CountryName')=@CountryName) > 1 
		begin
			set @Counter = @Counter + 1

			INSERT INTO [cleansing].[DC01_1_18]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @Counter, 1, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
		from cleansing.person p with (nolock)
				where isnull(p.FirstName, 'FirstName')=@FirstName 
				and isnull(p.LastName, 'LastName')=@LastName 
				and isnull(p.CompanyName, 'CompanyName')=@CompanyName
				and isnull(p.DateOfBirth, '1900-01-01')=@DateOfBirth
				and isnull(p.AddressLine1, 'AddressLine1')=@AddressLine1
				and isnull(p.CountyName, 'CountyName')=@CountyName
				and isnull(p.CountryName, 'CountryName')=@CountryName
		end

	FETCH NEXT FROM DC01_1_18 INTO @FirstName, @LastName, @CompanyName, @DateOfBirth, @AddressLine1, @CountyName, @CountryName
	END
CLOSE DC01_1_18
DEALLOCATE DC01_1_18

		INSERT INTO [cleansing].[DC01_1_18]
					([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
					[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
					[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
					[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
					[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select 
			(select max(Errorcode) from cleansing.DC01_1_18 e where RulesRunId = @ETLId and e.Ppsn=p.ppsn) 'Max',
			1, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from cleansing.Person p 
				where not exists (select PPSN from cleansing.DC01_1_18 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
				and p.PPSN in (select distinct PPSN from cleansing.DC01_1_18 where PPSNError=1 and RulesRunId = @ETLId)


		INSERT INTO [cleansing].[DC01_1_18]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select 0, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
			from cleansing.Person p
				where not exists (select PPSN from cleansing.DC01_1_18 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
				order by PPSN, SourceSystem


	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
