USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_19]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_19] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

	--DC19.01 - Rule 19: Validate PPSNs 
	INSERT INTO [cleansing].[DC01_1_19]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
	select 1, 1, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
		from cleansing.person p with (nolock)
				where person.udf_ValidatePersonalPublicServiceNumber (p.PPSN) = 0
				and Ppsn not in (select Ppsn from cleansing.v_OPV_Cleansing_Person)

	INSERT INTO [cleansing].[DC01_1_19]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
	select 0, 0, @ETLId, 
			p.[SourceSystem], p.[Id], p.[Ppsn], p.[PersonType], p.[PersonStatus],
			p.[Title], p.[FirstName], p.[LastName], p.[CompanyName], p.[CompanyNumber], p.[TradingAs], p.[DateOfBirth],
			p.[MobilePhone], p.[OtherPhone], p.[Email], p.[AddressLine1], p.[AddressLine2], p.[AddressLine3], p.[Irish], p.[EirCode], 
			p.[PrefContactMethod], p.[Town], p.[PostCode], p.[CountyName], p.[CountryName], p.[CreatedBy],
			p.[CreatedOn], p.[ModifiedBy], p.[ModifiedOn], p.[ETLId]
		from cleansing.person p with (nolock)
				where not exists (select PPSN from cleansing.DC01_1_19 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 


	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
