USE [CABS]
GO
/****** Object:  StoredProcedure [cleansing].[proc_DC01_1_05]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [cleansing].[proc_DC01_1_05] (@ETLId int) as 
--declare @ETLId int = 100

BEGIN TRY
	BEGIN TRANSACTION;

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_one_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) = 1) 

	select [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId] into #person_more_ppsn 
	from cleansing.Person with (nolock) where Ppsn in (select PPSN from cleansing.Person with (nolock) group by PPSN having count(PPSN) > 1) 
	
	
	declare @minAge int = 16
	declare @maxAge int = 100
	declare @SourceSystem varchar(3), @PersonType varchar(10), @ID int, @PPSN varchar(20), @DOB date, @ErrorCode int
	
	--DC05.01 - Rule 5: Date of Birth - Person found in one staging table - good quality data
	INSERT INTO [cleansing].[DC01_1_05]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * from (
			select * from #person_one_ppsn
			except
			(
			select * from #person_one_ppsn where PersonType = 'Company' and DateOfBirth is not null
			union 
			select * from #person_one_ppsn where PersonType = 'Individual' and DateOfBirth is null
			union
			select * from #person_one_ppsn where 
			 PersonType = 'Individual' and (
				 (CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),DateOfBirth,112))/10000 <= @minAge or 
				 (CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),DateOfBirth,112))/10000 >= @maxAge
				 )
			 )
		) a

	--DC05.02 - Rule 5: Date of Birth - Person found in one staging table - bad quality data
	INSERT INTO [cleansing].[DC01_1_05]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_one_ppsn where PersonType = 'Company' and DateOfBirth is not null

	INSERT INTO [cleansing].[DC01_1_05]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, * from #person_one_ppsn where PersonType = 'Individual' and DateOfBirth is null

	INSERT INTO [cleansing].[DC01_1_05]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_one_ppsn where 
			PersonType = 'Individual' and (
			 (CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),DateOfBirth,112))/10000 <= @minAge or 
			 (CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),DateOfBirth,112))/10000 >= @maxAge
			 )

	--PRINT '3'
	--DC05.03 - Rule 5: Date of Birth - Person found in more than one staging table and values matches - good quality data
	INSERT INTO [cleansing].[DC01_1_05]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 0, 0, @ETLId, * 	from #person_more_ppsn where PPSN in (
							select PPSN from (
								select PPSN, PersonType, DateOfBirth, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, DateOfBirth order by PPSN, PersonType, DateOfBirth) 'RankPos'
								 from #person_more_ppsn 
							) a
							group by PPSN
							having count(PPSN) = max(RankPos)
							) 
						and
						(
							(PersonType = 'Company' and DateOfBirth is null)
							or
							(
								(CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),DateOfBirth,112))/10000 > @minAge and 
								(CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),DateOfBirth,112))/10000 < @maxAge	and 
								PersonType = 'Individual'
							)
						)
	--PRINT '3.1'
	--DC05.04 - Rule 5: Date of Birth - Person found in more than one staging table and values matches - bad quality data
	INSERT INTO [cleansing].[DC01_1_05]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 1, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, DateOfBirth, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, DateOfBirth order by PPSN, PersonType, DateOfBirth) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Company' and DateOfBirth is not null
	--PRINT '3.2'
	INSERT INTO [cleansing].[DC01_1_05]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 2, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, DateOfBirth, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, DateOfBirth order by PPSN, PersonType, DateOfBirth) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Individual' and DateOfBirth is null
	--PRINT '3.3'
	INSERT INTO [cleansing].[DC01_1_05]
		([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
		[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
		[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
		[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
		[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select 3, 1, @ETLId, * from #person_more_ppsn where PPSN in (
			select PPSN from (
				select PPSN, PersonType, DateOfBirth, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, DateOfBirth order by PPSN, PersonType, DateOfBirth) 'RankPos'
				 from #person_more_ppsn 
			) a
			group by PPSN
			having count(PPSN) = max(RankPos)
			) 
		and PersonType = 'Individual'
		and 
		(
		(CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),DateOfBirth,112))/10000 <= @minAge or 
		(CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),DateOfBirth,112))/10000 >= @maxAge
		)


	--PRINT '4.1'
	--DC01_1_05_3 - Rule 5: Date of Birth - Person found in more than one staging table and values matches - good quality data
	declare DC01_1_05_3 cursor for

	select distinct PPSN, DateOfBirth from #person_more_ppsn where PPSN in (
		select PPSN from (
			select PPSN, PersonType, DateOfBirth, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, DateOfBirth order by PPSN, PersonType, DateOfBirth) 'RankPos' from #person_more_ppsn where PPSN in (
				select PPSN from (
					select PPSN, PersonType, DateOfBirth, ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType, DateOfBirth order by PPSN, PersonType, DateOfBirth) 'RankPos', ROW_NUMBER() OVER (PARTITION BY PPSN, PersonType order by PPSN, PersonType, DateOfBirth) 'RankPosType'
						from #person_more_ppsn 
						where PPSN not in (select PPSN from #person_more_ppsn where PersonType = 'Company')
				) a
				group by PPSN
				having count(PPSN) <> max(RankPos) and count(PPSN) = max(RankPosType)
				) 
			and DateOfBirth is not null
			) b
			group by PPSN
			having count(PPSN) = max(RankPos)
		)
	and DateOfBirth is not null
	order by PPSN

	OPEN DC01_1_05_3
	FETCH NEXT FROM DC01_1_05_3 INTO @PPSN, @DOB

	WHILE @@FETCH_STATUS = 0  
	BEGIN  


		INSERT INTO [cleansing].[DC01_1_05]
				([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
				[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
				[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
				[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
				[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
		select -1, 0, @ETLId, * from #person_more_ppsn where PPSN = @PPSN

		UPDATE cleansing.Person set DateOfBirth=@DOB, ModifiedOn=getdate(), ModifiedBy = 'AU: DC05.02 ' + convert(varchar(10), @ETLId) where PPSN=@PPSN and DateOfBirth is null

	FETCH NEXT FROM DC01_1_05_3 INTO @PPSN, @DOB

	END 

	CLOSE DC01_1_05_3 
	DEALLOCATE DC01_1_05_3

	--DC05.05 - Rule 5: Date of Birth - Person found in more than one staging table and values are different
	declare DC01_1_05_4 cursor for
		select PPSN, SourceSystem, ID, PersonType, DateOfBirth 
		from cleansing.Person p
		where not exists (select PPSN from cleansing.DC01_1_05 where RulesRunId = @ETLId and PPSN=p.PPSN and SourceSystem=p.SourceSystem and Id=p.Id) 
		order by PPSN, SourceSystem

	OPEN DC01_1_05_4

	FETCH NEXT FROM DC01_1_05_4 
	INTO @PPSN, @SourceSystem, @ID, @PersonType, @DOB

	WHILE @@FETCH_STATUS = 0
	BEGIN
		If @PersonType= 'Individual' and @DOB is NULL
			set @ErrorCode = 1
		else If @PersonType= 'Company' and @DOB is not NULL
			set @ErrorCode = 2
		else If @PersonType= 'Individual' and (CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),@DOB,112))/10000 <= @minAge and (CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),@DOB,112))/10000 >= @maxAge
			set @ErrorCode = 3
		else
			set @ErrorCode = 4
		
		INSERT INTO [cleansing].[DC01_1_05]
			([ErrorCode], [PPSNError], [RulesRunId], [SourceSystem], [Id], [Ppsn], [PersonType], [PersonStatus],
			[Title], [FirstName], [LastName], [CompanyName], [CompanyNumber], [TradingAs], [DateOfBirth],
			[MobilePhone], [OtherPhone], [Email], [AddressLine1], [AddressLine2], [AddressLine3], [Irish], [EirCode], 
			[PrefContactMethod], [Town], [PostCode], [CountyName], [CountryName], [CreatedBy],
			[CreatedOn], [ModifiedBy], [ModifiedOn], [ETLId])
			select @ErrorCode, 1, @ETLId, * from #person_more_ppsn where SourceSystem=@SourceSystem and Id=@Id


		FETCH NEXT FROM DC01_1_05_4 
		INTO @PPSN, @SourceSystem, @ID, @PersonType, @DOB
	END 
	CLOSE DC01_1_05_4
	DEALLOCATE DC01_1_05_4


	drop table #person_one_ppsn
	drop table #person_more_ppsn

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
				
			insert into cleansing.ErrorLog
			select 
				@ETLId 'ETLId',  
				getdate() 'Date', 
				ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
				ERROR_NUMBER() 'ERROR_NUMBER', 
				ERROR_MESSAGE() 'ERROR_MESSAGE',
				NULL, 
				NULL
			--into cleansing.ErrorLog
		END
END CATCH;
GO
