USE [CABS]
GO
/****** Object:  UserDefinedFunction [person].[udf_GeneratePersonalPublicServiceNumber]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [person].[udf_GeneratePersonalPublicServiceNumber]()
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [OnePersonStructure].[UserDefinedFunctions].[GeneratePersonalPublicServiceNumber]
GO
