USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR02_02_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   function [retention].[DR02_02_SELECT] (@RetentionDate as datetime)
returns @t table 
(
	[Case Number] [int] NULL,
	[Case category] [nvarchar](100) NULL,
	[LicenceNumbers] [nvarchar](max) NULL,
	[case_complaint_extensionFK] [int] NULL,
	[Raised by] [nvarchar](201) NULL,
	[Is Parent] [varchar](3) NULL,
	[Parent case number] [int] NULL,
	[Outcome] [varchar](50) NULL,
	[Resolution] [varchar](50) NULL,
	[Resolution date] [datetime] NULL,
	[Date of deletion] [datetime] NULL,
	[IsRetain] bit NULL
)
as
begin

insert @t
select 
	CaseNumber
   ,CaseCategory
   ,LicenceNumbers
   ,case_complaint_extensionFK
   ,Raisedby
   ,IsParent
   ,ParentCaseNumber
   ,Outcome
   ,Resolution
   ,ResolutionDate
   ,@RetentionDate as [Date of deletion]
   ,iif( dateadd(YEAR, 7, ResolutionDate) < getdate(), 1, 0) 'IsRetain'
from retention.vDR0202
where ResolutionDate is not null
and dateadd(YEAR, 7, ResolutionDate) < @RetentionDate

return
end
GO
