USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[RunRules]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   proc [retention].[RunRules] as
declare @year nvarchar(19)
declare @sql nvarchar(max)
declare @t nvarchar(100)
declare @d datetime = getdate()

declare c_retention cursor for

	select convert(char(10), dateadd(DAY, -datepart(DAY, @d), @d),120) + ' 23:59:58'
	union
	select convert(char(10), dateadd(DAY, -datepart(DAY, @d), @d),120) + ' 23:59:59'

open c_retention
fetch next from c_retention into @year

while @@FETCH_STATUS = 0
begin
	exec retention.DR14 @Year
	exec retention.[DR02.01] @Year
	exec retention.[DR02.02] @Year
	exec retention.DR03 @Year
	exec retention.DR04_01 @Year
	exec retention.DR04_02 @Year
	exec retention.DR05 @Year
	exec retention.DR06_01 @Year
	exec retention.DR06_02 @Year
	exec retention.DR07 @Year
	exec retention.DR08 @Year
	exec retention.DR09 @Year
	exec retention.DR10 @Year
	exec retention.DR11 @Year
	exec retention.DR12 @Year
	exec retention.DR13 @Year
	exec retention.[DR16.02] @Year
	exec retention.DR17 @Year
	exec retention.DR01 @Year
	exec retention.DR20 @Year
	exec retention.DR21 @Year
fetch next from c_retention into @year
end
close c_retention
deallocate c_retention

GO
