USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR12]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [retention].[DR12] (@RetentionDate datetime) as
BEGIN
declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1
declare @c int 


declare @VI as table (VI int)
insert into @VI
	select [Vehicle Inspection ID] from [retention].[DR12_SELECT](@RetentionDate)

select @c=count(*) from @VI

insert into retention.RulesLogger
	select getdate(), 'DR12', @RetentionDate, getdate(), NULL, @c, 0, 0 
set @RuleLoggerId  = SCOPE_IDENTITY()

	BEGIN TRY
		BEGIN TRANSACTION;
				
			insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR12', 'cabs_production.cabs_insp.VehicleInspectionsDocument', 'DELETE', VehicleInspectionId, convert(varchar(40), @RetentionDate,120), count(*), 'VehicleInspectionId' from  [cabs_production].[cabs_insp].[VehicleInspectionsDocument] where VehicleInspectionId in (select VI from @VI) group by VehicleInspectionId
			delete from  [cabs_production].[cabs_insp].[VehicleInspectionsDocument] where VehicleInspectionId in (select VI from @VI)

		update retention.RulesLogger set RowsDone = @c where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR12 - All data'

					update retention.RulesLogger set RowsWithError = @c where id=@RuleLoggerId
			END
	END CATCH;	

	update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
