USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR01]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [retention].[DR01] (@RetentionDate datetime) AS
BEGIN

declare @NewUserName varchar(10) = 'CABS User'
declare @NewUserEmail varchar(10) = 'CABSUser@example.com'
declare @UserName varchar(256), @FullName varchar(256), @UserId uniqueidentifier, @Email nvarchar(256)
declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1

/*
use cabs
ALTER TABLE cleansing.VL_LicenceHolderMaster SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cleansing.SK_Person SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cleansing.Person SET (SYSTEM_VERSIONING = OFF)

use cabs_production
ALTER TABLE cabs_enf.Fines SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.Address SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.Company SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.ContactMethod SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.Country SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.County SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.DataSource SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.Email SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.Image SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.ImageType SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.Individual SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.Person SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.PersonStatus SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.PersonType SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.Phone SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.PhoneType SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.RevenueNotification SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.RevenueNotificationType SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.TaxClearanceCheck SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE person.TaxClearanceStatus SET (SYSTEM_VERSIONING = OFF)

use CABS
exec retention.DR01 @RetentionDate

USE cabs
ALTER TABLE cleansing.VL_LicenceHolderMaster  SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = cleansing.VL_LicenceHolderMasterHistory ));
ALTER TABLE cleansing.SK_Person  SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = cleansing.SK_PersonHistory ));
ALTER TABLE cleansing.Person  SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = cleansing.PersonHistory ));

use cabs_production
ALTER TABLE cabs_enf.Fines SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = cabs_enf.FinesHistory ))
ALTER TABLE person.Address SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.AddressHistory ))
ALTER TABLE person.Company SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.CompanyHistory ))
ALTER TABLE person.ContactMethod SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.ContactMethodHistory ))
ALTER TABLE person.Country SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.CountryHistory ))
ALTER TABLE person.County SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.CountyHistory ))
ALTER TABLE person.DataSource SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.DataSourceHistory ))
ALTER TABLE person.Email SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.EmailHistory ))
ALTER TABLE person.Image SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.ImageHistory ))
ALTER TABLE person.ImageType SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.ImageTypeHistory ))
ALTER TABLE person.Individual SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.IndividualHistory ))
ALTER TABLE person.person SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.personHistory ))
ALTER TABLE person.PersonStatus SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.PersonStatusHistory ))
ALTER TABLE person.PersonType SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.PersonTypeHistory ))
ALTER TABLE person.Phone SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.PhoneHistory ))
ALTER TABLE person.PhoneType SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.PhoneTypeHistory ))
ALTER TABLE person.RevenueNotification SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.RevenueNotificationHistory ))
ALTER TABLE person.RevenueNotificationType SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.RevenueNotificationTypeHistory ))
ALTER TABLE person.TaxClearanceCheck SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.TaxClearanceCheckHistory ))
ALTER TABLE person.TaxClearanceStatus SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.TaxClearanceStatusHistory ))
*/

insert into retention.RulesLogger
	select getdate(), 'DR01', @RetentionDate, getdate(), NULL, count(*), 0, 0 from retention.DR01_SELECT (@RetentionDate)
set @RuleLoggerId  = SCOPE_IDENTITY()


declare c_updateToCabsUser cursor for
	select UserId, UserName, isnull(FullName,'<-NULL->') 'FullName', isnull(Email,'<-NULL->') from retention.DR01_SELECT (@RetentionDate)
OPEN c_updateToCabsUser
FETCH NEXT FROM c_updateToCabsUser INTO @UserId, @UserName, @FullName, @Email

	WHILE @@FETCH_STATUS = 0
	BEGIN

	BEGIN TRY
		BEGIN TRANSACTION
		
			declare @sql as nvarchar(max) = NULL
			declare @tbl as varchar(100) = NULL
			declare @tbl_column as varchar(100) = NULL
			declare @f_value as varchar(100) = NULL

			if @UserName = 'swhyte'
			 update Cabs_Live.dbo.case_history set newValue = replace(newValue, 'smcintyre', 'swhyte'), oldValue = replace(newValue, 'smcintyre', 'swhyte')

			declare c_prepareSQL_updateToCabsUser cursor for
				select * from (
				/*
				CABS
				*/

				SELECT 'CABS.cleansing.DC01_1_01' as 'tbl', 'CreatedBy' as 'tbl_colums', @userName as 'f_value'
				UNION
				SELECT 'CABS.cleansing.DC01_1_01', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_02', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_02', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION
								
				SELECT 'CABS.cleansing.DC01_1_03', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_03', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_04', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_04', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_05', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_05', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_06', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_06', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_07', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_07', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_08', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_08', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_09', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_09', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_10', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_10', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_11', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_11', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_12', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_12', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_13', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_13', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_14', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_14', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_15', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_15', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_16', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_16', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_17', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_17', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_18', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_18', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.DC01_1_19', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.DC01_1_19', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.VL_LicenceHolderMaster', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.VL_LicenceHolderMaster', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION
				SELECT 'CABS.cleansing.VL_LicenceHolderMasterHistory', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.VL_LicenceHolderMasterHistory', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				SELECT 'CABS.cleansing.SK_Person', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.SK_Person', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION
				SELECT 'CABS.cleansing.SK_PersonHistory', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.SK_PersonHistory', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION						 

				SELECT 'CABS.cleansing.Person', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.Person', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION
				SELECT 'CABS.cleansing.PersonHistory', 'CreatedBy', @userName
				UNION
				SELECT 'CABS.cleansing.PersonHistory', 'ModifiedBy' 'tbl_colums', @userName 'f_value'
				UNION

				/*
				CABS LIVE
				*/

				select 'Cabs_Live.dbo.Case_Documents', 'CreatedBy', @UserName
				union

				select 'Cabs_Live.dbo.Case_History', 'OldValue', @UserName
				union
				select 'Cabs_Live.dbo.Case_History', 'NewValue', @UserName
				union

				select 'Cabs_Live.dbo.Case_History', 'OldValue', @Email
				union
				select 'Cabs_Live.dbo.Case_History', 'NewValue', @Email
				union

				select 'Cabs_Live.dbo.Cases', 'CreatedBy', @UserName
				union

				select 'Cabs_Live.dbo.County', 'CreatedBy', @UserName
				union
				select 'Cabs_Live.dbo.County', 'ModifiedBy', @UserName
				union
		
				/*
				CABS PRODUCTION
				*/
				
				select 'cabs_production.audit.Process', 'ChangeBy', @UserName
				UNION

				select 'cabs_production.cabs_enf.Fines', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.cabs_enf.Fines', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.cabs_enf.Fines', 'IssueOfficerName', @FullName
				UNION
				select 'cabs_production.cabs_enf.FinesHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.cabs_enf.FinesHistory', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.cabs_enf.FinesHistory', 'IssueOfficerName', @FullName
				UNION

				select 'cabs_production.cabs_cmo.Audit', 'UserName', @UserName
				UNION

				select 'cabs_production.cabs_cmo.IndustryUser', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_cmo.IndustryUser', 'ModifiedBy', @UserName
				union
	
				select 'cabs_production.cabs_cmo.Person', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_cmo.Person', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_cmo.PersonAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_cmo.UserDetails', 'FullName', @FullName
				union

				select 'cabs_production.cabs_dvl.VehicleDriver', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_dvl.VehicleDriver', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_enf.Audit', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_enf.Audit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_enf.AuditHistoryItem', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_enf.AuditHistoryItem', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_enf.lkAuditItem', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_enf.lkAuditItem', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_enf.SearchAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_enf.SearchAudit', 'ModifiedBy', @UserName
				union	
	
				select 'cabs_production.cabs_insp.DefectCategoriesAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.DefectCategoriesAudit', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.DefectCategoriesInspectionProcess', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.DefectCategoriesInspectionProcess', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.DefectCategoriesInspectionProcessAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.DefectCategoriesInspectionProcessAudit', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.DefectCategoriesLicenceType', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.DefectCategoriesLicenceType', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.DefectCategoriesLicenceTypeAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.DefectCategoriesLicenceTypeAudit', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.DefectGroupsAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.DefectGroupsAudit', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.DefectReasonsDefectGroups', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.DefectReasonsDefectGroups', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.DefectReasonsDefectGroupsAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.DefectReasonsDefectGroupsAudit', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.FailedGroupInspectionDraft', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.FailedGroupInspectionDraft', 'ModifiedBy', @UserName
				union	

				select 'cabs_production.cabs_insp.VehicleInspectionsDocument', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.VehicleInspectionsDocument', 'ChangedBy', @UserName
				union

				select 'cabs_production.cabs_insp.VehicleInspectionsDraft', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.VehicleInspectionsDraft', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_insp.VehicleMasterDraft', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_insp.VehicleMasterDraft', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_log.InternalLog', 'UserName', @UserName
				union

				select 'cabs_production.cabs_rta.RentalAgreement', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_rta.RentalAgreement', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.Answer', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.Answer', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.Booking', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.Booking', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.BookingAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.BookingAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.BookingPayment', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.BookingPayment', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateHistoryImage', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateHistoryImage', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateTest', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateTest', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateTestModule', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateTestModule', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateTestNote', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateTestNote', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateTestNoteType', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateTestNoteType', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateTestPauseTime', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateTestPauseTime', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateTestQuestion', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateTestQuestion', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateTestQuestionAnswer', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateTestQuestionAnswer', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.CandidateTestStatus', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.CandidateTestStatus', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.Chapter', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.Chapter', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.FlagColour', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.FlagColour', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.IDType', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.IDType', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.Image', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.Image', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.ImportedAnswer', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.ImportedAnswer', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.ImportedQuestion', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.ImportedQuestion', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.ImportedQuestionPack', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.ImportedQuestionPack', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.Module', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.Module', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.Question', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.Question', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.QuestionBadPairs', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.QuestionBadPairs', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.Test', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.Test', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.Tutorial', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.Tutorial', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_sk.TutorialSlide', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_sk.TutorialSlide', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_tds.AuthorizedSupplier', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_tds.AuthorizedSupplier', 'ModifiedBy', @UserName
				union

				select 'cabs_production.cabs_tds.SignageInstallation', 'CreatedBy', @UserName
				union
				select 'cabs_production.cabs_tds.SignageInstallation', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.Booking', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.Booking', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.BookingAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.BookingAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.Company', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.Company', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.Country', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.Country', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.County', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.County', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.DaysOfTheWeek', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.DaysOfTheWeek', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.DefectCategories', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.DefectCategories', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.DefectGroups', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.DefectGroups', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.DefectReasons', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.DefectReasons', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.DespatchMethod', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.DespatchMethod', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.Fee', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.Fee', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.FineAreas', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.FineAreas', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.InspectionProcess', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.InspectionProcess', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.InspectionTime', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.InspectionTime', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.InspectionType', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.InspectionType', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.InsuranceCompany', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.InsuranceCompany', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LetterRequestType', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LetterRequestType', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LetterRequestTypeVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LetterRequestTypeVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LetterRequestTypeVLAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LetterRequestTypeVLAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceCategory', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceCategory', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceHolderAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceHolderAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceHolderMaster', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceHolderMaster', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceMasterVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceMasterVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceMasterVLAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceMasterVLAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceNominee', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceNominee', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceRepresentative', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceRepresentative', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceState', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceState', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceStateMaster', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceStateMaster', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.LicenceType', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.LicenceType', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.OperatingDayTimePeriod', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.OperatingDayTimePeriod', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.OperatingTimePeriod', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.OperatingTimePeriod', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PaymentItemVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PaymentItemVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PaymentItemVLAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PaymentItemVLAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PaymentRefundItemVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PaymentRefundItemVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PaymentRefundVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PaymentRefundVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PaymentVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PaymentVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PrintRequestDetailVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PrintRequestDetailVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PrintRequestMasterVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PrintRequestMasterVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PrintRequestMasterVLDownload', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PrintRequestMasterVLDownload', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PrintRequestReason', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PrintRequestReason', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.PrintRequestStatus', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.PrintRequestStatus', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.Region', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.Region', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.Representative', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.Representative', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.StoredDocument', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.StoredDocument', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.SystemParameter', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.SystemParameter', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.SystemProcessInstanceVL', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.SystemProcessInstanceVL', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentre', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentre', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreClosedDates', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreClosedDates', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreClosedDatesAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreClosedDatesAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreConfiguration', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreConfiguration', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreConfigurationAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreConfigurationAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreCurrentConfigAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreCurrentConfigAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreDefaultConfig', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreDefaultConfig', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreDefaultConfigAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreDefaultConfigAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreLanes', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreLanes', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TestCentreLinkedUsers', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TestCentreLinkedUsers', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.Title', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.Title', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TransactionAuditLog', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TransactionAuditLog', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.TransactionAuditType', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.TransactionAuditType', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.VehicleBodyType', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.VehicleBodyType', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.VehicleColour', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.VehicleColour', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.VehicleInspectionDefects', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.VehicleInspectionDefects', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.VehicleInspections', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.VehicleInspections', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.VehicleMake', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.VehicleMake', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.VehicleMaster', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.VehicleMaster', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.VehicleMasterAudit', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.VehicleMasterAudit', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.VehicleModel', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.VehicleModel', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.WatRegister', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.WatRegister', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.WatServiceProvisionCounty', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.WatServiceProvisionCounty', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dbo.WatServiceProvisionTime', 'CreatedBy', @UserName
				union
				select 'cabs_production.dbo.WatServiceProvisionTime', 'ModifiedBy', @UserName
				union

				select 'cabs_production.dl.Area', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.Area', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.[File]', 'CreatedBy', @UserName
				UNION
				
				select 'cabs_production.dl.GardaArea', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.GardaArea', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.LetterRequestDetail', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.LetterRequestDetail', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.LetterRequestMaster', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.LetterRequestMaster', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.LetterRequestStatus', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.LetterRequestStatus', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.LetterRequestType', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.LetterRequestType', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.LicenceDocument', 'UploadBy', @UserName
				UNION

				select 'cabs_production.dl.LicenceMaster', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.LicenceMaster', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.LicenceState', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.LicenceState', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.LicenceStateMaster', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.LicenceStateMaster', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.LicenceType', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.LicenceType', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.dl.Payment', 'CreatedBy', @UserName
				UNION

				select 'cabs_production.dl.PrintcardRequest', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.dl.PrintcardRequest', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Address', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Address', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.AddressHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.AddressHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Ceased', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Ceased', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Company', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Company', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.CompanyHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.CompanyHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.CompanyDirector', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.CompanyDirector', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.ContactMethod', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.ContactMethod', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.ContactMethodHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.ContactMethodHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Country', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Country', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.CountryHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.CountryHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.County', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.County', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.CountyHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.CountyHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.DataSource', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.DataSource', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.DataSourceHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.DataSourceHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Email', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Email', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.EmailHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.EmailHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.[File]', 'CreatedBy', @UserName
				UNION

				select 'cabs_production.person.Image', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Image', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.ImageHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.ImageHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.ImageType', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.ImageType', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.ImageTypeHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.ImageTypeHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Individual', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Individual', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.IndividualHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.IndividualHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Person', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Person', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.PersonHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.PersonHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.PersonStatus', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.PersonStatus', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.PersonStatusHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.PersonStatusHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.PersonType', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.PersonType', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.PersonTypeHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.PersonTypeHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Phone', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.Phone', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.PhoneHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.PhoneHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.PhoneType', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.PhoneType', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.PhoneTypeHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.PhoneTypeHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.Process', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.ProcessStatus', 'CreatedBy', @UserName
				UNION

				select 'cabs_production.person.RevenueNotification', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.RevenueNotification', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.RevenueNotificationHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.RevenueNotificationHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.RevenueNotificationType', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.RevenueNotificationType', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.RevenueNotificationTypeHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.RevenueNotificationTypeHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.TaxClearanceCheck', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceCheck', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceCheckHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceCheckHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.TaxClearanceCheck', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceCheck', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceCheckHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceCheckHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.TaxClearanceStatus', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceStatus', 'ModifiedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceStatusHistory', 'CreatedBy', @UserName
				UNION
				select 'cabs_production.person.TaxClearanceStatusHistory', 'ModifiedBy', @UserName
				UNION

				select 'cabs_production.person.WatchList', 'CreatedBy', @UserName

				) a

			OPEN c_prepareSQL_updateToCabsUser
			FETCH NEXT FROM c_prepareSQL_updateToCabsUser INTO @tbl, @tbl_column, @f_value
				WHILE @@FETCH_STATUS = 0
				BEGIN

					set @sql = N'
						--if exists (select * from '+@tbl+' where '+@tbl_column+' = ''' + replace(@f_value, '''', '''''') + ''')
							begin
								insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
									select ''DR01'', '''+@tbl+''', ''UPDATE'', '''+convert(varchar(max), @UserId)+''', '''+convert(varchar(40), @RetentionDate,120)+''', count(*), ''' + @tbl_column + ''' from '+@tbl+' where '+@tbl_column+' = ''' + replace(@f_value, '''', '''''') + '''

								update '+@tbl+' set '+@tbl_column+' = '''+ @NewUserName +''' where '+@tbl_column+' = ''' + replace(@f_value, '''', '''''') + '''
							end
						'
						exec (@sql)

				FETCH NEXT FROM c_prepareSQL_updateToCabsUser INTO @tbl, @tbl_column, @f_value
				END
			CLOSE c_prepareSQL_updateToCabsUser
			DEALLOCATE c_prepareSQL_updateToCabsUser

			DECLARE @NewUserNameWithTimeStamp NVARCHAR(50)
			SET @NewUserNameWithTimeStamp = @NewUserName + '_' + CONVERT(VARCHAR(23), GETDATE(), 126)

				BEGIN
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
									select 'DR01', 'cabs_production.dbo.aspnet_Users', 'UPDATE', convert(varchar(max), @UserId), convert(varchar(40), @RetentionDate,120), count(*), 'UserName' 
									from cabs_production.dbo.aspnet_Users where UserName = @f_value

					update cabs_production.dbo.aspnet_Users set UserName = @NewUserNameWithTimeStamp where UserName = @f_value
				END

				BEGIN
					insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
									select 'DR01', 'cabs_production.dbo.aspnet_Users', 'UPDATE', convert(varchar(max), @UserId), convert(varchar(40), @RetentionDate,120), count(*), 'LoweredUserName' 
									from cabs_production.dbo.aspnet_Users where LoweredUserName = @f_value

					update cabs_production.dbo.aspnet_Users set LoweredUserName = @NewUserNameWithTimeStamp where LoweredUserName = @f_value
				END 

			begin
                    insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])

					select 'DR01', 'cabs_production.cabs_cmo.Audit', 'UPDATE', convert(varchar(max), @UserId), convert(varchar(40), @RetentionDate,120), count(*), 'Text' from cabs_production.cabs_cmo.Audit where [Text] like '%'+@UserName+'%'
				update cabs_production.cabs_cmo.Audit set Text = convert(text, replace(convert(nvarchar(max), [Text]), @UserName, @NewUserName)) where [Text] like '%'+@UserName+'%'
			end

			begin
				insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
					select 'DR01', 'cabs_production.dbo.aspnet_Membership', 'DELETE', convert(varchar(max), @UserId), convert(varchar(40), @RetentionDate,120), count(*), 'UserId' from cabs_production.dbo.aspnet_Membership where UserId = @UserId
				delete from cabs_production.dbo.aspnet_Membership where UserId = @UserId
			end

			BEGIN
				insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
					select 'DR01', 'cabs_production.dbo.Booking', 'UPDATE', convert(varchar(max), @UserId), convert(varchar(40), @RetentionDate,120), count(*), 'RequestedBy' from cabs_production.dbo.Booking where RequestedBy = @UserId
				update cabs_production.dbo.Booking set SentComplianceEmail = @NewUserEmail, ComplianceOfficerNumber = NULL where RequestedBy = @UserId
			END
			BEGIN
				insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
					select 'DR01', 'cabs_production.dbo.BookingAudit', 'UPDATE', convert(varchar(max), @UserId), convert(varchar(40), @RetentionDate,120), count(*), 'RequestedBy' from cabs_production.dbo.Booking where RequestedBy = @UserId
				update cabs_production.dbo.BookingAudit set ComplianceOfficerNumber = NULL where RequestedBy = @UserId
			end

			begin
				insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
					select 'DR01', 'cabs_production.dbo.Inspectors', 'UPDATE', convert(varchar(max), InspectorId), convert(varchar(40), @RetentionDate,120), count(*), 'InspectorId' from cabs_production.dbo.Inspectors where UserId = @UserId group by InspectorId
					
				insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
					select 'DR01', 'cabs_production.dbo.Inspectors', 'UPDATE', convert(varchar(max), InspectorId), convert(varchar(40), @RetentionDate,120), count(*), 'InspectorId' from cabs_production.dbo.Inspectors where userid is null group by InspectorId

							
				update cabs_production.dbo.Inspectors set Name = @NewUserName, Email=@NewUserEmail where UserId = @UserId
				update cabs_production.dbo.Inspectors set Name = @NewUserName, Email=@NewUserEmail where userid is null
			end

			BEGIN
				--remove anonymized user from Case Teams
				INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR01', 'Cabs_Live.dbo.Case_TeamUsers', 'DELETE', 
				convert(varchar(max), @UserId), convert(varchar(40), @RetentionDate,120),count(*), 'UserId' from Cabs_Live.dbo.Case_TeamUsers where [user_id] = @UserId and [team_id] in (6, 16) 

				delete from [Cabs_Live].[dbo].[Case_TeamUsers] WHERE [user_id] = @UserId and [team_id] in (6, 16) -- only Compliance team members (fines)
			END

		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION
				
				IF CURSOR_STATUS('global','c_prepareSQL_updateToCabsUser')>=-1
				BEGIN
					CLOSE c_prepareSQL_updateToCabsUser
					DEALLOCATE c_prepareSQL_updateToCabsUser
				END

				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR01: UserId: ' + convert(varchar(max), @UserId) + ' UserName: ' + @UserName + ' FullName: '+ @FullName 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1
			END
	END CATCH
	
	FETCH NEXT FROM c_updateToCabsUser INTO @UserId, @UserName, @FullName, @Email
	END
CLOSE c_updateToCabsUser
DEALLOCATE c_updateToCabsUser

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId

END
GO
