USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR14]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [retention].[DR14](@RetentionDate AS DATETIME)
AS
/*
USE cabs_production
ALTER TABLE cabs_production.person.Address SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.Company SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.Email SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.Image SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.Individual SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.Person SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.Phone SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.RevenueNotification SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.TaxClearanceCheck SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs_production.person.DataSource SET (SYSTEM_VERSIONING = OFF)

USE CABS
ALTER TABLE CABS.cleansing.SK_Person SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE CABS.cleansing.VL_LicenceHolderMaster SET (SYSTEM_VERSIONING = OFF)
ALTER TABLE cabs.cleansing.Person SET (SYSTEM_VERSIONING = OFF)

USE cabs_production
ALTER TABLE cabs_production.person.Address SET (SYSTEM_VERSIONING = ON(HISTORY_TABLE = person.AddressHistory))
ALTER TABLE cabs_production.person.Company SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.CompanyHistory))
ALTER TABLE cabs_production.person.Email SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.EmailHistory))
ALTER TABLE cabs_production.person.Image SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.ImageHistory))
ALTER TABLE cabs_production.person.Individual SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.IndividualHistory))
ALTER TABLE cabs_production.person.Person SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.PersonHistory))
ALTER TABLE cabs_production.person.Phone SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.PhoneHistory))	
ALTER TABLE cabs_production.person.RevenueNotification SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.RevenueNotificationHistory))	
ALTER TABLE cabs_production.person.TaxClearanceCheck SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.TaxClearanceCheckHistory))	
ALTER TABLE cabs_production.person.DataSource SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = person.DataSourceHistory))	


USE CABS
ALTER TABLE CABS.cleansing.SK_Person SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cleansing.SK_PersonHistory))
ALTER TABLE CABS.cleansing.VL_LicenceHolderMaster SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cleansing.VL_LicenceHolderMasterHistory))
ALTER TABLE cabs.cleansing.Person SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = cleansing.PersonHistory))

*/

BEGIN
	declare @RuleLoggerId int
	declare @i_ok int = 1
	declare @i_error int = 1


	DECLARE @table TABLE(
		PersonId INT,
		CCSN VARCHAR(20),
		PPSN VARCHAR(20),
		[IndustryUserID] INT,
		[IndustryUserEmail] VARCHAR(MAX),
		[NomineePersonId] INT,
		[VL HOLDER] VARCHAR(50),
		[DL holder] VARCHAR(100),
		[SKPersonId] INT
	)

	CREATE TABLE #Bookings (BookingId INT)
	CREATE TABLE #PhotoId (PhotoId int)
	CREATE TABLE #Users (UserId UNIQUEIDENTIFIER)

	INSERT into @table
	SELECT PersonId, CCSN, PPSN, [Industry User ID], [Email Address], [NomineeID], [VLS Holder], [DLS Holder], [SKPersonId]
		FROM [RETENTION].DR14_SELECT(@RetentionDate)

	insert into retention.RulesLogger select getdate(), 'DR14', @RetentionDate, getdate(), NULL, count(*), 0, 0 from @table
	set @RuleLoggerId  = SCOPE_IDENTITY()

	DECLARE @personId AS INT
	DECLARE @ccsn AS VARCHAR(20)
	DECLARE @ppsn AS VARCHAR(20)

	DECLARE c_ppsn CURSOR FOR
		SELECT PersonId, CCSN, PPSN FROM @table
	OPEN c_ppsn
	FETCH NEXT FROM c_ppsn into @personId, @ccsn, @ppsn

	WHILE @@FETCH_STATUS = 0
	BEGIN
		BEGIN TRY
		BEGIN TRANSACTION;

		-- CHECK IF EXISTS MORE THEN ONE PERSON IN THE SAME CABS SYSTEM (SK/VLS)
		if (select max(c) from (select count(*) 'c' from cabs_production.person.DataSource where PersonId=@personId GROUP BY SourceSystemName) ds) > 1 
		begin
			--SK
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.DataSource', 'DELETE', DataSourceId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'DataSourceId' 
				FROM [cabs_production].[person].[DataSource] WHERE PersonId = @PersonId and SourceSystemId in (select SKPersonId from @table where PersonId=@personId) and SourceSystemName = 'SK' GROUP BY DataSourceId
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.DataSourceHistory', 'DELETE', DataSourceId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'DataSourceId' 
				FROM [cabs_production].[person].[DataSourceHistory] WHERE PersonId = @PersonId and SourceSystemId in (select SKPersonId from @table where PersonId=@personId) and SourceSystemName = 'SK' GROUP BY DataSourceId
			DELETE FROM [cabs_production].[person].[DataSource] WHERE PersonId = @PersonId and SourceSystemId in (select SKPersonId from @table where PersonId=@personId) and SourceSystemName = 'SK'
			DELETE FROM [cabs_production].[person].[DataSourceHistory] WHERE PersonId = @PersonId and SourceSystemId in (select SKPersonId from @table where PersonId=@personId) and SourceSystemName = 'SK'

			--VLS
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.DataSource', 'DELETE', DataSourceId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'DataSourceId' 
				FROM [cabs_production].[person].[DataSource]  WHERE PersonId = @PersonId and SourceSystemId in (select [VL HOLDER] from @table where PersonId=@personId) and SourceSystemName = 'VLS' GROUP BY DataSourceId
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.DataSourceHistory', 'DELETE', DataSourceId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'DataSourceId' 
			FROM [cabs_production].[person].[DataSourceHistory] WHERE PersonId = @PersonId and SourceSystemId in (select [VL HOLDER] from @table where PersonId=@personId) and SourceSystemName = 'VLS' GROUP BY DataSourceId
			DELETE FROM [cabs_production].[person].[DataSource] WHERE PersonId = @PersonId and SourceSystemId in (select [VL HOLDER] from @table where PersonId=@personId) and SourceSystemName = 'VLS'
			DELETE FROM [cabs_production].[person].[DataSourceHistory] WHERE PersonId = @PersonId and SourceSystemId in (select [VL HOLDER] from @table where PersonId=@personId) and SourceSystemName = 'VLS'

			--************ REFUNDS
			truncate table #Bookings
			INSERT INTO #Bookings SELECT BookingId FROM cabs_production.DBO.Booking WHERE NewLicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.BookingRefund', 'DELETE', BookingId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'BookingId'
				FROM cabs_production.dbo.BookingRefund WHERE BookingId IN (SELECT BookingId FROM #Bookings) GROUP BY BookingId
			DELETE FROM cabs_production.dbo.BookingRefund WHERE BookingId IN (SELECT BookingId FROM #Bookings)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentRefundVL', 'DELETE', RefundId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'RefundId'
				FROM cabs_production.dbo.PaymentRefundVL WHERE RefundId IN (SELECT RefundId FROM cabs_production.dbo.BookingRefund WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY RefundId
			DELETE FROM cabs_production.dbo.PaymentRefundVL WHERE RefundId IN (SELECT RefundId FROM cabs_production.dbo.BookingRefund WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			--************ PAYMENTS
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentItemVL', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM [cabs_production].[dbo].[PaymentItemVLAudit] WHERE PaymentId IN(SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM [cabs_production].[dbo].[PaymentItemVLAudit] WHERE PaymentId IN(SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentItemVL', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM cabs_production.dbo.PaymentItemVL WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM cabs_production.dbo.PaymentItemVL WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentOrdersVL', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM cabs_production.dbo.PaymentOrdersVL WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM cabs_production.dbo.PaymentOrdersVL WHERE PaymentId IN(SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.BookingPayment', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM cabs_production.dbo.BookingPayment WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM cabs_production.dbo.BookingPayment WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentVL', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM cabs_production.[dbo].[PaymentVL] WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM cabs_production.[dbo].[PaymentVL] WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_insp.VehicleInspectionsDocument', 'DELETE', VehicleInspectionId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'VehicleInspectionId'
				FROM cabs_production.cabs_insp.VehicleInspectionsDocument WHERE VehicleInspectionId IN (SELECT VehicleInspectionId FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY VehicleInspectionId
			DELETE FROM cabs_production.cabs_insp.VehicleInspectionsDocument WHERE VehicleInspectionId IN (SELECT VehicleInspectionId FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.VehicleInspectionDefects', 'DELETE', VehicleInspectionDefectID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'VehicleInspectionDefectID'
				FROM cabs_production.dbo.VehicleInspectionDefects WHERE VehicleInspectionID IN (SELECT VehicleInspectionId FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY VehicleInspectionDefectID
			DELETE FROM cabs_production.dbo.VehicleInspectionDefects WHERE VehicleInspectionID IN (SELECT VehicleInspectionId FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.VehicleInspections', 'DELETE', BookingId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'BookingId'
				FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings) GROUP BY BookingId
			DELETE FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_insp.VehicleInspectionsDraft ', 'DELETE', BookingId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'BookingId'
				FROM cabs_production.cabs_insp.VehicleInspectionsDraft WHERE BookingId IN (SELECT BookingId FROM #Bookings) GROUP BY BookingId
			DELETE FROM cabs_production.cabs_insp.VehicleInspectionsDraft WHERE BookingId IN (SELECT BookingId FROM #Bookings)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.BookingAudit', 'DELETE', BookingId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'BookingId'
				FROM cabs_production.dbo.BookingAudit WHERE BookingId in (SELECT BookingId FROM #Bookings) GROUP BY BookingId
			DELETE FROM cabs_production.dbo.BookingAudit WHERE BookingId in (SELECT BookingId FROM #Bookings)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.Booking', 'DELETE', NewLicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'NewLicenceHolderId'
				FROM cabs_production.DBO.Booking WHERE BookingId IN (SELECT BookingId FROM #Bookings) GROUP BY NewLicenceHolderId
			DELETE FROM cabs_production.DBO.Booking WHERE BookingId IN (SELECT BookingId FROM #Bookings)

			------**********************************************************************************************************************************************************************************--
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_spsv.IndustryUserLicenceHolderMaster', 'DELETE', IndustryUserFK, convert(varchar(40), GETDATE(), 120), COUNT(*), 'IndustryUserFK'
				FROM cabs_production.cabs_spsv.IndustryUserLicenceHolderMaster WHERE LicenceHolderMasterFK IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId) GROUP BY IndustryUserFK
			DELETE FROM cabs_production.cabs_spsv.IndustryUserLicenceHolderMaster WHERE LicenceHolderMasterFK IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceMasterVLAudit', 'DELETE', LicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderId'
				FROM [cabs_production].[dbo].[LicenceMasterVLAudit] WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId) GROUP BY LicenceHolderId
			DELETE FROM [cabs_production].[dbo].[LicenceMasterVLAudit] WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceRepresentative', 'DELETE', LicenceHolderMasterId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderMasterId'
				FROM cabs_production.dbo.LicenceRepresentative WHERE LicenceHolderMasterId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId) GROUP BY LicenceHolderMasterId
			DELETE FROM cabs_production.dbo.LicenceRepresentative WHERE LicenceHolderMasterId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId)

			-- ****** VL
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceHolderAudit', 'DELETE', LicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderId'
				FROM cabs_production.dbo.LicenceHolderAudit WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId) GROUP BY LicenceHolderId
			DELETE FROM cabs_production.dbo.LicenceHolderAudit WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_dvl.VehicleDriver', 'DELETE', VehicleLicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'VehicleLicenceHolderId'
				FROM [cabs_production].[cabs_dvl].[VehicleDriver] where VehicleLicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId) GROUP BY VehicleLicenceHolderId
			DELETE FROM [cabs_production].[cabs_dvl].[VehicleDriver] where VehicleLicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceHolderMaster', 'DELETE', LicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderId'
				FROM [cabs_production].[dbo].[LicenceHolderMaster] WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId) GROUP BY LicenceHolderId
			DELETE FROM [cabs_production].[dbo].[LicenceHolderMaster] WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId)

			----**********************************************************************************************************************************************************************************--
			truncate table #PhotoId
			insert into #PhotoId SELECT PhotoID FROM cabs_production.cabs_cmo.Person WHERE ID IN (SELECT SKPersonId FROM @table WHERE personId = @personId)

			insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
			SELECT 'DR13','cabs_production.cabs_sk.Candidate','DELETE', ID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'ID'
				FROM cabs_production.cabs_sk.Candidate WHERE PersonID IN (SELECT SKPersonId FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_sk.Candidate WHERE PersonID IN (SELECT SKPersonId FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.PersonAudit', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				from cabs_production.cabs_cmo.PersonAudit WHERE PersonID IN (SELECT SKPersonId FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_cmo.PersonAudit WHERE PersonID IN(SELECT SKPersonId FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.Person', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				from cabs_production.cabs_cmo.Person WHERE Id IN (SELECT SKPersonId FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_cmo.Person WHERE Id IN (SELECT SKPersonId FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_sk.Image', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				FROM cabs_production.cabs_sk.Image WHERE ID IN (SELECT PhotoID FROM #PhotoId) GROUP BY ID
			DELETE FROM cabs_production.cabs_sk.Image WHERE ID IN (SELECT PhotoID FROM #PhotoId)

			-- ***** CLEANSING
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.SK_Person', 'DELETE', ID ,convert(varchar(40), GETDATE(), 120), COUNT(*),'ID' FROM cabs.cleansing.SK_Person WHERE [Ppsn] = @ppsn and Id in (select SKPersonId from @table where PersonId=@personId) GROUP BY ID
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.SK_PersonHistory', 'DELETE', ID ,convert(varchar(40), GETDATE(), 120), COUNT(*),'ID' FROM cabs.cleansing.SK_PersonHistory WHERE [Ppsn] = @ppsn and Id in (select SKPersonId from @table where PersonId=@personId) GROUP BY ID
			delete from cabs.cleansing.SK_Person where PPSN in (@PPSN) and Id in (select SKPersonId from @table where PersonId=@personId)
			delete from cabs.cleansing.SK_PersonHistory where PPSN in (@PPSN) and Id in (select SKPersonId from @table where PersonId=@personId)

			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.VL_LicenceHolderMaster', 'DELETE', LicenceHolderId ,convert(varchar(40), GETDATE(), 120), COUNT(*),'LicenceHolderId' FROM cabs.cleansing.VL_LicenceHolderMaster WHERE [Ppsn] = @ppsn and LicenceHolderId in (select [VL HOLDER] from @table where PersonId=@personId) GROUP BY LicenceHolderId
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.VL_LicenceHolderMasterHistory', 'DELETE', LicenceHolderId ,convert(varchar(40), GETDATE(), 120), COUNT(*),'LicenceHolderId' FROM cabs.cleansing.VL_LicenceHolderMasterHistory WHERE [Ppsn] = @ppsn and LicenceHolderId in (select [VL HOLDER] from @table where PersonId=@personId) GROUP BY LicenceHolderId
			delete from cabs.cleansing.VL_LicenceHolderMaster where PPSN in (@PPSN) and LicenceHolderId in (select [VL HOLDER] from @table where PersonId=@personId)
			delete from cabs.cleansing.VL_LicenceHolderMasterHistory where PPSN in (@PPSN) and LicenceHolderId in (select [VL HOLDER] from @table where PersonId=@personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.Person', 'DELETE', SourceSystem + '_' + convert(varchar(10), ID) ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.Person WHERE [Ppsn] = @ppsn and Id in (select SKPersonId from @table where PersonId=@personId) and SourceSystem = 'SK' group by SourceSystem, id
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.PersonHistory', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.PersonHistory WHERE [Ppsn] = @ppsn and Id in (select SKPersonId from @table where PersonId=@personId) and SourceSystem = 'SK'
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.Person', 'DELETE', SourceSystem + '_' + convert(varchar(10), ID) ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.Person WHERE [Ppsn] = @ppsn and Id in (select [VL HOLDER] from @table where PersonId=@personId) and SourceSystem = 'VLS' group by SourceSystem, id
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.PersonHistory', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.PersonHistory WHERE [Ppsn] = @ppsn and Id in (select [VL HOLDER] from @table where PersonId=@personId) and SourceSystem = 'VLS'
			delete from cabs.cleansing.Person where PPSN in (@PPSN) and Id in (select SKPersonId from @table where PersonId=@personId) and SourceSystem = 'SK'
			delete from cabs.cleansing.PersonHistory where PPSN in (@PPSN) and Id in (select SKPersonId from @table where PersonId=@personId) and SourceSystem = 'SK'
			delete from cabs.cleansing.Person where PPSN in (@PPSN) and Id in (select [VL HOLDER] from @table where PersonId=@personId) and SourceSystem = 'VLS'
			delete from cabs.cleansing.PersonHistory where PPSN in (@PPSN) and Id in (select [VL HOLDER] from @table where PersonId=@personId) and SourceSystem = 'VLS'

		end
		else
		begin
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.DataSource', 'DELETE', DataSourceId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'DataSourceId' 
				FROM [cabs_production].[person].[DataSource] WHERE PersonId = @PersonId GROUP BY DataSourceId
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.DataSourceHistory', 'DELETE', DataSourceId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'DataSourceId' 
				FROM [cabs_production].[person].[DataSourceHistory] WHERE PersonId = @PersonId group by DataSourceId
			DELETE FROM [cabs_production].[person].[DataSource] WHERE PersonId = @PersonId 
			DELETE FROM [cabs_production].[person].[DataSourceHistory] WHERE PersonId = @PersonId 

			----**********************************************************************************************************************************************************************************--
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.RegistrationToken', 'DELETE', [ID], convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID' FROM [cabs_production].[cabs_cmo].[RegistrationToken] WHERE NewLogin IN(SELECT IndustryUserEmail FROM @table WHERE PersonId = @personId) GROUP BY [ID]
			DELETE FROM [cabs_production].[cabs_cmo].[RegistrationToken] WHERE NewLogin IN(SELECT IndustryUserEmail FROM @table WHERE personId = @personId)
			
			--************ REFUNDS
			truncate table #Bookings
			INSERT INTO #Bookings SELECT BookingId FROM cabs_production.DBO.Booking WHERE NewLicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.BookingRefund', 'DELETE', BookingId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'BookingId'
				FROM cabs_production.dbo.BookingRefund WHERE BookingId IN (SELECT BookingId FROM #Bookings) GROUP BY BookingId
			DELETE FROM cabs_production.dbo.BookingRefund WHERE BookingId IN (SELECT BookingId FROM #Bookings)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentRefundVL', 'DELETE', RefundId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'RefundId'
				FROM cabs_production.dbo.PaymentRefundVL WHERE RefundId IN (SELECT RefundId FROM cabs_production.dbo.BookingRefund WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY RefundId
			DELETE FROM cabs_production.dbo.PaymentRefundVL WHERE RefundId IN (SELECT RefundId FROM cabs_production.dbo.BookingRefund WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			--************ PAYMENTS
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentItemVL', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM [cabs_production].[dbo].[PaymentItemVLAudit] WHERE PaymentId IN(SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM [cabs_production].[dbo].[PaymentItemVLAudit] WHERE PaymentId IN(SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentItemVL', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM cabs_production.dbo.PaymentItemVL WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM cabs_production.dbo.PaymentItemVL WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentOrdersVL', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM cabs_production.dbo.PaymentOrdersVL WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM cabs_production.dbo.PaymentOrdersVL WHERE PaymentId IN(SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.BookingPayment', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM cabs_production.dbo.BookingPayment WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM cabs_production.dbo.BookingPayment WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PaymentVL', 'DELETE', PaymentId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PaymentId'
				FROM cabs_production.[dbo].[PaymentVL] WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY PaymentId
			DELETE FROM cabs_production.[dbo].[PaymentVL] WHERE PaymentId IN (SELECT PaymentId FROM cabs_production.dbo.BookingPayment WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_insp.VehicleInspectionsDocument', 'DELETE', VehicleInspectionId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'VehicleInspectionId'
				FROM cabs_production.cabs_insp.VehicleInspectionsDocument WHERE VehicleInspectionId IN (SELECT VehicleInspectionId FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY VehicleInspectionId
			DELETE FROM cabs_production.cabs_insp.VehicleInspectionsDocument WHERE VehicleInspectionId IN (SELECT VehicleInspectionId FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.VehicleInspectionDefects', 'DELETE', VehicleInspectionDefectID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'VehicleInspectionDefectID'
				FROM cabs_production.dbo.VehicleInspectionDefects WHERE VehicleInspectionID IN (SELECT VehicleInspectionId FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings)) GROUP BY VehicleInspectionDefectID
			DELETE FROM cabs_production.dbo.VehicleInspectionDefects WHERE VehicleInspectionID IN (SELECT VehicleInspectionId FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings))

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.VehicleInspections', 'DELETE', BookingId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'BookingId'
				FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings) GROUP BY BookingId
			DELETE FROM cabs_production.dbo.VehicleInspections WHERE BookingId IN (SELECT BookingId FROM #Bookings)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_insp.VehicleInspectionsDraft ', 'DELETE', BookingId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'BookingId'
				FROM cabs_production.cabs_insp.VehicleInspectionsDraft WHERE BookingId IN (SELECT BookingId FROM #Bookings) GROUP BY BookingId
			DELETE FROM cabs_production.cabs_insp.VehicleInspectionsDraft WHERE BookingId IN (SELECT BookingId FROM #Bookings)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.BookingAudit', 'DELETE', BookingId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'BookingId'
				FROM cabs_production.dbo.BookingAudit WHERE BookingId in (SELECT BookingId FROM #Bookings) GROUP BY BookingId
			DELETE FROM cabs_production.dbo.BookingAudit WHERE BookingId in (SELECT BookingId FROM #Bookings)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.Booking', 'DELETE', NewLicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'NewLicenceHolderId'
				FROM cabs_production.DBO.Booking WHERE BookingId IN (SELECT BookingId FROM #Bookings) GROUP BY NewLicenceHolderId
			DELETE FROM cabs_production.DBO.Booking WHERE BookingId IN (SELECT BookingId FROM #Bookings)

			----**********************************************************************************************************************************************************************************--
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_rta.RentalAgreement', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				FROM cabs_production.[cabs_rta].[RentalAgreement] WHERE IndustryUserID IN (SELECT IndustryUserID FROM @table WHERE PersonId = @personId) GROUP BY ID
			DELETE FROM cabs_production.[cabs_rta].[RentalAgreement] WHERE IndustryUserID IN (SELECT IndustryUserID FROM @table WHERE PersonId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_spsv.IndustryUserDriverLicenceHolderMaster', 'DELETE', Id, convert(varchar(40), GETDATE(), 120), COUNT(*), 'Id'
				FROM cabs_production.cabs_spsv.IndustryUserDriverLicenceHolderMaster WHERE LicenceHolderMasterFK IN (@personId) GROUP BY Id
			DELETE FROM cabs_production.cabs_spsv.IndustryUserDriverLicenceHolderMaster  WHERE LicenceHolderMasterFK IN (@personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_spsv.DriverMobileNumberUpdate', 'DELETE', PersonId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PersonId'
				FROM cabs_production.cabs_spsv.DriverMobileNumberUpdate WHERE PersonId IN (@personId) GROUP BY PersonId
			DELETE FROM cabs_production.cabs_spsv.DriverMobileNumberUpdate WHERE PersonId IN (@personId)

			------**********************************************************************************************************************************************************************************--
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_spsv.IndustryUserLicenceHolderMaster', 'DELETE', IndustryUserFK, convert(varchar(40), GETDATE(), 120), COUNT(*), 'IndustryUserFK'
				FROM cabs_production.cabs_spsv.IndustryUserLicenceHolderMaster WHERE LicenceHolderMasterFK IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId) GROUP BY IndustryUserFK
			DELETE FROM cabs_production.cabs_spsv.IndustryUserLicenceHolderMaster WHERE LicenceHolderMasterFK IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceMasterVLAudit', 'DELETE', LicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderId'
				FROM [cabs_production].[dbo].[LicenceMasterVLAudit] WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId) GROUP BY LicenceHolderId
			DELETE FROM [cabs_production].[dbo].[LicenceMasterVLAudit] WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceRepresentative', 'DELETE', LicenceHolderMasterId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderMasterId'
				FROM cabs_production.dbo.LicenceRepresentative WHERE LicenceHolderMasterId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId) GROUP BY LicenceHolderMasterId
			DELETE FROM cabs_production.dbo.LicenceRepresentative WHERE LicenceHolderMasterId IN (SELECT [VL HOLDER] FROM @table WHERE PersonId = @personId)

			---***** NOMINEES 
			DECLARE @LicenceNominees TABLE (LicenceNomineeId INT)
			INSERT INTO @LicenceNominees SELECT LicenceNomineeId FROM cabs_production.dbo.LicenceNominee WHERE PersonId = @personid

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.NomineeStoredDocument', 'DELETE', LicenceNomineeId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceNomineeId'
				FROM cabs_production.dbo.NomineeStoredDocument WHERE LicenceNomineeId IN (SELECT LicenceNomineeId FROM @LicenceNominees) GROUP BY LicenceNomineeId
			DELETE FROM cabs_production.dbo.NomineeStoredDocument WHERE LicenceNomineeId IN (SELECT LicenceNomineeId FROM @LicenceNominees)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceNominee', 'DELETE', LicenceNomineeId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceNomineeId'
				FROM cabs_production.dbo.LicenceNominee WHERE PersonId IN (@personId) GROUP BY LicenceNomineeId
			DELETE FROM cabs_production.dbo.LicenceNominee WHERE PersonId IN (@personId)
					
			-- ****** VL
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceHolderAudit', 'DELETE', LicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderId'
				FROM cabs_production.dbo.LicenceHolderAudit WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId) GROUP BY LicenceHolderId
			DELETE FROM cabs_production.dbo.LicenceHolderAudit WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_dvl.VehicleDriver', 'DELETE', VehicleLicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'VehicleLicenceHolderId'
				FROM [cabs_production].[cabs_dvl].[VehicleDriver] where VehicleLicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId) GROUP BY VehicleLicenceHolderId
			DELETE FROM [cabs_production].[cabs_dvl].[VehicleDriver] where VehicleLicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_dvl.VehicleDriver', 'DELETE', IndustryUserId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'IndustryUserId'
				FROM [cabs_production].[cabs_dvl].[VehicleDriver] where IndustryUserId IN (SELECT IndustryUserId FROM @table WHERE personId = @personId) GROUP BY IndustryUserId
			DELETE FROM [cabs_production].[cabs_dvl].[VehicleDriver] where IndustryUserId IN (SELECT IndustryUserId FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceHolderMaster', 'DELETE', LicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderId'
				FROM [cabs_production].[dbo].[LicenceHolderMaster] WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId) GROUP BY LicenceHolderId
			DELETE FROM [cabs_production].[dbo].[LicenceHolderMaster] WHERE LicenceHolderId IN (SELECT [VL HOLDER] FROM @table WHERE personId = @personId)

			----**********************************************************************************************************************************************************************************--
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_sms.IncomingMessage', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				FROM cabs_production.cabs_sms.IncomingMessage WHERE [IndustryUserId] IN (SELECT IndustryUserID FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_sms.IncomingMessage WHERE [IndustryUserId] IN (SELECT IndustryUserID FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_sms.SmsServiceRegistration', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				FROM cabs_production.cabs_sms.SmsServiceRegistration WHERE IndustryUserId IN (SELECT IndustryUserID FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_sms.SmsServiceRegistration WHERE IndustryUserId IN (SELECT IndustryUserID FROM @table WHERE personId = @personId)

			TRUNCATE TABLE #Users
			INSERT INTO #Users select ASPUserId from cabs_production.cabs_cmo.IndustryUser WHERE Email IN (SELECT IndustryUserEmail FROM @table WHERE personId = @personId) AND ASPUserId IS NOT NULL

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.aspnet_Profile', 'DELETE', UserId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'UserId'
				FROM cabs_production.dbo.aspnet_Profile WHERE UserId IN (SELECT UserID FROM #Users) GROUP BY UserId
			DELETE FROM cabs_production.dbo.aspnet_Profile WHERE UserId IN (SELECT UserID FROM #Users)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.aspnet_PersonalizationPerUser', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'Id'
				FROM cabs_production.dbo.aspnet_PersonalizationPerUser WHERE UserId IN (SELECT UserID FROM #Users) GROUP BY Id
			DELETE FROM cabs_production.dbo.aspnet_PersonalizationPerUser WHERE UserId IN (SELECT UserID FROM #Users)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.aspnet_Membership', 'DELETE', UserId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'UserId'
				FROM cabs_production.dbo.aspnet_Membership WHERE UserId IN (SELECT UserID FROM #Users) GROUP BY UserId
			DELETE FROM cabs_production.dbo.aspnet_Membership WHERE UserId IN (SELECT UserID FROM #Users)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.aspnet_UsersInRoles', 'DELETE', UserId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'UserId'
				FROM cabs_production.dbo.aspnet_UsersInRoles WHERE UserId IN (SELECT UserID FROM #Users) GROUP BY UserId
			DELETE FROM cabs_production.dbo.aspnet_UsersInRoles WHERE UserId IN (SELECT UserID FROM #Users)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.PasswordHistory', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'Id'
				FROM cabs_production.cabs_cmo.PasswordHistory WHERE UserId IN (SELECT UserID FROM #Users) GROUP BY Id
			DELETE FROM cabs_production.cabs_cmo.PasswordHistory WHERE UserId IN (SELECT UserID FROM #Users)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.PasswordReminder', 'DELETE', Id, convert(varchar(40), GETDATE(), 120), COUNT(*), 'Id'
				FROM cabs_production.cabs_cmo.PasswordReminder WHERE UserId IN (SELECT UserID FROM #Users) GROUP BY Id
			DELETE FROM cabs_production.cabs_cmo.PasswordReminder WHERE UserId IN (SELECT UserID FROM #Users)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.UserDetails', 'DELETE', UserId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'UserId'
				FROM cabs_production.cabs_cmo.UserDetails WHERE UserId IN (SELECT UserID FROM #Users) GROUP BY UserId
			DELETE FROM cabs_production.cabs_cmo.UserDetails WHERE UserId IN (SELECT UserID FROM #Users)
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.aspnet_Users', 'DELETE', UserId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'UserId'
				FROM cabs_production.dbo.aspnet_Users WHERE UserId IN (SELECT UserID FROM #Users) GROUP BY UserId
			DELETE FROM cabs_production.dbo.aspnet_Users WHERE UserId IN (SELECT UserID FROM #Users)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.IndustryUser', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				FROM cabs_production.cabs_cmo.IndustryUser WHERE ID IN (SELECT IndustryUserID FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_cmo.IndustryUser WHERE ID IN (SELECT IndustryUserID FROM @table WHERE personId = @personId)

			----**********************************************************************************************************************************************************************************--
			truncate table #PhotoId
			insert into #PhotoId SELECT PhotoID FROM cabs_production.cabs_cmo.Person WHERE ID IN (SELECT SKPersonId FROM @table WHERE personId = @personId)

			insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed]) 
			SELECT 'DR13','cabs_production.cabs_sk.Candidate','DELETE', ID, convert(varchar(40), @retentiondate, 120),COUNT(*), 'ID'
				FROM cabs_production.cabs_sk.Candidate WHERE PersonID IN (SELECT SKPersonId FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_sk.Candidate WHERE PersonID IN (SELECT SKPersonId FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.PersonAudit', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				from cabs_production.cabs_cmo.PersonAudit WHERE PersonID IN (SELECT SKPersonId FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_cmo.PersonAudit WHERE PersonID IN(SELECT SKPersonId FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_cmo.Person', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				from cabs_production.cabs_cmo.Person WHERE Id IN (SELECT SKPersonId FROM @table WHERE personId = @personId) GROUP BY ID
			DELETE FROM cabs_production.cabs_cmo.Person WHERE Id IN (SELECT SKPersonId FROM @table WHERE personId = @personId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.cabs_sk.Image', 'DELETE', ID, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ID'
				FROM cabs_production.cabs_sk.Image WHERE ID IN (SELECT PhotoID FROM #PhotoId) GROUP BY ID
			DELETE FROM cabs_production.cabs_sk.Image WHERE ID IN (SELECT PhotoID FROM #PhotoId)

			----**********************************************************************************************************************************************************************************--
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.PrintRequestMasterVL', 'UPDATE', PrintRequestMasterId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PrintRequestMasterId'
				FROM [cabs_production].[dbo].[PrintRequestMasterVL] WHERE [HolderPPSN] = @ppsn GROUP BY PrintRequestMasterId
			UPDATE 	[cabs_production].[dbo].[PrintRequestMasterVL]
				SET [HolderPPSN] = NULL,
					[HolderName] = NULL,
					[NewHolderName] = NULL,
					[PreviousHolderName] = NULL,
					[HolderFirstName] = NULL,
					[HolderLastName] = NULL,
					[HolderCompanyNumber] = NULL,
					[HolderCompanyName] = NULL,
					[HolderTradingAs] = NULL,
					[HolderAddressLine1] = NULL,
					[HolderAddressLine2] = NULL,
					[HolderAddressLine3] = NULL,
					[HolderTown] = NULL,
					[HolderPostCode] = NULL,
					[HolderCounty] = NULL,
					[HolderCountry] = NULL,
					[HolderPhoneNumber1] = NULL,
					[HolderPhoneNumber2] = NULL,
					[HolderFaxNumber] = NULL,
					[HolderEmail] = NULL
				WHERE [HolderPPSN] = @ppsn

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.dbo.LicenceMasterVLAudit', 'UPDATE', LicenceHolderId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'LicenceHolderId'
				FROM [cabs_production].[dbo].[LicenceMasterVLAudit] WHERE Ppsn = @ppsn GROUP BY LicenceHolderId
			UPDATE [cabs_production].[dbo].[LicenceMasterVLAudit]
				SET	[Ppsn] = NULL,
					[CompanyNumber] = NULL,
					[FirstName] = NULL,
					[LastName] = NULL,
					[DateOfBirth] = NULL,
					[CompanyName] = NULL,
					[TradingAs] = NULL,
					[AddressLine1] = NULL,
					[AddressLine2] = NULL,
					[AddressLine3] = NULL,
					[Town] = NULL,
					[CountyId] = NULL,
					[PostCode] = NULL,
					[CountryId] = NULL,
					[PhoneNo1] = NULL,
					[PhoneNo2] = NULL,
					[Email] = NULL
				WHERE Ppsn = @ppsn

			-- *** PERSON VIEW
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Address', 'DELETE', AddressId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'AddressId'
				FROM [cabs_production].[person].[Address] WHERE PersonId = @PersonId GROUP BY AddressId
			DELETE FROM [cabs_production].[person].[Address] WHERE PersonId = @PersonId
	
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.AddressHistory', 'DELETE', AddressId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'AddressId'
				FROM [cabs_production].[person].[AddressHistory] WHERE PersonId = @PersonId GROUP BY AddressId
			DELETE FROM [cabs_production].[person].[AddressHistory] WHERE PersonId = @PersonId

			-- Delete from cabs_production.person.Ceased
			DECLARE @Files TABLE (FileId INT)
			INSERT INTO @Files SELECT FileId FROM [cabs_production].[person].[Ceased] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Ceased', 'DELETE', CeasedId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'CeasedId'
				FROM [cabs_production].[person].[Ceased] WHERE PersonId = @PersonId GROUP BY CeasedId
			DELETE FROM [cabs_production].[person].[Ceased] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.File', 'DELETE', FileId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'FileId'
				FROM [cabs_production].[person].[File] WHERE FileId IN (SELECT FileId FROM @Files) GROUP BY FileId
			DELETE FROM [cabs_production].[person].[File] WHERE FileId IN (SELECT FileId FROM @Files)
					
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Email', 'DELETE', EmailId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'EmailId'
				FROM [cabs_production].[person].[Email] WHERE PersonId = @PersonId GROUP BY EmailId
			DELETE FROM [cabs_production].[person].[Email] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.EmailHistory', 'DELETE', EmailId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'EmailId'
				FROM [cabs_production].[person].[EmailHistory] WHERE PersonId = @PersonId GROUP BY EmailId
			DELETE FROM [cabs_production].[person].[EmailHistory] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Image', 'DELETE', ImageId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ImageId'
				FROM [cabs_production].[person].[Image] WHERE PersonId = @PersonId GROUP BY ImageId
			DELETE FROM [cabs_production].[person].[Image] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.ImageHistory', 'DELETE', ImageId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ImageId'
				FROM [cabs_production].[person].[ImageHistory] WHERE PersonId = @PersonId GROUP BY ImageId
			DELETE FROM [cabs_production].[person].[ImageHistory] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Phone', 'DELETE', PhoneId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PhoneId'
				FROM [cabs_production].[person].[Phone] WHERE PersonId = @PersonId GROUP BY PhoneId
			DELETE FROM [cabs_production].[person].[Phone] WHERE PersonId = @PersonId
					
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.PhoneHistory', 'DELETE', PhoneId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PhoneId'
				FROM [cabs_production].[person].[PhoneHistory] WHERE PersonId = @PersonId GROUP BY PhoneId
			DELETE FROM [cabs_production].[person].[PhoneHistory] WHERE PersonId = @PersonId
					
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.ProcessField', 'DELETE', ProcessId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ProcessId'
				FROM [cabs_production].[person].[ProcessField] WHERE ProcessId IN (SELECT ProcessId FROM [cabs_production].[person].[Process] WHERE PersonId = @PersonId) GROUP BY ProcessId
			DELETE FROM [cabs_production].[person].[ProcessField] WHERE ProcessId IN (SELECT ProcessId FROM [cabs_production].[person].[Process] WHERE PersonId = @PersonId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Process', 'DELETE', ProcessId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'ProcessId'
				FROM [cabs_production].[person].[Process] WHERE PersonId = @PersonId GROUP BY ProcessId
			DELETE FROM [cabs_production].[person].[Process] WHERE PersonId = @PersonId
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.WatchList', 'DELETE', WatchListId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'WatchListId'
				FROM [cabs_production].[person].[WatchList] WHERE PersonId = @PersonId GROUP BY WatchListId
			DELETE FROM [cabs_production].[person].[WatchList] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.RevenueNotification', 'DELETE', RevenueNotificationId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'RevenueNotificationId'
				FROM [cabs_production].[person].[RevenueNotification] WHERE TaxClearanceCheckId IN (SELECT TaxClearanceCheckId FROM cabs_production.person.TaxClearanceCheck WHERE PersonId = @PersonId) GROUP BY RevenueNotificationId
			DELETE FROM [cabs_production].[person].[RevenueNotification] WHERE TaxClearanceCheckId IN (SELECT TaxClearanceCheckId FROM cabs_production.person.TaxClearanceCheck WHERE PersonId = @PersonId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.RevenueNotificationHistory', 'DELETE', RevenueNotificationId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'RevenueNotificationId'
				FROM [cabs_production].[person].[RevenueNotificationHistory] WHERE TaxClearanceCheckId IN (SELECT TaxClearanceCheckId FROM cabs_production.person.TaxClearanceCheck WHERE PersonId = @PersonId) GROUP BY RevenueNotificationId
			DELETE FROM [cabs_production].[person].[RevenueNotificationHistory] WHERE TaxClearanceCheckId IN (SELECT TaxClearanceCheckId FROM cabs_production.person.TaxClearanceCheck WHERE PersonId = @PersonId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.TaxClearanceCheck', 'DELETE', TaxClearanceCheckId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'TaxClearanceCheckId'
				FROM [cabs_production].[person].[TaxClearanceCheck] WHERE PersonId = @PersonId GROUP BY TaxClearanceCheckId
			DELETE FROM [cabs_production].[person].[TaxClearanceCheck] WHERE PersonId = @PersonId
			
			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.TaxClearanceCheckHistory', 'DELETE', TaxClearanceCheckId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'TaxClearanceCheckId'
				FROM [cabs_production].[person].[TaxClearanceCheckHistory] WHERE PersonId = @PersonId GROUP BY TaxClearanceCheckId
			DELETE FROM [cabs_production].[person].[TaxClearanceCheckHistory] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Individual', 'DELETE', IndividualId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'IndividualId'
				FROM [cabs_production].[person].[Individual] WHERE PersonId = @PersonId GROUP BY IndividualId
			DELETE FROM [cabs_production].[person].[Individual] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.IndividualHistory', 'DELETE', IndividualId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'IndividualId'
				FROM [cabs_production].[person].[IndividualHistory] WHERE PersonId = @PersonId GROUP BY IndividualId
			DELETE FROM [cabs_production].[person].[IndividualHistory] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.CompanyDirector', 'DELETE', CompanyDirectorId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'CompanyDirectorId'
				FROM [cabs_production].[person].[CompanyDirector] WHERE CompanyId IN (SELECT CompanyId FROM cabs_production.person.Company WHERE PersonId = @PersonId) GROUP BY CompanyDirectorId
			DELETE FROM [cabs_production].[person].[CompanyDirector] WHERE CompanyId IN (SELECT CompanyId FROM cabs_production.person.Company WHERE PersonId = @PersonId)

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Company', 'DELETE', CompanyId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'CompanyId'
				FROM [cabs_production].[person].[Company] WHERE PersonId = @PersonId GROUP BY CompanyId
			DELETE FROM [cabs_production].[person].[Company] WHERE PersonId = @PersonId

			INSERT INTO retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.CompanyHistory', 'DELETE', CompanyId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'CompanyId'
				FROM [cabs_production].[person].[CompanyHistory] WHERE PersonId = @PersonId GROUP BY CompanyId
			DELETE FROM [cabs_production].[person].[CompanyHistory] WHERE PersonId = @PersonId
					
			--- Delete from cabs_production.audit.Process - map by audit.Process.ObjectId = person.Person.PersonId. The OwnerModuleId has to be 1 (PV). Data from cabs_production.audit.AdditionalInformation and cabs_production.audit.ChangeValue is deleted automatically.
			EXEC retention.[AuditFollower_Remove] @PersonId, 1, @RetentionDate, 'AUDIT DR14' -- 1 = PV module

			-- ****** ADD TO RetainedLicences
			INSERT INTO retention.RetainedLicences (Type,DeletionDate,CCSN,PersonType,CreatedDate)
			SELECT 'PV', @RetentionDate, CCSN, pt.PersonType, p.CreatedDate
				FROM cabs_production.person.person p INNER JOIN cabs_production.person.PersonType pt ON p.PersonTypeId = pt.PersonTypeId WHERE p.PersonId=@PersonId
					
			INSERT INTO retention.Logger
				([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'cabs_production.person.Person', 'DELETE', PersonId, convert(varchar(40), GETDATE(), 120), COUNT(*), 'PersonId'
				FROM [cabs_production].[person].[Person] WHERE PersonId = @PersonId GROUP BY PersonId
			DELETE FROM [cabs_production].[person].[Person] WHERE PersonId = @PersonId

			--********** CLEANSING TABLES
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_01', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_01 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_02', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_02 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_03', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_03 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_04', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_04 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_05', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_05 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_06', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_06 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_07', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_07 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_08', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_08 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_09', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_09 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_10', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_10 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_11', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_11 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_12', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_12 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_13', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_13 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_14', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_14 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_15', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_15 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_16', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_16 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_17', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_17 WHERE [Ppsn] = @ppsn
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.DC01_1_18', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.DC01_1_18 WHERE [Ppsn] = @ppsn

			delete from cabs.cleansing.DC01_1_01 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_02 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_03 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_04 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_05 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_06 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_07 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_08 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_09 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_10 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_11 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_12 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_13 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_14 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_15 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_16 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_17 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_18 where PPSN in (@PPSN)
			delete from cabs.cleansing.DC01_1_19 where PPSN in (@PPSN)

			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.SK_Person', 'DELETE', ID ,convert(varchar(40), GETDATE(), 120), COUNT(*),'ID' FROM cabs.cleansing.SK_Person WHERE [Ppsn] = @ppsn GROUP BY ID
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.SK_PersonHistory', 'DELETE', ID ,convert(varchar(40), GETDATE(), 120), COUNT(*),'ID' FROM cabs.cleansing.SK_PersonHistory WHERE [Ppsn] = @ppsn GROUP BY ID
			
			delete from cabs.cleansing.SK_Person where PPSN in (@PPSN)
			delete from cabs.cleansing.SK_PersonHistory where PPSN in (@PPSN)

			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.VL_LicenceHolderMaster', 'DELETE', LicenceHolderId ,convert(varchar(40), GETDATE(), 120), COUNT(*),'LicenceHolderId' FROM cabs.cleansing.VL_LicenceHolderMaster WHERE [Ppsn] = @ppsn GROUP BY LicenceHolderId
			INSERT INTO retention.Logger([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				SELECT 'DR14', 'Cabs.cleansing.VL_LicenceHolderMasterHistory', 'DELETE', LicenceHolderId ,convert(varchar(40), GETDATE(), 120), COUNT(*),'LicenceHolderId' FROM cabs.cleansing.VL_LicenceHolderMasterHistory WHERE [Ppsn] = @ppsn GROUP BY LicenceHolderId

			delete from cabs.cleansing.VL_LicenceHolderMaster where PPSN in (@PPSN)
			delete from cabs.cleansing.VL_LicenceHolderMasterHistory where PPSN in (@PPSN)


			INSERT INTO retention.Logger
				([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'Cabs.cleansing.Person', 'DELETE', SourceSystem + '_' + convert(varchar(10), ID) ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.Person WHERE [Ppsn] = @ppsn  group by SourceSystem, id
			INSERT INTO retention.Logger
				([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			SELECT 'DR14', 'Cabs.cleansing.PersonHistory', 'DELETE', NULL ,convert(varchar(40), GETDATE(), 120), COUNT(*),'' FROM cabs.cleansing.PersonHistory WHERE [Ppsn] = @ppsn

			delete from cabs.cleansing.Person where PPSN in (@PPSN)
			delete from cabs.cleansing.PersonHistory where PPSN in (@PPSN)

			--***** BREAK LINKS FROM CASES TO CANDIDATE
			insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
			select 'DR14', 'Cabs_Live.dbo.Cases', 'UPDATE',  id, convert(varchar(40), @RetentionDate,120), count(*), 'Id'
				from Cabs_Live.dbo.Cases where ltrim(rtrim(linkedSkillsCandidate))=@ppsn group by id
			UPDATE Cabs_Live.dbo.Cases SET linkedSkillsCandidate = null WHERE ltrim(rtrim(linkedSkillsCandidate)) = @ppsn
		end

		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION

		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
				BEGIN
		ROLLBACK TRANSACTION;
		insert into retention.ErrorLog
		select
			getdate() 'Date',
			ERROR_PROCEDURE() 'ERROR_PROCEDURE',
			ERROR_NUMBER() 'ERROR_NUMBER',
			ERROR_MESSAGE() 'ERROR_MESSAGE',
			'DR14: CCSN: ' + @ccsn +' PersonId: ' + cast(@personId as varchar(10)) 'RULE_MESSAGE'

		update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
		set @i_error=@i_error+1
		END
			END CATCH;

		FETCH NEXT FROM c_ppsn into @personId, @ccsn, @ppsn
	END
	CLOSE c_ppsn
	DEALLOCATE c_ppsn

	update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
	DROP TABLE #Bookings
	DROP TABLE #PhotoId
	DROP TABLE #Users
END
GO
