USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR11_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [retention].[DR11_SELECT]
(@ResolveDate as datetime)

RETURNS @table TABLE(
		HolderID INT NULL	,
		[Licence Number] VARCHAR(MAX),
		[Company Name] VARCHAR(MAX),
		[Vehicle Licences] VARCHAR(MAX),
		[ExpiryDate] DATETIME,
		[Date of deletion] DATETIME,
		[IsRetain] BIT
	)

AS

BEGIN

	INSERT INTO @table
		SELECT 
			DO.[CompanyID]
			,DO.[LicenceNumber]
			,DO.[CompanyName]
			,REPLACE(stuff((SELECT distinct ',' + cast(mLMVL.LicenceNumber as varchar(1000))				  
					FROM [DB2].[TRDWH].[dbo].[DispatchOperator] mDO 
				inner join 
				[cabs_production].[dbo].[LicenceMasterVL] mLMVL ON mDO.[CompanyID] = mLMVL.LicenceHolderId 
				where  mDO.[CompanyID] = DO.[CompanyID]				
					FOR XML PATH('')),1,1,''),',',', ' ) as VlLicences
			,DO.[ExpiryDate] AS [ExpiryDate]
			,@ResolveDate AS [Date of deletion]
			,
			case
				when DO.ExpiryDate is null and do.EditDate is null then iif((CONVERT(int,CONVERT(char(8),@ResolveDate,112))-CONVERT(char(8),DO.Creation_Date,112))*1.0/10000>2, 1, 0)
				when DO.ExpiryDate is null then iif((CONVERT(int,CONVERT(char(8),@ResolveDate,112))-CONVERT(char(8),DO.EditDate,112))*1.0/10000>2, 1, 0)
				else iif((CONVERT(int,CONVERT(char(8),@ResolveDate,112))-CONVERT(char(8),DO.[ExpiryDate],112))*1.0/10000>2, 1, 0) 
			end [IsRetain]
			FROM [DB2].[TRDWH].[dbo].[DispatchOperator] DO
			WHERE 
			( 
			(DO.ExpiryDate is null and do.EditDate is null and (CONVERT(int,CONVERT(char(8),@ResolveDate,112))-CONVERT(char(8),DO.Creation_Date,112))*1.0/10000 > 2)
			or
			(DO.ExpiryDate is null and (CONVERT(int,CONVERT(char(8),@ResolveDate,112))-CONVERT(char(8),DO.EditDate,112))*1.0/10000 > 2)
			or
			((CONVERT(int,CONVERT(char(8),@ResolveDate,112))-CONVERT(char(8),DO.[ExpiryDate],112))*1.0/10000 > 2)
			)
			and ([CompanyName] <> 'DO Company' or CompanyName is null)
			ORDER BY [ExpiryDate] DESC
	RETURN
END
GO
