USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR05]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [retention].[DR05] (@RetentionDate datetime) as
BEGIN
declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1
declare @c int 


select @c=count(*) from [retention].[DR05_SELECT](@RetentionDate)


insert into retention.RulesLogger
	select getdate(), 'DR05', @RetentionDate, getdate(), NULL, @c, 0, 0 
set @RuleLoggerId  = SCOPE_IDENTITY()

	BEGIN TRY
		BEGIN TRANSACTION;
				
	declare @t table (
		SearchId bigint)

		insert into @t 
			select [SearchId] from [retention].[DR05_SELECT](@RetentionDate)

		--if exists (select * from  [cabs_production].[cabs_dck].[DriverCheckLog] where [SearchId] in (select [SearchId] from @t))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR05', 'cabs_production.cabs_dck.DriverCheckLog', 'DELETE', [SearchId], convert(varchar(40), @RetentionDate,120), count(*), 'SearchId' from  [cabs_production].[cabs_dck].[DriverCheckLog] where [SearchId] in (select [SearchId] from @t) group by [SearchId]
							delete from  [cabs_production].[cabs_dck].[DriverCheckLog] where [SearchId] in (select [SearchId] from @t)
						end

		update retention.RulesLogger set RowsDone = @c where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION;

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR05 - All data'

					update retention.RulesLogger set RowsWithError = @c where id=@RuleLoggerId
			END
	END CATCH;	

	update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
