USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR09_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [retention].[DR09_SELECT] (@RetentionDate datetime) 
returns @t table
 (
	[LicenceNumber] [varchar](50)  NULL,
	[Licence Holder Name] [nvarchar](101) NULL,
	[PPSN] [nvarchar](50) NULL,
	[Conditional Offer Expiry Date] [smalldatetime] NULL,
	[Licence Type] [varchar](50) NULL,
	[Licence Status] [varchar](43) NULL,
	[Vehicle Registration Number] [varchar](10) NULL,
	[Last Booking Date] [datetime] NULL,
	[Date of deletion] [datetime] NULL,
	[IsRetain] [int] NULL
) 
as
begin

declare @Licence_Case table (LicenceNumber varchar(50))
	insert into @Licence_Case
	select VLLicence from retention.vDR020203 d where VLLicence is not null and VLLicenceExpiryDate is null and COExpirydate is not null and dateadd(YEAR, 7, ResolutionDate) > @RetentionDate


;with 
cte_VL as (
select 
vl.LicenceNumber 'LicenceNumber',
h.HolderName 'Licence Holder Name',
h.Ppsn,
vl.CoExpiryDate 'Conditional Offer Expiry Date',
lt.LicenceType 'Licence Type',
CONCAT(lsm.LicenceStateMaster, isnull(' - ' + ls.LicenceState, '')) 'Licence Status',
vl.RegistrationNumber 'Vehicle Registration Number'
from cabs_production.dbo.LicenceMasterVL vl
left join cabs_production.dbo.LicenceHolderMaster h on vl.LicenceHolderId=h.LicenceHolderId
left join cabs_production.dbo.LicenceType lt on vl.LicenceTypeId=lt.LicenceTypeId
left join cabs_production.dbo.LicenceState ls on vl.LicenceStateId=ls.LicenceStateId
left join cabs_production.dbo.LicenceStateMaster lsm on vl.LicenceStateMasterId=lsm.LicenceStateMasterId
where
(
	CONCAT(lsm.LicenceStateMaster, isnull(' - ' + ls.LicenceState, '')) in ('DEAD - Conditional Offer')
	or
	(vl.CoExpiryDate is not null and vl.LicenceExpiryDate is null)
)

),
cte_Booking as
(select cte_VL.*,  max(BookingId) 'BookingId',  max(BookingDateTime) 'BookingDateTime' 
from cte_VL
left join cabs_production.dbo.Booking b on b.LicenceNumber = cte_VL.LicenceNumber
group by 
cte_VL.[Conditional Offer Expiry Date], cte_VL.[Licence Holder Name],cte_VL.Ppsn, cte_VL.[Licence Status], cte_VL.[Licence Type], cte_VL.LicenceNumber, cte_VL.[Vehicle Registration Number]
) 

insert into @t
select 
	vb.LicenceNumber, 
	vb.[Licence Holder Name],
	vb.Ppsn,
	vb.[Conditional Offer Expiry Date],
	vb.[Licence Type],
	vb.[Licence Status],
	vb.[Vehicle Registration Number],
	vb.BookingDateTime 'Last Booking Date',
	@RetentionDate 'Date of deletion',
	iif( ((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),vb.[Conditional Offer Expiry Date],112))*1.0/10000)>6, 1, 0) 'IsRetain'
from cte_Booking vb

where 
--(CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),vb.[Conditional Offer Expiry Date],112))*1.0/10000 > 1
(dateadd(YEAR, 1, vb.[Conditional Offer Expiry Date]) < @RetentionDate or vb.[Conditional Offer Expiry Date] is null)
--and vb.LicenceNumber not in (select LicenceNumber from @Licence_Case)
and not exists (SELECT LicenceNumber FROM @Licence_Case WHERE LicenceNumber = vb.LicenceNumber)

return 
end
GO
