USE [CABS]
GO
/****** Object:  View [retention].[vDR0201]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   view [retention].[vDR0201] as

select * from 
retention.vDR02 
where
Linked = 0
and progressStatus_id = 6 
and
(
	--Non Prosecution Cases
	(
		(category_id not in (SELECT [id] FROM [Cabs_Live].[dbo].[Case_Category_Internal] where [parent_id]=89) or category_id is null)
		or (Case_Outcome <> 1 or Case_Outcome is null)
	)
	and	-- Non Compliance Cases
	(
		(case_resolutionFK not in (1,2,3,4,13,14,15,16,17,18) or case_resolutionFK is null)
		or (category_id in (SELECT [id] FROM [Cabs_Live].[dbo].[Case_Category_Internal] where [parent_id] <> 10 or Id = 45) or category_id is null)
	)
)
GO
