USE [CABS]
GO
/****** Object:  Table [retention].[RetainedLicences]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [retention].[RetainedLicences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](10) NULL,
	[LicenceNumber] [varchar](50) NULL,
	[LicenceType] [varchar](50) NULL,
	[LicenceExpiryDate] [datetime] NULL,
	[LicenceCreatedDate] [datetime] NULL,
	[TestConfirmationNumber] [nvarchar](50) NULL,
	[TestDate] [datetime] NULL,
	[DeletionDate] [datetime] NULL,
	[CCSN] [varchar](20) NULL,
	[PersonType] [varchar](20) NULL,
	[CreatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_RetainedLicences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_RetainedLicences_DeletionDate]    Script Date: 14/04/2022 13:25:03 ******/
CREATE NONCLUSTERED INDEX [IX_RetainedLicences_DeletionDate] ON [retention].[RetainedLicences]
(
	[DeletionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RetainedLicences_Type]    Script Date: 14/04/2022 13:25:03 ******/
CREATE NONCLUSTERED INDEX [IX_RetainedLicences_Type] ON [retention].[RetainedLicences]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
