USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR01_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from [retention].[DR01_SELECT]  ('2020-02-28')

CREATE   FUNCTION [retention].[DR01_SELECT] (@RetentionDate datetime) 
RETURNS @t table
(
	[ApplicationId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[UserName] [nvarchar](256) NULL,
	[LoweredUserName] [nvarchar](256) NULL,
	[FullName] [nvarchar](128) NULL,
	[Email] [nvarchar](256) NULL,
	[LastActivityDate] [datetime] NULL,
	[DateOfAnonymization] [datetime] NULL,
	[IsRetain] [bit] NULL
	)
	AS
begin
insert into @t
select distinct
		u.ApplicationId,
		u.UserId,
		u.UserName, 
		u.LoweredUserName,
		d.FullName, 
		case when m.LoweredEmail = '' then NULL else m.LoweredEmail end 'Email',
		u.LastActivityDate, 
		@RetentionDate 'Date of anonymization',
		iif( ((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),u.LastActivityDate,112))*1.0/10000)>7, 1, 0) 'IsRetain'
	from cabs_production.dbo.aspnet_Users u
		left join cabs_production.cabs_cmo.UserDetails d on u.UserId=d.UserId
		left join cabs_production.dbo.aspnet_Membership m on u.UserId=m.UserId
		left join cabs_production.dbo.aspnet_UsersInRoles ur on u.UserId=ur.UserId
		left join cabs_production.dbo.aspnet_Roles r on ur.RoleId=r.RoleId 

	where (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),u.LastActivityDate,112))*1.0/10000 > 7
	and (r.RoleName not in ('SPSV', 'SPSVDL', 'SPSVVL', 'TDS Authorised Supplier'))
	and (u.UserName not like 'CABS User%' or u.UserName is null)
	order by LastActivityDate desc
return
end
GO
