USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR03_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   function [retention].[DR03_SELECT] (@RetentionDate as datetime)

returns @t table 
(
    [LicenceMasterId] [int] NOT NULL,
    [LicenceNumber] [nvarchar](20) NOT NULL,
    [HolderName] [nvarchar](100) NULL,
    [PPSN] [nvarchar](20) NULL,
    [LicenceExpiryDate] [datetime] NOT NULL,
    [LicenceStatus] [varchar](50) NULL,
    [GardaDivisionName] [nvarchar](50) NULL,
    [PrimaryArea] [nvarchar](20) NULL,
    [AdditionalAreas] [nvarchar](max) NULL,
    [LAHArea] [nvarchar](50) NULL,
    [Comments] [varchar](max) NULL,
    [WatchList] [bit] NULL,
    [NumberOfFines] [int] NULL,
    [DateOfDeletion] [datetime] NULL,
    [IsRetain] bit NULL
)
AS 
BEGIN

    DECLARE @RetentionPeriod INT
    SET @RetentionPeriod = 6

    DECLARE @DR02 TABLE (
        DL nvarchar(200)
)

    INSERT INTO @DR02
    SELECT [DLLicence]
    FROM [CABS].[retention].[vDR020203]
    WHERE DATEADD(YEAR,7,[ResolutionDate]) > @RetentionDate AND [DLLicence] IS NOT NULL

    ;with
        step1
        as
        (
            SELECT
                lm.LicenceMasterId
	, lm.LicenceNumber as [LicenceNumber]
    --1 = Company, 2 = Individual
    , IIF(p.PersonTypeId = 1, company.CompanyName, CONCAT(individual.FirstName, ' ', individual.LastName)) as [HolderName]
    , p.PPSN
	, lm.ExpiryDate as [LicenceExpiryDate]
	, CONCAT(lsm.Name,' - ', ls.Name) as [LicenceStatus]
    , garda.Name AS [GardaDivisionName]
    , area.Name AS [PrimaryArea]

    , STUFF((SELECT distinct ', ' + CAST(area.Name AS VARCHAR(1000))
                FROM [cabs_production].[dl].[AdditionalArea] additionalAreas
                    LEFT JOIN [cabs_production].[dl].[Area] area ON area.AreaId = additionalAreas.AdditionalAreaId
                WHERE additionalAreas.LicenceMasterId = LM.LicenceMasterId
                FOR XML PATH('')), 1,1,'') AS [AdditionalAreas]
    , lahLink.Area as [LAHArea]
    , ISNULL(wl.IsOnWatchList, 0) as [WatchList]
    , STUFF((SELECT distinct '; ' + CAST(notes.Text AS VARCHAR(1000))
                FROM [cabs_production].[cabs_enf].[CaseNotes] notes
                where notes.LicenceNumber = lm.LicenceNumber
                FOR XML PATH('')), 1,1,'') AS [Comments]

    , Fines.[NumberOfFines]
    , @RetentionDate as [DateOfDeletion]
    , iif( ((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),lm.ExpiryDate,112))*1.0/10000)>6, 1, 0) as [IsRetain]
            FROM [cabs_production].[dl].[LicenceMaster] lm
                LEFT JOIN [cabs_production].[dl].[LicenceStateMaster] lsm on lsm.LicenceStateMasterId = lm.LicenceStateMasterId
                LEFT JOIN [cabs_production].[dl].[LicenceState] ls on ls.LicenceStateId = lm.LicenceStateId
                LEFT JOIN [cabs_production].[dl].[GardaArea] garda on garda.GardaAreaId = lm.GardaAreaId
                LEFT JOIN [cabs_production].[dl].[Area] area on area.AreaId = lm.PrimaryAreaId
                LEFT JOIN [cabs_production].[dbo].[LAHLink] lahLink on lahLink.DriverLicenceNumber = lm.LicenceNumber

                --person data
                LEFT JOIN cabs_production.dl.LicenceHolderMaster lhm on lhm.LicenceMasterId = lm.LicenceMasterId
                LEFT JOIN cabs_production.person.Person p on p.PersonId = lhm.PersonId
                LEFT JOIN cabs_production.person.Individual individual on individual.PersonId = p.PersonId
                LEFT JOIN cabs_production.person.Company company on company.PersonId = p.PersonId
                LEFT JOIN (select ROW_NUMBER() OVER (PARTITION BY PersonId order by CreatedDate desc) 'RankId', IsOnWatchList, PersonId
                    FROM cabs_production.person.WatchList with (nolock)) wl on wl.PersonId=lhm.PersonId and wl.RankId=1

                --enf data
                LEFT JOIN (
		select DriverLicenceId, count(distinct ID) as [NumberOfFines]
                from [cabs_production].[cabs_enf].[Fines]
                group by [DriverLicenceId]
	) Fines on lm.LicenceMasterId = Fines.DriverLicenceId

            where 
	DATEADD(YEAR,@RetentionPeriod, lm.ExpiryDate) <  @RetentionDate
                -- and 
                -- lm.LicenceStateMasterID not in (1,6)
                and not exists (SELECT DL
                FROM @DR02
                WHERE DL = lm.LicenceNumber)
        )

    insert into @t

    select
        LicenceMasterId,
        LicenceNumber,
        HolderName,
        PPSN,
        LicenceExpiryDate,
        LicenceStatus,
        GardaDivisionName,
        PrimaryArea,
        AdditionalAreas,
        LAHArea,
        Comments,
        WatchList,
        NumberOfFines,
        DateOfDeletion,
        IsRetain
    FROM step1

    return
end
GO
