USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR07_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [retention].[DR07_SELECT] (@RetentionDate datetime) as
begin 

truncate table [retention].[DR07tmpTable]

create table #Vehicles (RegistrationNumber varchar(10) PRIMARY KEY)
create table #VehiclesHistory (
	RegistrationNumber varchar(10) PRIMARY KEY,
	AuditId int,
	LicenceNumber varchar(20),
	HistoryChangeId int,
	HistoryChangeType varchar(100),
	NextHistoryChangeId int,
	NextHistoryChangeType varchar(100),
	AuditDate datetime2(7),
	NextAuditDate datetime2(7)
	)

insert into #Vehicles 
select RegistrationNumber 
from cabs_production.dbo.VehicleMaster 
where 
RegistrationNumber not in (select distinct RegistrationNumber from cabs_production.dbo.LicenceMasterVL)
and RegistrationNumber not in (select distinct RegistrationNumberFK from cabs_production.cabs_dvl.VehicleDriver)
and RegistrationNumber not in (select distinct RegistrationNumber from cabs_production.dbo.Booking where (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),BookingDateTime,112))*1.0/10000 < 1)


insert into #VehiclesHistory
select RegistrationNumber, Id, LicenceNumber, HistoryChangeId, HistoryChangeType, NextHistoryChangeId, NextHistoryChangeType, AuditDate, NextAuditDate from (
select 
ROW_NUMBER() OVER (PARTITION BY RegistrationNumber ORDER BY NextAuditDate desc) 'RankId',
* from (
select 
l.id, 
l.LicenceNumber,
l.RegistrationNumber,
h.HistoryChangeId,
h.HistoryChangeType,
isnull(LAG (h.HistoryChangeId) OVER (PARTITION BY LicenceNumber ORDER BY l.AuditDate desc),h.HistoryChangeId) AS NextHistoryChangeId,
isnull(LAG (h.HistoryChangeType) OVER (PARTITION BY LicenceNumber ORDER BY l.AuditDate desc),h.HistoryChangeType) AS NextHistoryChangeType,
l.AuditDate,
isnull(LAG (l.AuditDate) OVER (PARTITION BY LicenceNumber ORDER BY l.AuditDate desc), l.AuditDate) AS NextAuditDate

 from cabs_production.dbo.LicenceMasterVLAudit l
left join cabs_production.dbo.LicenceState ls on ls.LicenceStateId=l.LicenceStateId
left join cabs_production.dbo.LicenceStateMaster lsm on lsm.LicenceStateMasterId=l.LicenceStateMasterId
left join cabs_production.dbo.HistoryChangeType h on h.HistoryChangeID=l.HistoryChangeId
) a 
where 
RegistrationNumber in (select * from #Vehicles)
and (NextHistoryChangeID in (4, 7, 39, 46, 49, 57, 58, 62) or NextHistoryChangeID is null)
) b 
where 
RankId=1

delete from #Vehicles where RegistrationNumber in (
select RegistrationNumber from #VehiclesHistory
where (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),NextAuditDate,112))*1.0/10000<=6
)


delete from #VehiclesHistory where RegistrationNumber in (
select RegistrationNumber from #VehiclesHistory
where (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),NextAuditDate,112))*1.0/10000<=6
)

insert into [retention].[DR07tmpTable]
select 
	vm.RegistrationNumber,
	vm.VehicleAge,
	vmake.Make,
	vmod.Model,
	vh.NextAuditDate 'Last associated date',
	vh.LicenceNumber as [Last associated VL licence number],
	vi_b.BookingDate [Date of last booking],
	vm.LastDocumentationCheckDate as [Last documentation check date],
	vi_b.InspectionDate [Date of last inspection],
	vi_b.ProcessName as [Type of last inspection],
	@RetentionDate as [Date of deletion],
    iif( ((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),vm.[ModifiedDate],112))*1.0/10000)>6, 1, 0) [IsRetain]
	
from cabs_production.dbo.VehicleMaster vm 
	left join cabs_production.dbo.VehicleMake vmake on vm.MakeId=vmake.MakeId
	left join cabs_production.dbo.VehicleModel vmod on vm.ModelId=vmod.ModelId
	left join #VehiclesHistory vh on vh.RegistrationNumber=vm.RegistrationNumber
	left join
		(select RegistrationNumber, InspectionDate, BookingDate, ProcessName from (
			select 
				ROW_NUMBER() OVER (PARTITION BY v.RegistrationNumber ORDER BY vi.TestStartTime desc) 'RankId',
				v.RegistrationNumber,
				vi.TestStartTime 'InspectionDate',
				b.BookingId,
				b.CreatedDate 'BookingDate',
				it.ProcessName
				from #vehicles v
				inner join cabs_production.dbo.VehicleInspections vi on v.RegistrationNumber=vi.RegistrationNumber
				left join cabs_production.dbo.Booking b on vi.BookingId=b.BookingId
				left join cabs_production.dbo.SystemProcessVL it on it.SystemProcessId=b.SystemProcessId
		) a where Rankid = 1 ) vi_b on vi_b.RegistrationNumber=vm.RegistrationNumber
where vm.RegistrationNumber in (select * from #vehicles)


drop table #Vehicles 
drop table #VehiclesHistory

end
GO
