USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR20_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [retention].[DR20_SELECT] (@RetentionDate DATETIME) 
RETURNS @t TABLE
(
	[ReportId] [int] NULL,
	[ExternalUserId] [varchar](100) NULL,
	[Area] [varchar](100) NULL,
	[DriverLicenceNumber] [varchar](50) NULL,
	[DriverName] [varchar](101) NULL,
	[IndustryUserId] [int] NULL,
	[VehicleColor] [varchar](50) NULL,
	[VehicleLicenceExpirationDate] [datetime] NULL,
	[VehicleLicenceNumber] [varchar](50) NULL,
	[VehicleMake] [varchar](50) NULL,
	[VehicleModel] [varchar](50) NULL,
	[VehicleRegistrationNumber] [varchar](50) NULL,
	[DriverDetailsIncorrect] [bit] NULL,
	[VehicleDetailsIncorrect] [bit] NULL,
	[Comments] [varchar](500) NULL,
	[VerificationNumber] [varchar](100) NULL,
	[ReportDate] [datetime] NULL,
	[DLSystemMatch] [bit] NULL,
	[VLSystemMatch] [bit] NULL,
	[ReportedBy] [nvarchar](100) NULL,
	[LNKExists] [bit] NOT NULL
)
AS
BEGIN

insert into @t
SELECT [ReportId]
      ,[ExternalUserId]
      ,[Area]
      ,[DriverLicenceNumber]
      ,[DriverName]
      ,[IndustryUserId]
      ,[VehicleColor]
      ,[VehicleLicenceExpirationDate]
      ,[VehicleLicenceNumber]
      ,[VehicleMake]
      ,[VehicleModel]
      ,[VehicleRegistrationNumber]
      ,[DriverDetailsIncorrect]
      ,[VehicleDetailsIncorrect]
      ,[Comments]
      ,[VerificationNumber]
      ,[ReportDate]
      ,[DLSystemMatch]
      ,[VLSystemMatch]
      ,[ReportedBy]
      ,[LNKExists] 
FROM [cabs_production].cabs_dck.DriverCheckReport dr
WHERE dr.ReportDate <  dateadd(YEAR, -1, @RetentionDate) 
OR dr.ReportDate IS NULL

RETURN
END
GO
