USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR04_02]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   proc [retention].[DR04_02] (@RetentionDate datetime) as
BEGIN

declare @AuditID as int, @LicenceNumber as varchar(25)

declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1


insert into retention.RulesLogger
	select getdate(), 'DR04.02', @RetentionDate, getdate(), NULL, count(*), 0, 0 from retention.DR04_02_SELECT (@RetentionDate)
set @RuleLoggerId  = SCOPE_IDENTITY()


declare delete_audit cursor for
	select t1.Id, t1.DriverLicenceNumber from [retention].[DR04_02_SELECT](@RetentionDate) t1

open delete_audit

	FETCH NEXT FROM delete_audit INTO @AuditID, @LicenceNumber

	WHILE @@FETCH_STATUS = 0
	BEGIN

	BEGIN TRY
		BEGIN TRANSACTION;
				

		--if exists (select * from  [cabs_production].[cabs_enf].[AuditHistoryItem] where [AuditId]=@AuditID)
						begin
							insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR04_02', 'cabs_production.cabs_enf.AuditHistoryItem', 'DELETE',  @AuditID, convert(varchar(40), @RetentionDate,120), count(*), 'AuditID' from  [cabs_production].[cabs_enf].[AuditHistoryItem] where [AuditId]=@AuditID
							delete from [cabs_production].[cabs_enf].[AuditHistoryItem] where [AuditId]=@AuditID
						end

		--if exists (select * from  [cabs_production].[cabs_enf].[Audit] where [Id]=@AuditID)
						begin
							insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR04_02', 'cabs_production.cabs_enf.Audit', 'DELETE',  @AuditID, convert(varchar(40), @RetentionDate,120), count(*), 'AuditID' from  [cabs_production].[cabs_enf].[Audit] where [Id]=@AuditID
							delete from [cabs_production].[cabs_enf].[Audit] where [Id]=@AuditID
						end
/*
		--if exists (select * from  [cabs_production].[cabs_enf].[CaseNotes] where [LicenceNumber]=@LicenceNumber)
						begin
							insert into retention.Logger ([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR04_02', 'cabs_production.cabs_enf.CaseNotes', 'DELETE',  @LicenceNumber, convert(varchar(40), @RetentionDate,120), count(*), 'SearchID' from [cabs_production].[cabs_enf].[CaseNotes] where [LicenceNumber]=@LicenceNumber
							delete from [cabs_production].[cabs_enf].[CaseNotes] where [LicenceNumber]=@LicenceNumber
						end
*/
		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR04.02: AuditId: ' + convert(varchar(10), @AuditID) + ' LicenceNumber: ' + @LicenceNumber 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1
			END
	END CATCH;	
	
	
	
	FETCH NEXT FROM delete_audit INTO @AuditID, @LicenceNumber
	END
CLOSE delete_audit
DEALLOCATE delete_audit

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
