USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR05_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   function [retention].[DR05_SELECT] (@RetentionDate as datetime)
returns @t table (
	[RowID][bigint] null
   ,[SearchId] [bigint] null
   ,[SearchTerm] [nvarchar](100) NULL
   ,[SearchDate] [datetime] NULL
   ,[Action Name] [nvarchar](200) NULL
   ,[Date of deletion] [datetime] null
   ,[IsRetain] bit NULL
) 
as
begin

insert into @t

select 
	 row_number() over(order by SearchId) as [RowID]
	,SearchId
	,dcl.SearchTerm
	,dcl.SearchDate
	,dcl.MethodName as [Action Name]
	,@RetentionDate as [Date of deletion]
	,iif(datediff(day, dcl.SearchDate, @RetentionDate) > 60, 1, 0) [IsRetain]
from [cabs_production].[cabs_dck].[DriverCheckLog] dcl
where
	datediff(day, dcl.SearchDate, @RetentionDate) > 60


return
end
GO
