USE [CABS]
GO
/****** Object:  Table [retention].[RulesLogger]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [retention].[RulesLogger](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[Rule] [varchar](10) NOT NULL,
	[RetentionDate] [datetime] NOT NULL,
	[RuleStartDate] [datetime] NOT NULL,
	[RuleEndDate] [datetime] NULL,
	[RowsFallIntoRetention] [int] NULL,
	[RowsDone] [int] NULL,
	[RowsWithError] [int] NULL,
 CONSTRAINT [PK_RulesLogger] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [retention].[RulesLogger] ADD  CONSTRAINT [DF_RulesLogger_TimeStamp]  DEFAULT (getdate()) FOR [TimeStamp]
GO
