USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[AuditFollower_Remove]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [retention].[AuditFollower_Remove]
	(@ObjectId NVARCHAR(MAX), @ModuleId INT, @RetentionDate datetime, @RuleMessage NVARCHAR(10) = 'Audit_rm')
as
BEGIN
    BEGIN TRY
    BEGIN TRANSACTION;		
        BEGIN
            -- 	**AUDITS
			DECLARE @AuditProcesses TABLE (
				ProcessId varchar(50)
			)
			INSERT INTO @AuditProcesses
			SELECT [ProcessId]
			FROM [cabs_production].[audit].[Process]
			where ObjectId = @ObjectId and ModuleId = @ModuleId

			BEGIN

				DECLARE @error INT
				SET @error = 0 / 2

				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select @RuleMessage, 'cabs_production.audit.AdditionalInformation', 'DELETE', AdditionalInformationId, convert(varchar(40), @RetentionDate,120), count(*), 'AdditionalInformationId'
				from [cabs_production].[audit].[AdditionalInformation]
				where [ProcessId] in (SELECT ProcessId
				FROM @AuditProcesses)
				group by AdditionalInformationId

				delete from [cabs_production].[audit].[AdditionalInformation] where [ProcessId] in (SELECT ProcessId
				FROM @AuditProcesses)
				PRINT N'REMOVED cabs_production.audit.AdditionalInformation'


				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select @RuleMessage, 'cabs_production.audit.ChangeValue', 'DELETE', ChangeValueId, convert(varchar(40), @RetentionDate,120), count(*), 'ChangeValueId'
				from [cabs_production].[audit].[ChangeValue]
				where [ProcessId] in (SELECT ProcessId
				FROM @AuditProcesses)
				group by ChangeValueId

				delete from [cabs_production].[audit].[ChangeValue] where [ProcessId] in (SELECT ProcessId
				FROM @AuditProcesses)
				PRINT N'REMOVED cabs_production.audit.ChangeValue'


				insert into retention.Logger
					([Rule],[TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select @RuleMessage, 'cabs_production.audit.Process', 'DELETE', ProcessId, convert(varchar(40), @RetentionDate,120), count(*), 'ProcessId'
				from [cabs_production].[audit].[Process]
				where [ProcessId] in (SELECT ProcessId
				FROM @AuditProcesses)
				group by ProcessId

				delete from [cabs_production].[audit].[Process] where [ProcessId] in (SELECT ProcessId
				FROM @AuditProcesses)
				PRINT N'REMOVED cabs_production.audit.Process'
			END
        END
    COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            BEGIN
                ROLLBACK TRANSACTION

                insert into retention.ErrorLog
                select
                    getdate() 'Date',
                    ERROR_PROCEDURE() 'ERROR_PROCEDURE',
                    ERROR_NUMBER() 'ERROR_NUMBER',
                    ERROR_MESSAGE() 'ERROR_MESSAGE',
                    @RuleMessage +': ObjectId: ' + @ObjectId + ', ModuleId: ' + @ModuleId 'RULE_MESSAGE'
            END
    END CATCH
END
GO
