USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR13_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [retention].[DR13_SELECT] (@RetentionDate as datetime)
RETURNS @table TABLE(
	PPSN VARCHAR(20),
	[CandidateID] INT,
	[Candidate Name] VARCHAR(100),
	[Confirmation Number] VARCHAR(100),
	[BookingId] BIGINT,
	StartDateTime DATETIME,
	EndDateTime DATETIME,
	ModifiedOn DATETIME,
	[Booking Status] VARCHAR(100),
	[Test Status] VARCHAR(100),
	[Test Result] VARCHAR(100),
	[Date of deletion] DATETIME,
	[IsRetain] BIT
)

AS
BEGIN

declare @ppsn_booking as table (ppsn varchar(20))
declare @ppsn_tests as table (ppsn varchar(20))

declare @PPSN_Case table (PPSN varchar(50))
	insert into @PPSN_Case 
	select CandidatePPSN from retention.vDR020203 d where CandidatePPSN is not null and dateadd(YEAR, 7, ResolutionDate) > @RetentionDate


--Booking with stats 
insert into @ppsn_booking
	select distinct p.ppsn
	FROM cabs_production.cabs_sk.Booking b 
	  LEFT JOIN cabs_production.dbo.BookingStatus bs on bs.BookingStatusId = b.StatusID
	  LEFT JOIN cabs_production.cabs_sk.Candidate c on c.ID = b.CandidateID
	  LEFT JOIN cabs_production.cabs_cmo.Person p on p.ID = c.PersonID
	  LEFT JOIN cabs_production.cabs_sk.CandidateTest ct on b.ID = ct.BookingID
	where
		(bs.BookingStatusName in ('No Show', 'Cancelled','Incomplete','Pending') or ct.StatusID = 8)
		and (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),b.ModifiedOn,112))*1.0/10000 > 2
		and not exists (SELECT PPSN FROM @PPSN_Case WHERE PPSN = p.PPSN)

--Eliminate canditates with DL licences
delete from @ppsn_booking where ppsn in (
select p.PPSN from cabs_production.dl.LicenceHolderMaster lhm
	inner join cabs_production.person.Person p on lhm.PersonId=p.PersonId
where p.PPSN in (select ppsn from @ppsn_booking))

--Eliminate candidates that have also bookings with statuses different from 'No Show', 'Cancelled',
delete from @ppsn_booking where ppsn in (
	select 
		distinct 
		p.PPSN
	FROM cabs_production.cabs_sk.Booking b 
	  LEFT JOIN [cabs_production].[dbo].[BookingStatus] bs on bs.BookingStatusId = b.StatusID
	  LEFT JOIN cabs_production.cabs_sk.Candidate c on c.ID = b.CandidateID
	  LEFT JOIN cabs_production.cabs_cmo.Person p on p.ID = c.PersonID
	  LEFT JOIN cabs_production.cabs_sk.CandidateTest ct on b.ID = ct.BookingID
where p.PPSN in (select * from @ppsn_booking)
and (bs.BookingStatusName not in ('No Show', 'Cancelled','Incomplete','Pending') or ct.StatusID <> 8)
)


delete from @ppsn_booking where ppsn in (
	SELECT distinct
		p.ppsn
		  FROM cabs_production.cabs_sk.Booking b 
		  LEFT JOIN cabs_production.cabs_sk.Candidate c on c.ID = b.CandidateID
		  LEFT JOIN cabs_production.cabs_cmo.Person p on p.ID = c.PersonID
		  where p.ppsn in (select ppsn from @ppsn_booking)
		  and (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),b.EndDateTime,112))*1.0/10000 <= 2
		 )

--Candidate test that all are FAIL
insert into @ppsn_tests
SELECT distinct
		p.PPSN
		  FROM cabs_production.cabs_sk.Booking b 
		  LEFT JOIN cabs_production.cabs_sk.CandidateTest ct on b.ID = ct.BookingID
		  LEFT JOIN cabs_production.cabs_sk.Candidate c on c.ID = b.CandidateID
		  LEFT JOIN cabs_production.cabs_cmo.Person p on p.ID = c.PersonID
		  where (ct.ResultID = 1 or ct.ResultID is null)  --Fail or test not taken
		  and (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),ct.EndDateTime,112))*1.0/10000 > 2
		  and not exists (SELECT PPSN FROM @PPSN_Case WHERE PPSN = p.PPSN)

delete from @ppsn_tests where ppsn in (
select p.PPSN from cabs_production.dl.LicenceHolderMaster lhm
	inner join cabs_production.person.Person p on lhm.PersonId=p.PersonId
where p.ppsn in (select ppsn from @ppsn_tests))

delete from @ppsn_tests where ppsn in (
	SELECT distinct
		p.ppsn
		  FROM cabs_production.cabs_sk.Booking b 
		  LEFT JOIN cabs_production.cabs_sk.CandidateTest ct on b.ID = ct.BookingID
		  LEFT JOIN cabs_production.cabs_sk.Candidate c on c.ID = b.CandidateID
		  LEFT JOIN cabs_production.cabs_cmo.Person p on p.ID = c.PersonID
		  where p.ppsn in (select ppsn from @ppsn_tests)
		  and ct.ResultID = 2
		 )

delete from @ppsn_tests where ppsn in (
	SELECT distinct
		p.ppsn
		  FROM cabs_production.cabs_sk.Booking b 
		  LEFT JOIN cabs_production.cabs_sk.Candidate c on c.ID = b.CandidateID
		  LEFT JOIN cabs_production.cabs_cmo.Person p on p.ID = c.PersonID
		  where p.ppsn in (select ppsn from @ppsn_tests)
		  and (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),b.EndDateTime,112))*1.0/10000 <= 2
		 )

 

INSERT INTO @table
SELECT 
			person.PPSN,
			candidate.ID,
			CONCAT(person.FirstName,' ',person.LastName) AS [Candidate Name],
			IIF(b.ConfirmationNumber IS NOT NULL, b.ConfirmationNumber, CONVERT(VARCHAR(MAX), b.ID)) AS [Confirmation Number],
			b.id AS [BookingId], 
			ct.StartDateTime,
			b.EndDateTime,
			b.ModifiedOn,
			bs.BookingStatusName AS [Booking Status],
			isnull(cts.Description, bs.BookingStatusName) AS [Test Status],
			tr.Description AS [Test Result],
			@RetentionDate AS [Date of deletion],
			--IIF((CONVERT(int,CONVERT(char(8),GETDATE(),112))-CONVERT(char(8), IIF(b.StatusID=8, b.ModifiedOn, b.EndDateTime),112))*1.0/10000 > 2,1,0) AS [IsRetain]
			case
				when b.ModifiedOn is null then iif((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),ct.EndDateTime,112))*1.0/10000>2, 1, 0)
				when ct.EndDateTime is null then iif((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),b.ModifiedOn,112))*1.0/10000>2, 1, 0)
				when (CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),b.ModifiedOn,112))*1.0/10000 < (CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),ct.EndDateTime,112))*1.0/10000 then iif((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),b.ModifiedOn,112))*1.0/10000 > 2, 1, 0)
				else iif((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),ct.EndDateTime,112))*1.0/10000>2, 1, 0)
			end as 'IsRetain'
		  FROM cabs_production.cabs_sk.Booking b 
		  LEFT JOIN [cabs_production].[cabs_sk].[CandidateTest] ct on b.ID = ct.BookingID
		  LEFT JOIN [cabs_production].[dbo].[BookingStatus] bs on bs.BookingStatusId = b.StatusID
		  LEFT JOIN cabs_production.cabs_sk.Candidate candidate on candidate.ID = b.CandidateID
		  LEFT JOIN cabs_production.cabs_cmo.Person person on person.ID = candidate.PersonID
		  LEFT JOIN cabs_production.cabs_sk.CandidateTestStatus cts on cts.ID = ct.StatusID
		  LEFT JOIN cabs_production.cabs_sk.TestResult tr on tr.ID = ct.ResultID
		  WHERE 
		  person.PPSN in (
		  select ppsn from @ppsn_booking
		  union
		  select ppsn from @ppsn_tests
		  )
		  and (
			((CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),b.ModifiedOn,112))*1.0/10000 > 2 and ct.EndDateTime is null)
			or
			((CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),ct.EndDateTime,112))*1.0/10000 > 2 and b.ModifiedOn is null)
			or
			((CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),b.ModifiedOn,112))*1.0/10000 > 2 and (CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),ct.EndDateTime,112))*1.0/10000 > 2 )
			)

return
end
GO
