USE [CABS]
GO
/****** Object:  Table [retention].[DocumentsToDelete]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [retention].[DocumentsToDelete](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rule] [varchar](50) NULL,
	[DocumentName] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
