USE [CABS]
GO
/****** Object:  Table [retention].[DR07tmpTable]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [retention].[DR07tmpTable](
	[Registration number] [varchar](10) NOT NULL,
	[Vehicle Age] [decimal](22, 6) NULL,
	[Make] [varchar](20) NULL,
	[Model] [varchar](50) NULL,
	[Last associated date] [datetime] NULL,
	[Last associated VL licence number] [varchar](50) NULL,
	[Date of last booking] [datetime] NULL,
	[Last documentation check date] [datetime] NULL,
	[Date of last inspection] [datetime] NULL,
	[Type of last inspection] [varchar](50) NULL,
	[Date of deletion] [datetime] NULL,
	[IsRetain] [bit] NULL
) ON [PRIMARY]
GO
