USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR07]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [retention].[DR07] (@RetentionDate datetime) AS
BEGIN

declare @RegistrationNumber as nvarchar(20)

declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1

exec [retention].[DR07_SELECT] @RetentionDate

insert into retention.RulesLogger
	select getdate(), 'DR07', @RetentionDate, getdate(), NULL, count(*), 0, 0 from retention.DR07tmpTable t1

set @RuleLoggerId  = SCOPE_IDENTITY()

declare @DR07 table (
	RegistrationNumber varchar(10),
	PaymentId int,
	BookingId int,
	RefundId int,
	VehicleInspectionId int)

insert @DR07 
select t1.[Registration number], bp.PaymentId, b.BookingId, br.RefundId, vi.VehicleInspectionId 
	from retention.DR07tmpTable t1
	left join cabs_production.dbo.Booking b on t1.[Registration number]=b.RegistrationNumber
	left join cabs_production.dbo.BookingPayment bp on b.BookingId=bp.BookingId
	left join cabs_production.dbo.BookingRefund br on b.BookingId=br.BookingId
	left join cabs_production.dbo.VehicleInspections vi on t1.[Registration number]=vi.RegistrationNumber 


declare delete_vehicle cursor for
	select distinct RegistrationNumber from @DR07
open delete_vehicle
FETCH NEXT FROM delete_vehicle INTO @RegistrationNumber
WHILE @@FETCH_STATUS = 0
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION;		

				--if exists (select * from cabs_production.dbo.VehicleMasterAudit where [RegistrationNumber]=@RegistrationNumber)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.VehicleMasterAudit', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.dbo.VehicleMasterAudit where [RegistrationNumber]=@RegistrationNumber group by Id
							delete from cabs_production.dbo.VehicleMasterAudit where [RegistrationNumber]=@RegistrationNumber
						end


				declare @BookingAuditDeletionTable table (
					BookingId int)

				insert @BookingAuditDeletionTable 
				select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null


				--if exists (select * from cabs_production.dbo.BookingAudit where [RegistrationNumber]=@RegistrationNumber or  BookingId in (select BookingId from @BookingAuditDeletionTable))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.BookingAudit', 'DELETE', BookingAuditId, convert(varchar(40), @RetentionDate,120), count(*), 'BookingAuditId' from cabs_production.dbo.BookingAudit where [RegistrationNumber]=@RegistrationNumber or BookingId in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null) group by BookingAuditId
							delete from cabs_production.dbo.BookingAudit where RegistrationNumber=@RegistrationNumber or BookingId in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null)
						end

				--if exists (select * from cabs_production.dbo.PaymentItemVLAudit where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.PaymentItemVLAudit', 'DELETE', PaymentItemAuditId, convert(varchar(40), @RetentionDate,120), count(*), 'PaymentItemVLAudit' from cabs_production.dbo.PaymentItemVLAudit  where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null) group by PaymentItemAuditId
							delete from cabs_production.dbo.PaymentItemVLAudit  where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null)
						end

				--if exists (select * from cabs_production.dbo.PaymentItemVL where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.PaymentItemVL', 'DELETE', PaymentItemId, convert(varchar(40), @RetentionDate,120), count(*), 'PaymentItemId' from cabs_production.dbo.PaymentItemVL where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null) group by PaymentItemId
							delete from cabs_production.dbo.PaymentItemVL  where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null)
						end

				--if exists (select * from cabs_production.dbo.PaymentOrdersVL where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.PaymentOrdersVL', 'DELETE',  OrderID, convert(varchar(40), @RetentionDate,120), count(*), 'OrderID' from cabs_production.dbo.PaymentOrdersVL where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null) group by OrderID
							delete from cabs_production.dbo.PaymentOrdersVL where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null)
						end

				--if exists (select * from cabs_production.dbo.BookingPayment where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.BookingPayment', 'DELETE',  BookingId, convert(varchar(40), @RetentionDate,120), count(*), 'BookingId' from cabs_production.dbo.BookingPayment where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null) group by BookingId
							delete from cabs_production.dbo.BookingPayment where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null)
						end

				--if exists (select * from cabs_production.dbo.PaymentVL where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.PaymentVL', 'DELETE',  PaymentId, convert(varchar(40), @RetentionDate,120), count(*), 'PaymentId' from cabs_production.dbo.PaymentVL where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null) group by PaymentId
							delete from cabs_production.dbo.PaymentVL where [PaymentId] in (select PaymentId from @DR07 where RegistrationNumber=@RegistrationNumber and PaymentId is not null)
						end

				--if exists (select * from cabs_production.cabs_insp.VehicleInspectionsDraft where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.cabs_insp.VehicleInspectionsDraft', 'DELETE',  ID, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.cabs_insp.VehicleInspectionsDraft where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null) group by Id
							delete from cabs_production.cabs_insp.VehicleInspectionsDraft where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber and BookingId is not null)
						end

				--if exists (select * from cabs_production.dbo.BookingRefund where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.BookingRefund', 'DELETE', BookingId, convert(varchar(40), @RetentionDate,120), count(*), 'BookingId' from cabs_production.dbo.BookingRefund where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber) group by BookingId
							delete from cabs_production.dbo.BookingRefund where [BookingId] in (select BookingId from @DR07 where RegistrationNumber=@RegistrationNumber)
						end

				--if exists (select * from cabs_production.dbo.PaymentRefundItemVL where [RefundId] in (select RefundId from @DR07 where RegistrationNumber=@RegistrationNumber and RefundId is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.PaymentRefundItemVL', 'DELETE', RefundId, convert(varchar(40), @RetentionDate,120), count(*), 'RefundId' from cabs_production.dbo.PaymentRefundItemVL where [RefundId] in (select RefundId from @DR07 where RegistrationNumber=@RegistrationNumber and RefundId is not null) group by RefundId
							delete from cabs_production.dbo.PaymentRefundItemVL where [RefundId] in (select RefundId from @DR07 where RegistrationNumber=@RegistrationNumber and RefundId is not null)
						end
				
				--if exists (select * from cabs_production.dbo.PaymentRefundVL where [RefundId] in (select RefundId from @DR07 where RegistrationNumber=@RegistrationNumber and RefundId is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.PaymentRefundVL', 'DELETE', RefundId, convert(varchar(40), @RetentionDate,120), count(*), 'RefundId' from cabs_production.dbo.PaymentRefundVL where [RefundId] in (select RefundId from @DR07 where RegistrationNumber=@RegistrationNumber and RefundId is not null) group by RefundId
							delete from cabs_production.dbo.PaymentRefundVL where [RefundId] in (select RefundId from @DR07 where RegistrationNumber=@RegistrationNumber and RefundId is not null)
						end

				--if exists (select * from cabs_production.dbo.VehicleInspectionDefects where [VehicleInspectionId] in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.VehicleInspectionDefects', 'DELETE',  VehicleInspectionDefectID, convert(varchar(40), @RetentionDate,120), count(*), 'VehicleInspectionDefectID' from cabs_production.dbo.VehicleInspectionDefects where [VehicleInspectionId] in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null) group by VehicleInspectionDefectID
							delete from cabs_production.dbo.VehicleInspectionDefects where VehicleInspectionId in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null)
						end

				--if exists (select * from cabs_production.cabs_insp.VehicleInspectionsDocument where [VehicleInspectionId] in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.cabs_insp.VehicleInspectionsDocument', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), ' VehicleInspectionId' from cabs_production.cabs_insp.VehicleInspectionsDocument where [VehicleInspectionId] in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null) group by Id
							delete from cabs_production.cabs_insp.VehicleInspectionsDocument where [VehicleInspectionId] in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null)
						end

				--if exists (select * from cabs_production.dbo.InspectionPrintLog where [InspectionId] in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.InspectionPrintLog', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'InspectionId' from cabs_production.dbo.InspectionPrintLog where [InspectionId] in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null) group by Id
							delete from cabs_production.dbo.InspectionPrintLog where [InspectionId] in (select VehicleInspectionID from @DR07 where RegistrationNumber=@RegistrationNumber and VehicleInspectionID is not null)
						end

				--if exists (select * from cabs_production.dbo.VehicleInspections where [RegistrationNumber]=@RegistrationNumber or Bookingid IN (select BookingId from @DR07 where RegistrationNumber = @RegistrationNumber))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.VehicleInspections', 'DELETE', VehicleInspectionId, convert(varchar(40), @RetentionDate,120), count(*), 'VehicleInspectionId' 
								from cabs_production.dbo.VehicleInspections 
								where [RegistrationNumber]=@RegistrationNumber or Bookingid IN (select BookingId from @DR07 where RegistrationNumber = @RegistrationNumber)
								group by VehicleInspectionId
							delete from cabs_production.dbo.VehicleInspections where [RegistrationNumber]=@RegistrationNumber or Bookingid IN (select BookingId from @DR07 where RegistrationNumber = @RegistrationNumber)
						end
						
				--if exists(select * from cabs_production.dbo.Booking B where B.BookingId in (select BookingId from @DR07 where RegistrationNumber = @RegistrationNumber))
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.Booking', 'DELETE',  BookingId, convert(varchar(40), @RetentionDate,120), count(*), 'BookingId' 
								from cabs_production.dbo.Booking
								where BookingId in (select BookingId from @DR07 where RegistrationNumber = @RegistrationNumber)
								group by BookingId
							delete from cabs_production.dbo.Booking where BookingId in (select BookingId from @DR07 where RegistrationNumber = @RegistrationNumber)
						end

				--if exists (select * from cabs_production.cabs_insp.VehicleMasterDraft where [RegistrationNumber]=@RegistrationNumber)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.cabs_insp.VehicleMasterDraft', 'DELETE', Id, convert(varchar(40), @RetentionDate,120), count(*), 'Id' from cabs_production.cabs_insp.VehicleMasterDraft where [RegistrationNumber]=@RegistrationNumber group by Id
							delete from cabs_production.cabs_insp.VehicleMasterDraft where [RegistrationNumber]=@RegistrationNumber
						end

				--if exists (select * from cabs_production.dbo.LicenceMasterVLAudit where RegistrationNumber=@RegistrationNumber)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.LicenceMasterVLAudit', 'DELETE', id, convert(varchar(40), @RetentionDate,120), count(*), 'id' from cabs_production.dbo.LicenceMasterVLAudit where [RegistrationNumber]=@RegistrationNumber group by id
							delete from cabs_production.dbo.LicenceMasterVLAudit where RegistrationNumber=@RegistrationNumber
						end

				--if exists (select * from cabs_production.dbo.VehicleMaster where [RegistrationNumber]=@RegistrationNumber)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR07', 'cabs_production.dbo.VehicleMaster', 'DELETE',  @RegistrationNumber, convert(varchar(40), @RetentionDate,120), count(*), 'RegistrationNumber' from cabs_production.dbo.VehicleMaster where [RegistrationNumber]=@RegistrationNumber
							delete from cabs_production.dbo.VehicleMaster where [RegistrationNumber]=@RegistrationNumber
						end
	
		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR07: RegistrationNumber: ' + @RegistrationNumber 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1
			END
	END CATCH;	
	
	
	
	FETCH NEXT FROM delete_vehicle INTO @RegistrationNumber
	END
CLOSE delete_vehicle
DEALLOCATE delete_vehicle

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
