USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR06_01]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [retention].[DR06_01] (@RetentionDate datetime) as
BEGIN

declare @linkId as bigint

declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1


insert into retention.RulesLogger
	select getdate(), 'DR06.01', @RetentionDate, getdate(), NULL, count(*), 0, 0 from retention.DR06_01_SELECT (@RetentionDate)
set @RuleLoggerId  = SCOPE_IDENTITY()


declare c_link cursor for
	SELECT ID FROM retention.[DR06_01_SELECT](@RetentionDate)
OPEN c_link

	FETCH NEXT FROM c_link INTO @linkId

	WHILE @@FETCH_STATUS = 0
	BEGIN

	BEGIN TRY
		BEGIN TRANSACTION;

		--if exists (select * from [cabs_production].[cabs_dvl].[VehicleDriver] where LinkId = @linkId)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 
								'DR06_01', 
								'cabs_production.cabs_dvl.VehicleDriver', 
								'DELETE', 
								@linkId, 
								convert(varchar(40), @RetentionDate, 120), 
								count(*), 'LinkID' from [cabs_production].[cabs_dvl].[VehicleDriver] where LinkId = @linkId
							delete from [cabs_production].[cabs_dvl].[VehicleDriver] where LinkId = @linkId
						end


		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR06.01: LinkId: ' + convert(varchar(10), @linkId) 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1
			END
	END CATCH;	
	
	
	
	FETCH NEXT FROM c_link INTO @linkId
	END
CLOSE c_link
DEALLOCATE c_link

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
