USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR06_02_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [retention].[DR06_02_SELECT]
(@ResolveDate as datetime)

RETURNS @table TABLE (
		ID BIGINT,
		[Start Date] DATETIME,
		[End Date] DATETIME,
		[Vehicle Licence Number] VARCHAR(MAX),
		[Driver Licence Number] NVARCHAR(MAX),
		[Valid Insurance] VARCHAR(50),
		[Comments] VARCHAR(MAX),
		[Date of deletion] DATETIME,
		[IsRetain] BIT
)

AS

BEGIN

INSERT INTO @table
	SELECT
  		   [ID]
		  ,[StartDate] AS [Start Date]
		  ,[EndDate] AS [End Date]
		  ,[VehicleLicenceNo] AS [Vehicle Licence Number]
		  ,[DriverLicenceNo] AS [Driver Licence Number]
		  ,IIF([ValidInsurance] = 1 ,'YES','NO') AS [Valid Insurance]
		  ,[Comments]
		  ,@ResolveDate AS [Date of deletion]
		  ,IIF( (CONVERT(int,CONVERT(char(8),GETDATE(),112))-CONVERT(char(8),[EndDate],112))*1.0/10000 > 6, 1, 0) AS [IsRetain]
	  FROM [cabs_production].[cabs_rta].[RentalAgreement] 
	  WHERE (CONVERT(int,CONVERT(char(8),@ResolveDate,112))-CONVERT(char(8),[EndDate],112))*1.0/10000 > 6
	  ORDER BY [End Date] DESC

RETURN
END
GO
