USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR21]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   proc [retention].[DR21] (@RetentionDate datetime) as
BEGIN
declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1
declare @c int 


select @c=count(*) from [retention].[DR21_SELECT](@RetentionDate)

insert into retention.RulesLogger
	select getdate(), 'DR21', @RetentionDate, getdate(), NULL, @c, 0, 0 
set @RuleLoggerId  = SCOPE_IDENTITY()

	BEGIN TRY
		BEGIN TRANSACTION;
				
			insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR21', 'OR_Test.dbo.SearchLog', 'DELETE', CONVERT(VARCHAR(100),Created,0), convert(varchar(40), @RetentionDate,120), count(*), 'Created' from [OR_Test].[dbo].[SearchLog] where Created <  dateadd(MONTH, -6, @RetentionDate) 
				or [Created] IS NULL
				group by Created
			delete from  [OR_Test].[dbo].[SearchLog] where [Created] <  dateadd(MONTH, -6, @RetentionDate) 
			OR [Created] IS NULL

		update retention.RulesLogger set RowsDone = @c where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR21 - All data'

					update retention.RulesLogger set RowsWithError = @c where id=@RuleLoggerId
			END
	END CATCH;	

	update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
