USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR12_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   function [retention].[DR12_SELECT] (@RetentionDate as datetime)
returns @t table (
	[Vehicle Inspection ID] [int] null
   ,[BookingId] [int] NULL
   ,[File Name] [nvarchar](255) NULL
   ,[File Type] [nvarchar] (255) NULL
   ,[Vehicle Licence Number] [nvarchar](200) NULL
   ,[Vehicle Registration Number] [nvarchar] (255) NULL
   ,[Date of deletion] [datetime] null
   ,[IsRetain] bit NULL
) 
as
begin

insert into @t

select 
	vid.VehicleInspectionId
   ,vi.BookingId
   ,vid.FileName
   ,vid.Type
   ,vi.LicenceNumber
   ,vi.RegistrationNumber
   ,@RetentionDate
   ,iif( ((CONVERT(int,CONVERT(char(8),getdate(),112))-CONVERT(char(8),vid.[CreatedDate],112))*1.0/10000)>4, 1, 0) [IsRetain]
from [cabs_production].[cabs_insp].[VehicleInspectionsDocument] vid
	left join [cabs_production].[dbo].[VehicleInspections] vi on vid.VehicleInspectionId=vi.VehicleInspectionId
where
	((CONVERT(int,CONVERT(char(8),@RetentionDate,112))-CONVERT(char(8),vid.[CreatedDate],112))*1.0/10000)>4

return
end
GO
