USE [CABS]
GO
/****** Object:  View [retention].[vDR0202]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   view [retention].[vDR0202] as

select * from 
retention.vDR02 
where
Linked=0
and
(
		--Prosecution Cases
		(
		category_id in (SELECT [id] FROM [Cabs_Live].[dbo].[Case_Category_Internal] where [parent_id]=89)
		and Case_Outcome = 1
		)
		or
		--Compliance Cases
		(
		[case_resolutionFK] in (1,2,3,4,13,14,15,16,17,18)
		and progressStatus_id=6
		and category_id in (SELECT [id] FROM [Cabs_Live].[dbo].[Case_Category_Internal] where [parent_id] = 10 and Id <> 45)
		)
)
GO
