USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR20]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   proc [retention].[DR20] (@RetentionDate datetime) as
BEGIN
declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1
declare @c int 


declare @RI as table (RI int)
insert into @RI
	select [ReportId] from [retention].[DR20_SELECT](@RetentionDate)

select @c=count(*) from @RI

insert into retention.RulesLogger
	select getdate(), 'DR20', @RetentionDate, getdate(), NULL, @c, 0, 0 
set @RuleLoggerId  = SCOPE_IDENTITY()

	BEGIN TRY
		BEGIN TRANSACTION;
				
			insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
				select 'DR20', 'cabs_production.cabs_dck.DriverCheckReport', 'DELETE', ReportId, convert(varchar(40), @RetentionDate,120), count(*), 'ReportId' from [cabs_production].[cabs_dck].[DriverCheckReport] where ReportId in (select RI from @RI) group by ReportId
			delete from  [cabs_production].[cabs_dck].[DriverCheckReport] where ReportId in (select RI from @RI)

		update retention.RulesLogger set RowsDone = @c where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR20 - All data'

					update retention.RulesLogger set RowsWithError = @c where id=@RuleLoggerId
			END
	END CATCH;	

	update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId
END
GO
