USE [CABS]
GO
/****** Object:  UserDefinedFunction [retention].[DR21_SELECT]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [retention].[DR21_SELECT] (@RetentionDate DATETIME) 
RETURNS @t TABLE
(
	[RowID][bigint] null,
	[ip] [nvarchar](30) NOT NULL,
	[Search Type] [nvarchar](50) NOT NULL,
	[Created] [datetime] NULL,
	[UserName] [nvarchar](150) NULL,
	[Date of deletion] [datetime] null,
	[IsRetain] bit NULL
)
AS
BEGIN

insert into @t
SELECT 
		row_number() over(order by [Created] DESC,[ip]) as [RowID]
		,[ip]
		,[SearchType]
		,[Created]
		,[UserName]
		,@RetentionDate as [Date of deletion]
		,iif(sl.[Created] <  dateadd(MONTH, -6, @RetentionDate), 1, 0) [IsRetain]
FROM [OR_Test].[dbo].[SearchLog] as sl
WHERE sl.[Created] <  dateadd(MONTH, -6, @RetentionDate) 
OR sl.[Created] IS NULL

RETURN
END
GO
