USE [CABS]
GO
/****** Object:  StoredProcedure [retention].[DR02.01]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [retention].[DR02.01] (@RetentionDate datetime) as
BEGIN

declare @CaseNumber as int, @case_complaint_extension as int
declare @RuleLoggerId int
declare @i_ok int = 1
declare @i_error int = 1

insert into retention.RulesLogger
	select getdate(), 'DR02.01', @RetentionDate, getdate(), NULL, count(*), 0, 0 from retention.DR02_01_SELECT (@RetentionDate)
set @RuleLoggerId  = SCOPE_IDENTITY()


declare delete_cases cursor for
	select t1.[Case Number], t1.case_complaint_extensionFK from [retention].[DR02_01_SELECT] (@RetentionDate) t1

open delete_cases

	FETCH NEXT FROM delete_cases INTO @CaseNumber, @case_complaint_extension

	WHILE @@FETCH_STATUS = 0
	BEGIN

	BEGIN TRY
		BEGIN TRANSACTION;
				

		--if exists (select * from [Cabs_Live].[dbo].[Case_Documents] where [case_id]=@CaseNumber)
						begin
							insert into [retention].[DocumentsToDelete]([Rule], [DocumentName])
								   select 'DR02.01', [savedfilename] FROM [Cabs_Live].[dbo].[Case_Documents] WHERE [case_id]=@CaseNumber
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR02.01', 'Cabs_Live.dbo.Case_Documents', 'DELETE',  @CaseNumber, convert(varchar(40), @RetentionDate,120), count(*), 'case_id' from [Cabs_Live].[dbo].[Case_Documents] where [case_id] = @CaseNumber
							delete from [Cabs_Live].[dbo].[Case_Documents] where [case_id]=@CaseNumber
						end

		--if exists (select * from [Cabs_Live].[dbo].[Case_pdfsRequested] where [caseid]=@CaseNumber)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR02.01', 'Cabs_Live.dbo.Case_pdfsRequested', 'DELETE', @CaseNumber, convert(varchar(40), @RetentionDate,120), count(*), 'caseid' from [Cabs_Live].[dbo].[Case_pdfsRequested] where [caseid] = @CaseNumber
							delete from [Cabs_Live].[dbo].[Case_pdfsRequested] where [caseid]=@CaseNumber
						end

		--if exists (select * from [Cabs_Live].[dbo].[Case_History] where [caseid]=@CaseNumber)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR02.01', 'Cabs_Live.dbo.Case_History', 'DELETE', @CaseNumber, convert(varchar(40), @RetentionDate,120), count(*), 'caseid' from [Cabs_Live].[dbo].[Case_History] where [caseid] = @CaseNumber
							delete from [Cabs_Live].[dbo].[Case_History] where [caseid]=@CaseNumber
						end

		--if exists (select * from [Cabs_Live].[dbo].[Case_SectorCase] where [case_id]=@CaseNumber)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR02.01', 'Cabs_Live.dbo.Case_SectorCase', 'DELETE', @CaseNumber, convert(varchar(40), @RetentionDate,120), count(*), 'case_id' from [Cabs_Live].[dbo].[Case_SectorCase] where [case_id] = @CaseNumber
							delete from [Cabs_Live].[dbo].[Case_SectorCase] where [case_id]=@CaseNumber
						end

		--if exists (select * from [Cabs_Live].[dbo].[Cases] where [id]=@CaseNumber)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR02.01', 'Cabs_Live.dbo.Cases', 'DELETE', @CaseNumber, convert(varchar(40), @RetentionDate,120), count(*), 'id' from [Cabs_Live].[dbo].[Cases] where [id] = @CaseNumber
							delete from [Cabs_Live].[dbo].[Cases] where [id]=@CaseNumber
						end

		--if exists (select * from [Cabs_Live].[dbo].[CaseComplaintExtension] where [id]=@case_complaint_extension)
						begin
							insert into retention.Logger ([Rule], [TableAffected],[RuleType],[TableId],[Date],[RowsAffected],[ColumnUsed])
								select 'DR02.01', 'Cabs_Live.dbo.CaseComplaintExtension', 'DELETE', @CaseNumber, convert(varchar(40), @RetentionDate,120), count(*), 'id' from [Cabs_Live].[dbo].[CaseComplaintExtension] where [id] = @case_complaint_extension
							delete from [Cabs_Live].[dbo].[CaseComplaintExtension] where [id]=@case_complaint_extension
						end

		update retention.RulesLogger set RowsDone = @i_ok where id=@RuleLoggerId
		set @i_ok=@i_ok+1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION
				
				insert into retention.ErrorLog
				select 
					getdate() 'Date', 
					ERROR_PROCEDURE() 'ERROR_PROCEDURE', 
					ERROR_NUMBER() 'ERROR_NUMBER', 
					ERROR_MESSAGE() 'ERROR_MESSAGE',
					'DR02.01: CaseNumber: ' + @CaseNumber +' CaseComplaintExtension' + @case_complaint_extension 'RULE_MESSAGE'

				update retention.RulesLogger set RowsWithError = @i_error where id=@RuleLoggerId
				set @i_error=@i_error+1
			END
	END CATCH
	
	FETCH NEXT FROM delete_cases INTO @CaseNumber, @case_complaint_extension
	END
CLOSE delete_cases
DEALLOCATE delete_cases

update retention.RulesLogger set RuleEndDate = getdate() where id=@RuleLoggerId

END
GO
