USE [CABS]
GO
/****** Object:  Table [retention].[TablesToDelete]    Script Date: 14/04/2022 13:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [retention].[TablesToDelete](
	[Id] [varchar](50) NOT NULL,
	[Database] [varchar](50) NULL,
	[schema] [varchar](50) NULL,
	[tablename] [varchar](50) NULL,
	[FullName] [varchar](152) NOT NULL,
 CONSTRAINT [PK_TablesToDelete] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
