USE [OR_Test]
GO
/****** Object:  Table [dbo].[RoleSearchResultFields]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleSearchResultFields](
	[RoleID] [uniqueidentifier] NOT NULL,
	[SearchResultFieldID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RoleSearchResultFields]  WITH CHECK ADD  CONSTRAINT [FK_RoleSearchResultFields_aspnet_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[aspnet_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[RoleSearchResultFields] CHECK CONSTRAINT [FK_RoleSearchResultFields_aspnet_Roles]
GO
ALTER TABLE [dbo].[RoleSearchResultFields]  WITH CHECK ADD  CONSTRAINT [FK_RoleSearchResultFields_SearchResultFields] FOREIGN KEY([SearchResultFieldID])
REFERENCES [dbo].[SearchResultFields] ([id])
GO
ALTER TABLE [dbo].[RoleSearchResultFields] CHECK CONSTRAINT [FK_RoleSearchResultFields_SearchResultFields]
GO
