USE [OR_Test]
GO
/****** Object:  StoredProcedure [dbo].[GetFormattedSearchLog]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Dan Rusu>
-- Create date: <Create Date,,30.08.2010>
-- Description:	<Description,,>
-- =============================================
create   PROCEDURE [dbo].[GetFormattedSearchLog] 
	-- Add the parameters for the stored procedure here
	@startDate datetime, 
	@endDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT  
	ip,[SearchType]
      ,[SearchKey]
	  , iif( [SearchKey] like '%Licence Number:%', substring([SearchKey],CHARINDEX('Licence Number:', [SearchKey])+15,6),'')  as 'Vehicle Licence Number Search'
 , iif( [SearchKey] like '%Register Number:%', substring([SearchKey],CHARINDEX('Register Number:', [SearchKey])+16,9),'')  as 'Register Numbe Search'
 --, iif( [SearchKey] like '%Company Name:%', substring([SearchKey],CHARINDEX('Company Name:', [SearchKey])+16,13),'NO')  as 'Company Name Search'

	      ,[Created]
      ,[UserName]
  FROM [OR_Test].[dbo].[SearchLog]
  where Created between @startDate and @endDate
  order by created asc 
END
GO
