USE [OR_Test]
GO
/****** Object:  Table [dbo].[AppSettings]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSettings](
	[type] [nvarchar](50) NULL,
	[value] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
