USE [nvdfProvider]
GO
/****** Object:  Table [nvdfProvider].[Vehicle]    Script Date: 14/04/2022 13:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [nvdfProvider].[Vehicle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BodyType] [nvarchar](max) NULL,
	[ChassisNumber] [nvarchar](max) NULL,
	[Colour] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[DateFirstReg] [datetime2](7) NULL,
	[DateOfRegistrationInIreland] [datetime2](7) NULL,
	[EngineCC] [int] NULL,
	[EuVehicleCategory] [nvarchar](max) NULL,
	[NbrSeats] [int] NULL,
	[NctCertNbr] [nvarchar](max) NULL,
	[NctExpiryDate] [datetime2](7) NULL,
	[NctIssueDate] [datetime2](7) NULL,
	[PermissableMassGVW] [int] NULL,
	[Registration] [nvarchar](max) NULL,
	[SimiStatisticalCode] [nvarchar](max) NULL,
	[TypeApprovalNumber] [nvarchar](max) NULL,
	[VehicleMake] [nvarchar](max) NULL,
	[VehicleModel] [nvarchar](max) NULL,
	[VrtCode] [nvarchar](max) NULL,
	[YearOfManufacture] [int] NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
