USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetStatusTypes]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GetStatusTypes]
 
AS

SET NOCOUNT ON;

BEGIN
	Select StatusCode From dbo.DWH_Status With (NoLock) Order By StatusCode
END
GO
