USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyFinesByOfficer]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_MonthlyFinesByOfficer '2009-April'

=============================================
*/
Create Procedure [dbo].[USP_DWH_MonthlyFinesByOfficer]
			@ReportingMonthPeriod VarChar(20)
As

Set NoCount On;

Select 
	Min(fineID) As Sort, Sum(fine) As FineCount, fineMonth As DateStamp, Officer
From 
	dbo.DWH_FINES With (NoLock)
Where 
	fineMonth = @ReportingMonthPeriod
Group By 
	fineMonth, Officer

Union All 

Select 
	Min(fineID) As Sort, Sum(fine) As FineCount, fineMonth As DateStamp, Officer
From 
	dbo.DWH_RescindedFines With (NoLock)
Where 
	fineMonth = @ReportingMonthPeriod
Group By 
	fineMonth, Officer

Order By Min(FineID) Desc

Set NoCount Off;

GO
