USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[iCabs_GetVehicleEnforcementInfo]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Dan Rusu
-- Create date: 18-Apr-2011
-- Description:	Returns all possible Status codes present in status table



=============================================
*/
CREATE PROCEDURE [dbo].[iCabs_GetVehicleEnforcementInfo] 
				@LicenceNumber NVarChar (50) = ''
				, @RegistrationNumber NVarChar (50) = ''
As

/*
If IsNull(@LicenceNumber, '') = ''
		Set @LicenceNumber = '%'

	If IsNull(@RegistrationNumber, '') = ''
		Set @RegistrationNumber = '%'
*/

If IsNull(@LicenceNumber, '') <> ''
	set @LicenceNumber = replace(replace(replace(replace(@LicenceNumber,'T',''),'H',''),'W',''),'L','')
		
Set NoCount On;

If IsNull(@LicenceNumber, '') = ''
Select  top(50)
	VM.Reg_Nbr As RegistrationNumber, LM.Licence_Nbr As LicenceNumber, 
		Case 
			When IsNull(LHM.Company, '') = '' Then 
				Case
					When IsNull(LTrim(RTrim(LHM.Title_Cd)), '') = '' Then LTrim(RTrim(LHM.First_Nm)) + ' ' + LTrim(RTrim(LHM.Last_Nm))
					Else LTrim(RTrim(LHM.Title_Cd)) + ' ' + LTrim(RTrim(LHM.First_Nm)) + ' ' + LTrim(RTrim(LHM.Last_Nm))
				End
			Else LHM.Company
		  End As HolderName, LHM.Addr_1 As Address1, LHM.Addr_2 As Address2, LHM.Town, LHM.County, 
		LM.LicenceState As LicenceStatus, convert(nvarchar,LM.ExpiryDate,105) as ExpiryDate, LM.Plate_Nbr As PlateNumber, LTrim(RTrim(LHM.MobileNumber)), 
		LHM.PhoneNumber, VM.Make, VM.Model, VM.Colour, VM.NbrPassengers As NbrSeats , 
dm.licNum as [DriverLicence], 
isnull(LHM.Addr_1,'') + isnull(' ' + LHM.Addr_2,'') + isnull(' ' + LHM.Town,'') + isnull(' ' + LHM.County,'')  as [Address]
From 
	dbo.DWH_VehicleMaster As VM With (NoLock) Left Outer Join dbo.DWH_LicenceMaster As LM With (NoLock) On VM.Reg_Nbr = LM.Reg_Nbr 
	Left Outer Join dbo.DWH_LicenceHolderMaster As LHM With (NoLock) On LM.CCSN = LHM.CCSN
	left outer join dbo.DWH_DriverMaster as dm With (NoLock) On dm.RSINum = lhm.Pps_Number
Where 
	IsNull(VM.Reg_Nbr, '') Like '%' + @RegistrationNumber + '%'
Order By 
	LicenceState Desc
	
	
If IsNull(@RegistrationNumber, '') = ''	
Select   top(50)
	VM.Reg_Nbr As RegistrationNumber, LM.Licence_Nbr As LicenceNumber, 
		Case 
			When IsNull(LHM.Company, '') = '' Then 
				Case
					When IsNull(LTrim(RTrim(LHM.Title_Cd)), '') = '' Then LTrim(RTrim(LHM.First_Nm)) + ' ' + LTrim(RTrim(LHM.Last_Nm))
					Else LTrim(RTrim(LHM.Title_Cd)) + ' ' + LTrim(RTrim(LHM.First_Nm)) + ' ' + LTrim(RTrim(LHM.Last_Nm))
				End
			Else LHM.Company
		  End As HolderName, LHM.Addr_1 As Address1, LHM.Addr_2 As Address2, LHM.Town, LHM.County, 
		LM.LicenceState As LicenceStatus, convert(nvarchar,LM.ExpiryDate,105) as ExpiryDate, LM.Plate_Nbr As PlateNumber, LTrim(RTrim(LHM.MobileNumber)), 
		LHM.PhoneNumber, VM.Make, VM.Model, VM.Colour, VM.NbrPassengers As NbrSeats , 
dm.licNum  as [DriverLicence], 
isnull(LHM.Addr_1,'') + isnull(' ' + LHM.Addr_2,'') + isnull(' ' + LHM.Town,'') + isnull(' ' + LHM.County,'')  as [Address]
From 
	dbo.DWH_VehicleMaster As VM With (NoLock) Left Outer Join dbo.DWH_LicenceMaster As LM With (NoLock) On VM.Reg_Nbr = LM.Reg_Nbr 
	Left Outer Join dbo.DWH_LicenceHolderMaster As LHM With (NoLock) On LM.CCSN = LHM.CCSN
    left outer join dbo.DWH_DriverMaster as dm With (NoLock) On dm.RSINum = lhm.Pps_Number
Where 
	IsNull(LM.Plate_Nbr, '') Like '%' + @LicenceNumber + '%'
Order By 
	LicenceState Desc

Option (MaxDop 1)
GO
