USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_OWNERS_REPORT]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_OWNERS_REPORT](
	[NumberOfLicences] [int] NOT NULL,
	[LicenceHolders] [int] NOT NULL
) ON [PRIMARY]
GO
