USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetRenewals]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetRenewals 'ALL'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetRenewals] 
				@ExpiryYear VarChar (4)

As

If @ExpiryYear = 'ALL'
	Set @ExpiryYear = '%'

Select 
	SubString(ExpDate, 4, 2) As ExpiryMonth
	, Right(ExpDate, 4) As ExpiryYear
	, SubString(DateOfEntry, 4, 2) As MonthCreated
	, Right(DateOfEntry, 4) As YearCreated
	, Case 
		When Right(DateOfEntry, 4) = Year(GetDate()) Then 'New'
		Else 'Renewal' 
	  End As LicenceType, LicenseStatus
	, * 
From 
	dbo.TAXI With (NoLock)
Where 
	Right(ExpDate, 4) Like @ExpiryYear
GO
