USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetLicenceHolderVehicles]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetLicenceHolderVehicles 'H10004', ''

=============================================
*/
Create Procedure [dbo].[USP_DWH_GetLicenceHolderVehicles]
					@LicenceNumber NVarChar (50)
					, @RegNumber NVarChar (50)
As

Set NoCount On;

If @LicenceNumber = ''
	Set @LicenceNumber = '%'

If @RegNumber = ''
	Set @RegNumber = '%'

Select 
	VM.Reg_Nbr, VM.DateFirstReg, VM.Make, VM.Model, VM.Colour, VBS.BodyStyleDescription, VM.VIN, VM.EngineCC, VM.NbrPassengers 
From 
	dbo.DWH_LicenceHolderMaster As LHM With (NoLock) Inner Join dbo.DWH_LicenceHolderVehicle As LHV With (NoLock) 
	On LHM.Licence_Nbr = LHV.Licence_Nbr Inner Join dbo.DWH_VehicleMaster As VM On LHV.Reg_Nbr = VM.Reg_Nbr Left Outer Join dbo.DWH_VehicleBodyStyle As VBS On VM.BodyStyle = VBS.BodyStyleId
Where 
	LHM.Licence_Nbr Like @LicenceNumber And VM.Reg_Nbr Like @RegNumber
Order By Reg_Nbr
GO
