USE [TRDWH]
GO
/****** Object:  Table [dbo].[rcs]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rcs](
	[pps] [varchar](20) NULL,
	[fname] [varchar](75) NULL,
	[sname] [varchar](75) NULL,
	[dob] [varchar](15) NULL,
	[spsv] [varchar](100) NULL,
	[Driv_lic_num] [varchar](20) NULL,
	[add1] [varchar](150) NULL,
	[add2] [varchar](150) NULL,
	[add3] [varchar](150) NULL,
	[city] [varchar](150) NULL,
	[county] [nvarchar](50) NULL,
	[country] [nvarchar](100) NULL,
	[Know_County] [varchar](150) NULL,
	[contact_num] [varchar](30) NULL,
	[aPhoto] [image] NULL,
	[test_result] [varchar](30) NULL,
	[test_code] [varchar](30) NULL,
	[test_name] [varchar](150) NULL,
	[test_Centre] [varchar](150) NULL,
	[test_date] [varchar](50) NULL,
	[test_time] [varchar](50) NULL,
	[test_dateTime] [datetime] NULL,
	[Date_Printed] [datetime] NULL,
	[issued_cert_num] [varchar](50) NULL,
	[recId] [bigint] IDENTITY(1,1) NOT NULL,
	[allowPrint] [char](10) NULL,
	[coreScore] [varchar](50) NULL,
	[coreResult] [varchar](50) NULL,
	[aktScore] [varchar](50) NULL,
	[aktResult] [varchar](50) NULL,
	[ccsSent] [varchar](10) NULL,
	[TestFilename] [varchar](100) NULL,
	[confNum] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[dotMapScore] [varchar](50) NULL,
	[dotMapResult] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
