USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetVehicleHistoryInfo]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetVehicleHistoryInfo ''

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetVehicleHistoryInfo] 
				@PlateNumber NVarChar (50)
				, @RegistrationNumber NVarChar (50)
				, @County NVarChar (50)
				, @PPSN NVarChar (50)
				, @Firstname NVarChar (50)
				, @Surname NVarChar (50)
				, @CCSN NVarChar (50)
As

Set NoCount On;

If @CCSN <> ''
Begin
	Select 'Cannot search vehicle history by CCSN'
End
Else
Begin
	If IsNull(@PlateNumber, '') = ''
		Set @PlateNumber = '%'

	If IsNull(@RegistrationNumber, '') = ''
		Set @RegistrationNumber = '%'

	If IsNull(@County, '') = ''
		Set @County = '%'

	If IsNull(@PPSN, '') = ''
		Set @PPSN = '%'

	If IsNull(@Firstname, '') = ''
		Set @Firstname = '%'

	If IsNull(@Surname, '') = ''
		Set @Surname = '%'

	Select 
		LICENCE_NBR As LicenceNbr
		, REG_NBR As VehicleRegNbr
		, LIC_HOLDER_NAME As [Name]
		, LIC_HOLDER_ADDR As [Address]
		, STATUS_DESC_ENG As [Status]
		, TRANSFER_FROM As TransferFrom
		, HISTORY_CREATED_DATE As HistoryDate
	From 
		dbo.SpsvLicenceHistory With (NoLock)
	Where 
		IsNull(LICENCE_NBR, '') Like @PlateNumber And IsNull(Reg_Nbr, '') Like @RegistrationNumber --And Pps_Number Like @PPSN
		And IsNull(LIC_HOLDER_ADDR, '') Like @County And IsNull(LIC_HOLDER_NAME, '') Like @Firstname + ' ' + @Surname
End
GO
