USE [TRDWH]
GO
/****** Object:  Table [dbo].[Temp_DWH_DVLinks]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_DWH_DVLinks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DriverLicNo] [nvarchar](20) NOT NULL,
	[VehicleLicNo] [varchar](50) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[Historical] [int] NOT NULL,
 CONSTRAINT [PK_Temp_DWH_DVLinks_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
