USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_NCTS]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_NCTS](
	[RegistrationNumber] [nvarchar](15) NOT NULL,
	[NCTSCertificateNumber] [nvarchar](20) NOT NULL,
	[NCTSCertificateIssueDate] [smalldatetime] NOT NULL,
	[NCTSCertificateExpiryDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_DWH_NCTS] PRIMARY KEY CLUSTERED 
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
