USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetOldVehiclesForExipringLicences]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GetOldVehiclesForExipringLicences]
	-- Add the parameters for the stored procedure here
	@startDate datetime , 
	@endDate datetime , 
	@ageWall float,
	@LicenceType nvarchar(15)  =null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if (@LicenceType is not null or rtrim(@LicenceType) <> '')
begin
    -- Insert statements for procedure here
	select l.Reg_Nbr,l.Licence_Nbr,
CONVERT(nvarchar, l.IssueDate,103) as [IssueDate],
CONVERT(nvarchar, l.ExpiryDate,103) as [ExpiryDate],
CONVERT(nvarchar, isnull(v.DateFirstReg,v.DateOfRegistrationInIreland),103) as [RegDate],
			datediff(day,isnull(v.DateFirstReg,v.DateOfRegistrationInIreland),l.ExpiryDate)/365.00 as [AGE],
v.Make, v.Model

	from dbo.DWH_LicenceMaster l
			inner join dbo.DWH_VehicleMaster v on l.Reg_Nbr=v.Reg_Nbr
	where substring(Licence_Nbr,1,1) = @LicenceType
			and LicenceState='active'
			and datediff(day,isnull(v.DateFirstReg,v.DateOfRegistrationInIreland),l.IssueDate)/365.00 > @ageWall-1
			and l.ExpiryDate >= @startDate
			and l.ExpiryDate <= @endDate
	order by l.ExpiryDate asc
end
else
begin
	select l.Reg_Nbr,l.Licence_Nbr,
CONVERT(nvarchar, l.IssueDate,103) as [IssueDate],
CONVERT(nvarchar, l.ExpiryDate,103) as [ExpiryDate],
CONVERT(nvarchar, isnull(v.DateFirstReg,v.DateOfRegistrationInIreland),103) as [RegDate],
			datediff(day,isnull(v.DateFirstReg,v.DateOfRegistrationInIreland),l.ExpiryDate)/365.00 as [AGE],
v.Make, v.Model

	from dbo.DWH_LicenceMaster l
			inner join dbo.DWH_VehicleMaster v on l.Reg_Nbr=v.Reg_Nbr
	where	LicenceState='active'
			and datediff(day,isnull(v.DateFirstReg,v.DateOfRegistrationInIreland),l.IssueDate)/365.00 > @ageWall-1
			and l.ExpiryDate >= @startDate
			and l.ExpiryDate <= @endDate
	order by l.ExpiryDate asc
end
END
GO
