USE [TRDWH]
GO
/****** Object:  Table [dbo].[LicenceHolderMaster]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceHolderMaster](
	[LicenceHolderId] [int] NOT NULL,
	[Ccsn] [varchar](20) NOT NULL,
	[Ppsn] [varchar](20) NOT NULL,
	[HolderName] [nvarchar](101) NOT NULL,
	[TitleID] [tinyint] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[CompanyNumber] [int] NULL,
	[CompanyName] [nvarchar](100) NULL,
	[TradingAs] [nvarchar](100) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyID] [int] NULL,
	[GardaDivisionID] [int] NULL,
	[PostCode] [varchar](12) NULL,
	[PhoneNo1] [varchar](50) NULL,
	[ContactNumberFax] [int] NULL,
	[PhoneNo2] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceExpiryDate] [int] NULL,
	[_6DigitCode] [int] NULL,
	[DeceasedYn] [int] NOT NULL,
	[licencenumber] [nvarchar](20) NULL,
	[Comments] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[TaxClearanceStatus] [varchar](20) NULL,
	[TaxClearanceName] [nvarchar](max) NULL,
	[TaxClearanceLastCheckDate] [datetime] NULL,
	[TaxHead] [int] NULL,
	[TaxClearanceLastNotificationDate] [datetime] NULL,
	[NewMobileNumber] [int] NULL,
	[NewMobileNumberCreatedDate] [int] NULL,
	[NewMobileNumberVerificationCode] [int] NULL,
	[NewMobileNumberVerified] [int] NULL,
	[TaxClearanceCertExists] [int] NOT NULL,
	[TaxClearancePreviousCertExistsValue] [int] NULL,
	[TaxClearanceLastCertExistDate] [datetime] NULL,
	[TaxClearance30DaysReminderSent] [datetime] NULL,
	[PrimaryAreaId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
