USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyLicenseAreasBreakdown]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_MonthlyLicenseAreasBreakdown '2009-july'

=============================================
*/
Create Procedure [dbo].[USP_DWH_MonthlyLicenseAreasBreakdown]
			@ReportingMonthPeriod VarChar(20)
As

Set NoCount On;

Exec USP_DWH_GenerateMonthlyCountyLicenseBreakdown @ReportingmonthPeriod

Select County, Area1 As [Projected PrimArea], Area2 As [Projected SecArea],
Area1 + Area2 As Total,
P = (Select Sum(Area1) + Sum(Area2) From dbo.DWH_LIST_COUNTY_MONTHLY)
From dbo.DWH_LIST_COUNTY_MONTHLY
Order By Area1 Desc

Set NoCount Off;
GO
