USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetLicenseePicture]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible USP_DWH_GetLicenseePicture
-- Exec USP_DWH_GetLicenseePicture 'L5013'
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GetLicenseePicture]
				@LicenceNumber NVarChar (50)
AS

SET NOCOUNT ON;

BEGIN
	Select 
		dbo.photoTable.photoData As Photograph
	From 
		dbo.photoTable With (NoLock)
	Where 
		dbo.photoTable.LicNum = @LicenceNumber
END

Set NoCount Off;
GO
