USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[iCabs_VehicleName_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=============================================
-- Author:		Dan Rusu
-- Create date: 18-Apr-2011
-- Description:	


=============================================
*/
CREATE PROCEDURE [dbo].[iCabs_VehicleName_Select]
	-- Add the parameters for the stored procedure here
	@VehicleDriverName NVarChar (150) = '' 

As

BEGIN

If IsNull(@VehicleDriverName, '') = ''
		Set @VehicleDriverName = '%'
		

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here

CREATE TABLE #temp_driver
(
	Licence varchar(20),
	HolderName varchar(150),
	RegNbr varchar(20),
	Area Varchar(50),
	LicenseStatus Varchar(50)
)
insert into #temp_driver (Licence, HolderName, RegNbr, Area,LicenseStatus)
(Select plate_nbr, first_nm + ' ' + last_nm, reg_nbr, county,LM.LicenceState from dbo.DWH_LicenceHolderMaster As LHM With (NoLock) Inner Join dbo.DWH_LicenceMaster As LM With (NoLock) On LM.CCSN = LHM.CCSN)
--
--update #temp_driver
--set LicenseStatus = 0 where LicenseStatus <> 'Active'
--
--update #temp_driver
--set LicenseStatus = 1 where LicenseStatus = 'Active'

update #temp_driver
set HolderName = replace (HolderName,'Á','A')
update #temp_driver
set HolderName = replace (HolderName,'É','E')
update #temp_driver
set HolderName = replace (HolderName,'Í','I')
update #temp_driver
set HolderName = replace (HolderName,'Ó','O')
update #temp_driver
set HolderName = replace (HolderName,'Ú','U')
update #temp_driver
set HolderName = replace (HolderName,'''','')

set @VehicleDriverName = replace(replace(@VehicleDriverName, ' ',''),'''','')


Select Top 50 
Licence, HolderName, RegNbr, Area , LicenseStatus
From 
	#temp_driver
where 
replace (IsNull(HolderName, ''),' ','') Like '%'+@VehicleDriverName+'%'
--FREETEXT (HolderName, @VehicleDriverName )
	

END

GO
