USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyTransaction_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_MonthlyTransaction_Select '2010-Mar-01', '2010-Mar-31 23:59', 'Grant of full Active Licence'

=============================================
*/
CREATE Procedure [dbo].[USP_DWH_MonthlyTransaction_Select]
			@StartDate DateTime
			, @EndDate DateTime
			, @TransactionType VarChar (50)
As

Set NoCount On;

If @TransactionType = 'ALL'
	Set @TransactionType = '%';

--'Grant of full Active Licence'--'Change of Ownership';

With MasterTbl (TransactionDescription, LicenceNumber, RowNum) As (
Select TransactionDescription, LicenceNumber, Row_Number() Over (Partition By LicenceNumber Order By TransactionDescription) As RowNum From 
(
Select 
	[Status] As TransactionDescription, Plate_Nbr As LicenceNumber
From 
	dbo.DWH_LicenceMaster With (NoLock) 
Where 
	[Status] Like @TransactionType And ModifiedDate Between @StartDate And @EndDate And Plate_Nbr Not In (54321)

Union All

Select 
	[Status] As TransactionDescription, Plate_Nbr As LicenceNumber
From 
	dbo.DWH_LicenceMasterHistory With (NoLock) 
Where 
	[Status] Like @TransactionType And ModifiedDate Between @StartDate And @EndDate And Plate_Nbr Not In (54321)
) As S
)

Select 
	TransactionDescription, LicenceNumber, LM.Reg_Nbr As RegNbr, LM.SPSVCategoryId As LicenceType, LM.IssueDate, LM.ExpiryDate, RTrim(LM.LicenceState + ' ' + IsNull(LM.LicenceSubState, '')) As LicenceState 
From 
	MasterTbl As MT Inner Join dbo.DWH_LicenceMaster As LM On MT.LicenceNumber = LM.Plate_Nbr 
Where 
	RowNum = 1 
Order By 
	LicenceNumber
GO
