USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetPendingVehicleTests]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetPendingVehicleTests 'LRA'

=============================================
*/
Create Procedure [dbo].[USP_DWH_GetPendingVehicleTests]
		@InspectionType NVarChar (10)
		, @LicenceNumber NVarChar (50)
		, @RegNumber NVarChar (50)

As

Set NoCount On;

Select 
	VI.VehicleRegistrationNumber, VI.ScheduledInspectionDate, VI.InspectionResultCode, IsNull(LHM.Licence_Nbr, '') As LicenceNbr
From 
	dbo.DWH_VehicleInspection As VI Left Outer Join dbo.DWH_LicenceHolderVehicle As LHV On VI.VehicleRegistrationNumber = LHV.Reg_Nbr
	Inner Join dbo.DWH_LicenceHolderMaster As LHM On LHV.Licence_Nbr = LHM.Licence_Nbr
Where 
	VI.InspectionCarriedOut = 0 And VI.InspectionType = @InspectionType
	And LHM.Licence_Nbr Like @LicenceNumber And VI.VehicleRegistrationNumber Like @RegNumber
GO
