USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyLicensedAreaDrivers]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_MonthlyLicensedAreaDrivers '2009-july'

=============================================
*/
Create Procedure [dbo].[USP_DWH_MonthlyLicensedAreaDrivers]
			@ReportingMonthPeriod VarChar(20)
As

Set NoCount On;

Select Count(*) As Drivers, Licences
From dbo.DWH_DRIVERS_COUNTY With (NoLock)
Where licNum In (Select licNum From dbo.DWH_Driver_SnapShot 
Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
And LicenseStatus = 1
And Revoked = 'NO'
And Surrend = 'NO'
And Deceased = 'NO'
And licNum Not In (
Select licNum From dbo.DWH_EXPIRE_DATES
Where DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
And licNum In (Select licNum From dbo.DWH_Driver_SnapShot Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))
))
Group By Licences
Order By Licences Desc

Set NoCount Off;
GO
