USE [TRDWH]
GO
/****** Object:  Table [dbo].[LicenceStateMaster]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceStateMaster](
	[LicenceStateMasterID] [int] NOT NULL,
	[LicenceStateMaster] [varchar](255) NOT NULL,
	[CreatedBy] [varchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](255) NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
GO
