USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetDriverEnforcementFines]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetDriverEnforcementFines 'G8572'

=============================================
*/
Create Procedure [dbo].[USP_DWH_GetDriverEnforcementFines]
			@LicenceNumber NVarChar (50)
As

Set NoCount On;

Select 
	--License As DriverLicenceNumber, fname As FirstName, sname As LastName, Fine As FineDescription, Count(*) As CountOfFines
	License As DriverLicenceNumber, fname As FirstName, sname As LastName, Left(Fine, 3) + ' - ' + FineID + '; ' + fineDate + '; ' + enforcementOfficer + '; ' + case paid when 'N' Then 'Not Paid' Else 'Paid' End As FineDescription, Count(*) As CountOfFines
From 
	dbo.Fines Left Outer Join dbo.DWH_DriverMaster On License = LicNum
Where 
	License Like @LicenceNumber + '%'
Group By 
	License, fname, sname, Fine, fineDate, enforcementOfficer, paid, FineID
Order By 
	FineId

Set NoCount Off;
GO
