USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_Parameter]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Parameter](
	[ParameterName] [nvarchar](50) NOT NULL,
	[ParameterValue] [nvarchar](50) NOT NULL,
	[ParameterType] [nvarchar](50) NOT NULL,
	[ParameterDescription] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DWH_Parameter] PRIMARY KEY CLUSTERED 
(
	[ParameterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
