USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_VEH_COUNTY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_VEH_COUNTY](
	[impRecordsTotal] [int] NULL,
	[impRecordsCounty] [nvarchar](50) NULL,
	[impRecordsEOMDate] [smalldatetime] NULL
) ON [PRIMARY]
GO
