USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_DRIVERS_COUNTY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_DRIVERS_COUNTY](
	[licNum] [nvarchar](50) NOT NULL,
	[fname] [nvarchar](50) NULL,
	[sname] [nvarchar](50) NULL,
	[add1] [nvarchar](150) NULL,
	[add2] [nvarchar](150) NULL,
	[add3] [nvarchar](150) NULL,
	[add4] [nvarchar](150) NULL,
	[padd1] [nvarchar](150) NULL,
	[padd2] [nvarchar](150) NULL,
	[padd3] [nvarchar](150) NULL,
	[padd4] [nvarchar](150) NULL,
	[County] [nvarchar](50) NULL,
	[PrimLicenceArea] [nvarchar](64) NULL,
	[split1] [nvarchar](50) NULL,
	[split2] [nvarchar](50) NULL,
	[SecLicenseArea] [nvarchar](64) NULL,
	[LicenseStatus] [nvarchar](50) NULL,
	[issueDate] [nvarchar](15) NULL,
	[ExpDate] [nvarchar](15) NULL,
	[mobile] [nvarchar](20) NULL,
	[phone] [nvarchar](20) NULL,
	[Licences] [int] NULL,
	[DOB] [nvarchar](15) NULL,
 CONSTRAINT [PK_DWH_DRIVERS_COUNTY] PRIMARY KEY CLUSTERED 
(
	[licNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DWH_DRIVERS_COUNTY_1]    Script Date: 14/04/2022 13:42:27 ******/
CREATE NONCLUSTERED INDEX [IX_DWH_DRIVERS_COUNTY_1] ON [dbo].[DWH_DRIVERS_COUNTY]
(
	[licNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
