USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_TransactionTypeCategorySummary_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*USP_DWH_TransactionTypeCategorySummary_Select
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_TransactionTypeCategorySummary_Select '2010/mar/01', '2010/mar/31 23:59', 'Cancelled'

=============================================
*/
Create Procedure [dbo].[USP_DWH_TransactionTypeCategorySummary_Select]
				@StartDate DateTime
				, @EndDate DateTime
				, @TransactionType VarChar (50)
As

If Upper(@TransactionType) = 'CHANGE OF OWNERSHIP'
Begin
With MasterTbl (SPSVCategory, LicenceNumber) As (
Select Distinct SPSVCategory, LicenceNumber From (
Select 
	SPSVCategoryId As SPSVCategory, Plate_Nbr As LicenceNumber
From 
	dbo.DWH_LicenceMaster With (NoLock) 
Where 
	ModifiedDate Between @StartDate And @EndDate And Plate_Nbr Not In (54321) And [Status] = @TransactionType

Union All

Select 
	SPSVCategoryId As SPSVCategory, Plate_Nbr As LicenceNumber
From 
	dbo.DWH_LicenceMasterHistory With (NoLock) 
Where 
	ModifiedDate Between @StartDate And @EndDate And Plate_Nbr Not In (54321) And [Status] = @TransactionType
) As SourceTbl)

	Select SPSVCategory, Count(*) As SPSVCategoryCount From MasterTbl Where SPSVCategory In ('T', 'W') Group By SPSVCategory Order By SPSVCategory
End
Else
Begin
With MasterTbl (SPSVCategory, LicenceNumber) As (
Select Distinct SPSVCategory, LicenceNumber From (
Select 
	SPSVCategoryId As SPSVCategory, Plate_Nbr As LicenceNumber
From 
	dbo.DWH_LicenceMaster With (NoLock) 
Where 
	ModifiedDate Between @StartDate And @EndDate And Plate_Nbr Not In (54321) And [Status] = @TransactionType

Union All

Select 
	SPSVCategoryId As SPSVCategory, Plate_Nbr As LicenceNumber
From 
	dbo.DWH_LicenceMasterHistory With (NoLock) 
Where 
	ModifiedDate Between @StartDate And @EndDate And Plate_Nbr Not In (54321) And [Status] = @TransactionType
) As SourceTbl)
	Select SPSVCategory, Count(*) As SPSVCategoryCount From MasterTbl Group By SPSVCategory Order By SPSVCategory
End
GO
