USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_BUILD_COUNTY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Max Cottica>
-- Create date: <23/04/2009>
-- Description:	<BUILDS dbo.DWH_DRIVERS_COUNTY TABLE>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_BUILD_COUNTY]

AS
BEGIN

	SET NOCOUNT ON;


DELETE dbo.DWH_DRIVERS_COUNTY

INSERT dbo.DWH_DRIVERS_COUNTY
SELECT
licNum, fname, sname, add1,
LTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add2, 'CO ', ''), 'CO.', ''), '.', ''))) AS add2, 
LTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add3, 'CO ', ''), 'CO.', ''), '.', ''))) AS add3,
CASE
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'CASTLEBAR'
THEN 'MAYO'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'MONAGHAR' 
THEN 'MONAGHAN'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%DUB%' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%BAILE%'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%DULIN%'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) IN ('D15', 'D17', 'D2', 'D3', 'D8')
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%TALLAGHT%'
THEN 'DUBLIN'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%OFFALLY%'
THEN 'OFFALY'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'ROSCOMMOM'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'ROSCOMMON TOWN'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'ROSSCOMMON'
THEN 'ROSCOMMON'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE 'WEXFORD%'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'WEFORD'
THEN 'WEXFORD'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%GAILLIMH%' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%LWAY%'
THEN 'GALWAY'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%LIGO' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'SILGO'
THEN 'SLIGO'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%LOUTH' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'DROGHEDA'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'LOUGH' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'LÚ'
THEN 'LOUTH'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'METH' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'MAETH' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'OLDCASTLE'
THEN 'MEATH'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE 'WICK%'
THEN 'WICKLOW'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'KIDARE' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE 'KILDARE%'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE 'KILLDARE%'
THEN 'KILDARE'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'LEITRIIM' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'LETRIM'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'LETIRIM'
THEN 'LEITRIM'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%TIPP%'
THEN 'TIPPERARY'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'COBH' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%CORK%'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'KINSALE'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'BANDON'
THEN 'CORK'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%DONEGAL'
THEN 'DONEGAL'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%ERICK%'
THEN 'LIMERICK'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%LONGFORD%'
THEN 'LONGFORD'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%LAOIS%' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'LOAIS'
THEN 'LAOIS'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%WATERFORD%'
THEN 'WATERFORD'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'ENNIS'
THEN 'CLARE'
WHEN LTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add3, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%ATHLONE%' 
AND RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) LIKE '%roscom%'
AND primlicensearea LIKE '%WESTMEATH%'
THEN 'WESTMEATH'
WHEN RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'WESTEMATH'
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'WEST MEATH' 
OR RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) = 'WESTMESTH'
THEN 'WESTMEATH'
ELSE RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(add4, 'CO ', ''), 'CO.', ''), '.', ''))) 
END AS add4,
 padd1, padd2, padd3, 
RTRIM(LTRIM(REPLACE(REPLACE(padd4, 'CO ', ''), 'CO.', ''))) AS padd4, primlicensearea AS County,
'N/A' AS PrimLicenceArea,
CASE
WHEN primlicensearea LIKE '% %'
THEN RTRIM(LTRIM(LEFT(primlicensearea, (CHARINDEX(' ', primlicensearea) - 1))))
ELSE primlicensearea
END AS split1,
CASE
WHEN primlicensearea LIKE '% %'
THEN RTRIM(LTRIM(REPLACE(primlicensearea, LEFT(primlicensearea, (CHARINDEX(' ',primlicensearea) - 1)), '')))
ELSE primlicensearea
END AS split2, 
CASE
WHEN REPLACE(REPLACE(CAST(seclicensearea AS nvarchar(250)), '^', ' '), '/', ' ') LIKE '%slgo leitrim%'
THEN 'SLIGO LEITRIM'
WHEN seclicensearea LIKE '%TTTTT%' OR seclicensearea LIKE '%SSSSS%' OR seclicensearea LIKE '%MMMMM%' OR seclicensearea LIKE '%FFFFF%' OR seclicensearea LIKE '%GGGGG%'
OR seclicensearea LIKE '%RRRRR%' OR seclicensearea LIKE '%DDDDD%' OR seclicensearea LIKE '%NNNNN%' OR seclicensearea LIKE '%EEEEE%'
THEN ''
WHEN REPLACE(REPLACE(CAST(seclicensearea AS nvarchar(250)), '^', ' '), '/', ' ') LIKE '%LOUTH MEATH LOUTH MEATH%'
THEN 'LOUTH MEATH'
WHEN REPLACE(REPLACE(CAST(seclicensearea AS nvarchar(250)), '^', ' '), '/', ' ') LIKE '%limerick limerick%'
THEN 'LIMERICK'
WHEN REPLACE(REPLACE(CAST(seclicensearea AS nvarchar(250)), '^', ' '), '/', ' ') LIKE '%cork cork%'
THEN 'CORK'
ELSE REPLACE(REPLACE(CAST(seclicensearea AS nvarchar(250)), '^', ' '), '/', ' ')
END AS seclicensearea, 
licensestatus, issuedate, expdate, mobile, phone, null as Licences, DOB
FROM dbo.DWH_TAXI

UPDATE dbo.DWH_DRIVERS_COUNTY
SET PrimLicenceArea = (
CASE
WHEN County = split1 AND county = split2 AND (split1 in (select county from dbo.DWH_LIST_COUNTY where county = split1) OR split2 in (select county from dbo.DWH_LIST_COUNTY where county = split2))
THEN County
WHEN add4 = split1 OR add4 = split2 AND (split1 in (select county from dbo.DWH_LIST_COUNTY where county = split1) OR split2 in (select county from dbo.DWH_LIST_COUNTY where county = split2))
THEN add4
WHEN add3 = split1 OR add3 = split2 AND (split1 in (select county from dbo.DWH_LIST_COUNTY where county = split1) OR split2 in (select county from dbo.DWH_LIST_COUNTY where county = split2))
THEN add3
WHEN add4 = '' AND padd4 IN (SELECT county FROM dbo.DWH_LIST_COUNTY where county = padd4) AND (padd4 = split1 OR padd4 = split2 AND (split1 in (select county from dbo.DWH_LIST_COUNTY where county = split1) OR split2 in (select county from dbo.DWH_LIST_COUNTY where county = split2)))
THEN padd4
WHEN padd4 = split1 OR padd4 = split2 AND (split1 in (select county from dbo.DWH_LIST_COUNTY where county = split1) OR split2 in (select county from dbo.DWH_LIST_COUNTY where county = split2))
THEN padd4
WHEN padd3 = split1 OR padd3 = split2 AND (split1 in (select county from dbo.DWH_LIST_COUNTY where county = split1) OR split2 in (select county from dbo.DWH_LIST_COUNTY where county = split2))
THEN padd3
ELSE 'N/A'
END)

DECLARE @String nvarchar(250)
DECLARE @ID nvarchar(30)
DECLARE GETLICENSES CURSOR
FOR
SELECT licNum,
CASE
WHEN primlicencearea ='N/A'
THEN RTRIM(LTRIM(CAST(SecLicenseArea AS nvarchar(250))))
ELSE RTRIM(LTRIM(primlicencearea)) + ' ' + RTRIM(LTRIM(CAST(SecLicenseArea AS nvarchar(250)))) 
END AS Areas
FROM dbo.DWH_DRIVERS_COUNTY
ORDER BY licNum
OPEN GETLICENSES
FETCH NEXT
FROM GETLICENSES INTO @ID, @String
WHILE @@FETCH_STATUS = 0
BEGIN

UPDATE dbo.DWH_DRIVERS_COUNTY
SET Licences = (SELECT LEN(@String) - LEN(REPLACE(@String, ' ', '')) + 1)
WHERE licNum = @ID

FETCH NEXT
FROM GETLICENSES INTO @ID, @String
END
CLOSE GETLICENSES
DEALLOCATE GETLICENSES

UPDATE dbo.DWH_LIST_COUNTY
SET Area1 = 0, Area2 = 0

DECLARE @COUNTY nvarchar(20)
DECLARE GETAREA CURSOR
FOR
SELECT COUNTY FROM dbo.DWH_LIST_COUNTY
ORDER BY COUNTY
OPEN GETAREA
FETCH NEXT
FROM GETAREA INTO @COUNTY
WHILE @@FETCH_STATUS = 0
BEGIN

UPDATE dbo.DWH_LIST_COUNTY
SET Area1 = (
SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
WHERE PrimLicenceArea = @COUNTY 
AND LicenseStatus = 1)
WHERE County = @County

IF @COUNTY = 'Meath'
BEGIN
UPDATE dbo.DWH_LIST_COUNTY
SET Area2 = (
SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
WHERE (SecLicenseArea LIKE '%' + @COUNTY + '%' AND SecLicenseArea NOT LIKE '%westmeath%')
AND LicenseStatus = 1)
WHERE County = @County
END
IF @COUNTY = 'N/A'
BEGIN
UPDATE dbo.DWH_LIST_COUNTY
SET Area2 = (
SELECT SUM((LEN(CAST(SecLicenseArea AS nvarchar(250))) - LEN(REPLACE(CAST(SecLicenseArea AS nvarchar(250)), ' ', '')) + 1)) FROM dbo.DWH_DRIVERS_COUNTY
WHERE LicenseStatus = 1 AND PrimLicenceArea = 'N/A' AND (CAST(seclicensearea AS nvarchar(250)) <> '' OR CAST(seclicensearea AS nvarchar(250)) <> ' '))
WHERE County = @County
END
ELSE
BEGIN
UPDATE dbo.DWH_LIST_COUNTY
SET Area2 = (
SELECT COUNT(*) FROM dbo.DWH_DRIVERS_COUNTY
WHERE SecLicenseArea LIKE '%' + @COUNTY + '%'
AND LicenseStatus = 1)
WHERE County = @County
END

FETCH NEXT
FROM GETAREA INTO @COUNTY
END
CLOSE GETAREA
DEALLOCATE GETAREA

END

GO
