USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetDriverMonthIntervals]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetDriverMonthIntervals

=============================================
*/
Create Procedure [dbo].[USP_DWH_GetDriverMonthIntervals]

As

Select Distinct 
	SnapShotDateTime, DateName(Year, SnapShotDateTime) + '-' + DateName(Month, SnapShotDateTime) As MonthYearPeriod
From 
	dbo.DWH_Driver_SnapShot
Order By 
	SnapShotDateTime Desc

GO
