USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyLicensesStatusExpired]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_MonthlyLicensesStatusExpired '2009-April'

=============================================
*/
Create Procedure [dbo].[USP_DWH_MonthlyLicensesStatusExpired]
			@ReportingMonthPeriod VarChar(20)
As

Set NoCount On;

Select 
	Count(*) As Total_Expired_Licenses 
From 
	dbo.DWH_EXPIRE_DATES With (NoLock)
Where 
	DateStamp <= Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111) 
	And licNum In (Select licNum From dbo.DWH_Driver_SnapShot With (NoLock) Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111))

Set NoCount Off;
GO
