USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DWH_GeneratePPSN]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[Fn_DWH_GeneratePPSN](@TC2 VarChar(50)) Returns VarChar(50)

As

Begin
	Declare @Index Int
			, @Char Char(1)
			, @RunningCount Int
			, @OutputString VarChar(50)
			, @AlphabeticalCharacters VarChar (26)
			
	Set @TC2 = Replace(Replace(@TC2, '.', ''), '-', '')
	Set @AlphabeticalCharacters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
	Set @OutputString = SubString(@TC2, 2, 7)
	Set @TC2 = Reverse(SubString(@TC2, 2, 7))
	Set @Index = 1
	Set @RunningCount = 0
	
	If Len(@TC2) < 7
	Begin
		Set @TC2 = ''
		Set @OutputString = ''
	End
	Else
	Begin
		If Not IsNumeric(@TC2) = 1
		Begin
			Set @TC2 = ''
			Set @OutputString = ''
		End
	End

	While @Index <= Len(@TC2)
	Begin
		Set @Char = SubString(@TC2, @Index, 1)
		If IsNumeric(@Char) = 1
		Begin
			Set @RunningCount = @RunningCount + (Cast(@Char As Int) * (@Index + 1))
		End
		Else
		Begin
			Set @OutputString = ''
		End
		
		Set @Index = @Index + 1
	End
	
	-- Returns a number that corresponds to char in alphabet
	Set @RunningCount = @RunningCount % 23
	
	If @RunningCount = 0  --remainder zero means 23
	Begin
		Set @RunningCount = 23
	End

	If @OutputString <> ''
	Begin 
		Set @OutputString = @OutputString + SubString(@AlphabeticalCharacters, @RunningCount, 1)
	End

	Return @OutputString
End 
GO
