USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[usp_DWH_VehicleAgeAtExpiryCat1]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_DWH_VehicleAgeAtExpiryCat1]

AS
BEGIN
select l.LICENCE_NBR as [Licence number],
l.LICENCE_TYPE_CD as [Licence category],
l.REG_NBR as [Licence registration],
convert(nvarchar,convert(datetime,isnull(isnull(x.FirstReg,v.REG_DATE_CO_ORIGIN),v.REG_DATE_IE)),107) as [Date of first registration] ,
convert(nvarchar,dateadd(year,9,convert(datetime,isnull(isnull(x.FirstReg,v.REG_DATE_CO_ORIGIN),v.REG_DATE_IE))),107) as [Date of first registration + 9 years] ,
convert(nvarchar,l.LIC_EXP_DATE,107) as [Date of expiry],
convert(nvarchar,dateadd(day,-90,l.LIC_EXP_DATE),107) as [Date of expiry - 90 days],
lh.FIRST_NM as [Name],
lh.LAST_NM as [Surname],
lh.ADDR_1 as [Address 1],
lh.ADDR_2 as [Address 2],
lh.TOWN,
c.COUNTY,isnull(lh.POST_CODE,'') as [Post Code]
from VehicleLicence.dbo.LICENCES l
inner join dbo.VEHICLES v on v.REG_NBR = l.REG_NBR
left join 
(
select VehicleRegNbr as RegNo, isnull(DateOfFirstReg, DateOfFirstRegInIreland) as FirstReg from TRDWH.dbo.DVCSD_1
)x on x.RegNo = l.REG_NBR
inner join VehicleLicence.dbo.LICENCE_HOLDERS lh on lh.LICENCE_HOLDER_ID = l.LICENCE_HOLDER_ID
inner join VehicleLicence.dbo.COUNTIES c on c.COUNTY_CD = lh.COUNTY_CD
where l.LICENCE_STATUS_CD = 'A' and l.LICENCE_TYPE_CD in ('T','H')
and dateadd(day, -90,l.LIC_EXP_DATE) >='01/01/2011' 
and dateadd(year,9,convert(datetime,isnull(isnull(x.FirstReg,v.REG_DATE_CO_ORIGIN),v.REG_DATE_IE)))  
between dateadd(day,-90,l.LIC_EXP_DATE) and l.LIC_EXP_DATE 
order by l.LIC_EXP_DATE asc





END
GO
