USE [TRDWH]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DWH_ParseMultiValueParameter]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
 Author:		Robert Hamilton
 Create date:	15/Jul/2009
 Description:	Takes in comma separated list of params from SSRS and 
				returns a table with the values
=============================================
*/

CREATE FUNCTION [dbo].[Fn_DWH_ParseMultiValueParameter]
(
	@MVParam VarChar(1000)
)
RETURNS Table
AS

RETURN
(
	With Parse (Parameter, Idx)
	As
	(
		Select 
			Case PatIndex('%,%', @MVParam)
				When 0 Then @MVParam
				Else Left(@MVParam, PatIndex('%,%', @MVParam) -1)
			End, 
			Case PatIndex('%,%', @MVParam)
				When 0 Then 0
				Else Len(@MVParam) - PatIndex('%,%', @MVParam)
			End

		Union All

		Select 
			Case PatIndex('%,%', Right(@MVParam, Idx))
				When 0 Then Right(@MVParam, Idx)
				Else Left(Right(@MVParam, Idx), PatIndex('%,%', Right(@MVParam, Idx)) -1)
			End, 
			Case PatIndex('%,%', Right(@MVParam, Idx))
				When 0 Then 0
				Else Len(Right(@MVParam, Idx)) - PatIndex('%,%', Right(@MVParam, Idx))
			End
		From 
			Parse
		Where
			Idx > 0 And Idx < Len(@MVParam)
	)
	Select Distinct 
		Parameter
	From 
		Parse
)

GO
