USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_UpdateLicenceHolderDeadLicenceState]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_UpdateLicenceHolderDeadLicenceState 'ALL'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_UpdateLicenceHolderDeadLicenceState]

As

Update 
	dbo.DWH_LicenceHolderMaster
Set 
	LicenceState = 'DEAD'
	, LicenceSubState = 'TIMED OUT'
Where 
	LicenceState = 'INACTIVE' And LicenceSubState = 'EXPIRED'
	And DateDiff(Day, ExpiryDate, GetDate()) > Convert(SmallInt, (Select ParameterValue From dbo.DWH_Parameter Where ParameterName = 'DeadLicenceActivationPoint'))

Update 
	dbo.DWH_LicenceHolderMaster
Set 
	LicenceState = 'DEAD'
	, LicenceSubState = 'CONDITIONAL OFFER'
Where 
	LicenceState = 'INACTIVE' And LicenceSubState = 'CONDITIONAL OFFER'
	And DateDiff(Day, IssueDate, GetDate()) > Convert(TinyInt, (Select ParameterValue From dbo.DWH_Parameter Where ParameterName = 'ConditionalOfferValidityPeriod'))
GO
