USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetDriverLicenceCommentsWeekly]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mariana Vilau
-- Create date: 14.05.2012
-- Description:	Get all commentes added by iCabs users for the last 7 days 
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GetDriverLicenceCommentsWeekly]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	select 
			Licencenumber [Driver Licence Number], 
			replace(replace(replace(replace(replace(substring(comments, 1, datalength(comments)), '<p><b>', ''), '&nbsp', ''), '</b>', ''), '</p>', '.'), '<p>', '') [Notes]
	from licencemaster where 

	comments like '%' + replace(convert(varchar(11),dateadd(day, -1, getdate()),106),' ','-') + '%'
	or
	comments like '%' + replace(convert(varchar(11),dateadd(day, -2, getdate()),106),' ','-') + '%'
	or
	comments like '%' + replace(convert(varchar(11),dateadd(day, -3, getdate()),106),' ','-') + '%'
	or
	comments like '%' + replace(convert(varchar(11),dateadd(day, -4, getdate()),106),' ','-') + '%'
	or
	comments like '%' + replace(convert(varchar(11),dateadd(day, -5, getdate()),106),' ','-') + '%'
	or
	comments like '%' + replace(convert(varchar(11),dateadd(day, -6, getdate()),106),' ','-') + '%'
	or
	comments like '%' + replace(convert(varchar(11),dateadd(day, -7, getdate()),106),' ','-') + '%'
	order by licencenumber

END
GO
