USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_UpdateLicenceHolderExpiryDate]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_UpdateLicenceHolderExpiryDate 'H10528'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_UpdateLicenceHolderExpiryDate]
				@LicenceNumber NVarChar (50)
As

Declare @ExpiryDate SmallDateTime

Set NoCount On

If @LicenceNumber = 'ALL'
Begin
	Set @LicenceNumber = @LicenceNumber
End
Else
Begin
	-- new expiry date: if current expiry less than today, add year plus remainder of existing expiry period
	-- else if expiry date >= today then just a year
	Select @ExpiryDate = Convert(SmallDateTime, ExpiryDate) From dbo.DWH_LicenceHolderMaster Where Licence_Nbr = @LicenceNumber
	If (@ExpiryDate) > Convert(SmallDateTime, GetDate())
	Begin
		Set @ExpiryDate = DateAdd(Day, Convert(SmallInt, (Select ParameterValue From dbo.DWH_Parameter Where ParameterName = 'VehicleHolderLicenceValidityPeriod')), @ExpiryDate)
	End
	Else
	Begin
		Set @ExpiryDate = DateAdd(Day, Convert(SmallInt, (Select ParameterValue From dbo.DWH_Parameter Where ParameterName = 'VehicleHolderLicenceValidityPeriod')), Convert(SmallDateTime, GetDate()))
	End


	Update 
		dbo.DWH_LicenceHolderMaster With (RowLock)
	Set 
		ExpiryDate = @ExpiryDate
	Where 
		Licence_Nbr = @LicenceNumber
End

Set NoCount Off

If @@Error = 0
	Return 0
Else
	Return @@Error
GO
