USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetVehicleAgeBreakdownByTypeNEW]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetVehicleAgeBreakdownByType 'ACTIVE', '31/Dec/2008'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetVehicleAgeBreakdownByTypeNEW]
				@Status NVarChar(20)
				, @ExtractDate DateTime
				--, @VehicleAge SmallInt
As

Set NoCount On;

Create Table #Vehicles 
	(
		Plate_Nbr NVarChar (50)
		, VehicleAge SmallInt
		, SPSVCategory NVarChar (50)
	)

	create table #PossibleStatus
( licStatus nvarchar(50) )

if @Status = 'ALL'
	insert into #PossibleStatus values ('ACTIVE'),('INACTIVE'),('DEAD')
else 
	insert into #PossibleStatus values (@Status) 

Insert Into #Vehicles 
(
	Plate_Nbr, VehicleAge, SPSVCategory
)
Select 
	Plate_Nbr
	,DATEDIFF(yy, isnull(dbo.DWH_VehicleMaster.DateFirstReg,dbo.DWH_VehicleMaster.DateOfRegistrationInIreland), @ExtractDate) - CASE WHEN (MONTH(isnull(dbo.DWH_VehicleMaster.DateFirstReg,dbo.DWH_VehicleMaster.DateOfRegistrationInIreland)) > MONTH(@ExtractDate)) OR (MONTH(isnull(dbo.DWH_VehicleMaster.DateFirstReg,dbo.DWH_VehicleMaster.DateOfRegistrationInIreland)) = MONTH(@ExtractDate) AND DAY(isnull(dbo.DWH_VehicleMaster.DateFirstReg,dbo.DWH_VehicleMaster.DateOfRegistrationInIreland)) > DAY(@ExtractDate)) THEN 1 ELSE 0 END
	, IsNull(dbo.DWH_SPSVCategory.CategoryDescription, 'Not Categorised')
From 
	dbo.LICENCES_EXTRACT_ARCHIVE_ALL With (NoLock) Left Outer Join dbo.DWH_SPSVCategory With (NoLock) 
			On Left(dbo.LICENCES_EXTRACT_ARCHIVE_ALL.Licence_Nbr, 1) = dbo.DWH_SPSVCategory.CategoryId
	left outer join dbo.DWH_VehicleMaster With (NoLock) 
			On dbo.LICENCES_EXTRACT_ARCHIVE_ALL.Reg_Nbr = dbo.DWH_VehicleMaster.Reg_Nbr
Where 
	impFileDate = @ExtractDate And  Status in(select * from #PossibleStatus)
	And Plate_Nbr Not In ('54322', '54323', '54321', '54321', '35210', '40241', '38386', '41505')

Set NoCount Off;

--Select 1 As SortOrder, 'Under 1 year of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge < 1 Group By SPSVCategory
--Union All
--Select 2 As SortOrder, '2 to 3 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 1 And VehicleAge <= 2 Group By SPSVCategory
--Union All
--Select 3 As SortOrder, '3 to 4 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 3 And VehicleAge <= 4 Group By SPSVCategory
--Union All
--Select 4 As SortOrder, '5 to 6 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 5 And VehicleAge <= 6 Group By SPSVCategory
--Union All
--Select 5 As SortOrder, '7 to 8 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 7 And VehicleAge <= 8 Group By SPSVCategory
--Union All
--Select 6 As SortOrder, '9 to 10 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 9 And VehicleAge <= 10 Group By SPSVCategory
--Union All
--Select 7 As SortOrder, '11 years of age and over' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 11 Group By SPSVCategory

Select 0 As SortOrder, '< 1 year of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge < 1 Group By SPSVCategory
Union All
Select 1 As SortOrder, '1 to < 2 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 1 And VehicleAge < 2 Group By SPSVCategory
Union All
Select 2 As SortOrder, '2 to < 3 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 2 And VehicleAge < 3 Group By SPSVCategory
Union All
Select 3 As SortOrder, '3 to < 4 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 3 And VehicleAge < 4 Group By SPSVCategory
Union All
Select 4 As SortOrder, '4 to < 5 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 4 And VehicleAge < 5 Group By SPSVCategory
Union All
Select 5 As SortOrder, '5 to < 6 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 5 And VehicleAge < 6 Group By SPSVCategory
Union All
Select 6 As SortOrder, '6 to < 7 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 6 And VehicleAge < 7 Group By SPSVCategory
Union All
Select 7 As SortOrder, '7 to < 8 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 7 And VehicleAge < 8 Group By SPSVCategory
Union All
Select 8 As SortOrder, '8 to < 9 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 8 And VehicleAge < 9 Group By SPSVCategory
Union All
Select 9 As SortOrder, '9 to < 10 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 9 And VehicleAge < 10 Group By SPSVCategory
Union All
Select 10 As SortOrder, '10 to < 15 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 10 And VehicleAge < 15 Group By SPSVCategory
Union All
Select 11 As SortOrder, '15+ years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 15 Group By SPSVCategory


Set NoCount On;
	Drop Table if exists #Vehicles
	drop table if exists #PossibleStatus 
Set NoCount Off;

GO
