USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_UpdateLicenceHolderMasterRecord]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_UpdateLicenceHolderMasterRecord 'ALL'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_UpdateLicenceHolderMasterRecord]
				@Licence_Number NVarChar (50)
				, @ExpiryDate NVarChar (50)
As

Update 
	dbo.DWH_LicenceHolderMaster With (RowLock)
Set 
	ExpiryDate = @ExpiryDate
Where 
	Licence_Nbr = @Licence_Number
GO
