USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_CopyFines]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Dan Rusu>
-- Create date: <19.07.2010>
-- Description:	<Transfers new fines from cabs_Live to TRDWH>
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_CopyFines] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
insert into TRDWH.dbo.FINES

select 
	f.DocketRefNo, ft.FineTypeTextID + ' - ' + ft.FineTypeDescription,
	f.FineAmount,convert(nvarchar,f.FineDateTime,107),lm.LicenceNumber,lhm.HolderName,f.FinePaid,f.FinePaidDate,NULL,1,NULL,
	NULL, f.VehicleLicence,fo.OfficerName,NULL,f.FineNotes,NULL,FineDateTime
from [NTA-CABS2-DB1].Cabs_Live.dbo.Fines f 
	inner join [NTA-CABS2-DB1].Cabs_Live.dbo.LicenceHolderMaster lhm on lhm.LicenceHolderId = f.LicenceHolderID
	inner join [NTA-CABS2-DB1].Cabs_Live.dbo.LicenceMaster lm on lhm.LicenceHolderId = lm.LicenceHolderID
	inner join [NTA-CABS2-DB1].Cabs_Live.dbo.FineType ft on ft.FineTypeID = f.FineTypeID
	inner join [NTA-CABS2-DB1].Cabs_Live.dbo.FineOfficers fo on fo.OfficerID = f.EnforcementOfficer
where 
	f.DocketRefNo not in 
	(select FineID from  TRDWH.dbo.FINES)

update TRDWH.dbo.FINES set paid='1' where FineID in 
(select cf.DocketRefNo from [NTA-CABS2-DB1].Cabs_Live.dbo.Fines cf where cf.FinePaid=1)
and paid='n'

update TRDWH.dbo.FINES 
set paid = 'n' where paid = '0'

--insert into TRDWH.dbo.DWH_FINES(Fine,FineCategory,fineDate,fineMonth,Paid,Officer)
--
--select  f.DocketRefNo, ft.FineTypeTextID + ' - ' + ft.FineTypeDescription,convert(nvarchar,f.FineDateTime,107),
--		datename(month,f.FineDateTime) + ' '+ datename(year,f.FineDateTime),f.FinePaid,f.EnforcementOfficer
--from Cabs_Live.dbo.Fines f 
--	inner join Cabs_Live.dbo.LicenceHolderMaster lhm on lhm.LicenceHolderId = f.LicenceHolderID
--	inner join Cabs_Live.dbo.FineType ft on ft.FineTypeID = f.FineTypeID
--where 
--	f.DocketRefNo not in 
--	(select Fine from  TRDWH.dbo.DWH_FINES)


END
GO
