USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetDriverEnforcementInfo]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible USP_DWH_GetDriverEnforcementInfo
-- Exec USP_DWH_GetDriverEnforcementInfo 'L5013'
-- =============================================
CREATE PROCEDURE [dbo].[USP_DWH_GetDriverEnforcementInfo]
				@LicenceNumber NVarChar (50)
As

Set NoCount On;

	Select 
		fname As FirstName, sname As LastName, 
		Case LicenseStatus When 1 Then 'Active' Else 'Inactive' End As LicenceStatus, 
		DOB As DateOfBirth, DM.licNum As LicenceNumber, 
		ExpDate As ExpiryDate, PrimLicenseArea As PrimaryArea, SecLicenseArea As OtherArea, 
		mobile As PhoneNumber, photoData
	From 
		dbo.DWH_DriverMaster As DM With (NoLock) Inner Join dbo.photoTable With (NoLock) On DM.LicNum = dbo.photoTable.licnum
	Where 
		DM.LicNum Like @LicenceNumber + '%'

Set NoCount Off;
GO
