USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_LicenceMasterHistory]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_LicenceMasterHistory](
	[Licence_Nbr] [nvarchar](50) NOT NULL,
	[Plate_Nbr] [int] NOT NULL,
	[Reg_Nbr] [nvarchar](15) NULL,
	[CCSN] [nvarchar](50) NULL,
	[IssueDate] [smalldatetime] NULL,
	[ExpiryDate] [smalldatetime] NULL,
	[SPSVCategoryId] [nvarchar](5) NULL,
	[LicenceState] [nvarchar](10) NOT NULL,
	[LicenceSubState] [nvarchar](20) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
