USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_DWH_CREATE_VEHICLE_COUNTY]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DWH_CREATE_VEHICLE_COUNTY]
AS
BEGIN

DELETE dbo.DWH_VEHICLE_COUNTY_DAILY

INSERT dbo.DWH_VEHICLE_COUNTY_DAILY
SELECT CASE WHEN Status = '' THEN 'NA' ELSE REPLACE(Status, ' ', '') END AS Status, 
impFileDay, impFileMonth, impFileYear, COUNT(*) AS ASMANY, 
CASE
WHEN COUNTY = ''
THEN 'N/A'
WHEN COUNTY LIKE '%CARLOW%'
THEN 'CARLOW'
WHEN COUNTY LIKE '%CAVAN%'
THEN 'CAVAN'
WHEN COUNTY LIKE '%CLARE%'
THEN 'CLARE'
WHEN COUNTY LIKE '%CORK%'
THEN 'CORK'
WHEN COUNTY LIKE '%DONEGAL%'
THEN 'DONEGAL'
WHEN COUNTY LIKE '%DUBLIN%'
THEN 'DUBLIN'
WHEN COUNTY LIKE '%GALWAY%'
THEN 'GALWAY'
WHEN COUNTY LIKE '%KERRY%'
THEN 'KERRY'
WHEN COUNTY LIKE '%KILDARE%'
THEN 'KILDARE'
WHEN COUNTY LIKE '%KILKENNY%'
THEN 'KILKENNY'
WHEN COUNTY LIKE '%LAOIS%'
THEN 'LAOIS'
WHEN COUNTY LIKE '%LEITRIM%'
THEN 'LEITRIM'
WHEN COUNTY LIKE '%LIMERICK%'
THEN 'LIMERICK'
WHEN COUNTY LIKE '%LONGFORD%'
THEN 'LONGFORD'
WHEN COUNTY LIKE '%LOUTH%'
THEN 'LOUTH'
WHEN COUNTY LIKE '%MAYO%'
THEN 'MAYO'
WHEN COUNTY LIKE '%MEATH%' AND COUNTY NOT LIKE '%WESTMEATH%'
THEN 'MEATH'
WHEN COUNTY LIKE '%MONAGHAN%'
THEN 'MONAGHAN'
WHEN COUNTY LIKE '%OFFALY%'
THEN 'OFFALY'
WHEN COUNTY LIKE '%ROSCOMMON%'
THEN 'ROSCOMMON'
WHEN COUNTY LIKE '%SLIGO%'
THEN 'SLIGO'
WHEN COUNTY LIKE '%TIPPERARY%'
THEN 'TIPPERARY'
WHEN COUNTY LIKE '%WATERFORD%'
THEN 'WATERFORD'
WHEN COUNTY LIKE '%WESTMEATH%'
THEN 'WESTMEATH'
WHEN COUNTY LIKE '%WEXFORD%'
THEN 'WEXFORD'
WHEN COUNTY LIKE '%WICKLOW%'
THEN 'WICKLOW'
END AS COUNTY , impFileDate FROM
dbo.LICENCES_EXTRACT_ARCHIVE_ALL
GROUP BY impFileDate, Status, County, impFileDay, impFileMonth, impFileYear
ORDER BY impFileDate DESC, County ASC, Status ASC

INSERT DWH_VEHICLE_COUNTY
SELECT County, SUM(ASMANY) AS ASMANY, impFileDate, impFileDay, impFileMonth, impFileYear
FROM DWH_VEHICLE_COUNTY_DAILY
GROUP BY County, impFileDay, impFileMonth, impFileYear, impFileDate
ORDER BY impFileDate DESC, County ASC

DECLARE @Column nvarchar(50)

DECLARE Create_County_VEH_Table CURSOR FOR 

SELECT DISTINCT 
CASE
WHEN Status = ''
THEN 'NA' 
ELSE REPLACE(Status, ' ', '')
END AS Status
FROM dbo.LICENCES_EXTRACT_ARCHIVE_ALL
ORDER BY Status

OPEN Create_County_VEH_Table 

FETCH NEXT FROM Create_County_VEH_Table INTO @Column

WHILE @@FETCH_STATUS = 0
BEGIN

EXEC ('ALTER TABLE DWH_VEHICLE_COUNTY ADD ' + @Column + ' int')

FETCH NEXT FROM Create_County_VEH_Table INTO @Column
END

CLOSE Create_County_VEH_Table 
DEALLOCATE Create_County_VEH_Table 

DECLARE @Status nvarchar(50)
DECLARE @COUNT int
DECLARE @County	nvarchar(50)
DECLARE @DDate nvarchar(2)
DECLARE @MDate nvarchar(2)
DECLARE @YDate nvarchar(2)
DECLARE @Date smalldatetime

DECLARE Create_County_VEH_Table2 CURSOR FOR 

SELECT Status, impFileDay, impFileMonth, impFileYear, SUM(ASMANY) AS ASMANY, COUNTY, impFileDate FROM dbo.DWH_VEHICLE_COUNTY_DAILY
GROUP BY Status, impFileDay, impFileMonth, impFileYear, COUNTY, impFileDate
ORDER BY impFileDate DESC, County ASC, Status

OPEN Create_County_VEH_Table2 

FETCH NEXT FROM Create_County_VEH_Table2 INTO @Status, @DDate, @MDate, @YDate, @COUNT, @County, @Date

WHILE @@FETCH_STATUS = 0
BEGIN

EXEC ('UPDATE DWH_VEHICLE_COUNTY SET ' + @Status + ' = ' + @COUNT + ' WHERE COUNTY = ''' + @County + ''' AND impFileDay = ''' + @DDate + ''' AND impFileMonth = ''' + @MDate + ''' AND impFileYear = ''' + @YDate + '''')

FETCH NEXT FROM Create_County_VEH_Table2 INTO @Status, @DDate, @MDate, @YDate, @COUNT, @County, @Date
END

CLOSE Create_County_VEH_Table2 
DEALLOCATE Create_County_VEH_Table2

END
GO
