USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_Driver_SnapShot]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Driver_SnapShot](
	[ID] [nvarchar](40) NULL,
	[Book] [nvarchar](10) NULL,
	[fname] [nvarchar](50) NULL,
	[sname] [nvarchar](50) NULL,
	[add1] [nvarchar](150) NULL,
	[add2] [nvarchar](150) NULL,
	[add3] [nvarchar](150) NULL,
	[add4] [nvarchar](150) NULL,
	[dateatadd] [nvarchar](15) NULL,
	[padd1] [nvarchar](150) NULL,
	[padd2] [nvarchar](150) NULL,
	[padd3] [nvarchar](150) NULL,
	[padd4] [nvarchar](150) NULL,
	[dateatpadd] [nvarchar](15) NULL,
	[dob] [nvarchar](15) NULL,
	[licNum] [varchar](50) NULL,
	[oldbadge1] [nvarchar](15) NULL,
	[oldbadge2] [nvarchar](15) NULL,
	[issueDate] [nvarchar](15) NULL,
	[ExpDate] [nvarchar](15) NULL,
	[PrimLicenseArea] [nvarchar](64) NULL,
	[SecLicenseArea] [nvarchar](255) NULL,
	[RSINum] [nvarchar](15) NULL,
	[photoRef] [nvarchar](250) NULL,
	[GardaArea] [nvarchar](64) NULL,
	[DateOfEntry] [nvarchar](15) NULL,
	[SerialNum] [nvarchar](20) NULL,
	[LicenseStatus] [nvarchar](50) NULL,
	[stopUntil] [nvarchar](15) NULL,
	[cardIssue] [nvarchar](15) NULL,
	[A6Issue] [nvarchar](15) NULL,
	[stopReason] [nvarchar](255) NULL,
	[warnings] [nvarchar](50) NULL,
	[whochangedstatus] [nvarchar](100) NULL,
	[reasonforchange] [ntext] NULL,
	[dateofchange] [nvarchar](15) NULL,
	[comment1] [nvarchar](max) NULL,
	[comment2] [nvarchar](max) NULL,
	[IssueStatus] [nvarchar](15) NULL,
	[fileonly] [nvarchar](50) NULL,
	[batchName] [nvarchar](250) NULL,
	[mobile] [nvarchar](20) NULL,
	[phone] [nvarchar](20) NULL,
	[year] [nvarchar](50) NULL,
	[recordid] [nvarchar](100) NULL,
	[repDate] [nvarchar](100) NULL,
	[licchanged] [nvarchar](10) NULL,
	[AnotCol] [nvarchar](10) NULL,
	[ACol] [nvarchar](10) NULL,
	[ASurrend] [nvarchar](10) NULL,
	[ANotSurrend] [nvarchar](10) NULL,
	[BCol] [nvarchar](10) NULL,
	[BnotCol] [nvarchar](10) NULL,
	[Surrend] [nvarchar](10) NULL,
	[Deceased] [nvarchar](10) NULL,
	[Revoked] [nvarchar](10) NULL,
	[aTickBox] [nvarchar](10) NULL,
	[bTickBox] [nvarchar](10) NULL,
	[cardretreason] [nvarchar](255) NULL,
	[photopresent] [nvarchar](10) NULL,
	[driverManReceived] [nvarchar](50) NULL,
	[manual6Digit] [nvarchar](50) NULL,
	[SnapShotDateTime] [smalldatetime] NOT NULL,
	[FullStatus] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
