USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_GetVehicleAgeBreakdownByType]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_GetVehicleAgeBreakdownByType 'ACTIVE', '31/Dec/2008'

=============================================
*/
CREATE PROCEDURE [dbo].[USP_DWH_GetVehicleAgeBreakdownByType]
				@Status NVarChar(20)
				, @ExtractDate DateTime
				--, @VehicleAge SmallInt
As

Set NoCount On;

Create Table #Vehicles 
	(
		Plate_Nbr NVarChar (50)
		, VehicleAge SmallInt
		, SPSVCategory NVarChar (50)
	)

Insert Into #Vehicles 
(
	Plate_Nbr, VehicleAge, SPSVCategory
)
Select 
	Plate_Nbr
	, datediff(year, isnull(dbo.DWH_VehicleMaster.DateOfRegistrationInIreland,dbo.DWH_VehicleMaster.DateFirstReg),@ExtractDate)
	, IsNull(dbo.DWH_SPSVCategory.CategoryDescription, 'Not Categorised')
From 
	dbo.LICENCES_EXTRACT_ARCHIVE_ALL With (NoLock) Left Outer Join dbo.DWH_SPSVCategory With (NoLock) 
			On Left(dbo.LICENCES_EXTRACT_ARCHIVE_ALL.Licence_Nbr, 1) = dbo.DWH_SPSVCategory.CategoryId
	left outer join dbo.DWH_VehicleMaster With (NoLock) 
			On dbo.LICENCES_EXTRACT_ARCHIVE_ALL.Reg_Nbr = dbo.DWH_VehicleMaster.Reg_Nbr
Where 
	impFileDate = @ExtractDate And Status = @Status
	And Plate_Nbr Not In ('54322', '54323', '54321', '54321', '35210', '40241', '38386', '41505')

Set NoCount Off;

Select 1 As SortOrder, 'Under 1 year of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge < 1 Group By SPSVCategory
Union All
Select 2 As SortOrder, '2 to 3 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 1 And VehicleAge <= 2 Group By SPSVCategory
Union All
Select 3 As SortOrder, '3 to 4 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 3 And VehicleAge <= 4 Group By SPSVCategory
Union All
Select 4 As SortOrder, '5 to 6 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 5 And VehicleAge <= 6 Group By SPSVCategory
Union All
Select 5 As SortOrder, '7 to 8 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 7 And VehicleAge <= 8 Group By SPSVCategory
Union All
Select 6 As SortOrder, '9 to 10 years of age' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 9 And VehicleAge <= 10 Group By SPSVCategory
Union All
Select 7 As SortOrder, '11 years of age and over' As Age, SPSVCategory, Count(*) As NumberOfVehicles From #Vehicles Where VehicleAge >= 11 Group By SPSVCategory

Set NoCount On;
Drop Table #Vehicles
Set NoCount Off;
GO
