USE [TRDWH]
GO
/****** Object:  Table [dbo].[AdditionalArea]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalArea](
	[LicenceMasterId] [int] NOT NULL,
	[AdditionalAreaId] [int] NOT NULL
) ON [PRIMARY]
GO
