USE [TRDWH]
GO
/****** Object:  Table [dbo].[LAHLink]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAHLink](
	[VehicleLicenceNumber] [nvarchar](20) NOT NULL,
	[DriverLicenceNumber] [nvarchar](20) NULL,
	[Area] [nvarchar](50) NULL
) ON [PRIMARY]
GO
