USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_OWNERS_PRIVATE]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_OWNERS_PRIVATE](
	[Count_Licenses] [int] NULL,
	[Owner] [nvarchar](255) NULL
) ON [PRIMARY]
GO
