USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_FineTypes]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_FineTypes](
	[FineId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FineTextId] [varchar](5) NOT NULL,
	[FineDescription] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DWH_FineTypes] PRIMARY KEY CLUSTERED 
(
	[FineTextId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
