USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyLicensesByCountyNew]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[USP_DWH_MonthlyLicensesByCountyNew]
			@ReportingMonthPeriod VarChar(20)
			, @County NVarChar (50)
As

Set NoCount On;


SELECT  fname, sname, add1, add2, add3, add4 as County, replace(dob,'12:','') as dob, licNum,replace(issueDate,'12:','') as issueDate , replace(ExpDate,'12:','') as ExpDate, 
                         PrimLicenseArea, SecLicenseArea, RSINum as PPSN, GardaArea, DateOfEntry, 
						'Active' as LicenceStatus,
                        mobile, phone
FROM   DWH_Driver_SnapShot With (NoLock)
Where 
 SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
And LicenseStatus = 1
And PrimLicenseArea = @County

Set NoCount Off;
GO
