USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_ChangeReasons]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_ChangeReasons](
	[Reason_Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Reason] [varchar](50) NOT NULL,
	[TopLevelReason] [varchar](50) NULL,
 CONSTRAINT [PK_DWH_ChangeReasons] PRIMARY KEY CLUSTERED 
(
	[Reason_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
