USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyLicensesByPrimaryArea]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[USP_DWH_MonthlyLicensesByPrimaryArea]
			@ReportingMonthPeriod VarChar(20)
As

Set NoCount On;

Select 
	Count(*) As Total, PrimLicenseArea
	, P = (Select Count(*) 
			From dbo.DWH_Driver_SnapShot
			Where SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
			And LicenseStatus = 1
			)
	, PreviousMonthTotal = (Select Count(*) 
			From dbo.DWH_Driver_SnapShot As PDS
			Where PDS.SnapShotDateTime = Convert(NVarChar(20), DateAdd(Day, -1, @ReportingMonthPeriod + '-1'), 111)
			And PDS.LicenseStatus = 1
			And PDS.PrimLicenseArea = dbo.DWH_Driver_SnapShot.PrimLicenseArea
			Group By PrimLicenseArea)
From 
	dbo.DWH_Driver_SnapShot
Where 
	SnapShotDateTime = Convert(NVarChar(20), DateAdd(s, -1, DateAdd(mm, DateDiff(m, 0, @ReportingMonthPeriod + '-1') + 1, 0)), 111)
	And LicenseStatus = 1
Group By 
	PrimLicenseArea
Order By 
	Count(*) Desc

Set NoCount Off;
GO
