USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_MonthlyActiveLicensesBreakdown]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec USP_DWH_MonthlyActiveLicensesBreakdown

=============================================
*/
Create Procedure [dbo].[USP_DWH_MonthlyActiveLicensesBreakdown]

As

Set NoCount On;

Select ReportingPeriod, ReportMonth, County, Sum(TotLicenses) As TotalLicenses From 
(Select 
	Cast(Year(SnapShotDateTime) As VarChar) + '-' + DateName(Month, SnapShotDateTime) As ReportingPeriod, Convert(VarChar(3), DateName(Month, SnapShotDateTime), 100) + ' ' + Convert(VarChar, Right(DatePart(Year, SnapShotDateTime), 2)) As ReportMonth
	, dbo.Fn_DWH_ProperCase(PrimLicenseArea) As County
	, Count(*) As TotLicenses
From 
	dbo.DWH_Driver_SnapShot With (NoLock)
Where 
	SnapShotDateTime >= '31/Jul/2009' And 
	LicenseStatus = 1 And Revoked = 'NO' And Surrend = 'NO'
	And Deceased = 'NO' 
Group By PrimLicenseArea, SnapShotDateTime

Union All

Select 
	Cast(Year(ReportMonth) As VarChar) + '-' + DateName(Month, ReportMonth) As ReportingPeriod, Convert(VarChar(3), DateName(MM, ReportMonth), 100) + ' ' + Convert(VarChar, Right(DatePart(Year, ReportMonth), 2)) As ReportMonth,
	dbo.Fn_DWH_ProperCase(County) As County,
	IsNull(Sum(Count), 0) As TotLicenses
From 
	dbo.DWH_HistoricMonthlyDriverStats
Group By 
	ReportMonth, County
) As SourceTbl
Group By 
	ReportingPeriod, ReportMonth, County

Set NoCount Off;
GO
