USE [TRDWH]
GO
/****** Object:  Table [dbo].[DWH_VEHICLE_COUNTY_MONTH]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_VEHICLE_COUNTY_MONTH](
	[County] [nvarchar](50) NULL,
	[Total] [int] NULL,
	[impFileDate] [smalldatetime] NULL,
	[impFileDay] [nvarchar](5) NULL,
	[impFileMonth] [nvarchar](5) NULL,
	[impFileYear] [nvarchar](5) NULL,
	[ACTIVE] [int] NULL,
	[COMPLETE] [int] NULL,
	[CONDITIONALOFFERSENT] [int] NULL,
	[DEFERRED] [int] NULL,
	[EXPIRED] [int] NULL,
	[NOTTAKENUP] [int] NULL,
	[RESTORED] [int] NULL,
	[SURRENDERED] [int] NULL,
	[TRANSFERLICENCECHANGEOFVEHICLE] [int] NULL,
	[TRANSFERLICENCEINCLVEHICLE] [int] NULL,
	[TRANSFERLICENCEONLY] [int] NULL
) ON [PRIMARY]
GO
