USE [TRDWH]
GO
/****** Object:  StoredProcedure [dbo].[usp_DWH_EntityChecklist_Select]    Script Date: 14/04/2022 13:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
-- Author:		Robert Hamilton
-- Create date: 15-Jul-2009
-- Description:	Returns all possible Status codes present in status table

Exec usp_DWH_EntityChecklist_Select 1, 1

=============================================
*/
Create Procedure [dbo].[usp_DWH_EntityChecklist_Select]
				@UserId SmallInt, 
				@EntityId TinyInt
				, @IdNumber VarChar (50)
As

Declare @CheckId Int

Begin Try
	Begin Transaction CreateCheckEntry
		Set NoCount On;
		
		Insert Into dbo.DWH_EntityCheckHistory (EntityId, UserId, EntityIdNumber)
		Values (@EntityId, @UserId, @IdNumber)

		Select @CheckId = Scope_Identity()

		Set NoCount Off;

		Select @CheckId As UniqueCheckId, CheckListItemId, CheckListItemDescription From dbo.DWH_EntityCheckList Where ActiveYn = 1 And EntityId = @EntityId
	Commit Transaction CreateCheckEntry
	
	Return 1
End Try

Begin Catch
	Rollback Transaction CreateCheckEntry
	Return 0
End Catch
GO
