USE [cabs_production]
GO
/****** Object:  Table [audit].[Process]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Process](
	[ProcessId] [int] IDENTITY(1,1) NOT NULL,
	[ObjectId] [nvarchar](max) NULL,
	[ChangeBy] [nvarchar](200) NOT NULL,
	[ChangeDate] [datetime2](7) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[OwnerModuleId] [int] NOT NULL,
	[ProcessTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Process] PRIMARY KEY CLUSTERED 
(
	[ProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Process_ModuleId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Process_ModuleId] ON [audit].[Process]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Process_OwnerModuleId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Process_OwnerModuleId] ON [audit].[Process]
(
	[OwnerModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Process_ProcessTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Process_ProcessTypeId] ON [audit].[Process]
(
	[ProcessTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [audit].[Process]  WITH CHECK ADD  CONSTRAINT [FK_Process_Module_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [audit].[Module] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [audit].[Process] CHECK CONSTRAINT [FK_Process_Module_ModuleId]
GO
ALTER TABLE [audit].[Process]  WITH CHECK ADD  CONSTRAINT [FK_Process_Module_OwnerModuleId] FOREIGN KEY([OwnerModuleId])
REFERENCES [audit].[Module] ([ModuleId])
GO
ALTER TABLE [audit].[Process] CHECK CONSTRAINT [FK_Process_Module_OwnerModuleId]
GO
ALTER TABLE [audit].[Process]  WITH CHECK ADD  CONSTRAINT [FK_Process_ProcessType_ProcessTypeId] FOREIGN KEY([ProcessTypeId])
REFERENCES [audit].[ProcessType] ([ProcessTypeId])
GO
ALTER TABLE [audit].[Process] CHECK CONSTRAINT [FK_Process_ProcessType_ProcessTypeId]
GO
