USE [cabs_production]
GO
/****** Object:  Table [breadcrumb].[Breadcrumb]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [breadcrumb].[Breadcrumb](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Url] [nvarchar](256) NOT NULL,
	[ParentId] [int] NULL,
	[ApplicationTypeId] [int] NOT NULL,
	[IsStringFormat] [bit] NOT NULL,
 CONSTRAINT [PK_Breadcrumb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Breadcrumb_ApplicationTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Breadcrumb_ApplicationTypeId] ON [breadcrumb].[Breadcrumb]
(
	[ApplicationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Breadcrumb_ParentId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Breadcrumb_ParentId] ON [breadcrumb].[Breadcrumb]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [breadcrumb].[Breadcrumb]  WITH CHECK ADD  CONSTRAINT [FK_Breadcrumb_ApplicationType_ApplicationTypeId] FOREIGN KEY([ApplicationTypeId])
REFERENCES [breadcrumb].[ApplicationType] ([ApplicationTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [breadcrumb].[Breadcrumb] CHECK CONSTRAINT [FK_Breadcrumb_ApplicationType_ApplicationTypeId]
GO
ALTER TABLE [breadcrumb].[Breadcrumb]  WITH CHECK ADD  CONSTRAINT [FK_Breadcrumb_Breadcrumb_ParentId] FOREIGN KEY([ParentId])
REFERENCES [breadcrumb].[Breadcrumb] ([Id])
GO
ALTER TABLE [breadcrumb].[Breadcrumb] CHECK CONSTRAINT [FK_Breadcrumb_Breadcrumb_ParentId]
GO
