USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[VerifyDriverMobileNumberUpdate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [cabs_spsv].[VerifyDriverMobileNumberUpdate]
	@DriverLicenceHolderId int
as
begin

	update [cabs_spsv].[DriverMobileNumberUpdate] set 
		NewMobileNumberVerified=1
	where [PersonId]=@DriverLicenceHolderId

end

GO
