USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[VehicleMasterDraft]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[VehicleMasterDraft](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNumber] [varchar](10) NOT NULL,
	[ModelId] [int] NULL,
	[BodyTypeId] [tinyint] NULL,
	[ColourId] [tinyint] NULL,
	[NumberPassengers] [tinyint] NOT NULL,
	[NumberSeats] [tinyint] NOT NULL,
	[NumberDoors] [tinyint] NOT NULL,
	[InsuranceExpiryDate] [smalldatetime] NULL,
	[MileageReading] [int] NULL,
	[ExcessWindowTint] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[OdometerUnitID] [int] NULL,
	[FuelTypeId] [tinyint] NULL,
 CONSTRAINT [PK_cabs_insp.WorkingCopyVehicleMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_VehicleMaster]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_VehicleMaster] ON [cabs_insp].[VehicleMasterDraft]
(
	[RegistrationNumber] ASC,
	[ColourId] ASC,
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_VehicleMaster_6_1952114095__K1_3]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_VehicleMaster_6_1952114095__K1_3] ON [cabs_insp].[VehicleMasterDraft]
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] ADD  DEFAULT ((0)) FOR [ExcessWindowTint]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] ADD  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] ADD  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterDraft_OdometerUnit] FOREIGN KEY([OdometerUnitID])
REFERENCES [cabs_insp].[OdometerUnit] ([ID])
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] CHECK CONSTRAINT [FK_VehicleMasterDraft_OdometerUnit]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterDraft_VehicleBodyType] FOREIGN KEY([BodyTypeId])
REFERENCES [dbo].[VehicleBodyType] ([BodyTypeId])
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] CHECK CONSTRAINT [FK_VehicleMasterDraft_VehicleBodyType]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterDraft_VehicleColour] FOREIGN KEY([ColourId])
REFERENCES [dbo].[VehicleColour] ([ColourId])
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] CHECK CONSTRAINT [FK_VehicleMasterDraft_VehicleColour]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterDraft_VehicleFuelType] FOREIGN KEY([FuelTypeId])
REFERENCES [dbo].[VehicleFuelType] ([FuelTypeId])
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] CHECK CONSTRAINT [FK_VehicleMasterDraft_VehicleFuelType]
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterDraft_VehicleModel] FOREIGN KEY([ModelId])
REFERENCES [dbo].[VehicleModel] ([ModelId])
GO
ALTER TABLE [cabs_insp].[VehicleMasterDraft] CHECK CONSTRAINT [FK_VehicleMasterDraft_VehicleModel]
GO
