USE [cabs_production]
GO
/****** Object:  Table [cabs_spsv].[IndustryUserDriverLicenceHolderMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_spsv].[IndustryUserDriverLicenceHolderMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndustryUserFK] [bigint] NOT NULL,
	[LicenceHolderMasterFK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_IndustryUserDriverLicenceHolderMaster_1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_IndustryUserDriverLicenceHolderMaster_1] ON [cabs_spsv].[IndustryUserDriverLicenceHolderMaster]
(
	[IndustryUserFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IndustryUserDriverLicenceHolderMaster_LicenceHolderMasterFK]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_IndustryUserDriverLicenceHolderMaster_LicenceHolderMasterFK] ON [cabs_spsv].[IndustryUserDriverLicenceHolderMaster]
(
	[LicenceHolderMasterFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_spsv].[IndustryUserDriverLicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_IndustryUserDriverLicenceHolderMaster_IndustryUser] FOREIGN KEY([IndustryUserFK])
REFERENCES [cabs_cmo].[IndustryUser] ([ID])
GO
ALTER TABLE [cabs_spsv].[IndustryUserDriverLicenceHolderMaster] CHECK CONSTRAINT [FK_IndustryUserDriverLicenceHolderMaster_IndustryUser]
GO
