USE [cabs_production]
GO
/****** Object:  Table [cabs_spsv].[DriverMobileNumberUpdate]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_spsv].[DriverMobileNumberUpdate](
	[PersonId] [int] NOT NULL,
	[NewMobileNumber] [varchar](40) NOT NULL,
	[NewMobileNumberCreatedDate] [datetime] NOT NULL,
	[NewMobileNumberVerificationCode] [nvarchar](6) NOT NULL,
	[NewMobileNumberVerified] [bit] NULL
) ON [PRIMARY]
GO
