USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_insp].[AuditFailedCategoryStructure]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_insp].[AuditFailedCategoryStructure] 
	@categoryId int
AS
BEGIN
	DECLARE @historyId int;
	DECLARE @historyIds table(Id int);
	DECLARE @groupIds table(Id int);

	BEGIN TRANSACTION
	BEGIN TRY
		--audit category
		INSERT INTO [cabs_insp].[DefectCategoriesAudit] 
		([DefectCategoryID]
		,[DefectCategory]
		,[Active]
		,[LicenceNumberGreaterOrEqual]
		,[LicenceNumberLessOrEqual]
		,[AllLicenceTypes]
		,[AllInspectionProcesses]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn])
		OUTPUT Inserted.[ID] INTO @historyIds
		SELECT 
		[DefectCategoryID]
		,[DefectCategory]
		,[Active]
		,[LicenceNumberGreaterOrEqual]
		,[LicenceNumberLessOrEqual]
		,[AllLicenceTypes]
		,[AllInspectionProcesses]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn]
		FROM [dbo].[DefectCategories]
		WHERE [DefectCategoryID]=@categoryId;

		SET @historyId = (SELECT TOP 1 Id FROM @historyIds);

		--audit groups
		INSERT INTO [cabs_insp].[DefectGroupsAudit] 
		([DefectGroupID]
		,[DefectCategoryID]
		,[DefectGroup]
		,[Active]
		,[Manual]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn]
		,[SortOrder]
		,HistoryId)
		OUTPUT Inserted.[DefectGroupID] INTO @groupIds
		SELECT 
		[DefectGroupID]
		,[DefectCategoryID]
		,[DefectGroup]
		,[Active]
		,[Manual]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn]
		,[SortOrder]
		,@historyId
		FROM [dbo].[DefectGroups]
		WHERE [DefectCategoryID]=@categoryId;

		--audit reasons
		INSERT INTO [cabs_insp].[DefectReasonsDefectGroupsAudit]
		([HistoryId]
		,[DefectGroupIDPart]
		,[DefectReasonID]
		,[DefectCategoryID]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn])
		SELECT
		@historyId
		,[DefectGroupIDPart]
		,[DefectReasonID]
		,[DefectCategoryID]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn]
		FROM [cabs_insp].[DefectReasonsDefectGroups]
		WHERE [DefectCategoryID]=@categoryId AND [DefectGroupIDPart] IN (SELECT Id FROM @groupIds);

		--audit licences
		INSERT INTO [cabs_insp].[DefectCategoriesLicenceTypeAudit] 
		([HistoryId]
		,[DefectCategoryID]
		,[LicenceTypeID]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn])
		SELECT 
		@historyId
		,[DefectCategoryID]
		,[LicenceTypeID]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn]
		FROM [cabs_insp].[DefectCategoriesLicenceType]
		WHERE [DefectCategoryID]=@categoryId;

		--audit inspection processes
		INSERT INTO [cabs_insp].[DefectCategoriesInspectionProcessAudit] 
		([HistoryId]
		,[DefectCategoryID]
		,[InspectionProcessID]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn])
		SELECT 
		@historyId
		,[DefectCategoryID]
		,[InspectionProcessID]
		,[CreatedBy]
		,[CreatedOn]
		,[ModifiedBy]
		,[ModifiedOn]
		FROM [cabs_insp].[DefectCategoriesInspectionProcess]
		WHERE [DefectCategoryID]=@categoryId;

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
	    DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();			
		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END

GO
