USE [cabs_production]
GO
/****** Object:  Table [cabs_cms].[lkArticleTitle]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cms].[lkArticleTitle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticleId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
 CONSTRAINT [PK_lkArticleTitle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_cms].[lkArticleTitle]  WITH CHECK ADD  CONSTRAINT [FK_lkArticleTitle_Article] FOREIGN KEY([ArticleId])
REFERENCES [cabs_cms].[Article] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cabs_cms].[lkArticleTitle] CHECK CONSTRAINT [FK_lkArticleTitle_Article]
GO
