USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[CreateDriverLicenceIndustryUser]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [cabs_spsv].[CreateDriverLicenceIndustryUser]
	@IndustryUserId bigint,
	@LicenceHolderMasterId int
as
begin
insert into cabs_spsv.IndustryUserDriverLicenceHolderMaster
           ([IndustryUserFK]
           ,[LicenceHolderMasterFK])
     VALUES
           (@IndustryUserId
           ,@LicenceHolderMasterId)
end

GO
