USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[CandidateTestNote]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[CandidateTestNote](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateTestNoteTypeID] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[CandidateTestID] [int] NULL,
	[Text] [nvarchar](max) NULL,
	[CandidateId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[CandidateTestNote]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestNote_Candidate] FOREIGN KEY([CandidateId])
REFERENCES [cabs_sk].[Candidate] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestNote] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestNote_Candidate]
GO
ALTER TABLE [cabs_sk].[CandidateTestNote]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestNote_CandidateTest] FOREIGN KEY([CandidateTestID])
REFERENCES [cabs_sk].[CandidateTest] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestNote] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestNote_CandidateTest]
GO
ALTER TABLE [cabs_sk].[CandidateTestNote]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestNote_CandidateTestNoteType] FOREIGN KEY([CandidateTestNoteTypeID])
REFERENCES [cabs_sk].[CandidateTestNoteType] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestNote] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestNote_CandidateTestNoteType]
GO
