USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[BookingPayment]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[BookingPayment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[BookingPayment]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Booking_PaymentVL] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[PaymentVL] ([PaymentId])
GO
ALTER TABLE [cabs_sk].[BookingPayment] CHECK CONSTRAINT [FK_cabs_sk_Booking_PaymentVL]
GO
ALTER TABLE [cabs_sk].[BookingPayment]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_BookingPayment_Booking] FOREIGN KEY([BookingID])
REFERENCES [cabs_sk].[Booking] ([ID])
GO
ALTER TABLE [cabs_sk].[BookingPayment] CHECK CONSTRAINT [FK_cabs_sk_BookingPayment_Booking]
GO
