USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[QuestionBadPairs]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[QuestionBadPairs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Question1ID] [int] NOT NULL,
	[Question2ID] [int] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[QuestionBadPairs]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_QuestionBadPairs1_Question] FOREIGN KEY([Question1ID])
REFERENCES [cabs_sk].[Question] ([ID])
GO
ALTER TABLE [cabs_sk].[QuestionBadPairs] CHECK CONSTRAINT [FK_cabs_sk_QuestionBadPairs1_Question]
GO
ALTER TABLE [cabs_sk].[QuestionBadPairs]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_QuestionBadPairs2_Question] FOREIGN KEY([Question2ID])
REFERENCES [cabs_sk].[Question] ([ID])
GO
ALTER TABLE [cabs_sk].[QuestionBadPairs] CHECK CONSTRAINT [FK_cabs_sk_QuestionBadPairs2_Question]
GO
