USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[ReSendPendingEmail]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_cmo].[ReSendPendingEmail]
AS
BEGIN

	declare @mailitem_id int
	DECLARE @to        varchar(max)
	DECLARE @copy    varchar(max)
	DECLARE @title    nvarchar(255)
	DECLARE @msg    nvarchar(max)
	declare @Count bigint = 0
	
    declare IU_NotInSync cursor for

				 SELECT mailitem_id,recipients,body,subject,blind_copy_recipients
					FROM  msdb.dbo.sysmail_allitems
					where sent_status = 'failed' and send_request_date between '2013/11/06 00:00:00' and '2013/11/13 11:00:00'
					  and recipients not like '%inactive%' and recipients not like '%.test%' and subject not like 'Bookings in awaiting payment status'					  
					order by mailitem_id desc;
      
	open IU_NotInSync
	  fetch next from IU_NotInSync into @mailitem_id, @to, @msg,@title,@copy
	while (@@FETCH_STATUS <> -1)	  
	begin	  
				EXEC msdb.dbo.sp_send_dbmail
				@profile_name='cabs',
				@recipients = @to,			
				@body = @msg,
				@subject = @title,
				@body_format = 'HTML';
			
			--update  msdb.dbo.sysmail_allitems Set sent_status='sent' ,sent_date=getdate() where mailitem_id=@mailitem_id;

		  INSERT INTO [Cabs_Production].[cabs_cmo].[AuditLog]
			   ([lkAuditLevelId] ,[lkAuditTypeId], [UserName], [TimeStamp], [Text])
		  VALUES
			   (40, 4, 'system_job', GETDATE(), 'Re-Send EMail to : ' +@to+' mailitem_id is :' + cast (@mailitem_id as varchar(10))+'');
		  set @Count = @Count + 1	
     	
	  fetch next from IU_NotInSync into @mailitem_id, @to, @msg,@title,@copy
	end
    close IU_NotInSync
    deallocate IU_NotInSync	
    
    INSERT INTO [Cabs_Production].[cabs_cmo].[AuditLog]
	   ([lkAuditLevelId] ,[lkAuditTypeId], [UserName], [TimeStamp], [Text])
    VALUES
	   (40, 4, 'system_job', GETDATE(), 'SP Re-Send EMail total: ' + cast (@Count as varchar(10)));
			   	        
END
GO
