USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[DeleteIndustryUser]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cabs_cmo].[DeleteIndustryUser]
@email nvarchar(255)
AS 
BEGIN 
	BEGIN TRAN
	BEGIN TRY 
		DECLARE @aspUserID uniqueidentifier = (SELECT  i.ASPUserId FROM cabs_cmo.IndustryUser  i WHERE Email = @email);
		DECLARE @industryUserId int = (SELECT  i.ID FROM cabs_cmo.IndustryUser  i WHERE Email = @email);
		
		DELETE FROM cabs_cmo.RegistrationToken WHERE UserId =  @aspUserID
		DELETE FROM cabs_cmo.PasswordReminder WHERE UserId =  @aspUserID
		DELETE FROM cabs_dvl.VehicleDriver WHERE IndustryUserId =  @industryUserId
		DELETE FROM cabs_rta.RentalAgreement WHERE IndustryUserId =  @industryUserId
		DELETE FROM cabs_cmo.IndustryUser WHERE Email = @email

		DELETE FROM dbo.aspnet_Membership WHERE UserId = @aspUserID;
		DELETE FROM dbo.aspnet_UsersInRoles WHERE UserId = @aspUserID;
		DELETE FROM dbo.aspnet_Users WHERE UserId = @aspUserID;
		
		COMMIT
		PRINT 'COMMITED'
	END TRY 
	BEGIN CATCH 
		PRINT 'ROLLBACK'
		ROLLBACK;
	END CATCH
END
GO
