USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[Question]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[Question](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[ReferenceNumber] [int] NULL,
	[QuestionText] [nvarchar](max) NULL,
	[CurrentID] [int] NULL,
	[VersionTypeID] [int] NOT NULL,
	[VersionID] [uniqueidentifier] NOT NULL,
	[VersionDate] [datetime] NOT NULL,
	[ChapterID] [int] NULL,
	[ModuleID] [int] NULL,
	[AreaID] [int] NULL,
	[ImageID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[LegacyItemCode] [nvarchar](50) NULL,
	[FlagColourID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_Question_5_979638683__K1_K9_K12_K13]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_Question_5_979638683__K1_K9_K12_K13] ON [cabs_sk].[Question]
(
	[ID] ASC,
	[VersionTypeID] ASC,
	[ChapterID] ASC,
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_Question_5_979638683__K16_K9_K12_K13_K1_K8]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_Question_5_979638683__K16_K9_K12_K13_K1_K8] ON [cabs_sk].[Question]
(
	[IsActive] ASC,
	[VersionTypeID] ASC,
	[ChapterID] ASC,
	[ModuleID] ASC,
	[ID] ASC,
	[CurrentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_Question_5_979638683__K8_K9]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_Question_5_979638683__K8_K9] ON [cabs_sk].[Question]
(
	[CurrentID] ASC,
	[VersionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_Question_5_979638683__K9_K12_K13_K1_K8_K16]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_Question_5_979638683__K9_K12_K13_K1_K8_K16] ON [cabs_sk].[Question]
(
	[VersionTypeID] ASC,
	[ChapterID] ASC,
	[ModuleID] ASC,
	[ID] ASC,
	[CurrentID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_Question_5_979638683__K9_K14_K16_K8_K6_K17_K12_K13_K1_7]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_Question_5_979638683__K9_K14_K16_K8_K6_K17_K12_K13_K1_7] ON [cabs_sk].[Question]
(
	[VersionTypeID] ASC,
	[AreaID] ASC,
	[IsActive] ASC,
	[CurrentID] ASC,
	[ReferenceNumber] ASC,
	[LegacyItemCode] ASC,
	[ChapterID] ASC,
	[ModuleID] ASC,
	[ID] ASC
)
INCLUDE([QuestionText]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_Question_5_979638683__K9_K16_K8_K13_K12_K1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_Question_5_979638683__K9_K16_K8_K13_K12_K1] ON [cabs_sk].[Question]
(
	[VersionTypeID] ASC,
	[IsActive] ASC,
	[CurrentID] ASC,
	[ModuleID] ASC,
	[ChapterID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_Question_5_979638683__K9_K8]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_Question_5_979638683__K9_K8] ON [cabs_sk].[Question]
(
	[VersionTypeID] ASC,
	[CurrentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[Question]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Question_Chapter] FOREIGN KEY([ChapterID])
REFERENCES [cabs_sk].[Chapter] ([ID])
GO
ALTER TABLE [cabs_sk].[Question] CHECK CONSTRAINT [FK_cabs_sk_Question_Chapter]
GO
ALTER TABLE [cabs_sk].[Question]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Question_County] FOREIGN KEY([AreaID])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [cabs_sk].[Question] CHECK CONSTRAINT [FK_cabs_sk_Question_County]
GO
ALTER TABLE [cabs_sk].[Question]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Question_FlagColour] FOREIGN KEY([FlagColourID])
REFERENCES [cabs_sk].[FlagColour] ([ID])
GO
ALTER TABLE [cabs_sk].[Question] CHECK CONSTRAINT [FK_cabs_sk_Question_FlagColour]
GO
ALTER TABLE [cabs_sk].[Question]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Question_Image] FOREIGN KEY([ImageID])
REFERENCES [cabs_sk].[Image] ([ID])
GO
ALTER TABLE [cabs_sk].[Question] CHECK CONSTRAINT [FK_cabs_sk_Question_Image]
GO
ALTER TABLE [cabs_sk].[Question]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Question_Module] FOREIGN KEY([ModuleID])
REFERENCES [cabs_sk].[Module] ([ID])
GO
ALTER TABLE [cabs_sk].[Question] CHECK CONSTRAINT [FK_cabs_sk_Question_Module]
GO
ALTER TABLE [cabs_sk].[Question]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Question_Question] FOREIGN KEY([CurrentID])
REFERENCES [cabs_sk].[Question] ([ID])
GO
ALTER TABLE [cabs_sk].[Question] CHECK CONSTRAINT [FK_cabs_sk_Question_Question]
GO
ALTER TABLE [cabs_sk].[Question]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Question_VersionType] FOREIGN KEY([VersionTypeID])
REFERENCES [cabs_sk].[VersionType] ([ID])
GO
ALTER TABLE [cabs_sk].[Question] CHECK CONSTRAINT [FK_cabs_sk_Question_VersionType]
GO
