USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[SearchAudit_DataImport]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[SearchAudit_DataImport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SearchAuditId] [int] NOT NULL,
	[GPS_Lon] [float] NULL,
	[GPS_Lat] [float] NULL,
	[CountyId] [int] NULL,
	[CountyName] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[ResponseStatus] [nvarchar](255) NULL,
 CONSTRAINT [PK_SearchAudit_DataImport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
