USE [cabs_production]
GO
/****** Object:  View [cabs_cmo].[vDriverDetails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [cabs_cmo].[vDriverDetails]
AS

 SELECT                dlhm2.LicenceHolderId, 
					  dlhm2.Ppsn as PPSN,
					  dlhm2.FirstName + ' ' + dlhm2.LastName AS DriverName,
					  ISNULL(dlmvl.RegistrationNumber, '') AS CarRegistrationNumber,
                      dlm2.licencenumber AS DriverLicenceNumber, 
                      ISNULL(dlmvl.LicenceNumber, '') AS VehicleLicenceNumber, 
                      dlm2.LicenceExpiryDate AS DriverLicenceExpiryDate,
                      ISNULL(dlmvl.LicenceExpiryDate, '') AS VehicleLicenceExpiryDate,
                      ISNULL(dlhm2.AddressLine1,'') + ' ' + ISNULL(dlhm2.AddressLine2,'') + ' ' + ISNULL(dlhm2.AddressLine3,'') AS [Address],
                      ls.LicenceStateMaster as [Status],
                      dc.CountyName AS DriverArea,
                      --ddi2.ImageContent AS DriverPicture
					   DriverPicture=(Select top 1 ImageContent from Cabs_Live.dbo.DriverImages where PPSN=dlhm2.Ppsn order by ImageID desc)
FROM         CABS_LIVE.dbo.LicenceHolderMaster AS dlhm2 
             INNER JOIN CABS_LIVE.dbo.LicenceMaster AS dlm2 ON dlhm2.LicenceHolderId = dlm2.LicenceHolderId
             left outer JOIN CABS_LIVE.dbo.DriverImages AS ddi2 ON dlhm2.Ppsn = ddi2.PPSN 
			 INNER JOIN CABS_LIVE.dbo.County AS dc ON dlhm2.CountyID = dc.CountyId  ----- updated on 07/05/12013 previous was  (INNER JOIN dbo.County AS dc ON dlhm2.CountyID = dc.CountyId )             
			 INNER JOIN Cabs_Live.dbo.LicenceStateMaster AS ls ON dlm2.LicenceStateMasterID = ls.LicenceStateMasterID 
			 LEFT OUTER JOIN dbo.LicenceHolderMaster as lhm on lhm.ppsn = dlhm2.ppsn
             LEFT OUTER JOIN dbo.LicenceMasterVL AS dlmvl ON lhm.LicenceHolderId = dlmvl.LicenceHolderId


GO
