USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[FineStatus]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[FineStatus](
	[FineStatusId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[FineStatusDescription] [nvarchar](255) NOT NULL,
	[FineStatusTextId] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_FineStatus] PRIMARY KEY CLUSTERED 
(
	[FineStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[FineStatus] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
