USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[UpdateKnowledgeArea]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_sk].[UpdateKnowledgeArea]
	@LicenceNumber nvarchar(50),
	@CountyId int,
	@CreatedBy nvarchar(50),
	@CreatedDate datetime
AS
BEGIN

IF(NOT EXISTS(SELECT * FROM [cabs_live].[dbo].[DriverCounty] WHERE LicenceNumber=@LicenceNumber AND CountyID=@CountyId))
BEGIN
	DECLARE @PrimaryCountyId int;
	SELECT @PrimaryCountyId=PrimaryCounty FROM [cabs_live].[dbo].[DriverCounty] WHERE LicenceNumber=@LicenceNumber AND CountyID=PrimaryCounty;
	IF(@PrimaryCountyId IS NULL)
		SET @PrimaryCountyId=@CountyId;
	INSERT INTO [cabs_live].[dbo].[DriverCounty](LicenceNumber, CountyID, PrimaryCounty, CreatedBy, CreatedDate, ModifiedBy, ModifiedDate)
	VALUES(@LicenceNumber, @CountyId, @PrimaryCountyId, @CreatedBy, @CreatedDate, NULL, NULL)
END
ELSE
	UPDATE [cabs_live].[dbo].[DriverCounty] SET ModifiedBy = @CreatedBy, ModifiedDate = @CreatedDate WHERE LicenceNumber=@LicenceNumber AND CountyID=@CountyId

END

GO
