USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[FailedReasonInspectionDraft]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[FailedReasonInspectionDraft](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FailedGroupInspectionDraftID] [int] NOT NULL,
	[DefectReasonID] [int] NOT NULL,
	[Comment] [nvarchar](256) NULL,
 CONSTRAINT [PK_cabs_insp.FailedReasonInspectionDraft] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FailedReasonInspectionDraft_FailedGroupInspectionDraftID]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_FailedReasonInspectionDraft_FailedGroupInspectionDraftID] ON [cabs_insp].[FailedReasonInspectionDraft]
(
	[FailedGroupInspectionDraftID] ASC
)
INCLUDE([ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[FailedReasonInspectionDraft]  WITH CHECK ADD  CONSTRAINT [FK_FailedReasonInspectionDraft_FailedGroupInspectionDraft] FOREIGN KEY([FailedGroupInspectionDraftID])
REFERENCES [cabs_insp].[FailedGroupInspectionDraft] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [cabs_insp].[FailedReasonInspectionDraft] CHECK CONSTRAINT [FK_FailedReasonInspectionDraft_FailedGroupInspectionDraft]
GO
