USE [cabs_production]
GO
/****** Object:  Table [cabs_tds].[_To_Drop_SignageInstallation_bkp]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_tds].[_To_Drop_SignageInstallation_bkp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorizedSupplierID] [int] NOT NULL,
	[VehicleLicenceNumber] [varchar](50) NOT NULL,
	[RegistrationNumber] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL
) ON [PRIMARY]
GO
