USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [cabs_sk].[GetQuestionItemCode]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [cabs_sk].[GetQuestionItemCode] 
	(
	@questionId int,
	@live bit
)    
	RETURNS nvarchar(256)
AS
BEGIN    

DECLARE @itemCode VARCHAR(256) 




SELECT @itemCode = COALESCE(@itemCode, '') + Module.Code
FROM cabs_sk.Question inner join cabs_sk.Chapter on chapterId=COALESCE(Chapter.CurrentID,Chapter.ID)



inner join cabs_sk.ModuleChapter on ModuleChapter.ChapterID=COALESCE(Chapter.CurrentID,Chapter.ID)
inner join cabs_sk.Module on ModuleChapter.ModuleID=Module.ID
WHERE Question.ID=@questionId 
and ((@live=1 and Chapter.VersionTypeID=1)or (@live=0 and Chapter.ID in (select MAX(ID) from cabs_sk.Chapter where VersionTypeID=1 or VersionTypeID=3  group by (COALESCE(CurrentID,ID)))))
and ((@live=1 and Module.VersionTypeID=1)or (@live=0 and Module.ID in (select MAX(ID) from cabs_sk.Module where VersionTypeID=1 or VersionTypeID=3 group by (COALESCE(CurrentID,ID)))))
and Module.IsActive=1 and Chapter.IsActive=1
order by Module.Code


select @itemCode=isnull(@itemCode,'')+CAST(Question.ReferenceNumber as nvarchar(20)) from cabs_sk.Question where Question.ID=@questionId

return @itemCode

END

GO
