USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vDriverSecondaryArea]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [cabs_enf].[vDriverSecondaryArea]
AS

SELECT ISNULL(drc.licencenumber, '') AS DriverLicenceNumber,
       ISNULL(dc2.CountyName, '') as SecondaryArea
FROM       CABS_LIVE.dbo.DriverCounty as drc
INNER JOIN CABS_LIVE.dbo.County AS dc2 ON drc.CountyID = dc2.CountyId
WHERE  drc.PrimaryCounty <> drc.CountyID AND dc2.CountyName <> 'LAH Area'

UNION
SELECT ISNULL(DriverLicenceNumber, '') AS DriverLicenceNumber,
       ISNULL(Area , '') as SecondaryArea
FROM cabs_production.[dbo].[LAHLink]




GO
