USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBooking_CancelAndRefund]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [cabs_sk].[SkillsBooking_CancelAndRefund]

(
@BookingId int,
@RefundId int output,
@RefundReasonId int,
@BookingCancellationReasonId int,
@Username nvarchar(50),
@ProcessExpiration bit
)

AS
BEGIN
SET NOCOUNT OFF;

DECLARE 

@Amount smallmoney,
@PaymentItemId int,
@ErrorMessage varchar(4000),
@ModifiedDate datetime,
@RequestId INT,
@LetterRequestTypeId INT,
@HistoryChangeId INT


DECLARE @PaymentItemIds TABLE
(
	PaymentItemId int
)

SET @ModifiedDate = GETDATE()


BEGIN

	--Get Payment Item Ids that are refundable for the current booking

   INSERT
   INTO
	   @PaymentItemIds
	   (
			PaymentItemId
	   )

   SELECT PaymentItemId
   FROM
	   dbo.PaymentItemVL

   WHERE
	   PaymentStatusId = 2 --Only paid payments can be refunded
	   AND PaymentId IN --Only payments related to current booking
	   (SELECT PaymentId FROM cabs_sk.BookingPayment
		WHERE BookingId = @BookingId)
	   
	   --Only fee types related to current bookings and reason
	   AND FeeId IN 
	   (SELECT FeeId FROM 	dbo.PaymentItemVLRefundableFee
		WHERE RefundReasonId = @RefundReasonId)

END
	SELECT @Amount = coalesce(sum(Amount), 0)
	FROM
		dbo.PaymentItemVL
	WHERE
		PaymentItemId IN
	    (
		 SELECT PaymentItemId
		 FROM
			 @PaymentItemIds
		)

--Now that the paymentids are collected, begin a transaction to cancel the bookings and payments
BEGIN TRY

 

BEGIN TRANSACTION FINISH
	INSERT
	INTO
		dbo.PaymentRefundVL
		(
	    Amount
	  , BookingCancellationId
	  , RefundReasonId
	  , CreatedBy
	  , CreatedDate
	  , ModifiedBy
	  , ModifiedDate
		)
	VALUES
		(
		@Amount,
		@BookingCancellationReasonId,
		@RefundReasonId,
		@Username,
		@ModifiedDate,
		@Username,
		@ModifiedDate
		)

	SET @RefundId = Scope_Identity()
            IF @RefundId is NULL
            BEGIN
                  RAISERROR('Unable to add a refund', 16, 1)
            END


	--When inserting the reason for a booking refund

	--In most cases the reason for refunding everything is supplied

	--However if a failed test result exists for a booking

	--Then the booking refund reason is over-ridden with the "Failed Inspection" reason            

	INSERT INTO [cabs_production].[cabs_sk].[BookingRefund]
           ([BookingId]
           ,[RefundId]
           ,[RefundReasonId])
     VALUES
           (@BookingId
           ,@RefundId
           ,@RefundReasonId)

	UPDATE cabs_sk.Booking

	SET
		StatusId = 5, -- Refund
		BookingCancellationReasonId = @BookingCancellationReasonId,
		LateCancellation = CASE @RefundReasonId
							   WHEN 2 THEN
								   1 
							   ELSE
								   0
						   END,
		ModifiedBy = @Username,
		ModifiedOn = @ModifiedDate
	WHERE
		ID = @BookingId

	INSERT
	INTO
		BookingAudit
		(
		BookingId
		, CandidateID
		, TestID
		, TestCentreId
		, TestCentreLaneId
		, StatusId
		, StartDateTime
		, EndDateTime
		, BookingCancellationReasonId
		, LateCancellation
		, LateReschedule
		, CreatedBy
		, CreatedOn
		, ModifiedBy
		, ModifiedOn
		)

	SELECT ID
		, CandidateID
		, TestID
		, TestCentreId
		, TestCentreLaneId
		, StatusId
		, StartDateTime
		, EndDateTime
		, BookingCancellationReasonId
		, LateCancellation
		, LateReschedule
		, CreatedBy
		, GETDATE()
		, ModifiedBy
		, GETDATE()

	FROM
		cabs_sk.Booking

	WHERE
		ID = @BookingId

	INSERT
		dbo.PaymentRefundItemVL
		(
		RefundId
	  , PaymentItemId
	  , CreatedBy
	  , CreatedDate
	  , ModifiedBy
	  , ModifiedDate

		)

	SELECT @RefundId
		 , PaymentItemId
		 , @Username
		 , @ModifiedDate
		 , @Username
		 , @ModifiedDate

	FROM
		@PaymentItemIds



	UPDATE dbo.PaymentItemVL

	SET
		PaymentStatusId = 3, --Refunded

		ModifiedBy = @Username,

		ModifiedDate = @ModifiedDate

	WHERE
		PaymentItemId IN
		(
		 SELECT PaymentItemId
		 FROM
			 @PaymentItemIds
		)

	INSERT
	INTO
		dbo.PaymentItemVLAudit
		(
		PaymentItemId
	  , PaymentId
	  , FeeId
	  , Amount
	  , PaymentStatusId
	  , Comments
	  , CreatedBy
	  , CreatedDate
	  , ModifiedBy
	  , ModifiedDate
		)
	SELECT PaymentItemId
		 , PaymentId
		 , FeeId
		 , Amount
		 , PaymentStatusId
		 , Comments
		 , CreatedBy
		 , CreatedDate
		 , ModifiedBy
		 , ModifiedDate

	FROM
		dbo.PaymentItemVL

	WHERE
		PaymentItemId IN
		(
		 SELECT PaymentItemId
		 FROM
			 @PaymentItemIds
		)
	
		      COMMIT TRANSACTION FINISH            

            RETURN @@TRANCOUNT 

END TRY

BEGIN CATCH

	SET @ErrorMessage = ERROR_MESSAGE()      

      ROLLBACK TRANSACTION FINISH      

            Begin Try

                  --Log the error            

                  DECLARE @log_date datetime

                  DECLARE @thread varchar(256)


	SET @log_date = GETDATE()

	SET @thread = convert(VARCHAR(10), @@SPID)



	EXEC [dbo].[EventLog_Log4Net_Insert]

	@log_date = @log_date,
	@thread = @thread,
	@log_level = 'ERROR',
	@logger = 'Booking_CancelAndRefund SPROC',
	@message = @ErrorMessage,
	@url = NULL,
	@usr = @username,
	@addr = NULL

            End try
            Begin Catch

            End Catch
      RAISERROR (@ErrorMessage, 16, 1);           

      RETURN 0   

END CATCH

END
GO
