USE [cabs_production]
GO
/****** Object:  View [cabs_cmo].[vLicenceHolderMasterLiveTMP]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [cabs_cmo].[vLicenceHolderMasterLiveTMP]
AS
SELECT     lhm.LicenceHolderId,  
lhm.Ccsn, 
lhm.Ppsn, 
convert(datetime, '2000-01-01') LicenceIssueDate, 
lm.LicenceExpiryDate, 
lhm.HolderName, 
--lhm.TitleID, 
lhm.FirstName, 
lhm.LastName, 
--lhm.DateOfBirth, 
--lhm.CompanyNumber, 
--lhm.CompanyName, 
--lhm.TradingAs,
ISNULL(lhm.AddressLine1,'') + ' ' +  ISNULL(lhm.AddressLine2,'') + ' ' +  ISNULL(lhm.AddressLine3,'') AS [Address],
--lhm.Town, lhm.CountyID, 
--lhm.GardaDivisionID, lhm.PostCode, lhm.PhoneNo1, lhm.ContactNumberFax, lhm.PhoneNo2, lhm.Email, lhm.TaxClearanceNumber, lhm.TaxClearanceExpiryDate, 
--lhm._6DigitCode AS SixDigitCode, 
--lhm.DeceasedYn, 
lhm.licencenumber AS LicenseNumber, 
--lhm.Comments, 
lhm.CreatedBy, 
lhm.CreatedDate, 
lhm.ModifiedBy, 
lhm.ModifiedDate
FROM         CABS_LIVE.dbo.LicenceHolderMaster AS lhm 
INNER JOIN   CABS_LIVE.dbo.LicenceMaster AS lm ON lhm.LicenceHolderId = lm.LicenceHolderId


GO
