USE [cabs_production]
GO
/****** Object:  Table [cabs_dck].[DriverCheckLog]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_dck].[DriverCheckLog](
	[SearchId] [bigint] IDENTITY(1,1) NOT NULL,
	[SearchTerm] [nvarchar](100) NULL,
	[ExternalUserId] [uniqueidentifier] NULL,
	[SearchDate] [datetime2](7) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNo] [nvarchar](100) NULL,
	[MethodName] [nvarchar](200) NULL,
 CONSTRAINT [PK__DriverSe__21C535F4576A6C9D] PRIMARY KEY CLUSTERED 
(
	[SearchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_dck].[DriverCheckLog] ADD  CONSTRAINT [DF__DriverSea__Searc__62DC1F49]  DEFAULT (getdate()) FOR [SearchDate]
GO
