USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vDriverPictures]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_enf].[vDriverPictures]
AS
	SELECT ImageID as Id, PPSN, ImageContent
	FROM Cabs_live.dbo.DriverImages
GO
