USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[RenameUser]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_cmo].[RenameUser]
	@oldEmail nvarchar(100),
	@newEmail nvarchar(100)
AS
BEGIN
	SET @newEmail = (SELECT LOWER(@newEmail));
	DECLARE @userid uniqueidentifier = (SELECT u.UserId  FROM dbo.aspnet_Users u
										WHERE loweredUserName = @oldEmail )
										
	UPDATE cabs_cmo.IndustryUser SET Email = @newEmail WHERE ASPUserId = @userid

	UPDATE cabs_tds.AuthorizedSupplier SET Email = @newEmail WHERE aspuserid = @userid

	UPDATE dbo.aspnet_Users SET UserName = @newEmail, LoweredUserName = @newEmail 
	WHERE UserId = @userid
	UPDATE dbo.aspnet_Membership SET email = @newEmail, LoweredEmail = @newEmail 
	WHERE UserId = @userid

END

GO
