USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[FailedGroupInspectionDraft]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[FailedGroupInspectionDraft](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DefectCategoryID] [int] NOT NULL,
	[VehicleInspectionDraftID] [int] NOT NULL,
	[NoFailedItems] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DefectGroupIDPart] [int] NOT NULL,
 CONSTRAINT [PK_cabs_insp.FailedGroupInspectionDraft] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FailedGroupInspectionDraft_VehicleInspectionDraftID]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_FailedGroupInspectionDraft_VehicleInspectionDraftID] ON [cabs_insp].[FailedGroupInspectionDraft]
(
	[VehicleInspectionDraftID] ASC
)
INCLUDE([ID],[DefectCategoryID],[NoFailedItems],[CreatedBy],[CreatedOn],[ModifiedBy],[ModifiedOn],[DefectGroupIDPart]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[FailedGroupInspectionDraft]  WITH CHECK ADD  CONSTRAINT [FK_FailedGroupInspectionDraft_DefectCategories] FOREIGN KEY([DefectCategoryID])
REFERENCES [dbo].[DefectCategories] ([DefectCategoryID])
GO
ALTER TABLE [cabs_insp].[FailedGroupInspectionDraft] CHECK CONSTRAINT [FK_FailedGroupInspectionDraft_DefectCategories]
GO
ALTER TABLE [cabs_insp].[FailedGroupInspectionDraft]  WITH CHECK ADD  CONSTRAINT [FK_FailedGroupInspectionDraft_DefectGroups] FOREIGN KEY([DefectGroupIDPart], [DefectCategoryID])
REFERENCES [dbo].[DefectGroups] ([DefectGroupID], [DefectCategoryID])
GO
ALTER TABLE [cabs_insp].[FailedGroupInspectionDraft] CHECK CONSTRAINT [FK_FailedGroupInspectionDraft_DefectGroups]
GO
ALTER TABLE [cabs_insp].[FailedGroupInspectionDraft]  WITH CHECK ADD  CONSTRAINT [FK_FailedGroupInspectionDraft_VehicleInspectionsDraft] FOREIGN KEY([VehicleInspectionDraftID])
REFERENCES [cabs_insp].[VehicleInspectionsDraft] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [cabs_insp].[FailedGroupInspectionDraft] CHECK CONSTRAINT [FK_FailedGroupInspectionDraft_VehicleInspectionsDraft]
GO
