USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vCaseNotes]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_enf].[vCaseNotes]
AS
SELECT cn.Id, cn.LicenceNumber, cn.CreatedOn, cn.Text, u.UserName, ud.FullName
FROM [cabs_enf].CaseNotes AS cn
LEFT OUTER JOIN cabs_production.dbo.aspnet_Users AS u ON cn.CreatedBy = u.UserId
LEFT OUTER JOIN cabs_production.cabs_cmo.UserDetails AS ud ON u.UserId = ud.UserId

GO
