USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[SearchAudit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[SearchAudit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SearchTerm] [varchar](10) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[EnforcementOfficerUId] [uniqueidentifier] NOT NULL,
	[GPS_Lon] [float] NULL,
	[GPS_Lat] [float] NULL,
	[LicenceDriverName] [varchar](max) NULL,
	[FCP] [int] NULL,
	[LicenceIsActive] [bit] NULL,
	[LicenceExpiryDate] [datetime] NULL,
	[LicenceNumber] [varchar](10) NULL,
	[VehicleHolderName] [varchar](max) NULL,
	[VehicleIsActive] [bit] NULL,
	[VehicleLicenceExpiryDate] [datetime] NULL,
	[VehicleLicenceNumber] [varchar](10) NULL,
	[VehicleRegistrationNumber] [varchar](10) NULL,
	[CountyId] [int] NULL,
	[Street] [nvarchar](max) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[ResponseStatus] [nvarchar](255) NULL,
	[SearchError] [bit] NULL,
	[DriverUnknown] [bit] NULL,
 CONSTRAINT [PK_SearchAudit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[SearchAudit]  WITH CHECK ADD  CONSTRAINT [FK_SearchAudit_lkAuditType] FOREIGN KEY([Type])
REFERENCES [cabs_enf].[lkAuditType] ([Id])
GO
ALTER TABLE [cabs_enf].[SearchAudit] CHECK CONSTRAINT [FK_SearchAudit_lkAuditType]
GO
