USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBooking_SelectByTestCentreAndDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [cabs_sk].[SkillsBooking_SelectByTestCentreAndDate]
(
@TestCentreId int,
@BookingDate DateTime
)
AS
BEGIN 
SET NOCOUNT ON; 
SELECT		b.ID,
		    b.ModifiedBy,
		    b.ModifiedOn,
		    b.CreatedBy,
		    b.CreatedOn,
			tc.TestCentreName,
			bs.BookingStatusName,
			bs.BookingStatusID,
			b.StartDateTime,
			b.EndDateTime,
			cand.ID as CandidateID,
			person.PPSN,
			test.Name as TestType,
			b.TestCentreID
			
						
	FROM    cabs_sk.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.BookingStatus bs ON b.StatusID = bs.BookingStatusID
			INNER JOIN cabs_sk.Candidate cand ON b.CandidateID = cand.ID
			INNER JOIN cabs_cmo.Person person ON cand.PersonID = person.ID
			INNER JOIN cabs_sk.Test test ON b.TestID = test.ID
			
	WHERE	b.TestCentreId = @TestCentreId
	AND		CONVERT(CHAR(10),b.StartDateTime,120) = @BookingDate
END


GO
