USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_insp].[GetCOVByLicenceNumber]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [cabs_insp].[GetCOVByLicenceNumber]
@LicenceNumber varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


Declare @InspectionDate DateTime
SET @InspectionDate = DATEADD(dd, DATEDIFF(dd, 0, '04/01/2014'), 0)


Select top 1 sp.ProcessName,sp.SystemProcessId ,lm.PlateNumber,lm.LicenceNumber,
lm.RegistrationNumber,vi.ModifiedDate as InspectionDate,vi.VehicleInspectionId from Booking b 
Join VehicleInspections vi ON b.BookingId=vi.BookingId 
join LicenceMasterVL lm On b.LicenceNumber=lm.LicenceNumber
join SystemProcessVL sp On b.SystemProcessId=sp.SystemProcessId
where 
	b.SystemProcessId in ( 7 , 9, 13, 21 , 24 ) ---All COV Process
	AND b.BookingStatusId=3 --Completed
	AND vi.TestResultId = 1 --Passed
	AND b.LicenceNumber=@LicenceNumber   ---Provide Licence Number
	AND vi.ModifiedDate >= @InspectionDate ---Inspection Passed Record Date
Order by b.BookingId desc



END


GO
