USE [cabs_production]
GO
/****** Object:  Table [cabs_cms].[Article]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cms].[Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticleType] [tinyint] NOT NULL,
	[AudienceType] [tinyint] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_cabs_cms.Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
