USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_insp].[GetFinalOperationDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [cabs_insp].[GetFinalOperationDate]
	@PlateNumber int,    
    @RegistrationNumber varchar(10),
    @LicenceTypeId tinyint,
	@currentSystemProcessId tinyint
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;


DECLARE @finalOperationDate datetime = dbo.LicenceMasterVL_GetFinalOperationDate(@PlateNumber,@RegistrationNumber, @LicenceTypeId, @currentSystemProcessId)


SELECT @finalOperationDate

END


GO
