USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vLicenceHolderMasterLive]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [cabs_enf].[vLicenceHolderMasterLive]

AS select * FROM [CABS_LIVE].[dbo].[LicenceHolderMaster]


GO
