USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [cabs_sk].[GetCorrectAvailableTimes]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [cabs_sk].[GetCorrectAvailableTimes](@TestCentreId int, @DateFrom datetime, @DateTo datetime, @interval int)
RETURNS @tbl table (StartTime datetime, EndTime datetime, TestCentreId int, TestCentreLaneId int, TestCentreDefaultConfigId int, DifferenceValue int)
AS
BEGIN	
	insert into @tbl
	select ONE.startperiod, ONE.endperiod, TWO.TestCentreId, TWO.TestCentreLaneId, TWO.TestCentreConfigurationId, ONE.differenceValue from
		cabs_sk.SplitIntoDateIntervals(@DateFrom, @DateTo, @interval) as ONE left join
		(select TestCentreConfiguration.TestCentreConfigurationId, startperiod,endperiod,StartTime,TestCentreLanes.TestCentreLaneId, TestCentreLanes.TestCentreId from dbo.TestCentreConfiguration inner join dbo.TestCentreLanes on TestCentreConfiguration.TestCentreLaneId=TestCentreLanes.TestCentreLaneId and TestCentreLaneTypeID=2 and TestCentreLanes.TestCentreId = @TestCentreId and DATEADD(dd, DATEDIFF(dd, 0, StartTime), 0)>=DATEADD(dd, DATEDIFF(dd, 0, @DateFrom), 0) and DATEADD(dd, DATEDIFF(dd, 0, EndTime), 0)<=DATEADD(dd, DATEDIFF(dd, 0, @DateTo), 0)  CROSS APPLY cabs_sk.SplitIntoDateIntervals(TestCentreConfiguration.StartTime, TestCentreConfiguration.EndTime, @interval)) as TWO on
			ONE.startperiod = TWO.startperiod  and 
			ONE.endperiod = TWO.endperiod 
	where TWO.StartTime is not null
	order by ONE.startperiod	
	RETURN 
END


GO
