USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[BookingRefund]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[BookingRefund](
	[BookingId] [int] NOT NULL,
	[RefundId] [int] NOT NULL,
	[RefundReasonId] [int] NULL,
 CONSTRAINT [PK_BookingRefund] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC,
	[RefundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[BookingRefund]  WITH CHECK ADD  CONSTRAINT [FK_BookingRefund_Booking1] FOREIGN KEY([BookingId])
REFERENCES [cabs_sk].[Booking] ([ID])
GO
ALTER TABLE [cabs_sk].[BookingRefund] CHECK CONSTRAINT [FK_BookingRefund_Booking1]
GO
ALTER TABLE [cabs_sk].[BookingRefund]  WITH CHECK ADD  CONSTRAINT [FK_BookingRefund_PaymentItemVLRefundReason] FOREIGN KEY([RefundReasonId])
REFERENCES [dbo].[PaymentItemVLRefundReason] ([RefundReasonId])
GO
ALTER TABLE [cabs_sk].[BookingRefund] CHECK CONSTRAINT [FK_BookingRefund_PaymentItemVLRefundReason]
GO
ALTER TABLE [cabs_sk].[BookingRefund]  WITH CHECK ADD  CONSTRAINT [FK_BookingRefund_PaymentRefundVL] FOREIGN KEY([RefundId])
REFERENCES [dbo].[PaymentRefundVL] ([RefundId])
GO
ALTER TABLE [cabs_sk].[BookingRefund] CHECK CONSTRAINT [FK_BookingRefund_PaymentRefundVL]
GO
