USE [cabs_production]
GO
/****** Object:  Table [cabs_cmo].[RegistrationToken]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cmo].[RegistrationToken](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Token] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[NewLogin] [nvarchar](255) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [FK_RegistrationToken_UserID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_cmo].[RegistrationToken]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationToken_aspnet_Users1] FOREIGN KEY([UserID])
REFERENCES [dbo].[aspnet_Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [cabs_cmo].[RegistrationToken] CHECK CONSTRAINT [FK_RegistrationToken_aspnet_Users1]
GO
