USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_enf].[RPT_OverallCompliance]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [cabs_enf].[RPT_OverallCompliance]
(
	@ReportDateFrom	Date, 
	@ReportDateTo	Date,
	@ActionType		varchar(50),
	@DLNumber		varchar(50),
	@VLNumber		varchar(50)
) AS
BEGIN


WITH CTE_Audit AS
(
SELECT DISTINCT 
a.Id										as 'ID',
'Audit'										as 'Action Type',
a.DateTime									as 'Action Date',
a.VehicleLicenceNumber						as 'Vehicle Licence Number',
a.VehicleRegistrationNumber					as 'Vehicle Registration Number',
a.DriverLicenceNumber						as 'Driver Licence Number',
NULL										as 'Search Error',
CASE WHEN ah.Passed=1 THEN 'PASS' 
	WHEN ah.Passed=0 THEN 'FAIL' END		as 'Audit Status',
CASE WHEN ah.Passed=0 THEN ai.ShortName
	ELSE NULL END							as 'Audit Fail Reasons',
CASE WHEN ah.IsFcp=1 THEN 'YES' 
	WHEN ah.IsFcp=0 THEN 'NO' END			as 'FPN',
CONCAT(af.FineCode,'-',af.ShortName)		as 'FPN Reason',
f.DocketNumber								as 'FPN Number',
fs.FineStatusDescription					as 'FPN Status',
c.CountyName								as 'County Name',
a.Street									as 'Check/Audit Address',
u.FullName									as 'Compliance Officer Name'
FROM cabs_enf.Audit								as a
INNER JOIN cabs_enf.AuditHistoryItem			as ah ON ah.AuditId=a.Id
INNER JOIN cabs_enf.lkAuditItem					as ai ON ai.Id=ah.lkAuditItemId and ai.Active=1 and (ai.FineCode is not null or (ai.FineCode is null and ai.id not in (SELECT ParentId FROM cabs_enf.lkAuditItem WHERE Active=1 AND ParentId is not null)))
LEFT OUTER JOIN cabs_enf.Fines					as f ON f.Id=ah.FineId
LEFT OUTER JOIN cabs_enf.lkAuditItem			as af ON af.Id=f.FineTypeId
LEFT OUTER JOIN cabs_enf.FineStatus				as fs ON fs.FineStatusId=f.FineStatusId
LEFT OUTER JOIN dbo.County						as c ON c.CountyId=a.CountyId
LEFT OUTER JOIN cabs_cmo.UserDetails			as u ON u.UserId=a.EnforcementOfficerUId
WHERE a.DateTime>=@ReportDateFrom AND a.DateTime<DATEADD(DAY,1,@ReportDateTo)
AND (AuditId in (
SELECT 
	distinct complete.AuditId 
FROM(
	SELECT 
		AuditId,
		Count(id) as cnt
	FROM cabs_enf.AuditHistoryItem 
	group by AuditId
	) as complete 
INNER JOIN (
	SELECT 
		AuditId, 
		sum(CASE WHEN Passed=1 THEN 1 END) as cnt 
		FROM cabs_enf.AuditHistoryItem 
		group by AuditId) pass ON complete.AuditId=pass.AuditId AND complete.cnt=pass.cnt 
		)
		OR ah.Passed=0)
)
,CTE_Check AS
(
SELECT DISTINCT 
s.Id										as 'ID',
'Check'										as 'Action Type',
s.DateTime									as 'Action Date',
s.VehicleLicenceNumber						as 'Vehicle Licence Number',
s.VehicleRegistrationNumber					as 'Vehicle Registration Number',
s.LicenceNumber								as 'Driver Licence Number',
CASE WHEN s.SearchError=1 THEN 'YES' 
	WHEN s.SearchError=0 THEN 'NO' END		as 'Search Error',
NULL										as 'Audit Status',
NULL										as 'Audit Fail Reasons',
NULL										as 'FPN',
NULL										as 'FPN Reason',
NULL										as 'FPN Number',
NULL										as 'FPN Status',
c.CountyName								as 'County Name',
s.Street									as 'Check/Audit Address',
u.FullName									as 'Compliance Officer Name'
FROM cabs_enf.SearchAudit								as s
LEFT OUTER JOIN dbo.County						as c ON c.CountyId=s.CountyId
LEFT OUTER JOIN cabs_cmo.UserDetails			as u ON u.UserId=s.EnforcementOfficerUId
WHERE s.DateTime>=@ReportDateFrom AND s.DateTime<DATEADD(DAY,1,@ReportDateTo)
),
CTE_FPN AS
(
SELECT DISTINCT 
f.Id										as 'ID',
'FPN'										as 'Action Type',
f.IssueDate									as 'Action Date',
f.VehicleLicenceNumber						as 'Vehicle Licence Number',
f.RegistrationNumber						as 'Vehicle Registration Number',
f.DriverLicenceNumber						as 'Driver Licence Number',
NULL										as 'Search Error',
'FAIL'										as 'Audit Status',
ai.ShortName								as 'Audit Fail Reasons',
'YES'										as 'FPN',
CONCAT(af.FineCode,'-',af.ShortName)		as 'FPN Reason',
f.DocketNumber								as 'FPN Number',
fs.FineStatusDescription					as 'FPN Status',
NULL										as 'County Name',
NULL										as 'Check/Audit Address',
f.IssueOfficerName							as 'Compliance Officer Name'
FROM cabs_enf.Fines								as f
LEFT OUTER JOIN cabs_enf.AuditHistoryItem		as ah ON ah.FineId=f.Id
LEFT OUTER JOIN cabs_enf.lkAuditItem			as ai ON ai.Id=ah.lkAuditItemId and ai.Active=1
LEFT OUTER JOIN cabs_enf.lkAuditItem			as af ON af.Id=f.FineTypeId
LEFT OUTER JOIN cabs_enf.FineStatus				as fs ON fs.FineStatusId=f.FineStatusId
LEFT OUTER JOIN dbo.County						as c ON c.CountyId=f.FineAreaId
WHERE f.IssueDate>=@ReportDateFrom AND f.IssueDate<DATEADD(DAY,1,@ReportDateTo)
)
SELECT * FROM
(SELECT 
* FROM CTE_Check
UNION 
SELECT
* FROM CTE_Audit
UNION
SELECT
* FROM CTE_FPN) FinalTable
WHERE [Action Type] IN (select Element from dbo.func_Split(@ActionType,','))
AND ([Vehicle Licence Number] = @VLNumber or @VLNumber IS NULL or @VLNumber ='')
AND ([Driver Licence Number] = @DLNumber or @DLNumber IS NULL or @DLNumber ='')

END


GO
