USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[VehicleInspectionsDocument]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[VehicleInspectionsDocument](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
	[Data] [varbinary](max) NULL,
	[VehicleInspectionId] [int] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ChangedBy] [nvarchar](20) NULL,
	[ChangedOn] [datetime] NULL,
	[Size] [int] NULL,
	[SourceFileName] [nvarchar](255) NULL,
 CONSTRAINT [PK_VehicleInspectionsDocument] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDocument]  WITH CHECK ADD  CONSTRAINT [FK_cabs_ins.VehicleInspectionsDocument_VehicleInspections] FOREIGN KEY([VehicleInspectionId])
REFERENCES [dbo].[VehicleInspections] ([VehicleInspectionId])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDocument] CHECK CONSTRAINT [FK_cabs_ins.VehicleInspectionsDocument_VehicleInspections]
GO
