USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[ConfirmDriverMobileNumberUpdate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [cabs_spsv].[ConfirmDriverMobileNumberUpdate]
	@DriverLicenceHolderId int
as
begin

	DELETE FROM [cabs_spsv].[DriverMobileNumberUpdate] 
	where [PersonId]=@DriverLicenceHolderId

end

GO
