USE [cabs_production]
GO
/****** Object:  Table [cabs_cmo].[SystemMessage]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cmo].[SystemMessage](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MessageCode] [int] NOT NULL,
	[MessageText] [nvarchar](1000) NOT NULL,
	[lkLanguageID] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_SystemMessage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_cmo].[SystemMessage]  WITH CHECK ADD  CONSTRAINT [FK_SystemMessage_lkLanguage] FOREIGN KEY([lkLanguageID])
REFERENCES [cabs_cmo].[lkLanguage] ([ID])
GO
ALTER TABLE [cabs_cmo].[SystemMessage] CHECK CONSTRAINT [FK_SystemMessage_lkLanguage]
GO
