USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[DefectReasonsDefectGroups]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[DefectReasonsDefectGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DefectGroupIDPart] [int] NOT NULL,
	[DefectReasonID] [int] NULL,
	[DefectCategoryID] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_DefectReasonsDefectCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[DefectReasonsDefectGroups]  WITH CHECK ADD  CONSTRAINT [FK_DefectReasonsDefectCategories_DefectCategories] FOREIGN KEY([DefectCategoryID])
REFERENCES [dbo].[DefectCategories] ([DefectCategoryID])
GO
ALTER TABLE [cabs_insp].[DefectReasonsDefectGroups] CHECK CONSTRAINT [FK_DefectReasonsDefectCategories_DefectCategories]
GO
ALTER TABLE [cabs_insp].[DefectReasonsDefectGroups]  WITH CHECK ADD  CONSTRAINT [FK_DefectReasonsDefectCategories_DefectGroups] FOREIGN KEY([DefectGroupIDPart], [DefectCategoryID])
REFERENCES [dbo].[DefectGroups] ([DefectGroupID], [DefectCategoryID])
GO
ALTER TABLE [cabs_insp].[DefectReasonsDefectGroups] CHECK CONSTRAINT [FK_DefectReasonsDefectCategories_DefectGroups]
GO
ALTER TABLE [cabs_insp].[DefectReasonsDefectGroups]  WITH CHECK ADD  CONSTRAINT [FK_DefectReasonsDefectCategories_DefectReasons] FOREIGN KEY([DefectReasonID])
REFERENCES [dbo].[DefectReasons] ([DefectReasonID])
GO
ALTER TABLE [cabs_insp].[DefectReasonsDefectGroups] CHECK CONSTRAINT [FK_DefectReasonsDefectCategories_DefectReasons]
GO
