USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[SurveyQuestion]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[SurveyQuestion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[SurveyQuestionTypeID] [int] NOT NULL,
	[CurrentID] [int] NULL,
	[VersionTypeID] [int] NOT NULL,
	[VersionDate] [datetime] NOT NULL,
	[VersionID] [uniqueidentifier] NOT NULL,
	[ReferenceNumber] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[SurveyQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_SurveyQuestion_SurveyQuestion] FOREIGN KEY([CurrentID])
REFERENCES [cabs_sk].[SurveyQuestion] ([ID])
GO
ALTER TABLE [cabs_sk].[SurveyQuestion] CHECK CONSTRAINT [FK_cabs_sk_SurveyQuestion_SurveyQuestion]
GO
ALTER TABLE [cabs_sk].[SurveyQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_SurveyQuestion_SurveyQuestionType] FOREIGN KEY([SurveyQuestionTypeID])
REFERENCES [cabs_sk].[SurveyQuestionType] ([ID])
GO
ALTER TABLE [cabs_sk].[SurveyQuestion] CHECK CONSTRAINT [FK_cabs_sk_SurveyQuestion_SurveyQuestionType]
GO
ALTER TABLE [cabs_sk].[SurveyQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_SurveyQuestion_VersionType] FOREIGN KEY([VersionTypeID])
REFERENCES [cabs_sk].[VersionType] ([ID])
GO
ALTER TABLE [cabs_sk].[SurveyQuestion] CHECK CONSTRAINT [FK_cabs_sk_SurveyQuestion_VersionType]
GO
