USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[Candidate]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[Candidate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Candidate_Person] FOREIGN KEY([PersonID])
REFERENCES [cabs_cmo].[Person] ([ID])
GO
ALTER TABLE [cabs_sk].[Candidate] CHECK CONSTRAINT [FK_cabs_sk_Candidate_Person]
GO
