USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBooking_SelectRefundableBookingsByBookingId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cabs_sk].[SkillsBooking_SelectRefundableBookingsByBookingId]
(
	@BookingId int
)
AS
BEGIN

	SET NOCOUNT ON;

SELECT	    b.ID,
		    b.ModifiedBy,
		    b.ModifiedOn,
		    b.CreatedBy,
		    b.CreatedOn,
			tc.TestCentreName,
			bs.BookingStatusName,
			bs.BookingStatusID,
			b.StartDateTime,
			b.EndDateTime,
			b.CreatedBy,
			b.CreatedOn,
			person.PPSN,
			test.Name as TestType,
			cand.ID as CandidateID,
			b.TestCentreID
			
	FROM    cabs_sk.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.BookingStatus bs ON b.StatusID = bs.BookingStatusID
			INNER JOIN cabs_sk.Candidate cand ON b.CandidateID = cand.ID
			INNER JOIN cabs_cmo.Person person ON cand.PersonID = person.ID
			INNER JOIN cabs_sk.Test test ON b.TestID = test.ID

	WHERE	b.ID = @BookingId
	AND 
	(
		B.StatusID IN
		(
			2, --Only completed or confirmed bookings can be refunded
			3
		)
		OR 
		(
      B.StatusID = 1 AND B.ID IN 
      (
        SELECT DISTINCT(BA.BookingId)
        FROM cabs_sk.BookingAudit BA 
        WHERE BA.BookingID  = @BookingId  AND BA.StatusID IN (2,3) --Only completed or confirmed bookings that were ever in that status can be refunded
      )
		)
	)
	AND B.ID NOT IN --Do not refund bookings that have passed test results
	(
		SELECT BookingId 
		FROM cabs_sk.CandidateTest ctest
		WHERE  ctest.ResultID = 1
	)

END

GO
