USE [cabs_production]
GO
/****** Object:  View [cabs_rta].[vLicenceHolder]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_rta].[vLicenceHolder]
AS
SELECT	vlhm1.LicenceHolderId,
		ISNULL(vlhm1.AddressLine1,'') + ' ' + ISNULL(vlhm1.AddressLine2,'') + ' ' + ISNULL(vlhm1.AddressLine3, '') AS Address,
		dlhm2.licencenumber AS DriverLicenceNo, 
		ISNULL(vlhm1.HolderName, '') AS DriverName,
		indus.ASPUserId,
		indus.ID AS IndustryUserID
FROM cabs_cmo.IndustryUser AS indus 
	inner JOIN [cabs_spsv].[IndustryUserLicenceHolderMaster] on [IndustryUserLicenceHolderMaster].[IndustryUserFK]=indus.Id
	inner join dbo.LicenceHolderMaster AS vlhm1 ON (vlhm1.LicenceHolderId = [IndustryUserLicenceHolderMaster].LicenceHolderMasterFK)
	LEFT OUTER JOIN CABS_LIVE.dbo.LicenceHolderMaster AS dlhm2 ON (vlhm1.Ppsn = dlhm2.Ppsn);

GO
