USE [cabs_production]
GO
/****** Object:  View [cabs_dvl].[vDriverLinks]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [cabs_dvl].[vDriverLinks]
AS
 SELECT
  DISTINCT vd.LinkId,
  vl.HolderName,
  vl.LicenceExpiryDate,
  vl.LicenseNumber,
  vl.FirstName + ' '+vl.LastName as DriverName,
  vd.StartDate,
  vd.EndDate,
  vd.VehicleLicenseNumber,
  vd.IsActive as Active,
  --CASE WHEN iu2.ASPUserId = @aspUserId THEN 1 ELSE 0 END as [ReadOnly],
  CASE WHEN (vd.StartDate <= GetDate() and (vd.EndDate is null OR (vd.EndDate is not null AND vd.EndDate >= GETDATE())) )
   AND vd.IsActive = 1
  THEN 0 ELSE 1 END as [Historical],
  iu2.ASPUserId as [VehicleOwnerId],
  iu.ASPUserId as [LinkCreatorId]
 FROM cabs_dvl.VehicleDriver vd
 JOIN cabs_cmo.IndustryUser iu on iu.ID = vd.IndustryUserId
 JOIN dbo.LicenceMasterVL lmvl on lmvl.LicenceNumber = vd.VehicleLicenseNumber
 JOIN dbo.LicenceHolderMaster lm on lm.LicenceHolderId = lmvl.LicenceHolderId
 JOIN cabs_cmo.IndustryUser iu2 on iu2.PPSN = lm.Ppsn
 JOIN cabs_cmo.vLicenceHolderMasterLive vl on vl.Ppsn = iu.PPSN

GO
