USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[lkAuditItem]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[lkAuditItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuditItem] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
	[ParentId] [int] NULL,
	[PenaltyAmount] [decimal](10, 2) NOT NULL,
	[LongName] [varchar](255) NULL,
	[ShortName] [varchar](64) NULL,
	[FineCode] [varchar](10) NULL,
	[lkAuditItemTypeId] [int] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsSuitability] [bit] NULL,
	[IsRoadworthiness] [bit] NULL,
 CONSTRAINT [PK_lkFCPItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[lkAuditItem]  WITH CHECK ADD  CONSTRAINT [FK_lkFCPItem_lkFCPItem] FOREIGN KEY([ParentId])
REFERENCES [cabs_enf].[lkAuditItem] ([Id])
GO
ALTER TABLE [cabs_enf].[lkAuditItem] CHECK CONSTRAINT [FK_lkFCPItem_lkFCPItem]
GO
