USE [cabs_production]
GO
/****** Object:  View [cabs_spsv].[vDriverPrintRequestMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE view [cabs_spsv].[vDriverPrintRequestMaster]
as
SELECT [LetterRequestMasterId]
      ,[LicenceMasterId]
      ,[BatchId]
      ,[LetterRequestStatusId]
      ,[Ccsn]
      ,[LicenceNumber]
      ,[FirstName]
      ,[LastName]
      ,[DriverAddress1]
      ,[DriverAddress2]
      ,[DriverAddress3]
      ,[DriverCounty]
      ,[DriverPostCode]
      ,[DeliveryDestinationId]
      ,[ExpiryDate]
      ,[DespatchMethodId]
      ,[DespatchDate]
      ,[TrackingNumber]
      ,[CreatedBy]
      ,[CreatedDate]
      ,[ModifiedBy]
      ,[ModifiedDate]
      ,[LetterRequestStatusMessage]
      ,[Email]
      ,[TaxClearanceStatus]
      ,[TaxClearanceName]
      ,[TaxClearanceNumber]
      ,[TaxClearanceExpiryDate]
      ,[LetterRequestTypeVLAuditId]
      ,[Ppsn]
      ,[Town]
      ,[AreaOfOperation]
      ,[LicenceExpiryDate]
      ,[LicensedAreas]
      ,[GardaArea]
      ,[HolderName]
      ,[SPSVRegistrationNumber]
      ,[SPSVRegistrationUrl]
      ,[LicenceStatus]
      ,[VehicleLicenceNumber]
      ,[VehicleRegistrationNumber]
      ,[LinkStartDate]
      ,[LinkEndDate]
      ,[LinkMethod]
      ,[DriverLicenceHolderId]
      ,[RentalStartDate]
      ,[RentalEndDate]
      ,[RentalMethod]
      ,[SPSVWebUrl]
      ,[SPSVEmailHtml]
      ,[SPSVEmailItemId]
      ,[HistoricalVehicleLicenceNumber]
      ,[SPSVSmsMessage]
      ,[SPSVSmsItemId]
      ,[SPSVSmsPhoneNumber]
      ,[TaxClearanceCertExists]
      ,[TaxClearanceLastCheckDate]
      ,[LetterRequestTypeVlId]
  FROM [dl].[LetterRequestMaster]

GO
