USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[AddTestUser]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cabs_cmo].[AddTestUser]
	@email nvarchar(100),
	@crn int,
	@ppsn nvarchar(20),
	@roleName nvarchar(50)
AS
BEGIN
		DECLARE @date datetime = GETDATE();
		DECLARE @UserId uniqueidentifier;
		DECLARE @RoleId uniqueidentifier = (SELECT TOP 1 RoleId	
											FROM dbo.aspnet_Roles 
											WHERE RoleName = @roleName);
											
		DECLARE @defaultPassword nvarchar(100)= 'riGMv8B1vaDwQUOMxm6F5nBbsVo=';
		DECLARE @defaultSalt nvarchar(100) = 'z5cuUOlJ/2U/oXYCw7FDbQ==';
		DECLARE @applicationId uniqueidentifier = (SELECT TOP 1 ApplicationId 
													FROM aspnet_Applications 
													WHERE ApplicationName = 'cabs')
		
		IF EXISTS(SELECT TOP 1 1 FROM dbo.aspnet_Users WHERE UserName = @email)
			RAISERROR ('User already exists.',16,1); 
		
		BEGIN TRAN;
		BEGIN TRY
		EXEC [dbo].[aspnet_Membership_CreateUser]
					@ApplicationName = 'cabs',
					@UserName = @email,
					@Password = @defaultPassword,
					@PasswordSalt = @defaultSalt,
					@Email = @email,
					@PasswordQuestion = NULL,
					@PasswordAnswer = NULL,
					@IsApproved = 1,
					@CurrentTimeUtc = @date,
					@UserId = @UserId OUTPUT

		EXEC dbo.aspnet_UsersInRoles_AddUsersToRoles 'cabs',@email,@roleName,@date
		
		IF(lower(@roleName) = 'industry user')
		BEGIN
			INSERT INTO cabs_cmo.IndustryUser(ASPUserId,Email,CRN,PPSN,CreatedOn,CreatedBy,Active,Registered)
			VALUES (@UserId, @email, @crn, @ppsn, GETDATE(),'System',1,1)
		END
		
		UPDATE dbo.aspnet_Membership SET PasswordFormat  = 1 WHERE UserId = @UserId
		COMMIT
	END TRY
	BEGIN CATCH
		SELECT
			 ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;
		ROLLBACK
	END CATCH
END
GO
