USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[UpdateEmailForSPSVPortal]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [cabs_spsv].[UpdateEmailForSPSVPortal]	
	@isDriverLicenceHolder int,
	@isVehicleLicenceHolder int,
	@Email nvarchar(50),
	@LicenceHolderId int
as
begin

IF @isVehicleLicenceHolder > 0
BEGIN
	UPDATE iu
	SET Email = @Email
	FROM CABS_PRODUCTION.CABS_CMO.INDUSTRYUSER iu
		INNER JOIN CABS_PRODUCTION.cabs_spsv.[IndustryUserLicenceHolderMaster] iulhm ON iu.ID = iulhm.INDUSTRYUSERFK
		INNER JOIN CABS_Production.DBO.LICENCEMASTERVL lm ON lm.LICENCEHOLDERID = iulhm.LICENCEHOLDERMASTERFK AND iu.ASPUSERID IS NOT NULL
		INNER JOIN CABS_PRODUCTION.DBO.LICENCEHOLDERMASTER lhm ON iulhm.LICENCEHOLDERMASTERFK= lhm.LICENCEHOLDERID
	WHERE lhm.LicenceHolderId = @LicenceHolderId
END

IF @isDriverLicenceHolder > 0
BEGIN
	UPDATE iu
	SET Email = @Email
	FROM  CABS_PRODUCTION.CABS_CMO.INDUSTRYUSER iu
		INNER JOIN CABS_PRODUCTION.CABS_SPSV.INDUSTRYUSERDRIVERLICENCEHOLDERMASTER iudlhm ON iu.ID= iudlhm.INDUSTRYUSERFK
		INNER JOIN CABS_LIVE.DBO.LICENCEMASTER lm ON lm.LICENCEHOLDERID= iudlhm.LICENCEHOLDERMASTERFK AND iu.ASPUSERID IS NOT NULL 
		INNER JOIN CABS_LIVE.DBO.LICENCEHOLDERMASTER lhm ON iudlhm.LICENCEHOLDERMASTERFK = lhm.LICENCEHOLDERID
	WHERE lhm.LicenceHolderId = @LicenceHolderId
END

END

GO
