USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[DefectCategoriesLicenceTypeAudit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[DefectCategoriesLicenceTypeAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HistoryId] [int] NULL,
	[DefectCategoryID] [int] NULL,
	[LicenceTypeID] [tinyint] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[DefectCategoriesLicenceTypeAudit]  WITH CHECK ADD  CONSTRAINT [FK_DefectCategoriesLicenceTypeAudit_DefectCategoriesAudit] FOREIGN KEY([HistoryId])
REFERENCES [cabs_insp].[DefectCategoriesAudit] ([ID])
GO
ALTER TABLE [cabs_insp].[DefectCategoriesLicenceTypeAudit] CHECK CONSTRAINT [FK_DefectCategoriesLicenceTypeAudit_DefectCategoriesAudit]
GO
