USE [cabs_production]
GO
/****** Object:  Table [cabs_spsv].[IndustryUserLicenceHolderMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_spsv].[IndustryUserLicenceHolderMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndustryUserFK] [bigint] NOT NULL,
	[LicenceHolderMasterFK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_IndustryUserLicenceHolderMaster_IndustryUserFK]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_IndustryUserLicenceHolderMaster_IndustryUserFK] ON [cabs_spsv].[IndustryUserLicenceHolderMaster]
(
	[IndustryUserFK] ASC
)
INCLUDE([LicenceHolderMasterFK]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IndustryUserLicenceHolderMaster_LicenceHolderMasterFK]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_IndustryUserLicenceHolderMaster_LicenceHolderMasterFK] ON [cabs_spsv].[IndustryUserLicenceHolderMaster]
(
	[LicenceHolderMasterFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_spsv].[IndustryUserLicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_IndustryUserLicenceHolderMaster_IndustryUser] FOREIGN KEY([IndustryUserFK])
REFERENCES [cabs_cmo].[IndustryUser] ([ID])
GO
ALTER TABLE [cabs_spsv].[IndustryUserLicenceHolderMaster] CHECK CONSTRAINT [FK_IndustryUserLicenceHolderMaster_IndustryUser]
GO
ALTER TABLE [cabs_spsv].[IndustryUserLicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_IndustryUserLicenceHolderMaster_LicenceHolderMaster] FOREIGN KEY([LicenceHolderMasterFK])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [cabs_spsv].[IndustryUserLicenceHolderMaster] CHECK CONSTRAINT [FK_IndustryUserLicenceHolderMaster_LicenceHolderMaster]
GO
