USE [cabs_production]
GO
/****** Object:  View [cabs_cmo].[vLicenceMasterLiveTMP]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [cabs_cmo].[vLicenceMasterLiveTMP]

AS
SELECT [LicenceNumber]
      ,[LicenceTypeID]
      ,[LicenceHolderId]
      ,convert(datetime, '2000-01-01') [LicenceIssueDate]
      --,[LicenceIssueDate]
      ,[LicenceExpiryDate]
      --,[RemainingLicenceValidityDays]
      --,[GardaDivisionID]
      --,[LicenceStateMasterID]
      ,[LicenceStateID]
      ,[VehicleId]
      --,[RemainingTransfers]
      ,[CreatedBy]
      ,[CreatedDate]
      ,[ModifiedBy]
      ,[ModifiedDate]
      --,[Comments]
      --,[WatchList]
      --,[ApplicationReceivedDate]
  FROM [CABS_LIVE].[dbo].[LicenceMaster]


GO
