USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[CandidateTestQuestion]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[CandidateTestQuestion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[CandidateTestModuleID] [int] NULL,
	[QuestionID] [int] NULL,
	[QuestionVersionID] [uniqueidentifier] NULL,
	[ChapterID] [int] NULL,
	[ChapterVersionID] [uniqueidentifier] NULL,
	[Marked] [bit] NULL,
	[TestResultID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_cabs_sk_CandidateTestQuestion_CandidateTestModuleID]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_cabs_sk_CandidateTestQuestion_CandidateTestModuleID] ON [cabs_sk].[CandidateTestQuestion]
(
	[CandidateTestModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestQuestion_CandidateTestModule] FOREIGN KEY([CandidateTestModuleID])
REFERENCES [cabs_sk].[CandidateTestModule] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestion] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestQuestion_CandidateTestModule]
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestQuestion_Chapter] FOREIGN KEY([ChapterID])
REFERENCES [cabs_sk].[Chapter] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestion] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestQuestion_Chapter]
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestQuestion_Question] FOREIGN KEY([QuestionID])
REFERENCES [cabs_sk].[Question] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestion] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestQuestion_Question]
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestQuestion_TestResult] FOREIGN KEY([TestResultID])
REFERENCES [cabs_sk].[TestResult] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestion] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestQuestion_TestResult]
GO
