USE [cabs_production]
GO
/****** Object:  Table [dbo].[LetterRequestTypeVLAudit]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterRequestTypeVLAudit](
	[LetterRequestTypeAuditId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LetterRequestTypeId] [int] NOT NULL,
	[LetterRequestTypeDescription] [varchar](100) NOT NULL,
	[FileContent] [varbinary](max) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[AllowedRoles] [varchar](200) NULL,
	[HasFile]  AS (case when [FileContent] IS NULL then (0) else (1) end),
	[LetterCode] [varchar](20) NULL,
	[NumPages] [int] NULL,
	[PrintStyle] [varchar](10) NULL,
	[EnvelopeType] [varchar](5) NULL,
	[PrintCompanyId] [int] NOT NULL,
	[IntroductionEmailText] [nvarchar](max) NULL,
 CONSTRAINT [PK_LetterRequestTypeVLAudit_1] PRIMARY KEY CLUSTERED 
(
	[LetterRequestTypeAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_LetterRequestTypeVLAudit_6_2123258719__K2_K1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_LetterRequestTypeVLAudit_6_2123258719__K2_K1] ON [dbo].[LetterRequestTypeVLAudit]
(
	[LetterRequestTypeId] ASC,
	[LetterRequestTypeAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LetterRequestTypeAuditId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LetterRequestTypeAuditId] ON [dbo].[LetterRequestTypeVLAudit]
(
	[LetterRequestTypeAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LetterRequestTypeVLAudit] ADD  CONSTRAINT [DF_LetterRequestTypeVLAudit_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LetterRequestTypeVLAudit] ADD  CONSTRAINT [DF_LetterRequestTypeVLAudit_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LetterRequestTypeVLAudit] ADD  CONSTRAINT [DF_LetterRequestTypeVLAudit_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LetterRequestTypeVLAudit] ADD  CONSTRAINT [DF_LetterRequestTypeVLAudit_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LetterRequestTypeVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LetterRequestTypeVLAudit_LetterRequestTypeVLAudit] FOREIGN KEY([LetterRequestTypeAuditId])
REFERENCES [dbo].[LetterRequestTypeVLAudit] ([LetterRequestTypeAuditId])
GO
ALTER TABLE [dbo].[LetterRequestTypeVLAudit] CHECK CONSTRAINT [FK_LetterRequestTypeVLAudit_LetterRequestTypeVLAudit]
GO
ALTER TABLE [dbo].[LetterRequestTypeVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LetterRequestTypeVLAudit_PrintCompany] FOREIGN KEY([PrintCompanyId])
REFERENCES [dbo].[PrintCompany] ([PrintCompanyId])
GO
ALTER TABLE [dbo].[LetterRequestTypeVLAudit] CHECK CONSTRAINT [FK_LetterRequestTypeVLAudit_PrintCompany]
GO
