USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreDefaultConfigAudit_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16/11/2010>
-- Description:	<Add a test centre default configuration>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreDefaultConfigAudit_Insert] 
	-- Add the parameters for the stored procedure here
(
	@TestCentreDefaultConfigAuditId smallint output,		
	@TestCentreDefaultConfigId smallint,	
	@TestCentreId smallint,	
	@TestCentreLaneId int,	
	@WeekDayId tinyint,	
	@StartTime datetime,	
	@EndTime datetime,	
	@Biweekly bit,
	@BiweeklyStartDate datetime,
	@BiweeklyEndDate datetime,
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO TestCentreDefaultConfigAudit
	(
		TestCentreDefaultConfigId,
		TestCentreId,
		TestCentreLaneId,
		WeekDayId,
		StartTime,
		EndTime,
		Biweekly,
		BiweeklyStartDate,
		BiweeklyEndDate,
		CreatedBy,
		CreatedDate,
		ModifiedBy,
		ModifiedDate
	)
	VALUES
	(
		@TestCentreDefaultConfigId,
		@TestCentreId,
		@TestCentreLaneId,
		@WeekDayId,
		@StartTime,
		@EndTime,
		@Biweekly,
		@BiweeklyStartDate,
		@BiweeklyEndDate,
		@CreatedBy,
		@CreatedDate,
		@ModifiedBy,
		@ModifiedDate
	)

	set @TestCentreDefaultConfigAuditId = SCOPE_IDENTITY()

END
GO
