USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestMasterVLDownload_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 06-Dec-2010
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestMasterVLDownload_Insert]
(	
	@DownloadId int output,
	@PrintRequestMasterId int,
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime output

)

AS
BEGIN

	SET NOCOUNT ON;

	SET @CreatedDate = GETDATE()
	SET @ModifiedDate = @CreatedDate
	
INSERT INTO dbo.PrintRequestMasterVLDownload	
(
	PrintRequestMasterId, 
	CreatedBy,	
	ModifiedBy,
	CreatedDate,
	ModifiedDate
)	
VALUES
(	
	@PrintRequestMasterId,
	@CreatedBy,	
	@ModifiedBy,
	@CreatedDate,
	@ModifiedDate
)

SET @DownloadId = SCOPE_IDENTITY()

END
GO
