USE [cabs_production]
GO
/****** Object:  Table [dbo].[SystemProcessVLAllowedLicenceStateMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemProcessVLAllowedLicenceStateMaster](
	[SystemProcessId] [int] NOT NULL,
	[LicenceStateMasterId] [tinyint] NOT NULL,
 CONSTRAINT [PK_SystemProcessVLAllowedLicenceStateMaster] PRIMARY KEY CLUSTERED 
(
	[SystemProcessId] ASC,
	[LicenceStateMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemProcessVLAllowedLicenceStateMaster]  WITH CHECK ADD  CONSTRAINT [FK_SystemProcessVLAllowedLicenceStateMaster_LicenceStateMaster] FOREIGN KEY([LicenceStateMasterId])
REFERENCES [dbo].[LicenceStateMaster] ([LicenceStateMasterId])
GO
ALTER TABLE [dbo].[SystemProcessVLAllowedLicenceStateMaster] CHECK CONSTRAINT [FK_SystemProcessVLAllowedLicenceStateMaster_LicenceStateMaster]
GO
ALTER TABLE [dbo].[SystemProcessVLAllowedLicenceStateMaster]  WITH CHECK ADD  CONSTRAINT [FK_SystemProcessVLAllowedLicenceStateMaster_SystemProcessVL1] FOREIGN KEY([SystemProcessId])
REFERENCES [dbo].[SystemProcessVL] ([SystemProcessId])
GO
ALTER TABLE [dbo].[SystemProcessVLAllowedLicenceStateMaster] CHECK CONSTRAINT [FK_SystemProcessVLAllowedLicenceStateMaster_SystemProcessVL1]
GO
