USE [cabs_production]
GO
/****** Object:  View [dbo].[Candidate_Fail_Module_Report]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Candidate_Fail_Module_Report] as
with Step1 as
(
select
	p.[PPSN]
   ,p.[FirstName]
   ,p.[LastName]
   ,ct.StartDateTime
   ,row_number() over(partition by p.[PPSN] order by ct.StartDateTime desc) as DateOrder
   ,IIF(b.ConfirmationNumber is null, cast(b.ID as varchar),b.ConfirmationNumber) AS [Test confirmation number]
   ,t.[Name]
   ,fpm.[Code] as [Module failed]
   ,p.[HomeNumber]
   ,p.[MobileNumber]
   ,p.[Email]
   ,p.[AddressLine1]
   ,p.[AddressLine2]
   ,p.[AddressLine3]
   ,p.[Town]
   ,c.[CountyName]
   ,cr.[CountryName]
   ,cm.[Description]
from [cabs_cmo].[Person] p
	left join [cabs_sk].[Candidate] cn on p.ID=cn.PersonID
	left join [cabs_sk].[Booking] b on cn.ID=b.CandidateID
	left join [cabs_sk].[CandidateTest] ct on ct.BookingID=b.ID
	join [dbo].[Failed_Pass_Module] fpm on ct.ID=fpm.[CandidateTestID] and fpm.[Description]='Fail' 
	left join [cabs_sk].[Test] t on ct.TestID=t.ID
	left join [dbo].[County] c on p.CountyID=c.CountyId
	left join [dbo].[Country] cr on p.CountryID=cr.CountryId
	left join [cabs_cmo].[ContactMethod] cm on p.ContactMethodID=cm.ID
),step2 as
(
select
	p.[PPSN]
from [cabs_cmo].[Person] p
	left join [cabs_sk].[Candidate] cn on p.ID=cn.PersonID
	left join [cabs_sk].[Booking] b on cn.ID=b.CandidateID
	left join [cabs_sk].[CandidateTest] ct on ct.BookingID=b.ID
	join [dbo].[Pass_Module] fpm on ct.ID=fpm.[CandidateTestID]
	left join [cabs_sk].[Test] t on ct.TestID=t.ID
	left join [dbo].[County] c on p.CountyID=c.CountyId
	left join [dbo].[Country] cr on p.CountryID=cr.CountryId
	left join [cabs_cmo].[ContactMethod] cm on p.ContactMethodID=cm.ID
)
select * from step1 
where 
DateOrder=1
and
PPSN not in (select * from step2)
GO
