USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[IsDateExpired_Temp]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[IsDateExpired_Temp] (@Date datetime)    
	RETURNS bit
/*
Author:		Damien Dennehy
Date:		23-12-2010
Purpose:	Used to determine if a date is in the past (expired).
*/
AS
BEGIN    
--vars    
DECLARE @returnDate datetime

	declare @expired bit
	declare @DateOnly datetime
	declare @TodayOnly datetime
	
	set @expired = 0;
	set @DateOnly = DATEADD(dd, DATEDIFF(dd, 0, @Date), 0)
	set @TodayOnly = DATEADD(dd, DATEDIFF(dd, 0, getdate()+1), 0) 
	
	if @Date < @TodayOnly
	
	BEGIN
		set @expired = 1;
	END
	
	--return result    
	RETURN @expired
END


GO
