USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_SkillsItemBank]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adam Nosal
-- Create date: 08/09/2018 
-- Description:	List of All Skills Questions with answers etc.
-- =============================================
CREATE PROCEDURE [dbo].[RPT_SkillsItemBank] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
SELECT  
	 case when 
	    COALESCE(  
		--REPLACE(
		--REPLACE( 
		--CONVERT(nvarchar, Chapter.Code )
		--,'Default' ,'' )
		--,'Migration' ,'' )
		
		-- + 
	 (
					Select COALESCE( CONVERT(nvarchar, cModule.Code) + '', '') 
					from cabs_sk.ModuleChapter cModuleChapter
					left join cabs_sk.Module cModule on cModule.ID = cModuleChapter.ModuleID
					where cModuleChapter.ChapterID = Chapter.ID
					group by cModule.Code
					FOR XML PATH ('')
	)
	+  CONVERT(nvarchar,[ReferenceNumber]), '')
	= '' then CONVERT(nvarchar,[ReferenceNumber])
	else 
	 COALESCE(  
		--REPLACE(
		--REPLACE( 
		--CONVERT(nvarchar, Chapter.Code )
		--,'Default' ,'' )
		--,'Migration' ,'' )
		
		-- + 
	 (
					Select COALESCE( CONVERT(nvarchar, cModule.Code) + '', '') 
					from cabs_sk.ModuleChapter cModuleChapter
					left join cabs_sk.Module cModule on cModule.ID = cModuleChapter.ModuleID
					where cModuleChapter.ChapterID = Chapter.ID
					group by cModule.Code
					FOR XML PATH ('')
	)
	+  CONVERT(nvarchar,[ReferenceNumber]), '')
	end 
	as 'ItemCode'
      --,question.[CurrentID]  as 'ItemCode ??????'
      ,[LegacyItemCode] as 'Legacy ItemCode'
      --,[ChapterID] as 'Chapter Code'
	  , Chapter.Code as 'Chapter Code'
      --,[ModuleID] as 'Module Code'
	  , module.Code as 'Module Code'
	  ,[AreaOfOperation].AreaName as 'Topic'
      ,[QuestionText] as 'Stem'
	  --,[VersionTypeID] as 'Version Type'
	  	  --------------------------------------
	  , (select Answer.AnswerText from cabs_sk.Answer 
	  where answer.QuestionID = [Question].ID and [Answer].[Order] = 1) as 'Distributors_A'
	  , (select Answer.AnswerText from cabs_sk.Answer 
	  where answer.QuestionID = [Question].ID and [Answer].[Order] = 2) as 'Distributors_B'
	  , (select Answer.AnswerText from cabs_sk.Answer 
	  where answer.QuestionID = [Question].ID and [Answer].[Order] = 3) as 'Distributors_C'
	  , (select Answer.AnswerText from cabs_sk.Answer 
	  where answer.QuestionID = [Question].ID and [Answer].[Order] = 4) as 'Distributors_D'
	  , (select Answer.AnswerText from cabs_sk.Answer
	  where answer.QuestionID = [Question].ID and [Answer].[Order] = 5) as 'Distributors_E'
	  --------------------------------------

	  , REPLACE (REPLACE (REPLACE (REPLACE (REPLACE (( 
		  select --cAnswers.QuestionID,
		   --LEFT( cAnswers.aAnswers, LEN( cAnswers.aAnswers)-1) as 'Answers'
		  cAnswers.aAnswers as 'Answers'
		  from 
			  (
				select distinct ccAnswer.QuestionID, 
				(
					Select COALESCE( CONVERT(nvarchar, cccAnswer.[Order]) + ',', '') --cccAnswer.[Order] + ','
					--as [text()] 
					from cabs_sk.Answer cccAnswer
					where QuestionID = [Question].ID
					and cccAnswer.Correct =1
					--order by QuestionID, [Order]
					FOR XML PATH ('')
				) [aAnswers]
				from cabs_sk.Answer ccAnswer
			  ) [cAnswers]
			  where cAnswers.QuestionID =  [Question].ID
	  ),'1' ,'A' )
	  ,'2' ,'B' )
	  ,'3' ,'C' )
	  ,'4' ,'D' )
	  ,'5' ,'E' )
	  
	   as 'Keys'
	  --------------------------------------
      ,Case when  Question.[VersionTypeID] =1 then 'History ' else 'Current' end as 'Question Version Type'
      ,Case when  Question.IsActive =1 then 'YES ' else 'NO' end as 'Question Active'
  FROM [cabs_production].[cabs_sk].[Question]
  left join [cabs_sk].[Chapter] on [Chapter].ID =  Question.ChapterID
  left join [cabs_sk].[Module] on module.ID = question.ModuleID
  left join [dbo].[AreaOfOperation] on [AreaOfOperation].AreaId = question.AreaID
 -- where ReferenceNumber = 12011


END
GO
