USE [cabs_production]
GO
/****** Object:  Table [dbo].[VehicleInspections]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleInspections](
	[VehicleInspectionId] [int] NOT NULL,
	[RegistrationNumber] [varchar](10) NOT NULL,
	[LicenceNumber] [varchar](50) NOT NULL,
	[TestCentreId] [int] NOT NULL,
	[BookingId] [int] NULL,
	[InspectorId] [int] NULL,
	[TestStartTime] [datetime] NULL,
	[TestEndTime] [datetime] NULL,
	[TestResultId] [int] NULL,
	[Comment] [nvarchar](2000) NULL,
	[TamperProofPrinted] [bit] NULL,
	[LettersProcessed] [bit] NULL,
	[LettersProcessDate] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[TPRemoved] [bit] NULL,
	[TPDestroyed] [bit] NULL,
	[TPComment] [nvarchar](500) NULL,
	[TPReasonID] [int] NULL,
	[LateArrivalTime] [datetime] NULL,
	[LateArrivalReasonID] [int] NULL,
	[TestResultAdditionalInfoID] [int] NULL,
	[VehicleLicenceCertificatePrinted] [bit] NULL,
	[VehicleLicenceCertificateComment] [nvarchar](256) NULL,
 CONSTRAINT [PK_VehicleInspections] PRIMARY KEY CLUSTERED 
(
	[VehicleInspectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [BookingId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [BookingId] ON [dbo].[VehicleInspections]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LettersProcessed]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LettersProcessed] ON [dbo].[VehicleInspections]
(
	[LettersProcessed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [LicenceNumber]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceNumber] ON [dbo].[VehicleInspections]
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RegistrationNumber]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [RegistrationNumber] ON [dbo].[VehicleInspections]
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleInspections]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspections_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[VehicleInspections] CHECK CONSTRAINT [FK_VehicleInspections_Booking]
GO
ALTER TABLE [dbo].[VehicleInspections]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspections_Inspectors] FOREIGN KEY([InspectorId])
REFERENCES [dbo].[Inspectors] ([InspectorID])
GO
ALTER TABLE [dbo].[VehicleInspections] CHECK CONSTRAINT [FK_VehicleInspections_Inspectors]
GO
ALTER TABLE [dbo].[VehicleInspections]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspections_LicenceMasterVL] FOREIGN KEY([LicenceNumber])
REFERENCES [dbo].[LicenceMasterVL] ([LicenceNumber])
GO
ALTER TABLE [dbo].[VehicleInspections] CHECK CONSTRAINT [FK_VehicleInspections_LicenceMasterVL]
GO
ALTER TABLE [dbo].[VehicleInspections]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspections_TamperProofReasons] FOREIGN KEY([TPReasonID])
REFERENCES [dbo].[TamperProofReasons] ([TamperProofReasonID])
GO
ALTER TABLE [dbo].[VehicleInspections] CHECK CONSTRAINT [FK_VehicleInspections_TamperProofReasons]
GO
ALTER TABLE [dbo].[VehicleInspections]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspections_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[VehicleInspections] CHECK CONSTRAINT [FK_VehicleInspections_TestCentre]
GO
ALTER TABLE [dbo].[VehicleInspections]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspections_TestResultAdditionalInfo] FOREIGN KEY([TestResultAdditionalInfoID])
REFERENCES [cabs_insp].[TestResultAdditionalInfo] ([ID])
GO
ALTER TABLE [dbo].[VehicleInspections] CHECK CONSTRAINT [FK_VehicleInspections_TestResultAdditionalInfo]
GO
ALTER TABLE [dbo].[VehicleInspections]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspections_TestResults] FOREIGN KEY([TestResultId])
REFERENCES [dbo].[TestResults] ([TestResultID])
GO
ALTER TABLE [dbo].[VehicleInspections] CHECK CONSTRAINT [FK_VehicleInspections_TestResults]
GO
ALTER TABLE [dbo].[VehicleInspections]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspections_VehicleMaster] FOREIGN KEY([RegistrationNumber])
REFERENCES [dbo].[VehicleMaster] ([RegistrationNumber])
GO
ALTER TABLE [dbo].[VehicleInspections] CHECK CONSTRAINT [FK_VehicleInspections_VehicleMaster]
GO
