USE [cabs_production]
GO
/****** Object:  Table [dbo].[SystemProcessVL]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemProcessVL](
	[SystemProcessId] [int] NOT NULL,
	[ProcessName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SystemProcess] PRIMARY KEY CLUSTERED 
(
	[SystemProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
