USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_60DaysBookingCancellation]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		dmitry.malutin@ocsico.com
-- Create date: 19-02-2014
-- =============================================

-- -------------------------
-- TestResultID	TestResult
-- -------------------------
-- 1			Pass
-- 2			Fail
-- 3			No Show
-- 4			FAIL_ADVIS
-- 5			Duplicate TP

-- Open booking:
--    1) where a test has been failed but no retest booked,
--    2) where a no show occurs and no retest is booked !!! not implemented since this will be automatically done by NoShow job (dbo.sch_HandleNoShows stored procedure)

CREATE PROCEDURE [dbo].[sch_60DaysBookingCancellation]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @BookingID int,
			@TestCentreId int,
			@LicenceNumber varchar(50), 
			@RegistrationNumber varchar(10),
			@ErrorMessage varchar(4000);

	DECLARE booking_cursor CURSOR FOR
		
		SELECT TOP 1000
			B.BookingId,
			B.TestCentreId,
			B.LicenceNumber,
			B.RegistrationNumber
		FROM
			Booking AS B
			LEFT JOIN VehicleInspections AS VI ON VI.BookingId = B.BookingId
		WHERE
			B.BookingStatusId NOT IN (5) AND -- Not Cancelled
			VI.TestResultId IN (2 /* Fail */) AND -- Test has been failed
			/*
			NOT EXISTS(SELECT 1
			           FROM Booking AS B1 LEFT JOIN
			                VehicleInspections AS VI1 ON VI1.BookingId = B1.BookingId
					   WHERE B.LicenceNumber = B1.LicenceNumber AND
							 --B.BookingId = B1.ParentId AND
			                 --B.BookingId <> B1.BookingId AND
			                 B1.BookingDateTime > B.BookingEndDateTime AND
			                 --B1.BookingStatusID = 3 AND -- Completed
			                 VI1.TestResultId = 1 -- Pass
					  ) AND -- but no retest booked
			*/
			NOT EXISTS(SELECT 1 FROM Booking WHERE LicenceNumber = B.LicenceNumber AND BookingId > B.BookingId) AND -- but no retest booked
			DATEDIFF(DAY, CAST(B.BookingDateTime AS DATE), CAST(GETDATE() AS DATE)) > 60 AND
			B.BookingDateTime > '20-Dec-2013' -- only pick up records that were created 60 days before release.
		ORDER BY B.BookingDateTime;
	
	OPEN  booking_cursor;
	
	FETCH NEXT FROM booking_cursor
	INTO @BookingID , @TestCentreId , @LicenceNumber, @RegistrationNumber;
	WHILE @@FETCH_STATUS = 0
	BEGIN
		BEGIN TRANSACTION CancelBooking60Days
		
		BEGIN TRY
			
			-- handle refunds
			DECLARE	@return_value int,
					@RefundId int
			SELECT	@RefundId = 1

			PRINT @BookingID;

			EXEC	@return_value = [dbo].[Booking_CancelAndRefund]
					@BookingId = @BookingID,
					@RefundId = @RefundId OUTPUT,
					@RefundReasonId = 6, --Failed Inspection
					@BookingCancellationReasonId = 4, -- System Cancelled
					@Username = N'CancelBooking Job',
					@ProcessExpiration = 0

			SELECT	@RefundId as N'@RefundId'

			SELECT	'Return Value' = @return_value
			
			if(@return_value = 0)
				RAISERROR ('Refund Failed', 16, 1);

		END TRY
		BEGIN CATCH 

			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION CancelBooking60Days
			END
			
			SET @ErrorMessage = ERROR_MESSAGE()
		
			BEGIN TRY
				--Log the error
				INSERT INTO [dbo].[PrintEventLogs]
						([Date], [Thread], [Level], [Logger], [Message], [Usr])
				VALUES
						(GETDATE(), 1, 'ERROR', 'sch_60DaysBookingCancellation', @ErrorMessage, 'System')
			END TRY
			BEGIN CATCH
				--Nothing to do if the Print Event Log fails
			END CATCH
		
			RAISERROR (@ErrorMessage, 16, 1);
			
			RETURN 0

		END CATCH
		
		COMMIT TRANSACTION CancelBooking60Days
		
		FETCH NEXT FROM booking_cursor 
		INTO @BookingID , @TestCentreId , @LicenceNumber, @RegistrationNumber;
	END
	
	CLOSE booking_cursor;
	DEALLOCATE booking_cursor;

END
GO
