USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Cancellations_LateReschedules]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 11-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Cancellations_LateReschedules]

@StartDate DateTime,
@EndDate DateTime
	
AS
BEGIN
	SET NOCOUNT ON;
	

SELECT SPI.InstanceId,SP.ProcessName,ITY.Description As InspectionType,LT.LicenceType,B.LicenceNumber,B.RegistrationNumber,P.Amount AS Paid,
(
	SELECT COALESCE(SUM(AMOUNT),0) FROM dbo.PaymentRefundItemVL  RIV
	INNER JOIN dbo.PaymentItemVL PIV ON PIV.PaymentId = RIV.PaymentItemId
	WHERE RefundId IN
	(
		SELECT RefundId FROM BookingRefund WHERE BookingId = SPI.BookingId
	)
) As Refunded,
B.BookingId,
BS.BookingStatusName,
TR.TestResult,
SPI.CreatedDate,
ServiceTypeName = (case when ST.ServiceTypeName ='Booking' then 'VL Booking' else ST.ServiceTypeName end)
FROM SystemProcessInstanceVL SPI
INNER JOIN dbo.Booking B ON B.BookingId = SPI.BookingId
INNER JOIN dbo.SystemProcessVL SP on SP.SystemProcessId = B.SystemProcessID
INNER JOIN dbo.InspectionTime IT on IT.InspectionTimeId = B.InspectionTimeId
INNER JOIN dbo.InspectionType ITY on ITY.InspectionTypeId = IT.InspectionTypeId
INNER JOIN dbo.LicenceMasterVL LMVL on LMVL.LicenceNumber = B.LicenceNumber
INNER JOIN dbo.LicenceStateMaster LSM on LSM.LicenceStateMasterId = LMVL.LicenceStateMasterId
INNER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
INNER JOIN dbo.BookingStatus BS on BS.BookingStatusId = B.BookingStatusId
INNER JOIN dbo.PaymentVL P ON P.PaymentId = SPI.PaymentId
LEFT OUTER JOIN dbo.VehicleInspections VI ON VI.BookingId = SPI.BookingId
LEFT OUTER JOIN dbo.TestResults TR ON VI.TestResultId = TR.TestResultID
LEFT OUTER JOIN dbo.ServiceTypeVL ST ON ST.ServiceTypeId = P.ServiceTypeId
WHERE SPI.SystemProcessId = 16 And SPI.Completed = 1
AND Cast(SPI.CreatedDate as DATE)  BETWEEN @StartDate AND @EndDate
UNION ALL
SELECT  0 as InstanceId,test.Name As ProcessName,'Skills Test' as InspectionType,'' as LicenceType,p.PPSN AS LicenceNumber,'' as RegistrationNumber,PVL.Amount AS Paid,
		(
		SELECT COALESCE(SUM(AMOUNT),0) FROM dbo.PaymentRefundItemVL  RIV
		INNER JOIN dbo.PaymentItemVL PIV ON PIV.PaymentId = RIV.PaymentItemId
		WHERE RefundId IN
		(
			SELECT RefundId FROM cabs_sk.BookingRefund WHERE BookingId = skb.ID
		)
		) As Refunded,
		skb.ID as BookingId,
		BS.BookingStatusName,
		TR.Description AS TestResult,
		skb.CreatedOn as CreatedDate,
		'Skills Booking' as ServiceTypeName 
FROM cabs_sk.Booking skb 
	 INNER JOIN	cabs_sk.BookingPayment BP ON skb.ID = BP.BookingId 
	 INNER JOIN  cabs_sk.Test test ON skb.TestID = test.ID	
	 INNER JOIN	dbo.BookingStatus BS on BS.BookingStatusId = skb.StatusID 
	 INNER JOIN	[cabs_sk].[Candidate]  ca ON skb.CandidateID=ca.ID 
	 INNER JOIN	[cabs_cmo].[Person] p ON   ca.PersonID=p.ID
	 INNER JOIN  dbo.PaymentVL PVL ON BP.PaymentId = PVL.PaymentId
	 INNER JOIN dbo.PaymentItemVL PIV ON PVL.PaymentId=PIV.PaymentId
	 LEFT OUTER JOIN [cabs_sk].[CandidateTest] ct ON ct.BookingID=skb.ID 
	 LEFT OUTER JOIN [cabs_sk].TestResult TR ON ct.ResultID=TR.ID	 
WHERE  
	(Cast(PVL.CreatedDate as DATE)  BETWEEN @StartDate AND @EndDate)
	AND (PIV.FeeId=26 AND PIV.PaymentStatusId=2)		
ORDER BY SPI.CreatedDate DESC, ServiceTypeName DESC


END
GO
