USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_logCheck_processDriverCheck]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Adam Nosal
-- =============================================
create       PROCEDURE [dbo].[sch_logCheck_processDriverCheck] 
(
  @startDate datetime = '2020-08-30 10:00:00.000',
   @endDate datetime = '2020-08-30 14:50:00.000'
)
AS
BEGIN

declare @SearchId int =0;
  declare @SearchTerm nvarchar(100) ='';
  declare @SearchDate datetime ;
	 declare @ProcedureNesting int =1;
	declare @procedureNextingMax int =31;

  


  --declare @startDate datetime = '2020-08-30 00:00:00.000';
  --declare @endDate datetime = '2020-09-01 00:00:00.000';
INSERT INTO [cabs_dck].[JobSearchDriverCheckTempTable]
           ([SearchId]
		   ,[SearchTerm]
           ,[ExternalUserId]
           ,[SearchDate]
           ,[Name]
           ,[Email]
           ,[PhoneNo]
           ,[MethodName])
  select  [SearchId]
	  ,(LEFT(SUBSTRING([SearchTerm], PATINDEX('%[0-9.-]%', [SearchTerm]), 8000),
           PATINDEX('%[^0-9.-]%', SUBSTRING([SearchTerm], PATINDEX('%[0-9.-]%', [SearchTerm]), 8000) + 'X') -1)) as SearchTerm
      ,[ExternalUserId]
      ,[SearchDate]
      ,[Name]
      ,[Email]
      ,[PhoneNo]
      ,[MethodName] 
  FROM [cabs_production].[cabs_dck].[DriverCheckLog]
  where SearchDate between @startDate and @endDate
  order by SearchDate asc;
  
  if((select count(*) from [cabs_dck].[JobSearchDriverCheckTempTable] ) =0) 
  return;
  
DECLARE db_seachCursor CURSOR FOR 
select s.SearchId, s.SearchTerm, s.SearchDate from [cabs_dck].[JobSearchDriverCheckTempTable] s

	
OPEN db_seachCursor   

FETCH NEXT FROM db_seachCursor INTO @SearchId, @SearchTerm, @SearchDate
WHILE @@FETCH_STATUS = 0
BEGIN
  
	execute [dbo].[sch_logCheck_DriverCheckSearchElement]
	@SearchId,
	@SearchTerm, 
	@SearchDate,
	@ProcedureNesting
	;
	
	
	FETCH NEXT FROM db_seachCursor  INTO  @SearchId, @SearchTerm, @SearchDate

END
CLOSE db_seachCursor 
DEALLOCATE db_seachCursor 



--select * from [cabs_dck].[JobSearchDriverCheckTempTable];
--select * from  [cabs_dck].[JobSearchDriverCheckLog];

--truncate table [cabs_dck].[JobSearchDriverCheckTempTable];
----drop table if exists [cabs_dck].[JobSearchDriverCheckTempTable];
--truncate table [cabs_dck].[JobSearchDriverCheckLog];
----drop table if exists [cabs_dck].[JobSearchDriverCheckLog];


END
GO
