USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[WavGrantStatus_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WavGrantStatus_SelectAll]
AS
BEGIN

	SET NOCOUNT ON;
	SELECT [WavGrantStatusId]
      ,[Description]
      ,[Active]
  FROM [cabs_production].[dbo].[WavGrantStatus]
END
GO
