USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_VehicleDetails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_VehicleDetails]
AS
SELECT     dbo.VehicleMaster.RegistrationNumber, dbo.VehicleMaster.VehicleAge, dbo.VehicleMaster.VIN, dbo.VehicleMaster.EngineCapacity, dbo.VehicleMaster.TurboDieselYn, 
                      dbo.VehicleMaster.NumberPassengers, dbo.VehicleMaster.NumberSeats, dbo.VehicleMaster.NumberDoors, dbo.VehicleMaster.YearOfManufacture, 
                      dbo.VehicleMaster.RegistrationDateOrigin, dbo.VehicleMaster.RegistrationDateIreland, dbo.VehicleMaster.VrtVehicleCategory, dbo.VehicleMaster.NctSerialNumber, 
                      dbo.VehicleMaster.NctIssueDate, dbo.VehicleMaster.NctExpiryDate, dbo.VehicleMaster.InsuranceClassCorrect, dbo.VehicleMaster.InsuranceExpiryDate, 
                      dbo.VehicleMaster.PermissibleMassGvw, dbo.VehicleMaster.TypeApprovalCategory, dbo.VehicleMaster.TypeApprovalNumber, dbo.VehicleMaster.SimiCode, 
                      dbo.VehicleMaster.MileageReading, dbo.VehicleMaster.ExcessWindowTint, dbo.VehicleMaster.DataCheckedDate, dbo.VehicleMaster.RoofSignSticker, 
                      dbo.VehicleMaster.MeterSealed, dbo.VehicleFuelType.FuelType, dbo.VehicleBodyType.BodyType, dbo.VehicleColour.Colour, dbo.VehicleMake.Make, 
                      dbo.VehicleModel.Model, dbo.VehicleMaster.RegistrationDate
FROM         dbo.VehicleMaster LEFT OUTER JOIN
                      dbo.VehicleMake ON dbo.VehicleMaster.MakeId = dbo.VehicleMake.MakeId LEFT OUTER JOIN
                      dbo.VehicleBodyType ON dbo.VehicleMaster.BodyTypeId = dbo.VehicleBodyType.BodyTypeId LEFT OUTER JOIN
                      dbo.VehicleFuelType ON dbo.VehicleMaster.FuelTypeId = dbo.VehicleFuelType.FuelTypeId LEFT OUTER JOIN
                      dbo.VehicleColour ON dbo.VehicleMaster.ColourId = dbo.VehicleColour.ColourId LEFT OUTER JOIN
                      dbo.VehicleModel ON dbo.VehicleMaster.ModelId = dbo.VehicleModel.ModelId
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[54] 4[3] 2[40] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "VehicleMaster"
            Begin Extent = 
               Top = 130
               Left = 338
               Bottom = 451
               Right = 542
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VehicleMake"
            Begin Extent = 
               Top = 22
               Left = 654
               Bottom = 141
               Right = 814
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VehicleBodyType"
            Begin Extent = 
               Top = 156
               Left = 23
               Bottom = 275
               Right = 186
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VehicleFuelType"
            Begin Extent = 
               Top = 308
               Left = 33
               Bottom = 427
               Right = 193
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VehicleColour"
            Begin Extent = 
               Top = 15
               Left = 22
               Bottom = 134
               Right = 182
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VehicleModel"
            Begin Extent = 
               Top = 25
               Left = 863
               Bottom = 134
               Right = 1023
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_VehicleDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'        Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_VehicleDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_VehicleDetails'
GO
