USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_SelectByBookingId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author, Jim O'Brien>
-- Create date: <Create Date, 27-Jan-2011>
-- Description:	<Description, Select the booking record for bookingId>
-- =============================================
CREATE PROCEDURE [dbo].[Booking_SelectByBookingId]
(
@BookingId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT	    b.BookingId,
			B.ParentId,
			b.InspectionTimeId,
			vIT.InspectionProcessID,
			vIT.InspectionProcessDescription,
			vIT.InspectionTypeID,
			vIT.InspectionTypeDescription,
			vIT.LicenceTypeId,
			vIT.LicenceType,
			vIT.InspectionTime,
			b.TestCentreId,
			tc.TestCentreName,
			b.TestCentreLaneId,
			tcl.TestCentreLaneName,
			tc.AddressLine1,
			tc.AddressLine2,
			tc.AddressLine3,
			b.BookingStatusId,
			bs.BookingStatusName,
			bs.VoidedBooking,
			b.SystemProcessId,
			spVL.ProcessName,
			b.BookingDateTime,
			b.BookingEndDateTime,
			b.LicenceNumber,
			b.RegistrationNumber,
			b.BookingCancellationReasonId,
			bcr.BookingCancellationReason,
			b.NewLicenceHolderId,
			LateCancellation,
			LateReschedule,
			PremiumBooking,
			lhm.HolderName + ' ( ' + lhm.CCSN + ')' AS NewLicenceHolder,
			b.CreatedBy,
			b.CreatedDate,
			b.ModifiedBy,
			b.ModifiedDate,
			PR.RefundReasonId,
			PR.ReasonName,
			b.RequestedBy,
			b.ComplianceOfficerNumber

	FROM	dbo.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.TestCentreLanes tcl ON b.TestCentreLaneId = tcl.TestCentreLaneId
			INNER JOIN dbo.BookingStatus bs ON b.BookingStatusId = bs.BookingStatusId
			INNER JOIN dbo.SystemProcessVL spVL ON b.SystemProcessId = spVL.SystemProcessId
			INNER JOIN dbo.vw_inspectionTime vIT ON vIT.InspectionTimeId = b.InspectionTimeId
			LEFT OUTER JOIN dbo.LicenceHolderMaster lhm ON  lhm.LicenceHolderId = b.NewLicenceHolderId
			LEFT OUTER JOIN dbo.BookingCancellationReason bcr ON bcr.BookingCancellationReasonId = b.BookingCancellationReasonId
			LEFT OUTER JOIN dbo.BookingRefund BR ON BR.BookingId = B.BookingId
			LEFT OUTER JOIN dbo.PaymentItemVLRefundReason PR ON PR.RefundReasonId = BR.RefundReasonId
			
	WHERE	b.BookingId = @BookingId

END



GO
