USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemProcessInstanceVL_Update]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SystemProcessInstanceVL_Update]
(
@InstanceId int output,
@SystemProcessId int,
@LicenceNumber varchar(50),
@BookingId int,
@PaymentId int,
@StartDate datetime,
@EndDate datetime,
@Completed bit,
@CreatedBy nvarchar(50),	
@CreatedDate datetime,	
@ModifiedBy nvarchar(50),	
@ModifiedDate datetime output,
@Processed bit,
@ProcessDate datetime,
@Comments varchar(MAX),
@CallReferenceNumber int,
@RegisteredOwner bit,
@HiredPurchase bit,
@ModifiedVehicle bit,
@DeathCertDate datetime,
@VehicleInspectionDocumentId int
)

AS
BEGIN

SET NOCOUNT ON;

SET @ModifiedDate = GETDATE()

UPDATE [dbo].[SystemProcessInstanceVL]
SET	
[SystemProcessId] = @SystemProcessId,
[LicenceNumber] = @LicenceNumber,
[BookingId] = @BookingId,
[PaymentId] = @PaymentId,
[StartDate] = @StartDate,
[EndDate] = @EndDate,
[Completed] = @Completed,
[ModifiedBy] = @ModifiedBy,
[ModifiedDate] = @ModifiedDate,
[Processed] = @Processed,
[ProcessDate] = @ProcessDate,
[Comments] = @Comments,
[CallReferenceNumber] = @CallReferenceNumber,
[RegisteredOwner] = @RegisteredOwner,
[HiredPurchase] = @HiredPurchase,
[ModifiedVehicle] = @ModifiedVehicle,
[DeathCertDate] = @DeathCertDate,
[VehicleInspectionDocumentId] = @VehicleInspectionDocumentId
WHERE InstanceId = @InstanceId
END


GO
