USE [cabs_production]
GO
/****** Object:  Table [dbo].[PaymentRefundVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRefundVL](
	[RefundId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LicenceNumber] [varchar](50) NULL,
	[Amount] [smallmoney] NOT NULL,
	[BookingCancellationId] [int] NOT NULL,
	[RefundReasonId] [int] NOT NULL,
	[Comments] [varchar](500) NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PaymentRefundVL] PRIMARY KEY CLUSTERED 
(
	[RefundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [BookingCancellationId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [BookingCancellationId] ON [dbo].[PaymentRefundVL]
(
	[BookingCancellationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CreatedDate]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [CreatedDate] ON [dbo].[PaymentRefundVL]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RefundReasonId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [RefundReasonId] ON [dbo].[PaymentRefundVL]
(
	[RefundReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaymentRefundVL]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRefundVL_BookingCancellationReason] FOREIGN KEY([BookingCancellationId])
REFERENCES [dbo].[BookingCancellationReason] ([BookingCancellationReasonId])
GO
ALTER TABLE [dbo].[PaymentRefundVL] CHECK CONSTRAINT [FK_PaymentRefundVL_BookingCancellationReason]
GO
ALTER TABLE [dbo].[PaymentRefundVL]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRefundVL_LicenceMasterVL] FOREIGN KEY([LicenceNumber])
REFERENCES [dbo].[LicenceMasterVL] ([LicenceNumber])
GO
ALTER TABLE [dbo].[PaymentRefundVL] CHECK CONSTRAINT [FK_PaymentRefundVL_LicenceMasterVL]
GO
ALTER TABLE [dbo].[PaymentRefundVL]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRefundVL_PaymentItemVLRefundReason] FOREIGN KEY([RefundReasonId])
REFERENCES [dbo].[PaymentItemVLRefundReason] ([RefundReasonId])
GO
ALTER TABLE [dbo].[PaymentRefundVL] CHECK CONSTRAINT [FK_PaymentRefundVL_PaymentItemVLRefundReason]
GO
