USE [cabs_production]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodId] [int] NOT NULL,
	[PaymentMethodName] [varchar](50) NOT NULL,
	[ReferenceFieldRequired] [bit] NULL,
	[PaymentGatewayRequired] [bit] NULL,
	[RefundablePayment] [bit] NULL,
	[AllowedRoles] [varchar](1000) NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
