USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LetterRequestTypeVL_Update]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <1/12/2010>
-- Update: Aleh Holub <09/02/2015>
-- =============================================
CREATE PROCEDURE [dbo].[LetterRequestTypeVL_Update] 
	-- Add the parameters for the stored procedure here
(	
	@LetterRequestTypeId tinyint,
	@LetterRequestTypeDescription varchar(100),	
	@FileContent varbinary(max),
	@LetterCode	varchar(20),
	@NumPages int,
	@PrintStyle	varchar(10),
	@EnvelopeType varchar(5),
	@AllowedRoles varchar(200),	
	@PrintCompanyId int,
	@ModifiedBy nvarchar(20),
	@ModifiedDate datetime output,
	@CreatedDate datetime,
	@CreatedBy nvarchar(20),
	@IntroductionEmailText nvarchar(500)
	
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @ModifiedDate = getdate()

	UPDATE dbo.LetterRequestTypeVL
	set
	
		LetterRequestTypeDescription = @LetterRequestTypeDescription,
		FileContent = @FileContent,		
		LetterCode = @LetterCode,
		NumPages = @NumPages,
		PrintStyle = @PrintStyle,
		EnvelopeType = @EnvelopeType,
		PrintCompanyId  = @PrintCompanyId,			
		ModifiedBy = @ModifiedBy,	
		ModifiedDate = @ModifiedDate,
		CreatedDate = @CreatedDate,
		AllowedRoles = @AllowedRoles,
		CreatedBy = @CreatedBy,
		IntroductionEmailText = @IntroductionEmailText

	WHERE 
		LetterRequestTypeId = @LetterRequestTypeId
END

/****** Object:  StoredProcedure [dbo].[LetterRequestTypeVL_Insert]    Script Date: 09/02/2015 11:36:45 ******/
SET ANSI_NULLS ON
GO
