USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_MoneyCollected_Skills]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RPT_MoneyCollected_Skills]
(
@StartDate datetime = NULL,
@EndDate datetime = NULL
) as 
begin

SET NOCOUNT ON;

declare @SP_StartDate date = convert(date, @StartDate)
declare @SP_EndDate date = convert(date, @EndDate)

SELECT DISTINCT 
		PVL.PaymentId, 
		PVL.Amount,
		PVL.CreatedDate,
		PM.PaymentMethodName,
		PVL.PaymentReference,
		PVL.Comment,
		'Skills Booking' as ServiceTypeName,
		PVL.CreatedBy,
		b.ID 'ConfirmationNumber',
		'Skills Test' As InspectionType, 
		test.Name AS ProcessName
FROM dbo.PaymentVL PVL with (nolock)
	INNER JOIN dbo.PaymentMethod PM with (nolock) ON PM.PaymentMethodId = PVL.PaymentMethodId
		INNER JOIN dbo.ServiceTypeVL ST with (nolock) ON ST.ServiceTypeId = PVL.ServiceTypeId
	INNER JOIN cabs_sk.BookingPayment BP with (nolock) ON BP.PaymentId = PVL.PaymentId
		INNER JOIN cabs_sk.Booking b with (nolock) ON b.ID = BP.BookingId
		INNER JOIN  cabs_sk.Test test with (nolock) ON b.TestID = test.ID

WHERE 
Cast(PVL.CreatedDate as DATE)  BETWEEN @SP_StartDate AND @SP_EndDate 

END
GO
