USE [cabs_production]
GO
/****** Object:  Table [dbo].[OperatingDayTimePeriod]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperatingDayTimePeriod](
	[OperatingDayTimePeriodId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DayId] [int] NOT NULL,
	[OperatingTimePeriodId] [int] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_OperatingDayTimePeriod] PRIMARY KEY CLUSTERED 
(
	[OperatingDayTimePeriodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_OperatingDayTimePeriod]    Script Date: 14/04/2022 13:21:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OperatingDayTimePeriod] ON [dbo].[OperatingDayTimePeriod]
(
	[DayId] ASC,
	[OperatingTimePeriodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OperatingDayTimePeriod] ADD  CONSTRAINT [DF_OperatingDayTimePeriod_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[OperatingDayTimePeriod] ADD  CONSTRAINT [DF_OperatingDayTimePeriod_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OperatingDayTimePeriod] ADD  CONSTRAINT [DF_OperatingDayTimePeriod_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[OperatingDayTimePeriod] ADD  CONSTRAINT [DF_OperatingDayTimePeriod_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[OperatingDayTimePeriod]  WITH CHECK ADD  CONSTRAINT [FK_OperatingDayTimePeriod_DaysOfTheWeek] FOREIGN KEY([DayId])
REFERENCES [dbo].[DaysOfTheWeek] ([DayId])
GO
ALTER TABLE [dbo].[OperatingDayTimePeriod] CHECK CONSTRAINT [FK_OperatingDayTimePeriod_DaysOfTheWeek]
GO
ALTER TABLE [dbo].[OperatingDayTimePeriod]  WITH CHECK ADD  CONSTRAINT [FK_OperatingDayTimePeriod_OperatingTimePeriod] FOREIGN KEY([OperatingTimePeriodId])
REFERENCES [dbo].[OperatingTimePeriod] ([OperatingTimePeriodId])
GO
ALTER TABLE [dbo].[OperatingDayTimePeriod] CHECK CONSTRAINT [FK_OperatingDayTimePeriod_OperatingTimePeriod]
GO
