USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetCOVLicence]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_GetCOVLicence] 
	(
	 @LicenceNumber varchar(20)
)    
	RETURNS varchar(20)
AS
BEGIN    

DECLARE @LNO varchar(20)

	Set @LNO = (  SELECT  top(1)  a.LicenceNumber
								  FROM  LicenceMasterVLAudit AS a INNER JOIN
								  HistoryChangeType AS h ON a.HistoryChangeId = h.HistoryChangeID
								  WHERE (a.LicenceNumber = @LicenceNumber and a.AuditDate>'01/01/2013' and h.HistoryChangeID in ( 4,7,39 ,62))
								  order by id desc )
	
	RETURN @LNO
END


GO
