USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[USP_DWH_WAVRegister]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_DWH_WAVRegister] 
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
	
select 
DriverLicenceNumber, VehicleLicenseNumber, StartDate, EndDate 
into #LinkedVehicle 
from cabs_production.cabs_dvl.VehicleDriver with (nolock)
	where IsActive=1 
	and (WasLinkBroken is null OR WasLinkBroken=0) 
	and (IsExpired is null OR IsExpired=0)
	and StartDate <= getdate() AND (EndDate > getdate() OR EndDate IS NULL)


	 Select
	 LM.LicenceNumber As Licence_Nbr
	 ,LS.LicenceStateMaster As Status
	 ,LHM.HolderName As HolderName
	 ,LINK.DriverLicenceNumber AS Linked_DriverLicenceNumber
	 ,LINK.StartDate AS Link_StartDate
	 ,LINK.EndDate AS Link_EndDate
	 ,IIF(LINK.VehicleLicenseNumber is null, 'No', 'Yes')  AS ActiveLink
	 ,ISNULL(LHM.Town,'') As Town
	 ,stuff((SELECT distinct ', ' + cast(co.CountyName as varchar(1000))				  
					 FROM [dbo].[WatServiceProvisionCounty] ws inner join 
					[dbo].County co On ws.[CountyId]=co.[CountyId] AND LM.LicenceNumber =ws.LicenceNumberId 				
					 FOR XML PATH('')),1,1,'') as AreaOfOperation
	,ISNULL(w.Email,'') AS Email
	,ISNULL(w.ContactNumberBookings,'') AS ContactNumberBookings
	,ISNULL(w.WebSite,'') AS WebSite
	,VM.OccupancyWithWheelchair
	,ISNULL(d.CompanyOwnerName,'') as AffiliatedDO
	,wgs.Description AS WavGrant
	,w.WavGrantExpiryDate AS WavGrantExpiry
	,LM.RegistrationNumber As Reg_Nbr 
	,vMake.Make
	,vModel.Model
	,vColour.Colour
From 
	dbo.LicenceMasterVL As LM 
	join VehicleMaster VM On LM.RegistrationNumber=VM.RegistrationNumber
	join VehicleColour vColour on vColour.ColourId = VM.ColourId
	join VehicleMake vMake on vMake.MakeId = Vm.MakeId
	join VehicleModel vModel on vModel.ModelId = VM.ModelId

	join  [dbo].[LicenceHolderMaster] LHM ON LM.LicenceHolderId=LHM.LicenceHolderId
	left join #LinkedVehicle LINK ON LINK.VehicleLicenseNumber=LM.LicenceNumber

	join WatRegister w On LM.LicenceNumber=w.[LicenceNumber]
	left outer join [dbo].[DispatchOperatorMaster] d On w.[DispatchOperatorId]=d.[LicenceHolderId]
	left outer join LicenceStateMaster LS On LM.LicenceStateMasterId=LS.LicenceStateMasterId
	join [dbo].[WavGrantStatus] wgs on wgs.WavGrantStatusId = w.WavGrantStatusID		 
Where 
	LM.LicenceStateMasterId=4 AND 
	LM.LicenceTypeId in (4,6)
order by LM.LicenceNumber asc

drop table #LinkedVehicle

END
GO
