USE [cabs_production]
GO
/****** Object:  Table [dbo].[ReportVLSection]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportVLSection](
	[ReportVLSectionId] [int] IDENTITY(1,1) NOT NULL,
	[ReportVLSectionName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportVLSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
