USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[EVGrantStatus_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EVGrantStatus_SelectAll]
AS
BEGIN

	SET NOCOUNT ON;
	SELECT [EVGrantStatusId], [Description], [Active]
	FROM [cabs_production].[dbo].[EVGrantStatus]
END
GO
