USE [cabs_production]
GO
/****** Object:  Table [dbo].[TestCentre]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCentre](
	[TestCentreId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestCentreName] [varchar](50) NOT NULL,
	[RegionId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[AddressLine1] [nvarchar](50) NULL,
	[AddressLine2] [nvarchar](50) NULL,
	[AddressLine3] [nvarchar](50) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyId] [int] NOT NULL,
	[PostCode] [varchar](10) NULL,
	[CountryId] [int] NOT NULL,
	[ContactName] [nvarchar](50) NOT NULL,
	[ContactNumberPrimary] [varchar](15) NOT NULL,
	[ContactNumberSecondary] [varchar](15) NULL,
	[Email] [nvarchar](30) NULL,
	[Active] [bit] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CICapability] [bit] NULL,
	[Eircode] [varchar](7) NULL,
 CONSTRAINT [PK_TestCentre] PRIMARY KEY CLUSTERED 
(
	[TestCentreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCentre] ADD  CONSTRAINT [DF_TestCentre_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TestCentre] ADD  CONSTRAINT [DF_TestCentre_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TestCentre] ADD  CONSTRAINT [DF_TestCentre_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[TestCentre] ADD  CONSTRAINT [DF_TestCentre_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[TestCentre]  WITH CHECK ADD  CONSTRAINT [FK_TestCentre_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[TestCentre] CHECK CONSTRAINT [FK_TestCentre_Company]
GO
ALTER TABLE [dbo].[TestCentre]  WITH CHECK ADD  CONSTRAINT [FK_TestCentre_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[TestCentre] CHECK CONSTRAINT [FK_TestCentre_Country]
GO
ALTER TABLE [dbo].[TestCentre]  WITH CHECK ADD  CONSTRAINT [FK_TestCentre_County] FOREIGN KEY([CountyId])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [dbo].[TestCentre] CHECK CONSTRAINT [FK_TestCentre_County]
GO
ALTER TABLE [dbo].[TestCentre]  WITH CHECK ADD  CONSTRAINT [FK_TestCentre_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([RegionId])
GO
ALTER TABLE [dbo].[TestCentre] CHECK CONSTRAINT [FK_TestCentre_Region]
GO
