USE [cabs_production]
GO
/****** Object:  Table [dbo].[SystemProcessVLAllowedLicenceState]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemProcessVLAllowedLicenceState](
	[SystemProcessId] [int] NOT NULL,
	[LicenceStateId] [tinyint] NOT NULL,
 CONSTRAINT [PK_SystemProcessVLAllowedLicenceState] PRIMARY KEY CLUSTERED 
(
	[SystemProcessId] ASC,
	[LicenceStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemProcessVLAllowedLicenceState]  WITH CHECK ADD  CONSTRAINT [FK_SystemProcessVLAllowedLicenceState_LicenceState] FOREIGN KEY([LicenceStateId])
REFERENCES [dbo].[LicenceState] ([LicenceStateId])
GO
ALTER TABLE [dbo].[SystemProcessVLAllowedLicenceState] CHECK CONSTRAINT [FK_SystemProcessVLAllowedLicenceState_LicenceState]
GO
ALTER TABLE [dbo].[SystemProcessVLAllowedLicenceState]  WITH CHECK ADD  CONSTRAINT [FK_SystemProcessVLAllowedLicenceState_SystemProcessVL] FOREIGN KEY([SystemProcessId])
REFERENCES [dbo].[SystemProcessVL] ([SystemProcessId])
GO
ALTER TABLE [dbo].[SystemProcessVLAllowedLicenceState] CHECK CONSTRAINT [FK_SystemProcessVLAllowedLicenceState_SystemProcessVL]
GO
