USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[County_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[County_SelectAll]

AS
BEGIN
	SET NOCOUNT ON;

	SELECT CountyId, CountyName, IrishName, HasPostcode 
	FROM dbo.County
	WHERE CountyName <> ''
	
END
GO
