USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[_to_drop_RPT_Money_Collected_VLS_Header]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Syed
-- Create date: 30-June-2014
-- =============================================
CREATE PROCEDURE [dbo].[_to_drop_RPT_Money_Collected_VLS_Header]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;

WITH MONEYREPORT AS (SELECT	DISTINCT 
		PVL.PaymentId, PVL.Amount AS Amount,
		PVL.CreatedDate,
		PVL.LicenceNumber,
			case PVL.[PaymentMethodId]
			WHEN 1 THEN 'Credit/Debit Card'
			WHEN 2 THEN 'Cheque'
			WHEN 3 THEN 'Waivered – SGS'
			WHEN 4 THEN 'Waivered – NTA'
			WHEN 5 THEN 'Bank draft/PO'
			WHEN 6 THEN 'Waivered – Applus'
			WHEN 7 THEN 'Waivered – Abtran'
			WHEN 8 THEN 'No Fee'
		ELSE ''
		END AS PaymentMethodName		
FROM dbo.PaymentVL PVL
INNER JOIN dbo.PaymentMethod PM ON PM.PaymentMethodId = PVL.PaymentMethodId
INNER JOIN dbo.ServiceTypeVL ST ON ST.ServiceTypeId = PVL.ServiceTypeId
LEFT OUTER JOIN dbo.BookingPayment BP ON BP.PaymentId = PVL.PaymentId
LEFT OUTER JOIN dbo.Booking B ON B.BookingId = BP.BookingId
LEFT OUTER JOIN dbo.InspectionTime IT ON IT.InspectionTimeId = B.InspectionTimeId
LEFT OUTER JOIN dbo.InspectionType ITY ON ITY.InspectionTypeId = IT.InspectionTypeId
left outer join dbo.SystemProcessInstanceVL SPIVL on SPIVL.PaymentId = PVL.PaymentId and SPIVL.Completed = 1
WHERE Cast(PVL.CreatedDate as DATE)  BETWEEN @StartDate AND @EndDate
and (SPIVL.SystemProcessId is not null or PVL.CreatedDate < (select CONVERT(DateTime, ParameterValue) from dbo.SystemParameter
WHERE ParameterName = 'CABS_Launch_Date' )) AND SPIVL.Completed = 1
) SELECT PaymentId,Amount,CreatedDate,LicenceNumber,PaymentMethodName
from MONEYREPORT
		
END








GO
