USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_CheckConfig]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <26-Apr-2011>
-- Description:	Check the booking table if there is a config
-- Update by:	<Pawel Maciejewski>
-- Update date: <13-July-2017>
-- Update info: Reduce the amount of data retrieved from the database and retrieve booking status; get data from skills booking table too
-- Update 2 by:	<Pawel Maciejewski>
-- Update 2 date: <21-August-2017>
-- Update 2 info: Check also VoidedBooking for not consider cancelled bookings
-- =============================================

CREATE PROCEDURE [dbo].[Booking_CheckConfig]
(
	@TestCentreId int,
	@StartDate DateTime,
	@EndDate DateTime,
	@TestCentreLaneId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT
	b.BookingId,
	b.BookingStatusId,
	s.BookingStatusName,
	s.VoidedBooking,
	b.TestCentreId,			
	b.TestCentreLaneId,		
	b.BookingDateTime,
	b.BookingEndDateTime
			
	FROM	
		(
			SELECT BookingId, BookingStatusId, TestCentreId, TestCentreLaneId, BookingDateTime, BookingEndDateTime
			FROM dbo.Booking
			UNION ALL
			SELECT ID as BookingId, StatusID as BookingStatusId, TestCentreId, TestCentreLaneId, StartDateTime as BookingDateTime, EndDateTime as BookingEndDateTime
			FROM cabs_sk.Booking
		) b

	INNER JOIN dbo.BookingStatus s ON b.BookingStatusId=s.BookingStatusId
	
	WHERE b.TestCentreId = @TestCentreId
			AND b.TestCentreLaneId = @TestCentreLaneId 
			AND b.BookingDateTime BETWEEN @StartDate AND @EndDate
			AND s.VoidedBooking = 0
END
GO
