USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceMasterVLAudit_SelectByLicenceHolderId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LicenceMasterVLAudit_SelectByLicenceHolderId]

(
@LicenceHolderId int
)


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT	
*
FROM vLicenceMasterVLAudit
WHERE LicenceHolderId = @LicenceHolderId


END
GO
