USE [cabs_production]
GO
/****** Object:  Table [dbo].[WatRegister]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatRegister](
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[DispatchOperatorId] [int] NULL,
	[Email] [nvarchar](255) NULL,
	[ContactNumberBookings] [nvarchar](255) NULL,
	[ContactNumberMobile] [nvarchar](255) NULL,
	[WebSite] [nvarchar](255) NULL,
	[Comments] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[WavGrantStatusID] [int] NULL,
	[WavGrantExpiryDate] [smalldatetime] NULL,
 CONSTRAINT [PK_WatRegister_1] PRIMARY KEY CLUSTERED 
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WatRegister] ADD  CONSTRAINT [DF_WatRegister_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[WatRegister] ADD  CONSTRAINT [DF_WatRegister_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[WatRegister] ADD  CONSTRAINT [DF_WatRegister_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[WatRegister] ADD  CONSTRAINT [DF_WatRegister_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[WatRegister] ADD  DEFAULT ((1)) FOR [WavGrantStatusID]
GO
ALTER TABLE [dbo].[WatRegister]  WITH CHECK ADD  CONSTRAINT [FK_WatRegister_WavGrantStatus] FOREIGN KEY([WavGrantStatusID])
REFERENCES [dbo].[WavGrantStatus] ([WavGrantStatusId])
GO
ALTER TABLE [dbo].[WatRegister] CHECK CONSTRAINT [FK_WatRegister_WavGrantStatus]
GO
