USE [cabs_production]
GO
/****** Object:  Table [dbo].[Representative]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Representative](
	[RepresentativeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[AddressLine1] [nvarchar](50) NOT NULL,
	[AddressLine2] [nvarchar](50) NULL,
	[AddressLine3] [nvarchar](50) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyId] [int] NULL,
	[PostCode] [varchar](40) NULL,
	[DateOfBirth] [datetime] NULL,
	[PhoneNo1] [varchar](40) NULL,
	[PhoneNo2] [varchar](40) NULL,
	[Email] [nvarchar](50) NULL,
	[HistoryChangeId] [int] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LicenceHolderRepresentative] PRIMARY KEY CLUSTERED 
(
	[RepresentativeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Representative]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderRepresentative_CountyId] FOREIGN KEY([CountyId])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [dbo].[Representative] CHECK CONSTRAINT [FK_LicenceHolderRepresentative_CountyId]
GO
ALTER TABLE [dbo].[Representative]  WITH CHECK ADD  CONSTRAINT [FK_Representative_HistoryChangeType] FOREIGN KEY([HistoryChangeId])
REFERENCES [dbo].[HistoryChangeType] ([HistoryChangeID])
GO
ALTER TABLE [dbo].[Representative] CHECK CONSTRAINT [FK_Representative_HistoryChangeType]
GO
