USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[VEHICLEASSOICATEDON]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function [dbo].[VEHICLEASSOICATEDON]
	(
		@Date nvarchar(100),
		@licenceNumber nvarchar(20)
	)
	returns int
AS
BEGIN

	DECLARE @WasExchanged integer;
	DECLARE @VehicleWasChangedOnOrBefore integer;
	DECLARE @VehicleWasChangedAfter integer;
	DECLARE @LicenceGrantedAfter integer;
	DECLARE @NewLicenceGrantedAfter integer;
	DECLARE @WasGrantedBeforeAndNoCOVSince integer;
	
	 
	--the sliding scale rule is only carried forward in the specific case where an exchange is completed within three years.
    --but best to say NO in these scenarios, as the sliding scale rule will not apply at WAT 
	SET @WasExchanged = (Select count(*) from LicenceMasterVL l 
                    Where
					 l.LicenceNumber IN
                    (Select a.licencenumber from LicenceMasterVLAudit a where a.historychangeid in (53)  					
                    AND a.AuditDate> DATEADD(Year,-3,GETDATE()))
                    AND l.LicenceTypeId in (4)
					AND l.LicenceNumber = @licenceNumber)
    --a) Vehicle on licence was changed before @CreatedDate
    -- Vehicle on licence was changed on @CreatedDate
    SET @VehicleWasChangedOnOrBefore = (Select count(*) from LicenceMasterVL l 
                        join Booking b On l.LicenceNumber = b.LicenceNumber
                        join VehicleInspections vi On b.BookingId=vi.BookingId
                      Where b.SystemProcessId in (7,9,13,21,24)
                        AND DATEADD(dd, 0, DATEDIFF(dd, 0, vi.TestEndTime)) <= @Date
                        AND vi.TestResultId in (1,4)
						AND b.BookingStatusId=3
                        AND l.LicenceNumber = @licenceNumber)

    --(b):Vehicle on licence was changed after @CreatedDate
	SET @VehicleWasChangedAfter = (Select count(*) from LicenceMasterVL l 
                        join Booking b On l.LicenceNumber = b.LicenceNumber
                        join VehicleInspections vi On b.BookingId=vi.BookingId
                      Where b.SystemProcessId in (7,9,13,21,24)
                        AND DATEADD(dd, 0, DATEDIFF(dd, 0, vi.TestEndTime)) > @Date
                        AND vi.TestResultId in (1,4)
						AND b.BookingStatusId=3
                        AND l.LicenceNumber = @licenceNumber)
	--//FYO: SystemProcessVL: 7 - Change of Vehicle, 9 - Transfer + Change of Vehicle, 13 - Late Change of Vehicle  , 21 - Section 15 Transfer + COV

	--(c):Licence granted after @CreatedDate
	SET @LicenceGrantedAfter = (Select count(*)  from LicenceMasterVL l
                        join Booking b On l.LicenceNumber=b.LicenceNumber
                        join VehicleInspections vi On b.BookingId=vi.BookingId
                      Where b.SystemProcessId = 11
                        AND vi.TestResultId =1
						AND b.BookingStatusId=3
                        AND DATEADD(dd, 0, DATEDIFF(dd, 0, vi.TestEndTime)) > @Date
                        AND l.LicenceNumber = @licenceNumber)

	-- //(d): New LIcence granted after @CreatedDate 
	SET @NewLicenceGrantedAfter = (Select count(*) from LicenceMasterVL l 
                        join LicenceMasterVLAudit la On l.LicenceNumber = la.LicenceNumber
                      Where 
                        la.HistoryChangeId = 47
                        AND DATEADD(dd, 0, DATEDIFF(dd, 0, la.[AuditDate])) > @Date                        
                        AND l.LicenceNumber = @licenceNumber)
	--(e):
    --   Licence granted before associationdate (and no COV since association date)
    --   Licence granted on association date (and no COV since)
	SET @WasGrantedBeforeAndNoCOVSince = (Select count(*) from LicenceMasterVL l                         
                      Where                                                
						 l.LicenceNumber not in (Select top 1 la.LicenceNumber from LicenceMasterVLAudit la
							Where la.LicenceNumber=@licenceNumber AND HistoryChangeId in (4,7,39,57,58,62) AND DATEADD(dd, 0, DATEDIFF(dd, 0, la.[AuditDate]))>= @Date order by id desc)                 
						AND  l.PlateNumber in (Select top 1 lm.PlateNumber from LicenceMasterVLAudit lm
							Where lm.LicenceNumber=@licenceNumber AND DATEADD(dd, 0, DATEDIFF(dd, 0, lm.LicenceIssueDate)) <= @Date AND lm.LicenceIssueDate Is Not NULL order by lm.LicenceIssueDate asc)
                        AND l.LicenceNumber = @licenceNumber)

     if (@WasExchanged > 0)
        return 0; -- no
     if (@WasGrantedBeforeAndNoCOVSince > 0)
         return 1;  -- yes                        
     if (@VehicleWasChangedAfter > 0)
         return 0;  -- no
     if (@LicenceGrantedAfter > 0)
         return 0;  -- no
     if (@NewLicenceGrantedAfter> 0)
         return 0; -- no
     if ( @VehicleWasChangedOnOrBefore > 0)
         return 1  -- yes
	return -1;
END

GO
