USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_CheckIncorrectBranding]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Adam Nosal
-- Create date: 10-Dec-2019
-- Description:	Job checks if There are incorrect branding information as per NTACABS-2412
--
--
-- =============================================
CREATE  PROCEDURE [dbo].[sch_CheckIncorrectBranding] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	declare @mailbody nvarchar(max) = '';
	declare @Vl nvarchar(50);
declare @active int ;
declare @count int;

	SELECT vehiclelicencenumber, isactive, COUNT(*) as NumberofActiveBrandings
	into #IncorrectBrandingTable
FROM cabs_tds.SignageInstallation
GROUP BY VehicleLicenceNumber, IsActive
HAVING COUNT(*) > 1 and IsActive=1

--Testing Purposes
--insert into #IncorrectBrandingTable (vehiclelicencenumber, isactive,NumberofActiveBrandings)
--values ( 'test',1,12);
--insert into #IncorrectBrandingTable (vehiclelicencenumber, isactive,NumberofActiveBrandings)
--values ( 'test2',1,14);
	
	IF ((Select Count(*) from #IncorrectBrandingTable)>0)
begin 

set @mailbody = 'There are incorrect branding information as per NTACABS-2412
-- <br/> From Procedure [sch_CheckIncorrectBranding] <br/>';

DECLARE branding_Cursor CURSOR FOR  
SELECT vehiclelicencenumber, isactive,NumberofActiveBrandings
FROM #IncorrectBrandingTable;

OPEN branding_Cursor;  
FETCH NEXT FROM branding_Cursor INTO @VL, @active, @count;  
WHILE @@FETCH_STATUS = 0  
   BEGIN  
    set   @mailbody   += 'VL : ' + @VL + ' active : '  + CONVERT(varchar(10),@active) + ' Count: ' + CONVERT(varchar(10),@count) + ' <br/> ' ;
	FETCH NEXT FROM branding_Cursor INTO @VL, @active, @count;  
   END 

CLOSE branding_Cursor;  
DEALLOCATE branding_Cursor;  


set @mailbody += 'Sincerly, <br/> Your Humble CheckIncorrectBranding Job <br/> ';

drop table if exists #IncorrectBrandingTable;

--send email
 exec msdb.dbo.sp_send_dbmail 
 @profile_name                  = 'CABS',        
   @recipients                    = 'sdalton@openskydata.com;anosal@openskydata.com;kbyrne@openkydata.com;lbator@openskydata.com',
   @copy_recipients             = NULL,
   @blind_copy_recipients       = NULL,
   @subject                   = 'IncorrectBranding FAIL - PRODUCTION',
   @body                       = @mailbody, 
   @body_format                = 'HTML', 
   @importance                  = 'NORMAL',
   @sensitivity                 = 'NORMAL',
   @file_attachments          = NULL,  
   @query                       = NULL,
   @execute_query_database          = NULL,  
   @attach_query_result_as_file           = 0,
   @query_attachment_filename   = NULL,  
   @query_result_header                  = 1,
   @query_result_width                    = 256,            
   @query_result_separator            = ' ',
   @exclude_query_output                  = 0,
   @append_query_error                    = 0,
   @query_no_truncate                     = 0,
   @query_result_no_padding               = 0,
   @mailitem_id                           = NULL,
   @from_address                 = NULL,
   @reply_to                     = NULL

   end 



		
END



GO
