USE [cabs_production]
GO
/****** Object:  Table [dbo].[PaymentOrdersVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentOrdersVL](
	[OrderID] [int] IDENTITY(4000,1) NOT FOR REPLICATION NOT NULL,
	[PaymentId] [int] NOT NULL,
	[RealexPaymentReference] [varchar](50) NULL,
	[OrderDate] [datetime] NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentStatusId] [int] NULL,
	[AuthorizationCode] [varchar](50) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PaymentOrdersVL] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaymentOrdersVL]  WITH CHECK ADD  CONSTRAINT [FK_PaymentOrdersVL_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[PaymentStatus] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[PaymentOrdersVL] CHECK CONSTRAINT [FK_PaymentOrdersVL_PaymentStatus]
GO
ALTER TABLE [dbo].[PaymentOrdersVL]  WITH CHECK ADD  CONSTRAINT [FK_PaymentOrdersVL_PaymentVL] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[PaymentVL] ([PaymentId])
GO
ALTER TABLE [dbo].[PaymentOrdersVL] CHECK CONSTRAINT [FK_PaymentOrdersVL_PaymentVL]
GO
