USE [cabs_production]
GO
/****** Object:  Table [dbo].[TransactionAuditLog]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionAuditLog](
	[AuditId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransactionAuditTypeID] [int] NOT NULL,
	[HistoryChangeTypeID] [int] NULL,
	[TransactionUniqueKey] [uniqueidentifier] NULL,
	[AuditDateTime] [datetime] NOT NULL,
	[LicenceHolderId] [int] NULL,
	[LicenceNumber] [nvarchar](50) NULL,
	[VehicleId] [int] NULL,
	[FieldName] [nvarchar](50) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NOT NULL,
	[CreatedBy] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[TableName] [varchar](200) NULL,
	[RegistrationNumber] [varchar](200) NULL,
	[Comments] [varchar](100) NULL,
	[ModifiedVia] [nvarchar](20) NULL,
	[DriverLicenceHolderId] [int] NULL,
 CONSTRAINT [PK_TransactionAuditLog] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransactionAuditLog] ADD  CONSTRAINT [DF_TransactionAuditLog_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TransactionAuditLog] ADD  CONSTRAINT [DF_TransactionAuditLog_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TransactionAuditLog] ADD  CONSTRAINT [DF_TransactionAuditLog_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[TransactionAuditLog] ADD  CONSTRAINT [DF_TransactionAuditLog_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[TransactionAuditLog]  WITH CHECK ADD  CONSTRAINT [FK_TransactionAuditLog_TransactionAuditType] FOREIGN KEY([TransactionAuditTypeID])
REFERENCES [dbo].[TransactionAuditType] ([TransactionAuditTypeID])
GO
ALTER TABLE [dbo].[TransactionAuditLog] CHECK CONSTRAINT [FK_TransactionAuditLog_TransactionAuditType]
GO
