USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[BookingCancellationReason_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Jim O'Brien
-- Create date: 13-Dec-2010
-- Description:	Select all Booking Status
-- =============================================
CREATE PROCEDURE [dbo].[BookingCancellationReason_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SELECT	[BookingCancellationReasonID]
			,[BookingCancellationReason]
	FROM BookingCancellationReason 


END
GO
