USE [cabs_production]
GO
/****** Object:  Table [dbo].[VehicleMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleMaster](
	[RegistrationNumber] [varchar](10) NOT NULL,
	[VehicleAge]  AS (case when [RegistrationDateOrigin]<[RegistrationDateIreland] then CONVERT([decimal](18,2),datediff(day,[RegistrationDateOrigin],getdate()),(0))/(365) else CONVERT([decimal](18,2),datediff(day,[RegistrationDateIreland],getdate()),(0))/(365) end),
	[RegistrationDate]  AS (case when [RegistrationDateOrigin]<[RegistrationDateIreland] then [RegistrationDateOrigin] else [RegistrationDateIreland] end),
	[MakeId] [int] NOT NULL,
	[ModelId] [int] NULL,
	[BodyTypeId] [tinyint] NOT NULL,
	[FuelTypeId] [tinyint] NULL,
	[ColourId] [tinyint] NOT NULL,
	[TestCenterId] [smallint] NULL,
	[VIN] [varchar](22) NULL,
	[EngineCapacity] [smallint] NULL,
	[TurboDieselYn] [bit] NOT NULL,
	[ModifiedYn] [bit] NOT NULL,
	[NumberPassengers] [tinyint] NOT NULL,
	[NumberSeats] [tinyint] NOT NULL,
	[NumberDoors] [tinyint] NOT NULL,
	[YearOfManufacture] [smallint] NOT NULL,
	[RegistrationDateOrigin] [datetime] NOT NULL,
	[RegistrationDateIreland] [datetime] NOT NULL,
	[VrtVehicleCategory] [varchar](20) NULL,
	[NctSerialNumber] [nvarchar](50) NULL,
	[NctIssueDate] [smalldatetime] NULL,
	[NctExpiryDate] [smalldatetime] NULL,
	[LastDocumentationCheckDate] [datetime] NULL,
	[InsuranceExpiryDate] [smalldatetime] NULL,
	[InsuranceClassCorrect] [bit] NOT NULL,
	[TypeApprovalNumber] [varchar](50) NULL,
	[TypeApprovalCategory] [varchar](50) NULL,
	[PermissibleMassGvw] [int] NULL,
	[SimiCode] [nvarchar](50) NULL,
	[MileageReading] [int] NULL,
	[ExcessWindowTint] [bit] NOT NULL,
	[DataCheckedDate] [smalldatetime] NULL,
	[RoofSignSticker] [bit] NULL,
	[MeterSealed] [bit] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[HistoryChangeId] [int] NULL,
	[OdometerUnitID] [int] NULL,
	[OccupancyWithWheelchair] [tinyint] NULL,
 CONSTRAINT [PK_VEHICLES] PRIMARY KEY CLUSTERED 
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_VehicleMaster_35_1952114095__K4_K1_K8_K6_K5_10_11_14_15_16_17_18_19_20_25_26_27_28_30_31_32]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_VehicleMaster_35_1952114095__K4_K1_K8_K6_K5_10_11_14_15_16_17_18_19_20_25_26_27_28_30_31_32] ON [dbo].[VehicleMaster]
(
	[MakeId] ASC,
	[RegistrationNumber] ASC,
	[ColourId] ASC,
	[BodyTypeId] ASC,
	[ModelId] ASC
)
INCLUDE([VIN],[EngineCapacity],[NumberPassengers],[NumberSeats],[NumberDoors],[YearOfManufacture],[RegistrationDateOrigin],[RegistrationDateIreland],[VrtVehicleCategory],[InsuranceExpiryDate],[InsuranceClassCorrect],[TypeApprovalNumber],[TypeApprovalCategory],[SimiCode],[MileageReading],[ExcessWindowTint]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_VehicleMaster_39_1952114095__K4_K1_K8_K6_K5_10_11_14_15_16_17_18_19_20_25_26_27_28_30_31]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_VehicleMaster_39_1952114095__K4_K1_K8_K6_K5_10_11_14_15_16_17_18_19_20_25_26_27_28_30_31] ON [dbo].[VehicleMaster]
(
	[MakeId] ASC,
	[RegistrationNumber] ASC,
	[ColourId] ASC,
	[BodyTypeId] ASC,
	[ModelId] ASC
)
INCLUDE([VIN],[EngineCapacity],[NumberPassengers],[NumberSeats],[NumberDoors],[YearOfManufacture],[RegistrationDateOrigin],[RegistrationDateIreland],[VrtVehicleCategory],[InsuranceExpiryDate],[InsuranceClassCorrect],[TypeApprovalNumber],[TypeApprovalCategory],[SimiCode],[MileageReading]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_VehicleMaster_6_1952114095__K1_3]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_VehicleMaster_6_1952114095__K1_3] ON [dbo].[VehicleMaster]
(
	[RegistrationNumber] ASC
)
INCLUDE([RegistrationDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RegistrationDateIreland]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [RegistrationDateIreland] ON [dbo].[VehicleMaster]
(
	[RegistrationDateIreland] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RegistrationDateOrigin]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [RegistrationDateOrigin] ON [dbo].[VehicleMaster]
(
	[RegistrationDateOrigin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_TurboDieselYn]  DEFAULT ((0)) FOR [TurboDieselYn]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_ModifiedYn]  DEFAULT ((0)) FOR [ModifiedYn]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_InsuranceClassCorrect]  DEFAULT ((0)) FOR [InsuranceClassCorrect]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_ExcessWindowTint]  DEFAULT ((0)) FOR [ExcessWindowTint]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  CONSTRAINT [DF_VehicleMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[VehicleMaster] ADD  DEFAULT ((3)) FOR [OccupancyWithWheelchair]
GO
ALTER TABLE [dbo].[VehicleMaster]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMaster_OdometerUnit] FOREIGN KEY([OdometerUnitID])
REFERENCES [cabs_insp].[OdometerUnit] ([ID])
GO
ALTER TABLE [dbo].[VehicleMaster] CHECK CONSTRAINT [FK_VehicleMaster_OdometerUnit]
GO
ALTER TABLE [dbo].[VehicleMaster]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMaster_VehicleMaster] FOREIGN KEY([RegistrationNumber])
REFERENCES [dbo].[VehicleMaster] ([RegistrationNumber])
GO
ALTER TABLE [dbo].[VehicleMaster] CHECK CONSTRAINT [FK_VehicleMaster_VehicleMaster]
GO
