USE [cabs_production]
GO
/****** Object:  View [dbo].[ssis_DL_LicenceMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ssis_DL_LicenceMaster] as

select 
	lhm.PersonId 'LicenceMasterId',
	lm.LicenceNumber,
	lm.LicenceTypeId,
	lhm.PersonId 'LicenceHolderId',
	convert(datetime,lm.IssueDate) 'IssueDate',
	convert(datetime,lm.ExpiryDate) 'ExpiryDate',
	concat(lsm.LicenceStateMasterId,ls.LicenceStateId) 'LicenceStateMasterId',
	isnull(wl.IsOnWatchList, 0) 'WatchList'
from 
	dl.LicenceMaster lm with (nolock)
	inner join dl.LicenceHolderMaster lhm with (nolock) on lm.LicenceMasterId=lhm.LicenceMasterId
	left join dl.LicenceStateMaster lsm with (nolock) on lsm.LicenceStateMasterID = lm.LicenceStateMasterID
	left join dl.LicenceState ls with (nolock) on ls.LicenceStateId = lm.LicenceStateId
	left join
		(select ROW_NUMBER() OVER (PARTITION BY PersonId order by CreatedDate desc) 'RankId', IsOnWatchList, PersonId  from person.WatchList with (nolock)) wl on wl.PersonId=lhm.PersonId and wl.RankId=1
GO
