USE [cabs_production]
GO
/****** Object:  Table [dbo].[aspnet_SiteMap]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_SiteMap](
	[ID] [int] NOT NULL,
	[Title] [varchar](64) NULL,
	[Description] [varchar](512) NULL,
	[Url] [varchar](512) NULL,
	[Roles] [varchar](512) NULL,
	[ReliantOn] [varchar](512) NULL,
	[Parent] [int] NULL,
 CONSTRAINT [PK_SiteMap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
