USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetSPSV_POST_COUNT_DL]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetSPSV_POST_COUNT_DL] 
	(
		@PPSN varchar(50)
	)    
	RETURNS int
AS
BEGIN    

DECLARE @LetterCount Int

Select @LetterCount=count(*) from cabs_live.[dbo].[PrintRequestMaster] PRM
	INNER JOIN  cabs_production.dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeVLAuditId
	where PPSN is not NULL 
	AND LRA.LetterCode in ('SPSV-LINKNEWDL',
'SPSV-LINKNEWVL',
'SPSV-LINKBROKENDL',
'SPSV-LINKBROKENVL',
'SPSV-LINKEDITEDDL',
'SPSV-LINKEDITEDVL',
'SPSV-LINKEXPIREDDL',
'SPSV-LINKEXPIREDVL')
AND PRM.DespatchMethodId = 1
	and PPSN = @PPSN


RETURN @LetterCount


END
GO
