USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemProcessInstanceVL_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SystemProcessInstanceVL_Insert]
(
@InstanceId int output,
@SystemProcessId int,
@LicenceNumber varchar(50),
@BookingId int,
@PaymentId int,
@StartDate datetime,
@EndDate datetime,
@Completed bit,
@CreatedBy nvarchar(50),	
@CreatedDate datetime output,	
@ModifiedBy nvarchar(50),	
@ModifiedDate datetime output,
@Comments varchar(MAX),
@CallReferenceNumber int
)

AS
BEGIN

	SET NOCOUNT ON;

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate

	INSERT INTO dbo.SystemProcessInstanceVL
	(
		SystemProcessId,
		LicenceNumber,
		BookingId,
		PaymentId,
		StartDate,
		EndDate,
		Completed,
		CreatedBy,
		ModifiedBy,
		CreatedDate,
		ModifiedDate,
		Comments,
		CallReferenceNumber
	)
	VALUES
	(
		@SystemProcessId,
		@LicenceNumber,
		@BookingId,
		@PaymentId,
		@StartDate,
		@EndDate,
		@Completed,
		@CreatedBy,
		@ModifiedBy,
		@CreatedDate,
		@ModifiedDate,
		@Comments,
		@CallReferenceNumber
	)
	
	SET @InstanceId = SCOPE_IDENTITY()
END
GO
