USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Inspections_Defects_List]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adam Nosal
-- Create date: 27-Feb-2021
-- =============================================
create     PROCEDURE [dbo].[RPT_Inspections_Defects_List]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;

SELECT 

VI.LicenceNumber,
dg.DefectGroup,
dr.DefectReason,
LT.LicenceType,
SPVL.ProcessName,
dc.DefectCategory,
vi.TestStartTime,
I.Name as InspectorName,
tc.TestCentreName,
dr.DefectReasonSC as  DefectReasonCode 
FROM dbo.VehicleInspections vi 
left join dbo. VehicleInspectionDefects vid on vid.VehicleInspectionID =  vi.VehicleInspectionId
left join  dbo.DefectGroups dg on dg.DefectGroupID = vid.DefectGroupID
left join  dbo.DefectCategories dc on dc.DefectCategoryID = vid.DefectCategoryID
left join dbo.DefectReasons dr on dr.DefectReasonID = vid.DefectReasonID

LEFT JOIN dbo.TestCentre TC on TC.TestCentreId = VI.TestCentreId
LEFT JOIN dbo.Inspectors I on I.InspectorID = VI.InspectorId
INNER JOIN dbo.TestResults TR on TR.TestResultID = VI.TestResultId
INNER JOIN dbo.LicenceMasterVL LMVL on LMVL.LicenceNumber = VI.LicenceNumber
INNER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
INNER JOIN dbo.Booking B on B.BookingId = VI.BookingId
INNER JOIN dbo.SystemProcessVL SPVL on SPVL.SystemProcessId = B.SystemProcessId
INNER JOIN dbo.InspectionTime IT on IT.InspectionTimeId = B.InspectionTimeId
INNER JOIN dbo.InspectionType ITY on ITY.InspectionTypeId = IT.InspectionTypeId

WHERE  Cast(VI.CreatedDate as DATE) Between @StartDate And @EndDate
and vi.TestResultId in (2,6) -- fail
END




GO
