USE [cabs_production]
GO
/****** Object:  Table [dbo].[LetterPrintsLogs]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterPrintsLogs](
	[Y] [int] NULL,
	[M] [int] NULL,
	[D] [int] NULL,
	[LetterRequestTypeDescription] [varchar](100) NULL,
	[CompleteDate] [datetime] NULL,
	[lettercode] [varchar](20) NULL,
	[DespatchMethod] [nvarchar](50) NULL,
	[Total] [int] NULL
) ON [PRIMARY]
GO
