USE [cabs_production]
GO
/****** Object:  Table [dbo].[FineType]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FineType](
	[FineTypeId] [tinyint] NOT NULL,
	[FineTypeTextId] [varchar](5) NOT NULL,
	[FineTypeDescription] [varchar](255) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_FineType] PRIMARY KEY CLUSTERED 
(
	[FineTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FineType] ADD  CONSTRAINT [DF_FineType_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[FineType] ADD  CONSTRAINT [DF_FineType_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FineType] ADD  CONSTRAINT [DF_FineType_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[FineType] ADD  CONSTRAINT [DF_FineType_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
