USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Report_Booking_SelectByTestCentre]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Author:		Jim O'Brien
-- Create date: 25-Jan-2011
-- Description:	Return booking audit records for a booking id.
-- exec [Report_Booking_SelectByTestCentre] 2, '21-Feb-2011' 		
-- ==========================================================================================
CREATE PROCEDURE [dbo].[Report_Booking_SelectByTestCentre]
(
@TestCentreId int,
@ConfigDate datetime
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @MaxConfigDate DateTime

set @MaxConfigDate =  DateAdd(d, 7, @ConfigDate)

select  tc.weekday, 
		tc.TestCentreLaneId, 
		tc.[TestCentreConfigurationId], 
		tc.StartTime, tc.EndTime, 
		b.BookingId, b.BookingDateTime, b.BookingEndDateTime
FROM
(select (datename(dw,configdate)) weekday, * --dbo.GetDayOfWeekNum(configdate)
	from dbo.[TestCentreConfiguration]
	where	testcentreid = @testCentreId
			and configdate >= @ConfigDate
			and configdate < @MaxConfigDate) tc
LEFT OUTER JOIN 
(select BookingId, InspectionTimeId, TestCentreId, 
		TestCentreLaneId, BookingStatusId, SystemProcessId,
		BookingDateTime, BookingEndDateTime, LicenceNumber,
		RegistrationNumber, NewLicenceHolderId, 
		LateCancellation, CreatedBy, CreatedDate,
		ModifiedBy, ModifiedDate
		
	from dbo.booking
	where	testcentreid = @testCentreId
			and bookingdatetime >= @ConfigDate
			and bookingdatetime < @MaxConfigDate) b
ON	b.BookingDateTime >= tc.StartTime
and		b.BookingDateTime < tc.EndTime
and		b.TestCentreLaneId = tc.TestCentreLaneId
order by tc.configdate, tc.StartTime, tc.TestCentreLaneId, b.BookingDateTime
	
END
GO
