USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_ALL_Vehicle_Licence_Holders]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create      PROCEDURE [dbo].[RPT_ALL_Vehicle_Licence_Holders]
@LicenceStatus varchar(max),
@LicenceType varchar(max) 

AS
BEGIN
	SET NOCOUNT ON;

SELECT 
	
	LHM.CCSN,
	LMVL.LicenceNumber,
	LT.LicenceType,
	LSM.LicenceStateMaster As LicenceStatus,
	LS.LicenceState As LicenceSubStatus,
	LMVL.LicenceExpiryDate,
	LMVL.LicenceIssueDate,
	LMVL.RenewalDate,
	LHM.CompanyNumber,
	LHM.Ppsn,
	LHM.DeceasedYn,
	LHM.FirstName,
	LHM.LastName,
	LHM.Email,
	LHM.CompanyName,
	LHM.TradingAs,
	LHM.AddressLine1,
	LHM.AddressLine2,
	LHM.AddressLine3,
	LHM.Town,
	LHM.PostCode,
	C.CountyName,
	CTR.CountryName,
	LHM.PhoneNo1,
	LHM.PhoneNo2

FROM dbo.LicenceMasterVL LMVL
	INNER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
	INNER JOIN dbo.LicenceHolderMaster LHM on LHM.LicenceHolderId = LMVL.LicenceHolderId
	LEFT OUTER JOIN dbo.County C on C.CountyId = LHM.CountyId
	LEFT OUTER JOIN dbo.LicenceStateMaster LSM on LSM.LicenceStateMasterId = LMVL.LicenceStateMasterId
	LEFT OUTER JOIN dbo.LicenceState LS on LS.LicenceStateId = LMVL.LicenceStateId
	LEFT OUTER JOIN dbo.Country CTR on CTR.CountryId = LHM.CountryId
	
WHERE 1=1
	AND LT.LicenceTypeId  in (select Element from dbo.func_Split(@LicenceType,','))
	AND concat(LSM.LicenceStateMasterId,LS.LicenceStateId) in (select Element from dbo.func_Split(@LicenceStatus,','))
ORDER BY LMVL.LicenceNumber ASC

END
GO
