USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_BatchCreate_TestCentreConfig]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <01/12/2010>
-- Description:	<Create the test centre configuration records for the test centres for a given date.>
-- =============================================
CREATE PROCEDURE [dbo].[sch_BatchCreate_TestCentreConfig] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @procDate datetime
DECLARE @intCalcRequired int
DECLARE @intNumOfDays int

Set @procDate = GetDate()
Set @procDate = DATEADD(D, 0, DATEDIFF(D, 0, @procDate))
Set @intNumOfDays = 60 --CONVERT(INT, dbo.GetSystemParameterValue('MaxBookingPeriodDays'))


While @procDate <= DateAdd(D, @intNumOfDays, GetDate()) 
Begin
	SET @intCalcRequired = (SELECT count(*)
					  FROM [dbo].[TestCentreDefaultConfig] tcd
						LEFT OUTER JOIN [dbo].[TestCentreConfiguration] tcc 
						ON tcc.[TestCentreDefaultConfigId] = tcd.[TestCentreDefaultConfigId]
							AND		tcc.ConfigDate = @procDate
					WHERE tcd.weekdayid = (select DayId from daysoftheweek where DayName = datename(dw,@procDate))
						AND tcc.[TestCentreConfigurationId] is null)
	
	IF @intCalcRequired > 0
		BEGIN
			-- Strip off the time from the date.
			exec dbo.sch_BatchCreate_TestCentreConfig_ForDate @createdate = @procDate
		END
	Set @procDate = DateAdd(D, 1, @procDate)
	CONTINUE
END


END
GO
