USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LetterRequestTypeVL_SelectByRequestTypeId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 30/11/2010
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LetterRequestTypeVL_SelectByRequestTypeId]
(
	@LetterRequestTypeId int
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	LetterRequestTypeId,
			LetterRequestTypeDescription,
			FileContent,
			HasFile, 
			LetterCode,
			NumPages,
			PrintStyle,
			EnvelopeType,
			AllowedRoles,
			ModifiedBy,
			ModifiedDate,
			CreatedBy,
			CreatedDate,
			P.PrintCompanyId AS P_PrintCompanyId,
			P.PrintCompanyName AS P_PrintCompanyName,
			IntroductionEmailText
			
	FROM dbo.LetterRequestTypeVL L
	INNER JOIN dbo.PrintCompany P on P.PrintCompanyId = L.PrintCompanyId

	WHERE LetterRequestTypeId =  @LetterRequestTypeId 
END


/****** Object:  StoredProcedure [dbo].[SK_PrintRequestDetailVL_SelectNextPrintable]    Script Date: 06/02/2015 14:05:42 ******/
SET ANSI_NULLS ON
GO
