USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleMaster_Signage_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VehicleMaster_Signage_Insert]
	@AuthorizedSupplierID int,
	@VehicleLicenceNumber varchar(20),
	@RegistrationNumber varchar(50),
	@IsActive bit,
	@ModifiedBy varchar(20),
	@SignageID int,
	@CreatedOn datetime 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	
	IF EXISTS (Select * from [cabs_tds].[SignageInstallation] Where ID = @SignageID )
		BEGIN
			Update [cabs_tds].[SignageInstallation]
			   SET [IsActive] = @IsActive
			   ,[CreatedOn]=@CreatedOn
			   ,[ModifiedOn]=Getdate()
			   ,[ModifiedBy]=@ModifiedBy
			   ,[AuthorizedSupplierID] = @AuthorizedSupplierID --[KMZ-433-45332] bugfix Supplier not updated
			WHERE ( ID = @SignageID AND VehicleLicenceNumber = @VehicleLicenceNumber AND RegistrationNumber = @RegistrationNumber)
		END
	ELSE
		BEGIN
			INSERT INTO [cabs_tds].[SignageInstallation]
			   ([AuthorizedSupplierID]
			   ,[VehicleLicenceNumber]
			   ,[RegistrationNumber]
			   ,[IsActive]
			   ,[CreatedOn]
			   ,[CreatedBy]
			   ,[ModifiedOn]
			   ,[ModifiedBy])
			Values (@AuthorizedSupplierID,@VehicleLicenceNumber,@RegistrationNumber,@IsActive,@CreatedOn,@ModifiedBy,Getdate(),@ModifiedBy);
		END

END
GO
