USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TransactionAuditLog_GetByID]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		@Author,,Name>
-- Create date: @Create Date,,>
-- Description:	@Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TransactionAuditLog_GetByID] 
(
@TransactionAuditTypeID int
)
AS
BEGIN

select TransactionAuditType from TransactionAuditType tat
Where tat.TransactionAuditTypeID = @TransactionAuditTypeID

END
GO
