USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Inspections_Completed_Header]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 11-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Inspections_Completed_Header]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
		
SELECT 

VI.VehicleInspectionId,
SP.ProcessName,
ITY.Description As "Inspection Type",
LT.LicenceType,
VI.TestStartTime,
VI.TestEndTime,
TR.TestResult,
VI.LicenceNumber,
LMVL.LicenceIssueDate,
VI.RegistrationNumber,
PVL.Amount,
PVL.PaymentReference,
PVL.PaymentId,
B.BookingId

FROM dbo.VehicleInspections VI

INNER JOIN dbo.TestResults TR on TR.TestResultID = VI.TestResultId
INNER JOIN dbo.Booking B on B.BookingId = VI.BookingId
INNER JOIN dbo.SystemProcessVL SP on SP.SystemProcessId = B.SystemProcessId
INNER JOIN dbo.InspectionTime IT on IT.InspectionTimeId = B.InspectionTimeId
INNER JOIN dbo.InspectionType ITY on ITY.InspectionTypeId = IT.InspectionTypeId
INNER JOIN dbo.LicenceType LT on LT.LicenceTypeId = IT.LicenceTypeId
INNER JOIN dbo.LicenceMasterVL LMVL on LMVL.LicenceNumber = VI.LicenceNumber
LEFT OUTER JOIN dbo.BookingPayment BP ON BP.BookingId = B.BookingId AND BP.PaymentId = (SELECT MIN(PaymentId) FROM dbo.BookingPayment WHERE BookingId = BP.BookingId)
LEFT OUTER JOIN dbo.PaymentVL PVL ON PVL.PaymentId = BP.PaymentId

WHERE Cast(VI.CreatedDate as DATE) BETWEEN @StartDate AND @EndDate
AND SP.SystemProcessID <> 9


END


GO
