USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[WatServiceProvisionCounty_SelectByLicenceNumberId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WatServiceProvisionCounty_SelectByLicenceNumberId]

	-- Add the parameters for the stored procedure here
	
	@LicenceNumberId varchar(50)


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT LicenceNumberId, W.CreatedBy, W.CreatedDate, W.ModifiedBy, W.ModifiedDate,
		A.AreaId, A.AreaName
FROM dbo.WatServiceProvisionCounty W
INNER JOIN dbo.AreaOfOperation A ON W.CountyId = A.AreaId
WHERE LicenceNumberId = @LicenceNumberId

END
GO
