USE [cabs_production]
GO
/****** Object:  Table [dbo].[SystemPermission]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemPermission](
	[PermissionName] [varchar](50) NOT NULL,
	[PageId] [int] NOT NULL,
	[AllowedRoles] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_SystemPermissions] PRIMARY KEY CLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemPermission]  WITH CHECK ADD  CONSTRAINT [FK_SystemPermission_aspnet_SiteMap] FOREIGN KEY([PageId])
REFERENCES [dbo].[aspnet_SiteMap] ([ID])
GO
ALTER TABLE [dbo].[SystemPermission] CHECK CONSTRAINT [FK_SystemPermission_aspnet_SiteMap]
GO
