USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLinkedUsers_Update]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TestCentreLinkedUsers_Update] @TestCentreLinkedUserId INT
	,@UserId UNIQUEIDENTIFIER
	,@TestCentreId INT
	,@CreatedBy NVARCHAR(255)
	,@CreatedDate DATETIME
	,@ModifiedBy NVARCHAR(255)
	,@ModifiedDate DATETIME
	,@Active BIT
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[TestCentreLinkedUsers]
	SET [UserId] = @UserId
		,[TestCentreId] = @TestCentreId
		,[CreatedBy] = @CreatedBy
		,[CreatedDate] = @CreatedDate
		,[ModifiedBy] = @ModifiedBy
		,[ModifiedDate] = @ModifiedDate
		,[Active] = @Active
	WHERE TestCentreLinkedUserId = @TestCentreLinkedUserId

END
GO
