USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[InspectionTime_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 12/11/10
-- =============================================
CREATE PROCEDURE [dbo].[InspectionTime_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    
SELECT	InspectionTimeId,
		InspectionTime,
		P.InspectionProcessId as P_InspectionProcessId,
		P.Description as P_Description,
		TY.InspectionTypeId as TY_InspectionTypeId,
		TY.Description as TY_Description,
		LY.LicenceTypeId as LY_LicenceTypeId,
		LY.LicenceType as LY_LicenceType
		
FROM [dbo].[InspectionTime] T

INNER JOIN dbo.InspectionProcess P on P.InspectionProcessId = T.InspectionProcessId
INNER JOIN dbo.InspectionType TY on TY.InspectionTypeId = T.InspectionTypeId
INNER JOIN dbo.LicenceType LY on LY.LicenceTypeId = T.LicenceTypeId

END
GO
