USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetSecondLastExpiryDate]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSecondLastExpiryDate]
(
    @LicenceNumber varchar(100)
    --@RegistrationNumber varchar(100)
)
RETURNS Datetime
AS
BEGIN

Declare @SecondLastLicenceExpiryDate DateTime
--SET @SecondLastLicenceExpiryDate

select @SecondLastLicenceExpiryDate=LicenceExpiryDate from (SELECT ROW_NUMBER() OVER (Order by Id desc) AS RowNumber,ID,LicenceExpiryDate
from [cabs_production].[dbo].LicenceMasterVLAudit 
where
 HistoryChangeID in (3,4,38,39,47)
  and  
  LicenceNumber=@LicenceNumber 
  --and RegistrationNumber=@RegistrationNumber
  ) as temp where RowNumber=2

    RETURN @SecondLastLicenceExpiryDate;
	--RETURN @LicenceNumber;
END

GO
