USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestMasterVL_SelectByRequestMasterId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Andrew Snook
-- Create date: 18-Nov-2010

-- 2012-07-04 - VMcC  - added new columns 
-- 2013-12-03 - CABS VL added new columns
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestMasterVL_SelectByRequestMasterId]
(
	@PrintRequestMasterId varchar(50)
	
)

AS
BEGIN

SET NOCOUNT ON;

SELECT [PrintRequestMasterId]
	 , PRMVL.[LetterRequestTypeAuditId]
	 , [LicenceNumber]
	 , [LetterDate]
	 , [PrintRequestMessage]
	 , [LicenceType]
	 , [LicenceIssueDate]
	 , [LicenceExpiryDate]
	 , [LicenceLastReactivationDate]
	 , [LicenceFirstRenewalDate]
	 , [LicenceLastRenewalDate]
	 , [LicenceCoIssueDate]
	 , [LicenceCoExpiryDate]
	 , [LicenceDeferralExpiryDate]
	 , [LicenceSurrenderDate]
	 , [LicenceTransferDate]
	 , [LicenceRemainingTransfers]
	 , [LicenceHolderId]
	 , [PreviousLicenceHolderId]
	 , [NewLicenceHolderId]
	 , [HolderCCSN]
	 , [HolderPPSN]
	 , [HolderName]
	 , [NewHolderName]
	 , [PreviousHolderName]
	 , [HolderTitle]
	 , [HolderFirstName]
	 , [HolderLastName]
	 , [HolderDateOfBirth]
	 , [HolderCompanyNumber]
	 , [HolderCompanyName]
	 , [HolderTradingAs]
	 , [HolderAddressLine1]
	 , [HolderAddressLine2]
	 , [HolderAddressLine3]
	 , [HolderTown]
	 , [HolderPostCode]
	 , [HolderCounty]
	 , [HolderCountry]
	 , [HolderPhoneNumber1]
	 , [HolderPhoneNumber2]
	 , [HolderFaxNumber]
	 , [HolderEmail]
	 , [VehicleRegNumber]
	 , [NewVehicleRegNumber]
	 , [PreviousVehicleRegNumber]
	 , [VehicleAgeYears]
	 , [VehicleAgeYearsDays]
	 , [VehicleAgeAtExpiryDate]
	 , [VehicleAgeAtExpiryYearsDays]
	 , [VehicleAgeAtFirstRenewalDate]
	 , [VehicleAgeAtFirstRenewalYearsDays]
	 , [VehicleAgeValid]
	 , [VehicleAgeValidAtExpiryDate]
	 , [VehicleRegistrationDate]
	 , [VehicleMake]
	 , [VehicleModel]
	 , [VehicleYearOfManufacture]
	 , [VehicleColour]
	 , [VehicleBody]
	 , [VehicleNumberDoors]
	 , [VehicleNumberPassengers]
	 , [VehicleNumberSeats]
	 , [BookingId]
	 , [BookingLastStandardDate]
	 , [InspectionDate]
	 , [InspectionProcess]
	 , [InspectionType]
	 , [TestCentreName]
	 , [TestCentreAddress]
	 , [PaymentId]
	 , [PaymentAmount]
	 , [PaymentDate]
	 , [Area]
	 , [TestType]
	 , [TestStartDate]
	 , PRMVL.[CreatedBy]
	 , PRMVL.[CreatedDate]
	 , PRMVL.[ModifiedBy]
	 , PRMVL.[ModifiedDate]
	 , LRT.[LetterRequestTypeId]
	 , LRT.[LetterRequestTypeDescription]
	 , PRMVL.BookingModifiedDate
	 , PRMVL.TotalFeesPaid
	 , PRMVL.TotalRefund
	 , PRMVL.TotalIncurred
	 , PRMVL.BookingCancellationDate
	 , PRMVL.BookingCancellationReason
	 , PRMVL.VehicleFinalOperationDate
	 , PRMVL.CustomFields	 
	 ,PRMVL.HolderFullAddress	
	 ,PRMVL.HolderFullName	
	 ,PRMVL.SPSVRegistrationNumber
	 ,PRMVL.SPSVRegistrationUrl
	 ,PRMVL.LicenceStatus
	 ,PRMVL.VehicleRegistrationNumber
	 ,PRMVL.LinkStartDate
	 ,PRMVL.LinkEndDate
	 ,PRMVL.LinkMethod
	 ,PRMVL.DriverLicenceHolderId
	 ,PRMVL.ExpiryDate
	 ,PRMVL.DriverLicenceNumber
	 ,PRMVL.RentalStartDate
	 ,PRMVL.RentalEndDate
	 ,PRMVL.RentalMethod
	 ,PRMVL.SPSVWebUrl
	 ,PRMVL.HistoricalVehicleLicenceNumber
	 

FROM
	PrintRequestMasterVL PRMVL

	LEFT OUTER JOIN dbo.LetterRequestTypeVLAudit LRT
		ON LRT.LetterRequestTypeAuditId = PRMVL.LetterRequestTypeAuditId

WHERE
	@PrintRequestMasterId = PrintRequestMasterId

END



GO
