USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentItemVL_SelectByBookingIdAndRefundReasonId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 08-Apr-2011
-- Description:	Find all refundable fees for a booking
-- =============================================
 

CREATE PROCEDURE [dbo].[PaymentItemVL_SelectByBookingIdAndRefundReasonId]
(
@BookingId int,
@RefundReasonId int
)

AS
BEGIN

SET NOCOUNT OFF;

-----------------------------
-----------------------------
-------Declarations----------
-----------------------------
-----------------------------
DECLARE @ParentId int,
		@LicenceNumber varchar(20),
		@LicenceStateId int,
		@LicenceTypeId int,
		@PaymentItemId int
		
DECLARE @BookingIds TABLE
(
	BookingId int
)
DECLARE @PaymentItemIds TABLE
(
	PaymentItemId int
)

-----------------------------
-----------------------------
------Set Parameters---------
-----------------------------
-----------------------------

--Set basic parameters
--If no parent id found, default to the current booking id
SELECT  @ParentId = COALESCE(B.ParentId, @BookingId),
		@LicenceNumber = B.LicenceNumber,
		@LicenceStateId = L.LicenceStateId,
		@LicenceTypeId = L.LicenceTypeId
FROM Booking B
INNER JOIN LicenceMasterVL L ON L.LicenceNumber = B.LicenceNumber
WHERE BookingId = @BookingId

--Get all refundable bookings based on the payment id
INSERT INTO @BookingIds
(
	BookingId
)
SELECT BookingId 
FROM dbo.Booking
WHERE ParentId = @ParentId
AND BookingStatusId IN
(
	1, --Awaiting Payment
	2, --Confirmed
	3  --Completed
)

--Check if any refundable bookings actually have passed tests
--If so, stop as none of the bookings in the parent tree will be refundable
IF EXISTS
(
	SELECT BookingId FROM dbo.VehicleInspections
	WHERE BookingId IN
	(
		SELECT BookingId FROM @BookingIds
	)  
	AND BookingId IN
	(
		SELECT BookingId 
		FROM dbo.VehicleInspections
		WHERE TestResultId = 1
	)
)
BEGIN	
	RETURN
END
		
-----------------------------
-----------------------------
--------Get Payments---------
-----------------------------
-----------------------------

IF (SELECT COUNT(BookingId) FROM @BookingIds) = 1
BEGIN
	IF ((@LicenceStateId IS NULL OR @LicenceStateId <> 10) -- Committed on 17/08/2016 --AND  @RefundReasonId <> 6  --AND @LicenceTypeId <> 7  
	)
		BEGIN	
			INSERT INTO @PaymentItemIds
			(
				PaymentItemId
			)
			SELECT PaymentItemId 
			FROM dbo.PaymentItemVL
			WHERE PaymentStatusId = 2 --Only paid payments can be refunded
			AND PaymentId IN --Only payments related to current booking
			(
				SELECT PaymentId 
				FROM dbo.BookingPayment
				WHERE BookingId = 
				(
					SELECT MAX(BookingId)
					FROM @BookingIds
				)
			)
			AND FeeId IN --Only fee types related to current bookings and reason
			(
				SELECT FeeId 
				FROM dbo.PaymentItemVLRefundableFee
				WHERE RefundReasonId = @RefundReasonId
			)
			--LRA Renewal added for Section15 COV, Late S15  COV & LAH COV, LAH Late COV
			IF (EXISTS (Select * from dbo.Booking Where BookingId=(SELECT MAX(BookingId) FROM @BookingIds) AND (SystemProcessId=21 OR SystemProcessId=24 OR (@LicenceTypeId = 7 AND (SystemProcessId=7 OR SystemProcessId=13)) )))
				BEGIN																																													
			INSERT INTO @PaymentItemIds
			(
				PaymentItemId
			)
			SELECT PaymentItemId 
			FROM dbo.PaymentItemVL
			WHERE PaymentStatusId = 2 --Only paid payments can be refunded
			AND PaymentId IN --Only payments related to current booking
			(
				SELECT PaymentId 
				FROM dbo.BookingPayment
				WHERE BookingId = 
				(
					SELECT MAX(BookingId)
					FROM @BookingIds
				)
			)
			AND FeeId IN --Only fee types related to current bookings and section 15 transfer+COV
			(
				2   ---Renewal - LRA
			)
				END
		END
END
ELSE
BEGIN 
	IF ((@LicenceStateId IS NULL OR @LicenceStateId <> 10) ---- Committed on 17/08/2016 AND  @RefundReasonId <> 6 --AND @LicenceTypeId <> 7  
	)
	BEGIN
	--Get Payment Item Ids that are refundable for the current booking
		INSERT INTO @PaymentItemIds
	(
		PaymentItemId
	)
	SELECT PaymentItemId 
	FROM dbo.PaymentItemVL
	WHERE PaymentStatusId = 2 --Only paid payments can be refunded
	AND PaymentId IN --Only payments related to current booking
	(
		SELECT PaymentId 
		FROM dbo.BookingPayment
		WHERE BookingId = 
		(
			SELECT MAX(BookingId)
			FROM @BookingIds
		)
	)
	AND FeeId IN --Only fee types related to current bookings and reason
	(
		SELECT FeeId 
		FROM dbo.PaymentItemVLRefundableFee
		WHERE RefundReasonId = @RefundReasonId
		AND RefundCurrentBookingOnly = 1
	)
		--LRA Renewal added for Section15 COV, Late S15  COV & LAH COV, LAH Late COV
		if (exists (Select * from dbo.Booking Where BookingId=(SELECT MAX(BookingId) FROM @BookingIds) AND (SystemProcessId=21 OR SystemProcessId=24 OR (@LicenceTypeId = 7 AND (SystemProcessId=7 OR SystemProcessId=13)) )))
		BEGIN
			INSERT INTO @PaymentItemIds
			(
				PaymentItemId
			)
			SELECT PaymentItemId 
			FROM dbo.PaymentItemVL
			WHERE PaymentStatusId = 2 --Only paid payments can be refunded
			AND PaymentId IN --Only payments related to current booking
			(
				SELECT PaymentId 
				FROM dbo.BookingPayment
				WHERE BookingId = 
				(
					SELECT MAX(BookingId)
					FROM @BookingIds
				)
			)
			AND FeeId IN --Only fee types related to current section15 transfer+COV bookings
			(
				2   ---Renewal - LRA
			)
		END

	
		--Get Payment Item Ids that are refundable for the previous booking
		INSERT INTO @PaymentItemIds
	(
		PaymentItemId
	)
	SELECT PaymentItemId 
	FROM dbo.PaymentItemVL
	WHERE PaymentStatusId = 2 --Only paid payments can be refunded
	AND PaymentId IN --Only payments related to previous booking and reason
	(
		SELECT PaymentId 
		FROM dbo.BookingPayment
		WHERE BookingId IN 
		(
			SELECT BookingId
			FROM @BookingIds
			WHERE BookingId <>
			(
				SELECT MAX(BookingId)
				FROM @BookingIds
			)
		)
	)
	AND FeeId IN
	(
		SELECT FeeId 
		FROM dbo.PaymentItemVLRefundableFee
		WHERE RefundReasonId = @RefundReasonId
		AND RefundCurrentBookingOnly <> 1
	)
	END
END

--Get Payment Item Ids that are refundable for conditional offers
---- Conditional Offer --  conditonal offers are not refunded for either (1) early cancellations (2) late cancellations
IF (@LicenceStateId = 10 AND @LicenceTypeId !=7 )
--AND  @RefundReasonId <> 6  ) -- Committed on 17/08/2016
BEGIN	
				Declare @failedInspection int = (SELECT b.BookingId FROM dbo.Booking b
				join dbo.VehicleInspections vi ON b.BookingId=vi.BookingId
				WHERE b.BookingId = @ParentId AND BookingStatusId IN(3) AND vi.TestResultId=2)

				
				Declare @COExpiryDate date = (Select COExpiryDate from dbo.LicenceMasterVL Where LicenceNumber=@LicenceNumber)
				Declare @NoShowBooking int = (SELECT Top 1 b.BookingId FROM dbo.Booking b
												WHERE b.LicenceNumber = @LicenceNumber AND BookingStatusId =5 AND b.ModifiedBy='NOSHOW Job'
												AND b.BookingDateTime between DATEADD(DAY, -90, @COExpiryDate) AND  @COExpiryDate AND  b.BookingId <= @BookingId
												AND b.SystemProcessId = 11
												Order by b.BookingId desc)

				DECLARE @nextBooking int  = (SELECT count(*) FROM dbo.Booking b where b.BookingId != @bookingId AND LicenceNumber = @LicenceNumber);


		IF EXISTS (SELECT BP.PaymentId  FROM dbo.BookingPayment BP 	JOIN dbo.PaymentItemVL PIV ON BP.PaymentId= PIV.PaymentId 
																	WHERE BP.BookingId = (SELECT MAX(BookingId) FROM @BookingIds)  AND PIV.FeeId <> 6 )
			BEGIN		
			--Add the new licence fee
			INSERT INTO @PaymentItemIds
			SELECT PaymentItemId 
			FROM dbo.PaymentItemVL PIVL
			INNER JOIN dbo.PaymentVL PVL ON PVL.PaymentId = PIVL.PaymentId
			WHERE PaymentStatusId = 2 --Only paid payments can be refunded
			AND LicenceNumber = @LicenceNumber
			AND PVL.PaymentId IN --Only payments related to current booking
				(
					SELECT PaymentId 
					FROM dbo.BookingPayment
					WHERE BookingId = 
					(
						SELECT MAX(BookingId)
						FROM @BookingIds
					)
				)
			AND FeeId IN
				(
					SELECT FeeId 
					FROM dbo.PaymentItemVLRefundableFee
					WHERE RefundReasonId = @RefundReasonId					
				)
			END
		ELSE
			BEGIN
			--Add the new licence fee
			INSERT INTO @PaymentItemIds
			SELECT PaymentItemId 
			FROM dbo.PaymentItemVL PIVL
			INNER JOIN dbo.PaymentVL PVL ON PVL.PaymentId = PIVL.PaymentId
			WHERE PaymentStatusId = 2 --Only paid payments can be refunded
			AND LicenceNumber = @LicenceNumber		
			AND FeeId IN
				(
					SELECT FeeId 
					FROM dbo.PaymentItemVLRefundableFee
					WHERE RefundReasonId = @RefundReasonId					
				)
			END

			--Add the new licence ISI from the original payment if it doesn't already exist
			--This would only happen if the booking is canceled on an original conditional offer inspection
			IF @RefundReasonId IN (1,2) 
			BEGIN
				SELECT TOP 1 @PaymentItemId = PaymentItemId 
				FROM dbo.PaymentVL PVL
				INNER JOIN dbo.PaymentItemVL PIVL ON PVL.PaymentId = PIVL.PaymentId
				WHERE LicenceNumber = @LicenceNumber
				AND PVL.ServiceTypeId=7
				AND PIVL.FeeId in (SELECT NewLicenceFeeId 
					FROM dbo.LicenceType
					WHERE LicenceTypeId = @LicenceTypeId)
				ORDER BY PIVL.PaymentId ASC
		
					IF (@PaymentItemId IS NOT NULL AND (@failedInspection IS NOT NULL OR @NoShowBooking IS NOT NULL))
					BEGIN
						INSERT INTO @PaymentItemIds
						(
							PaymentItemId
						)
						SELECT PaymentItemId 
						FROM dbo.PaymentVL PVL
						INNER JOIN dbo.PaymentItemVL PIVL ON PVL.PaymentId = PIVL.PaymentId
						WHERE LicenceNumber = @LicenceNumber
						AND PVL.ServiceTypeId=7			
						AND PIVL.FeeId <> 5									
						AND PIVL.FeeId not in (10) --- No Admin Fees would be refund during New Licence2 Booking Cancelled 	
						AND PIVL.FeeId not in (Select FeeId from dbo.PaymentItemVL where PaymentItemId in (Select PaymentItemId from @PaymentItemIds))					
					END
	 ELSE IF (@PaymentItemId IS NOT NULL AND  @RefundReasonId = 1) --early cancellation 
	 BEGIN			
		IF (@nextBooking > 0) -- if its early canccellation and this IS SUBSEQUENT booking
		BEGIN
			INSERT INTO @PaymentItemIds(PaymentItemId)
						SELECT PaymentItemId
									FROM dbo.PaymentVL PVL
									INNER JOIN dbo.PaymentItemVL PIVL ON PVL.PaymentId = PIVL.PaymentId
									WHERE LicenceNumber = @LicenceNumber									
									AND ( 
										PIVL.FeeId = 10						-- NEW LICENCE FEE AND ADMIN FEE TO BE RETURNED				
										OR
										PIVL.FeeId in (SELECT NewLicenceFeeId FROM dbo.LicenceType WHERE LicenceTypeId = @LicenceTypeId) 
									)
									AND 
									PIVL.FeeId <> 5 -- NO ISI FEE RETURNED
									AND
									PIVL.FeeId <> 6 -- no late reschedule to be refund
									AND PVL.PaymentId IN --Only payments related to current booking
									(	
										SELECT PaymentId FROM dbo.BookingPayment
											WHERE BookingId = 
											(
													SELECT MAX(BookingId) FROM @BookingIds
											)
									)	 
		END
		ELSE
		BEGIN
		INSERT INTO @PaymentItemIds(PaymentItemId) -- if its early canccellation and this IS FIRST booking on this CO
						SELECT PaymentItemId 
									FROM dbo.PaymentVL PVL
									INNER JOIN dbo.PaymentItemVL PIVL ON PVL.PaymentId = PIVL.PaymentId
									WHERE LicenceNumber = @LicenceNumber
									AND PVL.ServiceTypeId=7			
									AND PIVL.FeeId <> 6 -- no late reschedule to be refund																		
									AND PIVL.FeeId in (SELECT NewLicenceFeeId FROM dbo.LicenceType WHERE LicenceTypeId = @LicenceTypeId) 
									AND PVL.PaymentId IN --Only payments related to current booking
									(	
										SELECT PaymentId FROM dbo.BookingPayment
											WHERE BookingId = 
											(
														SELECT MAX(BookingId) FROM @BookingIds
											)
									)		
		END

	 END
	 ELSE IF (@PaymentItemId IS NOT NULL AND  @RefundReasonId = 2) --late cancellation
	 BEGIN			
	 IF (@nextBooking > 0) -- if its late canccellation and this IS SUBSEQUENT booking
		BEGIN
			INSERT INTO @PaymentItemIds(PaymentItemId)
						SELECT PaymentItemId
									FROM dbo.PaymentVL PVL
									INNER JOIN dbo.PaymentItemVL PIVL ON PVL.PaymentId = PIVL.PaymentId
									WHERE LicenceNumber = @LicenceNumber									
									AND ( 
										PIVL.FeeId = 10						-- NEW LICENCE FEE AND ADMIN FEE TO BE RETURNED				
										OR
										PIVL.FeeId in (SELECT NewLicenceFeeId FROM dbo.LicenceType WHERE LicenceTypeId = @LicenceTypeId) 
									)
									AND 
									PIVL.FeeId <> 5 -- NO ISI FEE RETURNED
									AND
									PIVL.FeeId <> 6 -- no late reschedule to be refund
									AND PVL.PaymentId IN --Only payments related to current booking
									(	
										SELECT PaymentId FROM dbo.BookingPayment
											WHERE BookingId = 
											(
													SELECT MAX(BookingId) FROM @BookingIds
											)
									)	
		END
		ELSE
		BEGIN
		INSERT INTO @PaymentItemIds(PaymentItemId) -- if its late canccellation and this IS SUBSEQUENT booking
						SELECT PaymentItemId 
									FROM dbo.PaymentVL PVL
									INNER JOIN dbo.PaymentItemVL PIVL ON PVL.PaymentId = PIVL.PaymentId
									WHERE LicenceNumber = @LicenceNumber
									AND PVL.ServiceTypeId=7			
									AND PIVL.FeeId <> 6 -- no late reschedule to be refund																		
									AND PIVL.FeeId in (SELECT NewLicenceFeeId FROM dbo.LicenceType WHERE LicenceTypeId = @LicenceTypeId) 
									AND PVL.PaymentId IN --Only payments related to current booking
									(	
										SELECT PaymentId FROM dbo.BookingPayment
											WHERE BookingId = 
											(
														SELECT MAX(BookingId) FROM @BookingIds
											)
									)			
		END

	 END
	 ELSE IF (@PaymentItemId IS NOT NULL)
					BEGIN					
						INSERT INTO @PaymentItemIds
						(
							PaymentItemId
						)
						SELECT PaymentItemId 
						FROM dbo.PaymentVL PVL
						INNER JOIN dbo.PaymentItemVL PIVL ON PVL.PaymentId = PIVL.PaymentId
						WHERE LicenceNumber = @LicenceNumber
						AND PIVL.FeeId = 6 --Late Reschedule				
						AND  PVL.PaymentId IN (Select top 1 PaymentID from SystemProcessInstanceVL Where LicenceNumber=@LicenceNumber AND SystemProcessId=16)
						AND PVL.PaymentId IN --Only payments related to current booking
							(
								SELECT PaymentId 
								FROM dbo.BookingPayment
								WHERE BookingId = 
								(
									SELECT MAX(BookingId)
									FROM @BookingIds
								)
							)																															
					END
			END


		
END

--Now that the paymentids are collected, a standard query will bring back all required information

    SELECT	PVL.PaymentItemId, 
			PVL.Amount, 
			PVL.CreatedBy, PVL.CreatedDate,
			PVL.ModifiedBy, PVL.ModifiedDate,
			PVL.Comments, 
			
			P.PaymentId as P_PaymentId, P.LicenceNumber as P_LicenceNumber, 
			P.PaymentReference as P_PaymentReference, P.Amount as P_Amount,
			P.CustomerName as P_CustomerName, P.Comment as P_Comment,
			P.CreatedBy as P_CreatedBy, P.CreatedDate as P_CreatedDate, 
			P.ModifiedBy as P_ModifiedBy, P.ModifiedDate as P_ModifiedDate,
				
			PM.PaymentMethodId as PM_PaymentMethodId, 
			PM.PaymentMethodName as PM_PaymentMethodName,
			ST.ServiceTypeId as ST_ServiceTypeId, 
			ST.ServiceTypeName as ST_ServiceTypeName,
				
			F.FeeId as F_FeeId, F.FeeAmount as F_FeeAmount, F.FeeName as F_FeeName,
       		PIS.PaymentStatusId as PIS_PaymentStatusId, 
			PIS.PaymentStatusName as PIS_PaymentStatusName
			
	FROM dbo.PaymentItemVL PVL
	  
	INNER JOIN dbo.PaymentVL P on PVL.PaymentId = P.PaymentId 
	INNER JOIN dbo.PaymentMethod PM on PM.PaymentMethodId = P.PaymentMethodId
	INNER JOIN dbo.ServiceTypeVL ST on ST.ServiceTypeId = P.ServiceTypeId
	INNER JOIN dbo.Fee F on F.FeeId = PVL.FeeId
	INNER JOIN dbo.PaymentStatus PIS on PIS.PaymentStatusId = PVL.PaymentStatusId
	
	WHERE PVL.PaymentItemId IN
	(
		SELECT PaymentItemId
		FROM @PaymentItemIds
	)
	
END

SET NOCOUNT OFF;


GO
