USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_SelectByTestCentreAndDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author, Jim O'Brien>
-- Create date: <Create Date, 28-Jan-2011>
-- Description:	<Description, Seelct booking for a test centre and date>
-- =============================================
CREATE PROCEDURE [dbo].[Booking_SelectByTestCentreAndDate]
(
@TestCentreId int,
@BookingDate DateTime
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT		b.BookingId,
			b.ParentId,
			b.InspectionTimeId,
			vIT.InspectionProcessID,
			vIT.InspectionProcessDescription,
			vIT.InspectionTypeID,
			vIT.InspectionTypeDescription,
			vIT.LicenceTypeId,
			vIT.LicenceType,
			vIT.InspectionTime,
			b.TestCentreId,
			tc.TestCentreName,
			b.TestCentreLaneId,
			tcl.TestCentreLaneName,
			b.BookingStatusId,
			bs.BookingStatusName,
			bs.VoidedBooking,
			b.SystemProcessId,
			spVL.ProcessName,
			b.BookingDateTime,
			b.BookingEndDateTime,
			b.LicenceNumber,
			b.RegistrationNumber,
			b.BookingCancellationReasonId,
			bcr.BookingCancellationReason,
			b.NewLicenceHolderId,
			LateCancellation,
			LateReschedule,
			PremiumBooking,
			lhm.HolderName + ' ( ' + lhm.CCSN + ')' AS NewLicenceHolder,
			b.CreatedBy,
			b.CreatedDate,
			b.ModifiedBy,
			b.ModifiedDate,
			VI.TestResultId,
			TR.TestResult
			
	FROM	dbo.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.TestCentreLanes tcl ON b.TestCentreLaneId = tcl.TestCentreLaneId
			INNER JOIN dbo.BookingStatus bs ON b.BookingStatusId = bs.BookingStatusId
			INNER JOIN dbo.SystemProcessVL spVL ON b.SystemProcessId = spVL.SystemProcessId
			INNER JOIN dbo.vw_inspectionTime vIT ON vIT.InspectionTimeId = b.InspectionTimeId
			LEFT OUTER JOIN dbo.LicenceHolderMaster lhm ON  lhm.LicenceHolderId = b.NewLicenceHolderId
			LEFT OUTER JOIN dbo.BookingCancellationReason bcr ON bcr.BookingCancellationReasonId = b.BookingCancellationReasonId
			LEFT OUTER JOIN dbo.VehicleInspections VI ON VI.BookingId = B.BookingId
			LEFT OUTER JOIN dbo.TestResults TR ON VI.TestResultId = TR.TestResultID
			
	WHERE	b.TestCentreId = @TestCentreId
	AND		CONVERT(CHAR(10),b.BookingDateTime,120) = @BookingDate
	AND B.BookingId IN
	(
		SELECT BookingId FROM SystemProcessInstanceVL
		WHERE Completed = 1
	)
	
END
GO
