USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceState]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceState](
	[LicenceStateId] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LicenceStateMasterId] [tinyint] NULL,
	[LicenceState] [varchar](20) NOT NULL,
	[LicenceCategoryId] [int] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LicenceSubState] PRIMARY KEY NONCLUSTERED 
(
	[LicenceStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceSubState]    Script Date: 14/04/2022 13:21:33 ******/
CREATE CLUSTERED INDEX [IX_LicenceSubState] ON [dbo].[LicenceState]
(
	[LicenceStateMasterId] ASC,
	[LicenceStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceState] ADD  CONSTRAINT [DF_LicenceSubState_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LicenceState] ADD  CONSTRAINT [DF_LicenceSubState_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LicenceState] ADD  CONSTRAINT [DF_LicenceSubState_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LicenceState] ADD  CONSTRAINT [DF_LicenceSubState_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LicenceState]  WITH CHECK ADD  CONSTRAINT [FK_LicenceSubState_LicenceState] FOREIGN KEY([LicenceStateMasterId])
REFERENCES [dbo].[LicenceStateMaster] ([LicenceStateMasterId])
GO
ALTER TABLE [dbo].[LicenceState] CHECK CONSTRAINT [FK_LicenceSubState_LicenceState]
GO
