USE [cabs_production]
GO
/****** Object:  Table [dbo].[PrintRequestMasterVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintRequestMasterVL](
	[PrintRequestMasterId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LetterRequestTypeAuditId] [int] NOT NULL,
	[LicenceNumber] [nvarchar](50) NULL,
	[LetterDate] [datetime] NOT NULL,
	[PrintRequestMessage] [varchar](max) NULL,
	[LicenceType] [nvarchar](50) NULL,
	[LicenceIssueDate] [datetime] NULL,
	[LicenceExpiryDate] [datetime] NULL,
	[LicenceLastReactivationDate] [datetime] NULL,
	[LicenceFirstRenewalDate] [datetime] NULL,
	[LicenceLastRenewalDate] [datetime] NULL,
	[LicenceCoIssueDate] [datetime] NULL,
	[LicenceCoExpiryDate] [datetime] NULL,
	[LicenceDeferralExpiryDate] [datetime] NULL,
	[LicenceSurrenderDate] [datetime] NULL,
	[LicenceTransferDate] [datetime] NULL,
	[LicenceRemainingTransfers] [int] NULL,
	[LicenceHolderId] [int] NOT NULL,
	[PreviousLicenceHolderId] [int] NULL,
	[NewLicenceHolderId] [int] NULL,
	[HolderCCSN] [nvarchar](20) NULL,
	[HolderPPSN] [varchar](20) NULL,
	[HolderName] [nvarchar](101) NULL,
	[NewHolderName] [nvarchar](101) NULL,
	[PreviousHolderName] [nvarchar](101) NULL,
	[HolderTitle] [nvarchar](50) NULL,
	[HolderFirstName] [nvarchar](50) NULL,
	[HolderLastName] [nvarchar](50) NULL,
	[HolderDateOfBirth] [datetime] NULL,
	[HolderCompanyNumber] [int] NULL,
	[HolderCompanyName] [nvarchar](100) NULL,
	[HolderTradingAs] [nvarchar](100) NULL,
	[HolderAddressLine1] [nvarchar](100) NULL,
	[HolderAddressLine2] [nvarchar](100) NULL,
	[HolderAddressLine3] [nvarchar](100) NULL,
	[HolderTown] [nvarchar](50) NULL,
	[HolderPostCode] [nvarchar](50) NULL,
	[HolderCounty] [nvarchar](50) NULL,
	[HolderCountry] [nvarchar](50) NULL,
	[HolderPhoneNumber1] [nvarchar](50) NULL,
	[HolderPhoneNumber2] [nvarchar](50) NULL,
	[HolderFaxNumber] [nvarchar](50) NULL,
	[HolderEmail] [nvarchar](50) NULL,
	[VehicleRegNumber] [varchar](50) NULL,
	[NewVehicleRegNumber] [varchar](50) NULL,
	[PreviousVehicleRegNumber] [varchar](50) NULL,
	[VehicleAgeYears] [decimal](18, 2) NULL,
	[VehicleAgeYearsDays] [varchar](50) NULL,
	[VehicleAgeAtExpiryDate] [decimal](18, 2) NULL,
	[VehicleAgeAtExpiryYearsDays] [varchar](50) NULL,
	[VehicleAgeAtFirstRenewalDate] [decimal](18, 2) NULL,
	[VehicleAgeAtFirstRenewalYearsDays] [varchar](50) NULL,
	[VehicleAgeValid] [bit] NULL,
	[VehicleAgeValidAtExpiryDate] [bit] NULL,
	[VehicleRegistrationDate] [datetime] NULL,
	[VehicleMake] [nvarchar](50) NULL,
	[VehicleModel] [nvarchar](50) NULL,
	[VehicleYearOfManufacture] [int] NULL,
	[VehicleColour] [nvarchar](50) NULL,
	[VehicleBody] [nvarchar](50) NULL,
	[VehicleNumberDoors] [int] NULL,
	[VehicleNumberPassengers] [int] NULL,
	[VehicleNumberSeats] [int] NULL,
	[BookingId] [int] NULL,
	[BookingLastStandardDate] [datetime] NULL,
	[InspectionDate] [datetime] NULL,
	[InspectionProcess] [nvarchar](50) NULL,
	[InspectionType] [nvarchar](50) NULL,
	[TestCentreName] [nvarchar](50) NULL,
	[TestCentreAddress] [nvarchar](500) NULL,
	[PaymentId] [int] NULL,
	[PaymentAmount] [money] NULL,
	[PaymentDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[BookingModifiedDate] [datetime] NULL,
	[Category] [varchar](max) NULL,
	[TotalFeesPaid] [money] NULL,
	[TotalRefund] [money] NULL,
	[TotalIncurred] [money] NULL,
	[BookingCancellationDate] [datetime] NULL,
	[BookingCancellationReason] [varchar](max) NULL,
	[VehicleFinalOperationDate] [date] NULL,
	[Area] [nvarchar](20) NULL,
	[TestStartDate] [datetime] NULL,
	[TestType] [nvarchar](50) NULL,
	[PrintRequestMasterTypeID] [int] NULL,
	[SkBookingID] [int] NULL,
	[CertificateNumber] [nvarchar](50) NULL,
	[CustomFields] [nvarchar](max) NULL,
	[TestCentreAddress1] [nvarchar](500) NULL,
	[TestCentreAddress2] [nvarchar](500) NULL,
	[SPSVRegistrationNumber] [nvarchar](10) NULL,
	[SPSVRegistrationUrl] [nvarchar](2000) NULL,
	[LicenceStatus] [nvarchar](100) NULL,
	[VehicleRegistrationNumber] [nvarchar](100) NULL,
	[LinkStartDate] [nvarchar](100) NULL,
	[LinkEndDate] [nvarchar](100) NULL,
	[LinkMethod] [nvarchar](100) NULL,
	[DriverLicenceHolderId] [int] NULL,
	[ExpiryDate] [nvarchar](100) NULL,
	[DriverLicenceNumber] [nvarchar](100) NULL,
	[RentalStartDate] [nvarchar](100) NULL,
	[RentalEndDate] [nvarchar](100) NULL,
	[RentalMethod] [nvarchar](100) NULL,
	[SPSVWebUrl] [nvarchar](100) NULL,
	[HistoricalVehicleLicenceNumber] [nvarchar](50) NULL,
	[HolderFullName]  AS (case when isnull([HolderCompanyName],'')='' then ([HolderFirstName]+' ')+[HolderLastName] else [HolderCompanyName] end),
	[HolderFullAddress]  AS ((((((((((isnull([HolderAddressLine1],'')+' ')+isnull([HolderAddressLine2],''))+' ')+isnull([HolderAddressLine3],''))+' ')+isnull([HolderTown],''))+' ')+isnull([HolderCounty],''))+' ')+isnull([HolderPostCode],'')),
 CONSTRAINT [PK_PrintRequestMasterVL] PRIMARY KEY CLUSTERED 
(
	[PrintRequestMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_PrintRequestMasterVL_6_654729485__K3_K2_K1_K75]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_PrintRequestMasterVL_6_654729485__K3_K2_K1_K75] ON [dbo].[PrintRequestMasterVL]
(
	[LicenceNumber] ASC,
	[LetterRequestTypeAuditId] ASC,
	[PrintRequestMasterId] ASC,
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CreatedDate]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [CreatedDate] ON [dbo].[PrintRequestMasterVL]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cabs_sk_PrintRequestMasterVL_SkBookingID]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_cabs_sk_PrintRequestMasterVL_SkBookingID] ON [dbo].[PrintRequestMasterVL]
(
	[SkBookingID] ASC
)
INCLUDE([PrintRequestMasterId],[LetterRequestTypeAuditId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintRequestMasterVL_Reports1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintRequestMasterVL_Reports1] ON [dbo].[PrintRequestMasterVL]
(
	[LetterRequestTypeAuditId] ASC,
	[LicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LetterRequestTypeAuditId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LetterRequestTypeAuditId] ON [dbo].[PrintRequestMasterVL]
(
	[LetterRequestTypeAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [LicenceNumber]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceNumber] ON [dbo].[PrintRequestMasterVL]
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrintRequestMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMasterVL_cabs_cmo_PrintRequestMasterType] FOREIGN KEY([PrintRequestMasterTypeID])
REFERENCES [cabs_cmo].[PrintRequestMasterType] ([ID])
GO
ALTER TABLE [dbo].[PrintRequestMasterVL] CHECK CONSTRAINT [FK_PrintRequestMasterVL_cabs_cmo_PrintRequestMasterType]
GO
ALTER TABLE [dbo].[PrintRequestMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMasterVL_cabs_sk.Booking] FOREIGN KEY([SkBookingID])
REFERENCES [cabs_sk].[Booking] ([ID])
GO
ALTER TABLE [dbo].[PrintRequestMasterVL] CHECK CONSTRAINT [FK_PrintRequestMasterVL_cabs_sk.Booking]
GO
ALTER TABLE [dbo].[PrintRequestMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMasterVL_LetterRequestTypeVLAudit] FOREIGN KEY([LetterRequestTypeAuditId])
REFERENCES [dbo].[LetterRequestTypeVLAudit] ([LetterRequestTypeAuditId])
GO
ALTER TABLE [dbo].[PrintRequestMasterVL] CHECK CONSTRAINT [FK_PrintRequestMasterVL_LetterRequestTypeVLAudit]
GO
ALTER TABLE [dbo].[PrintRequestMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMasterVL_PrintRequestMasterVL] FOREIGN KEY([PrintRequestMasterId])
REFERENCES [dbo].[PrintRequestMasterVL] ([PrintRequestMasterId])
GO
ALTER TABLE [dbo].[PrintRequestMasterVL] CHECK CONSTRAINT [FK_PrintRequestMasterVL_PrintRequestMasterVL]
GO
