USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_NTA_LegalMetrology]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sch_NTA_LegalMetrology]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
Select DISTINCT
			l.LicenceNumber as VEHICLE_LICENCE_NO,
			l.RegistrationNumber as VEHICLE_REG_NO,			
			upper(ISNULL(lsm.LicenceStateMaster,'') + ' ' + ISNULL(ls.LicenceState,'')) as STATUS,
			l.LicenceIssueDate as [ISSUE_DATE],
			l.LicenceExpiryDate as [EXPIRY_DATE],
			rtrim(lhm.HolderName) as SPSV_LICENCE_HOLDER,			
			Getdate() as ADDED_DATE,			
			lhm.AddressLine1 as ADDRESS_1 ,
			lhm.AddressLine2 as ADDRESS_2 ,			
			lhm.AddressLine3 as ADDRESS_3 ,		
			c.CountyName as COUNTY,
			lhm.Town as TOWN,			
			lhm.PostCode as POST_CODE,			
			replace(
			(case when lhm.PhoneNo1 like '08%' then lhm.PhoneNo1
			else
			case when lhm.PhoneNo2 like '08%' then lhm.PhoneNo2
			else ''
			end
			end),' ','') TEL,
			lower(lhm.Email) as EMAIL
	From [cabs_production].dbo.LicenceMasterVL l
	join [cabs_production].dbo.LicenceStateMaster lsm On l.LicenceStateMasterId=lsm.LicenceStateMasterId
	join [cabs_production].dbo.LicenceHolderMaster lhm On l.LicenceHolderId=lhm.LicenceHolderId
	left outer join [cabs_production].dbo.County c On lhm.CountyId=c.CountyId
	left outer join [cabs_production].dbo.LicenceState ls On l.LicenceStateId=ls.LicenceStateId
	WHERE l.LicenceTypeId in (1,4) AND (l.LicenceStateMasterId <> 6)
	order by l.LicenceNumber

	
	
END

GO
