USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentRefundVL_SelectByLicenceNumber]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PaymentRefundVL_SelectByLicenceNumber]
(
@LicenceNumber varchar(10)
)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT	RefundId, 
			LicenceNumber, 
			Amount,
			CreatedBy, 
			CreatedDate, 
			ModifiedBy, 
			ModifiedDate,
			Comments,
			B.BookingCancellationReasonId AS B_BookingCancellationReasonId,
			B.BookingCancellationReason AS B_BookingCancellationReason,
			R.RefundReasonId AS R_RefundReasonId,
			R.ReasonName AS R_ReasonName
	FROM dbo.PaymentRefundVL PR
	INNER JOIN dbo.BookingCancellationReason B ON B.BookingCancellationReasonId = PR.BookingCancellationId
	INNER JOIN dbo.PaymentItemVLRefundReason R ON R.RefundReasonId = PR.RefundReasonId
	WHERE PR.LicenceNumber = @LicenceNumber
END

GO
