USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceMasterVLAudit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceMasterVLAudit](
	[PlateNumber] [int] NULL,
	[LicenceNumber] [varchar](50) NULL,
	[LicenceHolderId] [int] NULL,
	[RegistrationNumber] [varchar](50) NULL,
	[LicenceTypeId] [tinyint] NULL,
	[LicenceStateId] [tinyint] NULL,
	[LicenceStateMasterId] [tinyint] NULL,
	[LicenceExpiryDate] [smalldatetime] NULL,
	[LicenceIssueDate] [smalldatetime] NULL,
	[CoExpiryDate] [smalldatetime] NULL,
	[CoIssueDate] [smalldatetime] NULL,
	[RenewalDate] [smalldatetime] NULL,
	[TransferedFromReg] [varchar](50) NULL,
	[HistoryChangeId] [int] NULL,
	[TestCenterId] [int] NULL,
	[RemainingTransfers] [int] NULL,
	[TransferDate] [smalldatetime] NULL,
	[OldPlateNumber] [varchar](50) NULL,
	[OldLicenceAuthority] [varchar](50) NULL,
	[Ccsn] [nvarchar](20) NULL,
	[Ppsn] [varchar](20) NULL,
	[CompanyNumber] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[CompanyName] [nvarchar](100) NULL,
	[TradingAs] [nvarchar](100) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyId] [int] NULL,
	[PostCode] [nvarchar](12) NULL,
	[CountryId] [int] NULL,
	[PhoneNo1] [varchar](40) NULL,
	[PhoneNo2] [varchar](40) NULL,
	[Email] [nvarchar](50) NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceExpiryDate] [datetime] NULL,
	[TaxClearanceStatus] [varchar](50) NULL,
	[TaxClearanceVisual] [char](10) NULL,
	[TaxClearanceName] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
	[AuditDate] [datetime] NULL,
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LAHArea] [varchar](100) NULL,
	[LAHDriverLicenceNumber] [varchar](100) NULL,
	[Director1Name] [nvarchar](100) NULL,
	[Director2Name] [nvarchar](100) NULL,
	[Director3Name] [nvarchar](100) NULL,
	[Director1Address] [nvarchar](150) NULL,
	[Director2Address] [nvarchar](150) NULL,
	[Director3Address] [nvarchar](150) NULL,
	[SuspensionStartDate] [datetime] NULL,
	[SuspensionEndDate] [datetime] NULL,
	[TaxClearanceCertExists] [bit] NULL,
	[EVGrantStatusId] [int] NULL,
	[EVGrantExpiryDate] [smalldatetime] NULL,
	[WAVGrantStatusId] [int] NULL,
	[WAVGrantExpiryDate] [smalldatetime] NULL,
	[AreaOfOpperations] [varchar](255) NULL,
	[DispatchOperatorId] [int] NULL,
	[EmailAddressForBooking] [varchar](255) NULL,
	[NumberForBookings] [nvarchar](255) NULL,
	[Website] [varchar](255) NULL,
	[ScrappageGrantStatusId] [tinyint] NULL,
	[MotorTaxRebateStatusID] [int] NULL,
	[MotorTaxRebateDate] [datetime] NULL,
 CONSTRAINT [PK_LicenceMasterVLAudit_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Complex_Index]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [Complex_Index] ON [dbo].[LicenceMasterVLAudit]
(
	[RegistrationNumber] ASC,
	[HistoryChangeId] ASC,
	[AuditDate] ASC,
	[id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ExpiryDate]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [ExpiryDate] ON [dbo].[LicenceMasterVLAudit]
(
	[LicenceExpiryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [LicenceNumber]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceNumber] ON [dbo].[LicenceMasterVLAudit]
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RegistrationNumber_Index]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [RegistrationNumber_Index] ON [dbo].[LicenceMasterVLAudit]
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD FOREIGN KEY([EVGrantStatusId])
REFERENCES [dbo].[EVGrantStatus] ([EVGrantStatusId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD FOREIGN KEY([WAVGrantStatusId])
REFERENCES [dbo].[WavGrantStatus] ([WavGrantStatusId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_Country]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_County] FOREIGN KEY([CountyId])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_County]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_LicenceHolderMaster] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_LicenceHolderMaster]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_LicenceState] FOREIGN KEY([LicenceStateId])
REFERENCES [dbo].[LicenceState] ([LicenceStateId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_LicenceState]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_LicenceStateMaster] FOREIGN KEY([LicenceStateMasterId])
REFERENCES [dbo].[LicenceStateMaster] ([LicenceStateMasterId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_LicenceStateMaster]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_LicenceType] FOREIGN KEY([LicenceTypeId])
REFERENCES [dbo].[LicenceType] ([LicenceTypeId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_LicenceType]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_MotorTaxRebateStatus] FOREIGN KEY([MotorTaxRebateStatusID])
REFERENCES [dbo].[MTRebateStatus] ([MTRebateStatusId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_MotorTaxRebateStatus]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_Reasons] FOREIGN KEY([HistoryChangeId])
REFERENCES [dbo].[HistoryChangeType] ([HistoryChangeID])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_Reasons]
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVLAudit_TestCentre] FOREIGN KEY([TestCenterId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[LicenceMasterVLAudit] CHECK CONSTRAINT [FK_LicenceMasterVLAudit_TestCentre]
GO
