USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_ALL_Vehicle_Licence_Covid]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create      PROCEDURE [dbo].[RPT_ALL_Vehicle_Licence_Covid]
@LicenceStatus varchar(max),
@LicenceType varchar(max) 

AS
BEGIN
	SET NOCOUNT ON;

SELECT 
	LMVL.LicenceNumber,
	LT.LicenceType,
	--LMVL.RegistrationNumber,
	LSM.LicenceStateMaster As LicenceStatus,
	LS.LicenceState As LicenceSubStatus,
	LMVL.LicenceExpiryDate,
	LMVL.LicenceIssueDate,
	LMVL.RenewalDate,
	
	IIf(covidExtension.LicExt is not null OR covidExtension.COExt is not null OR covidVehicleExtension.FODExt is not null, 'YES','NO') as 'CovidUpdate',
	IIf(covidExtension.LicExt is null, '',LicExt+ ',') + IIf(covidExtension.COExt is null, '',COExt+ ',') + IIf(covidVehicleExtension.FODExt is null, '',FODExt+ ',') as 'DataExtended'
	
FROM dbo.LicenceMasterVL LMVL
	INNER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
	LEFT OUTER JOIN dbo.LicenceStateMaster LSM on LSM.LicenceStateMasterId = LMVL.LicenceStateMasterId
	LEFT OUTER JOIN dbo.LicenceState LS on LS.LicenceStateId = LMVL.LicenceStateId
	OUTER APPLY 
	(
	select top(1)
	case When (select top(1) lmvla.LicenceExpiryDate from dbo.LicenceMasterVLAudit lmvla where lmvla.id < m.id and lmvla.LicenceNumber = m.LicenceNumber and lmvla.ModifiedBy != 'Covid-Update' order by id desc )
	< m.LicenceExpiryDate then 'Expiry Date' else NULL end as 'LicExt',
	case When (select top(1) lmvla2.CoExpiryDate from dbo.LicenceMasterVLAudit lmvla2 where lmvla2.id < m.id and lmvla2.LicenceNumber = m.LicenceNumber and lmvla2.ModifiedBy != 'Covid-Update' order by id desc )
	< m.CoExpiryDate then 'CO Expiry Date' else NULL end as 'COExt'
	,m.ModifiedBy as modifBy
	,m.LicenceNumber as licNum
	from dbo.LicenceMasterVLAudit m where m.ModifiedBy = 'Covid-Update' 
	and m.LicenceNumber = LMVL.LicenceNumber
	) covidExtension --on covidExtension.licNum = LMVL.LicenceNumber
	OUTER APPLY
	(
	select top 1
	case When (select top(1) vma.RegistrationDateOrigin from dbo.VehicleMasterAudit vma left join dbo.LicenceMasterVL lm on vma.RegistrationNumber = lm.RegistrationNumber
	where vma.id < m.id and lm.RegistrationNumber = m.RegistrationNumber and vma.ModifiedBy != 'Covid-Update' order by vma.id desc )
	< m.RegistrationDateOrigin then 'FOD' else NULL end as 'FODExt'
	,m.ModifiedBy as modifBy
	,m.RegistrationNumber as regNum
	from dbo.VehicleMasterAudit m where m.ModifiedBy = 'Covid-Update'   and m.RegistrationNumber = LMVL.RegistrationNumber
	group by m.RegistrationNumber,m.ModifiedBy,m.id,m.RegistrationDateOrigin
	) covidVehicleExtension 
WHERE 1=1
	AND LT.LicenceTypeId  in (select Element from dbo.func_Split(@LicenceType,','))
	AND concat(LSM.LicenceStateMasterId,LS.LicenceStateId) in (select Element from dbo.func_Split(@LicenceStatus,','))
ORDER BY LMVL.LicenceNumber ASC

END
GO
