USE [cabs_production]
GO
/****** Object:  View [dbo].[ssis_DL_PrimaryAdditionalArea]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ssis_DL_PrimaryAdditionalArea] as

select 
	LicenceNumber,
	PrimaryAreaId,
	aa.AdditionalAreaId
	from dl.LicenceMaster lm with (nolock)
		left join dl.AdditionalArea aa with (nolock) on aa.LicenceMasterId=lm.LicenceMasterId
		
GO
