USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[County_SelectByCountyId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Damien Dennehy
-- Create date: 06-Oct-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[County_SelectByCountyId]
(
@CountyId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT CountyId, CountyName 
	FROM dbo.County
	WHERE CountyId = @CountyId
END
GO
