USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleInspections_SelectByVehicleInspectionID]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Andrew Snook
-- Create date: 15-Nov-2010
-- =============================================
CREATE PROCEDURE [dbo].[VehicleInspections_SelectByVehicleInspectionID]

	@VehicleInspectionID int
	
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
	
	VI.VehicleInspectionID, VI.RegistrationNumber, 
	VI.LicenceNumber, VI.Comment,
	VI.TestStartTime, VI.TestEndTime, 
	VI.TamperProofPrinted, 
	VI.TPDestroyed, VI.TPRemoved,
	VI.LettersProcessed, VI.LettersProcessDate,
	VI.CreatedBy, VI.CreatedDate,
	VI.ModifiedBy, VI.ModifiedDate,
	TR.TestResultID, TR.TestResult,
	AI.Description as TestResultAdditionalInfo,
	IT.InspectionTimeID as IT_InspectionTimeID, 
	IT.InspectionProcessID as IT_InspectionProcessID,IT.InspectionProcessDescription as IT_InspectionProcessDescription, 
	IT.InspectionTypeID as IT_InspectionTypeID, IT.InspectionTypeDescription as IT_InspectionTypeDescription, 
	IT.LicenceTypeId as IT_LicenceTypeId,IT.LicenceType as IT_LicenceType, 
	IT.InspectionTime as IT_InspectionTime,

	SP.SystemProcessId,
	SP.ProcessName as ProcessName,	

	I.InspectorID as I_InspectorId,
	I.Name as I_Name,
	
	TC.TestCentreName as TC_TestCentreName, 
	TC.TestCentreId as TC_TestCentreId,
	B.BookingId as B_BookingId,
	B.ParentId as B_ParentId,
	B.RequestedBy as B_RequestedBy,
	B.ComplianceOfficerNumber as B_ComplianceOfficerNumber,
	BS.BookingStatusId as BS_BookingStatusId,
	BS.BookingStatusName AS BS_BookingStatusName,
	
	TP.TamperProofReason AS TP_TamperProofReason,
	TP.TamperProofReasonID AS TP_TamperProofReasonID
	
	
	FROM dbo.VehicleInspections VI	
	
	LEFT OUTER JOIN dbo.TestResults TR ON TR.TestResultID = VI.TestResultID
	LEFT OUTER JOIN dbo.TestCentre TC ON TC.TestCentreID = VI.TestCentreID	
	LEFT OUTER JOIN dbo.Booking B ON B.BookingID = VI.BookingID
	LEFT OUTER JOIN dbo.BookingStatus BS ON B.BookingStatusID = BS.BookingStatusId
	LEFT OUTER JOIN dbo.SystemProcessVL SP ON B.SystemProcessId = SP.SystemProcessId
	LEFT OUTER JOIN dbo.Inspectors I on I.InspectorId = VI.InspectorId
	LEFT OUTER JOIN dbo.vw_inspectionTime IT on IT.InspectionTimeId = B.InspectionTimeId
	LEFT OUTER JOIN dbo.LicenceType LY on LY.LicenceTypeId = IT.LicenceTypeId
	LEFT OUTER JOIN dbo.TamperProofReasons TP ON TP.TamperProofReasonID = VI.TPReasonID
	LEFT OUTER JOIN cabs_insp.TestResultAdditionalInfo AI on VI.TestResultAdditionalInfoID = AI.ID
	
	WHERE VI.VehicleInspectionID = @VehicleInspectionID

END

GO
