USE [cabs_production]
GO
/****** Object:  Table [dbo].[BookingMIData]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingMIData](
	[BookingId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [varchar](40) NOT NULL,
	[AddressLine1] [nvarchar](100) NOT NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NOT NULL,
	[PostCode] [varchar](40) NULL,
	[Overseas] [bit] NULL,
	[CountyId] [int] NULL,
	[VehicleMakeId] [int] NULL,
	[VehicleModelToAdd] [varchar](100) NULL,
	[Year] [int] NULL,
	[VehicleBodyTypeId] [int] NULL,
	[RegistrationNumber] [varchar](10) NULL,
	[VehicleModelId] [int] NULL,
	[EngineCapacity] [int] NULL,
	[Colour] [nvarchar](50) NULL,
	[VIN] [nvarchar](50) NULL,
 CONSTRAINT [PK_BookingMIDATA] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
