USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[BookingAudit_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Stored Procedure

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <25/01/2011>
-- Description:	<Add a booking audit record>
-- =============================================
CREATE PROCEDURE [dbo].[BookingAudit_Insert] 
	-- Add the parameters for the stored procedure here
(
	@BookingAuditId int output,	
	@BookingId int,
	@ParentId int,	
	@InspectionTimeId int,	
	@TestCentreId int,	
	@TestCentreLaneId int,	
	@BookingStatusId int,
	@SystemProcessId int,	
	@BookingDateTime datetime,	
	@BookingEndDateTime datetime,	
	@LicenceNumber varchar(50),	
	@RegistrationNumber varchar(10),
	@BookingCancellationReasonId int = null,
	@NewLicenceHolderId	int = null,
	@LateCancellation bit = null,
	@LateReschedule bit = null,
	@PremiumBooking bit = null,
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime output,
	@RequestedBy uniqueidentifier = NULL,
	@ComplianceOfficerNumber nvarchar(50) = NULL
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO BookingAudit
	(
		BookingId,
		ParentId,	
		InspectionTimeId,	
		TestCentreId,	
		TestCentreLaneId,	
		BookingStatusId,	
		SystemProcessId,
		BookingDateTime,	
		BookingEndDateTime,	
		LicenceNumber,	
		RegistrationNumber,	
		BookingCancellationReasonId,
		NewLicenceHolderId,
		LateCancellation,
		LateReschedule,
		PremiumBooking,
		CreatedBy,	
		CreatedDate,	
		ModifiedBy,	
		ModifiedDate,
		RequestedBy,
		ComplianceOfficerNumber
	)
	VALUES
	(
		@BookingId,
		@ParentId,	
		@InspectionTimeId,	
		@TestCentreId,	
		@TestCentreLaneId,	
		@BookingStatusId,
		@SystemProcessId,	
		@BookingDateTime,	
		@BookingEndDateTime,	
		@LicenceNumber,	
		@RegistrationNumber,	
		@BookingCancellationReasonId,
		@NewLicenceHolderId,
		@LateCancellation,
		@LateReschedule,
		@PremiumBooking,
		@CreatedBy,	
		@CreatedDate,	
		@ModifiedBy,	
		@ModifiedDate,
		@RequestedBy,
		@ComplianceOfficerNumber
	)

	set @BookingAuditId = SCOPE_IDENTITY()

END

GO
