USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestStatus_SelectByStatusId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: <Create Date,,>
-- =============================================
create PROCEDURE [dbo].[PrintRequestStatus_SelectByStatusId]

	@PrintRequestStatusId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT PrintRequestStatusId,PrintRequestStatusDescription

	FROM dbo.PrintRequestStatus
	WHERE PrintRequestStatusId = @PrintRequestStatusId

END
GO
