USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_ExpiringLicenses_4_Weeks]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Damien Dennehy
-- Create date: 19-Apr-2011
-- Description:	Process each licence that is going to expire soon.
-- =============================================
CREATE PROCEDURE [dbo].[sch_ExpiringLicenses_4_Weeks] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @LicenceNumber varchar(10),
		@PlateNumber INT,
		@LicenceTypeId INT,
		@MaxVehicleAge1 INT,
		@MaxVehicleAge2 INT,
		@Counter INT,
		@LicenceHolderId INT,
		@VehicleRegistrationNumber varchar(10),
		@RegistrationDate DATETIME,
		@LicenceExpiryDate DATETIME,
		@LetterRequestTypeId INT,
		@RequestId INT,
		@ModifiedDate DATETIME,
		@ErrorMessage varchar(4000),
		@LetterError varchar(4000),
		@VehicleAgeAtExpiry Decimal(18,2),
		@VehicleAgeAtFirstRenewalDate Decimal(18,2),
		@IsNewLicenceNumber  varchar(10),
		@RegistrationDateOrigin DATETIME,
		@RegistrationDateIreland DATETIME,		
		@IsCOVLicenceNumber varchar(20),
		@Email nvarchar(50),
		@EmailOptIn bit
		
DECLARE db_cursor CURSOR FOR 

	SELECT	L.LicenceNumber,
			PlateNumber,
			L.LicenceTypeId,
			L.LicenceHolderId,
			L.RegistrationNumber,
			RegistrationDate,
			LicenceExpiryDate,
			MaxVehicleAgeYears1,
			MaxVehicleAgeYears2,
			CONVERT(DECIMAL(18,2),DATEDIFF(DAY, RegistrationDate, LicenceExpiryDate)) / 365,
			CONVERT(DECIMAL(18,2),DATEDIFF(DAY, RegistrationDate, LicenceExpiryDate-30)) / 365,
			V.RegistrationDateOrigin,
			V.RegistrationDateIreland,
			H.Email,
			H.EmailOptIn
	FROM dbo.LicenceMasterVL L
	INNER JOIN dbo.LicenceHolderMaster H ON H.LicenceHolderId = L.LicenceHolderId
	INNER JOIN dbo.VehicleMaster V ON V.RegistrationNumber = L.RegistrationNumber
	INNER JOIN dbo.LicenceType T on L.LicenceTypeId = T.LicenceTypeId
	WHERE LicenceNumber NOT IN
	(
		SELECT LicenceNumber FROM dbo.PrintRequestMasterVL P
		INNER JOIN dbo.LetterRequestTypeVLAudit A
		ON A.LetterRequestTypeAuditId = P.LetterRequestTypeAuditId
		WHERE P.CreatedDate > DATEADD(Day, -123, GETDATE())
		AND A.LetterRequestTypeId IN
		(			 
			12,  --LRA-UNAFFECTED- 4 WEEK REMINDER
			14   --LRA- VEHICLE TOO OLD - 4 WEEK REMINDER
		)
	)
	AND DATEDIFF(DAY, GETDATE(), LicenceExpiryDate) > 0 AND DATEDIFF(DAY, GETDATE(), LicenceExpiryDate) < 30
	AND ((LicenceStateMasterId = 4) OR (L.LicenceStateMasterId=5 AND L.LicenceStateId=11))
	AND EmailOptIn = 1 AND dbo.udf_ValidateEmail(Email) = 1 --  LIKE '%@%' -- don't send paper letters, send emails only https://openskydata.atlassian.net/browse/NTAQR-86
	AND L.LicenceNumber not in ('T41505','W27103','W40241') ---Dummy Licences should not print.

OPEN db_cursor   

FETCH NEXT FROM db_cursor INTO  @LicenceNumber,
								@PlateNumber,
								@LicenceTypeId,
								@LicenceHolderId,
								@VehicleRegistrationNumber,
								@RegistrationDate,
								@LicenceExpiryDate,
								@MaxVehicleAge1,
								@MaxVehicleAge2,
								@VehicleAgeAtExpiry,
								@VehicleAgeAtFirstRenewalDate,
								@RegistrationDateOrigin,
								@RegistrationDateIreland,
								@Email,
								@EmailOptIn
								
WHILE @@FETCH_STATUS = 0
BEGIN	

----*********************************************************************************************************************-----
			--if EMail is not empty and EmailOptIn is true then set DespatchMethod to 3 (Email). Otherwise null
			Declare @DespatchMethod int = (CASE WHEN (@EmailOptIn = 1) AND ([dbo].[udf_ValidateEmail](@Email) = 1) THEN 3 -- EMAIL
				ELSE null
			END)
			
			Set @DespatchMethod = 3; -- QR3
			
			--If licenceType are WAH and WAT and Licence is new so we need to check last renewal date.
			Declare @RenewLetter varchar(10)
			Declare @NoLetter bit
			Set @RenewLetter='YES'
			Set @IsNewLicenceNumber = (SELECT  top(1)a.LicenceNumber FROM LicenceMasterVLAudit AS a INNER JOIN
						   HistoryChangeType AS h ON a.HistoryChangeId = h.HistoryChangeID 	
						   WHERE (a.LicenceNumber = @LicenceNumber and a.AuditDate>'01/01/2013' and (h.HistoryChangeID in (5))
								  AND a.LicenceTypeID in (4,6))
						   order by id desc)
			Declare @DateofBirth date 
            IF (@RegistrationDateOrigin < @RegistrationDateIreland)
				BEGIN            
                Set @DateofBirth = @RegistrationDateOrigin
				END            
            ELSE
				BEGIN
                Set @DateofBirth = @RegistrationDateIreland
				END
			Declare @Age10 date
			Declare @Age15 date
			Set @Age10 = DATEADD(year, 10, @DateofBirth)
			Set @Age15 = DATEADD(year, 15, @DateofBirth)
			Declare @CurrentVehicleAge10 date
			Declare @CurrentVehicleAge15 date
			Set @CurrentVehicleAge10 = DATEADD(month, -2, @Age10)
			Set @CurrentVehicleAge15 = DATEADD(month, -2, @Age15)
		
				--QR2 Issue register 126: For all WAVs under 50,000 there is no upper age limit at renewal. Remove 10 rule for WAVs changed after 01/01/13.
				--IF ((@IsNewLicenceNumber IS NOT NULL AND GetDate() > @CurrentVehicleAge10) AND (@LicenceTypeId = 4 OR @LicenceTypeId = 6 ))
				--	BEGIN
				--	Set @RenewLetter='NO'
				--	END

				IF ((@IsNewLicenceNumber IS NOT NULL AND GetDate() > @CurrentVehicleAge15) AND (@LicenceTypeId = 4 OR @LicenceTypeId = 6 ))
					BEGIN
					Set @RenewLetter='NO'
					END
				ELSE
					BEGIN
					Set @RenewLetter='YES'
					END 	

		
----*********************************************************************************************************************-----

/*
		Check Age rules around completed after a post 01/01/2013 Change of Vehicle. This effects Taxi and Hackneys.
		*/

		Set @IsCOVLicenceNumber = [dbo].Fn_GetCOVLicence(@LicenceNumber);

	--If a licence has a maximum vehicle age and is greater than 45000, 
		--And is actually older than the max vehicle age, 
		--Generate vehicle age letters
		IF @MaxVehicleAge1 IS NOT NULL AND @PlateNumber > 45000 AND @VehicleAgeAtExpiry > @MaxVehicleAge1
		BEGIN
				--We must determine what type of letter type is required for the affected licence 
				--Either the licence can be renewed within the 30 day window, or it's too old
				SET @LetterRequestTypeId = 14
				IF @VehicleAgeAtFirstRenewalDate > @MaxVehicleAge1
				BEGIN
					SET @LetterRequestTypeId = 14
				END
				------------------------------------------------------------------------------------------------------------------------------------
				-- Comment by Syed : Reason : Letters: LRA early booming letters remain in the system. These are to be removed.(Bug Zilla Ref 4898)
				--ELSE
				--BEGIN
				--	SET @LetterRequestTypeId = 10
				--END
				------------------------------------------------------------------------------------------------------------------------------------		
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = @LetterRequestTypeId,
				@CreatedBy = 'System',
				@DespatchMethod = @DespatchMethod
		END
		Else IF  @LicenceTypeId <> 3 AND @LicenceTypeId <> 4 AND @LicenceTypeId <> 6 AND @PlateNumber < 45000 AND @VehicleAgeAtExpiry > 15
		BEGIN
				--We must determine what type of letter type is required for the affected licence 
				--Either the licence can be renewed within the 30 day window, or it's too old
				SET @LetterRequestTypeId = 14
				IF @VehicleAgeAtFirstRenewalDate > 15
				BEGIN
					SET @LetterRequestTypeId = 14
				END
				------------------------------------------------------------------------------------------------------------------------------------
				-- Comment by Syed : Reason : Letters: LRA early booming letters remain in the system. These are to be removed.(Bug Zilla Ref 4898)
				--ELSE
				--BEGIN
				--	SET @LetterRequestTypeId = 10
				--END
				------------------------------------------------------------------------------------------------------------------------------------		
								
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = @LetterRequestTypeId,
				@CreatedBy = 'System',
				@DespatchMethod = @DespatchMethod	
		END
		ELSE IF @MaxVehicleAge2 IS NOT NULL AND @VehicleAgeAtExpiry > @MaxVehicleAge2
		BEGIN
				--We must determine what type of letter type is required for the affected licence 
				--Either the licence can be renewed within the 30 day window, or it's too old
				SET @LetterRequestTypeId = 14
				IF @VehicleAgeAtFirstRenewalDate > @MaxVehicleAge2
				BEGIN
					SET @LetterRequestTypeId = 14
				END
				------------------------------------------------------------------------------------------------------------------------------------
				-- Comment by Syed : Reason : Letters: LRA early booming letters remain in the system. These are to be removed.(Bug Zilla Ref 4898)
				--ELSE
				--BEGIN
				--	SET @LetterRequestTypeId = 10
				--END
				------------------------------------------------------------------------------------------------------------------------------------		
								
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = @LetterRequestTypeId,
				@CreatedBy = 'System',
				@DespatchMethod = @DespatchMethod	
		END
		ELSE IF ((@PlateNumber < 45000 AND @IsCOVLicenceNumber IS NOT NULL AND @IsCOVLicenceNumber <> '' AND  @VehicleAgeAtExpiry > @MaxVehicleAge1) AND  (@LicenceTypeId = 1 OR @LicenceTypeId = 2 OR @LicenceTypeId = 7))
		BEGIN
				--We must determine what type of letter type is required for the affected licence 
				--Either the licence can be renewed within the 30 day window, or it's too old
				SET @LetterRequestTypeId = 14					
								
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = @LetterRequestTypeId,
				@CreatedBy = 'System',
				@DespatchMethod = @DespatchMethod	
		END
		ELSE IF ((@PlateNumber > 50000 AND GetDate() > @CurrentVehicleAge15) AND  (@LicenceTypeId = 4 OR @LicenceTypeId = 6))
		BEGIN
				--We must determine what type of letter type is required for the affected licence 
				--Either the licence can be renewed within the 30 day window, or it's too old
				SET @LetterRequestTypeId = 14					
								
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = @LetterRequestTypeId,
				@CreatedBy = 'System',
				@DespatchMethod = @DespatchMethod	
		END
		ELSE
		BEGIN
				--Otherwise generate a standard renewal letter
				IF ((@LicenceTypeId = 4 OR @LicenceTypeId= 6) AND @RenewLetter='NO')
					BEGIN
						Set @NoLetter =0
						Set @RequestId = 1
					END
			    ELSE
				BEGIN
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = 12,
				@CreatedBy = 'System',
				@DespatchMethod = @DespatchMethod	
				END
		END
		  
	IF @RequestId IS NULL
	BEGIN
	SET @LetterError = 'Unable to generate 4 week reminder letter for licence # ' + @LicenceNumber
		Raiserror (@LetterError, 16, 1)
	END	

	SET @LicenceNumber = NULL
	SET @MaxVehicleAge1 = NULL
	SET @MaxVehicleAge2 = NULL
	SET @PlateNumber = NULL 
	SET @VehicleAgeAtExpiry = NULL
	SET @IsNewLicenceNumber = NULL
	SET @RenewLetter = NULL
		
	FETCH NEXT FROM db_cursor INTO
                                @LicenceNumber,
								@PlateNumber,
								@LicenceTypeId,
								@LicenceHolderId,
								@VehicleRegistrationNumber,
								@RegistrationDate,
								@LicenceExpiryDate,
								@MaxVehicleAge1,
								@MaxVehicleAge2,
								@VehicleAgeAtExpiry,
								@VehicleAgeAtFirstRenewalDate,
								@RegistrationDateOrigin,
								@RegistrationDateIreland,
								@Email,
								@EmailOptIn
END							
		
CLOSE db_cursor
DEALLOCATE db_cursor
								
END



GO
