USE [cabs_production]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[ComplaintId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ComplaintCategoryId] [tinyint] NOT NULL,
	[ComplaintText] [nvarchar](max) NOT NULL,
	[LicenceHolderId] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[ComplaintDate] [datetime] NOT NULL,
	[ComplaintTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Complaint] PRIMARY KEY CLUSTERED 
(
	[ComplaintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Complaint] ADD  CONSTRAINT [DF_Complaint_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Complaint] ADD  CONSTRAINT [DF_Complaint_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Complaint] ADD  CONSTRAINT [DF_Complaint_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Complaint] ADD  CONSTRAINT [DF_Complaint_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_Area] FOREIGN KEY([AreaId])
REFERENCES [dbo].[FineAreas] ([AreaId])
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_Complaint_Area]
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_ComplaintCategory] FOREIGN KEY([ComplaintCategoryId])
REFERENCES [dbo].[ComplaintCategory] ([ComplaintCategoryId])
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_Complaint_ComplaintCategory]
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_LicenceHolderMaster] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_Complaint_LicenceHolderMaster]
GO
