USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[DespatchMethod_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DespatchMethod_SelectAll]
	
AS
BEGIN

	SET NOCOUNT ON;

    
	SELECT DespatchMethodId,DespatchMethodDescription,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate
	FROM dbo.DespatchMethod
END
GO
