USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[LicenceMasterVL_GetFinalOperationDate]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Dmitry Malutin (dmitry.malutin@ocsico.com)
-- Create date: 04-Dec-2013
-- Description: Calculates final operation date according to vehicle registration date and licence type.
-- Updated By : Syed on 21-11-2015
-- =============================================

CREATE FUNCTION [dbo].[LicenceMasterVL_GetFinalOperationDate] (@plateNumber int ,@registrationNumber varchar (10), @licenceTypeId tinyint, @currentSystemProcessId tinyint)
       RETURNS datetime
AS
BEGIN
    DECLARE @Taxi INT = 1
    DECLARE @Hackney INT = 2
    DECLARE @Limousine INT = 3
    DECLARE @WAT INT = 4
    DECLARE @Driver INT = 5
    DECLARE @WAH INT = 6
    DECLARE @LAH INT = 7
	DECLARE @NewLicenceDate2014 date  
	DECLARE @NewLicenceDate2013 date	

    DECLARE @ruleDate2013 date = CAST('2013-1-1' AS date)
    DECLARE @ruleDate2014 date = CAST('2014-4-1' AS date)
   
  
	/****************************************COV Since 01/01/2013*****************************************/	
	DECLARE @COVInspectionDate2013 date = (Select [dbo].[Fn_GetCOVByPlateNumber](@plateNumber,@ruleDate2013));
	/****************************************************************************************************/	    
		
	/****************************************COV Since 01/04/2014*****************************************/	
	DECLARE @COVInspectionDate2014 date = (Select [dbo].[Fn_GetCOVByPlateNumber](@plateNumber,@ruleDate2014));
	/****************************************************************************************************/
	   
	/*****************************New Licence was associated Since 01/04/2014*****************************/	
	 IF (@LicenceTypeId IN (@WAT, @WAH) AND @plateNumber IS NOT NULL)
		BEGIN
			SET @NewLicenceDate2014  = (Select [dbo].[Fn_GetNewLicenceInspectionDate] (@plateNumber,@ruleDate2014,0));
		END
	 /****************************************************************************************************/

	/*****************************New Licence was associated ON 01/01/2013*******************************/	
	 IF (@LicenceTypeId IN (@Taxi, @Hackney) AND @plateNumber IS NOT NULL AND @plateNumber < 45000)
		BEGIN
			SET @NewLicenceDate2013  = (Select [dbo].[Fn_GetNewLicenceInspectionDate] (@plateNumber,@ruleDate2013,1));
		END
	 /****************************************************************************************************/


	DECLARE @regDate datetime = (SELECT TOP (1) RegistrationDate FROM [dbo].[VehicleMaster] AS vm WHERE vm.RegistrationNumber = @registrationNumber)

	DECLARE @finalDate datetime

	IF (@plateNumber < 45000)
		SET @finalDate =
			CASE @LicenceTypeId
				WHEN @Taxi    THEN DATEADD(YEAR, 15, @regDate)
				WHEN @Hackney THEN DATEADD(YEAR, 15, @regDate)				
				ELSE NULL
			END	
	ELSE
		SET @finalDate =
			CASE @LicenceTypeId
				WHEN @Taxi    THEN DATEADD(YEAR, 10, @regDate)
				WHEN @Hackney THEN DATEADD(YEAR, 10, @regDate)
				WHEN @LAH     THEN DATEADD(YEAR, 10, @regDate)				
				ELSE NULL
			END
	
	IF(@currentSystemProcessId = 11) -- NEW LICENCE2
		BEGIN
			SET @finalDate =
			CASE @LicenceTypeId
				WHEN @Taxi    THEN DATEADD(YEAR, 10, @regDate)
				WHEN @Hackney THEN DATEADD(YEAR, 10, @regDate)
				WHEN @LAH	  THEN DATEADD(YEAR, 10, @regDate)				
				WHEN @WAT 	  THEN DATEADD(YEAR, 15, @regDate)		
				WHEN @WAH	  THEN DATEADD(YEAR, 15, @regDate)		
				ELSE NULL
			END	
		END
	ELSE IF ((@COVInspectionDate2013 IS NOT NULL OR @currentSystemProcessId IN ( 7 , 9, 13, 17, 21 ,24))  AND @LicenceTypeId IN (@Taxi, @Hackney))
		BEGIN
			SET @finalDate = DATEADD(YEAR, 10, @regDate);
		END	
	ELSE IF (@COVInspectionDate2013 IS NULL AND @NewLicenceDate2013 IS NOT NULL AND @LicenceTypeId IN (@Taxi, @Hackney))
		BEGIN
			SET @finalDate = DATEADD(YEAR, 15, @regDate);
		END
	ELSE IF ((@COVInspectionDate2014 IS NOT NULL OR @currentSystemProcessId IN ( 7 , 9, 13, 17, 21, 24)) AND @LicenceTypeId IN (@WAT, @WAH))
		BEGIN
			SET @finalDate = DATEADD(YEAR, 15, @regDate);
		END
	ELSE IF (@NewLicenceDate2014 IS NOT NULL AND @LicenceTypeId IN (@WAT, @WAH))
		BEGIN
			SET @finalDate = DATEADD(YEAR, 15, @regDate);
		END
	

	RETURN @finalDate
END

GO
