USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceMasterVLAudit_GetLatestStateChange]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =================================
-- Author: dmitry.malutin@ocsico.com 
-- =================================

CREATE PROCEDURE [dbo].[LicenceMasterVLAudit_GetLatestStateChange]
(
    @LicenceNumber varchar(50) = null
)
AS
BEGIN

	DECLARE @T1 table
	(
		r int,				-- Row number
		--ln varchar(50),	-- LicenceNumber
		m int,				-- MasterStateId
		s int				-- StateId
	)

	-- Put State and MasterState to the temp table calculating row numbers
	INSERT @T1
	SELECT
		ROW_NUMBER() OVER (ORDER BY AuditDate) AS r,
		--LicenceNumber AS ln,
		LicenceStateMasterId AS m,
		LicenceStateId AS s
	FROM [dbo].[LicenceMasterVLAudit]
	WHERE LicenceNumber = @LicenceNumber --	'H15580'
	ORDER BY AuditDate DESC

	--SELECT * FROM @T1 -- Debug

	-- Join temp table with itself but with 1 row offset
	SELECT TOP(1)	-- take the latest change only
		--p1.ln,
		p1.m AS CurrentStateMaster,
		p1.s AS CurrentState,
		p2.m AS PreviousStateMaster,
		p2.s AS PreviousState
	FROM @T1 AS p1
	LEFT JOIN @T1 AS p2 ON p2.R = p1.R - 1			-- join table with itself but with 1 row offset
	WHERE (p1.m - p2.m <> 0) OR (p1.s - p2.s <> 0)	-- take only real changes
	ORDER BY p1.r DESC
	
END
GO
