USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_NTA_LegalMetrology_Operators]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sch_NTA_LegalMetrology_Operators]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
    Select distinct
            l.LicenceNumber as VEHICLE_LICENCE_NO,
            l.RegistrationNumber as VEHICLE_REG_NO, 
            upper(ISNULL(lsm.LicenceStateMaster,'') + ' ' + ISNULL(ls.LicenceState,'')) as STATUS,
            l.LicenceIssueDate as [ISSUE_DATE],
            l.LicenceExpiryDate as [EXPIRY_DATE],           
            lhm.HolderName as VL_HOLDER_NAME,           
            Getdate() as ADDED_DATE,
            lk.AddressLine1 as ADDRESS_1 ,
            lk.AddressLine2 as ADDRESS_2 ,
            lk.CountyName as COUNTY,
            lk.Town as TOWN,
            lk.PostCode as POST_CODE,   
            replace(
            (case when lk.PhoneNo1 like '08%' then lk.PhoneNo1
            else
            case when lk.PhoneNo2 like '08%' then lk.PhoneNo2
            else ''
            end
            end),' ','') TEL,
            lower(lk.Email) as EMAIL,                       
            lk.AddressLine3 as ADDRESS_3 ,
            vmo.Model as VEHICLE_MODEL,
            vc.Colour as VEHICLE_COLOUR,
            lk.HolderName as OPERATOR_NAME,
            lk.LicenceNumber as DRIVER_LICENSE_NO,
            lk.DLS_Status as DRIVER_LICENCE_STATUS
    From [cabs_production].dbo.LicenceMasterVL l
    join [cabs_production].dbo.VehicleMaster vm On l.RegistrationNumber=vm.RegistrationNumber
    join [cabs_production].dbo.VehicleModel vmo On vm.ModelId = vmo.ModelId
    join [cabs_production].dbo.VehicleColour vc On vm.ColourId = vc.ColourId
    join [cabs_production].dbo.LicenceStateMaster lsm On l.LicenceStateMasterId=lsm.LicenceStateMasterId
    join [cabs_production].dbo.LicenceHolderMaster lhm On l.LicenceHolderId=lhm.LicenceHolderId
    left outer join [cabs_production].dbo.LicenceState ls On l.LicenceStateId=ls.LicenceStateId
    left outer join 
    (
    Select distinct lsm.Name as DLS_Status, vd.VehicleLicenseNumber,dlhd.PostCode, dlhd.FirstName+' '+dlhd.LastName as HolderName,dlhd.Email,dlhd.PhoneNo1,dlhd.PhoneNo2, ISNULL(dlhd.AddressLine1,'') + ' ' + ISNULL(dlhd.AddressLine2,'') + ' ' + ISNULL(dlhd.AddressLine3,'') AS [Address],dlhd.AddressLine1,dlhd.AddressLine2,dlhd.AddressLine3, lm.LicenceNumber, County.CountyName as CountyName,dlhd.Town 
    from [cabs_production].cabs_dvl.VehicleDriver AS vd 
            join [cabs_production].cabs_cmo.IndustryUser AS iu ON vd.IndustryUserId = iu.ID 
            join cabs_production.cabs_spsv.IndustryUserDriverLicenceHolderMaster iudlhm on iudlhm.IndustryUserFK = iu.ID
             join cabs_production.dl.LicenceHolderMaster dllhm on iudlhm.LicenceHolderMasterFK = dllhm.PersonId
            left outer join cabs_production.person.Person AS lh ON dllhm.PersonId = lh.PersonId     
            left outer join cabs_production.person.DriverLicenceHolderDetails as dlhd on dlhd.PersonId = lh.PersonId
            left outer join cabs_production.dl.LicenceMaster as lm on lm.LicenceMasterId = dllhm.LicenceMasterId
            left outer join cabs_production.dl.LicenceStateMaster lsm On lm.LicenceStateMasterId=lsm.LicenceStateMasterId
			left outer join cabs_production.dbo.County on County.CountyId=dlhd.CountyId
    WHERE (lm.LicenceStateMasterId=1) AND (vd.IsActive = 1) AND (vd.StartDate <= GETDATE()) AND (vd.EndDate >= GETDATE() OR vd.EndDate IS NULL) 
                AND (vd.CreatedOn <= lm.ExpiryDate)
                AND iu.PPSN is not NULL
    Union --After SPSV module was added on 11.2015 the IndustryUserId.PPSN for new users is null. Need to link it by VehicleDriver table.
    Select distinct lsm.Name as DLS_Status, vd.VehicleLicenseNumber,dlhd.PostCode, dlhd.FirstName+' '+dlhd.LastName as HolderName,dlhd.Email,dlhd.PhoneNo1,dlhd.PhoneNo2, ISNULL(dlhd.AddressLine1,'') + ' ' + ISNULL(dlhd.AddressLine2,'') + ' ' + ISNULL(dlhd.AddressLine3,'') AS [Address],dlhd.AddressLine1,dlhd.AddressLine2,dlhd.AddressLine3, lm.LicenceNumber, County.CountyName as CountyName,dlhd.Town 
    from [cabs_production].cabs_dvl.VehicleDriver AS vd 
            join [cabs_production].cabs_cmo.IndustryUser AS iu ON vd.IndustryUserId = iu.ID 
            join cabs_production.cabs_spsv.IndustryUserDriverLicenceHolderMaster iudlhm on iudlhm.IndustryUserFK = iu.ID
             join cabs_production.dl.LicenceHolderMaster dllhm on iudlhm.LicenceHolderMasterFK = dllhm.PersonId
            left outer join cabs_production.person.Person AS lh ON dllhm.PersonId = lh.PersonId     
            left outer join cabs_production.person.DriverLicenceHolderDetails as dlhd on dlhd.PersonId = lh.PersonId
            left outer join cabs_production.dl.LicenceMaster as lm on lm.LicenceMasterId = dllhm.LicenceMasterId
            left outer join cabs_production.dl.LicenceStateMaster lsm On lm.LicenceStateMasterId=lsm.LicenceStateMasterId
			left outer join cabs_production.dbo.County on County.CountyId=dlhd.CountyId
    WHERE (lm.LicenceStateMasterId=1) AND (vd.IsActive = 1) AND (vd.StartDate <= GETDATE()) AND (vd.EndDate >= GETDATE() OR vd.EndDate IS NULL) 
                AND (vd.CreatedOn <= lm.ExpiryDate)
                AND iu.PPSN is NULL
    ) lk On l.LicenceNumber=lk.VehicleLicenseNumber
    WHERE l.LicenceTypeId in (1,4) AND (l.LicenceStateMasterId <> 6)                    
    order by l.LicenceNumber

END
GO
