USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetNextLicenceHolderCCSN]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetNextLicenceHolderCCSN] (@FirstName nvarchar(50), @LastName nvarchar(50))    
	RETURNS  nvarchar(10)
/*
Author:		Damien Dennehy
Date:		17-01-2011
Purpose:	Used to generate a CCSN number from the licence holders table
*/
AS
BEGIN    
--vars    
DECLARE @FirstNameInitial nvarchar(1)
DECLARE @LastNameInitial nvarchar(1)
DECLARE @CCSN int
DECLARE @CCSN_Final nvarchar(10)

IF (RTRIM(@FirstName) = '')
BEGIN
	SET @FirstName = null
END

IF (RTRIM(@LastName) = '')
BEGIN
	SET @LastName = null
END

--Get the initials of the first name and last name
SET @FirstNameInitial = SUBSTRING (@FirstName, 1, 1)
SET @LastNameInitial = SUBSTRING (@LastName, 1, 1)

--Strip the above initials from the CCSN when searching
--and return the max number in the table
IF (@FirstName IS NULL and @LastName IS NULL)
BEGIN
	SELECT @CCSN = MAX(CCSN) 
	FROM dbo.LicenceHolderMaster
	WHERE IsNumeric(CCSN) = 1
END
ELSE
BEGIN
	--Strip the above initials from the CCSN when searching
	--and return the max number in the table
	SELECT @CCSN = MAX(SUBSTRING(CCSN,3, LEN(CCSN) - 2)) 
	FROM dbo.LicenceHolderMaster
	WHERE SUBSTRING(CCSN, 1, 2) = @FirstNameInitial + @LastNameInitial
END

--Incrememnt the number found by one
SET @CCSN = coalesce(@CCSN,0) + 1

IF (@FirstName IS NULL and @LastName IS NULL)
BEGIN
	--Convert the number to a string and pad one zero to it
	--Combine this string with the initials
	SET @CCSN_Final = RIGHT('0000' + Convert(NVARCHAR(4),@CCSN), 4)
END
ELSE
BEGIN
	--Convert the number to a string and pad one zero to it
	--Combine this string with the initials
	SET @CCSN_Final = @FirstNameInitial + @LastNameInitial + RIGHT('0000' + Convert(NVARCHAR(4),@CCSN), 4)
END

RETURN @CCSN_Final

END

GO
