USE [cabs_production]
GO
/****** Object:  Table [dbo].[PrintRequestDetailVLQueueItem]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintRequestDetailVLQueueItem](
	[BatchNumber] [varchar](50) NOT NULL,
	[PrintRequestId] [int] NOT NULL,
	[Printed] [bit] NOT NULL,
 CONSTRAINT [PK_PrintRequestDetailVLQueueItem] PRIMARY KEY CLUSTERED 
(
	[BatchNumber] ASC,
	[PrintRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrintRequestDetailVLQueueItem]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetailVLBatch_PrintRequestDetailVL] FOREIGN KEY([PrintRequestId])
REFERENCES [dbo].[PrintRequestDetailVL] ([PrintRequestId])
GO
ALTER TABLE [dbo].[PrintRequestDetailVLQueueItem] CHECK CONSTRAINT [FK_PrintRequestDetailVLBatch_PrintRequestDetailVL]
GO
ALTER TABLE [dbo].[PrintRequestDetailVLQueueItem]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetailVLQueueItem_PrintRequestDetailVLQueue] FOREIGN KEY([BatchNumber])
REFERENCES [dbo].[PrintRequestDetailVLQueue] ([BatchNumber])
GO
ALTER TABLE [dbo].[PrintRequestDetailVLQueueItem] CHECK CONSTRAINT [FK_PrintRequestDetailVLQueueItem_PrintRequestDetailVLQueue]
GO
