USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreDefaultConfig_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16-Nov-2010>
-- Description:	<Select all Test Centre Default configurations>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreDefaultConfig_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SELECT	dc.TestCentreDefaultConfigId,
			dc.TestCentreId,
			tc.TestCentreName,
			dc.TestCentreLaneId,
			tcl.TestCentreLaneName,
			dc.WeekDayId,
			dw.DayName,
			dc.StartTime,
			dc.EndTime,
			dc.CreatedBy,
			dc.CreatedDate,
			dc.ModifiedBy,
			dc.ModifiedDate,
			dc.Biweekly,
			dc.BiweeklyStartDate,
			dc.BiweeklyEndDate
	FROM dbo.TestCentreDefaultConfig dc
		 left outer join dbo.TestCentre tc ON dc.TestCentreId = tc.TestCentreId
		 left outer join dbo.TestCentreLanes tcl ON dc.TestCentreLaneId = tcl.TestCentreLaneId
		 left outer join dbo.DaysOfTheWeek dw ON dc.WeekDayId = dw.DayId
	ORDER BY dc.TestCentreId, dc.WeekDayId, dc.StartTime, tcl.TestCentreLaneName

END
GO
