USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfig_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16/11/2010>
-- Description:	<Add a test centre current configuration>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfig_Insert] 
	-- Add the parameters for the stored procedure here
(
	@TestCentreConfigurationId int output,
	@TestCentreDefaultConfigId smallint,
	@TestCentreId smallint,	
	@TestCentreLaneId int,	
	@ConfigDate Datetime,	
	@StartTime datetime,	
	@EndTime datetime,	
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime output
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @CreatedDate = GETDATE()
	SET @ModifiedDate = @CreatedDate
	
	INSERT INTO TestCentreConfiguration
	(
		TestCentreId,
		TestCentreDefaultConfigId,
		TestCentreLaneId,
		ConfigDate,
		StartTime,
		EndTime,
		CreatedBy,
		CreatedDate,
		ModifiedBy,
		ModifiedDate
	)
	VALUES
	(
		@TestCentreId,
		@TestCentreDefaultConfigId,
		@TestCentreLaneId,
		@ConfigDate,
		@StartTime,
		@EndTime,
		@CreatedBy,
		@CreatedDate,
		@ModifiedBy,
		@ModifiedDate
	)

	set @TestCentreConfigurationId = SCOPE_IDENTITY()

END
GO
