USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLinkedUsers_SelectById]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[TestCentreLinkedUsers_SelectById] 
@TestCentreLinkedUserId INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT [TestCentreLinkedUserId]
		,tclu.[UserId]
		,[TestCentreId]
		,[CreatedBy]
		,[CreatedDate]
		,[ModifiedBy]
		,[ModifiedDate]
		,[Active]
		,u.UserName AS UserName
		,m.Email AS UserEmail,
		m.IsApproved,
		ud.FullName
	FROM [dbo].[TestCentreLinkedUsers] tclu
	JOIN aspnet_Users u ON tclu.UserId = u.UserId
	JOIN aspnet_Membership m ON tclu.UserId = m.UserId
	left join cabs_cmo.UserDetails ud on ud.UserId=m.UserId 
	WHERE Active = 1
		AND TestCentreLinkedUserId = @TestCentreLinkedUserId
END

GO
