USE [cabs_production]
GO
/****** Object:  Table [dbo].[VehicleBodyType]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleBodyType](
	[BodyTypeId] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Body_Type_CD] [varchar](3) NOT NULL,
	[BodyType] [varchar](30) NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BodyType] PRIMARY KEY CLUSTERED 
(
	[BodyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleBodyType] ADD  CONSTRAINT [DF_BodyType_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[VehicleBodyType] ADD  CONSTRAINT [DF_BodyType_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[VehicleBodyType] ADD  CONSTRAINT [DF_BodyType_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VehicleBodyType] ADD  CONSTRAINT [DF_BodyType_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[VehicleBodyType] ADD  CONSTRAINT [DF_BodyType_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
