USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[WatRegister_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WatRegister_Insert] 

(
@LicenceNumber varchar(50),
@DispatchOperatorId int,
@Email nvarchar(255),
@ContactNumberBookings nvarchar(255),
@ContactNumberMobile nvarchar(255),
@WebSite nvarchar(255),
@Comments nvarchar(max),
@CreatedBy nvarchar(50),	
@CreatedDate datetime output,	
@ModifiedBy nvarchar(50),	
@ModifiedDate datetime output
)

AS
BEGIN

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate
	
INSERT INTO WatRegister
(
LicenceNumber,
DispatchOperatorId,
Email,
ContactNumberBookings,
ContactNumberMobile,
WebSite,
Comments,
CreatedBy,
ModifiedBy
)

VALUES
(
@LicenceNumber,
@DispatchOperatorId,
@Email,
@ContactNumberBookings,
@ContactNumberMobile,
@WebSite,
@Comments,
@CreatedBy,
@ModifiedBy
)


END
GO
