USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_GetBookingsForSlotInDateRange]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Booking_GetBookingsForSlotInDateRange]
(
	@TestCentreId int,
	@StartDate DateTime,
	@EndDate DateTime,
	@StartTime DateTime,
	@EndTime DateTime,
	@TestCentreLaneId int,
	@WeekdayId int
)

AS

BEGIN

SET NOCOUNT ON;
/*
Set the weekday to be correct for sql.
Taxi assumes monday is the first week whereas sql assumes sunday is
*/
BEGIN
	IF (@WeekdayId = 7)
		SET @WeekdayId = 1
	ELSE
		SET @WeekdayId = @WeekdayId + 1	
END

-- The actual query
SELECT b.BookingId
	 , b.TestCentreId
	 , b.TestCentreLaneId
	 , b.BookingDateTime
	 , b.BookingEndDateTime

FROM
	(
		SELECT BookingId, BookingStatusId, TestCentreId, TestCentreLaneId, BookingDateTime, BookingEndDateTime
		FROM dbo.Booking
		UNION ALL
		SELECT ID as BookingId, StatusID as BookingStatusId, TestCentreId, TestCentreLaneId, StartDateTime as BookingDateTime, EndDateTime as BookingEndDateTime
		FROM cabs_sk.Booking
    ) b

WHERE
	b.TestCentreId = @TestCentreId
	AND b.TestCentreLaneId = @TestCentreLaneId
	AND b.BookingDateTime BETWEEN @StartDate AND @EndDate
	AND b.BookingStatusId IN (1, 2)
	AND datepart (dw, BookingDateTime) = @WeekdayId
	AND
	(
		(
			convert(VARCHAR(8), b.BookingDateTime, 108) >= convert(VARCHAR(8), @startTime, 108)
			AND
			convert(VARCHAR(8), b.BookingEndDateTime, 108) < convert(VARCHAR(8), @endTime, 108)
		)
		OR
		(
			convert(VARCHAR(8), b.BookingDateTime, 108) > convert(VARCHAR(8), @startTime, 108)
			AND
			convert(VARCHAR(8), b.BookingEndDateTime, 108) <= convert(VARCHAR(8), @endTime, 108)
		)
		OR
		(
			convert(VARCHAR(8), b.BookingDateTime, 108) <= convert(VARCHAR(8), @startTime, 108)
			AND
			convert(VARCHAR(8), b.BookingEndDateTime, 108) >= convert(VARCHAR(8), @endTime, 108)
		)
	)
END
GO
