USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetComplianceTeamEmails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec SELECT dbo.GetString(7)  
CREATE FUNCTION [dbo].[GetComplianceTeamEmails] 
(   
    
)
RETURNS NVARCHAR(MAX)
AS
BEGIN

declare @RESULT_STRING varchar(MAX)
SET @RESULT_STRING = ''

SELECT  @RESULT_STRING = @RESULT_STRING + m.email + '; '
                      FROM Cabs_production.cabs_cmo.UserDetails as UD
	                       JOIN Cabs_production.dbo.aspnet_Users as U ON U.UserId = UD.UserId
						   JOIN Cabs_Production.dbo.aspnet_Membership m ON u.UserId=m.UserId
                      WHERE UD.UserId IN
                      (
	                      SELECT tu.[user_id]
	                      FROM Cabs_Live.dbo.Case_Team AS team,
		                       Cabs_live.dbo.Case_TeamUsers AS tu
	                      WHERE 
		                      tu.team_id = team.id AND
		                      (team.name = 'Compliance' OR
		                          team.name = 'SGS Compliance Officers')
                      )
					  AND m.Email Is Not NULL AND m.Email <> ''

Set @RESULT_STRING= SUBSTRING(@RESULT_STRING, 0, LEN(@RESULT_STRING)) 

RETURN @RESULT_STRING
END

GO
