USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <20/12/2010>
-- Description:	<Add a booking>
-- =============================================
CREATE PROCEDURE [dbo].[Booking_Insert] 
	-- Add the parameters for the stored procedure here
(
	@BookingId int output,
	@ParentId int,		
	@InspectionTimeId int,	
	@TestCentreId int,	
	@TestCentreLaneId int,	
	@BookingStatusId int,
	@SystemProcessId int,	
	@BookingDateTime datetime,	
	@BookingEndDateTime datetime,	
	@LicenceNumber varchar(50),	
	@RegistrationNumber varchar(10),
	@BookingCancellationReasonId int = null,
	@NewLicenceHolderId	int = null,
	@LateCancellation bit = null,
	@LateReschedule bit = null,
	@PremiumBooking bit = null,
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime output
)

AS
BEGIN
	DECLARE @ErrorMessage VarChar (Max)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @CreatedDate = GETDATE()
	SET @ModifiedDate = @CreatedDate


	/*
	Check that there is no conflict with an existing booking.
	*/
	If ([dbo].CheckForBookingConflicts(@BookingId, @TestCentreId, @TestCentreLaneId, @BookingStatusId, @BookingDateTime, @BookingEndDateTime) > 0)
	Begin
		Set @ErrorMessage = 'This booking time conflicts with an existing booking.  Please reload the screen and select a new time.'
		Raiserror (@ErrorMessage, 16, 1)
	End

	INSERT INTO Booking
	(
		ParentId,		
		InspectionTimeId,	
		TestCentreId,	
		TestCentreLaneId,	
		BookingStatusId,	
		SystemProcessId,
		BookingDateTime,	
		BookingEndDateTime,	
		LicenceNumber,	
		RegistrationNumber,	
		BookingCancellationReasonId,
		NewLicenceHolderId,
		LateCancellation,
		LateReschedule,
		PremiumBooking,
		CreatedBy,	
		CreatedDate,	
		ModifiedBy,	
		ModifiedDate
	)
	VALUES
	(
		@ParentId,
		@InspectionTimeId,	
		@TestCentreId,	
		@TestCentreLaneId,	
		@BookingStatusId,
		@SystemProcessId,	
		@BookingDateTime,	
		@BookingEndDateTime,	
		@LicenceNumber,	
		@RegistrationNumber,	
		@BookingCancellationReasonId,
		@NewLicenceHolderId,
		@LateCancellation,
		@LateReschedule,
		@PremiumBooking,
		@CreatedBy,	
		@CreatedDate,	
		@ModifiedBy,	
		@ModifiedDate
	)

	set @BookingId = SCOPE_IDENTITY()
	
	IF @ParentId IS NULL
	BEGIN
		UPDATE Booking
		SET ParentID = @BookingId
		WHERE BookingId = @BookingId
	END	

END
GO
