USE [cabs_production]
GO
/****** Object:  View [dbo].[viewRenewal lead time booking date to expiry date]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[viewRenewal lead time booking date to expiry date] as
with step1 as
(
select  
	 vl.[LicenceNumber]
	,vl.[LicenceExpiryDate]
	,dense_rank() over(partition by vl.[LicenceNumber] order by vl.[LicenceExpiryDate] desc) as [LicenceExpiryDate_Order]
	,vl.[RenewalDate]
	,vi.BookingId
	,b.CreatedDate as BookingDate
	,b.SystemProcessId
	,dense_rank() over(partition by vl.[LicenceNumber] order by b.[CreatedDate] desc) as [BookingOrder]
FROM
	[cabs_production].[dbo].[LicenceMasterVLAudit] vl
	join [dbo].[VehicleInspections] vi on cast(vl.LicenceNumber as varchar)=cast(vi.LicenceNumber as varchar) and vl.[LicenceStateMasterId] = 4
	join [Booking] b on vi.BookingId=b.BookingId
)
select distinct
	a.[LicenceNumber], a.[LicenceExpiryDate], b.[RenewalDate], b.BookingDate, datediff(day, a.[LicenceExpiryDate], b.[RenewalDate]) as [DayDifference]
from 
	(select [LicenceNumber], [LicenceExpiryDate] from step1 where [LicenceExpiryDate_Order]=2) a
	join 
	(select [LicenceNumber], [RenewalDate], BookingDate, SystemProcessId from step1 where [BookingOrder]=1) b
	on a.LicenceNumber=b.LicenceNumber
where b.[RenewalDate] between '2018-02-01' and '2018-02-28'
and b.SystemProcessId in (1, 12, 19, 23)
GO
