USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfig_Delete]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <26/04/2011>
-- Description:	<Delete a Test Centre Configuration>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfig_Delete] 
	-- Add the parameters for the stored procedure here
(
	@TestCentreConfigurationId varchar(50) = NULL
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO [dbo].[TestCentreConfigurationAudit]
           ([TestCentreConfigurationId]
           ,[TestCentreDefaultConfigId]
           ,[TestCentreId]
           ,[TestCentreLaneId]
           ,[ConfigDate]
           ,[StartTime]
           ,[EndTime]
           ,[IsActive]
           ,[CreatedBy]
           ,[CreatedDate]
           ,[ModifiedBy]
           ,[ModifiedDate])
    SELECT 
			[TestCentreConfigurationId]
           ,[TestCentreDefaultConfigId]
           ,[TestCentreId]
           ,[TestCentreLaneId]
           ,[ConfigDate]
           ,[StartTime]
           ,[EndTime]
           ,0
           ,[CreatedBy]
           ,[CreatedDate]
           ,[ModifiedBy]
           ,Getdate()
	FROM dbo.TestCentreConfiguration
	WHERE TestCentreConfigurationId = @TestCentreConfigurationId


	DELETE FROM TestCentreConfiguration
	WHERE 
		TestCentreConfigurationId = @TestCentreConfigurationId
		
	
END
GO
