USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreClosedDates_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Damien Dennehy>
-- Create date: <21-Jun-2011>
-- Description:	<Add a closed Test Centre Date>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreClosedDates_Insert]
(
	@ClosedDate datetime, 
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime output
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SET @CreatedDate = GETDATE()
	SET @ModifiedDate = @CreatedDate

	INSERT INTO dbo.TestCentreClosedDates
	(
			ClosedDate, 
			CreatedBy,
			CreatedDate,
			ModifiedBy,
			ModifiedDate
	)
	VALUES
	(
			CONVERT(Date,@ClosedDate), 
			@CreatedBy,
			@CreatedDate,
			@ModifiedBy,
			@ModifiedDate
	)
	
	

END
GO
