USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_RenewalLeadTime_InspectionDateToExpiryDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sumayya Sayed
-- Create date: 24-FEB-2017
-- =============================================

CREATE PROCEDURE [dbo].[RPT_RenewalLeadTime_InspectionDateToExpiryDate]

@Param int = NULL,
@StartDate datetime = NULL,
@EndDate datetime = NULL

AS

BEGIN
	SET NOCOUNT ON;

IF(@Param = 1) 
Begin
;WITH T1 AS(
		SELECT 
		LM.LicenceNumber As VehicleLicenceNumber,
		VI.TestStartTime AS DateOfInspecton,		
		[dbo].[GetSecondLastExpiryDate](LM.LicenceNumber) as SecondLastExpiryDate,
		LM.LicenceExpiryDate As NewExpiryDate,
		DateDiff (DAY,VI.TestStartTime,[dbo].[GetSecondLastExpiryDate](LM.LicenceNumber)) as DayDiff
		 from [cabs_production].[dbo].[Booking] B 
		inner Join [cabs_production].[dbo].[SystemProcessInstanceVL] SPV on SPV.BookingId = B.BookingID
		inner join [cabs_production].[dbo].VehicleInspections VI on VI.BookingId = B.BookingID 
		inner join [cabs_production].[dbo].LicenceMasterVL LM on LM.LicenceNumber = B.LicenceNumber
		where B.systemProcessID in (1,12,19,23)
		and B.BookingStatusID = 3
		and SPV.Completed = 1 
		and SPV.SystemProcessId in (1,12,19,23)
		and VI.TestResultId = 1
		And VI.TestStartTime Between @StartDate AND DATEADD(Day,1,@EndDate))
		--ORDER BY VI.TestStartTime DESC)
		
		 select * into #temp from T1  --order by DateOfInspection desc
		 select * from #temp order by DateOfInspecton desc
		 DROP table #temp

END

Else
BEGIN 

	DECLARE @summaryTable TABLE(
    NoOfDays varchar(100),
    LicenceCount INT,
    Percentage decimal(10,2),
    SortOrder INT);

	Declare @TotalCount decimal(10,2)
	Declare @TotalCount0_1 decimal(10,2)
	Declare @TotalCount2_5 decimal(10,2)
	Declare @TotalCount6_10 decimal(10,2)
	Declare @TotalCount11_20 decimal(10,2)
	Declare @TotalCount21_30 decimal(10,2)
	Declare @TotalCount31_60 decimal(10,2)
	Declare @TotalCount61onwards decimal(10,2)


	;WITH T1 AS(
		SELECT 
		LM.LicenceNumber As VehicleLicenceNumber,
		VI.TestStartTime AS DateOfInspecton,		
		[dbo].[GetSecondLastExpiryDate](LM.LicenceNumber) as SecondLastExpiryDate,
		LM.LicenceExpiryDate As NewExpiryDate,
		DateDiff (DAY,VI.TestStartTime,[dbo].[GetSecondLastExpiryDate](LM.LicenceNumber)) as DayDiff
		 from [cabs_production].[dbo].[Booking] B 
		inner Join [cabs_production].[dbo].[SystemProcessInstanceVL] SPV on SPV.BookingId = B.BookingID
		inner join [cabs_production].[dbo].VehicleInspections VI on VI.BookingId = B.BookingID 
		inner join [cabs_production].[dbo].LicenceMasterVL LM on LM.LicenceNumber = B.LicenceNumber
		where B.systemProcessID in (1,12,19,23)
		and B.BookingStatusID = 3
		and SPV.Completed = 1 
		and SPV.SystemProcessId in (1,12,19,23)
		and VI.TestResultId = 1
		And VI.TestStartTime Between @StartDate AND DATEADD(Day,1,@EndDate))

		 select * into #temp1 from T1  		


	select @TotalCount=Count (*) from #temp1
	select @TotalCount0_1=Count (*) from #temp1 where DayDiff<=1
	select @TotalCount2_5=Count (*) from #temp1 where DayDiff>=2 and DayDiff <=5
	select @TotalCount6_10=Count (*) from #temp1 where DayDiff>=6 and DayDiff <=10
	select @TotalCount11_20=Count (*) from #temp1 where DayDiff>=11 and DayDiff <=20
	select @TotalCount21_30=Count (*) from #temp1 where DayDiff>=21 and DayDiff <=30
	select @TotalCount31_60=Count (*) from #temp1 where DayDiff>=31 and DayDiff <=60
	select @TotalCount61onwards=Count (*) from #temp1 where DayDiff>=61
		IF (@TotalCount <> 0)
		 BEGIN
		insert into @summaryTable values('0-1 days',@TotalCount0_1,(@TotalCount0_1*100)/@TotalCount,1)
		insert into @summaryTable values('2-5 days',@TotalCount2_5,(@TotalCount2_5*100)/@TotalCount,2)
		insert into @summaryTable values('6-10 days',@TotalCount6_10,(@TotalCount6_10*100)/@TotalCount,3)
		insert into @summaryTable values('11-20 days',@TotalCount11_20,(@TotalCount11_20*100)/@TotalCount,4)
		insert into @summaryTable values('21-30 days',@TotalCount21_30,(@TotalCount21_30*100)/@TotalCount,5)
		insert into @summaryTable values('31-60 days',@TotalCount31_60,(@TotalCount31_60*100)/@TotalCount,6)
		insert into @summaryTable values('61+ days',@TotalCount61onwards,(@TotalCount61onwards*100)/@TotalCount,7)
		END

	select * from @summaryTable
	DROP table #temp1

 END

 
END
		








GO
