USE [cabs_production]
GO
/****** Object:  Table [dbo].[UploadedDocuments]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadedDocuments](
	[DocumentID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DocumentPath] [nvarchar](max) NOT NULL,
	[DocumentTitle] [nvarchar](255) NOT NULL,
	[LicenceHolderID] [int] NOT NULL,
	[MedicalExam] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_UploadedDocuments] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
