USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemProcessVL_SelectByProcessId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 15-Sep-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SystemProcessVL_SelectByProcessId]

	@SystemProcessId int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SystemProcessId, ProcessName
	FROM dbo.SystemProcessVL
	WHERE SystemProcessId = @SystemProcessId
END
GO
