USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_ValidateEmail]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[udf_ValidateEmail] (@email varChar(255))
 
RETURNS bit
AS
begin
return
(
select 
	Case 
		When 	@Email is null then 0	   
		When	charindex(' ', @email) 	<> 0 or
				charindex('/', @email) 	<> 0 or
				charindex(',', @email) 	<> 0 or
				charindex(':', @email) 	<> 0 or
				charindex(';', @email) 	<> 0 then 0 
		When len(@Email)-1 <= charindex('.', @Email) then 0--check for '%._' at end of string
		When 	@Email like '%@%@%'or 
				@Email Not Like '%@%.%' or
				@Email Like '%@.%' or
				@Email Like '%.@%'  
				then 0
		Else 1
	END
)
end
GO
