USE [cabs_production]
GO
/****** Object:  Table [dbo].[PrintRequestDetailVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintRequestDetailVL](
	[PrintRequestId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DespatchMethodId] [tinyint] NULL,
	[PrintRequestMasterId] [int] NOT NULL,
	[PrintRequestStatusId] [tinyint] NOT NULL,
	[PrintRequestReasonId] [int] NOT NULL,
	[PrintCompanyId] [int] NULL,
	[DespatchDate] [datetime] NULL,
	[TrackingNumber] [varchar](50) NULL,
	[PrintDate] [datetime] NULL,
	[PrintBatchNumber] [varchar](50) NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
	[BatchId] [varchar](30) NULL,
 CONSTRAINT [PK_PrintRequestDetailVL] PRIMARY KEY CLUSTERED 
(
	[PrintRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrintRequestDetailVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetailVL_DespatchCompanies] FOREIGN KEY([PrintCompanyId])
REFERENCES [dbo].[PrintCompany] ([PrintCompanyId])
GO
ALTER TABLE [dbo].[PrintRequestDetailVL] CHECK CONSTRAINT [FK_PrintRequestDetailVL_DespatchCompanies]
GO
ALTER TABLE [dbo].[PrintRequestDetailVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetailVL_DespatchMethod] FOREIGN KEY([DespatchMethodId])
REFERENCES [dbo].[DespatchMethod] ([DespatchMethodId])
GO
ALTER TABLE [dbo].[PrintRequestDetailVL] CHECK CONSTRAINT [FK_PrintRequestDetailVL_DespatchMethod]
GO
ALTER TABLE [dbo].[PrintRequestDetailVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetailVL_PrintRequestMasterVL] FOREIGN KEY([PrintRequestMasterId])
REFERENCES [dbo].[PrintRequestMasterVL] ([PrintRequestMasterId])
GO
ALTER TABLE [dbo].[PrintRequestDetailVL] CHECK CONSTRAINT [FK_PrintRequestDetailVL_PrintRequestMasterVL]
GO
ALTER TABLE [dbo].[PrintRequestDetailVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetailVL_PrintRequestReasonVL1] FOREIGN KEY([PrintRequestReasonId])
REFERENCES [dbo].[PrintRequestReasonVL] ([PrintRequestReasonId])
GO
ALTER TABLE [dbo].[PrintRequestDetailVL] CHECK CONSTRAINT [FK_PrintRequestDetailVL_PrintRequestReasonVL1]
GO
ALTER TABLE [dbo].[PrintRequestDetailVL]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetailVL_PrintRequestStatus] FOREIGN KEY([PrintRequestStatusId])
REFERENCES [dbo].[PrintRequestStatus] ([PrintRequestStatusId])
GO
ALTER TABLE [dbo].[PrintRequestDetailVL] CHECK CONSTRAINT [FK_PrintRequestDetailVL_PrintRequestStatus]
GO
