USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleInspectionDefect_SelectByDefectId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 17-Nov-2010
-- =============================================
CREATE PROCEDURE [dbo].[VehicleInspectionDefect_SelectByDefectId]

	@VehicleInspectionDefectID int
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	VehicleInspectionDefectID, VehicleInspectionID, DC.DefectCategory,
	DG.DefectGroup, DR.DefectReason, DT.DefectType, DL.DefectLocation,
	Comment

	FROM dbo.VehicleInspectionDefects VID
	
	LEFT OUTER JOIN dbo.DefectCategories DC ON DC.DefectCategoryID = VID.DefectCategoryID
	LEFT OUTER JOIN dbo.DefectGroups DG ON DG.DefectGroupID = VID.DefectGroupID
	LEFT OUTER JOIN dbo.DefectReasons DR ON DR.DefectReasonID = VID.DefectReasonID
	LEFT OUTER JOIN dbo.DefectTypes DT ON DT.DefectTypeID = VID.DefectTypeID
	LEFT OUTER JOIN dbo.DefectLocations DL ON DL.DefectLocationID = VID.DefectLocationID
	
	WHERE VID.VehicleInspectionDefectID = @VehicleInspectionDefectID

END
GO
