USE [cabs_production]
GO
/****** Object:  View [dbo].[Skills1]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE view [dbo].[Skills1] as

--Skills
with step1 as
(
select distinct  
	ct.[TestId]
   ,ct.[StartDateTime]
   ,row_number() over(partition by p.PPSN order by ct.[StartDateTime] desc ) OrderTest
   ,c.ID
   ,p.PPSN
from [cabs_sk].[CandidateTest] ct
	join [cabs_sk].[Booking] b on ct.BookingID=b.ID
	join [cabs_sk].[Candidate] c on b.CandidateId=c.ID
	join [cabs_cmo].[Person] p on p.ID=c.ID
),step2 as
(
	select PPSN from step1 
	where 
	OrderTest=1 and [StartDateTime] between cast(dateadd(year, -2, getdate()) as date) and getdate()
)
SELECT
	  b.[PPSN]
	 ,b.FirstName as [First Name]
	 ,b.LastName as [Surname]
	 ,format(b.DateOfBirth,'dd/MM/yyyy')[Date Of Birth]
	 ,b.MobileNumber as [Mobile Phone/Phone No. 1]
	 ,b.HomeNumber as [Home No./ Phone No. 2]
	 ,b.Email
	 ,b.AddressLine1
	 ,b.AddressLine2
	 ,b.AddressLine3
	 ,b.Town
	 ,b.PostCode as [Postal Code]
	 ,c.CountyName as [County]
	 ,cr.CountryName as [Country]
	 ,ct.StartDateTime
	 ,row_number() over(partition by b.PPSN order by ct.StartDateTime desc ) OrderTest
	 ,a.ID as [Skills- CandidateID]
	 
  FROM [cabs_sk].[Candidate] a
  join [cabs_cmo].[Person] b on a.PersonID=b.ID
  left join [dbo].[Country] cr on b.CountryID=cr.CountryId
  left join [dbo].[County] c on b.CountyID=c.CountyId
  left join [cabs_sk].[Booking] sb on a.ID=sb.CandidateID
  left join [cabs_sk].[CandidateTest] ct on sb.ID=ct.BookingID
  where PPSN in (select PPSN from step2)
  --order by PPSN
GO
