USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[InsuranceCompany_SelectByInsuranceCompanyId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsuranceCompany_SelectByInsuranceCompanyId] 
(
@InsuranceCompanyId int
)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT InsuranceCompanyId, InsuranceCompany, Active,
			CreatedBy, CreatedDate, ModifiedBy, ModifiedDate
	FROM dbo.InsuranceCompany
	WHERE InsuranceCompanyId = @InsuranceCompanyId

END
GO
