USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_Update]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Stored Procedure

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <20/12/2010>
-- Description:	<Update a booking>
-- =============================================
CREATE PROCEDURE [dbo].[Booking_Update] 
	-- Add the parameters for the stored procedure here
(
	@BookingId int output,
	@ParentId int,		
	@InspectionTimeId int,	
	@TestCentreId int,	
	@TestCentreLaneId int,	
	@BookingStatusId int,
	@SystemProcessId int,	
	@BookingDateTime datetime,	
	@BookingEndDateTime datetime,	
	@LicenceNumber varchar(50),	
	@RegistrationNumber varchar(10),
	@BookingCancellationReasonId int = null,
	@NewLicenceHolderId int = null,
	@LateCancellation bit = null,
	@LateReschedule bit = null,
	@PremiumBooking bit = null,
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime output,
	@RequestedBy uniqueidentifier = NULL,
	@ComplianceOfficerNumber nvarchar(50) = NULL
)

AS
BEGIN
	DECLARE @ErrorMessage VarChar (Max)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	/*
	Check that there is no conflict with an existing booking.
	*/
	If ([dbo].CheckForBookingConflicts(@BookingId, @TestCentreId, @TestCentreLaneId, @BookingStatusId, @BookingDateTime, @BookingEndDateTime) > 0)
	Begin
		Set @ErrorMessage = 'This booking time conflicts with an existing booking.  Please reload the screen and select a new time.'
		Raiserror (@ErrorMessage, 16, 1)
	End


	SET @ModifiedDate = GETDATE()

	Update Booking
	Set
		ParentId = @ParentId,		
		InspectionTimeId = @InspectionTimeId,	
		TestCentreId = @TestCentreId,	
		TestCentreLaneId = @TestCentreLaneId,	
		BookingStatusId = @BookingStatusId,	
		SystemProcessId = @SystemProcessId,
		BookingDateTime = @BookingDateTime,	
		BookingEndDateTime = @BookingEndDateTime,	
		LicenceNumber = @LicenceNumber,	
		RegistrationNumber = @RegistrationNumber,	
		BookingCancellationReasonId = @BookingCancellationReasonId,
		NewLicenceHolderId = @NewLicenceHolderId,
		LateCancellation = @LateCancellation,
		LateReschedule = @LateReschedule,
		PremiumBooking = @PremiumBooking,
		CreatedBy = @CreatedBy,	
		CreatedDate = @CreatedDate,	
		ModifiedBy = @ModifiedBy,	
		ModifiedDate = @ModifiedDate,
		RequestedBy = @RequestedBy,
		ComplianceOfficerNumber = @ComplianceOfficerNumber
	WHERE BookingId = @BookingId

	set @BookingId = SCOPE_IDENTITY()

END

GO
