USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_LicenceHolderDetails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vw_LicenceHolderDetails]
 
AS
SELECT     dbo.LicenceHolderMaster.Ccsn, dbo.LicenceHolderMaster.Ppsn, dbo.LicenceHolderMaster.HolderName, dbo.LicenceHolderMaster.FirstName, 
                      dbo.LicenceHolderMaster.DateOfBirth, dbo.LicenceHolderMaster.LastName, dbo.LicenceHolderMaster.CompanyNumber, dbo.LicenceHolderMaster.CompanyName, 
                      dbo.LicenceHolderMaster.TradingAs, dbo.LicenceHolderMaster.AddressLine1, dbo.LicenceHolderMaster.AddressLine2, dbo.LicenceHolderMaster.AddressLine3, 
                      dbo.LicenceHolderMaster.Town, dbo.LicenceHolderMaster.PostCode, dbo.LicenceHolderMaster.PhoneNo1, dbo.LicenceHolderMaster.PhoneNo2, 
                      dbo.LicenceHolderMaster.Email, dbo.LicenceHolderMaster.TaxClearanceNumber, 
                      dbo.LicenceHolderMaster.TaxClearanceExpiryDate, dbo.LicenceHolderMaster.TaxClearanceStatus, dbo.LicenceHolderMaster.TaxClearanceVisual, 
                      dbo.LicenceHolderMaster.TaxClearanceName,dbo.LicenceHolderMaster.IrishLanguageAddress, dbo.County.CountyName, dbo.County.IrishName, dbo.Country.CountryName, dbo.LicenceHolderMaster.LicenceHolderId
FROM         dbo.LicenceHolderMaster 
LEFT JOIN dbo.Country ON dbo.LicenceHolderMaster.CountryId = dbo.Country.CountryId 
LEFT JOIN dbo.County ON dbo.LicenceHolderMaster.CountyId = dbo.County.CountyId 

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[53] 4[18] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "LicenceHolderMaster"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 455
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Country"
            Begin Extent = 
               Top = 278
               Left = 529
               Bottom = 397
               Right = 689
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "County"
            Begin Extent = 
               Top = 144
               Left = 530
               Bottom = 263
               Right = 690
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Title"
            Begin Extent = 
               Top = 12
               Left = 531
               Bottom = 131
               Right = 691
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 27
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Widt' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_LicenceHolderDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'h = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_LicenceHolderDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_LicenceHolderDetails'
GO
