USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleBodyType_SelectByBodyTypeId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VehicleBodyType_SelectByBodyTypeId]
(
@BodyTypeId int
)
AS
BEGIN

	SET NOCOUNT ON;
   
	SELECT BodyTypeId,BodyType,Active,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate
	FROM dbo.VehicleBodyType
	WHERE BodyTypeId = @BodyTypeId

END
GO
