USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Inspections_Defects_Top]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adam Nosal
-- Create date: 28-Feb-2021
-- =============================================
create   PROCEDURE [dbo].[RPT_Inspections_Defects_Top]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
SELECT top(10)
dr.DefectReason,
Count(dr.DefectReason) as Total
from dbo.DefectReasons dr 
left join dbo.VehicleInspectionDefects vid on vid.DefectReasonID = dr.DefectReasonID
left join dbo.VehicleInspections vi on vi.VehicleInspectionId = vid.VehicleInspectionID
WHERE  Cast(VI.TestStartTime as DATE) Between @StartDate And @EndDate
and vi.TestResultId in (2,6) -- fail#
group by dr.DefectReason  
order by Count(dr.DefectReason) desc 
END





GO
