USE [cabs_production]
GO
/****** Object:  Table [dbo].[LAHLink]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAHLink](
	[VehicleLicenceNumber] [nvarchar](20) NOT NULL,
	[DriverLicenceNumber] [nvarchar](20) NULL,
	[Area] [nvarchar](50) NULL,
 CONSTRAINT [PK_LAHLink] PRIMARY KEY CLUSTERED 
(
	[VehicleLicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
