USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestDetailVL_SelectNextPrintable]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:      Damien Dennehy
-- Create date: 05-May-2011
-- 03-Dec-2013: add columns
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestDetailVL_SelectNextPrintable]
(
    @BatchNumber varchar(50)
)

AS
BEGIN

    SET NOCOUNT ON;

    SELECT P.PrintRequestId,
    P.DespatchMethodId,
    P.PrintRequestMasterId,
    P.PrintRequestStatusId,
    P.PrintRequestReasonId,
    P.PrintCompanyId,
    P.DespatchDate,
    P.TrackingNumber,
    P.PrintDate,
    P.PrintBatchNumber,
    P.CreatedBy,
    P.CreatedDate,
    P.ModifiedBy,
    P.ModifiedDate,
    L.PrintRequestMasterId,
    L.LetterRequestTypeAuditId,
    L.LicenceNumber,
    L.LetterDate,
    L.PrintRequestMessage,
    L.LicenceType,
    L.LicenceIssueDate,
    L.LicenceExpiryDate,
    L.LicenceLastReactivationDate,
    L.LicenceFirstRenewalDate,
    L.LicenceLastRenewalDate,
    L.LicenceCoIssueDate,
    L.LicenceCoExpiryDate,
    L.LicenceDeferralExpiryDate,
    L.LicenceSurrenderDate,
    L.LicenceTransferDate,
    L.LicenceRemainingTransfers,
    L.LicenceHolderId,
    L.PreviousLicenceHolderId,
    L.NewLicenceHolderId,
    L.HolderCCSN,
    L.HolderPPSN,
    L.HolderName,
    L.NewHolderName,
    L.PreviousHolderName,
    L.HolderTitle,
    L.HolderFirstName,
    L.HolderLastName,
    L.HolderDateOfBirth,
    L.HolderCompanyNumber,
    L.HolderCompanyName,
    L.HolderTradingAs,
    L.HolderAddressLine1,
    L.HolderAddressLine2,
    L.HolderAddressLine3,
    L.HolderTown,
    L.HolderPostCode,
    L.HolderCounty,
    L.HolderCountry,
    L.HolderPhoneNumber1,
    L.HolderPhoneNumber2,
    L.HolderFaxNumber,
    L.HolderEmail,
    L.VehicleRegNumber,
    L.NewVehicleRegNumber,
    L.PreviousVehicleRegNumber,
    L.VehicleAgeYears,
    L.VehicleAgeYearsDays,
    L.VehicleAgeAtExpiryDate,
    L.VehicleAgeAtExpiryYearsDays,
    L.VehicleAgeAtFirstRenewalDate,
    L.VehicleAgeAtFirstRenewalYearsDays,
    L.VehicleAgeValid,
    L.VehicleAgeValidAtExpiryDate,
    L.VehicleRegistrationDate,
    L.VehicleMake,
    L.VehicleModel,
    L.VehicleYearOfManufacture,
    L.VehicleColour,
    L.VehicleBody,
    L.VehicleNumberDoors,
    L.VehicleNumberPassengers,
    L.VehicleNumberSeats,
    L.BookingId,
    L.BookingLastStandardDate,
    L.InspectionDate,
    L.InspectionProcess,
    L.InspectionType,
    L.TestCentreName,
    L.TestCentreAddress,
	--L.TestCentreAddress1,
	--L.TestCentreAddress2,
    L.PaymentId,
    L.PaymentAmount,
    L.PaymentDate,
    L.CreatedBy,
    L.CreatedDate,
    L.ModifiedBy,
    L.ModifiedDate,
    A.LetterRequestTypeAuditId,
    A.LetterRequestTypeId,
    A.LetterRequestTypeDescription,
    A.FileContent,
    A.CreatedBy,
    A.CreatedDate,
    A.ModifiedBy,
    A.ModifiedDate,
    A.AllowedRoles,
    A.LetterCode,
    A.NumPages,
    A.EnvelopeType,
    A.PrintStyle,
    A.PrintCompanyId,
    L.[TotalFeesPaid],
    L.[TotalRefund],
    L.[TotalIncurred],
    L.[BookingCancellationDate],
    L.[BookingCancellationReason],
    L.[VehicleFinalOperationDate],
    L.[Area],
	L.[TestType],
	L.[TestStartDate],
	L.[CertificateNumber],
	L.[SkBookingID],
	L.[CustomFields],
	R.IntroductionEmailText,
	L.HolderFullAddress	,
	L.HolderFullName,
	[SPSVRegistrationNumber],
	[SPSVRegistrationUrl],
	[LicenceStatus],
	[VehicleRegistrationNumber],
	[LinkStartDate],
	[LinkEndDate],
	[LinkMethod],
	[DriverLicenceHolderId],
	[DriverLicenceHolderId],
	[ExpiryDate],
	[DriverLicenceNumber],
	[RentalStartDate],
	[RentalEndDate],
	[RentalMethod],
	[SPSVWebUrl]
    FROM dbo.PrintRequestDetailVL P

    INNER JOIN dbo.PrintRequestMasterVL L ON L.PrintRequestMasterId = P.PrintRequestMasterId
    INNER JOIN dbo.LetterRequestTypeVLAudit A ON A.LetterRequestTypeAuditId = L.LetterRequestTypeAuditId
	INNER JOIN dbo.LetterRequestTypeVL R on  A.[LetterRequestTypeId] = R.[LetterRequestTypeId]

    WHERE P.PrintRequestId IN
    (
        SELECT TOP 1 PrintRequestId FROM dbo.PrintRequestDetailVLQueueItem
        WHERE BatchNumber = @BatchNumber AND 
       Printed = 0
    )



END


GO
