USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_ExpireWavGrant]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- =============================================

-- Author:        Vince McCarthy

-- Create date: 20-June-2012

-- Description:   Mark expired Wav grants as completed

-- =============================================

CREATE PROCEDURE [dbo].[sch_ExpireWavGrant] 

      -- Add the parameters for the stored procedure here

AS

BEGIN

-- SET NOCOUNT ON added to prevent extra result sets from

-- interfering with SELECT statements.

SET NOCOUNT ON;



UPDATE WatRegister

SET
	WavGrantStatusID = 5,

	ModifiedBy = 'sch_ExpireWavGrant',

	ModifiedDate = GETDATE()

WHERE
	WavGrantStatusID <= 2 AND
	WavGrantExpiryDate < GETDATE()

END

GO
