USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[CODeadCovidUpdateExpiryDates]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create            PROCEDURE [dbo].[CODeadCovidUpdateExpiryDates]
	-- Add the parameters for the stored procedure here
	@VLExtentionMonths int = 3
AS
BEGIN

declare @VL nvarchar(20) = '' ;
declare @COexpiry datetime ;
declare @COissue datetime ;
declare @StateMasterId int ;
declare @StateId int ;


declare @startDate datetime =  Cast('03/13/2020' as date) ;


declare @getDate datetime = dateadd(d, datediff(d,0, getdate()), 0) ; -- this gives date without time part

select vl.LicenceNumber,
vl.CoExpiryDate,
vl.CoIssueDate,
vl.LicenceStateMasterId,
vl.LicenceStateId
into #affectedExpiredCases
from dbo.LicenceMasterVL vl
where 
	  (
	       vl.LicenceStateMasterId in (3,6) and 
		   vl.LicenceStateId in( 3,10, 17) and 
		   vl.CoExpiryDate >= @startDate 
	   )

	   and PlateNumber not in (
	   54501,
54594,
54652,
54705,
54717,
54671,
54695)

DECLARE covid_cursor CURSOR FOR 
select LicenceNumber,
CoExpiryDate,
CoIssueDate,
LicenceStateMasterId,
LicenceStateId
from  #affectedExpiredCases


OPEN covid_cursor  
FETCH NEXT FROM covid_cursor INTO @VL, @COexpiry, @COissue,@StateMasterId,@StateId;  

WHILE @@FETCH_STATUS = 0  
BEGIN  

--- 6,17 into 5,10 

Update LicenceMasterVL Set 
CoExpiryDate = dateadd(MONTH, @VLExtentionMonths , @COexpiry),
CoIssueDate = dateadd(MONTH, @VLExtentionMonths , @COissue),
LicenceStateMasterId = 
case

 when  LicenceMasterVL.LicenceStateMasterId = 6
then 5

end 
,
LicenceStateId = case when  LicenceMasterVL.LicenceStateId = 17
then 10 -- dead CO  to inactive CO 

end 
,
 ModifiedBy = 'Covid-Update',
 ModifiedDate = getdate()
Where LicenceNumber = @VL   

INSERT INTO [dbo].[LicenceMasterVLAudit]
           ([PlateNumber],[LicenceNumber],[LicenceHolderId],[RegistrationNumber],[LicenceTypeId],
		   [LicenceStateId],[LicenceStateMasterId],
		   [LicenceExpiryDate]
           ,[LicenceIssueDate],
		   [CoExpiryDate],[CoIssueDate],
		   [RenewalDate],[TransferedFromReg],[HistoryChangeId],[TestCenterId],[RemainingTransfers],[TransferDate]
           ,[OldPlateNumber],[OldLicenceAuthority],[Ccsn],[Ppsn],[CompanyNumber],[TitleId],[FirstName],[LastName],[DateOfBirth],[CompanyName],[TradingAs]
           ,[AddressLine1],[AddressLine2],[AddressLine3],[Town],[CountyId],[PostCode],[CountryId],[PhoneNo1],[PhoneNo2],[Email]
           ,[TaxClearanceVisual],[CreatedBy],[CreatedDate],[ModifiedBy],[ModifiedDate],[AuditDate])    
Select top 1 [PlateNumber],[LicenceNumber],[LicenceHolderId],[RegistrationNumber],[LicenceTypeId],
			(case when  @StateId = 17
then 10 -- dead CO  to inactive CO 

end  
			)
			,
			 (case when @StateMasterId = 3 
			then 2 
			when  @StateMasterId = 6
			then 5
			when  @StateMasterId = 2
			then 1
			 when @StateMasterId = 5
			then 4 end),
			[LicenceExpiryDate],
			[LicenceIssueDate],
			dateadd(MONTH, @VLExtentionMonths , @COexpiry),
			dateadd(MONTH, @VLExtentionMonths , @COissue),[RenewalDate],[TransferedFromReg],
		   2, -- update licence details 
		   [TestCenterId],[RemainingTransfers],[TransferDate]
           ,[OldPlateNumber],[OldLicenceAuthority],[Ccsn],[Ppsn],[CompanyNumber],[TitleId],[FirstName],[LastName],[DateOfBirth],[CompanyName],[TradingAs]
           ,[AddressLine1],[AddressLine2],[AddressLine3],[Town],[CountyId],[PostCode],[CountryId],[PhoneNo1],[PhoneNo2],[Email]
           ,[TaxClearanceVisual],[CreatedBy],[CreatedDate],
		   'Covid-Update',getdate(),getdate()
		    from [dbo].[LicenceMasterVLAudit] where LicenceNumber = @VL 
			order by Id desc  


   FETCH NEXT FROM covid_cursor INTO @VL, @COexpiry,@COissue,@StateMasterId,@StateId;
END 

drop table if exists #affectedExpiredCases;

CLOSE covid_cursor  
DEALLOCATE covid_cursor 

 
END
GO
