USE [cabs_production]
GO
/****** Object:  Table [dbo].[InspectionTime]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionTime](
	[InspectionTimeId] [int] NOT NULL,
	[InspectionProcessId] [int] NOT NULL,
	[InspectionTypeId] [int] NOT NULL,
	[LicenceTypeId] [tinyint] NOT NULL,
	[InspectionTime] [int] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_InspectionTimes] PRIMARY KEY CLUSTERED 
(
	[InspectionTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [InspectionProcessId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [InspectionProcessId] ON [dbo].[InspectionTime]
(
	[InspectionProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [InspectionTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [InspectionTypeId] ON [dbo].[InspectionTime]
(
	[InspectionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LicenceTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceTypeId] ON [dbo].[InspectionTime]
(
	[LicenceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InspectionTime]  WITH CHECK ADD  CONSTRAINT [FK_InspectionTime_InspectionProcess1] FOREIGN KEY([InspectionProcessId])
REFERENCES [dbo].[InspectionProcess] ([InspectionProcessId])
GO
ALTER TABLE [dbo].[InspectionTime] CHECK CONSTRAINT [FK_InspectionTime_InspectionProcess1]
GO
ALTER TABLE [dbo].[InspectionTime]  WITH CHECK ADD  CONSTRAINT [FK_InspectionTime_InspectionType1] FOREIGN KEY([InspectionTypeId])
REFERENCES [dbo].[InspectionType] ([InspectionTypeId])
GO
ALTER TABLE [dbo].[InspectionTime] CHECK CONSTRAINT [FK_InspectionTime_InspectionType1]
GO
ALTER TABLE [dbo].[InspectionTime]  WITH CHECK ADD  CONSTRAINT [FK_InspectionTime_LicenceType] FOREIGN KEY([LicenceTypeId])
REFERENCES [dbo].[LicenceType] ([LicenceTypeId])
GO
ALTER TABLE [dbo].[InspectionTime] CHECK CONSTRAINT [FK_InspectionTime_LicenceType]
GO
