USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[getQuestionWeightage]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[getQuestionWeightage]
(@QuestionID int)
 returns  int
 BEGIN
  return (select COUNT(*) from cabs_sk.Answer
  where QuestionID=@QuestionID and Correct=1)

 END
GO
