USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentVL_SelectByLicenceNumber]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PaymentVL_SelectByLicenceNumber] 
(
@LicenceNumber varchar(50)
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT distinct	P.PaymentId as PaymentId, P.LicenceNumber as LicenceNumber, 
			P.PaymentReference as PaymentReference, P.Amount as Amount,
			P.CustomerName as CustomerName, P.Comment as Comment,
			P.CreatedBy, P.CreatedDate, P.ModifiedBy, P.ModifiedDate,
			
			PM.PaymentMethodId as PM_PaymentMethodId, 
			PM.PaymentMethodName as PM_PaymentMethodName,
			PM.ReferenceFieldRequired as PM_ReferenceFieldRequired, 
			PM.PaymentGatewayRequired as PM_PaymentGatewayRequired, 
			PM.RefundablePayment as PM_RefundablePayment,
			PM.AllowedRoles as PM_AllowedRoles,
		   	ST.ServiceTypeId as ST_ServiceTypeId, 
			ST.ServiceTypeName as ST_ServiceTypeName,
			SPI.BookingId AS SPI_BookingId,
			SP.SystemProcessId AS SP_SystemProcessId,
			SP.ProcessName AS SP_ProcessName 
			
	FROM PaymentVL P
	
	INNER JOIN dbo.PaymentMethod PM on PM.PaymentMethodId = P.PaymentMethodId
	INNER JOIN dbo.ServiceTypeVL ST on ST.ServiceTypeId = P.ServiceTypeId
	LEFT OUTER JOIN dbo.SystemProcessInstanceVL SPI ON SPI.PaymentId = P.PaymentId
	LEFT OUTER JOIN dbo.SystemProcessVL SP ON SP.SystemProcessId = SPI.SystemProcessId
	
	WHERE P.LicenceNumber = @LicenceNumber
	
END
GO
