USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLane_SelectByTypeAndCentreID]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[TestCentreLane_SelectByTypeAndCentreID]
(
	@TestCentreId int,
	@TestCentreLaneTypeId int
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT TestCentreLaneId,
		   TestCentreId,
		   TestCentreLaneName,
		   CreatedBy,
		   CreatedDate,
		   ModifiedBy,
		   ModifiedDate
	FROM TestCentreLanes
	WHERE TestCentreId = @TestCentreId and
	      TestCentreLaneTypeID = @TestCentreLaneTypeId 
END
GO
