USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestMasterVL_SelectByLicenceNumber]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Andrew Snook
-- Create date: 18-Nov-2010
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestMasterVL_SelectByLicenceNumber]
(
	@LicenceNumber varchar(50)
)

AS
BEGIN

	SET NOCOUNT ON;

	SELECT		
		PRMVL.PrintRequestMasterId,
		PRMVL.LetterRequestTypeAuditId,
		LRT.LetterRequestTypeId,
		LRT.LetterRequestTypeDescription,
		PRMVL.CreatedBy,	
		PRMVL.ModifiedBy,
		PRMVL.CreatedDate,
		PRMVL.ModifiedDate,
		PRD.DespatchMethodId -- Print to Email

	FROM PrintRequestMasterVL PRMVL

	LEFT OUTER JOIN dbo.LetterRequestTypeVLAudit LRT ON LRT.LetterRequestTypeAuditId = PRMVL.LetterRequestTypeAuditId
	LEFT JOIN dbo.PrintRequestDetailVL AS PRD ON PRD.PrintRequestMasterId = PRMVL.PrintRequestMasterId -- Print to Email


	WHERE @LicenceNumber = LicenceNumber
	AND PRMVL.PrintRequestMasterId NOT IN
	(
		SELECT PrintRequestMasterId FROM dbo.PrintRequestMasterVL_InvalidRequests
	)
	AND LRT.LetterRequestTypeId <> 18
	
	-- Duplicate Licence Letters should never appear in CABS, requested by
	-- Ferdia Kehoe 12-Aug-2011
END

GO
