USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[XXX_CABS_ACTIVE_DRIVER_LINK_REPORT]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[XXX_CABS_ACTIVE_DRIVER_LINK_REPORT]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT COUNTY, [0] as [Not Active], [1] as [Active]
	FROM (
		SELECT CASE WHEN GROUPING(CountyName) = 0 THEN  CountyName ELSE 'ALL' END AS COUNTY,
		ISNULL(ActiveLink, 0) AS ACTIVE,
		COUNT(*) AS [COUNTS]
		--SELECT *
		FROM 
		(
			(
				SELECT dl.*, dc.CountyID, c.CountyName
				FROM [cabs_production].[cabs_cmo].[vActiveDLLicence] dl
				INNER JOIN [cabs_production].[cabs_cmo].[vDriverCounty] dc on dl.LicenceNumber = dc.LicenceNumber
				INNER JOIN [dbo].[County] c on dc.PrimaryCounty = c.CountyId
				WHERE dc.CountyID = dc.PrimaryCounty
			) l
			LEFT JOIN  
			(
				SELECT iu.ID as IndustryUserId, 1 as ActiveLink 
				from [cabs_production].cabs_cmo.IndustryUser iu
				LEFT JOIN [cabs_production].cabs_dvl.VehicleDriver vd on iu.ID = vd.IndustryUserId 
				WHERE vd.IsActive = 1 and vd.StartDate <= GETDATE() AND (vd.EndDate > GETDATE() OR vd.EndDate IS NULL)
			) link on l.IndustryUserId = link.IndustryUserId
		)
			GROUP BY l.CountyName,ISNULL(ActiveLink, 0) WITH CUBE
	) as s
	PIVOT (SUM(s.[COUNTS]) FOR ACTIVE IN ([1], [0])) as result
	ORDER BY result.COUNTY
END
GO
