USE [cabs_production]
GO
/****** Object:  Table [dbo].[BookingPayment]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingPayment](
	[BookingId] [int] NOT NULL,
	[PaymentId] [int] NOT NULL,
 CONSTRAINT [PK_BookingPayment] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC,
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingPayment]  WITH CHECK ADD  CONSTRAINT [FK_BookingPayment_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[BookingPayment] CHECK CONSTRAINT [FK_BookingPayment_Booking]
GO
ALTER TABLE [dbo].[BookingPayment]  WITH CHECK ADD  CONSTRAINT [FK_BookingPayment_PaymentVL1] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[PaymentVL] ([PaymentId])
GO
ALTER TABLE [dbo].[BookingPayment] CHECK CONSTRAINT [FK_BookingPayment_PaymentVL1]
GO
