USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_SelectBookingsInDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- Stored Procedure

-- =============================================
-- Author:		<Author, Yuliya Khadasevich>
-- Create date: <Create Date, 14-Feb-2014>
-- Description:	<Description, Select skills bookings count in the time frame. 
--				This will >
-- =============================================
CREATE PROCEDURE [dbo].[Booking_SelectBookingsInDate]
(
@ClosedDate  DateTime
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT		COUNT(b.BookingId) as [Bookings Count]
	FROM	dbo.Booking b
			
	WHERE	CAST(b.BookingDateTime AS Date) = CAST(@ClosedDate AS Date) or CAST(b.BookingEndDateTime as Date) = CAST(@ClosedDate AS Date) 
	AND		b.BookingStatusId NOT IN
			(
				SELECT BookingStatusId FROM dbo.BookingStatus
				WHERE VoidedBooking = 1
			)
END




GO
