USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestStatus_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <6/12/2010>

-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestStatus_SelectAll]


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT PrintRequestStatusId,PrintRequestStatusDescription,CreatedBy
			CreatedDate,ModifiedBy,ModifiedDate

	FROM dbo.PrintRequestStatus

END
GO
