USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_CABS_Notifications_Email_Post]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sumayya Sayed
-- Create date: 20-MAY-2016
-- =============================================

CREATE PROCEDURE [dbo].[RPT_CABS_Notifications_Email_Post]

@StartDate DateTime,
@EndDate DateTime

WITH RECOMPILE
AS


BEGIN

	SET NOCOUNT ON;
SELECT 
	PRM.HolderPPSN AS HolderPPSN,
	LRA.LetterRequestTypeDescription,
	--PT.Description,
	CONVERT(Date, DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))) as CreatedDate,
	--dm.DespatchMethodDescription, 
	--PRM.LetterRequestTypeAuditId,
	count(LRA.lettercode) as totalnumber,
	--PRD.DespatchMethodId
	ISNULL(PRD.DespatchMethodId,1) AS DespatchMethodId
	from [dbo].[PrintRequestMasterVL] PRM
	JOIN [dbo].[PrintRequestDetailVL] PRD on PRD.PrintRequestMasterId = PRM.PrintRequestMasterId		
	INNER JOIN dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeAuditId
	--LEFT JOIN [dbo].[DespatchMethod] dm on dm.despatchmethodid = PRD.DespatchMethodID
	--LEFT JOin cabs_cmo.PrinTrequestMasterType PT ON PRM.PrintRequestMasterTypeID=PT.ID
	WHERE PRD.PrintCompanyId=1	
	AND LRA.LetterRequestTypeID not in (9,10,26,27,36)
	AND DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) BETWEEN @StartDate AND @EndDate
	--Added later PRD.DespatchMethodID IS NULL
	AND (PRD.DespatchMethodID = 3 OR PRD.DespatchMethodID = 1 OR PRD.DespatchMethodID IS NULL)
	AND PRD.PrintRequestStatusID = 3

	 GROUP BY
	          PRM.HolderPPSN,
			  LRa.LetterRequestTypeDescription,
			 -- PT.Description,
			  DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)),   
			  --dm.DespatchMethodDescription,
			  PRD.DespatchMethodId
	UNION ALL 
	SELECT 
	 PRM.Ppsn AS HolderPPSN,
	 LRa.LetterRequestTypeDescription,
	 --'' as Description, 
	 CONVERT(Date,DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))) as LetterDate,
	 --dm.DespatchMethodDescription, 
	 --PRM.LetterRequestTypeVLAuditId as LetterRequestTypeAuditId,
	 count(LRA.lettercode) as totalnumber,
	 PRM.DespatchMethodId
	from cabs_live.[dbo].[PrintRequestMaster] PRM
	INNER JOIN  cabs_production.dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeVLAuditId
	LEFT JOIN cabs_production.[dbo].[DespatchMethod] dm on dm.despatchmethodid = PRM.DespatchMethodID	
	 WHERE 
	 LRA.LetterRequestTypeID not in (9,10,26,27,36) AND
	 DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) BETWEEN @StartDate AND @EndDate AND
	 (PRM.DespatchMethodID = 3 OR PRM.DespatchMethodID = 1)
	 GROUP BY
			    PRM.Ppsn,
				LRa.LetterRequestTypeDescription,
				DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)),	
				--dm.DespatchMethodDescription,
				PRM.DespatchMethodId
END
GO
