USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_MoneyCollected_DL]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
https://openskydata.atlassian.net/browse/NTACABS-2075
begin tran
update dl.PrintcardRequest set SourceSystemId=2 where CreatedDate < '2019-03-23' and SourceSystemId=1
commit tran
*/
CREATE   PROCEDURE [dbo].[RPT_MoneyCollected_DL]
(
@StartDate datetime = NULL,
@EndDate datetime = NULL
) as 
begin

SET NOCOUNT ON;

declare @SP_StartDate date = convert(date, @StartDate)
declare @SP_EndDate date = convert(date, @EndDate)

SET NOCOUNT ON;

SELECT 
p.CreatedDate,
lm.LicenceNumber 'LicenceNumber',
case ss.SourceSystemId
	when 1 then 'PV'
	when 2 then 'DLS'
	else ss.SourceSystemName end 'Module',
pcro.PrintcardRequestOptionName 'PrintOption',
pcrr.PrincardRequestReasonName 'PrintReason',
pm.PaymentMethodName,
ps.PaymentStatusName,
p.Amount,
p.ReferenceNumber 'PaymentReference',
p.PaymentId,
p.Comments 'Comment',
p.CreatedBy
FROM dl.Payment p
	inner join dl.PaymentMethod pm on pm.PaymentMethodId = p.PaymentMethodId
	inner join dl.PaymentStatus ps on ps.PaymentStatusId = p.PaymentStatusId
	inner join dl.PrintcardRequest pcr on pcr.PaymentId=p.PaymentId
	inner join dl.SourceSystem ss on ss.SourceSystemId=pcr.SourceSystemId
	left join dl.LicenceMaster lm on lm.LicenceMasterId=pcr.LicenceId
	left join dl.PrintcardRequestReason pcrr on pcr.PrintcardRequestReasonId=pcrr.PrintcardRequestReasonId
	left join dl.PrintcardRequestOption pcro on pcr.PrintcardRequestOptionId=pcro.PrintcardRequestOptionId
WHERE 
convert(date, p.CreatedDate) BETWEEN @SP_StartDate AND @SP_EndDate 

END
GO
