USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceMasterVL]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceMasterVL](
	[PlateNumber] [int] NOT NULL,
	[LicenceNumber] [varchar](50) NOT NULL,
	[LicenceHolderId] [int] NOT NULL,
	[RegistrationNumber] [varchar](10) NOT NULL,
	[LicenceTypeId] [tinyint] NULL,
	[LicenceStateId] [tinyint] NULL,
	[LicenceStateMasterId] [tinyint] NULL,
	[LicenceExpiryDate] [smalldatetime] NULL,
	[LicenceIssueDate] [smalldatetime] NULL,
	[CoExpiryDate] [smalldatetime] NULL,
	[CoIssueDate] [smalldatetime] NULL,
	[RenewalDate] [smalldatetime] NULL,
	[TransferedFromReg] [varchar](50) NULL,
	[HistoryChangeId] [int] NULL,
	[TestCenterId] [int] NULL,
	[RemainingTransfers] [int] NULL,
	[TransferDate] [smalldatetime] NULL,
	[OldPlateNumber] [varchar](50) NULL,
	[OldLicenceAuthority] [varchar](50) NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[FinalOperationDate] [date] NULL,
	[Exchanged] [bit] NULL,
	[IsSuitability] [bit] NULL,
	[IsRoadworthiness] [bit] NULL,
	[SuitabilitySetDate] [datetime] NULL,
	[RoadworthinessSetDate] [datetime] NULL,
	[SuspensionStartDate] [datetime] NULL,
	[SuspensionEndDate] [datetime] NULL,
	[ScrappageGrantStatusId] [tinyint] NULL,
	[MotorTaxRebateStatusID] [int] NULL,
	[MotorTaxRebateDate] [datetime] NULL,
 CONSTRAINT [PK_LicenceMasterVL] PRIMARY KEY CLUSTERED 
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_LicenceMasterVL_39_1625160935__K4_K6_K3_K5_K7_K2_8_9_12]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_LicenceMasterVL_39_1625160935__K4_K6_K3_K5_K7_K2_8_9_12] ON [dbo].[LicenceMasterVL]
(
	[RegistrationNumber] ASC,
	[LicenceStateId] ASC,
	[LicenceHolderId] ASC,
	[LicenceTypeId] ASC,
	[LicenceStateMasterId] ASC,
	[LicenceNumber] ASC
)
INCLUDE([LicenceExpiryDate],[LicenceIssueDate],[RenewalDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_LicenceMasterVL_6_1726733304__K2_3_4_7]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_LicenceMasterVL_6_1726733304__K2_3_4_7] ON [dbo].[LicenceMasterVL]
(
	[LicenceNumber] ASC
)
INCLUDE([LicenceHolderId],[RegistrationNumber],[LicenceStateMasterId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_LicenceMasterVL_6_1726733304__K5_K7_K4_K2_1_3_8]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_LicenceMasterVL_6_1726733304__K5_K7_K4_K2_1_3_8] ON [dbo].[LicenceMasterVL]
(
	[LicenceTypeId] ASC,
	[LicenceStateMasterId] ASC,
	[RegistrationNumber] ASC,
	[LicenceNumber] ASC
)
INCLUDE([PlateNumber],[LicenceHolderId],[LicenceExpiryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CreatedDate]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [CreatedDate] ON [dbo].[LicenceMasterVL]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_PlateNum]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [ix_PlateNum] ON [dbo].[LicenceMasterVL]
(
	[PlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LicenceExpiryDate]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceExpiryDate] ON [dbo].[LicenceMasterVL]
(
	[LicenceExpiryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LicenceHolderId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceHolderId] ON [dbo].[LicenceMasterVL]
(
	[LicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LicenceIssueDate]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceIssueDate] ON [dbo].[LicenceMasterVL]
(
	[LicenceIssueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LicenceStateId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceStateId] ON [dbo].[LicenceMasterVL]
(
	[LicenceStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LicenceStateMasterId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceStateMasterId] ON [dbo].[LicenceMasterVL]
(
	[LicenceStateMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LicenceTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceTypeId] ON [dbo].[LicenceMasterVL]
(
	[LicenceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RegistrationNumber]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [RegistrationNumber] ON [dbo].[LicenceMasterVL]
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceMasterVL] ADD  DEFAULT ((0)) FOR [Exchanged]
GO
ALTER TABLE [dbo].[LicenceMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVL_LicenceHolderMaster] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[LicenceMasterVL] CHECK CONSTRAINT [FK_LicenceMasterVL_LicenceHolderMaster]
GO
ALTER TABLE [dbo].[LicenceMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVL_LicenceState] FOREIGN KEY([LicenceStateId])
REFERENCES [dbo].[LicenceState] ([LicenceStateId])
GO
ALTER TABLE [dbo].[LicenceMasterVL] CHECK CONSTRAINT [FK_LicenceMasterVL_LicenceState]
GO
ALTER TABLE [dbo].[LicenceMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVL_LicenceStateMaster] FOREIGN KEY([LicenceStateMasterId])
REFERENCES [dbo].[LicenceStateMaster] ([LicenceStateMasterId])
GO
ALTER TABLE [dbo].[LicenceMasterVL] CHECK CONSTRAINT [FK_LicenceMasterVL_LicenceStateMaster]
GO
ALTER TABLE [dbo].[LicenceMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVL_LicenceType] FOREIGN KEY([LicenceTypeId])
REFERENCES [dbo].[LicenceType] ([LicenceTypeId])
GO
ALTER TABLE [dbo].[LicenceMasterVL] CHECK CONSTRAINT [FK_LicenceMasterVL_LicenceType]
GO
ALTER TABLE [dbo].[LicenceMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVL_MotorTaxRebateStatus] FOREIGN KEY([MotorTaxRebateStatusID])
REFERENCES [dbo].[MTRebateStatus] ([MTRebateStatusId])
GO
ALTER TABLE [dbo].[LicenceMasterVL] CHECK CONSTRAINT [FK_LicenceMasterVL_MotorTaxRebateStatus]
GO
ALTER TABLE [dbo].[LicenceMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVL_Reasons] FOREIGN KEY([HistoryChangeId])
REFERENCES [dbo].[HistoryChangeType] ([HistoryChangeID])
GO
ALTER TABLE [dbo].[LicenceMasterVL] CHECK CONSTRAINT [FK_LicenceMasterVL_Reasons]
GO
ALTER TABLE [dbo].[LicenceMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVL_TestCentre] FOREIGN KEY([TestCenterId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[LicenceMasterVL] CHECK CONSTRAINT [FK_LicenceMasterVL_TestCentre]
GO
ALTER TABLE [dbo].[LicenceMasterVL]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMasterVL_VehicleMaster] FOREIGN KEY([RegistrationNumber])
REFERENCES [dbo].[VehicleMaster] ([RegistrationNumber])
GO
ALTER TABLE [dbo].[LicenceMasterVL] CHECK CONSTRAINT [FK_LicenceMasterVL_VehicleMaster]
GO
