USE [cabs_production]
GO
/****** Object:  Table [dbo].[PaymentItemVLRefundableFee]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentItemVLRefundableFee](
	[FeeId] [int] NOT NULL,
	[RefundReasonId] [int] NOT NULL,
	[RefundCurrentBookingOnly] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentItemVLRefundableFee] PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC,
	[RefundReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaymentItemVLRefundableFee]  WITH CHECK ADD  CONSTRAINT [FK_PaymentItemVLRefundableFee_Fee] FOREIGN KEY([FeeId])
REFERENCES [dbo].[Fee] ([FeeId])
GO
ALTER TABLE [dbo].[PaymentItemVLRefundableFee] CHECK CONSTRAINT [FK_PaymentItemVLRefundableFee_Fee]
GO
ALTER TABLE [dbo].[PaymentItemVLRefundableFee]  WITH CHECK ADD  CONSTRAINT [FK_PaymentItemVLRefundableFee_PaymentItemVLRefundReason] FOREIGN KEY([RefundReasonId])
REFERENCES [dbo].[PaymentItemVLRefundReason] ([RefundReasonId])
GO
ALTER TABLE [dbo].[PaymentItemVLRefundableFee] CHECK CONSTRAINT [FK_PaymentItemVLRefundableFee_PaymentItemVLRefundReason]
GO
