USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_FCPCountForDriver]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_FCPCountForDriver] AS
SELECT [Id]
      ,[DriverLicenceNumber]    
  FROM [cabs_enf].[Fines]
GO
