USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestMasterVL_Duplicate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[PrintRequestMasterVL_Duplicate] 
(
	@NewPrintRequestId int output,
	--@ExistingPrintRequestId int,
    @ExistingPrintRequestMasterId int
)
AS
BEGIN
    
SET NOCOUNT ON;

DECLARE @TimeStamp datetime = GETDATE();

--DECLARE @ExistingPrintRequestMasterId Int = (SELECT TOP(1) PrintRequestMasterId FROM PrintRequestDetailVL WHERE PrintRequestId = @ExistingPrintRequestId);
DECLARE @LicenceHolderId int = (SELECT TOP(1) LicenceHolderId FROM PrintRequestMasterVL WHERE PrintRequestMasterId = @ExistingPrintRequestMasterId);
DECLARE @NewEmail varchar(MAX) = (SELECT TOP(1) Email FROM dbo.LicenceHolderMaster WHERE LicenceHolderId = @LicenceHolderId); -- Latest email

DECLARE @NewPrintRequestMasterId Int; -- Filled in after first insert
DECLARE @ErrorMessage varchar(MAX);

Begin Try

    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    DECLARE @PerformInsert int
    SET @PerformInsert = 1
    
    IF (@PerformInsert = 1)
    BEGIN
		Begin Transaction CreatePrintRequest
        
            INSERT INTO [PrintRequestMasterVL] 
            (
                 [LetterRequestTypeAuditId]
				,[LicenceNumber]
				,[LetterDate]
				,[PrintRequestMessage]
				,[LicenceType]
				,[LicenceIssueDate]
				,[LicenceExpiryDate]
				,[LicenceLastReactivationDate]
				,[LicenceFirstRenewalDate]
				,[LicenceLastRenewalDate]
				,[LicenceCoIssueDate]
				,[LicenceCoExpiryDate]
				,[LicenceDeferralExpiryDate]
				,[LicenceSurrenderDate]
				,[LicenceTransferDate]
				,[LicenceRemainingTransfers]
				,[LicenceHolderId]
				,[PreviousLicenceHolderId]
				,[NewLicenceHolderId]
				,[HolderCCSN]
				,[HolderPPSN]
				,[HolderName]
				,[NewHolderName]
				,[PreviousHolderName]
				,[HolderTitle]
				,[HolderFirstName]
				,[HolderLastName]
				,[HolderDateOfBirth]
				,[HolderCompanyNumber]
				,[HolderCompanyName]
				,[HolderTradingAs]
				,[HolderAddressLine1]
				,[HolderAddressLine2]
				,[HolderAddressLine3]
				,[HolderTown]
				,[HolderPostCode]
				,[HolderCounty]
				,[HolderCountry]
				,[HolderPhoneNumber1]
				,[HolderPhoneNumber2]
				,[HolderFaxNumber]
				,[HolderEmail]
				,[VehicleRegNumber]
				,[NewVehicleRegNumber]
				,[PreviousVehicleRegNumber]
				,[VehicleAgeYears]
				,[VehicleAgeYearsDays]
				,[VehicleAgeAtExpiryDate]
				,[VehicleAgeAtExpiryYearsDays]
				,[VehicleAgeAtFirstRenewalDate]
				,[VehicleAgeAtFirstRenewalYearsDays]
				,[VehicleAgeValid]
				,[VehicleAgeValidAtExpiryDate]
				,[VehicleRegistrationDate]
				,[VehicleMake]
				,[VehicleModel]
				,[VehicleYearOfManufacture]
				,[VehicleColour]
				,[VehicleBody]
				,[VehicleNumberDoors]
				,[VehicleNumberPassengers]
				,[VehicleNumberSeats]
				,[BookingId]
				,[BookingLastStandardDate]
				,[InspectionDate]
				,[InspectionProcess]
				,[InspectionType]
				,[TestCentreName]
				,[TestCentreAddress]
				,[PaymentId]
				,[PaymentAmount]
				,[PaymentDate]
				,[CreatedBy]
				,[CreatedDate]
				,[ModifiedBy]
				,[ModifiedDate]
				,[BookingModifiedDate]
				,[Category]
				,[TotalFeesPaid]
				,[TotalRefund]
				,[TotalIncurred]
				,[BookingCancellationDate]
				,[BookingCancellationReason]
				,[VehicleFinalOperationDate]
				,[CustomFields]
        )
		SELECT
                 [LetterRequestTypeAuditId]
				,[LicenceNumber]
				,[LetterDate]
				,[PrintRequestMessage]
				,[LicenceType]
				,[LicenceIssueDate]
				,[LicenceExpiryDate]
				,[LicenceLastReactivationDate]
				,[LicenceFirstRenewalDate]
				,[LicenceLastRenewalDate]
				,[LicenceCoIssueDate]
				,[LicenceCoExpiryDate]
				,[LicenceDeferralExpiryDate]
				,[LicenceSurrenderDate]
				,[LicenceTransferDate]
				,[LicenceRemainingTransfers]
				,[LicenceHolderId]
				,[PreviousLicenceHolderId]
				,[NewLicenceHolderId]
				,[HolderCCSN]
				,[HolderPPSN]
				,[HolderName]
				,[NewHolderName]
				,[PreviousHolderName]
				,[HolderTitle]
				,[HolderFirstName]
				,[HolderLastName]
				,[HolderDateOfBirth]
				,[HolderCompanyNumber]
				,[HolderCompanyName]
				,[HolderTradingAs]
				,[HolderAddressLine1]
				,[HolderAddressLine2]
				,[HolderAddressLine3]
				,[HolderTown]
				,[HolderPostCode]
				,[HolderCounty]
				,[HolderCountry]
				,[HolderPhoneNumber1]
				,[HolderPhoneNumber2]
				,[HolderFaxNumber]
				,@NewEmail --[HolderEmail]
				,[VehicleRegNumber]
				,[NewVehicleRegNumber]
				,[PreviousVehicleRegNumber]
				,[VehicleAgeYears]
				,[VehicleAgeYearsDays]
				,[VehicleAgeAtExpiryDate]
				,[VehicleAgeAtExpiryYearsDays]
				,[VehicleAgeAtFirstRenewalDate]
				,[VehicleAgeAtFirstRenewalYearsDays]
				,[VehicleAgeValid]
				,[VehicleAgeValidAtExpiryDate]
				,[VehicleRegistrationDate]
				,[VehicleMake]
				,[VehicleModel]
				,[VehicleYearOfManufacture]
				,[VehicleColour]
				,[VehicleBody]
				,[VehicleNumberDoors]
				,[VehicleNumberPassengers]
				,[VehicleNumberSeats]
				,[BookingId]
				,[BookingLastStandardDate]
				,[InspectionDate]
				,[InspectionProcess]
				,[InspectionType]
				,[TestCentreName]
				,[TestCentreAddress]
				,[PaymentId]
				,[PaymentAmount]
				,[PaymentDate]
				,[CreatedBy]
				,@TimeStamp --[CreatedDate]
				,[ModifiedBy]
				,[ModifiedDate]
				,[BookingModifiedDate]
				,[Category]
				,[TotalFeesPaid]
				,[TotalRefund]
				,[TotalIncurred]
				,[BookingCancellationDate]
				,[BookingCancellationReason]
				,[VehicleFinalOperationDate]
				,[CustomFields]

            FROM [PrintRequestMasterVL]
            WHERE PrintRequestMasterId = @ExistingPrintRequestMasterId;
                
            SET @NewPrintRequestMasterId = SCOPE_IDENTITY();
            
			if @NewPrintRequestMasterId is null or @NewPrintRequestMasterId = 0
            begin
                Set @ErrorMessage = 'Unable to find PrintRequestMasterId after insertion.'
                Raiserror (@ErrorMessage, 16, 1)
            end
            
            INSERT INTO [dbo].[PrintRequestDetailVL]
			(
				 [DespatchMethodId]
				,[PrintRequestMasterId]
				,[PrintRequestStatusId]
				,[PrintRequestReasonId]
				,[PrintCompanyId]
				,[DespatchDate]
				,[TrackingNumber]
				,[PrintDate]
				,[PrintBatchNumber]
				,[CreatedBy]
				,[CreatedDate]
				,[ModifiedBy]
				,[ModifiedDate]
				,[BatchId]
		    )
            SELECT
                 [DespatchMethodId]
				,@NewPrintRequestMasterId --[PrintRequestMasterId]
				,[PrintRequestStatusId]
				,[PrintRequestReasonId]
				,[PrintCompanyId]
				,[DespatchDate]
				,[TrackingNumber]
				,[PrintDate]
				,[PrintBatchNumber]
				,[CreatedBy]
				,@TimeStamp --[CreatedDate]
				,[ModifiedBy]
				,[ModifiedDate]
				,[BatchId]
			FROM [dbo].[PrintRequestDetailVL]
			WHERE [PrintRequestMasterId] = @ExistingPrintRequestMasterId;
                   
            SET @NewPrintRequestId = SCOPE_IDENTITY()

            if @NewPrintRequestId is null or @NewPrintRequestId = 0
            begin
                Set @ErrorMessage = 'Unable to find PrintRequestId after insertion.'
                Raiserror (@ErrorMessage, 16, 1)
            end   

        Commit Transaction CreatePrintRequest
	END
End Try

Begin Catch
    
    IF @@TRANCOUNT > 0
    BEGIN    
        --Rollback the command executed
		Rollback Transaction CreatePrintRequest
    END
    
	--Set the error message equal to the error thrown
    Set @ErrorMessage = Error_Message();
    
    Begin Try
        --Log the error
        INSERT INTO [dbo].[PrintEventLogs]
		(
			[Date],
			[Thread],
			[Level],
			[Logger],
			[Message],
			[Usr]
		)
        VALUES
		(
			@TimeStamp,
			1,
			'ERROR',
			'PrintRequestDetailVL_Duplicate',
			@ErrorMessage,
			'System'
		)
    End Try
    Begin Catch
    --Nothing to do if the Print Event Log fails
    End Catch
    
    --Rethrow the error
    Raiserror (@ErrorMessage, 16, 1);
End Catch

SET NOCOUNT OFF;

END

GO
