USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[_to_drop_RPT_Money_Collected_Skills_Header]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Syed
-- Create date: 30-June-2014
-- =============================================
CREATE PROCEDURE [dbo].[_to_drop_RPT_Money_Collected_Skills_Header]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;

SELECT DISTINCT 
		PVL.PaymentId, PVL.Amount AS Amount,		
		PM.PaymentMethodName,	
		skb.ID as BookingId,		 
		test.Name AS ProcessName		
FROM dbo.PaymentVL PVL
INNER JOIN dbo.PaymentMethod PM ON PM.PaymentMethodId = PVL.PaymentMethodId
INNER JOIN dbo.ServiceTypeVL ST ON ST.ServiceTypeId = PVL.ServiceTypeId
INNER JOIN cabs_sk.BookingPayment BP ON BP.PaymentId = PVL.PaymentId
INNER JOIN cabs_sk.Booking skb ON skb.ID = BP.BookingId
INNER JOIN  cabs_sk.Test test ON skb.TestID = test.ID
left outer join dbo.SystemProcessInstanceVL SPIVL on SPIVL.PaymentId = PVL.PaymentId and SPIVL.Completed = 1
WHERE Cast(PVL.CreatedDate as DATE)  BETWEEN @StartDate AND @EndDate 
		
END






GO
