USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceNominee_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LicenceNominee_Insert]

@LicenceNomineeId int output,
@LicenceNumber varchar(50),
@PersonId int,
@CreatedBy nvarchar(20)

AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

DECLARE @Now DATETIME
SET @Now =  GETDATE()


IF EXISTS (SELECT * FROM LicenceNominee WHERE [LicenceNumber] = @LicenceNumber AND EndDate IS NULL)
	BEGIN
		UPDATE LicenceNominee
		SET EndDate = @Now, ModifiedDate = @Now, ModifiedBy = @CreatedBy
		WHERE [LicenceNumber] = @LicenceNumber AND EndDate IS NULL
	END

INSERT
INTO
	LicenceNominee
	([LicenceNumber]
, [PersonId]
, [StartDate]
, [EndDate]
, [CreatedBy]
, [CreatedDate]
, [ModifiedBy]
, [ModifiedDate])
VALUES
	(@LicenceNumber,
	@PersonId,
	@Now, --StartDate
	NULL, --EndDate
	@CreatedBy,
	@Now,
	@CreatedBy, --@ModifiedBy, modify table to allow nulls
	@Now --@ModifiedDate, modify table to allow nulls
	)

SET @LicenceNomineeId = SCOPE_IDENTITY()

END

GO
