USE [cabs_production]
GO
/****** Object:  Table [dl].[LetterRequestDetail]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[LetterRequestDetail](
	[LetterRequestDetailId] [int] IDENTITY(1,1) NOT NULL,
	[LetterRequestMasterId] [int] NOT NULL,
	[LetterRequestStatusId] [tinyint] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_LetterRequestDetail] PRIMARY KEY CLUSTERED 
(
	[LetterRequestDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LetterRequestDetail_LetterRequestMasterId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LetterRequestDetail_LetterRequestMasterId] ON [dl].[LetterRequestDetail]
(
	[LetterRequestMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LetterRequestDetail_LetterRequestStatusId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LetterRequestDetail_LetterRequestStatusId] ON [dl].[LetterRequestDetail]
(
	[LetterRequestStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[LetterRequestDetail] ADD  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dl].[LetterRequestDetail] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dl].[LetterRequestDetail] ADD  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dl].[LetterRequestDetail] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dl].[LetterRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequest_PrintRequestStatus] FOREIGN KEY([LetterRequestStatusId])
REFERENCES [dl].[LetterRequestStatus] ([LetterRequestStatusId])
GO
ALTER TABLE [dl].[LetterRequestDetail] CHECK CONSTRAINT [FK_PrintRequest_PrintRequestStatus]
GO
ALTER TABLE [dl].[LetterRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestDetail_PrintRequestMaster] FOREIGN KEY([LetterRequestMasterId])
REFERENCES [dl].[LetterRequestMaster] ([LetterRequestMasterId])
GO
ALTER TABLE [dl].[LetterRequestDetail] CHECK CONSTRAINT [FK_PrintRequestDetail_PrintRequestMaster]
GO
