USE [cabs_production]
GO
/****** Object:  Table [dl].[LicenceHolderMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[LicenceHolderMaster](
	[LicenceMasterId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_LicenceHolderMaster] PRIMARY KEY CLUSTERED 
(
	[LicenceMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceHolderMaster_PersonId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceHolderMaster_PersonId] ON [dl].[LicenceHolderMaster]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[LicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderMaster_LicenceMaster_LicenceMasterId] FOREIGN KEY([LicenceMasterId])
REFERENCES [dl].[LicenceMaster] ([LicenceMasterId])
GO
ALTER TABLE [dl].[LicenceHolderMaster] CHECK CONSTRAINT [FK_LicenceHolderMaster_LicenceMaster_LicenceMasterId]
GO
