USE [cabs_production]
GO
/****** Object:  Table [dl].[Payment]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceNumber] [nvarchar](50) NULL,
	[Comments] [nvarchar](2000) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[PaymentMethodId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_PaymentMethodId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Payment_PaymentMethodId] ON [dl].[Payment]
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_PaymentStatusId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Payment_PaymentStatusId] ON [dl].[Payment]
(
	[PaymentStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[Payment] ADD  DEFAULT ((0)) FOR [PaymentStatusId]
GO
ALTER TABLE [dl].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod_PaymentMethodId] FOREIGN KEY([PaymentMethodId])
REFERENCES [dl].[PaymentMethod] ([PaymentMethodId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentMethod_PaymentMethodId]
GO
ALTER TABLE [dl].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentStatus_PaymentStatusId] FOREIGN KEY([PaymentStatusId])
REFERENCES [dl].[PaymentStatus] ([PaymentStatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentStatus_PaymentStatusId]
GO
