USE [cabs_production]
GO
/****** Object:  Table [dl].[PrintcardRequestOptionReason]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[PrintcardRequestOptionReason](
	[PrintcardRequestReasonId] [int] NOT NULL,
	[PrintcardRequestOptionId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PrintcardRequestOptionReason] PRIMARY KEY CLUSTERED 
(
	[PrintcardRequestReasonId] ASC,
	[PrintcardRequestOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequestOptionReason_PrintcardRequestOptionId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequestOptionReason_PrintcardRequestOptionId] ON [dl].[PrintcardRequestOptionReason]
(
	[PrintcardRequestOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[PrintcardRequestOptionReason]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequestOptionReason_PrintcardRequestOption_PrintcardRequestOptionId] FOREIGN KEY([PrintcardRequestOptionId])
REFERENCES [dl].[PrintcardRequestOption] ([PrintcardRequestOptionId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequestOptionReason] CHECK CONSTRAINT [FK_PrintcardRequestOptionReason_PrintcardRequestOption_PrintcardRequestOptionId]
GO
ALTER TABLE [dl].[PrintcardRequestOptionReason]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequestOptionReason_PrintcardRequestReason_PrintcardRequestReasonId] FOREIGN KEY([PrintcardRequestReasonId])
REFERENCES [dl].[PrintcardRequestReason] ([PrintcardRequestReasonId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequestOptionReason] CHECK CONSTRAINT [FK_PrintcardRequestOptionReason_PrintcardRequestReason_PrintcardRequestReasonId]
GO
