USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_SPSVRegistrationDetailsForAllLicenceHolders]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_SPSVRegistrationDetailsForAllLicenceHolders] 
(@ReportType int) as
--@ReportType = 1 - SPSV Online RegistrationALL
--@ReportType = 2 - Report: SPSV OnlineRegistrationNewUsersLast7days

begin
SET NOCOUNT ON;

select *
from
(
	select
		case when p.Id is not null and p.PPSN is not null then p.PPSN else vlhm1.PPSN end as PPSN, 
		case when iu.CRN is not null then 'CRN: ' + cast(iu.CRN as nvarchar(20)) else iu.SecurityNumber end as RegistrationNumber,
		case when p.Id is not null then 'Driver' else 'Vehicle' end as AccountType,
		isnull(p.FirstName, vlhm1.FirstName) as FirstName, 
		isnull(p.LastName, vlhm1.LastName) as LastName, 
		isnull(c.CountyName, p.CountyName) as CountyName, 
		isnull(vlhm1.PostCode, p.PostCode) as PostCode, 
		isnull(vlhm1.Town, p.Town) as Town, 

		case when p.FirstName is not null then isnull(p.AddressLine1, '') + ' ' + isnull(p.AddressLine2, '') + ' ' + isnull(p.AddressLine3, '') 
										   else isnull(vlhm1.AddressLine1, '') + ' ' + isnull(vlhm1.AddressLine2, '') + ' ' + isnull(vlhm1.AddressLine3, '') 
		end as Address, 
		upper(lm.LicenceNumber) as DriverLicence, 
		ltrim(replace(isnull(p.MobilePhone, vlhm1.PhoneNo1), ',', ' ')) as PhoneNo1,
		ltrim(replace(isnull(p.OtherPhone, vlhm1.PhoneNo2), ',', ' ')) as PhoneNo2,
		vlhm1.CompanyName, 
		iu.CreatedOn,
		case when iu.Registered=1 then 'YES' else 'NO' end as Registered,
		case when iu.Active=1 then 'YES' else 'NO' end as Active,
		(
			select stuff((select ',' + upper(LicenceNumber) + case when s.LicenceStateMasterId != 4 then ' (' + s.LicenceStateMaster + ')' else '' end
			from cabs_production.dbo.LicenceMasterVL l with (index(0))
			join cabs_production.dbo.LicenceStateMaster s on l.LicenceStateMasterId = s.LicenceStateMasterId and s.LicenceStateMasterId in (4,5,6)
			where l.LicenceHolderId = vlhm1.LicenceHolderId
			order by s.LicenceStateMasterId
			for xml path ('')), 1, 1, '')
		) as VehicleLicenceNumbers,
		(
			case when p.Id is not null then
				(
					select top 1 pr.CreatedDate as SentDate
					from dl.LetterRequestMaster pr
					join cabs_production.dbo.LetterRequestTypeVLAudit a on pr.LetterRequestTypeVLAuditId=a.LetterRequestTypeAuditId and pr.DriverLicenceHolderId=p.Id
					where a.LetterCode='SPSV-IDL'
					order by pr.CreatedDate desc
				)
			else
				(
					select top 1 p.CreatedDate
					from cabs_production.dbo.PrintRequestMasterVL p
					join cabs_production.dbo.LetterRequestTypeVLAudit a on p.LetterRequestTypeAuditId=a.LetterRequestTypeAuditId and p.LicenceHolderId=vlhm1.LicenceHolderId
					where a.LetterCode='SPSV-IVL'
					order by p.CreatedDate desc
				)
			end
		) as SentDate,
			m.UserId as MembershipUserId
	from cabs_production.cabs_cmo.IndustryUser iu
		left join cabs_production.dbo.aspnet_Membership m on iu.ASPUserId = m.UserId
		left join cabs_production.cabs_spsv.IndustryUserLicenceHolderMaster iulhm on iu.ID = iulhm.IndustryUserFK
		left join cabs_production.dbo.LicenceHolderMaster vlhm1 on (iulhm.LicenceHolderMasterFK = vlhm1.LicenceHolderId)
		left join cabs_production.dbo.County c on c.CountyId = vlhm1.CountyId
		left join cabs_production.cabs_spsv.IndustryUserDriverLicenceHolderMaster iudlhm on iu.ID = iudlhm.IndustryUserFK
		left join person.v_opv p on iudlhm.LicenceHolderMasterFK=p.Id
		inner join dl.LicenceHolderMaster lhm on lhm.PersonId=p.id
		inner join dl.LicenceMaster lm on lhm.LicenceMasterId=lm.LicenceMasterId
	where p.Id is not null or vlhm1.LicenceHolderId is not null
) as q1
where 
(@ReportType = 1)
or
(@ReportType = 2 and q1.SentDate is not null and q1.SentDate > getdate()-7 and q1.MembershipUserId is null)
order by q1.LastName asc, q1.FirstName asc, q1.PPSN asc, q1.AccountType asc

end
GO
