USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_ParameterLicenceStatus]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_ParameterLicenceStatus] as
begin
SET NOCOUNT ON;

select 
concat(lsm.LicenceStateMasterId,ls.LicenceStateId) 'LicenceStateId', 
concat(lsm.Name, ' - ' + ls.Name) 'LicenceStateName' 
from dl.LicenceStateMaster lsm with (nolock)
 left join dl.LicenceState ls with (nolock) on lsm.LicenceStateMasterId=ls.LicenceStateMasterId
 where lsm.LicenceStateMasterId <>4
end
GO
