USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_ParameterGarda]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_ParameterGarda] as
begin
SET NOCOUNT ON;

select -1 as 'GardaAreaId', 'All' 'GardaArea'
union
select GardaAreaId, Name from dl.GardaArea with (nolock)

order by GardaAreaId

end
GO
