USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_DriverRenewalsDue]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_DriverRenewalsDue] 
(@StartDate datetime = NULL,
@EndDate datetime = NULL,
@GardaArea int = NULL
) as 
begin

SET NOCOUNT ON;

declare @SP_StartDate datetime = @StartDate
declare @SP_EndDate datetime = @EndDate
declare @SP_GardaArea int = @GardaArea

;with
CTE_DriverCertified AS 
(
select P.PPSN As PPSN 
from cabs_production.cabs_cmo.Person p with (nolock)
join cabs_production.cabs_sk.Candidate c with (nolock) on c.PersonID=p.ID
join cabs_production.cabs_sk.Booking b with (nolock) on b.CandidateID=c.ID
join cabs_production.cabs_sk.CandidateTest ct with (nolock) on ct.BookingID=b.ID
join cabs_production.cabs_sk.Test t with (nolock) on b.TestID=t.ID
where ct.ResultID=2 
and t.Code IN ('IKT','SPSV', 'SPSVx2', 'IKTx2', 'RET_IK', 'RET_AK', 'RET_IKx2', 'RET_AKx2')
group by P.PPSN 
),
CTE_TaxClearance as (
select 
ROW_NUMBER() OVER (PARTITION BY tc.PersonId order by tc.TaxClearanceCheckDate desc) RankId,
tc.PersonId,
tc.TaxClearanceCheckDate,
tc.TaxClearanceStatusId
from person.TaxClearanceCheck tc with (nolock) 

)

select 
distinct 
lm.LicenceNumber 'LicenceNumber',
concat(lsm.Name, ' - ' + ls.Name) 'LicenceStatus',
p.PPSN 'PPSN',
CASE WHEN dlc.PPSN IS NOT NULL THEN 'Certified' ELSE 'Not Certified' END as CertStatus,
CONVERT(VARCHAR(10), lm.ExpiryDate, 103) 'ExpiryDate',
CONCAT(p.FirstName, ' ', p.LastName) 'DriverName',
convert(varchar,p.DateOfBirth, 103) 'DateOfBirth',
CONCAT(p.AddressLine1, ' ', p.AddressLine2, ' ', p.AddressLine3, ' ', p.Town, ' ', p.PostCode) [Address],
p.MobilePhone 'PhoneNo1',
p.OtherPhone 'PhoneNo2', 
p.Email 'EmailAddress',
ga.Name 'GardaArea',
pa.Name 'PrimaryArea',
stuff((select ';' + a.Name
	 from dl.AdditionalArea aa
	 inner join dl.Area a on aa.AdditionalAreaId=a.AreaId
	 where aa.LicenceMasterId=lm.LicenceMasterId
	 for xml path ('')
	 ), 1, 1, '') 'AdditionalAreas',
case when tc.TaxClearanceStatusId=1 then 'True' else 'False' end 'TaxClearanceCertExists',
tc.TaxClearanceCheckDate 'TaxClearanceLastCheckDate'

from dl.LicenceMaster lm with (nolock)
inner join dl.LicenceHolderMaster lh with (nolock) on lm.LicenceMasterId = lh.LicenceMasterId
inner join person.v_opv p with (nolock) on p.Id=lh.PersonId
	left join dl.LicenceStateMaster lsm with (nolock) on lsm.LicenceStateMasterID = lm.LicenceStateMasterID
	left join dl.LicenceState ls with (nolock) on ls.LicenceStateId = lm.LicenceStateId
left join CTE_DriverCertified dlc with (nolock) on dlc.PPSN = P.PPSN
inner join dl.GardaArea ga with (nolock) on ga.GardaAreaId=lm.GardaAreaId
left join dl.Area pa with (nolock) on pa.AreaId=lm.PrimaryAreaId
left join CTE_TaxClearance tc with (nolock) on tc.PersonId=p.id and tc.RankId=1 --RankId=1 for the latest tax clearance check

where
lm.ExpiryDate BETWEEN @SP_StartDate AND @SP_EndDate
and ((-1 in (@SP_GardaArea)) or (ga.GardaAreaId in (@SP_GardaArea)))
order by ga.Name

end
GO
