USE [cabs_production]
GO
/****** Object:  View [dl].[vCountyForOnlineRegisterCompat]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dl].[vCountyForOnlineRegisterCompat] AS
  SELECT [AreaId] as [CountyID]
      ,[Name] as [CountyName]
      ,[HasPostCode] as [HasPostcode]
      ,a.[CreatedBy]
      ,a.[CreatedDate]
      ,a.[ModifiedBy]
      ,a.[ModifiedDate]
  FROM [cabs_production].[dl].[Area] a
  JOIN [cabs_production].[person].[County] c
  on a.AreaId = c.CountyId
GO
