USE [cabs_production]
GO
/****** Object:  View [dl].[v_LicenceReport]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dl].[v_LicenceReport]
        AS
            SELECT
                  dlm.[LicenceMasterId],
                  dlm.LicenceNumber as LicenceNumber,
                  CONCAT(popv.FirstName, ' ' , popv.LastName) as HolderName,
	              CONCAT(lsm.Name, ISNULL(' - ' + ls.Name, '' )) as LicenceStatus,
                  CONCAT(ISNULL(popv.AddressLine1, ''),
	                     ISNULL(', ' + popv.AddressLine2, ''),
			             ISNULL(', ' + popv.AddressLine3, ''),
			             ISNULL(', ' + popv.Town, ''),
			             ISNULL(', ' + popv.CountyName, ''),
			             ISNULL(', ' + popv.PostCode, ''),
			             ISNULL(', ' + popv.Eircode, ''),
			             ISNULL(', ' + popv.CountryName, '')
			            ) AS Address,
                  CONCAT(primaryarea.Name,
                      ISNULL(', ' +
                                STUFF((
                                        SELECT ',' + rtrim(convert(varchar(10), a.Name))

                                        FROM[dl].[AdditionalArea]additionalArea with(nolock)

                                        JOIN[dl].[Area] a with(nolock) on a.AreaId = AdditionalAreaId

                                        WHERE AdditionalArea.LicenceMasterId = dlm.LicenceMasterId

                                        FOR XML PATH('')
                                       )
                                      , 1, 1, ''
                                      )
                                       , ''
						              )
				            ) AS Areas
                  ,[IssueDate]
                  ,[ExpiryDate]
                  , dlm.PrimaryAreaId
				  ,dlm.GardaAreaId
				  ,dlm.LicenceStateMasterId
				  ,dlm.LicenceStateId
            FROM[dl].[LicenceMaster]
        dlm with(nolock)
            JOIN[dl].[LicenceStateMaster] lsm with(nolock) on lsm.LicenceStateMasterId = dlm.LicenceStateMasterId
            LEFT JOIN[dl].[LicenceState] ls with (nolock) on ls.LicenceStateId = dlm.LicenceStateId
            JOIN[dl].[Area] primaryarea with (nolock) on primaryarea.AreaId = dlm.PrimaryAreaId
            JOIN[dl].[LicenceHolderMaster] dlhm with (nolock) on dlhm.LicenceMasterId = dlm.LicenceMasterId
            JOIN[CABS_production].[person].[v_opv] popv with (nolock) on popv.Id = dlhm.PersonId

GO
