USE [cabs_production]
GO
/****** Object:  View [dl].[vDriverCounty]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dl].[vDriverCounty] AS
SELECT lm.LicenceNumber
	  ,(CASE WHEN aa.[AdditionalAreaId] is null THEN lm.PrimaryAreaId ELSE aa.[AdditionalAreaId] END) AS [CountyID]
      ,lm.PrimaryAreaId AS [PrimaryCounty]
      ,lm.[CreatedBy]
      ,lm.[CreatedDate]
      ,lm.[ModifiedBy]
      ,lm.[ModifiedDate]
  FROM [dl].[LicenceMaster] lm
  left JOIN [dl].[AdditionalArea] aa
  ON lm.LicenceMasterId = aa.LicenceMasterId
  union
  SELECT lm.LicenceNumber
		,lm.PrimaryAreaId as [CountyID]
      ,lm.PrimaryAreaId AS [PrimaryCounty]
      ,lm.[CreatedBy]
      ,lm.[CreatedDate]
      ,lm.[ModifiedBy]
      ,lm.[ModifiedDate]
  FROM [dl].[LicenceMaster] lm
GO
