USE [cabs_production]
GO
/****** Object:  View [dl].[vGardaDivision]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dl].[vGardaDivision] AS

SELECT [GardaAreaId] as [GardaDivisionID]
      ,UPPER([Name]) as [GardaDivisionName]
      ,[CreatedBy]
      ,[CreatedDate]
      ,[ModifiedBy]
      ,[ModifiedDate]
  FROM [dl].[GardaArea]
GO
