USE [cabs_production]
GO
/****** Object:  Table [emailservice].[EmailAddressCc]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [emailservice].[EmailAddressCc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[EmailMessageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EmailAddressCc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailAddressCc_EmailMessageId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_EmailAddressCc_EmailMessageId] ON [emailservice].[EmailAddressCc]
(
	[EmailMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [emailservice].[EmailAddressCc]  WITH CHECK ADD  CONSTRAINT [FK_EmailAddressCc_EmailMessages_EmailMessageId] FOREIGN KEY([EmailMessageId])
REFERENCES [emailservice].[EmailMessages] ([Id])
GO
ALTER TABLE [emailservice].[EmailAddressCc] CHECK CONSTRAINT [FK_EmailAddressCc_EmailMessages_EmailMessageId]
GO
