USE [cabs_production]
GO
/****** Object:  Table [person].[Process]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[Process](
	[ProcessId] [uniqueidentifier] NOT NULL,
	[ProcessName] [nvarchar](max) NULL,
	[StepNumber] [int] NOT NULL,
	[StartedOn] [datetime2](7) NOT NULL,
	[EndedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[PersonId] [int] NOT NULL,
	[ProcessStatusId] [int] NOT NULL,
 CONSTRAINT [PK_Process] PRIMARY KEY CLUSTERED 
(
	[ProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [person].[Process] ADD  DEFAULT ((0)) FOR [PersonId]
GO
ALTER TABLE [person].[Process] ADD  DEFAULT ((0)) FOR [ProcessStatusId]
GO
ALTER TABLE [person].[Process]  WITH CHECK ADD  CONSTRAINT [FK_Process_Person_PersonId] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
ON DELETE CASCADE
GO
ALTER TABLE [person].[Process] CHECK CONSTRAINT [FK_Process_Person_PersonId]
GO
ALTER TABLE [person].[Process]  WITH CHECK ADD  CONSTRAINT [FK_Process_ProcessStatus_ProcessStatusId] FOREIGN KEY([ProcessStatusId])
REFERENCES [person].[ProcessStatus] ([ProcessStatusId])
ON DELETE CASCADE
GO
ALTER TABLE [person].[Process] CHECK CONSTRAINT [FK_Process_ProcessStatus_ProcessStatusId]
GO
