USE [cabs_production]
GO
/****** Object:  Table [person].[CountyHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[CountyHistory](
	[CountyId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[CountyName] [varchar](20) NOT NULL,
	[CountyIrishName] [nvarchar](50) NULL,
	[HasPostCode] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
