USE [cabs_production]
GO
/****** Object:  Table [person].[Phone]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[Phone](
	[PhoneId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[PhoneTypeId] [tinyint] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_Phone] PRIMARY KEY CLUSTERED 
(
	[PhoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [person].[PhoneHistory] )
)
GO
/****** Object:  Index [IX_Phone_PersonId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Phone_PersonId] ON [person].[Phone]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [person].[Phone]  WITH CHECK ADD  CONSTRAINT [FK_Phone_To_Person] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
GO
ALTER TABLE [person].[Phone] CHECK CONSTRAINT [FK_Phone_To_Person]
GO
ALTER TABLE [person].[Phone]  WITH CHECK ADD  CONSTRAINT [FK_Phone_To_PhoneType] FOREIGN KEY([PhoneTypeId])
REFERENCES [person].[PhoneType] ([PhoneTypeId])
GO
ALTER TABLE [person].[Phone] CHECK CONSTRAINT [FK_Phone_To_PhoneType]
GO
