USE [cabs_production]
GO
/****** Object:  Table [person].[CompanyHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[CompanyHistory](
	[CompanyId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[CompanyNumber] [int] NULL,
	[TradingAs] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
