USE [cabs_production]
GO
/****** Object:  Table [person].[DataSourceHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[DataSourceHistory](
	[DataSourceId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[SourceSystemName] [varchar](10) NOT NULL,
	[SourceSystemId] [int] NOT NULL,
	[ETLId] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
