USE [cabs_production]
GO
/****** Object:  Table [person].[Image]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[Image](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[ImageName] [varchar](256) NULL,
	[ImageDate] [varbinary](max) NOT NULL,
	[FileType] [varchar](10) NULL,
	[ImageTypeId] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [person].[ImageHistory] )
)
GO
ALTER TABLE [person].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_To_ImageType] FOREIGN KEY([ImageTypeId])
REFERENCES [person].[ImageType] ([ImageTypeId])
GO
ALTER TABLE [person].[Image] CHECK CONSTRAINT [FK_Image_To_ImageType]
GO
ALTER TABLE [person].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_To_Person] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
GO
ALTER TABLE [person].[Image] CHECK CONSTRAINT [FK_Image_To_Person]
GO
