USE [cabs_production]
GO
/****** Object:  Table [person].[TaxClearanceCheck]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[TaxClearanceCheck](
	[TaxClearanceCheckId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[TaxClearanceCheckDate] [datetime] NOT NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceName] [nvarchar](max) NULL,
	[TaxClearanceStatusId] [tinyint] NOT NULL,
	[CreatedBy] [varchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[MainName] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaxClearanceCheck] PRIMARY KEY CLUSTERED 
(
	[TaxClearanceCheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [person].[TaxClearanceCheckHistory] )
)
GO
/****** Object:  Index [IX_TaxClearanceCheck_PersonId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_TaxClearanceCheck_PersonId] ON [person].[TaxClearanceCheck]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [person].[TaxClearanceCheck]  WITH CHECK ADD  CONSTRAINT [FK_TaxClearanceCheck_To_Person] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
GO
ALTER TABLE [person].[TaxClearanceCheck] CHECK CONSTRAINT [FK_TaxClearanceCheck_To_Person]
GO
ALTER TABLE [person].[TaxClearanceCheck]  WITH CHECK ADD  CONSTRAINT [FK_TaxClearanceCheck_To_TaxClearanceStatus] FOREIGN KEY([TaxClearanceStatusId])
REFERENCES [person].[TaxClearanceStatus] ([TaxClearanceStatusId])
GO
ALTER TABLE [person].[TaxClearanceCheck] CHECK CONSTRAINT [FK_TaxClearanceCheck_To_TaxClearanceStatus]
GO
