USE [cabs_production]
GO
/****** Object:  Table [person].[ProcessField]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[ProcessField](
	[FieldName] [nvarchar](450) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ProcessId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProcessField] PRIMARY KEY CLUSTERED 
(
	[FieldName] ASC,
	[ProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [person].[ProcessField]  WITH CHECK ADD  CONSTRAINT [FK_ProcessField_Process_ProcessId] FOREIGN KEY([ProcessId])
REFERENCES [person].[Process] ([ProcessId])
ON DELETE CASCADE
GO
ALTER TABLE [person].[ProcessField] CHECK CONSTRAINT [FK_ProcessField_Process_ProcessId]
GO
