USE [cabs_production]
GO
/****** Object:  Table [person].[TaxClearanceCheckHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[TaxClearanceCheckHistory](
	[TaxClearanceCheckId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[TaxClearanceCheckDate] [datetime] NOT NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceName] [nvarchar](max) NULL,
	[TaxClearanceStatusId] [tinyint] NOT NULL,
	[CreatedBy] [varchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[MainName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
