USE [cabs_production]
GO
/****** Object:  Table [person].[WatchList]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[WatchList](
	[WatchListId] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsOnWatchList] [bit] NOT NULL,
	[PersonId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_WatchList] PRIMARY KEY CLUSTERED 
(
	[WatchListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [person].[WatchList]  WITH CHECK ADD  CONSTRAINT [FK_WatchList_Person_PersonId] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
ON DELETE CASCADE
GO
ALTER TABLE [person].[WatchList] CHECK CONSTRAINT [FK_WatchList_Person_PersonId]
GO
