USE [cabs_production]
GO
/****** Object:  Table [person].[RevenueNotification]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[RevenueNotification](
	[RevenueNotificationId] [int] IDENTITY(1,1) NOT NULL,
	[TaxClearanceCheckId] [int] NOT NULL,
	[RevenueNotificationSendDate] [datetime] NOT NULL,
	[RevenueNotificationTypeId] [tinyint] NOT NULL,
	[CreatedBy] [varchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_RevenueNotification] PRIMARY KEY CLUSTERED 
(
	[RevenueNotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [person].[RevenueNotificationHistory] )
)
GO
ALTER TABLE [person].[RevenueNotification]  WITH CHECK ADD  CONSTRAINT [FK_RevenueNotification_To_RevenueNotificationType] FOREIGN KEY([RevenueNotificationTypeId])
REFERENCES [person].[RevenueNotificationType] ([RevenueNotificationTypeId])
GO
ALTER TABLE [person].[RevenueNotification] CHECK CONSTRAINT [FK_RevenueNotification_To_RevenueNotificationType]
GO
ALTER TABLE [person].[RevenueNotification]  WITH CHECK ADD  CONSTRAINT [FK_RevenueNotification_To_TaxClearanceCheck] FOREIGN KEY([TaxClearanceCheckId])
REFERENCES [person].[TaxClearanceCheck] ([TaxClearanceCheckId])
GO
ALTER TABLE [person].[RevenueNotification] CHECK CONSTRAINT [FK_RevenueNotification_To_TaxClearanceCheck]
GO
