USE [cabs_production]
GO
/****** Object:  Table [audit].[ChangeValue]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[ChangeValue](
	[ChangeValueId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProcessId] [int] NOT NULL,
	[ChangeValueTypeId] [int] NOT NULL,
	[FieldName] [nvarchar](64) NOT NULL,
	[FieldType] [nvarchar](64) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_ChangeValue] PRIMARY KEY CLUSTERED 
(
	[ChangeValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ChangeValue_ChangeValueTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_ChangeValue_ChangeValueTypeId] ON [audit].[ChangeValue]
(
	[ChangeValueTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChangeValue_ProcessId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_ChangeValue_ProcessId] ON [audit].[ChangeValue]
(
	[ProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [audit].[ChangeValue] ADD  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [audit].[ChangeValue]  WITH CHECK ADD  CONSTRAINT [FK_ChangeValue_ChangeValueType_ChangeValueTypeId] FOREIGN KEY([ChangeValueTypeId])
REFERENCES [audit].[ChangeValueType] ([ChangeValueTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [audit].[ChangeValue] CHECK CONSTRAINT [FK_ChangeValue_ChangeValueType_ChangeValueTypeId]
GO
ALTER TABLE [audit].[ChangeValue]  WITH CHECK ADD  CONSTRAINT [FK_ChangeValue_Process_ProcessId] FOREIGN KEY([ProcessId])
REFERENCES [audit].[Process] ([ProcessId])
ON DELETE CASCADE
GO
ALTER TABLE [audit].[ChangeValue] CHECK CONSTRAINT [FK_ChangeValue_Process_ProcessId]
GO
