USE [cabs_production]
GO
/****** Object:  Table [audit].[AdditionalInformation]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[AdditionalInformation](
	[AdditionalInformationId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProcessId] [int] NOT NULL,
	[AdditionalInformationTypeId] [int] NOT NULL,
	[FieldName] [nvarchar](64) NOT NULL,
	[FieldType] [nvarchar](64) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_AdditionalInformation] PRIMARY KEY CLUSTERED 
(
	[AdditionalInformationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AdditionalInformation_AdditionalInformationTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_AdditionalInformation_AdditionalInformationTypeId] ON [audit].[AdditionalInformation]
(
	[AdditionalInformationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdditionalInformation_ProcessId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_AdditionalInformation_ProcessId] ON [audit].[AdditionalInformation]
(
	[ProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [audit].[AdditionalInformation] ADD  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [audit].[AdditionalInformation]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalInformation_AdditionalInformationType_AdditionalInformationTypeId] FOREIGN KEY([AdditionalInformationTypeId])
REFERENCES [audit].[AdditionalInformationType] ([AdditionalInformationTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [audit].[AdditionalInformation] CHECK CONSTRAINT [FK_AdditionalInformation_AdditionalInformationType_AdditionalInformationTypeId]
GO
ALTER TABLE [audit].[AdditionalInformation]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalInformation_Process_ProcessId] FOREIGN KEY([ProcessId])
REFERENCES [audit].[Process] ([ProcessId])
ON DELETE CASCADE
GO
ALTER TABLE [audit].[AdditionalInformation] CHECK CONSTRAINT [FK_AdditionalInformation_Process_ProcessId]
GO
