USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[Tutorial]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[Tutorial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[CurrentID] [int] NULL,
	[VersionID] [uniqueidentifier] NOT NULL,
	[VersionDate] [datetime] NOT NULL,
	[VersionTypeID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[Tutorial]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Tutorial_Tutorial] FOREIGN KEY([CurrentID])
REFERENCES [cabs_sk].[Tutorial] ([ID])
GO
ALTER TABLE [cabs_sk].[Tutorial] CHECK CONSTRAINT [FK_cabs_sk_Tutorial_Tutorial]
GO
ALTER TABLE [cabs_sk].[Tutorial]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Tutorial_VersionType] FOREIGN KEY([VersionTypeID])
REFERENCES [cabs_sk].[VersionType] ([ID])
GO
ALTER TABLE [cabs_sk].[Tutorial] CHECK CONSTRAINT [FK_cabs_sk_Tutorial_VersionType]
GO
