USE [cabs_production]
GO
/****** Object:  View [cabs_cmo].[vAuthToken]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [cabs_cmo].[vAuthToken] as
select UserDetails.UserId,UserDetails.FullName, AuthToken.Token
      ,[CreatedUtc]
      ,[ValidityPeriod]
      ,[ApplicationName]
      ,[ApplicationVersion]
      ,[DeviceId]
      ,[ClientType]
      ,[ClientIP] from cabs_aut.AuthToken left join cabs_cmo.UserDetails on AuthToken.UserId=UserDetails.UserId
GO
