USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vCheckDocketNumber]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_enf].[vCheckDocketNumber] AS
SELECT [Id]
      ,[DocketNumber]
  FROM [cabs_enf].[Fines]
GO
