USE [cabs_production]
GO
/****** Object:  View [cabs_rta].[vVehicleDetails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [cabs_rta].[vVehicleDetails]
AS
	SELECT	m.Make,
			ml.Model, 
			vm.RegistrationNumber, 
			lm.LicenceHolderId, 
			lm.LicenceNumber AS VehicleLicenceNo, 
			lm.LicenceExpiryDate, 
			CASE WHEN ((lm.LicenceTypeId = 4) OR (lm.LicenceTypeId = 6)) 
				THEN CAST(1 AS bit) 
				ELSE CAST(0 AS bit) 
			END AS WAV,
			s.LicenceStateMaster as [Status]
	FROM  dbo.LicenceMasterVL lm
	INNER JOIN dbo.VehicleMaster vm ON lm.RegistrationNumber = vm.RegistrationNumber
	INNER JOIN dbo.LicenceStateMaster s On lm.LicenceStateMasterId = s.LicenceStateMasterId
	INNER JOIN dbo.VehicleMake m ON vm.MakeId = m.MakeId 
	INNER JOIN dbo.VehicleModel ml ON m.MakeId = ml.MakeId 
				AND ml.MakeId = m.MakeId 
				AND vm.ModelId = ml.ModelId
GO
