USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[CleanAuditLog]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cabs_cmo].[CleanAuditLog]
	@rowsPerTransaction int = 10000,
	@rowsPerJobExecute int = 100000,
	@monthsToLeave int = 2	
AS
BEGIN

	declare @actualDateBorder datetime set @actualDateBorder = DATEADD(month, -@monthsToLeave, GETDATE())

	declare @plan table ( Id int primary key, processed bit)
	insert into @plan 
		select top(@rowsPerJobExecute) l.Id, 0 
		from cabs_cmo.AuditLog l where l.[TimeStamp] < @actualDateBorder

	declare @loopPlan table ( Id int primary key )
	declare @totalRowsAffected int = 0
	declare @loopRowsAffected int

	while (select COUNT(Id) from @plan where processed = 0) > 0
	begin
		begin try
			delete from @loopPlan
			insert into @loopPlan select top(@rowsPerTransaction) p.Id from @plan p where p.processed = 0
			
			begin transaction				
			
				delete l from cabs_cmo.AuditLog l inner join @loopPlan p on l.Id = p.Id
				set @loopRowsAffected = @@ROWCOUNT
				update p set p.processed = 1 from @plan p inner join @loopPlan lp on lp.Id = p.Id		
				
			commit transaction
		end try
		begin catch 
			set @loopRowsAffected = 0
			rollback transaction		
		end catch	
		set @totalRowsAffected = @totalRowsAffected + @loopRowsAffected
	end	
		
	insert into cabs_cmo.AuditLog (lkAuditLevelId, lkAuditTypeId, UserName, TimeStamp, [Text]) values
								  (40, 4, 'system_job', getdate(), CAST( @totalRowsAffected as varchar ) + ' rows affected')
END

GO
