USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_insp].[UpdateFinalOperationDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cabs_insp].[UpdateFinalOperationDate]
AS
BEGIN

	declare @PlateNumber int
	declare @LicenceTypeId int
	declare @updatedVLSRows int
	declare @RegistrationNumber nvarchar(20)
	
	declare @ID bigint
	declare @Count bigint = 0
	
    declare IU_MissingFinalOperationDate cursor for
       select Platenumber,RegistrationNumber,LicenceTypeId
        from dbo.LicenceMasterVL lmv
		where lmv.LicenceTypeId not in (3)
		AND lmv.LicenceNumber in ('W50720',
									'A50161',
									'W17027',
									'W50572',
									'W50197',
									'W50239',
									'W50291',
									'W50262',
									'W50298',
									'W50299',
									'W50137',
									'W50294',
									'A50265',
									'W50238',
									'W50224',
									'W50546',
									'W50254',
									'A50288',
									'W47219',
									'W50569',
									'W50587',
									'W50642',
									'W50576',
									'W50526',
									'A50644',
									'W21230',
									'W50708',
									'A50167',
									'T19557',
									'T38616',
									'T35210',
									'T15846',
									'W50125',
									'W50669',
									'W50741',
									'W50806',
									'W50267',
									'W50556',
									'W50670',
									'W50668',
									'W50757',
									'W50750',
									'W50295',
									'W50172',
									'W50316',
									'W50571',
									'W50762',
									'W38048',
									'W50586',
									'W27429',
									'A50046',
									'H28456',
									'W26183',
									'A47446',
									'H34799',
									'T39580',
									'W45655',
									'W50056',
									'W32928',
									'T18217',
									'W50139',
									'W45993',
									'W46471',
									'W50008',
									'W45968',
									'H42270',
									'W50369',
									'W50484',
									'W32735',
									'W50565',
									'W14009',
									'W50241',
									'A50636',
									'W47727',
									'W47581',
									'W50031',
									'T37922',
									'T41578',
									'W40111',
									'H12898',
									'W45522',
									'W24980',
									'W40970',
									'W34651',
									'W50252',
									'W50131',
									'T30881',
									'T20084',
									'T23588',
									'T32949',
									'T33458',
									'T40513',
									'T20929',
									'T38755',
									'W45033',
									'W50329',
									'T31374',
									'W50249',
									'A50292',
									'W50270',
									'W31800',
									'W50694',
									'W12373',
									'W24865',
									'W43212',
									'W14407',
									'A50749',
									'W50748',
									'W38000',
									'W50690',
									'W50237',
									'W50209',
									'W50290',
									'W50297',
									'W26155',
									'W37168',
									'W50183',
									'W50234',
									'W50250',
									'W25160',
									'W50258',
									'W14634',
									'W22662',
									'W20475',
									'W50266',
									'W27362',
									'A50218',
									'A50286',
									'W46000',
									'W50685',
									'W50260',
									'W13933',
									'W50257',
									'W50271',
									'W12333',
									'W50144',
									'W40491',
									'A50406',
									'W17182',
									'W50718',
									'W20262',
									'W50347',
									'W50351',
									'W50199',
									'A50555',
									'W50692',
									'W50533',
									'W50592',
									'W50575',
									'W50600',
									'W50727',
									'W50557',
									'W50695',
									'W50653',
									'W35360',
									'W45556',
									'A50602',
									'T17382',
									'W17284',
									'T15798',
									'T37399',
									'T19565',
									'T42633',
									'T36654',
									'T25487',
									'W17159',
									'W50047',
									'W33392',
									'W39035',
									'W42553',
									'W21150',
									'W42389',
									'H14051',
									'W50080',
									'W42484',
									'W50761',
									'W45224',
									'W50705',
									'A50789',
									'W50198',
									'W41437',
									'W47237',
									'W50212',
									'W45479',
									'W50558',
									'W39168',
									'W50312',
									'W10040',
									'W50747',
									'W50128',
									'W50087',
									'W50164',
									'W50155',
									'W25887',
									'W50152',
									'W50151',
									'W50502',
									'W50256',
									'W17102',
									'W50317',
									'W50345',
									'W50389',
									'W50088',
									'W50418',
									'W50541',
									'W20841',
									'W50408',
									'A50293',
									'W43086',
									'W50275',
									'A50360',
									'W24765',
									'W25603',
									'W50647',
									'A50683',
									'W50731',
									'W50754',
									'W50287',
									'W50409',
									'W50567',
									'W50166',
									'W50791',
									'W50441',
									'W50453',
									'W50419',
									'W50595',
									'W33013',
									'W50630',
									'W50678',
									'W50725',
									'W50709',
									'W50710',
									'W50730',
									'W50764',
									'W50767',
									'W50776',
									'W50300',
									'W50464',
									'A50625',
									'W50505',
									'W50574',
									'W50635',
									'W50687',
									'W50763',
									'W50538',
									'W50742',
									'W50648',
									'W50777',
									'W50745',
									'W50590',
									'W50674',
									'W50654',
									'W39560',
									'W50255',
									'W50651',
									'W30965',
									'W50605',
									'W50032',
									'W50366',
									'W50153',
									'W50289',
									'W50228',
									'W41994',
									'W50440',
									'W50309',
									'W50359',
									'W50542',
									'W50601',
									'W50698',
									'W50626',
									'W50693',
									'W50682',
									'W50711',
									'W50758',
									'W50770',
									'W50447',
									'W50376',
									'A50230',
									'W50544',
									'W50205',
									'W50176',
									'W50577',
									'W30257',
									'A50307',
									'W38662',
									'W50778',
									'A50528',
									'A50433',
									'W50609',
									'W50207',
									'W50223',
									'W50436',
									'W50543',
									'W50593',
									'W50624',
									'W50615',
									'W50628',
									'W50662',
									'W50726',
									'W23198',
									'W50773',
									'W50314',
									'W50259',
									'W50599',
									'W50545',
									'W50308',
									'W50629',
									'W50755',
									'W50769',
									'W50765',
									'W50537',
									'W50677',
									'W50707',
									'W50729',
									'W50570',
									'W14184',
									'W50646',
									'W14366',
									'W45923',
									'A50011',
									'W50226',
									'A50719',
									'W33816',
									'W50732',
									'W50716',
									'W50715',
									'T43307',
									'H42888',
									'T26831',
									'W20860',
									'T20608',
									'T23563',
									'T36815',
									'T24452',
									'T26091',
									'H46071',
									'T26670',
									'T20453',
									'W12372',
									'H12903',
									'H15438',
									'T24176',
									'T18442',
									'T40021',
									'T41608',
									'T26453',
									'T29700',
									'T10281',
									'T14273',
									'T31645',
									'T27646',
									'W13186',
									'W39087',
									'W50253',
									'W50301',
									'W42434',
									'W50663',
									'W50751',
									'T38536',
									'A50684',
									'W45855',
									'W50702',
									'T17021',
									'T34331',
									'W50743',
									'A50548',
									'W26530',
									'W50163',
									'T10249',
									'T18096',
									'T35859',
									'W50411',
									'W50220',
									'H33602',
									'W50082',
									'A50211',
									'A50306',
									'W50194',
									'W50284',
									'W50547',
									'W50652',
									'W50756',
									'W50094',
									'W50645',
									'W50112',
									'W50401',
									'W50071',
									'W50550',
									'W50093',
									'W50315',
									'W50078',
									'W50379',
									'A50081',
									'W50076',
									'A50676',
									'A50192',
									'W50346',
									'W50283',
									'W50744',
									'A50342',
									'W50216',
									'W50251',
									'W50222',
									'W50463',
									'W50303',
									'W14695',
									'A50617',
									'W50174',
									'W32559',
									'W50141',
									'W50114',
									'W50143',
									'W30176',
									'W50129',
									'A50169',
									'W50229',
									'W50739',
									'W50606',
									'W50798',
									'W50225',
									'W50549',
									'W50618',
									'W50679',
									'W50597',
									'W50325',
									'W50740',
									'W50305',
									'W50658',
									'W50594',
									'W50675',
									'W17158',
									'W50460',
									'W50673',
									'W50717',
									'W50671')
    
      
	open IU_MissingFinalOperationDate
	  fetch next from IU_MissingFinalOperationDate into @PlateNumber,@RegistrationNumber,@LicenceTypeId
	while (@@FETCH_STATUS <> -1)	  
	begin	  
	DECLARE @finalOperationDate datetime = dbo.LicenceMasterVL_GetFinalOperationDate(@PlateNumber,@RegistrationNumber, @LicenceTypeId, 0)

	  update [Cabs_Production].[dbo].[LicenceMasterVL]  
	     set FinalOperationDate = @finalOperationDate
	   where (PlateNumber=@PlateNumber AND LicenceTypeId <> 3);
	   
	  set @updatedVLSRows = @@Rowcount

	  set @Count = @Count + 1

	  fetch next from IU_MissingFinalOperationDate into @PlateNumber,@RegistrationNumber,@LicenceTypeId
	end
    close IU_MissingFinalOperationDate

    deallocate IU_MissingFinalOperationDate	
  			   	        
END
GO
