USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[Booking]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[Booking](
	[ID] [int] IDENTITY(100000,1) NOT NULL,
	[TestCentreID] [int] NOT NULL,
	[TestCentreLaneID] [int] NOT NULL,
	[CandidateID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[AreaID] [int] NULL,
	[BookingCancellationReasonId] [int] NULL,
	[LateCancellation] [bit] NULL,
	[LateReschedule] [bit] NULL,
	[ConfirmationNumber] [nvarchar](50) NULL,
	[ParentBookingId] [int] NULL,
 CONSTRAINT [PK__Booking__3214EC277D875141] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_Booking_5_572685238__K2_K3_K5_11_12]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_Booking_5_572685238__K2_K3_K5_11_12] ON [cabs_sk].[Booking]
(
	[TestCentreID] ASC,
	[TestCentreLaneID] ASC,
	[StatusID] ASC
)
INCLUDE([StartDateTime],[EndDateTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cabs_sk_Booking_TestID]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_cabs_sk_Booking_TestID] ON [cabs_sk].[Booking]
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[Booking]  WITH CHECK ADD FOREIGN KEY([ParentBookingId])
REFERENCES [cabs_sk].[Booking] ([ID])
GO
ALTER TABLE [cabs_sk].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk.Booking_BookingCancellationReason] FOREIGN KEY([BookingCancellationReasonId])
REFERENCES [dbo].[BookingCancellationReason] ([BookingCancellationReasonId])
GO
ALTER TABLE [cabs_sk].[Booking] CHECK CONSTRAINT [FK_cabs_sk.Booking_BookingCancellationReason]
GO
ALTER TABLE [cabs_sk].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Booking_BookingStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[BookingStatus] ([BookingStatusId])
GO
ALTER TABLE [cabs_sk].[Booking] CHECK CONSTRAINT [FK_cabs_sk_Booking_BookingStatus]
GO
ALTER TABLE [cabs_sk].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Booking_Candidate] FOREIGN KEY([CandidateID])
REFERENCES [cabs_sk].[Candidate] ([ID])
GO
ALTER TABLE [cabs_sk].[Booking] CHECK CONSTRAINT [FK_cabs_sk_Booking_Candidate]
GO
ALTER TABLE [cabs_sk].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Booking_County] FOREIGN KEY([AreaID])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [cabs_sk].[Booking] CHECK CONSTRAINT [FK_cabs_sk_Booking_County]
GO
ALTER TABLE [cabs_sk].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Booking_Test] FOREIGN KEY([TestID])
REFERENCES [cabs_sk].[Test] ([ID])
GO
ALTER TABLE [cabs_sk].[Booking] CHECK CONSTRAINT [FK_cabs_sk_Booking_Test]
GO
ALTER TABLE [cabs_sk].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Booking_TestCentre] FOREIGN KEY([TestCentreID])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [cabs_sk].[Booking] CHECK CONSTRAINT [FK_cabs_sk_Booking_TestCentre]
GO
ALTER TABLE [cabs_sk].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Booking_TestCentreLane] FOREIGN KEY([TestCentreLaneID])
REFERENCES [dbo].[TestCentreLanes] ([TestCentreLaneId])
GO
ALTER TABLE [cabs_sk].[Booking] CHECK CONSTRAINT [FK_cabs_sk_Booking_TestCentreLane]
GO
