USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBooking_SelectBookingsInDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- Stored Procedure

-- =============================================
-- Author:		<Author, Yuliya Khadasevich>
-- Create date: <Create Date, 14-Feb-2014>
-- Description:	<Description, Select skills bookings count in the time frame. 
--				This will >
-- =============================================
CREATE PROCEDURE [cabs_sk].[SkillsBooking_SelectBookingsInDate]
(
@ClosedDate  DateTime
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT		COUNT(b.ID) as [Bookings Count]
	FROM	cabs_sk.Booking b
			
	WHERE	CAST(b.StartDateTime AS Date) = CAST(@ClosedDate AS Date) or CAST(b.EndDateTime as Date) = CAST(@ClosedDate AS Date) 
	AND		b.StatusId NOT IN
			(
				SELECT BookingStatusId FROM dbo.BookingStatus
				WHERE VoidedBooking = 1
			)
END



GO
