USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_enf].[RPT_OverallComplianceSummary]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cabs_enf].[RPT_OverallComplianceSummary]
(
	@ReportDateFrom	Date, 
	@ReportDateTo	Date,
	@ActionType		varchar(50),
	@DLNumber		varchar(50),
	@VLNumber		varchar(50)
) AS
BEGIN
SELECT *
FROM(
SELECT 
	'Check'									as 'Action Type',
	unpiv.Action							as Action,
	unpiv.Total								as Total
FROM(
SELECT 
SUM(CASE WHEN s.SearchError IS NULL or s.SearchError = 0 THEN 1 ELSE 0 END)			as 'Valid Checks',
SUM(CASE WHEN s.SearchError = 1 THEN 1 ELSE 0 END)									as 'Checks Made in Error'
FROM cabs_enf.SearchAudit s
WHERE 1=1
AND s.DateTime>=@ReportDateFrom AND s.DateTime<DATEADD(DAY,1,@ReportDateTo)
AND (s.VehicleLicenceNumber = @VLNumber or @VLNumber IS NULL or @VLNumber ='')
AND (s.LicenceNumber= @DLNumber or @DLNumber IS NULL or @DLNumber =''))s
unpivot
(
Total
for Action in ([Valid Checks], [Checks Made in Error])
) unpiv
UNION
SELECT
'Audit'										as 'Action Type',
CASE 
WHEN Passed=1 THEN 'Passed Audits' 
WHEN Passed=0 THEN 'Failed Audits'
END											as Action,
count(distinct a.Id)						as Total
FROM cabs_enf.Audit							as a
LEFT OUTER JOIN cabs_enf.AuditHistoryItem	as ah ON a.Id = ah.AuditId
inner join cabs_enf.lkAuditItem ai on ai.Id = ah.lkAuditItemId
		and ai.Active=1 
		and (ai.FineCode is not null 
		or (ai.FineCode is null 
		and ai.id not in (SELECT ParentId FROM cabs_enf.lkAuditItem WHERE Active=1 AND ParentId is not null)))
WHERE 1=1 
AND a.DateTime>=@ReportDateFrom AND a.DateTime<DATEADD(DAY,1,@ReportDateTo)
AND (AuditId in (
SELECT 
	distinct complete.AuditId 
FROM(
	SELECT 
		AuditId,
		Count(id) as cnt
	FROM cabs_enf.AuditHistoryItem 
	group by AuditId
	) as complete 
INNER JOIN (
	SELECT 
		AuditId, 
		sum(CASE WHEN Passed=1 THEN 1 END) as cnt 
		FROM cabs_enf.AuditHistoryItem 
		group by AuditId) pass ON complete.AuditId=pass.AuditId AND complete.cnt=pass.cnt 
		)
		OR ah.Passed=0)
AND (a.VehicleLicenceNumber = @VLNumber or @VLNumber IS NULL or @VLNumber ='')
AND (a.DriverLicenceNumber= @DLNumber or @DLNumber IS NULL or @DLNumber ='')
GROUP BY CASE 
WHEN Passed=1 THEN 'Passed Audits' 
WHEN Passed=0 THEN 'Failed Audits'
END	
UNION
SELECT
'FPN'										as 'Action Type',
'FPNs'										as Action,
count(id)									as Total
FROM cabs_enf.Fines as f
WHERE 1=1
AND f.IssueDate>=@ReportDateFrom AND f.IssueDate<DATEADD(DAY,1,@ReportDateTo)
AND (f.VehicleLicenceNumber = @VLNumber or @VLNumber IS NULL or @VLNumber ='')
AND (f.DriverLicenceNumber= @DLNumber or @DLNumber IS NULL or @DLNumber ='')
)summary
WHERE summary.[Action Type] IN (select Element from dbo.func_Split(@ActionType,','))
END
GO
