USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vDriverFCPDetails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [cabs_enf].[vDriverFCPDetails]
AS
SELECT DISTINCT
	fine.Id,
	ft.FineCode AS [Code],
	ft.ShortName AS [Description],
	fine.Amount AS [Amount],
	fine.DocketNumber AS [DocketRefNo],
	fine.IncidentDate AS [IncidentDate],
	fine.IssueDate AS [IssueDateTime],	
	fine.IsPaid AS [Paid],
	fine.IssueOfficerName AS [OfficerName],
	lm.LicenceNumber AS [DriverLicence],
		ISNULL(lhm.AddressLine1,'') + ' ' +
		ISNULL(lhm.AddressLine2,'') + ' ' +
		ISNULL(lhm.AddressLine3,'') + ' ' +
		ISNULL(lhm.Town,'') AS [DriverAddress],
	COALESCE(lhm.HolderName, lhm.CompanyName) AS [DriverName],
	COALESCE(fine.[VehicleLicenceNumber], fine.DriverLicenceNumber, fine.[InfoLicenceNumber]) AS [VehicleLicence],
	COALESCE(fine.[RegistrationNumber],fine.[InfoRegistrationNumber]) AS [VehicleRegistrationNumber],
	fine.IssueOfficerId AS [EnforcementOfficerUID]
FROM [cabs_enf].[Fines] AS fine
LEFT JOIN cabs_live.dbo.LicenceHolderMaster AS lhm ON fine.DriverLicenceNumber = lhm.licencenumber
LEFT JOIN cabs_live.dbo.LicenceMaster AS lm ON lm.LicenceHolderId = lhm.LicenceHolderId
LEFT JOIN cabs_production.cabs_enf.lkAuditItem AS ft ON ft.Id = fine.FineTypeID

GO
