USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[TutorialSlide]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[TutorialSlide](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[ImageID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Order] [int] NULL,
	[TutorialID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[TutorialSlide]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_TutorialSlide_Image] FOREIGN KEY([ImageID])
REFERENCES [cabs_sk].[Image] ([ID])
GO
ALTER TABLE [cabs_sk].[TutorialSlide] CHECK CONSTRAINT [FK_cabs_sk_TutorialSlide_Image]
GO
ALTER TABLE [cabs_sk].[TutorialSlide]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_TutorialSlide_Tutorial] FOREIGN KEY([TutorialID])
REFERENCES [cabs_sk].[Tutorial] ([ID])
GO
ALTER TABLE [cabs_sk].[TutorialSlide] CHECK CONSTRAINT [FK_cabs_sk_TutorialSlide_Tutorial]
GO
