USE [cabs_production]
GO
/****** Object:  Table [cabs_cmo].[AuditLog]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cmo].[AuditLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[lkAuditLevelId] [int] NULL,
	[lkAuditTypeId] [int] NULL,
	[ActionId] [varchar](100) NULL,
	[ExternalID] [int] NULL,
	[UserName] [varchar](100) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[Text] [text] NOT NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_cmo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_lkAuditLevel] FOREIGN KEY([lkAuditLevelId])
REFERENCES [cabs_cmo].[lkAuditLevel] ([Id])
GO
ALTER TABLE [cabs_cmo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_lkAuditLevel]
GO
ALTER TABLE [cabs_cmo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_lkAuditTypeId] FOREIGN KEY([lkAuditTypeId])
REFERENCES [cabs_cmo].[lkAuditType] ([Id])
GO
ALTER TABLE [cabs_cmo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_lkAuditTypeId]
GO
