USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[RemoveImportedQuestion]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_sk].[RemoveImportedQuestion]
	@QuestionId int
AS
BEGIN
	BEGIN TRANSACTION
	BEGIN TRY

		DELETE FROM [cabs_sk].[ImportedAnswer]
		WHERE ImportedQuestionID = @QuestionId;

		DELETE FROM [cabs_sk].[ImportedQuestion]
		WHERE ID = @QuestionId;

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();			
		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END
GO
