USE [cabs_production]
GO
/****** Object:  View [cabs_cmo].[vLicenceStateMasterLive]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [cabs_cmo].[vLicenceStateMasterLive]

AS
SELECT [LicenceStateMasterID]
      ,[LicenceStateMaster]
      ,[CreatedBy]
      ,[CreatedDate]
      ,[ModifiedBy]
      ,[ModifiedDate]
  FROM [CABS_LIVE].[dbo].[LicenceStateMaster]
GO
