USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[SearchCabsUsers]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [cabs_spsv].[SearchCabsUsers]
    @UserNameToMatch nvarchar(256) = null
AS
BEGIN

    SELECT	u.UserName,
			m.Email,
			m.PasswordQuestion,
			m.Comment,
			m.IsApproved,
            m.CreateDate,
            m.LastLoginDate,
            u.LastActivityDate,
            m.LastPasswordChangedDate,
            u.UserId, m.IsLockedOut,
            m.LastLockoutDate
    FROM dbo.aspnet_Membership m
	JOIN dbo.aspnet_Users u on u.UserId = m.UserId
	LEFT JOIN cabs_cmo.IndustryUser iu on iu.ASPUserId=u.UserId
    WHERE (@UserNameToMatch is null or u.LoweredUserName like lower(@UserNameToMatch)) and iu.Id is null
    ORDER BY u.UserName

END

GO
