USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[ImportedAnswer]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[ImportedAnswer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[ImportedQuestionID] [int] NOT NULL,
	[AnswerText] [nvarchar](max) NULL,
	[Order] [int] NULL,
	[Correct] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[ImportedAnswer]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_ImportedAnswer_ImportedQuestion] FOREIGN KEY([ImportedQuestionID])
REFERENCES [cabs_sk].[ImportedQuestion] ([ID])
GO
ALTER TABLE [cabs_sk].[ImportedAnswer] CHECK CONSTRAINT [FK_cabs_sk_ImportedAnswer_ImportedQuestion]
GO
