USE [cabs_production]
GO
/****** Object:  Table [cabs_aut].[AuthTokenHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_aut].[AuthTokenHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[Token] [nvarchar](128) NOT NULL,
	[TokenCreatedUtc] [datetime] NOT NULL,
	[ValidityPeriod] [int] NOT NULL,
	[ApplicationName] [nvarchar](50) NOT NULL,
	[ApplicationVersion] [nvarchar](50) NOT NULL,
	[DeviceId] [nvarchar](50) NOT NULL,
	[ClientType] [nvarchar](50) NOT NULL,
	[ClientIP] [nvarchar](50) NULL,
	[CreatedUtc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
