USE [cabs_production]
GO
/****** Object:  Table [cabs_rta].[RentalAgreement]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_rta].[RentalAgreement](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VehicleLicenceNo] [varchar](50) NOT NULL,
	[DriverLicenceNo] [nvarchar](20) NULL,
	[Name] [nvarchar](101) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ValidInsurance] [bit] NOT NULL,
	[Comments] [nvarchar](300) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[IndustryUserID] [bigint] NOT NULL,
	[ModifiedVia] [nvarchar](20) NULL,
 CONSTRAINT [PK_RentalAgreement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalAgreement_1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_RentalAgreement_1] ON [cabs_rta].[RentalAgreement]
(
	[IndustryUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RentalAgreement_VehicleLicenceNoDriverLicenceNo]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_RentalAgreement_VehicleLicenceNoDriverLicenceNo] ON [cabs_rta].[RentalAgreement]
(
	[VehicleLicenceNo] ASC,
	[DriverLicenceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_rta].[RentalAgreement] ADD  CONSTRAINT [DF_RentalAgreement_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cabs_rta].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [FK_RentalAgreement_IndustryUser] FOREIGN KEY([IndustryUserID])
REFERENCES [cabs_cmo].[IndustryUser] ([ID])
GO
ALTER TABLE [cabs_rta].[RentalAgreement] CHECK CONSTRAINT [FK_RentalAgreement_IndustryUser]
GO
