USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[RemoveKnowledgeArea]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_sk].[RemoveKnowledgeArea]
	@LicenceNumber nvarchar(50),
	@CountyId int
AS
BEGIN
IF(EXISTS(SELECT * FROM [cabs_live].[dbo].[DriverCounty] WHERE LicenceNumber=@LicenceNumber AND CountyID=@CountyId AND PrimaryCounty <>@CountyId))
	BEGIN
		DELETE FROM [cabs_live].[dbo].DriverCounty WHERE CountyID = @CountyId AND LicenceNumber=@LicenceNumber AND PrimaryCounty <>@CountyId
	END
ELSE
	BEGIN
		DELETE FROM [cabs_live].[dbo].DriverCounty WHERE PrimaryCounty = @CountyId AND LicenceNumber=@LicenceNumber
	END
END
GO
