USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[xrefVehicleTypeAuditItem]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[xrefVehicleTypeAuditItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Active] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[VehicleTypeId] [tinyint] NOT NULL,
	[lkAuditItemId] [int] NOT NULL,
 CONSTRAINT [PK_xrefVehicleTypeFCPItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[xrefVehicleTypeAuditItem]  WITH CHECK ADD  CONSTRAINT [FK_xrefVehicleTypeAuditItem_LicenceType] FOREIGN KEY([VehicleTypeId])
REFERENCES [dbo].[LicenceType] ([LicenceTypeId])
GO
ALTER TABLE [cabs_enf].[xrefVehicleTypeAuditItem] CHECK CONSTRAINT [FK_xrefVehicleTypeAuditItem_LicenceType]
GO
ALTER TABLE [cabs_enf].[xrefVehicleTypeAuditItem]  WITH CHECK ADD  CONSTRAINT [FK_xrefVehicleTypeFCPItem_AuditItem] FOREIGN KEY([lkAuditItemId])
REFERENCES [cabs_enf].[lkAuditItem] ([Id])
GO
ALTER TABLE [cabs_enf].[xrefVehicleTypeAuditItem] CHECK CONSTRAINT [FK_xrefVehicleTypeFCPItem_AuditItem]
GO
