USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[Update SignaAge_Temp]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_cmo].[Update SignaAge_Temp]
AS
BEGIN

	declare @VehicleLicenceNumber nvarchar(50)
	declare @RegistrationNumber nvarchar(255)
	declare @updatedVLSRows int	
	declare @ID bigint
	declare @Count bigint = 0
	
    declare IU_NotInSync cursor for
	Select ID,VehicleLicenceNumber,RegistrationNumber from cabs_tds.SignageInstallation 
			Where VehicleLicenceNumber in (Select LicenceNumber from LIcenceMasterVL ) 
			AND RegistrationNumber not in (Select RegistrationNumber from LIcenceMasterVL)
			AND IsActive=1 AND AuthorizedSupplierId=73
      
	open IU_NotInSync
	  fetch next from IU_NotInSync into @ID,@VehicleLicenceNumber, @RegistrationNumber
	while (@@FETCH_STATUS <> -1)	  
	begin	  
			Declare @Reg varchar(50) = (Select top 1 RegistrationNumber from LicenceMasterVL where LicenceNumber=@VehicleLicenceNumber);
			Update cabs_tds.SignageInstallation Set RegistrationNumber=@Reg Where ID=@ID AND IsActive=1 AND AuthorizedSupplierId=73 AND RegistrationNumber=@RegistrationNumber ;
	   
	  set @updatedVLSRows = @@Rowcount
	
	  fetch next from IU_NotInSync into @ID,@VehicleLicenceNumber, @RegistrationNumber
	end
    close IU_NotInSync
    deallocate IU_NotInSync	
   
     	        
END
GO
