USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vFine]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_enf].[vFine]
AS
      select [Id]
      , [Amount]
      , [DatePaid]
      , [DocketNumber]
      , [DriverLicenceNumber]
      , [DueForPayment]
      , [FineAreaId]
      , [FineStatusId]
      , [FineTypeId]
      , [IncidentDate]
      , [InfoLicenceNumber]
      , [IsPaid]
      , [IssueDate]
      , [IssueOfficerName]
      , [RegistrationNumber]
      , [VehicleLicenceNumber]
      , [IssueOfficerId]
      , [InfoRegistrationNumber]
	, [CreatedBy]
	, [CreatedDate]
	, [DriverLicenceId]
      FROM [cabs_enf].[Fines]
GO
