USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[PurgeOldDCSearches]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_cmo].[PurgeOldDCSearches]
AS
BEGIN
    DELETE
	FROM [cabs_dck].[DriverCheckSearchResult]
	WHERE [SearchDate] < DATEADD(day, -28,  GETUTCDATE());

	INSERT INTO [Cabs_Production].[cabs_cmo].[AuditLog]
		([lkAuditLevelId] ,[lkAuditTypeId], [UserName], [TimeStamp], [Text])
		VALUES
		(40, 4, 'system_job', GETDATE(), 'SP cabs_cmo.PurgeOldDCSearches deleted ' + cast (@@ROWCOUNT as varchar(10)) + ' rows.');
END
GO
