USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vCase_TeamUsers]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [cabs_enf].[vCase_TeamUsers]
as
select * from Cabs_Live.dbo.Case_TeamUsers
GO
