USE [cabs_production]
GO
/****** Object:  Table [cabs_cmo].[PersonAudit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cmo].[PersonAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyID] [int] NULL,
	[CountryID] [int] NULL,
	[PPSN] [nvarchar](20) NOT NULL,
	[DataOfBirth] [datetime] NULL,
	[ContactMethodID] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[HomeNumber] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[PostCode] [nvarchar](12) NULL,
	[IrishLanguageAddress] [bit] NULL,
	[PersonID] [int] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[AuditTypeId] [int] NOT NULL,
	[PhotoID] [int] NULL,
	[SignatureID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_cmo].[PersonAudit] ADD  DEFAULT ((29)) FOR [AuditTypeId]
GO
ALTER TABLE [cabs_cmo].[PersonAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo_PersonAudit_ContactMethod] FOREIGN KEY([ContactMethodID])
REFERENCES [cabs_cmo].[ContactMethod] ([ID])
GO
ALTER TABLE [cabs_cmo].[PersonAudit] CHECK CONSTRAINT [FK_cabs_cmo_PersonAudit_ContactMethod]
GO
ALTER TABLE [cabs_cmo].[PersonAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo_PersonAudit_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [cabs_cmo].[PersonAudit] CHECK CONSTRAINT [FK_cabs_cmo_PersonAudit_Country]
GO
ALTER TABLE [cabs_cmo].[PersonAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo_PersonAudit_County] FOREIGN KEY([CountyID])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [cabs_cmo].[PersonAudit] CHECK CONSTRAINT [FK_cabs_cmo_PersonAudit_County]
GO
ALTER TABLE [cabs_cmo].[PersonAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo_PersonAudit_Image] FOREIGN KEY([PhotoID])
REFERENCES [cabs_sk].[Image] ([ID])
GO
ALTER TABLE [cabs_cmo].[PersonAudit] CHECK CONSTRAINT [FK_cabs_cmo_PersonAudit_Image]
GO
ALTER TABLE [cabs_cmo].[PersonAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo_PersonAudit_Person] FOREIGN KEY([PersonID])
REFERENCES [cabs_cmo].[Person] ([ID])
GO
ALTER TABLE [cabs_cmo].[PersonAudit] CHECK CONSTRAINT [FK_cabs_cmo_PersonAudit_Person]
GO
ALTER TABLE [cabs_cmo].[PersonAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo_PersonAudit_Signature] FOREIGN KEY([SignatureID])
REFERENCES [cabs_sk].[Image] ([ID])
GO
ALTER TABLE [cabs_cmo].[PersonAudit] CHECK CONSTRAINT [FK_cabs_cmo_PersonAudit_Signature]
GO
ALTER TABLE [cabs_cmo].[PersonAudit]  WITH CHECK ADD  CONSTRAINT [FK_PersonAudit_TransactionAuditType] FOREIGN KEY([AuditTypeId])
REFERENCES [dbo].[TransactionAuditType] ([TransactionAuditTypeID])
GO
ALTER TABLE [cabs_cmo].[PersonAudit] CHECK CONSTRAINT [FK_PersonAudit_TransactionAuditType]
GO
