USE [cabs_production]
GO
/****** Object:  Table [cabs_spsv].[IndustryUserDriverLicenceHolderMaster_migration]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_spsv].[IndustryUserDriverLicenceHolderMaster_migration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndustryUserFK] [bigint] NOT NULL,
	[LicenceHolderMasterFK] [int] NOT NULL
) ON [PRIMARY]
GO
