USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[VehicleInspectionsDraft]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[VehicleInspectionsDraft](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LicenceNumber] [nvarchar](50) NULL,
	[TestCentreId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
	[InspectorId] [int] NOT NULL,
	[TestStartTime] [datetime] NULL,
	[TestEndTime] [datetime] NULL,
	[TestResultId] [int] NULL,
	[Comment] [nvarchar](2000) NULL,
	[TamperProofPrinted] [bit] NULL,
	[LettersProcessed] [bit] NULL,
	[LettersProcessDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedOn] [datetime] NULL,
	[TPRemoved] [bit] NULL,
	[TPDestroyed] [bit] NULL,
	[TPComment] [nvarchar](500) NULL,
	[TPReasonID] [int] NULL,
	[LateArrivalTime] [datetime] NULL,
	[LateArrivalReasonID] [int] NULL,
	[VehicleMasterDraftID] [int] NOT NULL,
	[InspectionSaveStateID] [int] NULL,
	[AuthToken] [nvarchar](128) NULL,
	[TestResultAdditionalInfoID] [int] NULL,
	[VehicleLicenceCertificatePrinted] [bit] NULL,
	[VehicleLicenceCertificateComment] [nvarchar](256) NULL,
	[LastDraftStepNo] [int] NULL,
 CONSTRAINT [PK_VehicleInspections] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cabs_insp.WorkingCopyVehicleInspections_ID] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [BookingId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [BookingId] ON [cabs_insp].[VehicleInspectionsDraft]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LettersProcessed]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LettersProcessed] ON [cabs_insp].[VehicleInspectionsDraft]
(
	[LettersProcessed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [LicenceNumber]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceNumber] ON [cabs_insp].[VehicleInspectionsDraft]
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_Booking]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_InspectionSaveStates] FOREIGN KEY([InspectionSaveStateID])
REFERENCES [cabs_insp].[InspectionSaveStates] ([Id])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_InspectionSaveStates]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_Inspectors] FOREIGN KEY([InspectorId])
REFERENCES [dbo].[Inspectors] ([InspectorID])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_Inspectors]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_LateArrivalReasons] FOREIGN KEY([LateArrivalReasonID])
REFERENCES [cabs_insp].[LateArrivalReasons] ([Id])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_LateArrivalReasons]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_TamperProofReasons] FOREIGN KEY([TPReasonID])
REFERENCES [dbo].[TamperProofReasons] ([TamperProofReasonID])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_TamperProofReasons]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_TestCentre]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_TestResultAdditionalInfo] FOREIGN KEY([TestResultAdditionalInfoID])
REFERENCES [cabs_insp].[TestResultAdditionalInfo] ([ID])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_TestResultAdditionalInfo]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_TestResults] FOREIGN KEY([TestResultId])
REFERENCES [dbo].[TestResults] ([TestResultID])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_TestResults]
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionsDraft_VehicleMasterDraft] FOREIGN KEY([VehicleMasterDraftID])
REFERENCES [cabs_insp].[VehicleMasterDraft] ([ID])
GO
ALTER TABLE [cabs_insp].[VehicleInspectionsDraft] CHECK CONSTRAINT [FK_VehicleInspectionsDraft_VehicleMasterDraft]
GO
