USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[DefectCategoriesInspectionProcess]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[DefectCategoriesInspectionProcess](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DefectCategoryID] [int] NULL,
	[InspectionProcessID] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_DefectCategoriesInspectionProcess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[DefectCategoriesInspectionProcess]  WITH CHECK ADD  CONSTRAINT [FK_DefectCategoriesInspectionProcess_DefectCategories] FOREIGN KEY([DefectCategoryID])
REFERENCES [dbo].[DefectCategories] ([DefectCategoryID])
GO
ALTER TABLE [cabs_insp].[DefectCategoriesInspectionProcess] CHECK CONSTRAINT [FK_DefectCategoriesInspectionProcess_DefectCategories]
GO
ALTER TABLE [cabs_insp].[DefectCategoriesInspectionProcess]  WITH CHECK ADD  CONSTRAINT [FK_DefectCategoriesInspectionProcess_InspectionProcess] FOREIGN KEY([InspectionProcessID])
REFERENCES [dbo].[InspectionProcess] ([InspectionProcessId])
GO
ALTER TABLE [cabs_insp].[DefectCategoriesInspectionProcess] CHECK CONSTRAINT [FK_DefectCategoriesInspectionProcess_InspectionProcess]
GO
