USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[ProcessReferenceNumber]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--stored procedure for processing reference number
CREATE PROCEDURE [cabs_sk].[ProcessReferenceNumber]
	@Metadata [cabs_sk].[ReferenceNumberMetadata] READONLY
AS
BEGIN
	DECLARE @id int=(SELECT TOP 1 [ID] FROM @Metadata);
	DECLARE @referenceNumber int=(SELECT TOP 1 [ReferenceNumber] FROM @Metadata);
	IF(@referenceNumber<=0)
	BEGIN
		DECLARE @tableName nvarchar(100)=(SELECT TOP 1 TableName FROM @Metadata);
		DECLARE @sqlStr nvarchar(MAX);
		
		SET @sqlStr=N'UPDATE ' + @tableName + N'Sequence SET ReferenceNumber=ReferenceNumber+1';
		EXEC sp_executesql @sqlStr
		
		SET @sqlStr=N'SELECT TOP 1 @referenceNumber=ReferenceNumber FROM ' + @tableName + N'Sequence';
		EXEC sp_executesql @sqlStr
						  ,N'@referenceNumber int OUTPUT'
						  ,@referenceNumber=@referenceNumber OUTPUT

		SET @sqlStr=N'UPDATE ' + @tableName + N' SET [ReferenceNumber]=@referenceNumber WHERE [ID]=@ID'
		EXEC sp_executesql @sqlStr
						  ,N'@ID INT, @ReferenceNumber int'
						  ,@ID=@id
						  ,@ReferenceNumber=@referenceNumber
	END
END

GO
