USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[CandidateTestQuestionAnswer]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[CandidateTestQuestionAnswer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[AnswerID] [int] NULL,
	[CandidateAnswer] [bit] NULL,
	[IsCorrect] [bit] NULL,
	[CandidateTestQuestionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_cabs_sk_CandidateTestQuestionAnswer_CandidateTestQuestionID]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_cabs_sk_CandidateTestQuestionAnswer_CandidateTestQuestionID] ON [cabs_sk].[CandidateTestQuestionAnswer]
(
	[CandidateTestQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestQuestionAnswer_Answer] FOREIGN KEY([AnswerID])
REFERENCES [cabs_sk].[Answer] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestionAnswer] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestQuestionAnswer_Answer]
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestQuestionAnswer_CandidateTestQuestion] FOREIGN KEY([CandidateTestQuestionID])
REFERENCES [cabs_sk].[CandidateTestQuestion] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestQuestionAnswer] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestQuestionAnswer_CandidateTestQuestion]
GO
