USE [cabs_production]
GO
/****** Object:  Table [cabs_tds].[SignageInstallation]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_tds].[SignageInstallation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorizedSupplierID] [int] NOT NULL,
	[VehicleLicenceNumber] [varchar](50) NOT NULL,
	[RegistrationNumber] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_SignageInstallation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SignageInstallation_Active]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_SignageInstallation_Active] ON [cabs_tds].[SignageInstallation]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SignageInstallation_Date]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_SignageInstallation_Date] ON [cabs_tds].[SignageInstallation]
(
	[CreatedOn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SignageInstallation_VLN]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_SignageInstallation_VLN] ON [cabs_tds].[SignageInstallation]
(
	[VehicleLicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SignageInstallation_VRN]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_SignageInstallation_VRN] ON [cabs_tds].[SignageInstallation]
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_tds].[SignageInstallation]  WITH CHECK ADD  CONSTRAINT [FK_SignageInstallation_AuthorizedSupplier] FOREIGN KEY([AuthorizedSupplierID])
REFERENCES [cabs_tds].[AuthorizedSupplier] ([Id])
GO
ALTER TABLE [cabs_tds].[SignageInstallation] CHECK CONSTRAINT [FK_SignageInstallation_AuthorizedSupplier]
GO
ALTER TABLE [cabs_tds].[SignageInstallation]  WITH CHECK ADD  CONSTRAINT [FK_SignageInstallation_LicenceMasterVL] FOREIGN KEY([VehicleLicenceNumber])
REFERENCES [dbo].[LicenceMasterVL] ([LicenceNumber])
GO
ALTER TABLE [cabs_tds].[SignageInstallation] CHECK CONSTRAINT [FK_SignageInstallation_LicenceMasterVL]
GO
