USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[DefectGroupsAudit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[DefectGroupsAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DefectGroupID] [int] NULL,
	[DefectCategoryID] [int] NULL,
	[DefectGroup] [nvarchar](100) NULL,
	[Active] [bit] NULL,
	[Manual] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[SortOrder] [int] NULL,
	[HistoryId] [int] NULL,
 CONSTRAINT [PK_DefectGroupsAudit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[DefectGroupsAudit]  WITH CHECK ADD  CONSTRAINT [FK_DefectGroupsAudit_DefectCategoriesAudit] FOREIGN KEY([HistoryId])
REFERENCES [cabs_insp].[DefectCategoriesAudit] ([ID])
GO
ALTER TABLE [cabs_insp].[DefectGroupsAudit] CHECK CONSTRAINT [FK_DefectGroupsAudit_DefectCategoriesAudit]
GO
