USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBooking_SelectByBookingIdAndConfirmationNumber]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cabs_sk].[SkillsBooking_SelectByBookingIdAndConfirmationNumber]
(
@PPSN nvarchar(50), 
@ConfirmationNumber nvarchar(50)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @BookingId int;	

	BEGIN TRY
	if ISNUMERIC(@ConfirmationNumber) <> 0
		set @BookingId = Convert(int, @ConfirmationNumber);
	ELSE
		set @BookingId = -1;
	END TRY
	BEGIN CATCH
		set @BookingId = -1;
	END CATCH

		SELECT	
			b.ID,
		    b.ModifiedBy,
		    b.ModifiedOn,
		    b.CreatedBy,
		    b.CreatedOn,
			tc.TestCentreName,
			bs.BookingStatusName,
			bs.BookingStatusID,
			b.StartDateTime,
			b.EndDateTime,
			b.CreatedBy,
			b.CreatedOn,
			b.TestID,
			person.PPSN,
			cand.ID as CandidateID,
			test.Name as TestType,
			person.FirstName + ' ' + person.LastName as CandidateName,
			b.TestCentreID,
			lane.TestCentreLaneName,
			lane.TestCentreLaneId,
			b.BookingCancellationReasonId,
			reas.BookingCancellationReason, 
			cty.CountyId as AreaID,
			cty.CountyName as AreaName,
			bp.PaymentID,
			pm.PaymentMethodId,
			pm.PaymentMethodName,
			pvl.Amount
			
						
	FROM    cabs_sk.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.BookingStatus bs ON b.StatusID = bs.BookingStatusID
			INNER JOIN cabs_sk.Candidate cand ON b.CandidateID = cand.ID
			INNER JOIN cabs_cmo.Person person ON cand.PersonID = person.ID
			INNER JOIN cabs_sk.Test test ON b.TestID = test.ID
			LEFT OUTER JOIN dbo.TestCentreLanes lane on b.TestCentreLaneID = lane.TestCentreLaneId
			LEFT OUTER JOIN dbo.BookingCancellationReason reas on b.BookingCancellationReasonId = reas.BookingCancellationReasonId
			LEFT OUTER JOIN dbo.County cty on b.AreaID = cty.CountyId
			left join cabs_sk.BookingPayment bp on b.ID = bp.BookingID
			left join dbo.PaymentVL pvl on bp.PaymentID = pvl.PaymentId
			left join dbo.PaymentMethod pm on pm.PaymentMethodId =pvl.PaymentMethodId 

	WHERE	
	 (
		 ((@BookingId = -1 AND @ConfirmationNumber IS NULL OR  @ConfirmationNumber = '')  AND person.PPSN = @PPSN)
			 OR 
		 ((b.ID = @BookingId OR b.ConfirmationNumber = @ConfirmationNumber) AND person.PPSN = @PPSN)
			OR
		 ( (@PPSN IS NULL OR @PPSN = '') AND (b.ID = @BookingId OR b.ConfirmationNumber = @ConfirmationNumber))
	 )
	 AND bs.BookingStatusID IN (2,3)
	
	


END




GO
