USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[CandidateTest]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[CandidateTest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[BookingID] [int] NULL,
	[StatusID] [int] NULL,
	[DetailsConfirmation] [bit] NULL,
	[NonDisclosureAgreement] [bit] NULL,
	[TutorialEnded] [bit] NULL,
	[CurrentCandidateTestQuestionID] [int] NULL,
	[MapBookletReceived] [bit] NULL,
	[IntroductionStartedDateTime] [datetime] NULL,
	[IntroductionEndedDateTime] [datetime] NULL,
	[IntroductionLength] [int] NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[IDTypeID] [int] NULL,
	[IDNumber] [nvarchar](50) NULL,
	[IDTranslationProvided] [bit] NULL,
	[ResultID] [int] NULL,
	[TestID] [int] NOT NULL,
	[TestVersionID] [uniqueidentifier] NOT NULL,
	[IDNumber2] [nvarchar](50) NULL,
	[CertificationNumber] [nvarchar](50) NULL,
	[PhotoNotUploadedComment] [nvarchar](max) NULL,
	[SignatureNotUploadedComment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_cabs_sk_CandidateTest_BookingID]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_cabs_sk_CandidateTest_BookingID] ON [cabs_sk].[CandidateTest]
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[CandidateTest] ADD  DEFAULT ((0)) FOR [TestID]
GO
ALTER TABLE [cabs_sk].[CandidateTest] ADD  DEFAULT (newid()) FOR [TestVersionID]
GO
ALTER TABLE [cabs_sk].[CandidateTest]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTest_Booking] FOREIGN KEY([BookingID])
REFERENCES [cabs_sk].[Booking] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTest] CHECK CONSTRAINT [FK_cabs_sk_CandidateTest_Booking]
GO
ALTER TABLE [cabs_sk].[CandidateTest]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTest_CandidateTestStatus] FOREIGN KEY([StatusID])
REFERENCES [cabs_sk].[CandidateTestStatus] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTest] CHECK CONSTRAINT [FK_cabs_sk_CandidateTest_CandidateTestStatus]
GO
ALTER TABLE [cabs_sk].[CandidateTest]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTest_IDType] FOREIGN KEY([IDTypeID])
REFERENCES [cabs_sk].[IDType] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTest] CHECK CONSTRAINT [FK_cabs_sk_CandidateTest_IDType]
GO
ALTER TABLE [cabs_sk].[CandidateTest]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTest_Test] FOREIGN KEY([TestID])
REFERENCES [cabs_sk].[Test] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTest] CHECK CONSTRAINT [FK_cabs_sk_CandidateTest_Test]
GO
ALTER TABLE [cabs_sk].[CandidateTest]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTest_TestResult] FOREIGN KEY([ResultID])
REFERENCES [cabs_sk].[TestResult] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTest] CHECK CONSTRAINT [FK_cabs_sk_CandidateTest_TestResult]
GO
