USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBookingAudit_SelectByBookingId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cabs_sk].[SkillsBookingAudit_SelectByBookingId]
(
@BookingId int
)
AS
BEGIN
	SET NOCOUNT ON;

SELECT		ba.ID,
			ba.BookingID,
			ba.TestCentreID,
			tc.TestCentreName,
			ba.StatusId,
			bs.BookingStatusName,
			bs.BookingStatusID,
			person.PPSN,
			ba.CreatedBy,
			ba.CreatedOn,
			ba.ModifiedBy,
			ba.ModifiedOn,
			booking.StartDateTime,
			test.Name as TestType,
			ba.TestCentreID
			
	FROM	[cabs_sk].BookingAudit ba
			INNER JOIN [cabs_sk].Booking booking ON ba.BookingID = booking.ID
			INNER JOIN dbo.TestCentre tc ON ba.TestCentreID = tc.TestCentreId
			INNER JOIN [dbo].BookingStatus bs ON ba.StatusID = bs.BookingStatusID
			INNER JOIN [cabs_sk].Candidate candidate ON ba.CandidateID = candidate.ID
			INNER JOIN [cabs_cmo].Person person ON candidate.PersonID = person.ID
			INNER JOIN [cabs_sk].Test test ON ba.TestID = test.ID
			
	WHERE	ba.BookingID = @BookingId and booking.StatusId > 1 order by ba.ID desc
	
END

GO
