USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[TestFee]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[TestFee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FeeID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[TestFee]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_TestFee_Fee] FOREIGN KEY([FeeID])
REFERENCES [dbo].[Fee] ([FeeId])
GO
ALTER TABLE [cabs_sk].[TestFee] CHECK CONSTRAINT [FK_cabs_sk_TestFee_Fee]
GO
ALTER TABLE [cabs_sk].[TestFee]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_TestFee_Test] FOREIGN KEY([TestID])
REFERENCES [cabs_sk].[Test] ([ID])
GO
ALTER TABLE [cabs_sk].[TestFee] CHECK CONSTRAINT [FK_cabs_sk_TestFee_Test]
GO
