USE [cabs_production]
GO
/****** Object:  Table [cabs_log].[InternalLog]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_log].[InternalLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Application] [varchar](32) NOT NULL,
	[Module] [varchar](128) NOT NULL,
	[Token] [nvarchar](128) NULL,
	[RequestId] [uniqueidentifier] NULL,
	[LogLevel] [int] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[UserName] [varchar](128) NULL,
	[MethodName] [varchar](64) NULL,
	[Message] [text] NULL,
 CONSTRAINT [PK_InternalLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
