USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[PaymentItemVL_SelectByBookingIdAndRefundReasonId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Damien Dennehy
-- Create date: 08-Apr-2011
-- Description:	Find all refundable fees for a booking
-- =============================================
Create PROCEDURE [cabs_sk].[PaymentItemVL_SelectByBookingIdAndRefundReasonId]
(
@BookingId int,
@RefundReasonId int
)

AS
BEGIN

SET NOCOUNT OFF;

-----------------------------
-----------------------------
-------Declarations----------
-----------------------------
-----------------------------
DECLARE 
		@PaymentItemId int
		
DECLARE @BookingIds TABLE
(
	BookingId int
)
DECLARE @PaymentItemIds TABLE
(
	PaymentItemId int
)

-----------------------------
-----------------------------
------Set Parameters---------
-----------------------------
-----------------------------

--Set basic parameters
--If no parent id found, default to the current booking id


BEGIN

	INSERT INTO @PaymentItemIds
	(
		PaymentItemId
	)
	SELECT PaymentItemId 
	FROM dbo.PaymentItemVL
	WHERE PaymentStatusId = 2 --Only paid payments can be refunded
	AND PaymentId IN --Only payments related to current booking
	(
		SELECT PaymentId 
		FROM cabs_sk.BookingPayment
		WHERE BookingId = @BookingId
		
	)
	AND FeeId IN --Only fee types related to current bookings and reason
	(
		SELECT FeeId 
		FROM dbo.PaymentItemVLRefundableFee
		WHERE RefundReasonId = @RefundReasonId
	)
END

--Now that the paymentids are collected, a standard query will bring back all required information

    SELECT	PVL.PaymentItemId, 
			PVL.Amount, 
			PVL.CreatedBy, PVL.CreatedDate,
			PVL.ModifiedBy, PVL.ModifiedDate,
			PVL.Comments, 
			
			P.PaymentId as P_PaymentId, P.LicenceNumber as P_LicenceNumber, 
			P.PaymentReference as P_PaymentReference, P.Amount as P_Amount,
			P.CustomerName as P_CustomerName, P.Comment as P_Comment,
			P.CreatedBy as P_CreatedBy, P.CreatedDate as P_CreatedDate, 
			P.ModifiedBy as P_ModifiedBy, P.ModifiedDate as P_ModifiedDate,
				
			PM.PaymentMethodId as PM_PaymentMethodId, 
			PM.PaymentMethodName as PM_PaymentMethodName,
			ST.ServiceTypeId as ST_ServiceTypeId, 
			ST.ServiceTypeName as ST_ServiceTypeName,
				
			F.FeeId as F_FeeId, F.FeeAmount as F_FeeAmount, F.FeeName as F_FeeName,
       		PIS.PaymentStatusId as PIS_PaymentStatusId, 
			PIS.PaymentStatusName as PIS_PaymentStatusName
			
	FROM dbo.PaymentItemVL PVL
	  
	INNER JOIN dbo.PaymentVL P on PVL.PaymentId = P.PaymentId 
	INNER JOIN dbo.PaymentMethod PM on PM.PaymentMethodId = P.PaymentMethodId
	INNER JOIN dbo.ServiceTypeVL ST on ST.ServiceTypeId = P.ServiceTypeId
	INNER JOIN dbo.Fee F on F.FeeId = PVL.FeeId
	INNER JOIN dbo.PaymentStatus PIS on PIS.PaymentStatusId = PVL.PaymentStatusId
	
	WHERE PVL.PaymentItemId IN
	(
		SELECT PaymentItemId
		FROM @PaymentItemIds
	)
	
END

SET NOCOUNT OFF;


GO
