USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[ImportedQuestion]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[ImportedQuestion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[QuestionText] [nvarchar](max) NULL,
	[ReferenceNumber] [nvarchar](50) NULL,
	[ChapterID] [int] NULL,
	[ChapterName] [nvarchar](50) NULL,
	[ModuleID] [int] NULL,
	[ModuleName] [nvarchar](50) NULL,
	[AreaID] [int] NULL,
	[AreaName] [nvarchar](50) NULL,
	[ImportedQuestionPackID] [int] NOT NULL,
	[QuestionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[ImportedQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_ImportedQuestion_Chapter] FOREIGN KEY([ChapterID])
REFERENCES [cabs_sk].[Chapter] ([ID])
GO
ALTER TABLE [cabs_sk].[ImportedQuestion] CHECK CONSTRAINT [FK_cabs_sk_ImportedQuestion_Chapter]
GO
ALTER TABLE [cabs_sk].[ImportedQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_ImportedQuestion_County] FOREIGN KEY([AreaID])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [cabs_sk].[ImportedQuestion] CHECK CONSTRAINT [FK_cabs_sk_ImportedQuestion_County]
GO
ALTER TABLE [cabs_sk].[ImportedQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_ImportedQuestion_ImportedQuestionPack] FOREIGN KEY([ImportedQuestionPackID])
REFERENCES [cabs_sk].[ImportedQuestionPack] ([ID])
GO
ALTER TABLE [cabs_sk].[ImportedQuestion] CHECK CONSTRAINT [FK_cabs_sk_ImportedQuestion_ImportedQuestionPack]
GO
ALTER TABLE [cabs_sk].[ImportedQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_ImportedQuestion_Module] FOREIGN KEY([ModuleID])
REFERENCES [cabs_sk].[Module] ([ID])
GO
ALTER TABLE [cabs_sk].[ImportedQuestion] CHECK CONSTRAINT [FK_cabs_sk_ImportedQuestion_Module]
GO
ALTER TABLE [cabs_sk].[ImportedQuestion]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_ImportedQuestion_Question] FOREIGN KEY([QuestionID])
REFERENCES [cabs_sk].[Question] ([ID])
GO
ALTER TABLE [cabs_sk].[ImportedQuestion] CHECK CONSTRAINT [FK_cabs_sk_ImportedQuestion_Question]
GO
