USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBooking_SelectBookingsCountInTimeframe]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Stored Procedure

-- =============================================
-- Author:		<Author, Yuliya Khadasevich>
-- Create date: <Create Date, 14-Feb-2014>
-- Description:	<Description, Select skills bookings count in the time frame. 
--				This will >
-- =============================================
CREATE PROCEDURE [cabs_sk].[SkillsBooking_SelectBookingsCountInTimeframe]
(
@testCentreLaneId int,
@startTime DateTime,
@endTime DateTime
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT		COUNT(b.ID) as [Bookings Count]
	FROM	cabs_sk.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.TestCentreLanes tcl ON b.TestCentreLaneId = tcl.TestCentreLaneId
			INNER JOIN dbo.BookingStatus bs ON b.StatusId = bs.BookingStatusId
			
	WHERE	b.TestCentreLaneId = @testCentreLaneId
	AND		b.StatusID <> 3 --completed
	AND		b.StatusId NOT IN
			(
				SELECT BookingStatusId FROM dbo.BookingStatus
				WHERE VoidedBooking = 1
			)
	AND		(
				(b.StartDateTime >= @startTime AND b.StartDateTime < @endTime)
			OR
				(b.EndDateTime > @startTime	AND	b.EndDateTime <= @endTime)
			OR
				(b.StartDateTime <= @startTime AND b.StartDateTime = @endTime)   
			)
END

GO
