USE [cabs_production]
GO
/****** Object:  Table [cabs_cmo].[UserDetails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cmo].[UserDetails](
	[UserId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](128) NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_cmo].[UserDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_UserDetails_aspnet_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
ALTER TABLE [cabs_cmo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_aspnet_Users]
GO
