USE [cabs_production]
GO
/****** Object:  Table [cabs_sms].[IncomingMessage]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sms].[IncomingMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentTypeId] [int] NOT NULL,
	[ProcessResultTypeId] [int] NULL,
	[ReceivedDate] [datetime] NOT NULL,
	[ProcessedDate] [datetime] NULL,
	[IndustryUserId] [bigint] NULL,
	[MessageText] [varchar](250) NOT NULL,
	[MobilePhoneNumber] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncomingMessage_1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_IncomingMessage_1] ON [cabs_sms].[IncomingMessage]
(
	[IndustryUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_sms].[IncomingMessage]  WITH CHECK ADD  CONSTRAINT [FK_IncomingMessage_IncomingMessageContentType] FOREIGN KEY([ContentTypeId])
REFERENCES [cabs_sms].[IncomingMessageContentType] ([Id])
GO
ALTER TABLE [cabs_sms].[IncomingMessage] CHECK CONSTRAINT [FK_IncomingMessage_IncomingMessageContentType]
GO
ALTER TABLE [cabs_sms].[IncomingMessage]  WITH CHECK ADD  CONSTRAINT [FK_IncomingMessage_IncomingMessageProcessResultType] FOREIGN KEY([ProcessResultTypeId])
REFERENCES [cabs_sms].[IncomingMessageProcessResultType] ([Id])
GO
ALTER TABLE [cabs_sms].[IncomingMessage] CHECK CONSTRAINT [FK_IncomingMessage_IncomingMessageProcessResultType]
GO
ALTER TABLE [cabs_sms].[IncomingMessage]  WITH CHECK ADD  CONSTRAINT [FK_IncomingMessage_IndustryUser] FOREIGN KEY([IndustryUserId])
REFERENCES [cabs_cmo].[IndustryUser] ([ID])
GO
ALTER TABLE [cabs_sms].[IncomingMessage] CHECK CONSTRAINT [FK_IncomingMessage_IndustryUser]
GO
