USE [cabs_production]
GO
/****** Object:  Table [cabs_sms].[SmsServiceRegistration]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sms].[SmsServiceRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndustryUserId] [bigint] NOT NULL,
	[IsRegistered] [bit] NOT NULL,
	[MobilePhoneNumber] [varchar](20) NOT NULL,
	[ConfirmationCode] [varchar](20) NOT NULL,
	[RegistrationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sms].[SmsServiceRegistration]  WITH CHECK ADD FOREIGN KEY([IndustryUserId])
REFERENCES [cabs_cmo].[IndustryUser] ([ID])
GO
