USE [cabs_production]
GO
/****** Object:  View [cabs_cmo].[vCaseResolution]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [cabs_cmo].[vCaseResolution]
AS
SELECT * FROM [Cabs_Live].[dbo].[Case_Resolution]


GO
