USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[FinesHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[FinesHistory](
	[Id] [int] NOT NULL,
	[Amount] [decimal](18, 0) NULL,
	[Comments] [nvarchar](500) NULL,
	[CourtDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedDate] [datetime] NULL,
	[DatePaid] [datetime] NULL,
	[DocketNumber] [nvarchar](20) NULL,
	[DriverLicenceNumber] [nvarchar](20) NULL,
	[DueForPayment] [datetime] NULL,
	[FineAreaId] [int] NULL,
	[FineCourtOutcomeId] [int] NULL,
	[FineStatusId] [int] NOT NULL,
	[FineTypeId] [int] NOT NULL,
	[IncidentDate] [datetime] NULL,
	[InfoLicenceNumber] [nvarchar](50) NULL,
	[IsPaid] [bit] NOT NULL,
	[IssueDate] [datetime] NULL,
	[IssueOfficerName] [nvarchar](128) NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[OriginalAmount] [decimal](18, 0) NULL,
	[RegistrationNumber] [nvarchar](50) NULL,
	[SummonsDate] [datetime] NULL,
	[VehicleLicenceNumber] [nvarchar](50) NULL,
	[IssueOfficerId] [uniqueidentifier] NOT NULL,
	[FineClosureTypeId] [int] NULL,
	[InfoRegistrationNumber] [nvarchar](max) NULL,
	[DriverLicenceId] [nvarchar](max) NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [ix_FinesHistory]    Script Date: 14/04/2022 13:21:33 ******/
CREATE CLUSTERED INDEX [ix_FinesHistory] ON [cabs_enf].[FinesHistory]
(
	[ValidTo] ASC,
	[ValidFrom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
