USE [cabs_production]
GO
/****** Object:  View [cabs_cmo].[vActiveVLLicence]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [cabs_cmo].[vActiveVLLicence]
AS
SELECT     l.LicenceNumber, m.LicenceStateMaster, l.RegistrationNumber, lh.Ppsn, iu.ASPUserId
FROM         dbo.LicenceMasterVL AS l INNER JOIN
                      dbo.LicenceHolderMaster AS lh ON l.LicenceHolderId = lh.LicenceHolderId INNER JOIN
                      dbo.LicenceStateMaster AS m ON l.LicenceStateMasterId = m.LicenceStateMasterId INNER JOIN
						[cabs_spsv].[IndustryUserLicenceHolderMaster] on [IndustryUserLicenceHolderMaster].[LicenceHolderMasterFK]=lh.LicenceHolderId
						inner join cabs_cmo.IndustryUser AS iu ON iu.ID = [IndustryUserLicenceHolderMaster].IndustryUserFK
WHERE     (l.LicenceStateMasterId = 4) --AND (lh.Ppsn NOT IN ('123456789A', '00000000'))  Ticket # LGU-692-57394




GO
