USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[TestModule]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[TestModule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Order] [int] NOT NULL,
	[ModuleID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[TestModule]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_TestModule_Module] FOREIGN KEY([ModuleID])
REFERENCES [cabs_sk].[Module] ([ID])
GO
ALTER TABLE [cabs_sk].[TestModule] CHECK CONSTRAINT [FK_cabs_sk_TestModule_Module]
GO
ALTER TABLE [cabs_sk].[TestModule]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_TestModule_Test] FOREIGN KEY([TestID])
REFERENCES [cabs_sk].[Test] ([ID])
GO
ALTER TABLE [cabs_sk].[TestModule] CHECK CONSTRAINT [FK_cabs_sk_TestModule_Test]
GO
