USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[SurveyQuestionAnswer]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[SurveyQuestionAnswer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[SurveyQuestionID] [int] NOT NULL,
	[Order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[SurveyQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_SurveyQuestionAnswer_SurveyQuestion] FOREIGN KEY([SurveyQuestionID])
REFERENCES [cabs_sk].[SurveyQuestion] ([ID])
GO
ALTER TABLE [cabs_sk].[SurveyQuestionAnswer] CHECK CONSTRAINT [FK_cabs_sk_SurveyQuestionAnswer_SurveyQuestion]
GO
