USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [cabs_sk].[SplitIntoDateIntervals]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  FUNCTION [cabs_sk].[SplitIntoDateIntervals](@DateFrom datetime, @DateTo datetime, @interval int)
RETURNS @tbl table ( startperiod datetime, endperiod datetime, differenceValue int)
AS
BEGIN	
	declare @currentValue datetime;
	declare @nextValue datetime;

	SET @currentValue = @DateFrom;

	WHILE @currentValue<@DateTo
	BEGIN
	SET @nextValue = dateadd(mi, @interval, @currentValue)
	INSERT INTO @tbl SELECT @currentValue, @nextValue,  DATEDIFF(minute, CAST(STR(DATEPART(year, @nextValue))+'-'+ STR(DATEPART(month, @nextValue)) +'-'+ STR(DATEPART(day, @nextValue)) AS DATETIME), @nextValue); ;
	SET @currentValue = dateadd(mi, @interval, @currentValue)
	END
	RETURN
END


GO
