USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[ReSendPendingCaseEmail]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_cmo].[ReSendPendingCaseEmail]
AS
BEGIN

	declare @mailitem_id int
	DECLARE @to        varchar(max)	
	DECLARE @title    nvarchar(255)
	DECLARE @msg    nvarchar(max)
	declare @Count bigint = 0
	
    declare IU_NotInSync cursor for

		with t as (
						SELECT      Case_History.caseid,
						  replace(
						  replace(
						 replace(
						 replace(
						replace(
						replace(Case_History.newValue,'To:','''')
								, 'Cc:','')
						, 'Bcc:','')
						, ';','')
						, 'B','')
						, '''','') as Reciptient,   
												 bodyMessage=(Select top 1 replace(cast(c.newValue as varchar(max)),'The following email has been sent.' ,'') from 
														cabs_live.dbo.Case_History c
											where c.caseid = Case_History.caseid and c.field_name = 'Note Added' and c.changeDateTime BETWEEN '11/06/2013' AND '2013-11-13 10:00'
											and c.newValue like '%The following email has been sent.%'
											 ),
											 'Taxi Regulator response in relation to Case CA0'+ +CONVERT(varchar, Case_History.caseid) as Subject
						FROM            cabs_live.dbo.Case_History INNER JOIN   
												 cabs_live.dbo.vw_aspnet_Users AS v ON Case_History.createdBy = v.UserId
						WHERE        (Case_History.field_name = 'Reply Email Sent') AND (Case_History.changeDateTime BETWEEN '11/06/2013' AND '2013-11-13 10:00')
						)  Select caseid,LTRIM(RTRIM(Reciptient)) as Reciptient ,bodyMessage,Subject from t  order by caseid asc;
      
	open IU_NotInSync
	  fetch next from IU_NotInSync into @mailitem_id, @to, @msg,@title
	while (@@FETCH_STATUS <> -1)	  
	begin	  
				EXEC msdb.dbo.sp_send_dbmail
				@profile_name='cabs',
				@recipients = @to,			
				@body = @msg,
				@subject = @title,
				@body_format = 'HTML';			
			

		  INSERT INTO [Cabs_Production].[cabs_cmo].[AuditLog]
			   ([lkAuditLevelId] ,[lkAuditTypeId], [UserName], [TimeStamp], [Text])
		  VALUES
			   (40, 4, 'system_job', GETDATE(), 'Re-Send Case EMail to : ' +@to+' caseID is :' + cast (@mailitem_id as varchar(10))+'');
		  set @Count = @Count + 1	
     	
	  fetch next from IU_NotInSync into @mailitem_id, @to, @msg,@title
	end
    close IU_NotInSync
    deallocate IU_NotInSync	
    
    INSERT INTO [Cabs_Production].[cabs_cmo].[AuditLog]
	   ([lkAuditLevelId] ,[lkAuditTypeId], [UserName], [TimeStamp], [Text])
    VALUES
	   (40, 4, 'system_job', GETDATE(), 'SP Re-Send Case EMail total: ' + cast (@Count as varchar(10)));
			   	        
END
GO
