USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[FineClosureType]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[FineClosureType](
	[FineClosureTypeId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[FineClosureTypeDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_FineClosureType] PRIMARY KEY CLUSTERED 
(
	[FineClosureTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[FineClosureType] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
