USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[PrintRequestAudit]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_sk].[PrintRequestAudit]
	@TransactionUniqueKey uniqueidentifier,
	@TransactionAuditTypeID int,
	@HistoryChangeTypeID int,	
	@AuditDateTime datetime,
	@LicenceHolderId int,
	@LicenceNumber nvarchar(50),
	@VehicleId int,
	@FieldName nvarchar(50),
	@OldValue nvarchar(max),
	@NewValue nvarchar(max),
	@CreatedBy varchar(20),
	@CreatedDate datetime,
	@PrintRequestReasonId int,
	@CardRequestTypeId int
AS

BEGIN

IF @PrintRequestReasonId IS NOT NULL
	SET @NewValue = (SELECT TOP 1 [PrintRequestReasonDescription] FROM [cabs_live].[dbo].[PrintRequestReason] WHERE [PrintRequestReasonId]=@PrintRequestReasonId)
ELSE 
IF @CardRequestTypeId IS NOT NULL
	SET @NewValue = (SELECT TOP 1 [CardRequestTypeDescription] FROM [cabs_live].[dbo].[CardRequestType] WHERE [CardRequestTypeId]=@CardRequestTypeId)

INSERT INTO [cabs_live].[dbo].[TransactionAuditLog] 
(TransactionUniqueKey,TransactionAuditTypeID,HistoryChangeTypeID,AuditDateTime,
LicenceHolderID,LicenceNumber,VehicleID,FieldName,OldValue,NewValue,CreatedBy,CreatedDate) 

VALUES (@TransactionUniqueKey,@TransactionAuditTypeID,@HistoryChangeTypeID,@AuditDateTime,
@LicenceHolderID,@LicenceNumber,@VehicleID,@FieldName,@OldValue,@NewValue,@CreatedBy,@CreatedDate)

END
GO
