USE [cabs_production]
GO
/****** Object:  Table [cabs_tds].[ImportSignage]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_tds].[ImportSignage](
	[Licence No] [nvarchar](255) NULL,
	[Reg No] [nvarchar](255) NULL,
	[Date ] [datetime] NULL,
	[Supplier] [nvarchar](255) NULL
) ON [PRIMARY]
GO
