USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[GetAvailableSlots]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cabs_sk].[GetAvailableSlots](@TestCentreId int, @DateFrom datetime, @DateTo datetime, @duration int)
AS
BEGIN
	select AVS.*, TCL.TestCentreLaneName
	from
	 cabs_sk.GetAvailableTimeSlots(@TestCentreId, @DateFrom, @DateTo, @duration) as AVS left join
	 dbo.TestCentreLanes as TCL
	 ON AVS.TestCentreLaneId = TCL.TestCentreLaneId
END

GO
