USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[UnregisterIndustryUser]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_cmo].[UnregisterIndustryUser]
@email  nvarchar(50)
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
	   declare @UserID uniqueidentifier
	   declare @IndustryID bigint
	    
	    select @UserID = aspuserid, @IndustryID = ID
	      from cabs_cmo.IndustryUser
	     where Email = @email
	     
	    update aspnet_users set username=username+'1', loweredusername=loweredusername+'1' where userid=@UserID
	    
		UPDATE cabs_cmo.IndustryUser
		   SET Registered = 0, email=email+'1' 
		 WHERE aspuserid = @UserID
		
		DELETE FROM Dbo.aspnet_Membership WHERE UserId = @UserID
		
		-- remove data
		delete from cabs_rta.rentalagreement where IndustryUserID=@IndustryID
		delete from cabs_dvl.vehicledriver where IndustryUserID=@IndustryID
		
		 PRINT 'Commit'
		 COMMIT
	 END TRY
	 BEGIN CATCH
		 PRINT 'Rollback'
		 ROLLBACK
	 END CATCH
END
GO
