USE [cabs_production]
GO
/****** Object:  Table [cabs_dck].[DriverCheckSearchResult]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_dck].[DriverCheckSearchResult](
	[SearchId] [int] IDENTITY(1,1) NOT NULL,
	[Lat] [decimal](10, 7) NULL,
	[Lng] [decimal](10, 7) NULL,
	[ExternalUserId] [varchar](100) NULL,
	[IndustryUserId] [int] NULL,
	[DriverName] [varchar](101) NULL,
	[VehicleMake] [varchar](50) NULL,
	[VehicleModel] [varchar](50) NULL,
	[VehicleColor] [varchar](50) NULL,
	[VehicleLicenceExpiryDate] [datetime] NULL,
	[VehicleRegistrationNumber] [varchar](50) NULL,
	[DriverImage] [image] NULL,
	[Area] [varchar](50) NULL,
	[LicenceExpirydate] [datetime] NULL,
	[DriverLicenceNumber] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[SearchDate] [datetime] NULL,
	[VehicleLicenceNumber] [varchar](50) NULL,
 CONSTRAINT [PK_DriverCheckSearchResult] PRIMARY KEY CLUSTERED 
(
	[SearchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
