USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[Audit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[Audit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[EnforcementOfficerUId] [uniqueidentifier] NOT NULL,
	[DriverLicenceNumber] [varchar](10) NULL,
	[DispatchOperatorUId] [uniqueidentifier] NULL,
	[Type] [int] NOT NULL,
	[GPS_Lon] [float] NULL,
	[GPS_Lat] [float] NULL,
	[CountyId] [int] NULL,
	[Street] [nvarchar](max) NULL,
	[VehicleRegistrationNumber] [varchar](10) NULL,
	[VehicleLicenceNumber] [varchar](10) NULL,
	[VehicleTypeId] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[IsSeized] [bit] NULL,
	[SeizureReason] [nvarchar](max) NULL,
	[IsSuitability] [bit] NULL,
	[IsRoadworthiness] [bit] NULL,
 CONSTRAINT [PK_Audit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[Audit]  WITH CHECK ADD  CONSTRAINT [FK_Audit_lkAuditType] FOREIGN KEY([Type])
REFERENCES [cabs_enf].[lkAuditType] ([Id])
GO
ALTER TABLE [cabs_enf].[Audit] CHECK CONSTRAINT [FK_Audit_lkAuditType]
GO
