USE [cabs_production]
GO
/****** Object:  View [cabs_rta].[vRenterDetails]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [cabs_rta].[vRenterDetails]
AS
	SELECT dlhm2.LicenceHolderId, ISNULL(dlhm2.AddressLine1,'') + ' ' + ISNULL(dlhm2.AddressLine2,'') + ' ' + ISNULL(dlhm2.AddressLine3,'') AS [Address],
				   dlhm2.licencenumber AS DriverLicenceNo, 
				   dlhm2.FirstName + ' ' + dlhm2.LastName AS DriverName,
				   dlhm2.FirstName,
				   dlhm2.LastName,
				   dlhm2.AddressLine1,
				   dlhm2.AddressLine2,
				   dlhm2.AddressLine3, 
				   ls.LicenceStateMaster as [Status],
				   ddi2.ImageContent
	FROM  Cabs_Live.dbo.LicenceHolderMaster AS dlhm2 
	LEFT OUTER JOIN Cabs_Live.dbo.DriverImages AS ddi2 ON dlhm2.Ppsn = ddi2.PPSN
	INNER JOIN Cabs_Live.dbo.LicenceMaster AS lm ON dlhm2.LicenceHolderId = lm.LicenceHolderId 
	INNER JOIN Cabs_Live.dbo.LicenceStateMaster AS ls ON lm.LicenceStateMasterID = ls.LicenceStateMasterID
GO
