USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[CaseNotes]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[CaseNotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[Text] [text] NULL,
 CONSTRAINT [PK_CaseNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[CaseNotes]  WITH CHECK ADD  CONSTRAINT [FK_CaseNotes_aspnet_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
ALTER TABLE [cabs_enf].[CaseNotes] CHECK CONSTRAINT [FK_CaseNotes_aspnet_Users]
GO
