USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[BookingAudit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[BookingAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TestCentreID] [int] NOT NULL,
	[TestCentreLaneID] [int] NOT NULL,
	[CandidateID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[AreaID] [int] NULL,
	[BookingID] [int] NOT NULL,
	[BookingCancellationReasonId] [int] NULL,
	[LateCancellation] [bit] NULL,
	[LateReschedule] [bit] NULL,
	[BookingProcessId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[BookingAudit]  WITH CHECK ADD FOREIGN KEY([BookingProcessId])
REFERENCES [cabs_sk].[BookingProcess] ([BookingProcessId])
GO
ALTER TABLE [cabs_sk].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_BookingAudit_Booking] FOREIGN KEY([BookingID])
REFERENCES [cabs_sk].[Booking] ([ID])
GO
ALTER TABLE [cabs_sk].[BookingAudit] CHECK CONSTRAINT [FK_cabs_sk_BookingAudit_Booking]
GO
ALTER TABLE [cabs_sk].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_BookingAudit_BookingStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[BookingStatus] ([BookingStatusId])
GO
ALTER TABLE [cabs_sk].[BookingAudit] CHECK CONSTRAINT [FK_cabs_sk_BookingAudit_BookingStatus]
GO
ALTER TABLE [cabs_sk].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_BookingAudit_Candidate] FOREIGN KEY([CandidateID])
REFERENCES [cabs_sk].[Candidate] ([ID])
GO
ALTER TABLE [cabs_sk].[BookingAudit] CHECK CONSTRAINT [FK_cabs_sk_BookingAudit_Candidate]
GO
ALTER TABLE [cabs_sk].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_BookingAudit_County] FOREIGN KEY([AreaID])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [cabs_sk].[BookingAudit] CHECK CONSTRAINT [FK_cabs_sk_BookingAudit_County]
GO
ALTER TABLE [cabs_sk].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_BookingAudit_Test] FOREIGN KEY([TestID])
REFERENCES [cabs_sk].[Test] ([ID])
GO
ALTER TABLE [cabs_sk].[BookingAudit] CHECK CONSTRAINT [FK_cabs_sk_BookingAudit_Test]
GO
ALTER TABLE [cabs_sk].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_BookingAudit_TestCentre] FOREIGN KEY([TestCentreID])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [cabs_sk].[BookingAudit] CHECK CONSTRAINT [FK_cabs_sk_BookingAudit_TestCentre]
GO
ALTER TABLE [cabs_sk].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_BookingAudit_TestCentreLane] FOREIGN KEY([TestCentreLaneID])
REFERENCES [dbo].[TestCentreLanes] ([TestCentreLaneId])
GO
ALTER TABLE [cabs_sk].[BookingAudit] CHECK CONSTRAINT [FK_cabs_sk_BookingAudit_TestCentreLane]
GO
