USE [cabs_production]
GO
/****** Object:  UserDefinedTableType [cabs_sk].[ReferenceNumberMetadata]    Script Date: 14/04/2022 13:21:33 ******/
CREATE TYPE [cabs_sk].[ReferenceNumberMetadata] AS TABLE(
	[ID] [int] NULL,
	[ReferenceNumber] [int] NULL,
	[TableName] [nvarchar](100) NULL
)
GO
