USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [cabs_sk].[GetAvailableTimeSlots]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [cabs_sk].[GetAvailableTimeSlots](@TestCentreId int, @DateFrom datetime, @DateTo datetime, @duration int)
RETURNS @tbl table (StartDateTime datetime, EndDateTime datetime, TestCentreLaneId int, TestCentreId int, TestCentreDefaultConfigId int)
AS
begin
;
with AllTimeSlots as 
(
 
select TestCentreConfigurationId,Booking.StartDateTime,Booking.EndDateTime,Booking.TestCentreID,Booking.TestCentreLaneID from dbo.TestCentreConfiguration
inner join cabs_sk.Booking on TestCentreConfiguration.TestCentreID=cabs_sk.Booking.TestCentreID and TestCentreConfiguration.TestCentreLaneID=cabs_sk.Booking.TestCentreLaneID and cabs_sk.Booking.StartDateTime between TestCentreConfiguration.StartTime and TestCentreConfiguration.EndTime
inner join dbo.BookingStatus on Booking.StatusID=BookingStatus.BookingStatusId and VoidedBooking=0
inner join dbo.TestCentreLanes on TestCentreConfiguration.TestCentreLaneId=TestCentreLanes.TestCentreLaneId and TestCentreLanes.TestCentreLaneTypeID=2
where  ((cabs_sk.Booking.StartDateTime between @DateFrom and @DateTo) or (cabs_sk.Booking.EndDateTime between @DateFrom and @DateTo)) and Booking.TestCentreID=@testCentreId

union all 
select TestCentreConfigurationId,StartTime,StartTime,TestCentreConfiguration.TestCentreId,TestCentreConfiguration.TestCentreLaneId from dbo.TestCentreConfiguration inner join dbo.TestCentreLanes on TestCentreConfiguration.TestCentreLaneId=TestCentreLanes.TestCentreLaneId and TestCentreLanes.TestCentreLaneTypeID=2 and TestCentreConfiguration.TestCentreId=@testCentreId
where ((StartTime between @DateFrom and @DateTo) OR (EndTime between @DateFrom and @DateTo))

union all 
select TestCentreConfigurationId,EndTime,EndTime,TestCentreConfiguration.TestCentreId,TestCentreConfiguration.TestCentreLaneId from dbo.TestCentreConfiguration inner join dbo.TestCentreLanes on TestCentreConfiguration.TestCentreLaneId=TestCentreLanes.TestCentreLaneId and TestCentreLanes.TestCentreLaneTypeID=2 and TestCentreConfiguration.TestCentreId=@testCentreId
where ((StartTime between @DateFrom and @DateTo) OR (EndTime between @DateFrom and @DateTo))
),
TimeSlots as(
select
case when A.EndDateTime<@DateFrom then @DateFrom else A.EndDateTime end as StartDateTime,
case when B.StartDateTime>@DateTo then @DateTo else B.StartDateTime end as EndDateTime,
A.TestCentreId,A.TestCentreLaneID,A.TestCentreConfigurationId
from AllTimeSlots A inner join AllTimeSlots B on A.TestCentreConfigurationId=B.TestCentreConfigurationId
left join cabs_production.cabs_sk.Booking C
inner join dbo.BookingStatus on C.StatusID=BookingStatus.BookingStatusId and VoidedBooking=0
inner join dbo.TestCentreLanes on C.TestCentreLaneId=TestCentreLanes.TestCentreLaneId and TestCentreLanes.TestCentreLaneTypeID=2
 on C.TestCentreID=@testCentreId and A.TestCentreID=C.TestCentreID and A.TestCentreLaneID=C.TestCentreLaneID and
				((A.EndDateTime<>C.EndDateTime and A.EndDateTime between C.StartDateTime and C.EndDateTime) OR
				(B.StartDateTime<>C.StartDateTime and B.StartDateTime between C.StartDateTime and C.EndDateTime)OR
				((C.StartDateTime between A.EndDateTime and B.StartDateTime) AND (C.EndDateTime between A.EndDateTime and B.StartDateTime)))
where C.ID is null
)
INSERT INTO @tbl
select distinct StartDateTime,EndDateTime,TestCentreLaneID,TestCentreId,TestCentreConfigurationId from TimeSlots
where 
StartDateTime<EndDateTime 
and DATEDIFF(mi,StartDateTime,EndDateTime)>=@duration
return
END










--select A.EndDateTime,B.StartDateTime from cabs_production.cabs_sk.Booking A cross join cabs_production.cabs_sk.Booking B  

--left join cabs_production.cabs_sk.Booking C on 
--				(A.EndDateTime between C.StartDateTime and C.EndDateTime) OR
--				(B.StartDateTime between C.StartDateTime and C.EndDateTime)OR
--				((C.StartDateTime between A.EndDateTime and B.StartDateTime) AND (C.EndDateTime between A.EndDateTime and B.StartDateTime) )


--where 
--A.TestCentreID=106 and A.StartDateTime between '2014-04-16' and '2014-04-17' and
--B.TestCentreID=106 and B.StartDateTime between '2014-04-16' and '2014-04-17' and A.EndDateTime<B.StartDateTime  and
--C.TestCentreID=106 and C.StartDateTime between '2014-04-16' and '2014-04-17' and
--C.ID is null


GO
