USE [cabs_production]
GO
/****** Object:  View [cabs_spsv].[vDriverLicenceIndustryUser]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [cabs_spsv].[vDriverLicenceIndustryUser]
as

select 

lh.PersonId as PersonId
,lm.LicenceNumber as LicenceNumber
,iu.ID as IndustryUserId


from dl.LicenceHolderMaster lh
join dl.LicenceMaster lm on  lm.LicenceMasterId =lh.LicenceMasterId
inner join cabs_spsv.IndustryUserDriverLicenceHolderMaster iulh on lh.PersonId = iulh.LicenceHolderMasterFK
inner join cabs_cmo.IndustryUser iu ON iu.ID = iulh.IndustryUserFK


GO
