USE [cabs_production]
GO
/****** Object:  Table [cabs_cmo].[IndustryUser]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cmo].[IndustryUser](
	[ID] [bigint] IDENTITY(5,1) NOT NULL,
	[ASPUserId] [uniqueidentifier] NULL,
	[Email] [nvarchar](255) NULL,
	[CRN] [int] NULL,
	[PPSN] [varchar](20) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[Active] [bit] NOT NULL,
	[Registered] [bit] NOT NULL,
	[RequirePasswordChange] [bit] NULL,
	[SecurityNumber] [nvarchar](20) NULL,
	[NewPassword] [nvarchar](128) NULL,
	[NewPasswordSalt] [nvarchar](128) NULL,
	[EmailVerificationToken] [uniqueidentifier] NULL,
	[AllowUseEmailVerificationTokenToLogin] [bit] NULL,
	[NewEmailAddress] [nvarchar](255) NULL,
	[NewEmailAddressCreatedDate] [datetime] NULL,
	[NewEmailAddressVerificationCode] [uniqueidentifier] NULL,
	[ResetPasswordToken] [uniqueidentifier] NULL,
	[NotificationOptOut] [bit] NULL,
 CONSTRAINT [PK_IndustryUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndustryUserIDX1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IndustryUserIDX1] ON [cabs_cmo].[IndustryUser]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IndustryUserIDX2]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IndustryUserIDX2] ON [cabs_cmo].[IndustryUser]
(
	[ASPUserId] ASC
)
INCLUDE([ID],[Email],[Active]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IndustryUser_1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_IndustryUser_1] ON [cabs_cmo].[IndustryUser]
(
	[Registered] ASC
)
INCLUDE([ID],[ASPUserId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_cmo].[IndustryUser] ADD  CONSTRAINT [DF_IndustryUser_Active_1]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [cabs_cmo].[IndustryUser] ADD  CONSTRAINT [DF_IndustryUser_Active]  DEFAULT ((0)) FOR [Registered]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If user is Active its means that NTA can take control over his account.' , @level0type=N'SCHEMA',@level0name=N'cabs_cmo', @level1type=N'TABLE',@level1name=N'IndustryUser', @level2type=N'COLUMN',@level2name=N'Active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'True in this column means that user are registered by his own.' , @level0type=N'SCHEMA',@level0name=N'cabs_cmo', @level1type=N'TABLE',@level1name=N'IndustryUser', @level2type=N'COLUMN',@level2name=N'Registered'
GO
