USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[RemoveImportedQuestionPack]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_sk].[RemoveImportedQuestionPack]
	@PackId int
AS
BEGIN
	BEGIN TRANSACTION
	BEGIN TRY

		DECLARE @QuestionIds table(id int);
		
		INSERT INTO @QuestionIds(id)
		SELECT ID FROM [cabs_sk].[ImportedQuestion]
		WHERE ImportedQuestionPackID = @PackId;
		
		DELETE FROM [cabs_sk].[ImportedAnswer]
		WHERE ImportedQuestionID IN (SELECT id  FROM @QuestionIds);

		DELETE FROM [cabs_sk].[ImportedQuestion]
		WHERE ID IN (SELECT id  FROM @QuestionIds);
		
		DELETE FROM [cabs_sk].[ImportedQuestionPack]
		WHERE ID = @PackId;

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();			
		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END

GO
