USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[Module]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[Module](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[AreaRequired] [bit] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[Length] [int] NULL,
	[CurrentID] [int] NULL,
	[VersionTypeID] [int] NOT NULL,
	[VersionID] [uniqueidentifier] NOT NULL,
	[VersionDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RETLettersName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[Module]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Module_Module] FOREIGN KEY([CurrentID])
REFERENCES [cabs_sk].[Module] ([ID])
GO
ALTER TABLE [cabs_sk].[Module] CHECK CONSTRAINT [FK_cabs_sk_Module_Module]
GO
ALTER TABLE [cabs_sk].[Module]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Module_VersionType] FOREIGN KEY([VersionTypeID])
REFERENCES [cabs_sk].[VersionType] ([ID])
GO
ALTER TABLE [cabs_sk].[Module] CHECK CONSTRAINT [FK_cabs_sk_Module_VersionType]
GO
