USE [cabs_production]
GO
/****** Object:  Table [cabs_dck].[AuthTokenWatchList]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_dck].[AuthTokenWatchList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnonymousTokenId] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_dck].[AuthTokenWatchList]  WITH CHECK ADD  CONSTRAINT [FK_AuthTokenWatchList_AnonymousToken] FOREIGN KEY([AnonymousTokenId])
REFERENCES [cabs_dck].[AnonymousToken] ([Id])
GO
ALTER TABLE [cabs_dck].[AuthTokenWatchList] CHECK CONSTRAINT [FK_AuthTokenWatchList_AnonymousToken]
GO
