USE [cabs_production]
GO
/****** Object:  Table [cabs_dck].[DriverCheckReport]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_dck].[DriverCheckReport](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ExternalUserId] [varchar](100) NULL,
	[Area] [varchar](100) NULL,
	[DriverLicenceNumber] [varchar](50) NULL,
	[DriverName] [varchar](101) NULL,
	[IndustryUserId] [int] NULL,
	[VehicleColor] [varchar](50) NULL,
	[VehicleLicenceExpirationDate] [datetime] NULL,
	[VehicleLicenceNumber] [varchar](50) NULL,
	[VehicleMake] [varchar](50) NULL,
	[VehicleModel] [varchar](50) NULL,
	[VehicleRegistrationNumber] [varchar](50) NULL,
	[DriverDetailsIncorrect] [bit] NULL,
	[VehicleDetailsIncorrect] [bit] NULL,
	[Comments] [varchar](500) NULL,
	[VerificationNumber] [varchar](100) NULL,
	[ReportDate] [datetime] NULL,
	[DLSystemMatch] [bit] NULL,
	[VLSystemMatch] [bit] NULL,
	[ReportedBy] [nvarchar](100) NULL,
	[LNKExists] [bit] NOT NULL,
 CONSTRAINT [PK_DriverCheckReport] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_dck].[DriverCheckReport] ADD  CONSTRAINT [DF_DriverCheckReport_ReportDate]  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [cabs_dck].[DriverCheckReport] ADD  DEFAULT ((0)) FOR [LNKExists]
GO
