USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBooking_SelectByRefundId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cabs_sk].[SkillsBooking_SelectByRefundId]
(
@RefundId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT	    b.ID,
			b.TestCentreId,
			tc.TestCentreName,
			b.TestCentreLaneId,
			tcl.TestCentreLaneName,
			tc.AddressLine1,
			tc.AddressLine2,
			tc.AddressLine3,
			b.StatusId,
			bs.BookingStatusName,
			bs.VoidedBooking,
			b.StartDateTime,
			b.EndDateTime,
			b.CreatedBy,
			b.CreatedOn,
			b.ModifiedBy,
			b.ModifiedOn,
			ct.ResultID,
			test.Name as TestType,
			person.PPSN,
			person.FirstName + ' ' + person.LastName as CandidateName
			
	FROM	cabs_sk.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.TestCentreLanes tcl ON b.TestCentreLaneId = tcl.TestCentreLaneId
			INNER JOIN dbo.BookingStatus bs ON b.StatusId = bs.BookingStatusId
			INNER JOIN cabs_sk.Test test ON b.TestID = test.ID
			INNER JOIN cabs_sk.Candidate cand on b.CandidateID = cand.ID
			INNER JOIN cabs_cmo.Person person on cand.PersonID = person.ID
			LEFT OUTER JOIN [cabs_sk].CandidateTest ct ON b.ID = ct.BookingID
			LEFT OUTER JOIN dbo.TestResults TR ON ct.ResultId = TR.TestResultID
			
	WHERE	b.ID IN
	
	(
		SELECT BookingId FROM [cabs_sk].BookingRefund
		WHERE RefundId = @RefundId
	)

END


GO
