USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[PrintLogDraft]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[PrintLogDraft](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ChangedOn] [datetime] NULL,
	[ChangedBy] [nvarchar](256) NULL,
	[VehicleInspectionDraftID] [int] NULL,
	[PrintDate] [datetime] NULL,
	[Success] [bit] NULL,
 CONSTRAINT [PK_PrintLogDraft] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_insp].[PrintLogDraft]  WITH CHECK ADD  CONSTRAINT [FK_PrintLogDraft_VehicleInspectionsDraft] FOREIGN KEY([VehicleInspectionDraftID])
REFERENCES [cabs_insp].[VehicleInspectionsDraft] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [cabs_insp].[PrintLogDraft] CHECK CONSTRAINT [FK_PrintLogDraft_VehicleInspectionsDraft]
GO
