USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[SkillsBooking_UpdateAreaAndType]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cabs_sk].[SkillsBooking_UpdateAreaAndType]
(
@BookingId int,
@AreaId int,
@TestTypeId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE cabs_sk.Booking set TestId = @TestTypeId WHERE ID = @BookingId;
if (@AreaID <> -1)
begin
	UPDATE cabs_sk.Booking set AreaID = @AreaId WHERE ID = @BookingId;
end else
begin 
UPDATE cabs_sk.Booking set AreaID = null WHERE ID = @BookingId;
end


declare @testCentreId int;
declare @testLaneId int;
declare @candidateId int;
declare @statusId int;
declare @testId int;
declare @startDate datetime;
declare @endDate datetime;
declare @areaIdSelect int;
declare @bookingCencellationReasonId int;
declare @lateCancellation bit
declare @lateReschedule bit

select 
	@testCentreId = [TestCentreID],
	@testLaneId = [TestCentreLaneID],  
	@candidateId = [CandidateID], 
	@statusId = [StatusID], 
	@startDate = [StartDateTime], 
	@endDate = [EndDateTime], 
	@areaId = [AreaID], 
	@testId = [TestID], 
	@bookingCencellationReasonId = [BookingCancellationReasonId], 
	@lateCancellation = [LateCancellation], 
	@lateReschedule = [LateReschedule]
from [cabs_sk].[Booking] where ID = @BookingId

INSERT INTO cabs_sk.BookingAudit VALUES (@testCentreId, @testLaneId, @candidateId, @statusId, @testId, 'Admin Panel', GetDate(),  'Admin Panel', GetDate(), 
@startDate, @endDate, @areaId, @BookingId, @bookingCencellationReasonId, @lateCancellation, @lateReschedule)

END




GO
