USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[CandidateHistoryImage]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[CandidateHistoryImage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateID] [int] NOT NULL,
	[PhotoID] [int] NOT NULL,
	[ImageTypeID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_cabs_sk.CandidateImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[CandidateHistoryImage]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateHistoryImage_Booking] FOREIGN KEY([BookingID])
REFERENCES [cabs_sk].[Booking] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateHistoryImage] CHECK CONSTRAINT [FK_cabs_sk_CandidateHistoryImage_Booking]
GO
ALTER TABLE [cabs_sk].[CandidateHistoryImage]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateHistoryImage_Candidate] FOREIGN KEY([CandidateID])
REFERENCES [cabs_sk].[Candidate] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateHistoryImage] CHECK CONSTRAINT [FK_cabs_sk_CandidateHistoryImage_Candidate]
GO
ALTER TABLE [cabs_sk].[CandidateHistoryImage]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateHistoryImage_CandidateHistoryImageType] FOREIGN KEY([ImageTypeID])
REFERENCES [cabs_sk].[CandidateHistoryImageType] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateHistoryImage] CHECK CONSTRAINT [FK_cabs_sk_CandidateHistoryImage_CandidateHistoryImageType]
GO
ALTER TABLE [cabs_sk].[CandidateHistoryImage]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateHistoryImage_Image] FOREIGN KEY([PhotoID])
REFERENCES [cabs_sk].[Image] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateHistoryImage] CHECK CONSTRAINT [FK_cabs_sk_CandidateHistoryImage_Image]
GO
