USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_insp].[VehicleInspectionsDocument_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_insp].[VehicleInspectionsDocument_Insert](
	@FileName nvarchar(255),
	@Type nvarchar(255),
	@Data varbinary(max),
	@VehicleInspectionId int,
	@CreatedBy nvarchar(20),
	@ChangedBy nvarchar(20),
	@ChangedOn datetime,
	@Size int ,
	@SourceFileName nvarchar(255),
	
	@Id int out	
)
AS
BEGIN

DECLARE @CreatedDate datetime;
SET @CreatedDate = GETDATE();

insert into [cabs_insp].[VehicleInspectionsDocument]
([FileName], [Type], Data, VehicleInspectionId, CreatedBy, CreatedDate, ChangedBy, ChangedOn, Size, SourceFileName)
values
(@FileName, @Type, @Data, @VehicleInspectionId, @CreatedBy, @CreatedDate, @ChangedBy, @ChangedOn, @Size, @SourceFileName)

SET @Id = SCOPE_IDENTITY()
	
END
GO
