USE [cabs_production]
GO
/****** Object:  View [cabs_spsv].[vDriverDespatchMethod]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [cabs_spsv].[vDriverDespatchMethod]
as
	select LetterRequestDespatchMethodId, DespatchMethodDescription from dl.LetterRequestDespatchMethod

GO
