USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[RequestDriverMobileNumberUpdate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [cabs_spsv].[RequestDriverMobileNumberUpdate]
	@DriverLicenceHolderId int,
	@NewMobileNumber varchar(40),
	@NewMobileNumberCreatedDate datetime,
	@NewMobileNumberVerificationCode nvarchar(6)
as
begin

	IF EXISTS(SELECT 1 FROM [cabs_spsv].[DriverMobileNumberUpdate] WHERE [PersonId]=@DriverLicenceHolderId)
	BEGIN
		update [cabs_spsv].[DriverMobileNumberUpdate] set 
			[NewMobileNumber]=@NewMobileNumber,
			[NewMobileNumberCreatedDate]=@NewMobileNumberCreatedDate,
			[NewMobileNumberVerificationCode]=@NewMobileNumberVerificationCode,
			[NewMobileNumberVerified]=null
		where [PersonId]=@DriverLicenceHolderId
	END
	ELSE
	BEGIN
		INSERT INTO [cabs_spsv].[DriverMobileNumberUpdate]([PersonId], [NewMobileNumber], [NewMobileNumberCreatedDate], [NewMobileNumberVerificationCode])
		VALUES (@DriverLicenceHolderId, @NewMobileNumber, @NewMobileNumberCreatedDate, @NewMobileNumberVerificationCode)
	END

end

GO
