USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[AuditHistoryItem]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[AuditHistoryItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuditId] [int] NOT NULL,
	[lkAuditItemId] [int] NOT NULL,
	[FineId] [int] NULL,
	[Passed] [bit] NOT NULL,
	[IsFcp] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_AuditDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[AuditHistoryItem] ADD  CONSTRAINT [DF_AuditHistoryItem_IsFcp]  DEFAULT ((0)) FOR [IsFcp]
GO
ALTER TABLE [cabs_enf].[AuditHistoryItem]  WITH CHECK ADD  CONSTRAINT [FK_AuditHistoryItem_Audit] FOREIGN KEY([AuditId])
REFERENCES [cabs_enf].[Audit] ([Id])
GO
ALTER TABLE [cabs_enf].[AuditHistoryItem] CHECK CONSTRAINT [FK_AuditHistoryItem_Audit]
GO
ALTER TABLE [cabs_enf].[AuditHistoryItem]  WITH CHECK ADD  CONSTRAINT [FK_AuditHistoryItem_lkAuditItemId] FOREIGN KEY([lkAuditItemId])
REFERENCES [cabs_enf].[lkAuditItem] ([Id])
GO
ALTER TABLE [cabs_enf].[AuditHistoryItem] CHECK CONSTRAINT [FK_AuditHistoryItem_lkAuditItemId]
GO
