USE [cabs_production]
GO
/****** Object:  Table [cabs_cmo].[Person]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_cmo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyID] [int] NULL,
	[PostCode] [varchar](12) NULL,
	[CountryID] [int] NULL,
	[DateOfBirth] [datetime] NULL,
	[PPSN] [varchar](20) NOT NULL,
	[ContactMethodID] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[HomeNumber] [varchar](50) NULL,
	[MobileNumber] [varchar](50) NULL,
	[IrishLanguageAddress] [bit] NULL,
	[PhotoID] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[SignatureID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_cmo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo.Person_cabs_cmo.ContactMethod] FOREIGN KEY([ContactMethodID])
REFERENCES [cabs_cmo].[ContactMethod] ([ID])
GO
ALTER TABLE [cabs_cmo].[Person] CHECK CONSTRAINT [FK_cabs_cmo.Person_cabs_cmo.ContactMethod]
GO
ALTER TABLE [cabs_cmo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo.Person_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [cabs_cmo].[Person] CHECK CONSTRAINT [FK_cabs_cmo.Person_Country]
GO
ALTER TABLE [cabs_cmo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo.Person_County] FOREIGN KEY([CountyID])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [cabs_cmo].[Person] CHECK CONSTRAINT [FK_cabs_cmo.Person_County]
GO
ALTER TABLE [cabs_cmo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo_Person_Image] FOREIGN KEY([PhotoID])
REFERENCES [cabs_sk].[Image] ([ID])
GO
ALTER TABLE [cabs_cmo].[Person] CHECK CONSTRAINT [FK_cabs_cmo_Person_Image]
GO
ALTER TABLE [cabs_cmo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_cabs_cmo_Person_Signature] FOREIGN KEY([SignatureID])
REFERENCES [cabs_sk].[Image] ([ID])
GO
ALTER TABLE [cabs_cmo].[Person] CHECK CONSTRAINT [FK_cabs_cmo_Person_Signature]
GO
