USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_sk].[CreatePrintRequestDetails]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_sk].[CreatePrintRequestDetails]
	@PrintRequestMasterId int,
	@Licencenumber varchar(50),
	@CardRequestTypeId tinyint,
	@PrintRequestStatusId tinyint,
	@Area nvarchar(20),
	@PrintRequestReasonID int,
	@Comments nvarchar(MAX),
	@PaymentReceived bit,
	@CreatedBy nvarchar(20),
	@CreatedDate datetime	
AS
BEGIN
	INSERT INTO [cabs_live].[dbo].[PrintRequestDetail]
	   (
		   [PrintRequestMasterId]
		   ,[licencenumber]
		   ,[CardRequestTypeId]
		   ,[PrintRequestStatusId]
		   ,[Area]
		   ,[DespatchMethodId]
		   ,[DespatchDate]
		   ,[TrackingNumber]
		   ,[PrintRequestReasonID]
		   ,[Comments]
		   ,[PaymentReceived]
		   ,[CreatedBy]
		   ,[CreatedDate]
		   ,[ModifiedBy]
		   ,[ModifiedDate]
		   ,[PrintRequestStatusMessage]
	   )
	VALUES
	   (
			@PrintRequestMasterId,
			@Licencenumber,
			@CardRequestTypeId,
			@PrintRequestStatusId,
			@Area,
			NULL,
			NULL,
			NULL,
			@PrintRequestReasonID,
			@Comments,
			@PaymentReceived,
			@CreatedBy,
			@CreatedDate,
			@CreatedBy,
			@CreatedDate,
			NULL
	   )   
END
GO
