USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[UpdateEmailDriverLicenceHolderMaster]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [cabs_spsv].[UpdateEmailDriverLicenceHolderMaster]	
	@LicenceHolderId int,
	@Email nvarchar(50)
as
begin
UPDATE [cabs_live].[dbo].[LicenceHolderMaster]
	SET Email = @Email
	WHERE LicenceHolderId = @LicenceHolderId
end
GO
