USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[LogActivity]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [cabs_spsv].[LogActivity]
/*
example of xml

<ActivityLogEntry>
	<TransactionAuditTypeID>30</TransactionAuditTypeID>
	<DriverLicenceHolderId>1</LicenceHolderId>
	<VehicleLicenceHolderId>1</LicenceHolderId>
	<LicenceNumber>J6659</LicenceNumber>
	<VehicleId>2</VehicleId>
	<CreatedBy>system</CreatedBy>
	<CreatedByLicenceHolderId>1</CreatedByLicenceHolderId>
	<IsDriverLog>1</IsDriverLog>
	<IsVehicleLog>0</IsVehicleLog>
	<ModifiedVia>SPSV Online</ModifiedVia>
	<Field Name="a" OldValue="a1" NewValue="a2"/>
	<Field Name="b" OldValue="b1" NewValue="b2"/>
	<Field Name="c" OldValue="c1" NewValue="c2"/>
</ActivityLogEntry>
*/
	@ActivityLogEntryXml nvarchar(max)
as
begin
	declare @TransactionUniqueKey uniqueidentifier=newid();
	declare @NowDate datetime=getdate();

	declare @TransactionAuditTypeID int;	
	declare @DriverLicenceHolderId int;
	declare @VehicleLicenceHolderId int;
	declare @LicenceNumber nvarchar(50);
	declare @VehicleId int;	
	declare @CreatedBy varchar(20);
	declare @CreatedByLicenceHolderId int;
	declare @IsDriverLog bit;
	declare @IsVehicleLog bit;
	declare @ModifiedVia nvarchar(20);
	declare @Fields table(FieldName nvarchar(50), OldValue nvarchar(max), NewValue nvarchar(max))

	declare @xml xml=CAST (@ActivityLogEntryXml AS xml)

	select @TransactionAuditTypeID=Node.Id.value('number(.)', 'int') from @xml.nodes('/ActivityLogEntry/TransactionAuditTypeID') as Node(Id)
	select @DriverLicenceHolderId=Node.Id.value('number(.)', 'int') from @xml.nodes('/ActivityLogEntry/DriverLicenceHolderId') as Node(Id)
	select @VehicleLicenceHolderId=Node.Id.value('number(.)', 'int') from @xml.nodes('/ActivityLogEntry/VehicleLicenceHolderId') as Node(Id)
	select @LicenceNumber=Node.Id.value('.', 'nvarchar(50)') from @xml.nodes('/ActivityLogEntry/LicenceNumber') as Node(Id)
	select @VehicleId=Node.Id.value('number(.)', 'int') from @xml.nodes('/ActivityLogEntry/VehicleId') as Node(Id)
	select @CreatedBy=Node.Id.value('.', 'varchar(20)') from @xml.nodes('/ActivityLogEntry/CreatedBy') as Node(Id)
	select @CreatedByLicenceHolderId=Node.Id.value('number(.)', 'int') from @xml.nodes('/ActivityLogEntry/CreatedByLicenceHolderId') as Node(Id)
	select @IsDriverLog=Node.Id.value('.', 'bit') from @xml.nodes('/ActivityLogEntry/IsDriverLog') as Node(Id)
	select @IsVehicleLog=Node.Id.value('.', 'bit') from @xml.nodes('/ActivityLogEntry/IsVehicleLog') as Node(Id)
	select @ModifiedVia=Node.Id.value('.', 'nvarchar(20)') from @xml.nodes('/ActivityLogEntry/ModifiedVia') as Node(Id)

	--select @TransactionAuditTypeID,@LicenceHolderId,@LicenceNumber,@VehicleId,@CreatedBy,@IsDriverLog,@IsVehicleLog
	
	insert into @Fields (FieldName, OldValue, NewValue)
		select 
		Node.Id.value('(@Name)[1]', 'nvarchar(50)')
		,Node.Id.value('(@OldValue)[1]', 'nvarchar(max)')
		,Node.Id.value('(@NewValue)[1]', 'nvarchar(max)')
		from @xml.nodes('/ActivityLogEntry/Field') as Node(Id)

	--select * from @Fields

	if @IsDriverLog=1
		insert into cabs_live.dbo.TransactionAuditLog
			   ([TransactionAuditTypeID],[HistoryChangeTypeID],[TransactionUniqueKey],[AuditDateTime]
			   ,[LicenceHolderId],[LicenceNumber],[VehicleId],[FieldName],[OldValue],[NewValue],[CreatedBy],[CreatedDate],[ModifiedBy],[ModifiedDate]
			   ,[ModifiedVia],[CreatedByLicenceHolderId])
			select
				   @TransactionAuditTypeID
				   ,null
				   ,@TransactionUniqueKey
				   ,@NowDate
				   ,@DriverLicenceHolderId
				   ,@LicenceNumber
				   ,@VehicleId
				   ,FieldName
				   ,OldValue
				   ,isnull(NewValue, '')
				   ,@CreatedBy
				   ,@NowDate
				   ,@CreatedBy
				   ,@NowDate
				   ,@ModifiedVia
				   ,@CreatedByLicenceHolderId
			from @Fields

	if @IsVehicleLog=1
		insert into dbo.TransactionAuditLog([TransactionAuditTypeID],[HistoryChangeTypeID],[TransactionUniqueKey],[AuditDateTime],[LicenceHolderId],[LicenceNumber]
				   ,[VehicleId],[FieldName],[OldValue],[NewValue],[CreatedBy],[CreatedDate],[ModifiedBy],[ModifiedDate],[TableName],[RegistrationNumber],[Comments]
				   ,[DriverLicenceHolderId],[ModifiedVia])
			select
				   @TransactionAuditTypeID
				   ,null
				   ,@TransactionUniqueKey
				   ,@NowDate
				   ,@VehicleLicenceHolderId
				   ,@LicenceNumber
				   ,@VehicleId
				   ,FieldName
				   ,OldValue
				   ,isnull(NewValue, '')
				   ,@CreatedBy
				   ,@NowDate
				   ,@CreatedBy
				   ,@NowDate
				   ,null
				   ,null
				   ,null
				   ,@DriverLicenceHolderId
				   ,@ModifiedVia
			from @Fields
end

GO
