USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_cmo].[RevertCreateMembershipUser]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cabs_cmo].[RevertCreateMembershipUser]
	@userId uniqueidentifier
AS
BEGIN
	DELETE FROM dbo.aspnet_Membership WHERE UserId = @userId;
END
GO
