USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vDriverFCP]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [cabs_enf].[vDriverFCP]
AS
SELECT DISTINCT
	fine.Id,
	ft.FineCode AS [Code],
	ft.ShortName AS [Description],
	fine.FineAmount AS [Amount],
	fine.DocketRefNo,
	fine.FineIncidentDate AS [IncidentDate],
	(select	CAST(CAST(DATEPART(yyyy, fine.FineDateTime) AS varchar) + '-' + CAST(DATEPART(MM, fine.FineDateTime) AS varchar) + '-' + CAST(DATEPART(dd, fine.FineDateTime) AS varchar) + 
	(case when fine.IssueTime is null or fine.IssueTime = '' then ' 00:00' else ' ' + fine.IssueTime end) AS DATETIME)) AS [IssueDateTime],	
	fine.FinePaid AS [Paid],
	officer.OfficerName,
	lm.LicenceNumber AS [DriverLicence],
		ISNULL(lhm.AddressLine1,'') + ' ' +
		ISNULL(lhm.AddressLine2,'') + ' ' +
		ISNULL(lhm.AddressLine3,'') + ' ' +
		ISNULL(lhm.Town,'') AS [DriverAddress],
	COALESCE(lhm.HolderName, lhm.CompanyName) AS [DriverName],
	COALESCE(fine.Licence_Nbr, fine.VehicleLicence, fine.Info_Licence_Nbr) AS [VehicleLicence],
	COALESCE(fine.Reg_Nbr,fine.Info_Reg_Nbr) AS [VehicleRegistrationNumber],
	fine.EnforcementOfficerUID
FROM cabs_live.dbo.Fines AS fine
LEFT JOIN cabs_live.dbo.LicenceHolderMaster AS lhm ON fine.LicenceHolderId = lhm.LicenceHolderId
LEFT JOIN cabs_live.dbo.LicenceMaster AS lm ON lm.LicenceHolderId = lhm.LicenceHolderId
LEFT JOIN cabs_live.dbo.FineOfficers AS officer ON fine.EnforcementOfficer = officer.OfficerID
LEFT JOIN cabs_production.cabs_enf.lkAuditItem AS ft ON ft.Id = fine.FineTypeID

GO
