USE [cabs_production]
GO
/****** Object:  Table [cabs_insp].[DefectCategoriesAudit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_insp].[DefectCategoriesAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DefectCategoryID] [int] NULL,
	[DefectCategory] [nvarchar](100) NULL,
	[Active] [bit] NULL,
	[LicenceNumberGreaterOrEqual] [int] NULL,
	[LicenceNumberLessOrEqual] [int] NULL,
	[AllLicenceTypes] [bit] NULL,
	[AllInspectionProcesses] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_DefectCategoriesAudit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
