USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[SurveyQuestionSequence]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[SurveyQuestionSequence](
	[ReferenceNumber] [int] NOT NULL
) ON [PRIMARY]
GO
