USE [cabs_production]
GO
/****** Object:  View [cabs_spsv].[vDriverLicenceMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- RECREATE VIEW
CREATE VIEW [cabs_spsv].[vDriverLicenceMaster]
AS
	SELECT  LicenceNumber, lm.LicenceMasterId, LicenceStateMasterId, LicenceStateId, PersonId, ExpiryDate, AREA.Name as PrimaryAreaName
	FROM [DL].[LICENCEMASTER] LM
	JOIN [DL].[LICENCEHOLDERMASTER] LHM ON LHM.LICENCEMASTERID = LM.LICENCEMASTERID
	JOIN [DL].Area AREA on AREA.AreaId = LM.PrimaryAreaID

GO
