USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_spsv].[GetLetterVlXml]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [cabs_spsv].[GetLetterVlXml]
	@LetterId int,
	@VehicleLicenceHolderId int
as
begin
	declare @LetterDataEntryXml nvarchar(max);	
	set @LetterDataEntryXml = 
	(
		select
			[LetterRequestTypeAuditId] as 'LetterTemplateAuditId'
			,[LicenceNumber] as 'VehicleLicenceNumber'
			,[CreatedDate] as 'CreatedOn'
			,[ExpiryDate] as 'VehicleLicenceExpireDate'
			,[LicenceHolderId] as 'VehicleLicenceHolderId'
			,[HolderFirstName] as 'VehicleLicenceHolderFirstName'
			,[HolderLastName] as 'VehicleLicenceHolderLastName'
			,[HolderFullName] as 'VehicleLicenceHolderFullName'
			,[HolderAddressLine1] as 'VehicleLicenceHolderAddress1'
			,[HolderAddressLine2] as 'VehicleLicenceHolderAddress2'
			,[HolderAddressLine3] as 'VehicleLicenceHolderAddress3'
			,[HolderTown] as 'VehicleLicenceHolderTown'
			,[HolderPostCode] as 'VehicleLicenceHolderPostcode'
			,[HolderCounty] as 'VehicleLicenceHolderCounty'
			,[HolderEmail] as 'VehicleLicenceHolderEmail'
			,[VehicleRegNumber] as 'VehicleRegistrationNumber'
			,[VehicleMake] as 'VehicleMake'
			,[VehicleModel] as 'VehicleModel'
			,[LicenceStatus] as 'VehicleLicenceStatus'
			,[VehicleRegistrationNumber] as 'VehicleRegistrationNumber'
			,[LinkStartDate] as 'LinkStartDate'
			,[LinkEndDate] as 'LinkEndDate'
			,[LinkMethod] as 'LinkMethod'
			,[DriverLicenceHolderId] as 'DriverLicenceHolderId'
			,[DriverLicenceNumber] as 'DriverLicenceNumber'
			,RentalStartDate as 'RentalStartDate'
			,RentalEndDate as 'RentalEndDate'
			,RentalMethod as 'RentalMethod'
			,SPSVWebUrl as 'SpsvWebUrl'
			,SPSVRegistrationNumber as 'SpsvRegistrationNumber'
			,SPSVRegistrationUrl as 'SpsvInvitationUrl'
			,HistoricalVehicleLicenceNumber as 'HistoricalVehicleLicenceNumber'
		from dbo.PrintRequestMasterVL where PrintRequestMasterId=@LetterId and LicenceHolderId=@VehicleLicenceHolderId
		for xml path(''),
		root('LetterDataEntry')
	)
	select @LetterDataEntryXml as LetterDataEntryXml;
end


GO
