USE [cabs_production]
GO
/****** Object:  Table [cabs_enf].[FineNotifications]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_enf].[FineNotifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FineId] [int] NOT NULL,
	[EmailId] [uniqueidentifier] NULL,
	[Sended] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_FineNotifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FineNotifications_FineId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_FineNotifications_FineId] ON [cabs_enf].[FineNotifications]
(
	[FineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_enf].[FineNotifications]  WITH CHECK ADD  CONSTRAINT [FK_FineNotifications_Fines_FineId] FOREIGN KEY([FineId])
REFERENCES [cabs_enf].[Fines] ([Id])
GO
ALTER TABLE [cabs_enf].[FineNotifications] CHECK CONSTRAINT [FK_FineNotifications_Fines_FineId]
GO
