USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[CandidateTestModule]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[CandidateTestModule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[CandidateTestID] [int] NULL,
	[ModuleVersionID] [uniqueidentifier] NULL,
	[ModuleID] [int] NULL,
	[Order] [int] NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[Length] [int] NULL,
	[ResultID] [int] NULL,
	[PercentageResult] [decimal](10, 2) NULL,
	[RequiredPercentageResult] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[CandidateTestModule]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestModule_CandidateTest] FOREIGN KEY([CandidateTestID])
REFERENCES [cabs_sk].[CandidateTest] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestModule] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestModule_CandidateTest]
GO
ALTER TABLE [cabs_sk].[CandidateTestModule]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestModule_Module] FOREIGN KEY([ModuleID])
REFERENCES [cabs_sk].[Module] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestModule] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestModule_Module]
GO
ALTER TABLE [cabs_sk].[CandidateTestModule]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestModule_TestResult] FOREIGN KEY([ResultID])
REFERENCES [cabs_sk].[TestResult] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestModule] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestModule_TestResult]
GO
