USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[ModuleChapter]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[ModuleChapter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Order] [int] NOT NULL,
	[ModuleID] [int] NOT NULL,
	[ChapterID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[ModuleChapter]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_ModuleChapter_Chapter] FOREIGN KEY([ChapterID])
REFERENCES [cabs_sk].[Chapter] ([ID])
GO
ALTER TABLE [cabs_sk].[ModuleChapter] CHECK CONSTRAINT [FK_cabs_sk_ModuleChapter_Chapter]
GO
ALTER TABLE [cabs_sk].[ModuleChapter]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_ModuleChapter_Module] FOREIGN KEY([ModuleID])
REFERENCES [cabs_sk].[Module] ([ID])
GO
ALTER TABLE [cabs_sk].[ModuleChapter] CHECK CONSTRAINT [FK_cabs_sk_ModuleChapter_Module]
GO
