USE [cabs_production]
GO
/****** Object:  View [cabs_enf].[vDriverDetailsEx]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_enf].[vDriverDetailsEx]
AS

SELECT DISTINCT
		lh.LicenceHolderId,
		lh.Ppsn as PPSN,
		--RTRIM(LTRIM(lh.FirstName + ' ' + lh.LastName)) AS DriverName, -- Use this as final variant
		lh.FirstName + ' ' + lh.LastName AS DriverName,
		dlm2.licencenumber AS DriverLicenceNumber,
		dlm2.LicenceExpiryDate AS DriverLicenceExpiryDate,
			ISNULL(lh.AddressLine1,'') + ' ' +
			ISNULL(lh.AddressLine2,'') + ' ' +
			ISNULL(lh.AddressLine3,'') + ' ' +
			ISNULL(lh.Town,'') AS [Address],
		ls.LicenceStateMaster as [Status],
		dc.CountyName AS DriverArea,
		lh.PhoneNo1 as Phone1,
		lh.PhoneNo2 as Phone2,
		lh.DateOfBirth as DOB,
		--dc1.CountyName as PrimaryArea,
		(SELECT TOP 1 ct.CountyName FROM CABS_LIVE.dbo.DriverCounty drct JOIN CABS_LIVE.dbo.County ct ON drct.PrimaryCounty = ct.CountyId 
			WHERE 
				dlm2.licencenumber = drct.LicenceNumber AND 
				drct.PrimaryCounty = drct.CountyID  
			ORDER BY drct.CountyId DESC) as PrimaryArea,
		(SELECT COUNT(*) FROM [cabs_enf].[vDriverFCP] AS dfcp WHERE dfcp.DriverLicence = dlm2.licencenumber) AS FCPCount
FROM	
		CABS_LIVE.dbo.LicenceHolderMaster AS lh
        INNER JOIN CABS_LIVE.dbo.LicenceMaster AS dlm2 ON lh.LicenceHolderId = dlm2.LicenceHolderId
		INNER JOIN CABS_LIVE.dbo.County AS dc ON lh.CountyID = dc.CountyId
		INNER JOIN Cabs_Live.dbo.LicenceStateMaster AS ls ON dlm2.LicenceStateMasterID = ls.LicenceStateMasterID
		--LEFT OUTER JOIN CABS_LIVE.dbo.DriverCounty as drc on dlm2.licencenumber = drc.LicenceNumber
		--LEFT OUTER JOIN CABS_LIVE.dbo.County AS dc1 ON drc.PrimaryCounty = dc1.CountyId
GO
