USE [cabs_production]
GO
/****** Object:  View [cabs_tds].[vSignageInstallations]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_tds].[vSignageInstallations]
AS
	SELECT
		cabs_tds.AuthorizedSupplier.SupplierId,
		cabs_tds.AuthorizedSupplier.IsActive as SupplierIsActive,
		cabs_tds.AuthorizedSupplier.CompanyName,
		cabs_tds.AuthorizedSupplier.Address,
		cabs_tds.AuthorizedSupplier.ContactName,
		cabs_tds.AuthorizedSupplier.Email,
		cabs_tds.AuthorizedSupplier.Tel,
		cabs_tds.AuthorizedSupplier.Mobile,
		cabs_tds.SignageInstallation.VehicleLicenceNumber,
		cabs_tds.SignageInstallation.RegistrationNumber,
		cabs_tds.SignageInstallation.IsActive AS InstallationIsActive,
		cabs_tds.SignageInstallation.CreatedOn
	FROM cabs_tds.SignageInstallation
	LEFT JOIN cabs_tds.AuthorizedSupplier ON cabs_tds.SignageInstallation.AuthorizedSupplierId = cabs_tds.AuthorizedSupplier.Id
	--LEFT JOIN LicenceMasterVL ON LicenceMasterVL.LicenceNumber = cabs_tds.SignageInstallation.VehicleLicenceNumber
GO
