USE [cabs_production]
GO
/****** Object:  Table [cabs_dvl].[VehicleDriver]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_dvl].[VehicleDriver](
	[LinkId] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[IndustryUserId] [bigint] NOT NULL,
	[VehicleLicenseNumber] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedVia] [nvarchar](20) NULL,
	[VehicleLicenceHolderId] [int] NULL,
	[DriverLicenceNumber] [nvarchar](20) NULL,
	[WasLinkBroken] [bit] NULL,
	[IsExpired] [bit] NULL,
	[RegistrationNumberFK] [varchar](10) NOT NULL,
	[HistoricalVehicleLicenceNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_cabs_dvl_VehicleDriver] PRIMARY KEY CLUSTERED 
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_VehicleDriver_6_1937546086__K13_K6_K3_1_2_5_12_14_16]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_VehicleDriver_6_1937546086__K13_K6_K3_1_2_5_12_14_16] ON [cabs_dvl].[VehicleDriver]
(
	[DriverLicenceNumber] ASC,
	[IsActive] ASC,
	[EndDate] ASC
)
INCLUDE([LinkId],[StartDate],[VehicleLicenseNumber],[VehicleLicenceHolderId],[WasLinkBroken],[RegistrationNumberFK]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_VehicleDriver_6_1937546086__K5_K6_K3_1_2_12_13_14_16]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_VehicleDriver_6_1937546086__K5_K6_K3_1_2_12_13_14_16] ON [cabs_dvl].[VehicleDriver]
(
	[VehicleLicenseNumber] ASC,
	[IsActive] ASC,
	[EndDate] ASC
)
INCLUDE([LinkId],[StartDate],[VehicleLicenceHolderId],[DriverLicenceNumber],[WasLinkBroken],[RegistrationNumberFK]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VehicleDriver_1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_VehicleDriver_1] ON [cabs_dvl].[VehicleDriver]
(
	[IsActive] ASC,
	[DriverLicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleDriver_2]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_VehicleDriver_2] ON [cabs_dvl].[VehicleDriver]
(
	[IsActive] ASC
)
INCLUDE([StartDate],[EndDate],[DriverLicenceNumber],[WasLinkBroken]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleDriver_3]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_VehicleDriver_3] ON [cabs_dvl].[VehicleDriver]
(
	[IsActive] ASC
)
INCLUDE([StartDate],[EndDate],[VehicleLicenseNumber],[DriverLicenceNumber],[WasLinkBroken]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_VehicleDriver_IndUserId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [ix_VehicleDriver_IndUserId] ON [cabs_dvl].[VehicleDriver]
(
	[IndustryUserId] ASC
)
INCLUDE([LinkId],[StartDate],[EndDate],[VehicleLicenseNumber],[IsActive]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_VehicleDriver_VLN_ACT_DT]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [ix_VehicleDriver_VLN_ACT_DT] ON [cabs_dvl].[VehicleDriver]
(
	[VehicleLicenseNumber] ASC,
	[IsActive] ASC,
	[StartDate] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cabs_dvl].[VehicleDriver]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDriver_IndustryUser] FOREIGN KEY([IndustryUserId])
REFERENCES [cabs_cmo].[IndustryUser] ([ID])
GO
ALTER TABLE [cabs_dvl].[VehicleDriver] CHECK CONSTRAINT [FK_VehicleDriver_IndustryUser]
GO
ALTER TABLE [cabs_dvl].[VehicleDriver]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDriver_LicenceHolderMaster] FOREIGN KEY([VehicleLicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [cabs_dvl].[VehicleDriver] CHECK CONSTRAINT [FK_VehicleDriver_LicenceHolderMaster]
GO
ALTER TABLE [cabs_dvl].[VehicleDriver]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDriver_VehicleMaster] FOREIGN KEY([VehicleLicenseNumber])
REFERENCES [dbo].[LicenceMasterVL] ([LicenceNumber])
GO
ALTER TABLE [cabs_dvl].[VehicleDriver] CHECK CONSTRAINT [FK_VehicleDriver_VehicleMaster]
GO
ALTER TABLE [cabs_dvl].[VehicleDriver]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDriver_VehicleMaster1] FOREIGN KEY([RegistrationNumberFK])
REFERENCES [dbo].[VehicleMaster] ([RegistrationNumber])
GO
ALTER TABLE [cabs_dvl].[VehicleDriver] CHECK CONSTRAINT [FK_VehicleDriver_VehicleMaster1]
GO
