USE [cabs_production]
GO
/****** Object:  View [cabs_cmo].[vDriverCounty]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_cmo].[vDriverCounty]
AS
  select [LicenceNumber], [CountyID], [PrimaryCounty]
    from CABS_LIVE.dbo.DriverCounty;
GO
