USE [cabs_production]
GO
/****** Object:  StoredProcedure [cabs_enf].[SearchAudit_Sync]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cabs_enf].[SearchAudit_Sync]
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		UPDATE sa
		SET sa.CountyId = sadi.CountyId
			,sa.Street = sadi.Street
			,sa.ResponseStatus = sadi.ResponseStatus
		FROM cabs_enf.SearchAudit sa
		JOIN cabs_enf.SearchAudit_DataImport sadi ON sa.Id = sadi.SearchAuditId

		COMMIT
	END TRY

	BEGIN CATCH
		IF @@trancount > 0
			PRINT error_message()

		ROLLBACK
	END CATCH
END

GO
