USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[Test]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[Test](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[AreaRequired] [bit] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[SlotLength] [int] NULL,
	[CurrentID] [int] NULL,
	[VersionTypeID] [int] NOT NULL,
	[VersionID] [uniqueidentifier] NOT NULL,
	[VersionDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DateFrom] [datetime] NULL,
	[DateTo] [datetime] NULL,
	[CertificateName] [nvarchar](max) NULL,
	[AllowRetake] [bit] NOT NULL,
	[ValidationPeriod] [int] NULL,
	[AllowCertify] [bit] NOT NULL,
	[IsGenericTest] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[Test] ADD  DEFAULT ((0)) FOR [AllowRetake]
GO
ALTER TABLE [cabs_sk].[Test] ADD  DEFAULT ((0)) FOR [AllowCertify]
GO
ALTER TABLE [cabs_sk].[Test] ADD  DEFAULT ((0)) FOR [IsGenericTest]
GO
ALTER TABLE [cabs_sk].[Test]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Test_Test] FOREIGN KEY([CurrentID])
REFERENCES [cabs_sk].[Test] ([ID])
GO
ALTER TABLE [cabs_sk].[Test] CHECK CONSTRAINT [FK_cabs_sk_Test_Test]
GO
ALTER TABLE [cabs_sk].[Test]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_Test_VersionType] FOREIGN KEY([VersionTypeID])
REFERENCES [cabs_sk].[VersionType] ([ID])
GO
ALTER TABLE [cabs_sk].[Test] CHECK CONSTRAINT [FK_cabs_sk_Test_VersionType]
GO
