USE [cabs_production]
GO
/****** Object:  Table [cabs_sk].[CandidateTestPauseTime]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cabs_sk].[CandidateTestPauseTime](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[CandidateTestId] [int] NULL,
	[DateTimeFrom] [datetime] NULL,
	[DateTimeTo] [datetime] NULL,
	[CandidateTestModuleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cabs_sk].[CandidateTestPauseTime]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestPauseTime_CandidateTest] FOREIGN KEY([CandidateTestId])
REFERENCES [cabs_sk].[CandidateTest] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestPauseTime] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestPauseTime_CandidateTest]
GO
ALTER TABLE [cabs_sk].[CandidateTestPauseTime]  WITH CHECK ADD  CONSTRAINT [FK_cabs_sk_CandidateTestPauseTime_CandidateTestModule] FOREIGN KEY([CandidateTestModuleID])
REFERENCES [cabs_sk].[CandidateTestModule] ([ID])
GO
ALTER TABLE [cabs_sk].[CandidateTestPauseTime] CHECK CONSTRAINT [FK_cabs_sk_CandidateTestPauseTime_CandidateTestModule]
GO
