USE [cabs_production]
GO
/****** Object:  View [cabs_dvl].[vVehicleDriver]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_dvl].[vVehicleDriver]
AS
 SELECT [LinkId]      
	  ,convert(datetime, convert(varchar, [StartDate], 120), 120) as [StartDate] --truncate to second	  
	  ,convert(datetime, convert(varchar, [EndDate], 120), 120) as [EndDate] --truncate to second
      ,[IndustryUserId]
      ,[VehicleLicenseNumber]
      ,[IsActive]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[ModifiedVia]
      ,[VehicleLicenceHolderId]
      ,[DriverLicenceNumber]
      ,[WasLinkBroken]
      ,[IsExpired]
	  ,[RegistrationNumberFK]
	  ,[HistoricalVehicleLicenceNumber]
  FROM [cabs_dvl].[VehicleDriver]


GO
