USE [cabs_production]
GO
/****** Object:  View [cabs_spsv].[vDriverLicenceStateMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cabs_spsv].[vDriverLicenceStateMaster]
AS
	SELECT  LSM.LicenceStateMasterId,
			LSM.NAME AS LicenceStateMasterName,
			LS.LicenceStateId,
			LS.NAME AS LicenceStateName,
			IIF(LS.NAME IS NULL, LSM.NAME, CONCAT(LSM.NAME, ' - ', LS.NAME)) AS LicenceStatus
	FROM [DL].[LICENCESTATEMASTER] LSM
	LEFT JOIN [DL].[LICENCESTATE] LS ON LS.LICENCESTATEMASTERID = LSM.LICENCESTATEMASTERID

GO
