USE [cabs_production]
GO
/****** Object:  View [dbo].[vQuestionBadPairs_withItemCode]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vQuestionBadPairs_withItemCode] as
with step1 as 
(
	SELECT 
	qbp.[ID]
   ,qbp.[Question1ID]
   ,isnull(cabs_sk.GetQuestionItemCode(isnull(q.CurrentId,q.ID),1),'') + ' (' + isnull(q.LegacyItemCode,'') + ')' as ItemCode1
	FROM [cabs_production].[cabs_sk].[QuestionBadPairs]qbp 
	left join [cabs_sk].[Question] q on q.ID=qbp.Question1ID
),step2 as
(
	SELECT 
	qbp.[ID]
   ,qbp.[Question2ID]
   ,isnull(cabs_sk.GetQuestionItemCode(isnull(q.CurrentId,q.ID),1),'') + ' (' + isnull(q.LegacyItemCode,'') + ')' as ItemCode2
	FROM [cabs_production].[cabs_sk].[QuestionBadPairs]qbp 
	left join [cabs_sk].[Question] q on q.ID=qbp.Question2ID
)
select 
	step1.Id
   ,step1.Question1ID
   ,step1.ItemCode1
   ,step2.Question2ID
   ,step2.ItemCode2
from step1 join step2 on step1.id=step2.id
GO
