USE [cabs_production]
GO
/****** Object:  View [dbo].[Skills_DL]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE view [dbo].[Skills_DL] as

--DL

select 
	a.Ppsn
   ,a.FirstName as [First name]
   ,a.LastName as [Surname]
   ,format(a.DateOfBirth,'dd/MM/yyyy') as [Date of Birth]
   ,a.PhoneNo1 as [Mobile Phone/Phone No. 1]
   ,a.PhoneNo2 as [Home No./ Phone No. 2]
   ,a.Email
   ,a.AddressLine1
   ,a.AddressLine2
   ,a.AddressLine3
   ,a.Town
   ,a.PostCode as [Postal Code]
   ,c.CountyName as [County]
   ,'' as Country
   --,a.[licencenumber] as DLS
from [Cabs_Live].[dbo].[LicenceHolderMaster] a
	left join [Cabs_Live].[dbo].[County] c on a.CountyID=c.CountyID
	join [Cabs_Live].[dbo].[LicenceMaster] lm on a.LicenceHolderId=lm.LicenceHolderId and
	(
	lm.LicenceStateMasterID in (1)
	or
	(lm.LicenceStateMasterID in (2,3,6,8,9,11,12,13) and lm.LicenceExpiryDate between cast(dateadd(year, -6, getdate()) as date) and cast(getdate() as date))
	)
GO
