USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Booking_Lead_Time]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 18-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Booking_Lead_Time]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
	
SELECT 
B.LicenceNumber,
B.CreatedDate,
B.BookingDateTime,
LMVL.LicenceExpiryDate,
Datediff(day, B.CreatedDate, B.BookingDateTime) As LeadTime,
SPVL.ProcessName,
ITY.Description As InspectionType,
LT.LicenceType,
TC.TestCentreName

FROM dbo.Booking B

LEFT OUTER JOIN dbo.LicenceMasterVL LMVL on LMVL.LicenceNumber = B.LicenceNumber
LEFT OUTER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
LEFT OUTER JOIN dbo.SystemProcessVL SPVL on SPVL.SystemProcessId = B.SystemProcessId
LEFT OUTER JOIN dbo.InspectionTime IT on IT.InspectionTimeId = B.InspectionTimeId
LEFT OUTER JOIN dbo.InspectionType ITY on ITY.InspectionTypeId = IT.InspectionTypeId
LEFT OUTER JOIN dbo.TestCentre TC on TC.TestCentreId = B.TestCentreId

WHERE Cast(B.CreatedDate As DATE) Between @StartDate And @EndDate
AND B.BookingStatusId NOT IN (SELECT BookingStatusId FROM dbo.BookingStatus WHERE VoidedBooking = 1)

END
GO
