USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Representative_Search]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		rpodgorski
-- Create date: 18-02-2014
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[Representative_Search]
(
	@FirstName nvarchar(50),
	@LastName nvarchar(50),
	@DateOfBirth datetime
)

AS

BEGIN
	
	DECLARE @HolderName nvarchar(101)	

	IF 	@FirstName IS NOT NULL
	BEGIN
SET @HolderName = RTRIM(@FirstName)
	END	
		
	IF 	@LastName IS NOT NULL
	BEGIN
SET @HolderName = coalesce(@HolderName, '') + ' ' + LTRIM(@LastName)
	END

SELECT [RepresentativeId]
	 , [FirstName]
	 , [LastName]
	 , [AddressLine1]
	 , [AddressLine2]
	 , [AddressLine3]
	 , [Town]
	 , [CountyId]
	 , [PostCode]
	 , [DateOfBirth]
	 , [PhoneNo1]
	 , [PhoneNo2]
	 , [Email]
	 , HistoryChangeId
	 , [CreatedBy]
	 , [CreatedDate]
	 , [ModifiedBy]
	 , [ModifiedDate]
FROM
	[dbo].[Representative] n

WHERE
	FirstName + ' ' + LastName LIKE @HolderName
	AND n.DateOfBirth = @DateOfBirth
END

GO
