USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemProcessInstanceVL_Finish]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SystemProcessInstanceVL_Finish]
(
@InstanceId int,
@SystemProcessId int,
@BookingId int,
@PaymentId int,
@ModifiedBy nvarchar(50),
@ModifiedDate datetime output
)

AS
BEGIN

SET NOCOUNT OFF;

DECLARE @ErrorMessage varchar(4000)

SET @ModifiedDate = GETDATE()

BEGIN TRY

		SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

		BEGIN TRANSACTION FINISH
		
			UPDATE dbo.SystemProcessInstanceVL
			SET SystemProcessId = @SystemProcessId,
			BookingId = @BookingId,
			PaymentId = @PaymentId,
			Completed = 1,
			EndDate = @ModifiedDate,
			ModifiedBy = @ModifiedBy
			WHERE InstanceId = @InstanceId
				
		IF (@BookingId IS NOT NULL AND @SystemProcessId <> 25)
		BEGIN
		
			UPDATE dbo.Booking
			SET BookingStatusId = 2, --Confirmed
			ModifiedBy = @ModifiedBy,
			ModifiedDate = @ModifiedDate
			WHERE BookingId = @BookingId
			
			INSERT INTO BookingAudit
			(
				BookingId,
				ParentId,	
				InspectionTimeId,	
				TestCentreId,	
				TestCentreLaneId,	
				BookingStatusId,	
				SystemProcessId,
				BookingDateTime,	
				BookingEndDateTime,	
				LicenceNumber,	
				RegistrationNumber,	
				BookingCancellationReasonId,
				NewLicenceHolderId,
				LateCancellation,
				LateReschedule,
				PremiumBooking,
				CreatedBy,	
				CreatedDate,	
				ModifiedBy,	
				ModifiedDate
			)
			SELECT BookingId,
				ParentId,	
				InspectionTimeId,	
				TestCentreId,	
				TestCentreLaneId,	
				BookingStatusId,	
				SystemProcessId,
				BookingDateTime,	
				BookingEndDateTime,	
				LicenceNumber,	
				RegistrationNumber,	
				BookingCancellationReasonId,
				NewLicenceHolderId,
				LateCancellation,
				LateReschedule,
				PremiumBooking,
				CreatedBy,	
				CreatedDate,	
				ModifiedBy,	
				ModifiedDate
			FROM Booking
			WHERE BookingId = @BookingId
		
		
		END
		

		COMMIT TRANSACTION FINISH
		
		RETURN @@TRANCOUNT

END TRY

BEGIN CATCH

	IF @@TRANCOUNT > 0
	BEGIN
		ROLLBACK TRANSACTION FINISH
	END
	
	SET @ErrorMessage = ERROR_MESSAGE()
	
	RAISERROR (@ErrorMessage, 16, 1);
		
	RETURN 0
	
END CATCH


END

SET NOCOUNT OFF;
GO
