USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLane_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16/11/2010>
-- Description:	<Add a test centre lane>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreLane_Insert] 
	-- Add the parameters for the stored procedure here
(
	
	@TestCentreLaneId smallint output,	
	@TestCentreId smallint,	
	@TestCentreLaneName varchar(50),
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime output,
	@TestCentreLaneTypeId int
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @CreatedDate = GETDATE()
	SET @ModifiedDate = @CreatedDate
	
	INSERT INTO TestCentreLanes
	(
		TestCentreId, 
		TestCentreLaneName,
		CreatedBy,
		CreatedDate,
		ModifiedBy,
		ModifiedDate,
		TestCentreLaneTypeID
	)
	VALUES
	(
		@TestCentreId, 
		@TestCentreLaneName,
		@CreatedBy,
		@CreatedDate,
		@ModifiedBy,
		@ModifiedDate,
		@TestCentreLaneTypeId
	)

	set @TestCentreLaneId = SCOPE_IDENTITY()

END

GO
