USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckForTestCentreConflicts]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[CheckForTestCentreConflicts] 
	(
	@TestCentreId smallint,	
	@TestCentreLaneId int,	
	@ConfigDateTime datetime,	
	@ConfigEndDateTime datetime	
)    
	RETURNS smallint
AS
BEGIN    
/*
Author:		Jim O'Brien
Date:		18-02-2011
Purpose:	This function is called by the overnight job that creates the test centre configuration records.
			The calling code will pass in the proposed time for a test centre and lane and it will retrun the number of conflicts.
*/ 
DECLARE @NoOfConflicts smallint

	Select @NoOfConflicts = Count(*)
		From dbo.[TestCentreConfiguration] 
		Where 	TestCentreId = @TestCentreId
		and		TestCentreLaneId = @TestCentreLaneId
		and		(
				(StartTime <= @ConfigDateTime and EndTime > @ConfigDateTime)
				or
				(StartTime < @ConfigEndDateTime and EndTime >= @ConfigEndDateTime)
				)
	--return result    
	RETURN @NoOfConflicts
END
GO
