USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestReason_SelectByReasonId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 19-Nov-2010
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestReason_SelectByReasonId]
(
	@PrintRequestReasonId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT PrintRequestReasonId, PrintRequestReasonDescription
	FROM dbo.PrintRequestReason
	WHERE PrintRequestReasonId = @PrintRequestReasonId
END
GO
