USE [cabs_production]
GO
/****** Object:  Table [dbo].[TestCentreConfiguration]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCentreConfiguration](
	[TestCentreConfigurationId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestCentreDefaultConfigId] [smallint] NULL,
	[TestCentreId] [int] NOT NULL,
	[TestCentreLaneId] [int] NOT NULL,
	[ConfigDate] [datetime] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_TestCentreConfiguration] PRIMARY KEY CLUSTERED 
(
	[TestCentreConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_TestCentreConfiguration_5_1765685438__K1_4_6_7]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_TestCentreConfiguration_5_1765685438__K1_4_6_7] ON [dbo].[TestCentreConfiguration]
(
	[TestCentreConfigurationId] ASC
)
INCLUDE([TestCentreLaneId],[StartTime],[EndTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_TestCentreConfiguration_5_1765685438__K3_K4_2_6_7]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_TestCentreConfiguration_5_1765685438__K3_K4_2_6_7] ON [dbo].[TestCentreConfiguration]
(
	[TestCentreId] ASC,
	[TestCentreLaneId] ASC
)
INCLUDE([TestCentreDefaultConfigId],[StartTime],[EndTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TestCentreConfiguration]    Script Date: 14/04/2022 13:21:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_TestCentreConfiguration] ON [dbo].[TestCentreConfiguration]
(
	[TestCentreId] ASC,
	[TestCentreLaneId] ASC,
	[ConfigDate] ASC,
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestCentreConfiguration_ConfigDate]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_TestCentreConfiguration_ConfigDate] ON [dbo].[TestCentreConfiguration]
(
	[ConfigDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestCentreConfiguration_TestCentreDefaultConfigId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_TestCentreConfiguration_TestCentreDefaultConfigId] ON [dbo].[TestCentreConfiguration]
(
	[TestCentreDefaultConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCentreConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreConfiguration_Lanes] FOREIGN KEY([TestCentreLaneId])
REFERENCES [dbo].[TestCentreLanes] ([TestCentreLaneId])
GO
ALTER TABLE [dbo].[TestCentreConfiguration] CHECK CONSTRAINT [FK_TestCentreConfiguration_Lanes]
GO
ALTER TABLE [dbo].[TestCentreConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreConfiguration_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[TestCentreConfiguration] CHECK CONSTRAINT [FK_TestCentreConfiguration_TestCentre]
GO
ALTER TABLE [dbo].[TestCentreConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreConfiguration_TestCentreConfiguration] FOREIGN KEY([TestCentreConfigurationId])
REFERENCES [dbo].[TestCentreConfiguration] ([TestCentreConfigurationId])
GO
ALTER TABLE [dbo].[TestCentreConfiguration] CHECK CONSTRAINT [FK_TestCentreConfiguration_TestCentreConfiguration]
GO
