USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[GetSMSNumberChangeDetailsRaport]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Adam Nosal>
-- Create date: <5/17/2018,>
-- Description:	<Procedure for SMSM change number Report>
-- =============================================
create PROCEDURE [dbo].[GetSMSNumberChangeDetailsRaport](
	-- Add the parameters for the stored procedure here
	@StartDate datetime,
	@EndDate datetime
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
create table ReturnTable (
id int primary key identity(1,1),
licenceNumber nvarchar(50),
 driverName nvarchar(50),
 registrationDate datetime,
 previousMobilePhoneNumber nvarchar(50), 
 mobilePhoneNumber nvarchar(50)
 )

 
SET @EndDate = DATEADD(day,1, DATEDIFF(day, 0,getdate()));

Declare @LicenceNumberIterationId nvarchar(20);
Declare LicenceNumberCursor Cursor 
  LOCAL STATIC READ_ONLY FORWARD_ONLY
FOR 

SELECT  distinct TransactionAuditLog.LicenceNumber
--[SmsServiceRegistration].MobilePhoneNumber
FROM [Cabs_Live].dbo.TransactionAuditLog
WHERE TransactionAuditLog.CreatedDate BETWEEN @StartDate AND @EndDate
and TransactionAuditLog.TransactionAuditTypeID in (27, 28)
Group by TransactionAuditLog.LicenceNumber


open LicenceNumberCursor 
Fetch NEXT FROM LicenceNumberCursor INTO @LicenceNumberIterationId
WHILE @@FETCH_STATUS = 0
BEGIN 
	insert into ReturnTable (
 registrationDate ,
 licenceNumber ,
 driverName ,
 previousMobilePhoneNumber, 
 mobilePhoneNumber 
 )
	SELECT  
		distinct TransactionAuditLog.CreatedDate,
		TransactionAuditLog.LicenceNumber, 
		LicenceHolderMaster.FirstName + ' ' + LicenceHolderMaster.LastName AS 'DriverName',
		-- todo add previous mobile number
		TransactionAuditLog.OldValue,
		TransactionAuditLog.NewValue
		
	FROM [Cabs_Live].dbo.TransactionAuditLog
	left join [Cabs_Live].dbo.LicenceMaster on LicenceMaster.LicenceNumber = TransactionAuditLog.LicenceNumber
  left join [Cabs_Live].[dbo].[LicenceHolderMaster] on [LicenceHolderMaster].LicenceHolderId = LicenceMaster.LicenceHolderId
--
WHERE (TransactionAuditLog.CreatedDate BETWEEN @StartDate AND @EndDate )
and TransactionAuditLog.LicenceNumber = @LicenceNumberIterationId
and TransactionAuditLog.TransactionAuditTypeID in (27, 28)


    FETCH NEXT FROM LicenceNumberCursor INTO @LicenceNumberIterationId
END
CLOSE LicenceNumberCursor
DEALLOCATE LicenceNumberCursor

Declare @ChangeIterator int;
Declare @ChangeLicence nvarchar(20);
Declare @ChangeDate datetime;
Declare ChangeCursor Cursor 
  LOCAL STATIC READ_ONLY FORWARD_ONLY
  FOR 
SELECT  distinct ReturnTable.id
from ReturnTable;

open ChangeCursor 
Fetch NEXT FROM ChangeCursor INTO @ChangeIterator
WHILE @@FETCH_STATUS = 0
BEGIN 

Set @ChangeLicence = (select ReturnTable.licenceNumber from ReturnTable where  ReturnTable.id = @ChangeIterator)
set @ChangeDate = (select ReturnTable.registrationDate from ReturnTable where  ReturnTable.id = @ChangeIterator)
update ReturnTable 
Set ReturnTable.previousMobilePhoneNumber = 
(

	SELECT  top(1) 
		TransactionAuditLog.NewValue 
	FROM [Cabs_Live].dbo.TransactionAuditLog
	left join [Cabs_Live].dbo.LicenceMaster on LicenceMaster.LicenceNumber = TransactionAuditLog.LicenceNumber
  left join [Cabs_Live].[dbo].[LicenceHolderMaster] on [LicenceHolderMaster].LicenceHolderId = LicenceMaster.LicenceHolderId
--
WHERE TransactionAuditLog.CreatedDate<@ChangeDate
and TransactionAuditLog.LicenceNumber = @ChangeLicence
and TransactionAuditLog.TransactionAuditTypeID in (27, 28)
order by TransactionAuditLog.CreatedDate desc
)
where ReturnTable.id = @ChangeIterator ;

Fetch NEXT FROM ChangeCursor INTO @ChangeIterator 
END
CLOSE ChangeCursor
DEALLOCATE ChangeCursor


Select licenceNumber ,
 driverName ,
 registrationDate ,
 case when previousMobilePhoneNumber is null then '-' else previousMobilePhoneNumber end as 'previousMobilePhoneNumber' , 
 mobilePhoneNumber  from ReturnTable
 Where (previousMobilePhoneNumber is not null or mobilePhoneNumber is not null)
order by ReturnTable.licenceNumber, ReturnTable.registrationDate;

DROP TABLE IF EXISTS ReturnTable


END
GO
