USE [cabs_production]
GO
/****** Object:  Table [dbo].[EVGrantRegister]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVGrantRegister](
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[EVGrantStatusId] [int] NOT NULL,
	[EVGrantExpiryDate] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EVGrantRegister_1] PRIMARY KEY CLUSTERED 
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVGrantRegister] ADD  CONSTRAINT [DF_EVGrantRegister_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[EVGrantRegister] ADD  CONSTRAINT [DF_EVGrantRegister_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EVGrantRegister] ADD  CONSTRAINT [DF_EVGrantRegister_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[EVGrantRegister] ADD  CONSTRAINT [DF_EVGrantRegister_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[EVGrantRegister]  WITH CHECK ADD  CONSTRAINT [FK_EVGrantRegister_EVGrantStatus] FOREIGN KEY([EVGrantStatusId])
REFERENCES [dbo].[EVGrantStatus] ([EVGrantStatusId])
GO
ALTER TABLE [dbo].[EVGrantRegister] CHECK CONSTRAINT [FK_EVGrantRegister_EVGrantStatus]
GO
