USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_Bookings]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_Bookings]
AS
(
SELECT     dbo.Booking.BookingId, dbo.Booking.TestCentreId, dbo.Booking.InspectionTimeId, dbo.Booking.TestCentreLaneId, dbo.Booking.BookingStatusId, 
                      dbo.Booking.SystemProcessId, dbo.Booking.BookingDateTime, dbo.Booking.BookingEndDateTime, dbo.Booking.LicenceNumber, dbo.Booking.RegistrationNumber, 
                      dbo.Booking.NewLicenceHolderId, dbo.SystemProcessVL.ProcessName, dbo.BookingStatus.BookingStatusName, dbo.InspectionTime.LicenceTypeId, 
                      dbo.InspectionTime.InspectionTime, dbo.InspectionProcess.Description AS InspectionProcess, dbo.Booking.CreatedBy, dbo.Booking.CreatedDate, 
                      dbo.Booking.ModifiedBy, dbo.Booking.ModifiedDate, dbo.vw_TestCentres.TestCentreName, dbo.vw_TestCentres.AddressLine1, dbo.vw_TestCentres.AddressLine2, 
                      dbo.vw_TestCentres.AddressLine3, dbo.vw_TestCentres.Town, dbo.vw_TestCentres.ContactName, dbo.vw_TestCentres.PostCode, dbo.vw_TestCentres.Eircode,
                      dbo.vw_TestCentres.ContactNumberPrimary, dbo.vw_TestCentres.ContactNumberSecondary, dbo.vw_TestCentres.Email, 
                      dbo.vw_TestCentres.RegionName, dbo.vw_TestCentres.CountyName, dbo.vw_TestCentres.CountryName, dbo.vw_TestCentres.RegionId, 
                      dbo.vw_TestCentres.CountyId, dbo.vw_TestCentres.CountryId, dbo.InspectionType.Description AS InspectionDescription, 
                      dbo.TestCentreLanes.TestCentreLaneName
FROM         dbo.Booking with (nolock) INNER JOIN
                      dbo.InspectionTime ON dbo.Booking.InspectionTimeId = dbo.InspectionTime.InspectionTimeId INNER JOIN
                      dbo.InspectionProcess ON dbo.InspectionTime.InspectionProcessId = dbo.InspectionProcess.InspectionProcessId INNER JOIN
                      dbo.InspectionType ON dbo.InspectionTime.InspectionTypeId = dbo.InspectionType.InspectionTypeId INNER JOIN
                      dbo.BookingStatus ON dbo.Booking.BookingStatusId = dbo.BookingStatus.BookingStatusId INNER JOIN
                      dbo.SystemProcessVL ON dbo.Booking.SystemProcessId = dbo.SystemProcessVL.SystemProcessId INNER JOIN
                      dbo.TestCentreLanes ON dbo.Booking.TestCentreLaneId = dbo.TestCentreLanes.TestCentreLaneId INNER JOIN
                      dbo.vw_TestCentres ON dbo.Booking.TestCentreId = dbo.vw_TestCentres.TestCentreId
)


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[67] 4[3] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Booking"
            Begin Extent = 
               Top = 257
               Left = 470
               Bottom = 574
               Right = 659
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "InspectionTime"
            Begin Extent = 
               Top = 10
               Left = 676
               Bottom = 232
               Right = 862
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "InspectionProcess"
            Begin Extent = 
               Top = 11
               Left = 915
               Bottom = 174
               Right = 1091
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "InspectionType"
            Begin Extent = 
               Top = 184
               Left = 913
               Bottom = 416
               Right = 1086
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BookingStatus"
            Begin Extent = 
               Top = 315
               Left = 23
               Bottom = 425
               Right = 207
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SystemProcessVL"
            Begin Extent = 
               Top = 424
               Left = 40
               Bottom = 614
               Right = 211
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TestCentreLanes"
            Begin Extent = 
               Top = 0
               Left = 259
               Bottom = 169
               Right = 452
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Bookings'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_TestCentres"
            Begin Extent = 
               Top = 22
               Left = 6
               Bottom = 295
               Right = 221
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Bookings'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Bookings'
GO
