USE [cabs_production]
GO
/****** Object:  Table [dbo].[TestCentreCurrentConfigAudit]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCentreCurrentConfigAudit](
	[TestCentreCurrentConfigAuditId] [smallint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestCentreCurrentConfigId] [int] NOT NULL,
	[TestCentreId] [int] NOT NULL,
	[TestCentreLaneId] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[WeekDayId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestCentreCurrentConfigAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCentreCurrentConfigAudit]  WITH CHECK ADD FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[TestCentreCurrentConfigAudit]  WITH CHECK ADD FOREIGN KEY([TestCentreLaneId])
REFERENCES [dbo].[TestCentreLanes] ([TestCentreLaneId])
GO
ALTER TABLE [dbo].[TestCentreCurrentConfigAudit]  WITH CHECK ADD FOREIGN KEY([WeekDayId])
REFERENCES [dbo].[DaysOfTheWeek] ([DayId])
GO
