USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[XXX_CABS_ACTIVE_VEHICLE_LINK_REPORT]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[XXX_CABS_ACTIVE_VEHICLE_LINK_REPORT]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT COUNTY, [0] as [Not Active], [1] as [Active]
	FROM (
		SELECT CASE WHEN GROUPING(CountyName) = 0 THEN  CountyName ELSE 'ALL' END AS COUNTY,
		ISNULL(ActiveLink, 0) AS ACTIVE,
		COUNT(*) AS [COUNTS]
		--SELECT *
		FROM 
		(
			(
				SELECT lmv.*, dc.CountyID, c.CountyName,dc.PPSN,dc.FirstName,dc.LastName,dc.HolderName,dc.AddressLine1,dc.AddressLine2,dc.AddressLine3,dc.CompanyName,
				lsm.LicenceStateMaster,ls.LicenceState, dc.LicenceHolderId as VehicleLicenceHolderId
				FROM [cabs_production].dbo.LicenceMasterVL lmv
				INNER JOIN [cabs_production].[dbo].[LicenceHolderMaster] dc on lmv.LicenceHolderId = dc.LicenceHolderId
				left join [cabs_production].[dbo].[LicenceStateMaster] lsm on lmv.LicenceStateMasterId = lsm.LicenceStateMasterId
				left join [cabs_production].[dbo].[LicenceState] ls on lmv.LicenceStateId = ls.LicenceStateId
				INNER JOIN [dbo].[County] c on dc.CountyId = c.CountyId
				WHERE dc.CountyID = dc.CountyId AND lmv.LicenceStateMasterId=4 and dc.Ppsn not in ('123456789A', '00000000')
			) l
			LEFT JOIN  
			(
				SELECT vd.VehicleLicenceHolderId as VehicleLicenceHolderId, vd.VehicleLicenseNumber, 1 as ActiveLink from [cabs_production].cabs_cmo.IndustryUser iu
				LEFT JOIN [cabs_production].cabs_dvl.VehicleDriver vd on iu.ID = vd.IndustryUserId 
				WHERE vd.IsActive = 1 and vd.StartDate <= GETDATE() AND (vd.EndDate > GETDATE() OR vd.EndDate IS NULL)
			) link on l.LicenceNumber = link.VehicleLicenseNumber
		)
		GROUP BY l.CountyName,ISNULL(ActiveLink, 0) WITH CUBE
	) as s
	PIVOT (SUM(s.[COUNTS]) FOR ACTIVE IN ([1], [0])) as result
	ORDER BY result.COUNTY
END
GO
