USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleInspectionDocuments_SelectByInspectionId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Yuliya Khadasevich
-- Create date: 17-Oct-2013
-- =============================================
CREATE PROCEDURE [dbo].[VehicleInspectionDocuments_SelectByInspectionId]

	@VehicleInspectionID int
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	VID.ID, VID.FileName, VID.Type, VID.Data, VID.Size, VID.CreatedDate, VID.VehicleInspectionId

	FROM cabs_insp.VehicleInspectionsDocument VID
	
	WHERE VID.VehicleInspectionId = @VehicleInspectionID

END

GO
