USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Schedule_GetScheduleForDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author, Jim O'Brien>
-- Create date: <Create Date, 24-Feb-2011>
-- Description:	<Description, Seelct booking for a test centre and date>
-- =============================================
CREATE PROCEDURE [dbo].[Schedule_GetScheduleForDate]
(
@TestCentreId int,
@StartDate DateTime,
@EndDate DateTime
)
AS
DECLARE @cancelledId int
BEGIN

SET @cancelledId = (SELECT BookingStatusId FROM BookingStatus 
					WHERE UPPER(BookingStatusName) like '%CANCEL%')

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

select  tc.weekday, 
		tc.TestCentreLaneId, 
		tc.[TestCentreConfigurationId], 
		tc.StartTime, tc.EndTime, 
		b.BookingId, b.BookingDateTime, b.BookingEndDateTime, b.TestCentreLaneName
FROM
(select (datename(dw,configdate)) weekday, * --dbo.GetDayOfWeekNum(configdate)
	from dbo.[TestCentreConfiguration]
	where	testcentreid = @TestCentreId
			and configdate >= @StartDate
			and configdate < @EndDate) tc
LEFT OUTER JOIN 
(select bk.BookingId, bk.BookingDateTime, bk.BookingEndDateTime, bk.TestCentreLaneId, tcl.TestCentreLaneName 
	from dbo.booking bk, dbo.TestCentreLanes tcl
	where	bk.testcentreid = @testCentreId
			and bk.bookingdatetime >= @StartDate
			and bk.bookingdatetime < @EndDate
			and bk.TestCentreLaneId = tcl.TestCentreLaneId
			and bk.BookingStatusId not in (SELECT BookingStatusId FROM dbo.BookingStatus WHERE VoidedBooking = 1)) b
ON	b.BookingDateTime >= tc.StartTime
and		b.BookingDateTime < tc.EndTime
and		b.TestCentreLaneId = tc.TestCentreLaneId
order by tc.configdate, tc.TestCentreLaneId, tc.StartTime, b.BookingDateTime

END

GO
