USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_logCheck_ProcessLogs]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Adam Nosal
-- =============================================
CREATE                   PROCEDURE [dbo].[sch_logCheck_ProcessLogs] 
	-- Add the parameters for the stored procedure here
	(
	  @startDate datetime = '2020-08-30 10:00:00.000',
   @endDate datetime = '2020-08-30 14:50:00.000'
	)
AS
BEGIN

	SET NOCOUNT ON;

	declare @orCount int, @dcCount int;
	declare @mailbody nvarchar(max),
		@count int

--		Dear recipient, 

--This is automated alert from NTA CABS SQL Database Searches Monitoring Job. An abnormal activity on Driver Check / Public Register searches were noticed:



declare @ORInfo nvarchar(max) = 'OnlineRegister URL:  https://onlineregister.nationaltransport.ie/ <br/> <br/>' ;
declare @DCInfo nvarchar(max) = 'DriverCheck URL: DriverCheck Rest Service: https://cabsrest.nationaltransport.ie/RestDriverCheckService.svc <br/> <br/>' ;
declare @IPInfo nvarchar(max) = 'Both services hosted on WEB2 : 10.198.191.48  <br/> <br/>' ;
declare @Id int;
declare @SearchId int;
declare @SearchTerm int ;
declare @SearchDate datetime ;		

set @mailbody = 'Dear recipient, <br/> <br/>';
set @mailbody += 'This is automated alert from NTA CABS SQL Database Searches Monitoring Job. Abnormal activity on Driver Check/Public Register searches was identified:<br/> <br/>';
 	set @mailbody += @ORInfo;
	set @mailbody += @DCInfo;
set @mailbody += @IPInfo;
set @mailbody += '<br/>';
begin try 


	exec [dbo].[sch_logCheck_processOnlineRegister] 
	@startDate=@startDate,
	@endDate=@endDate;

	exec [dbo].[sch_logCheck_processDriverCheck] 
	@startDate=@startDate,
	@endDate=@endDate;


		set @orCount = (select Count(*) from [cabs_dck].[JobSearchOnlineRegisterLog]);
		set @dcCount = (select Count(*) from [cabs_dck].[JobSearchDriverCheckLog]);

		if(@orCount=0 AND @dcCount=0)
		BEGIN
		 	drop table if exists [cabs_dck].[JobSearchDriverCheckTempTable];
			drop table if exists [cabs_dck].[JobSearchDriverCheckLog];
			drop table if exists [cabs_dck].[JobSearchOnlineRegisterTempTable];
			drop table if exists [cabs_dck].[JobSearchOnlineRegisterLog];

			 return;
		END





	if(@orCount!=0)
	begin 
			set @mailbody += 'There are sequential log Searches in ONLINE REGISTER :<br/> <br/>'


			DECLARE db_OR_LogCheckCursor CURSOR FOR 
			select Id,SearchId,SearchTerm,SearchDate from [cabs_dck].[JobSearchOnlineRegisterLog]
	
			OPEN db_OR_LogCheckCursor   

			FETCH NEXT FROM db_OR_LogCheckCursor INTO @Id,@SearchId,@SearchTerm,@SearchDate
			WHILE @@FETCH_STATUS = 0
			BEGIN
				set @mailbody += '* SearchId: '+ cast(@SearchId as nvarchar(50))+' SearchTerm: '+cast(@SearchTerm as nvarchar(50))+ ' SearchDate: '+FORMAT(@SearchDate,'dd/MM/yyyy hh:mm:ss') + '  <br/>'
				FETCH NEXT FROM db_OR_LogCheckCursor INTO  @Id,@SearchId,@SearchTerm,@SearchDate
			END
			CLOSE db_OR_LogCheckCursor
			DEALLOCATE db_OR_LogCheckCursor

	END
	
set @mailbody += '<br/>';

	if(@dcCount!=0)
	Begin
			set @mailbody += 'There are sequential log Searches in DriverCheck :<br/> <br/>'


			DECLARE db_DC_LogCheckCursor CURSOR FOR 
			select Id,SearchId,SearchTerm,SearchDate from [cabs_dck].[JobSearchDriverCheckLog]

	
			OPEN db_DC_LogCheckCursor   

			FETCH NEXT FROM db_DC_LogCheckCursor INTO @Id,@SearchId,@SearchTerm,@SearchDate
			WHILE @@FETCH_STATUS = 0
			BEGIN
    				set @mailbody += '* SearchId: '+cast(@SearchId as nvarchar(50))+' SearchTerm: '+cast(@SearchTerm as nvarchar(50))+ ' SearchDate: '+FORMAT(@SearchDate,'dd/MM/yyyy hh:mm:ss')+ '  <br/>'
				FETCH NEXT FROM db_DC_LogCheckCursor INTO  @Id,@SearchId,@SearchTerm,@SearchDate
			END
			CLOSE db_DC_LogCheckCursor 
			DEALLOCATE db_DC_LogCheckCursor 
	END

	--send email
	 exec msdb.dbo.sp_send_dbmail 
	 @profile_name                  = 'CABS',        
	   --@recipients                    = 'Emily.Moses@nationaltransport.ie;Wayne.Liggett@nationaltransport.ie;anosal@openskydata.com',
		--@recipients                    = 'anosal@openskydata.com;',
		@recipients                    = 'anosal@openskydata.com;helpdesk@nationaltransport.ie;elizabeth.heggs@nationaltransport.ie;Joe.McCann@nationaltransport.ie;Rob.Reid@nationaltransport.ie',
	  @copy_recipients             = NULL,
	   @blind_copy_recipients       = NULL,
	   @subject                   = 'Searches Monitoring Job LIVE',
	   @body                       = @mailbody, 
	   @body_format                = 'HTML', 
	   @importance                  = 'NORMAL',
	   @sensitivity                 = 'NORMAL',
	   @file_attachments          = NULL,  
	   @query                       = NULL,
	   @execute_query_database          = NULL,  
	   @attach_query_result_as_file           = 0,
	   @query_attachment_filename   = NULL,  
	   @query_result_header                  = 1,
	   @query_result_width                    = 256,            
	   @query_result_separator            = ' ',
	   @exclude_query_output                  = 0,
	   @append_query_error                    = 0,
	   @query_no_truncate                     = 0,
	   @query_result_no_padding               = 0,
	   @mailitem_id                           = NULL,
	   @from_address                 = NULL,
	   @reply_to                     = NULL

		

		
	--truncate table [cabs_dck].[JobSearchDriverCheckTempTable];
	drop table if exists [cabs_dck].[JobSearchDriverCheckTempTable];
	--truncate table [cabs_dck].[JobSearchDriverCheckLog];
	drop table if exists [cabs_dck].[JobSearchDriverCheckLog];

	--truncate table [cabs_dck].[JobSearchOnlineRegisterTempTable];
	drop table if exists [cabs_dck].[JobSearchOnlineRegisterTempTable];
	--truncate table [cabs_dck].[JobSearchOnlineRegisterLog];
	drop table if exists [cabs_dck].[JobSearchOnlineRegisterLog];


END try 
begin catch 
		
	drop table if exists [cabs_dck].[JobSearchDriverCheckTempTable];
	drop table if exists [cabs_dck].[JobSearchDriverCheckLog];

	drop table if exists [cabs_dck].[JobSearchOnlineRegisterTempTable];
	drop table if exists [cabs_dck].[JobSearchOnlineRegisterLog];



DECLARE @ErrorMessage NVARCHAR(4000);
 DECLARE @ErrorSeverity NVARCHAR(max);
 DECLARE @ErrorState  NVARCHAR(max);


 SELECT
 @ErrorMessage = ERROR_MESSAGE(),
 @ErrorSeverity = ERROR_SEVERITY(),
 @ErrorState = ERROR_STATE();

 

 RAISERROR ( @ErrorMessage, -- Message text.
 @ErrorSeverity, -- Severity.
 @ErrorState -- State.
 );

end catch


end 
GO
