USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLane_Update]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16/11/2010>
-- Description:	<Update a test centre default configuration>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreLane_Update] 
	-- Add the parameters for the stored procedure here
(
	@TestCentreLaneId smallint,	
	@TestCentreId smallint,	
	@TestCentreLaneName varchar(50),
	@CreatedBy nvarchar(20),
	@CreatedDate datetime,
	@ModifiedBy nvarchar(20),
	@ModifiedDate datetime output,
	@TestCentreLaneTypeId int
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @ModifiedDate = GETDATE()

	UPDATE TestCentreLanes
	SET		
		TestCentreId = @TestCentreId, 
		TestCentreLaneName = @TestCentreLaneName,
		CreatedBy = @CreatedBy,
		CreatedDate = @CreatedDate,
		ModifiedBy = @ModifiedBy,
		ModifiedDate = @ModifiedDate,
		TestCentreLaneTypeID = 	@TestCentreLaneTypeId
	WHERE 
		TestCentreLaneId = @TestCentreLaneId
		
	
END

GO
