USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[WS_Print]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		dan Rusu
-- Create date: 13.05.2011
-- Description: creates no show inspections for bookings without inspections
-- =============================================
CREATE PROCEDURE [dbo].[WS_Print] 

@BookingID int, 
@inspectionID int,
@PrintDate datetime,
@Success bit,
@user varchar(50),
@error nvarchar(4000) output,
@successO bit output

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    
set @successO = 1  
BEGIN TRANSACTION noshow

		BEGIN TRY
		
		if @inspectionID = 0 
			begin
				--check if booking is for duplicate TP
				declare @systemProcess int 
				select @systemProcess  = b.SystemProcessId from dbo.Booking b
				where b.BookingId = @BookingID
				
				if @systemProcess <> 6
				begin
					ROLLBACK TRANSACTION noshow
					set @error = 'Tried to send inspection print log details without inspection for a booking which is not duplicate TP'
					set @successO = 0
					return					
				end
				
			
				--check if there is an inspection for this booking 
				select @inspectionID = VehicleInspectionId   from dbo.VehicleInspections vi
				where vi.BookingId = @BookingID
			end
		
		if @inspectionID = 0 
				begin
					select  @inspectionID = max(VehicleInspectionId) + 1 from dbo.VehicleInspections
					if (@inspectionID < 1000000)
						begin
							set @inspectionID = 1000001
						end
					
					--insert inspection 
					insert into dbo.VehicleInspections 
							(VehicleInspectionId, 
							RegistrationNumber,
							LicenceNumber,
							TestCentreId,
							BookingId,
							TestStartTime,
							TestResultId,
							CreatedBy,
							CreatedDate,
							ModifiedBy,
							ModifiedDate)
					select top 1 @inspectionID,
								ISNULL(b.RegistrationNumber, l.RegistrationNumber),
								l.LicenceNumber,
								b.TestCentreId,
								@BookingID,
								GETDATE(),
								5,
								@User,
								GETDATE(),
								@User,
								GETDATE()		
					
					from dbo.Booking b 
						inner join dbo.LicenceMasterVL l on l.LicenceNumber = b.LicenceNumber
					where b.BookingId = @BookingID
										
					update dbo.Booking 
						set BookingStatusId = 3 
						where BookingId = @BookingID
						and BookingStatusId = 2
						
				end
			INSERT INTO dbo.InspectionPrintLog
                                                   (InspectionId
                                                   ,PrintDate
                                                   ,Success)
                                             VALUES
                                                   (@InspectionId
                                                   ,@PrintDate 
                                                   ,@Success)
                                                   
		END TRY
		BEGIN CATCH 

		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION noshow
		END		
			set @successO = 0 
set @error = ERROR_MESSAGE() + '; line: ' + convert(nvarchar,ERROR_LINE( ))

		END CATCH

	COMMIT TRANSACTION noshow

	
END



GO
