USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[srv_GetCOVDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[srv_GetCOVDate]
@LicenceNumber varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT  top(1)    h.HistoryChangeType,a.HistoryChangeId,  a.PlateNumber, a.LicenceNumber,a.RegistrationNumber ,
                         a.ModifiedDate, a.AuditDate, a.id
FROM            LicenceMasterVLAudit AS a INNER JOIN
                         HistoryChangeType AS h ON a.HistoryChangeId = h.HistoryChangeID
WHERE        (a.LicenceNumber = @LicenceNumber) and a.AuditDate>'01/01/2013' and h.HistoryChangeID in ( 4,7,39)
order by id desc



END

GO
