USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_SuspendedLicences]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create       PROCEDURE [dbo].[RPT_SuspendedLicences]
 as 
begin

select 
vl.LicenceNumber,
vl.SuspensionStartDate,
vl.SuspensionEndDate,
(
iif( (select Count(*) FROM dbo.Booking b 
where b.BookingStatusId = 2 and b.BookingDateTime >  getdate() 
and b.LicenceNumber  = vl.LicenceNumber ) =0 ,' ' ,
(SELECT
		STUFF(
				(
				
				SELECT 
				' [ '+ 
				CAST(booking.BookingId as nvarchar(50)) 
				+ ' : ' + 
				Cast([SystemProcessVL].ProcessName as nvarchar(100))
				+ ' , ' +
				CAST(booking.BookingDateTime as nvarchar(50)) 
				+ ' ] , ' 
				  FROM dbo.Booking 
				  join [dbo].[SystemProcessVL] on Booking.[SystemProcessId] = SystemProcessVl.[SystemProcessId]
		where booking.BookingStatusId = 2 and booking.BookingDateTime >  getdate()
		and booking.LicenceNumber = vl.LicenceNumber
		FOR XML PATH ('')
		), 1, 1, '')
FROM dbo.Booking b 
where b.BookingStatusId = 2 and b.BookingDateTime >  getdate() 
and b.LicenceNumber  = vl.LicenceNumber
 GROUP BY b.LicenceNumber))
)as 'FutureBookings'

 from dbo.LicenceMasterVL vl
where (vl.LicenceStateId = 11 -- suspended 
or vl.SuspensionStartDate is not null )
and SuspensionEndDate > GETDATE()
order by LicenceNumber

END
GO
