USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceType]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceType](
	[LicenceTypeId] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LicenceType] [varchar](50) NOT NULL,
	[LicenceCategoryId] [int] NOT NULL,
	[NewLicenceFeeId] [int] NULL,
	[AllowNewLicence] [bit] NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[LicenceTypeShortCode] [varchar](1) NULL,
	[MaxVehicleAgeYears] [int] NULL,
	[MaxVehicleAgeYears1] [int] NULL,
	[MaxVehicleAgeYears2] [int] NULL,
 CONSTRAINT [PK_LicenceType] PRIMARY KEY CLUSTERED 
(
	[LicenceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceType] ADD  CONSTRAINT [DF_LicenceType_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[LicenceType] ADD  CONSTRAINT [DF_LicenceType_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LicenceType] ADD  CONSTRAINT [DF_LicenceType_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LicenceType] ADD  CONSTRAINT [DF_LicenceType_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LicenceType] ADD  CONSTRAINT [DF_LicenceType_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LicenceType]  WITH CHECK ADD  CONSTRAINT [FK_LicenceType_LicenceCategory] FOREIGN KEY([LicenceCategoryId])
REFERENCES [dbo].[LicenceCategory] ([LicenceCategoryId])
GO
ALTER TABLE [dbo].[LicenceType] CHECK CONSTRAINT [FK_LicenceType_LicenceCategory]
GO
ALTER TABLE [dbo].[LicenceType]  WITH CHECK ADD  CONSTRAINT [FK_LicenceType_LicenceType] FOREIGN KEY([LicenceTypeId])
REFERENCES [dbo].[LicenceType] ([LicenceTypeId])
GO
ALTER TABLE [dbo].[LicenceType] CHECK CONSTRAINT [FK_LicenceType_LicenceType]
GO
ALTER TABLE [dbo].[LicenceType]  WITH CHECK ADD  CONSTRAINT [FK_LicenceType_LicenceType1] FOREIGN KEY([LicenceTypeId])
REFERENCES [dbo].[LicenceType] ([LicenceTypeId])
GO
ALTER TABLE [dbo].[LicenceType] CHECK CONSTRAINT [FK_LicenceType_LicenceType1]
GO
