USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[XXX_PORTAL_PERCENTAGE_REPORT]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[XXX_PORTAL_PERCENTAGE_REPORT]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

/*
Is it possible to find out the percentages of the following from the portal please?
· Active driver to vehicle link for Taxis (including Wheelchair accessible Taxis)
· Active driver to vehicle link for Hackneys (including Wheelchair accessible Hackneys)
· Active driver to vehicle link for limos
*/
 
 Declare @HackneyActiveInPortal int,
		 @TotalActiveHackney int,
		 @TaxiActiveInPortal int,
		 @TotalActiveTaxi int,
		 @WAHActiveInPortal int,
		 @TotalActiveWAH int,
		 @WATActiveInPortal int,
		 @TotalActiveWAT int,
		 @LimoActiveInPortal int,
		 @TotalActiveLimo int,
		 @TotalHackneyInPortalCount int,
		 @TotalHackneyInSystemCount int,
		 @TotalLimoInPortalCount int,
		 @TotalLimoInSystemCount int,
		 @TotalTaxiInPOrtalCount int ,
		 @TotalTaxiInSystemCount int,
		 @GrandTotalInPortal int,
		 @GrandTotalInSystem int
 

 Set @TaxiActiveInPortal =(
SELECT
  Count(d.LicenceNumber) as TotalLicences
 FROM cabs_dvl.VehicleDriver vd
 inner Join cabs_cmo.vActiveDLLicence d on d.IndustryUserId = vd.IndustryUserId
 inner join LicenceMasterVL v on vd.VehicleLicenseNumber=v.LicenceNumber
 inner join LicenceHolderMaster h on v.LicenceHolderId = h.LicenceHolderId 
 where vd.IsActive = 1 and v.LicenceTypeId =1 and vd.StartDate <= GetDate() and (vd.EndDate >= GetDAte() or vd.EndDate is null)
 )
 Set @TotalActiveTaxi=(
select count(l.LicenceNumber)
from dbo.LicenceMasterVL l
inner join dbo.LicenceHolderMaster lh on lh.LicenceHolderId = l.LicenceHolderId
inner join dbo.LicenceType lt On l.LicenceTypeId = lt.LicenceTypeId
inner join dbo.County c on lh.CountyId = c.CountyId
--inner join cabs_cmo.vActiveDLLicence v on lh.PPSN=v.PPSN
where l.LicenceStateMasterId = 4  and l.LicenceTypeId = 1
and lh.Ppsn not in ('123456789A', '00000000') )

Set @HackneyActiveInPortal =(
SELECT
  Count(d.LicenceNumber) as TotalLicences
 FROM cabs_dvl.VehicleDriver vd
 inner Join cabs_cmo.vActiveDLLicence d on d.IndustryUserId = vd.IndustryUserId
 inner join LicenceMasterVL v on vd.VehicleLicenseNumber=v.LicenceNumber
 inner join LicenceHolderMaster h on v.LicenceHolderId = h.LicenceHolderId 
 where vd.IsActive = 1 and v.LicenceTypeId =2 and vd.StartDate <= GetDate() and (vd.EndDate >= GetDAte() or vd.EndDate is null)
 )
 Set @TotalActiveHackney=(
select count(l.LicenceNumber)
from dbo.LicenceMasterVL l
inner join dbo.LicenceHolderMaster lh on lh.LicenceHolderId = l.LicenceHolderId
inner join dbo.LicenceType lt On l.LicenceTypeId = lt.LicenceTypeId
inner join dbo.County c on lh.CountyId = c.CountyId
--inner join cabs_cmo.vActiveDLLicence v on lh.PPSN=v.PPSN
where l.LicenceStateMasterId = 4  and l.LicenceTypeId = 2
and lh.Ppsn not in ('123456789A', '00000000') )

Set @LimoActiveInPortal =(
SELECT
  Count(d.LicenceNumber) as TotalLicences
 FROM cabs_dvl.VehicleDriver vd
 inner Join cabs_cmo.vActiveDLLicence d on d.IndustryUserId = vd.IndustryUserId
 inner join LicenceMasterVL v on vd.VehicleLicenseNumber=v.LicenceNumber
 inner join LicenceHolderMaster h on v.LicenceHolderId = h.LicenceHolderId 
 where vd.IsActive = 1 and v.LicenceTypeId =3 and vd.StartDate <= GetDate() and (vd.EndDate >= GetDAte() or vd.EndDate is null)
 )
 Set @TotalActiveLimo=(
select count(l.LicenceNumber)
from dbo.LicenceMasterVL l
inner join dbo.LicenceHolderMaster lh on lh.LicenceHolderId = l.LicenceHolderId
inner join dbo.LicenceType lt On l.LicenceTypeId = lt.LicenceTypeId
inner join dbo.County c on lh.CountyId = c.CountyId
--inner join cabs_cmo.vActiveDLLicence v on lh.PPSN=v.PPSN
where l.LicenceStateMasterId = 4  and l.LicenceTypeId = 3
and lh.Ppsn not in ('123456789A', '00000000') )

Set @WATActiveInPortal =(
SELECT
  Count(d.LicenceNumber) as TotalLicences
 FROM cabs_dvl.VehicleDriver vd
 inner Join cabs_cmo.vActiveDLLicence d on d.IndustryUserId = vd.IndustryUserId
 inner join LicenceMasterVL v on vd.VehicleLicenseNumber=v.LicenceNumber
 inner join LicenceHolderMaster h on v.LicenceHolderId = h.LicenceHolderId 
 where vd.IsActive = 1 and v.LicenceTypeId =4 and vd.StartDate <= GetDate() and (vd.EndDate >= GetDAte() or vd.EndDate is null)
 )
 Set @TotalActiveWAT=(
select count(l.LicenceNumber)
from dbo.LicenceMasterVL l
inner join dbo.LicenceHolderMaster lh on lh.LicenceHolderId = l.LicenceHolderId
inner join dbo.LicenceType lt On l.LicenceTypeId = lt.LicenceTypeId
inner join dbo.County c on lh.CountyId = c.CountyId
--inner join cabs_cmo.vActiveDLLicence v on lh.PPSN=v.PPSN
where l.LicenceStateMasterId = 4  and l.LicenceTypeId = 4
and lh.Ppsn not in ('123456789A', '00000000') )

Set @WAHActiveInPortal =(
SELECT
  Count(d.LicenceNumber) as TotalLicences
 FROM cabs_dvl.VehicleDriver vd
 inner Join cabs_cmo.vActiveDLLicence d on d.IndustryUserId = vd.IndustryUserId
 inner join LicenceMasterVL v on vd.VehicleLicenseNumber=v.LicenceNumber
 inner join LicenceHolderMaster h on v.LicenceHolderId = h.LicenceHolderId 
 where vd.IsActive = 1 and v.LicenceTypeId =6 and vd.StartDate <= GetDate() and (vd.EndDate >= GetDAte() or vd.EndDate is null)
 )
 Set @TotalActiveWAH=(
select count(l.LicenceNumber)
from dbo.LicenceMasterVL l
inner join dbo.LicenceHolderMaster lh on lh.LicenceHolderId = l.LicenceHolderId
inner join dbo.LicenceType lt On l.LicenceTypeId = lt.LicenceTypeId
inner join dbo.County c on lh.CountyId = c.CountyId
--inner join cabs_cmo.vActiveDLLicence v on lh.PPSN=v.PPSN
where l.LicenceStateMasterId = 4  and l.LicenceTypeId = 6
and lh.Ppsn not in ('123456789A', '00000000') )

Set @TotalHackneyInPortalCount = @HackneyActiveInPortal + @WAHActiveInPortal
Set @TotalHackneyInSystemCount = @TotalActiveHackney + @TotalActiveWAH

Set @TotalTaxiInPortalCount = @TaxiActiveInPortal + @WATActiveInPortal
Set @TotalTaxiInSystemCount = @TotalActiveTaxi + @TotalActiveWAT

Set @GrandTotalInPortal = @TotalHackneyInPortalCount + @TotalTaxiInPortalCount + @LimoActiveInPortal
Set @GrandTotalInSystem = @TotalHackneyInSystemCount + @TotalTaxiInSystemCount + @TotalActiveLimo

Select @HackneyActiveInPortal as HackneyInPortal,
	   @TotalActiveHackney as TotalActiveHackney,
	   @WAHActiveInPortal as WAHActiveInPortal,
	   @TotalActiveWAH as TotalActiveWAH,
	   @TotalHackneyInPortalCount as TotalHackneyInPortalCount,
	   @TotalHackneyInSystemCount as TotalHackneyInSystemCount,
	   @TaxiActiveInPortal as TaxiActiveInPortal,
	   @TotalActiveTaxi as TotalActiveTaxi,
	    @WATActiveInPortal as WATActiveInPortal,
	   @TotalActiveWAT as TotalActiveWAT,
	   @TotalTaxiInPortalCount as TotalTaxiInPortalCount,
	   @TotalTaxiInSystemCount as TotalTaxiInSystemCount,
	   @LimoActiveInPortal as LimoActiveInPortal,
	   @TotalActiveLimo as TotalActiveLimo,
	   @GrandTotalInPortal as GrandTotalInPortal,
	   @GrandTotalInSystem as GrandTotalInSystem




END
GO
