USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Expiring_Licences]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 15-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Expiring_Licences]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
SELECT 

LMVL.LicenceNumber,
LT.LicenceType,
LMVL.RegistrationNumber,
LMVL.LicenceExpiryDate,
LMVL.RenewalDate,
B.BookingDateTime,
LHM.HolderName,
TC.TestCentreName,
C.CountyName,
(case when isnull(B.[BookingId],'')='' then 0 else 1 end) as Booked

FROM dbo.LicenceMasterVL LMVL

LEFT OUTER JOIN dbo.LicenceHolderMaster LHM on LHM.LicenceHolderId = LMVL.LicenceHolderId
LEFT OUTER JOIN dbo.County C on C.CountyId = LHM.CountyId
LEFT OUTER JOIN dbo.VehicleMaster VM on VM.RegistrationNumber = LMVL.RegistrationNumber
LEFT OUTER JOIN dbo.LicenceStateMaster LSM on LSM.LicenceStateMasterId = LMVL.LicenceStateMasterId
LEFT OUTER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
LEFT OUTER JOIN dbo.Booking B on B.LicenceNumber = LMVL.LicenceNumber AND B.BookingDateTime >= GETDATE()
LEFT OUTER JOIN dbo.TestCentre TC on TC.TestCentreId = B.TestCentreId

WHERE Cast(LicenceExpiryDate as date) BETWEEN @StartDate AND @EndDate

ORDER BY LMVL.LicenceNumber ASC

END
GO
