USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleInspectionDocument_SelectByDocumentId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Yuliya Khadasevich
-- Create date: 17-Oct-201
-- =============================================
CREATE PROCEDURE [dbo].[VehicleInspectionDocument_SelectByDocumentId]

	@VehicleInspectionDocumentID int
	
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
	VID.ID, VID.FileName, VID.Type, VID.Data, VID.Size, VID.CreatedDate, VID.VehicleInspectionId, VID.SourceFileName
	FROM cabs_insp.VehicleInspectionsDocument VID
	WHERE VID.ID = @VehicleInspectionDocumentID
END

GO
