USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_All_Vehicle_Licence_Booking]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create      PROCEDURE [dbo].[RPT_All_Vehicle_Licence_Booking]
@LicenceStatus varchar(max),
@LicenceType varchar(max) 

AS
BEGIN
	SET NOCOUNT ON;

SELECT 
	LMVL.LicenceNumber,
	LT.LicenceType,
	LSM.LicenceStateMaster As LicenceStatus,
	LS.LicenceState As LicenceSubStatus,
	LMVL.LicenceExpiryDate,
	LMVL.LicenceIssueDate,
	LMVL.RenewalDate,
	(select top(1) BookingDateTime from dbo.Booking
	where booking.LicenceNumber = LMVL.LicenceNumber and Booking.BookingStatusId =2 --confirmed 
	order by BookingId desc) as 'BookingDate',
	(select top(1) ip.Description from dbo.Booking b
left join dbo.InspectionTime it on it.InspectionTimeId = b.InspectionTimeId
left join dbo.InspectionProcess ip on it.InspectionProcessId = ip.InspectionProcessId
	where b.LicenceNumber = LMVL.LicenceNumber and b.BookingStatusId =2 --confirmed 
	order by BookingId desc) as 'TypeOfBooking'
FROM dbo.LicenceMasterVL LMVL
	INNER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
	LEFT OUTER JOIN dbo.LicenceStateMaster LSM on LSM.LicenceStateMasterId = LMVL.LicenceStateMasterId
	LEFT OUTER JOIN dbo.LicenceState LS on LS.LicenceStateId = LMVL.LicenceStateId
	
WHERE 1=1
	AND LT.LicenceTypeId  in (select Element from dbo.func_Split(@LicenceType,','))
	AND concat(LSM.LicenceStateMasterId,LS.LicenceStateId) in (select Element from dbo.func_Split(@LicenceStatus,','))
ORDER BY LMVL.LicenceNumber ASC

END
GO
