USE [cabs_production]
GO
/****** Object:  Table [dbo].[DefectGroups]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefectGroups](
	[DefectGroupID] [int] IDENTITY(1,1) NOT NULL,
	[DefectCategoryID] [int] NOT NULL,
	[DefectGroup] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[Manual] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_DefectGroups] PRIMARY KEY CLUSTERED 
(
	[DefectGroupID] ASC,
	[DefectCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DefectGroups]  WITH CHECK ADD  CONSTRAINT [FK_DefectGroups_DefectCategories] FOREIGN KEY([DefectCategoryID])
REFERENCES [dbo].[DefectCategories] ([DefectCategoryID])
GO
ALTER TABLE [dbo].[DefectGroups] CHECK CONSTRAINT [FK_DefectGroups_DefectCategories]
GO
