USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_CODeadCovidUpdateExtract]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create           PROCEDURE [dbo].[RPT_CODeadCovidUpdateExtract] 
	-- Add the parameters for the stored procedure here
	@VLExtentionMonths int = 3
AS
BEGIN

declare @startDate datetime =  Cast('03/13/2020' as date) ;

select 
lhm.Ccsn,
lhm.HolderName,
vl.LicenceNumber,
vl.RegistrationNumber,
lt.LicenceType,
lsm.LicenceStateMaster,
ls.LicenceState,
CONVERT(date, vl.CoExpiryDate) as 'oldCOExpiryDate',
CONVERT(date, vl.CoExpiryDate) as 'DeadDate',
CONVERT(date, DATEADD(MONTH,@VLExtentionMonths,vl.CoExpiryDate)) as 'newCOExpiryDate after extension' ,
CONVERT(date, vl.CoIssueDate) as 'oldCoIssueDate',
CONVERT(date, DATEADD(MONTH,@VLExtentionMonths,vl.CoIssueDate)) as 'newCoIssueDate' , 
CONVERT(date , vm.NctExpiryDate) as 'NctExpiryDate' ,
CONVERT(date , getdate()) as 'DateOfUpdate' ,
 lhm.Email , 
 lhm.PhoneNo1,
 lhm.PhoneNo2,
 lhm.AddressLine1,
 lhm.AddressLine2,
lhm.AddressLine3,
lhm.Town,
c.CountyName,
lhm.PostCode,
cr.CountryName
from dbo.LicenceMasterVL vl
 join [dbo].[VehicleMaster] vm on vl.RegistrationNumber = vm.RegistrationNumber
 join [dbo].[LicenceHolderMaster] lhm on vl.LicenceHolderId = lhm.LicenceHolderId
 join dbo.LicenceType lt on vl.LicenceTypeId = lt.LicenceTypeId
 join dbo.LicenceStateMaster lsm on vl.LicenceStateMasterId = lsm.LicenceStateMasterId
left join dbo.LicenceState ls on ls.LicenceStateId = vl.LicenceStateId
left join dbo.county c on c.CountyId = lhm.CountyId
left join dbo.country cr on cr.[CountryId] = lhm.CountryId

where 
	  (
	    	        vl.LicenceStateMasterId in (3,6) and 
		   vl.LicenceStateId in( 3,10, 17) and 
		   vl.CoExpiryDate >= @startDate 
	   )

	   and PlateNumber not in (
	   54501,
54594,
54652,
54705,
54717,
54671,
54695)
	  

	  END
GO
