USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Graduated_Fees_PeriodAndType]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		--
-- Create date: --
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Graduated_Fees_PeriodAndType]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
;
WITH PaymentPeriodAndType
AS (
	SELECT PVL.PaymentId
		,max(CASE 
				WHEN f.FeeName LIKE '%6 months%'
					THEN 1
				ELSE 0
				END) AS IsSixMonth
		,max(CASE 
				WHEN f.FeeName LIKE '%wav%'
					THEN 1
				ELSE 0
				END) AS IsWAV
		,SP.ProcessName
		,SP.SystemProcessId
		,max(CASE 
				WHEN f.feename LIKE '%expired%'
					OR SP.ProcessName LIKE '%late%'
					THEN 1
				ELSE 0
				END) AS IsLateFee
	FROM paymentvl PVL
	JOIN paymentitemvl ON PVL.paymentid = paymentitemvl.paymentid
	INNER JOIN dbo.BookingPayment BP ON BP.PaymentID = PVL.PaymentID
	INNER JOIN Booking B ON B.BookingId = BP.BookingId
	INNER JOIN dbo.SystemProcessVL SP ON SP.SystemProcessId = B.SystemProcessId
	JOIN fee f ON f.feeid = paymentitemvl.feeid
	WHERE (
			Cast(PVL.CreatedDate AS DATE)>= @StartDate and Cast(PVL.CreatedDate AS DATE)<= @EndDate
			) 
			and (SP.SystemProcessId=12 or SP.SystemProcessId=13 or SP.SystemProcessId=17 or 
			SP.SystemProcessId=19 or SP.SystemProcessId=21 or SP.SystemProcessId=23 or SP.SystemProcessId=24)
and (f.FeeId =15 or f.FeeId =
17 or f.FeeId =
18 or f.FeeId =
19 or f.FeeId =
31 or f.FeeId =
32 or f.FeeId =
33 or f.FeeId =
34 or f.FeeId =
35 or f.FeeId =
36 or f.FeeId =
37 or f.FeeId =
38 or f.FeeId =
39)
	GROUP BY PVL.PaymentId
		,SP.ProcessName
		,SP.SystemProcessId
	)
SELECT *
	,CASE 
		WHEN islatefee = 1
			THEN CASE 
					WHEN SystemProcessId in (12,23) -- Late Renewal  AND Late Section 15 + Renewal
						THEN CASE 
								WHEN IsSixMonth = 1
									THEN CASE 
											WHEN IsWAV = 1
												THEN '€ 212,50'
											ELSE '€ 175,00'
											END
								ELSE CASE 
										WHEN IsWAV = 1
											THEN '€ 425,00'
										ELSE '€ 350,00'
										END
								END
					WHEN SystemProcessId in (13,24) -- Late Change of Vehicle AND Late Section 15 COV
						THEN CASE 
								WHEN IsSixMonth = 1
									THEN CASE 
											WHEN IsWAV = 1
												THEN '€ 212,50'
											ELSE '€ 175,00'
											END
								ELSE CASE 
										WHEN IsWAV = 1
											THEN '€ 425,00'
										ELSE '€ 350,00'
										END
								END
					WHEN SystemProcessId = 17 -- Exchange
						THEN CASE 
								WHEN IsSixMonth = 1
									THEN CASE 
											WHEN IsWAV = 1
												THEN '€ 212,50'
											ELSE '€ 175,00'
											END
								ELSE CASE 
										WHEN IsWAV = 1
											THEN '€ 425,00'
										ELSE '€ 350,00'
										END
								END
					WHEN SystemProcessId = 19 -- Section 15 Transfer + Renewal
						THEN CASE 
								WHEN IsSixMonth = 1
									THEN CASE 
											WHEN IsWAV = 1
												THEN '€ 212,50'
											ELSE '€ 175,00'
											END
								ELSE CASE 
										WHEN IsWAV = 1
											THEN '€ 425,00'
										ELSE '€ 350,00'
										END
								END
					WHEN SystemProcessId = 21 -- Section 15 Transfer + COV
						THEN CASE 
								WHEN IsSixMonth = 1
									THEN CASE 
											WHEN IsWAV = 1
												THEN '€ 212,50'
											ELSE '€ 175,00'
											END
								ELSE CASE 
										WHEN IsWAV = 1
											THEN '€ 425,00'
										ELSE '€ 350,00'
										END
								END
					ELSE '-'
					END
		ELSE '-'
		END AS SpecificLateFeeAmount
FROM paymentperiodandtype
		
END




GO
