USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfigAudit_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Pawel Maciejewski>
-- Create date: <17.10.2017>
-- Description:	<Add a test centre current configuation>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfigAudit_Insert]
(
	@TestCentreCurrentConfigAuditId smallint output,		
	@TestCentreCurrentConfigId int,	
	@TestCentreId smallint,	
	@TestCentreLaneId int,	
	@Status nvarchar(20),	
	@WeekDayId tinyint,	
	@StartTime datetime,	
	@EndTime datetime,	
	@CreatedBy nvarchar(20),	
	@CreatedDate datetime,	
	@ModifiedBy nvarchar(20),	
	@ModifiedDate datetime
)
AS

	BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO TestCentreCurrentConfigAudit
	(
		TestCentreCurrentConfigId,
		TestCentreId,
		TestCentreLaneId,
		Status,
		WeekDayId,
		StartTime,
		EndTime,
		CreatedBy,
		CreatedDate,
		ModifiedBy,
		ModifiedDate
	)
	VALUES
	(
		@TestCentreCurrentConfigId,
		@TestCentreId,
		@TestCentreLaneId,
		@Status,
		@WeekDayId,
		@StartTime,
		@EndTime,
		@CreatedBy,
		@CreatedDate,
		@ModifiedBy,
		@ModifiedDate
	)

	set @TestCentreCurrentConfigAuditId = SCOPE_IDENTITY()

END


GO
