USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_Prometric]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_Prometric]
AS
SELECT     prom .Ppsn,  prom.AddressLine1, prom.AddressLine2, prom.AddressLine3, prom.County, prom.DateOfBirth, prom.EmailAddress,
prom.FirstName, prom.LastName, prom.Town, county.CountyID
FROM         CABS_LIVE.dbo.Prometric prom left outer join CABS_LIVE.dbo.County county on UPPER(prom.County) = UPPER(county.CountyName)


GO
