USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_GetDriverFCPs]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_GetDriverFCPs] AS
SELECT f.[Id]
	,a.[FineCode]
		,[DocketNumber]
		,[IssueDate]
		,[IssueOfficerId]
		 ,[IssueOfficerName]
		 ,[IsPaid]
		 ,f.DriverLicenceNumber
  FROM [cabs_enf].[Fines] f
  join [cabs_enf].[lkAuditItem] a
  on f.FineTypeId = a.Id
GO
