USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Temp_1]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Temp_1] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select distinct  l.LicenceNumber,lsm.LicenceStateMaster,lh.PPSN
			from Cabs_live.dbo.LicenceMaster l
			inner join Cabs_live.dbo.LicenceHolderMaster lh on l.LicenceHolderId = lh.LicenceHolderId
			join Cabs_Live.dbo.LicenceStateMaster lsm On l.LicenceStateMasterId=lsm.LicenceStateMasterId
			where l.LicenceStateMasterId = 1
			AND lh.ppsn not in ('123456789A', '00000000') and lh.ppsn not like 'NP%' and lh.ppsn not like 'NO%'
			AND lh.ppsn not in (Select lhm.ppsn from cabs_production.dbo.LicenceHolderMaster lhm join licencemastervl lmv ON lhm.LicenceHolderId = lmv.LicenceHolderId)

END
GO
