USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestReason_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestReason_SelectAll]
	
AS
BEGIN

	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SELECT PrintRequestReasonId,PrintRequestReasonDescription,
			CreatedBy,CreatedDate,
			ModifiedBy,ModifiedDate
	FROM dbo.PrintRequestReason

END
GO
