USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestMasterVLDownload_SelectByRequestId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <23/12/2010>
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestMasterVLDownload_SelectByRequestId]

	@PrintRequestMasterId int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DownloadId,PRMVLD.PrintRequestMasterId,PRMVLD.CreatedBy,
		   PRMVLD.CreatedDate,PRMVLD.ModifiedBy,PRMVLD.ModifiedDate

	FROM dbo.PrintRequestMasterVLDownload PRMVLD
	
	LEFT OUTER JOIN dbo.PrintRequestMasterVL PRMVL on PRMVL.PrintRequestMasterId = PRMVLD.PrintRequestMasterId

	WHERE PRMVLD.PrintRequestMasterId = @PrintRequestMasterId

END
GO
