USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[ReportsVL_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Andrew Snook
-- Create date: 27-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[ReportsVL_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ReportId,ReportName,ReportPath,AllowedRoles,ReportSection,[Order]
	
	FROM dbo.ReportsVL
END

GO
