USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestDetailVL_UpdateQueueItem]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 05-May-2011
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestDetailVL_UpdateQueueItem]
(
	@BatchNumber varchar(50),
	@PrintRequestId int,
	@Printed bit output
)

AS
BEGIN

	SET NOCOUNT ON;

	UPDATE dbo.PrintRequestDetailVLQueueItem
	SET Printed = 1
	WHERE BatchNumber = @BatchNumber
	AND PrintRequestId = @PrintRequestId
	
	SELECT @Printed = Printed FROM dbo.PrintRequestDetailVLQueueItem
	WHERE BatchNumber = @BatchNumber
	AND PrintRequestId = @PrintRequestId
	
	
END
GO
