USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_AllVehicleBookings]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create      PROCEDURE [dbo].[RPT_AllVehicleBookings]


AS
BEGIN
	SET NOCOUNT ON;

select 
lmvl.LicenceNumber,
--vm.RegistrationNumber,
case when  b.SystemProcessId in (  7,13,21,24,17) --COV or exchange(17) 
 then 
 b.RegistrationNumber
 else vm.RegistrationNumber
 end as RegistrationNumber,
b.BookingId as 'Booking ref Number',
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 nominepi.FirstName + ' '+ nominepi.LastName 
 else lhm.HolderName
 end as HolderName,
--lhm.HolderName ,
--lhm.CompanyName,
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 nominead.AddressLine1
 else lhm.AddressLine1
 end as AddressLine1,
--lhm.AddressLine1,
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 nominead.AddressLine2
 else lhm.AddressLine2
 end as AddressLine2,
--lhm.AddressLine2,
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 nominead.AddressLine3
 else lhm.AddressLine3
 end as AddressLine3,
--lhm.AddressLine3,
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 nominead.Town
 else lhm.Town
 end as Town,
--lhm.Town,
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 nominec.CountyName
 else c.CountyName
 end as CountyName,
--c.CountyName,
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 nominead.PostCode
 else lhm.PostCode
 end as PostCode,
--lhm.PostCode,
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 (select top(1) phone.PhoneNumber from person.Phone where phone.PersonId = nominep.PersonId order by phone.PhoneId asc )
 else lhm.PhoneNo1
 end as PhoneNo1,
--lhm.PhoneNo1,
case when  b.SystemProcessId in ( 19,21,23,24) --S15
 then 
 (select top(1) phone.PhoneNumber from person.Phone where phone.PersonId = nominep.PersonId order by phone.PhoneId desc )
 else lhm.PhoneNo2
 end as PhoneNo2,
--lhm.PhoneNo2,
FORMAT( CONVERT(date, b.BookingDateTime),'yyyy/MM/dd')as 'BookingDate' ,
convert(time(0),  b.BookingDateTime)as 'BookingTime' ,
bs.BookingStatusName,
tc.TestCentreName,
tcl.TestCentreLaneName,
FORMAT( CONVERT(date,b.CreatedDate),'yyyy/MM/dd')as 'CreatedDate',
sys.ProcessName,
ip.Description as 'InspectionProcess',
iType.Description as 'InspectionType' ,
--(Select top(1) i.Name from dbo.VehicleInspections vi 
--join dbo.Inspectors i on i.InspectorID = vi.InspectorId
--where vi.BookingId = b.BookingId
--order by vi.ModifiedDate desc ) as 'Inspector',
b.CreatedBy as 'Agent',
convert (nvarchar(50), vm.NctSerialNumber) as 'NctSerialNumber',
FORMAT( CONVERT(date,vm.NctIssueDate),'yyyy/MM/dd')as 'NctIssueDate',
FORMAT( CONVERT(date,vm.NctExpiryDate),'yyyy/MM/dd')as 'NctExpiryDate',
--(select top(1) pm.PaymentMethodName from dbo.BookingPayment bp 
--join dbo.PaymentVL pvl on bp.PaymentId = pvl.PaymentId
--join dbo.PaymentMethod pm on pm.PaymentMethodId = pvl.PaymentMethodId
--where bp.BookingId = b.bookingId order by pvl.ModifiedDate desc )
 case when  pm.PaymentMethodName is null and lmvl.LicenceStateId in (3,10,17) -- CO
 then 
 (select top(1) pm.PaymentMethodName from dbo.PaymentVL pvl 
join dbo.PaymentMethod pm on pm.PaymentMethodId = pvl.PaymentMethodId
where pvl.LicenceNumber = lmvl.LicenceNumber and pvl.ServiceTypeId = 7 -- new licence 
 order by pvl.ModifiedDate desc )
 else 
 pm.PaymentMethodName 
 end 
 as 'PaymentType'

from dbo.Booking b 
 join dbo.BookingStatus bs on bs.BookingStatusId = b.BookingStatusId
join dbo.LicenceMasterVL lmvl on lmvl.LicenceNumber = b.LicenceNumber
join dbo.VehicleMaster vm on vm.RegistrationNumber = lmvl.RegistrationNumber
join dbo.LicenceHolderMaster lhm on lmvl.LicenceHolderId = lhm.LicenceHolderId
left join dbo.BookingPayment bp on bp.BookingId = b.BookingId
left join dbo.PaymentVL pvl on bp.PaymentId = pvl.PaymentId
left join dbo.PaymentMethod pm on pm.PaymentMethodId = pvl.PaymentMethodId
left join dbo.County c on c.CountyId = lhm.CountyId
left join dbo.TestCentre tc on tc.TestCentreId = b.TestCentreId
left join dbo.TestCentreLanes tcl on tcl.TestCentreLaneId = b.TestCentreLaneId
left join dbo.SystemProcessVL sys on sys.SystemProcessId = b.SystemProcessId
left join dbo.InspectionTime it on it.InspectionTimeId = b.InspectionTimeId
left join dbo.InspectionProcess ip on it.InspectionProcessId = ip.InspectionProcessId
left join dbo.InspectionType iType on iType.InspectionTypeId = it.InspectionTypeId
left join dbo.LicenceNominee ln on ln.LicenceNumber = lmvl.LicenceNumber
left join person.Person nominep on nominep.PersonId = ln.PersonId
left join person.Individual nominepi on nominepi.PersonId = ln.PersonId
left join person.Address nominead on nominead.PersonId = ln.PersonId
left join person.County nominec on nominec.CountyId = nominead.CountyId
where --b.BookingStatusId in (2) -- confirmed 
b.BookingDateTime > cast (CAST( GETDATE() AS Date ) as datetime) -- today date without time part
order by vm.RegistrationNumber


END
GO
