USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LAHLink_Update]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Syed
-- Create date: 08-08-2014
-- Description:	Update LAHArea
-- =============================================
CREATE PROCEDURE [dbo].[LAHLink_Update]
(
	@VehicleLicenceNumber nvarchar(20),
	@Area nvarchar(50)
	
)
AS

BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

IF EXISTS (SELECT * FROM dbo.LAHLink WHERE VehicleLicenceNumber=@VehicleLicenceNumber)
    UPDATE dbo.LAHLink SET	Area=@Area WHERE VehicleLicenceNumber = @VehicleLicenceNumber
ELSE
    INSERT INTO dbo.LAHLink(VehicleLicenceNumber,Area)
		VALUES(@VehicleLicenceNumber,@Area)


END




GO
