USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Inspection_Pass_Fail]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 13-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Inspection_Pass_Fail]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
SELECT 

TC.TestCentreName,
I.Name,
case TR.TestResult --show 'Fail (Closed)' insepctions as 'Fail' [ZMC-366-29233]
	when 'Fail (Closed)' then 'Fail'
	else TR.TestResult
end as TestResult,
ITY.Description,
SPVL.ProcessName,
VI.TestStartTime,
VI.TestEndTime,
VI.LicenceNumber,
LT.LicenceType

FROM dbo.VehicleInspections VI

LEFT JOIN dbo.TestCentre TC on TC.TestCentreId = VI.TestCentreId
LEFT JOIN dbo.Inspectors I on I.InspectorID = VI.InspectorId
INNER JOIN dbo.TestResults TR on TR.TestResultID = VI.TestResultId
INNER JOIN dbo.LicenceMasterVL LMVL on LMVL.LicenceNumber = VI.LicenceNumber
INNER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
INNER JOIN dbo.Booking B on B.BookingId = VI.BookingId
INNER JOIN dbo.SystemProcessVL SPVL on SPVL.SystemProcessId = B.SystemProcessId
INNER JOIN dbo.InspectionTime IT on IT.InspectionTimeId = B.InspectionTimeId
INNER JOIN dbo.InspectionType ITY on ITY.InspectionTypeId = IT.InspectionTypeId

WHERE  Cast(VI.CreatedDate as DATE) Between @StartDate And @EndDate

END
GO
