USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleMaster_SelectAll_DummyRegistration]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VehicleMaster_SelectAll_DummyRegistration]

AS
BEGIN
	SET NOCOUNT ON;
					Select RegistrationNumber from VehicleMaster
					Where RegistrationNumber like '20DD543%' 
					AND RegistrationNumber not in (Select RegistrationNumber from LicenceMasterVL Where RegistrationNumber like '20DD543%' ) 
END

GO
