USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceMasterVL_SelectByPPSN]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LicenceMasterVL_SelectByPPSN]
(
@PPSN varchar(20)
)

AS


BEGIN

SET NOCOUNT ON;
    

SELECT L.LicenceNumber,H.PPSN
FROM 
    LicenceMasterVL L   
    INNER JOIN dbo.LicenceHolderMaster H
        ON L.LicenceHolderId = H.LicenceHolderId
WHERE
    H.PPSN = @PPSN


END



GO
