USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceNominee_Disassociate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LicenceNominee_Disassociate]

@LicenceNomineeId int,
@ModifiedBy VARCHAR(20)

AS
BEGIN

SET NOCOUNT ON;

DECLARE @Now DATETIME
SET @Now =  GETDATE()


IF EXISTS (SELECT * FROM LicenceNominee WHERE LicenceNomineeId = @LicenceNomineeId)
	BEGIN
		UPDATE LicenceNominee
		SET EndDate = @Now, ModifiedDate = @Now, ModifiedBy = @ModifiedBy
		WHERE LicenceNomineeId = @LicenceNomineeId
	END
END

GO
