USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentVl_UpdatePaymentMethod]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PaymentVl_UpdatePaymentMethod]
(
@ModifiedBy nvarchar(50),
@PaymentMethod int,
@PaymentId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN
		UPDATE dbo.PaymentVL SET PaymentMethodId = @paymentMethod, ModifiedBy = @ModifiedBy, ModifiedDate = GETDATE() WHERE PaymentId = @paymentId;
	END
END
GO
