USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetFirstBookingPaymentId]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetFirstBookingPaymentId] 
	(
		@BookingId int
	)    
	RETURNS int
AS
BEGIN    

DECLARE @PaymentId Int
DECLARE @SystemProcessId int
DECLARE @LicenceNumber varchar(10)

SELECT	@SystemProcessId = SystemProcessID,
		@LicenceNumber = LicenceNumber
FROM dbo.Booking
WHERE BookingId = @BookingId

SELECT @PaymentId = MIN(PV.PaymentId) FROM BookingPayment BP
INNER JOIN dbo.PaymentItemVL PV ON PV.PaymentId = BP.PaymentId
WHERE BookingId = @BookingID
AND PV.FeeId <> 6 --Exclude Late Reschedules 

--If the system process is New Licence 2
--and no payment for the booking is found
--then include all payments that are refunded on the licence
IF @SystemProcessId = 11 AND @PaymentId IS NULL
BEGIN
	SELECT @PaymentId = MIN(PaymentId) FROM dbo.PaymentVL
	WHERE LicenceNumber = @LicenceNumber
END


RETURN @PaymentId


END
GO
