USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceHolderImage]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceHolderImage](
	[LicenceHolderId] [int] NOT NULL,
	[LicenceHolderImage] [image] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LicenceHolderImages] PRIMARY KEY CLUSTERED 
(
	[LicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceHolderImage] ADD  CONSTRAINT [DF_LicenceHolderImages_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LicenceHolderImage] ADD  CONSTRAINT [DF_LicenceHolderImages_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LicenceHolderImage] ADD  CONSTRAINT [DF_LicenceHolderImages_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LicenceHolderImage] ADD  CONSTRAINT [DF_LicenceHolderImages_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LicenceHolderImage]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderImages_LicenceHolderMaster] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[LicenceHolderImage] CHECK CONSTRAINT [FK_LicenceHolderImages_LicenceHolderMaster]
GO
