USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_PrintEventLogs]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 26-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_PrintEventLogs]

@StartDate datetime,
@EndDate datetime

AS
BEGIN
	SET NOCOUNT ON;
SELECT 

Id,
Date,
Thread,
[Level],
Logger,
Message,
Usr

FROM dbo.PrintEventLogs

WHERE Date Between @StartDate AND @EndDate

END
GO
