USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[ToYearsDays]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[ToYearsDays] (@StartDate datetime, @EndDate datetime)    
	RETURNS  varchar(50)
/*
Author:		Damien Dennehy
Date:		17-01-2011
Purpose:	Renders the difference between two dates in "x years, x days" format
*/
AS
BEGIN    
--vars  
  
declare @years decimal(18,2)
declare @days decimal(18,2)

declare @strYears varchar(25)
declare @strDays varchar(25)

set @years = CONVERT(int,(datediff(day, @StartDate, @EndDate))) / 365
set @days = @years - CONVERT(decimal(18,2),(datediff(day, @StartDate, @EndDate))) / 365

if (@days < 0)
begin
	set @days = @days * -1
end

set @strYears = CONVERT(int,@years)
set @strDays =  CONVERT(int,@days * 365)

RETURN @strYears + ' year(s), ' + @strDays + ' day(s)'

END

GO
