USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TransactionAuditLog_GetByKey]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		@Author,,Name>
-- Create date: @Create Date,,>
-- Description:	@Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TransactionAuditLog_GetByKey] 
(
@TransactionUniqueKey uniqueidentifier
)
AS
BEGIN

select 
	tal.TransactionUniqueKey,
	tal.TransactionAuditTypeID,
	tal.FieldName,
	tal.OldValue,
	tal.NewValue,
	tal.CreatedBy,
	tal.AuditDateTime,
	tal.HistoryChangeTypeID,
	tal.Comments,
	lhm.PPSN,
	tal.LicenceNumber,
	tal.RegistrationNumber,
	t.TransactionAuditType,
	tal.TableName,
	tal.ModifiedBy
	from TransactionAuditLog tal 
	left outer join LicenceHolderMaster lhm ON tal.LicenceHolderId=lhm.LicenceHolderId
	left outer join TransactionAuditType t ON tal.TransactionAuditTypeID=t.TransactionAuditTypeID
Where tal.TransactionUniqueKey = @TransactionUniqueKey
order by tal.AuditDateTime desc

END
GO
