USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[XXX_OSDS_REVENUE_REPORT_SELECT_TRANSFERS]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Aleh Holub>
-- Create date: <13/09/2012>
-- Description:	<Get data for Revenue report - transfers>
-- =============================================
CREATE PROCEDURE [dbo].[XXX_OSDS_REVENUE_REPORT_SELECT_TRANSFERS]
	-- Add the parameters for the stored procedure here
	@from_date datetime, 
	@to_date datetime
AS
BEGIN
	SET NOCOUNT ON;
	--declare @from_date nvarchar(30),@to_date nvarchar(30)
IF @from_date = '1900-01-01 00:00:00.000'
	Set @from_date = '2012-01-01'
if @to_date = '1900-01-01 00:00:00.000'
	Set @to_date = GETDATE()
declare @table Table (change_reason nvarchar(50), transfer_date nvarchar(50), current_licence_number nvarchar(50)
, current_reg_number nvarchar(50), from_fname nvarchar(50), from_lname nvarchar(50), from_company nvarchar(50),
from_addr1 nvarchar(50),from_addr2 nvarchar(50),from_addr3 nvarchar(50),from_town nvarchar(50),
from_county nvarchar(50), from_postCode nvarchar(50), from_ppsn nvarchar(20), to_fname nvarchar(50), to_lname nvarchar(50),
to_company nvarchar(50), tp_addr1 nvarchar(50),tp_addr2 nvarchar(50),tp_addr3 nvarchar(50),to_town nvarchar(30),
to_county nvarchar(30), to_postcode nvarchar(20), to_ppsn nvarchar(20), from_mod_date datetime, to_mod_date datetime)

declare @change_reason nvarchar(50), @transfer_date nvarchar(50), @current_licence_number nvarchar(50)
, @current_reg_number nvarchar(50), @from_fname nvarchar(50), @from_lname nvarchar(50), @from_company nvarchar(50),
@from_addr1 nvarchar(50),@from_addr2 nvarchar(50),@from_addr3 nvarchar(50),@from_town nvarchar(50),
@from_county nvarchar(50), @from_postCode nvarchar(50), @from_ppsn nvarchar(20), @to_fname nvarchar(50), @to_lname nvarchar(50),
@to_company nvarchar(50), @to_addr1 nvarchar(50),@to_addr2 nvarchar(50),@to_addr3 nvarchar(50),@to_town nvarchar(30),
@to_county nvarchar(30), @to_postcode nvarchar(20), @to_ppsn nvarchar(20), @from_mod_date datetime,@to_mod_date datetime,
@licence_holderId int

declare C cursor for 
Select h.HistoryChangeType, l.TransferDate, l.LicenceNumber, l.RegistrationNumber, l.FirstName, l.LastName, ISNULL(l.CompanyName, ''),
l.AddressLine1, ISNULL(l.AddressLine2,''), ISNULL(l.AddressLine3,''), ISNULL(l.Town,''), c.CountyName, ISNULL(l.PostCode,''), l.Ppsn, l.ModifiedDate, l.LicenceHolderID
FROM LicenceMasterVLAudit l, HistoryChangeType h, County c
where  l.HistoryChangeId = h.HistoryChangeID and c.CountyId = l.CountyId
and l.HistoryChangeID in (7,8) and l.ModifiedDate between @from_date and @to_date --- input parameters are here
and l.LicenceNumber in (select LicenceNumber from LicenceMasterVL where LicenceStateMasterId = 4)
OPEN C
Fetch c into @change_reason, @transfer_date, @current_licence_number, @current_reg_number, @to_fname, @to_lname,
@to_company, @to_addr1, @to_addr2, @to_addr3, @to_town, @to_county, @to_postCode, @to_ppsn, @to_mod_date, @licence_holderid
while @@FETCH_STATUS = 0
	begin
		--select previous licence holder, if exists
		select top 1 @from_fname = l.FirstName , @from_lname = l.LastName,
		@from_company = ISNULL(l.CompanyName,''), @from_addr1 = l.AddressLine1, @from_addr2 = ISNULL(l.AddressLine2,''), @from_addr3 = ISNULL(l.AddressLine3,''), @from_town = ISNULL(l.Town,''), @from_county = ISNULL(c.CountyName,''), @from_postCode = ISNULL(l.PostCode,''), @from_ppsn = l.Ppsn, @from_mod_date = l.ModifiedDate
		FROM LicenceMasterVLAudit l, County c
		where  c.CountyId = l.CountyId and l.LicenceNumber = @current_licence_number and l.LicenceHolderId <>  @licence_holderId
		and l.ModifiedDate < @to_mod_date
		order by l.ModifiedDate desc
		-- INSERT INTO TEMP TABLE
		INSERT INTO @table(
			change_reason , transfer_date , current_licence_number 
			, current_reg_number , from_fname , from_lname , from_company ,
			from_addr1 ,from_addr2 ,from_addr3 ,from_town ,
			from_county , from_postCode , from_ppsn , to_fname , to_lname ,
			to_company , tp_addr1 ,tp_addr2 ,tp_addr3 ,to_town ,
			to_county, to_postcode, to_ppsn, from_mod_date, to_mod_date)
			values(
			@change_reason, @transfer_date, @current_licence_number, @current_reg_number,  -- licence details
			@from_fname, @from_lname, @from_company, @from_addr1, @from_addr2, @from_addr3, @from_town, @from_county,-- from contact details
			@from_postCode, @from_ppsn, 
			@to_fname, @to_lname, -- to contact details
			@to_company, @to_addr1, @to_addr2, @to_addr3, @to_town, @to_county, @to_postCode, @to_ppsn,
			@from_mod_date, @to_mod_date -- modified date check values
			)
		Fetch c into @change_reason, @transfer_date, @current_licence_number, @current_reg_number, @to_fname, @to_lname,
@to_company, @to_addr1, @to_addr2, @to_addr3, @to_town, @to_county, @to_postCode, @to_ppsn, @to_mod_date, @licence_holderid
	end
close C
deallocate C;

Select * from @table

END
GO
