USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreClosedDates_Delete]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Damien Dennehy>
-- Create date: <21-Jun-2011>
-- Description:	<Add a closed Test Centre Date>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreClosedDates_Delete]
(
	@ClosedDate datetime
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	DELETE FROM TestCentreClosedDates
	WHERE ClosedDate = CONVERT(Date, @ClosedDate)
	

END
GO
