USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentVL_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 CREATE PROCEDURE [dbo].[PaymentVL_Insert] 
	-- Add the parameters for the stored procedure here
(	
		@PaymentId int output,
		@LicenceNumber varchar(50),
		@PaymentMethodId int,
		@ServiceTypeId int,
		@PaymentReference varchar(50),
		@Amount smallmoney,
		@CustomerName nvarchar(100),
		@Comment nvarchar(2000),
		@CreatedBy nvarchar(50),	
		@CreatedDate datetime output,	
		@ModifiedBy nvarchar(50),	
		@ModifiedDate datetime output
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate

	INSERT INTO [dbo].[PaymentVL]
			   (
			   [LicenceNumber],
			   [PaymentMethodId],
			   [ServiceTypeId],
			   [PaymentReference],
			   [Amount],
			   [CustomerName],
			   [Comment],
			   [CreatedBy],
			   [CreatedDate],
			   [ModifiedBy],
			   [ModifiedDate]
			   )
		 VALUES
			   (
			   @LicenceNumber,
			   @PaymentMethodId,
			   @ServiceTypeId,
			   @PaymentReference,
			   @Amount,
			   @CustomerName,
			   @Comment,
			   @CreatedBy,
	     	   @CreatedDate, 
			   @ModifiedBy,
			   @ModifiedDate
			   
			   )
	
		SET @PaymentId = SCOPE_IDENTITY()
END
GO
