USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_BookingCancellation]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RPT_BookingCancellation]
AS
Begin
    SELECT distinct isnull(lhm.HolderName,'') as [Name],
AddressLine1,
isnull(AddressLine2,'') as [AddressLine2],
isnull(AddressLine3,'') as [AddressLine3],
isnull(Town,'') as [Town],
CountyName as [County],
isnull(PostCode,'') as [PostCode],
b.LicenceNumber as [Licence No],
b.RegistrationNumber as [Registration No],
lt.LicenceType as [Category],
b.BookingId as [Booking Ref No],
(select convert(nvarchar,min(ba.CreatedDate),103) from dbo.BookingAudit ba
where ba.BookingId=b.BookingId and ba.BookingStatusId = 5) as [Cancellation Date],
BookingCancellationReason as [Cancellation Reason],
(select SUM(pvl.amount) from Booking b1
inner join BookingPayment bp on b.BookingId=bp.BookingId
inner join PaymentVL pvl on pvl.PaymentId=bp.PaymentId where b.BookingId=b1.BookingId
 group by b1.BookingId) as [Total Fees Paid],
(select SUM(prvl.amount) from Booking b1
inner join BookingRefund br on b.BookingId=br.BookingId
inner join PaymentRefundVL prvl on prvl.RefundId=br.RefundId where b.BookingId=b1.BookingId
 group by b1.BookingId) as [Total Refund],
((select SUM(pvl.amount) from Booking b1
inner join BookingPayment bp on b.BookingId=bp.BookingId
inner join PaymentVL pvl on pvl.PaymentId=bp.PaymentId where b.BookingId=b1.BookingId
 group by b1.BookingId) - (select SUM(prvl.amount) from Booking b1
inner join BookingRefund br on b.BookingId=br.BookingId
inner join PaymentRefundVL prvl on prvl.RefundId=br.RefundId where b.BookingId=b1.BookingId
 group by b1.BookingId)) as [Total Incurred],
PaymentReference,
br.RefundId
 FROM dbo.Booking b
INNER JOIN dbo.LicenceMasterVL lmvl ON lmvl.LicenceNumber=b.LicenceNumber
INNER JOIN dbo.VehicleMaster vm ON vm.RegistrationNumber=b.RegistrationNumber
INNER JOIN dbo.LicenceType lt ON lt.LicenceTypeId=lmvl.LicenceTypeId
INNER JOIN dbo.LicenceHolderMaster lhm ON lhm.LicenceHolderID=lmvl.LicenceHolderID
INNER JOIN dbo.County c on c.CountyId=lhm.CountyId
LEFT JOIN dbo.BookingCancellationReason bcr ON bcr.BookingCancellationReasonId=b.BookingCancellationReasonId
INNER JOIN dbo.BookingPayment bp on bp.BookingId=b.BookingId
LEFT JOIN dbo.PaymentVL pvl on pvl.PaymentId=bp.PaymentId
INNER JOIN dbo.BookingRefund br on br.BookingId = b.BookingId
INNER JOIN dbo.PaymentRefundVL prvl on prvl.RefundID = br.RefundID
left join dbo.VehicleInspections vi on vi.BookingId = b.BookingId

where b.ModifiedDate > GETDATE()-7
and b.BookingStatusId=5
and prvl.CreatedBy <> 'NOSHOW Job'
and pvl.PaymentMethodId not in (3,4)
and vi.VehicleInspectionId is null


end
GO
