USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLane_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16-Nov-2010>
-- Description:	<Select all Test Centre Default configurations>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreLane_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SELECT	TestCentreLaneId,
			TestCentreId,
			TestCentreLaneName,
			CreatedBy,
			CreatedDate,
			ModifiedBy,
			ModifiedDate
	FROM TestCentreLanes
	WHERE TestCentreLaneId not in (130,122)
END
GO
