USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentItemVL_Update]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 06-Oct-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[PaymentItemVL_Update]
(
@PaymentItemId int,
@PaymentId int,
@PaymentStatusId int,
@FeeId int,
@Amount smallmoney,
@Comments nvarchar(max),
@CreatedDate datetime,
@CreatedBy nvarchar(20),
@ModifiedBy nvarchar(50),
@ModifiedDate datetime output
)
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SET @ModifiedDate = GETDATE()

	UPDATE dbo.PaymentItemVL
	
	SET 
	PaymentId = @PaymentId,
	PaymentStatusId = @PaymentStatusId,
	FeeId = @FeeId,
	Amount = @Amount,
	Comments = @Comments,
	ModifiedBy = @ModifiedBy,
	ModifiedDate = @ModifiedDate
	
	WHERE PaymentItemId = @PaymentItemId
	
END
GO
