USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_RefundDrilldown_RefundItems]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 12-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_RefundDrilldown_RefundItems]

@RefundId int

AS
BEGIN
	SET NOCOUNT ON;
	
SELECT DISTINCT

	RI.RefundItemId,
	RI.RefundId,
	PIV.PaymentId,
	RI.PaymentItemId,
	PIV.Amount,
	PIV.Comments,
	F.FeeName,
	RI.CreatedDate,
	RI.CreatedBy

FROM dbo.PaymentRefundItemVL RI

LEFT OUTER JOIN dbo.PaymentItemVL PIV ON PIV.PaymentItemId = RI.PaymentItemId
LEFT OUTER JOIN dbo.Fee F ON F.FeeId = PIV.FeeId

WHERE @RefundId = RefundId

END
GO
