USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfigAudit_SelectDeletedByTestCentreId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Pawel Maciejewski>
-- Create date: <31.10.2017>
-- Description:	<Add a test centre current configuation>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfigAudit_SelectDeletedByTestCentreId]
(
	@TestCentreId int
)
AS

	BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT  [dc].[TestCentreConfigurationId] as [TestCentreCurrentConfigId],
			[dc].[TestCentreDefaultConfigId],
			[dc].[TestCentreId],
			[tc].[TestCentreName],
			[dc].[TestCentreLaneId],
			[tcl].[TestCentreLaneName],
			[dc].[ConfigDate],
			[dc].[StartTime],
			[dc].[EndTime],
			[dc].[CreatedBy],
			[dc].[CreatedDate],
			[dc].[ModifiedBy],
			[dc].[ModifiedDate],
			1 as [IsDeleted]
	FROM [cabs_production].[dbo].[TestCentreConfigurationAudit] dc
			left outer join [dbo].[TestCentre] tc ON [dc].[TestCentreId] = [tc].[TestCentreId]
			left outer join [dbo].[TestCentreLanes] tcl ON [dc].[TestCentreLaneId] = [tcl].[TestCentreLaneId]
	
	WHERE dc.[TestCentreConfigurationId] NOT IN (
		SELECT [TestCentreId]
		FROM [cabs_production].[dbo].[TestCentreConfiguration])
		AND
		dc.[TestCentreId] = @TestCentreId
		
	ORDER BY
		dc.TestCentreId, dc.StartTime

END

GO
