USE [cabs_production]
GO
/****** Object:  View [dbo].[Nominee_VL]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[Nominee_VL] as
select distinct
	a.Ppsn
   ,a.FirstName as [First name]
   ,a.LastName as [Surname]
   ,format(a.DateOfBirth,'dd/MM/yyyy') as [Date of Birth]
   ,a.PhoneNo1 as [Mobile Phone/Phone No. 1]
   ,a.PhoneNo2 as [Home No./ Phone No. 2]
   ,a.Email
   ,a.AddressLine1
   ,a.AddressLine2
   ,a.AddressLine3
   ,a.Town
   ,a.PostCode as [Postal Code]
   ,c.CountyName as [County]
   ,'' as [Country]
   --,lm.LicenceNumber as VLS
from [dbo].[Nominee] a
	left join [dbo].[County] c on a.CountyID=c.CountyId
	left join [dbo].[LicenceNominee] ln on a.NomineeId=ln.NomineeId
	join [dbo].[LicenceMasterVL] lm on ln.LicenceNumber=lm.LicenceNumber and
	(
	lm.LicenceStateMasterId in (4)
	or
	(lm.LicenceStateMasterId in (5,6) and lm.LicenceExpiryDate between cast(dateadd(year, -2, getdate()) as date) and cast(getdate() as date))
	)
where a.NomineeTypeId=1
GO
