USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPTS_UnlinkedLicencesCompare_ComplianceCheck]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sumayya Sayed
-- Create date: 15/11/2016
-- Description:	SSRS report to compare unlinked licences during complaince Check

   --EXEC [dbo].[RPTS_UnlinkedLicencesCompare_ComplianceCheck] '2016-11-01','2016-11-30' 
-- =============================================
CREATE PROCEDURE [dbo].[RPTS_UnlinkedLicencesCompare_ComplianceCheck]
	@StartDate datetime = NULL,
	@EndDate datetime = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

;WITH grp AS (
  SELECT ID, ISNULL(VehicleLicenceNumber,'') AS VehicleLicenceNumber ,ISNULL(LicenceNumber,'') AS LicenceNumber
       , ROW_NUMBER() OVER (PARTITION BY VehicleLicenceNumber,LicenceNumber order by [DateTime] desc) AS RN
    FROM cabs_enf.SearchAudit where ( VehicleLicenceNumber is null OR LicenceNumber is null)
	AND [DateTime] between @StartDate and DATEADD(day,1,@EndDate)
	

)

--SELECT  ID,VehicleLicenceNumber,LicenceNumber
--  FROM grp
-- WHERE grp.RN = 1


select 
--DISTINCT(CONCAT(SA.VehicleLicenceNumber, SA.LicenceNumber)) as VehicleLicence,
 ud.[FullName] as EnforcementOfficerName,  convert(nvarchar(MAX), SA.[DateTime], 20) AS AuditDateTime
 ,ISNULL(SA.VehicleLicenceNumber,'') AS VehicleLicenceNumber ,ISNULL(SA.LicenceNumber,'') AS DriverLicenceNumber
 --, SA.VehicleLicenceNumber, SA.LicenceNumber
 ,ISNULL(SA.Street,'') AS Street
--, SA.* 

,'No' AS DriverLinkAtTimeOfSearch 
,dbo.IsVehicleOrDriverLinked(SA.VehicleLicenceNumber,SA.LicenceNumber) as ActiveDriverLink

,ISNULL((select top 1 VehicleLicenseNumber from cabs_dvl.VehicleDriver where DriverLicenceNumber= SA.LicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is null OR IsExpired=0)),'') as LinkedVehicle

,ISNULL((select top 1 DriverLicenceNumber from cabs_dvl.VehicleDriver where VehicleLicenseNumber= SA.VehicleLicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)),'') as LinkedDriver

,case when SA.LicenceNumber is not null THEN ISNULL(CAST((select top 1 StartDate from cabs_dvl.VehicleDriver where DriverLicenceNumber= SA.LicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)) AS VARCHAR(20)),'')
ELSE ISNULL(CAST((select top 1 StartDate from cabs_dvl.VehicleDriver where VehicleLicenseNumber= SA.VehicleLicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)) AS VARCHAR(20)) , '') end as ActiveLinkStartDate

,case when SA.LicenceNumber is not null Then ISNULL(CAST((select top 1 EndDate from cabs_dvl.VehicleDriver where DriverLicenceNumber= SA.LicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)) AS VARCHAR(20)),'') 
else ISNULL(CAST((select top 1 EndDate from cabs_dvl.VehicleDriver where VehicleLicenseNumber= SA.VehicleLicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is  null OR IsExpired=0)) AS VARCHAR(20)),'') end as ActiveLinkEndDate

,ISNULL(LHMV.HolderName,'') AS VehicleHolderName,ISNULL(LHMV.AddressLine1,'') AS VAddress1,ISNULL(LHMV.AddressLine2,'') AS VAddress2,
ISNULL(LHMV.AddressLine3,'') AS VAddress3,ISNULL(LHMV.Town,'') as VTown,
ISNULL(VC.CountyName,'') AS VCountyName ,ISNULL(LHMV.PostCode,'') as VPostCode
,ISNULL(LHMD.HolderName,'') As DriverHolderNAme, ISNULL(LHMD.AddressLine1,'') AS DAddress1,ISNULL(LHMD.AddressLine2,'') AS DAddress2,ISNULL(LHMD.AddressLine3,'') AS DAddress3,ISNULL(LHMD.Town,'') as DTown,
ISNULL(DC.CountyName,'') AS DCountyName
,ISNULL(LHMD.PostCode,'') as DPostCode


,SA.SearchError AS SearchErrorFlag
,Case when SA.SearchError = 1 THEN 'Yes' ELSE 'No' END AS SearchError

from cabs_enf.SearchAudit SA
inner join [cabs_cmo].[UserDetails] ud on ud.UserId=SA.EnforcementOfficerUId

left join [cabs_production].dbo.LicenceMasterVL LMV on LMV.LicenceNumber = SA.VehicleLicenceNumber
Left join [cabs_production].dbo.LicenceHolderMaster LHMV on LHMV.LicenceHolderID = LMV.LicenceHolderID
Left join[cabs_production].dbo.County VC on VC.CountyID = LHMV.CountyID

Left join [Cabs_Live].dbo.LicenceMaster LMD on LMD.LicenceNumber = SA.LicenceNumber
Left join [Cabs_Live].dbo.LicenceHolderMaster LHMD on LHMD.LicenceHolderID = LMD.LicenceHolderID
Left join[Cabs_Live].dbo.County DC on DC.CountyID = LHMD.CountyID

Left join grp on grp.Id = SA.Id

where 
SA.[DateTime] between @StartDate and DATEADD(day,1,@EndDate)
and ( SA.VehicleLicenceNumber is null OR SA.LicenceNumber is null)
--and Id in (select MAX(Id) from cabs_enf.SearchAudit group by CONCAT(VehicleLicenceNumber,LicenceNumber) )
AND grp.RN = 1
order by SA.[DateTime]  DESC

end
GO
