USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleModel_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VehicleModel_SelectAll]
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT ModelId,MakeId,Model,Active,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate
	FROM dbo.VehicleModel
END
GO
