USE [cabs_production]
GO
/****** Object:  View [dbo].[Pass_Module]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[Pass_Module] as
with version1 as
(
select 
	 ctm.[CandidateTestID]
	,m.[Code]
	,tr.[Description]
from [cabs_sk].[CandidateTestModule] ctm 
	left join [cabs_sk].[Module] m on ctm.ModuleID=m.ID
	left join [cabs_sk].[TestResult] tr on ctm.ResultID=tr.ID
where
	m.[Code]='AK' and tr.[Description]='Pass'
),version2 as
(
select 
	 ctm.[CandidateTestID]
	,m.[Code]
	,tr.[Description]
from [cabs_sk].[CandidateTestModule] ctm 
	left join [cabs_sk].[Module] m on ctm.ModuleID=m.ID
	left join [cabs_sk].[TestResult] tr on ctm.ResultID=tr.ID
where
	m.[Code]='IK' and tr.[Description]='Pass'
),version3 as
(
select 
	 ctm.[CandidateTestID]
	,m.[Code]
	,tr.[Description]
from [cabs_sk].[CandidateTestModule] ctm 
	left join [cabs_sk].[Module] m on ctm.ModuleID=m.ID
	left join [cabs_sk].[TestResult] tr on ctm.ResultID=tr.ID
where
	m.[Code]='AKx2' and tr.[Description]='Pass'
),version4 as
(
select 
	 ctm.[CandidateTestID]
	,m.[Code]
	,tr.[Description]
from [cabs_sk].[CandidateTestModule] ctm 
	left join [cabs_sk].[Module] m on ctm.ModuleID=m.ID
	left join [cabs_sk].[TestResult] tr on ctm.ResultID=tr.ID
where
	m.[Code]='IKx2' and tr.[Description]='Pass'
)
select
	 ctm.[CandidateTestID]
	,m.[Code]
	,tr.[Description]
	,ctm.CreatedOn
from [cabs_sk].[CandidateTestModule] ctm 
	left join [cabs_sk].[Module] m on ctm.ModuleID=m.ID
	left join [cabs_sk].[TestResult] tr on ctm.ResultID=tr.ID 
where 
	(
	(ctm.[CandidateTestID] in (select [CandidateTestID] from version1) and ctm.[CandidateTestID] in (select [CandidateTestID] from version2))
	or
	(ctm.[CandidateTestID] in (select [CandidateTestID] from version3) and ctm.[CandidateTestID] in (select [CandidateTestID] from version4))
	)
	and DATEDIFF(dd,ctm.StartDateTime,getdate())<=335
--order by ctm.[CandidateTestID], m.[Code]
GO
