USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfig_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16-Nov-2010>
-- Description:	<Select all Test Centre Default configurations>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfig_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SELECT	tcc.TestCentreConfigurationId,
			tcc.TestCentreDefaultConfigId,
			tcc.TestCentreId,
			tc.TestCentreName,
			tcc.TestCentreLaneId,
			tcl.TestCentreLaneName,
			tcc.ConfigDate,
			tcc.StartTime,
			tcc.EndTime,
			tcc.CreatedBy,
			tcc.CreatedDate,
			tcc.ModifiedBy,
			tcc.ModifiedDate
	FROM dbo.TestCentreConfiguration tcc
		 left outer join dbo.TestCentre tc ON tcc.TestCentreId = tc.TestCentreId
		 left outer join dbo.TestCentreLanes tcl ON tcc.TestCentreLaneId = tcl.TestCentreLaneId

END
GO
