USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[WatServiceProvisionTime_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WatServiceProvisionTime_Insert]
	-- Add the parameters for the stored procedure here
	
	@LicenceNumberId varchar(50),
	@OperatingDayTimePeriodId tinyint,
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime output


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate

INSERT INTO WatServiceProvisionTime
(
LicenceNumberId,
OperatingDayTimePeriodId,
CreatedBy,
CreatedDate,
ModifiedBy,
ModifiedDate
)
VALUES
(
@LicenceNumberId,
@OperatingDayTimePeriodId,
@CreatedBy,
@CreatedDate,
@ModifiedBy,
@ModifiedDate
)

END
GO
