USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestDetailVL_SelectByPrintRequestId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 22-Nov-2010
-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestDetailVL_SelectByPrintRequestId]
(
	@PrintRequestId int
)

AS
BEGIN

	SET NOCOUNT ON;

	SELECT 	
	PrintRequestId, PRDVL.DespatchMethodId, DM.DespatchMethodDescription, DC.PrintCompanyId, DC.PrintCompanyName,
	PrintRequestMasterId, PrintDate,
	PRDVL.PrintRequestReasonId, PRR.PrintRequestReasonDescription,
	PRDVL.PrintRequestStatusId, PRS.PrintRequestStatusDescription,
	DespatchDate, TrackingNumber, PRDVL.CreatedBy, PRDVL.CreatedDate, PRDVL.ModifiedBy, PRDVL.ModifiedDate
		
	FROM PrintRequestDetailVL PRDVL

	LEFT OUTER JOIN dbo.DespatchMethod DM ON DM.DespatchMethodId = PRDVL.DespatchMethodId
	LEFT OUTER JOIN dbo.PrintRequestStatus PRS ON PRS.PrintRequestStatusId = PRDVL.PrintRequestStatusId
	LEFT OUTER JOIN dbo.PrintRequestReasonVL PRR ON PRR.PrintRequestReasonId = PRDVL.PrintRequestReasonId
	LEFT OUTER JOIN dbo.PrintCompany DC ON DC.PrintCompanyId = PRDVL.PrintCompanyId

	WHERE @PrintRequestId = PrintRequestId
END
GO
