USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VLBookings_SelectBookingsByBookingIdAndVLNumber]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[VLBookings_SelectBookingsByBookingIdAndVLNumber]
(
@BookingId nvarchar(50), 
@VLNumber nvarchar(50)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
select
b.LicenceNumber,
lhm.HolderName,
lm.LicenceHolderId,
b.BookingId,
sp.ProcessName as BookingType,
b.BookingDateTime, 
pm.PaymentMethodName, 
pm.PaymentMethodId,
p.PaymentId,
b.BookingStatusId,
bs.BookingStatusName,
p.Amount as PaymentAmount

from
dbo.LicenceMasterVL lm
join dbo.Booking b on b.LicenceNumber = lm.LicenceNumber
join dbo.BookingStatus bs ON b.BookingStatusId = bs.BookingStatusID
join dbo.LicenceHolderMaster lhm on lhm.LicenceHolderId = lm.LicenceHolderId
join dbo.SystemProcessVL sp on b.SystemProcessId = sp.SystemProcessId
join dbo.BookingPayment bp on bp.BookingId = b.BookingId
join dbo.PaymentVL p on bp.PaymentId = p.PaymentId
join dbo.PaymentMethod pm on p.PaymentMethodId = pm.PaymentMethodId

where 
((@BookingId = b.BookingId AND @VLNumber = lm.LicenceNumber OR cast(lm.PlateNumber as nvarchar(50))= @VLNumber )
OR
((@BookingId IS NULL OR @BookingId='')AND (@VLNumber =lm.LicenceNumber OR cast(lm.PlateNumber as nvarchar(50)) = @VLNumber))
OR
((@VLNumber IS NULL OR @VLNumber = '')AND(@BookingId = b.BookingId)))

AND b.BookingStatusId in (2,3)  -- BookingStatus: 2 - Confirmed, 3 - Completed
AND (select count(*) from PaymentItemVL where [PaymentId] = p.PaymentId and [PaymentStatusId] in (2,5)) > 0 --PaymentStatus: 2 - Paid, 5 - Waivered

order by b.BookingDateTime desc

END

GO
