USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[GetLicencesForRenewal]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Adam Nosal>
-- Create date: <5/17/2018,>
-- Description:	<Procedure for SMSM change number Report>
-- =============================================
create PROCEDURE [dbo].[GetLicencesForRenewal](
	-- Add the parameters for the stored procedure here
	@LicenceStatus int ,
	@LicenceType int,
	@VehicleAgeRestriction int,
	@LicenceExpiryRestriction int,
	@NCTExpiryRestriction int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


Select top(5000) 
LicenceMasterVL.LicenceNumber,
LicenceMasterVL.RegistrationNumber,
VehicleMaster.VehicleAge,
VehicleMaster.NctExpiryDate,
VehicleMaster.NctIssueDate,
LicenceMasterVL.LicenceExpiryDate,
LicenceStateMaster.LicenceStateMaster as 'LicenceState',
LicenceType.LicenceType as 'LicenceType'
 from LicenceMasterVL 
join VehicleMaster on VehicleMaster.RegistrationNumber = LicenceMasterVL.RegistrationNumber 
left join dbo.LicenceStateMaster on LicenceMasterVL.LicenceStateMasterId = LicenceStateMaster.LicenceStateMasterId
left join dbo.LicenceType on LicenceType.LicenceTypeId = LicenceMasterVL.LicenceTypeId
Where LicenceMasterVL.LicenceStateMasterId in (@LicenceStatus,(@LicenceStatus+3))--1 active -- 2 incactive -- 3 dead
and LicenceMasterVL.LicenceTypeId = case when @LicenceType is not null then  @LicenceType else LicenceMasterVL.LicenceTypeId end 
and VehicleMaster.VehicleAge < case when @VehicleAgeRestriction is not null then @VehicleAgeRestriction else 10000 end
and LicenceExpiryDate < case when @LicenceExpiryRestriction is not null then DATEADD( d, @LicenceExpiryRestriction, getdate()) else  DATEADD( d, 10000, getdate()) end 
and LicenceExpiryDate > getdate()
and 
(NctIssueDate > case when @NCTExpiryRestriction = 1 then  DATEADD( d, -89, getdate()) else  getdate() end 
or
NctIssueDate < case when @NCTExpiryRestriction = 0  then  DATEADD( d, -89, getdate()) else  DATEADD( d, 10000, getdate()) end 
)

END
GO
