USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_SystemProcessVLAllowedLicenceStates]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SystemProcessVLAllowedLicenceStates]
AS
SELECT     dbo.LicenceState.LicenceStateId, dbo.LicenceState.LicenceState, dbo.SystemProcessVL.SystemProcessId, dbo.SystemProcessVL.ProcessName
FROM         dbo.SystemProcessVLAllowedLicenceState INNER JOIN
                      dbo.LicenceState ON dbo.SystemProcessVLAllowedLicenceState.LicenceStateId = dbo.LicenceState.LicenceStateId INNER JOIN
                      dbo.SystemProcessVL ON dbo.SystemProcessVLAllowedLicenceState.SystemProcessId = dbo.SystemProcessVL.SystemProcessId

GO
