USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLane_SelectByTestCentreLaneId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Jim O'Brien
-- Create date: 16-Nov-2010
-- Description:	Select default configuatinos for a test centre.
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreLane_SelectByTestCentreLaneId]
(
	@TestCentreLaneId	varchar(50) = NULL
)

AS
-- If all parameters are null, throw an error
-- A parameter must be provided.

if 
(
	@TestCentreLaneId is null 
)
BEGIN
	RAISERROR ('The TestCentreId parameter must be provided.', 16, 1)
	RETURN
END

BEGIN

	SET NOCOUNT ON;

	SELECT	
			TestCentreLaneId,
			TestCentreId,
			TestCentreLaneName,
			TestCentreLaneTypeID,
			CreatedBy,
			CreatedDate,
			ModifiedBy,
			ModifiedDate
	FROM TestCentreLanes 
	WHERE TestCentreLaneId = @TestCentreLaneId


END

GO
