USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_LetterPrint_Logs_Version2]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Syed
-- Create date: 09/03/2015
-- =============================================
CREATE PROCEDURE [dbo].[RPT_LetterPrint_Logs_Version2]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;

DECLARE @PrintJobs TABLE
(
      Y int,
	  M int,
	  D int,
	  LetterRequestTypeDescription varchar(100),
	  CompleteDate  Date,
	  LetterCode  varchar(100),
	  DespatchMethod  varchar(50) NULL,
      Total int
)

INSERT INTO @PrintJobs(Y,M,D,LetterRequestTypeDescription,CompleteDate,LetterCode,DespatchMethod,Total)
Select 
t.Y,
t.M,
t.D,
LRA.LetterRequestTypeDescription,
t.CreatedDate as CompleteDate,
t.lettercode,
case when ((t.despatchmethoddescription IS NULL OR t.despatchmethoddescription ='') AND (t.Description IS NOT NULL OR t.Description <>''))  THEN t.Description
	ELSE ISNULL(t.despatchmethoddescription, 'POST') end as DespatchMethod,
t.totalnumber AS Total
FROM
(
	SELECT Year(DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))) as Y, Month(DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))) AS M, Day(DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))) As D,DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) as CreatedDate,PRM.LetterRequestTypeAuditId, LRA.lettercode,PT.Description, dm.DespatchMethodDescription, count(LRA.lettercode) as totalnumber
	from [dbo].[PrintRequestMasterVL] PRM
	JOIN [dbo].[PrintRequestDetailVL] PRD on PRD.PrintRequestMasterId = PRM.PrintRequestMasterId		
	INNER JOIN dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeAuditId
	LEFT JOIN [dbo].[DespatchMethod] dm on dm.despatchmethodid = PRD.DespatchMethodID
	LEFT JOin cabs_cmo.PrinTrequestMasterType PT ON PRM.PrintRequestMasterTypeID=PT.ID
	WHERE PRD.PrintCompanyId=1	
	 GROUP BY
			   YEAR(PRM.CreatedDate),
			   MONTH(PRM.CreatedDate),
			   Day(PRM.CreatedDate),
			   LRA.lettercode,			
			   DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)),   
			  dm.DespatchMethodDescription,
			  PRM.LetterRequestTypeAuditId,
			  PT.Description
	UNION ALL  
	SELECT Year(DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))) as Y, Month(DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))) AS M, Day(DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))) As D,DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) as LetterDate,PRM.LetterRequestTypeVLAuditId as LetterRequestTypeAuditId, LRA.lettercode,'' as Description, dm.DespatchMethodDescription, count(LRA.lettercode) as totalnumber
	from cabs_live.[dbo].[PrintRequestMaster] PRM
	INNER JOIN  cabs_production.dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeVLAuditId
	LEFT JOIN cabs_production.[dbo].[DespatchMethod] dm on dm.despatchmethodid = PRM.DespatchMethodID	
	 GROUP BY
			   YEAR(PRM.CreatedDate),
			   MONTH(PRM.CreatedDate),
			   Day(PRM.CreatedDate),
			   LRA.lettercode,
			    DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)),	
				PRM.LetterRequestTypeVLAuditId,
			  dm.DespatchMethodDescription
) t
LEFT JOIN (select distinct LetterCode, LetterRequestTypeDescription,LetterRequestTypeAuditId from dbo.LetterRequestTypeVLAudit ) LRA on LRA.LetterRequestTypeAuditId = t.LetterRequestTypeAuditId
WHere t.CreatedDate BETWEEN @StartDate AND @EndDate
order by t.y, t.m, t.d,t.lettercode, t.DespatchMethodDescription 


DECLARE @Days INT = DATEDIFF(DAY,@StartDate,@EndDate)+1 ;
Declare @i int = 0

	WHILE @i < @Days
		BEGIN 		
					
					Insert into @PrintJobs (Y,
					M,
					D,
					LetterRequestTypeDescription,
					CompleteDate,
					lettercode,
					DespatchMethod,
					Total)
					Select YEAR(DATEADD(day,@i,@StartDate)),MONTH(DATEADD(day,@i,@StartDate)),Day(DATEADD(day,@i,@StartDate)),l.LetterRequestTypeDescription,DATEADD(day,@i,@StartDate),LetterCode,'','0'
					From dbo.LetterRequestTypeVL l 
					Where l.PrintCompanyId=1 AND  l.lettercode not in (Select p.lettercode from @PrintJobs p
																		WHERE DATEADD(day,@i,@StartDate) in (p.CompleteDate)																																
																	)												
					AND l.LetterRequestTypeId not in (9,10,26,27,36)
				
					
								
				SET @i = @i + 1	
					
		CONTINUE
		END

Select * from @PrintJobs p
Order by Y,M,D

		
END








GO
