USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[CandidateQuestionScored]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[CandidateQuestionScored]
(@candidateTestQuestionID int)
 returns  int
 BEGIN
  
  Return (Select COUNT(*)  from  [cabs_production].[cabs_sk].[CandidateTestQuestionAnswer] where candidateTestQuestionID 
  In (Select candidateTestQuestionID from [cabs_production].[cabs_sk].[CandidateTestQuestion] where candidateTestQuestionID = @candidateTestQuestionID 
  and candidateAnswer =1 And IsCorrect = 1))

 END
GO
