USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLinkedUsers_SelectAvailableUsers]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TestCentreLinkedUsers_SelectAvailableUsers] @UserNameToMatch NVARCHAR(256)
	,@Roles NVARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT u.UserId
		,u.UserName AS UserName
		,m.Email AS UserEmail
		,m.IsApproved,
		ud.FullName
	FROM dbo.aspnet_Users u
	JOIN dbo.aspnet_Membership m ON u.UserId = m.UserId
	JOIN aspnet_UsersInRoles ur ON ur.UserId = m.UserId
	JOIN aspnet_Roles r ON ur.RoleId = r.RoleId
	left join cabs_cmo.UserDetails ud on ud.UserId=m.UserId 
	WHERE u.LoweredUserName LIKE LOWER(@UserNameToMatch + '%')
		AND m.UserId NOT IN (
			SELECT testcentrelinkedusers.UserId
			FROM testcentrelinkedusers
			WHERE Active = 1
			)
		AND r.LoweredRoleName IN (
			SELECT lower(element)
			FROM func_Split(@roles, ',')
			)
	ORDER BY u.UserName
END
GO
