USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreDefaultConfig_Update]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16/11/2010>
-- Description:	<Update a test centre default configuration>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreDefaultConfig_Update] 
	-- Add the parameters for the stored procedure here
(
	@TestCentreDefaultConfigId smallint,
	@TestCentreId smallint,	
	@TestCentreLaneId int,	
	@WeekDayId tinyint,	
	@StartTime datetime,	
	@EndTime datetime,	
	@Biweekly bit,
	@BiweeklyStartDate datetime,
	@BiweeklyEndDate datetime,
	@CreatedBy nvarchar(20),	
	@CreatedDate datetime,	
	@ModifiedBy nvarchar(20),	
	@ModifiedDate datetime output

)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @ModifiedDate = GETDATE()

	UPDATE TestCentreDefaultConfig
	SET	
		TestCentreId = @TestCentreId,
		TestCentreLaneId = @TestCentreLaneId,
		WeekDayId = @WeekDayId,
		StartTime = @StartTime,
		EndTime = @EndTime,
		Biweekly = @Biweekly,
		BiweeklyStartDate = @BiweeklyStartDate,
		BiweeklyEndDate = @BiweeklyEndDate,
		CreatedBy = @CreatedBy,
		CreatedDate = @CreatedDate,
		ModifiedBy = @ModifiedBy,
		ModifiedDate = @ModifiedDate
	WHERE 
		TestCentreDefaultConfigId = @TestCentreDefaultConfigId

	
END
GO
