USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_BatchCreate_TestCentreConfig_ForDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <01/12/2010>
-- Description:	<Create the test centre configuration records for the test centres for a given date.>
-- =============================================
CREATE PROCEDURE [dbo].[sch_BatchCreate_TestCentreConfig_ForDate] 
	-- Add the parameters for the stored procedure here
(
	@createDate smalldatetime
)

AS
DECLARE 		@ErrorMessage VarChar (Max)
BEGIN Try

	Set Transaction Isolation Level Serializable;

	Begin Transaction CreateTestCentreConfig

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @time_created_stamp datetime

	SET @time_created_stamp = GetDate()

	INSERT INTO [dbo].[TestCentreConfiguration]
			   ([TestCentreDefaultConfigId]
			   ,[TestCentreId]
			   ,[TestCentreLaneId]
			   ,[ConfigDate]
			   ,[StartTime]
			   ,[EndTime]
			   ,[CreatedBy]
			   ,[CreatedDate]
			   ,[ModifiedBy]
			   ,[ModifiedDate])
	SELECT tcd.[TestCentreDefaultConfigId]
		  ,tcd.[TestCentreId]
		  ,tcd.[TestCentreLaneId]
		  ,DATEADD(D, 0, DATEDIFF(D, 0, @createDate)) --ensure that the time is stripped off the configuration date.
		  ,dbo.[AppendTimeToDate](@createDate, tcd.[StartTime])
		  ,dbo.[AppendTimeToDate](@createDate, tcd.[EndTime])
		  ,'System'
		  ,@time_created_stamp
		  ,'System'
		  ,@time_created_stamp
	  FROM [dbo].[TestCentreDefaultConfig] tcd
		LEFT OUTER JOIN [dbo].[TestCentreConfiguration] tcc 
			ON tcc.[TestCentreDefaultConfigId] = tcd.[TestCentreDefaultConfigId]
				AND		tcc.ConfigDate = @createDate
	WHERE tcd.weekdayid = dbo.GetDayOfWeekNum(@createDate)
		AND tcc.[TestCentreConfigurationId] is null
		AND tcd.[StartTime] <> tcd.[EndTime]
		AND tcd.TestCentreID not in (Select TestCentreID from TestCentre where CompanyID=6)  -- stop for SGS TestCentre Slots only Applus slots will be create		
		AND dbo.[CheckForTestCentreConflicts](tcd.[TestCentreId], --Only add a record if there are no conflicts with existing config records.
											tcd.[TestCentreLaneId],
											dbo.[AppendTimeToDate](@createDate, tcd.[StartTime]),
											dbo.[AppendTimeToDate](@createDate, tcd.[EndTime])) = 0
		AND dbo.[CheckForBiweekly](	tcd.[TestCentreDefaultConfigId],
									tcd.[Biweekly],
									tcd.[BiweeklyStartDate], 
									tcd.[BiweeklyEndDate], 
									@createDate) = 1
		AND CONVERT(Date, @createDate) 	NOT IN
		(
			SELECT CONVERT(Date, ClosedDate) FROM dbo.TestCentreClosedDates
		)		
		AND DATEADD(D, 0, DATEDIFF(D, 0, @createDate)) not in (Select tca.ConfigDate from TestCentreConfigurationAudit as tca
													  where tca.ConfigDate = @createDate AND tca.StartTime = dbo.[AppendTimeToDate](@createDate, tcd.[StartTime]) 
													  AND tca.TestCentreId = tcd.TestCentreID
													  AND tca.TestCentreLaneId = tcd.[TestCentreLaneId]
													  AND tca.TestCentreDefaultConfigId = tcd.[TestCentreDefaultConfigId] 
													  AND tca.IsActive=0
													  AND tca.EndTime = dbo.[AppendTimeToDate](@createDate, tcd.[EndTime]))
		AND DATEADD(D, 0, DATEDIFF(D, 0, @createDate))  not in (Select tca.ConfigDate from TestCentreConfigurationAudit as tca
													  where tca.ConfigDate = @createDate 
													  AND tca.StartTime = dbo.[AppendTimeToDate](@createDate, tcd.[StartTime]) 
													  AND tca.TestCentreId = tcd.TestCentreID
													  AND tca.TestCentreLaneId = tcd.[TestCentreLaneId]													  
													  AND tca.IsActive=0													  
													  )										  				

	Commit Transaction CreateTestCentreConfig

End Try

Begin Catch
	--Rollback the command executed
	Rollback Transaction CreateTestCentreConfig
		
	--Set the error message equal to the error thrown
	Set @ErrorMessage = Error_Message();
	
	Begin Try
		--Log the error
	
		DECLARE @RC int
		DECLARE @log_date datetime
		DECLARE @thread varchar(256)
		DECLARE @log_level varchar(50)
		DECLARE @logger varchar(255)
		DECLARE @message varchar(4000)
		DECLARE @url varchar(200)
		DECLARE @usr varchar(50)
		DECLARE @addr varchar(256)

		SET @log_date = GETDATE()
		SET @thread = 'Overnight Job'
		SET @log_level = 'ERROR'
		SET @logger = 'TaxiRegulatorCABS - Overnight Job'
		SET @message = 'sch_BatchCreate_TestCentreConfig_ForDate @createDate = ' + CONVERT(VARCHAR(10), @createDate, 101 )  + ' - ' + @ErrorMessage
		SET @url = ''
		SET @usr = 'System'
		SET @addr = '127.0.0.1'
		-- TODO: Set parameter values here.

		EXECUTE @RC = [dbo].[EventLog_Log4Net_Insert] 
		   @log_date
		  ,@thread
		  ,@log_level
		  ,@logger
		  ,@message
		  ,@url
		  ,@usr
		  ,@addr

				
	End	Try
			
	Begin Catch
			
	--Nothing to do if the Print Event Log fails
			
	End Catch
	
	--Rethrow the error
	
	Raiserror (@ErrorMessage, 16, 1);
End Catch


GO
