USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[EventLog_Log4Net_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EventLog_Log4Net_Insert]    

		(
			@log_date datetime,
			@thread varchar(256), 
			@log_level varchar(50), 
			@logger varchar(255), 
			@message varchar(4000),
			@url varchar(200), 
			@usr varchar(50), 
			@addr varchar(256)
		)

AS

--Set Log4NetParamters to null if they are empty string values

if (@url in ('','(null)'))
BEGIN
 SET @url = null
END

if (@usr in ('','(null)'))
BEGIN
 SET @usr = null
END

if (@addr in ('','(null)'))
BEGIN
 SET @addr = null
END

INSERT INTO 

[dbo].[EventLogs]
(
	[Date],
	[Thread],
	[Level],
	[Logger],
	[Message],
	[Url],
	[Usr],
	[IPAddress]
)
VALUES
(
	@log_date,
	@thread,
	@log_level,
	@logger,
	@message,
	@url,
	@usr,
	@addr
)
GO
