USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetDayOfWeekNum]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetDayOfWeekNum] (@InDate datetime)    
	RETURNS smallint
AS
BEGIN    
--vars    
DECLARE @DayId int

	select @DayId = DayId from daysoftheweek
	where DayName = datename(dw,@InDate)

	--return result    
	RETURN @DayId
END

GO
