USE [cabs_production]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Application] [nvarchar](250) NULL,
	[EventDateTime] [nvarchar](250) NULL,
	[EventLevel] [nvarchar](250) NULL,
	[Logger] [nvarchar](max) NULL,
	[MachineName] [nvarchar](250) NULL,
	[Message] [nvarchar](max) NULL,
	[RequestDetails] [nvarchar](max) NULL,
	[Error] [nvarchar](max) NULL,
	[RequestId] [nvarchar](250) NULL,
	[ResponseId] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
