USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfig_SelectByDefaultConfigId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Jim O'Brien
-- Create date: 14-Feb-2011
-- Description:	Select current configuations for a default configuration
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfig_SelectByDefaultConfigId]
(
	@TestCentreDefaultConfigId	varchar(50) = NULL
)

AS
-- If all parameters are null, throw an error
-- A parameter must be provided.

if 
(
	@TestCentreDefaultConfigId is null 
)
BEGIN
	RAISERROR ('The TestCentreDefaultConfigId parameter must be provided.', 16, 1)
	RETURN
END

BEGIN

	SET NOCOUNT ON;

	SELECT	tcc.TestCentreConfigurationId,
			tcc.TestCentreDefaultConfigId,
			tcc.TestCentreId,
			tc.TestCentreName,
			tcc.TestCentreLaneId,
			tcl.TestCentreLaneName,
			tcc.ConfigDate,
			tcc.StartTime,
			tcc.EndTime,
			tcc.CreatedBy,
			tcc.CreatedDate,
			tcc.ModifiedBy,
			tcc.ModifiedDate
	FROM dbo.TestCentreConfiguration tcc
		 left outer join dbo.TestCentre tc ON tcc.TestCentreId = tc.TestCentreId
		 left outer join dbo.TestCentreLanes tcl ON tcc.TestCentreLaneId = tcl.TestCentreLaneId
	WHERE tcc.TestCentreDefaultConfigId = @TestCentreDefaultConfigId
	AND		tcc.ConfigDate > DATEADD(D, 0, DATEDIFF(D, 0, GetDate())) -- include values for today.
	ORDER BY tcc.ConfigDate ASC

END
GO
