USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceCategory]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceCategory](
	[LicenceCategoryId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LicenceCategoryDescription] [varchar](100) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LicenceCategory] PRIMARY KEY CLUSTERED 
(
	[LicenceCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceCategory] ADD  CONSTRAINT [DF_LicenceCategory_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LicenceCategory] ADD  CONSTRAINT [DF_LicenceCategory_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LicenceCategory] ADD  CONSTRAINT [DF_LicenceCategory_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LicenceCategory] ADD  CONSTRAINT [DF_LicenceCategory_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
