USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TransactionAuditLog_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		@Author,,Name>
-- Create date: @Create Date,,>
-- Description:	@Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TransactionAuditLog_SelectAll] 
AS
BEGIN
SELECT   
     tat.TransactionAuditType, 
	 tal.TransactionUniqueKey,
	 tal.AuditDateTime,
	 lhm.Ppsn, 
	 tal.LicenceNumber,
	 tal.FieldName,
	 tal.OldValue,
	 tal.NewValue,
	 tal.CreatedBy, 
     tal.CreatedDate,
	 tal.ModifiedBy,
	 tal.ModifiedDate,
	 tal.TableName,
	 tal.RegistrationNumber,
	 tal.Comments
FROM  TransactionAuditLog AS tal INNER JOIN
	  TransactionAuditType AS tat ON tal.TransactionAuditTypeID = tat.TransactionAuditTypeID LEFT OUTER JOIN
      LicenceHolderMaster AS lhm ON tal.LicenceHolderId = lhm.LicenceHolderId
Where (tal.CreatedBy='Helpdesk')
Order by tal.CreatedDate desc

END
GO
