USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RefundsForConditionalOffer_GetByLicenceNumber]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RefundsForConditionalOffer_GetByLicenceNumber]
(
	@LicenceNumber nvarchar(max),
	@TotalFeesPaid float out,
	@TotalRefund float out
)
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
  -- declare @LicenceNumber nvarchar(max) = 'L51496'

	declare @PaymentId int;

	set @TotalFeesPaid  = 0;
	set @TotalRefund = 0;

	Select distinct	@TotalFeesPaid = SUM(Amount)			
					from PaymentVL P
					WHERE P.LicenceNumber = @LicenceNumber --and ServiceTypeId = 7

	Select @TotalRefund = sum(Amount)   FROM [cabs_production].[dbo].[PaymentRefundVL] where LicenceNumber = @LicenceNumber

	--Check if is LAH (for LAH no refunds) TODO change it to licence type
	declare @LicenceTypeId int =
	(Select LicenceTypeId from LicenceMasterVL where LicenceNumber = @LicenceNumber)

	IF @LicenceTypeId = 7 --LOCAL AREA HACKNEY - no refunds
		BEGIN
			RETURN
		END

    --Get payment id for licence number and if service type is new licence
	set @PaymentId =  (SELECT distinct	P.PaymentId as PaymentId			
	FROM PaymentVL P
	WHERE P.LicenceNumber = @LicenceNumber and ServiceTypeId = 7);

	--tmp table with bookings for selected licence
	IF OBJECT_ID('tempdb..#tmpBookings') IS NOT NULL DROP TABLE #tmpBookings
	SELECT	*	INTO #tmpBookings FROM	dbo.vBookingWithDetails	WHERE LicenceNumber = @LicenceNumber

	--get bookings count
	declare @BookingsCount int = (Select count(*) from #tmpBookings)

	--temp table with payment items
	IF OBJECT_ID('tempdb..#tempPaymentItems') IS NOT NULL DROP TABLE #tempPaymentItems
	SELECT	PVL.PaymentItemId, 
			PVL.Amount, 
			PVL.CreatedBy, PVL.CreatedDate,
			PVL.ModifiedBy, PVL.ModifiedDate,
			PVL.Comments, 
			
			P.PaymentId as P_PaymentId, P.LicenceNumber as P_LicenceNumber, 
			P.PaymentReference as P_PaymentReference, P.Amount as P_Amount,
			P.CustomerName as P_CustomerName, P.Comment as P_Comment,
			P.CreatedBy as P_CreatedBy, P.CreatedDate as P_CreatedDate, 
			P.ModifiedBy as P_ModifiedBy, P.ModifiedDate as P_ModifiedDate,
				
			PM.PaymentMethodId as PM_PaymentMethodId, 
			PM.PaymentMethodName as PM_PaymentMethodName,
			ST.ServiceTypeId as ST_ServiceTypeId, 
			ST.ServiceTypeName as ST_ServiceTypeName,
				
			F.FeeId as F_FeeId, F.FeeAmount as F_FeeAmount, F.FeeName as F_FeeName,
       		PIS.PaymentStatusId as PIS_PaymentStatusId, 
			PIS.PaymentStatusName as PIS_PaymentStatusName
			INTO #tempPaymentItems
			FROM dbo.PaymentItemVL PVL
			  
			INNER JOIN dbo.PaymentVL P on PVL.PaymentId = P.PaymentId 
			INNER JOIN dbo.PaymentMethod PM on PM.PaymentMethodId = P.PaymentMethodId
			INNER JOIN dbo.ServiceTypeVL ST on ST.ServiceTypeId = P.ServiceTypeId
			INNER JOIN dbo.Fee F on F.FeeId = PVL.FeeId
			INNER JOIN dbo.PaymentStatus PIS on PIS.PaymentStatusId = PVL.PaymentStatusId
			
			WHERE P.PaymentId = @PaymentId


	IF @BookingsCount = 0 -- JIRA E09.02 - no booking ever
		BEGIN
			Select * from #tempPaymentItems
			where F_FeeId != 10

		--	Select @TotalRefund = SUM(F_FeeAmount) from #tempPaymentItems
		--	where F_FeeId != 10
		END
	ELSE 
		BEGIN
		
		    -- get last booking status id
			declare @bookingStatusId int = ( Select top 1 bookingstatusid from #tmpBookings order by 
			createdDate desc)

			-- if booking status id is 5 (Cancelled) or 2 (Confirmed) then no refunds
			-- JIRA: E09.05, E09.06
			IF @bookingStatusId = 5 or @bookingStatusId = 2
				BEGIN
					RETURN
				END


				
			-- get test result of last booking
			declare @bookingTestResultId int = (SELECT	top 1 TestResultId	 
             from #tmpBookings order by createdDate desc)

			-- if last booking has not incepction failed then no refunds
			IF @bookingTestResultId != 2
				BEGIN
					RETURN
				END			

			--if it is first booking (JIRA E09.03) 
			declare @oneBeforeLastbookingStatusId int = (Select top 1  bookingstatusid from (
						SELECT	top 2 *	FROM	
						#tmpBookings order by createddate desc) a
						order by a.createddate )

			IF @BookingsCount = 1 or @oneBeforeLastbookingStatusId != 5
				BEGIN -- no administration and isi fees
					Select * from #tempPaymentItems where F_FeeId != 5 and F_FeeId != 10 

				--	Select @TotalRefund = SUM(F_FeeAmount) from #tempPaymentItems
				--	where F_FeeId != 5 and F_FeeId != 10 

				END
			ELSE -- Two and more bookings
				BEGIN	
					Select * from #tempPaymentItems where F_FeeId != 5		
					
				--	Select @TotalRefund = SUM(F_FeeAmount) from #tempPaymentItems
				--	 where F_FeeId != 5	
				END
				
		END
END

GO
