USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckForBookingConflicts]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[CheckForBookingConflicts] 
	(
	@BookingId int,
	@TestCentreId smallint,	
	@TestCentreLaneId int,	
	@BookingStatusId tinyint,
	@BookingDateTime datetime,	
	@BookingEndDateTime datetime	
)    
	RETURNS smallint
AS
BEGIN    
--vars    
DECLARE @NoOfConflicts smallint,
		@cancelledId int
		
DECLARE @CancelledBookingStatusIds TABLE
(
	BookingStatusId int
)

INSERT INTO @CancelledBookingStatusIds
(
	BookingStatusId
)
SELECT BookingStatusId FROM dbo.BookingStatus
WHERE VoidedBooking = 1

	If (@BookingStatusId IN (SELECT BookingStatusID FROM @CancelledBookingStatusIds))
	Begin
		Return 0
	End
	
	IF (@BookingId IS NULL)
	BEGIN
		SET @BookingId = 0
	END

	Select @NoOfConflicts = Count(*)
		From dbo.Booking 
		Where 	TestCentreId = @TestCentreId
		and		TestCentreLaneId = @TestCentreLaneId
		and		BookingStatusId NOT IN (SELECT BookingStatusID FROM @CancelledBookingStatusIds)
		and		BookingId <> @BookingId
		and		(
				(BookingDateTime <= @BookingDateTime and BookingEndDateTime > @BookingDateTime)
				or
				(BookingDateTime < @BookingEndDateTime and BookingEndDateTime >= @BookingEndDateTime)
				)
	--return result    
	RETURN @NoOfConflicts
END
GO
