USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLane_Delete]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <09/03/2011>
-- Description:	<Delete a test centre lane>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreLane_Delete] 
	-- Add the parameters for the stored procedure here
(
	@TestCentreLaneId	varchar(50) = NULL
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM TestCentreLanes
	WHERE 
		TestCentreLaneId = @TestCentreLaneId
		
	
END
GO
