USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_NextDayBooking]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Syed
-- Create date: 18-Aug-2014
-- =============================================
-- Patch Author: Adam Nosal	
-- Patch Date: 10-October-2018
-- Patch detail: Remove PPSN from column LicenceNumber
-- =============================================
CREATE PROCEDURE [dbo].[RPT_NextDayBooking]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
	
SELECT     b.BookingId, CONVERT(nvarchar, b.BookingDateTime, 103) AS [Booking Date], t.TestCentreName AS [Test Centre], CONVERT(nvarchar(5), b.BookingDateTime, 108) 
                      AS [Booking Time], sp.ProcessName AS Process, it.Description, b.LicenceNumber AS [Licence Number], b.RegistrationNumber AS [Vehicle Registration Number], 
                      CONVERT(nvarchar(10), l.LicenceExpiryDate, 103) AS [Licence Expiry Date], CASE WHEN LEN(ISNULL(lh.FirstName, '') + ISNULL(lh.LastName, '')) 
                      > 1 THEN LTRIM(ISNULL(lh.FirstName, '') + ' ' + ISNULL(lh.LastName, '')) ELSE lh.CompanyName END AS [Licence Holder Name], ISNULL(lh.AddressLine1, ' ') 
                      + ' ' + ISNULL(lh.AddressLine2, ' ') + ' ' + ISNULL(lh.AddressLine3, '') AS Address, c.CountyName AS County, ISNULL(lh.PhoneNo1, '') AS Mobile, ISNULL(lh.PhoneNo2, 
                      '') AS Landline,
					    lh.Email,
					   c.CountyName AS Area
FROM         Booking AS b INNER JOIN
                      LicenceMasterVL AS l ON b.LicenceNumber = l.LicenceNumber INNER JOIN
                      LicenceHolderMaster AS lh ON l.LicenceHolderId = lh.LicenceHolderId INNER JOIN
                      County AS c ON lh.CountyId = c.CountyId INNER JOIN
                      InspectionTime AS i ON b.InspectionTimeId = i.InspectionTimeId INNER JOIN
                      InspectionType AS it ON i.InspectionTypeId = it.InspectionTypeId INNER JOIN
                      TestCentre AS t ON b.TestCentreId = t.TestCentreId INNER JOIN
                      SystemProcessVL AS sp ON b.SystemProcessId = sp.SystemProcessId
WHERE     (b.BookingStatusId IN (2)  AND b.BookingDateTime BETWEEN @StartDate AND @EndDate)
UNION ALL
SELECT     skb.ID as BookingId, CONVERT(nvarchar, skb.StartDateTime, 103) AS [Booking Date], t.TestCentreName AS [Test Centre], CONVERT(nvarchar(5), skb.StartDateTime, 108) 
                      AS [Booking Time], test.Name AS Process, 'Skills' as Description,' ' AS [Licence Number],'' AS [Vehicle Registration Number], 
                      '' AS [Licence Expiry Date], CASE WHEN LEN(ISNULL(p.FirstName, '') + ISNULL(p.LastName, '')) 
                      > 1 THEN LTRIM(ISNULL(p.FirstName, '') + ' ' + ISNULL(p.LastName, '')) ELSE '' END AS [Licence Holder Name], ISNULL(p.AddressLine1, ' ') 
                      + ' ' + ISNULL(p.AddressLine2, ' ') + ' ' + ISNULL(p.AddressLine3, '') AS Address, c.CountyName AS County, ISNULL(p.MobileNumber, '') AS Mobile, ISNULL(p.HomeNumber, 
                      '') AS Landline,
					   p.Email,
					   Area= (Select CountyName from county where CountyID = skb.AreaID)
FROM          cabs_sk.Booking AS skb INNER JOIN
					 [cabs_sk].[Candidate]  ca ON skb.CandidateID=ca.ID INNER JOIN
					  [cabs_cmo].[Person] p ON   ca.PersonID=p.ID INNER JOIN      
					  dbo.BookingStatus bs ON skb.StatusID = bs.BookingStatusID   INNER JOIN              
                      County AS c ON p.CountyId = c.CountyId INNER JOIN                                            
                      TestCentre AS t ON skb.TestCentreId = t.TestCentreId INNER JOIN
					  cabs_sk.Test test ON skb.TestID = test.ID                      
WHERE     (skb.StatusID IN (2)  AND skb.StartDateTime BETWEEN @StartDate AND @EndDate)

ORDER BY [Booking Date]



END
GO
