USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfig_DeleteByWeekly]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <27/04/2011>
-- Description:	<Delete a Test Centre Configuration>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfig_DeleteByWeekly] 
	-- Add the parameters for the stored procedure here
(
	@TestCentreId int,
	@TestCentreLaneId int,
	@StartDate DateTime,
	@EndDate DateTime
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM TestCentreConfiguration
	WHERE 
		TestCentreId = @TestCentreId
	AnD TestCentreLaneId = @TestCentreLaneId
	AND ConfigDate between @startDate and @enddate 	
	
END
GO
