USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemPermission_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 14-12-2010
-- =============================================
CREATE PROCEDURE [dbo].[SystemPermission_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT PermissionName,AllowedRoles,PageId
	FROM dbo.SystemPermission
	
END
GO
