USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemProcess_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 15-Sep-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SystemProcess_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ProcessId, ProcessKey, ProcessName
	FROM dbo.SystemProcess
	ORDER BY ProcessName ASC
END
GO
