USE [cabs_production]
GO
/****** Object:  Table [dbo].[TestCentreLinkedUsers]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCentreLinkedUsers](
	[TestCentreLinkedUserId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TestCentreId] [int] NOT NULL,
	[CreatedBy] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_TestCentreLinkedUsers] PRIMARY KEY CLUSTERED 
(
	[TestCentreLinkedUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCentreLinkedUsers] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[TestCentreLinkedUsers]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreLinkedUsers_apsnet_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
ALTER TABLE [dbo].[TestCentreLinkedUsers] CHECK CONSTRAINT [FK_TestCentreLinkedUsers_apsnet_Users]
GO
ALTER TABLE [dbo].[TestCentreLinkedUsers]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreLinkedUsers_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[TestCentreLinkedUsers] CHECK CONSTRAINT [FK_TestCentreLinkedUsers_TestCentre]
GO
