USE [cabs_production]
GO
/****** Object:  View [dbo].[ssis_DL_AuditProcess]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ssis_DL_AuditProcess]  as

select 
c.ChangeValueId 'AuditId',
lm.LicenceNumber,
p.ProcessTypeId,
case p.ProcessTypeId when 17 then convert(datetime, min(p.changeDate)) else null end 'AddLicenceDateTime',
case p.ProcessTypeId when 17 then min(convert(date, NewValue,103)) else null end 'FirstIssueDate',
case p.ProcessTypeId when 19 then min(convert(date, NewValue,103)) else null end 'FirstRenewedDate'
from audit.Process p with (nolock)
	inner join audit.ChangeValue c with (nolock) on c.ProcessId=p.ProcessId
	inner join dl.LicenceMaster lm with (nolock) on lm.LicenceMasterId=p.ObjectId
where p.ProcessTypeId in (17,19)
and c.FieldName = 'Licence Issue Date'
group by c.ChangeValueId, lm.LicenceNumber, p.ProcessTypeId
GO
