USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreClosedDatesAudit_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Damien Dennehy>
-- Create date: <21-Jun-2011>
-- Description:	<Select all closed Test Centre Dates>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreClosedDatesAudit_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SELECT  
	ClosedDateAuditId,
	ClosedDate,
	CreatedBy,
	CreatedDate,
	ModifiedBy,
	ModifiedDate,
	AuditDate,
	StatusMessage
	
	FROM dbo.TestCentreClosedDatesAudit

END
GO
