USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLaneType_SelectByTestCentreLaneTypeDescription ]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Yuliya Khadasevich
-- Create date: 31-Oct-201
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreLaneType_SelectByTestCentreLaneTypeDescription ]

	@TestCentreLaneTypeDescription nvarchar(50)
	
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
	ID
	FROM cabs_sk.TestCentreLaneType
	WHERE  LOWER(Description) =  LOWER(@TestCentreLaneTypeDescription)
END


GO
