USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleMaster_Signage_ByLicenceNumber]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VehicleMaster_Signage_ByLicenceNumber]
	@LicenceNumber varchar(50)  -- LicenceNumber is passing from the codebehind.
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--@RegistrationNumber as using LicenceNumber because I don't want to crash existing application and now from the CABS VLS is passing LicenceNumber as a parameter.

		SELECT TOP 1 
		cabs_tds.AuthorizedSupplier.SupplierId,
		cabs_tds.AuthorizedSupplier.IsActive as SupplierIsActive,
		cabs_tds.AuthorizedSupplier.CompanyName,
		cabs_tds.AuthorizedSupplier.Address,
		cabs_tds.AuthorizedSupplier.ContactName,
		cabs_tds.AuthorizedSupplier.Email,
		cabs_tds.AuthorizedSupplier.Tel,
		cabs_tds.AuthorizedSupplier.Mobile,
		cabs_tds.SignageInstallation.VehicleLicenceNumber,
		cabs_tds.SignageInstallation.RegistrationNumber,
		cabs_tds.SignageInstallation.IsActive AS InstallationIsActive,
		cabs_tds.SignageInstallation.CreatedOn,
		cabs_tds.SignageInstallation.AuthorizedSupplierId,
		cabs_tds.SignageInstallation.ID as SignageID
	FROM cabs_tds.SignageInstallation
	JOIN cabs_tds.AuthorizedSupplier ON cabs_tds.SignageInstallation.AuthorizedSupplierId = cabs_tds.AuthorizedSupplier.Id
	Where VehicleLicenceNumber=@LicenceNumber 
	order by CreatedOn desc


END
GO
