USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LetterRequestTypeVLAudit_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <1/12/2010>
-- Update: Aleh Holub <09/02/2015>
-- =============================================
CREATE PROCEDURE [dbo].[LetterRequestTypeVLAudit_Insert] 
	-- Add the parameters for the stored procedure here
(		
	@LetterRequestTypeAuditId int output,
	@LetterRequestTypeId int,
	@LetterRequestTypeDescription varchar(100),	
	@FileContent varbinary(max),
	@AllowedRoles varchar(200),
	@LetterCode	varchar(20),
	@NumPages int,
	@PrintStyle	varchar(10),
	@EnvelopeType varchar(5),
	@PrintCompanyId int,
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime,
	@IntroductionEmailText nvarchar(500)
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	INSERT INTO dbo.LetterRequestTypeVLAudit
	(
		LetterRequestTypeId,
		LetterRequestTypeDescription,
		FileContent,
		LetterCode,
		NumPages,
		PrintStyle,
		EnvelopeType,
		PrintCompanyId,
		CreatedBy,
		AllowedRoles,
		ModifiedBy,
		CreatedDate,
		ModifiedDate,
		IntroductionEmailText
	)
	VALUES
	(
		@LetterRequestTypeId,
		@LetterRequestTypeDescription,
		@FileContent,
		@LetterCode,
		@NumPages,
		@PrintStyle,
		@EnvelopeType,	
		@PrintCompanyId,	
		@CreatedBy,	
		@AllowedRoles,
		@ModifiedBy,
		@CreatedDate,
		@ModifiedDate,
		@IntroductionEmailText
	)
	
	SET @LetterRequestTypeAuditId = SCOPE_IDENTITY()

    -- Insert statements for procedure here
	
END
GO
