USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckForBiweekly]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[CheckForBiweekly] 
	(
	@TestCentreDefaultConfigId smallint,
	@Biweekly bit,
	@BiweeklyStartDate datetime,
	@BiweeklyEndDate datetime,
	@ConfigDateTime datetime
	)    
	RETURNS smallint
AS
BEGIN    
/*
Author:		Jim O'Brien
Date:		23-03-2011
Purpose:	This function is called by the overnight job that creates the test centre configuration records.
			It checks to see if the default configuration is biweekly.  If it is,
			it calculates if it needs a configrecord added for the date that is passed in.
*/ 
DECLARE @createRecord smallint
DECLARE @WeekCounter smallint

	-- If the Biweekly parameter is 0 or null then it is not Biweekly and the system can create the record.
	If ((@Biweekly = 0) OR (@Biweekly is null))
	Begin
		select @createRecord = 1
		Return @createRecord
	End

	If (not((@BiweeklyStartDate <= @ConfigDateTime) AND (@ConfigDateTime <= @BiweeklyEndDate)))
	Begin
		select @createRecord = 1
		Return @createRecord
	End
	
	Select @WeekCounter = ((datediff(day, tcd.BiWeeklyStartDate, @ConfigDateTime))/7) % 2 
		From dbo.[TestCentreConfiguration] tcc, 
			 dbo.[TestCentreDefaultConfig] tcd 
		Where 	tcd.TestCentreDefaultConfigId = tcc.TestCentreDefaultConfigId
		and		tcd.TestCentreDefaultConfigId = @TestCentreDefaultConfigId
		

	If (@WeekCounter > 0)
	Begin
		select @createRecord = 0
		Return @createRecord
	End
	--return result    
	select @createRecord = 1

	RETURN @createRecord
END

GO
