USE [cabs_production]
GO
/****** Object:  View [dbo].[limousineLicense]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[limousineLicense] as
with step1 as
(
select [RegistrationNumber], count(distinct [LicenceNumber])[Count of Licence], count(distinct [LicenceTypeId])[Count of licence type] from [dbo].[LicenceMasterVLAudit]
group by [RegistrationNumber]
having count(distinct [LicenceNumber])=1 and count(distinct [LicenceTypeId])=1
),step2 as
(
select [RegistrationNumber] from [dbo].[LicenceMasterVLAudit]
where  
[LicenceTypeId]=3
and left([LicenceNumber],1)='L'
and [RegistrationNumber] in (select [RegistrationNumber] from step1)
)
SELECT distinct
       LM.[LicenceNumber]
      ,LM.[RegistrationNumber]
	  ,VMA.VIN
	  ,Vmake.Make
	  ,Vmodel.Model
  FROM [cabs_production].[dbo].[LicenceMasterVLAudit] LM
  left join [cabs_production].[dbo].[VehicleMaster] VM on LM.RegistrationNumber=VM.RegistrationNumber
  left join [cabs_production].[dbo].[VehicleMake] Vmake on VM.MakeId=Vmake.MakeId
  left join [cabs_production].[dbo].[VehicleModel] Vmodel on VM.ModelId=Vmodel.ModelId
  left join [cabs_production].[dbo].[VehicleMasterAudit] VMA on LM.RegistrationNumber=VMA.RegistrationNumber
  where lm.[RegistrationNumber] in (select [RegistrationNumber] from step2) and lm.[LicenceNumber] is not null
  and year(LM.[LicenceIssueDate])>=2012
GO
