USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetVehicleLicenceNumber]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetVehicleLicenceNumber]
(
  @VLLicenceHolderId int
)
RETURNS NVARCHAR(MAX)
WITH SCHEMABINDING 
AS 
BEGIN
  DECLARE @VehicleLicenceNumber NVARCHAR(MAX);
-- WITH x as
--(select distinct newValue from dbo.Case_History where (field_name='Assign To Updated' or field_name='Resolved By') and caseid=@CaseID)
SELECT @VehicleLicenceNumber=STUFF((
    SELECT ',' +  upper(LicenceNumber)
    FROM dbo.LicenceMasterVL l 
	join dbo.LicenceStateMaster s on l.LicenceStateMasterId = s.LicenceStateMasterId 
	where l.LicenceHolderId = @VLLicenceHolderId
	order by s.LicenceStateMasterId
    FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '')

  RETURN (@VehicleLicenceNumber);
END
GO
