USE [cabs_production]
GO
/****** Object:  Table [dbo].[ReportsVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportsVL](
	[ReportId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReportName] [varchar](100) NOT NULL,
	[ReportPath] [varchar](200) NOT NULL,
	[AllowedRoles] [varchar](1000) NOT NULL,
	[ReportSection] [int] NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_ReportsVL] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportsVL]  WITH CHECK ADD FOREIGN KEY([ReportSection])
REFERENCES [dbo].[ReportVLSection] ([ReportVLSectionId])
GO
