USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[IsVehicleOrDriverLinked]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function [dbo].[IsVehicleOrDriverLinked]
	(
		@VehicleNumber nvarchar(100),
		@LicenceNumber nvarchar(100)
	)
	returns varchar(20)
AS
BEGIN
Declare @RecordExists integer;
Declare @LinkExists varchar(20);
set @RecordExists=0


if(@VehicleNumber is not null AND @VehicleNumber <> '')
select @RecordExists=count(*) from cabs_dvl.VehicleDriver where VehicleLicenseNumber= @VehicleNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is null OR IsExpired=0)
else
select @RecordExists=count(*) from cabs_dvl.VehicleDriver where DriverLicenceNumber= @LicenceNumber and IsActive=1 
and (WasLinkBroken is null OR WasLinkBroken=0) and (IsExpired is null OR IsExpired=0)

if(@RecordExists>0)
set @LinkExists='Yes'
else
set @LinkExists='No'

return @LinkExists

END

GO
