USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_PostCovidUpdateExtract]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create     PROCEDURE [dbo].[RPT_PostCovidUpdateExtract] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
select 
lhm.Ccsn,
vla.LicenceNumber,
vla.RegistrationNumber,
lhm.HolderName,
lt.LicenceType,
lsm.LicenceStateMaster,
ls.LicenceState,
CONVERT(date,(select  top(1) vlaa.LicenceExpiryDate from dbo.LicenceMasterVLAudit vlaa where --ModifiedBy = 'Covid-Update' 
	 vlaa.LicenceExpiryDate != vla.LicenceExpiryDate 
	and vlaa.LicenceNumber = vla.LicenceNumber
	and vlaa.id< vla.id
	order by ModifiedDate desc)) as 'oldExpiryDate',
CONVERT(date,vla.LicenceExpiryDate) as 'New Expiry Date',
CONVERT(date,vla.AuditDate) as 'Date Of Update',
 vm.NctExpiryDate ,
 lhm.Email , 
 lhm.PhoneNo1,
 lhm.PhoneNo2,
 lhm.AddressLine1,
 lhm.AddressLine2,
lhm.AddressLine3,
lhm.Town,
c.CountyName,
lhm.PostCode,
cr.CountryName
from dbo.LicenceMasterVLAudit vla WITH (NOLOCK)
 join [dbo].[VehicleMaster] vm on vla.RegistrationNumber = vm.RegistrationNumber
 join [dbo].[LicenceHolderMaster] lhm on vla.LicenceHolderId = lhm.LicenceHolderId
 join dbo.LicenceType lt on vla.LicenceTypeId = lt.LicenceTypeId
 join dbo.LicenceStateMaster lsm on vla.LicenceStateMasterId = lsm.LicenceStateMasterId
left join dbo.LicenceState ls on ls.LicenceStateId = vla.LicenceStateId
left join dbo.county c on c.CountyId = lhm.CountyId
left join dbo.country cr on cr.[CountryId] = lhm.CountryId

where 
vla.ModifiedBy = 'Covid-Update' 

	order by vla.LicenceNumber,vla.AuditDate 

END
GO
