USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_ExpiringLicenses_6_Weeks]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Damien Dennehy
-- Create date: 19-Apr-2011
-- Description:	Process each licence that is going to expire soon.
-- =============================================
CREATE PROCEDURE [dbo].[sch_ExpiringLicenses_6_Weeks] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @LicenceNumber varchar(10),
		@PlateNumber INT,
		@LicenceTypeId INT,
		@MaxVehicleAge INT,
		@Counter INT,
		@LicenceHolderId INT,
		@VehicleRegistrationNumber varchar(10),
		@RegistrationDate DATETIME,
		@LicenceExpiryDate DATETIME,
		@LetterRequestTypeId INT,
		@RequestId INT,
		@ModifiedDate DATETIME,
		@ErrorMessage varchar(4000),
		@LetterError varchar(4000),
		@VehicleAgeAtExpiry Decimal(18,2),
		@VehicleAgeAtFirstRenewalDate Decimal(18,2)
		
DECLARE db_cursor CURSOR FOR 

	SELECT	L.LicenceNumber,
			PlateNumber,
			L.LicenceTypeId,
			L.LicenceHolderId,
			L.RegistrationNumber,
			RegistrationDate,
			LicenceExpiryDate,
			MaxVehicleAgeYears,
			CONVERT(DECIMAL(18,2),DATEDIFF(DAY, RegistrationDate, LicenceExpiryDate)) / 365,
			CONVERT(DECIMAL(18,2),DATEDIFF(DAY, RegistrationDate, LicenceExpiryDate-45)) / 365
					
	FROM dbo.LicenceMasterVL L
	INNER JOIN dbo.LicenceHolderMaster H ON H.LicenceHolderId = L.LicenceHolderId
	INNER JOIN dbo.VehicleMaster V ON V.RegistrationNumber = L.RegistrationNumber
	INNER JOIN dbo.LicenceType T on L.LicenceTypeId = T.LicenceTypeId
	WHERE LicenceNumber NOT IN
	(
		SELECT LicenceNumber FROM dbo.PrintRequestMasterVL P
		INNER JOIN dbo.LetterRequestTypeVLAudit A
		ON A.LetterRequestTypeAuditId = P.LetterRequestTypeAuditId
		WHERE P.CreatedDate > DATEADD(Day, -270, GETDATE())
		AND A.LetterRequestTypeId IN
		(
			10, 
			12,
			14
		)
	)
	AND DATEDIFF(DAY, GETDATE(), LicenceExpiryDate) > 0 AND DATEDIFF(DAY, GETDATE(), LicenceExpiryDate) < 45
	AND LicenceStateMasterId = 4
	
OPEN db_cursor   

FETCH NEXT FROM db_cursor INTO  @LicenceNumber,
								@PlateNumber,
								@LicenceTypeId,
								@LicenceHolderId,
								@VehicleRegistrationNumber,
								@RegistrationDate,
								@LicenceExpiryDate,
								@MaxVehicleAge,
								@VehicleAgeAtExpiry,
								@VehicleAgeAtFirstRenewalDate
			  
WHILE @@FETCH_STATUS = 0
BEGIN	
	--If a licence has a maximum vehicle age and is greater than 45000, 
		--And is actually older than the max vehicle age, 
		--Generate vehicle age letters
		IF @MaxVehicleAge IS NOT NULL AND @PlateNumber > 45000 AND @VehicleAgeAtExpiry > @MaxVehicleAge
		BEGIN
				--We must determine what type of letter type is required for the affected licence 
				--Either the licence can be renewed within the 45 day window, or it's too old
				IF @VehicleAgeAtFirstRenewalDate > @MaxVehicleAge
				BEGIN
					SET @LetterRequestTypeId = 14
				END
				ELSE
				BEGIN
					SET @LetterRequestTypeId = 10
				END
						
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = @LetterRequestTypeId,
				@CreatedBy = 'System'	
		END
		ELSE
		BEGIN
				--Otherwise generate a standard renewal letter
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = 12,
				@CreatedBy = 'System'	
		END
	
	IF @RequestId IS NULL
	BEGIN
	SET @LetterError = 'Unable to generate 12 week reminder letter for licence # ' + @LicenceNumber
		Raiserror (@LetterError, 16, 1)
	END	

	SET @LicenceNumber = NULL
	SET @MaxVehicleAge = NULL
	SET @PlateNumber = NULL 
	SET @VehicleAgeAtExpiry = NULL
		
	FETCH NEXT FROM db_cursor INTO  @LicenceNumber,
								@PlateNumber,
								@LicenceTypeId,
								@LicenceHolderId,
								@VehicleRegistrationNumber,
								@RegistrationDate,
								@LicenceExpiryDate,
								@MaxVehicleAge,
								@VehicleAgeAtExpiry,
								@VehicleAgeAtFirstRenewalDate
END							
		
CLOSE db_cursor
DEALLOCATE db_cursor
								
END
GO
