USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceHolderAudit]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceHolderAudit](
	[LicenceHolderId] [int] NULL,
	[Ccsn] [nvarchar](20) NULL,
	[Ppsn] [varchar](20) NULL,
	[CompanyNumber] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[CompanyName] [nvarchar](100) NULL,
	[TradingAs] [nvarchar](100) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyId] [int] NULL,
	[PostCode] [nvarchar](12) NULL,
	[CountryID] [int] NULL,
	[IrishLanguageAddress] [bit] NULL,
	[PhoneNo1] [nvarchar](50) NULL,
	[PhoneNo2] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[EmailOptIn] [bit] NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceExpiryDate] [datetime] NULL,
	[TaxClearanceStatus] [varchar](50) NULL,
	[TaxClearanceVisual] [char](10) NULL,
	[TaxClearanceName] [nvarchar](100) NULL,
	[LastDocumentationCheckDate] [datetime] NULL,
	[ChangeReasonId] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[AuditDate] [datetime] NULL,
	[AuditAction] [varchar](50) NULL,
	[AuditID] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MailOptIn] [bit] NULL,
	[Director1Name] [nvarchar](100) NULL,
	[Director2Name] [nvarchar](100) NULL,
	[Director3Name] [nvarchar](100) NULL,
	[Director1Address] [nvarchar](500) NULL,
	[Director2Address] [nvarchar](500) NULL,
	[Director3Address] [nvarchar](500) NULL,
	[TaxClearanceCertExists] [bit] NULL,
 CONSTRAINT [PK_LicenceHolderAudit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceHolderAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderAudit_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[LicenceHolderAudit] CHECK CONSTRAINT [FK_LicenceHolderAudit_Country]
GO
ALTER TABLE [dbo].[LicenceHolderAudit]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderAudit_County] FOREIGN KEY([CountyId])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [dbo].[LicenceHolderAudit] CHECK CONSTRAINT [FK_LicenceHolderAudit_County]
GO
