USE [cabs_production]
GO
/****** Object:  Table [dbo].[VehicleMasterAudit]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleMasterAudit](
	[RegistrationNumber] [varchar](10) NULL,
	[MakeId] [int] NULL,
	[ModelId] [int] NULL,
	[BodyTypeId] [tinyint] NULL,
	[FuelTypeId] [tinyint] NULL,
	[ColourId] [tinyint] NULL,
	[EngineCapacity] [smallint] NULL,
	[VIN] [varchar](50) NULL,
	[YearOfManufacture] [smallint] NULL,
	[RegistrationDateIreland] [smalldatetime] NULL,
	[RegistrationDateOrigin] [smalldatetime] NULL,
	[TurboDieselYn] [bit] NULL,
	[ModifiedYn] [bit] NULL,
	[TestCenterId] [int] NULL,
	[NumberPassengers] [tinyint] NULL,
	[NumberSeats] [tinyint] NULL,
	[NumberDoors] [tinyint] NULL,
	[TypeApprovalNumber] [varchar](50) NULL,
	[TypeApprovalCategory] [varchar](50) NULL,
	[PermissibleMassGvw] [int] NULL,
	[VrtVehicleCategory] [varchar](20) NULL,
	[SimiCode] [nvarchar](50) NULL,
	[NctSerialNumber] [varchar](50) NULL,
	[NctIssueDate] [smalldatetime] NULL,
	[NctExpiryDate] [smalldatetime] NULL,
	[LastDocumentationCheckDate] [datetime] NULL,
	[MileageReading] [int] NULL,
	[ExcessWindowTint] [bit] NULL,
	[DataCheckedDate] [smalldatetime] NULL,
	[InsuranceExpiryDate] [smalldatetime] NULL,
	[InsuranceClassCorrect] [bit] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[AuditDate] [datetime] NULL,
	[HistoryChangeId] [int] NULL,
	[RoofSignSticker] [bit] NULL,
	[MeterSealed] [bit] NULL,
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OdometerUnitID] [int] NULL,
	[OccupancyWithWheelchair] [tinyint] NULL,
 CONSTRAINT [PK_VehicleMasterAudit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleMasterAudit] ADD  DEFAULT ((3)) FOR [OccupancyWithWheelchair]
GO
ALTER TABLE [dbo].[VehicleMasterAudit]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterAudit_HistoryChangeTypeVL] FOREIGN KEY([HistoryChangeId])
REFERENCES [dbo].[HistoryChangeType] ([HistoryChangeID])
GO
ALTER TABLE [dbo].[VehicleMasterAudit] CHECK CONSTRAINT [FK_VehicleMasterAudit_HistoryChangeTypeVL]
GO
ALTER TABLE [dbo].[VehicleMasterAudit]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterAudit_OdometerUnit] FOREIGN KEY([OdometerUnitID])
REFERENCES [cabs_insp].[OdometerUnit] ([ID])
GO
ALTER TABLE [dbo].[VehicleMasterAudit] CHECK CONSTRAINT [FK_VehicleMasterAudit_OdometerUnit]
GO
ALTER TABLE [dbo].[VehicleMasterAudit]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterAudit_VehicleBodyType] FOREIGN KEY([BodyTypeId])
REFERENCES [dbo].[VehicleBodyType] ([BodyTypeId])
GO
ALTER TABLE [dbo].[VehicleMasterAudit] CHECK CONSTRAINT [FK_VehicleMasterAudit_VehicleBodyType]
GO
ALTER TABLE [dbo].[VehicleMasterAudit]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterAudit_VehicleColour] FOREIGN KEY([ColourId])
REFERENCES [dbo].[VehicleColour] ([ColourId])
GO
ALTER TABLE [dbo].[VehicleMasterAudit] CHECK CONSTRAINT [FK_VehicleMasterAudit_VehicleColour]
GO
ALTER TABLE [dbo].[VehicleMasterAudit]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterAudit_VehicleFuelType] FOREIGN KEY([FuelTypeId])
REFERENCES [dbo].[VehicleFuelType] ([FuelTypeId])
GO
ALTER TABLE [dbo].[VehicleMasterAudit] CHECK CONSTRAINT [FK_VehicleMasterAudit_VehicleFuelType]
GO
ALTER TABLE [dbo].[VehicleMasterAudit]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterAudit_VehicleMake] FOREIGN KEY([MakeId])
REFERENCES [dbo].[VehicleMake] ([MakeId])
GO
ALTER TABLE [dbo].[VehicleMasterAudit] CHECK CONSTRAINT [FK_VehicleMasterAudit_VehicleMake]
GO
ALTER TABLE [dbo].[VehicleMasterAudit]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterAudit_VehicleMaster] FOREIGN KEY([RegistrationNumber])
REFERENCES [dbo].[VehicleMaster] ([RegistrationNumber])
GO
ALTER TABLE [dbo].[VehicleMasterAudit] CHECK CONSTRAINT [FK_VehicleMasterAudit_VehicleMaster]
GO
ALTER TABLE [dbo].[VehicleMasterAudit]  WITH CHECK ADD  CONSTRAINT [FK_VehicleMasterAudit_VehicleModel] FOREIGN KEY([ModelId])
REFERENCES [dbo].[VehicleModel] ([ModelId])
GO
ALTER TABLE [dbo].[VehicleMasterAudit] CHECK CONSTRAINT [FK_VehicleMasterAudit_VehicleModel]
GO
