USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_SPSV_Notifications_Email]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sumayya Sayed
-- Create date: 20-MAY-2016
-- =============================================

CREATE PROCEDURE [dbo].[RPT_SPSV_Notifications_Email]

@StartDate DateTime,
@EndDate DateTime

AS

BEGIN

	SET NOCOUNT ON;

DECLARE @SPSVEmails TABLE
(
      HolderPPSN varchar(100),
	  LetterRequestTypeDescription varchar(100),
	  CompleteDate  Date,
	  DespatchMethod  varchar(50) NULL,
	  LetterCode  varchar(100),
	  Total int
)

INSERT INTO @SPSVEmails(HolderPPSN,LetterRequestTypeDescription,CompleteDate,DespatchMethod,LetterCode,Total)
Select 
t.HolderPPSN,
LRA.LetterRequestTypeDescription,
t.CreatedDate as CompleteDate,
case when ((t.despatchmethoddescription IS NULL OR t.despatchmethoddescription ='') AND (t.Description IS NOT NULL OR t.Description <>''))  THEN t.Description
	ELSE ISNULL(t.despatchmethoddescription, 'POST') end as DespatchMethod,
t.LetterCode,
t.totalnumber AS Total
FROM
(
	SELECT 
	PRM.HolderPPSN AS HolderPPSN,
	PT.Description,
	DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) as CreatedDate,
	dm.DespatchMethodDescription, 
	PRM.LetterRequestTypeAuditId,	
	LRA.lettercode,

	count(LRA.lettercode) as totalnumber
	
	from [dbo].[PrintRequestMasterVL] PRM
	JOIN [dbo].[PrintRequestDetailVL] PRD on PRD.PrintRequestMasterId = PRM.PrintRequestMasterId		
	INNER JOIN dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeAuditId
	LEFT JOIN [dbo].[DespatchMethod] dm on dm.despatchmethodid = PRD.DespatchMethodID
	LEFT JOin cabs_cmo.PrinTrequestMasterType PT ON PRM.PrintRequestMasterTypeID=PT.ID
	WHERE PRD.PrintCompanyId=1	
	AND PRD.DespatchMethodID = 3
	 GROUP BY

	          PRM.HolderPPSN,
			  PT.Description,
			  DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)),   
			  dm.DespatchMethodDescription,
			  PRM.LetterRequestTypeAuditId,
			  LRA.lettercode
			 
			 			  
	UNION ALL  

	SELECT 
	 PRM.Ppsn AS HolderPPSN,
	 '' as Description, 
	 DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) as LetterDate,
	 dm.DespatchMethodDescription, 
	 PRM.LetterRequestTypeVLAuditId as LetterRequestTypeAuditId,
	 LRA.lettercode,

	 count(LRA.lettercode) as totalnumber

	from cabs_live.[dbo].[PrintRequestMaster] PRM
	INNER JOIN  cabs_production.dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeVLAuditId
	LEFT JOIN cabs_production.[dbo].[DespatchMethod] dm on dm.despatchmethodid = PRM.DespatchMethodID
	WHERE PRM.DespatchMethodID = 3	
	 GROUP BY
			    PRM.Ppsn,
				DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)),	
				dm.DespatchMethodDescription,
				PRM.LetterRequestTypeVLAuditId,
				LRA.lettercode
			 
) t
LEFT JOIN (select distinct LetterCode, LetterRequestTypeDescription,LetterRequestTypeAuditId from dbo.LetterRequestTypeVLAudit ) LRA on LRA.LetterRequestTypeAuditId = t.LetterRequestTypeAuditId
WHere 
t.LetterCode like 'SPSV-%' 
AND t.CreatedDate BETWEEN @StartDate AND @EndDate
--AND t.DespatchMethodDescription = 'EMAIL'
--order by t.CreatedDate,t.DespatchMethodDescription 


Select HolderPPSN, SUM(Total) As NotificationCount from @SPSVEmails group by HolderPPSN


END
		









GO
