USE [cabs_production]
GO
/****** Object:  Table [dbo].[TestCentreConfigurationAudit]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCentreConfigurationAudit](
	[TestCentreConfigurationAuditId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestCentreConfigurationId] [int] NULL,
	[TestCentreDefaultConfigId] [smallint] NULL,
	[TestCentreId] [int] NOT NULL,
	[TestCentreLaneId] [int] NOT NULL,
	[ConfigDate] [datetime] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_TestCentreConfigurationAudit] PRIMARY KEY CLUSTERED 
(
	[TestCentreConfigurationAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCentreConfigurationAudit]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreConfigurationAudit_Lanes] FOREIGN KEY([TestCentreLaneId])
REFERENCES [dbo].[TestCentreLanes] ([TestCentreLaneId])
GO
ALTER TABLE [dbo].[TestCentreConfigurationAudit] CHECK CONSTRAINT [FK_TestCentreConfigurationAudit_Lanes]
GO
ALTER TABLE [dbo].[TestCentreConfigurationAudit]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreConfigurationAudit_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[TestCentreConfigurationAudit] CHECK CONSTRAINT [FK_TestCentreConfigurationAudit_TestCentre]
GO
ALTER TABLE [dbo].[TestCentreConfigurationAudit]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreConfigurationAudit_TestCentreConfigurationAudit] FOREIGN KEY([TestCentreConfigurationAuditId])
REFERENCES [dbo].[TestCentreConfigurationAudit] ([TestCentreConfigurationAuditId])
GO
ALTER TABLE [dbo].[TestCentreConfigurationAudit] CHECK CONSTRAINT [FK_TestCentreConfigurationAudit_TestCentreConfigurationAudit]
GO
