USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_LetterPrint_Logs]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Syed
-- Create date: 07-July-2014
-- =============================================
CREATE PROCEDURE [dbo].[RPT_LetterPrint_Logs]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;


SELECT        lp.LetterCode, lp.Folder, lp.LetterFiles, lp.LicenceNumber, lp.PrintDate
FROM            LetterPrintJobLogs lp
WHERE Cast(lp.PrintDate as DATE)  BETWEEN @StartDate AND @EndDate 
order by lp.PrintDate desc
		
END








GO
