USE [cabs_production]
GO
/****** Object:  Table [dbo].[StoredDocument]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoredDocument](
	[StoredDocumentId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StoredDocumentType] [int] NOT NULL,
	[OwnerId] [int] NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ContentType] [nvarchar](255) NOT NULL,
	[Content] [varbinary](max) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_StoredDocumentId] PRIMARY KEY CLUSTERED 
(
	[StoredDocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[StoredDocument] ADD  CONSTRAINT [DF_StoredDocument_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[StoredDocument] ADD  CONSTRAINT [DF_StoredDocument_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StoredDocument]  WITH CHECK ADD FOREIGN KEY([StoredDocumentType])
REFERENCES [dbo].[StoredDocumentType] ([StoredDocumentTypeId])
GO
