USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Graduated_Fees]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		--
-- Create date: --
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Graduated_Fees] @StartDate DATETIME
	,@EndDate DATETIME
AS
BEGIN
	SET NOCOUNT ON;;

	WITH BOOKINGS
	AS (
		SELECT DISTINCT v.PlateNumber AS LicenceNumber
			,l.HolderName
			,v.LicenceExpiryDate AS CurrentExpiryDate
			,(
				SELECT TOP 1 al.licenceexpirydate
				FROM licencemastervlaudit al
				WHERE al.id < (
						SELECT TOP 1 a.id
						FROM LicenceMasterVLAudit a
						WHERE a.LicenceNumber = v.LicenceNumber
							AND a.HistoryChangeID IN (
								38
								,39
								,53
								,61
								,62
								)
							AND cast(a.ModifiedDate AS DATE) >= cast(VI.ModifiedDate AS DATE)
						ORDER BY a.id ASC
						)
					AND al.LicenceNumber = v.LicenceNumber
				ORDER BY al.id DESC
				) AS LicenceExpiryOld
			,B.ModifiedDate AS BookingDate
			,B.BookingId
			,B.ParentId
			,VI.ModifiedDate AS InspectionDate
			,TR.TestResult
			,PVL.Amount AS Amount
			,datediff(day, (
					SELECT TOP 1 al.licenceexpirydate
					FROM licencemastervlaudit al
					WHERE al.id < (
							SELECT TOP 1 a.id
							FROM LicenceMasterVLAudit a
							WHERE a.LicenceNumber = v.LicenceNumber
								AND a.HistoryChangeID IN (
									38
									,39
									,53
									,61
									,62
									)
								AND cast(a.ModifiedDate AS DATE) >= cast(VI.ModifiedDate AS DATE)
							ORDER BY a.id ASC
							)
						AND al.LicenceNumber = v.LicenceNumber
					ORDER BY al.id DESC
					), VI.ModifiedDate) AS TotalDays
			,VI.VehicleInspectionId
			,PM.PaymentMethodName
			,COALESCE(SP.ProcessName, ST.ServiceTypeName) AS ProcessName
			,TR.TestResultId
			,PVL.PaymentID
		FROM dbo.Booking B
		INNER JOIN dbo.BookingPayment BP ON B.BookingId = BP.BookingId
		INNER JOIN dbo.PaymentVL PVL ON BP.PaymentId = PVL.PaymentId
		INNER JOIN dbo.PaymentMethod PM ON PVL.PaymentMethodId = PM.PaymentMethodId
		INNER JOIN dbo.ServiceTypeVL ST ON ST.ServiceTypeId = PVL.ServiceTypeId
		INNER JOIN dbo.VehicleInspections VI ON B.BookingId = VI.BookingId
		INNER JOIN dbo.LicenceMasterVL v ON PVL.LicenceNumber = v.LicenceNumber
		INNER JOIN dbo.LicenceHolderMaster l ON v.LicenceHolderId = l.LicenceHolderId
		INNER JOIN dbo.TestResults TR ON VI.TestResultId = TR.TestResultId
		INNER JOIN dbo.SystemProcessVL SP ON SP.SystemProcessId = B.SystemProcessId
		LEFT JOIN PaymentItemVL ON PVL.PaymentId = PaymentItemVL.PaymentId
		WHERE (
				Cast(PVL.CreatedDate AS DATE) BETWEEN @StartDate
					AND @EndDate
				)
			AND TR.TestResultId IN (
				1
				,2
				,4
				,6 --- Fail (Closed)
				)
			AND (
				SP.SystemProcessId IN (
					12
					,13
					,17
					,19
					,21
					,23
					,24
					,25 --- Booking Closed
					)
				)
			AND B.BookingStatusId = 3
			/*			
			AND 1 = CASE 
				WHEN SP.SystemProcessId <> 17
					THEN 1
				ELSE CASE --if exchange show only expired fees
						WHEN PaymentItemVL.FeeId = 15
							OR PaymentItemVL.FeeId = 19
							OR PaymentItemVL.FeeId = 36
							OR PaymentItemVL.FeeId = 37
							THEN 1
						ELSE 0
						END
				END 
			*/
		)
Select *,RefundAmount= CASE 
		 WHEN TestResultId=2 THEN 'No Refund'
		 WHEN (Amount = 250 OR Amount = 295 OR Amount = 375 OR Amount = 420) AND totaldays>=1 AND totaldays<=10 THEN '€ 100' -- 375= Full Late S15 Renewal Fee ; 420 = Full Late S15 COV Fee 
		 WHEN (Amount = 250 OR Amount = 295 OR Amount = 375 OR Amount = 420) AND totaldays>=11  THEN 'No Refund' 	 
		 --
		 --  Late Renewal 6 months fees
		 WHEN TestResultId=1 AND  Amount = 30 AND BookingId <> ParentId AND 250 = (Select top 1 Amount from PaymentVL p join BookingPayment bpa ON p.PaymentId=bpa.PaymentID
											  Where bpa.BookingId = ParentId) AND totaldays>=1 AND totaldays<=10 THEN '€ 100' 
		 WHEN TestResultId=1 AND Amount = 30 AND BookingId <> ParentId AND 250 = (Select top 1 Amount from PaymentVL p join BookingPayment bpa ON p.PaymentId=bpa.PaymentID
											  Where bpa.BookingId = ParentId) AND totaldays>=11  THEN 'No Refund'
		 ---
		 -- Late COV 6 months fees
		 WHEN TestResultId=1 AND  Amount = 45 AND BookingId <> ParentId AND 295 = (Select top 1 Amount from PaymentVL p join BookingPayment bpa ON p.PaymentId=bpa.PaymentID
											  Where bpa.BookingId = ParentId) AND totaldays>=1 AND totaldays<=10 THEN '€ 100' 
		 WHEN TestResultId=1 AND Amount = 45 AND BookingId <> ParentId AND 295 = (Select top 1 Amount from PaymentVL p join BookingPayment bpa ON p.PaymentId=bpa.PaymentID
											  Where bpa.BookingId = ParentId) AND totaldays>=11  THEN 'No Refund'
		 ---
		 -- Late S15 Renewal 6 months fees
		 WHEN TestResultId=1 AND  Amount = 30 AND BookingId <> ParentId AND 375 = (Select top 1 Amount from PaymentVL p join BookingPayment bpa ON p.PaymentId=bpa.PaymentID
											  Where bpa.BookingId = ParentId) AND totaldays>=1 AND totaldays<=10 THEN '€ 100' 
		 WHEN TestResultId=1 AND Amount = 30 AND BookingId <> ParentId AND 375 = (Select top 1 Amount from PaymentVL p join BookingPayment bpa ON p.PaymentId=bpa.PaymentID
											  Where bpa.BookingId = ParentId) AND totaldays>=11  THEN 'No Refund'
		 ---
		 -- Late S15 COV 6 months fees
		 WHEN TestResultId=1 AND  Amount = 45 AND BookingId <> ParentId AND  420 = (Select top 1 Amount from PaymentVL p join BookingPayment bpa ON p.PaymentId=bpa.PaymentID
											  Where bpa.BookingId = ParentId) AND totaldays>=1 AND totaldays<=10 THEN '€ 100' 
		 WHEN TestResultId=1 AND Amount = 45 AND BookingId <> ParentId AND 420 = (Select top 1 Amount from PaymentVL p join BookingPayment bpa ON p.PaymentId=bpa.PaymentID
											  Where bpa.BookingId = ParentId) AND totaldays>=11  THEN 'No Refund'
		 ---
		 WHEN (Amount <> 250 AND Amount <> 45 AND Amount <> 30 AND totaldays>=1 AND totaldays<=10) THEN '€ 250'
		 WHEN (Amount <> 250 AND Amount <> 45 AND Amount <> 30 AND totaldays>=11 AND totaldays<=30) THEN '€ 150'
		 WHEN (Amount <> 250 AND Amount <> 45 AND Amount <> 30 AND totaldays>30) THEN 'No Refund'
		 WHEN (TestResultId=1 AND BookingId <> ParentId AND (Amount = 45 OR Amount = 30) AND totaldays>=1 AND totaldays<=10) THEN '€ 250'
		 WHEN (TestResultId=1 AND BookingId <> ParentId AND (Amount = 45 OR Amount = 30) AND totaldays>=11 AND totaldays<=30) THEN '€ 150'
		 WHEN (TestResultId=1 AND BookingId <> ParentId AND (Amount = 45 OR Amount = 30) AND totaldays>30) THEN 'No Refund'
		 ELSE 'No Refund' END
		 from BOOKINGS 
		 order by LicenceNumber
END

GO
