USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Representative_Update]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		rpodgorski
-- Create date: 18-02-2014
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[Representative_Update]
(
	@RepresentativeId int,
	@FirstName nvarchar(50),
	@LastName nvarchar(50),
	@AddressLine1 nvarchar(50),
	@AddressLine2 nvarchar(50),
	@AddressLine3 nvarchar(50),
	@Town nvarchar(50),
	@CountyId int,
	@PostCode varchar(40),
	@DateOfBirth datetime,
	@PhoneNo1 varchar(40),
	@PhoneNo2 varchar(40),
	@Email nvarchar(50),
	@HistoryChangeId int,
	@CreatedBy nvarchar(20),
	@CreatedDate datetime,
	@ModifiedBy nvarchar(20),
	@ModifiedDate datetime output
)
AS

BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

SET @ModifiedDate = GETDATE()

UPDATE dbo.Representative

SET

	FirstName = @FirstName,
	LastName = @LastName,
	AddressLine1 = @AddressLine1,
	AddressLine2 = @AddressLine2,
	AddressLine3 = @AddressLine3,
	Town = @Town,
	CountyId = @CountyId,
	PostCode = @PostCode,
	DateOfBirth = @DateOfBirth,
	PhoneNo1 = @PhoneNo1,
	PhoneNo2 = @PhoneNo2,
	Email = @Email,
	HistoryChangeId = @HistoryChangeId,
	ModifiedBy = @ModifiedBy,
	ModifiedDate = @ModifiedDate

WHERE
	RepresentativeId = @RepresentativeId
	
END

GO
