USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCancelledBookingStatusId]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetCancelledBookingStatusId] ()    
	RETURNS int
AS
BEGIN    
--vars    
DECLARE @cancelledId int

SET @cancelledId = (SELECT BookingStatusId FROM BookingStatus 
					WHERE UPPER(BookingStatusName) like '%CANCEL%')

	--return result    
	RETURN @cancelledId
END

GO
