USE [cabs_production]
GO
/****** Object:  Table [dbo].[SystemProcessInstanceVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemProcessInstanceVL](
	[InstanceId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SystemProcessId] [int] NOT NULL,
	[LicenceNumber] [varchar](50) NOT NULL,
	[BookingId] [int] NULL,
	[PaymentId] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Completed] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Processed] [bit] NULL,
	[ProcessDate] [datetime] NULL,
	[Comments] [nvarchar](max) NULL,
	[CallReferenceNumber] [varchar](50) NULL,
	[RegisteredOwner] [bit] NULL,
	[HiredPurchase] [bit] NULL,
	[ModifiedVehicle] [bit] NULL,
	[DeathCertDate] [datetime] NULL,
	[VehicleInspectionDocumentId] [int] NULL,
 CONSTRAINT [PK_SystemProcessInstance] PRIMARY KEY CLUSTERED 
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemProcessInstanceVL] ADD  CONSTRAINT [DF_SystemProcessInstanceVL_Completed]  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[SystemProcessInstanceVL]  WITH CHECK ADD  CONSTRAINT [FK_SystemProcessInstance_SystemProcess] FOREIGN KEY([SystemProcessId])
REFERENCES [dbo].[SystemProcessVL] ([SystemProcessId])
GO
ALTER TABLE [dbo].[SystemProcessInstanceVL] CHECK CONSTRAINT [FK_SystemProcessInstance_SystemProcess]
GO
ALTER TABLE [dbo].[SystemProcessInstanceVL]  WITH CHECK ADD  CONSTRAINT [fk_VehicleInspectionDocumentId] FOREIGN KEY([VehicleInspectionDocumentId])
REFERENCES [cabs_insp].[VehicleInspectionsDocument] ([ID])
GO
ALTER TABLE [dbo].[SystemProcessInstanceVL] CHECK CONSTRAINT [fk_VehicleInspectionDocumentId]
GO
