USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Section15CompletedNominations]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RPT_Section15CompletedNominations] (
	@StartDate datetime,
	@EndDate datetime
	) as
BEGIN
	SET NOCOUNT ON;

	declare @SP_StartDate datetime = @StartDate
	declare @SP_EndDate datetime = @EndDate

	SELECT     
		LN.LicenceNumber, 
		LHM.HolderName, 
		LHM.FirstName AS LicenceHolderFirstName, 
		LHM.LastName AS LicenceHolderSurname, 
		LHM.AddressLine1 AS LicenceHolderAddressLine1, 
		LHM.AddressLine2 AS LicenceHolderAddressLine2, 
		LHM.AddressLine3 AS LicenceHolderAddressLine3, 
		LHM.Town, 
		CNT.CountyName AS LicenceHolderCounty, 
		N.FirstName AS NomineeName, 
		N.LastName AS NomineeSurname, 
		N.AddressLine1 AS NomineeAddressLine1, 
		N.AddressLine2 AS NomineeAddressLine2, 
		N.AddressLine3 AS NomineeAddressLine3, 
		N.Town AS NomineeTown, 
		N.CountyName AS NomineeCounty, 
		LN.CreatedDate AS NomineeCreatedDate,N.CompanyName
	FROM dbo.LicenceNominee AS LN with (nolock)
		LEFT JOIN person.v_opv N on N.Id=LN.PersonId
		LEFT JOIN dbo.LicenceMasterVL as LMVL with (nolock) on LMVL.LicenceNumber=LN.LicenceNumber
			LEFT JOIN dbo.LicenceHolderMaster as LHM with (nolock) ON LHM.LicenceHolderId=LMVL.LicenceHolderId
			LEFT JOIN person.County AS CNT with (nolock) ON CNT.CountyId = LHM.CountyId
	WHERE  LN.EndDate IS NULL AND  LN.CreatedDate BETWEEN @SP_StartDate AND @SP_EndDate
	ORDER BY NomineeCreatedDate

END
GO
