USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_MVLO]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RPT_MVLO]
AS
SELECT
lh.Ccsn											AS 'CCSN',
lmv.LicenceNumber								AS 'Licence Number',
lt.LicenceType									AS 'Licence Type',
lmv.RegistrationNumber							AS 'Registration Number',
ls.LicenceStateMaster							AS 'Licence Status',
lmv.LicenceExpiryDate							AS 'Licence Expiry Date',
lm.Cnt											AS 'Count',
pt.PersonType									AS 'Person Type',
i.FirstName										AS 'First Name',
i.LastName										AS 'Last Name',
c.CompanyName									AS 'Company Name',
c.CompanyNumber									AS 'Company Number',
e.Email											AS 'Email',
lh.Town											AS 'Town',
cy.CountyName									AS 'County Name',
m.PhoneNumber									AS 'Mobile Phone',
h.PhoneNumber									AS 'Home Phone',
vm.Make											AS 'Make',
vd.Model										AS 'Model',
CASE 
WHEN dvl.VehicleLicenceHolderId IS NOT NULL THEN 'Yes'
ELSE 'No' END									AS 'Linked',
dvl.StartDate									AS 'Link Start Date',
CASE 
WHEN rta.VehicleLicenceNo IS NOT NULL THEN 'Yes'
ELSE 'No' END									AS 'Rental Agreement Y/N',
rta.StartDate									AS 'Rental Agreement Commencement',
rta.EndDate										AS 'Rental Agreement End Date',
rta.Name										AS 'Rented To',
rta.DriverLicenceNo								AS 'Rental DL'
FROM [dbo].[LicenceHolderMaster]				AS lh 
INNER JOIN 
(SELECT count(1)			AS Cnt,
LicenceHolderId				
FROM [dbo].[LicenceMasterVL]					AS lmv
INNER JOIN [dbo].[LicenceStateMaster]			AS ls ON ls.LicenceStateMasterId=lmv.LicenceStateMasterId AND LicenceStateMaster IN ('ACTIVE','INACTIVE')
group by LicenceHolderId
having count(1)>1)								AS lm ON lm.LicenceHolderId=lh.LicenceHolderId
INNER JOIN [dbo].[LicenceMasterVL]				AS lmv ON lmv.LicenceHolderId=lh.LicenceHolderId
INNER JOIN [dbo].[LicenceStateMaster]			AS ls ON ls.LicenceStateMasterId=lmv.LicenceStateMasterId AND LicenceStateMaster IN ('ACTIVE','INACTIVE')
LEFT OUTER JOIN [dbo].[LicenceType]				AS lt ON lt.LicenceTypeId=lmv.LicenceTypeId AND lt.Active=1
LEFT OUTER JOIN [person].[Person]				AS p ON p.CCSN=lh.Ccsn
LEFT OUTER JOIN [person].[PersonType]			AS pt ON pt.PersonTypeId=p.PersonTypeId
LEFT OUTER JOIN [person].[Individual]			AS i ON i.PersonId=p.PersonId
LEFT OUTER JOIN [person].[Company]				AS c ON c.PersonId=p.PersonId
LEFT OUTER JOIN [dbo].[County]					AS cy ON cy.CountyId=lh.CountyId
LEFT OUTER JOIN
(SELECT PersonId, Email = 
    STUFF((SELECT ', ' + Email
           FROM [person].[Email] b 
           WHERE b.PersonId = a.PersonId 
          FOR XML PATH('')), 1, 2, '')
FROM [person].[Email] a
GROUP BY PersonId
)												AS e ON e.PersonId=p.PersonId
LEFT OUTER JOIN
(SELECT PersonId, PhoneNumber = 
    STUFF((SELECT ', ' + PhoneNumber
           FROM [person].[Phone] b
		   LEFT OUTER JOIN [person].[PhoneType] as ptb on ptb.PhoneTypeId=b.PhoneTypeId
           WHERE ptb.PhoneType='Mobile'
		   AND b.PersonId = a.PersonId 
          FOR XML PATH('')), 1, 2, '')
FROM [person].[Phone] a
LEFT OUTER JOIN [person].[PhoneType] as pta on pta.PhoneTypeId=a.PhoneTypeId
WHERE pta.PhoneType='Mobile'
GROUP BY PersonId
)												AS m ON m.PersonId=p.PersonId		
LEFT OUTER JOIN
(SELECT PersonId, PhoneNumber = 
    STUFF((SELECT ', ' + PhoneNumber
           FROM [person].[Phone] b
		   LEFT OUTER JOIN [person].[PhoneType] as ptb on ptb.PhoneTypeId=b.PhoneTypeId
           WHERE ptb.PhoneType='Home'
		   AND b.PersonId = a.PersonId 
          FOR XML PATH('')), 1, 2, '')
FROM [person].[Phone] a
LEFT OUTER JOIN [person].[PhoneType] as pta on pta.PhoneTypeId=a.PhoneTypeId
WHERE pta.PhoneType='Home'
GROUP BY PersonId
)												AS h ON h.PersonId=p.PersonId		
LEFT OUTER JOIN	[dbo].[VehicleMaster]			AS v ON v.RegistrationNumber=lmv.RegistrationNumber
LEFT OUTER JOIN [dbo].[VehicleMake]				AS vm ON vm.MakeId=v.MakeId				
LEFT OUTER JOIN [dbo].[VehicleModel]			AS vd ON vd.ModelId=v.ModelId
LEFT OUTER JOIN 
(SELECT VehicleLicenceHolderId, VehicleLicenseNumber,
	MAX(StartDate) as StartDate
FROM [cabs_dvl].[VehicleDriver]
WHERE ISNULL(EndDate,'2999-01-01 00:00:00')>=GETDATE() AND IsActive=1
GROUP BY VehicleLicenceHolderId, VehicleLicenseNumber
)												AS dvl ON dvl.VehicleLicenceHolderId=lmv.LicenceHolderId AND dvl.VehicleLicenseNumber=lmv.LicenceNumber
LEFT OUTER JOIN 
(SELECT VehicleLicenceNo, 
	Name,
	DriverLicenceNo, 
	MAX(StartDate)	as StartDate,
	MAX(EndDate)	as EndDate
FROM [cabs_rta].[RentalAgreement]
WHERE EndDate>=GETDATE() AND IsActive=1
GROUP BY VehicleLicenceNo, Name,DriverLicenceNo
)												AS rta ON rta.VehicleLicenceNo=lmv.LicenceNumber

GO
