USE [cabs_production]
GO
/****** Object:  Table [dbo].[PrintRequestMasterVLDownload]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintRequestMasterVLDownload](
	[DownloadId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PrintRequestMasterId] [int] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PrintRequestDownloadAuditVL] PRIMARY KEY CLUSTERED 
(
	[DownloadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrintRequestMasterVLDownload] ADD  CONSTRAINT [DF_PrintRequestDownloadAuditVL_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PrintRequestMasterVLDownload]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMasterVLDownload_PrintRequestMasterVL] FOREIGN KEY([PrintRequestMasterId])
REFERENCES [dbo].[PrintRequestMasterVL] ([PrintRequestMasterId])
GO
ALTER TABLE [dbo].[PrintRequestMasterVLDownload] CHECK CONSTRAINT [FK_PrintRequestMasterVLDownload_PrintRequestMasterVL]
GO
