USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[DataCleansing_NoPPSN]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DataCleansing_NoPPSN]
AS
BEGIN

	declare @LicenceHolderId int
	declare @updatedVLSRows int	
	declare @LicenceNumber varchar(20)
	declare @PPSN varchar(20)
	declare @Count bigint = 0
	
    declare IU_NotInSync cursor for
      Select l.LicenceNumber,lh.PPSN,lh.LicenceHolderId
			from LicenceMasterVL l
				join LicenceHolderMaster lh On l.LicenceHolderId=lh.LicenceHolderId
				join LicenceStateMaster lsm On l.LicenceStateMasterId=lsm.LicenceStateMasterId				
				left outer join LicenceState ls On l.LicenceStateId=ls.LicenceStateId
				where lh.PPSN = 'NO_PPSN';
      
	open IU_NotInSync
	  fetch next from IU_NotInSync into @LicenceNumber, @PPSN, @LicenceHolderId
	while (@@FETCH_STATUS <> -1)	  
	begin	  
	  update [Cabs_Production].[dbo].[LicenceHolderMaster]  
	     set PPSN = 'NO_PPSN_'+@LicenceNumber
	   where LicenceHolderId = @LicenceHolderId and PPSN = @PPSN ;
	   
	  set @updatedVLSRows = @@Rowcount  
	
	  fetch next from IU_NotInSync into @LicenceNumber, @PPSN, @LicenceHolderId
	end
    close IU_NotInSync
    deallocate IU_NotInSync	
   
			   	        
END
GO
