USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfig_Update]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jim O'Brien>
-- Create date: <16/11/2010>
-- Description:	<Update a test centre default configuration>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfig_Update] 
	-- Add the parameters for the stored procedure here
(
	@TestCentreConfigurationId int,
	@TestCentreDefaultConfigId smallint, 
	@TestCentreId smallint,	
	@TestCentreLaneId int,	
	@ConfigDate datetime,	
	@StartTime datetime,	
	@EndTime datetime,	
	@CreatedBy nvarchar(20),	
	@CreatedDate datetime,	
	@ModifiedBy nvarchar(20),	
	@ModifiedDate datetime output
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (@ModifiedDate is null)
	BEGIN
		SET @ModifiedDate = GETDATE()
	END
	
	UPDATE TestCentreConfiguration
	SET		
		TestCentreId = @TestCentreId,
		TestCentreDefaultConfigId = @TestCentreDefaultConfigId,
		TestCentreLaneId = @TestCentreLaneId,
		ConfigDate = @ConfigDate,
		StartTime = @StartTime,
		EndTime = @EndTime,
		CreatedBy = @CreatedBy,
		CreatedDate = @CreatedDate,
		ModifiedBy = @ModifiedBy,
		ModifiedDate = @ModifiedDate	
	WHERE 
		TestCentreConfigurationId = @TestCentreConfigurationId
	
END
GO
