USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetMinimumBookingTime]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetMinimumBookingTime] ()    
	RETURNS datetime
AS
BEGIN    
/*
Author:		Jim O'Brien
Date:		04-02-2011
Purpose:	This function calculates the minimum time that a booking can be made.
			The Booking_Buffer parameter stores the number of minutes which will be set to 120 initially.
*/  
DECLARE @returnDate datetime
DECLARE @initialDate datetime

	SET @initialDate = GetDate() 

	SET @returnDate = DATEADD(D, 0, DATEDIFF(D, 0, @initialDate))

	SET @returnDate = DATEADD(hour, DatePart(hour, @initialDate), @returnDate)

	SET @returnDate = DATEADD(minute, DatePart(minute, @initialDate), @returnDate)

	SET @returnDate = DATEADD(minute, CONVERT(INT, dbo.GetSystemParameterValue('Booking_Buffer')), @returnDate)
	--	Roll up the time to the nearest 5 minute value.  i.e. 11:03 rolls up to 11:05.
	SET @returnDate = DATEADD(minute, 5 - (DatePart(minute, @returnDate) % 5) , @returnDate)

	RETURN @returnDate
END
GO
