USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceMaster]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceMaster](
	[LicenceNumber] [varchar](15) NOT NULL,
	[LicenceTypeId] [tinyint] NOT NULL,
	[LicenceHolderId] [int] NOT NULL,
	[LicenceIssueDate] [datetime] NOT NULL,
	[LicenceExpiryDate] [datetime] NOT NULL,
	[RemainingLicenceValidityDays]  AS (datediff(day,getdate(),[LicenceExpiryDate])),
	[LicenceStateId] [tinyint] NOT NULL,
	[VehicleId] [int] NULL,
	[RemainingTransfers] [tinyint] NOT NULL,
	[Comments] [text] NULL,
	[WatchList] [bit] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LICENCES] PRIMARY KEY CLUSTERED 
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_RemainingTransfers]  DEFAULT ((1)) FOR [RemainingTransfers]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LicenceMaster] ADD  CONSTRAINT [DF_LicenceMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderId] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceHolderId]
GO
ALTER TABLE [dbo].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_LicenceState] FOREIGN KEY([LicenceStateId])
REFERENCES [dbo].[LicenceState] ([LicenceStateId])
GO
ALTER TABLE [dbo].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_LicenceState]
GO
ALTER TABLE [dbo].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_LicenceType] FOREIGN KEY([LicenceTypeId])
REFERENCES [dbo].[LicenceType] ([LicenceTypeId])
GO
ALTER TABLE [dbo].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_LicenceType]
GO
