USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetNewLicenceInspectionDate]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_GetNewLicenceInspectionDate] 
	(
	 @PlateNumber as int,
	 @InspectionDate as date,
	 @IsON BIT 
)    
	RETURNS date
AS
BEGIN    

	DECLARE @NewLicenceDate date
	
	IF @IsON = 1  
			 BEGIN
				SET @NewLicenceDate = (Select top 1 CAST(vi.ModifiedDate AS date)
									from dbo.Booking b 
									join dbo.LicenceMasterVL lmv ON b.LicenceNumber = lmv.LicenceNumber
									Join dbo.VehicleInspections vi ON b.BookingId=vi.BookingId 
									join dbo.SystemProcessVL sp On b.SystemProcessId=sp.SystemProcessId
									where b.SystemProcessId in (11) ---New Licence2
									AND b.BookingStatusId=3 --Completed
									AND vi.TestResultId in (1,4) --Passed
									AND lmv.PlateNumber=@PlateNumber  ---Provide Plate Number
									AND vi.ModifiedDate <= @InspectionDate ---Inspection Passed Record Date
									Order by b.BookingId desc)   
			 END
	ELSE 
			BEGIN
			SET @NewLicenceDate = (Select top 1 CAST(vi.ModifiedDate AS date)
								from dbo.Booking b 
								join dbo.LicenceMasterVL lmv ON b.LicenceNumber = lmv.LicenceNumber
								Join dbo.VehicleInspections vi ON b.BookingId=vi.BookingId 
								join dbo.SystemProcessVL sp On b.SystemProcessId=sp.SystemProcessId
								where b.SystemProcessId in (11) ---New Licence2
								AND b.BookingStatusId=3 --Completed
								AND vi.TestResultId in (1,4) --Passed
								AND lmv.PlateNumber=@PlateNumber  ---Provide Plate Number
								AND vi.ModifiedDate >= @InspectionDate ---Inspection Passed Record Date
								Order by b.BookingId desc)
				END




	RETURN @NewLicenceDate
END

GO
