USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[HistoryChangeType_SelectByHistoryID]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 12/11/10
-- =============================================
CREATE PROCEDURE [dbo].[HistoryChangeType_SelectByHistoryID]

	@HistoryChangeID int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    
	SELECT	HistoryChangeID, HistoryChangeType

	FROM dbo.HistoryChangeType

	WHERE HistoryChangeID = @HistoryChangeID
END
GO
