USE [cabs_production]
GO
/****** Object:  View [dbo].[ssis_DL_Fines]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [dbo].[ssis_DL_Fines] as

select 
	Id,
	FineTypeId,
	IssueDate 'FineDateTime',
	IncidentDate 'FineIncidentDate',
	Amount 'FineAmount',
	DueForPayment 'FinePaymentDate',
	IsPaid 'FinePaid',
	DatePaid 'FinePaidDate',
	FineStatusId,
	DocketNumber 'DocketRefNo',
	convert(int,DriverLicenceId) 'LicenceHolderId',
	DriverLicenceNumber 'Licence_Nbr',
	RegistrationNumber 'Reg_Nbr',
	VehicleLicenceNumber 'VehicleLicence',
	CourtDate,
	convert(nvarchar(max), case FineCourtOutcomeId WHEN 1 then 'Convicted' WHEN 2 then 'Probation' WHEN 3 then 'Successful' ELSE null END) 'CourtOutcome',
	convert(nvarchar(max), Comments) 'Comments',
	convert(nvarchar(50), InfoLicenceNumber) 'Info_Licence_Nbr',
	convert(nvarchar(max), InfoRegistrationNumber) 'Info_Reg_Nbr',
	IssueOfficerId,
	FineAreaId 'CountyId'
from CABS_ENF.Fines with (nolock)
		
GO
