USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_ExpiringConditionalOfferLicenses_6_Weeks]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 19-Apr-2011
-- Description:	Process each licence that is going to expire soon.
-- =============================================
CREATE PROCEDURE [dbo].[sch_ExpiringConditionalOfferLicenses_6_Weeks] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @LicenceNumber varchar(10),
		@PlateNumber INT,
		@LicenceTypeId INT,
		@Counter INT,
		@LicenceHolderId INT,
		@VehicleRegistrationNumber varchar(10),
		@RegistrationDate DATETIME,
		@LicenceExpiryDate DATETIME,
		@RequestId INT,
		@ModifiedDate DATETIME,
		@ErrorMessage varchar(4000),
		@LetterError varchar(4000)
		
--A counter of 2000 is set to prevent any infinite loops...		
SET @Counter = 1
SET @ModifiedDate = GETDATE()

WHILE (1 = 1 AND @Counter < 2000)
BEGIN
	SET @Counter = @Counter + 1
		
	SELECT	TOP 1	@LicenceNumber = L.LicenceNumber,
					@PlateNumber = PlateNumber,
					@LicenceTypeId = L.LicenceTypeId,
					@LicenceHolderId = L.LicenceHolderId,
					@VehicleRegistrationNumber = L.RegistrationNumber,
					@RegistrationDate = RegistrationDate,
					@LicenceExpiryDate = LicenceExpiryDate
					
	FROM dbo.LicenceMasterVL L
	INNER JOIN dbo.LicenceHolderMaster H ON H.LicenceHolderId = L.LicenceHolderId
	INNER JOIN dbo.VehicleMaster V ON V.RegistrationNumber = L.RegistrationNumber
	INNER JOIN dbo.LicenceType T on L.LicenceTypeId = T.LicenceTypeId
	WHERE LicenceNumber NOT IN
	(
		SELECT LicenceNumber FROM dbo.PrintRequestMasterVL P
		INNER JOIN dbo.LetterRequestTypeVLAudit A
		ON A.LetterRequestTypeAuditId = P.LetterRequestTypeAuditId
		WHERE P.CreatedDate > DATEADD(Day, -365, GETDATE())
		AND A.LetterRequestTypeId = 5
	)
	AND DATEDIFF(DAY, GETDATE(), CoExpiryDate) > 0 AND DATEDIFF(DAY, GETDATE(), CoExpiryDate) < 45
	AND LicenceStateMasterId = 5
	AND LicenceStateId = 10
		
	--If none are found, stop
	IF @LicenceNumber IS NULL
	BEGIN
		BREAK
	END
	
	BEGIN TRY

		SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

		BEGIN TRANSACTION FINISH
			
					
		exec USP_DWH_PrintRequestVL_Insert
		@PrintRequestId = @RequestId OUTPUT,
		@LicenceNumber = @LicenceNumber,
		@LicenceHolderId = @LicenceHolderId,
		@NewLicenceHolderId = null,
		@PreviousLicenceHolderId = null,
		@VehicleRegistrationNumber = @VehicleRegistrationNumber,
		@NewVehicleRegistrationNumber = null,
		@PreviousVehicleRegistrationNumber = null,
		@BookingId = null,
		@PaymentId = null,
		@PrintRequestReasonId = 1,
		@LetterRequestTypeId = 5,
		@CreatedBy = 'System'	
	
		IF @RequestId IS NULL
		BEGIN
			SET @LetterError = 'Unable to generate 12 week reminder letter for licence # ' + @LicenceNumber
			Raiserror (@LetterError, 16, 1)
		END	

		SET @LicenceNumber = NULL
		
		COMMIT TRANSACTION FINISH
			
	END TRY

	BEGIN CATCH
	
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION FINISH
		END
			SET @ErrorMessage = ERROR_MESSAGE()
		
			Begin Try
			--Log the error
		
			INSERT INTO [dbo].[PrintEventLogs]
					(
						[Date],
						[Thread],
						[Level],
						[Logger],
						[Message],
						[Usr]
					)
			VALUES
					(
						@ModifiedDate,
						1,
						'ERROR',
						'sch_LetterVL_ExpiringLicenses_12_Weeks',
						@ErrorMessage,
						'System'
					)
					
			End	Try
					
			BEGIN CATCH
					
			--Nothing to do if the Print Event Log fails
					
			END CATCH
		
		
		RAISERROR (@ErrorMessage, 16, 1);
			
		RETURN 0
		
	END CATCH
			
	CONTINUE
END


END
GO
