USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetSPSV_POST_COUNT_VL]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetSPSV_POST_COUNT_VL] 
	(
		@PPSN varchar(50)
	)    
	RETURNS int
AS
BEGIN    

DECLARE @LetterCount Int

Select @LetterCount=count(*) from  [dbo].[PrintRequestMasterVL] PRM 
	INNER JOIN [dbo].[PrintRequestDetailVL] PRD on PRD.PrintRequestMasterId = PRM.PrintRequestMasterId
	INNER JOIN dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeAuditId	
	where HolderPPSN is not NULL 
	AND LRA.LetterCode in ('SPSV-LINKNEWDL',
'SPSV-LINKNEWVL',
'SPSV-LINKBROKENDL',
'SPSV-LINKBROKENVL',
'SPSV-LINKEDITEDDL',
'SPSV-LINKEDITEDVL',
'SPSV-LINKEXPIREDDL',
'SPSV-LINKEXPIREDVL')
AND PRD.DespatchMethodId = 1
	and HolderPPSN = @PPSN


RETURN @LetterCount


END
GO
