USE [cabs_production]
GO
/****** Object:  View [dbo].[temp2]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* Combined VL/DL */
CREATE VIEW [dbo].[temp2]
AS

SELECT    lh.Ppsn
FROM            LicenceMasterVL AS l INNER JOIN
                         LicenceHolderMaster AS lh ON lh.LicenceHolderId = l.LicenceHolderId INNER JOIN
                         LicenceType AS lt ON l.LicenceTypeId = lt.LicenceTypeId INNER JOIN
                         County AS c ON lh.CountyId = c.CountyId 
WHERE        (l.LicenceStateMasterId = 4)  AND (lh.Ppsn NOT IN ('123456789A', '00000000'))   




GO
