USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[BookingPayment_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[BookingPayment_Insert] 
(
@BookingId int,
@PaymentId int
)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.BookingPayment
	(
			BookingId,
			PaymentId
	)
	VALUES
	(
			@BookingId,
			@PaymentId
	)
	
	
END
GO
