USE [cabs_production]
GO
/****** Object:  Table [dbo].[TestCentreLanes]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCentreLanes](
	[TestCentreLaneId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestCentreId] [int] NOT NULL,
	[TestCentreLaneName] [varchar](50) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[TestCentreLaneTypeID] [int] NULL,
 CONSTRAINT [PK_TestCentreLanes] PRIMARY KEY CLUSTERED 
(
	[TestCentreLaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDXTestCentreLaneName]    Script Date: 14/04/2022 13:21:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDXTestCentreLaneName] ON [dbo].[TestCentreLanes]
(
	[TestCentreId] ASC,
	[TestCentreLaneName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCentreLanes] ADD  CONSTRAINT [DF_TestCentreLane_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TestCentreLanes] ADD  CONSTRAINT [DF_TestCentreLane_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TestCentreLanes] ADD  CONSTRAINT [DF_TestCentreLane_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[TestCentreLanes] ADD  CONSTRAINT [DF_TestCentreLane_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[TestCentreLanes]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreLane_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[TestCentreLanes] CHECK CONSTRAINT [FK_TestCentreLane_TestCentre]
GO
ALTER TABLE [dbo].[TestCentreLanes]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreLanes_cabs_sk.TestCentreLaneType] FOREIGN KEY([TestCentreLaneTypeID])
REFERENCES [cabs_sk].[TestCentreLaneType] ([ID])
GO
ALTER TABLE [dbo].[TestCentreLanes] CHECK CONSTRAINT [FK_TestCentreLanes_cabs_sk.TestCentreLaneType]
GO
