USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_SelectBookingInTimeframe]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure

-- =============================================
-- Author:		<Author, Jim O'Brien>
-- Create date: <Create Date, 07-Feb-2011>
-- Description:	<Description, Select bookings in the time frame. 
--				This will >
-- =============================================
CREATE PROCEDURE [dbo].[Booking_SelectBookingInTimeframe]
(
@testCentreLaneId int,
@startTime DateTime,
@endTime DateTime
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT		b.BookingId,
			b.ParentId,
			b.InspectionTimeId,
			vIT.InspectionProcessID,
			vIT.InspectionProcessDescription,
			vIT.InspectionTypeID,
			vIT.InspectionTypeDescription,
			vIT.LicenceTypeId,
			vIT.LicenceType,
			vIT.InspectionTime,
			b.TestCentreId,
			tc.TestCentreName,
			b.TestCentreLaneId,
			tcl.TestCentreLaneName,
			b.BookingStatusId,
			bs.BookingStatusName,
			bs.VoidedBooking,
			b.SystemProcessId,
			spVL.ProcessName,
			b.BookingDateTime,
			b.BookingEndDateTime,
			b.LicenceNumber,
			b.RegistrationNumber,
			b.BookingCancellationReasonId,
			bcr.BookingCancellationReason,
			b.NewLicenceHolderId,
			LateCancellation,
			LateReschedule,
			PremiumBooking,
			lhm.HolderName + ' ( ' + lhm.CCSN + ')' AS NewLicenceHolder,
			b.CreatedBy,
			b.CreatedDate,
			b.ModifiedBy,
			b.ModifiedDate
	FROM	dbo.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.TestCentreLanes tcl ON b.TestCentreLaneId = tcl.TestCentreLaneId
			INNER JOIN dbo.BookingStatus bs ON b.BookingStatusId = bs.BookingStatusId
			INNER JOIN dbo.SystemProcessVL spVL ON b.SystemProcessId = spVL.SystemProcessId
			INNER JOIN dbo.vw_inspectionTime vIT ON vIT.InspectionTimeId = b.InspectionTimeId
			LEFT OUTER JOIN dbo.LicenceHolderMaster lhm ON  lhm.LicenceHolderId = b.NewLicenceHolderId
			LEFT OUTER JOIN dbo.BookingCancellationReason bcr ON bcr.BookingCancellationReasonId = b.BookingCancellationReasonId
	WHERE	b.TestCentreLaneId = @testCentreLaneId
	AND		b.BookingStatusId NOT IN
			(
				SELECT BookingStatusId FROM dbo.BookingStatus
				WHERE VoidedBooking = 1
			)
	AND		(
				(b.BookingDateTime >= @startTime AND b.BookingDateTime < @endTime)
			OR
				(b.BookingEndDateTime > @startTime	AND	b.BookingEndDateTime <= @endTime)
			OR
				(b.BookingDateTime <= @startTime AND b.BookingEndDateTime >= @endTime)
			)
END
GO
