USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[OperatingDayTimePeriod_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 15-Sep-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[OperatingDayTimePeriod_SelectAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT OperatingDayTimePeriodId, DY.DayName,OperatingTimePeriodName FROM dbo.OperatingDayTimePeriod D
INNER JOIN dbo.OperatingTimePeriod T on T.OperatingTimePeriodId = D.OperatingTimePeriodId
INNER JOIN dbo.DaysOfTheWeek DY on DY.DayId = D.DayID

END
GO
