USE [cabs_production]
GO
/****** Object:  Table [dbo].[BookingCheckings]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingCheckings](
	[PPSN] [nvarchar](150) NULL,
	[TC2_Result] [nvarchar](150) NULL,
	[TC2_CertNo] [nvarchar](150) NULL,
	[TC2_FName] [nvarchar](150) NULL,
	[TC2_LName] [nvarchar](150) NULL,
	[TC2_TaxType] [nvarchar](150) NULL,
	[HolderName] [nvarchar](150) NULL,
	[TC2_FullName] [nvarchar](150) NULL,
	[NctSerialNumber] [nvarchar](150) NULL,
	[RegistrationNumber] [nvarchar](150) NULL,
	[TC2_ExpiryDate] [datetime] NULL,
	[NctIssueDate] [datetime] NULL,
	[NctExpiryDate] [datetime] NULL,
	[IsRevenueValid] [bit] NULL,
	[IsNVDFValid] [bit] NULL,
	[IsValidBooking] [bit] NULL,
	[BookingId] [int] NOT NULL,
	[BookingDate] [datetime] NULL,
 CONSTRAINT [PK_BookingCheckings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
