USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[GardaDivision_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 20-Dec-2010
-- =============================================
CREATE PROCEDURE [dbo].[GardaDivision_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT GardaDivisionId, GardaDivisionName
	FROM dbo.GardaDivision
	
END
GO
