USE [cabs_production]
GO
/****** Object:  Table [dbo].[TestCentreDefaultConfigAudit]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCentreDefaultConfigAudit](
	[TestCentreDefaultConfigAuditId] [smallint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestCentreDefaultConfigId] [smallint] NULL,
	[TestCentreId] [int] NOT NULL,
	[TestCentreLaneId] [int] NOT NULL,
	[WeekDayId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Biweekly] [bit] NULL,
	[BiweeklyStartDate] [datetime] NULL,
	[BiweeklyEndDate] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_TestCentreDefaultConfigAudit] PRIMARY KEY CLUSTERED 
(
	[TestCentreDefaultConfigAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCentreDefaultConfigAudit]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreDefaultConfigAudit_DaysOfTheWeek] FOREIGN KEY([WeekDayId])
REFERENCES [dbo].[DaysOfTheWeek] ([DayId])
GO
ALTER TABLE [dbo].[TestCentreDefaultConfigAudit] CHECK CONSTRAINT [FK_TestCentreDefaultConfigAudit_DaysOfTheWeek]
GO
ALTER TABLE [dbo].[TestCentreDefaultConfigAudit]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreDefaultConfigAudit_Lanes] FOREIGN KEY([TestCentreLaneId])
REFERENCES [dbo].[TestCentreLanes] ([TestCentreLaneId])
GO
ALTER TABLE [dbo].[TestCentreDefaultConfigAudit] CHECK CONSTRAINT [FK_TestCentreDefaultConfigAudit_Lanes]
GO
ALTER TABLE [dbo].[TestCentreDefaultConfigAudit]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreDefaultConfigAudit_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[TestCentreDefaultConfigAudit] CHECK CONSTRAINT [FK_TestCentreDefaultConfigAudit_TestCentre]
GO
