USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Driver_Licences_Transport_Statistics_Summary]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adam Nosal
-- Create date: 28-Feb-2021
-- =============================================
CREATE   PROCEDURE [dbo].[RPT_Driver_Licences_Transport_Statistics_Summary]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
SELECT 
lt.LicenceType,
Count(*) as LicenceCount

from  dbo.VehicleInspections vi
  join dbo.Booking b on b.BookingId = vi.BookingId
  left join dbo.LicenceMasterVL lmvl on lmvl.LicenceNumber = vi.LicenceNumber
  left join dbo.LicenceType lt on lt.LicenceTypeId = lmvl.LicenceTypeId
WHERE  Cast(VI.TestStartTime as DATE) >= @StartDate And Cast(VI.TestStartTime as DATE) <=@EndDate
and  b.SystemProcessId = 11 and (TestResultId =1 or TestResultId = 4) --pass
group by lt.LicenceType

END





GO
