USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[test1ForDeferred]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Damien Dennehy
-- Create date: 19-Apr-2011
-- Description:	Process each licence in deferred state.
-- =============================================
CREATE PROCEDURE [dbo].[test1ForDeferred] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @LicenceNumber varchar(10),
		@PlateNumber INT,
		@LicenceTypeId INT,
		@Counter INT,
		@LicenceHolderId INT,
		@VehicleRegistrationNumber varchar(10),
		@RegistrationDate DATETIME,
		@LicenceExpiryDate DATETIME,
		@LetterRequestTypeId INT,
		@RequestId INT,
		@ModifiedDate DATETIME,
		@ErrorMessage varchar(4000),
		@LetterError varchar(4000),
		@Id int
		


--A counter of 2000 is set to prevent any infinite loops...		
SET @Counter = 1
SET @ModifiedDate = GETDATE()

WHILE (1 = 1 AND @Counter < 150)
BEGIN
	SET @Counter = @Counter + 1
		
		Select top 1
		@ModifiedDate = licencemastervl.ModifiedDate,
		@LicenceNumber = licencemastervl.licencenumber
		from licencemastervl where (LicenceStateMasterId = 5) AND (LicenceStateId = 8) and licenceexpirydate > getdate()
		
		
	--If none are found, stop
	IF @LicenceNumber IS NULL
	BEGIN
		BREAK
	END
	
	BEGIN TRY

		SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

		BEGIN TRANSACTION FINISH
			
		UPDATE dbo.LicenceMasterVL
		SET LicenceExpiryDate = @ModifiedDate	
		WHERE LicenceNumber = @LicenceNumber
				
		Select top 1
		@Id = a.Id
		from licencemastervlAudit a where licencenumber=@LicenceNumber order by id desc

		update licencemastervlaudit set LicenceExpiryDate=@ModifiedDate where ID=@Id

					
		SET @LicenceNumber = NULL
		
		COMMIT TRANSACTION FINISH
			
	END TRY

	BEGIN CATCH
	
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION FINISH
		END
			SET @ErrorMessage = ERROR_MESSAGE()
		
		
		
		
		RAISERROR (@ErrorMessage, 16, 1);
			
		RETURN 0
		
	END CATCH
			
	CONTINUE
END


END


GO
