USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentItemVLRefundReason_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 06-Oct-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[PaymentItemVLRefundReason_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT RefundReasonId, ReasonName
	FROM dbo.PaymentItemVLRefundReason
	
END
GO
