USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_LetterPrintJob_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Syed
-- Create date: 07-July-2014
-- Description:	Process each print letters and insert into logs table for report
-- =============================================
CREATE PROCEDURE [dbo].[sch_LetterPrintJob_Insert] 
	-- Add the parameters for the stored procedure here

@Folder nvarchar(100),
@LetterFiles nvarchar(200),
@LetterCode nvarchar(20),
@LicenceNumber nvarchar(20),
@PrintDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

IF NOT EXISTS (SELECT * FROM LetterPrintJobLogs WHERE LetterFiles=@LetterFiles)  
		Begin
			INSERT INTO [dbo].[LetterPrintJobLogs]
					   ([Folder]
					   ,[LetterFiles]
					   ,[LetterCode]
					   ,[LicenceNumber]
					   ,[PrintDate])
				 VALUES
					   (@Folder
					   ,@LetterFiles
					   ,@LetterCode
					   ,@LicenceNumber
					   ,@PrintDate)
		   END

END
GO
