USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_IssueOfficers]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE  VIEW [dbo].[vw_IssueOfficers] AS
	select distinct u.UserId, u.FullName from cabs_live.dbo.Case_TeamUsers tu
	join cabs_production.cabs_cmo.UserDetails u on tu.user_id=u.UserId
	where team_id=6 or team_id=16	
GO
