USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Representative_SelectByRepresentativeId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		rpodgorski
-- Create date: 18-02-2014
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[Representative_SelectByRepresentativeId]
(
	@RepresentativeId int
)

AS

BEGIN

SET NOCOUNT ON;

SELECT [RepresentativeId]
	 , [FirstName]
	 , [LastName]
	 , [AddressLine1]
	 , [AddressLine2]
	 , [AddressLine3]
	 , [Town]
	 , [CountyId]
	 , [PostCode]
	 , [DateOfBirth]
	 , [PhoneNo1]
	 , [PhoneNo2]
	 , [Email]
	 , HistoryChangeId
	 , [CreatedBy]
	 , [CreatedDate]
	 , [ModifiedBy]
	 , [ModifiedDate]
FROM
	[dbo].[Representative]
WHERE
	RepresentativeId = @RepresentativeId
END

GO
