USE [cabs_production]
GO
/****** Object:  Table [dbo].[NomineeStoredDocument]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NomineeStoredDocument](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StoredDocumentId] [int] NULL,
	[LicenceNomineeId] [int] NOT NULL,
 CONSTRAINT [Ind_Id] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceNominee]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceNominee] ON [dbo].[NomineeStoredDocument]
(
	[LicenceNomineeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoredDocument]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_StoredDocument] ON [dbo].[NomineeStoredDocument]
(
	[StoredDocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NomineeStoredDocument]  WITH CHECK ADD FOREIGN KEY([LicenceNomineeId])
REFERENCES [dbo].[LicenceNominee] ([LicenceNomineeId])
GO
ALTER TABLE [dbo].[NomineeStoredDocument]  WITH CHECK ADD FOREIGN KEY([StoredDocumentId])
REFERENCES [dbo].[StoredDocument] ([StoredDocumentId])
GO
