USE [cabs_production]
GO
/****** Object:  View [dbo].[ssis_DL_LicenceState]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ssis_DL_LicenceState] as

select 
	convert(int,concat(lsm.LicenceStateMasterId,ls.LicenceStateId)) 'LicenceStateId', 
	concat(lsm.Name, ' - ' + ls.Name) 'LicenceStateName' 
	from dl.LicenceStateMaster lsm with (nolock)
		left join dl.LicenceState ls with (nolock) on lsm.LicenceStateMasterId=ls.LicenceStateMasterId
GO
