USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[WatRegister_SelectByLicenceNumber]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WatRegister_SelectByLicenceNumber]

(
@LicenceNumber varchar(50)
)

AS
BEGIN

SET NOCOUNT ON;

SELECT W.LicenceNumber
	 , W.DispatchOperatorId
	 , W.Email
	 , W.ContactNumberBookings
	 , W.ContactNumberMobile
	 , W.WebSite
	 , W.Comments
	 , isnull(WGS.Description, 'No') AS 'WavGrantDescription'
	 , W.WavGrantExpiryDate
	 , W.CreatedBy
	 , W.CreatedDate
	 , W.ModifiedBy
	 , W.ModifiedDate

FROM
	dbo.WatRegister W
	LEFT OUTER JOIN WavGrantStatus WGS
		ON WGS.WavGrantStatusID = W.WavGrantStatusID

WHERE
	LicenceNumber = @LicenceNumber
END
GO
