USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintCompanies_SelectByCompanyId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <13-12-2010>
-- =============================================
CREATE PROCEDURE [dbo].[PrintCompanies_SelectByCompanyId]

(
	@PrintCompanyId int
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT PrintCompanyId,PrintCompanyName
	FROM dbo.PrintCompany

	WHERE PrintCompanyId = @PrintCompanyId

END
GO
