USE [cabs_production]
GO
/****** Object:  Table [dbo].[PaymentRefundItemVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRefundItemVL](
	[RefundItemId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RefundId] [int] NOT NULL,
	[PaymentItemId] [int] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PaymentRefundItemVL] PRIMARY KEY CLUSTERED 
(
	[RefundItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaymentRefundItemVL]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRefundItemVL_PaymentItemVL] FOREIGN KEY([RefundId])
REFERENCES [dbo].[PaymentRefundVL] ([RefundId])
GO
ALTER TABLE [dbo].[PaymentRefundItemVL] CHECK CONSTRAINT [FK_PaymentRefundItemVL_PaymentItemVL]
GO
