USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[GetAllLicenceHolderVLForSocialWelfare]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Vilau Mariana>
-- Create date: <Create Date, 06/01/2012,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllLicenceHolderVLForSocialWelfare]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--INSERT NEW LICENCEHOLDERS IN TABLE SOCIALWELFARELOG
	INSERT INTO SocialWelfareLog
	SELECT PPSN, GETDATE() FROM LICENCEHOLDERMASTER LH 
	WHERE LH.PPSN NOT IN(SELECT PPSN FROM SOCIALWELFARELOG)
    
	SELECT distinct
		LH.PPSN as Ppsn,
		LH.HOLDERNAME as [Name],
		-- ADRESS
		LH.AddressLine1 as [Adress 1],
		LH.AddressLine2 as [Adress 2],
		LH.AddressLine3 as [Adress 3],
		LH.Town,
		County.CountyName as County,
		LH.PostCode,
		--END ADRESS
		LH.DateOfBirth as [Date of Birth],
		LT.LicenceType as [Type of Licence],
		LM.LicenceIssueDate as [Date issue],
		LSM.LicenceStateMaster as [Status],
		(CASE WHEN GETDATE()-1 > SW.DATESENT THEN 'FALSE'
			ELSE 'TRUE'
		END) AS [Is New Licence]
		FROM LicenceHolderMaster LH
		INNER JOIN LicenceMasterVL LM
		ON LH.LicenceHolderId = LM.LicenceHolderId
		
		INNER JOIN dbo.LicenceStateMaster LSM
		ON LSM.LicenceStateMasterId = LM.LicenceStateMasterId
		INNER JOIN dbo.LicenceType LT
		ON LM.LicenceTypeId = LT.LicenceTypeId
		INNER JOIN County
		ON County.CountyId = LH.CountyId
		INNER JOIN SOCIALWELFARELOG SW 
		ON SW.PPSN = LH.PPSN

END
GO
