USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleColour_SelectByColourId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VehicleColour_SelectByColourId]
(
@ColourId int
)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT ColourId,Colour,Active,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate
	FROM dbo.VehicleColour
	WHERE ColourId = @ColourId
END
GO
