USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[BookingStatus_Update]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

-- Stored Procedure

 

-- =============================================

-- Author:        <vmcc>

-- Create date: <18/06/2012>

-- Description:   <Update a booking status>

-- =============================================

CREATE PROCEDURE [dbo].[BookingStatus_Update] 

      -- Add the parameters for the stored procedure here

(

      @BookingId int output,  

      @BookingStatusId int,

      @ModifiedBy nvarchar(50),     

      @ModifiedDate datetime output

)

 

AS

BEGIN

      DECLARE @ErrorMessage VarChar (Max)

      -- SET NOCOUNT ON added to prevent extra result sets from

      -- interfering with SELECT statements.

      SET NOCOUNT ON;

      

      SET @ModifiedDate = GETDATE()

 

      Update Booking

      Set   

            BookingStatusId = @BookingStatusId        

      WHERE BookingId = @BookingId

 

      set @BookingId = SCOPE_IDENTITY()

 

END

GO
