USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_LicenceExpiry]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Syed
-- Create date: 13/01/2013
-- =============================================
CREATE PROCEDURE [dbo].[RPT_LicenceExpiry]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	/*
1. All licences expiring in January
2. All licences expiring in February
The report fields should include:
1. Licence number
2. Licence expiry date
3. Licence type
4. Licence holder name
5. Licence holder contact details (phone no.)
6. Vehicle reg. no.
7. Vehicle age
*/

Select distinct l.PlateNumber,l.LicenceExpiryDate,t.LicenceType,
isnull(LSM.LicenceStateMaster,'')+isnull(' - '+ LS.LicenceState,'') as [LicenceState],
lh.HolderName,lh.PhoneNo1,v.RegistrationNumber,
v.RegistrationDateOrigin,
				v.RegistrationDateIreland,
				B.BookingDateTime,
				bs.BookingStatusName,
Convert(Varchar,CAST(v.VehicleAge AS INTEGER)) +' Year(s) ' + Convert(Varchar,CAST(((v.VehicleAge-CAST(v.VehicleAge AS INTEGER))*365) AS INTEGER)) +' Day(s)' as VehicleAge
from LicenceMasterVL l 
inner join VehicleMaster v ON l.RegistrationNumber=v.RegistrationNumber
inner join LicenceType t On l.LicenceTypeId=t.LicenceTypeId
inner join LicenceHolderMaster lh On l.LicenceHolderId = lh.LicenceHolderId	
LEFT JOIN dbo.LicenceStateMaster LSM on LSM.LicenceStateMasterId = l.LicenceStateMasterId
LEFT JOIN dbo.LicenceState LS on LS.LicenceStateId = l.LicenceStateId
LEFT OUTER JOIN dbo.Booking B on B.LicenceNumber = l.LicenceNumber and B.BookingStatusId=2
LEFT OUTER JOIN dbo.BookingStatus bs ON B.BookingStatusId=bs.BookingStatusId
WHERE l.LicenceExpiryDate BETWEEN  @StartDate AND @EndDate 
order by l.LicenceExpiryDate asc

		

	
END

GO
