USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[AppendTimeToDate]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[AppendTimeToDate] (@DayDate datetime, @TimeDate datetime)    
	RETURNS datetime
AS
BEGIN    
--vars    
DECLARE @returnDate datetime

	SET @returnDate = DATEADD(D, 0, DATEDIFF(D, 0, @DayDate))

	SET @returnDate = DATEADD(hour, DatePart(hour, @TimeDate),@returnDate)

	SET @returnDate = DATEADD(minute, DatePart(minute, @TimeDate),@returnDate)

	SET @returnDate = DATEADD(second, DatePart(second, @TimeDate),@returnDate)
	--return result    
	RETURN @returnDate
END

GO
