USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LAHLink_UpdateOrInsert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LAHLink_UpdateOrInsert]
(
	@vehicleLicence varchar(20),
	@driverLicence varchar(20),
	@area varchar(100),
	@clearLAH bit,
	@validateOnly bit,
	@status INT OUTPUT
)

AS

BEGIN
	--IF VL ARLEADY EXISTS FOR OTHER DL
	IF EXISTS (SELECT * FROM dbo.LAHLink WHERE VehicleLicenceNumber = @vehicleLicence and DriverLicenceNumber <> @driverLicence AND DriverLicenceNumber <> '' AND DriverLicenceNumber IS NOT NULL)
		BEGIN
			PRINT 'Vehicle Licence arleady have link.'

			SELECT @status = 0
			RETURN 
		END
	--CLEAR LAH LINK
	IF @clearLAH = 1 AND @driverLicence IS NOT NULL
		BEGIN
			DELETE FROM dbo.LAHLink WHERE DriverLicenceNumber = @driverLicence

			SELECT @status = 1
			RETURN 
		END

	IF @vehicleLicence IS NULL OR @driverLicence IS NULL OR @area IS NULL
		BEGIN
			PRINT 'All properties must have value.'

			SELECT @status = 0
			RETURN 
		END

		
	IF @validateOnly = 1
		BEGIN		
			SELECT @status = 1
			RETURN
		END
	--IF VL ARLEADY EXISTS BUT DO NOT HAVE LINK
	IF EXISTS (SELECT * FROM dbo.LAHLink WHERE VehicleLicenceNumber = @vehicleLicence and (DriverLicenceNumber IS NULL OR DriverLicenceNumber = ''))
		BEGIN
			UPDATE dbo.LAHLink
			SET DriverLicenceNumber = @driverLicence, Area = @area
			WHERE VehicleLicenceNumber = @vehicleLicence

			SELECT @status = 1
			RETURN 
		END
				
	-- IF DRIVER AND VEHICLE EXISTS - UPDATE AREA
	IF EXISTS (SELECT * FROM dbo.LAHLink WHERE VehicleLicenceNumber = @vehicleLicence and DriverLicenceNumber = @driverLicence)
		BEGIN
			UPDATE dbo.LAHLink
			SET  Area = @area
			WHERE VehicleLicenceNumber = @vehicleLicence and DriverLicenceNumber = @driverLicence

			SELECT @status = 1
			RETURN 
		END

	--IF DRIVER LICENCE ARLEADY EXISTS FOR OTHER VEHICLE - UPDATE VEHICLE LICENCE AND AREA
	IF EXISTS (SELECT * FROM dbo.LAHLink WHERE VehicleLicenceNumber <> @vehicleLicence and DriverLicenceNumber = @driverLicence)
		BEGIN
			UPDATE dbo.LAHLink
			SET  VehicleLicenceNumber = @vehicleLicence, Area = @area
			WHERE DriverLicenceNumber = @driverLicence

			SELECT @status = 1
			RETURN 
		END


	-- IF NEITHER DRIVER OR VEHICLE EXISTS - INSERT NEW VALUES
	IF NOT EXISTS (SELECT * FROM dbo.LAHLink WHERE VehicleLicenceNumber = @vehicleLicence OR DriverLicenceNumber = @driverLicence)
		BEGIN
			INSERT INTO dbo.LAHLink VALUES (@vehicleLicence, @driverLicence,@area)

			SELECT @status = 1
			RETURN 
		END
END
GO
