USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceRepresentative_SelectByLicenceNumber]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		rpodgorski
-- Create date: 18-02-2014
-- Description:	Select By Licence Number
-- =============================================
CREATE PROCEDURE [dbo].[LicenceRepresentative_SelectByLicenceNumber]
(
	@LicenceNumber nvarchar(10)
)

AS

BEGIN

SET NOCOUNT ON;

SELECT LicenceRepresentativeId
	 , [LicenceNumber]
	 , LicenceHolderMasterId
	 , [RepresentativeId]
	 , [StartDate]
	 , [EndDate]
	 , [CreatedBy]
	 , [CreatedDate]
	 , [ModifiedBy]
	 , [ModifiedDate]

FROM
	[dbo].[LicenceRepresentative]
WHERE
	LicenceNumber = @LicenceNumber

END

GO
