USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[cabs_enf_icabsChecks_SelectLastWeekSGS]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[cabs_enf_icabsChecks_SelectLastWeekSGS]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 SELECT distinct a.VehicleLicenceNumber, ahi.AuditId as CheckId, lat.Name as EntityDescription ,ahi.Id  as EntityIdNumber, ahi.CreatedOn  as CreatedDate,a.[VehicleRegistrationNumber] as AssociatedRefNumber,
			a.[DriverLicenceNumber] , lai.ShortName as CheckListItemDescription,ahi.[Passed] as ItemCheckPassedYn,ud.FUllName as EnforcementOfficerName,
			ahi.[Passed] as CheckPassedYn
FROM            cabs_enf.Audit AS a INNER JOIN
                         cabs_enf.AuditHistoryItem AS ahi ON ahi.AuditId = a.Id INNER JOIN
                         cabs_enf.lkAuditItem AS lai ON ahi.lkAuditItemId = lai.Id INNER JOIN    ----DWH_EntityCheckList
                         cabs_enf.lkAuditItemType AS l ON lai.lkAuditItemTypeId = l.Id INNER JOIN
                         cabs_enf.lkAuditType AS lat ON a.Type = lat.Id join   ---old entity
						 aspnet_Membership am On a.[EnforcementOfficerUId]=am.UserId join 
						 [cabs_cmo].[UserDetails] ud On am.UserId=ud.UserId join 
						 aspnet_Users us On am.UserID=us.UserId join 
						 [dbo].[aspnet_UsersInRoles] r on r.UserId=us.UserID
Where 
	ahi.CreatedOn >= DateAdd(Day, -7, GetDate())	
	and (us.UserName like '%dbrogan%' or  us.UserName like '%jkinsella%' or us.UserName like '%doregan%' or us.UserName like '%jburke%')
	and r.RoleID='EEB8794F-2946-47F9-814A-9D7E18D8B231'
Order By 
		ahi.[Passed] asc,ahi.CreatedOn,lai.ShortName
END
GO
