USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Expiry_Date_Lead_Time_Summary]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dan Rusu
-- Create date: 27-May-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Expiry_Date_Lead_Time_Summary]

@StartDate DateTime,
@EndDate DateTime


AS
BEGIN
	SET NOCOUNT ON;

	
select 
datediff(day,b.BookingDateTime,l.LicenceExpiryDate) as [Lead Time],
count(*) as [Count],
Cast(Round(100.00 * count(*) / 
(select count(*) from dbo.Booking b
left join dbo.LicenceMasterVL l on b.LicenceNumber = l.LicenceNumber
where convert(date, BookingDateTime) between @startDate and @endDate and BookingStatusId = 2 and b.BookingDateTime > getdate() and b.SystemProcessId in (1,12)
) ,2,1) as decimal(18,2)) as [Percentage from total]
from dbo.Booking b
left join dbo.LicenceMasterVL l on b.LicenceNumber = l.LicenceNumber
where convert(date, BookingDateTime) between @startDate and @endDate and BookingStatusId = 2 and b.BookingDateTime > getdate()
and b.SystemProcessId in (1,12)
group by datediff(day,b.BookingDateTime,l.LicenceExpiryDate)
order by [Lead Time]
END
GO
