USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_NewNctCertificates]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[RPT_NewNctCertificates]

	 as 
begin
declare @startDate datetime =   DATEADD(day, DATEDIFF(day, 0, dateadd(day,-90,getdate())), 0);
declare @tomorrow datetime =  DATEADD(day, DATEDIFF(day, 0, dateadd(day,1,getdate())), 0);


select vm.RegistrationNumber,
vm.NctIssueDate,
vm.NctExpiryDate,
vm.NctSerialNumber from dbo.VehicleMaster vm 
where vm.NctIssueDate between @startDate and @tomorrow
order by NctIssueDate desc 


END
GO
