USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_LicenceMasterVLDetails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_LicenceMasterVLDetails]
AS
SELECT
    lm.LicenceNumber,
    lm.LicenceExpiryDate,
    lm.LicenceIssueDate,
    lm.CoExpiryDate,
    lm.CoIssueDate,
    lm.RenewalDate,
    lm.RemainingTransfers,
    lm.TransferDate,
    lsm.LicenceStateMasterId,
    lsm.LicenceStateMaster,
    ls.LicenceStateId,
    ls.LicenceState,
    lt.LicenceTypeId,
    lt.LicenceType,
    hct.HistoryChangeID,
    hct.HistoryChangeType,
    lm.PlateNumber,
    lm.FinalOperationDate
FROM
    dbo.LicenceMasterVL    AS lm  LEFT OUTER JOIN
    dbo.LicenceState       AS ls  ON lm.LicenceStateId = ls.LicenceStateId LEFT OUTER JOIN
    dbo.LicenceStateMaster AS lsm ON lm.LicenceStateMasterId = lsm.LicenceStateMasterId LEFT OUTER JOIN
    dbo.HistoryChangeType  AS hct ON lm.HistoryChangeId = hct.HistoryChangeID LEFT OUTER JOIN
    dbo.LicenceType        AS lt  ON lm.LicenceTypeId = lt.LicenceTypeId
GO
