USE [cabs_production]
GO
/****** Object:  Table [dbo].[PaymentVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentVL](
	[PaymentId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LicenceNumber] [varchar](50) NULL,
	[PaymentMethodId] [int] NOT NULL,
	[ServiceTypeId] [int] NOT NULL,
	[PaymentReference] [varchar](50) NULL,
	[Amount] [smallmoney] NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[Comment] [nvarchar](2000) NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [CreatedDate]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [CreatedDate] ON [dbo].[PaymentVL]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [LicenceNumber]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [LicenceNumber] ON [dbo].[PaymentVL]
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PaymentMethodId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [PaymentMethodId] ON [dbo].[PaymentVL]
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ServiceTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [ServiceTypeId] ON [dbo].[PaymentVL]
(
	[ServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaymentVL]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod1] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[PaymentVL] CHECK CONSTRAINT [FK_Payment_PaymentMethod1]
GO
ALTER TABLE [dbo].[PaymentVL]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentType] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceTypeVL] ([ServiceTypeId])
GO
ALTER TABLE [dbo].[PaymentVL] CHECK CONSTRAINT [FK_Payment_PaymentType]
GO
ALTER TABLE [dbo].[PaymentVL]  WITH CHECK ADD  CONSTRAINT [FK_PaymentVL_LicenceMasterVL] FOREIGN KEY([LicenceNumber])
REFERENCES [dbo].[LicenceMasterVL] ([LicenceNumber])
GO
ALTER TABLE [dbo].[PaymentVL] CHECK CONSTRAINT [FK_PaymentVL_LicenceMasterVL]
GO
