USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_RefundDrilldown_BookingItems]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 12-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_RefundDrilldown_BookingItems]

@RefundId int

AS
BEGIN
	SET NOCOUNT ON;
	
SELECT DISTINCT

	BR.BookingId,
	SP.ProcessName,
	TY.Description,
	P.Amount AS PayAmount,
	P.PaymentReference,
	P.PaymentId,
	PM.PaymentMethodName,
	P.Comment,
	P.CreatedDate,
	P.CreatedBy

FROM dbo.BookingRefund BR

LEFT OUTER JOIN dbo.Booking B ON B.BookingId = BR.BookingId
LEFT OUTER JOIN dbo.InspectionTime IT ON IT.InspectionTimeId = B.InspectionTimeId
LEFT OUTER JOIN dbo.InspectionType TY ON TY.InspectionTypeId = IT.InspectionTypeId
LEFT OUTER JOIN dbo.SystemProcessVL SP ON SP.SystemProcessId = B.SystemProcessId
LEFT OUTER JOIN dbo.BookingPayment BP ON BP.BookingId = B.BookingId
LEFT OUTER JOIN dbo.PaymentVL P ON P.PaymentId = BP.PaymentId
LEFT OUTER JOIN dbo.PaymentMethod PM ON PM.PaymentMethodId = P.PaymentMethodId

WHERE @RefundId = BR.RefundId

END
GO
