USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_VehicleInspection_Rules]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Damien Dennehy
-- Create date: 19-Apr-2011
-- Description:	Process each Vehicle Inspection that are created on the system
--				each day.
-- =============================================
CREATE PROCEDURE [dbo].[sch_VehicleInspection_Rules] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @LicenceNumber varchar(10),
		@LicenceTypeId INT,
		@SystemProcessId INT,
		@Counter INT,
		@LicenceHolderId INT,
		@TempLicenceHolderId INT,
		@VehicleRegistrationNumber varchar(10),
		@InspectionId INT,
		@ModifiedDate DATETIME,
		@ErrorMessage varchar(4000),
		@LetterError varchar(4000),
		@RequestId int,
		@DeferralLicenceNumber varchar(10),
		@DeferralLicenceHolderId INT,
		@DeferralVehicleRegistrationNumber varchar(10),
		@LetterDate DATETIME
			
DECLARE @LicenceNumbers TABLE
(
	LicenceNumber varchar(10),
	LicenceHolderId int,
	RegistrationNumber varchar(10),
	LetterProcessed bit
)


--A counter of 5000 is set to prevent any infinite loops...		
SET @Counter = 1
SET @ModifiedDate = GETDATE()

--Get all unprocessed inspections one at a time
WHILE (1 = 1 AND @Counter < 5000)
BEGIN
	SET @Counter = @Counter + 1
		
	SELECT	TOP 1	@InspectionId = VI.VehicleInspectionId,
					@LicenceNumber = L.LicenceNumber,
					@LicenceTypeId = L.LicenceTypeId,
					@LicenceHolderId = L.LicenceHolderId,
					@VehicleRegistrationNumber = VI.RegistrationNumber,
					@SystemProcessId = B.SystemProcessId,
					@LetterDate = B.BookingDateTime
					
	FROM dbo.VehicleInspections VI
	INNER JOIN dbo.Booking B ON B.BookingID = VI.BookingId
	INNER JOIN Dbo.LicenceMasterVL L ON L.LicenceNumber = VI.LicenceNumber
	WHERE COALESCE(LettersProcessed,0) = 0
	AND TestResultId in (1,4) 
	AND VI.CreatedDate > '01-Apr-2011' 

	
	--If none are found, stop
	IF @InspectionId IS NULL
	BEGIN
		BREAK
	END
	
	
	BEGIN TRY

		SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

		BEGIN TRANSACTION FINISH
			
		--Every process aside from duplicate TP's requires a duplicate licence
			
		IF 	@SystemProcessId <> 6
		BEGIN
				--Generate a duplicate licence letter
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = null,
				@PaymentId = null,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = 18,
				@CreatedBy = 'System',	
				@LetterDate = @LetterDate
				
				IF @RequestId IS NULL
				BEGIN
					SET @LetterError = 'Unable to generate duplicate licence letter for Vehicle Inspection ' + CONVERT(VARCHAR(10),@InspectionId)
					Raiserror (@LetterError, 16, 1)
				END	
		END
			
		--If the system process is a transfer + change of vehicle, print a transfer confirmation letter
		IF @SystemProcessId  = 9
		BEGIN
			SELECT TOP 1 @TempLicenceHolderId = LicenceHolderId FROM dbo.LicenceMasterVLAudit
			WHERE LicenceNumber = @LicenceNumber
			AND LicenceHolderId <> @LicenceHolderId
			ORDER BY AuditDate DESC
			
			IF (@TempLicenceHolderId IS NOT NULL)
			BEGIN
				exec USP_DWH_PrintRequestVL_Insert
				@RequestId OUTPUT,
				@LicenceNumber,
				@TempLicenceHolderId,
				@LicenceHolderId,
				null,
				@VehicleRegistrationNumber,
				null,
				null,
				null,
				null,
				1,
				17,
				'System',
				@LetterDate	
			END
			
			IF @RequestId IS NULL
			BEGIN
				SET @LetterError = 'Unable to generate a transfer letter for vehicle inspection ' + CONVERT(VARCHAR(10),@InspectionId)
				Raiserror (@LetterError, 16, 1)
			END	
			
		END			
			
		IF (@ModifiedDate IS NULL)
		BEGIN
			Raiserror ('Mod Date null', 16, 1)
		END		
		
		UPDATE dbo.VehicleInspections
		SET LettersProcessed = 1,
		LettersProcessDate = @ModifiedDate
		WHERE VehicleInspectionId = @InspectionId
		
		SET @InspectionId = NULL
			
		COMMIT TRANSACTION FINISH
			
	END TRY

	BEGIN CATCH
	
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION FINISH
		END
			SET @ErrorMessage = ERROR_MESSAGE()
		
			Begin Try
			--Log the error
		
			INSERT INTO [dbo].[PrintEventLogs]
					(
						[Date],
						[Thread],
						[Level],
						[Logger],
						[Message],
						[Usr]
					)
			VALUES
					(
						@ModifiedDate,
						1,
						'ERROR',
						'sch_VehicleInspection_Rules',
						@ErrorMessage,
						'System'
					)
					
			End	Try
					
			BEGIN CATCH
					
			--Nothing to do if the Print Event Log fails
					
			END CATCH
		
		
		RAISERROR (@ErrorMessage, 16, 1);
			
		RETURN 0
		
	END CATCH
	
	CONTINUE
END


END


GO
