USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfig_SelectByTestCentreID]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Jim O'Brien
-- Create date: 16-Nov-2010
-- Description:	Select default configuations for a test centre.
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfig_SelectByTestCentreID]
(
	@TestCentreId	varchar(50) = NULL
)

AS
-- If all parameters are null, throw an error
-- A parameter must be provided.

if 
(
	@TestCentreId is null 
)
BEGIN
	RAISERROR ('The TestCentreId parameter must be provided.', 16, 1)
	RETURN
END

BEGIN

	SET NOCOUNT ON;

	SELECT	tcc.TestCentreConfigurationId,
			tcc.TestCentreDefaultConfigId,
			tcc.TestCentreId,
			tc.TestCentreName,
			tcc.TestCentreLaneId,
			tcl.TestCentreLaneName,
			tcc.ConfigDate,
			tcc.StartTime,
			tcc.EndTime,
			tcc.CreatedBy,
			tcc.CreatedDate,
			tcc.ModifiedBy,
			tcc.ModifiedDate
	FROM dbo.TestCentreConfiguration tcc
		 left outer join dbo.TestCentre tc ON tcc.TestCentreId = tc.TestCentreId
		 left outer join dbo.TestCentreLanes tcl ON tcc.TestCentreLaneId = tcl.TestCentreLaneId
	WHERE tcc.TestCentreId = @TestCentreId


END
GO
