USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_CovidUpdateFODDates]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create        PROCEDURE [dbo].[RPT_CovidUpdateFODDates] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


SELECT
(DATEADD(dd, DATEDIFF(dd, 0, getdate()), 0)) as 'DateOfExtension',
lhm.Ccsn,
vl.[LicenceNumber]
,vl.[RegistrationNumber]
, lhm.HolderName
,lsm.LicenceStateMaster
,ls.LicenceState
,vl.[LicenceExpiryDate]
,vl.[LicenceIssueDate]
,vl.[FinalOperationDate] as 'old FOD'
, dateadd(year,1,vl.[FinalOperationDate]) as 'new FOD'
,lhm.Email
, lhm.PhoneNo1
,lhm.PhoneNo2
,lhm.AddressLine1,lhm.AddressLine2,lhm.AddressLine3
, lhm.Town
, c.CountyName as 'County'
, lhm.PostCode
, ct.CountryName as 'Country' 
FROM [cabs_production].[dbo].[LicenceMasterVL] vl
left join dbo.LicenceHolderMaster lhm on lhm.LicenceHolderId=vl.LicenceHolderId
join dbo.VehicleMaster vm on vm.RegistrationNumber=vl.RegistrationNumber
left join dbo.LicenceStateMaster lsm on lsm.LicenceStateMasterId=vl.LicenceStateMasterId
left join dbo.LicenceState ls on ls.LicenceStateId=vl.LicenceStateId
left join dbo.County c on c.CountyId = lhm.CountyId
left join dbo.Country ct on ct.CountryId = lhm.CountryId
where vl.FinalOperationDate > '2020-03-13'
and vl.FinalOperationDate <'2021-01-01'
and vl.LicenceStateMasterId <> 3 -- no dead licences
and vl.LicenceStateMasterId <> 6 -- no dead licences
and vl.LicenceStateId <> 10 -- no Conditional offers 
order by vl.LicenceNumber



END
GO
