USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceType_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LicenceType_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SELECT	LicenceTypeId,NewLicenceFeeId, LicenceType,LicenceTypeShortCode,
			LicenceCategoryId,MaxVehicleAgeYears, AllowNewLicence, Active,
			T.CreatedBy, T.CreatedDate,T.ModifiedBy, T.ModifiedDate,
			F.FeeAmount
	FROM dbo.LicenceType T

	LEFT OUTER JOIN dbo.Fee F on F.FeeId = T.NewLicenceFeeId

END
GO
