USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[_to_drop_RPT_Money_Collected]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_to_drop_RPT_Money_Collected]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;

WITH MONEYREPORT AS (SELECT	DISTINCT 
		PVL.PaymentId, PVL.Amount AS Amount,
		PVL.CreatedDate,
		PVL.LicenceNumber,
			case PVL.[PaymentMethodId]
			WHEN 1 THEN 'Credit/Debit Card'
			WHEN 2 THEN 'Cheque'
			WHEN 3 THEN 'Waivered – SGS'
			WHEN 4 THEN 'Waivered – NTA'
			WHEN 5 THEN 'Bank draft/PO'
			WHEN 6 THEN 'Waivered – Applus'
			WHEN 7 THEN 'Waivered – Abtran'
			WHEN 8 THEN 'No Fee'
		ELSE ''
		END AS PaymentMethodName,
		case PVL.ServiceTypeId
			WHEN 1  THEN 'VL Booking'
			WHEN 2 THEN 'Duplicate Licence'
			WHEN 3 THEN 'Duplicate Licence With TP'
			WHEN 4 THEN 'Change Of Name With Duplicate Licence'
			WHEN 5 THEN 'Transfer Licence'
			WHEN 6 THEN 'Transfer Package'
			WHEN 7 THEN 'New Licence'
		ELSE ''
		END AS ServiceTypeName,
		PVL.PaymentReference,
		PVL.Comment,		
		PVL.CreatedBy,
		B.BookingId,
		ITY.Description As InspectionType, 
		SystemProcessName = (Select ProcessName from SystemProcessVL Where SystemProcessId=B.SystemProcessId)
		,LT.LicenceType AS Category
		,case WHEN F.FeeName like '%1 year%' then '1 year' when F.FeeName like '%6 months%' then '6 months' else '' end as LicencePeriod
FROM dbo.PaymentVL PVL
LEFT JOIN [cabs_production].dbo.PaymentItemVL PIVL ON PVL.PaymentId = PIVL.PaymentId and FeeId in (select FeeId from [cabs_production].[dbo].[Fee] F where (F.FeeName like '%1 year%' or F.FeeName like '%6 months%') and F.FeeName not like 'Expired%')
LEFT JOIN [cabs_production].[dbo].[Fee] F on PIVL.FeeId = F.FeeId 
INNER JOIN dbo.PaymentMethod PM ON PM.PaymentMethodId = PVL.PaymentMethodId
LEFT JOIN dbo.LicenceMasterVL LMVL ON LMVL.LicenceNumber = PVL.LicenceNumber
LEFT JOIN dbo.LicenceType LT ON LMVL.LicenceTypeId = LT.LicenceTypeId
INNER JOIN dbo.ServiceTypeVL ST ON ST.ServiceTypeId = PVL.ServiceTypeId
LEFT OUTER JOIN dbo.BookingPayment BP ON BP.PaymentId = PVL.PaymentId
LEFT OUTER JOIN dbo.Booking B ON B.BookingId = BP.BookingId
LEFT OUTER JOIN dbo.InspectionTime IT ON IT.InspectionTimeId = B.InspectionTimeId
LEFT OUTER JOIN dbo.InspectionType ITY ON ITY.InspectionTypeId = IT.InspectionTypeId
left outer join dbo.SystemProcessInstanceVL SPIVL on SPIVL.PaymentId = PVL.PaymentId and SPIVL.Completed = 1
WHERE Cast(PVL.CreatedDate as DATE)  BETWEEN @StartDate AND @EndDate
and (SPIVL.SystemProcessId is not null or PVL.CreatedDate < (select CONVERT(DateTime, ParameterValue) from dbo.SystemParameter
WHERE ParameterName = 'CABS_Launch_Date' )) AND SPIVL.Completed = 1
) SELECT PaymentId,Amount,CreatedDate,LicenceNumber,PaymentMethodName,PaymentReference,
Comment,ServiceTypeName,CreatedBy,BookingId,InspectionType,
COALESCE(SystemProcessName, ServiceTypeName) AS ProcessName,Category, LicencePeriod
from MONEYREPORT
UNION ALL
SELECT DISTINCT 
		PVL.PaymentId, PVL.Amount AS Amount,
		PVL.CreatedDate,
		PVL.LicenceNumber,
		PM.PaymentMethodName,
		PVL.PaymentReference,
		PVL.Comment,
		'Skills Booking' as ServiceTypeName,
		PVL.CreatedBy,
		skb.ID as BookingId,
		'Skills Test' As InspectionType, 
		test.Name AS ProcessName	---1) Entry Test 2) IKT 3) AKT	
		,'' AS Category
		,'' AS LicencePeriod
FROM dbo.PaymentVL PVL
INNER JOIN dbo.PaymentMethod PM ON PM.PaymentMethodId = PVL.PaymentMethodId
INNER JOIN dbo.ServiceTypeVL ST ON ST.ServiceTypeId = PVL.ServiceTypeId
INNER JOIN cabs_sk.BookingPayment BP ON BP.PaymentId = PVL.PaymentId
INNER JOIN cabs_sk.Booking skb ON skb.ID = BP.BookingId
INNER JOIN  cabs_sk.Test test ON skb.TestID = test.ID
left outer join dbo.SystemProcessInstanceVL SPIVL on SPIVL.PaymentId = PVL.PaymentId and SPIVL.Completed = 1
WHERE Cast(PVL.CreatedDate as DATE)  BETWEEN @StartDate AND @EndDate 
ORDER BY MONEYREPORT.CreatedDate desc
OPTION (RECOMPILE);
		
END
GO
