USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetSystemParameterValue]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetSystemParameterValue] (@ParameterName nvarchar(50))    
	RETURNS  nvarchar(50)
/*
Author:		Damien Dennehy
Date:		23-12-2010
Purpose:	Used to retrieve system parameter values from the System Parameter Table
*/
AS
BEGIN    
--vars    
DECLARE @ParameterValue nvarchar(50)

	select @ParameterValue = ParameterValue from dbo.SystemParameter
	where ParameterName = @ParameterName

	--return result    
	RETURN @ParameterValue
END

GO
