USE [cabs_production]
GO
/****** Object:  View [dbo].[Skills_VL]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE view [dbo].[Skills_VL] as

--VL

select distinct
	a.Ppsn
   ,a.FirstName as [First name]
   ,a.LastName as [Surname]
   ,format(a.DateOfBirth,'dd/MM/yyyy') as [Date of Birth]
   ,a.PhoneNo1 as [Mobile Phone/Phone No. 1]
   ,a.PhoneNo2 as [Home No./ Phone No. 2]
   ,a.Email
   ,a.AddressLine1
   ,a.AddressLine2
   ,a.AddressLine3
   ,a.Town
   ,a.PostCode as [Postal Code]
   ,c.CountyName as [County]
   ,cr.CountryName as [Country]
   --,lm.LicenceNumber as VLS
from [dbo].[LicenceHolderMaster] a
	left join [dbo].[Country] cr on a.CountryID=cr.CountryId
	left join [dbo].[County] c on a.CountyID=c.CountyId
	join [dbo].[LicenceMasterVL] lm on a.LicenceHolderId=lm.LicenceHolderId and 
	(
	lm.LicenceStateMasterId in (4)
	or
	(lm.LicenceStateMasterId in (5,6) and lm.LicenceExpiryDate between cast(dateadd(year, -6, getdate()) as date) and cast(getdate() as date))
	)


GO
