USE [cabs_production]
GO
/****** Object:  Table [dbo].[FleetDriver]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FleetDriver](
	[LicenceHolderId] [int] NOT NULL,
	[LicenceNumberId] [int] NOT NULL,
	[ActiveYN] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_FleetDriver] PRIMARY KEY CLUSTERED 
(
	[LicenceHolderId] ASC,
	[LicenceNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FleetDriver] ADD  CONSTRAINT [DF_FleetDriver_ActiveYN]  DEFAULT ((1)) FOR [ActiveYN]
GO
ALTER TABLE [dbo].[FleetDriver] ADD  CONSTRAINT [DF_FleetDriver_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[FleetDriver] ADD  CONSTRAINT [DF_FleetDriver_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FleetDriver] ADD  CONSTRAINT [DF_FleetDriver_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[FleetDriver] ADD  CONSTRAINT [DF_FleetDriver_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[FleetDriver]  WITH CHECK ADD  CONSTRAINT [FK_FleetDriver_LicenceHolderMaster] FOREIGN KEY([LicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[FleetDriver] CHECK CONSTRAINT [FK_FleetDriver_LicenceHolderMaster]
GO
