USE [cabs_production]
GO
/****** Object:  View [dbo].[vSkillsReports_SECOND_EXTRACT]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vSkillsReports_SECOND_EXTRACT] as
with step1 as
(
	(select [PPSN] from [dbo].[Skills]
	intersect
	select [PPSN] from [dbo].[Skills_VL])
	except
	select [PPSN] from [dbo].[Skills_DL]
),step2 as
(
	select 1 AS [Order],'Skills' as [Source], * from [dbo].[Skills]
	where [PPSN] in (select [PPSN] from step1)
	
	union all

	select 2 AS [Order],'VLS' as [Source], * from [dbo].[Skills_VL]
	where [PPSN] in (select [PPSN] from step1)	
),step3 as
(
	select distinct * from step2
)
SELECT [Source]
	  ,[Order]
	  ,[PPSN]
      ,[First Name]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([First Name],'') = LAG(IsNull([First Name],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([First Name],'') = LAG(IsNull([First Name],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_FirstName]
      ,[Surname]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([Surname],'') = LAG(IsNull([Surname],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([Surname],'') = LAG(IsNull([Surname],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_Surname]
      ,[Date Of Birth]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([Date Of Birth],'') = LAG(IsNull([Date Of Birth],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([Date Of Birth],'') = LAG(IsNull([Date Of Birth],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_Date Of Birth]
      ,[Mobile Phone/Phone No. 1]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(replace(replace(IsNull([Mobile Phone/Phone No. 1],''),' ',''),'-','') = LAG(replace(replace(IsNull([Mobile Phone/Phone No. 1],''),' ',''),'-',''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(replace(replace(IsNull([Mobile Phone/Phone No. 1],''),' ',''),'-','') = LAG(replace(replace(IsNull([Mobile Phone/Phone No. 1],''),' ',''),'-',''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_Phone_1]
      ,[Home No./ Phone No. 2]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(replace(replace(IsNull([Home No./ Phone No. 2],''),' ',''),'-','') = LAG(replace(replace(IsNull([Home No./ Phone No. 2],''),' ',''),'-',''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(replace(replace(IsNull([Home No./ Phone No. 2],''),' ',''),'-','') = LAG(replace(replace(IsNull([Home No./ Phone No. 2],''),' ',''),'-',''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_Phone_2]
      ,[Email]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([Email],'') = LAG(IsNull([Email],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([Email],'') = LAG(IsNull([Email],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_Email]
      ,[AddressLine1]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([AddressLine1],'') = LAG(IsNull([AddressLine1],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([AddressLine1],'') = LAG(IsNull([AddressLine1],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_AddressLine1]
      ,[AddressLine2]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([AddressLine2],'') = LAG(IsNull([AddressLine2],'') ,1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([AddressLine2],'') = LAG(IsNull([AddressLine2],'') ,2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_AddressLine2]
      ,[AddressLine3]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([AddressLine3],'') = LAG(IsNull([AddressLine3],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([AddressLine3],'') = LAG(IsNull([AddressLine3],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_AddressLine3]
      ,[Town]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([Town],'') = LAG(IsNull([Town],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([Town],'') = LAG(IsNull([Town],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_Town]
      ,[Postal Code]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([Postal Code],'') = LAG(IsNull([Postal Code],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([Postal Code],'') = LAG(IsNull([Postal Code],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_Postal Code]
      ,[County]
	  ,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
	  		when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IsNull([County],'') ='CO. DUBLIN' and LAG(IsNull([County],''),1,0) over(partition by [PPSN] order by [PPSN])='DUBLIN' then 'No Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IsNull([County],'') ='CO. DUBLIN' and LAG(IsNull([County],''),2,0) over(partition by [PPSN] order by [PPSN])='DUBLIN' then 'No Issue' 

			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([County],'') = LAG(IsNull([County],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([County],'') = LAG(IsNull([County],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	   else 'No Issue'
	   end as [Comprision_County]
   --   ,[Country]
	  --,case when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=1 then 'No Issue'
			--when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=2 and IIF(IsNull([Country],'') = LAG(IsNull([Country],''),1,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue' 
			--when ROW_NUMBER() OVER(PARTITION BY [PPSN] ORDER BY [PPSN])=3 and IIF(IsNull([Country],'') = LAG(IsNull([Country],''),2,0) over(partition by [PPSN] order by [PPSN]),0,1)>0 then 'Issue'
	  -- else 'No Issue'
	  -- end as [Comprision_Country]
	  --into SkillsReports_SECOND_EXTRACT
  FROM step3
  --order by PPSN, [Order] asc
GO
