USE [cabs_production]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[CompanyNumber] [varchar](10) NOT NULL,
	[VatNumber] [varchar](20) NOT NULL,
	[AddressLine1] [nvarchar](35) NOT NULL,
	[AddressLine2] [nvarchar](35) NULL,
	[AddressLine3] [nvarchar](35) NULL,
	[Town] [nvarchar](35) NOT NULL,
	[CountyId] [int] NOT NULL,
	[PostCode] [varchar](10) NULL,
	[CountryId] [int] NOT NULL,
	[ContactName] [nvarchar](50) NOT NULL,
	[ContactNumberPrimary] [varchar](15) NOT NULL,
	[ContactNumberSecondary] [varchar](15) NULL,
	[ContactNumberFax] [varchar](15) NULL,
	[Email] [nvarchar](30) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Country]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_County] FOREIGN KEY([CountyId])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_County]
GO
