USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[StripTime]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[StripTime] (@Date datetime)    
RETURNS datetime

/*
Author:		Damien Dennehy
Date:		23-12-2010
Purpose:	Strips a time from a date.
*/

AS
BEGIN    

DECLARE @returnDate datetime

SET @returnDate = CAST(
FLOOR( CAST(@Date AS FLOAT ) )
AS DATETIME
)

--return result    
RETURN @returnDate
END

GO
