USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[EVGrantRegister_Update]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Syed
-- Create date: 08-08-2014
-- Description:	Update LAHArea
-- =============================================
CREATE PROCEDURE [dbo].[EVGrantRegister_Update]
(
    @LicenceNumber varchar(50),
	@EVGrantStatusId int,
    @EVGrantExpiryDate smalldatetime,
	@User nvarchar(20)
)
AS

BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

IF EXISTS (SELECT * FROM dbo.EVGrantRegister WHERE LicenceNumber=@LicenceNumber)
    UPDATE dbo.EVGrantRegister SET	EVGrantStatusId=@EVGrantStatusId, EVGrantExpiryDate = @EVGrantExpiryDate, ModifiedBy = @User, ModifiedDate = GETDATE() 
	WHERE LicenceNumber = @LicenceNumber
ELSE
    INSERT INTO dbo.EVGrantRegister(LicenceNumber,EVGrantStatusId,EVGrantExpiryDate,CreatedBy,CreatedDate)
		VALUES(@LicenceNumber,@EVGrantStatusId,@EVGrantExpiryDate,@User,GETDATE())

END




GO
