USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_CovidUpdateExtract]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create         PROCEDURE [dbo].[RPT_CovidUpdateExtract] 
	-- Add the parameters for the stored procedure here
	@numOfWeeks int = 12  ,
	@VLExtentionWeeks int = 12
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

declare @getDate datetime = dateadd(d, datediff(d,0, getdate()), 0) ;

select 
lhm.Ccsn,
lhm.HolderName,
vl.LicenceNumber,
vl.RegistrationNumber,
lt.LicenceType,
lsm.LicenceStateMaster,
ls.LicenceState,
CONVERT(date, vl.LicenceExpiryDate) as 'oldExpiryDate',
CONVERT(date, DATEADD(WEEK,@VLExtentionWeeks,vl.LicenceExpiryDate)) as 'newExpiryDate' , 
CONVERT(date , vm.NctExpiryDate) as 'NctExpiryDate' ,
 lhm.Email , 
 lhm.PhoneNo1,
 lhm.PhoneNo2,
 lhm.AddressLine1,
 lhm.AddressLine2,
lhm.AddressLine3,
lhm.Town,
c.CountyName,
lhm.PostCode,
cr.CountryName
from dbo.LicenceMasterVL vl
 join [dbo].[VehicleMaster] vm on vl.RegistrationNumber = vm.RegistrationNumber
 join [dbo].[LicenceHolderMaster] lhm on vl.LicenceHolderId = lhm.LicenceHolderId
 join dbo.LicenceType lt on vl.LicenceTypeId = lt.LicenceTypeId
 join dbo.LicenceStateMaster lsm on vl.LicenceStateMasterId = lsm.LicenceStateMasterId
left join dbo.LicenceState ls on ls.LicenceStateId = vl.LicenceStateId
left join dbo.county c on c.CountyId = lhm.CountyId
left join dbo.country cr on cr.[CountryId] = lhm.CountryId

where 
----1-- active VL  expiry date + number of weeks
( 
vl.LicenceStateMasterId in (1,4) and 
vl.LicenceExpiryDate < DATEADD(week,@numOfWeeks,@getDate) 
) or 
----2--  inactive VL (expiryDate+year) + number of weeks
( 
vl.LicenceStateId = 8 and --inactive expired
 @getDate > DATEADD(week,-@numOfWeeks,DATEADD(year, 1,vl.LicenceExpiryDate))  and
  @getDate < DATEADD(year, 1,vl.LicenceExpiryDate)
) ;

END
GO
