USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SkillsSchedule_GetScheduleForDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author, Igor Boyarovich>
-- Create date: <Create Date, 10-Dec-2013>
-- Description:	<Description, Seelct booking for a test centre and date>
-- =============================================
CREATE PROCEDURE [dbo].[SkillsSchedule_GetScheduleForDate]
(
@TestCentreId int,
@StartDate DateTime,
@EndDate DateTime
)
AS
DECLARE @cancelledId int
BEGIN

SET @cancelledId = (SELECT BookingStatusId FROM [dbo].[BookingStatus] 
					WHERE UPPER(BookingStatusName) like '%CANCEL%')

SET NOCOUNT ON;

SELECT TC.weekday,
	   TC.TestCentreLaneId,
	   TC.[TestCentreConfigurationId],
	   TC.StartTime,
	   TC.EndTime,
	   B.ID,
	   B.StartDateTime,
	   B.EndDateTime,
	   B.TestCentreLaneName
FROM
	(select (datename(dw, configdate)) weekday, *
	 from dbo.[TestCentreConfiguration]
	 where testcentreid = @TestCentreId 
	 	and configdate >= @StartDate 
	 	and configdate < @EndDate) TC
LEFT OUTER JOIN
	(select bk.ID, bk.StartDateTime, bk.EndDateTime, bk.TestCentreLaneId, tcl.TestCentreLaneName
	 from cabs_sk.[Booking] bk, dbo.[TestCentreLanes] tcl
	 where bk.testcentreid = @testCentreId 
	 	and bk.StartDateTime >= @StartDate
	 	and bk.StartDateTime < @EndDate
	 	and bk.TestCentreLaneId = tcl.TestCentreLaneId
	 	and bk.StatusID not in (select BookingStatusId from dbo.BookingStatus where VoidedBooking = 1)) B
ON B.StartDateTime >= TC.StartTime
	AND B.StartDateTime < TC.EndTime
	AND B.TestCentreLaneId = TC.TestCentreLaneId
ORDER BY TC.configdate, TC.TestCentreLaneId, TC.StartTime, B.StartDateTime

END
GO
