USE [cabs_production]
GO
/****** Object:  Table [dbo].[WatServiceProvisionCounty]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatServiceProvisionCounty](
	[LicenceNumberId] [nvarchar](20) NOT NULL,
	[CountyId] [int] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_WatServiceProvisionCounty_1] PRIMARY KEY CLUSTERED 
(
	[LicenceNumberId] ASC,
	[CountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WatServiceProvisionCounty]  WITH CHECK ADD  CONSTRAINT [FK_WatServiceProvisionCounty_AreaOfOperation] FOREIGN KEY([CountyId])
REFERENCES [dbo].[AreaOfOperation] ([AreaId])
GO
ALTER TABLE [dbo].[WatServiceProvisionCounty] CHECK CONSTRAINT [FK_WatServiceProvisionCounty_AreaOfOperation]
GO
ALTER TABLE [dbo].[WatServiceProvisionCounty]  WITH CHECK ADD  CONSTRAINT [FK_WatServiceProvisionCounty_WatRegister] FOREIGN KEY([LicenceNumberId])
REFERENCES [dbo].[WatRegister] ([LicenceNumber])
GO
ALTER TABLE [dbo].[WatServiceProvisionCounty] CHECK CONSTRAINT [FK_WatServiceProvisionCounty_WatRegister]
GO
