USE [cabs_production]
GO
/****** Object:  Table [dbo].[DriverCounty]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverCounty](
	[LicenceNumber] [nvarchar](50) NOT NULL,
	[CountyID] [int] NOT NULL,
	[PrimaryCounty] [int] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_DriverCounty] PRIMARY KEY CLUSTERED 
(
	[LicenceNumber] ASC,
	[CountyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DriverCounty] ADD  CONSTRAINT [DF_DriverCounty_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[DriverCounty] ADD  CONSTRAINT [DF_DriverCounty_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DriverCounty] ADD  CONSTRAINT [DF_DriverCounty_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[DriverCounty] ADD  CONSTRAINT [DF_DriverCounty_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[DriverCounty]  WITH CHECK ADD  CONSTRAINT [FK_DriverCounty_AreaOfOperation] FOREIGN KEY([CountyID])
REFERENCES [dbo].[AreaOfOperation] ([AreaId])
GO
ALTER TABLE [dbo].[DriverCounty] CHECK CONSTRAINT [FK_DriverCounty_AreaOfOperation]
GO
ALTER TABLE [dbo].[DriverCounty]  WITH CHECK ADD  CONSTRAINT [FK_DriverCounty_AreaOfOperation1] FOREIGN KEY([PrimaryCounty])
REFERENCES [dbo].[AreaOfOperation] ([AreaId])
GO
ALTER TABLE [dbo].[DriverCounty] CHECK CONSTRAINT [FK_DriverCounty_AreaOfOperation1]
GO
