USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LetterRequestTypeVLAudit_SelectAllByAuditID]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <1/12/2010>
-- =============================================
CREATE PROCEDURE [dbo].[LetterRequestTypeVLAudit_SelectAllByAuditID] 
	-- Add the parameters for the stored procedure here
	
	@LetterRequestTypeAuditId int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT	LetterRequestTypeAuditId,
			LetterRequestTypeId,
			LetterRequestTypeDescription,
			FileContent,
			HasFile, 
			LetterCode,
			NumPages,
			PrintStyle,
			EnvelopeType,
			AllowedRoles,
			ModifiedBy,
			ModifiedDate,
			CreatedBy,
			CreatedDate,
			P.PrintCompanyId AS P_PrintCompanyId,
			P.PrintCompanyName AS P_PrintCompanyName
			
	FROM dbo.LetterRequestTypeVLAudit L
	INNER JOIN dbo.PrintCompany P on P.PrintCompanyId = L.PrintCompanyId
	
	WHERE LetterRequestTypeAuditId = @LetterRequestTypeAuditId

    -- Insert statements for procedure here
	
END
GO
