USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentVL_ByPass]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <29/04/2011>
-- Description:	<Payment by pass for testing purposes>
-- =============================================
CREATE PROCEDURE [dbo].[PaymentVL_ByPass] 
	-- Add the parameters for the stored procedure here
(
	@PaymentId int
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE dbo.PaymentVL
	SET 
		PaymentReference = 'Bypassed'
	WHERE PaymentId = @PaymentId
	
	UPDATE dbo.PaymentItemVL
	SET PaymentStatusId = 2
	WHERE PaymentId = @PaymentId


    -- Insert statements for procedure here
	
END
GO
