USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[aspnet_GetSiteMap]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[aspnet_GetSiteMap] AS
    SELECT [ID], [Title], [Description], [Url], [Roles], [ReliantOn], [Parent]
    FROM [aspnet_SiteMap] ORDER BY [ID]
GO
