USE [cabs_production]
GO
/****** Object:  Table [dbo].[PrintRequestDetailVLQueue]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintRequestDetailVLQueue](
	[BatchNumber] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PrintCompanyId] [int] NOT NULL,
	[Completed] [bit] NOT NULL,
	[CompleteDate] [datetime] NULL,
 CONSTRAINT [PK_PrintRequestDetailVLQueue] PRIMARY KEY CLUSTERED 
(
	[BatchNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
