USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentItemVL_SelectByBookingId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[PaymentItemVL_SelectByBookingId]
(
@BookingId int
)
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT	PVL.PaymentItemId, 
			PVL.Amount, 
			PVL.CreatedBy, PVL.CreatedDate,
			PVL.ModifiedBy, PVL.ModifiedDate,
			PVL.Comments, 			
			P.PaymentId as P_PaymentId, P.LicenceNumber as P_LicenceNumber, 
			P.PaymentReference as P_PaymentReference, P.Amount as P_Amount,
			P.CustomerName as P_CustomerName, P.Comment as P_Comment,
			P.CreatedBy as P_CreatedBy, P.CreatedDate as P_CreatedDate, 
			P.ModifiedBy as P_ModifiedBy, P.ModifiedDate as P_ModifiedDate,				
			PM.PaymentMethodId as PM_PaymentMethodId, 
			PM.PaymentMethodName as PM_PaymentMethodName,
			ST.ServiceTypeId as ST_ServiceTypeId, 
			ST.ServiceTypeName as ST_ServiceTypeName,				
			F.FeeId as F_FeeId, F.FeeAmount as F_FeeAmount, F.FeeName as F_FeeName,
       		PIS.PaymentStatusId as PIS_PaymentStatusId, 
			PIS.PaymentStatusName as PIS_PaymentStatusName			
	FROM dbo.PaymentItemVL PVL	  
	INNER JOIN dbo.PaymentVL P on PVL.PaymentId = P.PaymentId 
	INNER JOIN dbo.BookingPayment BP on p.PaymentId = BP.PaymentId
	INNER JOIN dbo.PaymentMethod PM on PM.PaymentMethodId = P.PaymentMethodId
	INNER JOIN dbo.ServiceTypeVL ST on ST.ServiceTypeId = P.ServiceTypeId
	INNER JOIN dbo.Fee F on F.FeeId = PVL.FeeId
	INNER JOIN dbo.PaymentStatus PIS on PIS.PaymentStatusId = PVL.PaymentStatusId	
	WHERE BP.BookingId = @BookingId
	
END
GO
