USE [cabs_production]
GO
/****** Object:  View [dbo].[limosine2]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[limosine2] as
with step1 as
(
select [RegistrationNumber], count(distinct [LicenceNumber])[Count of Licence], count(distinct [LicenceTypeId])[Count of licence type] from [dbo].[LicenceMasterVLAudit]
group by [RegistrationNumber]
having count(distinct [LicenceNumber])=1 and count(distinct [LicenceTypeId])=1
),step1a as
(
select [LicenceNumber], count(distinct [RegistrationNumber])[Count of Licence] from [dbo].[LicenceMasterVLAudit]
group by [LicenceNumber]
having count(distinct [RegistrationNumber])=1
)
SELECT distinct
       LM.[LicenceNumber]
      ,LM.[RegistrationNumber]
  	  ,VMA.VIN
	  ,Vmake.Make
	  ,Vmodel.Model
  FROM [cabs_production].[dbo].[LicenceMasterVLAudit] LM
  left join [cabs_production].[dbo].[VehicleMaster] VM on LM.RegistrationNumber=VM.RegistrationNumber
  left join [cabs_production].[dbo].[VehicleMake] Vmake on VM.MakeId=Vmake.MakeId
  left join [cabs_production].[dbo].[VehicleModel] Vmodel on VM.ModelId=Vmodel.ModelId
  left join [cabs_production].[dbo].[VehicleMasterAudit] VMA on LM.RegistrationNumber=VMA.RegistrationNumber
  where 
  left(LM.[LicenceNumber],1)='L'
  and
  LM.[LicenceNumber] in (select [LicenceNumber] from step1a)
  and 
  LM.[RegistrationNumber] in (select [RegistrationNumber] from step1)
  and year(LM.[LicenceIssueDate])>=2012
  and LM.LicenceStateMasterId=4
GO
