USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TransactionAuditLog_Support_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		@Author,,Name>
-- Create date: @Create Date,,>
-- Description:	@Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TransactionAuditLog_Support_Insert] 
(
	@AuditId int output,
	@TransactionAuditTypeID int,
	@HistoryChangeTypeID int,
	@TransactionUniqueKey uniqueidentifier,
	@AuditDateTime datetime,
	@LicenceHolderId int,
	@FieldName nvarchar(50),
	@OldValue nvarchar(max),
	@NewValue nvarchar(max),
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),	
	@RegistrationNumber varchar(50),
	@TableName varchar(200),
	@Comments varchar(100),
	@LicenceNumber nvarchar(50),
	@ModifiedDate datetime output
)

AS
BEGIN

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate


INSERT INTO [dbo].[TransactionAuditLog]
	(
	[TransactionAuditTypeID],
	[HistoryChangeTypeID],
	[TransactionUniqueKey],
	[AuditDateTime],
	[LicenceHolderId],
	[FieldName],
	[OldValue],
	[NewValue],
	[CreatedBy],
	[CreatedDate],
	[ModifiedBy],
	[RegistrationNumber],
	[TableName],
	LicenceNumber,
	Comments,
	[ModifiedDate]
	)
    VALUES
	(
	@TransactionAuditTypeID,
	@HistoryChangeTypeID,
	@TransactionUniqueKey,
	@AuditDateTime,
	@LicenceHolderId,
	@FieldName,
	@OldValue,
	@NewValue,
	'Helpdesk',
	@CreatedDate,	
	@ModifiedBy,
	@RegistrationNumber,
	@TableName,
	@LicenceNumber,
	@Comments,
	@ModifiedDate
	)

SET @AuditId = SCOPE_IDENTITY()

END


GO
