USE [cabs_production]
GO
/****** Object:  Table [dbo].[VehicleInspectionDefects]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleInspectionDefects](
	[VehicleInspectionDefectID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VehicleInspectionID] [int] NOT NULL,
	[DefectCategoryID] [int] NULL,
	[DefectGroupID] [int] NULL,
	[DefectReasonID] [int] NULL,
	[DefectTypeID] [int] NULL,
	[DefectLocationID] [int] NULL,
	[Comment] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_VehicleInspectionDefects] PRIMARY KEY CLUSTERED 
(
	[VehicleInspectionDefectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleInspectionDefects]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionDefects_DefectCategories] FOREIGN KEY([DefectCategoryID])
REFERENCES [dbo].[DefectCategories] ([DefectCategoryID])
GO
ALTER TABLE [dbo].[VehicleInspectionDefects] CHECK CONSTRAINT [FK_VehicleInspectionDefects_DefectCategories]
GO
ALTER TABLE [dbo].[VehicleInspectionDefects]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionDefects_DefectLocations] FOREIGN KEY([DefectLocationID])
REFERENCES [dbo].[DefectLocations] ([DefectLocationID])
GO
ALTER TABLE [dbo].[VehicleInspectionDefects] CHECK CONSTRAINT [FK_VehicleInspectionDefects_DefectLocations]
GO
ALTER TABLE [dbo].[VehicleInspectionDefects]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionDefects_DefectReasons] FOREIGN KEY([DefectReasonID])
REFERENCES [dbo].[DefectReasons] ([DefectReasonID])
GO
ALTER TABLE [dbo].[VehicleInspectionDefects] CHECK CONSTRAINT [FK_VehicleInspectionDefects_DefectReasons]
GO
ALTER TABLE [dbo].[VehicleInspectionDefects]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionDefects_DefectTypes] FOREIGN KEY([DefectTypeID])
REFERENCES [dbo].[DefectTypes] ([DefectTypeID])
GO
ALTER TABLE [dbo].[VehicleInspectionDefects] CHECK CONSTRAINT [FK_VehicleInspectionDefects_DefectTypes]
GO
ALTER TABLE [dbo].[VehicleInspectionDefects]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInspectionDefects_VehicleInspections] FOREIGN KEY([VehicleInspectionID])
REFERENCES [dbo].[VehicleInspections] ([VehicleInspectionId])
GO
ALTER TABLE [dbo].[VehicleInspectionDefects] CHECK CONSTRAINT [FK_VehicleInspectionDefects_VehicleInspections]
GO
