USE [cabs_production]
GO
/****** Object:  View [dbo].[AllData]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AllData]
AS
SELECT     l.LicenceNumber, l.LicenceHolderId AS lh_licenceholderid, l.RegistrationNumber, l.LicenceTypeId, l.LicenceStateId, l.LicenceIssueDate, l.LicenceExpiryDate, 
                      l.LicenceStateMasterId, l.CoExpiryDate, l.CoIssueDate, l.RenewalDate, l.TransferedFromReg, l.RemainingTransfers, l.TransferDate, l.OldPlateNumber, 
                      l.OldLicenceAuthority, dbo.LicenceState.LicenceState, dbo.LicenceStateMaster.LicenceStateMaster, dbo.LicenceType.LicenceType, c.CountyName, lh.LicenceHolderId, 
                      lh.Ccsn, lh.Ppsn, lh.HolderName, lh.LastName, lh.FirstName, lh.DateOfBirth, lh.CompanyNumber, lh.CompanyName, lh.TradingAs, lh.AddressLine1, 
                      lh.AddressLine2, lh.AddressLine3, lh.Town, lh.CountyId, lh.PostCode, lh.CountryId, lh.IrishLanguageAddress, lh.PhoneNo1, lh.PhoneNo2, 
                      lh.Email, lh.EmailOptIn, lh.TaxClearanceNumber, lh.TaxClearanceExpiryDate, lh.TaxClearanceStatus, lh.TaxClearanceVisual, lh.TaxClearanceName, 
                      lh.LastDocumentationCheckDate, lh.TaxHead, lh._6DigitCode, lh.Comments, lh.DeceasedYn, lh.GardaDivisionID, l.PlateNumber, vbt.BodyType, vc.Colour, vmo.Model, 
                      dbo.VehicleMake.Make, vf.FuelType, v.RegistrationNumber AS Expr2, v.VehicleAge, v.RegistrationDate, v.VIN, v.EngineCapacity, v.TurboDieselYn, v.ModifiedYn, 
                      v.NumberPassengers, v.NumberSeats, v.NumberDoors, v.YearOfManufacture, v.RegistrationDateOrigin, v.VrtVehicleCategory, v.NctSerialNumber, 
                      v.RegistrationDateIreland, v.NctIssueDate, v.NctExpiryDate, v.LastDocumentationCheckDate AS Expr3, v.InsuranceExpiryDate, v.InsuranceClassCorrect, 
                      v.TypeApprovalNumber, v.TypeApprovalCategory, v.PermissibleMassGvw, v.SimiCode, v.MileageReading, v.DataCheckedDate, v.ExcessWindowTint, 
                      v.RoofSignSticker, v.MeterSealed
FROM         dbo.LicenceMasterVL AS l INNER JOIN
                      dbo.LicenceHolderMaster AS lh ON lh.LicenceHolderId = l.LicenceHolderId INNER JOIN
                      dbo.VehicleMaster AS v ON l.RegistrationNumber = v.RegistrationNumber INNER JOIN
                      dbo.VehicleModel AS vmo ON vmo.ModelId = v.ModelId INNER JOIN
                      dbo.VehicleMake ON v.MakeId = dbo.VehicleMake.MakeId INNER JOIN
                      dbo.VehicleBodyType AS vbt ON vbt.BodyTypeId = v.BodyTypeId INNER JOIN
                      dbo.County AS c ON c.CountyId = lh.CountyId LEFT OUTER JOIN
                      dbo.LicenceState ON l.LicenceStateId = dbo.LicenceState.LicenceStateId INNER JOIN
                      dbo.LicenceStateMaster ON l.LicenceStateMasterId = dbo.LicenceStateMaster.LicenceStateMasterId INNER JOIN
                      dbo.LicenceType ON l.LicenceTypeId = dbo.LicenceType.LicenceTypeId INNER JOIN
                      dbo.VehicleColour AS vc ON vc.ColourId = v.ColourId INNER JOIN
                      dbo.VehicleFuelType AS vf ON vf.FuelTypeId = v.FuelTypeId
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[5] 2[61] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "l"
            Begin Extent = 
               Top = 6
               Left = 489
               Bottom = 114
               Right = 673
            End
            DisplayFlags = 280
            TopColumn = 19
         End
         Begin Table = "lh"
            Begin Extent = 
               Top = 6
               Left = 227
               Bottom = 114
               Right = 451
            End
            DisplayFlags = 280
            TopColumn = 35
         End
         Begin Table = "v"
            Begin Extent = 
               Top = 222
               Left = 416
               Bottom = 330
               Right = 640
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "vmo"
            Begin Extent = 
               Top = 222
               Left = 678
               Bottom = 330
               Right = 829
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VehicleMake"
            Begin Extent = 
               Top = 222
               Left = 227
               Bottom = 330
               Right = 378
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vbt"
            Begin Extent = 
               Top = 114
               Left = 488
               Bottom = 222
               Right = 642
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AllData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         End
         Begin Table = "LicenceState"
            Begin Extent = 
               Top = 6
               Left = 711
               Bottom = 114
               Right = 895
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "LicenceStateMaster"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LicenceType"
            Begin Extent = 
               Top = 114
               Left = 260
               Bottom = 222
               Right = 450
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "vc"
            Begin Extent = 
               Top = 118
               Left = 858
               Bottom = 226
               Right = 1009
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vf"
            Begin Extent = 
               Top = 222
               Left = 38
               Bottom = 330
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AllData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AllData'
GO
