USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[WatServiceProvisionCounty_DeleteByAreaId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WatServiceProvisionCounty_DeleteByAreaId]
	-- Add the parameters for the stored procedure here
	
	@LicenceNumberId varchar(50),
	@AreaId int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DELETE FROM WatServiceProvisionCounty
WHERE LicenceNumberId = @LicenceNumberId
AND CountyId = @AreaId


END
GO
