USE [cabs_production]
GO
/****** Object:  View [dbo].[cabs_tds_vSupplierList]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[cabs_tds_vSupplierList]
AS
SELECT      Id, SupplierId
FROM            cabs_tds.AuthorizedSupplier
Where IsActive=1 AND Registered=1


GO
