USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetNextBookingTime]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetNextBookingTime] 
(
@TestCentreConfigurationId int, 
@inspectionTimeId int,
@existingBookingId int
)    
	RETURNS DateTime
/*
Author:		Jim O'Brien
Date:		14-12-2010
Purpose:	This passes in a TestCentreConfigurationId and the InspectionTypeId 
			and based on this it calculates the eariest available inspection time.
*/
AS
BEGIN    
--	Declare variables
DECLARE @TestCentreLaneId int
DECLARE @InspectionTime int
DECLARE @startTime datetime
DECLARE @endTime datetime
DECLARE @bookingTime datetime
DECLARE @minBookingTime datetime
DECLARE @origStartTime datetime
DECLARE @CancelledBookingStatusIds TABLE
(
	BookingStatusId int
)

INSERT INTO @CancelledBookingStatusIds
(
	BookingStatusId
)
SELECT BookingStatusId FROM dbo.BookingStatus
WHERE VoidedBooking = 1

--	Set variables
SET @InspectionTime = (SELECT InspectionTime FROM InspectionTime
						WHERE InspectionTimeId = @inspectionTimeId)

SET @TestCentreLaneId = (SELECT TestCentreLaneId FROM TestCentreConfiguration 
						 WHERE TestCentreConfigurationId = @TestCentreConfigurationId)

SET @startTime = (SELECT starttime FROM TestCentreConfiguration 
					WHERE TestCentreConfigurationId = @TestCentreConfigurationId)

SET @origStartTime = @startTime

--	Set variables
SET @endTime = (SELECT endTime FROM TestCentreConfiguration 
					WHERE TestCentreConfigurationId = @TestCentreConfigurationId)

SET @minBookingTime = dbo.GetMinimumBookingTime()

IF (@minBookingTime > @startTime)
BEGIN
	SET @startTime = @minBookingTime
	SET @startTime = (SELECT MAX(b.BOOKINGENDDATETIME) FROM  BOOKING b
						WHERE	b.BOOKINGDATETIME <= @startTime
							AND		b.BOOKINGENDDATETIME >= @startTime
							AND		b.TestCentreLaneId = @TestCentreLaneId 
							AND		b.BookingStatusId NOT IN (SELECT BookingStatusId FROM @CancelledBookingStatusIds))
			
	SET @startTime = COALESCE(@startTime, @minBookingTime)							
END
/*
The OPTIMUM_SELECTION SQL Statement will select the booking times based on a number of criteria.
There are 3 select statements and it selects the minimum value of the 3 statements.
1.) It will select the start of the config period if there is room for an inspection here.
2.) It will search for gaps in the bookings and find the first gap that is big enough.
3.)	It will check to see if there is space at the end of the period, between the last booking and the 
	end of the period.
*/
SELECT @bookingTime = min(OPTIMUM_SELECTION.BookingTime) FROM 
(
--	Check to see if there is a opening at the start of the configured period.
SELECT @startTime AS BookingTime 
WHERE	(Datediff(minute, 
				 @startTime, (
				 SELECT COALESCE(Min(BOOKINGDATETIME), @endTime)
							FROM BOOKING b
							WHERE	b.BOOKINGDATETIME >= @startTime
							AND		b.BOOKINGENDDATETIME <= @endTime
							AND		b.TestCentreLaneId = @TestCentreLaneId
							AND		b.BookingStatusId  NOT IN (SELECT BookingStatusId FROM @CancelledBookingStatusIds))) >= @InspectionTime)
union
--	Check all the gaps between bookings in the time period.
SELECT min(b.BOOKINGENDDATETIME) AS BookingTime from BOOKING b
WHERE	b.BOOKINGDATETIME >= @startTime
AND		b.BOOKINGENDDATETIME <= @endTime
AND		b.TestCentreLaneId = @TestCentreLaneId
AND		b.BookingStatusId  NOT IN (SELECT BookingStatusId FROM @CancelledBookingStatusIds)
AND		Datediff(minute, 
				 b.BOOKINGENDDATETIME, 
				(SELECT Min(BOOKINGDATETIME) from BOOKING b2
							WHERE	b2.BOOKINGDATETIME >= b.BOOKINGENDDATETIME
							AND		b2.BOOKINGENDDATETIME <= @endTime
							AND		b2.TestCentreLaneId = @TestCentreLaneId
							AND		b2.BookingStatusId  NOT IN (SELECT BookingStatusId FROM @CancelledBookingStatusIds))) >= @InspectionTime
union
--	Check to see if there is time at the end of the period.
SELECT max(b.BOOKINGENDDATETIME) AS BookingTime from BOOKING b
WHERE	b.BOOKINGDATETIME >= @origStartTime
AND		b.BOOKINGENDDATETIME >= @startTime
AND		b.BOOKINGENDDATETIME <= @endTime
AND		b.TestCentreLaneId = @TestCentreLaneId
AND		b.BookingStatusId NOT IN (SELECT BookingStatusId FROM @CancelledBookingStatusIds)
AND		Datediff(minute, 
				(SELECT Max(BOOKINGENDDATETIME) from BOOKING b
							WHERE	b.BOOKINGDATETIME >= @origStartTime
							AND		b.BOOKINGENDDATETIME <= @endTime
							AND		b.TestCentreLaneId = @TestCentreLaneId
							AND		b.BookingStatusId  NOT IN (SELECT BookingStatusId FROM @CancelledBookingStatusIds)), 
				@endTime) >= @InspectionTime
) OPTIMUM_SELECTION
	--return result    
	RETURN @bookingTime
END

GO
