USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Company_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Company_SelectAll] 

AS
BEGIN

	SET NOCOUNT ON;

 
	SELECT  CO.CompanyId, CO.CompanyName, CO.CompanyNumber,
			CO.VatNumber, CO.AddressLine1, CO.AddressLine2,
			CO.AddressLine3, CO.Town, CO.CountyId,
			CO.PostCode, CO.CountryId, CO.ContactName,
			CO.ContactNumberPrimary, CO.ContactNumberSecondary, CO.ContactNumberFax,
			CO.Email, CO.CreatedBy, CO.CreatedDate,
			CO.ModifiedBy, CO.ModifiedDate,
			C.CountyId as C_CountyId, C.CountyName as C_CountyName,
			CR.CountryId as CR_CountryId, CR.CountryName as CR_CountryName
	FROM dbo.Company CO
	INNER JOIN dbo.County C on CO.CountyId = C.CountyId	
	INNER JOIN dbo.Country CR on CO.CountryId = CR.CountryId	

END
GO
