USE [cabs_production]
GO
/****** Object:  Table [dbo].[VehicleColour]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleColour](
	[ColourId] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Colour_CD] [varchar](2) NULL,
	[Colour] [varchar](30) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_VehicleColour] PRIMARY KEY CLUSTERED 
(
	[ColourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleColour] ADD  CONSTRAINT [DF_VehicleColour_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[VehicleColour] ADD  CONSTRAINT [DF_VehicleColour_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[VehicleColour] ADD  CONSTRAINT [DF_VehicleColour_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VehicleColour] ADD  CONSTRAINT [DF_VehicleColour_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[VehicleColour] ADD  CONSTRAINT [DF_VehicleColour_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
