USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLaneType_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Yuliya Khadasevich
-- Create date: 31-Oct-2013
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreLaneType_SelectAll]
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	ID, Description

	FROM cabs_sk.TestCentreLaneType 

END

GO
