USE [cabs_production]
GO
/****** Object:  Table [dbo].[LetterRequestTypeVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterRequestTypeVL](
	[LetterRequestTypeId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LetterRequestTypeDescription] [varchar](100) NOT NULL,
	[FileContent] [varbinary](max) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[AllowedRoles] [varchar](200) NULL,
	[HasFile]  AS (case when [FileContent] IS NULL then (0) else (1) end),
	[LetterCode] [varchar](20) NULL,
	[NumPages] [int] NULL,
	[PrintStyle] [varchar](10) NULL,
	[EnvelopeType] [varchar](5) NULL,
	[PrintCompanyId] [int] NOT NULL,
	[IntroductionEmailText] [nvarchar](max) NULL,
	[AllowEmail] [bit] NOT NULL,
	[AllowPost] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LetterRequestTypeVL] PRIMARY KEY CLUSTERED 
(
	[LetterRequestTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] ADD  CONSTRAINT [DF_LetterRequestTypeVL_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] ADD  CONSTRAINT [DF_LetterRequestTypeVL_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] ADD  CONSTRAINT [DF_LetterRequestTypeVL_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] ADD  CONSTRAINT [DF_LetterRequestTypeVL_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] ADD  CONSTRAINT [DF__LetterReq__Intro__10C2E58A]  DEFAULT ('') FOR [IntroductionEmailText]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] ADD  DEFAULT ((1)) FOR [AllowEmail]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] ADD  DEFAULT ((1)) FOR [AllowPost]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LetterRequestTypeVL]  WITH CHECK ADD  CONSTRAINT [FK_LetterRequestTypeVL_PrintCompany] FOREIGN KEY([PrintCompanyId])
REFERENCES [dbo].[PrintCompany] ([PrintCompanyId])
GO
ALTER TABLE [dbo].[LetterRequestTypeVL] CHECK CONSTRAINT [FK_LetterRequestTypeVL_PrintCompany]
GO
