USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Driver_Licences_Transport_Statistics_List]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adam Nosal
-- Create date: 28-Feb-2021
-- =============================================
CREATE   PROCEDURE [dbo].[RPT_Driver_Licences_Transport_Statistics_List]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
SELECT 
vi.LicenceNumber,
lt.LicenceType,
cast( (select  top(1) cast( LicenceMasterVLAudit.AuditDate as date)  from dbo.LicenceMasterVLAudit where SystemProcessId = 11 and LicenceMasterVLAudit.LicenceNumber = vi.LicenceNumber ) as date) as 'LicenceIssuedDate',
case when 
wav.WavGrantExpiryDate is not null OR spsv.EVGrantExpiryDate is not null
then 'YES' else 'NO' end  as 'GrantFunding',
cast(vi.TestStartTime as DATE) as TestStartTime,
cast(lmvl.FinalOperationDate as DATE) as FinalOperationDate,
lhmq.FleetCount as FleetCount,
--(Select Count(*) from dbo.LicenceMasterVL lm2 where lm2.LicenceHolderId = lmvl.LicenceHolderId) as FleetCount,
Case when lhmq.isCompany =1 then 'Company' 
when lhmq.isCompany =0 and lhmq.isMultiHolder =1 then 'MVLO'
when lhmq.isCompany =0 and lhmq.isMultiHolder =0 then 'Sole Trader' end
as 'HolderType',
lhmq.Ccsn,
lhmq.CountyName,
vvm.Make ,
vvm.Model,
vvm.VehicleAge,
case when dl.LicenceNumber is not null then 'YES' else'NO'end  as 'HasDL',
IIF( dl.LicenceNumber is not null,dl.LicenceNumber, ' ') as'DLNumber' ,
IIF( dllsm.[LicenceStateMaster] is not null,dllsm.[LicenceStateMaster], ' ') + ' ' + IIF( dlls.[LicenceState] is not null,dlls.[LicenceState], ' ') as 'DLStatus' ,
cast( dl.CreatedDate as DATE) as  'DLAdded',
case when link.DriverLicenceNumber is not null then 'YES' else'NO'end  as 'HasLink',
IIF( link.DriverLicenceNumber is not null,link.DriverLicenceNumber, '') as'DLLink' 

from  dbo.VehicleInspections vi
  join dbo.Booking b on b.BookingId = vi.BookingId
  left join dbo.LicenceMasterVL lmvl on lmvl.LicenceNumber = vi.LicenceNumber
  left join dbo.LicenceType lt on lt.LicenceTypeId = lmvl.LicenceTypeId
  left join ( select 
				lhm2.LicenceHolderId, 
				lhm2.Ccsn,
				c.CountyName,
				IIF(CompanyName is not null,1,0) as isCompany,
				IIF((Select Count(*) from dbo.LicenceMasterVL lm2 where lm2.LicenceHolderId = lhm2.LicenceHolderId) >1,1,0) as isMultiHolder,
				(Select Count(*) from dbo.LicenceMasterVL lm2 where lm2.LicenceHolderId = lhm2.LicenceHolderId) as FleetCount
				from dbo.LicenceHolderMaster lhm2  
				join dbo.County c on c.CountyId = lhm2.CountyId
  ) lhmq on lhmq.LicenceHolderId = lmvl.LicenceHolderId
  left join (
  select [VehicleDriver].DriverLicenceNumber, [VehicleDriver].VehicleLicenseNumber from [cabs_dvl].[VehicleDriver]
  where [VehicleDriver].IsActive =1 and (EndDate is null or EndDate > getdate())
  ) as link on link.VehicleLicenseNumber = lmvl.LicenceNumber
  --left join dbo.VehicleMaster vm on vm.RegistrationNumber = lmvl.RegistrationNumber
  left join dbo.vw_VehicleDetails vvm on vvm.RegistrationNumber = lmvl.RegistrationNumber
  left join person.Person on person.CCSN = lhmq.Ccsn
  left join dl.LicenceHolderMaster dllhm on dllhm.PersonId = person.PersonId
  left join dl.LicenceMaster dl on dl.LicenceMasterId = dllhm.LicenceMasterId
  left join dbo.LicenceState dlls on dlls.LicenceStateId = dl.LicenceStateId
  left join dbo.LicenceStateMaster dllsm on dllsm.LicenceStateMasterId = dl.LicenceStateMasterId
left join dbo.WatRegister wav on wav.LicenceNumber = vi.LicenceNumber
left join dbo.EVGrantRegister spsv on spsv.LicenceNumber = vi.LicenceNumber
WHERE  Cast(VI.TestStartTime as DATE) >= @StartDate And Cast(VI.TestStartTime as DATE) <=@EndDate
and  b.SystemProcessId = 11 and (TestResultId = 1 or TestResultId = 4) --pass / fail_advis

END





GO
