USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceState_SelectByLicenceStateId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LicenceState_SelectByLicenceStateId]		

(
@LicenceStateId tinyint
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	
			LicenceStateMasterId,
			LicenceState,
			LicenceStateId,
			LicenceCategoryId,
			CreatedBy,
			CreatedDate,
			ModifiedBy,
			ModifiedDate	

	FROM  dbo.LicenceState

	WHERE LicenceStateId = @LicenceStateId

END
GO
