USE [cabs_production]
GO
/****** Object:  Table [dbo].[Fee]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fee](
	[FeeId] [int] NOT NULL,
	[FeeName] [varchar](100) NOT NULL,
	[FeeAmount] [smallmoney] NOT NULL,
	[ActiveYn] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[RetakeFee] [bit] NOT NULL,
 CONSTRAINT [PK_Fee] PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fee] ADD  CONSTRAINT [DF_Fee_ActiveYn]  DEFAULT ((1)) FOR [ActiveYn]
GO
ALTER TABLE [dbo].[Fee] ADD  CONSTRAINT [DF_Fee_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Fee] ADD  CONSTRAINT [DF_Fee_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Fee] ADD  CONSTRAINT [DF_Fee_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Fee] ADD  CONSTRAINT [DF_Fee_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Fee] ADD  DEFAULT ((0)) FOR [RetakeFee]
GO
