USE [cabs_production]
GO
/****** Object:  View [dbo].[ssis_DL_LicenceHolderMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ssis_DL_LicenceHolderMaster] as

with CTE_TaxClearance as (
select 
ROW_NUMBER() OVER (PARTITION BY tc.PersonId order by tc.TaxClearanceCheckDate desc) 'RankIdTCCheckDate',
ROW_NUMBER() OVER (PARTITION BY tc.PersonId, rn.RevenueNotificationTypeId order by rn.RevenueNotificationSendDate desc) 'RankIdNotificationType',
tc.TaxClearanceCheckId,
tc.PersonId,
tc.TaxClearanceName,
tc.TaxClearanceNumber,
tcs.TaxClearanceStatus,
convert(date,rn.RevenueNotificationSendDate) 'RevenueNotificationSendDate',
rn.RevenueNotificationTypeId
from person.TaxClearanceCheck tc with (nolock) 
	left join person.TaxClearanceStatus tcs with (nolock) on tc.TaxClearanceStatusId=tcs.TaxClearanceStatusId
	left join person.RevenueNotification rn with (nolock) on rn.TaxClearanceCheckId=tc.TaxClearanceCheckId
)

select 
	lhm.PersonId 'LicenceHolderId',
	p.CCSN,
	p.PPSN,
	case p.PersonType
		when 'Individual' then CONCAT(p.FirstName, ' ', p.LastName)
		else p.CompanyName
	end 'HolderName',
	p.FirstName,
	p.LastName,
	p.DateOfBirth,
	p.CompanyName,
	p.CompanyNumber,
	p.TradingAs,
	p.AddressLine1,
	p.AddressLine2,
	p.AddressLine3,
	p.Town,
	p.PostCode,
	p.MobilePhone 'PhoneNo1',
	p.OtherPhone 'PhoneNo2',
	p.Email,
	p.CountyName,
	p.PersonStatus,
	lm.LicenceNumber,
	lm.GardaAreaId,
--	dlg.Name 'GardaArea',

	tc.TaxClearanceName,
	tc.TaxClearanceNumber,
	tc.TaxClearanceStatus,
	(select tc1.RevenueNotificationSendDate from CTE_TaxClearance tc1 where tc1.RankIdNotificationType=1 and tc1.RevenueNotificationTypeId=1 and tc1.PersonId=p.Id) 'TCLastInitialNotification',
	(select tc1.RevenueNotificationSendDate from CTE_TaxClearance tc1 where tc1.RankIdNotificationType=1 and tc1.RevenueNotificationTypeId=2 and tc1.PersonId=p.Id) 'TCLast30DaysNotification'

	from dl.LicenceHolderMaster lhm with (nolock)
		inner join person.v_opv p on lhm.PersonId=p.Id
		inner join dl.LicenceMaster lm with (nolock) on lm.LicenceMasterId=lhm.LicenceMasterId
--		left join dl.GardaArea dlg with (nolock) on dlg.GardaAreaId=lm.GardaAreaId
		left join CTE_TaxClearance tc on tc.PersonId=p.id and tc.RankIdTCCheckDate=1
GO
