USE [cabs_production]
GO
/****** Object:  View [dbo].[vBookingWithDetails]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vBookingWithDetails]
AS
SELECT		b.BookingId,
			b.ParentId,
			b.InspectionTimeId,
			vIT.InspectionProcessID,
			vIT.InspectionProcessDescription,
			vIT.InspectionTypeID,
			vIT.InspectionTypeDescription,
			vIT.LicenceTypeId,
			vIT.LicenceType,
			vIT.InspectionTime,
			b.TestCentreId,
			tc.TestCentreName,
			b.TestCentreLaneId,
			tcl.TestCentreLaneName,
			b.BookingStatusId,
			bs.BookingStatusName,
			bs.VoidedBooking,
			b.SystemProcessId,
			spVL.ProcessName,
			b.BookingDateTime,
			b.BookingEndDateTime,
			b.LicenceNumber,
			b.RegistrationNumber,
			b.BookingCancellationReasonId,
			bcr.BookingCancellationReason,
			b.NewLicenceHolderId,
			LateCancellation,
			LateReschedule,
			PremiumBooking,
			lhm.HolderName + ' ( ' + lhm.CCSN + ')' AS NewLicenceHolder,
			b.CreatedBy,
			b.CreatedDate,
			b.ModifiedBy,
			b.ModifiedDate,
			VI.TestResultId,
			TR.TestResult
			
	FROM	dbo.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.TestCentreLanes tcl ON b.TestCentreLaneId = tcl.TestCentreLaneId
			INNER JOIN dbo.BookingStatus bs ON b.BookingStatusId = bs.BookingStatusId
			INNER JOIN dbo.SystemProcessVL spVL ON b.SystemProcessId = spVL.SystemProcessId
			INNER JOIN dbo.vw_inspectionTime vIT ON vIT.InspectionTimeId = b.InspectionTimeId
			LEFT OUTER JOIN dbo.LicenceHolderMaster lhm ON  lhm.LicenceHolderId = b.NewLicenceHolderId
			LEFT OUTER JOIN dbo.BookingCancellationReason bcr ON bcr.BookingCancellationReasonId = b.BookingCancellationReasonId
			LEFT OUTER JOIN dbo.VehicleInspections VI ON VI.BookingId = B.BookingId
			LEFT OUTER JOIN dbo.TestResults TR ON VI.TestResultId = TR.TestResultID
			
	WHERE B.BookingStatusId <> 4





GO
