USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreCurrentConfigAudit_SelectRecords]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Pawel Maciejewski>
-- Create date: <17.10.2017>
-- Description:	<Select current configuatinos for a test centre.>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreCurrentConfigAudit_SelectRecords]
(
	@TestCentreId	int = NULL,
	@TestCentreCurrentConfigId int = NULL
)
AS

	BEGIN

		SET NOCOUNT ON;

		SELECT
			[dc].[TestCentreCurrentConfigAuditId],
			[dc].[TestCentreCurrentConfigId],
			[dc].[TestCentreId],
			[tc].[TestCentreName],
			[dc].[TestCentreLaneId],
			[tcl].[TestCentreLaneName],
			[dc].[Status],
			[dc].[WeekDayId],
			[dw].[DayName],
			[dc].[StartTime],
			[dc].[EndTime],
			[dc].[CreatedBy],
			[dc].[CreatedDate],
			[dc].[ModifiedBy],
			[dc].[ModifiedDate]
		FROM
			[dbo].[TestCentreCurrentConfigAudit] dc
			left outer join [dbo].[TestCentre] tc ON [dc].[TestCentreId] = [tc].[TestCentreId]
			left outer join [dbo].[TestCentreLanes] tcl ON [dc].[TestCentreLaneId] = [tcl].[TestCentreLaneId]
			left outer join [dbo].[DaysOfTheWeek] dw ON [dc].[WeekDayId] = [dw].[DayId]
		WHERE
			[dc].[TestCentreId] = coalesce(@TestCentreId, [dc].[TestCentreId])
			AND
			[dc].[TestCentreCurrentConfigId] = coalesce(@TestCentreCurrentConfigId, [dc].[TestCentreCurrentConfigId])
		ORDER BY
			dc.TestCentreId, dc.WeekDayId, dc.StartTime, tcl.TestCentreLaneName

	END

GO
