USE [cabs_production]
GO
/****** Object:  Table [dbo].[WatServiceProvisionTime]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatServiceProvisionTime](
	[LicenceNumberId] [nvarchar](20) NOT NULL,
	[OperatingDayTimePeriodId] [int] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_WatServiceProvisionTime] PRIMARY KEY CLUSTERED 
(
	[LicenceNumberId] ASC,
	[OperatingDayTimePeriodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WatServiceProvisionTime]  WITH CHECK ADD  CONSTRAINT [FK_WatServiceProvisionTime_LicenceMaster] FOREIGN KEY([LicenceNumberId])
REFERENCES [dbo].[WatRegister] ([LicenceNumber])
GO
ALTER TABLE [dbo].[WatServiceProvisionTime] CHECK CONSTRAINT [FK_WatServiceProvisionTime_LicenceMaster]
GO
ALTER TABLE [dbo].[WatServiceProvisionTime]  WITH CHECK ADD  CONSTRAINT [FK_WATServiceProvisionTime_WATServiceProvisionTime] FOREIGN KEY([OperatingDayTimePeriodId])
REFERENCES [dbo].[OperatingDayTimePeriod] ([OperatingDayTimePeriodId])
GO
ALTER TABLE [dbo].[WatServiceProvisionTime] CHECK CONSTRAINT [FK_WATServiceProvisionTime_WATServiceProvisionTime]
GO
