USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_CovidUpdateExpiryDates_byDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create         PROCEDURE [dbo].[sch_CovidUpdateExpiryDates_byDate] 
	-- Add the parameters for the stored procedure here
	@borderDate datetime = '2020-06-12 23:59:59'  ,
	@VLExtentionMonths int = 3
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	


declare @VL nvarchar(20) = '' ;
declare @VLexpiry datetime ;


declare @getDate datetime = dateadd(d, datediff(d,0, getdate()), 0) ; -- this gives date without time part

select vl.LicenceNumber,
vl.LicenceExpiryDate
into #affectedCases
from dbo.LicenceMasterVL vl
where 
----1-- active VL  expiry date + number of MONTHs
( 
vl.LicenceStateMasterId in (1,4) and 
vl.LicenceExpiryDate < @borderDate 
) or 
----2--  inactive VL (expiryDate+year) + number of weeks
( 
vl.LicenceStateId = 8 and --inactive expired
 DATEADD(year, 1,vl.LicenceExpiryDate) <  @borderDate 
) ;


DECLARE covid_cursor CURSOR FOR 
select LicenceNumber,
LicenceExpiryDate
from  #affectedCases


OPEN covid_cursor  
FETCH NEXT FROM covid_cursor INTO @VL, @VLexpiry;  

WHILE @@FETCH_STATUS = 0  
BEGIN  

Update LicenceMasterVL Set 
LicenceExpiryDate = dateadd(MONTH, @VLExtentionMonths , @VLexpiry),
 ModifiedBy = 'Covid-Update',
 ModifiedDate = getdate()
Where LicenceNumber = @VL   

INSERT INTO [dbo].[LicenceMasterVLAudit]
           ([PlateNumber],[LicenceNumber],[LicenceHolderId],[RegistrationNumber],[LicenceTypeId],[LicenceStateId],[LicenceStateMasterId],[LicenceExpiryDate]
           ,[LicenceIssueDate],[CoExpiryDate],[CoIssueDate],[RenewalDate],[TransferedFromReg],[HistoryChangeId],[TestCenterId],[RemainingTransfers],[TransferDate]
           ,[OldPlateNumber],[OldLicenceAuthority],[Ccsn],[Ppsn],[CompanyNumber],[TitleId],[FirstName],[LastName],[DateOfBirth],[CompanyName],[TradingAs]
           ,[AddressLine1],[AddressLine2],[AddressLine3],[Town],[CountyId],[PostCode],[CountryId],[PhoneNo1],[PhoneNo2],[Email]
           ,[TaxClearanceVisual],[CreatedBy],[CreatedDate],[ModifiedBy],[ModifiedDate],[AuditDate])    
Select top 1 [PlateNumber],[LicenceNumber],[LicenceHolderId],[RegistrationNumber],[LicenceTypeId],
			[LicenceStateId],[LicenceStateMasterId],
			dateadd(MONTH, @VLExtentionMonths , @VLexpiry),
			[LicenceIssueDate],[CoExpiryDate],[CoIssueDate],[RenewalDate],[TransferedFromReg],
		   2, -- update licence details 
		   [TestCenterId],[RemainingTransfers],[TransferDate]
           ,[OldPlateNumber],[OldLicenceAuthority],[Ccsn],[Ppsn],[CompanyNumber],[TitleId],[FirstName],[LastName],[DateOfBirth],[CompanyName],[TradingAs]
           ,[AddressLine1],[AddressLine2],[AddressLine3],[Town],[CountyId],[PostCode],[CountryId],[PhoneNo1],[PhoneNo2],[Email]
           ,[TaxClearanceVisual],[CreatedBy],[CreatedDate],
		   'Covid-Update',getdate(),getdate()
		    from [dbo].[LicenceMasterVLAudit] where LicenceNumber = @VL 
			order by Id desc  


   FETCH NEXT FROM covid_cursor INTO @VL, @VLexpiry
END 

drop table if exists #affectedCases;

CLOSE covid_cursor  
DEALLOCATE covid_cursor 

 





END

------------------*********************END HERE*************************----------------------------



GO
