USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemParameter_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 12/11/10
-- =============================================
CREATE PROCEDURE [dbo].[SystemParameter_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    
	SELECT	ParameterName,ParameterValue,ParameterType,
		ParameterDescription,CreatedBy,CreatedDate,
		ModifiedBy,ModifiedDate

	FROM dbo.SystemParameter

END
GO
