USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[YEARSMONTHSDAYS]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- HELPER FUNCTION TO COUNT YEARS MONTHS AN DAYS
CREATE FUNCTION [dbo].[YEARSMONTHSDAYS](@REGISTRATIONDATE DATETIME, @YMD VARCHAR(1))
   RETURNS INTEGER
AS

/*
Y = YEARS
M = MONTHS
D = DAYS
*/

BEGIN
DECLARE @THISYEARBIRTHDAY DATETIME
DECLARE @YEARS INT, @MONTHS INT, @DAYS INT

SET @THISYEARBIRTHDAY = DATEADD(YEAR, DATEDIFF(YEAR, @REGISTRATIONDATE, GETDATE()), @REGISTRATIONDATE)
SET @YEARS = DATEDIFF(YEAR, @REGISTRATIONDATE, GETDATE()) - (CASE WHEN @THISYEARBIRTHDAY > GETDATE() THEN 1 ELSE 0 END)
SET @MONTHS = MONTH(GETDATE() - @THISYEARBIRTHDAY) - 1
SET @DAYS = DAY(GETDATE() - @THISYEARBIRTHDAY) - 1

IF @YMD = 'Y'  RETURN   @YEARS
IF @YMD = 'M'  RETURN   @MONTHS 
IF @YMD = 'D'  RETURN   @DAYS 
RETURN NULL
END

GO
