USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LetterRequestTypeVL_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andrew Snook>
-- Create date: <30/11/2010>
-- Update: Aleh Holub <09/02/2015>
-- =============================================
CREATE PROCEDURE [dbo].[LetterRequestTypeVL_Insert] 
	-- Add the parameters for the stored procedure here
(		
	@LetterRequestTypeId int output,
	@LetterRequestTypeDescription varchar(100),	
	@FileContent varbinary(max),
	@AllowedRoles varchar(200),
	@LetterCode	varchar(20),
	@NumPages int,
	@PrintStyle	varchar(10),
	@EnvelopeType varchar(5),
	@PrintCompanyId int,
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime output,	
	@ModifiedBy nvarchar(50),
	@IntroductionEmailText nvarchar(500),	
	@ModifiedDate datetime output
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate

	INSERT INTO dbo.LetterRequestTypeVL
	(		
		LetterRequestTypeDescription,		
		FileContent,		
		AllowedRoles,
		LetterCode,
		NumPages,
		PrintStyle,
		EnvelopeType,
		PrintCompanyId,
		CreatedBy,
		ModifiedBy,
		CreatedDate,
		ModifiedDate,
		IntroductionEmailText
	)
	VALUES
	(		
		@LetterRequestTypeDescription,		
		@FileContent,
		@AllowedRoles,
		@LetterCode,
		@NumPages,
		@PrintStyle,
		@EnvelopeType,
		@PrintCompanyId,
		@CreatedBy,	
		@ModifiedBy,		
		@CreatedDate,	
		@ModifiedDate,
		@IntroductionEmailText
	)
	 	
	SET @LetterRequestTypeId = SCOPE_IDENTITY()
	
	
END


/****** Object:  StoredProcedure [dbo].[LetterRequestTypeVL_SelectAll]    Script Date: 09/02/2015 11:41:57 ******/
SET ANSI_NULLS ON
GO
