USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleMaster_Signage]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VehicleMaster_Signage]
	@RegistrationNumber varchar(50)  -- LicenceNumber is passing from the codebehind.
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--@RegistrationNumber as using LicenceNumber because I don't want to crash existing application and now from the CABS VLS is passing LicenceNumber as a parameter.

   Select top(1) * from cabs_tds.vSignageInstallations
    Where VehicleLicenceNumber=@RegistrationNumber and InstallationIsActive=1 

END
GO
