USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceRepresentative_Update]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		rpodgorski
-- Create date: 18-02-2014
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[LicenceRepresentative_Update]
(
	@LicenceRepresentativeId int,
	@LicenceNumber varchar(15),	
	@LicenceHolderMasterId int,
	@RepresentativeId int,		
	@StartDate datetime,
	@EndDate datetime = null,
	@CreatedBy nvarchar(20),
	@CreatedDate datetime,	
	@ModifiedBy nvarchar(50),
	@ModifiedDate datetime
)
AS

BEGIN

SET NOCOUNT ON;

SET @ModifiedDate = GETDATE()

UPDATE dbo.LicenceRepresentative

SET
	LicenceHolderMasterId = @LicenceHolderMasterId,
	LicenceNumber = @LicenceNumber,
	StartDate = @StartDate,
	EndDate = @EndDate,
	ModifiedBy = @ModifiedBy,
	ModifiedDate = @ModifiedDate

WHERE
	LicenceRepresentativeId = @LicenceRepresentativeId
	
END

GO
