USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Conditional_Offers_Issued]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RPT_Conditional_Offers_Issued]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
SELECT 
LT.LicenceType,
LM.PlateNumber as LicenceNumber,
isnull(LSM.LicenceStateMaster,'')+isnull(' - '+ LS.LicenceState,'') as [LicenceState],
LM.CoIssueDate,
LM.CoExpiryDate,
LM.RegistrationNumber,
LHM.HolderName,
LM.ModifiedDate

FROM dbo.LicenceMasterVL LM
LEFT JOIN dbo.LicenceStateMaster LSM on LSM.LicenceStateMasterId = LM.LicenceStateMasterId
LEFT JOIN dbo.LicenceState LS on LS.LicenceStateId = LM.LicenceStateId
LEFT JOIN dbo.LicenceHolderMaster LHM on LHM.LicenceHolderId = LM.LicenceHolderId
LEFT JOIN dbo.LicenceType LT on LT.LicenceTypeId = LM.LicenceTypeId
WHERE Cast(LM.CoIssueDate as DATE) BETWEEN @StartDate AND @EndDate

END
GO
