USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_CovidUpdateSuspendLicence]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   PROCEDURE [dbo].[sch_CovidUpdateSuspendLicence] 
	-- Add the parameters for the stored procedure here
	@numOfWeeks int =1,
	@VL nvarchar(20) = '' 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
declare @stateId int = 11 ;
declare @stateMasterId int = 5 ;


 update dbo.LicenceMasterVL
 set SuspensionStartDate = getdate(),
 SuspensionEndDate = dateadd(week, @numOfWeeks , getdate()),
 LicenceStateId = @stateId,
 LicenceStateMasterId = @stateMasterId ,
 ModifiedBy = 'Covid-Update',
 ModifiedDate = getdate()
  where LicenceNumber = @VL 

  INSERT INTO [dbo].[LicenceMasterVLAudit]
           ([PlateNumber],[LicenceNumber],[LicenceHolderId],
		   [RegistrationNumber],[LicenceTypeId],
		   [LicenceStateId],[LicenceStateMasterId], 
		   [LicenceExpiryDate],
		   SuspensionStartDate , SuspensionEndDate
           ,[LicenceIssueDate],[CoExpiryDate],[CoIssueDate],[RenewalDate],[TransferedFromReg],[HistoryChangeId],
		   [TestCenterId],[RemainingTransfers],[TransferDate]
           ,[OldPlateNumber],[OldLicenceAuthority],[Ccsn],[Ppsn],[CompanyNumber],[TitleId],[FirstName],[LastName],[DateOfBirth],[CompanyName],[TradingAs]
           ,[AddressLine1],[AddressLine2],[AddressLine3],[Town],[CountyId],[PostCode],[CountryId],[PhoneNo1],[PhoneNo2],[Email]
           ,[TaxClearanceVisual],[CreatedBy],[CreatedDate],[ModifiedBy],[ModifiedDate],[AuditDate])    
Select top 1 [PlateNumber],[LicenceNumber],[LicenceHolderId],
			[RegistrationNumber],[LicenceTypeId],
			@stateId ,@stateMasterId ,  
			[LicenceExpiryDate],
			getdate(),dateadd(week, @numOfWeeks , getdate())
			,[LicenceIssueDate],[CoExpiryDate],[CoIssueDate],[RenewalDate],[TransferedFromReg],
			17, --Database Fixed
		   [TestCenterId],[RemainingTransfers],[TransferDate]
           ,[OldPlateNumber],[OldLicenceAuthority],[Ccsn],[Ppsn],[CompanyNumber],[TitleId],[FirstName],[LastName],[DateOfBirth],[CompanyName],[TradingAs]
           ,[AddressLine1],[AddressLine2],[AddressLine3],[Town],[CountyId],[PostCode],[CountryId],[PhoneNo1],[PhoneNo2],[Email]
           ,[TaxClearanceVisual],'Covid-Update',getdate(),'Covid-Update',getdate(),getdate()
		    from [dbo].[LicenceMasterVLAudit] where LicenceNumber = @VL 
			order by Id desc  






END

------------------*********************END HERE*************************----------------------------



GO
