USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Fee_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 15-Sep-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[Fee_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	[FeeId],
			[FeeName],
			[FeeAmount],
			[ActiveYn],
			[CreatedBy],
			[CreatedDate],
			[ModifiedBy],
			[ModifiedDate]
	  FROM [dbo].[Fee]
	  ORDER BY FeeName
END
GO
