USE [cabs_production]
GO
/****** Object:  Table [dbo].[Inspectors]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspectors](
	[InspectorID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
	[UserID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Inspectors] PRIMARY KEY CLUSTERED 
(
	[InspectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inspectors]  WITH CHECK ADD  CONSTRAINT [FK_Inspectors_apsnet_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
ALTER TABLE [dbo].[Inspectors] CHECK CONSTRAINT [FK_Inspectors_apsnet_Users]
GO
