USE [cabs_production]
GO
/****** Object:  View [dbo].[vQuestions]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vQuestions] as
select 
	isnull(cabs_sk.GetQuestionItemCode(isnull(q.CurrentId,q.ID),1),'') + ' (' + isnull(q.LegacyItemCode,'') + ')' as ItemCode
   --,Q.ID
   ,q.LegacyItemCode
   ,m.Code as ModuleCode
   ,ch.Code as ChapterCode
   ,c.CountyName as Topic
   ,q.QuestionText as Stem
   ,IIF(LEFT(aa.AnswerText,1)='A',aa.AnswerText,null) as Distributors_A
   ,IIF(LEFT(ab.AnswerText,1)='B',ab.AnswerText,null) as Distributors_B
   ,IIF(LEFT(ac.AnswerText,1)='C',ac.AnswerText,null) as Distributors_C
   ,IIF(LEFT(ad.AnswerText,1)='D',ad.AnswerText,null) as Distributors_D
   ,IIF(LEFT(ae.AnswerText,1)='E',ae.AnswerText,null) as Distributors_E
   ,CorrectAnswer.Correct as [Keys (correct answer)]
   ,qbp.[ItemCode1] as BadPairsList1
   ,qbp.[ItemCode2] as BadPairsList2
   ,vt.[Description] as [QuestionVersionType (current or history)]
   ,iif(q.IsActive=1,'Yes','No') as QuestionActive
from [cabs_sk].[Question] q
	left join [cabs_sk].[Module] m on q.ModuleID=m.ID
	left join [cabs_sk].[Chapter] ch on q.ChapterID=ch.ID
	left join [dbo].[County] c on q.AreaID=c.CountyId
	left join [cabs_sk].[Answer] aa on q.ID=aa.QuestionID and left(aa.AnswerText,1)='A'
	left join [cabs_sk].[Answer] ab on q.ID=ab.QuestionID and left(ab.AnswerText,1)='B'
	left join [cabs_sk].[Answer] ac on q.ID=ac.QuestionID and left(ac.AnswerText,1)='C'
	left join [cabs_sk].[Answer] ad on q.ID=ad.QuestionID and left(ad.AnswerText,1)='D'
	left join [cabs_sk].[Answer] ae on q.ID=ae.QuestionID and left(ae.AnswerText,1)='E'
	left join (  
		select distinct
		a.[QuestionID],
		stuff((select ';' + left(b.[AnswerText],1) from [cabs_production].[cabs_sk].[Answer] b where a.[QuestionID]=b.[QuestionID] and b.Correct=1 for xml path('')),1,1,'') as Correct
		from [cabs_production].[cabs_sk].[Answer] a
		group by a.QuestionID, a.[AnswerText]
	) as CorrectAnswer on q.ID=CorrectAnswer.[QuestionID]
	left join [dbo].[vQuestionBadPairs_withItemCode] qbp on q.ID=qbp.Question1ID or q.ID=qbp.Question2ID
	left join [cabs_sk].[VersionType] vt on q.VersionTypeID=vt.ID
GO
