USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemProcessVLLicenceStateMaster_SelectAll]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 10-Feb-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SystemProcessVLLicenceStateMaster_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SystemProcessId, LicenceStateMasterId
	FROM dbo.SystemProcessVLAllowedLicenceStateMaster
	
END
GO
