USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[VehicleModel_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VehicleModel_Insert]

@ModelName varchar(50) ,
@MakeID int

	
AS
BEGIN
	SET NOCOUNT ON;

	IF NOT EXISTS (SELECT * FROM VehicleModel WHERE Model=@ModelName AND MakeID=@MakeID) 
		BEGIN			
		
			declare @Model_CD varchar(3)			
			Set @Model_CD =(Select top 1 Convert(nvarchar(3),Model_CD) as Model_CD  from VehicleModel Where Isnumeric(Model_CD)=1 order by Model_CD desc)
			Set @Model_CD= Convert(int,@Model_CD)+1;
			Declare @Make_CD varchar(5) = (Select top 1 Make_CD from VehicleMake where MakeID=@MakeID)
			Declare @IsExist varchar(3) = (Select Model_CD from VehicleModel Where Model_CD = (@Model_CD))
			If(@IsExist Is NULL)
				BEGIN
					INSERT into VehicleModel(MakeId,Model_CD,Model,Active,CreatedBy,ModifiedBy,Make_CD)
					VALUES(@MakeId,@Model_CD,@ModelName,1,'Helpdesk','Helpdesk',@Make_CD)					
				END	
			
		END
	


RETURN SCOPE_IDENTITY();
		

END

GO
