USE [cabs_production]
GO
/****** Object:  Table [dbo].[DefectCategories]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefectCategories](
	[DefectCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[DefectCategory] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[LicenceNumberLessOrEqual] [int] NULL,
	[LicenceNumberGreaterOrEqual] [int] NULL,
	[AllLicenceTypes] [bit] NULL,
	[AllInspectionProcesses] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_DefectCategories] PRIMARY KEY CLUSTERED 
(
	[DefectCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
