USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[MTRebateStatus_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   PROCEDURE [dbo].[MTRebateStatus_SelectAll]
AS
BEGIN

	SET NOCOUNT ON;
	SELECT [MTRebateStatusId], [Description], [Active]
	FROM [cabs_production].[dbo].[MTRebateStatus]
END
GO
