USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreClosedDatesAudit_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Damien Dennehy>
-- Create date: <21-Jun-2011>
-- Description:	<Add a closed Test Centre Date>
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreClosedDatesAudit_Insert]
(
	@ClosedDateAuditId int output,
	@ClosedDate datetime, 
	@CreatedBy nvarchar(50),	
	@CreatedDate datetime,	
	@ModifiedBy nvarchar(50),	
	@ModifiedDate datetime,
	@AuditDate datetime output,
	@StatusMessage nvarchar(100)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SET @AuditDate = GETDATE()

	INSERT INTO dbo.TestCentreClosedDatesAudit
	(
			ClosedDate, 
			CreatedBy,
			CreatedDate,
			ModifiedBy,
			ModifiedDate,
			AuditDate,
			StatusMessage
	)
	VALUES
	(
			CONVERT(Date, @ClosedDate), 
			@CreatedBy,
			@CreatedDate,
			@ModifiedBy,
			@ModifiedDate,
			@AuditDate,
			@StatusMessage
	)
	
	SET @ClosedDateAuditId = SCOPE_IDENTITY()

END
GO
