USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[GetSMSNumberChangesCountRaport]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Adam Nosal>
-- Create date: <6/27/2018,>
-- Description:	<Procedure for first part of SMS change number Report>
-- =============================================
create PROCEDURE [dbo].[GetSMSNumberChangesCountRaport](
	-- Add the parameters for the stored procedure here
	@StartDate datetime,
	@EndDate datetime
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @EndDate = DATEADD(day,1, DATEDIFF(day, 0,getdate()));

SELECT  [LicenceMaster].LicenceNumber, 
[IndustryUser].ID,
LicenceHolderMaster.FirstName + ' ' + LicenceHolderMaster.LastName AS 'DriverName',
-- COUNT(*) AS 'NumberOfChanges',
	(
	SELECT  Count( * )
	FROM [Cabs_Live].dbo.TransactionAuditLog
WHERE TransactionAuditLog.CreatedDate<@EndDate
and TransactionAuditLog.CreatedDate>@StartDate
and TransactionAuditLog.LicenceNumber = [LicenceMaster].LicenceNumber
and TransactionAuditLog.TransactionAuditTypeID in (27, 28))
	 AS 'NumberOfChanges'
into #SMSMNumberChangesReturnTable
FROM [cabs_production].[cabs_sms].[SmsServiceRegistration]
  left join [cabs_cmo].[IndustryUser] on [cabs_cmo].[IndustryUser].[ID] = [SmsServiceRegistration].[IndustryUserId]
   join [cabs_production].cabs_dvl.VehicleDriver on VehicleDriver.IndustryUserId = [IndustryUser].[ID]
   join [Cabs_Live].dbo.LicenceMaster on LicenceMaster.LicenceNumber = VehicleDriver.[DriverLicenceNumber]
   join [Cabs_Live].[dbo].[LicenceHolderMaster] on [LicenceHolderMaster].LicenceHolderId = LicenceMaster.LicenceHolderId
  
WHERE ([SmsServiceRegistration].RegistrationDate BETWEEN @StartDate AND @EndDate )
and 'NumberOfChanges' IS NOT NULL 
Group by [LicenceMaster].LicenceNumber, 
[IndustryUser].ID,LicenceHolderMaster.LastName, LicenceHolderMaster.FirstName,
 [SmsServiceRegistration].IndustryUserId;

 select * from #SMSMNumberChangesReturnTable where NumberOfChanges >0;

 Drop TABLE if exists #SMSMNumberChangesReturnTable ;

END
GO
