USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_HandleNoShows]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		dan Rusu
-- Create date: 13.05.2011
-- Description: creates no show inspections for bookings without inspections
-- Updated by Pawel Maciejewski on 10.05.2018
-- Update with additional section 'handle letter'
-- =============================================
CREATE PROCEDURE [dbo].[sch_HandleNoShows] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    
--declare needed variables
declare @BookingID int, 
@TestCentreId int, 
@LicenceNumber varchar(50), 
@RegistrationNumber varchar(10),
@LicenceHolderId varchar(50),
@ErrorMessage varchar(4000);

--declare cursor
DECLARE booking_cursor CURSOR FOR 
select 
	b.BookingId, b.TestCentreId, b.LicenceNumber, l.RegistrationNumber,l.LicenceHolderId
from 
	dbo.Booking b
	inner join dbo.LicenceMasterVL l on l.LicenceNumber = b.LicenceNumber 
	left join dbo.VehicleInspections vi on b.BookingId = vi.BookingId
	left join [cabs_insp].[VehicleInspectionsDraft] vid on b.BookingId=vid.[BookingId]
where 
	(CAST( FLOOR( CAST( b.BookingDateTime AS FLOAT ) ) AS DATETIME )= CAST( FLOOR( CAST( getDate() AS FLOAT ) ) AS DATETIME )
	or 
	CAST( FLOOR( CAST( b.BookingDateTime AS FLOAT ) ) AS DATETIME )= CAST( FLOOR( CAST( getDate()-1 AS FLOAT ) ) AS DATETIME ))
	and b.BookingStatusId = 2
	and 
		vi.VehicleInspectionId is null and (vid.ID is null or vid.[InspectionSaveStateID]=1)
	and b.BookingDateTime < getdate();

OPEN  booking_cursor;

FETCH NEXT FROM booking_cursor 
	INTO @BookingID , @TestCentreId , @LicenceNumber, @RegistrationNumber, @LicenceHolderId;
WHILE @@FETCH_STATUS = 0
BEGIN

	BEGIN TRANSACTION noshow

		BEGIN TRY


			--calculate inspection ID
			declare @inspectionID int
			select  @inspectionID = max(VehicleInspectionId) + 1 from dbo.VehicleInspections
			if (@inspectionID < 1000000)
				begin
					set @inspectionID = 1000001
				end

			--insert inspection 
			insert into dbo.VehicleInspections 
					(VehicleInspectionId, 
					RegistrationNumber,
					LicenceNumber,
					TestCentreId,
					BookingId,
					TestStartTime,
					TestResultId,
					CreatedBy,
					CreatedDate,
					ModifiedBy,
					ModifiedDate)
			values
					(@inspectionID,
					@RegistrationNumber,
					@LicenceNumber,
					@TestCentreId,
					@BookingID,
					GETDATE(),
					3,  -- No Show ID
					'NOSHOW Job',
					getdate(),
					'NOSHOW Job',
					getdate())

			-- handle refunds
			DECLARE	@return_value int,
					@RefundId int
			SELECT	@RefundId = 1

			EXEC	@return_value = [dbo].[Booking_NoShowCancelAndRefund]
					@BookingId = @BookingID,
					@RefundId = @RefundId OUTPUT,
					@RefundReasonId = 3,
					@BookingCancellationReasonId = 4,
					@Username = N'NOSHOW Job',
					@ProcessExpiration = 0

			SELECT	@RefundId as N'@RefundId'

			SELECT	'Return Value' = @return_value
			
			if(@return_value = 0)
				RAISERROR ('Refund Failed', 16, 1);
			
	------------------ Handle letters for bookings NoShow   -------------------------------------------
			DECLARE @PrintRequestReasonId int
			DECLARE @LetterRequestTypeId int
			DECLARE @RequestId int
									
			SELECT @PrintRequestReasonId = [PrintRequestReasonId]
				FROM [cabs_production].[dbo].[PrintRequestReasonVL]
				WHERE [PrintRequestReasonDescription] = 'New Print'

			SELECT @LetterRequestTypeId = [LetterRequestTypeId]
				FROM [dbo].[LetterRequestTypeVL]
				WHERE [LetterCode] = 'BNSL' -- Booking NoShow Letter SPSV
			 
			EXECUTE USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@VehicleRegistrationNumber = @RegistrationNumber,
				@PrintRequestReasonId = @PrintRequestReasonId,
				@LetterRequestTypeId = @LetterRequestTypeId,
				@CreatedBy = 'System',
				@BookingId = @BookingId;
					
			IF @RequestId IS NULL
				BEGIN
					SET @ErrorMessage = 'Unable to generate noshow letter for licence # ' + @LicenceNumber;
					RAISERROR (@ErrorMessage, 16, 1);
				END         

		END TRY
		BEGIN CATCH 

		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION noshow
			CLOSE booking_cursor   
			DEALLOCATE booking_cursor
		END
			SET @ErrorMessage = ERROR_MESSAGE()
		
			Begin Try
			--Log the error
		
			INSERT INTO [dbo].[PrintEventLogs]
					(
						[Date],
						[Thread],
						[Level],
						[Logger],
						[Message],
						[Usr]
					)
			VALUES
					(
						getdate(),
						1,
						'ERROR',
						'sch_LetterVL_ExpiringLicenses_12_Weeks',
						@ErrorMessage,
						'System'
					)
					
			End	Try
					
			BEGIN CATCH
					
			--Nothing to do if the Print Event Log fails
					
			END CATCH
		
		
		RAISERROR (@ErrorMessage, 16, 1);
			
		RETURN 0

		END CATCH

	COMMIT TRANSACTION noshow

	FETCH NEXT FROM booking_cursor 
	INTO @BookingID , @TestCentreId , @LicenceNumber, @RegistrationNumber, @LicenceHolderId;
END
CLOSE booking_cursor;
DEALLOCATE booking_cursor;



END


GO
