USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_90DayBookingCancellation]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Andrew Snook
-- Create date: 02-07-2012
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[sch_90DayBookingCancellation]
AS
BEGIN
SET NOCOUNT ON;

DECLARE @BookingId int,
@LicenceNumber varchar(50),	
@ErrorMessage varchar(4000)	

DECLARE db_cursor CURSOR FOR

--	Select all bookings where it is the original booking and the test failed.
SELECT b.BookingId, b.LicenceNumber
FROM Booking b , VehicleInspections vi
WHERE b.BookingStatusId IN (3) -- Booking Completed
	AND datediff(day, b.CreatedDate, getdate()) > 90 -- Booking created over 90 days ago
	AND b.BookingId = vi.BookingId	-- Join to the Vehicle Inspection table
	AND vi.TestResultId = 2 --?? 4  -- where the test failed
	AND b.BookingId = b.ParentId	-- where the booking is the first test.  i.e. not a retest.
	AND b.CreatedDate > '10-May-2012'  -- only pick up records that were created 90 days before release v1.1.1 goes live.

	OPEN db_cursor 
	
	FETCH NEXT FROM db_cursor INTO 
	@BookingId, @LicenceNumber

WHILE @@FETCH_STATUS = 0 
BEGIN 
	DECLARE @NoOfBookings int

	--We need to determine if the licence number subsequently had a successful test or has a booking made.
	set @NoOfBookings = (
					Select COUNT(*) from 
					(		--select related bookings that have passed the test.
							select b.BookingId from Booking b
								Inner JOIN VehicleInspections vi ON b.BookingId = vi.BookingId
								where b.LicenceNumber = @LicenceNumber
								and b.ParentId = @BookingId
								AND b.BookingId <> b.ParentId
								and (vi.TestResultId = 1)
							union
							--select related bookings that have been confirmed.
							select b.BookingId from Booking b
								where b.LicenceNumber = @LicenceNumber
								AND b.ParentId = @BookingId
								AND b.BookingId <> b.ParentId
								AND b.BookingStatusId in (2)
					) bookingList	
					)
					
	-- If they have not made another booking after 90 days, then cancel the original booking.
	IF (@NoOfBookings = 0)
	BEGIN
		BEGIN TRANSACTION;
		
		BEGIN TRY

				DECLARE	@return_value int,
						@RefundId int
				SELECT	@RefundId = 1

				EXEC	@return_value = [dbo].[Booking_CancelAndRefund]
						@BookingId = @BookingID,
						@RefundId = @RefundId OUTPUT,
						@RefundReasonId = 7, --Timed Out
						@BookingCancellationReasonId = 4, --System Cancelled,
						@Username = N'90DayCancellationJob',
						@ProcessExpiration = 0		

				SELECT	@RefundId as N'@RefundId'

				SELECT	'Return Value' = @return_value
				
				if(@return_value = 0)
					RAISERROR ('Refund Failed', 16, 1);
		end try
		begin catch
		IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION
			END
				SET @ErrorMessage = ERROR_MESSAGE()
			
			RAISERROR (@ErrorMessage, 16, 1);		
			

			END CATCH

		COMMIT TRANSACTION
	END
	FETCH NEXT FROM db_cursor INTO 
					@BookingId, @LicenceNumber
END 
exitcursor:
CLOSE db_cursor 
DEALLOCATE db_cursor

END


GO
