USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TransactionAuditLog_MainLog]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		@Author,,Name>
-- Create date: @Create Date,,>
-- Description:	@Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TransactionAuditLog_MainLog] 
AS
BEGIN

select 
	count(tal.AuditDateTime),
	tal.TransactionAuditTypeID,
	tal.AuditDateTime,
	tal.TransactionUniqueKey,
	tal.CreatedBy,
	tal.Comments,
	tal.LicenceNumber,
	tal.RegistrationNumber,
	lhm.PPSN,
	t.[TransactionAuditType]
	from TransactionAuditLog tal 
	left outer join LicenceHolderMaster lhm ON tal.LicenceHolderId = lhm.LicenceHolderId
	left outer join [dbo].[TransactionAuditType] t ON tal.[TransactionAuditTypeID]=t.[TransactionAuditTypeID]
--Where (tal.CreatedBy='Helpdesk')
group by tal.TransactionUniqueKey,tal.TransactionAuditTypeID,tal.AuditDateTime,tal.CreatedBy,tal.Comments,tal.LicenceNumber,tal.RegistrationNumber,lhm.PPSN,t.[TransactionAuditType] order by tal.AuditDateTime desc


END

GO
