USE [cabs_production]
GO
/****** Object:  View [dbo].[vChangeTracking]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vChangeTracking]
AS
SELECT DISTINCT SysChangeVersion, SysChangeOperation, SysChangeColumns, Id, TableName
FROM (
SELECT Ct.SYS_CHANGE_VERSION AS SysChangeVersion, ct.SYS_CHANGE_OPERATION AS SysChangeOperation, ct.SYS_CHANGE_COLUMNS AS SysChangeColumns, 
	ct.[PersonId] AS Id, 'OnePersonView' AS TableName FROM  
CHANGETABLE(CHANGES [person].[Person], 0) AS CT  
UNION ALL
SELECT Ct.SYS_CHANGE_VERSION AS SysChangeVersion, ct.SYS_CHANGE_OPERATION AS SysChangeOperation, ct.SYS_CHANGE_COLUMNS AS SysChangeColumns, 
	[P].[PersonId] AS Id, 'OnePersonView' AS TableName FROM  
CHANGETABLE(CHANGES [person].[Individual], 0) AS CT  
JOIN [person].[Individual] AS [I] ON [CT].[IndividualId] = [I].[IndividualId]
JOIN  [person].[Person] AS [p] ON [I].[PersonId]=[P].[PersonId]
UNION ALL 
SELECT Ct.SYS_CHANGE_VERSION AS SysChangeVersion, ct.SYS_CHANGE_OPERATION AS SysChangeOperation, ct.SYS_CHANGE_COLUMNS AS SysChangeColumns, 
	[P].[PersonId] AS Id, 'OnePersonView' AS TableName FROM  
CHANGETABLE(CHANGES [person].[Company], 0) AS CT  
JOIN [person].[Company] AS [C] ON [CT].[CompanyId] = [C].[CompanyId]
JOIN  [person].[Person] AS [p] ON [C].[PersonId]=[P].[PersonId]
UNION ALL 
SELECT Ct.SYS_CHANGE_VERSION AS SysChangeVersion, ct.SYS_CHANGE_OPERATION AS SysChangeOperation, ct.SYS_CHANGE_COLUMNS AS SysChangeColumns, 
	[P].[PersonId] AS Id, 'OnePersonView' AS TableName FROM  
CHANGETABLE(CHANGES [person].[Email], 0) AS CT  
JOIN [person].[Email] AS [E] ON [CT].[EmailId] = [E].[EmailId]
JOIN  [person].[Person] AS [p] ON [E].[PersonId]=[P].[PersonId]
UNION ALL 
SELECT Ct.SYS_CHANGE_VERSION AS SysChangeVersion, ct.SYS_CHANGE_OPERATION AS SysChangeOperation, ct.SYS_CHANGE_COLUMNS AS SysChangeColumns, 
	[P].[PersonId] AS Id, 'OnePersonView' AS TableName FROM  
CHANGETABLE(CHANGES [person].[Address], 0) AS CT  
JOIN [person].[Address] AS [A] ON [CT].[AddressId] = [A].[AddressId]
JOIN  [person].[Person] AS [p] ON [A].[PersonId]=[P].[PersonId]
UNION ALL 
SELECT Ct.SYS_CHANGE_VERSION AS SysChangeVersion, ct.SYS_CHANGE_OPERATION AS SysChangeOperation, ct.SYS_CHANGE_COLUMNS AS SysChangeColumns, 
	[P].[PersonId] AS Id, 'OnePersonView' AS TableName FROM  
CHANGETABLE(CHANGES [person].[Phone], 0) AS CT  
JOIN [person].[Phone] AS [Ph] ON [CT].[PhoneId] = [Ph].[PhoneId]
JOIN [person].[Person] AS [p] ON [Ph].[PersonId]=[P].[PersonId]) AS TAB
UNION ALL
SELECT Ct.SYS_CHANGE_VERSION AS SysChangeVersion, ct.SYS_CHANGE_OPERATION AS SysChangeOperation, ct.SYS_CHANGE_COLUMNS AS SysChangeColumns, 
	ct.ID AS Id, 'Person' AS TableName FROM  
CHANGETABLE(CHANGES [cabs_cmo].[Person], 0) AS CT  
UNION ALL
SELECT Ct.SYS_CHANGE_VERSION AS SysChangeVersion, ct.SYS_CHANGE_OPERATION AS SysChangeOperation, ct.SYS_CHANGE_COLUMNS AS SysChangeColumns, 
	ct.[LicenceHolderId] AS Id, 'LicenceHolderMaster' AS TableName  FROM  
CHANGETABLE(CHANGES [dbo].[LicenceHolderMaster], 0) AS CT  
GO
