USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[SystemProcessInstanceVL_SelectByBookingId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SystemProcessInstanceVL_SelectByBookingId]
(
@BookingId int
)

AS
BEGIN

	SET NOCOUNT ON;

	SELECT	P.InstanceId,  
			P.Completed,
			P.LicenceNumber, 
			P.BookingId,
			P.PaymentId,
			P.StartDate, P.EndDate, 
			P.CreatedBy, P.ModifiedBy, 
			P.CreatedDate, P.ModifiedDate,
			P.Processed, P.ProcessDate, 
			p.DeathCertDate,		
			P.VehicleInspectionDocumentId,	
			SP.SystemProcessId as SP_SystemProcessId, SP.ProcessName as SP_ProcessName
			
	FROM dbo.SystemProcessInstanceVL P
	
	INNER JOIN dbo.SystemProcessVL SP on SP.SystemProcessId = P.SystemProcessId
	
	WHERE P.BookingId = @BookingId
	Order by p.InstanceId desc;
END

GO
