USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceMasterVL_GetDeferredExpireDate]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LicenceMasterVL_GetDeferredExpireDate]
(
    @LicenceNumber varchar(50) = null
)
AS
BEGIN

	/*
	DECLARE @LetterRequestTypeAuditId int =
	(
		SELECT MAX(A.LetterRequestTypeAuditId) 
		FROM LetterRequestTypeVLAudit AS A
		JOIN LetterRequestTypeVL AS L ON L.LetterRequestTypeId = A.LetterRequestTypeId 
		WHERE L.LetterRequestTypeId = 15
	)
			
	SELECT TOP(1)
		--LetterRequestTypeAuditId,
		--L.LicenceNumber,
		--L.PlateNumber,
		--L.LicenceTypeId,
		--L.LicenceHolderId,
		--L.RegistrationNumber,
		--V.RegistrationDate,
		--L.LicenceExpiryDate,
		p.LicenceDeferralExpiryDate
	FROM dbo.LicenceMasterVL AS L
	--INNER JOIN dbo.VehicleMaster AS V ON V.RegistrationNumber = L.RegistrationNumber
	INNER JOIN dbo.PrintRequestMasterVL AS P ON l.LicenceNumber=p.LicenceNumber
	WHERE
			L.LicenceStateMasterId = 5 -- Inactive
		AND L.LicenceStateId = 9 -- Deferred
		AND P.LetterRequestTypeAuditId = @LetterRequestTypeAuditId
		AND L.LicenceNumber = @LicenceNumber
	ORDER BY
		P.PrintRequestMasterID DESC
	*/

	SELECT TOP(1)
	--LicenceNumber,
	--LicenceStateMasterId,
	--LicenceStateId,
	--HistoryChangeId,
	AuditDate AS LicenceDeferralExpiryDate
	FROM LicenceMasterVLAudit
	WHERE LicenceNumber = @LicenceNumber
	  AND LicenceStateMasterId = 5
	  AND LicenceStateId = 9
	  AND HistoryChangeId = 11
	ORDER BY AuditDate DESC
END
GO
