USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_Bookings_CancelAwaitingPayment]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Damien Dennehy
-- Create date: 19-Apr-2011
-- Description: Cancel each booking that is in awaiting payment status for more than 15 mins
-- =============================================
CREATE PROCEDURE [dbo].[sch_Bookings_CancelAwaitingPayment] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @LicenceNumber varchar(20)
	DECLARE @BookingIds TABLE
	(
		BookingId int
	)
	
	DECLARE @SkillsBookingIds TABLE
	(
		SkillsBookingId int
	)
	
	DECLARE @NewLicencePaymentIds TABLE
	(
		NewLicencePaymentId int,
		LicenceNumber varchar(20)
	)

	
			
	DECLARE @ErrorMessage varchar(4000)
				
	INSERT INTO @BookingIds
	(
		BookingId
	)	
	SELECT B.BookingId 
	FROM dbo.Booking B
	LEFT OUTER JOIN dbo.SystemProcessInstanceVL SPI ON SPI.BookingId = B.BookingId
	WHERE B.BookingStatusId = 1 --in awaiting payment status only
	AND COALESCE(SPI.Completed,0) = 0
	AND DATEDIFF(Minute, B.ModifiedDate, GETDATE()) > 15 
	AND B.BookingId NOT IN (Select BookingId from dbo.BookingPayment BP							--Ticket Reference : BNM-519-73244
							JOIN dbo.PaymentItemVL PIV ON BP.PaymentId = PIV.PaymentId
							WHERE PIV.PaymentStatusId = 2 AND BP.BookingId = B.BookingId) 
	AND B.BookingId NOT IN (Select SPI.BookingId FROM SystemProcessInstanceVL SPI				--Ticket Reference : HOS-276-64963
							LEFT JOIN dbo.BookingPayment BP ON BP.BookingId = SPI.BookingId		
							WHERE SPI.SystemProcessId = 11 AND BP.PaymentId IS NULL				--New Licence 2 Booking without Payment shouldn't be cancelled
							AND SPI.BookingId = B.BookingId)


	INSERT INTO @SkillsBookingIds
	(
		SkillsBookingId
	)	
	SELECT B.ID 
	FROM cabs_sk.Booking B
    where B.StatusID = 1 --in awaiting payment status only
	AND (DATEDIFF(Minute, B.ModifiedOn, GETDATE()) > 15 OR ( B.ModifiedOn is null and DATEDIFF(Minute, B.CreatedOn, GETDATE()) > 15  ))
	AND B.ID NOT IN (Select BookingId from cabs_sk.BookingPayment BP							--Ticket Reference : BNM-519-73244
					JOIN dbo.PaymentItemVL PIV ON BP.PaymentId = PIV.PaymentId
					WHERE PIV.PaymentStatusId = 2 AND BP.BookingId = B.ID)
	

	INSERT INTO @NewLicencePaymentIds
	(
		NewLicencePaymentId,
		LicenceNumber
	)
	Select SPI.PaymentId , SPI.LicenceNumber from dbo.SystemProcessInstanceVL SPI
		join dbo.PaymentVL PVL on SPI.PaymentId=PVL.PaymentId
		WHERE SPI.SystemProcessId=10   --New Licence1 
			AND PVL.PaymentId in (Select PaymentId from dbo.PaymentItemVL PIT where PIT.PaymentStatusId = 4) --in Pending payment status only
			AND COALESCE(SPI.Completed,0) = 0
			AND DATEDIFF(Minute, SPI.ModifiedDate, GETDATE()) > 15


	
BEGIN TRY

		SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

		BEGIN TRANSACTION FINISH
		
				-- handle refunds
							DECLARE	@return_value int,
									@RefundId int
							SELECT	@RefundId = 1
							
			
						UPDATE dbo.Booking
						SET BookingStatusId = 5, -- Cancelled
						ModifiedBy = 'System',
						ModifiedDate = GETDATE(),
						BookingCancellationReasonId = 9 			
						WHERE BookingId IN
						(
							 SELECT BookingId FROM @BookingIds
						) and ([LateReschedule] is NULL OR [LateReschedule] = 0)			
				
				DECLARE @VlsAuditBookingId int,
					@BookingDateTime datetime,
					@VLSTestCentreLaneId int,
					@VLSTestCentreId int,
					@VLSAwaitingPaymentRecord int
				
				DECLARE vlsbooking_cursor CURSOR FOR
					SELECT BookingId FROM @BookingIds
			OPEN vlsbooking_cursor
			FETCH NEXT FROM vlsbooking_cursor INTO @VlsAuditBookingId				
					WHILE @@FETCH_STATUS = 0 
					BEGIN
					Select Top 1 @BookingDateTime = BookingDateTime,
								 @VLSTestCentreLaneId = TestCentreLaneId,
								 @VLSTestCentreId = TestCentreId
					from dbo.Booking Where BookingId IN (@VlsAuditBookingId)

					SET @VLSAwaitingPaymentRecord = (SELECT count(BookingId) FROM dbo.BookingAudit		
					WHERE BookingId IN
					(
						@VlsAuditBookingId
					) AND BookingStatusId = 1
					AND BookingDateTime = @BookingDateTime AND TestCentreLaneId = @VLSTestCentreLaneId AND TestCentreId = @VLSTestCentreId)
				
						INSERT INTO BookingAudit
						(
							BookingId,
							ParentId,	
							InspectionTimeId,	
							TestCentreId,	
							TestCentreLaneId,	
							BookingStatusId,	
							SystemProcessId,
							BookingDateTime,	
							BookingEndDateTime,	
							LicenceNumber,	
							RegistrationNumber,	
							BookingCancellationReasonId,
							NewLicenceHolderId,
							LateCancellation,
							LateReschedule,
							PremiumBooking,
							CreatedBy,	
							CreatedDate,	
							ModifiedBy,	
							ModifiedDate
						)
						SELECT	BookingId,
								ParentId,	
								InspectionTimeId,	
								TestCentreId,	
								TestCentreLaneId,	
								BookingStatusId,	
								SystemProcessId,
								BookingDateTime,	
								BookingEndDateTime,	
								LicenceNumber,	
								RegistrationNumber,	
								BookingCancellationReasonId,
								NewLicenceHolderId,
								LateCancellation,
								LateReschedule,
								PremiumBooking,
								CreatedBy,	
								GETDATE(),	
								ModifiedBy,	
								ModifiedDate
						FROM dbo.Booking
						WHERE BookingId IN
						(
							@VlsAuditBookingId 
						) AND @VLSAwaitingPaymentRecord = 0
					FETCH NEXT FROM vlsbooking_cursor INTO @VlsAuditBookingId				
					END
			CLOSE vlsbooking_cursor    
			DEALLOCATE vlsbooking_cursor
					
			----*********************************************************----		
		
			UPDATE cabs_sk.Booking
						SET StatusID = 5, -- Cancelled
						ModifiedBy = 'System',
						ModifiedOn = GETDATE(),
						BookingCancellationReasonId = 9 		
						WHERE ID IN
						(
						SELECT DISTINCT SkillsBookingId FROM @SkillsBookingIds 
						) and ([LateReschedule] is NULL OR [LateReschedule] = 0)
						AND StatusID = 1

			DECLARE @AuditSkillBookingId int,
					    @StartDateTime datetime,
						@TestCentreLaneId int,
						@TestCentreId int,
						@SkillsAwaitingPaymentRecord int
			DECLARE skillsbooking_cursor CURSOR FOR
				  SELECT distinct SkillsBookingId FROM @SkillsBookingIds
			OPEN skillsbooking_cursor
			FETCH NEXT FROM skillsbooking_cursor INTO @AuditSkillBookingId				
					WHILE @@FETCH_STATUS = 0 
					BEGIN	
					Select Top 1 @StartDateTime = StartDateTime,
								 @TestCentreLaneId = TestCentreLaneId,
								 @TestCentreId = TestCentreId
					from cabs_sk.Booking Where ID = @AuditSkillBookingId
					and ([LateReschedule] is NULL OR [LateReschedule] = 0)
		
							SET @SkillsAwaitingPaymentRecord = (SELECT count(BookingId)	FROM cabs_sk.BookingAudit		
								WHERE BookingId IN
								(
									@AuditSkillBookingId
								) AND (StatusId = 1 OR StatusId = 5)
								AND StartDateTime = @StartDateTime AND TestCentreLaneId = @TestCentreLaneId AND TestCentreId = @TestCentreId)

								INSERT INTO cabs_sk.BookingAudit
								(
									BookingId,
									CandidateID,
									TestID,
									AreaID,
									TestCentreId,	
									TestCentreLaneId,	
									StatusId,	
									StartDateTime,	
									EndDateTime,	
									BookingCancellationReasonId,
									LateCancellation,
									LateReschedule,
									CreatedBy,	
									CreatedOn,	
									ModifiedBy,	
									ModifiedOn
								)
								SELECT	ID,
										CandidateID,
										TestID,
										AreaID,
										TestCentreId,	
										TestCentreLaneId,	
										StatusId,	
										StartDateTime,	
										EndDateTime,	
										BookingCancellationReasonId,
										LateCancellation,
										LateReschedule,
										CreatedBy,	
										GETDATE(),	
										ModifiedBy,	
										ModifiedOn
								FROM cabs_sk.Booking		
								WHERE ID IN
								(
									@AuditSkillBookingId 
								)  AND @SkillsAwaitingPaymentRecord = 0
					
				FETCH NEXT FROM skillsbooking_cursor INTO @AuditSkillBookingId				
					END
			CLOSE skillsbooking_cursor    
			DEALLOCATE skillsbooking_cursor
					
			----*********************************************************----

	    

		UPDATE dbo.PaymentItemVL Set PaymentStatusId=1, -- Cancelled
		ModifiedBy = 'System',
		ModifiedDate = GETDATE()
		where PaymentID IN 
		(
			SELECT DISTINCT NewLicencePaymentId FROM @NewLicencePaymentIds 
		) AND PaymentStatusId= 4 

		----
		IF EXISTS (SELECT DISTINCT NewLicencePaymentId FROM @NewLicencePaymentIds)
			BEGIN			
			Set @LicenceNumber = (SELECT LicenceNumber FROM @NewLicencePaymentIds)
			exec dbo.DeadTimeOutCOAwaitingPayment		
			@LicenceNumber = @LicenceNumber,
			@Username = 'System',
			@ProcessExpiration = 1
			END
		----

			INSERT
			INTO
				dbo.PaymentItemVLAudit

				(

				PaymentItemId
			  , PaymentId
			  , FeeId
			  , Amount
			  , PaymentStatusId
			  , Comments
			  , CreatedBy
			  , CreatedDate
			  , ModifiedBy
			  , ModifiedDate

				)

			SELECT PaymentItemId
				 , PaymentId
				 , FeeId
				 , Amount
				 , PaymentStatusId
				 , Comments
				 , CreatedBy
				 , CreatedDate
				 , ModifiedBy
				 , ModifiedDate

			FROM
				dbo.PaymentItemVL

			WHERE
				PaymentId IN

				(
				 SELECT NewLicencePaymentId
				 FROM
					 @NewLicencePaymentIds
				)

		
		COMMIT TRANSACTION FINISH
		
		RETURN @@TRANCOUNT

END TRY

BEGIN CATCH

	IF @@TRANCOUNT > 0
	BEGIN
		ROLLBACK TRANSACTION FINISH
	END
	
	SET @ErrorMessage = ERROR_MESSAGE()
	
	RAISERROR (@ErrorMessage, 16, 1);
		
	RETURN 0
	
END CATCH

END



GO
