USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_SelectByBestTimesForTestCentre]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ======================================================================================
-- Author:		<Jim O'Brien>
-- Create date: <16-Dec-2010>
-- Description:	<Return a list of booking times based on the test centre, date and inspection type.>
-- ======================================================================================
CREATE PROCEDURE [dbo].[Booking_SelectByBestTimesForTestCentre]
(
@testDate datetime,
@testCentreId int,
@inspectionTimeId int,
@maxInspectionDate datetime,
@existingBookingId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

SET @existingBookingId = null

DECLARE @inspectionTime int;
SET		@inspectionTime = (SELECT InspectionTime FROM InspectionTime
						WHERE InspectionTimeId = @InspectionTimeId)

DECLARE 
	@TestCentreLaneName varchar(20),
	@TestCentreConfigurationId int,
	@TestCentreDefaultConfigId smallint,
	@TestCentreLaneId int,
	@ConfigDate datetime,
	@StartTime datetime,
	@EndTime datetime,
	@PreviousTime datetime,	
	@CurrentTime datetime,
	@Count int	

DECLARE @BestTimes	TABLE 
					(BookingId int, 
					InspectionTimeId int, 
					TestCentreId int,
					TestCentreLaneId int, 
					BookingStatusId int,
					SystemProcessId int,
					BookingDateTime datetime, 
					BookingEndDateTime datetime,
					LicenseNumber varchar(50),
					RegistrationNumber varchar(10),
					NewLicenceHolderId int,
					CreatedBy nvarchar(50), 
					CreatedDate datetime,
					ModifiedBy nvarchar(50),
					ModifiedDate datetime, 
					TestCentreLaneName varchar(50)) 


DECLARE db_cursor CURSOR FOR 
SELECT	tcl.TestCentreLaneName, 
		tcc.TestCentreConfigurationId, 
		tcc.TestCentreDefaultConfigId, 
		tcc.TestCentreLaneId, 
		tcc.ConfigDate, 
		tcc.StartTime, 
		tcc.EndTime 
FROM	[dbo].[TestCentreConfiguration] tcc,
		[dbo].[TestCentreLanes] tcl
WHERE	tcc.testCentreId = @testCentreId
AND		tcc.ConfigDate >= @testDate
AND		tcc.ConfigDate <= @maxInspectionDate
AND		tcc.TestCentreLaneId = tcl.TestCentreLaneId
ORDER BY tcc.StartTime ASC, tcc.TestCentreLaneId ASC

OPEN db_cursor   
FETCH NEXT FROM db_cursor INTO  @TestCentreLaneName,
								@TestCentreConfigurationId, 
								@TestCentreDefaultConfigId, 
								@TestCentreLaneId, 
								@ConfigDate, 
								@StartTime, 
								@EndTime    

SET @PreviousTime = getdate() --jim
SET @Count = 0
WHILE @@FETCH_STATUS = 0   
BEGIN   
	SET @CurrentTime = [dbo].GetNextBookingTime(@TestCentreConfigurationId, @inspectionTimeId, @existingBookingId) 
	IF (@CurrentTime <> @PreviousTime)
	BEGIN
		INSERT INTO @BestTimes
		(
		BookingId, InspectionTimeId, TestCentreId,TestCentreLaneId, BookingStatusId,
		SystemProcessId, BookingDateTime, BookingEndDateTime, LicenseNumber, RegistrationNumber,
		NewLicenceHolderId, CreatedBy, CreatedDate, ModifiedBy, ModifiedDate, TestCentreLaneName
		)
		VALUES
		(
		0, @inspectionTimeId, @testCentreId,
		@TestCentreLaneId, 0, 0,
		@CurrentTime, DateAdd(minute, @inspectionTime, @CurrentTime), 
		'', '', 0, '', GetDate(),
		'', GetDate(), @TestCentreLaneName
		)
		SET @PreviousTime = @CurrentTime
		SET @Count = @Count + 1
	END
	
	if (@Count = 10)
    begin
	goto exitcursor
	end

	FETCH NEXT FROM db_cursor INTO	@TestCentreLaneName,
									@TestCentreConfigurationId, 
									@TestCentreDefaultConfigId, 
									@TestCentreLaneId, 
									@ConfigDate, 
									@StartTime, 
									@EndTime    
END   
exitcursor:

CLOSE db_cursor   
DEALLOCATE db_cursor 

SELECT	BookingId, InspectionTimeId, TestCentreId,TestCentreLaneId, BookingStatusId,
		SystemProcessId, BookingDateTime, BookingEndDateTime, LicenseNumber, RegistrationNumber,
		NewLicenceHolderId, CreatedBy, CreatedDate, ModifiedBy, ModifiedDate, TestCentreLaneName
FROM	@BestTimes
order by BookingDateTime 

END


GO
