USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_All_Licences_Issued_Header]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		---
-- Create date: ---
-- =============================================
create   PROCEDURE [dbo].[RPT_All_Licences_Issued_Header]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
SELECT

SP.ProcessName,
LT.LicenceType,
LMVL.LicenceNumber,
LMVL.LicenceExpiryDate,
LMVL.RegistrationNumber,
LHM.HolderName,
LHM.CCSN,
I.InspectorID As InspectorId,
I.Name As InspectorName,
TC.TestCentreName,
COALESCE(VI.TamperProofPrinted,0) AS TamperProofPrinted,
COALESCE(VI.TPRemoved,0) AS TPRemoved,
COALESCE(VI.TPDestroyed,0) AS TPDestroyed,
TPR.TamperProofReason,
VI.TPComment,
(select count(*) from dbo.InspectionPrintLog ip where ip.InspectionId = VI.VehicleInspectionId) as [Print Count],
LMVL.TransferedFromReg,
TrasnferedVehicleAge=(Select VehicleAge from VehicleMaster Where RegistrationNumber=LMVL.TransferedFromReg)

FROM dbo.LicenceMasterVL LMVL

LEFT OUTER JOIN dbo.LicenceHolderMaster LHM on LHM.LicenceHolderId = LMVL.LicenceHolderId
LEFT OUTER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
LEFT OUTER JOIN dbo.VehicleInspections VI on VI.LicenceNumber = LMVL.LicenceNumber AND TestResultId = 1 AND Cast(VI.TestStartTime as Date)  BETWEEN @StartDate AND @EndDate
LEFT OUTER JOIN dbo.TestResults TR ON VI.TestResultId = TR.TestResultId
LEFT OUTER JOIN dbo.Booking B on B.BookingId = VI.BookingId
LEFT OUTER JOIN dbo.TestCentre TC on TC.TestCentreId = B.TestCentreId
LEFT OUTER JOIN dbo.SystemProcessVL SP on SP.SystemProcessId = B.SystemProcessId
LEFT OUTER JOIN dbo.Inspectors I on I.InspectorID = VI.InspectorId
LEFT OUTER JOIN dbo.TamperProofReasons TPR on TPR.TamperProofReasonID = VI.TPReasonID

WHERE LMVL.LicenceNumber IN
(
	SELECT LicenceNumber FROM dbo.VehicleInspections
	WHERE Cast(TestStartTime as Date) BETWEEN @StartDate AND @EndDate
	AND TestResultId in (1)  -- Pass 
)
AND SP.SystemProcessID <> 9
UNION  

SELECT

SP.ProcessName,
LT.LicenceType,
LMVL.LicenceNumber,
LMVL.LicenceExpiryDate,
LMVL.RegistrationNumber,
LHM.HolderName,
LHM.CCSN,
I.InspectorID As InspectorId,
I.Name As InspectorName,
TC.TestCentreName,
COALESCE(VI.TamperProofPrinted,0) AS TamperProofPrinted,
COALESCE(VI.TPRemoved,0) AS TPRemoved,
COALESCE(VI.TPDestroyed,0) AS TPDestroyed,
TPR.TamperProofReason,
VI.TPComment,
(select count(*) from dbo.InspectionPrintLog ip where ip.InspectionId = VI.VehicleInspectionId) as [Print Count],
LMVL.TransferedFromReg,
TrasnferedVehicleAge=(Select VehicleAge from VehicleMaster Where RegistrationNumber=LMVL.TransferedFromReg)

FROM dbo.LicenceMasterVL LMVL

LEFT OUTER JOIN dbo.LicenceHolderMaster LHM on LHM.LicenceHolderId = LMVL.LicenceHolderId
LEFT OUTER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
LEFT OUTER JOIN dbo.VehicleInspections VI on VI.LicenceNumber = LMVL.LicenceNumber AND TestResultId = 4 AND Cast(VI.TestStartTime as Date)  BETWEEN @StartDate AND @EndDate
LEFT OUTER JOIN dbo.TestResults TR ON VI.TestResultId = TR.TestResultId
LEFT OUTER JOIN dbo.Booking B on B.BookingId = VI.BookingId
LEFT OUTER JOIN dbo.TestCentre TC on TC.TestCentreId = B.TestCentreId
LEFT OUTER JOIN dbo.SystemProcessVL SP on SP.SystemProcessId = B.SystemProcessId
LEFT OUTER JOIN dbo.Inspectors I on I.InspectorID = VI.InspectorId
LEFT OUTER JOIN dbo.TamperProofReasons TPR on TPR.TamperProofReasonID = VI.TPReasonID

WHERE LMVL.LicenceNumber IN
(
	SELECT LicenceNumber FROM dbo.VehicleInspections
	WHERE Cast(TestStartTime as Date) BETWEEN @StartDate AND @EndDate
	--AND TestResultId = 1
	AND TestResultId in (4)  -- Faild Advisory 
)
AND SP.SystemProcessID <> 9

UNION  
SELECT 
SP.ProcessName,
T.LicenceType,
L.LicenceNumber,
L.LicenceExpiryDate,
L.RegistrationNumber,
H.HolderName,
H.Ccsn,
null as InspectorId,
null as InspectorName,
null as TestCentreName,
0 as TamperProofPrinted,
0 as TPRemoved,
0 as TPDestroyed,
null as TamperProofReason,
null as TPComment,
0 as [Print Count],
L.TransferedFromReg,
TrasnferedVehicleAge=(Select VehicleAge from VehicleMaster Where RegistrationNumber=L.TransferedFromReg)

FROM dbo.SystemProcessInstanceVL SPI

INNER JOIN dbo.SystemProcessVL SP ON SP.SystemProcessId = SPI.SystemProcessId
INNER JOIN dbo.LicenceMasterVL L ON L.LicenceNumber = SPI.LicenceNumber
INNER JOIN dbo.LicenceType T on T.LicenceTypeId = L.LicenceTypeId
INNER JOIN dbo.LicenceHolderMaster H ON H.LicenceHolderId = L.LicenceHolderId
WHERE Cast(SPI.CreatedDate as Date) BETWEEN @StartDate AND @EndDate
AND SPI.SystemProcessId IN (3,5) --Change of Name with Duplicate and Duplicate Licence
and SPI.Completed = 1 AND SP.SystemProcessID <> 9
UNION

SELECT 
SP.ProcessName,
T.LicenceType,
L.LicenceNumber,
L.LicenceExpiryDate,
L.RegistrationNumber,
H.HolderName,
H.Ccsn,
null as InspectorId,
null as InspectorName,
null as TestCentreName,
0 as TamperProofPrinted,
0 as TPRemoved,
0 as TPDestroyed,
null as TamperProofReason,
null as TPComment,
(select count(*) from dbo.InspectionPrintLog ip 
inner join dbo.VehicleInspections VI on VI.VehicleInspectionId = ip.InspectionId 
and VI.BookingId = B.BookingId) as [Print Count],
L.TransferedFromReg,
TrasnferedVehicleAge=(Select VehicleAge from VehicleMaster Where RegistrationNumber=L.TransferedFromReg)

FROM dbo.Booking B

INNER JOIN dbo.SystemProcessVL SP ON SP.SystemProcessId = B.SystemProcessId
INNER JOIN dbo.LicenceMasterVL L ON L.LicenceNumber = B.LicenceNumber
INNER JOIN dbo.LicenceType T on T.LicenceTypeId = L.LicenceTypeId
INNER JOIN dbo.LicenceHolderMaster H ON H.LicenceHolderId = L.LicenceHolderId
WHERE Cast(B.CreatedDate as Date) BETWEEN @StartDate AND @EndDate
AND B.SystemProcessId IN (5,6) --Duplicate & Duplicate TP ONly
AND B.BookingStatusId = 3 -- completed only AND SP.SystemProcessID <> 9


end
GO
