USE [cabs_production]
GO
/****** Object:  Table [dbo].[BookingAudit]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingAudit](
	[BookingAuditId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BookingId] [int] NOT NULL,
	[ParentId] [int] NULL,
	[InspectionTimeId] [int] NOT NULL,
	[TestCentreId] [int] NOT NULL,
	[TestCentreLaneId] [int] NOT NULL,
	[BookingStatusId] [int] NOT NULL,
	[SystemProcessId] [int] NOT NULL,
	[BookingDateTime] [datetime] NOT NULL,
	[BookingEndDateTime] [datetime] NOT NULL,
	[LicenceNumber] [varchar](50) NOT NULL,
	[RegistrationNumber] [varchar](10) NOT NULL,
	[BookingCancellationReasonId] [int] NULL,
	[NewLicenceHolderId] [int] NULL,
	[LateCancellation] [bit] NULL,
	[LateReschedule] [bit] NULL,
	[PremiumBooking] [bit] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
	[RequestedBy] [uniqueidentifier] NULL,
	[ComplianceOfficerNumber] [nvarchar](50) NULL,
	[PaymentRefundOptionId] [int] NULL,
 CONSTRAINT [PK_BookingAudit] PRIMARY KEY CLUSTERED 
(
	[BookingAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [BookingId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [BookingId] ON [dbo].[BookingAudit]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingAudit] ADD  CONSTRAINT [DF_BookingAudit_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[BookingAudit] ADD  CONSTRAINT [DF_BookingAudit_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BookingAudit] ADD  CONSTRAINT [DF_BookingAudit_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[BookingAudit] ADD  CONSTRAINT [DF_BookingAudit_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_Booking]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_BookingStatus] FOREIGN KEY([BookingCancellationReasonId])
REFERENCES [dbo].[BookingCancellationReason] ([BookingCancellationReasonId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_BookingStatus]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_BookingStatus1] FOREIGN KEY([BookingStatusId])
REFERENCES [dbo].[BookingStatus] ([BookingStatusId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_BookingStatus1]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_InspectionTime] FOREIGN KEY([InspectionTimeId])
REFERENCES [dbo].[InspectionTime] ([InspectionTimeId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_InspectionTime]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_LicenceHolderMaster] FOREIGN KEY([NewLicenceHolderId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_LicenceHolderMaster]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_LicenceMasterVL] FOREIGN KEY([LicenceNumber])
REFERENCES [dbo].[LicenceMasterVL] ([LicenceNumber])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_LicenceMasterVL]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_PaymentRefundOption] FOREIGN KEY([PaymentRefundOptionId])
REFERENCES [dbo].[PaymentRefundOption] ([PaymentRefundOptionId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_PaymentRefundOption]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_SystemProcessVL] FOREIGN KEY([SystemProcessId])
REFERENCES [dbo].[SystemProcessVL] ([SystemProcessId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_SystemProcessVL]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_TestCentre]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_TestCentreLanes] FOREIGN KEY([TestCentreLaneId])
REFERENCES [dbo].[TestCentreLanes] ([TestCentreLaneId])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_TestCentreLanes]
GO
ALTER TABLE [dbo].[BookingAudit]  WITH CHECK ADD  CONSTRAINT [FK_BookingAudit_VehicleMaster] FOREIGN KEY([RegistrationNumber])
REFERENCES [dbo].[VehicleMaster] ([RegistrationNumber])
GO
ALTER TABLE [dbo].[BookingAudit] CHECK CONSTRAINT [FK_BookingAudit_VehicleMaster]
GO
