USE [cabs_production]
GO
/****** Object:  Table [dbo].[DispatchOperatorMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOperatorMaster](
	[LicenceHolderId] [int] NOT NULL,
	[CompanyOwnerName] [varchar](100) NULL,
	[VatNumber] [varchar](10) NULL,
	[Website] [nvarchar](255) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DispatchOperatorMaster_1] PRIMARY KEY CLUSTERED 
(
	[LicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DispatchOperatorMaster] ADD  CONSTRAINT [DF_DispatchOperatorMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[DispatchOperatorMaster] ADD  CONSTRAINT [DF_DispatchOperatorMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DispatchOperatorMaster] ADD  CONSTRAINT [DF_DispatchOperatorMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[DispatchOperatorMaster] ADD  CONSTRAINT [DF_DispatchOperatorMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
