USE [cabs_production]
GO
/****** Object:  Table [dbo].[PrintRequestReasonVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintRequestReasonVL](
	[PrintRequestReasonId] [int] NOT NULL,
	[PrintRequestReasonDescription] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PrintRequestReasonVL] PRIMARY KEY CLUSTERED 
(
	[PrintRequestReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
