USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_ExpireConditionalOfferLicence]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 19-Apr-2011
-- Description:	Process each licence that is going to expire soon.
-- =============================================
CREATE PROCEDURE [dbo].[sch_ExpireConditionalOfferLicence] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @LicenceNumber varchar(10),
		@PlateNumber INT,
		@LicenceTypeId INT,
		@MaxVehicleAge INT,
		@Counter INT,
		@LicenceHolderId INT,
		@VehicleRegistrationNumber varchar(10),
		@RegistrationDate DATETIME,
		@LicenceExpiryDate DATETIME,
		@RefundId INT,
		@RequestId INT,
		@ModifiedDate DATETIME,
		@ErrorMessage varchar(4000),
		@LetterError varchar(4000),
		@BookingId INT
		


--A counter of 2000 is set to prevent any infinite loops...		
SET @Counter = 1
SET @ModifiedDate = GETDATE()

WHILE (1 = 1 AND @Counter < 200)
BEGIN
	SET @Counter = @Counter + 1
		
	SELECT	TOP 1	@LicenceNumber = L.LicenceNumber,
					@PlateNumber = PlateNumber,
					@LicenceTypeId = L.LicenceTypeId,
					@LicenceHolderId = L.LicenceHolderId,
					@VehicleRegistrationNumber = L.RegistrationNumber,
					@RegistrationDate = RegistrationDate,
					@LicenceExpiryDate = LicenceExpiryDate

	FROM dbo.LicenceMasterVL L
	INNER JOIN dbo.LicenceHolderMaster H ON H.LicenceHolderId = L.LicenceHolderId
	INNER JOIN dbo.VehicleMaster V ON V.RegistrationNumber = L.RegistrationNumber
	INNER JOIN dbo.LicenceType T on L.LicenceTypeId = T.LicenceTypeId
	WHERE LicenceStateMasterId = 5
	AND LicenceStateId = 10
	AND dbo.IsDateExpired(CoExpiryDate) = 1	
	
	

	--If none are found, stop
	IF @LicenceNumber IS NULL
	BEGIN
		BREAK
	END
	

	SELECT TOP 1 @BookingId = B.BookingId		
		FROM
			Booking AS B
			LEFT JOIN VehicleInspections AS VI ON VI.BookingId = B.BookingId
		WHERE
			B.BookingStatusId IN (3) AND -- Completed
			VI.TestResultId IN (2 /* Fail */) AND -- Test has been failed			
			NOT EXISTS(SELECT 1 FROM Booking WHERE LicenceNumber = B.LicenceNumber AND BookingId > B.BookingId) 
			AND -- but no retest booked
			DATEDIFF(DAY, CAST(B.BookingDateTime AS DATE), CAST(GETDATE() AS DATE)) < 60 
			AND B.LicenceNumber=@LicenceNumber
		ORDER BY B.BookingId desc;


	BEGIN TRY

		SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

		BEGIN TRANSACTION FINISH

		IF @BookingId IS NULL 
			BEGIN
				exec dbo.Booking_CancelAndRefund
				@BookingId = null,
				@LicenceNumber = @LicenceNumber,
				@RefundId = @RefundId,
				@RefundReasonId = 4, -- Expire Conditional Offer
				@BookingCancellationReasonId  = 4, -- System
				@Username = 'System',
				@ProcessExpiration = 1
			END
		ELSE
			BEGIN
				exec dbo.Booking_CancelAndRefund
				@BookingId = @BookingId,
				@LicenceNumber = @LicenceNumber,
				@RefundId = @RefundId,
				@RefundReasonId = 4, -- Expire Conditional Offer
				@BookingCancellationReasonId  = 4, -- System
				@Username = 'System',
				@ProcessExpiration = 1
			END			

		SET @LicenceNumber = NULL
		
		COMMIT TRANSACTION FINISH
			
	END TRY

	BEGIN CATCH
	
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION FINISH
		END
			SET @ErrorMessage = ERROR_MESSAGE()
		
			Begin Try
			--Log the error
		
			INSERT INTO [dbo].[PrintEventLogs]
					(
						[Date],
						[Thread],
						[Level],
						[Logger],
						[Message],
						[Usr]
					)
			VALUES
					(
						@ModifiedDate,
						1,
						'ERROR',
						'sch_LetterVL_ExpireConditionalOfferLicence',
						@ErrorMessage,
						'System'
					)
					
			End	Try
					
			BEGIN CATCH
					
			--Nothing to do if the Print Event Log fails
					
			END CATCH
		
		
		RAISERROR (@ErrorMessage, 16, 1);
			
		RETURN 0
		
	END CATCH
			
	CONTINUE
END


END

GO
