USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Expiry_Date_Lead_Time]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 15-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Expiry_Date_Lead_Time]

@StartDate DateTime,
@EndDate DateTime


AS
BEGIN
	SET NOCOUNT ON;
	
--If DATEADD(dd, DATEDIFF(dd, 0, @StartDate), 0) < DATEADD(dd, DATEDIFF(dd, 0, getdate()), 0)
--BEGIN
--RAISERROR('Expiry Date Lead Time can only be ran for a future period',16,0)
--RETURN
--END	
	
SELECT 

B.LicenceNumber,
B.BookingDateTime,
LMVL.LicenceExpiryDate,
Datediff(day, B.BookingDateTime, LMVL.LicenceExpiryDate) As LeadTime,
SPVL.ProcessName,
ITY.Description As InspectionType,
LT.LicenceType



FROM dbo.Booking B

INNER JOIN dbo.LicenceMasterVL LMVL on LMVL.LicenceNumber = B.LicenceNumber
INNER JOIN dbo.LicenceType LT on LT.LicenceTypeId = LMVL.LicenceTypeId
INNER JOIN dbo.SystemProcessVL SPVL on SPVL.SystemProcessId = B.SystemProcessId
INNER JOIN dbo.InspectionTime IT on IT.InspectionTimeId = B.InspectionTimeId
INNER JOIN dbo.InspectionType ITY on ITY.InspectionTypeId = IT.InspectionTypeId

WHERE BookingStatusId = 2
AND  SPVL.SystemProcessID IN (1,12) --Renewal and Late renewal only
AND Cast(B.BookingDateTime as DATE) Between @StartDate And @EndDate
END
GO
