USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_inspectionTime]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_inspectionTime]
AS
SELECT
		InsTime.InspectionTimeID,
		InsTime.InspectionProcessID,
		InsProc.Description As InspectionProcessDescription,
		InsTime.InspectionTypeID,
		InsType.Description As InspectionTypeDescription,
		InsTime.LicenceTypeId,
		LT.LicenceType,
		InsTime.InspectionTime 
	FROM 
		dbo.InspectionTime InsTime with (nolock)
		INNER JOIN dbo.InspectionType InsType ON InsTime.InspectionTypeID = InsType.InspectionTypeID
		INNER JOIN dbo.InspectionProcess InsProc ON InsTime.InspectionProcessID = InsProc.InspectionProcessID
		INNER JOIN dbo.LicenceType LT ON InsTime.LicenceTypeId = LT.LicenceTypeId

GO
