USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Representative_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		rpodgorski
-- Create date: 18-02-2014
-- Description:	Insert a licence holder representative
-- =============================================
CREATE PROCEDURE [dbo].[Representative_Insert]

@RepresentativeId int output,
@FirstName nvarchar(50),
@LastName nvarchar(50),
@AddressLine1 nvarchar(50),
@AddressLine2 nvarchar(50),
@AddressLine3 nvarchar(50),
@Town nvarchar(50),
@CountyId int,
@PostCode varchar(40),
@DateOfBirth datetime,
@PhoneNo1 varchar(40),
@PhoneNo2 varchar(40),
@Email nvarchar(50),
@HistoryChangeId int,
@CreatedBy nvarchar(20),
@CreatedDate datetime output,
@ModifiedBy nvarchar(20),
@ModifiedDate datetime output


AS
BEGIN

SET NOCOUNT ON;

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate

INSERT
INTO
	Representative
	([FirstName]
   , [LastName]
   , [AddressLine1]
   , [AddressLine2]
   , [AddressLine3]
   , [Town]
   , [CountyId]
   , [PostCode]
   , [DateOfBirth]
   , [PhoneNo1]
   , [PhoneNo2]
   , [Email]
   , HistoryChangeId
   , [CreatedBy]
   , [CreatedDate]
   , [ModifiedBy]
   , [ModifiedDate])
VALUES
	(@FirstName
	, @LastName
	, @AddressLine1
	, @AddressLine2
	, @AddressLine3
	, @Town
	, @CountyId
	, @PostCode
	, @DateOfBirth
	, @PhoneNo1
	, @PhoneNo2
	, @Email
	, @HistoryChangeId
	, @CreatedBy
	, @CreatedDate
	, @ModifiedBy
	, @ModifiedDate)


SET @RepresentativeId = SCOPE_IDENTITY()

END

GO
