USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Inspections_Defects_Summary]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Adam Nosal
-- Create date: 28-Feb-2021
-- =============================================
Create     PROCEDURE [dbo].[RPT_Inspections_Defects_Summary]

@StartDate DateTime,
@EndDate DateTime

AS
BEGIN
	SET NOCOUNT ON;
	
;with InspTotals AS (select Count(*) as total from  dbo.VehicleInspections vi 
left join dbo.VehicleInspectionDefects vid on vid.VehicleInspectionID = vi.VehicleInspectionID
WHERE  Cast(VI.TestStartTime as DATE) Between @StartDate And @EndDate
and vi.TestResultId in (2,6))
SELECT 
dg.DefectGroup,
Count(dr.DefectReasonID) as Total,
CAST(CAST(Round(count(vid.VehicleInspectionDefectID) * 100.0 /  (Select total from InspTotals), 0)as int) as nvarchar(60)) + '%' as PercentValue
FROM dbo.VehicleInspections vi 
left join dbo. VehicleInspectionDefects vid on vid.VehicleInspectionID =  vi.VehicleInspectionId
left join  dbo.DefectGroups dg on dg.DefectGroupID = vid.DefectGroupID
left join  dbo.DefectCategories dc on dc.DefectCategoryID = vid.DefectCategoryID
left join dbo.DefectReasons dr on dr.DefectReasonID = vid.DefectReasonID
WHERE  Cast(VI.CreatedDate as DATE) Between @StartDate And @EndDate
and vi.TestResultId in (2,6) -- fail
group by dg.DefectGroup 
order by Count(vid.VehicleInspectionDefectID) desc 
END





GO
