USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[Booking_SelectRefundableBookingsByBookingId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Damien Dennehy
-- Create date: 08-Apr-2011
-- Description:	Find all refundable bookings related to a booking
-- =============================================
CREATE PROCEDURE [dbo].[Booking_SelectRefundableBookingsByBookingId]
(
	@BookingId int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @ParentId INT

SELECT @ParentId = ParentId 
FROM Booking
WHERE BookingId = @BookingId

SELECT	    b.BookingId,
			B.ParentId,
			b.InspectionTimeId,
			vIT.InspectionProcessID,
			vIT.InspectionProcessDescription,
			vIT.InspectionTypeID,
			vIT.InspectionTypeDescription,
			vIT.LicenceTypeId,
			vIT.LicenceType,
			vIT.InspectionTime,
			b.TestCentreId,
			tc.TestCentreName,
			b.TestCentreLaneId,
			tcl.TestCentreLaneName,
			b.BookingStatusId,
			bs.BookingStatusName,
			bs.VoidedBooking,
			b.SystemProcessId,
			spVL.ProcessName,
			b.BookingDateTime,
			b.BookingEndDateTime,
			b.LicenceNumber,
			b.RegistrationNumber,
			b.BookingCancellationReasonId,
			bcr.BookingCancellationReason,
			b.NewLicenceHolderId,
			LateCancellation,
			LateReschedule,
			PremiumBooking,
			lhm.HolderName + ' ( ' + lhm.CCSN + ')' AS NewLicenceHolder,
			b.CreatedBy,
			b.CreatedDate,
			b.ModifiedBy,
			b.ModifiedDate,
			VI.TestResultId,
			TR.TestResult
	FROM	dbo.Booking b
			INNER JOIN dbo.TestCentre tc ON b.TestCentreId = tc.TestCentreId
			INNER JOIN dbo.TestCentreLanes tcl ON b.TestCentreLaneId = tcl.TestCentreLaneId
			INNER JOIN dbo.BookingStatus bs ON b.BookingStatusId = bs.BookingStatusId
			INNER JOIN dbo.SystemProcessVL spVL ON b.SystemProcessId = spVL.SystemProcessId
			INNER JOIN dbo.vw_inspectionTime vIT ON vIT.InspectionTimeId = b.InspectionTimeId
			LEFT OUTER JOIN dbo.LicenceHolderMaster lhm ON  lhm.LicenceHolderId = b.NewLicenceHolderId
			LEFT OUTER JOIN dbo.BookingCancellationReason bcr ON bcr.BookingCancellationReasonId = b.BookingCancellationReasonId
			LEFT OUTER JOIN dbo.VehicleInspections VI ON VI.BookingId = B.BookingId
			LEFT OUTER JOIN dbo.TestResults TR ON VI.TestResultId = TR.TestResultID
	WHERE	b.ParentId = @ParentId
	AND 
	(
		B.BookingStatusId IN
		(
			2, --Only completed or confirmed bookings can be refunded
			3
		)
		OR 
		(
      B.BookingStatusId = 1 AND B.BookingId IN 
      (
        SELECT DISTINCT(BA.BookingId)
        FROM dbo.BookingAudit BA 
        WHERE BA.ParentId = @ParentId
        AND BA.BookingStatusId IN (2,3) --Only completed or confirmed bookings that were ever in that status can be refunded
      )
		)
	)
	AND B.BookingId NOT IN --Do not refund bookings that have passed test results
	(
		SELECT BookingId 
		FROM dbo.VehicleInspections
		WHERE TestResultId = 1
	)

END
GO
