USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreDefaultConfigAudit_SelectRecords]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Jim O'Brien
-- Create date: 16-Nov-2010
-- Description:	Select default configuatinos for a test centre.
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreDefaultConfigAudit_SelectRecords]
(
	@TestCentreId	int = NULL,
	@TestCentreDefaultConfigId int = NULL
)

AS
-- If all parameters are null, throw an error
-- A parameter must be provided.

BEGIN

	SET NOCOUNT ON;

	SELECT	dc.TestCentreDefaultConfigAuditId,
			dc.TestCentreDefaultConfigId,
			dc.TestCentreId,
			tc.TestCentreName,
			dc.TestCentreLaneId,
			tcl.TestCentreLaneName,
			dc.WeekDayId,
			dw.DayName,
			dc.StartTime,
			dc.EndTime,
			dc.CreatedBy,
			dc.CreatedDate,
			dc.ModifiedBy,
			dc.ModifiedDate,
			dc.Biweekly,
			dc.BiweeklyStartDate,
			dc.BiweeklyEndDate
	FROM dbo.TestCentreDefaultConfigAudit dc
		 left outer join dbo.TestCentre tc ON dc.TestCentreId = tc.TestCentreId
		 left outer join dbo.TestCentreLanes tcl ON dc.TestCentreLaneId = tcl.TestCentreLaneId
		 left outer join dbo.DaysOfTheWeek dw ON dc.WeekDayId = dw.DayId
	WHERE	dc.TestCentreId = coalesce(@TestCentreId, dc.TestCentreId)
		AND	dc.TestCentreDefaultConfigId = coalesce(@TestCentreDefaultConfigId, dc.TestCentreDefaultConfigId)
	ORDER BY dc.TestCentreId, dc.WeekDayId, dc.StartTime, tcl.TestCentreLaneName


END
GO
