USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PaymentItemVL_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Damien Dennehy
-- Create date: 06-Oct-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[PaymentItemVL_Insert]
(
@PaymentItemId int output,
@PaymentId int,
@PaymentStatusId int,
@FeeId int,
@Amount smallmoney,
@Comments nvarchar(max),
@CreatedBy nvarchar(50),	
@CreatedDate datetime output,	
@ModifiedBy nvarchar(50),	
@ModifiedDate datetime output
)
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate

	INSERT INTO dbo.PaymentItemVL
	(
		PaymentId,
		FeeId,
		Amount,
		PaymentStatusId,
		Comments,
		CreatedBy,
		CreatedDate,
		ModifiedBy,
		ModifiedDate
	)
	VALUES
	(
		@PaymentId,
		@FeeId,
		@Amount,
		@PaymentStatusId,
		@Comments,
		@CreatedBy,
		@CreatedDate,
		@ModifiedBy,
		@ModifiedDate
	)
	
    SET @PaymentItemId = SCOPE_IDENTITY()
END
GO
