USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[InsuranceCompany_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 11-11-2010
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[InsuranceCompany_SelectAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	InsuranceCompanyId, InsuranceCompany, Active,
			CreatedBy, CreatedDate, ModifiedBy, ModifiedDate
	  FROM dbo.InsuranceCompany
	  ORDER BY InsuranceCompany
END
GO
