USE [cabs_production]
GO
/****** Object:  Table [dbo].[LetterPrintJobLogs]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterPrintJobLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Folder] [nvarchar](100) NULL,
	[LetterFiles] [nvarchar](200) NULL,
	[LetterCode] [nvarchar](20) NULL,
	[LicenceNumber] [nvarchar](20) NULL,
	[PrintDate] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LetterPrintJobLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LetterPrintJobLogs] ADD  CONSTRAINT [DF_LetterPrintJobLogs_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LetterPrintJobLogs] ADD  CONSTRAINT [DF_LetterPrintJobLogs_CreatedBy]  DEFAULT ('PrintJobLogs') FOR [CreatedBy]
GO
