USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLane_SelectAllColumnsByTestCentreID]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TestCentreLane_SelectAllColumnsByTestCentreID]
(
	@TestCentreId int
	
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM TestCentreLanes
	WHERE TestCentreId = @TestCentreId 
END

GO
