USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[PrintRequestReasonVL_SelectByReasonId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrew Snook
-- Create date: 23-Nov-2010

-- =============================================
CREATE PROCEDURE [dbo].[PrintRequestReasonVL_SelectByReasonId]
	(
@PrintRequestReasonId int
)
AS
BEGIN

	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SELECT PrintRequestReasonId,PrintRequestReasonDescription

	FROM dbo.PrintRequestReasonVL

	WHERE PrintRequestReasonId = @PrintRequestReasonId

END
GO
