USE [cabs_production]
GO
/****** Object:  Table [dbo].[County]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[County](
	[CountyId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CountyName] [nvarchar](20) NOT NULL,
	[IrishName] [nvarchar](50) NULL,
	[HasPostcode] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Counties] PRIMARY KEY CLUSTERED 
(
	[CountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_Counties_HasPostcode]  DEFAULT ((0)) FOR [HasPostcode]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_Counties_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_Counties_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_Counties_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_Counties_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
