USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_SystemProcessInstanceVL_Rules]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Damien Dennehy
-- Create date: 19-Apr-2011
-- Description:	Process each system process that are created on the system each day
-- =============================================
CREATE PROCEDURE [dbo].[sch_SystemProcessInstanceVL_Rules] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @LicenceNumber varchar(10),
		@LicenceTypeId INT,
		@SystemProcessId INT,
		@InstanceId INT,
		@Counter INT,
		@BookingId INT,
		@TestResultId INT,
		@BookingStatusId INT,
		@PaymentId INT,
		@PaymemtAmount SMALLMONEY,
		@LicenceHolderId INT,
		@NewLicenceHolderId INT,
		@TempLicenceHolderId INT,
		@PreviousLicenceHolderId INT,
		@VehicleRegistrationNumber varchar(10),
		@NewVehicleRegistrationNumber varchar(10),
		@LetterRequestTypeId INT,
		@RequestId INT,
		@TestCentreId INT,
		@ModifiedDate DATETIME,
		@LetterDate DATETIME,
		@ErrorMessage varchar(4000),
		@LetterError varchar(4000),
		@BookingCancellationReasonId INT,
		@EmailOptIn BIT,
		@Email NVARCHAR(50)
		
--A counter of 5000 is set to prevent any infinite loops...		
SET @Counter = 1
SET @ModifiedDate = GETDATE()


DECLARE db_cursor CURSOR FOR 

	SELECT	SP.SystemProcessId,
			SP.InstanceId,
			SP.CreatedDate,
			SP.BookingId,
			SP.PaymentId,
			SP.LicenceNumber,
			L.LicenceTypeId,
			L.LicenceHolderId,
			B.NewLicenceHolderId,
			L.RegistrationNumber,
			B.RegistrationNumber,
			B.TestCentreId,
			B.BookingStatusId,
			(
				SELECT COALESCE(SUM(AMOUNT), 0) FROM dbo.PaymentItemVL 
				WHERE PaymentId = P.PaymentId
				AND PaymentStatusId = 2 -- Paid Amount only
			) AS PaidAmount,
			VI.TestResultId,
			B.BookingCancellationReasonId,
			EmailOptIn,
			Email
									
		FROM dbo.SystemProcessInstanceVL SP
		LEFT OUTER JOIN dbo.PaymentVL P ON SP.PaymentId = P.PaymentId
		LEFT OUTER JOIN dbo.Booking B ON SP.BookingId = B.BookingId
		LEFT OUTER JOIN dbo.VehicleInspections VI on B.BookingID = VI.BookingId
		INNER JOIN dbo.LicenceMasterVL L ON L.LicenceNumber = SP.LicenceNumber
		INNER JOIN dbo.LicenceHolderMaster H ON H.LicenceHolderId = L.LicenceHolderId
		INNER JOIN dbo.VehicleMaster V ON V.RegistrationNumber = L.RegistrationNumber
		WHERE COALESCE(Processed,0) = 0
		AND Completed = 1 
		ORDER BY Sp.InstanceId ASC
	
OPEN db_cursor   

FETCH NEXT FROM db_cursor INTO  @SystemProcessId,
								@InstanceId,
								@LetterDate,
								@BookingId,
								@PaymentId,
								@LicenceNumber,
								@LicenceTypeId,
								@LicenceHolderId,
								@NewLicenceHolderId,
								@VehicleRegistrationNumber,
								@NewVehicleRegistrationNumber,
								@TestCentreId,
								@BookingStatusId,
								@PaymemtAmount,
								@TestResultId,
								@BookingCancellationReasonId,
								@EmailOptIn,
								@Email

WHILE @@FETCH_STATUS = 0
BEGIN	

	BEGIN TRY

			SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

			BEGIN TRANSACTION FINISH
				
			-- Determine DispatchMethod
			Declare @DespatchMethod int = (CASE WHEN (@EmailOptIn = 1) AND (@Email LIKE '%@%') THEN 3 -- EMAIL
				ELSE null
			END)
			
			--If the system process requires a booking letter
			--And does not use the Taxi Regulator Test Centre
			--And if the Booking Status is not Cancelled or Refunded or a no show result exists
			--For the booking
			
			IF @SystemProcessId IN 
								(
								 1,  -- Renewal
								 6,  -- Duplicate Licence with TPs
								 7,  -- Change of Vehicle
								 9,  -- Transfer + Change of Vehicle
								 11, -- New Licence 2
								 12, -- Late Renewal
								 13, -- Late Change of Vehicle
								 15, -- Reschedule
								 16, -- Late Reschedule
								 17, ---Exchange
								 18, -- Compliance inspection
								 19, -- Section 15 Transfer + Renewal
								 --20, -- Tamper proof seizure
								 21,  -- Section 15 Transfer + COV
								 23,  --Late Section 15 Transfer + Renewal
								 24  -- Late Section 15 Transfer + COV
								)
			AND COALESCE(@TestCentreId, 0) <> 98
			AND (@BookingStatusId IN (2,3) OR @TestResultId is not null) --Just confirmed or completed bookings, or any with a test result
			OR (@BookingStatusId = 5) -- If any booking has been cancelled so letter should be generate

			BEGIN
					SELECT @TempLicenceHolderId = CASE 
													WHEN @NewLicenceHolderId IS NULL THEN @LicenceHolderId 
													ELSE @NewLicenceHolderId 
												  END

					SELECT @Email = Email, @EmailOptIn = EmailOptIn
					FROM LicenceHolderMaster
					WHERE LicenceHolderId = @TempLicenceHolderId
					
					SET @DespatchMethod = (CASE WHEN (@EmailOptIn = 1) AND (@Email LIKE '%@%') THEN 3 -- EMAIL
						ELSE null
					END)
					
					exec USP_DWH_PrintRequestVL_Insert
					@RequestId OUTPUT,
					@LicenceNumber,
					@TempLicenceHolderId,
					null,
					null,
					@NewVehicleRegistrationNumber,
					null,
					null,
					@BookingId,
					@PaymentId,
					1,
					1,
					'System',
					@LetterDate,
					@DespatchMethod
						
					IF @RequestId IS NULL
					BEGIN
						SET @LetterError = 'Unable to generate booking letter for System Process Instance ' + CONVERT(VARCHAR(10),@InstanceId)
						Raiserror (@LetterError, 16, 1)
					END	
			END
			
			SET @RequestId = NULL
					
			--If the system process requires a duplicate licence letter, generate it
			IF @SystemProcessId IN 
								(
								 3, -- Change of Name with Duplicate
								 5 -- Duplicate Licence
								 )
			BEGIN
								
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = @BookingId,
				@PaymentId = @PaymentId,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = 18,
				@CreatedBy = 'System',
				@LetterDate = @LetterDate,
				@DespatchMethod = @DespatchMethod
				
				IF @RequestId IS NULL
				BEGIN
					SET @LetterError = 'Unable to generate duplicate licence letter for System Process Instance ' + CONVERT(VARCHAR(10),@InstanceId)
					Raiserror (@LetterError, 16, 1)
				END	
				
				SET @RequestId = NULL
				
				--Also generate a duplicate licence placeholder letter
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = @BookingId,
				@PaymentId = @PaymentId,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = 19,
				@CreatedBy = 'System',	
				@LetterDate = @LetterDate,
				@DespatchMethod = @DespatchMethod
			
				IF @RequestId IS NULL
				BEGIN
					SET @LetterError = 'Unable to generate duplicate licence receipt letter for System Process Instance ' + CONVERT(VARCHAR(10),@InstanceId)
					Raiserror (@LetterError, 16, 1)
				END	
			END

			--If the system process is a transfer, print a transfer confirmation letter
			IF @SystemProcessId  = 8
			BEGIN
				SELECT TOP 1 @TempLicenceHolderId = LicenceHolderId FROM dbo.LicenceMasterVLAudit
				WHERE LicenceNumber = @LicenceNumber
				AND LicenceHolderId <> @LicenceHolderId
				ORDER BY AuditDate DESC
				
				IF (@TempLicenceHolderId IS NOT NULL)
				BEGIN
					exec USP_DWH_PrintRequestVL_Insert
					@RequestId OUTPUT,
					@LicenceNumber,
					@TempLicenceHolderId,
					@LicenceHolderId,
					null,
					@VehicleRegistrationNumber,
					null,
					null,
					null,
					@PaymentId,
					1,
					17,
					'System',
					@LetterDate,
					@DespatchMethod
					
				END
				
				IF @RequestId IS NULL
				BEGIN
					SET @LetterError = 'Unable to generate a transfer letter for System Process Instance ' + CONVERT(VARCHAR(10),@InstanceId)
					Raiserror (@LetterError, 16, 1)
				END	
				
				--Also generate a duplicate licence letter
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = @BookingId,
				@PaymentId = @PaymentId,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = 19,
				@CreatedBy = 'System',
				@LetterDate = @LetterDate,
				@DespatchMethod = @DespatchMethod
				
				IF @RequestId IS NULL
				BEGIN
					SET @LetterError = 'Unable to generate duplicate licence letter for System Process Instance ' + CONVERT(VARCHAR(10),@InstanceId)
					Raiserror (@LetterError, 16, 1)
				END	
			END
					
			--If the system process is a new licence 1, print a new licence letter
			IF @SystemProcessId  = 10
			BEGIN
					SET @LetterRequestTypeId = 
					CASE @LicenceTypeId
						 WHEN 1 THEN 6 --Taxi Letter Type
						 WHEN 2 THEN 6 --Hackney Letter Type
						 WHEN 3 THEN 4 --Limousine Letter Type
						 WHEN 4 THEN 7 --WAT Letter Type
						 WHEN 6 THEN 7 --WAH Letter Type
						 WHEN 7 THEN 38 --LAH Letter Type
					END
					
					exec USP_DWH_PrintRequestVL_Insert
					@RequestId OUTPUT,
					@LicenceNumber,
					@LicenceHolderId,
					null,
					null,
					@VehicleRegistrationNumber,
					null,
					null,
					null,
					@PaymentId,
					1,
					@LetterRequestTypeId,
					'System',
					@LetterDate,
					@DespatchMethod

				IF @RequestId IS NULL
				BEGIN
					SET @LetterError = 'Unable to generate a new licence letter for System Process Instance ' + CONVERT(VARCHAR(10),@InstanceId)
					Raiserror (@LetterError, 16, 1)
				END	
			END
			
			--If the system process is a surrender, generate the surrender letter
			IF @SystemProcessId  = 14
			BEGIN
				exec USP_DWH_PrintRequestVL_Insert
				@RequestId OUTPUT,
				@LicenceNumber,
				@LicenceHolderId,
				null,
				null,
				@VehicleRegistrationNumber,
				null,
				null,
				null,
				null,
				1,
				16,
				'System',
				@LetterDate,
				@DespatchMethod
				
				IF @RequestId IS NULL
				BEGIN
					Raiserror ('Unable to generate surrender letter', 16, 1)
				END	
			END
			
			--If the system process is Measurement Inspection and booking status is Confirmed
			IF @SystemProcessId  = 22 
				AND (COALESCE(@TestCentreId, 0) <> 98
				AND (@BookingStatusId IN (2,3,5) OR @TestResultId is not null)) --Just confirmed/cancelled or completed bookings, or any with a test result				
			BEGIN
				exec USP_DWH_PrintRequestVL_Insert
				@PrintRequestId = @RequestId OUTPUT,
				@LicenceNumber = @LicenceNumber,
				@LicenceHolderId = @LicenceHolderId,
				@NewLicenceHolderId = null,
				@PreviousLicenceHolderId = null,
				@VehicleRegistrationNumber = @VehicleRegistrationNumber,
				@NewVehicleRegistrationNumber = null,
				@PreviousVehicleRegistrationNumber = null,
				@BookingId = @BookingId,
				@PaymentId = @PaymentId,
				@PrintRequestReasonId = 1,
				@LetterRequestTypeId = 35,
				@CreatedBy = 'System',
				@LetterDate = @LetterDate,
				@DespatchMethod = 1 -- POST
				
				IF @RequestId IS NULL
				BEGIN
					Raiserror ('Unable to generate MI booking confirmation letter', 16, 1)
				END	
			END
			
			IF (@ModifiedDate IS NULL)
			BEGIN
				Raiserror ('Mod Date nul', 16, 1)
			END		
			
			UPDATE dbo.SystemProcessInstanceVL
			SET Processed = 1,
			ProcessDate = @ModifiedDate
			WHERE InstanceId = @InstanceId
			
			SET @InstanceId = NULL
			
			
				
			COMMIT TRANSACTION FINISH
				
		END TRY

		BEGIN CATCH
		
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION FINISH
			END
				SET @ErrorMessage = ERROR_MESSAGE()
			
				Begin Try
				--Log the error
			
				INSERT INTO [dbo].[PrintEventLogs]
						(
							[Date],
							[Thread],
							[Level],
							[Logger],
							[Message],
							[Usr]
						)
				VALUES
						(
							@ModifiedDate,
							1,
							'ERROR',
							'sch_SystemProcessInstanceVL_Rules',
							@ErrorMessage,
							'System'
						)
						
				End	Try
						
				BEGIN CATCH
						
				--Nothing to do if the Print Event Log fails
						
				END CATCH
			
			
			RAISERROR (@ErrorMessage, 16, 1);
				
			RETURN 0
			
		END CATCH
		
FETCH NEXT FROM db_cursor INTO  @SystemProcessId,
								@InstanceId,
								@LetterDate,
								@BookingId,
								@PaymentId,
								@LicenceNumber,
								@LicenceTypeId,
								@LicenceHolderId,
								@NewLicenceHolderId,
								@VehicleRegistrationNumber,
								@NewVehicleRegistrationNumber,
								@TestCentreId,
								@BookingStatusId,
								@PaymemtAmount,
								@TestResultId,
								@BookingCancellationReasonId,
								@EmailOptIn,
								@Email
END

CLOSE db_cursor
DEALLOCATE db_cursor

END




GO
