USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_COCovidUpdateExpiryDates]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create         PROCEDURE [dbo].[sch_COCovidUpdateExpiryDates] 
	-- Add the parameters for the stored procedure here
	@VLExtentionMonths int = 3
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	


declare @VL nvarchar(20) = '' ;
declare @COexpiry datetime ;

declare @COissue datetime ;

declare @getDate datetime = dateadd(d, datediff(d,0, getdate()), 0) ; -- this gives date without time part

select vl.LicenceNumber,
vl.CoExpiryDate,
vl.CoIssueDate
into #affectedCases
from dbo.LicenceMasterVL vl
where 
----1--  For all licences in Inactive-conditional offer status, extend the CO Expiry Date by 3 months
( vl.LicenceStateMasterId in (2,5) and 
vl.LicenceStateId in (3,10)--Conditional offer 
 and PlateNumber not in (
	   54501,
54594,
54652,
54705,
54717,
54671,
54695));


DECLARE covid_cursor CURSOR FOR 
select LicenceNumber,
CoExpiryDate,
CoIssueDate
from  #affectedCases


OPEN covid_cursor  
FETCH NEXT FROM covid_cursor INTO @VL, @COexpiry, @COissue;  

WHILE @@FETCH_STATUS = 0  
BEGIN  

Update LicenceMasterVL Set 
CoExpiryDate = dateadd(MONTH, @VLExtentionMonths , @COexpiry),
CoIssueDate = dateadd(MONTH, @VLExtentionMonths , @COissue),
 ModifiedBy = 'Covid-Update',
 ModifiedDate = getdate()
Where LicenceNumber = @VL   

INSERT INTO [dbo].[LicenceMasterVLAudit]
           ([PlateNumber],[LicenceNumber],[LicenceHolderId],[RegistrationNumber],[LicenceTypeId],[LicenceStateId],[LicenceStateMasterId],
		   [LicenceExpiryDate]
           ,[LicenceIssueDate],[CoExpiryDate],[CoIssueDate],[RenewalDate],[TransferedFromReg],
		   [HistoryChangeId],
		   [TestCenterId],[RemainingTransfers],[TransferDate]
           ,[OldPlateNumber],[OldLicenceAuthority],[Ccsn],[Ppsn],[CompanyNumber],[TitleId],[FirstName],[LastName],[DateOfBirth],[CompanyName],[TradingAs]
           ,[AddressLine1],[AddressLine2],[AddressLine3],[Town],[CountyId],[PostCode],[CountryId],
		   [PhoneNo1],[PhoneNo2],[Email]
           ,[TaxClearanceVisual],[CreatedBy],[CreatedDate],[ModifiedBy],[ModifiedDate],[AuditDate])    
Select top 1 [PlateNumber],[LicenceNumber],[LicenceHolderId],[RegistrationNumber],[LicenceTypeId],
			[LicenceStateId],[LicenceStateMasterId],
			 [LicenceExpiryDate],
			[LicenceIssueDate],
			dateadd(MONTH, @VLExtentionMonths , @COexpiry)
			,dateadd(MONTH, @VLExtentionMonths , @COissue),[RenewalDate],[TransferedFromReg],
		   2, -- update licence details 
		   [TestCenterId],[RemainingTransfers],[TransferDate]
           ,[OldPlateNumber],[OldLicenceAuthority],[Ccsn],[Ppsn],[CompanyNumber],[TitleId],[FirstName],[LastName],[DateOfBirth],[CompanyName],[TradingAs]
           ,[AddressLine1],[AddressLine2],[AddressLine3],[Town],[CountyId],[PostCode],[CountryId],
		   [PhoneNo1],[PhoneNo2],[Email]
           ,[TaxClearanceVisual],[CreatedBy],[CreatedDate],
		   'Covid-Update',getdate(),getdate()
		    from [dbo].[LicenceMasterVLAudit] where LicenceNumber = @VL 
			order by Id desc  


   FETCH NEXT FROM covid_cursor INTO @VL, @COexpiry, @COissue
END 

drop table if exists #affectedCases;

CLOSE covid_cursor  
DEALLOCATE covid_cursor 

 





END

------------------*********************END HERE*************************----------------------------



GO
