USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceRepresentative]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceRepresentative](
	[LicenceRepresentativeId] [int] IDENTITY(1,1) NOT NULL,
	[LicenceNumber] [varchar](50) NOT NULL,
	[LicenceHolderMasterId] [int] NULL,
	[RepresentativeId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LicenceRepresentative] PRIMARY KEY CLUSTERED 
(
	[LicenceRepresentativeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceRepresentative]  WITH CHECK ADD  CONSTRAINT [FK_LicenceRepresentative_LicenceHolderMaster] FOREIGN KEY([LicenceHolderMasterId])
REFERENCES [dbo].[LicenceHolderMaster] ([LicenceHolderId])
GO
ALTER TABLE [dbo].[LicenceRepresentative] CHECK CONSTRAINT [FK_LicenceRepresentative_LicenceHolderMaster]
GO
ALTER TABLE [dbo].[LicenceRepresentative]  WITH CHECK ADD  CONSTRAINT [FK_LicenceRepresentative_LicenceHolderRepresentative] FOREIGN KEY([RepresentativeId])
REFERENCES [dbo].[Representative] ([RepresentativeId])
GO
ALTER TABLE [dbo].[LicenceRepresentative] CHECK CONSTRAINT [FK_LicenceRepresentative_LicenceHolderRepresentative]
GO
ALTER TABLE [dbo].[LicenceRepresentative]  WITH CHECK ADD  CONSTRAINT [FK_LicenceRepresentative_LicenceMasterVL] FOREIGN KEY([LicenceNumber])
REFERENCES [dbo].[LicenceMasterVL] ([LicenceNumber])
GO
ALTER TABLE [dbo].[LicenceRepresentative] CHECK CONSTRAINT [FK_LicenceRepresentative_LicenceMasterVL]
GO
