USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Timeslot_Utilisation]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Andrew Snook
-- Create date: 26-Apr-2011
-- =============================================
CREATE PROCEDURE [dbo].[RPT_Timeslot_Utilisation]

@StartDate DATETIME,
@EndDate DATETIME

AS
BEGIN
	SET NOCOUNT ON;
		
;WITH BOOKINGS AS
(
	SELECT	TC.TestCentreId,
				SUM(CONVERT(DECIMAL(10,2),(DateDiff(Minute, B.BookingDateTime, B.BookingEndDateTime)))) AS TotalBookingTimeMinutes
	FROM dbo.Booking B
	INNER JOIN dbo.TestCentre TC ON TC.TestCentreId = B.TestCentreId
	LEFT OUTER JOIN dbo.VehicleInspections VI on VI.BookingId = B.BookingId
	WHERE Cast(B.BookingDateTime as DATE) BETWEEN @StartDate AND @EndDate
	AND B.BookingDateTime >= (SELECT MIN(tcc.ConfigDate) FROM dbo.TestCentreConfiguration tcc WHERE tcc.TestCentreId = B.TestCentreId)
	AND (B.BookingStatusId in (2,3) OR VI.VehicleInspectionId is not null)	
	GROUP BY TC.TestCentreId
), 
OPENING_TIMES AS
(
	SELECT TC.TestCentreId, SUM(CONVERT(DECIMAL(10,2),(DateDiff(Minute, TCC.StartTime, TCC.EndTime)))) AS TimeOpenMinutes 
	FROM dbo.TestCentreConfiguration TCC
	INNER JOIN dbo.TestCentre TC ON TCC.TestCentreId = TC.TestCentreId
	WHERE Cast(TCC.ConfigDate as DATE) BETWEEN @StartDate AND @EndDate	
	AND TCC.TestCentreLaneId not in (
	Select TestCentreLaneId from [dbo].[TestCentreLanes] where [TestCentreLaneName] like '%SKILLS%'
		OR [TestCentreLaneName] like '%Prometric migration%'
		OR [TestCentreLaneName] like '%ARR TEST ONLY!%')
	GROUP BY TC.TestCentreId
),
NO_OF_BOOKINGS AS
(
	SELECT	TC.TestCentreId,
				COUNT(B.BookingId) AS NoOfBookings
	FROM dbo.Booking B
	INNER JOIN dbo.TestCentre TC ON TC.TestCentreId = B.TestCentreId
	LEFT OUTER JOIN dbo.VehicleInspections VI on VI.BookingId = B.BookingId
	WHERE Cast(B.BookingDateTime as DATE) BETWEEN @StartDate AND @EndDate
	AND B.BookingDateTime >= (SELECT MIN(tcc.ConfigDate) FROM dbo.TestCentreConfiguration tcc WHERE tcc.TestCentreId = B.TestCentreId)
	AND (B.BookingStatusId in (2,3) OR VI.VehicleInspectionId is not null)	
	GROUP BY TC.TestCentreId
)
SELECT	TC.TestCentreId, 
		TC.TestCentreName,
		COALESCE(NO_OF_BOOKINGS.NoOfBookings, 0) As NumberOfBookings, 
		COALESCE(BOOKINGS.TotalBookingTimeMinutes, 0) AS TotalBookingTimeMinutes, 
		COALESCE(OPENING_TIMES.TimeOpenMinutes, 0) AS TimeOpenMinutes,
		COALESCE((CONVERT(DECIMAL(5,2),((BOOKINGS.TotalBookingTimeMinutes * 100/ nullif(OPENING_TIMES.TimeOpenMinutes,0))))),0) As PercentageUtilisation
FROM TestCentre TC
LEFT OUTER JOIN BOOKINGS ON BOOKINGS.TestCentreId = TC.TestCentreId
LEFT OUTER JOIN NO_OF_BOOKINGS ON NO_OF_BOOKINGS.TestCentreId = TC.TestCentreId
LEFT OUTER JOIN OPENING_TIMES ON  OPENING_TIMES.TestCentreId = TC.TestCentreId
WHERE Active = 1 
ORDER BY TestCentreName

END




GO
