USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[ScrappageGrantStatus_SelectAll]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ScrappageGrantStatus_SelectAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT [Id], [Description], [Active]
	FROM [cabs_production].[dbo].[ScrappageGrantStatuses]
END
GO
