USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreLinkedUsers_Insert]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TestCentreLinkedUsers_Insert] @TestCentreLinkedUserId INT OUTPUT
	,@UserId UNIQUEIDENTIFIER
	,@TestCentreId INT
	,@CreatedBy NVARCHAR(255)
	,@CreatedDate DATETIME
	,@ModifiedBy NVARCHAR(255)
	,@ModifiedDate DATETIME
	,@Active BIT
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [dbo].[TestCentreLinkedUsers] (
		[UserId]
		,[TestCentreId]
		,[CreatedBy]
		,[CreatedDate]
		,[ModifiedBy]
		,[ModifiedDate]
		,[Active]
		)
	VALUES (
		@UserId
		,@TestCentreId
		,@CreatedBy
		,@CreatedDate
		,@ModifiedBy
		,@ModifiedDate
		,@Active
		)

	SET @TestCentreLinkedUserId = SCOPE_IDENTITY()
END
GO
