USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[sch_CovidUpdateFODDates]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create       PROCEDURE [dbo].[sch_CovidUpdateFODDates] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

declare @VL nvarchar(100) = 0;
declare @Reg  nvarchar(100) = 0;


SELECT
vl.[LicenceNumber],
vl.RegistrationNumber
into #fodVehicles
FROM [cabs_production].[dbo].[LicenceMasterVL] vl
where vl.FinalOperationDate >'2020-03-13'
and vl.FinalOperationDate <'2021-01-01'
and vl.LicenceStateMasterId <> 3 -- no dead licences
and vl.LicenceStateMasterId <> 6 -- no dead licences
and vl.LicenceStateId <> 10 -- no Conditional offers 
order by vl.LicenceNumber



DECLARE fodVehicles_cursor CURSOR FOR 
select [LicenceNumber] , RegistrationNumber
from  #fodVehicles


OPEN fodVehicles_cursor  
FETCH NEXT FROM fodVehicles_cursor INTO @VL, @Reg;  

WHILE @@FETCH_STATUS = 0  
BEGIN  

		  
update  cabs_production.dbo.LicenceMasterVL 
set FinalOperationDate = DATEADD(year,1, FinalOperationDate) ,
ModifiedBy = 'Covid-Update',
ModifiedDate = getdate()
where LicenceMasterVL.LicenceNumber = @VL


		   
update dbo.VehicleMaster 
set RegistrationDateOrigin = dateadd(year,1,RegistrationDateOrigin),
RegistrationDateIreland = DATEADD(year,1,RegistrationDateIreland),
ModifiedBy = 'Covid-Update',
ModifiedDate =  getdate()
where VehicleMaster.RegistrationNumber = @Reg


INSERT INTO [dbo].[VehicleMasterAudit]
           ([RegistrationNumber]
           ,[MakeId]
           ,[ModelId]
           ,[BodyTypeId]
           ,[FuelTypeId]
           ,[ColourId]
           ,[EngineCapacity]
           ,[VIN]
           ,[YearOfManufacture]
           ,[RegistrationDateIreland]
           ,[RegistrationDateOrigin]
           ,[TurboDieselYn]
           ,[ModifiedYn]
           ,[TestCenterId]
           ,[NumberPassengers]
           ,[NumberSeats]
           ,[NumberDoors]
           ,[TypeApprovalNumber]
           ,[TypeApprovalCategory]
           ,[PermissibleMassGvw]
           ,[VrtVehicleCategory]
           ,[SimiCode]
           ,[NctSerialNumber]
           ,[NctIssueDate]
           ,[NctExpiryDate]
           ,[LastDocumentationCheckDate]
           ,[MileageReading]
           ,[ExcessWindowTint]
           ,[DataCheckedDate]
           ,[InsuranceExpiryDate]
           ,[InsuranceClassCorrect]
           ,[CreatedBy]
           ,[ModifiedBy]
           ,[CreatedDate]
           ,[ModifiedDate]
           ,[AuditDate]
           ,[HistoryChangeId]
           ,[RoofSignSticker]
           ,[MeterSealed]
           ,[OdometerUnitID]
           ,[OccupancyWithWheelchair])
SELECT top 1 [RegistrationNumber]
      ,[MakeId]
      ,[ModelId]
      ,[BodyTypeId]
      ,[FuelTypeId]
      ,[ColourId]
      ,[EngineCapacity]
      ,[VIN]
      ,[YearOfManufacture]
      , DATEADD(YEAR,1,RegistrationDateIreland)
      , DATEADD(YEAR,1,RegistrationDateOrigin)
      ,[TurboDieselYn]
      ,[ModifiedYn]
      ,[TestCenterId]
      ,[NumberPassengers]
      ,[NumberSeats]
      ,[NumberDoors]
      ,[TypeApprovalNumber]
      ,[TypeApprovalCategory]
      ,[PermissibleMassGvw]
      ,[VrtVehicleCategory]
      ,[SimiCode]
      ,[NctSerialNumber]
      ,[NctIssueDate]
      ,[NctExpiryDate]
      ,[LastDocumentationCheckDate]
      ,[MileageReading]
      ,[ExcessWindowTint]
      ,[DataCheckedDate]
      ,[InsuranceExpiryDate]
      ,[InsuranceClassCorrect]
      ,'Covid-Update'
      ,'Covid-Update'
      ,getdate()
      ,getdate()
      ,getdate()
      ,30 --Vehicle info update
      ,[RoofSignSticker]
      ,[MeterSealed]
     
      ,[OdometerUnitID]
      ,[OccupancyWithWheelchair]
  FROM [dbo].[VehicleMasterAudit]
where RegistrationNumber = @reg
order by ModifiedDate desc ;
 





   FETCH NEXT FROM fodVehicles_cursor  INTO @VL, @Reg;  
END 

drop table if exists #fodVehicles;

CLOSE fodVehicles_cursor  
DEALLOCATE fodVehicles_cursor 




END
GO
