USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceStateMaster_SelectByLicenceStateMasterId]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LicenceStateMaster_SelectByLicenceStateMasterId]		

(
@LicenceStateMasterId tinyint
)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT StateMasterments.
	SET NOCOUNT ON;

    -- Insert StateMasterments for procedure here
	SELECT	
			LicenceStateMasterId,
			LicenceStateMaster,
			LicenceCategoryId,
			CreatedBy,
			CreatedDate,
			ModifiedBy,
			ModifiedDate	

	FROM  dbo.LicenceStateMaster

	WHERE LicenceStateMasterId = @LicenceStateMasterId

END
GO
