USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetCOVByPlateNumber]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_GetCOVByPlateNumber] 
	(
	 @PlateNumber as int,
	 @COVDate as date
)    
	RETURNS date
AS
BEGIN    

	DECLARE @COVInspectionDate date

	SET @COVInspectionDate  = (Select top 1 CAST(vi.ModifiedDate AS date)
	from dbo.Booking b
	join dbo.LicenceMasterVL lmv ON b.LicenceNumber = lmv.LicenceNumber
	Join dbo.VehicleInspections vi ON b.BookingId=vi.BookingId 
	join dbo.SystemProcessVL sp On b.SystemProcessId=sp.SystemProcessId
	where b.SystemProcessId in ( 7 , 9, 13, 17, 21 ,24) ---All COV Process - this includes inpection
	AND b.BookingStatusId=3 --Completed
	AND vi.TestResultId in (1, 4) --Passed or FAIL_ADIVS
	AND lmv.PlateNumber=@PlateNumber -- Plate number
	AND vi.ModifiedDate >= @COVDate ---Inspection Passed Record Date
	Order by b.BookingId desc)

	RETURN @COVInspectionDate
END


GO
