USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[TestCentreDefaultConfig_SelectByTestCentreDefaultID]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Jim O'Brien
-- Create date: 17-Nov-2010
-- Description:	Select default configuatinos for a test centre.
-- =============================================
CREATE PROCEDURE [dbo].[TestCentreDefaultConfig_SelectByTestCentreDefaultID]
(
	@TestCentreDefaultConfigId	smallint = NULL
)

AS
-- If all parameters are null, throw an error
-- A parameter must be provided.

if 
(
	@TestCentreDefaultConfigId is null 
)
BEGIN
	RAISERROR ('The TestCentreDefaultConfigId parameter must be provided.', 16, 1)
	RETURN
END

BEGIN

	SET NOCOUNT ON;

	SELECT	dc.TestCentreDefaultConfigId,
			dc.TestCentreId,
			tc.TestCentreName,
			dc.TestCentreLaneId,
			tcl.TestCentreLaneName,
			dc.WeekDayId,
			dw.DayName,
			dc.StartTime,
			dc.EndTime,
			dc.CreatedBy,
			dc.CreatedDate,
			dc.ModifiedBy,
			dc.ModifiedDate,
			dc.Biweekly,
			dc.BiweeklyStartDate,
			dc.BiweeklyEndDate
	FROM dbo.TestCentreDefaultConfig dc
		 left outer join dbo.TestCentre tc ON dc.TestCentreId = tc.TestCentreId
		 left outer join dbo.TestCentreLanes tcl ON dc.TestCentreLaneId = tcl.TestCentreLaneId
		 left outer join dbo.DaysOfTheWeek dw ON dc.WeekDayId = dw.DayId
	WHERE dc.TestCentreDefaultConfigId = @TestCentreDefaultConfigId


END
GO
