USE [cabs_production]
GO
/****** Object:  View [dbo].[vw_FineStreetAddress]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	CREATE  VIEW [dbo].[vw_FineStreetAddress] AS
	SELECT ahi.[Id] as [Audit history item id]
      ,[AuditId]
      ,[FineId]
      ,a.Street as [Street]
	  FROM [cabs_production].[cabs_enf].[AuditHistoryItem] ahi
	  JOIN [cabs_production].[cabs_enf].[Audit] a
	  on ahi.AuditId = a.Id
	  where FineId is not null
GO
