USE [cabs_production]
GO
/****** Object:  StoredProcedure [dbo].[LicenceRepresentative_Insert]    Script Date: 14/04/2022 13:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		rpodgorski
-- Create date: 18-02-2014
-- Description:	Insert a licence representative
-- =============================================
CREATE PROCEDURE [dbo].[LicenceRepresentative_Insert]

@LicenceRepresentativeId int output,
@LicenceNumber varchar(50),
@LicenceHolderMasterId int,
@RepresentativeId int,
@StartDate datetime,
@EndDate datetime = null,
@CreatedBy nvarchar(20),
@CreatedDate datetime output,
@ModifiedBy nvarchar(20),
@ModifiedDate datetime output

AS
BEGIN

SET NOCOUNT ON;

SET @CreatedDate = GETDATE()
SET @ModifiedDate = @CreatedDate

INSERT
INTO
	LicenceRepresentative
	([LicenceNumber]
   , LicenceHolderMasterId
   , [RepresentativeId]
   , [StartDate]
   , [EndDate]
   , [CreatedBy]
   , [CreatedDate]
   , [ModifiedBy]
   , [ModifiedDate])
VALUES
	(@LicenceNumber,
	@LicenceHolderMasterId,
	@RepresentativeId,
	@StartDate,
	@EndDate,
	@CreatedBy,
	@CreatedDate,
	@ModifiedBy,
	@ModifiedDate
	)

END

GO
