USE [cabs_production]
GO
/****** Object:  Table [dbo].[PaymentItemVL]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentItemVL](
	[PaymentItemId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PaymentId] [int] NOT NULL,
	[FeeId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
	[Amount] [smallmoney] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BookingFee] PRIMARY KEY CLUSTERED 
(
	[PaymentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaymentItemVL]  WITH CHECK ADD  CONSTRAINT [FK_BookingFee_Fee] FOREIGN KEY([FeeId])
REFERENCES [dbo].[Fee] ([FeeId])
GO
ALTER TABLE [dbo].[PaymentItemVL] CHECK CONSTRAINT [FK_BookingFee_Fee]
GO
ALTER TABLE [dbo].[PaymentItemVL]  WITH CHECK ADD  CONSTRAINT [FK_BookingFee_Payment] FOREIGN KEY([FeeId])
REFERENCES [dbo].[Fee] ([FeeId])
GO
ALTER TABLE [dbo].[PaymentItemVL] CHECK CONSTRAINT [FK_BookingFee_Payment]
GO
ALTER TABLE [dbo].[PaymentItemVL]  WITH CHECK ADD  CONSTRAINT [FK_BookingPayment_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[PaymentStatus] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[PaymentItemVL] CHECK CONSTRAINT [FK_BookingPayment_PaymentStatus]
GO
ALTER TABLE [dbo].[PaymentItemVL]  WITH CHECK ADD  CONSTRAINT [FK_BookingPayment_PaymentVL] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[PaymentVL] ([PaymentId])
GO
ALTER TABLE [dbo].[PaymentItemVL] CHECK CONSTRAINT [FK_BookingPayment_PaymentVL]
GO
