USE [cabs_production]
GO
/****** Object:  Table [dbo].[LicenceHolderMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceHolderMaster](
	[LicenceHolderId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Ccsn] [varchar](20) NULL,
	[Ppsn] [varchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[CompanyNumber] [int] NULL,
	[CompanyName] [nvarchar](100) NULL,
	[TradingAs] [nvarchar](100) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[CountyId] [int] NULL,
	[PostCode] [varchar](12) NULL,
	[CountryId] [int] NULL,
	[IrishLanguageAddress] [bit] NULL,
	[PhoneNo1] [varchar](50) NULL,
	[PhoneNo2] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[EmailOptIn] [bit] NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceExpiryDate] [datetime] NULL,
	[TaxClearanceStatus] [varchar](50) NULL,
	[TaxClearanceVisual] [char](10) NULL,
	[TaxClearanceName] [nvarchar](100) NULL,
	[LastDocumentationCheckDate] [datetime] NULL,
	[TaxHead] [varchar](50) NULL,
	[_6DigitCode] [nvarchar](50) NULL,
	[Comments] [nvarchar](max) NULL,
	[DeceasedYn] [bit] NOT NULL,
	[GardaDivisionID] [int] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[MailOptIn] [bit] NULL,
	[Director1Name] [nvarchar](100) NULL,
	[Director2Name] [nvarchar](100) NULL,
	[Director3Name] [nvarchar](100) NULL,
	[Director1Address] [nvarchar](500) NULL,
	[Director2Address] [nvarchar](500) NULL,
	[Director3Address] [nvarchar](500) NULL,
	[TaxClearanceCertExists] [bit] NULL,
	[TaxClearancePreviousCertExistsValue] [bit] NULL,
	[TaxClearanceLastCertExistDate] [datetime] NULL,
	[TaxClearanceLastNotificationDate] [datetime] NULL,
	[TaxClearance30DaysReminderSent] [bit] NULL,
	[HolderName]  AS (case when isnull([CompanyName],'')='' then ([FirstName]+' ')+[LastName] else [CompanyName] end),
 CONSTRAINT [PK_LicenceHolderMaster] PRIMARY KEY CLUSTERED 
(
	[LicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_LicenceHolderMaster_35_133679624__K1_K18_K5_2_6_7_9_10_11]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [_dta_index_LicenceHolderMaster_35_133679624__K1_K18_K5_2_6_7_9_10_11] ON [dbo].[LicenceHolderMaster]
(
	[LicenceHolderId] ASC,
	[CountryId] ASC
)
INCLUDE([Ccsn],[FirstName],[LastName],[CompanyNumber],[CompanyName],[TradingAs]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_LicenceHolderMaster_eMail]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [ix_LicenceHolderMaster_eMail] ON [dbo].[LicenceHolderMaster]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_LicenceHolderMaster_Ppsn]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [ix_LicenceHolderMaster_Ppsn] ON [dbo].[LicenceHolderMaster]
(
	[Ppsn] ASC
)
INCLUDE([LicenceHolderId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_DeceasedYn]  DEFAULT ((0)) FOR [DeceasedYn]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_CRreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_ModifiedBy]  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[LicenceHolderMaster] ADD  CONSTRAINT [DF_LicenceHolderMaster_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[LicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderMaster_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[LicenceHolderMaster] CHECK CONSTRAINT [FK_LicenceHolderMaster_Country]
GO
ALTER TABLE [dbo].[LicenceHolderMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceHolderMaster_County] FOREIGN KEY([CountyId])
REFERENCES [dbo].[County] ([CountyId])
GO
ALTER TABLE [dbo].[LicenceHolderMaster] CHECK CONSTRAINT [FK_LicenceHolderMaster_County]
GO
