USE [cabs_production]
GO
/****** Object:  View [dbo].[temp3]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[temp3]
AS
SELECT    lh.Email, lh.FirstName, lh.LastName AS Surname, lh.AddressLine1, lh.AddressLine2, lh.Town, c.CountyName AS County, lh.PostCode, l.LicenceNumber, lt.LicenceType, 
                      l.LicenceIssueDate, l.LicenceExpiryDate, lh.Ppsn, iu.ASPUserId, lh.DateOfBirth, ls.LicenceStateMaster
FROM         Cabs_Live.dbo.LicenceMaster AS l INNER JOIN
                      Cabs_Live.dbo.LicenceHolderMaster AS lh ON l.LicenceHolderId = lh.LicenceHolderId INNER JOIN
                      Cabs_Live.dbo.LicenceType AS lt ON l.LicenceTypeID = lt.LicenceTypeID INNER JOIN
                      Cabs_Live.dbo.LicenceStateMaster AS ls ON l.LicenceStateMasterID = ls.LicenceStateMasterID INNER JOIN
                      Cabs_Live.dbo.County AS c ON lh.CountyID = c.CountyID INNER JOIN
                      cabs_cmo.IndustryUser AS iu ON iu.PPSN = lh.Ppsn
WHERE     (l.LicenceStateMasterID = 1) AND (lh.Ppsn NOT IN ('123456789A', '00000000'))



GO
