USE [cabs_production]
GO
/****** Object:  Table [dbo].[BookingCancellationReason]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingCancellationReason](
	[BookingCancellationReasonId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BookingCancellationReason] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BookingCancellationReason] PRIMARY KEY CLUSTERED 
(
	[BookingCancellationReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
