USE [cabs_production]
GO
/****** Object:  Table [dbo].[TestCentreDefaultConfig]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCentreDefaultConfig](
	[TestCentreDefaultConfigId] [smallint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestCentreId] [int] NOT NULL,
	[TestCentreLaneId] [int] NOT NULL,
	[WeekDayId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Biweekly] [bit] NULL,
	[BiweeklyStartDate] [datetime] NULL,
	[BiweeklyEndDate] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_TestCentreDefaultConfig] PRIMARY KEY CLUSTERED 
(
	[TestCentreDefaultConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TestCentreDefaultConfig]    Script Date: 14/04/2022 13:21:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_TestCentreDefaultConfig] ON [dbo].[TestCentreDefaultConfig]
(
	[TestCentreId] ASC,
	[TestCentreLaneId] ASC,
	[WeekDayId] ASC,
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCentreDefaultConfig]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreDefaultConfig_DaysOfTheWeek] FOREIGN KEY([WeekDayId])
REFERENCES [dbo].[DaysOfTheWeek] ([DayId])
GO
ALTER TABLE [dbo].[TestCentreDefaultConfig] CHECK CONSTRAINT [FK_TestCentreDefaultConfig_DaysOfTheWeek]
GO
ALTER TABLE [dbo].[TestCentreDefaultConfig]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreDefaultConfig_Lanes] FOREIGN KEY([TestCentreLaneId])
REFERENCES [dbo].[TestCentreLanes] ([TestCentreLaneId])
GO
ALTER TABLE [dbo].[TestCentreDefaultConfig] CHECK CONSTRAINT [FK_TestCentreDefaultConfig_Lanes]
GO
ALTER TABLE [dbo].[TestCentreDefaultConfig]  WITH CHECK ADD  CONSTRAINT [FK_TestCentreDefaultConfig_TestCentre] FOREIGN KEY([TestCentreId])
REFERENCES [dbo].[TestCentre] ([TestCentreId])
GO
ALTER TABLE [dbo].[TestCentreDefaultConfig] CHECK CONSTRAINT [FK_TestCentreDefaultConfig_TestCentre]
GO
