USE [cabs_production]
GO
/****** Object:  UserDefinedFunction [dbo].[GetFirstSkillsBookingPaymentId]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetFirstSkillsBookingPaymentId] 
	(
		@BookingId int
	)    
	RETURNS int
AS
BEGIN    

DECLARE @PaymentId Int

SELECT @PaymentId = MIN(PV.PaymentId) FROM [cabs_sk].[BookingPayment] BP
INNER JOIN dbo.PaymentItemVL PV ON PV.PaymentId = BP.PaymentId
WHERE BookingId = @BookingID
AND PV.FeeId <> 6 --Exclude Late Reschedules 


RETURN @PaymentId


END

GO
