USE [cabs_production]
GO
/****** Object:  Table [dl].[AdditionalArea]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[AdditionalArea](
	[LicenceMasterId] [int] NOT NULL,
	[AdditionalAreaId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AdditionalArea] PRIMARY KEY CLUSTERED 
(
	[AdditionalAreaId] ASC,
	[LicenceMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AdditionalArea_LicenceMasterId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_AdditionalArea_LicenceMasterId] ON [dl].[AdditionalArea]
(
	[LicenceMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[AdditionalArea]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalArea_Area_AdditionalAreaId] FOREIGN KEY([AdditionalAreaId])
REFERENCES [dl].[Area] ([AreaId])
GO
ALTER TABLE [dl].[AdditionalArea] CHECK CONSTRAINT [FK_AdditionalArea_Area_AdditionalAreaId]
GO
ALTER TABLE [dl].[AdditionalArea]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalArea_LicenceMaster_LicenceMasterId] FOREIGN KEY([LicenceMasterId])
REFERENCES [dl].[LicenceMaster] ([LicenceMasterId])
GO
ALTER TABLE [dl].[AdditionalArea] CHECK CONSTRAINT [FK_AdditionalArea_LicenceMaster_LicenceMasterId]
GO
