USE [cabs_production]
GO
/****** Object:  Table [dl].[LetterRequestDespatchMethod]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[LetterRequestDespatchMethod](
	[LetterRequestDespatchMethodId] [int] NOT NULL,
	[DespatchMethodDescription] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_LetterRequestDespatchMethod] PRIMARY KEY CLUSTERED 
(
	[LetterRequestDespatchMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
