USE [cabs_production]
GO
/****** Object:  Table [dl].[LicenceState]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[LicenceState](
	[LicenceStateId] [int] NOT NULL,
	[LicenceStateMasterId] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LicenceState] PRIMARY KEY CLUSTERED 
(
	[LicenceStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceState_LicenceStateMasterId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceState_LicenceStateMasterId] ON [dl].[LicenceState]
(
	[LicenceStateMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[LicenceState]  WITH CHECK ADD  CONSTRAINT [FK_LicenceState_LicenceStateMaster_LicenceStateMasterId] FOREIGN KEY([LicenceStateMasterId])
REFERENCES [dl].[LicenceStateMaster] ([LicenceStateMasterId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[LicenceState] CHECK CONSTRAINT [FK_LicenceState_LicenceStateMaster_LicenceStateMasterId]
GO
