USE [cabs_production]
GO
/****** Object:  Table [dl].[LicenceMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[LicenceMaster](
	[LicenceMasterId] [int] IDENTITY(1,1) NOT NULL,
	[LicenceStateMasterId] [int] NOT NULL,
	[LicenceStateId] [int] NULL,
	[LicenceTypeId] [int] NOT NULL,
	[PrimaryAreaId] [int] NOT NULL,
	[GardaAreaId] [int] NULL,
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[ApplicationReceivedDate] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LicenceMaster] PRIMARY KEY CLUSTERED 
(
	[LicenceMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceMaster_GardaAreaId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceMaster_GardaAreaId] ON [dl].[LicenceMaster]
(
	[GardaAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LicenceMaster_LicenceNumber]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceMaster_LicenceNumber] ON [dl].[LicenceMaster]
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LicenceMaster_LicenceNumber_LicenceMasterId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceMaster_LicenceNumber_LicenceMasterId] ON [dl].[LicenceMaster]
(
	[LicenceNumber] ASC
)
INCLUDE([LicenceMasterId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LicenceMaster_LicenceNumber_LicenceMasterId_LicenceStateMasterId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceMaster_LicenceNumber_LicenceMasterId_LicenceStateMasterId] ON [dl].[LicenceMaster]
(
	[LicenceNumber] ASC
)
INCLUDE([LicenceMasterId],[LicenceStateMasterId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceMaster_LicenceStateId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceMaster_LicenceStateId] ON [dl].[LicenceMaster]
(
	[LicenceStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceMaster_LicenceStateMasterId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceMaster_LicenceStateMasterId] ON [dl].[LicenceMaster]
(
	[LicenceStateMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceMaster_LicenceTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceMaster_LicenceTypeId] ON [dl].[LicenceMaster]
(
	[LicenceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceMaster_PrimaryAreaId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceMaster_PrimaryAreaId] ON [dl].[LicenceMaster]
(
	[PrimaryAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_Area_PrimaryAreaId] FOREIGN KEY([PrimaryAreaId])
REFERENCES [dl].[Area] ([AreaId])
GO
ALTER TABLE [dl].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_Area_PrimaryAreaId]
GO
ALTER TABLE [dl].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_GardaArea_GardaAreaId] FOREIGN KEY([GardaAreaId])
REFERENCES [dl].[GardaArea] ([GardaAreaId])
GO
ALTER TABLE [dl].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_GardaArea_GardaAreaId]
GO
ALTER TABLE [dl].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_LicenceState_LicenceStateId] FOREIGN KEY([LicenceStateId])
REFERENCES [dl].[LicenceState] ([LicenceStateId])
GO
ALTER TABLE [dl].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_LicenceState_LicenceStateId]
GO
ALTER TABLE [dl].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_LicenceStateMaster_LicenceStateMasterId] FOREIGN KEY([LicenceStateMasterId])
REFERENCES [dl].[LicenceStateMaster] ([LicenceStateMasterId])
GO
ALTER TABLE [dl].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_LicenceStateMaster_LicenceStateMasterId]
GO
ALTER TABLE [dl].[LicenceMaster]  WITH CHECK ADD  CONSTRAINT [FK_LicenceMaster_LicenceType_LicenceTypeId] FOREIGN KEY([LicenceTypeId])
REFERENCES [dl].[LicenceType] ([LicenceTypeId])
GO
ALTER TABLE [dl].[LicenceMaster] CHECK CONSTRAINT [FK_LicenceMaster_LicenceType_LicenceTypeId]
GO
