USE [cabs_production]
GO
/****** Object:  Table [dl].[LetterRequestMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[LetterRequestMaster](
	[LetterRequestMasterId] [int] IDENTITY(1,1) NOT NULL,
	[LicenceMasterId] [int] NOT NULL,
	[BatchId] [varchar](50) NULL,
	[LetterRequestStatusId] [tinyint] NOT NULL,
	[Ccsn] [varchar](20) NULL,
	[LicenceNumber] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DriverAddress1] [nvarchar](50) NOT NULL,
	[DriverAddress2] [nvarchar](50) NULL,
	[DriverAddress3] [nvarchar](50) NULL,
	[DriverCounty] [nvarchar](20) NOT NULL,
	[DriverPostCode] [varchar](12) NULL,
	[DeliveryDestinationId] [tinyint] NOT NULL,
	[ExpiryDate] [varchar](20) NOT NULL,
	[DespatchMethodId] [tinyint] NULL,
	[DespatchDate] [datetime] NULL,
	[TrackingNumber] [varchar](50) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[LetterRequestStatusMessage] [varchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[TaxClearanceStatus] [varchar](50) NULL,
	[TaxClearanceName] [nvarchar](101) NULL,
	[TaxClearanceNumber] [varchar](20) NULL,
	[TaxClearanceExpiryDate] [datetime] NULL,
	[LetterRequestTypeVLAuditId] [int] NULL,
	[Ppsn] [varchar](20) NULL,
	[Town] [nvarchar](50) NULL,
	[AreaOfOperation] [nvarchar](20) NULL,
	[LicenceExpiryDate] [datetime] NULL,
	[LicensedAreas] [varchar](512) NULL,
	[GardaArea] [varchar](100) NULL,
	[HolderName] [varchar](101) NULL,
	[SPSVRegistrationNumber] [nvarchar](10) NULL,
	[SPSVRegistrationUrl] [nvarchar](2000) NULL,
	[LicenceStatus] [nvarchar](100) NULL,
	[VehicleLicenceNumber] [nvarchar](100) NULL,
	[VehicleRegistrationNumber] [nvarchar](100) NULL,
	[LinkStartDate] [nvarchar](100) NULL,
	[LinkEndDate] [nvarchar](100) NULL,
	[LinkMethod] [nvarchar](100) NULL,
	[DriverLicenceHolderId] [int] NULL,
	[RentalStartDate] [nvarchar](100) NULL,
	[RentalEndDate] [nvarchar](100) NULL,
	[RentalMethod] [nvarchar](100) NULL,
	[SPSVWebUrl] [nvarchar](100) NULL,
	[SPSVEmailHtml] [nvarchar](max) NULL,
	[SPSVEmailItemId] [int] NULL,
	[HistoricalVehicleLicenceNumber] [nvarchar](50) NULL,
	[SPSVSmsMessage] [nvarchar](max) NULL,
	[SPSVSmsItemId] [int] NULL,
	[SPSVSmsPhoneNumber] [nvarchar](50) NULL,
	[TaxClearanceCertExists] [bit] NULL,
	[TaxClearanceLastCheckDate] [datetime] NULL,
	[LetterRequestTypeVlId] [int] NULL,
	[LetterRequestTypeId] [tinyint] NOT NULL,
 CONSTRAINT [PK_LetterRequestMaster] PRIMARY KEY CLUSTERED 
(
	[LetterRequestMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_LetterRequestMaster_LetterRequestStatusId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LetterRequestMaster_LetterRequestStatusId] ON [dl].[LetterRequestMaster]
(
	[LetterRequestStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LetterRequestMaster_LetterRequestTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LetterRequestMaster_LetterRequestTypeId] ON [dl].[LetterRequestMaster]
(
	[LetterRequestTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PrintRequestMaster_1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintRequestMaster_1] ON [dl].[LetterRequestMaster]
(
	[LetterRequestMasterId] ASC,
	[DespatchMethodId] ASC,
	[DespatchDate] ASC,
	[CreatedDate] ASC,
	[LetterRequestTypeVLAuditId] ASC,
	[VehicleLicenceNumber] ASC,
	[VehicleRegistrationNumber] ASC,
	[DriverLicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintRequestMaster_Reports1]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintRequestMaster_Reports1] ON [dl].[LetterRequestMaster]
(
	[LetterRequestTypeVLAuditId] ASC,
	[DriverLicenceHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT ('') FOR [DriverAddress2]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT ('') FOR [DriverAddress3]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT ('') FOR [DriverPostCode]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT ((0)) FOR [DespatchMethodId]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT ('') FOR [TrackingNumber]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT ('') FOR [LicensedAreas]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT ('') FOR [GardaArea]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT ('') FOR [HolderName]
GO
ALTER TABLE [dl].[LetterRequestMaster] ADD  DEFAULT (CONVERT([tinyint],(1),0)) FOR [LetterRequestTypeId]
GO
ALTER TABLE [dl].[LetterRequestMaster]  WITH CHECK ADD  CONSTRAINT [FK_LetterRequestMaster_LetterRequestType_LetterRequestTypeId] FOREIGN KEY([LetterRequestTypeId])
REFERENCES [dl].[LetterRequestType] ([LetterRequestTypeId])
GO
ALTER TABLE [dl].[LetterRequestMaster] CHECK CONSTRAINT [FK_LetterRequestMaster_LetterRequestType_LetterRequestTypeId]
GO
ALTER TABLE [dl].[LetterRequestMaster]  WITH CHECK ADD  CONSTRAINT [FK_PrintRequestMaster_PrintRequestStatus] FOREIGN KEY([LetterRequestStatusId])
REFERENCES [dl].[LetterRequestStatus] ([LetterRequestStatusId])
GO
ALTER TABLE [dl].[LetterRequestMaster] CHECK CONSTRAINT [FK_PrintRequestMaster_PrintRequestStatus]
GO
