USE [cabs_production]
GO
/****** Object:  Table [dl].[LetterRequestType]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[LetterRequestType](
	[LetterRequestTypeId] [tinyint] NOT NULL,
	[LetterRequestTypeDescription] [varchar](50) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LetterRequestType] PRIMARY KEY CLUSTERED 
(
	[LetterRequestTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dl].[LetterRequestType] ADD  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dl].[LetterRequestType] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dl].[LetterRequestType] ADD  DEFAULT (suser_sname()) FOR [ModifiedBy]
GO
ALTER TABLE [dl].[LetterRequestType] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
