USE [cabs_production]
GO
/****** Object:  Table [dl].[LicenceDocument]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[LicenceDocument](
	[LicenceMasterId] [int] NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[UploadBy] [nvarchar](256) NOT NULL,
	[UploadDate] [datetime2](7) NOT NULL,
	[LicenceDocumentId] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [int] NOT NULL,
 CONSTRAINT [PK_LicenceDocument] PRIMARY KEY CLUSTERED 
(
	[LicenceDocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceDocument_FileId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceDocument_FileId] ON [dl].[LicenceDocument]
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenceDocument_LicenceMasterId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_LicenceDocument_LicenceMasterId] ON [dl].[LicenceDocument]
(
	[LicenceMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[LicenceDocument] ADD  DEFAULT ((0)) FOR [FileId]
GO
ALTER TABLE [dl].[LicenceDocument]  WITH CHECK ADD  CONSTRAINT [FK_LicenceDocument_File_FileId] FOREIGN KEY([FileId])
REFERENCES [dl].[File] ([FileId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[LicenceDocument] CHECK CONSTRAINT [FK_LicenceDocument_File_FileId]
GO
ALTER TABLE [dl].[LicenceDocument]  WITH CHECK ADD  CONSTRAINT [FK_LicenceDocument_LicenceMaster_LicenceMasterId] FOREIGN KEY([LicenceMasterId])
REFERENCES [dl].[LicenceMaster] ([LicenceMasterId])
GO
ALTER TABLE [dl].[LicenceDocument] CHECK CONSTRAINT [FK_LicenceDocument_LicenceMaster_LicenceMasterId]
GO
