USE [cabs_production]
GO
/****** Object:  Table [dl].[PrintcardRequestPhoto]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[PrintcardRequestPhoto](
	[PrintcardRequestPhotoId] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PrintcardRequestPhoto] PRIMARY KEY CLUSTERED 
(
	[PrintcardRequestPhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
