USE [cabs_production]
GO
/****** Object:  Table [dl].[Printcard]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[Printcard](
	[PrintcardId] [int] IDENTITY(1,1) NOT NULL,
	[Area] [nvarchar](64) NOT NULL,
	[PrintcardTypeId] [int] NOT NULL,
	[PrintcardRequestId] [int] NOT NULL,
	[PrintcardStatusId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[PrintcardStatusMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Printcard] PRIMARY KEY CLUSTERED 
(
	[PrintcardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Printcard_PrintcardRequestId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Printcard_PrintcardRequestId] ON [dl].[Printcard]
(
	[PrintcardRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Printcard_PrintcardStatusId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Printcard_PrintcardStatusId] ON [dl].[Printcard]
(
	[PrintcardStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Printcard_PrintcardTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Printcard_PrintcardTypeId] ON [dl].[Printcard]
(
	[PrintcardTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[Printcard]  WITH CHECK ADD  CONSTRAINT [FK_Printcard_PrintcardRequest_PrintcardRequestId] FOREIGN KEY([PrintcardRequestId])
REFERENCES [dl].[PrintcardRequest] ([PrintcardRequestId])
GO
ALTER TABLE [dl].[Printcard] CHECK CONSTRAINT [FK_Printcard_PrintcardRequest_PrintcardRequestId]
GO
ALTER TABLE [dl].[Printcard]  WITH CHECK ADD  CONSTRAINT [FK_Printcard_PrintcardStatus_PrintcardStatusId] FOREIGN KEY([PrintcardStatusId])
REFERENCES [dl].[PrintcardStatus] ([PrintcardStatusId])
GO
ALTER TABLE [dl].[Printcard] CHECK CONSTRAINT [FK_Printcard_PrintcardStatus_PrintcardStatusId]
GO
ALTER TABLE [dl].[Printcard]  WITH CHECK ADD  CONSTRAINT [FK_Printcard_PrintcardType_PrintcardTypeId] FOREIGN KEY([PrintcardTypeId])
REFERENCES [dl].[PrintcardType] ([PrintcardTypeId])
GO
ALTER TABLE [dl].[Printcard] CHECK CONSTRAINT [FK_Printcard_PrintcardType_PrintcardTypeId]
GO
