USE [cabs_production]
GO
/****** Object:  Table [dl].[PrintcardRequest]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dl].[PrintcardRequest](
	[PrintcardRequestId] [int] IDENTITY(1,1) NOT NULL,
	[LicenceId] [int] NOT NULL,
	[SourceSystemId] [int] NOT NULL,
	[PrintcardRequestReasonId] [int] NOT NULL,
	[PrintcardRequestTypeId] [int] NULL,
	[PrintcardStatusId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](2000) NOT NULL,
	[AddressLine1] [nvarchar](100) NOT NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Ccsn] [nvarchar](20) NULL,
	[CountyName] [nvarchar](20) NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[LicenceNumber] [nvarchar](20) NOT NULL,
	[Postcode] [nvarchar](12) NULL,
	[PrintcardRequestSourceId] [int] NOT NULL,
	[PrintcardRequestOptionId] [int] NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[Eircode] [nvarchar](7) NULL,
	[PaymentId] [int] NULL,
	[Ppsn] [nvarchar](20) NULL,
	[Town] [nvarchar](50) NULL,
	[PrintcardRequestComments] [nvarchar](2000) NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[BatchId] [nvarchar](50) NULL,
	[DespatchDate] [datetime2](7) NULL,
	[PrintcardRequestDespatchMethodId] [int] NULL,
	[PrintcardRequestStatusMessage] [nvarchar](max) NULL,
	[TrackingNumber] [nvarchar](50) NULL,
	[PrintcardRequestPhotoId] [int] NULL,
 CONSTRAINT [PK_PrintcardRequest] PRIMARY KEY CLUSTERED 
(
	[PrintcardRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_LicenceId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_LicenceId] ON [dl].[PrintcardRequest]
(
	[LicenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_PaymentId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_PaymentId] ON [dl].[PrintcardRequest]
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_PrintcardRequestDespatchMethodId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_PrintcardRequestDespatchMethodId] ON [dl].[PrintcardRequest]
(
	[PrintcardRequestDespatchMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_PrintcardRequestOptionId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_PrintcardRequestOptionId] ON [dl].[PrintcardRequest]
(
	[PrintcardRequestOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_PrintcardRequestPhotoId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PrintcardRequest_PrintcardRequestPhotoId] ON [dl].[PrintcardRequest]
(
	[PrintcardRequestPhotoId] ASC
)
WHERE ([PrintcardRequestPhotoId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_PrintcardRequestReasonId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_PrintcardRequestReasonId] ON [dl].[PrintcardRequest]
(
	[PrintcardRequestReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_PrintcardRequestSourceId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_PrintcardRequestSourceId] ON [dl].[PrintcardRequest]
(
	[PrintcardRequestSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_PrintcardRequestTypeId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_PrintcardRequestTypeId] ON [dl].[PrintcardRequest]
(
	[PrintcardRequestTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_PrintcardStatusId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_PrintcardStatusId] ON [dl].[PrintcardRequest]
(
	[PrintcardStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrintcardRequest_SourceSystemId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_PrintcardRequest_SourceSystemId] ON [dl].[PrintcardRequest]
(
	[SourceSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dl].[PrintcardRequest] ADD  DEFAULT (N'') FOR [AddressLine1]
GO
ALTER TABLE [dl].[PrintcardRequest] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ExpiryDate]
GO
ALTER TABLE [dl].[PrintcardRequest] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [dl].[PrintcardRequest] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [dl].[PrintcardRequest] ADD  DEFAULT (N'') FOR [LicenceNumber]
GO
ALTER TABLE [dl].[PrintcardRequest] ADD  DEFAULT ((0)) FOR [PrintcardRequestSourceId]
GO
ALTER TABLE [dl].[PrintcardRequest] ADD  DEFAULT ((0)) FOR [PrintcardRequestOptionId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_LicenceMaster_LicenceId] FOREIGN KEY([LicenceId])
REFERENCES [dl].[LicenceMaster] ([LicenceMasterId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_LicenceMaster_LicenceId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_Payment_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [dl].[Payment] ([PaymentId])
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_Payment_PaymentId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_PrintcardRequestDespatchMethod_PrintcardRequestDespatchMethodId] FOREIGN KEY([PrintcardRequestDespatchMethodId])
REFERENCES [dl].[PrintcardRequestDespatchMethod] ([PrintcardRequestDespatchMethodId])
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_PrintcardRequestDespatchMethod_PrintcardRequestDespatchMethodId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_PrintcardRequestOption_PrintcardRequestOptionId] FOREIGN KEY([PrintcardRequestOptionId])
REFERENCES [dl].[PrintcardRequestOption] ([PrintcardRequestOptionId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_PrintcardRequestOption_PrintcardRequestOptionId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_PrintcardRequestPhoto_PrintcardRequestPhotoId] FOREIGN KEY([PrintcardRequestPhotoId])
REFERENCES [dl].[PrintcardRequestPhoto] ([PrintcardRequestPhotoId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_PrintcardRequestPhoto_PrintcardRequestPhotoId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_PrintcardRequestReason_PrintcardRequestReasonId] FOREIGN KEY([PrintcardRequestReasonId])
REFERENCES [dl].[PrintcardRequestReason] ([PrintcardRequestReasonId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_PrintcardRequestReason_PrintcardRequestReasonId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_PrintcardRequestSource_PrintcardRequestSourceId] FOREIGN KEY([PrintcardRequestSourceId])
REFERENCES [dl].[PrintcardRequestSource] ([PrintcardRequestSourceId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_PrintcardRequestSource_PrintcardRequestSourceId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_PrintcardRequestType_PrintcardRequestTypeId] FOREIGN KEY([PrintcardRequestTypeId])
REFERENCES [dl].[PrintcardRequestType] ([PrintcardRequestTypeId])
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_PrintcardRequestType_PrintcardRequestTypeId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_PrintcardStatus_PrintcardStatusId] FOREIGN KEY([PrintcardStatusId])
REFERENCES [dl].[PrintcardStatus] ([PrintcardStatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_PrintcardStatus_PrintcardStatusId]
GO
ALTER TABLE [dl].[PrintcardRequest]  WITH CHECK ADD  CONSTRAINT [FK_PrintcardRequest_SourceSystem_SourceSystemId] FOREIGN KEY([SourceSystemId])
REFERENCES [dl].[SourceSystem] ([SourceSystemId])
ON DELETE CASCADE
GO
ALTER TABLE [dl].[PrintcardRequest] CHECK CONSTRAINT [FK_PrintcardRequest_SourceSystem_SourceSystemId]
GO
