USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_ActiveLicencesWithLinksByCounty]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dl].[RPT_ActiveLicencesWithLinksByCounty] as
begin
SET NOCOUNT ON;

	select 
		PrimaryArea,
		LicenceNumber,
		LicenceStateName,
		convert(varchar(10), ExpiryDate,103) 'ExpiryDate',
		DriverName,
		ISNULL(link.ActiveLink, 0) 'ActiveLink'
		from (
			select 
			lm.LicenceNumber,
			lm.ExpiryDate,
			concat(lsm.Name, ' - ' + ls.Name) 'LicenceStateName',
			concat(p.FirstName, ' ' , p.LastName) 'DriverName',
			pa.Name 'PrimaryArea',
			iu.ID as IndustryUserId
			from 
			dl.LicenceMaster lm with (nolock)
				left join dl.LicenceHolderMaster lhm with (nolock) on lhm.LicenceMasterId=lm.LicenceMasterId
				left join person.v_opv p on p.Id=lhm.PersonId
				left join cabs_production.cabs_spsv.IndustryUserDriverLicenceHolderMaster iudl with (nolock) on p.Id=iudl.LicenceHolderMasterFK
				left join cabs_production.cabs_cmo.IndustryUser iu with (nolock) on iu.ID=iudl.IndustryUserFK
				left join dl.Area pa on pa.AreaId=lm.PrimaryAreaId
				left join dl.LicenceStateMaster lsm with (nolock) on lsm.LicenceStateMasterID = lm.LicenceStateMasterID
				left join dl.LicenceState ls with (nolock) on ls.LicenceStateId = lm.LicenceStateId
			WHERE lm.LicenceStateMasterID = 1
		) l
		left join 
		(
		SELECT iu.ID as IndustryUserId, 1 'ActiveLink'
		from cabs_production.cabs_cmo.IndustryUser iu
			LEFT JOIN cabs_production.cabs_dvl.VehicleDriver vd on iu.ID = vd.IndustryUserId 
		WHERE vd.IsActive = 1 and vd.StartDate <= GETDATE() AND (vd.EndDate > GETDATE() OR vd.EndDate IS NULL)
		) link
		on l.IndustryUserId = link.IndustryUserId
end
GO
