USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_ExpiringDriverLicences]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_ExpiringDriverLicences] 
(@Week tinyint) as
begin
SET NOCOUNT ON;

declare @SP_Week tinyint = @Week
select 
distinct 
lm.LicenceNumber 'LicenceNumber',
CONVERT(VARCHAR(10), lm.ExpiryDate, 103) 'ExpiryDate',
CONCAT(p.FirstName, ' ', p.LastName) 'DriverName',
p.AddressLine1, 
p.AddressLine2, 
p.AddressLine3, 
p.Town, 
p.PostCode,
p.CountyName
from dl.LicenceMaster lm with (nolock)
inner join dl.LicenceHolderMaster lh with (nolock) on lm.LicenceMasterId = lh.LicenceMasterId
inner join person.v_opv p with (nolock) on p.Id=lh.PersonId
	left join dl.LicenceStateMaster ls with (nolock) on ls.LicenceStateMasterID = lm.LicenceStateMasterID
where
lm.LicenceStateMasterId = 1
and lm.ExpiryDate
	between 
	dateadd(WeekDay, 1 +  -1 * datepart(WeekDay, dateadd(Week, @SP_Week, GetDate())), dateadd(Week, @SP_Week, convert(datetime, convert(varchar(10), getdate(),120)) ))
	and
	dateadd(WeekDay, 7 - datepart(WeekDay, dateadd(Week, @SP_Week, GetDate())), dateadd(Week, @SP_Week, convert(datetime, convert(varchar(10), getdate(),120)) ))

end
GO
