USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_SPSV_Notifications_Email_Post]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_SPSV_Notifications_Email_Post]
(@StartDate datetime,
@EndDate datetime)
as
BEGIN
SET NOCOUNT ON;

declare @SP_StartDate datetime = @StartDate
declare @SP_EndDate datetime = @EndDate

SELECT 
	PRM.HolderPPSN AS HolderPPSN,
	count(LRA.lettercode) as totalnumber,
	PRD.DespatchMethodId
from cabs_production.[dbo].[PrintRequestMasterVL] PRM
	JOIN cabs_production.[dbo].[PrintRequestDetailVL] PRD on PRD.PrintRequestMasterId = PRM.PrintRequestMasterId		
	INNER JOIN cabs_production.dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeAuditId
WHERE PRD.PrintCompanyId=1	
	AND LRA.LetterRequestTypeID not in (9,10,26,27,36)
	AND DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) BETWEEN @SP_StartDate AND @SP_EndDate
	AND (PRD.DespatchMethodID = 3 OR PRD.DespatchMethodID = 1)
	AND LRA.LetterCode like 'SPSV-%'
GROUP BY
	PRM.HolderPPSN,
	PRD.DespatchMethodId

UNION ALL 

SELECT 
	 PRM.Ppsn AS HolderPPSN,
	 count(LRA.lettercode) as totalnumber,
	 PRM.DespatchMethodId
from dl.LetterRequestMaster PRM
	INNER JOIN  cabs_production.dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeVLAuditId
	LEFT JOIN cabs_production.[dbo].[DespatchMethod] dm on dm.despatchmethodid = PRM.DespatchMethodID	
WHERE 
	LRA.LetterRequestTypeID not in (9,10,26,27,36) AND
	DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) BETWEEN @SP_StartDate AND @SP_EndDate AND
	(PRM.DespatchMethodID = 3 OR PRM.DespatchMethodID = 1)
	AND LRA.LetterCode like 'SPSV-%'
GROUP BY
	PRM.Ppsn,
	PRM.DespatchMethodId
END
GO
