USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_CABS_Notifications_Email_Post]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_CABS_Notifications_Email_Post]
(@StartDate datetime,
@EndDate datetime) AS

BEGIN
SET NOCOUNT ON;

declare @SP_StartDate datetime = @StartDate
declare @SP_EndDate datetime = @EndDate

SELECT 
	PRM.HolderPPSN AS HolderPPSN,
	LRA.LetterRequestTypeDescription,
	CONVERT(VARCHAR(10), CONVERT(Date, DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))),103) as CreatedDate,
	count(LRA.lettercode) as totalnumber,
	ISNULL(PRD.DespatchMethodId,1) AS DespatchMethodId
from cabs_production.[dbo].[PrintRequestMasterVL] PRM
	JOIN cabs_production.[dbo].[PrintRequestDetailVL] PRD on PRD.PrintRequestMasterId = PRM.PrintRequestMasterId		
	INNER JOIN cabs_production.dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeAuditId
WHERE 
	PRD.PrintCompanyId=1	
	AND LRA.LetterRequestTypeID not in (9,10,26,27,36)
	AND DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) BETWEEN @SP_StartDate AND @SP_EndDate
	--Added later PRD.DespatchMethodID IS NULL
	AND (PRD.DespatchMethodID = 3 OR PRD.DespatchMethodID = 1 OR PRD.DespatchMethodID IS NULL)
	AND PRD.PrintRequestStatusID = 3
GROUP BY
	PRM.HolderPPSN,
	LRa.LetterRequestTypeDescription,
	DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)),   
	PRD.DespatchMethodId

UNION ALL 

SELECT 
	 PRM.Ppsn AS HolderPPSN,
	 LRa.LetterRequestTypeDescription,
	 CONVERT(VARCHAR(10), CONVERT(Date,DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate))),103) as LetterDate,
	 count(LRA.lettercode) as totalnumber,
	 PRM.DespatchMethodId
from dl.LetterRequestMaster PRM
	INNER JOIN cabs_production.dbo.LetterRequestTypeVLAudit LRA ON LRA.LetterRequestTypeAuditId = PRM.LetterRequestTypeVLAuditId
	LEFT JOIN cabs_production.[dbo].[DespatchMethod] dm on dm.despatchmethodid = PRM.DespatchMethodID	
WHERE 
	 LRA.LetterRequestTypeID not in (9,10,26,27,36) AND
	 DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)) BETWEEN @SP_StartDate AND @SP_EndDate AND
	 (PRM.DespatchMethodID = 3 OR PRM.DespatchMethodID = 1)
GROUP BY
	PRM.Ppsn,
	LRa.LetterRequestTypeDescription,
	DATEADD(dd, 0, DATEDIFF(dd, 0, PRM.CreatedDate)),	
	PRM.DespatchMethodId

end
GO
