USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_DriverRenewalsIssued]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dl].[RPT_DriverRenewalsIssued] 
(@StartDate datetime = NULL,
@EndDate datetime = NULL,
@GardaArea int = NULL
) as 
begin

SET NOCOUNT ON;

declare @SP_StartDate datetime = @StartDate
declare @SP_EndDate datetime = @EndDate
declare @SP_GardaArea int = @GardaArea

declare @CurrentDate datetime

	set @CurrentDate = cast(CONVERT(varchar(10), getdate(), 112) AS datetime)
	if(@SP_StartDate is null)
		set @SP_StartDate = DateAdd(day, -7, @CurrentDate)
	if(@SP_EndDate is null)
		set @SP_EndDate = @CurrentDate

select 
distinct 
lm.LicenceNumber 'LicenceNumber',
concat(lsm.Name, ' - ' + ls.Name) 'LicenceStatus',

CONVERT(VARCHAR(10), lm.ExpiryDate, 103) 'ExpiryDate',
CONCAT(p.FirstName, ' ', p.LastName) 'DriverName',
CONCAT(p.AddressLine1, ' ', p.AddressLine2, ' ', p.AddressLine3, ' ', p.Town, ' ', p.PostCode) 'Address',
ga.Name 'GardaArea',
pa.Name 'PrimaryArea',
stuff((select ';' + a.Name
	 from dl.AdditionalArea aa
	 inner join dl.Area a on aa.AdditionalAreaId=a.AreaId
	 where aa.LicenceMasterId=lm.LicenceMasterId
	 for xml path ('')
	 ), 1, 1, '') 'AdditionalAreas'
from dl.LicenceMaster lm with (nolock)
inner join dl.LicenceHolderMaster lh with (nolock) on lm.LicenceMasterId = lh.LicenceMasterId
inner join person.v_opv p with (nolock) on p.Id=lh.PersonId
	left join dl.LicenceStateMaster lsm with (nolock) on lsm.LicenceStateMasterID = lm.LicenceStateMasterID
	left join dl.LicenceState ls with (nolock) on ls.LicenceStateId = lm.LicenceStateId
inner join dl.GardaArea ga with (nolock) on ga.GardaAreaId=lm.GardaAreaId
left join dl.Area pa with (nolock) on pa.AreaId=lm.PrimaryAreaId
left join audit.Process ap with (nolock) on ap.ObjectId=lm.LicenceMasterId 

where
ap.ProcessTypeId=19 --Renew Licence
and ap.ChangeDate BETWEEN @SP_StartDate AND @SP_EndDate
and ((-1 in (@SP_GardaArea)) or (ga.GardaAreaId in (@SP_GardaArea)))
order by ga.Name

end





GO
