USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_ParameterPrintRequestBatchId]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_ParameterPrintRequestBatchId] as
begin
SET NOCOUNT ON;

select 
distinct
left(BatchId,8) as BId,
format(convert(date, left(BatchId,8)), 'dd/MM/yyyy') 'BatchDate'
from dl.PrintcardRequest pcr with (nolock)
order by 1 desc

end
GO
