USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_DriverByIssueDate]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_DriverByIssueDate]
(@StartDate datetime = NULL,
@EndDate datetime = NULL
) as 
begin

SET NOCOUNT ON;

declare @SP_StartDate datetime = @StartDate
declare @SP_EndDate datetime = @EndDate

select 
lm.LicenceNumber 'LicenceNumber',
concat(lsm.Name, ' - ' + ls.Name)  'LicenceStatus', 
CONVERT(VARCHAR(10), lm.ExpiryDate, 103) 'ExpiryDate',
CONVERT(VARCHAR(10), lm.IssueDate, 103) 'IssueDate',
CONCAT(p.FirstName, ' ', p.LastName) 'DriverName',
p.PPSN 'PPSN',
convert(varchar,p.DateOfBirth, 103) 'DateOfBirth',
CONCAT(p.AddressLine1, ' ', p.AddressLine2, ' ', p.AddressLine3, ' ', p.Town, ' ', p.PostCode) 'Address',
pa.Name 'PrimaryArea',
stuff((select ';' + a.Name
	 from dl.AdditionalArea aa
	 inner join dl.Area a on aa.AdditionalAreaId=a.AreaId
	 where aa.LicenceMasterId=lm.LicenceMasterId
	 for xml path ('')
	 ), 1, 1, '') 'AdditionalAreas'
from dl.LicenceMaster lm with (nolock)
inner join dl.LicenceHolderMaster lh with (nolock) on lm.LicenceMasterId = lh.LicenceMasterId
inner join person.v_opv p with (nolock) on p.Id=lh.PersonId
	left join dl.LicenceStateMaster lsm with (nolock) on lsm.LicenceStateMasterID = lm.LicenceStateMasterID
	left join dl.LicenceState ls with (nolock) on ls.LicenceStateId = lm.LicenceStateId
inner join dl.GardaArea ga with (nolock) on ga.GardaAreaId=lm.GardaAreaId
left join dl.Area pa with (nolock) on pa.AreaId=lm.PrimaryAreaId
where lm.IssueDate between @SP_StartDate and @SP_EndDate

end
GO
