USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_DriversPerArea]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_DriversPerArea] as
begin
SET NOCOUNT ON;

select 
pa.AreaId,
pa.Name 'CountyName',
pa.ProjectedPrimArea,
aa.ProjectedSecArea,
pa.ProjectedPrimArea + aa.ProjectedSecArea 'Total',
(select COUNT(*) from dl.LicenceMaster lm with (nolock) where LicenceStateMasterId = 1) 'ActiveLicences'
from (
	select 
		pa.AreaId 'AreaId',
		pa.Name, COUNT(*) 'ProjectedPrimArea'
	from dl.LicenceMaster lm with (nolock)
	left join dl.Area pa with (nolock) on lm.PrimaryAreaId=pa.AreaId
	where LicenceStateMasterId = 1
	group by pa.AreaId, pa.Name
) pa
left join 
(
	select 
		aa.AreaId 'AreaId',
		aa.Name , COUNT(*) 'ProjectedSecArea'
	from dl.LicenceMaster lm with (nolock)
	left join dl.AdditionalArea a with (nolock) on a.LicenceMasterId=lm.LicenceMasterId
	left join dl.Area aa with (nolock) on a.AdditionalAreaId=aa.AreaId
	where LicenceStateMasterId = 1
	group by aa.AreaId, aa.Name
) aa
on pa.Name=aa.Name
order by Total desc

end
GO
