USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_AllDriverLicences]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dl].[RPT_AllDriverLicences]
(@LicenceStatus varchar(2000)
,@County varchar(2000) ) WITH RECOMPILE
as
begin
SET NOCOUNT ON;

declare @SP_LicenceStatus varchar(2000) = @LicenceStatus 
declare @SP_County varchar(2000) = @County

select 
ROW_NUMBER() OVER (PARTITION BY tc.PersonId order by tc.TaxClearanceCheckDate desc) 'RankIdTCCheckDate',
ROW_NUMBER() OVER (PARTITION BY tc.PersonId, rn.RevenueNotificationTypeId order by rn.RevenueNotificationSendDate desc) 'RankIdNotificationType',
tc.TaxClearanceCheckId,
tc.PersonId,
tc.TaxClearanceCheckDate,
tc.TaxClearanceName,
tc.TaxClearanceNumber,
tc.TaxClearanceStatusId,
rn.RevenueNotificationSendDate,
rn.RevenueNotificationTypeId
into #TaxClearance
from person.TaxClearanceCheck tc with (nolock) 
left join person.RevenueNotification rn with (nolock) on rn.TaxClearanceCheckId=tc.TaxClearanceCheckId

CREATE NONCLUSTERED INDEX [IX_TaxClearance_1]
ON [dbo].[#TaxClearance] ([RankIdNotificationType],[PersonId],[RevenueNotificationTypeId])
INCLUDE ([RevenueNotificationSendDate])

CREATE NONCLUSTERED INDEX [IX_TaxClearance_2]
ON [dbo].[#TaxClearance] ([RankIdTCCheckDate])
INCLUDE ([PersonId],[TaxClearanceCheckDate],[TaxClearanceName],[TaxClearanceNumber],[TaxClearanceStatusId])

select P.PPSN As PPSN 
into #DriverCertified 
from cabs_production.cabs_cmo.Person p with (nolock)
join cabs_production.cabs_sk.Candidate c with (nolock) on c.PersonID=p.ID
join cabs_production.cabs_sk.Booking b with (nolock) on b.CandidateID=c.ID
join cabs_production.cabs_sk.CandidateTest ct with (nolock) on ct.BookingID=b.ID
join cabs_production.cabs_sk.Test t with (nolock) on b.TestID=t.ID
where ct.ResultID=2 
and t.Code IN ('IKT','SPSV', 'SPSVx2', 'IKTx2', 'RET_IK', 'RET_AK', 'RET_IKx2', 'RET_AKx2')
group by P.PPSN 

select 
DriverLicenceNumber, VehicleLicenseNumber, StartDate, EndDate 
into #LinkedVehicle 
from cabs_production.cabs_dvl.VehicleDriver with (nolock)
	where IsActive=1 
	and (WasLinkBroken is null OR WasLinkBroken=0) 
	and (IsExpired is null OR IsExpired=0)
	and StartDate <= getdate() AND (EndDate > getdate() OR EndDate IS NULL)



Select distinct
lm.LicenceNumber 'LicenceNumber',
p.FirstName 'FirstName',
p.LastName 'LastName',
p.PPSN 'PPSN',
p.DateOfBirth 'DOB',
p.CCSN 'CCSN',
CONVERT(VARCHAR(10), lm.IssueDate, 103) 'LicenceIssueDate',
CONVERT(VARCHAR(10), lm.ExpiryDate, 103) 'LicenceExpiryDate',
p.AddressLine1 'AddressLine1',
p.AddressLine2 'AddressLine2',
p.AddressLine3 'AddressLine3',
p.Town 'Town',
p.CountyName 'CountyName',
p.PostCode 'PostCode',
CASE WHEN dlc.PPSN IS NOT NULL THEN 'Certified' ELSE 'Not Certified' END as CertStatus,
p.MobilePhone 'MobilePhone',
p.OtherPhone 'OtherPhone',
p.Email 'Email',
dlg.Name 'GardaArea',
dla.Name 'PrimaryArea',
stuff((select ';' + a.Name
	 from dl.AdditionalArea aa
	 inner join dl.Area a on aa.AdditionalAreaId=a.AreaId
	 where aa.LicenceMasterId=lm.LicenceMasterId
	 for xml path ('')
	 ), 1, 1, '') 'Additional Areas',
ll.Area 'LAHArea',

IIF(v.VehicleLicenseNumber is null, 'No', 'Yes') 'ActiveDriverLink',
v.VehicleLicenseNumber 'LinkedVehicle',
v.StartDate 'ActiveLinkStartDate',
v.EndDate 'ActiveLinkEndDate',

concat(lsm.LicenceStateMasterId,ls.LicenceStateId) 'LicenceStateId', 
concat(lsm.Name, ' - ' + ls.Name) 'LicenceStateName',

case when tc.TaxClearanceStatusId = 1 then 'True' else 'False' end 'TaxClearanceCheckStatus',
tc.TaxClearanceName,
tc.TaxClearanceNumber,
tc.TaxClearanceCheckDate,
rnsd1.TCLastInitialNotification,
rnsd2.TCLast30DaysNotification
from dl.LicenceMaster lm with (nolock)
inner join dl.LicenceHolderMaster lhm with (nolock) on lhm.LicenceMasterId = lm.LicenceMasterId
inner join person.v_opv p with (nolock) on p.Id=lhm.PersonId
left join dl.LicenceStateMaster lsm with (nolock) on lsm.LicenceStateMasterID = lm.LicenceStateMasterID
	left join dl.LicenceState ls with (nolock) on ls.LicenceStateId = lm.LicenceStateId
left join dl.Area dla with (nolock) on dla.AreaId=lm.PrimaryAreaId
left join dl.GardaArea dlg with (nolock) on dlg.GardaAreaId=lm.GardaAreaId
left join #DriverCertified dlc on dlc.PPSN = P.PPSN
left join cabs_production.dbo.LAHLink ll with (nolock) on ll.DriverLicenceNumber = lm.LicenceNumber
left join #LinkedVehicle v on v.DriverLicenceNumber=lm.LicenceNumber
left join #TaxClearance tc on tc.PersonId=p.id and tc.RankIdTCCheckDate=1
OUTER APPLY ( select tc1.RevenueNotificationSendDate from #TaxClearance tc1 where tc1.RankIdNotificationType=1 and tc1.RevenueNotificationTypeId=1 and tc1.PersonId=p.Id ) rnsd1 (TCLastInitialNotification)
OUTER APPLY ( select tc1.RevenueNotificationSendDate from #TaxClearance tc1 where tc1.RankIdNotificationType=2 and tc1.RevenueNotificationTypeId=1 and tc1.PersonId=p.Id ) rnsd2 (TCLast30DaysNotification)

WHERE
concat(lsm.LicenceStateMasterId,ls.LicenceStateId) in (select Element from cabs_production.dbo.func_Split(@SP_LicenceStatus, ','))
AND dla.AreaId in (select Element from cabs_production.dbo.func_Split(@SP_County, ','))

ORDER by LM.LicenceNumber DESC

drop table #DriverCertified
drop table #LinkedVehicle
drop table #TaxClearance

END
GO
