USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_ParameterPrimaryArea]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_ParameterPrimaryArea] as
begin
SET NOCOUNT ON;

select AreaId, Name from dl.Area with (nolock)
order by AreaId

end
GO
