USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_DriversStatsByPrimaryArea]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_DriversStatsByPrimaryArea] as
begin
SET NOCOUNT ON;

;with
CTE_DriverCertified AS 
(
select P.PPSN As PPSN 
from cabs_production.cabs_cmo.Person p with (nolock)
join cabs_production.cabs_sk.Candidate c with (nolock) on c.PersonID=p.ID
join cabs_production.cabs_sk.Booking b with (nolock) on b.CandidateID=c.ID
join cabs_production.cabs_sk.CandidateTest ct with (nolock) on ct.BookingID=b.ID
join cabs_production.cabs_sk.Test t with (nolock) on b.TestID=t.ID
where ct.ResultID=2 
and t.Code IN ('IKT','SPSV', 'SPSVx2', 'IKTx2', 'RET_IK', 'RET_AK', 'RET_IKx2', 'RET_AKx2')
group by P.PPSN 
)

select PrimaryArea, iif(CertStatus='Certified', 'YES', 'NO') 'CertStatus', COUNT(*) 'CountLicences' from (
	select 
	pa.Name 'PrimaryArea',
	CASE WHEN dlc.PPSN IS NOT NULL THEN 'Certified' ELSE 'Not Certified' END as CertStatus,
	lm.LicenceMasterId
	from dl.LicenceMaster lm with (nolock)
	inner join dl.LicenceHolderMaster lh with (nolock) on lm.LicenceMasterId = lh.LicenceMasterId
	inner join person.v_opv p with (nolock) on p.Id=lh.PersonId
		left join dl.LicenceStateMaster ls with (nolock) on ls.LicenceStateMasterID = lm.LicenceStateMasterID
	left join CTE_DriverCertified dlc with (nolock) on dlc.PPSN = P.PPSN
	left join dl.Area pa with (nolock) on pa.AreaId=lm.PrimaryAreaId
	where lm.LicenceStateMasterId=1
) q
group by PrimaryArea, CertStatus
order by PrimaryArea

end
GO
