USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_IDCardsToBeSentToPrint]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_IDCardsToBeSentToPrint] as
begin
SET NOCOUNT ON;

select 
pcr.LicenceNumber,
pcrs.PrintcardRequestSourceName 'RequestType',
pcr.FirstName + ' ' + pcr.LastName 'Name',
concat(pct.PrintcardTypeName, isnull(' ' + prt.PrintcardRequestTypeName, '')) 'CardRequestType',
convert(char(10), pcr.CreatedDate, 103) 'CreatedDate'
from dl.PrintcardRequest pcr with (nolock)
	 inner join dl.Printcard pc with (nolock) on pc.PrintcardRequestId=pcr.PrintcardRequestId
	 left join dl.PrintcardRequestSource pcrs with (nolock) on pcrs.PrintcardRequestSourceId=pcr.PrintcardRequestSourceId
	 left join dl.PrintcardType pct with (nolock) on pct.PrintcardTypeId=pc.PrintcardTypeId
	 left join dl.PrintcardRequestType prt with (nolock) on prt.PrintcardRequestTypeId=pcr.PrintcardRequestTypeId
where 
pcr.BatchId is null
and pcr.PrintcardStatusId = 1 --NEW
and pc.PrintcardTypeId=1 --ID CARD

end
GO
