USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_3M_DLS_Printed]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_3M_DLS_Printed]
(@Bid char(8)) as
begin
SET NOCOUNT ON;

declare @SP_BId char(8) = @Bid

select 
pc.PrintcardId,
pcr.PrintcardRequestId,
pcr.BatchId,
pcr.LicenceNumber,
left(BatchId,8) as BId, 
concat(pct.PrintcardTypeName, isnull(' ' + prt.PrintcardRequestTypeName, '')) 'CardRequestType',
pcr.CreatedDate  'CreatedDate',
pcr.CreatedBy,
pcr.DespatchDate 'DispatchDate',
dm.DespatchMethodDescription 'DispatchMethodDescription',
pcr.PrintcardRequestStatusMessage 'PrintRequestStatusMessage',
format(convert(date, left(BatchId,8)), 'dd/MM/yyyy') 'BatchDate'
from dl.PrintcardRequest pcr with (nolock)
	 inner join dl.Printcard pc with (nolock) on pc.PrintcardRequestId=pcr.PrintcardRequestId
	 left join dl.PrintcardType pct with (nolock) on pct.PrintcardTypeId=pc.PrintcardTypeId and pct.PrintcardTypeId in (1,2,3)
	 left join dl.PrintcardRequestType prt with (nolock) on prt.PrintcardRequestTypeId=pcr.PrintcardRequestTypeId
	 left join dl.PrintcardRequestDespatchMethod dm with (nolock) on dm.PrintcardRequestDespatchMethodId=pcr.PrintcardRequestDespatchMethodId
where left(BatchId,8) = @SP_BId

end
GO
