USE [cabs_production]
GO
/****** Object:  StoredProcedure [dl].[RPT_RSS_OverviewByDate]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dl].[RPT_RSS_OverviewByDate]
(@StartDate datetime, @EndDate datetime) as
begin
SET NOCOUNT ON;

declare @SP_StartDate datetime = @StartDate
declare @SP_EndDate datetime = @EndDate

;with cte1 as (
select 
 pc.Area, 
 pcr.LicenceNumber
from dl.PrintcardRequest pcr with (nolock)
	 inner join dl.Printcard pc with (nolock) on pc.PrintcardRequestId=pcr.PrintcardRequestId
	 inner join dl.Payment py with (nolock) on py.PaymentId=pcr.PaymentId
where 
py.PaymentStatusId=1 --Successful
and py.CreatedDate >= @SP_StartDate and py.CreatedDate <= dateadd(day,1, @SP_EndDate)
)

select
Area,
count(*) 'countArea',
(select count(distinct LicenceNumber) from cte1) 'countDistinctLicence',
(select count(*) from cte1) 'countAll'

from cte1
group by Area

end
GO
