USE [cabs_production]
GO
/****** Object:  View [dl].[vLicenceMaster]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dl].[vLicenceMaster] AS
SELECT 
       lm.[LicenceNumber]
	  ,lm.[LicenceTypeId] as [LicenceTypeID]
      ,lm.[LicenceMasterId] as [LicenceHolderId]
	  ,lm.[IssueDate] as [LicenceIssueDate]
	  ,lm.[ExpiryDate] as [LicenceExpiryDate] 
	  ,DATEDIFF(day, GETDATE(), lm.[ExpiryDate]) as [RemainingLicenceValidityDays]
	  ,lm.[GardaAreaId] as [GardaDivisionID]
	  ,(CASE	
		WHEN lm.[LicenceStateMasterId] = 1 AND lm.[LicenceStateId] IS NULL THEN 1
		WHEN lm.[LicenceStateMasterId] = 1 AND lm.[LicenceStateId] = 1 THEN 2
		WHEN lm.[LicenceStateMasterId] = 1 AND lm.[LicenceStateId] = 2 THEN 3
		WHEN lm.[LicenceStateMasterId] = 1 AND lm.[LicenceStateId] = 3 THEN 4
		WHEN lm.[LicenceStateMasterId] = 1 AND lm.[LicenceStateId] = 5 THEN 5
		WHEN lm.[LicenceStateMasterId] = 1 AND lm.[LicenceStateId] = 6 THEN 6
		WHEN lm.[LicenceStateMasterId] = 2 AND lm.[LicenceStateId] IS NULL THEN 7
		WHEN lm.[LicenceStateMasterId] = 2 AND lm.[LicenceStateId] = 1 THEN 8
		WHEN lm.[LicenceStateMasterId] = 2 AND lm.[LicenceStateId] = 2 THEN 9
		WHEN lm.[LicenceStateMasterId] = 2 AND lm.[LicenceStateId] = 3 THEN 10
		WHEN lm.[LicenceStateMasterId] = 2 AND lm.[LicenceStateId] = 5 THEN 11
		WHEN lm.[LicenceStateMasterId] = 2 AND lm.[LicenceStateId] = 6 THEN 12
		WHEN lm.[LicenceStateMasterId] = 3 AND lm.[LicenceStateId] IS NULL THEN 13
		WHEN lm.[LicenceStateMasterId] = 3 AND lm.[LicenceStateId] = 1 THEN 14
		WHEN lm.[LicenceStateMasterId] = 3 AND lm.[LicenceStateId] = 2 THEN 15
		WHEN lm.[LicenceStateMasterId] = 3 AND lm.[LicenceStateId] = 3 THEN 16
		WHEN lm.[LicenceStateMasterId] = 3 AND lm.[LicenceStateId] = 5 THEN 17
		WHEN lm.[LicenceStateMasterId] = 3 AND lm.[LicenceStateId] = 6 THEN 18
		WHEN lm.[LicenceStateMasterId] = 4 AND lm.[LicenceStateId] IS NULL THEN 19
		WHEN lm.[LicenceStateMasterId] = 4 AND lm.[LicenceStateId] = 1 THEN 20
		WHEN lm.[LicenceStateMasterId] = 4 AND lm.[LicenceStateId] = 2 THEN 21
		WHEN lm.[LicenceStateMasterId] = 4 AND lm.[LicenceStateId] = 3 THEN 22
		WHEN lm.[LicenceStateMasterId] = 4 AND lm.[LicenceStateId] = 5 THEN 23
		WHEN lm.[LicenceStateMasterId] = 4 AND lm.[LicenceStateId] = 6 THEN 24
		END) as [LicenceStateMasterID]
	  ,0 as [LicenceStateID]
	  ,NULL as [VehicleId]
	  ,NULL as [RemainingTransfers]
	  ,lm.[CreatedBy]
      ,lm.[CreatedDate]
      ,lm.[ModifiedBy]
      ,lm.[ModifiedDate]
	  ,NULL as [Comments]
      ,w.[IsOnWatchList] as [WatchList]
      ,lm.[ApplicationReceivedDate]    
 FROM [dl].[LicenceMaster] lm
  left join [dl].[LicenceHolderMaster] lhm
  on lm.[LicenceMasterId] = lhm.[LicenceMasterId]
  left join [person].[Person] p
  on lhm.PersonId = p.PersonId
  left join 
  (select ROW_NUMBER() OVER (PARTITION BY PersonId order by CreatedDate desc) 'RankId', IsOnWatchList, PersonId  from person.WatchList with (nolock)) w on w.PersonId=lhm.PersonId and w.RankId=1


GO
