USE [cabs_production]
GO
/****** Object:  View [dl].[vPersonCounty]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dl].[vPersonCounty] AS
SELECT [CountyId] as [CountyID]
      ,[CountyName]
      ,[HasPostCode] as [HasPostcode]
      ,[CreatedBy]
      ,[CreatedDate]
      ,[ModifiedBy]
      ,[ModifiedDate]
  FROM [person].[County]
GO
