USE [cabs_production]
GO
/****** Object:  View [dl].[vDriverImages]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dl].[vDriverImages] AS

WITH tmpImg as
(
SELECT 
      [PersonId] as [PersonId]
      ,Max([CreatedDate]) as [MaxDate]
  FROM [person].[Image]
  group by [PersonId]
)

select i.[ImageId] as [ImageID]
      ,p.[PPSN] 
      ,i.[ImageDate] as [ImageContent]
from tmpImg ti 
join [person].[Image] i on i.PersonId = ti.PersonId and i.CreatedDate = ti.MaxDate
join [person].[Person] p  on i.PersonId = p.PersonId


GO
