USE [cabs_production]
GO
/****** Object:  Table [emailservice].[EmailAttachments]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [emailservice].[EmailAttachments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Content] [varbinary](max) NULL,
	[EmailMessageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EmailAttachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailAttachments_EmailMessageId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_EmailAttachments_EmailMessageId] ON [emailservice].[EmailAttachments]
(
	[EmailMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [emailservice].[EmailAttachments]  WITH CHECK ADD  CONSTRAINT [FK_EmailAttachments_EmailMessages_EmailMessageId] FOREIGN KEY([EmailMessageId])
REFERENCES [emailservice].[EmailMessages] ([Id])
GO
ALTER TABLE [emailservice].[EmailAttachments] CHECK CONSTRAINT [FK_EmailAttachments_EmailMessages_EmailMessageId]
GO
