USE [cabs_production]
GO
/****** Object:  Table [emailservice].[EmailMessages]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [emailservice].[EmailMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[EmailStatus] [nvarchar](255) NOT NULL,
	[FromAddress] [nvarchar](255) NOT NULL,
	[FromName] [nvarchar](255) NOT NULL,
	[Subject] [nvarchar](1000) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[IsHtmlBody] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
