USE [cabs_production]
GO
/****** Object:  Table [payment].[Payment]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [payment].[Payment](
	[PaymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NULL,
	[MerchantId] [nvarchar](max) NULL,
	[ProdId] [nvarchar](max) NULL,
	[Hash] [nvarchar](max) NULL,
	[Ammount] [nvarchar](max) NULL,
	[OrderId] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[PaymentUsed] [bit] NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [payment].[Payment] ADD  DEFAULT ((0)) FOR [PaymentUsed]
GO
