USE [cabs_production]
GO
/****** Object:  Table [payment].[RealexResponse]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [payment].[RealexResponse](
	[RealexResponseId] [bigint] IDENTITY(1,1) NOT NULL,
	[Result] [nvarchar](max) NULL,
	[Authcode] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[Pasref] [nvarchar](max) NULL,
	[MerchantId] [nvarchar](max) NULL,
	[OrderId] [nvarchar](max) NULL,
	[TimeStamp] [nvarchar](max) NULL,
	[Amount] [nvarchar](max) NULL,
	[Sha1Hash] [nvarchar](max) NULL,
	[PaymentId] [bigint] NOT NULL,
 CONSTRAINT [PK_RealexResponse] PRIMARY KEY CLUSTERED 
(
	[RealexResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_RealexResponse_PaymentId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RealexResponse_PaymentId] ON [payment].[RealexResponse]
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [payment].[RealexResponse]  WITH CHECK ADD  CONSTRAINT [FK_RealexResponse_Payment_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [payment].[Payment] ([PaymentId])
ON DELETE CASCADE
GO
ALTER TABLE [payment].[RealexResponse] CHECK CONSTRAINT [FK_RealexResponse_Payment_PaymentId]
GO
