USE [cabs_production]
GO
/****** Object:  Table [person].[PersonHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[PersonHistory](
	[PersonId] [int] NOT NULL,
	[CCSN] [varchar](20) NOT NULL,
	[PPSN] [varchar](20) NOT NULL,
	[PersonTypeId] [tinyint] NOT NULL,
	[PersonStatusId] [tinyint] NOT NULL,
	[ContactMethodId] [tinyint] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
