USE [cabs_production]
GO
/****** Object:  Table [person].[Person]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[Person](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[CCSN] [varchar](20) NOT NULL,
	[PPSN] [varchar](20) NOT NULL,
	[PersonTypeId] [tinyint] NOT NULL,
	[PersonStatusId] [tinyint] NOT NULL,
	[ContactMethodId] [tinyint] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [person].[PersonHistory] )
)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Person_PPSN]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Person_PPSN] ON [person].[Person]
(
	[PPSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CCSN]    Script Date: 14/04/2022 13:21:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CCSN] ON [person].[Person]
(
	[CCSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PPSN]    Script Date: 14/04/2022 13:21:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_PPSN] ON [person].[Person]
(
	[PPSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [person].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_To_ContactMethod] FOREIGN KEY([ContactMethodId])
REFERENCES [person].[ContactMethod] ([ContactMethodId])
GO
ALTER TABLE [person].[Person] CHECK CONSTRAINT [FK_Person_To_ContactMethod]
GO
ALTER TABLE [person].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_To_PersonStatus] FOREIGN KEY([PersonStatusId])
REFERENCES [person].[PersonStatus] ([PersonStatusId])
GO
ALTER TABLE [person].[Person] CHECK CONSTRAINT [FK_Person_To_PersonStatus]
GO
ALTER TABLE [person].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_To_PersonType] FOREIGN KEY([PersonTypeId])
REFERENCES [person].[PersonType] ([PersonTypeId])
GO
ALTER TABLE [person].[Person] CHECK CONSTRAINT [FK_Person_To_PersonType]
GO
