USE [cabs_production]
GO
/****** Object:  Table [person].[County]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[County](
	[CountyId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CountyName] [varchar](20) NOT NULL,
	[CountyIrishName] [nvarchar](50) NULL,
	[HasPostCode] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_County] PRIMARY KEY CLUSTERED 
(
	[CountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [person].[CountyHistory] )
)
GO
ALTER TABLE [person].[County] ADD  DEFAULT ((0)) FOR [HasPostCode]
GO
ALTER TABLE [person].[County]  WITH CHECK ADD  CONSTRAINT [FK_County_To_Country] FOREIGN KEY([CountryId])
REFERENCES [person].[Country] ([CountryId])
GO
ALTER TABLE [person].[County] CHECK CONSTRAINT [FK_County_To_Country]
GO
