USE [cabs_production]
GO
/****** Object:  Table [person].[CompanyDirector]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[CompanyDirector](
	[CompanyDirectorId] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[CompanyDirectorName] [nvarchar](100) NULL,
	[CompanyId] [int] NOT NULL,
	[CountyId] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Eircode] [nvarchar](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[PostCode] [nvarchar](12) NULL,
	[Town] [nvarchar](50) NULL,
 CONSTRAINT [PK_CompanyDirector] PRIMARY KEY CLUSTERED 
(
	[CompanyDirectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [person].[CompanyDirector]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDirector_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [person].[Company] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [person].[CompanyDirector] CHECK CONSTRAINT [FK_CompanyDirector_Company_CompanyId]
GO
ALTER TABLE [person].[CompanyDirector]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDirector_County_CountyId] FOREIGN KEY([CountyId])
REFERENCES [person].[County] ([CountyId])
GO
ALTER TABLE [person].[CompanyDirector] CHECK CONSTRAINT [FK_CompanyDirector_County_CountyId]
GO
