USE [cabs_production]
GO
/****** Object:  Table [person].[Ceased]    Script Date: 14/04/2022 13:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[Ceased](
	[CeasedId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[FileId] [int] NULL,
	[Comment] [nvarchar](2000) NULL,
	[CeasedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Ceased] PRIMARY KEY CLUSTERED 
(
	[CeasedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [person].[Ceased]  WITH CHECK ADD  CONSTRAINT [FK_Ceased_To_File] FOREIGN KEY([FileId])
REFERENCES [person].[File] ([FileId])
GO
ALTER TABLE [person].[Ceased] CHECK CONSTRAINT [FK_Ceased_To_File]
GO
ALTER TABLE [person].[Ceased]  WITH CHECK ADD  CONSTRAINT [FK_Ceased_To_Person] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
GO
ALTER TABLE [person].[Ceased] CHECK CONSTRAINT [FK_Ceased_To_Person]
GO
