USE [cabs_production]
GO
/****** Object:  Table [person].[ImageHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[ImageHistory](
	[ImageId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[ImageName] [varchar](256) NULL,
	[ImageDate] [varbinary](max) NOT NULL,
	[FileType] [varchar](10) NULL,
	[ImageTypeId] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
