USE [cabs_production]
GO
/****** Object:  Table [person].[RevenueNotificationHistory]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[RevenueNotificationHistory](
	[RevenueNotificationId] [int] NOT NULL,
	[TaxClearanceCheckId] [int] NOT NULL,
	[RevenueNotificationSendDate] [datetime] NOT NULL,
	[RevenueNotificationTypeId] [tinyint] NOT NULL,
	[CreatedBy] [varchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
