USE [cabs_production]
GO
/****** Object:  Table [person].[Address]    Script Date: 14/04/2022 13:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [person].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[AddressLine1] [nvarchar](100) NOT NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[PostCode] [varchar](12) NULL,
	[CountyId] [int] NOT NULL,
	[Eircode] [varchar](7) NULL,
	[Irish] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[ModifiedDate] [datetime] NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [person].[AddressHistory] )
)
GO
/****** Object:  Index [IX_Address_PersonId_AddressLine1AddressLine2AddressLine3TownPostCodeCountyId]    Script Date: 14/04/2022 13:21:34 ******/
CREATE NONCLUSTERED INDEX [IX_Address_PersonId_AddressLine1AddressLine2AddressLine3TownPostCodeCountyId] ON [person].[Address]
(
	[PersonId] ASC
)
INCLUDE([AddressLine1],[AddressLine2],[AddressLine3],[Town],[PostCode],[CountyId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [person].[Address] ADD  DEFAULT ((0)) FOR [Irish]
GO
ALTER TABLE [person].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_To_County] FOREIGN KEY([CountyId])
REFERENCES [person].[County] ([CountyId])
GO
ALTER TABLE [person].[Address] CHECK CONSTRAINT [FK_Address_To_County]
GO
ALTER TABLE [person].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_To_Person] FOREIGN KEY([PersonId])
REFERENCES [person].[Person] ([PersonId])
GO
ALTER TABLE [person].[Address] CHECK CONSTRAINT [FK_Address_To_Person]
GO
