USE [cabs_production]
GO
/****** Object:  StoredProcedure [retention].[RunRules_AddVersioning_CABS_PRODUCTION]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   proc [retention].[RunRules_AddVersioning_CABS_PRODUCTION] as
	ALTER TABLE cabs_enf.Fines SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = cabs_enf.FinesHistory ))
	ALTER TABLE person.Address SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.AddressHistory ))
	ALTER TABLE person.Company SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.CompanyHistory ))
	ALTER TABLE person.ContactMethod SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.ContactMethodHistory ))
	ALTER TABLE person.Country SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.CountryHistory ))
	ALTER TABLE person.County SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.CountyHistory ))
	ALTER TABLE person.DataSource SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.DataSourceHistory ))
	ALTER TABLE person.Email SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.EmailHistory ))
	ALTER TABLE person.Image SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.ImageHistory ))
	ALTER TABLE person.ImageType SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.ImageTypeHistory ))
	ALTER TABLE person.Individual SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.IndividualHistory ))
	ALTER TABLE person.person SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.personHistory ))
	ALTER TABLE person.PersonStatus SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.PersonStatusHistory ))
	ALTER TABLE person.PersonType SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.PersonTypeHistory ))
	ALTER TABLE person.Phone SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.PhoneHistory ))
	ALTER TABLE person.PhoneType SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.PhoneTypeHistory ))
	ALTER TABLE person.RevenueNotification SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.RevenueNotificationHistory ))
	ALTER TABLE person.RevenueNotificationType SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.RevenueNotificationTypeHistory ))
	ALTER TABLE person.TaxClearanceCheck SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.TaxClearanceCheckHistory ))
	ALTER TABLE person.TaxClearanceStatus SET (SYSTEM_VERSIONING = ON ( HISTORY_TABLE = person.TaxClearanceStatusHistory ))

GO
