USE [cabs_production]
GO
/****** Object:  StoredProcedure [retention].[RunRules_RemoveVersioning_CABS_PRODUCTION]    Script Date: 14/04/2022 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [retention].[RunRules_RemoveVersioning_CABS_PRODUCTION] as
	ALTER TABLE cabs_enf.Fines SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.Address SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.Company SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.ContactMethod SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.Country SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.County SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.DataSource SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.Email SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.Image SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.ImageType SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.Individual SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.Person SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.PersonStatus SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.PersonType SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.Phone SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.PhoneType SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.RevenueNotification SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.RevenueNotificationType SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.TaxClearanceCheck SET (SYSTEM_VERSIONING = OFF)
	ALTER TABLE person.TaxClearanceStatus SET (SYSTEM_VERSIONING = OFF)

GO
