USE [NVDFApiDb]
GO
/****** Object:  Table [nvdfapi].[Credentials]    Script Date: 14/04/2022 13:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [nvdfapi].[Credentials](
	[CredentialsId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[ApplicationSettingsId] [int] NOT NULL,
 CONSTRAINT [PK_Credentials] PRIMARY KEY CLUSTERED 
(
	[CredentialsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Credentials_ApplicationSettingsId]    Script Date: 14/04/2022 13:28:51 ******/
CREATE NONCLUSTERED INDEX [IX_Credentials_ApplicationSettingsId] ON [nvdfapi].[Credentials]
(
	[ApplicationSettingsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [nvdfapi].[Credentials]  WITH CHECK ADD  CONSTRAINT [FK_Credentials_ApplicationSettings_ApplicationSettingsId] FOREIGN KEY([ApplicationSettingsId])
REFERENCES [nvdfapi].[ApplicationSettings] ([ApplicationSettingsId])
ON DELETE CASCADE
GO
ALTER TABLE [nvdfapi].[Credentials] CHECK CONSTRAINT [FK_Credentials_ApplicationSettings_ApplicationSettingsId]
GO
