USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_ClearAllCaseData]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_ClearAllCaseData]
AS
	DELETE FROM CaseTypeDetails
	
	DELETE FROM LicenceDetails  
	
	DELETE FROM LicenceInfo 
	
	DELETE FROM ActionTypeDetails  
	
	DELETE FROM UpdateRequests 
		
	DELETE FROM LicenceHolderCorrespondence 
	
	DELETE FROM EscalationReasons 
		
	DELETE FROM EscalationDetails 

	DELETE FROM AssignedCases
	
	DELETE FROM MailingRequests
	
	UPDATE SupportCases 
	SET StateId = 1
	
--	DELETE FROM SupportCases	
	RETURN

GO
