USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddMailingRequest]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_AddMailingRequest] 
(
	@CaseId int,
	@MailingType int,
	@RequestedByUsername nvarchar(256),
	@RequestedDate datetime,
	@Instruction ntext,
	@CompletedByUsername nvarchar(256),
	@CompletedDate datetime,
	@ActionTaken ntext,
	@Id int output
)
AS
	INSERT INTO MailingRequests
	(CaseId, Instruction, MailingType, RequestedByUsername, RequestedDate, CompletedByUsername, CompletedDate, ActionTaken)
	VALUES
	(@CaseId, @Instruction, @MailingType, @RequestedByUsername, @RequestedDate, @CompletedByUsername, @CompletedDate, @ActionTaken) 
	
	SET @Id = @@IDENTITY
GO
