USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_ReAssignSupportCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Reassigns a case from one user to another
--
CREATE PROCEDURE [dbo].[tr_ReAssignSupportCase]
(
	@CaseId int,
	@NewAssignedToUsername nvarchar(256)
)
AS
	UPDATE AssignedCases
	SET 
	AssignedToUsername = @NewAssignedToUsername
	WHERE 
	CaseId = @CaseId
GO
