USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetNctLocalAuthorities]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetNctLocalAuthorities]
AS
	SELECT DISTINCT LocalAuthority as LocalAuthority From import_VIMS
	WHERE LocalAuthority <> ''
	Order By LocalAuthority
GO
