USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_DeleteNctItem]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Deletes existing NCT item
--
CREATE PROCEDURE [dbo].[tr_DeleteNctItem]
(
	@Id int
)
AS

DELETE FROM import_Vims WHERE Id = @Id


GO
