USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_ClearEscalationReasons]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_ClearEscalationReasons]
(
	@EscalationId int
)
AS
	DELETE FROM	EscalationReasons
	WHERE EscalationDetailsId = @EscalationId

GO
