USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetMailingRequest]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetMailingRequest]
(
	@Id int = 0,
	@CaseId int = 0,
	@MailingType int = 0
)
AS
	if @Id > 0 
		begin
			SELECT M.Id, CaseId, S.Licence_No, MailingType, Instruction, RequestedByUsername, RequestedDate, CompletedByUsername, CompletedDate, ActionTaken 
			FROM MailingRequests M
			LEFT JOIN SupportCases S ON
			S.Id = M.CaseId
			WHERE M.Id = @Id 
		end
	else
		begin
			SELECT M.Id, CaseId, S.Licence_No, MailingType, Instruction, RequestedByUsername, RequestedDate, CompletedByUsername, CompletedDate, ActionTaken 
			FROM MailingRequests M
			LEFT JOIN SupportCases S ON
			S.Id = M.CaseId
			WHERE CaseId = @CaseId AND MailingType = @MailingType		
		end
GO
