USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddUpdateRequest]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_AddUpdateRequest]
(
	@Id int = 0,
	@CaseId int,
	@Instruction nvarchar(1000),
	@RequestedDate datetime,
	@RequestedByUsername nvarchar(256),
	@UpdateTypeId int,
	@ConfirmedDate datetime,
	@ConfirmedByUsername nvarchar(256),
	@NewLicenceNumber nvarchar(256),
	@Notes ntext,
	@Accepted int = 0
)
AS
	if @Id = 0 
		begin
			INSERT INTO UpdateRequests(CaseId, Instruction, RequestedDate, RequestedByUsername, 
											UpdateTypeId, ConfirmedDate, ConfirmedByUsername, Accepted, NewLicenceNumber, Notes)
			VALUES(@CaseId, @Instruction, @RequestedDate, @RequestedByUsername, @UpdateTypeId, @ConfirmedDate, @ConfirmedByUsername, @Accepted, @NewLicenceNumber, @Notes)
			
			RETURN @@IDENTITY
		end
	else
		begin
			UPDATE UpdateRequests SET 
			CaseId = @CaseId, 
			Instruction = @Instruction, 
			RequestedDate = @RequestedDate, 
			RequestedByUsername = @RequestedByUsername, 
			UpdateTypeId = @UpdateTypeId, 
			ConfirmedDate = @ConfirmedDate, 
			ConfirmedByUsername = @ConfirmedByUsername,
			Accepted = @Accepted,
			NewLicenceNumber = @NewLicenceNumber,
			Notes = @Notes
			WHERE 
			Id = @Id		
			
			RETURN @Id	
		end
GO
