USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[EscalationDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalationDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[EscalatedDate] [datetime] NOT NULL,
	[EscalatedByUsername] [nvarchar](256) NOT NULL,
	[EscalationNotes] [nvarchar](1000) NULL,
	[Comments] [nvarchar](1000) NULL,
 CONSTRAINT [PK_EscalatedDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EscalationDetails]  WITH CHECK ADD  CONSTRAINT [FK_EscalationDetails_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])
GO
ALTER TABLE [dbo].[EscalationDetails] CHECK CONSTRAINT [FK_EscalationDetails_import_Abtran]
GO
