USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_UpdateCaseQueryCategory]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[tr_UpdateCaseQueryCategory] 
(
	@Id INT,
	@Name NVARCHAR(50),
	@AutoPopulationFields NVARCHAR(255)
)
AS
	UPDATE
		CaseQueryCategories
	SET
		[Name] = @Name, AutoPopulationFields = @AutoPopulationFields
	WHERE
		Id = @Id



GO
