USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddCorrespondenceDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_AddCorrespondenceDetails]
(
	@CaseId int,
	@ContactedByUsername nvarchar(256),
	@ContactedDate datetime
)
AS
	-- initially only correspondence per case
	DECLARE @CorrespondenceId int
	
	SELECT @CorrespondenceId = Id FROM LicenceHolderCorrespondence WHERE CaseId = @CaseId
	
	IF( @CorrespondenceId > 0 )
		begin
			UPDATE LicenceHolderCorrespondence SET 
				ContactedByUsername = @ContactedByUsername, 
				ContactedDate = @ContactedDate
			WHERE Id = @CorrespondenceId	
		end
	else
		begin
			INSERT INTO LicenceHolderCorrespondence(CaseId, ContactedByUsername, ContactedDate)
				VALUES (@CaseId, @ContactedByUsername, @ContactedDate)
		end
GO
