USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetUpdateRequest]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetUpdateRequest]
(
	@Id int
)
AS
	SELECT  U.Id, U.CaseId, U.Instruction, U.RequestedDate, U.RequestedByUsername,
		   	U.UpdateTypeId, U.ConfirmedDate, U.ConfirmedByUsername, U.Accepted, U.NewLicenceNumber, U.Notes, T.Name
	FROM UpdateRequests U
	INNER JOIN UpdateTypes T 
	ON U.UpdateTypeId = T.Id
	WHERE U.Id = @Id
GO
