USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetLicenceDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[tr_GetLicenceDetails]
(
	@CaseId int
)
AS

	SELECT L.Id, CaseId, LicenceTypeId, DateOfRecord, Source, LicenceHolderName, LicenceHolderAddress,
		   LicenceHolderPhone, OldLicenceNumber, NewLicenceNumber, ExpiryDate, VehicleRegistration, SPSVTypeId, LongDescription, 
		   Notes, RelatedDocId
	FROM LicenceDetails L
	LEFT JOIN SPSVTypes S ON L.SPSVTypeId = S.Id 
	WHERE CaseId = @CaseId

	-- Fetch related licence information
	
	SELECT I.Id, I.CaseId, I.LocalAuthorityId, I.Notes, L.Name
	FROM LicenceInfo I
	INNER JOIN LocalAuthorities L
	ON I.LocalAuthorityId = L.Id




GO
