USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[CopiedLicenceDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CopiedLicenceDetails](
	[Id] [int] NOT NULL,
	[CaseId] [int] NOT NULL,
	[LicenceTypeId] [int] NOT NULL,
	[DateOfRecord] [datetime] NULL,
	[Source] [nvarchar](100) NULL,
	[LicenceHolderName] [nvarchar](200) NULL,
	[LicenceHolderAddress] [nvarchar](200) NULL,
	[LicenceHolderPhone] [nvarchar](50) NULL,
	[OldLicenceNumber] [nvarchar](50) NULL,
	[NewLicenceNumber] [nvarchar](50) NULL,
	[ExpiryDate] [datetime] NULL,
	[VehicleRegistration] [nvarchar](50) NULL,
	[RelatedDocId] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CopiedLicenceDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CopiedLicenceDetails] ADD  CONSTRAINT [DF_CopiedLicenceDetails_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[CopiedLicenceDetails] ADD  CONSTRAINT [DF_CopiedLicenceDetails_RelatedDocId]  DEFAULT ((0)) FOR [RelatedDocId]
GO
