USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_RemoveEscalationDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_RemoveEscalationDetails]
(
	@Id int
)
AS
	DELETE FROM EscalationDetails
	WHERE Id = @Id
GO
