USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddCaseQueryCategory]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[tr_AddCaseQueryCategory]
(
	@Name NVARCHAR(50),
	@AutoPopulationFields NVARCHAR(255),
	@Ordinal INT = NULL
)
AS
BEGIN
	
	IF @Ordinal IS NULL
		SELECT @Ordinal = MAX(Ordinal) + 1 FROM CaseQueryCategories

    INSERT INTO CaseQueryCategories
                      ([Name], Ordinal, AutoPopulationFields)
	VALUES     (@Name, @Ordinal, @AutoPopulationFields)
END


GO
