USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetSPSVTypes]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[tr_GetSPSVTypes]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT Id, ShortDescription, LongDescription FROM SPSVTypes
END

GO
