USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetLocalAuthorityInfo]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetLocalAuthorityInfo]
(
	@SearchOption int,
	@SearchText nvarchar(256),
	@PageIndex int,
	@PageSize int,
	@TotalRecords int OUTPUT
)
AS
BEGIN
	DECLARE @PageLowerBound int
	DECLARE @PageUpperBound int
	
	-- Set the page bounds
    SET @PageLowerBound = @PageSize * @PageIndex
    SET @PageUpperBound = @PageSize - 1 + @PageLowerBound

	-- Create a temp table to store the selected results
	CREATE TABLE #PageIndexForLocalAuthorityRecords 
	(
		IndexID int IDENTITY (0, 1) NOT NULL,
		Id int
	)	

	-- VehicleRegistration = 0,
	-- PlateNumber = 1,
	-- Surname = 2,
	-- LocalAuthority = 3
	if @SearchOption = 0
		Begin
			INSERT INTO #PageIndexForLocalAuthorityRecords (Id)
			SELECT Id
			FROM   import_LocalAuthority
			WHERE  dbo.VehicleRegFormat(VehicleRegistration) like @SearchText
			Order by Id
		End
	else if @SearchOption = 1
		Begin
			INSERT INTO #PageIndexForLocalAuthorityRecords (Id)
			SELECT Id
			FROM   import_LocalAuthority
			WHERE PlateNumber like @SearchText
			Order by Id
		End
	else if @SearchOption = 2
		Begin
			INSERT INTO #PageIndexForLocalAuthorityRecords (Id)
			SELECT Id
			FROM   import_LocalAuthority
			WHERE REPLACE(Surname, ' ', '') like @SearchText
			Order by Id
		End
	else if @SearchOption = 3
		Begin
				INSERT INTO #PageIndexForLocalAuthorityRecords (Id)
				SELECT Id
				FROM   import_LocalAuthority
				WHERE LocalAuthority like @SearchText
				Order by Id
		End

    SELECT @TotalRecords = @@ROWCOUNT

	SELECT	l.Id, l.VehicleRegistration, l.PlateNumber, l.Title, l.FirstName, l.Surname, 
			l.Address1, l.Address2, l.Address3, l.Address4, l.Address5, 
			l.VehicleClass, l.LocalAuthority, l.ExpiryDate, l.Status
	FROM import_LocalAuthority l, #PageIndexForLocalAuthorityRecords p
    WHERE  l.Id = p.Id AND p.IndexId >= @PageLowerBound AND p.IndexId <= @PageUpperBound
   
END



GO
