USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_UpdateRequestsConfirmed]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_UpdateRequestsConfirmed]
(
	@CaseId int
)
AS
	if(Exists(SELECT * FROM UpdateRequests WHERE Accepted = 0 AND CaseId = @CaseId))
		SELECT 0
	else
		SELECT 1
	
GO
