USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_CreateSupportCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Creates a new support call and corresponding support case in the system
--
CREATE PROCEDURE [dbo].[tr_CreateSupportCase]
(
	@CallerId int,
	@TaxiReg_Id int,
	@Created_By nvarchar(50),
	@Firstname nvarchar(255),
	@Surname nvarchar(255),
	@Address1 nvarchar(255),
	@Address2 nvarchar(255),
	@Address3 nvarchar(255),
	@Address4 nvarchar(255),
	@County nvarchar(255),
	@Country nvarchar(100),
	@CompanyName nvarchar(255),
	@HomeTel nvarchar(50),
	@MobileTel nvarchar(50),
	@Fax nvarchar(50),
	@Vehicle_Reg nvarchar(50),
	@Email nvarchar(50),
	@Creation_Date datetime,
	@Call_Comments ntext,
	@Class3 nvarchar(255),	
	@Licence_No nvarchar(50),
	@LicenceExpiry nvarchar(50),
	@ClosedDate datetime,
	@ClosedByUsername nvarchar(256),
	@StateId int,
	@StateNote ntext,
	@IsClosed bit,
	@Notes nvarchar(256),
	@ConfirmationLetterRequired bit,
	@ConfirmationLetterSentDate datetime,
	@ConfirmationLetterSentByUsername nvarchar(256),
	@QueryCategory int = null,
	@Id int output	
)
AS

INSERT INTO SupportCases(
		CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3, Address4, County, Country,
		CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email, Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry,
		ClosedDate, ClosedByUsername, StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, ConfirmationLetterSentByUsername, QueryCategory)
VALUES
		(	@CallerId, @TaxiReg_Id, @Created_By, @Firstname, @Surname, @Address1, @Address2, @Address3, @Address4,
			@County, @Country, @CompanyName, @HomeTel, @MobileTel, @Fax, @Vehicle_Reg, @Email, @Creation_Date, @Call_Comments,	
			@Class3, @Licence_No, @LicenceExpiry, @ClosedDate, @ClosedByUsername, @StateId, @StateNote, @IsClosed, @Notes, 
			@ConfirmationLetterRequired, @ConfirmationLetterSentDate,@ConfirmationLetterSentByUsername, @QueryCategory)
		
SET @Id = @@IDENTITY



GO
