USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetLicenceInfo]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetLicenceInfo]
(
	@CaseId int
)
AS
	SELECT Id, CaseId, LocalAuthorityId, IsDualLicence, HasMultipleLicences, DualLicenceNotes, MultipleLicenceNotes, Notes From
	LicenceInfo 
	WHERE CaseId = @CaseId
	RETURN

GO
