USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetUser]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		John Brennan
-- Create date: 15/11/2006
-- Description:	Returns a user from the database
-- =============================================
CREATE PROCEDURE [dbo].[tr_GetUser]
(
    @ApplicationName  nvarchar(256),
	@Username nvarchar(256)
)
AS
BEGIN
    DECLARE @ApplicationId uniqueidentifier
    SELECT  @ApplicationId = NULL
    SELECT  @ApplicationId = ApplicationId FROM aspnet_Applications WHERE LOWER(@ApplicationName) = LoweredApplicationName
    IF (@ApplicationId IS NULL)
        RETURN(1)

    SELECT u.UserId, u.Username, m.Email, m.CreateDate, m.LastLoginDate, u.LastActivityDate
    FROM   dbo.aspnet_Users u 
	INNER JOIN aspnet_Membership m
	ON u.UserId = m.UserId
	WHERE u.Username = @Username 
    ORDER BY u.UserName
END



GO
