USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_CreateNctItem]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Creates a new support call and corresponding support case in the system
--
CREATE PROCEDURE [dbo].[tr_CreateNctItem]
(
	@Title nvarchar(50),	
	@FirstName nvarchar(50),
	@Surname nvarchar(50),
	@Address1 nvarchar(50),
	@Address2 nvarchar(50),
	@Address3 nvarchar(50),
	@Address4 nvarchar(50),
	@County nvarchar(50),
	@LocalAuthority nvarchar(50),
	@Phone nvarchar(50),
	@Mobile nvarchar(50),
	@LicenceNumber nvarchar(50),
	@PlateNumber nvarchar(50),
	@VehicleRegistration nvarchar(50),
	@LicenceExpiry datetime,
	@Id int output	
)
AS

INSERT INTO Import_Vims(Title, FirstName, Surname, Address1, Address2, Address3, Address4, Phone, Mobile, LicenceNumber, PlateNumber,
						VehicleRegistration, LicenceExpiry, County, LocalAuthority)
VALUES(	@Title, 
		@FirstName, 
		@Surname, 
		@Address1, 
		@Address2, 
		@Address3, 
		@Address4, 
		@County, 
		@LocalAuthority, 
		@Phone, 
		@Mobile, 
		@LicenceNumber, 
		@PlateNumber,
		@VehicleRegistration, 
		@LicenceExpiry)

SET @Id = @@IDENTITY



GO
