USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddLicenceDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[tr_AddLicenceDetails]
(
	@CaseId int,
	@LicenceTypeId int,
	@DateOfRecord datetime,
	@Source nvarchar(100), 
	@LicenceHolderName nvarchar(200),
	@LicenceHolderAddress nvarchar(200),
	@LicenceHolderPhone nvarchar(50),
	@OldLicenceNumber nvarchar(50),
	@NewLicenceNumber nvarchar(50),
	@ExpiryDate datetime,
	@VehicleRegistration nvarchar(50),
	@SPSVTypeId int,
	@RelatedDocId int = 0,
	@LocalAuthorityId int = 0,
	@Notes nvarchar(1000)
)
AS
	DECLARE @Id int
	SET @Id = 0

	--
	-- Fix: Ensure that there is only one entry per licence details type (per case)
	--
	-- Determine if this is an update or insert operation
	--
	SELECT @Id = Id FROM LicenceDetails WHERE
	CaseId = @CaseId AND LicenceTypeId = @LicenceTypeId
	
	if(@Id = 0)
		begin
			INSERT INTO LicenceDetails(CaseId, LicenceTypeId, DateOfRecord, Source, LicenceHolderName, LicenceHolderAddress,
									   LicenceHolderPhone, OldLicenceNumber, NewLicenceNumber, ExpiryDate, VehicleRegistration, SPSVTypeId, 
									   Notes, RelatedDocId)
			VALUES(@CaseId, @LicenceTypeId, @DateOfRecord, @Source, @LicenceHolderName, @LicenceHolderAddress, 
				   @LicenceHolderPhone, @OldLicenceNumber, @NewLicenceNumber, @ExpiryDate, @VehicleRegistration, @SPSVTypeId, 
				   @Notes, @RelatedDocId)

			RETURN @@IDENTITY
		end
	else
		begin
			UPDATE LicenceDetails SET
			CaseId = @CaseId, 
			LicenceTypeId = @LicenceTypeId, 
			DateOfRecord = @DateOfRecord, 
			Source = @Source, 
			LicenceHolderName = @LicenceHolderName,
			LicenceHolderPhone = @LicenceHolderPhone, 
			LicenceHolderAddress = @LicenceHolderAddress,
			OldLicenceNumber = @OldLicenceNumber, 
			NewLicenceNumber = @NewLicenceNumber, 
			ExpiryDate = @ExpiryDate, 
			VehicleRegistration = @VehicleRegistration,
			SPSVTypeId = @SPSVTypeId,
			Notes = @Notes,
			RelatedDocId = @RelatedDocId
			WHERE Id = @Id
		end

	
	
	
	






GO
