USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_ImportLAData]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Finbar McGurren
-- Create date: 5th October 2006
-- Description:	Imports LA data from Excel
-- =============================================
CREATE PROCEDURE [dbo].[tr_ImportLAData]

AS
BEGIN

TRUNCATE TABLE import_LocalAuthority

INSERT INTO import_VIMS([Title], [FirstName], [Surname], [Address1], [Address2], [Address3],
			[LicenceNumber], [PlateNumber], [VehicleRegistration],
			[LicenceExpiry], [County], [LocalAuthority])
SELECT [TITLE_CD], [First_NM], [LAST_NM], [ADDR_1],
	[ADDR_2], [TOWN], [LICENCE_NBR], [PLATE_NBR],
	[REG_NBR], [LIC_EXP_DATE], [COUNTY], [AUTHORITY] FROM NCTDATA...['All Licences$']
	WHERE [REG_NBR] is not null

END

GO
