USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_DeleteSupportCall]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_DeleteSupportCall]
(
	@Id int
)
AS

-- STEP 1: Start the transaction
BEGIN TRANSACTION

-- Step 2: First we must delete entries from the assigned cases table
	Delete From AssignedCases
	WHERE CaseId=@Id

-- Rollback the transaction if there were any errors
IF @@ERROR <> 0
 BEGIN
    -- Rollback the transaction
    ROLLBACK

    -- Raise an error and return
    RAISERROR ('Error while deleting assigned record entries.', 16, 1)
    RETURN
 END	


-- Step 3: First we must delete the support case
--
	Delete From SupportCases
	WHERE CaseId=@Id

-- Rollback the transaction if there were any errors
IF @@ERROR <> 0
 BEGIN
    -- Rollback the transaction
    ROLLBACK

    -- Raise an error and return
    RAISERROR ('Error while deleting support case.', 16, 1)
    RETURN
 END	

-- Step 4: Next delete the support call
--
	Delete From import_Abtran
	WHERE Id=@Id

-- Rollback the transaction if there were any errors
IF @@ERROR <> 0
 BEGIN
    -- Rollback the transaction
    ROLLBACK

    -- Raise an error and return
    RAISERROR ('Error while deleting support call.', 16, 1)
    RETURN
 END

	
-- STEP 5: If we reach this point, the commands completed successfully
--         Commit the transaction....
COMMIT
GO
