USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[SupportCases]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportCases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CallerId] [numeric](18, 0) NULL,
	[TaxiReg_Id] [numeric](18, 0) NULL,
	[Created_By] [nvarchar](50) NULL,
	[FirstName] [nvarchar](255) NULL,
	[Surname] [nvarchar](255) NULL,
	[Address1] [nvarchar](255) NULL,
	[Address2] [nvarchar](255) NULL,
	[Address3] [nvarchar](255) NULL,
	[Address4] [nvarchar](255) NULL,
	[County] [nvarchar](255) NULL,
	[Country] [nvarchar](100) NULL,
	[CompanyName] [nvarchar](255) NULL,
	[HomeTel] [nvarchar](50) NULL,
	[MobileTel] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Vehicle_Reg] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Creation_Date] [datetime] NULL,
	[Call_Comments] [ntext] NULL,
	[Class3] [nvarchar](255) NULL,
	[Licence_No] [nvarchar](50) NULL,
	[Licence_Expiry] [nvarchar](50) NULL,
	[ClosedDate] [datetime] NULL,
	[ClosedByUsername] [nvarchar](256) NULL,
	[StateId] [int] NOT NULL,
	[StateNote] [ntext] NULL,
	[IsClosed] [bit] NULL,
	[Notes] [ntext] NULL,
	[ConfirmationLetterRequired] [bit] NULL,
	[ConfirmationLetterSentDate] [datetime] NULL,
	[ConfirmationLetterSentByUsername] [nvarchar](256) NULL,
	[Priority] [smallint] NULL,
	[LastUpdatedDate] [datetime] NULL,
	[QueryCategory] [int] NULL,
 CONSTRAINT [PK_import_Abtran] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SupportCases] ADD  CONSTRAINT [DF_import_Abtran_StateId]  DEFAULT ((1)) FOR [StateId]
GO
ALTER TABLE [dbo].[SupportCases] ADD  CONSTRAINT [DF_import_Abtran_IsArchived]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[SupportCases] ADD  CONSTRAINT [DF_import_Abtran_ConfirmationLetterRequired]  DEFAULT ((0)) FOR [ConfirmationLetterRequired]
GO
ALTER TABLE [dbo].[SupportCases] ADD  CONSTRAINT [DF_SupportCases_Priority]  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[SupportCases]  WITH CHECK ADD  CONSTRAINT [FK_import_Abtran_CaseStates] FOREIGN KEY([StateId])
REFERENCES [dbo].[CaseStates] ([Id])
GO
ALTER TABLE [dbo].[SupportCases] CHECK CONSTRAINT [FK_import_Abtran_CaseStates]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reference to record in Abtran database' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SupportCases', @level2type=N'COLUMN',@level2name=N'CallerId'
GO
