USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddLicenceInfo]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_AddLicenceInfo]
(
	@CaseId int,
	@LocalAuthorityId int,
	@IsDualLicence bit,
	@HasMultipleLicences bit,
	@DualLicenceNotes nvarchar(1000),
	@MultipleLicenceNotes nvarchar(1000),
	@Notes nvarchar(1000)
)
AS
	-- Optionally add/update licence information
	DECLARE @LicenceInfoId int
	
	SELECT @LicenceInfoId = Id FROM LicenceInfo WHERE CaseId = @CaseId
	
	IF( @LicenceInfoId > 0 )
		begin
			UPDATE LicenceInfo SET 
			CaseId = @CaseId, 
			LocalAuthorityId = @LocalAuthorityId, 
			IsDualLicence = @IsDualLicence, 
			HasMultipleLicences = @HasMultipleLicences, 
			DualLicenceNotes = @DualLicenceNotes, 
			MultipleLicenceNotes = @MultipleLicenceNotes, 
			Notes = @Notes
			WHERE Id = @LicenceInfoId
		end
	else
		begin
			INSERT INTO LicenceInfo(CaseId, LocalAuthorityId, IsDualLicence, HasMultipleLicences, DualLicenceNotes, MultipleLicenceNotes, Notes)
			VALUES
			(@CaseId, @LocalAuthorityId, @IsDualLicence, @HasMultipleLicences, @DualLicenceNotes, @MultipleLicenceNotes, @Notes)
		end


 
GO
