USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[LicenceInfo]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[LocalAuthorityId] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[IsDualLicence] [bit] NULL,
	[HasMultipleLicences] [bit] NULL,
	[DualLicenceNotes] [nvarchar](1000) NULL,
	[MultipleLicenceNotes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_LicenceInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceInfo] ADD  CONSTRAINT [DF_LicenceInfo_IsDualLicence]  DEFAULT ((0)) FOR [IsDualLicence]
GO
ALTER TABLE [dbo].[LicenceInfo] ADD  CONSTRAINT [DF_LicenceInfo_HasMultipleLicences]  DEFAULT ((0)) FOR [HasMultipleLicences]
GO
ALTER TABLE [dbo].[LicenceInfo]  WITH CHECK ADD  CONSTRAINT [FK_LicenceInfo_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])
GO
ALTER TABLE [dbo].[LicenceInfo] CHECK CONSTRAINT [FK_LicenceInfo_import_Abtran]
GO
ALTER TABLE [dbo].[LicenceInfo]  WITH CHECK ADD  CONSTRAINT [FK_LicenceInfo_LocalAuthorities] FOREIGN KEY([LocalAuthorityId])
REFERENCES [dbo].[LocalAuthorities] ([Id])
GO
ALTER TABLE [dbo].[LicenceInfo] CHECK CONSTRAINT [FK_LicenceInfo_LocalAuthorities]
GO
