USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetVimsInfo]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetVimsInfo]
(
	@SearchOption int,
	@SearchText nvarchar(256),
	@PageIndex int,
	@PageSize int,
	@TotalRecords int OUTPUT
)
AS
BEGIN
	 -- Set the page bounds
    DECLARE @PageLowerBound int
    DECLARE @PageUpperBound int
    SET @PageLowerBound = @PageSize * @PageIndex
    SET @PageUpperBound = @PageSize + @PageLowerBound

	-- Create a temp table to store the selected results
	CREATE TABLE #PageIndexForVimsRecords 
	(
		IndexID int IDENTITY (0, 1) NOT NULL,
		Id int
	)	

	--VehicleRegistration = 0,
    --LicenseNumber = 1,
    --PlateNumber = 2,
    --Name = 3,
    --LocalAuthority = 4,
    --County = 5
	-- Insert into our temp table
	if @SearchOption = 0
		Begin
			INSERT INTO #PageIndexForVimsRecords (Id)
			SELECT Id
			FROM   import_VIMS
			WHERE dbo.VehicleRegFormat(VehicleRegistration) like @SearchText
			Order by Id DESC
		End
	else if @SearchOption = 1
		Begin
			INSERT INTO #PageIndexForVimsRecords (Id)
			SELECT Id
			FROM   import_VIMS
			WHERE LicenceNumber like @SearchText
			Order by Id	DESC
		End	
	else if @SearchOption = 2
		Begin
			INSERT INTO #PageIndexForVimsRecords (Id)
			SELECT Id
			FROM   import_VIMS
			WHERE PlateNumber like @SearchText
			Order by Id DESC	
		End	
	else if @SearchOption = 3
		Begin
			INSERT INTO #PageIndexForVimsRecords (Id)
			SELECT Id
			FROM   import_VIMS
			WHERE REPLACE(Surname, ' ', '') like @SearchText
			Order by Id DESC	
		End	
	else if @SearchOption = 4
		Begin
			INSERT INTO #PageIndexForVimsRecords (Id)
			SELECT Id
			FROM   import_VIMS
			WHERE LocalAuthority like @SearchText
			Order by Id DESC	
		End	
	else if @SearchOption = 5
		Begin
			INSERT INTO #PageIndexForVimsRecords (Id)
			SELECT Id
			FROM   import_VIMS
			WHERE county like @SearchText
			Order by Id DESC	
		End	
		
    SET @TotalRecords = @@ROWCOUNT

    -- Return paged results
	SELECT 
		v.Id, v.Title, v.FirstName, V.Surname, v.Address1, v.Address2, v.Address3, v.Address4, v.Phone, v.Mobile,
		v.LicenceNumber, v.PlateNumber, v.VehicleRegistration, v.LicenceExpiry, v.County, v.LocalAuthority
	FROM 
		import_VIMS v, 
		#PageIndexForVimsRecords P
	WHERE 
		v.ID = P.ID AND	P.IndexId >= @PageLowerBound AND P.IndexId <= @PageUpperBound
	ORDER BY 
		P.IndexID
END


	




GO
