USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_ImportNCTData]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Finbar McGurren
-- Create date: 5th October 2006
-- Description:	Imports NCT data from Excel
-- =============================================
CREATE PROCEDURE [dbo].[tr_ImportNCTData] 

AS
BEGIN

TRUNCATE TABLE import_VIMS

DELETE FROM import_VIMS_Test

INSERT INTO import_VIMS_test([FirstName], [Surname], [Address1], [Address2], [Address3],
			[LicenceNumber], [PlateNumber], [VehicleRegistration],
			[LicenceExpiry], [County], [LocalAuthority])
SELECT [First_NM], [LAST_NM], [ADDR_1],
	[ADDR_2], [TOWN], [LICENCE_NBR], [PLATE_NBR],
	[REG_NBR], [LIC_EXP_DATE], [POSTCODE], [AUTHORITY] FROM NCTDATA...['Data Extract$']
	WHERE [REG_NBR] is not null

END



GO
