USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCaseStates]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Returns a list of all Case States defined in the system
--
CREATE PROCEDURE [dbo].[tr_GetCaseStates]
AS
	SELECT Id, Name, Ordinal
	FROM CaseStates
GO
