USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AssignSupportCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Assigns a user to a support case
--
CREATE PROCEDURE [dbo].[tr_AssignSupportCase]
(
	@CaseId int,
	@AssignedToUsername nvarchar(256),
	@AssignedByUsername nvarchar(256),
	@AssignedDate datetime = GetDate,
	@Id int output
)
AS
	-- Currently only allow one person to be assigned to a support case at a 
	-- time. Designed to support multiple persons to be assigned to one
	-- case should this need arise in the future.
	
	--
	-- Check if entry already exists for this case
	-- Do an update or an insert
	--
	Select @Id = Id FROM AssignedCases WHERE CaseId = @CaseId
	
	IF @Id > 0
		Begin
			UPDATE AssignedCases SET
				CaseId = @CaseId, 
				AssignedToUsername = @AssignedToUsername, 
				AssignedByUsername = @AssignedByUsername, 
				AssignedDate = @AssignedDate
			WHERE Id = @Id
		End
	ELSE
		Begin
			INSERT INTO AssignedCases(CaseId, AssignedToUsername, AssignedByUsername, AssignedDate) 
			VALUES
			(@CaseId, @AssignedToUsername, @AssignedByUsername, @AssignedDate)
			
			Set @Id = @@IDENTITY
		End
GO
