USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_EscalateQuery]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_EscalateQuery]
(
	@Id int = 0,
	@CaseId int,
	@EscalatedByUsername nvarchar(256),
	@Notes nvarchar(1000),
	@Comments nvarchar(1000),
	@ConfirmationRequired bit,
	@ConfirmationDate datetime,
	@EscalatedDate datetime,
	@UniqueId int output
)
AS
	if @Id = 0 
		begin
			-- Insert new item
			INSERT INTO EscalatedDetails(CaseId, EscalatedDate, EscalatedByUsername, Notes, Comments, ConfirmationRequired, ConfirmationDate)
			VALUES(@CaseId, @EscalatedDate, @EscalatedByUsername, @Notes, @Comments, @ConfirmationRequired, @ConfirmationDate)
			
			SET @UniqueId = @@IDENTITY
		end
	else
		begin
			-- Update existing item
			UPDATE EscalatedDetails SET
			CaseId = @CaseId,
			EscalatedDate = @EscalatedDate, 
			EscalatedByUsername = @EscalatedByUsername, 
			Notes = @Notes, 
			Comments = @Comments, 
			ConfirmationRequired = @ConfirmationRequired, 
			ConfirmationDate = @ConfirmationDate
			WHERE Id = @Id
			
			SET @UniqueId = @Id
		end
		
		RETURN @UniqueId
		
GO
