USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCaseQueryCategoryForCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[tr_GetCaseQueryCategoryForCase]
(
	@CaseId	INT
)
AS

SELECT QueryCategory FROM SupportCases WHERE Id = @CaseId
GO
