USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_SearchCasesAdvanced]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_SearchCasesAdvanced]
(	
	@SupportCaseId int = null,
	@Surname nvarchar(255) = null,
	@FirstName nvarchar(255) = null,
	@Licence_No nvarchar(50) = null,
	@Vehicle_Reg nvarchar(50) = null,
	@Phone nvarchar(50) = null,
	@Address1 nvarchar(255) = null,
	@Address2 nvarchar(255) = null,
	@Address3 nvarchar(255) = null,
	@County nvarchar(255) = null,
	
	@CreatedByUsername nvarchar(256) = null,
	@AssignedToUsername nvarchar(256) = null,
	@StateId INT = null,
	@QueryCategory INT = null,

	@Creation_Date_From datetime = null,
	@Creation_Date_To datetime = null,
	@AssignedDate_From datetime = null,
	@AssignedDate_To datetime = null,
	@EscalatedDate_From datetime = null,
	@EscalatedDate_To datetime = null,
	@ClosedDate_From datetime = null,
	@ClosedDate_To datetime = null,

	@SortBy int = 0,
	@SortOrder int = 0,
	@PageIndex int,
    @PageSize int,
	@TotalRecords int output
)
AS
	 -- Set the page bounds
    DECLARE @PageLowerBound int
    DECLARE @PageUpperBound int 
	DECLARE @Sql nvarchar(1000)
	DECLARE @SqlJoin nvarchar(200)
	DECLARE @Params nvarchar(1000)
    SET @SqlJoin = ''
	SET @PageLowerBound = @PageSize * @PageIndex
    SET @PageUpperBound = @PageSize - 1 + @PageLowerBound

    -- Create a temp table TO store the select results
    CREATE TABLE #PageIndexForCases
    (
        IndexId int IDENTITY (0, 1) NOT NULL,
        Id int,
		QueryCategory int
    )

		begin

			IF @AssignedToUsername IS NOT NULL OR @AssignedDate_From IS NOT NULL
				SELECT @SqlJoin = @SqlJoin + ' LEFT OUTER JOIN AssignedCases A ON S.Id = A.CaseId'

			IF @EscalatedDate_From IS NOT NULL
				SELECT @SqlJoin = @SqlJoin + ' LEFT OUTER JOIN EscalationDetails E ON S.Id = E.CaseId'



			SELECT @Sql = 
					'INSERT INTO #PageIndexForCases(Id, QueryCategory)
						SELECT S.Id, S.QueryCategory
					    FROM   SupportCases S' + @SqlJoin +
						' WHERE 1=1'


			
			IF @SupportCaseId IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.Id = @SupportCaseIdParam'

			IF @Surname IS NOT NULL
				SELECT @Sql	= @Sql + ' AND REPLACE(S.Surname, '' '', '''') LIKE @SurnameParam'

			IF @FirstName IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.FirstName LIKE @FirstNameParam'

			IF @Licence_No IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.Licence_No = @Licence_NoParam'

			IF @Vehicle_Reg IS NOT NULL
				SELECT @Sql	= @Sql + ' AND dbo.VehicleRegFormat(Vehicle_Reg) LIKE @Vehicle_RegParam'

			IF @Phone IS NOT NULL
				SELECT @Sql	= @Sql + ' AND (REPLACE(S.HomeTel, '' '', '''') LIKE @PhoneParam OR REPLACE(S.MobileTel, '' '', '''') LIKE @PhoneParam)'

			IF @Address1 IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.Address1 LIKE @Address1Param'

			IF @Address2 IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.Address2 LIKE @Address2Param'

			IF @Address3 IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.Address3 LIKE @Address3Param'

			IF @County IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.County LIKE @CountyParam'

			IF @CreatedByUsername IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.Created_By = @Created_ByParam'

			IF @AssignedToUsername IS NOT NULL
				SELECT @Sql	= @Sql + ' AND A.AssignedToUsername = @AssignedToUsernameParam'

			IF @StateId IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.StateId = @StateIdParam'

			IF @QueryCategory IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.QueryCategory = @QueryCategoryParam'

			IF @Creation_Date_From IS NOT NULL AND @Creation_Date_To IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.Creation_Date >= @Creation_Date_FromParam AND S.Creation_Date <= @Creation_Date_ToParam'

			IF @AssignedDate_From IS NOT NULL AND @AssignedDate_To IS NOT NULL
				SELECT @Sql	= @Sql + ' AND A.AssignedDate >= @AssignedDate_FromParam AND A.AssignedDate <= @AssignedDate_ToParam'

			IF @EscalatedDate_From IS NOT NULL AND @EscalatedDate_To IS NOT NULL
				SELECT @Sql	= @Sql + ' AND E.EscalatedDate >= @EscalatedDate_FromParam AND E.EscalatedDate <= @EscalatedDate_ToParam'

			IF @ClosedDate_From IS NOT NULL AND @ClosedDate_To IS NOT NULL
				SELECT @Sql	= @Sql + ' AND S.ClosedDate >= @ClosedDate_FromParam AND S.ClosedDate <= @ClosedDate_ToParam'			


			IF @SortBy = 1
				SELECT @Sql = @Sql + ' ORDER BY S.Creation_Date'
			ELSE IF @SortBy = 2
				SELECT @Sql = @Sql + ' ORDER BY S.StateId'
			ELSE IF @SortBy = 3
				IF @SortOrder = 1
					SELECT @Sql = @Sql + ' ORDER BY S.Surname DESC, S.FirstName DESC'
				ELSE
					SELECT @Sql = @Sql + ' ORDER BY S.Surname, S.FirstName'
			ELSE IF @SortBy = 4
				SELECT @Sql = @Sql + ' ORDER BY dbo.VehicleRegFormatForSorting(Vehicle_Reg)'
			ELSE IF @SortBy = 5
				SELECT @Sql = @Sql + ' ORDER BY S.Licence_No'
			ELSE
				SELECT @Sql = @Sql + ' ORDER BY S.Id'			
			

			IF @SortOrder = 1 AND NOT(@SortBy = 3)
				SELECT @Sql = @Sql + ' DESC'

			
			SELECT @Params = 
					'@SupportCaseIdParam INT,
					@SurnameParam NVARCHAR(255),
					@FirstNameParam NVARCHAR(255),
					@Licence_NoParam NVARCHAR(50),
					@Vehicle_RegParam NVARCHAR(50),
					@PhoneParam NVARCHAR(50),
					@Address1Param NVARCHAR(255),
					@Address2Param NVARCHAR(255),
					@Address3Param NVARCHAR(255),
					@CountyParam NVARCHAR(255),
					@Created_ByParam NVARCHAR(256),
					@AssignedToUsernameParam NVARCHAR(256),
					@StateIdParam INT,
					@QueryCategoryParam INT,
					@Creation_Date_FromParam DATETIME,
					@Creation_Date_ToParam DATETIME,
					@AssignedDate_FromParam DATETIME,
					@AssignedDate_ToParam DATETIME,			
					@EscalatedDate_FromParam DATETIME,
					@EscalatedDate_ToParam DATETIME,			
					@ClosedDate_FromParam DATETIME,
					@ClosedDate_ToParam DATETIME'			

			EXEC sp_executesql @Sql, @Params,
					@SupportCaseId, @Surname, @FirstName, @Licence_No, @Vehicle_Reg, @Phone, @Address1, @Address2, @Address3, @County, @CreatedByUsername, @AssignedToUsername, @StateId, @QueryCategory,
						@Creation_Date_From, @Creation_Date_To, @AssignedDate_From, @AssignedDate_To, @EscalatedDate_From, @EscalatedDate_To, @ClosedDate_From, @ClosedDate_To
            
		END 

	
		Begin

			-- Insert into our temp table
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, A.AssignedByUsername, A.AssignedDate, 
				   A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From Supportcases S,  #PageIndexForCases P

			LEFT OUTER JOIN AssignedCases A
			ON P.Id = A.CaseId

			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON P.Id = C.CaseId

			LEFT OUTER JOIN CaseQueryCategories QC
			ON P.QueryCategory = QC.Id		

			WHERE S.Id = P.Id AND p.IndexId >= @PageLowerBound AND p.IndexId <= @PageUpperBound		
			
		End
		
		SELECT @TotalRecords = Count(*) 
		From #PageIndexForCases















GO
