USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[retention_dr1605]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[retention_dr1605] as
begin
ALTER TABLE [dbo].[aspnet_PersonalizationPerUser] DROP CONSTRAINT [FK__aspnet_Pe__UserI__6EC0713C]
ALTER TABLE [dbo].[aspnet_Roles] DROP CONSTRAINT [FK__aspnet_Ro__Appli__51300E55]
ALTER TABLE [dbo].[aspnet_Users] DROP CONSTRAINT [FK__aspnet_Us__Appli__2A4B4B5E]
ALTER TABLE [dbo].[aspnet_UsersInRoles] DROP CONSTRAINT [FK__aspnet_Us__RoleI__55F4C372]
ALTER TABLE [dbo].[aspnet_UsersInRoles] DROP CONSTRAINT [FK__aspnet_Us__UserI__55009F39]

ALTER TABLE [dbo].[aspnet_Membership] DROP CONSTRAINT [FK__aspnet_Me__Appli__32AB8735]
ALTER TABLE [dbo].[aspnet_Membership] DROP CONSTRAINT [FK__aspnet_Me__UserI__339FAB6E]

ALTER TABLE [dbo].[aspnet_Profile] DROP CONSTRAINT [FK__aspnet_Pr__UserI__47A6A41B]

ALTER TABLE [dbo].[EscalationReasons] DROP CONSTRAINT [FK_EscalationReasons_EscalationDetails]

ALTER TABLE [dbo].[ActionTypeDetails] DROP CONSTRAINT [FK_ActionDetails_ActionTypes]
ALTER TABLE [dbo].[AssignedCases] DROP CONSTRAINT [FK_AssignedCases_import_Abtran] 
ALTER TABLE [dbo].[CaseTypeDetails] DROP CONSTRAINT [FK_CaseTypes_import_Abtran1] 
ALTER TABLE [dbo].[EscalationDetails] DROP CONSTRAINT [FK_EscalationDetails_import_Abtran] 
ALTER TABLE [dbo].[LicenceDetails] DROP CONSTRAINT [FK_LicenceDetails_import_Abtran]
ALTER TABLE [dbo].[LicenceInfo] DROP CONSTRAINT [FK_LicenceInfo_import_Abtran] 
ALTER TABLE [dbo].[MailingRequests] DROP CONSTRAINT [FK_MailingRequests_SupportCases] 
ALTER TABLE [dbo].[UpdateRequests] DROP CONSTRAINT [FK_VimsUpdateDetails_import_Abtran]

ALTER TABLE [dbo].[aspnet_Paths] DROP CONSTRAINT [FK__aspnet_Pa__Appli__6442E2C9]

truncate table TaxiRegulator.dbo.aspnet_UsersInRoles
truncate table TaxiRegulator.dbo.aspnet_Membership
truncate table TaxiRegulator.dbo.aspnet_Profile
truncate table TaxiRegulator.dbo.aspnet_Roles
truncate table TaxiRegulator.dbo.aspnet_Applications
truncate table TaxiRegulator.dbo.aspnet_Users
truncate table TaxiRegulator.dbo.AssignedCases
truncate table TaxiRegulator.dbo.EscalationReasons
truncate table TaxiRegulator.dbo.import_LocalAuthority
truncate table TaxiRegulator.dbo.import_VIMS_test
truncate table TaxiRegulator.dbo.ImportLog
truncate table TaxiRegulator.dbo.LicenceDetails
truncate table TaxiRegulator.dbo.LicenceInfo
truncate table TaxiRegulator.dbo.MailingRequests
truncate table TaxiRegulator.dbo.ActionTypeDetails
truncate table TaxiRegulator.dbo.UpdateRequests
truncate table TaxiRegulator.dbo.EscalationDetails
truncate table TaxiRegulator.dbo.SupportCases



ALTER TABLE [dbo].[aspnet_PersonalizationPerUser]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])

ALTER TABLE [dbo].[aspnet_Roles]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])

ALTER TABLE [dbo].[aspnet_Users]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])

ALTER TABLE [dbo].[aspnet_UsersInRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[aspnet_Roles] ([RoleId])

ALTER TABLE [dbo].[aspnet_UsersInRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])

ALTER TABLE [dbo].[aspnet_Membership]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])

ALTER TABLE [dbo].[aspnet_Membership]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])

ALTER TABLE [dbo].[aspnet_Profile]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])

ALTER TABLE [dbo].[EscalationReasons]  WITH CHECK ADD  CONSTRAINT [FK_EscalationReasons_EscalationDetails] FOREIGN KEY([EscalationDetailsId])
REFERENCES [dbo].[EscalationDetails] ([Id])

ALTER TABLE [dbo].[EscalationReasons] CHECK CONSTRAINT [FK_EscalationReasons_EscalationDetails]

ALTER TABLE [dbo].[ActionTypeDetails]  WITH CHECK ADD  CONSTRAINT [FK_ActionDetails_ActionTypes] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])

ALTER TABLE [dbo].[ActionTypeDetails] CHECK CONSTRAINT [FK_ActionDetails_ActionTypes]

ALTER TABLE [dbo].[AssignedCases]  WITH CHECK ADD  CONSTRAINT [FK_AssignedCases_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])

ALTER TABLE [dbo].[AssignedCases] CHECK CONSTRAINT [FK_AssignedCases_import_Abtran]

ALTER TABLE [dbo].[CaseTypeDetails]  WITH CHECK ADD  CONSTRAINT [FK_CaseTypes_import_Abtran1] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])

ALTER TABLE [dbo].[CaseTypeDetails] CHECK CONSTRAINT [FK_CaseTypes_import_Abtran1]

ALTER TABLE [dbo].[EscalationDetails]  WITH CHECK ADD  CONSTRAINT [FK_EscalationDetails_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])

ALTER TABLE [dbo].[EscalationDetails] CHECK CONSTRAINT [FK_EscalationDetails_import_Abtran]

ALTER TABLE [dbo].[LicenceDetails]  WITH CHECK ADD  CONSTRAINT [FK_LicenceDetails_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])

ALTER TABLE [dbo].[LicenceDetails] CHECK CONSTRAINT [FK_LicenceDetails_import_Abtran]

ALTER TABLE [dbo].[LicenceInfo]  WITH CHECK ADD  CONSTRAINT [FK_LicenceInfo_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])

ALTER TABLE [dbo].[LicenceInfo] CHECK CONSTRAINT [FK_LicenceInfo_import_Abtran]

ALTER TABLE [dbo].[MailingRequests]  WITH CHECK ADD  CONSTRAINT [FK_MailingRequests_SupportCases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])

ALTER TABLE [dbo].[MailingRequests] CHECK CONSTRAINT [FK_MailingRequests_SupportCases]

ALTER TABLE [dbo].[UpdateRequests]  WITH CHECK ADD  CONSTRAINT [FK_VimsUpdateDetails_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])

ALTER TABLE [dbo].[UpdateRequests] CHECK CONSTRAINT [FK_VimsUpdateDetails_import_Abtran]

ALTER TABLE [dbo].[aspnet_Paths]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])


end
GO
