USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddEscalationDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_AddEscalationDetails]
(
	@Id int = 0,
	@CaseId int,
	@EscalatedDate datetime,
	@EscalatedByUsername nvarchar(256),
	@EscalationNotes nvarchar(1000),
	@Comments nvarchar(1000),
	@UniqueId int output
)
AS 
	if Exists(SELECT * From EscalationDetails WHERE CaseId=@CaseId)
		begin
			-- Entry already exists
			UPDATE EscalationDetails SET
			CaseId = @CaseId,
			EscalatedDate = @EscalatedDate, 
			EscalatedByUsername = @EscalatedByUsername,  
			EscalationNotes = @EscalationNotes,   
			Comments = @Comments  
			WHERE Id = @Id
			
			SET @UniqueId = @Id
		end
	else
		begin
			-- Insert new item
			INSERT INTO EscalationDetails
			(CaseId, EscalatedDate, EscalatedByUsername, EscalationNotes, Comments)
			VALUES						
			(@CaseId, @EscalatedDate, @EscalatedByUsername, @EscalationNotes, @Comments)
			
			SET @UniqueId = @@IDENTITY
		end
		

GO
