USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_DeleteSupportCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_DeleteSupportCase]
(
	@Id int
)
As
	DELETE FROM CaseTypeDetails WHERE
	CaseId = @Id
	
	DELETE FROM LicenceDetails WHERE
	CaseId = @Id
	
	DELETE FROM LicenceInfo WHERE
	CaseId = @Id
	
	DELETE FROM ActionTypeDetails WHERE
	CaseId = @Id
	
	DELETE FROM UpdateRequests WHERE
	CaseId = @Id
	
	DELETE FROM MailingRequests WHERE
	CaseId = @Id
	
	DELETE FROM LicenceHolderCorrespondence WHERE
	CaseId = @Id
	
	DECLARE @EscalationId int
	SET @EscalationId = 0
	
	SELECT @EscalationId = Id From EscalationDetails 
	WHERE CaseId = @Id
	
	Print @EscalationId
	
	if @EscalationId > 0
		begin
			DELETE FROM EscalationReasons WHERE
			EscalationDetailsId = @EscalationId
		end
		
	DELETE FROM EscalationDetails WHERE
	CaseId = @Id
	
	DELETE FROM AssignedCases WHERE CaseId = @Id	

	DELETE FROM SupportCases 
	WHERE Id = @Id

GO
