USE [TaxiRegulator]
GO
/****** Object:  UserDefinedFunction [dbo].[VehicleRegFormat]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[VehicleRegFormat]
(
	-- Add the parameters for the function here
	@Vehicle_Reg	NVARCHAR(50)
)
RETURNS NVARCHAR(50)
AS
BEGIN
	
	DECLARE @p1	NVARCHAR(50)
	
	SET @p1 = REPLACE(@Vehicle_Reg, ' ', '')
	SET @p1 = REPLACE(@p1, '-', '')

	RETURN @p1
END



GO
