USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[ActionTypeDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionTypeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[ActionTypeId] [int] NOT NULL,
 CONSTRAINT [PK_ActionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActionTypeDetails]  WITH CHECK ADD  CONSTRAINT [FK_ActionDetails_ActionTypes] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])
GO
ALTER TABLE [dbo].[ActionTypeDetails] CHECK CONSTRAINT [FK_ActionDetails_ActionTypes]
GO
ALTER TABLE [dbo].[ActionTypeDetails]  WITH CHECK ADD  CONSTRAINT [FK_ActionDetails_ActionTypes1] FOREIGN KEY([ActionTypeId])
REFERENCES [dbo].[ActionTypes] ([Id])
GO
ALTER TABLE [dbo].[ActionTypeDetails] CHECK CONSTRAINT [FK_ActionDetails_ActionTypes1]
GO
