USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_UpdateSupportCase]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_UpdateSupportCase]
(
	@Id int,
	@CallerId int,
	@TaxiReg_Id int,
	@Created_By nvarchar(50),
	@Firstname nvarchar(255),
	@Surname nvarchar(255),
	@Address1 nvarchar(255),
	@Address2 nvarchar(255),
	@Address3 nvarchar(255),
	@Address4 nvarchar(255),
	@County nvarchar(255),
	@Country nvarchar(100),
	@CompanyName nvarchar(255),
	@HomeTel nvarchar(50),
	@MobileTel nvarchar(50),
	@Fax nvarchar(50),
	@Vehicle_Reg nvarchar(50),
	@Email nvarchar(50),
	@Creation_Date datetime,
	@Call_Comments ntext,
	@Class3 nvarchar(255),	
	@Licence_No nvarchar(50),
	@LicenceExpiry nvarchar(50),
	@ClosedDate datetime,
	@ClosedByUsername nvarchar(256),
	@StateId int,
	@StateNote ntext,
	@IsClosed bit,
	@Notes nvarchar(256),
	@ConfirmationLetterRequired bit,
	@ConfirmationLetterSentDate datetime,
	@ConfirmationLetterSentByUsername nvarchar(256),
	@Priority smallint,
	@LastUpdatedDate datetime,
	@QueryCategory int = null
)
AS
	UPDATE SupportCases
	SET
	CallerId = @CallerId,
	TaxiReg_Id = @TaxiReg_Id,
	Created_By = @Created_By,
	FirstName = @Firstname,
	Surname = @Surname,
	Address1 = @Address1,
	Address2 = @Address2,
	Address3 = @Address3,
	Address4 = @Address4,
	County =  @County,
	Country = @Country,
	CompanyName = @CompanyName,
	HomeTel = @HomeTel,
	MobileTel = @MobileTel,
	Fax = @Fax,
	Vehicle_Reg = @Vehicle_Reg,
	Email = @Email,
	Creation_Date = @Creation_Date,
	Call_Comments = @Call_Comments,
	Class3 = @Class3,
	Licence_No =@Licence_No,
	Licence_Expiry = @LicenceExpiry,
	ClosedDate = @ClosedDate,
	ClosedByUsername = @ClosedByUsername,
	StateId = @StateId,
	StateNote = @StateNote,
	IsClosed = @IsClosed,
	Notes = @Notes,
	ConfirmationLetterRequired = @ConfirmationLetterRequired,
	ConfirmationLetterSentDate = @ConfirmationLetterSentDate,
	ConfirmationLetterSentByUsername = @ConfirmationLetterSentByUsername,
	Priority = @Priority,
	LastUpdatedDate = @LastUpdatedDate,
	QueryCategory = @QueryCategory

	WHERE Id = @Id
	
	RETURN




GO
