USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetUsersInRoles]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Returns username and userId of users in a specific system role
--
CREATE PROCEDURE [dbo].[tr_GetUsersInRoles]
    @ApplicationName  nvarchar(256),
    @RoleName         nvarchar(256),
	@FilterUnapproved BIT = NULL
AS
BEGIN
	DECLARE @ApplicationId uniqueidentifier
	SELECT  @ApplicationId = NULL
	SELECT  @ApplicationId = ApplicationId FROM aspnet_Applications WHERE LOWER(@ApplicationName) = LoweredApplicationName
	IF (@ApplicationId IS NULL)
		RETURN(1)
	 DECLARE @RoleId uniqueidentifier
	 SELECT  @RoleId = NULL

	 SELECT  @RoleId = RoleId
	 FROM    dbo.aspnet_Roles
	 WHERE   LOWER(@RoleName) = LoweredRoleName AND ApplicationId = @ApplicationId

	 IF (@RoleId IS NULL)
		 RETURN(1)

	IF @FilterUnapproved = 1
		SELECT u.UserId, u.Username
			FROM   dbo.aspnet_Users u
			INNER JOIN dbo.aspnet_UsersInRoles ur ON u.UserId = ur.UserId
			INNER JOIN dbo.aspnet_Membership m ON u.UserId = m.UserId
			WHERE  u.UserId = ur.UserId AND @RoleId = ur.RoleId AND u.ApplicationId = @ApplicationId AND m.IsApproved = 1
			ORDER BY u.UserName

	ELSE
		SELECT u.UserId, u.Username
			FROM   dbo.aspnet_Users u, dbo.aspnet_UsersInRoles ur
			WHERE  u.UserId = ur.UserId AND @RoleId = ur.RoleId AND u.ApplicationId = @ApplicationId
			ORDER BY u.UserName
    RETURN(0)
END




GO
