USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[UpdateRequests]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdateRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NULL,
	[Instruction] [nvarchar](1000) NULL,
	[RequestedDate] [datetime] NULL,
	[RequestedByUsername] [nvarchar](256) NULL,
	[UpdateTypeId] [int] NOT NULL,
	[ConfirmedDate] [datetime] NULL,
	[ConfirmedByUsername] [nvarchar](256) NULL,
	[Accepted] [int] NOT NULL,
	[NewLicenceNumber] [nvarchar](256) NULL,
	[Notes] [ntext] NULL,
 CONSTRAINT [PK_VimsUpdateDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[UpdateRequests] ADD  CONSTRAINT [DF_VimsUpdateDetails_RequestedDate]  DEFAULT (getdate()) FOR [RequestedDate]
GO
ALTER TABLE [dbo].[UpdateRequests] ADD  CONSTRAINT [DF_UpdateRequests_Accepted]  DEFAULT ((0)) FOR [Accepted]
GO
ALTER TABLE [dbo].[UpdateRequests]  WITH CHECK ADD  CONSTRAINT [FK_VimsUpdateDetails_import_Abtran] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])
GO
ALTER TABLE [dbo].[UpdateRequests] CHECK CONSTRAINT [FK_VimsUpdateDetails_import_Abtran]
GO
ALTER TABLE [dbo].[UpdateRequests]  WITH CHECK ADD  CONSTRAINT [FK_VimsUpdateDetails_VimsUpdateTypes] FOREIGN KEY([UpdateTypeId])
REFERENCES [dbo].[UpdateTypes] ([Id])
GO
ALTER TABLE [dbo].[UpdateRequests] CHECK CONSTRAINT [FK_VimsUpdateDetails_VimsUpdateTypes]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Field indicating if the update request was accepted or reject by NCT officer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UpdateRequests', @level2type=N'COLUMN',@level2name=N'Accepted'
GO
