USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_UpdateAssignedDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_UpdateAssignedDetails] 
(
	@Id int,
	@CaseId int,
	@AssignedByUsername nvarchar(256),
	@AssignedToUsername nvarchar(256),
	@AssignedDate datetime	
)
AS

	UPDATE AssignedCases SET
		CaseId = @CaseId,
		AssignedToUsername = @AssignedToUsername,
		AssignedByUsername = @AssignedByUsername
	WHERE Id = @Id
	
GO
