USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCaseActions]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetCaseActions]
(
	@CaseId int
)
AS
	SELECT A.Id, A.CaseId, A.ActionTypeId, T.Name 
	FROM ActionTypeDetails A
	INNER JOIN ActionTypes T ON
	A.ActionTypeId = T.Id
	WHERE A.CaseId = @CaseId 
GO
