USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetCasesForInvestigatingOfficer]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[tr_GetCasesForInvestigatingOfficer]
(
	@AssignedToUsername nvarchar(256) = NULL, -- optional
	@StateId int = NULL,	-- optional
	@PageIndex int,		-- Page index to return (zero based)
	@PageSize int,		-- Maximum number of records to return in one go
	@SortBy int = 0,
	@SortOrder int = 0,
	@TotalRecords int output
)
AS
BEGIN

	-- Set the page bounds
    DECLARE @PageLowerBound int
    DECLARE @PageUpperBound int 
    SET @PageLowerBound = @PageSize * @PageIndex
    SET @PageUpperBound = @PageSize - 1 + @PageLowerBound

    -- Create a temp table TO store the select results
    CREATE TABLE #PageIndexForCases
    (
        IndexId int IDENTITY (0, 1) NOT NULL,
        Id int,
		QueryCategory int
    )
	
	INSERT INTO #PageIndexForCases(Id, QueryCategory)
		SELECT S.Id, S.QueryCategory
		FROM   SupportCases S
		LEFT OUTER JOIN AssignedCases A
		ON S.Id = A.CaseId
		WHERE StateId=1 OR A.ID IS NULL	OR
				((@StateId IS NULL OR S.StateId = @StateId)	AND
				(@AssignedToUsername IS NULL OR A.AssignedToUsername = @AssignedToUsername))
		ORDER BY ISNUMERIC(A.Id),
			CASE @SortOrder 
				WHEN 1 THEN 
					CASE @SortBy 
						WHEN 0 THEN S.Id
						WHEN 1 THEN S.Creation_Date
						WHEN 2 THEN S.StateId
						WHEN 3 THEN S.Priority
					END 
				END 
			DESC, 
			CASE @SortOrder 
				WHEN 0 THEN 
						CASE @SortBy 
							WHEN 0 THEN S.Id
							WHEN 1 THEN S.Creation_Date
							WHEN 2 THEN S.StateId
							WHEN 3 THEN S.Priority
							ELSE S.Id 
						END 
				END 

		SET @TotalRecords = @@ROWCOUNT
		
		BEGIN
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
					   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
					   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
					   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
					   ConfirmationLetterSentByUsername, Priority, LastUpdatedDate, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, 
					   A.AssignedByUsername, A.AssignedDate, A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate, ISNUMERIC(A.Id) AS IsAssigned
				From Supportcases S, #PageIndexForCases P
				LEFT OUTER JOIN AssignedCases A
				ON P.Id = A.CaseId
				LEFT OUTER JOIN LicenceHolderCorrespondence C
				ON P.Id = C.CaseId
				LEFT OUTER JOIN CaseQueryCategories QC
				ON P.QueryCategory = QC.Id				
				WHERE S.Id = P.Id AND p.IndexId >= @PageLowerBound AND p.IndexId <= @PageUpperBound
				ORDER BY P.IndexId
		END

	

END










GO
