USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_SearchCases]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_SearchCases]
(
	@searchOption int = 1,
	@searchText nvarchar(256) = '',
	@searchValue int = 0,
	@SortBy int = 0,
	@SortOrder int = 0,
	@PageIndex int,
    @PageSize int,
	@TotalRecords int output
)
AS
	 -- Set the page bounds
    DECLARE @PageLowerBound int
    DECLARE @PageUpperBound int 
    SET @PageLowerBound = @PageSize * @PageIndex
    SET @PageUpperBound = @PageSize - 1 + @PageLowerBound

    -- Create a temp table TO store the select results
    CREATE TABLE #PageIndexForCases
    (
        IndexId int IDENTITY (0, 1) NOT NULL,
        Id int,
		QueryCategory int
    )

    if @SearchOption = 1
		begin
			INSERT INTO #PageIndexForCases(Id, QueryCategory)
				SELECT S.Id, S.QueryCategory
				FROM   SupportCases S
				WHERE dbo.VehicleRegFormat(S.Vehicle_Reg) like @SearchText
		END 
	else if @SearchOption = 2
		Begin
			INSERT INTO #PageIndexForCases (Id, QueryCategory)
				SELECT S.Id, S.QueryCategory
				FROM   SupportCases S
				WHERE Licence_No like @SearchText				
		END
	else if @SearchOption = 3
		Begin
			-- Insert into our temp table
			INSERT INTO #PageIndexForCases (Id, QueryCategory)
			SELECT S.Id, S.QueryCategory
			FROM   SupportCases S
			WHERE REPLACE(S.Surname, ' ', '') like @SearchText			
		End

	if @SearchOption = 1
		Begin
			-- Insert into our temp table
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, A.AssignedByUsername, A.AssignedDate, 
				   A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From Supportcases S,  #PageIndexForCases P

			LEFT OUTER JOIN AssignedCases A
			ON P.Id = A.CaseId

			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON P.Id = C.CaseId	

			LEFT OUTER JOIN CaseQueryCategories QC
			ON P.QueryCategory = QC.Id	

			WHERE S.Id = P.Id AND p.IndexId >= @PageLowerBound AND p.IndexId <= @PageUpperBound
			ORDER BY 
				CASE WHEN @SortBy = 0 AND @SortOrder = 1
					THEN S.Id END DESC,
				CASE WHEN @SortBy = 0 AND @SortOrder = 0
					THEN S.Id END,

				CASE WHEN @SortBy = 1 AND @SortOrder = 1
					THEN S.Creation_Date END DESC,
				CASE WHEN @SortBy = 1 AND @SortOrder = 0
					THEN S.Creation_Date END,

				CASE WHEN @SortBy = 2 AND @SortOrder = 1
					THEN S.StateId END DESC,
				CASE WHEN @SortBy = 2 AND @SortOrder = 0
					THEN S.StateId END,

				CASE WHEN @SortBy = 3 AND @SortOrder = 1
					THEN S.Surname END DESC,
				CASE WHEN @SortBy = 3 AND @SortOrder = 0
					THEN S.Surname END,

				CASE WHEN @SortBy = 4 AND @SortOrder = 1
					THEN dbo.VehicleRegFormatForSorting(S.Vehicle_Reg) END DESC,
				CASE WHEN @SortBy = 4 AND @SortOrder = 0
					THEN dbo.VehicleRegFormatForSorting(S.Vehicle_Reg) END,

				CASE WHEN @SortBy = 5 AND @SortOrder = 1
					THEN S.Licence_No END DESC,
				CASE WHEN @SortBy = 5 AND @SortOrder = 0
					THEN S.Licence_No END

		End
	else if @SearchOption = 2
		Begin

			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, A.AssignedByUsername, A.AssignedDate, 
				   A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From Supportcases S, #PageIndexForCases P

			LEFT OUTER JOIN AssignedCases A
			ON P.Id = A.CaseId

			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON P.Id = C.CaseId

			LEFT OUTER JOIN CaseQueryCategories QC
			ON P.QueryCategory = QC.Id	

			WHERE S.Id = P.Id AND p.IndexId >= @PageLowerBound AND p.IndexId <= @PageUpperBound
			ORDER BY 
					CASE WHEN @SortBy = 0 AND @SortOrder = 1
						THEN S.Id END DESC,
					CASE WHEN @SortBy = 0 AND @SortOrder = 0
						THEN S.Id END,

					CASE WHEN @SortBy = 1 AND @SortOrder = 1
						THEN S.Creation_Date END DESC,
					CASE WHEN @SortBy = 1 AND @SortOrder = 0
						THEN S.Creation_Date END,

					CASE WHEN @SortBy = 2 AND @SortOrder = 1
						THEN S.StateId END DESC,
					CASE WHEN @SortBy = 2 AND @SortOrder = 0
						THEN S.StateId END,

					CASE WHEN @SortBy = 3 AND @SortOrder = 1
						THEN S.Surname END DESC,
					CASE WHEN @SortBy = 3 AND @SortOrder = 0
						THEN S.Surname END,

					CASE WHEN @SortBy = 4 AND @SortOrder = 1
						THEN dbo.VehicleRegFormatForSorting(S.Vehicle_Reg) END DESC,
					CASE WHEN @SortBy = 4 AND @SortOrder = 0
						THEN dbo.VehicleRegFormatForSorting(S.Vehicle_Reg) END,

					CASE WHEN @SortBy = 5 AND @SortOrder = 1
						THEN S.Licence_No END DESC,
					CASE WHEN @SortBy = 5 AND @SortOrder = 0
						THEN S.Licence_No END
		End
	else if @SearchOption = 3
		Begin
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, A.AssignedByUsername, A.AssignedDate, 
				   A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From Supportcases S, #PageIndexForCases P

			LEFT OUTER JOIN AssignedCases A
			ON P.Id = A.CaseId

			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON P.Id = C.CaseId
			
			LEFT OUTER JOIN CaseQueryCategories QC
			ON P.QueryCategory = QC.Id		

			WHERE S.Id = P.Id AND p.IndexId >= @PageLowerBound AND p.IndexId <= @PageUpperBound
			ORDER BY 
					CASE WHEN @SortBy = 0 AND @SortOrder = 1
						THEN S.Id END DESC,
					CASE WHEN @SortBy = 0 AND @SortOrder = 0
						THEN S.Id END,

					CASE WHEN @SortBy = 1 AND @SortOrder = 1
						THEN S.Creation_Date END DESC,
					CASE WHEN @SortBy = 1 AND @SortOrder = 0
						THEN S.Creation_Date END,

					CASE WHEN @SortBy = 2 AND @SortOrder = 1
						THEN S.StateId END DESC,
					CASE WHEN @SortBy = 2 AND @SortOrder = 0
						THEN S.StateId END,

					CASE WHEN @SortBy = 3 AND @SortOrder = 1
						THEN S.Surname END DESC,
					CASE WHEN @SortBy = 3 AND @SortOrder = 0
						THEN S.Surname END,

					CASE WHEN @SortBy = 4 AND @SortOrder = 1
						THEN dbo.VehicleRegFormatForSorting(S.Vehicle_Reg) END DESC,
					CASE WHEN @SortBy = 4 AND @SortOrder = 0
						THEN dbo.VehicleRegFormatForSorting(S.Vehicle_Reg) END,

					CASE WHEN @SortBy = 5 AND @SortOrder = 1
						THEN S.Licence_No END DESC,
					CASE WHEN @SortBy = 5 AND @SortOrder = 0
						THEN S.Licence_No END
		End
	else if @SearchOption = 4
		Begin
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, A.AssignedByUsername, A.AssignedDate, 
				   A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From Supportcases S

			LEFT OUTER JOIN AssignedCases A
			ON S.Id = A.CaseId

			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON S.Id = C.CaseId	

			LEFT OUTER JOIN CaseQueryCategories QC
			ON S.QueryCategory = QC.Id			

			WHERE S.Id = @searchValue 
			ORDER BY 
					CASE WHEN @SortBy = 0 AND @SortOrder = 1
						THEN S.Id END DESC,
					CASE WHEN @SortBy = 0 AND @SortOrder = 0
						THEN S.Id END,

					CASE WHEN @SortBy = 1 AND @SortOrder = 1
						THEN S.Creation_Date END DESC,
					CASE WHEN @SortBy = 1 AND @SortOrder = 0
						THEN S.Creation_Date END,

					CASE WHEN @SortBy = 2 AND @SortOrder = 1
						THEN S.StateId END DESC,
					CASE WHEN @SortBy = 2 AND @SortOrder = 0
						THEN S.StateId END,

					CASE WHEN @SortBy = 3 AND @SortOrder = 1
						THEN S.Surname END DESC,
					CASE WHEN @SortBy = 3 AND @SortOrder = 0
						THEN S.Surname END,

					CASE WHEN @SortBy = 4 AND @SortOrder = 1
						THEN dbo.VehicleRegFormatForSorting(S.Vehicle_Reg) END DESC,
					CASE WHEN @SortBy = 4 AND @SortOrder = 0
						THEN dbo.VehicleRegFormatForSorting(S.Vehicle_Reg) END,

					CASE WHEN @SortBy = 5 AND @SortOrder = 1
						THEN S.Licence_No END DESC,
					CASE WHEN @SortBy = 5 AND @SortOrder = 0
						THEN S.Licence_No END
		End
		
		SELECT @TotalRecords = Count(*) 
		From #PageIndexForCases





GO
