USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetAllUsers]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Description: Returns username and userId of users in a specific system role
--
CREATE PROCEDURE [dbo].[tr_GetAllUsers]
    @ApplicationName  nvarchar(256)
AS
BEGIN
    DECLARE @ApplicationId uniqueidentifier
    SELECT  @ApplicationId = NULL
    SELECT  @ApplicationId = ApplicationId FROM aspnet_Applications WHERE LOWER(@ApplicationName) = LoweredApplicationName
    IF (@ApplicationId IS NULL)
        RETURN(1)
     DECLARE @RoleId uniqueidentifier
     SELECT  @RoleId = NULL

    SELECT u.UserId, u.Username
    FROM   dbo.aspnet_Users u
    WHERE  u.ApplicationId = @ApplicationId
    ORDER BY u.UserName
    RETURN(0)
END



GO
