USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetAssignedDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetAssignedDetails] 
(
	@CaseId int
)
AS
	SELECT Id as AssignedId, CaseId, AssignedToUsername, AssignedByUsername, AssignedDate
	FROM AssignedCases
	WHERE CaseId = @CaseId
	
	RETURN


GO
