USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetImportLogs]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetImportLogs]
AS
SELECT Id, Date, Filename, Type, Result
From ImportLog
ORDER BY Id DESC
GO
