USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetAllDuplicateLicenceDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetAllDuplicateLicenceDetails]
(
	@CaseId int
)
AS

	SELECT Id, CaseId, LicenceTypeId, DateOfRecord, Source, LicenceHolderName, LicenceHolderAddress,
		   LicenceHolderPhone, OldLicenceNumber, NewLicenceNumber, ExpiryDate, VehicleRegistration, 
		   Notes, RelatedDocId
	FROM CopiedLicenceDetails

	-- Fetch related licence information
	
	SELECT I.Id, I.CaseId, I.LocalAuthorityId, I.Notes, L.Name
	FROM LicenceInfo I
	INNER JOIN LocalAuthorities L
	ON I.LocalAuthorityId = L.Id


GO
