USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_RemoveCorrespondenceDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_RemoveCorrespondenceDetails] 
(
	@CaseId int
)
AS
	DELETE FROM LicenceHolderCorrespondence WHERE
	CaseId = @CaseId
GO
