USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_UpdateMailingRequest]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_UpdateMailingRequest] 
(
	@Id int,
	@CaseId int,
	@Instruction ntext,
	@MailingType int,
	@RequestedByUsername nvarchar(256),
	@RequestedDate datetime,
	@CompletedByUsername nvarchar(256),
	@CompletedDate datetime,
	@ActionTaken ntext
)
AS  
	UPDATE MailingRequests SET 
		CaseId = @CaseId, 
		MailingType = @MailingType,
		Instruction = @Instruction, 
		RequestedByUsername = @RequestedByUsername, 
		RequestedDate = @RequestedDate, 
		CompletedByUsername = @CompletedByUsername, 
		CompletedDate = @CompletedDate, 
		ActionTaken = @ActionTaken
	WHERE Id = @Id
	 

GO
