USE [TaxiRegulator]
GO
/****** Object:  Table [dbo].[MailingRequests]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailingRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[Instruction] [ntext] NULL,
	[MailingType] [smallint] NOT NULL,
	[RequestedByUsername] [nvarchar](256) NOT NULL,
	[RequestedDate] [datetime] NOT NULL,
	[CompletedByUsername] [nvarchar](256) NULL,
	[CompletedDate] [nvarchar](256) NULL,
	[ActionTaken] [ntext] NULL,
 CONSTRAINT [PK_MailingRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MailingRequests] ADD  CONSTRAINT [DF_MailingRequests_RequestedDate]  DEFAULT (getdate()) FOR [RequestedDate]
GO
ALTER TABLE [dbo].[MailingRequests]  WITH CHECK ADD  CONSTRAINT [FK_MailingRequests_SupportCases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[SupportCases] ([Id])
GO
ALTER TABLE [dbo].[MailingRequests] CHECK CONSTRAINT [FK_MailingRequests_SupportCases]
GO
