USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_AddCaseTypeDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_AddCaseTypeDetails]
(
	@CaseId int,
	@CaseTypeId int,
	@Notes nvarchar(1000)
)
AS
	INSERT INTO CaseTypeDetails(CaseId, CaseTypeId, Notes)
	VALUES(@CaseId, @CaseTypeId, @Notes)
GO
