USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetAssignedCasesForUser]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetAssignedCasesForUser]
(
	@AssignedToUsername nvarchar(256),
	@StateId int = 0,							-- By default only return cases that are in the AssignedState
	@PageIndex int,
	@PageSize int,
	@TotalRecords int OUTPUT
)
AS
	-- Return all cases assigned to the user
		if @StateId = 0
		begin
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, Priority, LastUpdatedDate, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, 
				   A.AssignedByUsername, A.AssignedDate, A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From Supportcases S
			LEFT OUTER JOIN AssignedCases A
			ON S.Id = A.CaseId
			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON S.Id = C.CaseId
			LEFT OUTER JOIN CaseQueryCategories QC
			ON S.QueryCategory = QC.Id
			WHERE A.AssignedToUsername = @AssignedToUsername 
		END 
	else
		begin
			SELECT S.Id, CallerId, TaxiReg_Id, Created_By, FirstName, Surname, Address1, Address2, Address3,
				   Address4, County, Country, CompanyName, HomeTel, MobileTel, Fax, Vehicle_Reg, Email,
				   Creation_Date, Call_Comments, Class3, Licence_No, Licence_Expiry, ClosedDate, ClosedByUsername, 
				   StateId, StateNote, IsClosed, Notes, ConfirmationLetterRequired, ConfirmationLetterSentDate, 
				   ConfirmationLetterSentByUsername, Priority, LastUpdatedDate, QC.[Name] AS QueryCategoryName, A.AssignedToUsername, A.CaseId, 
				   A.AssignedByUsername, A.AssignedDate, A.Id as AssignedId, C.Id as ContactId, C.ContactedByUsername, C.ContactedDate
			From SupportCases S
			LEFT OUTER JOIN AssignedCases A
			ON S.Id = A.CaseId
			LEFT OUTER JOIN LicenceHolderCorrespondence C
			ON S.Id = C.CaseId
			LEFT OUTER JOIN CaseQueryCategories QC
			ON S.QueryCategory = QC.Id
			WHERE A.AssignedToUsername = @AssignedToUsername AND StateId = @StateId 
		end

	SET @TotalRecords = @@ROWCOUNT

		
		
		
		
		



GO
