USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_RemoveMailingRequest]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_RemoveMailingRequest]
(
	@Id int = 0,
	@CaseId int = 0,
	@MailingType int
)
AS
	if @Id > 0 
		begin
			DELETE FROM MailingRequests
			WHERE Id = @Id 
		end
	else
		begin
			DELETE FROM MailingRequests
			WHERE CaseId = @CaseId AND MailingType = @MailingType		
		end
GO
