USE [TaxiRegulator]
GO
/****** Object:  StoredProcedure [dbo].[tr_GetEscalationDetails]    Script Date: 14/04/2022 13:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tr_GetEscalationDetails] 
(
	@CaseId int
)
AS
	DECLARE @EscalatedId int
	SET @EscalatedId = 0
	
	Select Id, CaseId, EscalatedDate, EscalatedByUsername, EscalationNotes, Comments
	FROM EscalationDetails
	WHERE CaseId = @CaseId
	
	SELECT @EscalatedId = Id 
	FROM EscalationDetails
	WHERE CaseId = @CaseId
	
	if @EscalatedId > 0 
		Begin
			SELECT R.Id, R.EscalationDetailsId, R.EscalationTypeId, R.Notes, E.Name
			FROM EscalationReasons R
			INNER JOIN EscalationTypes E
			ON R.EscalationTypeId = E.Id	
			WHERE EscalationDetailsId = @EscalatedId	
		End	
	RETURN

GO
