USE [OR_Test]
GO
/****** Object:  Table [dbo].[SearchCriteria]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchCriteria](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Crieria] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SearchCriteria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
