USE [OR_Test]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(201000,1) NOT FOR REPLICATION NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[TransactionStatus] [nvarchar](100) NULL,
	[TransactionID] [nvarchar](100) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SentFileName] [nvarchar](100) NULL,
	[SentRequestName] [nvarchar](100) NULL,
	[PostalAddress] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[IP] [nvarchar](50) NULL,
	[SearchType] [nvarchar](50) NULL,
	[SearchCriteria] [nvarchar](50) NULL,
	[SearchParam] [nvarchar](50) NULL,
	[Posted] [bit] NULL,
	[Emailed] [bit] NULL,
	[isException] [bit] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
