USE [OR_Test]
GO
/****** Object:  Table [dbo].[SearchLog]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchLog](
	[ip] [nvarchar](30) NOT NULL,
	[SearchType] [nvarchar](50) NOT NULL,
	[SearchKey] [nvarchar](max) NULL,
	[Created] [datetime] NULL,
	[UserName] [nvarchar](150) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
