USE [OR_Test]
GO
/****** Object:  StoredProcedure [dbo].[GetMonthlyTopUsers]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Dan Rusu>
-- Create date: <Create Date,,30.08.2010>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetMonthlyTopUsers] 
	-- Add the parameters for the stored procedure here
	@startDate datetime, 
	@endDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ip,count(*) as [Search Count] from dbo.SearchLog
	where Created between @startDate and @endDate
	group by ip
	order by count(*) desc
END
GO
