USE [OR_Test]
GO
/****** Object:  Table [dbo].[RoleSearchCriteria]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleSearchCriteria](
	[RoleID] [uniqueidentifier] NOT NULL,
	[CriteriaID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RoleSearchCriteria]  WITH CHECK ADD  CONSTRAINT [FK_RoleSearchCriteria_aspnet_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[aspnet_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[RoleSearchCriteria] CHECK CONSTRAINT [FK_RoleSearchCriteria_aspnet_Roles]
GO
ALTER TABLE [dbo].[RoleSearchCriteria]  WITH CHECK ADD  CONSTRAINT [FK_RoleSearchCriteria_SearchCriteria] FOREIGN KEY([CriteriaID])
REFERENCES [dbo].[SearchCriteria] ([id])
GO
ALTER TABLE [dbo].[RoleSearchCriteria] CHECK CONSTRAINT [FK_RoleSearchCriteria_SearchCriteria]
GO
