USE [OR_Test]
GO
/****** Object:  Table [dbo].[SearchResultFields]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchResultFields](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SearchResultField] [nvarchar](150) NOT NULL,
	[PublicPay] [bit] NULL,
	[CriteriaID] [int] NOT NULL,
 CONSTRAINT [PK_SearchResultFields] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SearchResultFields]  WITH CHECK ADD  CONSTRAINT [FK_SearchResultFields_SearchCriteria] FOREIGN KEY([CriteriaID])
REFERENCES [dbo].[SearchCriteria] ([id])
GO
ALTER TABLE [dbo].[SearchResultFields] CHECK CONSTRAINT [FK_SearchResultFields_SearchCriteria]
GO
