USE [OR_Test]
GO
/****** Object:  Table [dbo].[PostedHistory]    Script Date: 14/04/2022 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostedHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[UserName] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PostedHistory]  WITH CHECK ADD  CONSTRAINT [FK__PostedHis__Order__3DE82FB7] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[PostedHistory] CHECK CONSTRAINT [FK__PostedHis__Order__3DE82FB7]
GO
